<table class="audience-enterprise ua-table">
  <thead>
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col">Standard</th>
      <th scope="col">Advanced</th>
      <th scope="col">Managed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Service level</th>
      <td>10x5 phone</td>
      <td>24x7 phone</td>
      <td>24x7 operations</td>
    </tr>
    <tr>
      <th>Price</th>
      <td>2&cent; per vm-hour +<br />1.4&cent; per gigabyte-month</td>
      <td>3&cent; per vm-hour +<br />2.2&cent; per gigabyte-month</td>
      <td>5&cent; per vm-hour +<br />4&cent; per gigabyte-month</td>
    </tr>
  </tbody>
</table>
<p>Each metered package includes:</p>
<ul class="p-list">
  <li class="p-list__item is-ticked">Telephone support for Ubuntu hosts, Ubuntu OpenStack and Ubuntu guest VMs or containers at indicated level backed by Canonical&#39;s OpenStack experts</li>
  <li class="p-list__item is-ticked">Landscape systems management for hosts and Ubuntu guests</li>
</ul>
