{% extends "kubeflow/base_kubeflow.html" %}


{% block title %}AI Consulting and Delivery{% endblock %}
{% block meta_description %}Consulting on artificial intelligence and machine learning for enterprise data analytics. Infrastructure for multi-cloud operations with Kubeflow, Tensorflow on Kubernetes.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/19Mx1zRJKqH2hz5kRF_oDsgyFUw67FgJvW4I_OGda-wk/edit#{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-bottomed">
  <div class="row">
    <div class="col-8">
      <h1>
        AI consulting and delivery
      </h1>
      <h4>
        Canonical and leading data scientists team up to consult on the full enterprise AI stack.
      </h4>
      <p>
        Our data science consulting partners bring machine learning and deep learning expertise to the AI mix and Canonical delivers optimised infrastructure for multi-cloud AI with Ubuntu, GPGPUs, Kubernetes and Kubeflow. Assess data readiness, empower developers and accelerate your machine learning processing - on-premises or in the cloud.
      </p>
      <p>
        <a class="p-button--positive js-invoke-modal" href="/kubeflow/contact-us?product=ai-index">Speak to the experts</a>
        <a class="p-link--external" href="/engage/starting-with-ai?utm_source=bubble&utm_campaign=CY19_DC_AI_Whitepaper_AIConsulting">Download the Getting started with AI whitepaper</a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light is-bordered">
  <div class="row">
    <div class="col-8">
      <h2>Develop your data science capabilities</h2>
      <h4>
        Stay focused and productive in a fast-moving landscape of code and data.
      </h4>
      <p>
        The complexity of AI/ML spans infrastructure, operations, machine
        learning model development, model evolution, model deployment and
        updates, compliance and security. To add to the challenge, the speed of
        innovation in open source machine learning means that complexity is
        compounding annually.
      </p>
      <p>
        That’s why it pays off to bring Canonical and data scientists in early. The right resources and experts accelerate delivery and keep your team focused on your particular data streams and particular business objectives. Together, we help deliver a five-day/five-step AI design sprint with your analytics and infrastructure teams. At the end of the engagement you will have a pattern for productive AI development - spanning developer workstations, machine learning infrastructure (in the cloud or on-premises), and AI applications - delivering daily insights, powered by your data.
      </p>
      <p>
        With our structured program, we can approach any situation and provide the infrastructure and capabilities that your business needs. Proven best practices mean that we can take the guesswork and experimentation out of your AI adoption, and fast-track you to value without breaking your budget.
      </p>
      <p>
        <a
           class="p-link--external"
           href="https://assets.ubuntu.com/v1/62e71815-Kubernetes-for-the-Enterprise.pdf"
           >Read our consulting datasheet</a
        >
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5 class="p-muted-heading u-sv3">Our consulting partners</h5>
      <ul class="row">
        <li class="col-2 col-small-2 col-medium-2">
          {{
            image(
              url="https://assets.ubuntu.com/v1/e9e4d429-Manceps.png",
              alt="",
              height="31",
              width="147",
              hi_def=True,
              loading="lazy",
            ) | safe
          }}
        </li>
        <li class="col-2 col-small-2 col-medium-2">
          {{
            image(
              url="https://assets.ubuntu.com/v1/99d8f79e-deepsense.png",
              alt="",
              height="27",
              width="147",
              hi_def=True,
              loading="lazy",
            ) | safe
          }}
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2>AI design sprint</h2>
    <h4>
      Produce tangible results in one week with agile AI technologies and methodologies.
    </h4>
    <p>
      The core of our one week engagement centers on the AI design sprint - an introduction to our AI technologies and methodologies, combined with developing a proof of concept (PoC) that solves a real business challenge for your organization. The blueprints that are produced during this sprint will serve as a foundation for your ongoing AI innovations.
    </p>
    <p>
      Additional key outcomes that you can expect from this week are a baseline architecture for iterative solution development – which includes a working continuous integration pipeline – and a high level strategy that addresses your AI transformation journey. Please note: this week typically relies on having the right infrastructure in place to support the AI technology stack.
    </p>
    <h3>
      The AI design process in more detail
    </h3>
  </div>
  <div class="row">
    <div class="col-6 u-hide--small u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/e68fd355-1+discovery_AW.svg",
          alt="",
          height="191",
          width="335",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h4>1 - Discovery</h4>
      <p>
        Following a consultative whiteboarding session to set the stage, partner data scientists and data engineers
        will explore your business requirements, expected outcomes, data
        sources, potential opportunities and risks. The partner will discuss
        machine learning use cases for your industry and explore the specific
        business applications that can add the most value.
      </p>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="row">
    <div class="col-6">
      <h4>2 - Assessment</h4>
      <p>
        Domain experts will provide initial
        feedback based on the Discovery phase. They will report on the data and
        make solution recommendations. They will discuss building a strategy
        roadmap for the project based on your specific business case. Any
        changes to your infrastructure should be highlighted during this step.
      </p>
    </div>
    <div class="col-6 u-hide--small u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/146a6eba-2+assessment_AW.svg",
          alt="",
          height="191",
          width="335",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="row">
    <div class="col-6 u-hide--small u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/455740b4-3+design_AW.svg",
          alt="",
          height="191",
          width="335",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h4>3 - Design</h4>
      <p>
        Prototype new solutions and identify a candidate solution that seems to be the best fit for the use case under consideration. Data engineers will prepare the data, data scientists will discuss and select appropriate features and machine learning algorithms, and machine Learning engineers will design, build and perform preliminary tests on your prototype neural network. Time permitting, the iterative process of design and discovery on the data and the neural network model will start.
      </p>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="row">
    <div class="col-6">
      <h4>4 - Implementation</h4>
      <p>
        Complete the design process and begin training and testing your AI model until it reaches the desired accuracy threshold. A kubeflow pipeline that will put your model into a suitable environment for testing and feedback from additional stakeholders will be built. Domain experts will offer guidance on assessing machine learning predictions and putting discovered insights into action.
      </p>
    </div>
    <div class="col-6 u-hide--small u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/ae0d7b33-4+implementation_AW.svg",
          alt="",
          height="191",
          width="335",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="row">
    <div class="col-6 u-hide--small u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/70227781-5+operation+and+feedback_AW.svg",
          alt="",
          height="191",
          width="335",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h4>5 - Operation and Feedback</h4>
      <p>
        This may include UI development, technical documentation, and hands-on knowledge transfer between development and operations teams to ensure they can operate the solution. Production deployment options will be discussed – for example, a dark launch of an integration with a business application. During this step we’ll elicit feedback from key stakeholders, covering the baseline architecture and model.
      </p>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator"/>
  </div>

  <div class="u-fixed-width">
    <p>
      The specific steps for each phase will be adjusted based on your
      particular needs.
    </p>
  </div>
</section>

<section class="p-strip--light is-bordered">
  <div class="row u-equal-height">
    <div class="col-8">
      <h2>Perfectly portable AI workloads</h2>
      <h4>
        Open and pluggable machine learning workflows for multi-cloud AI, ML and DL.
      </h4>
      <p>
        In the multi-cloud AI world, where AI practitioners leverage multiple environments, portability requirements surface rather quickly. We consider each environment to be different and in need of the ability to define a repeatable machine learning stack.
      </p>
      <p>
        The full AI/ML workflow starts with the developer workstation, for rapid iteration of algorithms and analytic techniques. Training at scale takes place on the rack or on GPGPU-accelerated instances on the cloud. Resulting models are then delivered to the point of decision, whether that’s on cloud or IoT at the edge.
      </p>
      <p>
        Working with Canonical and all the leading clouds, Kubeflow on Ubuntu provides infrastructure and operations that span that full range, and seamless portability of AI workloads. This forms a key part of the baseline architecture delivered in the AI design sprint.
      </p>
      <a class="p-button--neutral" href="/engage/deploy-ai-ml-model?utm_campaign=FY19_Cloud_K8_WBN_AIWebinar2">
        Explore Kubeflow
      </a>
    </div>
    <div class="col-4 u-vertically-center u-align--center u-hide--small">
      {{
        image(
          url="https://assets.ubuntu.com/v1/da5a7c9e-Kubeflow-Logo.svg",
          alt="",
          height="178",
          width="180",
          hi_def=True,
          loading="lazy",
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2>Train your infrastructure engineers</h2>
    <p>
      Get more detailed information in our
      <a
        class="p-link--external"
        href="https://assets.ubuntu.com/v1/62e71815-Kubernetes-for-the-Enterprise.pdf"
        >consulting datasheet</a
      >
    </p>
  </div>

  {% include "shared/pricing/_kubernetes-consulting-add-ons.html" %}

</section>

  {% include "kubeflow/shared/_learn-more.html" %}

{% with first_item="_cloud_bootstack", second_item="_cloud_ubuntu_advantage", third_item="_cloud_further_reading" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/kubeflow" data-form-id="3231" data-lp-id="6279" data-return-url="https://www.ubuntu.com/kubeflow/thank-you?product=ai-managed" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>



{% endblock content %}
