{% extends "credentialling/base_cube.html" %}

{% block title %}Canonical credentialling -- Self-study resources{% endblock %}

{% block meta_description %}The Canonical Ubuntu Essentials exams certify knowledge and verify skills in general Linux, Ubuntu Desktop, and Ubuntu Server topics.{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1T1K7jyUa32-OURET6AjN2CD_c80TaUmj9EncYT70PNw/edit?usp=sharing{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--suru-topped">
  <div class="row u-equal-height">
    <div class="col-12">
      <h1>Self-study resources</h1>
      <p>The links on this page lead to documentation and tutorials about topics relevant to Canonical certification.</p>
      <p>Although they do not constitute an exhaustive list of the subjects covered by Canonical certifications, they provide a good starting point for your studies. Use them to familiarise yourself with key concepts, or to refresh your existing knowledge.</p>
      <h2>General resources</h2>
      <p>There are a number of instructional resources available, both community- and Canonical-made, that contain a wealth of useful information. The following links lead to Canonical’s official educational resources.</p>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials">Tutorials</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/">Ubuntu documentation</a>
        </li>
        <li class="p-list__item">
          <ul class="p-list">
            <li class="p-list__item">
              <a href="https://help.ubuntu.com/lts/ubuntu-help/index.html">Desktop</a>
            </li>
            <li class="p-list__item">
              <a href="https://ubuntu.com/server/docs">Server</a>
            </li>
          </ul>
        </li>
        <li class="p-list__item">
          <a href="https://docs.ubuntu.com/">Canonical product documentation</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/CommunityHelpWiki">Community Help Wiki</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/blog/tag/webinar">Canonical webinars</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/blog/tag/conference">Canonical conference materials</a>
        </li>
      </ul>
      <h2>Linux Essentials resources</h2>
      <p>Before embarking on the Linux Essentials exam, it would be helpful to be familiar with the topics covered by the following resources.</p>
      <h3>Tutorials</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/command-line-for-beginners#1-overview">The Linux command line for beginners</a>
        </li>
      </ul>
      <h3>Documentation</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/CommonQuestions">Common questions</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/UsingTheTerminal">Using the terminal</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/DrivesAndPartitions">Drives and partitions</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/InputDevices">Input devices</a>
        </li>
      </ul>

      <h2>Desktop Essentials resources</h2>
      <p>The following resources may prove useful when studying for the Desktop Essentials exam.</p>
      <h3>Tutorials</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/how-to-verify-ubuntu">How to verify your Ubuntu download</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/install-ubuntu-desktop">Install Ubuntu desktop</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/upgrading-ubuntu-desktop">Upgrade Ubuntu desktop</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/use-the-concept-of-domains-roles-users-and-groups-to-manage-identities">Use the concept of domains, roles, users and groups to manage identities</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/create-a-usb-stick-on-ubuntu">Create a bootable USB stick on Ubuntu</a>
        </li>
      </ul>
      <h3>Documentation</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/lts/ubuntu-help/hardware.html.en">Hardware and drivers</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/lts/ubuntu-help/disk.html.en">Disks and storage</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/lts/ubuntu-help/bluetooth.html.en">Bluetooth</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/lts/ubuntu-help/hardware-problems-graphics.html.en">Screen problems</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/Sound">Sound</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/Video">Video</a></li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/Printers">Printers</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/Scanners">Scanners</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/NetworkDevices">Network/wireless/internet devices</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/CorporateUbuntu">Corporate Ubuntu</a>
        </li>
      </ul>
      <h2>Server Essentials resources</h2>
      <p>The following resources are recommended for prospective Server Essentials candidates.</p>
      <h3>Tutorials</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/install-ubuntu-server">Install Ubuntu Server</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/viewing-and-monitoring-log-filesa">Viewing and monitoring log files</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/enable-the-livepatch-service">Apply kernel patches without rebooting</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/tutorials/setup-zfs-storage-pool">Set up a ZFS storage tool</a>
        </li>
      </ul>
      <h3>Documentation</h3>
      <p>The <a href="https://ubuntu.com/server/docs">Server documentation</a> covers a wide array of relevant topics. They are worth reading in their entirety, but the following sections may prove especially useful:</p>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/installation">Basic install</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/install/autoinstall">Automated install</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/cloud-images/introduction">Cloud images</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/rock-images/introduction">Software containers</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/network-introduction">Networking</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/device-mapper-multipathing-introduction">Networked storage</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/security-introduction">Security</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/virtualization-introduction">Virtualisation</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/ubuntu-ha-introduction">High availability</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/logging-monitoring-alerting">Monitoring</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/databases-introduction">Databases</a></li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/backups-introduction">Backups</a></li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/mail-introduction">Mail servers</a>
        </li>
        <li class="p-list__item">
          <a href="https://ubuntu.com/server/docs/web-servers-introduction">Web servers</a>
        </li>
      </ul>
      <p>Additional resources can be found on the <a href="https://help.ubuntu.com/community/CommunityHelpWiki">Community Wiki</a>. We recommend looking at <a href="https://help.ubuntu.com/community/SystemAdministration">System Administration</a>, in particular:</p>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/LinuxLogFiles">Linux Log Files</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/AddUsersHowto">Add Users How-To</a>
        </li>
        <li class="p-list__item">
          <a href="https://help.ubuntu.com/community/CronHowto">Cron How-To</a>
        </li>
      </ul>
      <h3>Webinars</h3>
      <ul class="p-list">
        <li class="p-list__item">
          <a href="https://ubuntu.com/blog/ubuntu-security-compliance">Ubuntu, security &amp; compliance</a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}
