////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/cloud-vanilla-theme/docs/#ubuntu-base
/// @since        0.0.3
////

/// Base classes
/// @group Utils
@mixin ubuntu-base {
  body {
    background-color: $light-grey;
    background-image: url('#{$asset-path}img/backgrounds/image-background-paper.png?w=$breakpoint-medium');
    background-position: center top;
    background-repeat: repeat-y;

    @media only screen and (min-width : $breakpoint-medium) {
      background-image: url('#{$asset-path}img/backgrounds/image-background-paper.png');
    }
  }
}
