{% extends "security/cve/base_cve.html" %}
{% block title %}{{ cve.id  }}{% endblock %}

{% block head_extra %}
  {% if cve.status == 'rejected' or cve.status == 'not-for-us' %}
  <meta name="robots" content="noindex">
  {% endif %}
{% endblock %}

{% block content %}

<nav class="p-navigation--secondary">
  <div class="row">
    <div class="col-12 u-equal-height">
      <a class="p-navigation--secondary__banner u-hide--nav-threshold-down" href="/security">
        <h5 class="p-navigation--secondary__logo">
          Security
        </h5>
      </a>
      <ul class="breadcrumbs--secondary">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="/security">Overview</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="/security/certifications">Certifications</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="https://usn.ubuntu.com">Notices</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--active" href="/security/cve">CVEs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% if cve.status == 'rejected' or cve.status == 'not-for-us' %}
<section class="p-strip--light is-bordered--top">
{% else %}
<section class="p-strip">
{% endif %}

  {% if cve.status == 'rejected' %}
  <div class="p-corner-ribbon u-hide--small">
    Rejected
  </div>
  {% endif %}

  {% if cve.status == 'not-for-us' %}
  <div class="p-corner-ribbon u-hide--small">
    Not in Ubuntu
  </div>
  {% endif %}

  <div class="row">
    <div class="col-8">
      <h1>{{ cve.id}}</h1>

      {% if cve.public_date %}
      <p>Published {{ cve.public_date }}</p>
      {% endif %}

      {% if cve.status == 'active' and cve.last_updated_date and cve.last_updated_date != cve.public_date %}
      <p>Last updated {{ cve.last_updated_date }}</p>
      {% endif %}

      {% if cve.description %}
      <p>{{ cve.description }}</p>
      {% endif %}

      {% if cve.ubuntu_description %}
      <h2>From the Ubuntu security team</h2>
      <p>{{ cve.ubuntu_description }}</p>
      {% endif %}
    </div>

    {% if cve.status == 'active' %}
    <div class="col-4">
      <p>Priority: {{ cve.priority }}</p>
      <p>CVSS base score: {{ cve.cvss }}</p>
    </div>
    {% endif %}
  </div>

  {% if cve.status == 'active' %}
  <div class="u-fixed-width">
    <h2>Status</h2>
    <table>
      <thead>
        <tr>
          <th>Package</th>
          <th>Release</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for package in cve.packages %}
          <tr>
            <td rowspan="{{ package.releases | length }}">{{ package.name }}</td>
            <td>{{ package.releases[0].name }}</td>
            <td>{{ package.releases[0].status }}</td>
          </tr>
          {% for n in range(package.releases | length) %}
            {% if n > 0 %}
            <tr>
              <td>{{ package.releases[n].name }}</td>
              <td>{{ package.releases[n].status }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  <div class="u-fixed-width">
    {% if cve.status == 'active' and cve.notes %}
    <h2>Notes</h2>
    <p>{{ cve.notes }}</p>
    {% endif %}

    <h2>References</h2>
    {% if cve.references %}
    <ul>
    {% for reference in cve.references %}
      <li><a href="{{ reference.uri }}">{{ reference.uri }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <ul>
      <li>
        <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ cve.id }}">
          MITRE
        </a>
      </li>
    </ul>
    {% endif %}

  </div>
</section>

{% with first_item="_security_discussion", second_item="_security_esm",
third_item="_security_further_reading" %}{% include
"shared/contextual_footers/_contextual_footer.html" %}{% endwith %} {% endblock %}
