{% extends "security/cve/base_cve.html" %}

{% block title %}CVEs{% endblock %}

{% block content %}
<section class="p-strip--suru-topped is-bordered">
  <div class="u-fixed-width">
    <h1>CVE reports</h1>
    <p>A brief explanation of CVEs. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia deleniti dolorum reprehenderit libero ad aliquid eligendi iste minus quis sunt facere ut mollitia ipsam, praesentium consectetur quaerat perferendis, tempora accusamus.</p>

    <h2>Recent CVEs affecting Ubuntu</h2>
    <table>
      <thead>
        <tr>
          <th>CVE</th>
          <th>Package</th>
          {% for release in releases %}
            <th>{{ release.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for cve in cves %}
        <tr>
          <td rowspan="{{ cve.packages | length }}"><a href="/security/{{ cve.id }}">{{ cve.id }}</a></td>
          {% for package in cve.packages %}
            {% if loop.index == 1 %}
            <td>{{ package.name }}</td>
              {% for rel in package.releases %}
                {% if rel.name != 'Upstream' %}
                <td>{{ rel.status }}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </tr>
          {% for package in cve.packages %}
            {% if loop.index > 1 %}
            <tr>
              <td>{{ package.name }}</td>
              {% for rel in package.releases %}
                {% if rel.name != 'Upstream' %}
                  <td>{{ rel.status }}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% with first_item="_security_discussion", second_item="_security_esm", third_item="_security_further_reading" %}
{% include "shared/contextual_footers/_contextual_footer.html" %}
{% endwith %}

{% endblock %}
