<ul class="p-inline-list nav-tertiary__menu">
  {% if level_2 == 'about-ubuntu' %}
    <li class="p-inline-list__item"><a {% if level_3 == 'our-philosophy' %} class="is-active"{% endif %} href="/about/about-ubuntu/our-philosophy">Philosophy</a></li>
    <li class="p-inline-list__item"><a {% if level_3 == 'licensing' %} class="is-active"{% endif %} href="/about/about-ubuntu/licensing">Licensing</a></li>
    <li class="p-inline-list__item"><a {% if level_3 == 'governance' %} class="is-active"{% endif %} href="/about/about-ubuntu/governance">Governance</a></li>
    <li class="p-inline-list__item"><a {% if level_3 == 'conduct' %} class="is-active"{% endif %} href="/about/about-ubuntu/conduct">Code of Conduct</a></li>
    <li class="p-inline-list__item"><a {% if level_3 == 'diversity' %} class="is-active"{% endif %} href="/about/about-ubuntu/diversity">Diversity</a></li>
    <li class="p-inline-list__item"><a {% if level_3 == 'ubuntu-and-debian' %} class="is-active"{% endif %}href="/about/about-ubuntu/ubuntu-and-debian">Ubuntu and Debian</a></li>
    <li class="p-inline-list__item"><a {% if level_3 == 'flavours' %} class="is-active"{% endif %} href="/about/about-ubuntu/flavours">Flavours</a></li>
  {% endif %}
</ul>
