/*
 * This stylesheet is used to override the core styles until the monthly merge.
 *
 * Please comment your changes to help documentation.

      CONTENTS:
    -----------------------------------------------------------------
*/

// Disable default iOS styling on page elements
input[type=button],
input[type=submit],
button {
  -webkit-appearance: none;
}

// Temporarally adding this until the small-viewport change
// is merged into the theme. - KW 20160409
body {
  background-color: $light-grey;
  background-image: url('#{$asset-path}img/backgrounds/image-background-paper.png?w=$breakpoint-medium');
  background-position: center top;
  background-repeat: repeat-y;

  @media only screen and (min-width : $breakpoint-medium) {
    background-image: url('#{$asset-path}img/backgrounds/image-background-paper.png');
  }
}

// additional helper class for shouty text
.caps {
    text-transform: uppercase;
}

// for hidding with javascript
.js-hidden {
  display: none;
}

// less margin on ua pricing tables
.ua-table {
  margin-bottom: 1.5em;
}

@media only screen and (max-width : 768px) {
    // helper class for small
    .small-align-center {
        text-align: center;
    }
}

/* Chinese Social links */

.list--social__item {
    height: 37px;
    margin-right: 20px;
    padding: 0;
    text-indent: -999em;
    width: 37px;
    float: left;
    display: inline-block;

  &:after {
    content: " " !important;
    }

    a {
        display: block;
        height: 37px;
        width: 37px;
        margin: 0;
        overflow: hidden;
    }

    &.active a {
    background-image:
            url('#{$asset-server-url}aab97879-icon-wechat.svg'),
            url('#{$asset-server-url}2be70a94-qr-code-wechat.png');
        background-repeat: no-repeat;
        background-position: left top, right top;
        background-size: 37px 37px, auto;
        width: 140px;
        height: 116px;
    }
} // &__item

.list--social__item--wechat a {
    background: url('#{$asset-server-url}aab97879-icon-wechat.svg') no-repeat;
}

.list--social__item--weibo a {
    background: url('#{$asset-server-url}d2d0d5b0-icon-weibo.svg') no-repeat;
}

main .list--social {
    display: inline;
}

.china-mobile {
    float: left;
    margin-right: 40px;
}

.homepage footer .list--social {
    display: none;
}

form input[type="url"] {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #999;
    display: block;
    font-family: Ubuntu,Arial,"libra sans",sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0.6956522em 0.869565em;
}

header.banner .nav-primary li:hover ul:after {
    left: 0;
    background-position: 20px 0;
}

.u-full-width {
  width: 100%;
}

/// XXX phone number list boxes
.phone-numbers {
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
  overflow: hidden;
  padding: 0;

  &__title {
    background-color: $light-grey;
    padding: 15px $gutter-width;
  }

  &__list {
    margin-left: 0;
    padding: 0 $gutter-width;
  }

  &__list-item {
    border-bottom: 1px dotted $warm-grey;
    list-style: none;
    margin-bottom: 0;
    padding: 10px 0;

    &:last-of-type {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__number {
    float: right;
  }
}

/// XXX Fix for stepped-list being broken at *exactly* 768px

.list-stepped__item:before {
    @media only screen and (width: 768px) {
      margin-left: 0 !important;
      margin-bottom: 20px !important;
      float: none !important;
    }
}
