<section class="p-strip is-shallow js-shop-step--version">
  <div class="js-tab-container">
    <div class="row">
      <div class="col-12">
        <h2 class="p-heading--3 u-no-margin--bottom u-sv2">What Ubuntu version are you running?</h2>
      </div>
    </div>

    <div class="row p-tabs--vertical">
      <nav class="col-2">
        <ul class="p-tabs__list u-no-margin--bottom" role="tablist">
          <li class="p-tabs__item" role="presentation">
            <a id="focal-tab" href="#focal" class="p-tabs__link" role="tab" aria-controls="focal" aria-selected="true">20.04 LTS</a>
          </li>
          
          <li class="p-tabs__item" role="presentation">
            <a id="bionic-tab" href="#bionic" class="p-tabs__link" role="tab" aria-controls="bionic">18.04 LTS</a>
          </li>

          <li class="p-tabs__item" role="presentation">
            <a id="xenial-tab" href="#xenial" class="p-tabs__link" role="tab" aria-controls="xenial">16.04 LTS</a>
          </li>
          
          <li class="p-tabs__item" role="presentation">
            <a id="trusty-tab" href="#trusty" class="p-tabs__link" role="tab" aria-controls="trusty">14.04 LTS</a>
          </li>

          <li class="p-tabs__item" role="presentation">
            <a id="other-tab" href="#other" class="p-tabs__link" role="tab" aria-controls="other">Other</a>
          </li>
        </ul>
      </nav>

      <div class="col-10">
        <div id="focal" class="p-tabs__content" role="tabpanel" aria-labelledby="focal-tab">
          <div class="row">
            <div class="col-10">
              <h3 class="p-heading--4">For Ubuntu 20.04, all UA plans include:</h3>
            </div>
          </div>

          <div class="row u-equal-height">
            <div class="col-5">
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">Common Criteria EAL2</li>
                <li class="p-list__item is-ticked">Kernel Livepatch service to avoid reboots</li>
                <li class="p-list__item is-ticked">Landscape on-prem systems management</li>
                <li class="p-list__item is-ticked">Knowledge base</li>
              </ul>
            </div>

            <div class="col-5">
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">Certified Windows drivers for KVM guests</li>
                <li class="p-list__item is-ticked">Ceph/Swift raw storage support</li>
                <li class="p-list__item is-ticked">Legal assurance program</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="bionic" class="p-tabs__content" role="tabpanel" aria-labelledby="bionic-tab">
          <div class="row">
            <div class="col-10">
              <h3 class="p-heading--4">For Ubuntu 18.04, all UA plans include:</h3>
            </div>
          </div>

          <div class="row u-equal-height">
            <div class="col-5">
              
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">FIPS 140-2 Level 1 certified crypto modules</li>
                <li class="p-list__item is-ticked">CIS benchmark</li>
                <li class="p-list__item is-ticked">DISA STIG</li>
                <li class="p-list__item is-ticked">Kernel Livepatch service to avoid reboots</li>
                <li class="p-list__item is-ticked">Landscape on-prem systems management</li>
              </ul>
            </div>

            <div class="col-5">
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">Knowledge base</li>
                <li class="p-list__item is-ticked">Certified Windows drivers for KVM guests</li>
                <li class="p-list__item is-ticked">Ceph/Swift raw storage support</li>
                <li class="p-list__item is-ticked">Legal assurance program</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="xenial" class="p-tabs__content" role="tabpanel" aria-labelledby="xenial-tab">
          <div class="row">
            <div class="col-10">
              <h3 class="p-heading--4">For Ubuntu 16.04, all UA plans include:</h3>
            </div>
          </div>

          <div class="row u-equal-height">
            <div class="col-5">
              
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">FIPS 140-2 Level 1 certified crypto modules</li>
                <li class="p-list__item is-ticked">Common Criteria EAL2</li>
                <li class="p-list__item is-ticked">CIS benchmark</li>
                <li class="p-list__item is-ticked">DISA STIG</li>
                <li class="p-list__item is-ticked">Kernel Livepatch service to avoid reboots</li>
              </ul>
            </div>

            <div class="col-5">
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">Landscape on-prem systems management</li>
                <li class="p-list__item is-ticked">Knowledge base</li>
                <li class="p-list__item is-ticked">Certified Windows drivers for KVM guests</li>
                <li class="p-list__item is-ticked">Ceph/Swift raw storage support</li>
                <li class="p-list__item is-ticked">Legal assurance program</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="trusty" class="p-tabs__content" role="tabpanel" aria-labelledby="trusty-tab">
          <div class="row">
            <div class="col-10">
              <h3 class="p-heading--4">For Ubuntu 14.04, all UA plans include:</h3>
            </div>
          </div>

          <div class="row u-equal-height">
            <div class="col-5">
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">Extended Security Maintenance (ESM) </li>
                <li class="p-list__item is-ticked">CIS benchmark</li>
                <li class="p-list__item is-ticked">Kernel Livepatch service to avoid reboots</li>
                <li class="p-list__item is-ticked">Landscape on-prem systems management</li>
              </ul>
            </div>

            <div class="col-5">
              <ul class="p-list--ticked u-no-margin--left u-no-padding--left">
                <li class="p-list__item is-ticked">Knowledge base</li>
                <li class="p-list__item is-ticked">Certified Windows drivers for KVM guests</li>
                <li class="p-list__item is-ticked">Ceph/Swift raw storage support</li>
                <li class="p-list__item is-ticked">Legal assurance program</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="other" class="p-tabs__content" role="tabpanel" aria-labelledby="other-tab">
          <div class="row">
            <div class="col-10">
              <p>Ubuntu Advantage is available only for Ubuntu 20.04 LTS, 18.04 LTS, 16.04 LTS, and 14.04 ESM. You can:</p>
            </div>
          </div>

          <div class="row u-equal-height">
            <div class="col-5">
              <ul>
                <li>
                  <a href="/tutorials/tutorial-upgrading-ubuntu-desktop#1-before-you-start">Upgrade to a supported version</a>
                </li>
                <li>
                  <a href="/support/community-support">Explore community support options</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
