{% extends "templates/base.html" %}


{% block meta_copydoc %}https://drive.google.com/drive/folders/1SO3p5ZfX31vYrOz53ebsTo64_L6-38GZ{% endblock meta_copydoc %}

{% block outer_content %}
  {% block content %}{% endblock %}

  <!-- Set default Marketo information for contact form below-->
  <div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/advantage-beta" data-form-id="4669" data-lp-id="4669" data-return-url="https://ubuntu.com/pro/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
  </div>

{% endblock %}
