// Site specific footer styling
@mixin footer-title {
  color: $color-mid-dark;
  cursor: pointer;
  line-height: 1.5em;
  margin-bottom: 0;
}

@mixin ubuntu-p-footer {
  .p-footer {
    border: 0;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.3) inset;
    padding-top: 0;
    
    @media only screen and (min-width: $navigation-threshold) {
      padding-top: 0.75rem;
    }
    
    @media only screen and (max-width: $navigation-threshold) {
      &__nav-col {
        width: 100%;
      }
    }
    
    @media only screen and (max-width: $navigation-threshold) {
      .strip-inner-wrapper--nav {
        padding: 0 !important;
        max-width: 100% !important;
      }
    }
    
    &__nav {
      border-bottom: 1px solid $color-mid-light;

      @media only screen and (min-width: $navigation-threshold) {
        border-bottom: 1px dotted $color-mid-dark;
        margin-bottom: 20px;
        padding: 40px 0;
      }
    }
    
    &__links {
      padding: 0;
    }
    
    &__item {
      display: block;
      margin-bottom: 0;
            
      @media only screen and (min-width: $navigation-threshold + 1) {
        margin-bottom: 1.5rem;
      }
    }
    
    &__title {
      @include footer-title;
      border-top: 1px solid $color-mid-light;
      background-image: url("#{$asset-server-url}7bd1bd7b-arrow_down_9fa097.svg");
      background-position: calc(100% - 10px) 50%;
      background-repeat: no-repeat;
      background-size: 13px 13px;
      font-size: .8125rem;
      padding: 10px 0;

      @media only screen and (min-width: $navigation-threshold) {
        background: none;
        border: 0;
        color: $color-dark;
        padding: 0 0 6px;
      }
      
      @media only screen and (min-width: $breakpoint-large) {
        font-size: .8125rem;
      }
      
      a:link,
      a:visited {
        color: $color-mid-dark;
        padding-left: 10px;
        
        @media only screen and (min-width: $navigation-threshold) {
          color: $color-dark;
          font-weight: normal;
          padding-left: 0;
        }
      }
                  
      a::after {
        content: ""; /* hide the default > */
      }
      
      /// open and close the primary/secondary navs
      + .second-level-nav {
        display: none;
        
        @media only screen and (min-width: $navigation-threshold) {
          display: block;
        }
      }
      
      &.active {
        background-image: url("#{$asset-server-url}43e2b367-arrow_up_9fa097.png");
  
        @media only screen and (min-width: $navigation-threshold) {
          background: none;
        }
        
        + .second-level-nav {
          display: block;
        }
      }
    }
    
    &__link {
      &:hover {
        color: $color-dark;
      }
    }
    
    .link-to-top {
      @include footer-title;
      background-image: url("#{$asset-server-url}e4a5a8c0-picto-upload-warmgrey.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      border-bottom: 1px solid $color-mid-dark;
      display: block;
      font-size: .857142857rem;
      left: auto;
      margin-bottom: -1px;
      padding: 10px 0 10px 30px;
      position: relative;
      z-index: 2;
      
      @media only screen and (min-width: $navigation-threshold) {
        display: none;
      }
      
      a {
        color: $color-mid-dark;
      }
    }
    
    // second level nav - HTML for this can't be changed as it's used in the main nav also
    .second-level-nav {
      margin: 0;
      
      li {
        margin-bottom: 0;
        
        a {
          border-top: 1px solid $color-mid-light;
          color: $color-dark;
          display: block;
          font-size: .8125rem;
          padding: 10px 10px 10px 20px;
          
          @media only screen and (min-width: $navigation-threshold) {
            border: 0;
            font-size: 1rem;
            padding: 0 0 5px 0;
          }
          
          @media only screen and (min-width: $breakpoint-large) {
            font-size: .8125rem;
          }
        }
      }
    }
  }
  
  .p-footer--secondary {
    padding: 20px 10px 0;
    
    @media only screen and (min-width: $navigation-threshold) {
      padding: 0; 
    }
    
    a:hover {
      color: currentColor;
    }
    
    &__content {
      font-size: .8125rem;
    }
    
    .button--primary {
      color: $color-dark;
      background-color: $color-x-light;
      border: 1px solid $color-mid-light;
      padding: 6px 18px;
  
      &:hover {
        background-color: $color-light;
      }
    } 
    
    .p-inline-list--small {
      .p-inline-list__item {
        display: block;
        
        @media only screen and (min-width: $navigation-threshold) {
          display: inline-block;  
        }
      }
    }
  }

  // social icons in footer
  .p-inline-list-icons {
    @media only screen and (min-width: $navigation-threshold) {
      float: right;
      padding-left: 0;
    }
    
    @media only screen and (min-width: $breakpoint-large) {
      margin-top: 10px;
    }
  }
}
