	<ul{% if list_class %} class="{{ list_class }}"{% endif %} class="second-level-nav">
		<li><a{% if level_1 == 'cloud' and not level_2 %} class="active"{% endif %} href="/cloud">Overview</a></li>
		<li><a{% if level_2 == 'openstack' %} class="active"{% endif %} href="/cloud/openstack">OpenStack</a></li>
		<li><a{% if level_2 == 'public-cloud' %} class="active"{% endif %} href="/cloud/public-cloud">Public cloud</a></li>
		<li><a{% if level_2 == 'juju' %} class="active"{% endif %} href="/cloud/juju">Juju</a></li>
		<li><a{% if level_2 == 'maas' %} class="active"{% endif %} href="/cloud/maas">MAAS</a></li>
		<li><a{% if level_2 == 'lxd' %} class="active"{% endif %} href="/cloud/lxd">LXD</a></li>
		<li><a{% if level_2 == 'snappy' %} class="active"{% endif %} href="/cloud/snappy">Snappy</a></li>
    <li><a{% if level_2 == 'storage' %} class="active"{% endif %} href="/cloud/storage">Cloud storage</a></li>
		<li><a{% if level_2 == 'partners' %} class="active"{% endif %} href="/cloud/partners">Partners</a></li>
		<li class="last-item{% if level_2 == 'plans-and-pricing' %} active{% endif %}"><a href="/cloud/plans-and-pricing">Plans and pricing</a></li>
	</ul>
