{% extends "cloud/base_cloud.html" %}

{% block title %}Cloud overview | Cloud{% endblock %}

{% block meta_description %}Building an OpenStack cloud with Ubuntu OpenStack is the best way to get the most out of any public or private cloud deployment.{% endblock meta_description %}

{% block meta_keywords %}OpenStack, Cloud, Ubuntu OpenStack, private cloud, public cloud, open-source,  IAAS, infrastructure, service, Ubuntu, Ubuntu Cloud Infrastructure, Ubuntu Cloud Guest, Juju, Maas, orchestration, deployment, provisioning, Jumpstart{% endblock meta_keywords %}

{% block extra_body_class %}cloud-home{% endblock %}

{% block second_level_nav_items %}
	{% include "_base/_nav_breadcrumb.html" with section_title="Cloud" page_title="Overview" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero no-border strip-dark">
	<div class="three-col align-center not-for-small">
		<img src="{{ STATIC_URL }}img/pictograms/picto-startfirst-white.svg" width="165" height="165" alt="cloud" />
	</div>
	<div class="nine-col last-col">
		<h1><span>Announcing:</span> BootStack</h1>
		<p class="intro">Build, operate and optionally transfer.</p>
		<p class="eight-col">A hosted or on-premise Ubuntu OpenStack cloud, built and operated by us until you&rsquo;re ready to take the keys.</p>
		<p class="clear"><a href="/cloud/bootstack">Learn more&nbsp;&rsaquo;</a></p>
	</div>
</div>

<div class="row row-build-your-cloud">
	<div class="eight-col">
		<h2>Build your own cloud with Ubuntu OpenStack</h2>
		<p>Ubuntu OpenStack is a fully integrated and optimised combination of the latest release of Ubuntu Server and the latest release of OpenStack. The main OpenStack releases are supported for a full five years on LTS releases of Ubuntu, giving you peace of mind combined with the latest OpenStack features.<p>
		<p>Ubuntu OpenStack is the platform of choice for OpenStack users, with 55% of OpenStack deployments taking place on Ubuntu, and 7 out of 8 OpenStack &lsdquo;super-users&rsdquo; choosing Ubuntu</p>
		<p><a href="/cloud/openstack">Read more about Ubuntu OpenStack&nbsp;&rsaquo;</a></p>
	</div>

	<div class="four-col last-col">
		<blockquote class="pull-quote">
			<p><span>&ldquo;</span>Ubuntu remains the most popular operating system for&nbsp;OpenStack deployments&nbsp;<span>&rdquo;</span></p>
			<p><cite>OpenStack User Survey, November 2013</cite></p>
		</blockquote>
	</div>

	<div class="twelve-col build-your-own no-margin-bottom">
		<div class="four-col">
			<img src="{{ STATIC_URL }}img/cloud/orange-box/image-orangebox.png" alt="Image of the orange box from an angle" />
		</div>
		<div class="prepend-one seven-col last-col">
			<h2>Train and experiment before you invest</h2>
			<p>With Jumpstart Training, Canonical engineers will deliver a self-contained Ubuntu OpenStack cloud-in-a-box to your office. You will get two days of training and 2 weeks to experiment with the box. Build and destroy clouds, test your workloads, and bring your staff up to speed at your leisure.</p>
			<p><a href="/cloud/jumpstart-training">Read more about Jumpstart Training&nbsp;&rsaquo;</a></p>
		</div>
	</div>
</div>

<div class="row row-grey">
	<div class="seven-col">
		<h2>What Ubuntu offers you</h2>
		<p>Whether you&rsquo;re building your own cloud or you want to use a public cloud, Ubuntu offers all the software infrastructure, tools and services you need.</p>
		<ul class="list-ubuntu">
			<li>Everything you need to efficiently build and integrate an OpenStack cloud</li>
			<li>Certified Ubuntu Server images for use on the leading public clouds</li>
			<li>Sophisticated tools to help you provision, build, manage and support your cloud at scale</li>
			<li>Enterprise-grade commercial services available in the form of bespoke consulting engagements and ongoing Ubuntu Advantage support subscriptions</li>
			<li>The option to have Canonical build and operate your cloud on your hardware, until your team is ready to take over responsibility, with the new BootStack service</li>
		</ul>
	</div>
	<div class="four-col push-one last-col box box-highlight resource resource-e-book">
		<h2>
			<a href="http://insights.ubuntu.com/resources/factsheets/whats-new-in-ubuntu-server-14-04-lts">What&rsquo;s new in Ubuntu 14.04 LTS&nbsp;&rsaquo;</a>
		</h2>
		<p>Learn what makes Ubuntu 14.04 LTS the ultimate enterprise cloud platform, both for building OpenStack clouds and for running on public clouds.</p>
		<p class="content-cat content-cat-e-book">Factsheet</p>
	</div>
</div>

<div class="row row-public-cloud">
	<div class="eight-col">
		<h2>Using Ubuntu in the public cloud</h2>
		<p>Ubuntu is the most popular operating system on the leading public clouds and the fastest growing scale-out platform in the world. The following is a selection of public clouds offering certified Ubuntu Server images, created by Canonical.<p>
		<p><a href="/cloud/use-a-cloud">Read more about using Ubuntu in the cloud&nbsp;&rsaquo;</a></p>
		<ul class="inline-logos no-bullets no-margin">
			<li class="first-item"><img src="{{ STATIC_URL }}img/logos/logo-pack/logo-amazonwebservices.svg" alt="AWS" /></li>
			<li><img src="{{ STATIC_URL }}img/logos/logo-pack/logo-hpcloud.svg" alt="HP cloud" /></li>
			<li class="last-item"><img src="{{ STATIC_URL }}img/logos/logo-pack/logo-joyent.svg" alt="Joyent" /></li>
			<li class="first-item"><img src="{{ STATIC_URL }}img/logos/logo-pack/logo-ibm.svg" alt="IBM" /></li>
			<li class="last-item"><img src="{{ STATIC_URL }}img/logos/logo-pack/logo-windowsazure.svg" alt="Azure" /></li>
		</ul>
	</div>
	<div class="four-col last-col box box-highlight resource resource-e-book">
		<h2>
			<a href="http://insights.ubuntu.com/checklist/cloud-model-checklist/">Public or private cloud?&nbsp;&rsaquo;</a>
		</h2>
		<p>Is your organisation better off using a public cloud or building its own private cloud? What factors and trade-offs should you consider?</p>
		<p class="content-cat content-cat-e-book">E-book</p>
	</div>
</div>

<div class="row row-cloud-tools">
	<div class="eight-col">
		<h2>A complete set of cloud tools</h2>
		<p>Ubuntu gives you the tools you need to create, scale and manage your cloud for the long term.</p>
		<p><a href="/cloud/tools">Learn more about the Ubuntu cloud toolset&nbsp;&rsaquo;</a></p>
	</div><!-- /.eight-col -->
	<div class="twelve-col">
		<div class="vertical-divider">
			<div class="four-col">
				<p class="text-center"><img src="{{ STATIC_URL }}img/cloud/image-maascharts.png" alt="MAAS" /></p>
				<h3><a href="/cloud/tools/maas">MAAS&nbsp;&rsaquo;</a></h3>
				<h4 class="note">Free software</h4>
				<p>MAAS takes care of the initial setup and configuration of your servers, integrating them into your network.</p>
			</div><!-- /.four-col -->
			<div class="four-col">
				<p class="text-center"><img src="{{ STATIC_URL }}img/cloud/image-jujucharms.png" alt="Juju" /></p>
				<h3><a href="/cloud/tools/juju">Juju&nbsp;&rsaquo;</a></h3>
				<h4 class="note">Free software</h4>
				<p>Juju is a  revolution in service orchestration. Deploy services  like MySQL and Hadoop in seconds, to any  cloud running Ubuntu.</p>
			</div><!-- /.four-col -->
			<div class="four-col last-col landscape">
				<p class="text-center"><img src="{{ STATIC_URL }}img/cloud/image-landscapegraph.png" alt="Landscape" /></p>
				<h3><a href="/management/working-with-landscape">Landscape&nbsp;&rsaquo;</a></h3>
				<h4 class="note">Free for 30 days</h4>
				<p>Landscape  makes sure the software is up-to-date, monitors the system&rsquo;s health and keeps your servers running perfectly.</p>
			</div><!-- /.four-col -->
		</div><!-- /.vertical-divider -->
	</div><!-- /.twelve-col -->
</div><!-- /.row-cloud-tools -->

<div class="row row-cloud-jobs-promo row-grey">
	<div class="seven-col">
		<h2>Building a team to shape the cloud</h2>
		<p>Canonical needs even more cloud experts for its growing development teams. If you&rsquo;ve got the skills and you want to help shape the cloud&rsquo;s future, apply today.</p>
		<p><a href="http://www.canonical.com/careers/cloud-vacancies">Learn more and apply&nbsp;&rsaquo;</a></p>
	</div>
	<div class="five-col text-center last-col">
		<img src="{{ STATIC_URL }}img/cloud/image-buildingateam.png" alt="" />
	</div>
</div><!-- /.row -->

<div class="row row-diverse-ecosystem">
	<div class="five-col">
		<img src="{{ STATIC_URL }}img/cloud/image-diversecloudecosystem.svg" alt="" />
	</div>
	<div class="seven-col last-col">
		<h2>A diverse cloud ecosystem</h2>
		<p>From silicon manufacturers to enterprise software vendors and public cloud providers, Canonical works with partners throughout the cloud industry to ensure Ubuntu remains the best choice for OpenStack. The result is an established, growing ecosystem of third party components, all tried and tested at enterprise scale.</p>
		<a href="http://www.ubuntu.com/cloud/ecosystem">Explore the Ubuntu Cloud ecosystem&nbsp;&rsaquo;</a>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="eight-col">
		<h2>Number one for telcos</h2>
		<p>If you&rsquo;re a telco or service provider and you want to offer cloud services to your customers, there&rsquo;s no more reliable or more popular choice of infrastructure than Ubuntu OpenStack. We have helped most of the world&rsquo;s largest telcos and service providers take their OpenStack clouds from concept all the way to production. Read some of our insights on the most important considerations when building a telco cloud.</p>
	</div>
	<div class="four-col last-col box box-highlight resource resource-whitepaper">
		<h2><a href="https://insights.ubuntu.com/2014/08/18/ubuntu-openstack-the-natural-choice-for-telcos-and-service-providers/">Get the facts&nbsp;&rsaquo;</a></h2>
		<p>Ubuntu OpenStack for service providers</p>
		<p class="content-cat content-cat-article">Article</p>
	</div>
</div><!-- /.row -->

<div class="row row-services no-border">
	<div class="six-col">
		<h2>Need services or support?</h2>
		<p>Canonical, the company behind Ubuntu, provides on-site consulting services and training, direct from engineers involved in developing Ubuntu and OpenStack. For ongoing support once your cloud is up and running, you can subscribe to Ubuntu Advantage, the service package that includes Landscape, Canonical&rsquo;s enterprise cloud management software.</p>
		<p><a href="http://www.ubuntu.com/management/ubuntu-advantage">Learn more about Ubuntu Advantage&nbsp;&rsaquo;</a></p>
	</div>
	<img src="{{ STATIC_URL }}img/cloud/image-landscape.jpg" alt="Landscape" />
</div><!-- /.row -->

<style>
@-webkit-keyframes slidedown {
	from { -webkit-transform: (0,0); }
	to { -webkit-transform: translate(0, 185px); }
}
@keyframes slidedown {
	from { transform: (0,0); }
	to { transform: translate(0, 185px); }
}
</style>

{% include "_includes/_live_chat.html" %}

{% endblock content %}
{% block footer_extra %}{{ marketo }}{% endblock footer_extra %}
