{% extends "cloud/base_cloud.html" %}

{% block title %}Snappy Ubuntu Core | Cloud{% endblock %}

{% block meta_description %}Introducing Snappy Ubuntu Core, a new way of packaging and distributing applications in the cloud.{% endblock meta_description %}
{% block meta_keywords %}snappy, containers, docker, cloud development, click packages, transactional image updates, ubuntu core{% endblock meta_keywords %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Cloud" page_title="Ubuntu Core on the Cloud" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero equal-height">
    <div class="eight-col">
        <h1>Ubuntu Core on the cloud</h1>
        <p class="intro">Snappy Ubuntu Core is the perfect system for large-scale cloud container deployments, bringing transactional updates to the world&rsquo;s favourite container platform.</p>
        <p><a class="button--primary" href="http://developer.ubuntu.com/snappy/start">Get started with Ubuntu Core</a></p>
    </div>
    <div class="four-col last-col equal-height__align-vertically">
	    <img src="{{ ASSET_SERVER_URL }}cde21f03-snappy.png" alt="Snappy logo" />
    </div>
</div><!-- /row -->

<div class="row">
  <div class="twelve-col equal-height">
    <div class="eight-col">
        <h2>Designed for Docker</h2>
        <p>Docker is the best way to deliver applications straight from the workstation to the cloud. And a majority of developers choose Ubuntu as their base operating system, with more than seven times the adoption of the next most popular platform. Snappy Ubuntu Core makes an even crisper host for Docker deployments.</p>
    </div>
    <div class="four-col last-col align-center align-vertically">
		  <img src="{{ ASSET_SERVER_URL }}cd8ca34e-docker-trans.png" alt="" />
    </div>
  </div>

	<blockquote class="pull-quote">
		<p><span>&ldquo;</span>Docker&rsquo;s transactional application delivery is shaping modern application development and DevOps practice, and snappy Ubuntu promises to bring the same transactional updates to the operating system itself. We&rsquo;re delighted to see the Docker ecosystem expand with this exciting new platform.<span>&rdquo;</span></p>
		<p><cite>Ben Golub, CEO of Docker Inc</cite></p>
	</blockquote>
</div><!-- /.row quote no-border -->

<div class="row row-grey">
  <div class="twelve-col">
    <div class="four-col">
      <img src="{{ ASSET_SERVER_URL }}e35b1108-picto-corepower-orange.svg" alt="" class="priority-0" width="200" />
    </div>
    <div class="eight-col last-col">
      <h2>Easily extensible with frameworks</h2>
      <p>The base Ubuntu Core is deliberately tiny. This makes it more secure, and more general. Rather than force users to adopt a particular tool, we offer frameworks that extend the base system cleanly. Frameworks can be provided by any vendor in collaboration with Canonical, and they can provide services to applications that depend on them. </p>
    </div>
  </div>

  <div class="eight-col">
    <h2>How does it work?</h2>
    <p>Ubuntu Core emerged from a project to deliver perfect system and application updates on phones &mdash; we created the snappy technology and application confinement system to ensure a carrier-grade update experience for Ubuntu mobile users and set a new standard for mobile application security. Ubuntu Core brings that technology to the cloud.</p>
  </div>

  <ul class="list-ticks--canonical twelve-col">
  	<li class="six-col">The OS and application files are kept completely separate, as a set of distinct read-only images.</li>
  	<li class="six-col last-col">Transactional, image-based delta updates for the system and applications that can always be rolled back.</li>
  	<li class="six-col">These files are read-only, which means they cannot be tampered with and can be updated perfectly and predictably every time.</li>
  	<li class="six-col last-col">Signatures and fingerprints ensure you’re running exactly what was published by the developer, no funny business even if the bits came from the internet.</li>
  	<li class="six-col">Delta management keeps the size of downloads to the bare minimum.</li>
  </ul>
</div>

<div class="row no-border">
  <div class="six-col">
    <h2>Snappy architecture</h2>
    <p>There are three layers that make up a snappy machine: the system layer, provided by Canonical, a layer of frameworks that extend the base system produced by vendors in collaboration with Canonical, and a set of snappy applications, provided directly by vendors. Updating any piece just means using the new version of a read-only image. Reverting to a previous version is just as easy.</p>
  </div>
  <div class="six-col last-col">
      <img src="{{ ASSET_SERVER_URL }}917bb066-how-it-works.png" alt="" />
  </div>
</div>
{% include "cloud/shared/_contextual_footer.html" %}
{% endblock content %}
