<!-- MARKETO FORM -->
<script src="//assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
<script src="//assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
<script src="//assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>‌​
<form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_{{ id }}" style="margin-top: -1rem;">
  <fieldset class="u-no-padding--top" style="border-bottom-width: 1px;">
    <ul class="p-list">
      <li class="mktFormReq mktField p-list__item">
        <label for="FirstName" class="mktoLabel">First Name:</label>
        <input required id="FirstName" name="FirstName" maxlength="255" class="mktoField   mktoRequired" type="text"
          aria-label="First Name">
      </li>
      <li class="mktFormReq mktField">
        <label for="LastName" class="mktoLabel ">Last Name:</label>
        <input required id="LastName" name="LastName" maxlength="255" class="mktoField   mktoRequired" type="text"
          aria-label="Last Name">
      </li>
      <li class="mktFormReq mktField">
        <label for="Email" class="mktoLabel ">Work email:</label>
        <input required id="Email" name="Email" maxlength="255" class="mktoField mktoEmailField  mktoRequired" type="email"
          aria-label="Email">
      </li>
      <li class="mktFormReq mktField">
        <label for="Company" class="mktoLabel ">Company Name:</label>
        <input required id="Company" name="Company" maxlength="255" class="mktoField   mktoRequired" type="text"
          aria-label="Company Name">
      </li>
      <li class="mktFormReq mktField">
        <label for="Title" class="mktoLabel ">Job Title:</label>
        <input required id="Title" name="Title" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Job Title">
      </li>
      <li class="mktFormReq mktField">
        <label for="Phone" class="mktoLabel ">Phone Number:</label>
        <input required id="Phone" name="Phone" maxlength="255" class="mktoField mktoTelField  mktoRequired" type="tel"
          aria-label="Phone Number">
      </li>
      <li class="mktField">
        <input name="utm_campaign" aria-label="utm_campaign" class="mktoField  mktoFormCol" value="{{utm_campaign}}"
          type="hidden">
      </li>
      <li class="mktField">
        <input name="utm_medium" aria-label="utm_medium" class="mktoField  mktoFormCol" value="{{utm_medium}}" type="hidden">
      </li>
      <li class="mktField">
        <input name="utm_source" aria-label="utm_source" class="mktoField  mktoFormCol" value="{{utm_source}}" type="hidden">
      </li>
      <li class="mktField">
        <input name="canonicalUpdatesOptIn" aria-label="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="yes"
          class="mktoField" type="checkbox"><label for="canonicalUpdatesOptIn" class="mktoLabel ">I agree to receive
          information about Canonical’s products and services.</label>
      </li>
      <li class="mktField">
        <p>In submitting this form, I confirm that I have read and agree to <a href="/legal/dataprivacy" target="_blank"
            class="mchNoDecorate">Canonical's Privacy Policy</a>
          <input name="RichText" aria-label="RichText" type="hidden">
        </p>
      </li>
      <li class="mktField">
        <input name="Consent_to_Processing__c" aria-label="Consent" class="mktoField  mktoFormCol" value="Yes" type="hidden">
      </li>
      <li class="mktField">
        <button type="submit" class="mktoButton u-no-margin--bottom">{% if label %}{{ label }}{% else %}Download the whitepaper{% endif %}</button>
        <input name="formid" aria-label="formid" class="mktoField" value="{{ id }}" type="hidden">
        <input name="lpId" aria-label="lpId" class="mktoField " value="" type="hidden">
        <input name="subId" aria-label="subId" class="mktoField " value="" type="hidden">
        <input name="munchkinId" aria-label="munchkinId" class="mktoField " value="" type="hidden">
        <input name="lpurl" aria-label="lpurl" class="mktoField " value="" type="hidden">
        <input name="cr" aria-label="cr" class="mktoField " value="" type="hidden">
        <input name="kw" aria-label="kw" class="mktoField " value="" type="hidden">
        <input name="q" aria-label="q" class="mktoField " value="" type="hidden">
      </li>
    </ul>
  </fieldset>
  <input type="hidden" name="returnURL" aria-label="returnURL" value="{{ returnURL }}" />
  <input type="hidden" name="retURL" aria-label="retURL" value="{{ returnURL }}" />
</form>
<script>
  $("#mktoForm_{{ id }}").validate({
    errorElement: "span",
    errorClass: "mktFormMsg mktError",
    onkeyup: false,
    onclick: false,
    onblur: false
  });

  $(function () {
    $("#comments").hide()
  });

  $('#Ubuntu_User__c').on('change', function () {
    var selection = $(this).val();
    if (selection == 'Commercially only') {
      $('#comments').show();
    } else {
      $('#comments').hide();
    }
  });

</script>
<script src="//assets.ubuntu.com/v1/f97fa297-stateCountry.js"></script>
<!-- /MARKETO FORM -->
