{% extends "templates/base.html" %}

{% block title %}Your account{% endblock %}

{% block head_extra %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block outer_content %}

  <section class="p-strip--suru-topped p-strip-account-page">
    <div class="row">
      <div class="col-12">
        <h1>Access Forbidden</h1>
        {% if is_technical %}	
          <p>You are currently signed in with a Technical account. "Technical" users are denied access to purchase account. Try again with a different account.</p>
        {% else %}
          <p>You cannot perform that action. Contact your account administrator for more information.</p>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock %}
