{% extends "ai/_base_ai.html" %}

{% block title %}AI on Ubuntu: the path to production{% endblock %}

{% block meta_description %}Ubuntu is the right platform for end-to-end AI and Machine Learning. Develop, train and deploy models with the latest tools and automatic hardware GPU acceleration. Get training, support and managed services by Canonical to accelerate AI to production.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1HP9YdHF11yVQ9SLl0VXhLezDZREsr1GHIKNi9wT1Gv0/edit?ts=5fb6b19b#heading=h.kyb2cyti2dz7{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--suru-topped is-dark is-bordered">
  <div class="row u-equal-height">
    <div class="col-6">
      <h1>AI on Ubuntu: the path<br>to production</h1>
      <h4>The best data science and MLops tools across your infra</h4>
      <p>Develop AI models on high-end Ubuntu workstations. Train on racks of bare-metal or public clouds with hardware acceleration. Deploy to cloud, edge and IoT. All on Ubuntu.</p>
      <p>
        <a href="/engage/mlops-guide" class="p-button--positive">Read our guide to MLOps</a>
        <a href="https://assets.ubuntu.com/v1/429359fe-MLOps%20advisory%20DS%2029.11.22.pdf" class="p-button">Discover our AI consultancy</a>
      </p>
    </div>
    <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/cc376f8c-AI-models.svg",
        alt="",
        width="304",
        height="263",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <p class="p-muted-heading">Leaders in artificial intelligence choose Ubuntu</p>
    <div class="p-logo-section has-misaligned-images">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/1095d3bc-Tesla_logo_silver.png",
            alt="Tesla",
            width="130",
            height="17",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/52d4cc16-Nvidia_Logo_Horizontal.svg",
            alt="Nvidia",
            width="130",
            height="25",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/26eb00dd-fb.png",
            alt="Facebook",
            width="130",
            height="25",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/c346c103-openai.png",
              alt="OpenAI",
              width="130",
              height="90",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2>Develop</h2>
      <h4>Best of breed data science tools.</h4>
      <p>The most productive tools for AI / ML development, with guides and resources available.</p>

      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/2842a636-tensor-flow-logo.svg",
              alt="TensorFlow",
              width="159",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/4a40f049-jupyter_logo.svg",
              alt="Jupyter",
              width="159",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/89baba26-keras_logo.svg",
              alt="Keras",
              width="159",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/b12c771f-scikit-learn-logo.svg",
              alt="Scikit Learn",
              width="159",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/f0a9ed33-pytorch_logo.svg",
              alt="PyTorch",
              width="144",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="u-fixed-width u-show--small u-hide--large u-hide--medium">
        <hr class="p-separator">
      </div>
      <h2>Deploy</h2>
      <h4>Multi-framework model serving.</h4>
      <p>Effective model deployment across devices mesh. Low-latency inference serving.</p>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/f988bb24-seldon-logo.svg",
              alt="Seldon",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/dd599628-kfserving-logo.svg",
              alt="KFServing",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/172ba86b-onnx-logo.svg",
              alt="Onnx",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/5c484303-tensortRT-logo.svg",
              alt="TensorRt",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/97451d76-dmlc-xgboost-logo.svg",
              alt="XGBoost",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6">
      <div class="u-fixed-width">
        <hr class="p-separator">
      </div>
      <h2>ML operations</h2>
      <h4>Infrastructure for production data science.</h4>
      <p>Centralised or multi-cloud training infrastructure for better resource allocation and data governance.</p>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/b730ace5-kubeflow-logo.svg",
              alt="Kubeflow",
              width="158",
              height="159",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/835a5d08-Juju.png",
              alt="Juju",
              width="316",
              height="316",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/abdcff3a-pachyderm-logo.svg",
              alt="Pachyderm",
              width="158",
              height="159",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/7d84f656-mlflow-logo.svg",
              alt="ML-Flow",
              width="158",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="u-fixed-width">
        <hr class="p-separator">
      </div>
      <h2>Data lake</h2>
      <h4>Analyse epic amounts of data, wherever it is.</h4>
      <p>Build large-scale data lakes optimised for machine learning on bare metal, virtual or cloud infrastructure with open source.</p>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/fabdefb7-kafka+logo.png",
              alt="Kafka",
              width="252",
              height="253",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/967d5d93-apache-spark-logo.svg",
              alt="Apache Spark",
              width="158",
              height="157",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-6">
      <div class="u-fixed-width">
        <hr class="p-separator">
      </div>
      <h2>Hardware control</h2>
      <h4>Drivers, storage, networking, CPU, GPU, DPU.</h4>
      <p>Enjoy full control over your firmware, in a safe environment, tested by millions.</p>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/d2ed7c63-nvidia-logo.svg",
              alt="Nvidia",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/6b82d1e3-amd-logo.svg",
              alt="AMD",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/bf838af9-intel-new-logo.svg",
              alt="Intel",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/50ac62e7-arm-logo.svg",
              alt="ARM",
              width="159",
              height="158",
              hi_def=True,
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="u-fixed-width">
        <hr class="p-separator">
      </div>
      <h2>Portable to scale</h2>
      <h4>Give your workloads consistency everywhere.</h4>
      <p>Portable from desktop to vast multi-clouds. Fast-deploy on every major public cloud with GPU acceleration.</p>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/2f0c1694-server brand.svg",
              alt="Server brand",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/53da813f-openstack-logomark-logo.svg",
              alt="Openstack",
              width="159",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/b2952436-aws-logo.svg",
              alt="AWS",
              width="159",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/f0cf1fa3-google-cloud-logo.svg",
              alt="Google Cloud",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/82c52642-microsoft-azure.svg",
              alt="Microsoft Azure",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2>Kubeflow AI and MLOps at any scale</h2>
      <h4>Enterprise-ready Charmed Kubeflow, the fully supported MLOps platform for any cloud</h4>
      <ul>
        <li>A complete solution for sophisticated data science labs. Upgrades and security updates - all supported in the free, open source distribution.</li>
        <li>Get up and running fast with Charmed Kubeflow on MicroK8s, from lab to large scale. Highly available with 3+ nodes.</li>
        <li>Or deploy on Azure, Amazon AWS and Google cloud Kubernetes services with full support available from Canonical - the experts behind Charmed Kubeflow.</li>
      </ul>
      <p>
        <a href="http://charmed-kubeflow.io" class="p-button--positive">Charmed Kubeflow</a>
        <a href="https://charmed-kubeflow.io/#get-in-touch">Contact us&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/25baf3c4-Kubeflow-Topology.svg",
        alt="Kubeflow Topology",
        width="400",
        height="353",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="row u-equal-height">
    <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/83e7ce7c-ubuntu-pro-circular.png",
        alt="",
        width="250",
        height="270",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2>Canonical AI services</h2>
      <h4>Enterprise support, deployment, training and fully managed Kubeflow</h4>
      <ul>
        <li>Rely on 24/7 enterprise support with guaranteed SLAs.</li>
        <li>Provide specialised MLOps training to your sysadmins, devops engineers and data scientists. Any infra and level of expertise, tailored to your data.</li>
        <li>Off-load the complexity of Kubeflow deployment and management to Canonical engineers.</li>
      </ul>
      <p>
        <a href="/ai/services" class="p-button--positive">Discover more</a>
        <a href="/ai/contact-us?product=ai-index">Contact us&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>
  <div class="row u-equal-height">
    <div class="col-6">
      <h2>MLops for devices and Micro clouds</h2>
      <h4>Industrial grade data pipelines from cloud to edge</h4>
      <ul>
        <li>High-throughput inference at the edge with fast model updates.</li>
        <li>Build your AI/ML on top of the most reliable edge infra.</li>
        <li><a href="https://ubuntu.com/core">Ubuntu Core</a> for IoT, <a
          href="http://microk8s.io">MicroK8s</a> for zero-ops K8s with high-availability, Kubeflow for inference and distributed training.</li>
      </ul>
      <p>
        <a href="/iot" class="p-button--positive">Ubuntu for IoT</a>
        <a href="/blog/deploying-kubeflow-everywhere">Kubeflow at the edge&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/3f81159f-Kubeflow+to+the+edge3.svg",
        alt="",
        width="300",
        height="293",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip p-strip--light">
  <div class="u-fixed-width">
    <h2>Learn more about AI/ML and Charmed Kubeflow</h2>
    <div class="p-divider row">
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{ image(
              url="https://assets.ubuntu.com/v1/6e184942-Webinar.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <h4 class="p-heading-icon__title">Webinar</h4>
          </div>
          <ul>
            <li><a href="https://www.brighttalk.com/webcast/6793/427925">AI to production&nbsp;&rsaquo;</a></li>
            <li><a href="https://www.brighttalk.com/webcast/6793/424551/demystifying-kubeflow-pipelines-from-tensorflow-notebook-to-pipeline">Kubeflow Pipelines&nbsp;&rsaquo;</a></li>
            <li><a
              href="https://www.brighttalk.com/webcast/6793/451777??utm_source=marketo&utm_medium=email&mkt_tok=eyJpIjoiTnpKaU9EazROR1F6WXpndyIsInQiOiI4NVBCRldTbG8zRTVrajg4eENSOEpaeGhwaWN4WFNmOEJVdlZiMERHNDJ6TWFKSkw3VE5WMWlMeGo5VmFUNVA0enFIT0lHVFduYzhFOGwwNGdUMFNTcUQ0aG9neDVYeHdndVpMRWVMQjFrRWdaVlwvZVA5anVYU2krYmdUbURJSEUifQ%3D%3D">AI deployment and inference&nbsp;&rsaquo;</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{ image (
              url="https://assets.ubuntu.com/v1/df54bb6a-document-open-icon.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <h4 class="p-heading-icon__title">Latest news on AI/ML</h4>
          </div>
          <div id="ai-articles" class="row p-divider">
            <div><i class="p-icon--spinner u-animation--spin">Loading...</i></div>
          </div>
        </div>
      </div>
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{ image (
              url="https://assets.ubuntu.com/v1/df54bb6a-document-open-icon.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <h4 class="p-heading-icon__title">DOWNLOAD</h4>
          </div>
          <ul>
            <li><a href="https://ubuntu.com/engage/starting-with-ai">Whitepaper: Get started with AI&nbsp;&rsaquo;</a></li>
            <li><a href="https://assets.ubuntu.com/v1/1b365f88-k8s_kubeflow_ra_dell-emc_canonical.pdf">Kubeflow Reference Architecture&nbsp;&rsaquo;</a></li>
            <li><a
              href="https://assets.ubuntu.com/v1/197d9867-Charmed_Kubeflow_Kubernetes_10.11.20.pdf">Charmed Kubeflow datasheet&nbsp;&rsaquo;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <template style="display:none" id="ai-template">
    <div class="col-4">
      <ul class="u-no-margin"><li><a class="article-link article-title"></a></li></ul>
    </div>
  </template>

  <script src="{{ versioned_static('js/dist/latest-news.js') }}"></script>
  <script>
    canonicalLatestNews.fetchLatestNews({
      articlesContainerSelector: "#ai-articles",
      articleTemplateSelector: "#ai-template",
      gtmEventLabel: "ubuntu.com ai blog",
      limit: "3",
      tagId: "2389",
    })
  </script>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2>Get started with AI and Machine learning today.</h2>
      <p><a href="http://charmed-kubeflow.io/docs/install" class="p-button--positive">Test drive Charmed Kubeflow now</a></p>
      <p>Or <a href="/ai/contact-us?product=ai-index">contact our experts</a> to get started with consulting, training or outsourced operations.</p>
    </div>
    <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
      url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
      alt="",
      width="281",
      height="200",
      hi_def=True,
      loading="lazy"
      ) | safe
      }}
    </div>
  </div>
</section>


{% endblock content %}
