{% extends "ai/base_ai.html" %}

{% block title %}Canonical AI Roadshow{% endblock %}

{% block meta_description %}Canonical AI Roadshow is the right place to talk about open source MLOps, production-grade LLMs or enterprise support for your initiatives. Meet us across the globe and let's talk about AI.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1CA0GUU6yRB65yfDaKi1dgN8DED2bDAFI2h-swSVtMtg/edit{% endblock meta_copydoc %}

{% block content %}
<div class="is-paper">
  <section class="p-strip">
    <div class="row">
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <h1 class="p-heading--bold">
            The Canonical AI Roadshow
          </h1>
        </div>
      </div>
      <div class="col-6  col-medium-3">
        <p class="p-heading--5">How enterprises are using generative AI with open source</p>
        <p>From the USA to the Netherlands, from UAE to Mexico, Canonical experts are going on an AI roadshow across the globe. We are ready to showcase LLMs applications and predictive analytics use cases across various industries. Get answers to your most common AI/ML questions and talk to our team about big data, MLOps and generative AI use cases with open source.</p>
        <p>
          <a href="#find-us" class="p-button--positive">Check where to find us</a>
          <a href="https://calendly.com/andreea-munteanu-1/canonical-ai-roadshow" class="p-button">Book a meeting</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="p-rule" />
      <p class="p-heading--2">Develop artificial intelligence projects <br class="u-hide--small"/>on any environment with&nbsp;Canonical</p>
      <div class="p-logo-section">
        <div class="p-logo-section__itemsu-no-margin--bottom">
          <div class="p-logo-section__item--variable">
            {{ 
              image (
              url="https://assets.ubuntu.com/v1/d7829629-nvidia-logo.svg",
              alt="Nvidia",
              width="143",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item--variable">
            {{ 
              image (
              url="https://assets.ubuntu.com/v1/a34e318a-lenovo-logo.svg",
              alt="Lenovo",
              width="105",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item--variable">
            {{ 
              image (
              url="https://assets.ubuntu.com/v1/136e7089-hp-enterprise-logo.svg",
              alt="HP Enterprise",
              width="118",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item--variable">
            {{ 
              image (
              url="https://assets.ubuntu.com/v1/25514caf-dell-logo.svg",
              alt="Dell",
              width="70",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item--variable">
            {{ 
              image (
              url="https://assets.ubuntu.com/v1/3a7ece3a-microsoft-azure-new-logo.svg",
              alt="Azure",
              width="127",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item--variable">
            {{ 
              image (
              url="https://assets.ubuntu.com/v1/4cd2ba24-aws-logo.svg",
              alt="AWS",
              width="71",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item--variable">
            {{ image (
              url="https://assets.ubuntu.com/v1/7577d797-google-logo.svg",
              alt="Google",
              width="107",
              height="144",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="u-no-margin--bottom" />
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <h2>Join us on the roadshow</h2>
        </div>
      </div>
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <p>Experience the best of both worlds: open source and machine learning in the company of Canonical experts. Get insight on the latest innovations and how you could build your own <abbr title="Large language models">LLMS</abbr>.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-3 col-medium-3 col-small-2">
              <h3 class="p-heading--5">Meet AI/ML experts and ask your questions</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>AI/ML and big data experts will be joining the Canonical AI Roadshow. We will host talks on different topics, run workshops to build your expertise and more.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-3 col-medium-3 col-small-2">
              <h3 class="p-heading--5">See our demos and try building your own LLM</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>We have prepared a series of demos that showcase the power of LLMs and how to build them using open source tooling.</p>
              <p>Join one of our workshops and learn how to build your own LLM.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4">
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-3 col-medium-3 col-small-2">
              <h3 class="p-heading--5">Run AI projects in production securely</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>Get enterprise support or managed services for the tools. Run your projects securely in production without worrying about upgrades, updates or vulnerabilities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row">
      <hr class="u-no-margin--bottom" />
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <h2>Learn how open source is leading LLM development</h2>
        </div>
      </div>
      <div class="col-6 col-medium-3">
        <p>Large language models (<a href="/blog/what-are-large-language-models-llms">LLMs</a>) are the future of AI. They have applications across various industries, but taking them beyond experimentation is still a challenge. Open source tooling covers the entire lifecycle, easing operations and accelerating the entire process.</p>
        <hr />
        <ul class="p-list--ticked u-no-margin--bottom">
          <li class="p-list__item">
            <h3 class="p-heading--5 u-no-margin--bottom">Go from raw data to features</h3>
            <p>Perform all the steps needed to deliver features for model training with open source &mdash; now the industry standard.</p>
          </li>
          <li class="p-list__item">
            <h3 class="p-heading--5 u-no-margin--bottom">Data features to machine learning models</h3>
            <p>Build LLMs efficiently, automate workflows, reduce operations.</p>
          </li>
          <li class="p-list__item">
            <h3 class="p-heading--5 u-no-margin--bottom">Machine learning models to production</h3>
            <p>Upgrade your model serving strategy with open source.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section" id="find-us">
    <div class="row">
      <hr class="u-no-margin--bottom" />
      <div class="col-3 col-medium-3">
        <div class="p-block">
          <h2>Where to find&nbsp;us</h2>
        </div>
      </div>
      <div class="col-9 col-medium-3">
        <div class="p-block">
          <div class="row">
            <div class="col-3">
              <h3 class="p-text--small-caps">Europe</h3>
            </div>
            <div class="col-2">
              <h4><a href="https://events.linuxfoundation.org/open-source-summit-europe/">Open Source Summit Europe</a></h4>
            </div>
            <div class="col-4">
              <p><strong>19-21 September 2023 <br />Bilbao, Spain</strong></p>
              <p>Find us inside the OpenSearch.org booth</p>
            </div>
          </div>
        </div>
        <div class="row p-block">
          <div class="col-6 col-start-large-4">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h4><a href="https://worldsummit.ai/">World Summit AI</a></h4>
              </div>
              <div class="col-4">
                <p><strong>11-12 October 2023 <br />Amsterdam, Netherlands</strong></p>
                <p>Talk: Building LLMs: from zero to hero with <a href="https://www.linkedin.com/in/mm4zur/">Maciej Mazur</a>, Canonical</p>
                <p>Workshop: Building your LLM Factory with <a href="https://www.linkedin.com/in/mbalint/">Michael Balint</a>, NVIDIA, <a href="https://www.linkedin.com/in/andreea-mihaela-munteanu/">Andreea Munteanu</a>, <a href="https://www.linkedin.com/in/mm4zur/">Maciej Mazur</a>, Canonical</p>
                {{ 
                  image (
                  url="https://assets.ubuntu.com/v1/1ac0e434-Nvidia_Logo_Horizontal.svg",
                  alt="",
                  width="152",
                  height="29",
                  hi_def=True,
                  loading="lazy"
                  ) | safe
                }}
              </div>
            </div>
          </div>
        </div>
        <div class="row p-block">
          <div class="col-6 col-start-large-4">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h4><a href="https://events.canonical.com/event/31/program">Ubuntu Summit</a>, AI/ML track</h4>
              </div>
              <div class="col-4">
                <p><strong>3-5 November <br />Riga, Latvia</strong></p>
                <p>Workshop: Move data science beyond experimentation with MLOps platforms with <a href="https://www.linkedin.com/in/andreea-mihaela-munteanu/">Andreea Munteanu</a> and <a href="https://www.linkedin.com/in/kimonas-sotirchos-1ba45b155/">Kimonas Sotirchos</a>, Canonical</p>
                <p>Panel: Future of AI: is it here to help or just take away our jobs? Moderated by <a href="https://www.linkedin.com/in/andreea-mihaela-munteanu/">Andreea Munteanu</a> with other 3 participants</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-block">
          <div class="col-6 col-start-large-4">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h4><a href="https://www.opensource-experience.com/en/">Open source experience</a></h4>
              </div>
              <div class="col-4">
                <p><strong>6-7 December 2023 <br />Paris, France</strong></p>
                <p>AI/ML track</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 col-start-medium-4 col-medium-3">
        <hr class="p-rule" />
        <div class="row">
          <div class="col-3">
            <h3 class="p-text--small-caps">North America</h3>
          </div>
          <div class="col-2">
            <h4><a href="https://opensearch.org/opensearchcon2023-cfp.html">OpenSearchCon 2023</a></h4>
          </div>
          <div class="col-4">
            <p><strong>27-29 September 2023 <br />Seattle, Washington</strong></p>
            <p>Talk: Infra+OpenSearch in your laptop under 5 minutes with <a href="https://www.linkedin.com/in/alastair-flynn-6922a8191/">Alastair Flynn</a></p>
            <p>Talk: From document to vector: using OpenSearch to store embedding data with <a href="https://www.linkedin.com/in/pedroleaoc/">Pedro Leão da Cruz</a></p>
            <p>See you in Canonical Charmed OpenSearch booth in the conference</p>
          </div>
        </div>
        <div class="row p-block">
          <div class="col-6 col-start-large-4">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h4><a href="https://mlopsworld.com/">MLOps World</a></h4>
              </div>
              <div class="col-4">
                <p><strong>25-26 October 2023 <br />Austin, Texas</strong></p>
                <p>Talk: MLOps on highly sensitive data &mdash; Strict Confinement, Confidential Computing and Tokenization Protecting Privacy with <a href="https://www.linkedin.com/in/andreea-mihaela-munteanu/">Andreea Munteanu</a> &amp; <a href="https://www.linkedin.com/in/mm4zur/">Maciej Mazur</a></p>
                <p>Workshop: Build LLMs based on your own company's data with open-source with <a href="https://www.linkedin.com/in/andreea-mihaela-munteanu/">Andreea Munteanu</a> & <a href="https://www.linkedin.com/in/mm4zur/">Maciej Mazur</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-block">
          <div class="col-6 col-start-large-4">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h4><a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/">KubeconNA</a></h4>
              </div>
              <div class="col-4">
                <p><strong>6-9 November <br />Chicago, Illinois</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-block">
          <div class="col-6 col-start-large-4">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h4><a href="https://dok.community/dok-day-north-america-2023/">Data on Kubernetes Day</a></h4>
              </div>
              <div class="col-4">
                <p><strong>6 November <br />Chicago, Illinois</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-block">
          <div class="col-6 col-start-large-4">
            <hr class="p-rule" />
            <div class="row">
              <div class="col-2">
                <h4><a href="https://reinvent.awsevents.com/">AWS Re:Invent</a></h4>
              </div>
              <div class="col-4">
                <p><strong>27 November - 1 December <br />Las Vegas, Nevada</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 col-start-medium-4 col-medium-3">
        <hr class="p-rule" />
        <div class="row p-block">
          <div class="col-3">
            <h3 class="p-text--small-caps">Middle East &amp; Africa</h3>
          </div>
          <div class="col-2">
            <h4><a href="https://www.gitex.com/">GITEX</a></h4>
          </div>
          <div class="col-4">
            <p><strong>16-20 October <br />Dubai, UAE</strong></p>
            <p>Talk: Engineering Tomorrow’s Decisions: Building Predictive analytics projects with open source with <a href="https://www.linkedin.com/in/andreea-mihaela-munteanu/">Andreea Munteanu</a> and <a href="https://www.linkedin.com/in/robertgibbon/">Rob Gibbon</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 col-start-medium-4 col-medium-3">
        <hr class="p-rule" />
        <div class="row p-block">
          <div class="col-3">
            <h3 class="p-text--small-caps">Central &amp; South America</h3>
          </div>
          <div class="col-2">
            <h4><a href="https://www.latam-ai.com/">LatamAI</a></h4>
          </div>
          <div class="col-4">
            <p><strong>21-22 November 2023 <br />Sao Paolo, Brazil</strong></p>
            <p>Round table with Canonical AI experts and partners from the region</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip--white is-deep">
    <div class="row">
      <div class="col-12">
        <div class="p-block">
          <p class="p-heading--2 u-no-margin--bottom">
            To join us at an event, <a href="https://ubuntu.com/ai/contact-us?product=ai-index">contact us now.</a><br />
            For future AI events, contact <a href="mailto:pr@canonical.com">pr@canonical.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <hr class="p-rule" />
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <h2>Support your AI/ML projects with&nbsp;Canonical</h2>
        </div>
      </div>
      <div class="col-6 col-medium-3 col-start-medium-4">
        <div class="p-block">
          <div class="row">
            <div class="col-2 col-medium-3">
              <h3 class="p-heading--5"><a href="https://charmed-kubeflow.io/">Charmed Kubeflow</a></h3>
            </div>
            <div class="col-4 col-medium-3">
              <p>A production-grade MLOps platform where the end-to-end ML lifecycle runs.</p>
            </div>
          </div>
        </div>
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-2 col-medium-3">
              <h3 class="p-heading--5"><a href="/data/spark">Charmed Spark</a></h3>
            </div>
            <div class="col-4 col-medium-3">
              <p>A security-maintained and fully supported solution for Apache Spark on Kubernetes.</p>
            </div>
          </div>
        </div>
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-2 col-medium-3">
              <h3 class="p-heading--5"><a href="/blog/charmed-mlflow-beta">Charmed MLFlow</a></h3>
            </div>
            <div class="col-4 col-medium-3">
              <p>A platform used to manage machine learning workflows, used primarily for model registry.</p>
            </div>
          </div>
        </div>
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-2 col-medium-3">
              <h3 class="p-heading--5"><a href="/data/opensearch">Charmed OpenSearch</a></h3>
            </div>
            <div class="col-4 col-medium-3">
              <p>Enterprise OpenSearch solution with support, security maintenance and operations automation.</p>
            </div>
          </div>
        </div>
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-2 col-medium-3">
              <h3 class="p-heading--5"><a href="/data/mongodb">Charmed MongoDB</a></h3>
            </div>
            <div class="col-4 col-medium-3">
              <p>Enterprise MongoDB solution with support, security maintenance and operations automation.</p>
            </div>
          </div>
        </div>
        <div class="p-block">
          <hr class="p-rule" />
          <div class="row">
            <div class="col-2 col-medium-3">
              <h3 class="p-heading--5"><a href="https://assets.ubuntu.com/v1/429359fe-MLOps%20advisory%20DS%2029.11.22.pdf">AI &amp; Data consultancy </a></h3>
            </div>
            <div class="col-4 col-medium-3">
              <p>Access one of our consultancy lanes for AI & Data experts to kickstart your journey.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-shallow">
    <div class="row u-no-padding--top">
      <hr class="p-rule" />
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <h2>AI/ML resources</h2>
        </div>
      </div>
      <div class="col-6 col-medium-3">
        <div class="p-block">
          <p class="p-text--small-caps u-no-margin--bottom">Whitepaper</p>
          <h3 class="p-heading--2 u-no-padding--top"><a href="/engage/mlops-guide">A guide to MLOps</a></h2>
          <p>Learn how to choose your MLOps tooling and take your AI projects to production.</p>
        </div>
        <hr class="p-rule" />
        <div class="p-block">
          <p class="p-text--small-caps u-no-margin--bottom">Case study</p>
          <h3 class="p-heading--2 u-no-padding--top"><a href="/engage/ai-ml-casestudy-tasmania">University of Tasmania unlocks real-time space tracking with AI/ML supercomputing</a></h2>
          <p>Tasmania University (UTAS) is modernising its space-tracking data processing with the Firmus Supercloud, built on Canonical's open infrastructure stack</p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip--white is-deep">
    <div class="row">
      <div class="col-12">
        <div class="p-block">
          <p class="p-heading--2 u-no-margin--bottom"><a href="http://medium.com/ubuntu-ai">Follow us on Medium</a> and listen to our <a href="https://podcastsbycanonical.buzzsprout.com/share">podcast</a></h2>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
