@charset "UTF-8";
/**
 * Ubuntu Core Front-End Framework
 *
 * Main CSS file part of the Ubuntu Core Front-End Framework
 * 
 * @project		Ubuntu Core Front-End Framework
 * @author		Web Team at Canonical Ltd
 * @copyright	2012 Canonical Ltd
 *
 * @colordef	#333; main text
 * @colordef	#dd4814; Ubuntu orange
 */

/**
 * Dependencies
 *
 * Importing reset file: core-reset.css
 * Importing grid file: core-grid.css
 */
 
/**
 * Table of contents
 *
 * Links
 * Base typography
 * Global elements
 * Forms
 * Tables
 * Visual media
 * Components
 * Helper classes
 * Page-specific
 */
 
/**
 * Links
 *
 * @section links
 */

a:link, a:visited {
	color: #dd4814;
	text-decoration: none;
}
a:hover, a:active {
	color: #ae3910;
	text-decoration: none;
}

a.link-cta-homepage {
    background: url("../img/patterns/cta-background.png") repeat-x scroll 0 0 #DD4814;
    border-radius: 30px 30px 30px 30px;
     -moz-box-shadow: 0 2px 2px 0 #C2C2C2;
     -webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
    box-shadow: 0 2px 2px 0 #C2C2C2;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 2em;
    margin: 20px 0;
    padding: 0 20px;
    text-shadow: none;
}

a.link-cta-download {
    background: url("../img/patterns/cta-background.png") repeat-x scroll left bottom #F25C2C;
    border: 1px solid #DE4220;
    border-radius: 30px 30px 30px 30px;
    	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 20px;
    margin: 20px 0;
    padding: 9px 20px 11px;
}

a.link-cta-download:hover {
    background: url("../img/patterns/cta-background-hover.png") repeat-x scroll left top #F25C2C;
    text-decoration: none;
}

a.link-cta-ubuntu, a.link-cta-canonical {
    border-radius: 4px 4px 4px 4px;
    color: #772953;
    display: block;
    float: left;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0;
}

a.link-cta-ubuntu {
    background-color: #DD4814;
    color: #ffffff;
}

a.link-cta-canonical {
    background-color: #FFFFFF;
}

/**
 * Base typography
 *
 * @section type
 */

h1 {
	font-size: 2.769em; /** 36px (desired value) / 13px (baseline font-size value) */
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: .333em; /** 12px (desired value) / 36px (computed font-size value) */
}
h2 {
	font-size: 1.846em; /** 24px (desired value) / 13px (baseline font-size value) */
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: .5em; /** 12px (desired value) / 24px (computed font-size value) */
}
p + h2, ul + h2, ol + h2 {
	margin-top: .75em; /** 18px (desired value) / 24px (computed font-size value) */
}
h3 {
	font-size: 1.231em; /** 16px (desired value) / 13px (baseline font-size value) */
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: .75em; /** 12px (desired value) / 16px (computed font-size value) */
}
p + h3, ul + h3, ol + h3 {
	margin-top: 1.125em; /** 18px (desired value) / 16px (computed font-size value) */
}
h4 {
	font-size: 1em;
	line-height: 1.3;
	margin-bottom: .923em;
}
p + h4, ul + h4, ol + h4 {
	margin-top: 1.384em; /** 18px (desired value) / 13px (computed font-size value) */
}

p {
	font-size: 1em;
	line-height: 1.4;
	margin-bottom: .769em;
}

li {
	line-height: 1.4;
	margin-bottom: .769em;
}

code, pre {
	font-family: "Ubuntu Monospace", "Ubuntu Mono Regular", "Lucida Console", "Monaco", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	font-size: .9em;
	line-height: 1.4;
}

/**
 * Global elements
 *
 * Header (main navigation) and footer section
 * (We may want to move this to a separate stylesheet)
 *
 * @section links
 */


header {
	background:url("../img/header_bg.png") repeat-x scroll left top #DD4814;
	border-radius: 0 0 4px 4px;
    height: 64px;
    padding: 0 10px;
}

header ul {
    border-left: 1px solid #C03D14;
    border-right: 1px solid #E6633A;
    float: right;
    left: 1px;
    position: relative;
    margin-bottom:0;
}

header li{
	border: medium none;
    height: 64px;
    margin: 0;
    position: static;
    vertical-align: bottom;
    list-style-image: none;
    text-indent: 0;
    float: left;
    font-size: 14px;
}

header h2 {
    display: block;
    font-size: 20px;
    text-transform: lowercase;
    position: relative;
    left: 10px;
    top: 20px;
    margin-bottom:0;
}

header h2 a:link, header h2 a:visited, header a{
    color: #FFFFFF;
    float: left;
    text-decoration:none;
}

header li a:link, header li a:visited{
	border-left: 1px solid #E6633A;
    border-right: 1px solid #C03D14;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 41px;
    padding: 23px 7px 0 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

header li a.active,
header li a:hover {
    background: url("../img/header_bg_active.png") repeat-x scroll left top #B83A10;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

header .logo-ubuntu {
    position: relative;
    top: 14px;
}

.inner-wrapper{
	border-radius: 0 0 4px 4px;
		-moz-box-shadow: 0 2px 3px #C9C9C9;
		-webkit-box-shadow: 0 2px 3px #C9C9C9;
    box-shadow: 0 2px 3px #C9C9C9;
    padding-top: 50px;
}

footer{
	padding:10px;
	background-color: #F7F7F7;
		-moz-border-radius: 0 0 4px 4px;
		-webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/**
 * Forms
 *
 * Global form element styles
 *
 * @section forms
 */

form fieldset {
    background: none no-repeat scroll -15px -16px #EFEEEC;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 8px;
    padding: 15px 20px 15px 94px;
    border:0;
}

form .fieldset-1 {
    background-image: url("../img/patterns/fieldsets-1.png");
}

form .fieldset-2 {
    background-image: url("../img/patterns/fieldsets-2.png");
}

form .fieldset-3 {
    background-image: url("../img/patterns/fieldsets-3.png");
}

form .fieldset-4 {
    background-image: url("../img/patterns/fieldsets-4.png");
}

form fieldset h3 {
    border-bottom: 1px dotted #DFDCD9;
    margin-bottom: 9px;
    padding-bottom: 10px;
}

form label {
    cursor: pointer;
    display: block;
    margin-bottom: 4px;
}

form ul {
	margin-left:0;
}

form fieldset li:first-child {
    margin-top: 0;
}

form li {
    list-style: none outside none;
    margin-top: 14px;
}

form input[type="text"], form textarea {
    background: none repeat scroll 0 0 white;
    border: 1px solid #999999;
    border-radius: 2px 2px 2px 2px;
    font: 13px "Ubuntu","Ubuntu Beta",UbuntuBeta,Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;
    padding: 4px;
    width: 300px;
}

input, select {
    vertical-align: middle;
    width: 310px;
}

form input[type="checkbox"], form input[type="radio"] {
    margin: 0;
}

form input[type="checkbox"] + label, 
form input[type="radio"] + label{
    display: inline;
    margin-left: 5px;
    vertical-align: middle;
    width: auto;
}

form input[type="submit"] {
    background: url("../img/patterns/background-ubuntu-cta.png") repeat-x scroll center 0 #DD4814;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 14px;
    text-shadow: none;
    width: auto;
}

/**
 * Tables
 *
 * @section tables
 */
table {
    width: 100%;
    margin: 0 0 40px 0;
}

th, td {
    border: 1px dotted #AEA79F;
    padding: 6px 10px;
}

td {
    text-align: center;
    vertical-align: middle;
}

thead th:first-of-type {
    text-align: left;
}

th[scope="col"] {
    background: none repeat scroll 0 0 #E2D4DC;
    color: #772953;
    text-align: center;
}

tbody th[rowspan] {
    background: none repeat scroll 0 0 #F7F2F6;
}

tfoot th[rowspan] {
    background: none repeat scroll 0 0 #DFDCD9;
}

tfoot td, tfoot th {
    font-weight: bold;
    background: none repeat scroll 0 0 #DFDCD9;
}

/**
 * Visual media
 *
 * @section visual
 */

/**
 * Components
 *
 * @section components
 */

.box {
	border: 1px solid #dfdcd9;
	padding: 1.538em;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	border-radius: 4px;
}
.box-dropshadow {
		-moz-box-shadow: 0 2px 2px 0 #c2c2c2;
		-webkit-box-shadow: 0 2px 2px 0 #c2c2c2;
	box-shadow: 0 2px 2px 0 #c2c2c2;
}

.box-solid-grey{
	background-color: #EFEFEF;
    border: 0 none;
}

.four-feature ul{
	margin-left: 0;
}

.four-feature li{
	float: left;
    list-style: none outside none;
    margin-right: 19px;
    margin-bottom:0;
    width: 210px;
    text-indent:0;
}

.four-feature li.last {
    margin-right: 0;
}

.four-feature h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 1px;
}

.box-bordered-grey {
	background: none repeat scroll 0 0 #EFEFEF;
		-moz-border-radius: 4px 4px 4px 4px;
		-webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 11px 6px 6px;
    border: 0 none;
}

.box-bordered-grey h2 {
    margin-bottom: 9px;
    font-size: 16px;
    margin-left: 8px;
    color: #333333;
    font-size: 24px;
    line-height: 1.2;
}

.box-bordered-grey div {
    background: none repeat scroll 0 0 #FFFFFF;
    	-moz-border-radius: 4px 4px 4px 4px;
    	-webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    height: 1%;
    overflow: hidden;
    padding: 15px 11px 0;
}

.box-bordered-grey ul.list {
	float: left;
    margin-right: 20px;
    width: 200px;
    margin-bottom:0;
}

.box-bordered-grey ul{
	margin-left:0;
	display:block;
}

.box-bordered-grey ul.last {
    margin-right: 0;
}

.box-bordered-grey ul.list li {
	border-bottom: 1px dotted #DFDCD9;
	padding-bottom: 8px;
	list-style: none outside none;
}


.box-bordered-grey ul.three-vertical li{
	float: left;
    text-align: center;
    width: 142px;
    list-style: none outside none;
}

.box-bordered-grey ul.three-vertical li a{
	display:block;
	padding-top:75px;
	background: none no-repeat scroll center -127px transparent;
}

.box-bordered-grey ul.three-vertical li.cd a {
    background-image: url("../img/patterns/picto-getubuntu-cd.gif");
}
.box-bordered-grey ul.three-vertical li.windows a {
    background-image: url("../img/patterns/picto-getubuntu-windows.gif");
}
.box-bordered-grey ul.three-vertical li.download a {
    background-image: url("../img/patterns/picto-getubuntu-download.gif");
}

.list-divs,
.list-arrows {
	list-style: none;
	margin-left: 0;
}

.list-divs li,
.list-arrows li {
	border-bottom: 1px dotted #aea79f;
	margin-bottom: 0;
	padding: .769em 0;
}
.list-divs li:first-of-type {
	padding-top: 0;
}
.list-divs li:last-of-type {
	border: 0 none;
	padding-bottom: 0;
}

.list-arrows li {
	background: url(http://www.ubuntu.com/sites/www.ubuntu.com/files/active/natty-consumer-pages/css/feats-tick.gif) no-repeat left 10px;
	padding: .769em 0 .769em 30px;
}
.list-arrows li:last-of-type {
	border: 0 none;
	padding-bottom: 3px;
}

.quote-white{
    background: url("../img/patterns/quote-white-360x360.png") no-repeat scroll 20px -160px transparent;
    float: right;
    height: 215px;
    padding: 20px 0 0 50px;
    position: relative;
    width: 360px;
    color: #772953;
}

.quote p:first-child {
    font-size: 16px;
    line-height: 1.3;
}

.quote-orange-bottom-right {
    background: url("../img/patterns/quote-orange-br-287x287.png") no-repeat scroll 0 0 transparent;
    height: 167px;
    width: 207px;
    color: #FFFFFF;
    padding: 60px 40px 60px 40px;
}

.quote-orange-bottom-left {
    background: url("../img/patterns/quote-orange-bl-287x287.png") no-repeat scroll 0 0 transparent;
    height: 167px;
    width: 207px;
    color: #FFFFFF;
    padding: 60px 40px 60px 40px;
}

.quote-grey-bottom-right{
	background: url("../img/patterns/quote-grey-br-211x211.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 152px;
    line-height: 40px;
    margin-left: 20px;
    padding: 60px 0 0;
    text-align: center;
    width: 211px;
}

.quote-grey-bottom-right p:first-child {
	font-size: 36px;
}

/**
 * Helper classes
 *
 * @section helper
 */

.link-top {
    border-bottom: 1px dotted #AEA79F;
    clear: both;
    margin-bottom: 20px;
}

.link-top a {
    float: right;
    margin-top:-15px;
}

/**
 * Page-specific
 *
 * @section page-specific
 */

