@charset "UTF-8";
/**
 * Ubuntu Patterns Stylesheet
 *
 * The CSS file required by Ubuntu patterns page
 * 
 * @project		Ubuntu Patterns
 * @author		Web Team at Canonical Ltd
 * @copyright	2012 Canonical Ltd
 *
 */

#code-display{
	display: none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:200px;
	background:rgba(0,0,0,0.7);
	border-bottom:1px solid #000000;
	z-index:2;
	padding:10px;
	color: #ffffff;
}

#code-display textarea{
	width:100%;
	height:150px;
	color: #000000;
}

#code-display a{
	float:right;
	width:50px;
	margin:5px 20px 0 0;
}

/*
 * Mock-ups to help visulisation
 */

a.link-cta-canonical {
    	-moz-box-shadow: 0 0 2px 2px #772953;
    	-webkit-box-shadow: 0 0 2px 2px #772953;
    box-shadow: 0 0 2px 2px #772953;
}

.quote-white {
	background-color:#772953;
}

	