{% extends "containers/base_containers.html" %}

{% block title %}Containers{% endblock %}

{% block meta_description %}
  Explore Ubuntu's trusted container images built from the world's most popular cloud OS. Enjoy long-term support, regular security updates, and size optimisation.
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1OtyfNeA--EJgpgvDzqcbJ8jqa6d9H5H9xyxHNxcKXvc/edit
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% from "_macros/vf_quote-wrapper.jinja" import vf_quote_wrapper %}

{% block content %}

  <section class="p-section--hero">
    <div class="row">
      <div class="col-start-large-4 col-9">
        <div class="p-section--shallow">
          <h1>
            Securely designed, minimal Docker images<br class="u-hide--small" /> from your trusted distro
          </h1>
        </div>
        <p>
          Build enterprise-grade applications on your preferred platform &ndash; cloud, on-premises, or hybrid. Improve your resource efficiency with ultra-small, OCI-compliant, production-ready containers, supported by Canonical, or use our open source tooling to create your own.
        </p>
        <div class="p-cta-block">
          <a class="p-button--positive" href="https://hub.docker.com/_/ubuntu">Deploy our base image</a>
          <a href="/containers/contact-us" class="js-invoke-modal">Get a securely designed, custom-built container&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--25-75">
      <hr class="p-rule" />
      <div class="col">
        <h2 class="p-text--small-caps">Containers, your way</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2">Maintained and compliant</p>
          </li>
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2">Support for any open source software</p>
          </li>
          <li class="p-list__item u-no-padding">
            <p class="p-heading--2">On any Kubernetes</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>
          Familiar for developers,
          <br aria-hidden="true" />
          as dependable as Ubuntu
        </h2>
      </div>
      <div class="col">
        <p>Rely on Ubuntu's demonstrated track record for containers that are:</p>
        <ul class="p-list--divided">
          <li class="p-list__item has-bullet">
            <strong>Supported.</strong> Timely updates and patches, building on Ubuntu's security track record.
          </li>
          <li class="p-list__item has-bullet">
            <strong>Stable.</strong> Long-term support with a consistent, predictable lifecycle and support commitment.
          </li>
          <li class="p-list__item has-bullet">
            <strong>Seamless.</strong> Developer-friendly, smooth experience from development to production.
          </li>
          <li class="p-list__item has-bullet">
            <strong>Small.</strong> Ultra-small, resource-efficient, yet robust images with chiseled (distroless) Ubuntu.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Critical CVE fixes in 24 hours</h2>
      </div>
      <div class="col">
        <p>
          Scanning container images for vulnerabilities is now widespread, but fixing them requires dedicated skills and infrastructure. Trusted provenance is key.
        </p>
        <p>
          Canonical's OCI images provide ready-to-use images, free of high and critical CVEs. Images are built on the same trusted infrastructure in Ubuntu, and updated automatically when apps or dependencies are fixed.
        </p>
        <div class="p-cta-block">
          <a href="/security/vulnerability-management">Learn about vulnerability management in Ubuntu&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Our commitment</h2>
      </div>
    </div>
    <div class="p-equal-height-row">
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/8239d193-our%20commitment-1.png",
                        alt="",
                        width="852",
                        height="1278",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight u-hide--medium u-hide--small" />
          <p class="p-heading--5">Long-term support</p>
        </div>
        <p class="p-equal-height-row__item">Up to 12 years of security updates and patching from Canonical</p>
      </div>
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/637a62b2-our%20commitment-2.png",
                        alt="",
                        width="852",
                        height="1278",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight u-hide--medium u-hide--small" />
          <p class="p-heading--5">Focus on vulnerability remediation</p>
        </div>
        <p class="p-equal-height-row__item">Fixes for high and critical CVEs</p>
      </div>
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/893de5dc-our%20commitment-4.png",
                        alt="",
                        width="852",
                        height="1278",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight u-hide--medium u-hide--small" />
          <p class="p-heading--5">Defense in depth</p>
        </div>
        <p class="p-equal-height-row__item">Minimal attack surface, coupled with an optimized and consistent structure</p>
      </div>
      <div class="p-equal-height-row__col">
        <div class="p-equal-height-row__item">
          <div class="p-image-container--3-2-on-small p-image-container--square-on-medium p-image-container--2-3-on-large is-highlighted">
            {{ image(url="https://assets.ubuntu.com/v1/8ff9462c-our%20commitment-3.png",
                        alt="",
                        width="852",
                        height="1278",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"},) | safe
            }}
          </div>
        </div>
        <div class="p-equal-height-row__item">
          <hr class="p-rule--highlight u-hide--medium u-hide--small" />
          <p class="p-heading--5">Anywhere, anytime</p>
        </div>
        <p class="p-equal-height-row__item">Compatible with all major architectures</p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule--highlight" />
      <h2 class="p-text--small-caps">Supported on all Kubernetes distributions</h2>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/8454a208-canonical-logo.png",
                        alt="Canonical",
                        width="345",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/e33122ea-vmware-logo.png",
                        alt="VMWare",
                        width="323",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/4fffb329-microsoft-logo-2.png",
                        alt="Microsoft",
                        width="342",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/29e6bdf8-amazon-logo 1.png",
                        alt="Amazon",
                        width="283",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/9f49383f-google-logo.png",
                        alt="Google",
                        width="220",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/f6043cd6-rancher-logo.png",
                        alt="Rancher",
                        width="387",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/e90e05e7-HPE-logo.png",
                        alt="HPE",
                        width="310",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Our container portfolio</h2>
      </div>
      <div class="col">{% include "containers/shared/_container-portfolio-tabs.html" %}</div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Container Build Service</h2>
      </div>
      <div class="col">
        <p>Need to containerize a specific version of an open source tool?</p>
        <p>
          We provide a Container Build Service that creates custom containerization for all kinds of open source software, allowing you to readily deploy them into your existing environment.
        </p>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Custom container benefits</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">
            <p class="u-no-margin--bottom u-no-padding--top p-heading--5">
              Modernizing legacy applications
            </p>
          </li>
          <li class="p-list__item is-ticked">
            <p class="u-no-margin--bottom u-no-padding--top p-heading--5">
              Minimal container, includes essentials only
            </p>
          </li>
          <li class="p-list__item is-ticked">
            <p class="u-no-margin--bottom u-no-padding--top p-heading--5">
              Supported on any certified Kubernetes distribution
            </p>  
          </li>
        </ul>
        <div class="p-cta-block">
          <a href="/containers/container-build-service">Discover our Container Build Service&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Canonical's container toolkit</h2>
      </div>
      <div class="col">
        <p>
          Rockcraft and Chisel provide the tools and flexibility to build Ubuntu-based containers that perfectly align with your application requirements. Canonical's variation of “distroless” containers called chiseled Ubuntu containers take size optimization to a new level.
        </p>
        <p>
          Developers can keep building with Ubuntu and rely on ultra-small, bitwise identical images tailored for production.
        </p>
        <p>No more worries about library incompatibilities, just seamless development to deployment.</p>
        <div class="p-cta-block">
          <a href="https://documentation.ubuntu.com/rockcraft/en/latest/"
             class="p-button">Learn more about Rockcraft</a>
          <a href="https://documentation.ubuntu.com/rockcraft/en/latest/explanation/chisel/"
             class="p-button">Learn more about Chisel</a>
        </div>
      </div>
    </div>
  </section>

  {% call(slot) vf_quote_wrapper(
    title_text="What industry experts say",
    quote_size="small",
    quote_text="There has always been a need for smaller and tighter images. Developers remind us, as a base image provider, of that on a regular basis. Chiseled images leapfrog over approaches we've looked at in the past. We love the idea and implementation of chiseled images and Canonical as a partner. When technical leaders at Canonical shared the first demos of chiseled images with us, we immediately wanted to be a launch partner, and we're thrilled that we're shipping Ubuntu chiseled images for .NET as part of the GA release.",
    citation_source_name_text="Richard Lander",
    citation_source_title_text=".NET Product Manager",
    citation_source_organisation_text="Microsoft"
    ) -%}

    {%- if slot == 'signpost_image' -%}

      {{ image(url="https://assets.ubuntu.com/v1/111cde21-Microsoft-logo.png",
            alt="Microsoft",
            width="113",
            height="24",
            hi_def=True,
            loading="lazy") | safe
      }}
    {%- endif -%}

    {%- if slot == 'cta' -%}
      <a href="https://www.youtube.com/watch?v=FLGFzlWF4Gs">Watch our interview with Richard Lander&nbsp;&rsaquo;</a>
    {%- endif -%}
  {% endcall -%}

  <hr class="p-rule is-fixed-width" />
  <div class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>
        <a href="/containers/chiseled/dotnet">Discover chiseled Ubuntu for .NET applications&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </div>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule--highlight" />
      <h2 class="p-text--small-caps">Trusted by industry leaders</h2>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/bb387a0d-docker-logo-horizontal.png",
                        alt="Docker",
                        width="351",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/aefa9d69-intel-new-logo.png",
                        alt="Intel",
                        width="162",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/905cef9f-arm-logo.png",
                        alt="ARM",
                        width="154",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/4fffb329-microsoft-logo-2.png",
                        alt="Microsoft",
                        width="342",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <h2>
        <a href="/engage/container-security-guide">Access our whitepaper about container security&nbsp;&rsaquo;</a>
      </h2>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Container resources</h2>
      </div>
      <div class="col">
        <p class="p-heading--5">Dive deeper into the world of containers with Ubuntu on our blog.</p>
        <ul class="p-list--divided">
          <li class="p-list__item">
            <a href="/blog/install-dotnet-on-ubuntu">Microsoft and Canonical announce native .NET availability in Ubuntu 22.04 hosts and containers </a>
          </li>
          <li class="p-list__item">
            <a href="/blog/docker-container-security-demystifying-fips-enabled-containers-with-ubuntu-pro">Docker container security: demystifying FIPS-enabled containers with Ubuntu Pro</a>
          </li>
          <li class="p-list__item">
            <a href="/blog/combining-distroless-and-ubuntu-chiselled-containers">Chiseled Ubuntu containers: the benefits of combining Distroless and Ubuntu</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include "/shared/forms/form-template.html" %}

  <script src="{{ versioned_static('js/dist/tabbedContent.js') }}"></script>

{% endblock content %}
