{% extends "containers/base_containers.html" %}
{% block title %}Containers{% endblock %}
{% block meta_description %}Whether you’re building your own OpenStack cloud, want a hosted private cloud or want to use Ubuntu in the public cloud, we offer all the training, software, tools, services and support you need.{% endblock meta_description %}
{% block extra_body_class %}containers-home{% endblock %}


{% block content %}
<div class="p-strip is-deep">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-7">
        <h1>Containers</h1>
        <h2>Ubuntu is the number one platform for containers</h2>
        <p>From LXD to Kubernetes to Docker, Canonical has partnered with industry leaders to offer a full range of technologies and services to run containers at scale on public, private and hybrid or bare metal clouds.<p>
          <p><a href="/containers/contact-us?product=containers-overview">Talk to us about your container strategy&nbsp;&rsaquo;</a></p>
        </div>
        <div class="col-5 u-align--center u-hidden--small">
          <img class="u-float--right" src="{{ ASSET_SERVER_URL }}a9aff224-Containers-illustration.svg" width="350" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

{% include "containers/shared/_whitepaper.html" %}

<div class="p-strip--light is-bordered is-deep">
  <div class="row">
    <div class="col-12">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img src="{{ ASSET_SERVER_URL }}425efe3a-lxd.svg?w=80" alt="LXD logo" width="80" class="p-heading-icon__img" />
          <h2 class="p-heading-icon__title">LXD, the pure-container hypervisor</h2>
        </div>
      </div>
    </div>

    <div class="row p-divider">
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--four">Lift-and-shift existing VM workloads</h3>
        <p>Move your existing Linux VMs straight to containers, easily, without modifying the apps or your operations. LXD&rsquo;s machine containers operate just like virtual machines.</p>
      </div>
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--four">25% faster than legacy VMs</h3>
        <p>Run an unmodified Linux operating system and applications with VM-style operations at incredible speed with zero latency.</p>
      </div>
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--four">10x the density of ESX</h3>
        <p>LXD&rsquo;s pure-container approach to Linux virtualisation offers dramatic density advantages over VMware ESX and Linux KVM for private and public cloud infrastructure.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-8 u-vertically-spaced">
        <p><a href="/containers/lxd">Learn more about LXD&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-bordered is-deep">
  <div class="row">
    <div class="col-12">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img src="{{ ASSET_SERVER_URL }}24e41fc3-kubernetes_logo.svg" alt="Kubernetes logo" class="p-heading-icon__img" />
          <h2 class="p-heading-icon__title">The Canonical Distribution of Kubernetes</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">Elasticity built-in</h3>
      <p>Looking for a container orchestration system to help build your microservice-based app? Canonical’s Kubernetes is simple and naturally elastic.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">Cost-effective at scale</h3>
      <p>Modelled using Juju, Canonical’s Kubernetes includes all operational scripting and tooling needed to manage a long-lived cluster, including upgrades and elastic scaling.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">Analytics on tap</h3>
      <p>Can be easily integrated with Prometheus for monitoring, Ceph for storage and Elastic Stack including Kibana for analysis and visualisations.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-8 u-vertically-spaced">
      <p><a href="/containers/kubernetes">Learn more about the Canonical Distribution of Kubernetes&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</div>

<div class="p-strip--light is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img src="{{ ASSET_SERVER_URL }}1eb617a5-docker_logo.svg" alt="Docker logo" class="p-heading-icon__img" />
          <h2 class="p-heading-icon__title">Docker Engine on Ubuntu</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">Enterprise ready Docker</h3>
      <p>We work closely with Docker Inc. to deliver an integrated Commercially Supported Docker Engine offering on Ubuntu.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">Reliable updates</h3>
      <p>The Docker Engine images are published as snap package which update automatically and transactionally.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">Single vendor solution</h3>
      <p>Canonical provides Level 1 and Level 2 technical support for the CS Docker Engine and are backed by Docker Inc. for Level 3 support.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-8 u-vertically-spaced">
      <p><a href="/containers/docker-ubuntu">Learn more about Docker Engine on Ubuntu&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</div>

<div class="p-strip--light is-deep">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-7 equal-height__align-vertically">
        <h2>Expert support from Canonical</h2>
        <p>If you need the assurance of a professional support subscription for your desktop, server, cloud or container deployment, Ubuntu Advantage has got you covered:</p>
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">24/7 access to the world&rsquo;s leading Ubuntu experts</li>
          <li class="p-list__item is-ticked">Landscape systems management tool</li>
          <li class="p-list__item is-ticked">IP assurance for your Ubuntu environment</li>
          <li class="p-list__item is-ticked">Kernel livepatching to ensure you have the latest kernel security&nbsp;updates</li>
        </ul>
        <p><a href="https://buy.ubuntu.com/" class="p-button--brand"><span class="p-link--external">Visit the Ubuntu Advantage store</span></a></p>
        <p>Or <a href="/containers/contact-us?product=containers-overview">contact us&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-5 u-align--right u-vertically-center u-hidden--small">
        <img src="{{ ASSET_SERVER_URL }}11da76f5-image-management.svg" style="width: 80%;" width="288" height="155" />
      </div>
    </div>
  </div>
</div>

{% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_containers_juju" second_item="_cloud_lxd" third_item="_cloud_further_reading" %}

{% endblock content %}
