{% extends "security/base_security.html" %}

{% block title %}Ubuntu Expanded Security Maintenance | Security{% endblock %}

{% block meta_description %}
  Expanded Security Maintenance provides ongoing security fixes for Ubuntu, the Linux kernel and packages in Ubuntu repositories packages beyond the five-year basic maintenance window.
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1RBZX3PJPvODxRlcnIS10Ii4SkIMH5Fm74EmsMQ0cnic/edit
{% endblock meta_copydoc %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}
{% from "_macros/vf_quote-wrapper.jinja" import vf_quote_wrapper %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}
  {% call(slot) vf_hero(
    title_text='Expanded Security Maintenance <br />for Ubuntu and open source',
    layout='50/50'
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        Extend the lifetime of your favorite Linux and the open source you use on top with reliable security maintenance for up to 12 years.
      </p>
    {%- endif -%}
    {%- if slot == 'cta' -%}
      <a href="/security/esm#get-in-touch" class="p-button--positive">Speak to an expert</a>
    {%- endif -%}
  {% endcall -%}

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>What is security maintenance?</h2>
      </div>
      <div class="col">
        <p>
          Security maintenance is part of a continuous process that proactively protects systems. It includes regular vulnerability scanning, evaluation and patch management. Regular security maintenance and vulnerability management is key to comply with industry regulations.
        </p>
        <div class="p-cta-block">
          <a href="/blog/securing-open-source-through-cve-prioritisation">Learn more about CVE mitigation in Ubuntu&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Available for every Ubuntu LTS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-start-large-7 col-6 col-medium-6">
        <div class="row">
          <div class="col-3 col-medium-3">
            <div class="p-image-container">
              {{ image(url="https://assets.ubuntu.com/v1/f1c3a02f-security-updates.png",
                            alt="",
                            width="568",
                            height="852",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"},) | safe
              }}
            </div>
            <h3 class="p-heading--5">Security updates in Ubuntu LTS</h3>
            <p>
              Ubuntu LTS gained popularity due to a 5 years security maintenance commitment for the operating system (specifically all packages in the 'main repository'). This is done by Canonical with no subscription required. Over the 5 years of the standard security term of an Ubuntu LTS, the security team patches thousands of CVEs.
            </p>
          </div>
          <div class="col-3 col-medium-3">
            <div class="p-image-container">
              {{ image(url="https://assets.ubuntu.com/v1/ea0c219c-svf.png",
                            alt="",
                            width="568",
                            height="852",
                            hi_def=True,
                            loading="lazy",
                            attrs={"class": "p-image-container__image"},) | safe
              }}
            </div>
            <h3 class="p-heading--5">No forced upgrades</h3>
            <p>
              Canonical's security team actively backports these crucial fixes to all supported Ubuntu LTS releases, giving enterprises and end users peace of mind to keep their systems secure without requiring a major upgrade.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="p-rule--muted is-fixed-width" />
    <div class="row">
      <div class="col-start-large-7 col-6">
        <a href="/about/release-cycle">Understand the Ubuntu release cadence&nbsp;&rsaquo;</a>
      </div>
    </div>
  </section>

  <section class="p-section">
    {%- call(slot) vf_tiered_list(is_list_full_width_on_tablet=true) -%}
      {%- if slot == 'title' -%}
        <h2>
          Expanded Security Maintenance
          <br />
          included with Ubuntu Pro
        </h2>
      {%- endif -%}

      {%- if slot == 'list_item_title_1' -%}
        <h3 class="p-heading--5">Up to 12 years of support</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_1' -%}
        <p>
          Running the latest operating system (OS) offers new features and enhanced performance, which is a good choice for new deployments. However, for large, established production systems, the transition to a new OS version presents a challenge as it may involve updating the entire software stack running on top of it.
        </p>
        <p>
          This complexity is amplified by modern software architectures that incorporate containerization, microservices, extensive data management features, as well as integration with third-party APIs.
        </p>
      {%- endif -%}

      {%- if slot == 'list_item_title_2' -%}
        <h3 class="p-heading--5">Deployment peace of mind</h3>
      {%- endif -%}

      {%- if slot == 'list_item_description_2' -%}
        <p>
          Given these multifaceted challenges, ensuring the system remains operational, secure, and supported is paramount. Organizations looking to gain peace of mind and stability while they plan and execute their migration strategy can trust Canonical.
        </p>
      {%- endif -%}

      {%- if slot == 'cta' -%}
        <a href="/pro">Learn more about Ubuntu Pro&nbsp;&rsaquo;</a>
      {%- endif -%}
    {%- endcall -%}
  </section>

  <section class="p-section--deep">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <h2>Ubuntu security maintenance schedule</h2>
      <div class="esm-table p-strip is-shallow">
        <table class="p-table">
          <thead>
            <tr>
              <th width="51%">
                Security patching
                <br />
                <span class="u-text--muted">(Coverage for critical, high and selected medium CVEs)</span>
              </th>
              <th width="15%" class="u-align--left">Ubuntu LTS</th>
              <th width="24%" class="u-align--left">
                Ubuntu Pro (Infra-only)
                <br />
                <span class="u-text--muted">(Previously known as ”Ubuntu Advantage for Infrastructure”)</span>
              </th>
              <th width="10%" class="u-align--left">Ubuntu Pro</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Over 2,300 packages in Ubuntu Main repository</td>
              <td class="u-align--left">5 years</td>
              <td class="u-align--left">10 years</td>
              <td class="u-align--left">10 years</td>
            </tr>
            <tr>
              <td>Over 23,000 packages in Ubuntu Universe repository</td>
              <td class="u-align--left">Best effort</td>
              <td class="u-align--left">Best effort</td>
              <td class="u-align--left">10 years</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="u-fixed-width">
      <div class="p-esm-chart">
        <div class="p-esm-chart__row">
          <div class="p-esm-chart__left-col">
            <hr class="p-rule" />
            <p class="p-esm-chart__label">
              <strong class="p-esm-chart__label-numbers">2,300</strong>
              <span class="p-esm-chart__label-text">Ubuntu Main packages +</span>
            </p>
            <p class="p-esm-chart__label">
              <strong class="p-esm-chart__label-numbers">23,000</strong>
              <span class="p-esm-chart__label-text">Ubuntu Universe packages</span>
            </p>
          </div>
          <div class="p-esm-chart__right-col p-esm-chart__right-col--Ubuntu-Pro"
               style="height: 16.5rem">
            <p>Ubuntu Pro</p>
          </div>
        </div>
        <div class="p-esm-chart__row">
          <div class="p-esm-chart__left-col">
            <hr class="p-rule" />
            <p class="p-esm-chart__label" style="padding-top: 0">
              <strong class="p-esm-chart__label-numbers">2,300</strong>
              <span class="u-truncate p-esm-chart__label-text">Ubuntu Main packages</span>
            </p>
          </div>
          <div class="p-esm-chart__right-col" style="background-color: #000">
            <div class="p-esm-chart__right-col-lts">
              <div style="background: #E95420;">
                <p style="margin-bottom: 0; padding-top: 0;">Ubuntu LTS</p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-esm-chart__row">
          <div class="p-esm-chart__left-col">
            <hr class="p-rule" />
            <p class="u-align-text--right">GA</p>
          </div>
          <div class="p-esm-chart__right-col p-esm-chart__right-col-axis">
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>1 year</p>
            </div>
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>2 years</p>
            </div>
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>3 years</p>
            </div>
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>4 years</p>
            </div>
            <div class="p-esm-chart__axis-tick">
              <p>5 years</p>
            </div>
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>6 years</p>
            </div>
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>7 years</p>
            </div>
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>8 years</p>
            </div>
            <div class="p-esm-chart__axis-tick u-hide--small u-hide--medium">
              <p>9 years</p>
            </div>
            <div class="p-esm-chart__axis-tick">
              <p>10 years</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <div class="p-section--shallow">
          <h2>
            The difference between
            <br />
            'Main' and 'Universe'
          </h2>
        </div>
      </div>
      <div class="col">
        <p>The tens of thousands of Ubuntu packages are organized into a set of repositories.</p>
        <p>
          'Main' is the set of packages that we identified as our focus when we launched Ubuntu &ndash; they are packages that are either installed on every machine, or very widely used for all kinds of deployments, from desktop to cloud. When we launched Ubuntu LTS, we made a commitment to security-support these packages and their dependencies in 'Main' for five years, free of charge. There were initially about 1,000 packages in 'Main', and today that number has grown to about 2,300 per Ubuntu release.
        </p>
        <p>
          The 'Universe' repository holds all of the other open source packages in Ubuntu, from Debian and the Ubuntu community. Universe is a much bigger repository of over 36,000 packages per release (as of Ubuntu 24.04 LTS). This includes packages for open source toolchains and libraries like Java, Php, GO, Python and others.
        </p>
        <p>
          With the launch of Ubuntu Pro, all of the packages in Ubuntu Universe get the same security maintenance commitment from Canonical as packages in Ubuntu Main.
        </p>
        <div class="p-cta-block">
          <a href="https://discourse.ubuntu.com/t/ubuntu-pro-faq/34042">Check out the Ubuntu Pro FAQ&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="p-section--shallow">
      <div class="row--50-50">
        <hr class="p-rule" />
        <div class="col">
          <div class="p-section--shallow">
            <h2>Benefits of Ubuntu Pro</h2>
          </div>
        </div>
        <div class="col">
          <ul class="p-list--divided">
            <li class="p-list__item is-ticked">Gain peace of mind</li>
            <li class="p-list__item is-ticked">Keep systems stable and maintained</li>
            <li class="p-list__item is-ticked">Reduced need for migrations</li>
            <li class="p-list__item is-ticked">Proactive Ubuntu Security Team</li>
            <li class="p-list__item is-ticked">Get quick fixes to critical, high and selected medium CVEs</li>
            <li class="p-list__item is-ticked">Maintain compliance across your estate</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <div class="p-image-container--cinematic is-cover">
        {{ image(url="https://assets.ubuntu.com/v1/a7dc8f0d-benefits-of-ubuntu-pro.png",
                alt="",
                width="2464",
                height="1028",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-image-container__image"},) | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <div class="p-section--shallow">
          <h2>
            The difference between
            <br />
            'esm-apps' and 'esm-infra'
          </h2>
        </div>
      </div>
      <div class="col">
        <p>
          Ubuntu Pro is a broad subscription that includes many different variations of open source packages to meet different needs. For example, Pro includes a set of package versions that are compliant with FIPS regulations. You would want these versions only on machines that need to meet FIPS requirements, so you can choose to enable that stream specifically on those machines.
        </p>
        <p>
          There are two streams which cover broad-based package security updates; we label these “apps” and “infra”. The “esm-apps” stream covers all 'Universe' packages for ten years from the release of the LTS.
        </p>
        <p>
          The “esm-infra” stream covers 'Main' packages for the period after the standard five year security maintenance of 'Main' packages ends. We call this 'infra' because it is commonly used to build our private cloud, storage and kubernetes clusters, where 'Universe' packages are not typically deployed. You can get a lower-cost Ubuntu Pro (infra-only) subscription if you only want the infra components, which equates to our original ESM offering.
        </p>
        <div class="p-cta-block">
          <a href="/security/esm#get-in-touch">Get in touch&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="p-section--shallow">
      <div class="row--50-50">
        <hr class="p-rule" />
        <div class="col">
          <h2>What's covered?</h2>
        </div>
        <div class="col">
          <p>
            ESM continues security updates and <a href="/security/livepatch">kernel livepatching</a> for high and critical CVEs (Common Vulnerabilities and Exposures).
          </p>
        </div>
      </div>
    </div>
    <div class="p-section--shallow">
      <div class="u-fixed-width u-esm-overflow-table">
        <table class="p-table">
          <thead>
            <tr>
              <th width="25%">Release</th>
              <th width="25.5%">All packages in 'main' repository</th>
              <th width="25%">All packages in the 'universe' repository</th>
              <th width="10%">Kernel Livepatch</th>
              <th>Architectures supported with ESM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ubuntu 14.04 LTS (Trusty Tahr)</td>
              <td>May 2026</td>
              <td>n/a</td>
              <td>amd64</td>
              <td>amd64</td>
            </tr>
            <tr>
              <td>
                <a href="/16-04">Ubuntu 16.04 LTS (Xenial Xerus)</a>
              </td>
              <td>May 2028</td>
              <td>May 2028</td>
              <td>amd64</td>
              <td>amd64, s390x</td>
            </tr>
            <tr>
              <td>
                <a href="/18-04">Ubuntu 18.04 LTS (Bionic Beaver)</a>
              </td>
              <td>May 2030</td>
              <td>May 2030</td>
              <td>amd64</td>
              <td>amd64, arm64, s390x, ppc64el</td>
            </tr>
            <tr>
              <td>
                <a href="/20-04">Ubuntu 20.04 LTS (Focal Fossa)</a>
              </td>
              <td>May 2032</td>
              <td>May 2032</td>
              <td>amd64</td>
              <td>amd64, arm64, s390x, ppc64el, RISC-V</td>
            </tr>
            <tr>
              <td>Ubuntu 22.04 LTS (Jammy Jellyfish)</td>
              <td>May 2034</td>
              <td>May 2034</td>
              <td>
                amd64,
                <br />
                s390x
              </td>
              <td>amd64, arm64, s390x, ppc64el, RISC-V</td>
            </tr>
            <tr>
              <td>Ubuntu 24.04 LTS (Noble Numbat)</td>
              <td>May 2036</td>
              <td>May 2036</td>
              <td>
                amd64,
                <br />
                s390x
              </td>
              <td>amd64, arm64, s390x, ppc64el, RISC-V</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% call(slot) vf_quote_wrapper(
      title_text="What our customers say",
      quote_size="medium",
      quote_text="Keeping all software maintained is expensive, and hiring new developers with proficiency in older versions of PHP can be very expensive and difficult.",
      citation_source_name_text="Alyson Richens",
      citation_source_title_text="Customer Success Manager",
      citation_source_organisation_text="Games publishing company"
      ) -%}

      {%- if slot == 'heading_link' -%}
        <a href="#">All the success stories &rsaquo;</a>
      {%- endif -%}

      {%- if slot == 'cta' -%}
        <a href="/case-study/ubuntu-pro-support-for-games-developer">Read the full case study&nbsp;&rsaquo;</a>
      {%- endif -%}
    {% endcall -%}

    <div class="u-fixed-width">
      <div class="p-image-container--cinematic is-cover">
        {{ image(url="https://assets.ubuntu.com/v1/633150af-servers.png",
                alt="",
                width="2464",
                height="1027",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-image-container__image"},) | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-section--deep">
    <div class="row">
      <hr class="p-rule" />
      <div class="col-3">
        <div class="p-section--shallow">
          <h2>Learn more</h2>
        </div>
      </div>
      <div class="col-9 col-medium-6">
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Ubuntu 18.04 LTS out of standard security maintenance</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Ubuntu 18.04 LTS Bionic Beaver, one of the most popular Ubuntu releases, has reached the end of standard support. If you continue to run Ubuntu 18.04 LTS without ESM, you will not receive any security updates after 31 May 2023. Watch a webinar to explore your options.
              </p>
              <div class="p-cta-block">
                <a href="https://www.linkedin.com/events/7051935059137703936/comments/">Watch the webinar</a>
              </div>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">How to prepare for the Ubuntu 20.04 LTS end of standard security maintenance</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                It is crucial to plan out your next steps. Running Ubuntu 20.04 without ESM would mean you no longer receive security updates after May 2025. Unpatched CVEs could expose your systems to security breaches.
              </p>
              <div class="p-cta-block">
                <a href="/blog/ubuntu-20-04-lts-end-of-life-standard-support-is-coming-to-an-end-heres-how-to-prepare">Read the blog</a>
              </div>
            </div>
          </div>
        </div>
        <hr class="p-rule--muted" />
        <div class="p-section--shallow">
          <div class="row">
            <div class="col-3 col-medium-3">
              <h3 class="p-heading--5">Ubuntu Pro service description</h3>
            </div>
            <div class="col-6 col-medium-3">
              <p>
                Ubuntu Pro is Canonical's service package for Ubuntu. It offers tiered levels of support for desktop, server and cloud deployments.
              </p>
              <div class="p-cta-block">
                <a href="/legal/ubuntu-pro">Read the description</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Set default Marketo information for contact form below-->
  <div class="u-hide"
       id="contact-form-container"
       data-form-location="/shared/forms/interactive/esm"
       data-form-id="3764"
       data-lp-id=""
       data-return-url="https://ubuntu.com/security/thank-you?product=esm"
       data-lp-url=""></div>

{% endblock content %}
