<div class="global_tab">
  <div class="wrapper">
    <div class="row">
      <div class="strip-inner-wrapper">
        <style>
        .global_tab {
          background-color: #333;
          color: #f7f7f7;
          display: none;
          margin-top: 0;
          padding: 2rem 0;
        }
        .global_tab.is-open {
          display: block;
        }

        </style>
        <ul class="p-matrix u-clearfix">

          {# Ubuntu #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}ed348358-logo-cof.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://www.ubuntu.com/">Ubuntu</a></h3>
              <p class="p-matrix__desc">The world’s most popular Linux for servers, desktops and things, with enterprise support and enhanced security by Canonical.</p>
            </div>
          </li>

          {# MAAS #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}0de4fcd5-logo-maas-icon.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://maas.io">MAAS</a></h3>
              <p class="p-matrix__desc">Create a bare-metal cloud with Metal as a Service for IPAM and provisioning.</p>
            </div>
          </li>

          {# Landscape #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}e626604e-logo-landscape-icon.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://landscape.canonical.com/">Landscape</a></h3>
              <p class="p-matrix__desc">Systems management for Ubuntu - updates, package management, repositories, security, and regulatory compliance dashboards.</p>
            </div>
          </li>

          {# Juju #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}31c507a5-logo-juju-icon.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://jujucharms.com">Juju</a></h3>
              <p class="p-matrix__desc">Model-driven multi-cloud operations for applications. On-premise or on-cloud SAAS app store, with big data, k8s and openstack solutions.</p>
            </div>
          </li>

          {# LXD #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}425efe3a-lxd.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://linuxcontainers.org/">LXD</a></h3>
              <p class="p-matrix__desc">A pure-container hypervisor. Replace legacy app VMs with containers for speed and density.</p>
            </div>
          </li>

          {# Snaps #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}6fbb3483-snapcraft-default-snap-icon.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://snapcraft.io/">Snaps</a></h3>
              <p class="p-matrix__desc">A single secure package and auto-update system for Ubuntu, Debian, Arch, Centos, Amazon Linux.</p>
            </div>
          </li>

          {# OpenStack #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}a7916513-picto-openstack.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://www.ubuntu.com/openstack">OpenStack</a></h3>
              <p class="p-matrix__desc">The world’s first choice for OpenStack - the leader in density and cost per VM.</p>
            </div>
          </li>

          {# K8s #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}ed348358-logo-cof.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://www.ubuntu.com/kubernetes/">Kubernetes</a></h3>
              <p class="p-matrix__desc">Canonical works with Google GKE  and Azure AKS for app portability between private  and public infra.</p>
            </div>
          </li>

          {# Multipass #}
          <li class="p-matrix__item">
            <img class="p-matrix__img" src="{{ ASSET_SERVER_URL }}ed348358-logo-cof.svg" alt="icon">
            <div class="p-matrix__content">
              <h3 class="p-matrix__title"><a class="p-matrix__link" href="https://github.com/CanonicalLtd/multipass">Multipass</a></h3>
              <p class="p-matrix__desc">Ubuntu virtual machines on demand for Linux, MacOS and Windows for development and cloud prototyping.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h5 class="p-muted-heading">Other websites</h5>
      <ul class="p-list is-split">
        <li class="p-list__item">
          <h5><a href="https://wiki.ubuntu.com/Mir">Mir</a></h5>
          <p>Ultra-fast and light Wayland compositor for secure device display management.</p></li>
        <li class="p-list__item">
          <h5><a href="https://buy.ubuntu.com/">Enterprise support</a></h5>
          <p>Canonical supports Ubuntu for clouds, data centers and devices.</p>
        </li>
        <li class="p-list__item">
          <h5><a href="https://cloud-images.ubuntu.com/">Image service</a></h5>
          <p>A stream of hardened custom Ubuntu images on AWS, Google, KVM, VMware, MAAS, LXD.</p>
        </li>
        <li class="p-list__item">
          <h5><a href="https://conjure-up.io/">Conjure-up</a></h5>
          <p>Summon up a big-software stack as a "spell" using conjure-up to get you a fully installed and usable stack</p>
        </li>
      </ul>
    </div>

    <div class="row">
      <div class="col-12">
        <h5 class="p-muted-heading">Resources</h5>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item"><a href="https://www.brighttalk.com/search?q=Canonical">Webinars</a></li>
          <li class="p-inline-list__item"><a href="https://tutorials.ubuntu.com/">Tutorials</a></li>
          <li class="p-inline-list__item"><a href="https://www.youtube.com/user/celebrateubuntu">Videos</a></li>
          <li class="p-inline-list__item"><a href="https://insights.ubuntu.com/category/case-studies">Case studies</a></li>
          <li class="p-inline-list__item"><a href="https://insights.ubuntu.com/category/white-papers">White papers</a></li>
          <li class="p-inline-list__item"><a href="https://docs.ubuntu.com">Docs</a></li>
          <li class="p-inline-list__item"><a href="https://www.ubuntu.com/cloud/training">Training</a></li>
          <li class="p-inline-list__item"><a href="https://insights.ubuntu.com">Blog</a></li>
          <li class="p-inline-list__item"><a href="https://developer.ubuntu.com/">Developer</a></li>
          <li class="p-inline-list__item"><a href="https://www.ubuntu.com/download">Install</a></li>
          <li class="p-inline-list__item"><a href="https://www.ubuntu.com/download/">Download</a></li>
        </ul>
        <h5 class="p-muted-heading">About</h5>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item"><a href="https://www.ubuntu.com/about">Ubuntu</a></li>
          <li class="p-inline-list__item"><a href="https://www.canonical.com/about">Canonical</a></li>
          <li class="p-inline-list__item"><a href="https://insights.ubuntu.com/press-centre">Press centre</a></li>
          <li class="p-inline-list__item"><a href="https://partners.ubuntu.com/">Partners</a></li>
          <li class="p-inline-list__item"><a href="https://shop.canonical.com">Merchandise</a></li>
      </div>
    </div>
  </div>
</div>
