<div class="p-tab--community u-no-margin--top">
  <div class="wrapper">
    <div class="row">
      <div class="strip-inner-wrapper">
        <style>
        .p-tab--community {
          background-color: #f7f7f7;
          color: #111111;
          display: none;
          padding: 2rem 0;
        }
        .p-tab--community.is-open {
          display: block;
        }
        .p-tab--community h5 {
          font-size: 1.1rem;
        }
        .p-tab--community h4 {
          font-size: 1.2rem;
        }
        .p-tab--community p, .p-tab--community li {
          font-size: 0.85rem;
        }
        </style>
        <div class="row p-divider">
          <div class="col-4 p-divider__block">
            <h4>Participate</h4>
            <p>Explore the <a class="p-link--external" href="https://community.ubuntu.com/">Ubuntu community hub</a>, a resource for community coordination of the Ubuntu project</p>

            <p>Join the <a class="p-link--external" href="https://ubuntuforums.org/">Ubuntu forums</a> and help people solve problems and make friends</p>

            <p>Join an <a class="p-link--external" href="http://loco.ubuntu.com/">Ubuntu Local Community (loco) team</a> and help people near you</p>

          </div>
          <div class="col-4 p-divider__block">
            <h4>Learn</h4>

            <p>Use our step-by-step <a class="p-link--external" href="https://tutorials.ubuntu.com">Ubuntu Tutorials</a> to do everything from installing Ubuntu to setting up various services and tools</p>

            <p>Or your can read the docs, for <a class="p-link--external" href="http://help.ubuntu.com">desktop and server</a> or <a class="p-link--external" href="https://docs.ubuntu.com/">MAAS, Juju, Snapcraft and Ubuntu Core</a> docs</p>

            <p>Discover community generated how-to’s, tips, tricks and hacks on the <a class="p-link--external" href="https://help.ubuntu.com/community/CommunityHelpWiki">community help wiki</a></p>

            <p>Stay up to date with the latest Ubuntu news stories and resources on our <a class="p-link--external" href="https://insights.ubuntu.com">insights blog</a></p>


          </div>
          <div class="col-4 p-divider__block">
            <p class="u-float-right" style="margin-top: -1rem;"><a href="#" onClick="document.getElementsByClassName('p-tab--community')[0].classList.toggle('is-open')">(x) close</a></p>

            <h5 style="margin-top: 0;">Resources</h5>

            <p><a class="p-link--external" href="https://community.ubuntu.com/t/internet-relay-chat/24/1">Internet Relay Chat (IRC)</a><br />
              Help people navigate the Ubuntu world by joining an Internet Relay Chat such as #ubuntu</p>

            <p><a class="p-link--external" href="https://community.ubuntu.com/t/launchpad-answers/23/1">Launchpad Answers</a><br />
              Help solve problems on Launchpad Answers, a place where Ubuntu developers and testers are likely to hang out</p>

            <p><a class="p-link--external" href="https://community.ubuntu.com/t/ask-ubuntu/21/1">Ask Ubuntu</a><br />
              Share your technical know-how with others by answering questions</p>

            <p><a class="p-link--external" href="https://community.ubuntu.com/t/community-support/709">More community support</a><br />
              Find support from a variety of sources</p>

              <p><a href="/download">Download Ubuntu</a><br />
                Ubuntu is completely free to download, use and share</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
