<div class="enterprise-tab">
  <div class="wrapper">
    <div class="row">
      <div class="strip-inner-wrapper">
        <style>
        .enterprise-tab {
          background-color: #f7f7f7;
          color: #111111;
          display: none;
          padding: 2rem 0;
        }
        .enterprise-tab.is-open {
          display: block;
        }
        .enterprise-tab h5 {
          font-size: 1.1rem;
        }
        .enterprise-tab h4 {
          font-size: 1.2rem;
        }
        .enterprise-tab p, .enterprise-tab li {
          font-size: 0.85rem;
        }
        </style>
        <div class="row p-divider">
          <div class="col-4 p-divider__block">

            <h4>Containers</h4>

            <p>Dramatically improve VM density with <a href="https://linuxcontainers.org/">LXD</a> containers for traditional apps, and build new cloud-native apps with <a href="https://www.ubuntu.com/kubernetes">Kubernetes on Ubuntu</a>, for portability across Google and Azure cloud kubernetes services. Ubuntu is the <a href="https://www.ubuntu.com/containers/docker-ubuntu">top OS for Docker deployment and ops</a>.</p>

            <h4>Private cloud</h4>

            <p>For private clouds we offer fully managed <a href="https://www.ubuntu.com/openstack">Openstack</a> as a cost-effective VMware replacement. Ubuntu is the top platform for OpenStack in large-scale deployments.</p>

            <h4>Internet of Things</h4>

            <p><a href="https://snapcraft.io">Snaps</a> are secure Linux  packages with automatic updates for devices and desktops. <a href="https://www.ubuntu.com/core">Ubuntu Core</a> is a high-security version of Ubuntu with full over-the-air updates for every component in the system, supported on ARM and Intel SBCs and SoCs.</p>

            <h4>Public cloud</h4>

            <p>Ubuntu is the OS most used on <a href="https://www.ubuntu.com/cloud/public-cloud">AWS</a>, <a href="https://www.ubuntu.com/cloud/public-cloud">Azure</a>, and <a href="https://www.ubuntu.com/cloud/public-cloud">Google Cloud</a> and is the default OS for <a href="https://www.ubuntu.com/cloud/public-cloud">Google Kubernetes</a> and the <a href="https://www.ubuntu.com/cloud/public-cloud">Azure Kubernetes Service</a>. We offer <a href="https://www.ubuntu.com/support">enterprise support for cloud users</a> of Ubuntu.</p>


          </div>
          <div class="col-4 p-divider__block">

            <h4>Data centre</h4>

            <p>Turn your DC into a bare metal cloud with <a href="https://maas.io">Metal as a Service</a>, for instant server provisioning of Windows, Ubuntu, Centos and custom images.</p>

            <p>Model-driven operations with <a href="https://jujucharms.io">Juju</a> enable multi-cloud application deployment and management.</p>

            <h4>Systems management</h4>

            <p>Manage your Ubuntu systems with <a href="https://landscape.canonical.com">Landscape</a>, consistently rated the best Linux management system.</p>

            <p><a href="https://www.ubuntu.com/server/livepatch">Canonical Livepatch</a> applies critical kernel security fixes without reboot - for long-term stability and container hosts.</p>

            <p>Get enterprise support from Canonical with <a href="https://www.ubuntu.com/support">Ubuntu Advantage</a>.</p>


          </div>
          <div class="col-4 p-divider__block">
            <p class="u-float-right" style="margin-top: -1rem;"><a href="#" onClick="document.getElementsByClassName('enterprise-tab')[0].classList.toggle('is-open')">(x) close</a></p>

            <h5 style="margin-top: 0;">Resources</h5>

            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item"><a href="https://www.brighttalk.com/search?q=Canonical">Webinars</a></li>
              <li class="p-inline-list__item"><a href="https://tutorials.ubuntu.com/">Tutorials</a></li>
              <li class="p-inline-list__item"><a href="https://www.youtube.com/user/celebrateubuntu">Videos</a></li>
              <li class="p-inline-list__item"><a href="https://insights.ubuntu.com/category/case-studies">Case studies</a></li>
              <li class="p-inline-list__item"><a href="https://insights.ubuntu.com/category/white-papers">White papers</a></li>
              <li class="p-inline-list__item"><a href="https://docs.ubuntu.com">Docs</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/cloud/training">Training</a></li>
              <li class="p-inline-list__item"><a href="https://insights.ubuntu.com">Blog</a></li>
              <li class="p-inline-list__item"><a href="https://insights.ubuntu.com/press-centre/">Press Centre</a></li>
            </ul>

            <h5>Support</h5>

            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/support">Enterprise Support</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/">Security</a></li>
              <li class="p-inline-list__item"><a href="https://certification.ubuntu.com/">Hardware certification</a></li>
            </ul>

            <h5>Consulting services</h5>

            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/support">Ubuntu</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/cloud/foundation-cloud">OpenStack</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/kubernetes/managed">Kubernetes</a></li>
              <li class="p-inline-list__item"><a href="https://snapcraft.io">Snapcraft</a></li>
              <li class="p-inline-list__item"><a href="https://jujucharms.io">Charming</a></li>
            </ul>

            <h5>Fully managed infra</h5>

            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/cloud/managed-cloud">OpenStack</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/kubernetes/manage">Kubernetes</a></li>
              <li class="p-inline-list__item">PostgreSQL</li>
            </ul>

            <h5>Sector starting points</h5>

            <ul class="p-inline-list--middot">
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/telecommunications">Telco</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/financial-services">Finance</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/internet-of-things/digital-signage">Signage</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/internet-of-things/robotics">Robotics</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/internet-of-things/gateways">Gateways</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/desktop/government">Government</a></li>
              <li class="p-inline-list__item"><a href="https://www.ubuntu.com/desktop/education">Education</a></li>
            </ul>

            <h4>Downloads</h4>

            <h5><a href="https://www.ubuntu.com/download/server">Ubuntu Server</a></h5>

            <p>Most popular server Linux in the cloud and data centre</p>

            <h5><a href="https://developer.ubuntu.com/core/get-started">Ubuntu Core for IoT</a></h5>

            <p>Tiny and transactional Ubuntu for IoT and cloud</p>

            <h5><a href="https://www.ubuntu.com/download/desktop">Ubuntu for desktop</a></h5>

            <p>Safe, secure and easy to use desktop</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
