<div class="fade-animation u-hide" id="community-tab-content">
  <div class="dropdown-window__content">
    <div class="row">
      <div class="col-4">
        <h4 class="is-dense">Support</h4>
        <p class="p-p-small">Ask Ubuntu is a question and answer site for Ubuntu users and developers.</p>
        <p><a class="p-button--positive" href="https://askubuntu.com/">Ask Ubuntu</a></p>
        <ul class="p-text-list--small is-bordered">
          <li class="p-list__item"><a href="https://ubuntuforums.org/">Find help in the forums</a></li>
          <li class="p-list__item"><a href="https://help.ubuntu.com/">Browse the official documentation</a></li>
          <li class="p-list__item"><a href="https://tutorials.ubuntu.com/">Find step-by-step tutorials</a></li>
          <li class="p-list__item"><a href="https://help.ubuntu.com/community/InternetRelayChat">Ask questions directly on Internet relay chat (IRC) channels</a></li>
          <li class="p-list__item"><a href="/support">Canonical offers support packages for enterprises</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="is-dense">Participate</h4>
        <p class="p-p-small">The Ubuntu Community Hub is the meeting point for contributors and the Ubuntu community.</p>
        <p><a class="p-button--positive" href="https://community.ubuntu.com/">Ubuntu community hub</a></p>
        <ul class="p-text-list--small is-bordered">
          <li class="p-list__item"><a href="https://askubuntu.com/">Answering questions on Ask Ubuntu</a></li>
          <li class="p-list__item"><a href="https://ubuntuforums.org/">Join the forums</a></li>
          <li class="p-list__item"><a href="https://community.ubuntu.com/t/translations/32">Translate apps into your first language</a></li>
          <li class="p-list__item"><a href="https://wiki.ubuntu.com/DocumentationTeam/SystemDocumentation">Writing documentation</a></li>
          <li class="p-list__item"><a href="https://www.ubuntu.com/download/desktop/thank-you">Ubuntu is free of charge, buy you can donate</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h4 class="is-dense">Ethos</h4>
        <p class="p-p--small">The mission of Ubuntu is to bring the benefits of free software to the widest possible audience.</p>
        <p><a class="p-button--positive" href="https://community.ubuntu.com/">Read about our open source mission</a></p>
        <ul class="p-text-list--small is-bordered">
          <li class="p-list__item"><a href="https://www.ubuntu.com/community/code-of-conduct">Ubuntu Code of Conduct</a></li>
          <li class="p-list__item"><a href="https://www.ubuntu.com/community/diversity">The Ubuntu project welcomes everyone</a></li>
          <li class="p-list__item"><a href="https://community.ubuntu.com/t/what-is-the-ubuntu-community-council/706">Community Council</a></li>
          <li class="p-list__item"><a href="https://www.canonical.com/">Canonical &mdash; the company behind Ubuntu</a></li>
        </ul>
      </div>
    </div>
    <div class="row"><hr></div>
    <div class="row">
      <div class="col-3">
        <h4 class="p-muted-heading--small">Connect</h4>
      </div>
      <div class="col-9">
        <ul class="p-inline-list--middot is-x-dense">
          <li class="p-inline-list__item"><a href="https://blog.ubuntu.com/">Ubuntu blog</a></li>
          <li class="p-inline-list__item"><a href="https://wiki.ubuntu.com/UbuntuWeeklyNewsletter">Ubuntu weekly newsletter</a></li>
          <li class="p-inline-list__item"><a href="http://planet.ubuntu.com/">Ubuntu planet</a></li>
          <li class="p-inline-list__item"><a href="https://wiki.ubuntu.com/Teams">Ubuntu teams</a></li>
          <li class="p-inline-list__item"><a href="http://loco.ubuntu.com/teams/">LoCo teams</a></li>
          <li class="p-inline-list__item"><a href="https://lists.ubuntu.com/">Mailing lists</a></li>
          <li class="p-inline-list__item"><a href="https://help.ubuntu.com/community/InternetRelayChat">IRC</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
