{% load versioned_static  %}
<!doctype html>

<html class="no-js{% block extra_html_class %}{% endblock %}" lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://www.gstatic.com">
    <link rel="preconnect" href="https://assets.ubuntu.com">

    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>

    {% block content-experiment %}{% endblock %}

    {% include "templates/_tag_manager.html" %}

    <meta charset="UTF-8" />
    <meta name="description" content="{% block meta_description %}{{ meta_description | default:"Ubuntu is an open source software operating system that runs from the desktop, to the cloud, to all your internet connected things."}}{% endblock %}" />
    <meta name="author" content="Canonical" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% include "templates/_extra_metadata.html" %}
    <meta name="copydoc" content="{% block meta_copydoc %}https://drive.google.com/drive/folders/0B4s80tIYQW4BMjNiMGFmNzQtNDkxZC00YmQ0LWJiZWUtNTk2YThlY2MzZmJh{% endblock %}" />

    <title>{% block title %}{{ title }}{% endblock %} | Ubuntu</title>

    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://assets.ubuntu.com">

    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>

    <link rel="canonical" href="{% block canonical_url %}https://ubuntu.com{{ request.get_full_path }}{% endblock %}" />

    <link rel="icon" type="image/png" href="{{ ASSET_SERVER_URL }}cb22ba5d-favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ ASSET_SERVER_URL }}49a1a858-favicon-32x32.png" sizes="32x32" />

    <link rel="apple-touch-icon" sizes="144x144" href="{{ ASSET_SERVER_URL }}3361409d-apple-touch-icon-144x144-precomposed.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ ASSET_SERVER_URL }}5fe4d3c8-apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ ASSET_SERVER_URL }}09460d9a-apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon" href="{{ ASSET_SERVER_URL }}c39e0fed-apple-touch-icon.png" />
    <link type="text/plain" rel="author" href="{% versioned_static 'files/humans.txt' %}" />

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% versioned_static 'css/styles.css' %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% versioned_static 'css/print.css' %}" />

    <script>
      var html = document.documentElement
      html.classList.replace("no-js", "js");
    </script>

    {% block head_extra %}{% endblock %}

    {% block crazy_egg %}{% endblock crazy_egg %}
    <!-- google webmaster tools verification -->
    <meta name="google-site-verification" content="ddh2iq7ZuKf1LpkL_gtM_T7DkKDVD7ibq6Ceue4a_3M" />
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!-- google tag manager -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K92JCQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- end google tag manager -->
    {% include "templates/_navigation.html" %}

    <div class="wrapper u-no-margin--top">
      <div id="main-content" class="inner-wrapper">
        {% block content_head %}{% endblock %}
        {% block content_container %}
          {% block outer_content %}
          {% endblock outer_content %}
        {% endblock content_container %}
      </div><!-- /.inner-wrapper -->
    </div><!-- /.wrapper -->

    <!-- footer content goes here -->
    {% include "templates/footer.html" %}
    {% include "shared/_polyfill.html" %}
    {% if "/whitepapers" not in request.path  %}
    <!-- form validation -->
      {% include "shared/forms/_form-validation.html" %}
    {% endif %}
    <script src="{% versioned_static 'js/build/main.min.js' %}"></script>
    <script src="{{ ASSET_SERVER_URL }}f5bf3854-respond.min.js"></script>
    {% block footer_extra %}{% endblock %}
  </body>
</html>
