<nav class="dropdown-window__content-container">
  <div class="dropdown-window__content p-strip is-shallow">
    <div class="row">
      <div class="col-12">
        <h3>Group 1</h3>
      </div>

      <div class="col-3">
        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="#">Item 1</a>
            </h3>
            <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
          </div>
        </div>

        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="#">Item 2</a>
            </h3>
            <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <ul class="p-list">
          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="#">Item 3</a>
              </h3>
              <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
            </div>
          </div>

          <div class="p-media-object">
            <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
            <div class="p-media-object__details">
              <h3 class="p-media-object__title">
                <a href="#">Item 4</a>
              </h3>
              <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
            </div>
          </div>
        </ul>
      </div>
      
      <div class="col-3">
        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="#">Item 5</a>
            </h3>
            <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
          </div>
        </div>

        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="#">Item 6</a>
            </h3>
            <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
          </div>
        </div>
      </div>

      <div class="col-3">
        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="#">Item 7</a>
            </h3>
            <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
          </div>
        </div>

        <div class="p-media-object">
          <img src="https://assets.ubuntu.com/v1/ffa86aa2-cof-orange-cropped.svg" class="p-media-object__image" alt="">
          <div class="p-media-object__details">
            <h3 class="p-media-object__title">
              <a href="#">Item 8</a>
            </h3>
            <p class="p-media-object__content">Ut enim ad minim veniam, quis nostrud commodo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
