{% extends "engage/base_engage.html" %}

{% block title %}BotsAndUs builds a social robot on Ubuntu{% endblock %}
{% block meta_description %}To bring its robot, Bo, to market, BotsAndUs needed an OS that could support the wide variety of hardware and software involved in the product; and the robotics company quickly discovered that Ubuntu offered the ideal combination of versatility and suitability for embedded projects.{% endblock %}
{% block meta_image %}4d0d4cc5-botsandus-logo.svg{% endblock %}

{% block meta_copydoc %}https://app-sjg.marketo.com/#LP5959A1LA1{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--light">
  <div class="u-fixed-width navigation-logo-engage">
    <a href="/">
      {{
        image(
          url="https://assets.ubuntu.com/v1/04115a7e-ubuntu_black-orange_hex.svg",
          alt="Ubuntu",
          height="32",
          width="143",
          hi_def=True,
          loading="auto"
        ) | safe
      }}
    </a>
  </div>
  <div class="row u-equal-height">
    <div class="col-7  u-vertically-center">
      <div>
      <h1 class="u-no-margin--bottom">
        BotsAndUs builds a social robot on Ubuntu
      </h1>


      <br class="u-hide--medium u-hide--large">
      <p class="u-hide--medium u-hide--large">
        <a href="#the-form" class="p-button--neutral">
          Download the case study
        </a>
      </p>
      </div>
    </div>
    <div class="col-5 u-hide--small u-align--center u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/4d0d4cc5-botsandus-logo.svg",
          alt="",
          height="91",
          width="340",
          hi_def=True,
          loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-7">
      <p>Manufacturing a hardware product is a complicated process – especially for a start-up building a ground-breaking customer service robot.</p>
      <p>To bring its robot, Bo, to market, BotsAndUs needed an OS that could support the wide variety of hardware and software involved in the product; and the robotics company quickly discovered that Ubuntu offered the ideal combination of versatility and suitability for embedded projects. With Ubuntu, choosing and integrating hardware and software is easy, guaranteeing a smooth path to production for Bo.</p>
      <h4>Highlights</h4>
      <ul class="p-list">
        <li class="p-list_item is-ticked">BotsAndUs chose Ubuntu as the OS for its flagship robot, Bo</li>
        <li class="p-list_item is-ticked">Ubuntu offers extensive hardware support, widespread support from third-party vendors, and compatibility with ROS</li>
        <li class="p-list_item is-ticked">Selecting and integrating hardware and software is easy with Ubuntu – significantly streamlining the path to production</li>
      </ul>
    </div>
    <div class="col-5" id="the-form">
    {% with id="2814", returnURL="https://pages.ubuntu.com/BotsAndUs_CS-TY.html", cta="Download the case study" %}{% include "engage/shared/_en_engage_form.html" %}{% endwith %}
    </div>
  </div>
</section>
{% endblock content %}
