{% extends "engage/base_engage.html" %}

{% block title %}IMS Evolve adopts Ubuntu Core to provide IoT-enabled business intelligence in the supply chain{% endblock %}
{% block meta_description %}Find out how IMS Evolve adopted Ubuntu Core running on Dell Edge Gateways to run the cold-chain solutions of some of the recognisable food retailers.{% endblock %}
{% block meta_image %}0492e7d8-ims-logo.svg{% endblock %}

{% block meta_copydoc %}https://app-sjg.marketo.com/#LP5768A1LA1{% endblock meta_copydoc %}

{% block content %}

{% with 
  title="IMS Evolve adopts Ubuntu Core to provide IoT-enabled business intelligence in the supply chain", 
  header_image="0492e7d8-ims-logo.svg", 
  header_image_height="49",
  header_image_width="250",
  url="#the-form", 
  cta="Download the case study" 
  %}{% include "engage/shared/_header.html" %}{% endwith %}

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-7">
      <p>IMS Evolve has delivered rapidly scalable IoT Solutions to the world’s largest food retailers, from their refrigeration systems to their petrol filling stations. Overall, IMS Evolve’s systems monitor 25 million data points every minute of every day, and manage almost 98,000 sites across 12 countries.</p>
      <p>They needed a partner that shared the same internet of things vision to harness the untapped data from legacy infrastructures to benefit businesses and the wider economy. At the same time, it was looking for an edge solution that employed a highly resilient, reliable and secure OS, that would minimise the need for maintenance or manual intervention. Find out how IMS Evolve adopted Ubuntu Core running on Dell Edge Gateways to run the cold-chain solutions of some of the recognisable food retailers.</p>
      <h4>Highlights</h4>
      <ul class="p-list">
        <li class="p-list_item is-ticked">Ubuntu Core at the heart of large-scale, stable and secure industrial IoT solution</li>
        <li class="p-list_item is-ticked">IMS Evolve’s solution allows customers to extract maximum value from valuable, business-critical cold chain assets</li>
        <li class="p-list_item is-ticked">One retailer realised energy savings of $7m in one year</li>
      </ul>
    </div>
    <div class="col-5" id="the-form">
    {% with id="2568", returnURL="https://pages.ubuntu.com/CS_IMS_Evolve_TY.html", cta="Download the case study" %}{% include "engage/shared/_en_engage_form.html" %}{% endwith %}
    </div>
  </div>
</section>
{% endblock content %}
