{% extends "engage/base_engage.html" %}

{% block title %}How Ubuntu helped InnovaPOS revolutionise the vending machine industry{% endblock %}
{% block meta_description %}The smart vending machines market is on the rise with estimates of 2.7 million to be sold by 2020 with Asia Pacific predicted to be the fastest growing region with a CAGR of 15% over the same period.{% endblock %}
{% block meta_image %}9adee0e2-innova+_POS.png{% endblock %}

{% block meta_copydoc %}https://app-sjg.marketo.com/#LP4877A1LA1{% endblock meta_copydoc %}

{% block content %}

{% with 
  title="How Ubuntu helped InnovaPOS revolutionise the vending machine industry", 
  header_image="9adee0e2-innova+_POS.png", 
  header_image_height="206",
  header_image_width="250",
  url="#the-form", 
  cta="Download the case study" 
  %}
  {% include "engage/shared/_header.html" %}{% endwith %}

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-7">
      <p>The smart vending machines market is on the rise with estimates of 2.7 million to be sold by 2020 with Asia Pacific predicted to be the fastest growing region with a CAGR of 15% over the same period. It is this opportunity that Spanish company InnovaPOS, founded in 2014, was created to spearhead. Their vision and creativity has seen them do this successfully, now operating over 30,000 smart vending machines for big brands such as Coca-Cola, Audi and LVMH in more than 120 countries.</p>
      <h4>Highlights</h4>
      <ul class="p-list">
        <li class="p-list_item is-ticked">InnovaPOS re-inventing the traditional vending machine for the benefit of consumers and brands</li>
        <li class="p-list_item is-ticked">Advanced functionality enhances personalisation, interaction and operational management</li>
        <li class="p-list_item is-ticked">Desire for innovation, security and stability led InnovaPOS to use Ubuntu</li>
      </ul>
    </div>
    <div class="col-5" id="the-form">
    {% with id="2050", returnURL="https://pages.ubuntu.com/IoT-InnovaPOS-CS-TY.html", cta="Download the case study" %}{% include "engage/shared/_en_engage_form.html" %}{% endwith %}
    </div>
  </div>
</section>
{% endblock content %}
