{% extends "engage/base_engage.html" %}

{% block title %}Register for WSLConf{% endblock %}
{% block meta_description %}Join us for two days of community, workshops, and talks on Windows Subsystem for Linux.{% endblock %}
{% block meta_image %}20fd85e8-Embedded+social+media+banner+2.jpg{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1X_sAqWQZZVj73I6aY-oILDN4d5FuYTZTXebv6JQoLjQ{% endblock %}

{% block content %}

<section class="p-strip p-engage-banner--grad">
  <div class="u-fixed-width navigation-logo-engage">
    <a href="/">
      <img src="https://assets.ubuntu.com/v1/f263d9c4-logo-ubuntu-white.svg" width="143" height="32" alt="Ubuntu">
    </a>
  </div>
  <div class="row u-equal-height">
    <div class="col-7 u-vertically-center">
      <div>
        <h1>Register for WSLConf</h1>
        <h4>Join us for two days of community, workshops, and talks on Windows Subsystem for Linux.</h4>
      </div>
      
      <noscript>
        <p>
          <a class="p-button--positive p-link--external" href="https://www.eventbrite.com/e/wslconf-tickets-83357202637" rel="noopener noreferrer" target="_blank">
            Register on Eventbrite
          </a>
        </p>
      </noscript>
  
      <!-- hidden by default so isn't displayed with JS disabled -->
      <p class="u-hide" id="wslconf-button">
        <button class="p-button--positive" id="eventbrite-widget-modal-trigger-83357202637" type="button">Sign up</button>
      </p>
      <script>
        var wslconfBtn = document.getElementById("wslconf-button");
        wslconfBtn.classList.remove("u-hide");
      </script>

      <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
  
      <script>
        // Button widget
        window.EBWidgets.createWidget({
          widgetType: 'checkout',
          eventId: '83357202637',
          modal: true,
          modalTriggerElementId: 'eventbrite-widget-modal-trigger-83357202637',
          iframeContainerId: 'eventbrite-widget-container-83357202637',
          iframeContainerHeight: 425 // default
        });

        // Form widget
        window.EBWidgets.createWidget({
          widgetType: 'checkout',
          eventId: '83357202637',
          iframeContainerId: 'eventbrite-widget-container-83357202637',
          iframeContainerHeight: 865
        });
      </script>
    </div>
  </div>
</section>

<section class="p-strip is-shallow is-bordered">
  <div class="row">
    <div class="col-8">
      <p>WSLConf is a community-organised event on all things Windows Subsystem for Linux and WSL-related. The event will include two days of workshops, presentations, and networking events for developers, sysadmins, and power users on WSL.</p>
      <p>Hear from and interact with:</p>
      <ul>
        <li>Windows Subsystem for Linux team at Microsoft</li>
        <li>Ubuntu on WSL team from Canonical</li>
        <li>Patrick Wu, the creator of WSL Utilities</li>
        <li>Carlos Ramirez and the team behind Pengwin, Pengwin Enterprise, and Fedora Remix for WSL</li>
        <li>Simon Ferquel from the Docker team who created the new WSL2-powered Docker Desktop</li>
      </ul>      
      <p>Topics will include:</p>
      <ul>
        <li>The new Docker Desktop for Windows</li>
        <li>microk8s on WSL2</li>
        <li>Using WSL in IT administration and DevOps</li>
        <li>Cross-platform C++ development with Visual Studio and WSL</li>
        <li>WSL integration with CLion</li>
        <li>The story behind Pengwin</li>
      </ul>
      <p>WSLConf was created by the founder of Pengwin, Hayden Barnes, and is sponsored by Canonical.</p>
      <p>WSLconf is being held on the campus of Microsoft Headquarters.</p>
      <p>March 10-11, 2020</p>
      <p>
        Microsoft Reactor<br>
        Building 20<br>
        Microsoft HQ<br>
        3709 NE 39th Street<br>
        Redmond, WA
      </p>
      <p>WSLConf will be free. Space is limited.</p>
    </div>
  </div>
</section>

<!-- the contents of this get shown in a modal when the sign up button is clicked -->
<div class="u-hide" id="eventbrite-widget-container-83357202637"></div>

{% endblock %}
