{% extends "hpe/_base_hpe.html" %}

{% block title %}HPE{% endblock title %}

{% block meta_description %}Forged on the strengths of Ubuntu, the HPE and Canonical partnership has expanded to successfully deliver open source deployment, management and support services for the entire stack.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1A2__NxIU6jFKprs5thPNtIPfOc7E9VhZEoPFu01lT_8/edit{% endblock meta_copydoc %}
{% block content %}

<section class="p-strip--suru-bottomed">
  <div class="row">
    <div class="col-7">
      <h1>HPE and Canonical</h1>
      <p class="p-heading--4">We are powering HPE edge-to-cloud infrastructure with Canonical proven, innovative and competitive open source software services.</p>
      <p>Canonical provides HPE the capacity to support everything open source.</p>
      <p>HPE and Canonical have a long-standing relationship, certifying Ubuntu on HPE hardware. Now, you can go beyond the operating system and engage with us on hybrid cloud, AI/ML, and open source support projects.</p>
      <p>
        <a href="/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
      </p>
    </div>
    <div class="col-5 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/c6a96b9a-logos-canonical+hpe.svg",
        alt="",
        width="400",
        height="167",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-7">
      <h2>The trusted source for open source</h2>
      <p>Canonical and HPE partner to deliver to enterprise and service providers the best open source solutions and support. Beyond Ubuntu support, we have created reference designs and centers of expertise for the deployment of OpenStack, Kubernetes, Ceph, AI/ML and open source applications.</p>
    </div>
    <div class="col-5 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/e2e1bd2b-Charmed+Kubernetes+Settings.svg",
        alt="",
        width="291",
        height="200",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="row u-vertically-center">
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/91b86713-Enterprise_support.svg",
        alt="",
        width="200",
        height="230",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-7">
      <h2>Enterprise Business</h2>
      <p>HPE and Canonical have worked together to build a validated architecture for Openstack and Kubernetes. These validated designs include the software, hardware, and integration components for a comprehensive cloud infrastructure.</p>
      <p>HPE and Canonical provide the support and services that the customers need to stand up production-grade OpenStack clusters, kubernetes and storage.</p>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="row u-vertically-center">
    <div class="col-7">
      <h2>Ubuntu Tier1 operating system for HPE hardware</h2>
      <p>HPE and Canonical have a long-standing relationship, certifying Ubuntu on HPE hardware. Ubuntu is Tier 1 operating system on HPE hardware.</p>
    </div>
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/9cb01800-Hardware_Easy.svg",
        alt="",
        width="302",
        height="180",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="row u-vertically-center">
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/168111aa-Cloud+migration.svg",
        alt="",
        width="200",
        height="200",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-7">
      <h2>From small scale to very large private cloud</h2>
      <p>HPE and Canonical deliver and support small clouds as well as large one, for example a +1000 servers cloud in India with two data centers and +1200 servers.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-vertically-center">
    <div class="col-7">
      <h2 class="p-heading--5">Resources</h2>
      <h2>Certified Hardware</h2>
      <p>Ubuntu certified hardware has passed our extensive testing and review process, ensuring that Ubuntu runs well out of the box, ready for your organisation. We work closely with HPE to make Ubuntu available on a wide range of its hardware.</p>
      <p><a class="p-button" href="/certified/servers?vendor=HPE">Ubuntu Certified Servers</a></p>
      <p><a class="p-button" href="https://techlibrary.hpe.com/us/en/enterprise/servers/supportmatrix/ubuntu.aspx">HPE Support and Certification Matrix</a></p>
    </div>
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/b0c39daa-HPE_ProLiant_Gen10_Family.jpg",
        alt="",
        width="1923",
        height="1064",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="row u-vertically-center">
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/a92ccd2e-hpe-telco.png",
        alt="",
        width="237",
        height="250",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-7">
      <h2>Reference Architecture</h2>
      <p>HPE and Canonical designed this architecture guide for making it easy for customers to build their own operational readiness cluster and design their initial offerings.</p>
      <p><a class="p-button" href="/engage/hpe-telco-validated-design-with-canonical-kubernetes">Kubernetes Reference Architecture</a></p>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>  

  <div class="row u-vertically-center">
    <div class="col-7">
      <h2>Canonical at a Glance</h2>
      <p>Download this summary portfolio and discover how to help your customers with Canonical and HPE joint offers.</p>
      <p><a class="p-button" href="/engage/hpe-battle-card">Download</a></p>
    </div>
    <div class="col-5 u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/bc4bc581-battle-card-hpe.png",
        alt="",
        width="237",
        height="250",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}      
    </div>
  </div>  
</section>

<section id="contact-us" class="p-strip--light">
  <div class="row">
    <div class="col-7">
      <h2>Contacts</h2>
      <p>Do you want more information about the Canonical and HPE partnership or how to purchase our joint solutions? Contact us!</p>
      <p><a href="/contact-us" class="p-button js-invoke-modal">Send us a message</a></p>
    </div>
    <div class="col-5 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
        alt="",
        width="211",
        height="150",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h3 class="p-heading--4">Canonical</h3>
      <p class="u-no-margin--bottom"><strong>Alliance Business Director</strong> 
      <p>valerie.noto@canonical.com</p>
      <p class="u-no-margin--bottom"><strong>Alliance Manager</strong> 
      <p>omar.rashid@canonical.com</p>
    </div>
    <div class="col-6">
      <h3 class="p-heading--4">HPE</h3>
      <p class="u-no-margin--bottom"><strong>Technology Partner Program</strong> 
      <p>tam.vuong@hpe.com</p>
      <p class="u-no-margin--bottom"><strong>Certification Program</strong> 
      <p class="u-no-margin--bottom">nery-gabriela.herrera@hpe.com</p>
      <p>karen.skweres@hpe.com</p>    
    </div>
  </div>
</section>

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/hpe" data-form-id="4563" data-lp-id="" data-return-url="/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>

{% endblock content %}
