    <div class="carousel-container-overlay not-for-small"></div>
    <div id="carousel-container" class="carousel not-for-small">
        <div class="carousel-topbar"></div>
        <ul>
            <li><img src="//assets.ubuntu.com/v1/e999258a-slide-one.png" alt="Cave"></li>
            <li><img src="//assets.ubuntu.com/v1/cdd451ba-slide-two.png" alt="Cave"></li>
            <li><img src="//assets.ubuntu.com/v1/c9efb962-slide-three.png" alt="Cave"></li>
            <li><img src="//assets.ubuntu.com/v1/0285832f-slide-four.png" alt="Cave"></li>
            <li><img src="//assets.ubuntu.com/v1/e999258a-slide-one.png" alt="Cave"></li>
            <li><img src="//assets.ubuntu.com/v1/cdd451ba-slide-two.png" alt="Cave"></li>
            <li><img src="//assets.ubuntu.com/v1/c9efb962-slide-three.png" alt="Cave"></li>
            <li><img src="//assets.ubuntu.com/v1/0285832f-slide-four.png" alt="Cave"></li>
        </ul>
    </div>
