<div class="strip-inner-wrapper">
	<div class="row--store-promo{% if extra_row_class %} {{ extra_row_class }}{% endif %}">
		<div class="row--store-promo__content six-col append-one">
			<h2>{{ promo_title }}</h2>
			<p>{{ promo_content }}</p>
			<p><a href="{{ promo_link }}">{{ promo_link_title }}&nbsp;&rsaquo;</a></p>
		</div>
		<div class="five-col align-center last-col">
			<img
				srcset="https://assets.ubuntu.com/v1/12b46991-apps-grid.png?w=600 2x" 
				src="https://assets.ubuntu.com/v1/12b46991-apps-grid.png?w=480"
				alt="Icons from Ubuntu Store"
			/>
		</div>
	</div><!-- .row -->
</div>
