# Don't include caches, logs and documentation
cache.sqlite
*.log
README.md
HACKING.md

# The run script isn't needed
run

# Node is only needed for building, not running
package.json
node_modules
yarn.lock

