# Local environments and dependencies
env/
node_modules/
.bundle/
.docker-project

# Version control
.bzr/
bzr-repo/

# Backup, cache and log files
*.pyc
*.bak
*.tmp
*.log
*.*~
.DS_store
*-cache/
\#*\#

# Local databases
*.sqlite

# Generated CSS
*.css
*.map

# Ubuntu mirrors cache
etc/ubuntu-mirrors-rss.xml

