{
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-order"],
  "rules": {
    "comment-no-empty": null,
    "at-rule-no-unknown": null,
    "scss/no-global-function-names": null,
    "scss/at-extend-no-missing-placeholder": null,
    "no-invalid-position-at-import-rule": null,
    "order/properties-alphabetical-order": null,
    "scss/operator-no-unspaced": null,
    "scss/operator-no-newline-after": null,
    "scss/comment-no-empty": null
  }
}