{
  "extends": ["stylelint-config-standard-scss", "stylelint-prettier/recommended"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "ignoreFiles": ["static/sass/prism.scss"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
