Django==1.11.16
django-prometheus==1.0.11
canonicalwebteam.custom_response_headers==0.2.0
canonicalwebteam.versioned_static==1.0.2
canonicalwebteam.django_views==1.2.0
canonicalwebteam.yaml-responses[django]==1.1.0
canonicalwebteam.get-feeds==0.2.4
canonicalwebteam.http==0.1.6
whitenoise==3.3.0
gunicorn[gevent]
statsd<3.3.0
prometheus_client==0.3.1
talisker==0.9.16
django-yaml-redirects==0.5.3
django-asset-server-url==0.1
django-static-root-finder==0.3.1
django-unslashed==0.3.0
feedparser==5.2.1
requests==2.20.0
requests-cache==0.4.12
python-dateutil==2.6.1
