talisker[gunicorn,flask,raven,prometheus]==0.14.3
canonicalwebteam.flask_base==0.2.0
canonicalwebteam.http==1.0.1
git+git://github.com/nottrobin/canonicalwebteam.blog.git@expose-blogviews#egg=canonicalwebteam.blog
canonicalwebteam.search==0.2.0
canonicalwebteam.templatefinder==0.2.0
flask==1.0.2
feedparser==5.2.1
