talisker[gunicorn,flask,raven,prometheus]==0.14.3
canonicalwebteam.flask_base==0.2.0
canonicalwebteam.http==1.0.1
canonicalwebteam.blog==3.1.1
canonicalwebteam.search==0.2.0
canonicalwebteam.templatefinder==0.2.2
flask==1.0.2
feedparser==5.2.1
