{% extends "cloud/base_cloud.html" %}

{% block title %}BootStack | Cloud{% endblock %}

{% block meta_description %}With BootStack, Canonical will build, support and manage your cloud for only $15 per host per day.{% endblock meta_description %}

{% block meta_keywords %}Ubuntu BootStack, BootStack, private cloud, support, Ubuntu OpenStack, consulting, build a cloud, Ubuntu, Canonical{% endblock meta_keywords %}

{% block head_extra %}
{% comment %}Needed for the form{% endcomment %}
	<script>
		function fieldValidate(field) {
		  /* call Mkto.setError(field, message) and return false to mark a field value invalid */
		  /* return 'skip' to bypass the built-in validations */
		  return true;
		}
		function getRequiredFieldMessage(domElement, label) {
		  return "This field is required";
		}
		function getTelephoneInvalidMessage(domElement, label) {
		  return "Please enter a valid telephone number";
		}
		function getEmailInvalidMessage(domElement, label) {
		  return "Please enter a valid email address";
		}
		</script>
{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Cloud" page_title="Your cloud" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero equal-height no-border">
	<div class="eight-col">
		<h1>BootStack</h1>
		<p class="intro">Let Canonical build, support and manage your cloud for only &dollar;15 per host per day</p>
		<p>Now you can have an operational OpenStack cloud of any size, without the learning curve involved in creating it yourself. Let Canonical&rsquo;s OpenStack experts build and manage a cloud to your exact specification for just $15 per host, per day.</p>
	</div><!-- /.eight-col -->
	<div class="four-col align-vertically last-col text-center">
		<img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-startfirst-midaubergine.svg" alt="" class="priority-0" width="200" />
	</div>
</div><!-- /.row -->

<div class="row no-border strip-dark">
		<h2 class="eight-col">The easiest route to an OpenStack cloud</h2>
	<div class="six-col">
		<ul class="list-ubuntu">
			<li>A cloud to your specification</li>
			<li>On hardware of your choice</li>
			<li class="last-item">In your datacentre or on your premises</li>
		</ul>
	</div><!-- /.six-col -->
	<div class="six-col last-col">
		<ul class="list-ubuntu">
			<li>Or hosted with IBM’s Softlayer</li>
			<li>Managed and supported by Canonical</li>
			<li id="fnref1">$15 per host per day <a href="#fn1" rel="footnote">*</a></li>
		</ul>
	</div>
	<p id="fn1" class="twelve-col smaller note"><a href="#fnref1" rev="footnote">*Excludes cost of hardware and hosting</a></p>
</div><!-- /.row -->

<div class="row equal-height">
	<div class="eight-col">
		<div>
			<h2>Enterprise-grade service</h2>
			<p>Based on Canonical’s long experience in designing OpenStack clouds for enterprise customers, BootStack is designed to relieve you of all management headaches. It features a comprehensive SLA to guarantee availability, whatever your demands. In short, Canonical takes complete responsibility for the uptime and responsiveness of your cloud.</p>
		</div>
	</div><!-- /.eight-col -->
	<div class="four-col align-vertically align-center last-col">
		<img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-support-midaubergine.svg" alt="" class="priority-0" width="200" />
	</div>
</div><!-- /.row -->

<div class="row equal-height">
	<div class="four-col align-vertically align-center">
		<img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-growondemand-midaubergine.svg" alt="" class="priority-0" width="200" />
	</div>
	<div class="eight-col last-col">
		<div>
			<h2>From five machines to five million</h2>
			<p>BootStack can deliver a test cloud on as few as five hosts – useful, if you’re considering it for prototyping, proof-of-concept or as a training platform. But it can also be a fast and foolproof way to deliver an enterprise-scale, production cloud, with the peace of mind you only get from 24/7 management and support. Whatever you need your OpenStack cloud for, BootStack is the fastest way to get it. </p>
		</div>
	</div><!-- /.eight-col -->
</div><!-- /.row -->

<div class="row row-grey">
	<div class="eight-col">
		<h2>A true best-of-breed cloud</h2>
		<p>The BootStack service gives you an unbeatable combination:</p>
	</div>
	<div class="twelve-col">
		<ul class="list-canonical">
			<li class="six-col">OpenStack, the world’s leading open cloud platform</li>
			<li class="six-col last-col">Ubuntu, the number one operating system for OpenStack</li>
			<li class="six-col">Your choice of hardware, certified by Canonical for Ubuntu and OpenStack</li>
			<li class="six-col last-col">Hosting from IBM Softlayer if you prefer</li>
			<li class="six-col">24/7 support and management from the OpenStack experts at Canonical</li>
		</ul>
	</div>
</div><!-- /.row -->

<div class="row equal-height no-border">
	<div class="four-col align-vertically align-center">
		<img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-training-midaubergine.svg" alt="" class="priority-0" width="200" />
	</div>

	<div class="eight-col last-col">
		<div>
			<h2>Take control when it suits you</h2>
			<p>Canonical will continue to provide 24/7 management and support for your cloud for as long as you need it. But if there comes a point when you’re ready to take it in-house, our engineers will hand over operational responsibility smoothly and without disruption. </p>
			<p><a class="link-cta-ubuntu" href="/cloud/bootstack/contact-us">Contact us about BootStack</a></p>
		</div>
	</div><!-- /.eight-col -->
</div><!-- /.row -->

{% include "shared/_live_chat.html" %}
{% endblock content %}
{% block footer_extra %}{{ marketo }}{% endblock footer_extra %}