{% extends "ubuntu/phone/base_phone.html" %}

{% block title %}Carrier Advisory Group | Ubuntu for phones{% endblock %}

{% block meta_keywords %}CAG, Carrier Advisory Group, Ubuntu carrier, Ubuntu phone, Ubuntu mobile, Ubuntu smartphone, Ubuntu Touch, phone membership, mobile operators, carrier partners, mobile operator partners, ecosystem, app developers{% endblock %}
{% block meta_description %}The Canonical Carrier Advisory Group (CAG) enables mobile operators to shape the development of Ubuntu for smartphones.{% endblock %}

{% block second_level_nav_items %}
	{% include "ubuntu/templates/_nav_breadcrumb.html" with section_title="Phone" page_title="Carrier Advisory Group"  %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<h1>Carrier Advisory Group</h1>
	<div class="twelve-col">
		<ul class="inline">
			{% include "ubuntu/phone/shared/_cag_list.html" with image_width="160" image_height="80" item_class="box" %}
		</ul>
	</div>
	<div class="six-col">
		<p>The Ubuntu Carrier Advisory Group (CAG) lets mobile operators shape Ubuntu&rsquo;s mobile strategy.  Members receive advance confidential briefings and provide us with industry insight to ensure that Ubuntu meets their needs.</p>
	</div>
	<div class="six-col last-col">
		<p>Members of the CAG have the opportunity to be a launch partner and gain the right to ship Ubuntu in markets <br/>they serve.</p>
	</div>
	<div class="six-col">
		<p><a href="https://pages.canonical.com/carrier-advisory-group-contact-us.html" class="link-cta-ubuntu">Become a member</a></p>
		<p><a href="http://start.ubuntu-cag.com">Existing members log in &rsaquo;</a></p>
	</div>
</div><!-- / .row -->

<div class="row">
	<h2>Founding members</h2>
	<div class="twelve-col">
		<p class="eight-col">We expect the final group to include leaders in all major markets. The CAG will close to new members in July 2013, so we can focus our attention on the requirements of those forward-thinking operators with experience in platform transitions and introductions.</p>
	</div>
	<div class="three-col">
		<ul class="list">
			<li>China Unicom</li>
			<li>Deutsche Telekom</li>
			<li>Everything Everywhere</li>
			<li>Korea Telecom</li>
		</ul>
	</div>
	<div class="three-col">
		<ul class="list">
			<li>LG UPlus</li>
			<li>MTN Group</li>
			<li>Portugal Telecom</li>
		</ul>
	</div>
	<div class="three-col">
		<ul class="list">
			<li>SK Telecom</li>
			<li>Smartfren</li>
			<li>Telecom Italia</li>
		</ul>
	</div>
	<div class="three-col last-col">
		<ul class="list">
			<li>Telstra</li>
			<li>T Mobile</li>
			<li>Verizon Wireless</li>
		</ul>
	</div>
</div><!-- / .row -->

<div class="row benefits-of-joining">
	<div class="eight-col append-four">
		<h2>Benefits of joining</h2>
		<h3>Regular <attr title="Carrier Advisory Group">CAG</attr> meetings</h3>
		<p>CAG meetings take place regularly and typically include a briefing by Canonical or a partner company, followed by feedback from carriers. Members can bring domain specialists to calls for each relevant topic covered. Topics planned for discussion in the CAG forum include:</p>
	</div>	
	<div class="four-col">
		<ul class="list-ubuntu">
			<li>Differentiation for OEMs and operators</li>
			<li>Developer ecosystems and application portability</li>
			<li>HTML5 standards, performance and compatibility</li>
			<li class="last-item">Marketplaces for apps, content and services</li>
		</ul>
	</div>
	<div class="four-col">
		<ul class="list-ubuntu">
			<li>Revenue share models for publishers, operators, and OEMs</li>
			<li>Payment mechanisms and standards</li>
			<li>Platform fragmentation</li>
			<li class="last-item">Consumer and enterprise market segments and positioning</li>
		</ul>
	</div>
</div><!-- / .row -->

<div class="row row-grey row-image-centered">
	<span>
		<img width="192" height="120" src="{{ STATIC_URL }}u/img/pictograms/pictograms-wide-industry-participation.png" alt="" />
	</span>
	<div class="eight-col">
		<h3>Wide industry participation</h3>
		<p>A key goal for Ubuntu is to satisfy the operators&rsquo; need for more platform competition. Wide industry participation in the group will help us to prioritise the delivery of new Ubuntu features, and grow an ecosystem of software, services and devices that meets that need.</p>
	</div>
</div><!-- / .row -->

<div class="row row-image-centered">
	<div class="eight-col">
		<h3>Launch priority</h3>
		<p>CAG members can launch Ubuntu devices before non-members in local markets. The first two launch partners will be selected from within the group, with the next wave following six months later; non-members will face a substantial wait to gain access to the platform.</p>
		<p>Members will have early knowledge of silicon, as well as OEM and ODM partners involved in the Ubuntu mobile initiative.</p>
	</div>
	<span>
		<img src="{{ STATIC_URL }}u/img/pictograms/pictogram-grey-partners.png" width="168" height="169" alt="" />
	</span>
</div><!-- / .row -->

<div class="row independently-chained">
	<div class="eight-col push-three">
		<h2>Independently chaired</h2>
		<p>The Carrier Advisory Group is chaired independently of Canonical by David Wood, who has 25 years&rsquo; experience in the mobile industry, including leadership roles at Psion, Symbian and Accenture. He has wide experience with collaborative advisory groups, and twice served on the board of directors of the OMA (Open Mobile Alliance).</p>
	</div>
</div><!-- / .row -->

<div class="row row-quote no-border">
	<blockquote>
		<p>&ldquo;The mobile industry still needs an independent platform that <br/>enables innovation and differentiation. That platform is Ubuntu. <br/>The Carrier Advisory Group will have the opportunity to influence <br/>the Ubuntu roadmap, and take full advantage of the potential of this emerging platform.&rdquo;</p>
		<cite>David Wood, CAG Chairman</cite>
	</blockquote>
</div><!-- / .row -->
{% endblock content %}