{% extends "phone/base_phone.html" %}

{% block title %}For partners | Ubuntu for phones{% endblock %}

{% block meta_description %}
    For mobile network operators and handset makers, Ubuntu represents an opportunity
    to revolutionise the handset market. Beautifully designed and with a huge developer
    following, it allows you to deliver a first class, differentiated mobile experience
    while retaining both control and monetisation of your services and apps. With the
    power to turn a phone into a PC, just by connecting it to a monitor, keyboard and
    mouse, it offers unique convergence features. Scopes, meanwhile, provide a new,
    faster way for users to access content and services.
{% endblock %}

{% block meta_keywords %}Ubuntu, phone, smartphone, mobile, OS, Canonical, OEM, network operator, partner, operating system, platform, open source, Linux, Android, device, form factor, handheld, handset, touch, multitouch, touchscreen, gestures, edge magic, PC, desktop, convergence, enterprise, customise, customisation, customize, customization{% endblock %}

{% block second_level_nav_items %}
    <div class="strip-inner-wrapper">
        {% include "templates/_nav_breadcrumb.html" with section_title="Phone" page_title="For partners"  %}
    </div>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
    <div class="strip-inner-wrapper">
        <div class="four-col">
            <h1>For partners</h1>
            <p class="intro">
              With Ubuntu, you’re in complete control, with the opportunity to own the entire service layer.
            </p>

            <ul class="list-ticks--compact">
              <li>Create various form factors and value propositions, on the same platform</li>
              <li>Create a truly branded experience, surfacing your content and services</li>
              <li>Manage your own user accounts, payments and application store</li>
            </ul>

        </div>
        <div class="seven-col prepend-one last-col">
            <img
              srcset="{{ ASSET_SERVER_URL }}7fb3d062-intro-row.png?w=870 2x"
              src="{{ ASSET_SERVER_URL }}7fb3d062-intro-row.png?w=535"
              alt="Four phones showing 16.04"
             />
        </div><!-- /.seven-col -->
    </div>
</div><!-- .row -->

<section class="row row-more strip-light">
  <div class="strip-inner-wrapper">
    <div class="eight-col">
      <h2>More than a phone &mdash; a unique opportunity for manufacturers and operators</h2>
      <img
        class="twelve-col for-small"
        srcset="{{ ASSET_SERVER_URL }}63941409-convergence-phone_browser-video-email.png?w=960 2x"
        src="{{ ASSET_SERVER_URL }}63941409-convergence-phone_browser-video-email.png?w=480"
        alt=""
      />
      <p class="eight-col">With Ubuntu, OEMs can now create a new generation of smartphones that can provide a full PC experience when connected to a standard display. It&rsquo;s a clear differentiator for manufacturers who want to address the growing consumer trend for device convergence.</p>
    </div>
      <div class="twelve-col not-for-small">
        <img
          class="row-more--image"
          src="{{ ASSET_SERVER_URL }}63941409-convergence-phone_browser-video-email.png?w=984"
          alt="Ubuntu on a phone, tablet and PC monitor"
        />
      </div>
  </div>
</section>

<section class="row row-dev-opportunity">
    <div class="strip-inner-wrapper">
        <div class="eight-col">
            <h2>A super-sized developer opportunity</h2>
            <img
              class="twelve-col for-small"
              srcset="{{ ASSET_SERVER_URL }}619a89e6-Convergence_Devices_david_music.png?w=960 2x"
              src="{{ ASSET_SERVER_URL }}619a89e6-Convergence_Devices_david_music.png?w=480"
              alt=""
            />
            <p>This is much more than a PC experience driven by a smartphone. It means mobile apps will now run on a full PC interface &mdash; a huge opportunity for mobile app developers, who will be able to give their users a wider range of features when their app is running on a desktop-sized display.</p>
            <a href="https://developer.ubuntu.com/en/start/ubuntu-for-devices" class="external">Learn more about developing with Ubuntu</a>
        </div>
        <div class="twelve-col not-for-small">
            <img class="row-dev-opportunity--image" src="{{ ASSET_SERVER_URL }}619a89e6-Convergence_Devices_david_music.png?w=984" alt="Ubuntu on a phone, tablet and PC monitor" />
        </div>
    </div>
</section><!-- /.row -->

<div class="row strip-light">
    <div class="strip-inner-wrapper">
        <div class="seven-col">
            <img src="{{ ASSET_SERVER_URL }}49d6c68c-differentiate-row.png" alt="Two phones" />
        </div>
        <div class="four-col prepend-one last-col">
            <h2>Differentiate where it matters</h2>
            <p>Ubuntu allows you to control the entire service layer &mdash; the visual identity and the suite of digital life services &mdash; ensuring a consistent user experience. This gives you the opportunity to differentiate your handsets without fragmenting or forking the operating system. It&rsquo;s an opportunity to increase revenue that simply doesn&rsquo;t exist on other&nbsp;platforms.</p>
            <p><a href="/phone/developers">Learn more about customising the experience&nbsp;&rsaquo;</a></p>
        </div>
    </div>
</div><!-- .row -->

<div class="row row-origami">
    <div class="strip-inner-wrapper equal-height">
        <div class="eight-col">
            <h2>Profit via user payments</h2>
            <p>As well as integrating your content, functionality and branding, you can take over the management of your users&rsquo; financial interactions. You can integrate your own payment systems deep into the phone, via Ubuntu&rsquo;s unique frameworks. And while you can opt to use the default Ubuntu store for downloads and purchases, you can also customise it to showcase your services, or replace it with your own store. No other mobile platform makes it this easy to develop your own ecosystem and revenue streams.</p>
        </div>
        <div class="not-for-small prepend-one three-col last-col align-vertically align-center">
            <img src="{{ ASSET_SERVER_URL }}a1c0bb06-picto-reducecosts-orange.svg" alt="" />
        </div>
    </div>
</div><!-- .row -->

<div class="row no-border strip-light">
    <div class="strip-inner-wrapper">
        <div class="seven-col">
            <img src="{{ ASSET_SERVER_URL }}955f6fd7-targeting-row.png" alt="Ubuntu phone handsets" />
        </div>
        <div class="prepend-one four-col last-col">
            <h2>Targeting mid to high end&nbsp;devices</h2>
            <p>With a user experience and partner differentiation strategy that revolves around content and services &mdash; Ubuntu is tailored for users that require higher data usage and higher quality devices. By targeting mid to high end devices with Ubuntu, carriers and device manufacturers can deliver a superior experience while leveraging Ubuntu&rsquo;s service layer differentiation opportunities.</p>
        </div>
    </div>
</div><!-- /.row -->

<div class="row strip-dark row-case-studies no-border">
    <div class="strip-inner-wrapper">
        <div class="eight-col">
            <h2>Easier hardware enablement</h2>
            <p>Ubuntu&rsquo;s core system is based around a typical Android Board Support Package (BSP), so you don&rsquo;t need to invest in new ones. And we have teams based in Taipei, Shanghai, London, Beijing and Boston, who can engage with your engineering and factory operations.</p>
        </div>
        <div class="twelve-col vertical-divider">
            <div class="four-col">
                <blockquote class="pull-quote">
                    <p><span>&ldquo;</span>We are very excited by our partnership with Ubuntu and look forward to an onward successful relationship.<span>&rdquo;</span></p>
                    <p><cite>Tony Navin, Senior Vice President, Partnerships and Strategic Initiatives at Snapdeal</cite></p>
                </blockquote>
            </div>
            <div class="four-col">
                <blockquote class="pull-quote">
                    <p><span>&ldquo;</span>If you already make handsets that run Android, the work needed to adopt Ubuntu will be trivial<span>&rdquo;</span></p>
                    <p><cite>Ad&aacute;n Mu&ntilde;oz, BQ Product Development Manager</cite></p>
                </blockquote>
            </div>
            <div class="four-col last-col">
                <blockquote class="pull-quote">
                    <p><span>&ldquo;</span>Ubuntu is breaking down new barriers in mobile user experience and ecosystem development and we&rsquo;re excited to be partnering with them.<span>&rdquo;</span></p>
                    <p><cite>Li Nan, VP at Meizu</cite></p>
                </blockquote>
            </div>
        </div>
        <p class="twelve-col">
            <a href="/phone/features">Learn more about the Ubuntu features&nbsp;&rsaquo;</a>
        </p>
    </div>
</div><!-- /.row -->
{% endblock content %}
