<div tabindex="0" role="tabpanel" id="versal-adaptive-evaluation-kits-tab" aria-labelledby="versal-adaptive-evaluation-kits" aria-hidden="true">
	<div class="row p-strip is-shallow u-no-padding--top">
		<div class="col-3 col-medium-2">
			<h2 class="u-hide--small">Versal&trade; AI Core Evaluation Kit</h2>
		</div>
		<div class="col-6 amd-container u-align--center col-medium-4">
			{{ 
				image (
				url="https://assets.ubuntu.com/v1/18d7b3ce-AMD-Xilinx-VCK190.png",
				alt="AMD VCK190 circuit board",
				width="503",
				height="283",
				hi_def=True,
				loading="lazy"
				) | safe
				}}
		</div>
	</div>
	<div class="row p-strip is-shallow u-no-padding--top">
		<hr class="col-9">
		<div class="col-3 col-medium-2">
			<h3>Ubuntu Server 22.04 (Developer Preview)</h3>
		</div>
		<div class="col-6 col-medium-3">
			<p>The version of Ubuntu is meant for evaluation and development purposes only. It should not be used in production systems.</p>
			<p>This release only supports VCK190 Evaluation Kits (non-ES).</p>
			<p>Works on:</p>
			<ul class="p-list">
				<li class="p-list__item is-ticked">AMD VCK190 Evaluation Kits (non-ES)</li>
			</ul>
			<p>Known limitations:</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">System exhibits instability issues upon resuming from suspend mode</li>
        <li class="p-list__item is-ticked">For a full list of known limitations, please visit <a href="https://xilinx-wiki.atlassian.net/wiki/spaces/A/pages/1413611532/Canonical+Ubuntu">the wiki</a></li>
      </ul>
			<p>
				<a class="p-button--positive" href="https://people.canonical.com/~platform/images/xilinx/versal-ubuntu-22.04/iot-limerick-versal-classic-server-2204-x02-20230315-48.img.xz">Download 22.04</a>
			</p>
		</div>
	</div>

	<div class="row p-strip u-no-padding--top">
		<hr class="col-9">
		<div class="col-3">
			<h3 class="p-heading--5 u-no-padding--top"><strong>AMD Ubuntu Software Development Kit</strong></h3>
		</div>
		<div class="col-6">
			<p>Ubuntu developers targeting the Versal&trade; Evaluation Kits may also want to download the following files:</p>

			<table class="amd-xilinx-table" aria-label="AMD-Xilinx Ubuntu Software Development Kit table">
				<thead>
					<tr>
						<th>Image name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a href="https://people.canonical.com/~platform/images/xilinx/versal-ubuntu-22.04//iot-limerick-versal-classic-server-2204-x02-20230315-48-sysroot.tar.xz">iot-limerick-versal-classic-server-2204-x02-20230315-48-sysroot.tar.xz</a>
						</td>
						<td>Sysroot for cross-compilation</td>
					</tr>
					<tr>
						<td>
							<a href="https://people.canonical.com/~platform/images/xilinx/versal-ubuntu-22.04/iot-limerick-versal-classic-server-2204-x02-20230315-48-rootfs.ext4.xz">iot-limerick-versal-classic-server-2204-x02-20230315-48-rootfs.ext4.xz</a>
						</td>
						<td>EXT4 formatted partition containing entire raw rootfs</td>
					</tr>
					<tr>
						<td>
							<a href="https://people.canonical.com/~platform/images/xilinx/versal-ubuntu-22.04/iot-limerick-versal-classic-server-2204-x02-20230315-48-rootfs.tar.gz">iot-limerick-versal-classic-server-2204-x02-20230315-48-rootfs.tar.gz</a>
						</td>
						<td>Raw Root filesystem</td>
					</tr>
					<tr>
						<td>
							<a href="https://people.canonical.com/~platform/images/xilinx/versal-ubuntu-22.04/iot-limerick-versal-classic-server-2204-x02-20230315-48-system-boot.tar.gz">iot-limerick-versal-classic-server-2204-x02-20230315-48-system-boot.tar.gz</a>
						</td>
						<td>FAT Partition Contents</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="u-fixed-width">
		<hr class="col-9">
		<p>If you have any questions about the platform or would like information about our certification program, <a href="/download/contact-us" class="js-invoke-modal">contact us</a>.</p>
	</div>
</div>
