# Params
# list_items: List of highlight items (requires 3-4 items)

{%- macro highlights(list_items) -%}
  <section class="p-strip">
    <div class="row">
      <h2 class="p-text--small-caps">Highlights</h2>
      <hr />
    </div>
    {% if list_items | length == 3 %}
      {% set col_size = "col-4" %}
    {% elif list_items | length == 4 %}
      {% set col_size = "col-3" %}
    {% endif %}
    <div class="row">
      {% for item in list_items %}
        <div class="{{ col_size }}">
          <p class="p-list__item is-ticked">{{ item }}</p>
        </div>
      {% endfor %}
    </div>
  </section>
{%- endmacro -%}
