# Params
# title: Title of text section (required)
# description: Description of text section (required)

{%- macro text(title, description) -%}
  <section class="p-strip">
    <div class="row">
      <div class="col-start-large-4 col-9">
        <hr class="p-rule"/>
        <div class="p-section--shallow">
          <h2>{{ title }}</h2>
        </div>
        <p>{{ description }}</p>
      </div>
    </div>
  </section>
{%- endmacro -%}
