<nav class="dropdown-window__content-container">
  <div class="dropdown-window__content">
    <div class="row">
      <div class="col-2">
        <div class="p-side-navigation is-dark">
          <div class="p-side-navigation__drawer" aria-label="Topics">
            <div class="p-side-navigation__list u-no-margin--bottom" role="tablist" aria-label="Placeholder label">
              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted is-active" id="tab-1" aria-controls="tab-content-1" role="tab" aria-selected="true" tabindex="0">Featured</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-2" aria-controls="tab-content-2" role="tab" aria-selected="false"  tabindex="-1">Ubuntu OS</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-3" aria-controls="tab-content-3" role="tab" aria-selected="false"  tabindex="-1">Datacentre</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-4" aria-controls="tab-content-4" role="tab" aria-selected="false"  tabindex="-1">Private cloud</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-5" aria-controls="tab-content-5" role="tab" aria-selected="false"  tabindex="-1">Virtualisation</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-6" aria-controls="tab-content-6" role="tab" aria-selected="false"  tabindex="-1">Support</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-7" aria-controls="tab-content-7" role="tab" aria-selected="false"  tabindex="-1">Kubernetes</a>
              </div>
              
              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-8" aria-controls="tab-content-8" role="tab" aria-selected="false"  tabindex="-1">Charmhub and Juju</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-9" aria-controls="tab-content-9" role="tab" aria-selected="false"  tabindex="-1">Snapcraft</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-10" aria-controls="tab-content-10" role="tab" aria-selected="false"  tabindex="-1">Certified Hardware</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-11" aria-controls="tab-content-11" role="tab" aria-selected="false"  tabindex="-1">Managed Applications</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-12" aria-controls="tab-content-12" role="tab" aria-selected="false"  tabindex="-1">Developer tools</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-13" aria-controls="tab-content-13" role="tab" aria-selected="false"  tabindex="-1">Internet of Things (IoT)</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-14" aria-controls="tab-content-14" role="tab" aria-selected="false"  tabindex="-1">Robotics</a>
              </div>

              <div class="p-side-navigation__item">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-15" aria-controls="tab-content-15" role="tab" aria-selected="false"  tabindex="-1">Snapcraft</a>
              </div>

              <div class="p-side-navigation__item is-bordered">
                <a href="#" class="p-side-navigation__link is-inverted" id="tab-15"><b>View all</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-10" style="position: relative;">
        <div class="row u-no-padding">
          <div class="col-10 dropdown-window__main-panel">
            <div class="row u-no-padding">
               <div class="col-4">
                <ul class="p-list">
                  <li class="p-list__item">
                    <a class="p-link--inverted" href="https://ubuntu.com/desktop">Ubuntu Desktop</a><br />
                    <small>Free, reliable simple desktop OS</small>
                  </li>

                  <li class="p-list__item">
                    <a class="p-link--inverted" href="https://ubuntu.com/download/flavours">Ubuntu flavours</a><br />
                    <small>Variations of Ubuntu OS</small>
                  </li>
                </ul>
              </div>

              <div class="col-4">
                <ul class="p-list">
                  <li class="p-list__item">
                    <a class="p-link--inverted" href="https://ubuntu.com/certified?q=&limit=20&category=Laptop&category=Desktop">Ubuntu ready PC and Laptops</a><br />
                    <small>Certified Hardware</small>
                  </li>

                  <li class="p-list__item">
                    <a class="p-link--inverted" href="#">Multipass</a><br />
                    <small>VMs for Windows, macOS & Linux</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-10 dropdown-window__footer" style="position: absolute; bottom: 0; left: 0; right: 0;">
            <span>Not sure where to start, need some guidance or just ready to learn more?<br />We're here to help you.</span>

            <div>
              <a href="#" class="p-button is-dark">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  (function () {
    var keys = {
      left: 'ArrowLeft',
      right: 'ArrowRight',
    };

    var direction = {
      ArrowLeft: -1,
      ArrowRight: 1,
    };

    // IE11 doesn't support event.code, but event.keyCode is
    // deprecated in most modern browsers, so we should support
    // both for the time being.
    var IEKeys = {
      left: 37,
      right: 39,
    };

    var IEDirection = {
      37: direction['ArrowLeft'],
      39: direction['ArrowRight'],
    };

    /**
      Attaches a number of events that each trigger
      the reveal of the chosen tab content
      @param {Array} tabs an array of tabs within a container
    */
    function attachEvents(tabs) {
      tabs.forEach(function (tab, index) {
        tab.addEventListener('keyup', function (e) {
          var compatibleKeys = IEKeys;
          var key = e.keyCode;

          if (e.code) {
            compatibleKeys = keys;
            key = e.code;
          }

          if (key === compatibleKeys.left || key === compatibleKeys.right) {
            switchTabOnArrowPress(e, tabs);
          }
        });

        tab.addEventListener('click', function (e) {
          e.preventDefault();
          setActiveTab(tab, tabs);
        });

        tab.addEventListener('focus', function () {
          setActiveTab(tab, tabs);
        });

        tab.index = index;
      });
    }

    /**
      Determine which tab to show when an arrow key is pressed
      @param {KeyboardEvent} event
      @param {Array} tabs an array of tabs within a container
    */
    function switchTabOnArrowPress(event, tabs) {
      var compatibleKeys = IEKeys;
      var compatibleDirection = IEDirection;
      var pressed = event.keyCode;

      if (event.code) {
        compatibleKeys = keys;
        compatibleDirection = direction;
        pressed = event.code;
      }

      if (compatibleDirection[pressed]) {
        var target = event.target;
        if (target.index !== undefined) {
          if (tabs[target.index + compatibleDirection[pressed]]) {
            tabs[target.index + compatibleDirection[pressed]].focus();
          } else if (pressed === compatibleKeys.left) {
            tabs[tabs.length - 1].focus();
          } else if (pressed === compatibleKeys.right) {
            tabs[0].focus();
          }
        }
      }
    }

    /**
      Cycles through an array of tab elements and ensures 
      only the target tab and its content are selected
      @param {HTMLElement} tab the tab whose content will be shown
      @param {Array} tabs an array of tabs within a container
    */
    function setActiveTab(tab, tabs) {
      tabs.forEach(function (tabElement) {
        var tabContent = document.getElementById(tabElement.getAttribute('aria-controls'));

        if (tabElement === tab) {
          tabElement.setAttribute('aria-selected', true);
          tabElement.classList.add('is-active');
          tabContent.removeAttribute('hidden');
        } else {
          tabElement.setAttribute('aria-selected', false);
          tabElement.classList.remove('is-active');
          tabContent.setAttribute('hidden', true);
        }
      });
    }

    /**
      Attaches events to tab links within a given parent element,
      and sets the active tab if the current hash matches the id
      of an element controlled by a tab link
      @param {String} selector class name of the element 
      containing the tabs we want to attach events to
    */
    function initTabs(selector) {
      var tabContainers = [].slice.call(document.querySelectorAll(selector));

      tabContainers.forEach(function (tabContainer) {
        var tabs = [].slice.call(tabContainer.querySelectorAll('[aria-controls]'));
        attachEvents(tabs);
      });
    }

    document.addEventListener('DOMContentLoaded', function () {
      initTabs('[role="tablist"]');
    });
  })();
</script>