{% extends "templates/image-testing_base.html" %}

{% block head_extra %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}

<img src="https://assets.ubuntu.com/v1/3a05fc34-Dell_XPS_Laptop_Front-news.png" width="700" height="353" alt="">

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias. Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias. Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias. Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias. Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<img width="138" height="52" src="https://assets.ubuntu.com/v1/971aa15e-QXLkLsa.png" alt="">

{% endblock content %}
