@charset "UTF-8";
/**
 * Ubuntu Core Front-End Framework
 *
 * Grid file part of the Ubuntu Core Front-End Framework
 * 
 * This grid is composed by 14 columns (units) separated by 13 gutters (1/3 unit).
 * The first and last column are for padding purposes only.
 * The content fits in the middle 12 columns.
 * Possible divisions: 1 (12 units + 11 gutters), 2 (6 units + 5 gutters), 
 * 3 ( 4 units + 3 gutters) and 4 (3 units + 2 gutters).
 *
 * When 1 unit = 60px, 1 gutter = 20px
 * 
 * @project		Ubuntu Core Front-End Framework
 * @author		Web Team at Canonical Ltd
 * @copyright	2012 Canonical Ltd
 *
 * @see			http://gridinator.com/
 * @see			http://blueprintcss.org/
 */

/**
 * Table of contents
 *
 * Main containers
 * Columns
 * Empty columns
 * Borders
 * Push and pull
 * Verticla gutter
 * Last
 * Clearing
 */
  
 /**
 * Main containers
 *
 * @section containers
 */

.wrapper {
	margin: 0 auto;
	text-align: left;
	padding:0 60px;
	width: 75.384em; /* 980px / 13px (baseline font); 980px + (60px x 2) = 1100px */
}

.inner-wrapper {
	background: #fff;
	clear: both;
	display: inline; /* HACK_IE_LTE_6: To fix IE 6 double margin bug. */
	float: left;
	padding: 0 1.538em; /* 20px / 13px */
	position: relative;
	width: 72.308em; /* 940px / 13px */
}

.row { /** Clear entire row. */
	clear: both;
	float: left;
	margin: 0;
	width: 100%;	
}

/**
 * Columns
 *
 * @section columns
 */

.three-col, .four-col, .six-col, .eight-col, .nine-col, .twelve-col {
	clear: none;
	display: inline; /* HACK_IE_LTE_6: To fix IE 6 double margin bug. */
	float: left;
	margin: 0 1.538em 1.538em 0;
	padding: 0;
	position: relative;
}

.three-col {
	width: 16.921em;
}
.four-col {
	width: 23.074em;
}
.six-col {
	width: 35.384em;
}
.eight-col {
	width: 47.686em;
}
.nine-col {
	width: 53.839em;
}
.twelve-col { /** Full width. */
	width: 72.298em;
	margin-right: 0;
}

/**
 * Empty columns
 *
 * Add these to a column to append or prepend 
 * empty columns
 *
 * @section empty-columns
 */

.append-1 { padding-right: 6.153em; }
.append-2 { padding-right: 12.307em; }
.append-3 { padding-right: 18.461em; }
.append-4 { padding-right: 24.615em; }
.append-5 { padding-right: 30.769em; }
.append-6 { padding-right: 36.923em; }
.append-7 { padding-right: 43.076em; }
.append-8 { padding-right: 49.230em; }
.append-9 { padding-right: 55.384em; }
.append-10 { padding-right: 61.538em; }
.append-11 { padding-right: 67.692em; }

.prepend-1 { padding-left: 6.153em; }
.prepend-2 { padding-left: 12.307em; }
.prepend-3 { padding-left: 18.461em; }
.prepend-4 { padding-left: 24.615em; }
.prepend-5 { padding-left: 30.769em; }
.prepend-6 { padding-left: 36.923em; }
.prepend-7 { padding-left: 43.076em; }
.prepend-8 { padding-left: 49.230em; }
.prepend-9 { padding-left: 55.384em; }
.prepend-10 { padding-left: 61.538em; }
.prepend-11 { padding-left: 67.692em; }

/**
 * Borders
 *
 * @section borders
 */

.border { /** Border on right hand side of a column. */
  padding-right: .692em;
  margin-right: .769em;
  border-right: 1px solid #ddd;
}

/**
 * Push and pull
 *
 * Use these classes to push elements into the next 
 * column and pull it into the previous column
 *
 * @section push-pull
 */

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11 {
	float: left;
	position: relative;
}
.pull-1 {
	margin-left: -6.153em;
}
.pull-2 {
	margin-left: -12.307em;
}
.pull-3 {
	margin-left: -18.461em;
}
.pull-4 {
	margin-left: -24.615em;
}
.pull-5 {
	margin-left: -30.769em;
}
.pull-6 {
	margin-left: -36.923em;
}
.pull-7 {
	margin-left: -43.076em;
}
.pull-8 {
	margin-left: -49.230em;
}
.pull-9 {
	margin-left: -55.384em;
}
.pull-10 {
	margin-left: -61.538em;
}
.pull-11 {
	margin-left: -67.692em;
}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {
	float: left;
	position: relative;
}
.push-1 {
	margin: 0 -7.691em 0 7.691em;
}
.push-2 {
	margin: 0 -13.844em 0 13.844em;
}
.push-3 {
	margin: 0 -19.997em 0 19.997em;
}
.push-4 {
	margin: 0 -26.15em 0 26.15em;
}
.push-5 {
	margin: 0 - 32.303em 0 32.303em;
}
.push-6 {
	margin: 0 -38.456em 0 38.456em;
}
.push-7 {
	margin: 0 -44.609em 0 44.609em;
}
.push-8 {
	margin: 0 -50.762em 0 50.762em;
}
.push-9 {
	margin: 0 -56.915em 0 56.915em;
}
.push-10 {
	margin: 0 -63.068em 0 63.068em;
}
.push-11 {
	margin: 0 -69.23em 0 69.23em;
}

/**
 * Vertical gutter
 *
 * Add a gutter above or below and element
 *
 * @section last
 */
 
div.prepend-top, .prepend-top {
  margin-top:1.5em;
}
div.append-bottom, .append-bottom {
  margin-bottom:1.5em;
}

/**
 * Last
 *
 * Add to last column a row
 *
 * @section last
 */

/**
 * Clearing
 *
 * Hard and soft clearing classes
 *
 * @section clearing
 */

.clear {
	clear: both;
}
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix {
	display: block;
}