<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-6">
      <div>
        <h2>
          Start using your {{ appliance.name }} Ubuntu Appliance
        </h2>
        <p>
          Now you can go ahead and set everything up.  It's usually best to wait 5-10 minutes here. Some snaps will need to refresh themselves and the appliance may need to automatically reboot.
        </p>
        <p>
          When you're ready ssh into your appliance as described in step 6 and run:
        </p>
        <pre><code>sudo lxc config set core.trust_password &lt;SOME PASSWORD&gt;</code></pre>
        <p>
          Then, on your main system (not the appliance) install the LXD client:
        </p>
        <ul>
          <li>
            <code>snap install lxd</code> on Linux
          </li>
         <li>
           <code>brew install lxc</code> on macOS
          </li>
          <li>
            <code>choco install lxc</code> on Windows
          </li>
        </ul>
        <p>
          And connect to the appliance with:
        </p>
        <pre>lxc remote add appliance IP-ADDRESS
lxc list appliance:</pre>
        <p>
          And you're away. For more information check out the <a href="/lxd">LXD website</a> or read our <a href="https://discuss.linuxcontainers.org/t/lxd-cluster-on-raspberry-pi-4/9076">tutorial on turning the LXD Ubuntu Appliance into your own homelab</a>.
        </p>
        <div class="p-notification" id="notification">
          <div class="p-notification__content">
            <span class="p-notification__title">
              Note:
            </span>
            <p class="p-notification__message">
              If there is a core update, the appliance will automatically update, then reboot. Typically this isn't an issue but some use cases should take note.
            </p>
          </div>
        </div>
    </div>
  </div>
  <div class="col-6 u-hide--medium u-hide--small u-align--center u-vertically-center">
    {{  image(
      url="https://assets.ubuntu.com/v1/d85ef015-image-lxd.svg",
      alt="LXD illustration",
      width="400",
      height="368",
      hi_def=True,
      loading="lazy",
      ) | safe}}
    </div>
  </div>
</section>
