{% extends "download/_base_download.html" %}

{% block title %}Get OpenStack Autopilot to run an Ubuntu cloud | Download{% endblock %}

{% block extra_body_class %}download-cloud-home{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Download" subsection_title="Cloud" page_title="Thank you"  %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-grey">
	<div class="eight-col">
    <h1>Get OpenStack Autopilot to run an Ubuntu cloud</h1>
	</div>
	<div class="twelve-col no-margin-bottom">
		<div class="box box-highlight clearfix vertical-divider">
			<div class="eight-col no-margin-bottom">
				<p class="intro">Canonical&rsquo;s OpenStack Autopilot is a fully automated deployment of an OpenStack cloud &mdash; just add servers.</h2>
				<p>Autopilot is the world&rsquo;s easiest dynamic OpenStack installer. It handles every aspect of your cloud both during installation, expansion, and everyday operations. To start, you will need at least five machines with two disks each. Two machines need to have two network interfaces (NICs).</p>
			</div>
			<div class="four-col last-col">
				<form class="form-download gap-from-top" action="/download/cloud/install-ubuntu-openstack" method="get">
					<div>
						<button type="submit" class="no-margin-bottom">Get started</button>
					</div>
				</form>
			</div><!-- /.four-col -->
		</div><!-- /.box -->
	</div>
</div><!-- /.row -->

{% include "download/server/_other-ways.html" %}

{% endblock content %}
{% block footer_extra %}{{ marketo }}{% endblock footer_extra %}
