{% extends "ubuntu/download/_base_download.html" %}

{% block title %}
{% if GET.version and GET.architecture %}
Thanks for downloading Ubuntu Server for Cloud
{% else %}
Thank you for your contribution
{% endif %}
{% endblock %}
{% block extra_body_class %}download-thankyou{% endblock %}

{% block second_level_nav_items %}
{% include "ubuntu/templates/_nav_breadcrumb.html" with section_title="Download" subsection_title="Server for Cloud" page_title="Thank you"  %}
{% endblock second_level_nav_items %}

{% block content %}
    <noscript>
        <meta http-equiv="refresh" content="3;url=http://releases.ubuntu.com/{{ request.GET.version }}/ubuntu-{{ request.GET.version }}-server-{{ request.GET.architecture.split|join:"+" }}.iso">
    </noscript>

    <div class="row no-border">
        <h1>Thanks for downloading Ubuntu Server</h1>
        <h2>For Cloud</h2>
        <p>Your download should start automatically. If it doesn't, <a href="http://releases.ubuntu.com/{{ request.GET.version }}/ubuntu-{{ request.GET.version }}-server-{{ request.GET.architecture.split|join:"+" }}.iso">download now</a>.</p>

        <p><a href="/download/cloud/install-ubuntu-cloud">Read the installation instructions</a></p>

        <div class="box-grey twelve-col no-margin-bottom download-cross-sells">
            <div class="four-col one box box-highlight">
                <img alt="ubuntu one" src="{{ STATIC_URL }}u/img/download/cloud-jumpstart.png" />
                <h3>Ubuntu Cloud Jumpstart</h3>
                <p>A private cloud in five days, with a Canonical engineer on site to get it done.</p>
                <p><a class="link-arrow" href="/cloud/private-cloud/jumpstart">Learn more about Cloud Jumpstart</a></p>
            </div><!-- /.four-col -->
            <div class="four-col support box box-highlight">
                <img alt="ubuntu advantage" src="{{ STATIC_URL }}u/img/download/ubuntu-advantage.png" />
                <h3>Ubuntu Advantage 
for Cloud</h3>
                <p>All the commercial support your cloud deployment needs.</p>
                <p><a class="link-arrow" href="/cloud/management">Learn more about Ubuntu Cloud Advantage</a></p>
            </div><!-- /.four-col -->
            <div class="four-col ask last-col box box-highlight">
                <img alt="ubuntu advantage" src="{{ STATIC_URL }}u/img/download/ask-ubuntu.png" />
                <h3>Ask Ubuntu</h3>
                <p>Need help? Ask your questions here.</p>
                <p><a class="link-arrow" href="http://askubuntu.com/questions/tagged/cloud">Get help</a></p>
            </div><!-- /.four-col -->
        </div><!-- /.row .row-box -->

    </div><!-- /.row .row-download -->
    <div class="row row-next-steps equal-height vertical-divider no-border">
        <h2>Useful next steps</h2>
        <div class="four-col">
            <h4><a href="https://help.ubuntu.com">Access documentation</a></h4>
            <p>If you&rsquo;re stuck with a problem, take a look at the official documentation developed and maintained by the Ubuntu Documentation Team.</p>
        </div>
        <div class="four-col">
            <h4><a href="https://help.ubuntu.com/community/InternetRelayChat">Live support chat</a></h4>
            <p>If you would rather ask questions directly to the Ubuntu community, you can access our Internet relay chat (IRC) channel. Simply join the #ubuntu channel on irc.freenode.net.</p>
        </div>
        <div class="four-col last-col">
            <h4><a href="http://www.ubuntu.com/community">Join the Ubuntu community</a></h4>
            <p>Whether you're an experienced Linux user or you're just getting started with open-source software, there are lots of ways you can contribute to the Ubuntu project.</p>
        </div>
    </div>
{% endblock content %}

{% block footer_extra %}
<script src="{{ STATIC_URL }}u/js/helpers.js"></script>

<script>
// Download file information
var defaultLocation = 'http://releases.ubuntu.com/'; // Default to releases.ubuntu.com
var version = '{{ request.GET.version }}';
var architecture = '{{ request.GET.architecture.split|join:"+" }}';

// Mirrors for this country
var mirrors = {{ mirror_list|safe }};

if (version && architecture) {
    startDownload(mirrors, version, architecture, defaultLocation);
}

function startDownload(mirrors, version, architecture, defaultLocation) {
    // Select a random mirror from list
    var selectedMirror = chooseRandomMirror(mirrors);
    var downloadLocation = defaultLocation;

    // Build the download link
    if (selectedMirror && selectedMirror.link) {
        downloadLocation = selectedMirror.link;
    }
    var downloadLink = downloadLocation + version + '/ubuntu-' + version + '-server-' + architecture + '.iso';

    // Start download
    delayStartDownload(downloadLink, 3000);
}

/**
 * Kick off a download link
 * after a certain delay in milliseconds
 */
function delayStartDownload(downloadLink, delay) {
    window.setTimeout(
        function () { window.location.href = downloadLink; },
        delay
    )
}

/**
 * Choose randomly from a given list of mirrors
 * Weight the choice by the bandwidth of each mirror
 */
function chooseRandomMirror(mirrors) {
    var selectedMirror = null;

    // Calculate total bandwidth
    var totalBandwidth = 0;
    mirrors.forEach(function (mirror) {
        mirror.bandwidth = parseInt(mirror.bandwidth) ? parseInt(mirror.bandwidth) : 0;
        totalBandwidth += mirror.bandwidth;
    });

    // Random weight-point to download
    var downloadPoint = Math.floor(Math.random() * totalBandwidth);
    var weightPoint = 0;

    // Select a mirror based on weighting
    for (var mirrorIndex = 0; mirrorIndex < mirrors.length;mirrorIndex++) {
        var mirror = mirrors[mirrorIndex];
        weightPoint += mirror.bandwidth;

        // If this is the random point to download
        if (downloadPoint < weightPoint) {
            selectedMirror = mirror;
            break;
        }
    }

    return selectedMirror;
}
</script>

{% endblock footer_extra %}