
<hr class="is-fixed-width">
<div class="row u-sv3">
  <div class="col-6">
    <h2>Download our buyer's guide</h2>
  </div>
  <div class="col-6">
    <p class="p-heading--five">See if Ubuntu meets your needs and evaluate how it compares to others for your unique use case.</p>
    <p>Based on our extensive experience in embedded systems, we put together an overview of considerations that will help you select the right OS for your in-vehicle projects. Our buyer's guide will also help you evaluate if Ubuntu is a good fit for you. Download the guide.</p>
  </div>
  <div class="row u-sv3">
    <div class="col-6 col-start-large-7">
      <h3 class="p-muted-heading">Contact us</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ image (
        url="https://assets.ubuntu.com/v1/6cf586a1-Whitepaper A guide to high-performance computing.png",
        alt="",
        width="793",
        height="1119",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <form action="">
        <label for="list-input-1">What can we help you with?</label>
        <input id="list-input-1" name="list-input-1" type="text">
        <label for="list-input-1">How should we get in touch?</label>
        <input id="list-input-1" name="list-input-1" type="text">
        <label for="list-input-1">First name:</label>
        <input id="list-input-1" name="list-input-1" type="text">
        <label for="list-input-1">Last name:</label>
        <input id="list-input-1" name="list-input-1" type="text">
        <label for="list-input-1">Email address:</label>
        <input id="list-input-1" name="list-input-1" type="text">
        <label for="list-input-1">Phone number:</label>
        <input id="list-input-1" name="list-input-1" type="text">
        <label class="p-checkbox">
          <input class="p-checkbox__input" value="yes" aria-labelledby="canonicalUpdatesOptIn" name="canonicalUpdatesOptIn" type="checkbox">
          <span class="p-checkbox__label" id="canonicalUpdatesOptIn">I agree to receive information about Canonical's products and services.</span>
        </label>
        <p>In submitting this form, I confirm that I have read and agree to <a href="/legal/data-privacy/contact">Canonical's Privacy Notice</a> and <a href="/legal/data-privacy">Privacy Policy</a>.</p>
        <button type="submit" class="p-button--positive" aria-label="Submit">Let's discuss</button>
      </form>
    </div>
  </div>
</div>