{% extends "legal/_base_legal.html" %}

{% block title %}Ubuntu legal terms and policies{% endblock %}
{% block meta_description %}Canonical produces Ubuntu, provides commercial services for Ubuntu’s users, and works with hardware manufacturers, software vendors and cloud partners to certify Ubuntu. {% endblock %}

{% block content %}

<div class="p-strip is-deep u-no-padding--bottom">
  <div class="row">
    <div class="col-8">
      <h1>Ubuntu legal terms and&nbsp;policies</h1>
      <p>We take our legal responsibilities very seriously at Canonical &mdash; especially where they concern the protection of your personal data and the contributions you make to the projects we manage &mdash; so we have a number of legal agreements that govern the way we work. They include privacy policies, agreements allowing us to share our intellectual property (which includes trademarks and content as well as code) and descriptions of exactly what our support services cover.</p>
    </div>
    <div class="col-4">
      <div class="u-align--center">
        <img src="{{ ASSET_SERVER_URL }}253da317-image-document-ubuntudocs.svg" alt="Ubuntu legal docs" class="u-hidden--small" />
      </div>
    </div>
  </div>
</div>

<div class="p-strip is-deep">
  <div class="row">
    <div class="u-equal-height u-padding-bottom">
      <div class="col-6 p-card">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/53640d35-picto-ubuntu-warmgrey.svg" alt="" />
            <h3 class="p-heading-icon__title">
          <a href="/legal/terms-and-policies">
            Terms and policies&nbsp;&rsaquo;
          </a>
        </h3>
          </div>
          <p>The main terms governing use of our software and websites, including links to privacy, intellectual property and copyright information.</p>
        </div>
      </div>
      <div class="col-6 p-card">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/03c5463a-picto-business-warmgrey.svg" alt="" />
            <h3 class="p-heading-icon__title">
              <a href="/legal/ubuntu-advantage">
                Ubuntu Advantage terms&nbsp;&rsaquo;
              </a>
            </h3>
          </div>
          <p>A legal description of the services included in the Ubuntu Advantage support package.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="u-equal-height u-padding-bottom">
      <div class="col-6 p-card">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/b06cbaa6-picto-canonical-warmgrey.svg" alt="" />
            <h3 class="p-heading-icon__title">
              <a href="/legal/contributors">
                Contributors agreement&nbsp;&rsaquo;
              </a>
            </h3>
          </div>
          <p>A legal description of the services included in the Ubuntu Advantage support package.</p>
        </div>
      </div>
      <div class="col-6 p-card">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/2a8cf960-picto-startfirst-warmgrey.svg" alt="" />
            <h3 class="p-heading-icon__title">
              <a href="/legal/bootstack">
                BootStack terms&nbsp;&rsaquo;
              </a>
            </h3>
          </div>
          <p>A legal description of the services included in BootStack. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-card">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="https://assets.ubuntu.com/v1/0838729a-picto-bookmark-warmgrey.svg" alt="" />
          <h3 class="p-heading-icon__title">
            <a href="/legal/short-terms">
              Short terms&nbsp;&rsaquo;
            </a>
          </h3>
        </div>
        <p>A legal description of the services included in BootStack. </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
