{% extends "legal/_base_legal.html" %}

{% block title %}Legal Notice – System Information{% endblock %}
{% block meta_copydoc %}https://drive.google.com/drive/folders/0B3hNyKyLEnE6clUxQndBME5uRXM{% endblock meta_copydoc %}

{% block content %}

<div class="p-strip is-deep">
  <div class="row">
    <div class="col-8">
      <h1>Legal Notice – System Information</h1>
      <p>Version - May 2018</p>
      <p>This legal notice tells you about the information we collect during installation of Ubuntu, and on first login to Ubuntu, which you can choose to share with Canonical.</p>
      <h2 id="who-are-we">Who are we?</h2>
      <p>We are Canonical Group Limited. Our address is 5 New Street Square, London, EC4A 3TW, United Kingdom. You can contact us by post at the address  set out in the “right to complain” section, below or by email to <a href="mailto:legal@canonical.com">legal@canonical.com</a> for the attention of "Legal".</p>
      <h2 id="what-system-information-do-we-collect">What system information do we collect?</h2>
      <p>During installation of Ubuntu, non-personally-identifiable system information may be shared with Canonical, including the following:</p>
      <ul>
        <li>Version</li>
        <li>OEM (Vendor, Product)</li>
        <li>BIOS (Vendor, Version)</li>
        <li>CPU (Vendor, Family, Model, Stepping)</li>
        <li>GPU (Vendor, Model)</li>
        <li>RAM</li>
        <li>Partition sizes</li>
        <li>Screens (Resolution, Frequence)</li>
        <li>Whether Autologin is enabled during install or not</li>
        <li>Whether LivePatch is enabled during install or not</li>
        <li>Session (Desktop Environment, Name, Type)</li>
        <li>Selected Timezone</li>
        <li>
          Install information
          <ul>
            <li>MediaType (USB, DVD, etc)</li>
            <li>Partition Method (manual or automatic)</li>
            <li>Download Updates during install selected or not</li>
            <li>Language</li>
            <li>Minimal install selected or not</li>
            <li>Restricted Add-ons selected or not</li>
          </ul>
        </li>
      </ul>
      <p>Note that all of the system information may be shared with Canonical. If you would prefer that Canonical does not receive any item of system information, please do not agree to it being shared.</p>
      <h2 id="why-do-we-collect-this-system-information">Why do we collect this system information?</h2>
      <p>Your system information will be used by Canonical and selected third parties for engineering purposes and to make improvements to Ubuntu by allowing us to focus more specifically on typical user hardware setup and selected features and for other related services. Aggregated system information for Ubuntu may also be made publicly available.</p>
      <h2 id="what-do-we-do-with-your-system-information">What do we do with your system information?</h2>
      <p>Your system information is stored in our systems and may be processed by Canonical globally. Aggregated system information for Ubuntu may be made publicly available.</p>
      <h2 id="how-long-do-we-keep-your-system-information-for">How long do we keep your system information for?</h2>
      <p>We keep the system information for so long as reasonably required in accordance with our record retention policy.</p>
      <h2 id="your-rights-over-your-system-information">Your rights over your system information</h2>
      <p>You can decide whether to share the system information with Canonical or not.</p>
      <p>If you do share the system information with Canonical we are unable to identify you against your system information, so we are unable to provide you with a copy of the system information or to delete the system information on request.</p>
      <h2 id="contact">Contact</h2>
      <p>Questions, comments and requests regarding this legal notice are welcomed and should be addressed to <a href="mailto:legal@canonical.com">legal@canonical.com</a> or to the address below:</p>
      <ul class="p-list">
        <li class="p-list__item">Legal, Canonical</li>
        <li class="p-list__item">2nd Floor, Clarendon House,</li>
        <li class="p-list__item">Victoria Street,</li>
        <li class="p-list__item">Douglas IM1 2LN,</li>
        <li class="p-list__item">Isle of Man</li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
