{% extends "legal/_base_legal.html" %}

{% block title %}Ubuntu Assurance | Ubuntu Pro{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1h_lawMnIICZvxqzz5NsXfuXo-0t_uR0KwjnPogwUI-E/edit{% endblock meta_copydoc %}

{% block content %}

<div class="p-strip">
  <div class="row">
    <div class="col-8">
      <h1>Ubuntu Assurance</h1>
      <p>Valid since 25 March 2013</p>
      <h2>Protecting your business from IP infringement</h2>
      <p>The Ubuntu Assurance Programme covers all our support customers against claims of intellectual property infringements &mdash; and it's included in all our support contracts. It means that, in the unlikely event of an issue arising in Ubuntu, we'll rectify the situation immediately, either modifying the offending component or obtaining the rights for you to keep using it.</p>
      <h2 id="our-assurances">Our assurances</h2>
      <p>Should an intellectual property issue arise in Ubuntu, we will replace or modify the infringing portion of the software so that it becomes non-infringing, or obtain the rights for you to continue using the software.</p>
      <h2 id="indemnification">Indemnification</h2>
      <p>As long as you have a valid agreement in place with us, we promise to assume the legal defence, pay the costs and pay any damages for any claim relating to infringement of patents, copyrights, trademarks, or trade secrets due to your use of Ubuntu.</p>
      <p>Aggregate defence costs and indemnity payments made to or on behalf of customers spending greater than 15,000 USD shall be the lesser of $2.0 million or 200% of the customer's aggregate spending with Canonical in the 12 months preceding the date a claim is first brought against such customer. For customers spending below 15,000 USD the aggregate defense costs and indemnity payments will be capped at 100% of the customer's aggregate spending with Canonical in the 12 months preceding the date a claim is first brought against such customer.</p>
      <p>If Canonical believes, or it is determined through adjudication, that any part of the software as distributed to a support customer by Canonical violates a third party's intellectual property rights, Canonical will provide such customer with a functionally equivalent non-infringing substitute at no cost, or refund 100% of payments made to Canonical for services and support in the preceding 12 months.</p>
      <p>Qualification for the Assurance Programme is conditioned on the customer meeting the following eligibility requirements.</p>
      <h2>Eligibility requirements</h2>
      <p>The customer must be a current Canonical support customer with an account in good standing at the time of the claim of infringement.</p>
      <p>The customer must maintain at least the same level of Canonical services and support as that customer had in place at the time a claim is brought, while that claim is pending. The customer must notify Canonical in writing within five days of receiving notice of a claim, must allow Canonical to assume sole control of the defence and any settlement negotiations, and must provide Canonical all the information, authority, and ongoing assistance it needs to effectively defend or settle the claim.</p>
      <p>The customer must not already be in litigation with, or have received notice of alleged infringement from, a party against whom indemnification is sought when purchasing a support agreement from Canonical. Indemnification will not cover counter-claims brought against a customer in response to litigation initiated by the customer. Indemnification will not cover punitive damages for willful or intentional acts of the customer.</p>
      <p>The customer may not modify the software provided by Canonical.</p>
      <p>If at any time Canonical offers to provide the customer with an updated version of the software modified to reduce or eliminate the likelihood of infringement of third-party rights (a "non-infringing substitute"), the customer must implement the new version, and cease all use of previous version(s), within thirty days of receiving notice from Canonical of the new version's availability.</p>
    </div>
  </div>
</div>

{% endblock content %}
