{% extends "templates/one-column.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_card.jinja" import vf_card %}

{% block body_class %}is-paper{% endblock %}

{% block title %}Design{% endblock %}

{% block meta_description %}All the latest news on the design and web team at Canonical.{% endblock %}

{% block content %}
  {% call(slot) vf_hero(
    title_text='Web engineering and design team',
    subtitle_text='Discover the latest news and work from the web and design team',
    layout='25/75',
    display_blank_signpost_image_space=True,
    blocks=[
      {
        "type": "description",
        "padding": "shallow",
        "item": {
          "type": "text",
          "content": "The Web and design team at Canonical pride themselves on building things properly, not quickly. Always looking for creative ways to push the boundaries of the web."
        }
      },
      {
        "type": "cta-block",
        "padding": "shallow",
        "item": {
          "link": {
            "content_html": "Learn more from the web and design team portal ›",
            "attrs": {
              "href": "https://webteam.canonical.com/"
            }
          }
        }
      },
    ]
  ) -%}
  {%- endcall -%}

  <section class="p-strip is-shallow">
    <div class="grid-row">
      {% for article in articles%}        
        {{ vf_card(
          columns="4",
          link="/blog/" ~ article.slug,
          heading=article.title.rendered|safe,
          image={
            "src": article.image.link,
            "alt": article.image.alt_text
          },
          footer={
            "content_type": article.group.name
          } if article.group.name else None,
          description=article.excerpt.raw
        ) }}
      {% endfor %}
    </div>
  </section>

  <section class="p-section--deep">
    {% with %}
      {% set total_pages = total_pages %}
      {% set current_page = current_page %}
      {% include "shared/_pagination.html" %}
    {% endwith %}
  </section>
{% endblock %}
