<div class="row">
  <div class="col-12" style="overflow-x: auto;">
    <table class="p-table" style="width: auto;">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th width="200" class="u-align--center">Per VM</th>
          <th width="200" class="u-align--center">Per Host</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Managed Kubernetes on public cloud, VMware, or OpenStack</td>
          <td class="u-align--center">$1060</td>
          <td class="u-align--center">$2190<sup><a href="#k8s-per-host">*</a></sup></td>
        </tr>
        <tr>
          <td>Managed OpenStack or Kubernetes on bare metal</td>
          <td class="u-align--center">&nbsp;</td>
          <td class="u-align--center">$4275</td>
        </tr>
        <tr>
          <td>Combined offering - managed on-demand K8s on fully managed OpenStack</td>
          <td class="u-align--center">&nbsp;</td>
          <td class="u-align--center">$6465</td>
        </tr>
      </table>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-12">
    <p id="k8s-per-host"><small><sup>*</sup> On a VMware or OpenStack cluster, managed guests can be priced per host in the cluster.</small></p>
    <a href="/support/contact-us" class="p-button--positive">Get in touch</a>
  </div>
</div>
