<div class="row">
  <div class="col-12">
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <th class="p-table__cell--highlight u-align--center">Foundation Cloud</th>
          <th class="p-table__cell--highlight u-align--center">Foundation Cloud Plus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>One-time price</td>
          <td class="p-table__cell--highlight u-align--center">$75,000</td>
          <td class="p-table__cell--highlight u-align--center">$150,000</td>
        </tr>
        <tr>
          <td>Expert delivery of an Ubuntu OpenStack&nbsp;cloud</td>
          <td class="p-table__cell--highlight u-align--center">Reference architecture</td>
          <td class="p-table__cell--highlight u-align--center">Custom architecture</td>
        </tr>
        <tr>
          <td>Workshop and training</td>
          <td class="p-table__cell--highlight u-align--center">2-days</td>
          <td class="p-table__cell--highlight u-align--center">4-days</td>
        </tr>
        <tr>
          <td>Hypervisor options</td>
          <td class="p-table__cell--highlight u-align--center">KVM and LXD</td>
          <td class="p-table__cell--highlight u-align--center">KVM, LXD, and Hyper-V</td>
        </tr>
        <tr>
          <td>Software Defined Networking options</td>
          <td class="p-table__cell--highlight u-align--center">OVS (GRE and/or VXLAN)</td>
          <td class="p-table__cell--highlight u-align--center">OVS with Provider Networks,<br />BGP, DVR <sup><a href="#fn-oc-1">*</a></sup></td>
        </tr>
        <tr>
          <td>Software Defined Storage options</td>
          <td class="p-table__cell--highlight u-align--center">Ceph</td>
          <td class="p-table__cell--highlight u-align--center">Ceph, Swift <sup><a href="#fn-oc-2">**</a></sup></td>
        </tr>
        <tr>
          <td>Encryption</td>
          <td class="p-table__cell--highlight">&nbsp;</td>
          <td class="p-table__cell--highlight u-align--center">Control plane and storage</td>
        </tr>
      </tbody>
    </table>

    <p class="u-no-margin--bottom" id="fn-oc-1">
      <small><sup>*</sup> Juniper Contrail, Cisco ACI, Nokia Nuage and more available as add-ons</small>
    </p>
    <p class="u-no-margin--top" id="fn-oc-2">
      <small><sup>**</sup> Solidfire, ScaleIO and more available as add-ons</small>
    </p>
  </div>
</div>
