<table>
  <thead>
    <tr>
      <td>&nbsp;</td>
      <th class="p-table__cell--highlight">Foundation Cloud</th>
      <th class="p-table__cell--highlight">Foundation Cloud Plus</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>One-time price</td>
      <td class="p-table__cell--highlight">$75,000</td>
      <td class="p-table__cell--highlight">$150,000</td>
    </tr>
    <tr>
      <td>Expert delivery of an Ubuntu OpenStack&nbsp;cloud</td>
      <td class="p-table__cell--highlight">Reference architecture</td>
      <td class="p-table__cell--highlight">Custom architecture</td>
    </tr>
    <tr>
      <td>On-site workshop and training</td>
      <td class="p-table__cell--highlight">2-days</td>
      <td class="p-table__cell--highlight">4-days</td>
    </tr>
    <tr>
      <td>Hypervisor options</td>
      <td class="p-table__cell--highlight">KVM and LXD</td>
      <td class="p-table__cell--highlight">KVM, LXD, and Hyper-V</td>
    </tr>
    <tr>
      <td>Software Defined Networking options</td>
      <td class="p-table__cell--highlight">OVS (GRE and/or VXLAN)</td>
      <td class="p-table__cell--highlight">Calico, Juniper Contrail, Cplane, Cisco ACI, Nuage and more</td>
    </tr>
    <tr>
      <td>Software Defined Storage options</td>
      <td class="p-table__cell--highlight">Ceph</td>
      <td class="p-table__cell--highlight">Ceph, Swift, Nexenta, Solidfire, Quobyte, ScaleIO and more</td>
    </tr>
    <tr>
      <td>Encryption</td>
      <td class="p-table__cell--highlight">&nbsp;</td>
      <td class="p-table__cell--highlight">Control plane and storage</td>
    </tr>
  </tbody>
</table>
