  <div class="row">
    <div class="col-6 p-card">
      <h2 class="p-heading--4">Private Cloud Build</h2>
      <p><span class="p-heading--2">$85,000</span> fixed price</p>
      <hr class="u-sv1">
      <p>Design and deployment of a baseline OpenStack cloud based on the reference architecture.</p>
      <p>What's included: <sup><a href="#os-footnote">*</a></sup></p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Hardware guidance and sizing</li>
        <li class="p-list__item is-ticked">Reference architecture</li>
        <li class="p-list__item is-ticked">Simplified networking</li>
        <li class="p-list__item is-ticked">Hyper-converged or Converged</li>
        <li class="p-list__item is-ticked">Containerised control plane</li>
        <li class="p-list__item is-ticked">Observability stack</li>
        <li class="p-list__item is-ticked">Block and object storage</li>
        <li class="p-list__item is-ticked">High availability</li>
      </ul>
      <p>Design and delivery on certified hardware.</p>
      <p><a href="/openstack/consulting">Get OpenStack&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6 p-card">
      <h2 class="p-heading--4">Private Cloud Build Plus</h2>
      <p><span class="p-heading--2">$165,000</span> fixed price</p>
      <hr class="u-sv1">
      <p>Design and deployment of a carrier-grade, feature-rich OpenStack cloud based on a custom architecture.</p>
      <p>What's included: <sup><a href="#os-footnote">*</a></sup></p>
      <p>Everything in Private Cloud Build, plus:</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Custom architecture</li>
        <li class="p-list__item is-ticked">Containerised or isolated control plane</li>
        <li class="p-list__item is-ticked">Complex networking</li>
        <li class="p-list__item is-ticked">LDAP or Active Directory integration</li>
        <li class="p-list__item is-ticked">Regulatory compliance</li>
        <li class="p-list__item is-ticked">Encryption in flight and at rest</li>
        <li class="p-list__item is-ticked">EPA tuning options</li>
        <li class="p-list__item is-ticked">Block, object and file storage</li>
        <li class="p-list__item is-ticked">Layer&ndash;7 load balancer</li>
        <li class="p-list__item is-ticked">Secrets management</li>
      </ul>
      <p>Workshops determine the optimal architecture for your workloads and integration requirements.</p>
      <p><a href="/engage/from-vmware-to-openstack">Migrate from VMware&nbsp;&rsaquo;</a></p>
    </div>
  </div>
  <div class="u-fixed-width">
    <p id="os-footnote">* Additional features, functionality and integrations are available via add-ons</p>
  </div>
