<div class="row">
  <div class="col-8">
    <h4>Add-ons</h4>
  </div>
</div>

<div class="row u-equal-height">
  <div class="col-4 p-card">
    <h4>Additional storage support</h4>
    <p>Flexible growth options if additional storage is required.</p>
  </div>
  <div class="col-4 p-card">
    <h4>Technical Account Manager (TAM)</h4>
    <p>Canonical will provide a support engineer(s) to further assist and collaborate with customer teams.</p>
  </div>
  <div class="col-4 p-card">
    <h4>Dedicated Support Engineer (DSE)</h4>
    <p>Canonical will provide a support engineer(s) solely dedicated to your Ubuntu operations for server, cloud and Kubernetes.</p>
  </div>
</div>

<div class="row u-equal-height">
  <div class="col-4 p-card">
    <h4>Feature sponsorships<sup><a href="#fn-fs">*</a></sup></h4>
    <p>Support the faster development of certain features, packages, or changes to Ubuntu for everyone’s benefit.</p>
  </div>
  <div class="col-4 p-card">
    <h4>Custom hardware certification<sup><a href="#fn-fs">*</a></sup></h4>
    <p>Canonical will certify specific hardware you are running that is not officially supported on Ubuntu.</p>
  </div>
  <div class="col-4 p-card">
    <h4>Custom OS images<sup><a href="#fn-fs">*</a></sup></h4>
    <p>Canonical will create and maintain images that have the customisations your company requires.</p>
  </div>
</div>

<div class="row" id="fn-fs">
  <div class="col-12">
    <p><small><sup>*</sup> Requires Ubuntu Advantage site-wide coverage</small></p>
  </div>
</div>
