<div class="row">
  <div class="col-10" style="overflow-x: auto;">
    <table class="p-table">
      <thead>
        <tr>
          <td style="width: 40%">&nbsp;</td>
          <th class="p-table__cell--highlight u-align--center">Essential</th>
          <th class="p-table__cell--highlight u-align--center">Standard</th>
          <th class="p-table__cell--highlight u-align--center">Advanced</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Physical - price per Node, per year</td>
          <td class="p-table__cell--highlight u-align--center">$225</td>
          <td class="p-table__cell--highlight u-align--center">$750</td>
          <td class="p-table__cell--highlight u-align--center">$1,500</td>
        </tr>

        <tr>
          <td>Virtual - price per Node, per year</td>
          <td class="p-table__cell--highlight u-align--center">$75</td>
          <td class="p-table__cell--highlight u-align--center">$250</td>
          <td class="p-table__cell--highlight u-align--center">$500</td>
        </tr>

        <tr>
          <td>Phone and ticket support</td>
          <td class="p-table__cell--highlight u-align--center">None</td>
          <td class="p-table__cell--highlight u-align--center">24/5</td>
          <td class="p-table__cell--highlight u-align--center">24/7</td>
        </tr>

        <tr>
          <td>Download, install, run, use, update, secure, upgrade</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Landscape system management</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Canonical Livepatch Service</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Extended Security Maintenance (ESM) for LTS releases</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Knowledge Base access</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Certified VirtIO Drivers for Windows</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>FIPS-certified cryptographic modules</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Ubuntu Legal Assurance programme</td>
          <td class="p-table__cell--highlight">&nbsp;</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>OpenStack support</td>
          <td class="p-table__cell--highlight">&nbsp;</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Kubernetes support</td>
          <td class="p-table__cell--highlight">&nbsp;</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

        <tr>
          <td>Storage Allowance for Ceph/Swift <a href="#fn-ua-i-storage"><sup>*</sup></a></td>
          <td class="p-table__cell--highlight">&nbsp;</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
          <td class="p-table__cell--highlight u-align--center">{{ tick-aubergine }}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="row" id="fn-ua-i-storage">
  <div class="col-12">
    <p id="fn-ua-i-storage"><small><sup>*</sup> For current allowance limits, see our <a href="/legal/ubuntu-advantage-service-description">service description</a>.</small></p>
  </div>
</div>
