$global-white:        #fff !default;
$global-black:        #000 !default;
$global-background:   #f7f7f7 !default;
$global-grey:         #d7d7d7 !default;
$global-mid-grey:     #cdcdcd !default;
$global-dark-grey:    #333 !default;
$global-x-dark-grey:  #666 !default;
$global-orange:       #e95420 !default;
$global-transparent:  transparent !default;
$global-focus:        #19b6ee !default;

