{% extends "legal/_base_legal.html" %}

{% block title %}Terms and policies{% endblock %}

{% block content %}

<div class="p-strip">
  <div class="row">
    <div class="col-9 suffix-1">
      <h1>Terms and&nbsp;policies</h1>
      <p>We have legal agreements for the production of our software, the way we present it on our websites and the protection of intellectual property &mdash; both yours and ours. In the sections below, you can see all the legal terms and policies for Ubuntu
        and Canonical.</p>
    </div>
    <div class="col-3">
      <img src="{{ ASSET_SERVER_URL }}080c0e59-image-document-ubuntuterms.svg" alt="Ubuntu terms" class="u-hide--small" />
    </div>
  </div>
</div>
<div class="p-strip">

  <div class="row">
    <div class="u-equal-height">
      <div class="col-6 p-card">
        <h3>Website terms and conditions</h3>
        <p>These terms and conditions cover both Ubuntu and Canonical. They govern the content of our websites, including things like the use of images and text.</p>
        <p><a href="/legal/terms-and-policies/terms">View website terms and conditions&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>Privacy</h3>
        <p>Your privacy is extremely important. Our privacy policy explains what data we collect from you via both our websites and our software &mdash; and what we do with&nbsp;it.</p>
        <p><a href="/legal/terms-and-policies/privacy-policy">View privacy policy&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="u-equal-height">
      <div class="col-6 p-card">
        <h3>Intellectual property rights</h3>
        <p>Our intellectual property rights policy lets you use, modify and redistribute Ubuntu. It also outlines how you can use our trademarks, design assets and other copyrighted materials.</p>
        <p><a href="/legal/terms-and-policies/intellectual-property-policy">View intellectual property policy&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>Online accounts</h3>
        <p>Ubuntu online accounts are provided by Canonical. This legal notice applies to your use of Ubuntu online accounts and incorporates the terms of our legal notice and our privacy policy.</p>
        <p><a href="/legal/terms-and-policies/online-account-terms">View online accounts terms&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="u-equal-height">
      <div class="col-6 p-card">
        <h3>U1 and Software Centre</h3>
        <p>Ubuntu One and the Ubuntu software centre are provided by Canonical. This legal notice applies to your use of Ubuntu One and the Ubuntu software centre.</p>
        <p><a href="/legal/terms-and-policies/terms-of-service">View U1 account and software centre terms&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>Confidentiality agreement standard form</h3>
        <p>You can enter into a confidentiality agreement with Canonical. Please use this form where directed to by Canonical.</p>
        <p><a href="/legal/terms-and-policies/confidentiality-agreement">View confidentiality agreement&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="u-equal-height">
      <div class="col-6 p-card">
        <h3>Terms and conditions for developers</h3>
        <p>This is a legal agreement between Canonical and anyone who builds apps for distribution by Canonical on an Ubuntu platform (the Ubuntu Software Centre, for example).</p>
        <p><a href="/legal/terms-and-policies/developer-terms-and-conditions">View developer terms and conditions&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>Livepatch terms of service</h3>
        <p>The terms of service of our Livepatch service which provides users of Ubuntu with a subscription to use the Livepatch on up to three physical or virtual Ubuntu systems.</p>
        <p><a href="/legal/terms-and-policies/livepatch-terms-of-service">View Livepatch terms&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="u-equal-height">
      <div class="col-6 p-card">
        <h3>JAAS Beta Terms of Service</h3>
        <p>This is a legal agreement between Canonical and users of the Juju-as-a-Service Beta.</p>
        <p><a href="/legal/terms-and-policies/jaas-beta-terms-of-service">View JAAS Beta Terms of Service&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-6 p-card">
        <h3>Ubuntu font licence</h3>
        <p>This is a licence which allows the licensed fonts to be used, studied, modified and redistributed freely.</p>
        <p><a href="/legal/terms-and-policies/font-licence">View font licence&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="u-equal-height">
      <div class="col-6 p-card">
        <h3>Systems information notice</h3>
        <p>Find out about the information we may collect during installation of Ubuntu.</p>
        <p><a href="/legal/terms-and-policies/systems-information-notice">View systems information notice&nbsp;&rsaquo;</p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
