<ul class="no-bullets twelve-col equal-height">
    <li class="box four-col equal-height--item">
        <a href="https://cloud.google.com/partners/partnercredit/?PCN=a0n60000003kyX1&utm_medium=partners&utm_campaign=partner-credit">
            <div>
                <img class="logo-gcp" src="{{ ASSET_SERVER_URL }}bd47d87c-google-cloud.svg" alt="Google Cloud Platform logo" />
            </div>
            <p>Get started on GCP&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col equal-height--item">
        <a href="https://help.ubuntu.com/community/EC2StartersGuide">
            <div>
                <img class="logo-amazonwebservices" src="{{ ASSET_SERVER_URL }}c6fe5e8f-AmazonWebservices_Logo.svg" alt="Amazon Web Services (EC2) logo" />
            </div>
            <p>The Ubuntu guide to EC2&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col last-col equal-height--item">
        <a href="https://cloud.oracle.com/marketplace/listing/6071138?_afrLoop=105446854237053&amp;_afrWindowMode=0&amp;_afrWindowId=null">
            <div>
                <img class="logo-oracle" src="{{ ASSET_SERVER_URL }}08646a72-logo-oracle.svg" alt="Oracle Cloud logo" />
            </div>
            <p>Get started on Oracle Cloud&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col equal-height--item">
        <a href="http://www.windowsazure.com/en-us/documentation/services/virtual-machines/">
            <div>
                <img class="logo-windowsazure" src="{{ ASSET_SERVER_URL }}eb041659-Microsoft-Azure_rgb_Blk.svg" alt="Microsoft Azure logo" />
            </div>
            <p>Get started on Microsoft Azure&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col equal-height--item">
        <a href="https://www.t-systems.com/de/en/solutions/cloud/solutions/open-telekom-cloud/public-cloud-for-business-customers-247826">
            <div>
                <img src="{{ ASSET_SERVER_URL }}d3959703-T-SYSTEMS-LOGO2013.svg" alt="T Systems logo" />
            </div>
            <p>Get started on T Systems&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col last-col equal-height--item">
        <a href="https://solutionexchange.vmware.com/store/products/ubuntu-12-04-lts--2#.VA_9Dq2zDsa">
            <div>
                <img src="{{ ASSET_SERVER_URL }}d584bd83-logo-vmware.svg" alt="VMware logo" height="35" />
            </div>
            <p>Get started on VMware&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col equal-height--item">
        <a href="https://vexxhost.com/public-cloud/">
            <div>
                <img class="logo-vexxhost" src="{{ ASSET_SERVER_URL }}7cd13ce0-vexxhost-logo-01.svg?w=275" alt="Vexxhost logo" />
            </div>
            <p>Get started on Vexxhost&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col equal-height--item">
        <a href="https://www.brightbox.com/">
            <div>
                <img class="logo-brightbox" src="{{ ASSET_SERVER_URL }}43c55d04-logo-brightbox.svg?w=275" alt="Brightbox logo" height="35" />
            </div>
            <p>Get started on Brightbox&nbsp;&rsaquo;</p>
        </a>
    </li>
    <li class="box four-col last-col equal-height--item">
        <a href="http://www.softlayer.com/">
            <div>
                <img class="logo-softlayer" src="{{ ASSET_SERVER_URL }}3579c4ed-softlayer.svg" alt="Softlayer logo" />
            </div>
            <p>Get started on Softlayer&nbsp;&rsaquo;</p>
        </a>
    </li>
</ul>
