// events on insights news feed, code ported from ../section/_cloud.scss

%newsevent__details-icon {
  background-position: 0 5px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: 0.875rem;
  margin-left: 0;
  padding: 6px 20px 6px 24px;
  width: 100%;
  @media only screen and (min-width : $breakpoint-large) {
    font-size: 0.875rem;
  }
}

.newsevent {
  &__title {
    font-size: 1rem;
    @media only screen and (min-width : $breakpoint-large) {
      font-size: 1.25rem; // going for 20px
    }
  }

  &__map {
    float: left;

    &-image {
      border-radius: 4px;
      margin-right: 20px;
      margin-top: 7px;
      width: 76px;
    }

    &-image-wrap {
      background-size: 78px;
      display: inline-block;
      margin-bottom: 0;
      max-width: 100%;
      position: relative;
      vertical-align: middle;
    }
  }

  &__details {
    clear: none;
    color: $color-mid-dark;
    display: inline;
    float: left;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 4px;
    width: 66%;

    &-location {
      @extend %newsevent__details-icon;
      background-image: url('#{$assets-path}dc06486f-location.svg');
    }

    &-venue {
      @extend %newsevent__details-icon;
      background-image: url('#{$assets-path}48947556-gps.svg');
    }

    &-date {
      @extend %newsevent__details-icon;
      background-image: url('#{$assets-path}c7d1850b-calendar.svg');
    }
  }
}
// pie charts
.ubuntu-pie {
  margin: 7% auto;
  max-width: 350px;

  .other-label {
    fill: $color-mid-dark;
  }
  //* Pie segments */
  .ubuntu {
    fill: $color-brand;
  }

  .other {
    fill: transparent;
  }
  //* Labels */
  svg tspan {
    max-width: 0;
    text-align: center;
    text-transform: capitalize;
  }

  .ubuntu-label {
    fill: $color-x-light;
  }
}
