.desktop-home {
  .p-fade {

    &__link {

      &:visited,
      &:link {
        color: $color-mid-dark;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__img {
      opacity: 1.0;
      transition: opacity .3s ease-in-out;

      &:hover {
        opacity: 0.7;
        transition: opacity 1s ease-in-out;
      }
    }
  }
}
