{% extends "mobile/base_mobile.html" %}

{% block title %}Contact us | Ubuntu for mobile{% endblock %}

{% block meta_description %}Ubuntu is the perfect operating system for manufacturers who want to build mobile devices for either the consumer or enterprise market. Ubuntu represents a remarkable opportunity for OEMs, content providers and app developers.{% endblock %}

{% block meta_keywords %}
Ubuntu phone, Ubuntu tablet, convergence, mobile, IoT, devices, Linux phone, Linux tablet, Laptop and tablet, hybrid tablet, hybrid laptop, laptop replacement, laptop replacement screens, laptop screen replacement, convertible laptop, 2 in 1 laptop, two in one laptop
{% endblock %}

{% block extra_body_class %}mobile-home{% endblock %}

{% block second_level_nav_items %}
    <div class="strip-inner-wrapper">
        {% include "templates/_nav_breadcrumb.html" with section_title="Mobile" page_title="Overview"  %}
    </div>
{% endblock second_level_nav_items %}

{% block content %}

[PARTNERS]

{% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_phone_partners_developers" second_item="_devices_newsletter_signup" third_item="_phone_further_reading" %}

{% endblock content %}
