{% extends "mobile/base_mobile.html" %}

{% block title %}For partners | Ubuntu for mobile{% endblock %}

{% block meta_description %}Ubuntu provides a complete software stack, and Canonical is the perfect commercial partner to help you create a new range of mobile devices.{% endblock %}

{% block meta_keywords %}Ubuntu smartphone, Ubuntu smartphones, smartphone Ubuntu, Ubuntu phone, Ubuntu phones, Ubuntu mobile phone, Ubuntu mobile phones, Ubuntu for phone, Meizu Ubuntu phone, Meizu phone, Meizu phones, Ubuntu convergence, Ubuntu phone convergence, Meizu MX4, Meizu MX4 Ubuntu Edition, Mobile Meizu
Ubuntu tablet, Ubuntu for tablets, Ubuntu Edition, Ubuntu, tablet Ubuntu, lightweight laptop, thin laptop, Linux tablet, Linux tablets, Linux on tablet, Linux for tablets, tablet Linux, screen replacement, Laptop and tablet, hybrid tablet, hybrid laptop, laptop replacement, laptop replacement screens, laptop screen replacement, convertible laptop, 2 in 1 laptop, two in one laptop, laptop battery replacement, Ubuntu convergence, Ubuntu tablet convergence, BQ Aquaris, BQ Aquaris M10, BQ tablet{% endblock %}

{% block second_level_nav_items %}
    <div class="strip-inner-wrapper">
        {% include "templates/_nav_breadcrumb.html" with section_title="Mobile" page_title="Partners"  %}
    </div>
{% endblock second_level_nav_items %}

{% block content %}

<section class="row row-hero">
    <div class="strip-inner-wrapper">
        <div class="five-col append-one">
            <h1>For partners</h1>
            <img class="row-hero__image twelve-col for-small" src="{{ ASSET_SERVER_URL }}969bb3c1-9a.-scope-task-switcher-tablet-portrait-landscape.png?w=480" alt="Two Ubuntu tablets" />
            <p>Ubuntu provides a complete software stack, and Canonical is the perfect commercial partner to help you create a new range of mobile devices:</p>
            <ul class="list-ticks--compact">
                <li>Ubuntu provides the ideal platform to deliver class-leading devices, quickly, easily and cost-effectively</li>
                <li>Canonical has years of experience partnering with the world&rsquo;s leading PC makers and silicon vendors</li>
                <li>We bring full support for hardware enablement and product readiness, including integrating custom services, content and apps</li>
            </ul>
            <p><a href="/mobile/contact-us">Contact us about becoming a partner&nbsp;&rsaquo;</a></p>
        </div>
    </div>
</section>

<section class="row row-more strip-light">
    <div class="strip-inner-wrapper">
        <div class="eight-col">
            <h2>More than a mobile &mdash; a unique opportunity for manufacturers and operators</h2>
            <img class="twelve-col for-small" src="{{ ASSET_SERVER_URL }}63941409-convergence-phone_browser-video-email.png?w=480" alt="" />
            <p class="eight-col">With Ubuntu, OEMs can now create a new generation of smartphones that can provide a full PC experience when connected to a standard display. It&rsquo;s a clear differentiator for manufacturers who want to address the growing consumer trend for device convergence.</p>
        </div>
        <div class="twelve-col not-for-small">
            <img class="row-more--image" src="{{ ASSET_SERVER_URL }}63941409-convergence-phone_browser-video-email.png?w=984" alt="Ubuntu on a phone, tablet and PC monitor" />
        </div>
    </div>
</section>

<section class="row strip-light">
    <div class="strip-inner-wrapper">
        <div class="six-col">
            <img src="{{ ASSET_SERVER_URL }}49d6c68c-differentiate-row.png" alt="Two phones" />
        </div>
        <div class="five-col prepend-one last-col">
            <h2>Differentiate where it matters</h2>
            <p>Ubuntu allows you to control the entire service layer &mdash; the visual identity and the suite of digital life services &mdash; ensuring a consistent user experience. This gives you the opportunity to differentiate your handsets without fragmenting or forking the operating system. It&rsquo;s an opportunity to increase revenue that simply doesn&rsquo;t exist on other&nbsp;platforms.</p>
            <p><a href="/mobile/developers">Learn more about customising the experience&nbsp;&rsaquo;</a></p>
        </div>
    </div>
</section>

<section class="row no-border strip-light">
    <div class="strip-inner-wrapper">
        <div class="five-col">
            <h2>Targeting mid to high end&nbsp;devices</h2>
            <p>With a user experience and partner differentiation strategy that revolves around content and services &mdash; Ubuntu is tailored for users that require higher data usage and higher quality devices. By targeting mid to high end devices with Ubuntu, carriers and device manufacturers can deliver a superior experience while leveraging Ubuntu&rsquo;s service layer differentiation opportunities.</p>
        </div>
        <div class="prepend-two five-col last-col">
            <img src="https://assets.ubuntu.com/v1/955f6fd7-targeting-row.png" alt="Ubuntu phone handsets" />
        </div>
    </div>
</section>

<section class="row strip-dark row-case-studies no-border">
    <div class="strip-inner-wrapper">
        <div class="eight-col row-case-studies__intro">
            <h2>Easier hardware enablement</h2>
            <p>Ubuntu&rsquo;s core system is based around a typical Android Board Support Package (BSP), so you don&rsquo;t need to invest in new ones. And we have teams based in Taipei, Shanghai, London, Beijing and Boston, who can engage with your engineering and factory operations.</p>
        </div>
        <div class="twelve-col vertical-divider equal-height">
            <div class="four-col">
                <blockquote class="pull-quote">
                    <p><span>&ldquo;</span>We are very excited by our partnership with Ubuntu and look forward to an onward successful relationship.<span>&rdquo;</span></p>
                    <p><cite>Tony Navin, Senior Vice President, Partnerships and Strategic Initiatives at Snapdeal</cite></p>
                </blockquote>
            </div>
            <div class="four-col">
                <blockquote class="pull-quote">
                    <p><span>&ldquo;</span>If you already make handsets that run Android, the work needed to adopt Ubuntu will be trivial<span>&rdquo;</span></p>
                    <p><cite>Ad&aacute;n Mu&ntilde;oz, BQ Product Development Manager</cite></p>
                </blockquote>
            </div>
            <div class="four-col last-col">
                <blockquote class="pull-quote">
                    <p><span>&ldquo;</span>Ubuntu is breaking down new barriers in mobile user experience and ecosystem development and we&rsquo;re excited to be partnering with them.<span>&rdquo;</span></p>
                    <p><cite>Li Nan, VP at Meizu</cite></p>
                </blockquote>
            </div>
            <p><a href="/mobile/features">Learn more about the Ubuntu features&nbsp;&rsaquo;</a></p>
        </div>
    </div>
</section>

<section class="row no-border">
    <div class="strip-inner-wrapper equal-height--vertical-divider">
        <div class="six-col equal-height--vertical-divider__item">
            <h2>Contact us</h2>
            <p>Canonical partners with OEMs, operators and resellers to build unique mobile and PC experiences based on Ubuntu.</p>
            <p><a href="/mobile/contact-us">Contact us about being a partner&nbsp;&rsaquo;</a></p>
        </div>
        <div class="six-col last-col equal-height--vertical-divider__item">
            <h2>Looking to create IoT devices?</h2>
            <p>Ubuntu is also used on IoT equipment from digital signage to robots and industrial gateways. Canonical can help you get started with your project.</p>
            <p><a href="/internet-of-things">Learn more about IoT&nbsp;&rsaquo;</a></p>
        </div>
    </div>
 </section>

{% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_mobile_partners_developers" second_item="_devices_newsletter_signup" third_item="_phone_further_reading" %}

{% endblock content %}
