{% extends "legal/_base_legal.html" %}

{% block title %}Contributor agreement form | Contributors{% endblock %}

{% block meta_description %}
  Canonical Contribution Agreement for work to be included in selected open source software
  projects.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1MfgTzlAxiFE6VUW1qAPmrks2ui1zzsX5T7d-DZJlOAw/edit
{% endblock meta_copydoc %}

{% block content %}
  <div id="react-root">
    <section class="p-strip">
      <div class="row">
        <div class="col-12 u-no-margin--bottom p-card">
          <i class="p-icon--spinner u-animation--spin"></i> Loading sign in
          form&hellip;
        </div>
      </div>
    </section>
  </div>
  <noscript>You need to enable JavaScript to run this page.</noscript>
  <script>
    window.CANONICAL_CLA_API_URL = '{{ canonical_cla_api_url }}';
    window.COUNTRIES_LIST = {{ get_countries_list() | tojson }};
  </script>
  <script src="{{ versioned_static('js/dist/canonical-cla.js') }}"
          type="module"
          defer></script>
{% endblock content %}
