{% extends "management/base_management.html" %}

{% block title %}Ubuntu Advantage | Management{% endblock %}
{% block extra_body_class %}ubuntu-advantage{% endblock %}

{% block meta_keywords %}Landscape, get, buy, price, subscribe, try, trial, free, 30, day, download, licence, systems management, application, solution, Ubuntu, Canonical, Linux, Ubuntu Advantage, web, SaaS, desktop, server, cloud{% endblock %}
{% block meta_description %}You can access Landscape as a SaaS over the internet or as an application running on a server on premises behind your firewall. Both options are part of the Ubuntu Advantage service package, however you can try Landscape for free for 30 days, without committing to a subscription.{% endblock %}

{% block second_level_nav_items %}
{% include "templates/_nav_breadcrumb.html" with section_title="Management" page_title="Ubuntu Advantage" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
  <h1>Ubuntu Advantage</h1>
  <div class="eight-col">
    <p>Ubuntu Advantage is the professional package of tooling, technology and expertise from Canonical, helping organisations around the world to manage their Ubuntu deployments. It includes access to Landscape, the systems management tool for using Ubuntu at scale, as well as 24x7 telephone and web support and the option of dedicated Canonical support engineers. Ubuntu Advantage tiers are based on the size of your deployment and the support levels you need.</p>

    <p class="twelve-col">
      <a href="/management/contact-us">Contact us about Ubuntu Advantage&nbsp;&rsaquo;</a>
    </p>
  </div><!-- /.eight-col -->
  <div class="four-col last-col">
    <img src="{{ ASSET_SERVER_URL }}544a9eb7-image-ubuntuadvantage.svg" alt="" width="378" height="180" class="for-tablet" />
  </div>
</div>
<div class="row row-grey row-pricing">
  <div class="four-col box">
    <div class="six-col prepend-three append-three row-pricing__image-container">
      <img class="row-pricing__image" src="{{ ASSET_SERVER_URL }}dfd42685-picto-cloud-darkaubergine.svg" alt="" width="100%" />
    </div>
    <h3 class="row-pricing__title">Ubuntu Advantage for&nbsp;clouds&nbsp;</h3>
    <p>from <span class="ua-price">$3,750</span> per year</p>
    <p><a href="#ubuntu-advantage-for-cloud">Learn more&nbsp;&rsaquo;</a></p>
  </div>
  <div class="four-col box">
    <div class="six-col prepend-three append-three row-pricing__image-container">
      <img class="row-pricing__image" src="{{ ASSET_SERVER_URL }}c3499461-picto-server-warmgrey.svg" alt="" width="100%" />
    </div>
    <h3 class="row-pricing__title">Ubuntu Advantage for&nbsp;servers</h3>
    <p>from <span class="ua-price">$150</span> per year</p>
    <p><a href="#ubuntu-advantage-for-server">Learn more&nbsp;&rsaquo;</a></p>
  </div>
  <div class="four-col last-col box">
    <div class="six-col prepend-three append-three row-pricing__image-container">
      <img class="row-pricing__image" src="{{ ASSET_SERVER_URL }}8480e7db-picto-desktop-orange.svg" alt="" width="100%" />
    </div>
    <h3 class="row-pricing__title">Ubuntu Advantage for&nbsp;desktops</h3>
    <p>from <span class="ua-price">$150</span> per year</p>
    <p><a href="#ubuntu-advantage-for-desktop">Learn more&nbsp;&rsaquo;</a></p>
  </div>
</div><!-- .row row-hero -->

{% include "shared/_ubuntu_advantage_whats_included.html" %}

<div class="row row-grey row-cloud-management row-management no-border no-padding-bottom" id="ubuntu-advantage-for-cloud">
    <div class="seven-col product-intro no-margin-bottom">
      <h2>Ubuntu Advantage for clouds</h2>
      <p>Ubuntu Advantage offers support and management tools to keep your business productive in the cloud.</p>
      <p><a href="/cloud/plans-and-pricing">Learn more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="prepend-two two-col text-center priority-0">
      <img src="{{ ASSET_SERVER_URL }}dfd42685-picto-cloud-darkaubergine.svg" alt="" />
    </div>
</div>

<div class="row row-grey no-border no-padding-bottom">
  <div class="twelve-col no-margin-bottom">
    <h3>Per node</h3>
    <p>Includes up to 2 terabytes per node.</p>
    {% include "shared/_ubuntu_advantage_cloud_per_node.html" %}
  </div>
</div>

<div class="row row-grey no-border no-padding-bottom">
  <div class="twelve-col no-margin-bottom">
    <h3>Metered</h3>
    <p>Pay only for resources consumed.</p>
    {% include "shared/_ubuntu_advantage_cloud_metered.html" %}
  </div>
</div>

<div class="row row-grey no-border no-padding-bottom">
  <div class="twelve-col no-margin-bottom">
    <h3>Service provider</h3>
    <p>For large volume and public clouds.</p>
    {% include "shared/_ubuntu_advantage_cloud_service_provider.html" %}
  </div>
</div>

<div class="row row-grey">
  <div class="eight-col">
    <h3>Service-level agreement for all cloud plans</h3>
    <table class="audience-enterprise ua-table">
      <thead>
        <tr>
          <th scope="col" class="row-title">&nbsp;</th>
          <th scope="col">Standard</th>
          <th scope="col">Advanced</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Hours of support</th>
          <td>10x5</td>
          <td>24x7</td>
        </tr>
        <tr>
          <th>Number of cases</th>
          <td>Unlimited</td>
          <td>Unlimited</td>
        </tr>
        <tr>
          <th>Support channels</th>
          <td>Phone and web</td>
          <td>Phone and web</td>
        </tr>
        <tr>
          <th>Severity 1 response time</th>
          <td>2 business hours</td>
          <td>1 business hours</td>
        </tr>
        <tr>
          <th>Severity 2 response time</th>
          <td>4 business hours</td>
          <td>4 business hours</td>
        </tr>
        <tr>
          <th>Severity 3 response time</th>
          <td>1 business day</td>
          <td>4 business hours</td>
        </tr>
        <tr>
          <th>Severity 4 response time</th>
          <td>2 business days</td>
          <td>1 business day</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- .row -->

<div class="row row-grey row-server-management row-management" id="ubuntu-advantage-for-server">
  <div class="twelve-col">
    <div class="seven-col product-intro">
      <h2>Ubuntu Advantage for servers</h2>
      <p>Whether it&rsquo;s for basic server workloads or high-availability clustering, Ubuntu Advantage has you covered.</p>
      <p><a href="/server/management">Learn more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="prepend-two two-col text-center priority-0">
      <img src="{{ ASSET_SERVER_URL }}c3499461-picto-server-warmgrey.svg" width="100%" alt="" />
    </div>
  </div>
  {% include "shared/_ubuntu_advantage_server.html" %}
</div><!-- .row -->

<div class="row row-grey row-desktop-management row-management" id="ubuntu-advantage-for-desktop">
  <div class="twelve-col">
    <div class="seven-col product-intro">
      <h2>Ubuntu Advantage for desktops</h2>
      <p>From basic office tasks to complex development work, Ubuntu Advantage gives your organisation all the support you need to deploy and manage Ubuntu.</p>
      <p>Minimum order: 50 desktops</p>
      <p><a href="/desktop/enterprise">Learn more&nbsp;&rsaquo;</a></p>
    </div>
    <div class="prepend-two two-col text-center priority-0">
      <img src="{{ ASSET_SERVER_URL }}8480e7db-picto-desktop-orange.svg" width="100%" alt="" />
    </div>
  </div>
  <div class="eight-col">
    <table class="audience-enterprise ua-table">
      <thead>
        <tr>
          <th scope="col" class="row-title">&nbsp;</th>
          <th scope="col">Features</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Landscape hosted edition</th>
          <td><img src="{{ ASSET_SERVER_URL }}f1a7515d-tick-darkaubergine.svg" alt="Yes" /></td>
        </tr>
        <tr>
          <th>Landscape on-premises server</th>
          <td>Optional</td>
        </tr>
        <tr>
          <th>Ubuntu Legal Assurance programme</th>
          <td><img src="{{ ASSET_SERVER_URL }}f1a7515d-tick-darkaubergine.svg" alt="Yes" /></td>
        </tr>
        <tr>
          <th>Knowledge Base</th>
          <td><img src="{{ ASSET_SERVER_URL }}f1a7515d-tick-darkaubergine.svg" alt="Yes" /></td>
        </tr>
        <tr>
          <th>Basic installation and applications</th>
          <td><img src="{{ ASSET_SERVER_URL }}f1a7515d-tick-darkaubergine.svg" alt="Yes" /></td>
        </tr>
        <tr>
          <th>Installation, applications and systems administration support</th>
          <td><img src="{{ ASSET_SERVER_URL }}f1a7515d-tick-darkaubergine.svg" alt="Yes" /></td>
        </tr>
        <tr>
          <th>Premium Service Engineer</th>
          <td>Optional</td>
        </tr>
        <tr>
          <th>Price per desktop per year<br />minimum order: 50 desktops</th>
          <td>$150</td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- .row -->

<div class="row no-border">
  <h2>On-premises server available</h2>
  <div class="six-col">
    <p>Landscape is available as a SaaS delivered via the internet, or as an on-premises server installation behind your corporate firewall. In both cases the console can be accessed in any modern web browser.</p>
    <p>The advantage of a SaaS is that you don&rsquo;t have to buy or support extra hardware. Updates and new features are delivered automatically, with no need for installation management.</p>
  </div><!-- /.six-col -->
  <div class="six-col last-col">
    <p>If you&rsquo;d prefer a server on premises running behind your firewall, Landscape can be installed on private hardware. This is functionally identical to the SaaS, but you control the hardware.</p>
    <p>Whether Landscape fits your needs better as a SaaS or a server on premises, it&rsquo;s only available with a subscription to Ubuntu Advantage.</p>
  </div><!-- /.six-col -->
  <p class="twelve-col"><a href="/management/working-with-landscape">Find out more about working with Landscape&nbsp;&rsaquo;</a></p>
</div><!-- /.row -->



{% endblock content %}
{% block footer_extra %}{{ marketo }}{% endblock footer_extra %}
