// Site specific footer styling
@mixin footer-title {
  color: $color-mid-dark;
  cursor: pointer;
  line-height: 1.5em;
  margin-bottom: 0;
}

@mixin ubuntu-p-footer {
  .p-footer {
    border: 0;
    -moz-box-shadow: 0 4px 4px -4px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 4px 4px -4px rgba(0,0,0,.3) inset;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.3) inset;
    
    &__nav {
      border-bottom: 1px solid $color-mid-light;

      @media only screen and (min-width: $breakpoint-medium) {
        border-bottom: 1px dotted $color-mid-dark;
        margin-bottom: 20px;
        padding: 20px 0;
      }
      
      @media only screen and (min-width: $breakpoint-large) {
        padding: 40px 0;
      }
    }
    
    &__links {
      padding: 0;
    }
    
    &__item {
      display: block;
      margin-bottom: 0;
      
      @media only screen and (min-width: $breakpoint-medium) {
        margin-bottom: 1.5rem;
      }
      
      @media only screen and (min-width: $breakpoint-large) {
        margin-bottom: 2rem;
      }
    }
    
    &__title {
      @include footer-title;
      border-top: 1px solid $color-mid-light;
      background-image: url("#{$asset-server-url}7bd1bd7b-arrow_down_9fa097.svg");
      background-position: 96% 50%;
      background-repeat: no-repeat;
      background-size: 13px 13px;
      font-size: .8125em;
      padding: 10px 0;

      @media only screen and (min-width: $breakpoint-medium) {
        background: none;
        border: 0;
        color: $color-dark;
        padding: 0;
      }
      
      a:link,
      a:visited {
        color: $color-mid-dark;
        font-weight: normal;
        padding-left: 10px;
        
        @media only screen and (min-width: $breakpoint-medium) {
          color: $color-dark;
          padding-left: 0;
        }
      }
            
      a::after {
        content: ""; /* hide the default > */
      }
      
      /// open and close the primary/secondary navs
      + .second-level-nav {
        display: none;
        
        @media only screen and (min-width: $breakpoint-medium) {
          display: block;
        }
      }
      
      &.active {
        background-image: url("#{$asset-server-url}43e2b367-arrow_up_9fa097.png");
  
        + .second-level-nav {
          display: block;
        }
      }
    }
    
    &__link {
      &:hover {
        color: $color-dark;
      }
    }
    
    .top-link {
      @include footer-title;
      background-image: url("#{$asset-server-url}e4a5a8c0-picto-upload-warmgrey.svg");
      background-position: 10px 5px;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      border-bottom: 1px solid $color-dark;
      display: block;
      font-size: 1em;
      left: auto;
      padding: 5px 0 10px 30px;
      position: relative;
      
      @media only screen and (min-width: $breakpoint-medium) {
        display: none;
      }
    }
  }
  
  // second level nav - HTML for this can't be changed as it's used in the main nav also
  .second-level-nav {
    margin: 0;
    
    li {
      margin-bottom: 0;
      
      a {
        border-top: 1px solid $color-mid-light;
        color: $color-dark;
        display: block;
        font-size: .8125em;
        padding: 10px 10px;
        
        @media only screen and (min-width: $breakpoint-medium) {
          border: 0;
          padding: 0;
        }
      }
    }
  }
  
  .p-footer--secondary {
    padding: 20px 10px 0;
    
    @media only screen and (min-width: $breakpoint-medium + 1) {
      padding: 0; 
    }
    
    &__content {
      font-size: 1em;
    }
    
    .button--primary {
      color: $color-dark;
      background-color: $white;
      border: 1px solid $color-mid-light;
      padding: 6px 18px;
  
      &:hover {
        background-color: #f7f7f7;
      }
    } 
    
    .p-inline-list--small {
      .p-inline-list__item {
        display: block;
        
        @media only screen and (min-width: $breakpoint-medium) {
          display: inline-block;  
        }
      }
    }
  }

  // social icons in footer
  .p-inline-list-icons {
    @media only screen and (min-width: $breakpoint-medium) {
      float: right;
      padding-left: 0;
    }
    
    @media only screen and (min-width: $breakpoint-large) {
      margin-top: 10px;
    }
  }
}
