// Site specific list styling
$twitter:   #1da1f2; 
$google:    #dc4e41;
$linkedin:  #0274b3;
$facebook:  #3b5898;

@mixin list-link {
  display: block;
  height: 32px;
  fill: $color-mid-dark;
  width: 32px;
}

@mixin ubuntu-p-lists {
  @include ubuntu-p-inline-list-icons;
  @include ubuntu-p-inline-list--small;
  @include ubuntu-p-inline-list-middot-small;
}

@mixin ubuntu-p-inline-list-icons {
  .p-inline-list-icons {
    margin-left: 0;
    padding-left: 0;
    
    .p-inline-list__item {
       @include inline-list-item;
       float: left;
    }
    
    .p-inline-list_icon {
      @include list-link;
    }
    
    .p-inline-list__link {
      &--twitter {
        @include list-link;
        
        &:hover .twitter-icon {
          fill: $twitter;
        }
      }
      
      &--google {
        @include list-link;
        
        &:hover .google-plus {
          fill: $google;
        }
      }
            
      &--facebook {
        @include list-link;
        
        &:hover .facebook-icon {
          fill: $facebook;
        }
      }      
      
      &--linkedin {
        @include list-link;
        
        &:hover .linkedin-icon {
          fill: $linkedin;
        }
      }      
    }
  }  
}

@mixin ubuntu-p-inline-list--small {
  .p-inline-list--small {
    margin-left: 0;
    padding-left: 0;
    
    .p-inline-list__item {
      @include inline-list-item;
      font-size: .8125rem;
    }
  }
}

// Displays a list inline with items separated by dots
@mixin ubuntu-p-inline-list-middot-small {
  .p-inline-list--middot-small {
    margin-left: 0;
    padding-left: 0;

    .p-inline-list__item {
      @include inline-list-item;
      font-size: .8125rem;
      position: relative;

      &::after {
        color: $color-mid-dark;
        content: '\00b7';
        font-size: 1.4rem;
        line-height: 0;
        position: absolute;
        right: -.85rem;
        top: .4rem;
      }

      &:hover::after {
        color: $color-mid-dark;
      }

      &:last-of-type,
      .last-item {
        &::after {
          content: '';
        }
      }
    }
  }
}

