<section class="u-fixed-width p-section--deep">
  <hr class="p-rule" />
  <div>
    <h2>Components certified with this system</h2>
    <div style="overflow-x: auto;">
    <table class="p-table--mobile-car p-table-component-devices"
           aria-label="Component Devices table">
      <colgroup>
        <col class="col-component" />
        <col class="col-release" />
        <col class="col-status" />
        <col class="col-comments" />
      </colgroup>

      <thead>
        <tr>
          <th scope="col">Component</th>
          <th scope="col">Ubuntu release</th>
          <th scope="col">Status</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>

      <tbody>
        {% for component in components %}
          <tr>
            <th scope="rowgroup" rowspan="4">
              <a href="/certified/component/{{ component.id }}">{{ component.vendor_name }} {{ component.model }}</a>
            </th>
            <td>24.04 LTS</td>
            {% if '24.04 LTS' in component.lts_releases %}
              {% if component.lts_releases['24.04 LTS'][0].third_party_driver %}
                <td data-heading="24.04 LTS">
                  {{ image(url="https://assets.ubuntu.com/v1/8dd0626d-3rd-party-icon.svg", alt="May require third-party driver", width="21", height="14", hi_def=True,  loading="lazy") | safe }}
                  <span>May require 3rd-party driver</span>
                </td>
              {% elif component.lts_releases['24.04 LTS'][0].status == 'inprogress' %}
                <td data-heading="24.04 ESM">
                  <i class="p-icon--help">In progress</i>
                  <span>In progress</span>
                </td>
              {% elif component.lts_releases['24.04 LTS'][0].status == 'certified' %}
                <td data-heading="24.04 LTS">
                  <i class="p-icon--success">Supported</i>
                  <span>Supported</span>
                </td>
              {% endif %}
            {% else %}
              <td data-heading="24.04 LTS">
                <i class="p-icon--error"></i>
                <span>Unsupported</span>
              </td>
            {% endif %}
            <td data-heading="Comments">{{ component.note }}</td>
          </tr>
          <tr>
            <td>22.04 LTS</td>
            {% if '22.04 LTS' in component.lts_releases %}
              {% if component.lts_releases['22.04 LTS'][0].third_party_driver %}
                <td data-heading="22.04 LTS">
                  {{ image(url="https://assets.ubuntu.com/v1/8dd0626d-3rd-party-icon.svg", alt="May require third-party driver", width="21", height="14", hi_def=True,  loading="lazy") | safe }}
                  <span>May require 3rd-party driver</span>
                </td>
              {% elif component.lts_releases['22.04 LTS'][0].status == 'inprogress' %}
                <td data-heading="22.04 ESM">
                  <i class="p-icon--help">In progress</i>
                  <span>In progress</span>
                </td>
              {% elif component.lts_releases['22.04 LTS'][0].status == 'certified' %}
                <td data-heading="22.04 LTS">
                  <i class="p-icon--success">Supported</i>
                  <span>Supported</span>
                </td>
              {% endif %}
            {% else %}
              <td data-heading="22.04 LTS">
                <i class="p-icon--error"></i>
                <span>Unsupported</span>
              </td>
            {% endif %}
            <td data-heading="Comments">{{ component.note }}</td>
          </tr>
          <tr>
            <td>20.04 LTS</td>
            {% if '20.04 LTS' in component.lts_releases %}
              {% if component.lts_releases['20.04 LTS'][0].third_party_driver %}
                <td data-heading="20.04 LTS">
                  {{ image(url="https://assets.ubuntu.com/v1/8dd0626d-3rd-party-icon.svg",
                                    alt="May require third-party driver",
                                    width="21",
                                    height="14",
                                    hi_def=True,
                                    loading="lazy") | safe }}
                  <span>May require 3rd-party driver</span>
                </td>
              {% elif component.lts_releases['20.04 LTS'][0].status == 'inprogress' %}
                <td data-heading="20.04 ESM">
                  <i class="p-icon--help">In progress</i>
                  <span>In progress</span>
                </td>
              {% elif component.lts_releases['20.04 LTS'][0].status == 'certified' %}
                <td data-heading="20.04 LTS">
                  <i class="p-icon--success">Supported</i>
                  <span>Supported</span>
                </td>
              {% endif %}
            {% else %}
              <td data-heading="20.04 LTS">–</td>
            {% endif %}
            <td data-heading="Comments">{{ component.note }}</td>
          </tr>
          <tr>
            <td>18.04 LTS</td>
            {% if '18.04 LTS' in component.lts_releases %}
              {% if component.lts_releases['18.04 LTS'][0].third_party_driver %}
                <td data-heading="18.04 LTS">
                  {{ image(url="https://assets.ubuntu.com/v1/8dd0626d-3rd-party-icon.svg", alt="May require third-party driver", width="21", height="14", hi_def=True,  loading="lazy") | safe }}
                  <span>May require 3rd-party driver</span>
                </td>
              {% elif component.lts_releases['18.04 LTS'][0].status == 'inprogress' %}
                <td data-heading="18.04 ESM">
                  <i class="p-icon--help">In progress</i>
                  <span>In progress</span>
                </td>
              {% elif component.lts_releases['18.04 LTS'][0].status == 'certified' %}
                <td data-heading="18.04 LTS">
                  <i class="p-icon--success">Supported</i>
                  <span>Supported</span>
                </td>
              {% endif %}
            {% else %}
              <td data-heading="18.04 LTS">–</td>
            {% endif %}
            <td data-heading="Comments">{{ component.note }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    <div>
      <hr class="p-rule" />
      <p class="u-text--muted">*LTS releases with a blank status have not been tested</p>
    </div>
  </div>
</section>
