{% extends "landscape/base_landscape.html" %}

{% block title %}Install Landscape{% endblock %}
{% block meta_description %}How to set up a self hosted Landscape server{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1tU1z9PUm_kSwGJEsopJibE4gI8Gfv_3Dw_qN2_io_ao/edit#{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip">
  <div class="row">
    <div class="col-8 col-start-large-4">
      <h1 class="p-heading--2"><strong>Set up a self-hosted Landscape Server<br class="u-hide--small u-hide--medium"> on Ubuntu</strong></h1>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--bottom">
  <hr class="is-fixed-width">
  <div class="row">
    <div class="col-3">
      <h2 class="p-muted-heading">Lanscape's minimum requirements</h2>
    </div>
    <div class="col-9">
      <ul class="p-list">
        <li class="p-list__item has-bullet u-sv2">For hardware: a dual core 2 Ghz processor, 4 GB of RAM, and 10 GB of disk space</li>
        <hr>
        <li class="p-list__item has-bullet">For networking: an IP address and FQDN, with TCP communication allowed for SSH (typically port 22), HTTP (port 80), and HTTPS (port 443)</li>
      </ul>
      <p>Self-hosted Landscape consists of several parts: a database, application server, and message broker.</p>
      <div class="p-strip is-shallow u-hide--small">
        <hr>
        <h2 class="p-heading--5 u-sv3">The 3 ways of deploying landscape</h2>
        <div class="row u-equal-height">
          <div class="col-3 u-vertically-center">
            <p>Automated install using Juju</p>
          </div>
          <div class="col-6">
            <div class="install-config-chart">
              <div class="install-time" style="--install-time: 5">
                <p>Install: 5h</p>
              </div>
              <div class="config-time" style="--config-time: 3">
                <p>Config: 3h</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="u-hide--medium">
        <hr class="p-separator is-shallow u-hide--large">
        <div class="row u-equal-height">
          <div class="col-3 u-vertically-center">
            <p>Quickstart install</p>
          </div>
          <div class="col-6">
            <div class="install-config-chart">
              <div class="install-time" style="--install-time: 3.5">
                <p>Install: 3.5h</p>
              </div>
              <div class="config-time" style="--config-time: 6">
                <p>Config: 6h</p>
              </div>
            </div>
          </div>
        </div>
        <hr class="u-hide--medium">
        <hr class="p-separator is-shallow u-hide--large">
        <div class="row u-equal-height">
          <div class="col-3 u-vertically-center">
            <p>Manual install</p>
          </div>
          <div class="col-6">
            <div class="install-config-chart">
              <div class="install-time" style="--install-time: 10">
                <p>Install: 10h</p>
              </div>
              <div class="config-time" style="--config-time: 6">
                <p>Config: 6h</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .install-config-chart {
    font-size: 0;
    height: 2.3rem;
  }

  .install-config-chart p {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
  .install-time {
    background-color: #000000;
    color: white;
    width: calc(2rem * var(--install-time));
    display: inline-block;
    padding: 0 0.5rem;
  }

  .config-time {
    background: #E5E5E5;
    width: calc(2rem * var(--config-time));
    display: inline-block;
    padding: 0 0.5rem;
    text-align: right;
    color: #000000;
  }
</style>

<section class="p-strip u-no-padding--bottom u-hide--large u-hide--medium">
  <hr class="is-fixed-width">
  <div class="row">
    <div class="u-fixed-width">
      <table>
        <thead>
          <tr>
            <th>Installation type</th>
            <th>Install time</th>
            <th>Config time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Automated (Juju)</td>
            <td>5h</td>
            <td>3h</td>
          </tr>
          <tr>
            <td>Quickstart</td>
            <td>3.5h</td>
            <td>6h</td>
          </tr>
          <tr>
            <td>Manual</td>
            <td>10h</td>
            <td>6h</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-9 col-start-large-4">
      <hr>
      <h2 class="p-heading--5 u-sv3">Why Juju for Landscape</h2>
      <p>The goal of these installation guides is to provide the fastest installation and configuration experience possible. Juju provides the fastest path to a fully configured Landscape installation. Coincidentally, Juju is the preferred deployment method for more complex Landscape deployments, such as installations requiring high availability.</p>
      <p>The automated and quickstart instructions assume you don't have a valid SSL certificate, and walks you through the steps of acquiring one through LetsEncrypt, using certbot. These steps are optional, if you already have a certificate. An automated install using Juju leverages HAProxy to serve web traffic to LXC containers, whereas the quickstart install leverages an Apache web server.</p>
    </div>
  </div>
</section>

<div class="js-tab-container">
  <section class="p-strip">
    <div class="row">
      <div class="col-9 col-start-large-4 col-start-medium-2">
        <div class="p-tabs">
          <div class="p-tabs__list" role="tablist" aria-label="Landscape installations" style="margin-bottom:-1px;">
            <div class="p-tabs__item">
              <button class="p-tabs__link" role="tab" aria-selected="true" aria-controls="automated-tab" id="automated">Automated (Juju)</button>
            </div>
            <div class="p-tabs__item">
              <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="quickstart-tab" id="quickstart" tabindex="-1">Quickstart</button>
            </div>
            <div class="p-tabs__item">
              <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="manual-tab" id="manual" tabindex="-1">Manual</button>
            </div>
          </div>
        </div>
      </div>

        <div class="p-tabs__content" tabindex="0" role="tabpanel" id="automated-tab" aria-labelledby="automated" style="scroll-margin-top:86px;">
          <div class="p-stepped-list--grid">
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Install Juju</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo snap install juju --classic</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Bootstrap Juju</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>juju bootstrap localhost</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">State your CPU architecture</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>juju set-model-constraints arch=$(dpkg --print-architecture)</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Deploy Landscape</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>juju deploy landscape-scalable</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Install certbot</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo snap install certbot --classic</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Get a valid SSL certificate for landscape.yourdomain.com</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo certbot -d landscape.yourdomain.com --manual --preferred-challenges dns certonly</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Store certificates as strings in variables</p>
              <div class="p-code-snippet">
                <p>Replace <strong>landscape.yourdomain.com</strong> the domain name pointing to your server.</p>
                <pre class="p-code-snippet__block is-wrapped"><code>FULLCHAIN=$(sudo base64 -w 0 /etc/letsencrypt/live/landscape.yourdomain.com/fullchain.pem)

PRIVKEY=$(sudo base64 -w 0 /etc/letsencrypt/live/landscape.yourdomain.com/privkey.pem)</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Remove HAProxy with the self-signed certificate</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>juju remove-application haproxy --force --no-wait</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Deploy HAProxy with your certificate</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>juju deploy haproxy --config default_timeouts='queue 60000, connect 5000, client 120000, server 120000' --config services='' --config ssl_cert=$FULLCHAIN --config ssl_key=$PRIVKEY --config global_default_bind_options='no-tlsv10' --series focal</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Relate HAProxy and Landscape</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>juju relate landscape-server haproxy</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Expose HAProxy to the host machine's network</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>juju expose haproxy</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Identify your NIC</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>INTERFACE=$(ip -4 route ls | grep default | grep -Po '(?<=dev )(\S+)' | head -1)</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Identify your NIC's IP</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>INTERFACE_IP=$(ip -o -4 addr list $INTERFACE | awk '{print $4}' | cut -d'/' -f1)</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Identify HAProxy's IP</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>CONTAINER_IP=$(juju run --unit haproxy/1 "network-get public --ingress-address=true")</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">HAProxy listens on Port 80</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>PORT=80 && sudo -E bash -c "iptables -t nat -I PREROUTING -i $INTERFACE -p tcp -d $INTERFACE_IP --dport $PORT -j DNAT --to-destination $CONTAINER_IP:$PORT -m comment --comment haproxy"</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">HAProxy listens on Port 443</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>PORT=443 && sudo -E bash -c "iptables -t nat -I PREROUTING -i $INTERFACE -p tcp -d $INTERFACE_IP --dport $PORT -j DNAT --to-destination $CONTAINER_IP:$PORT -m comment --comment haproxy"</code></pre>
              </div>
            </div>
          </div>
        </div>

        <div class="p-tabs__content u-hide" tabindex="0" role="tabpanel" id="quickstart-tab" aria-labelledby="quickstart" style="scroll-margin-top:86px;">
          <div class="p-stepped-list--grid">
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Install Prerequisites</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo apt update && sudo apt install -y software-properties-common</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Set your FQDN</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo hostnamectl set-hostname landscape.yourdomain.com </code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Add the Landscape PPA</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo add-apt-repository ppa:landscape/self-hosted-23.03 </code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Install Landscape</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo apt update && sudo apt install landscape-server-quickstart</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Install certbot</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo snap install certbot --classic</code></pre>
              </div>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Get and install your certificate</p>
              <div class="p-code-snippet">
                <pre class="p-code-snippet__block is-wrapped"><code>sudo certbot --apache</code></pre>
              </div>
            </div>
          </div>
        </div>

        <div class="p-tabs__content u-hide" tabindex="0" role="tabpanel" id="manual-tab" aria-labelledby="manual">
          <div class="p-stepped-list--grid">
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Set aside some time</p>
              <p>Read the <a href="/landscape/docs/manual-installation">Manual Installation</a> documentation</p>
            </div>
            <hr>
            <div class="col-3 col-medium-1">
              <p class="p-step-counter"></p>
            </div>
            <div class="col-9 col-medium-5">
              <p class="p-heading--5">Install Landscape</p>
              <p>Follow the <a href="/landscape/docs/manual-installation">Manual Installation</a> documentation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="{{ versioned_static('js/dist/tabotronic.js') }}" defer></script>

{% endblock content %}
