{% extends "templates/image-testing_base.html" %}

{% block head_extra %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}

{{
  image(
    url="https://assets.ubuntu.com/v1/580f3ae7-automotive.svg",
    alt="",
    width="350",
    height="250",
    hi_def=True,
    loading="auto",
  ) | safe
}}

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias. Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias. Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias. Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid maxime voluptate accusantium dolor hic molestias.Ab reiciendis eius adipisci non dolorem, quia, animi dolore sit nisi iusto porro. Modi, voluptatibus!</p>

{{
  image(
    url="https://assets.ubuntu.com/v1/bcdcf2c8-image-404.svg",
    alt="",
    height="365",
    width="360",
    hi_def=True,
    loading="lazy"
  ) | safe
}}

{% endblock content %}
