{% extends "templates/base.html" %}

{% block title %}Certified desktops{% endblock %}

{% block meta_description %}
  Ubuntu certifies thousands of desktops to guarantee they work well with Ubuntu.
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1OWoADcvZ-KQX-BzsCS--pvs9_pY3E-Lb8Ba6a-T-AZ8/edit
{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block outer_content %}
<section class="p-section--deep">
  <form class="js-search-results">
    <section class="p-section--hero">
      <div class="row--25-75">
        <div class="col u-hide--small">
          {% with category="Desktop" %}
            {% include "certified/shared/category-image.html" %}
          {% endwith %}
        </div>
        <div class="col">
          <div class="p-section--shallow">
            <h1>Ubuntu certified desktops</h1>
          </div>
          <div class="p-section--shallow">
            <p>Many of the world's biggest PC manufacturers certify their desktops for Ubuntu.</p>
            {% with query=query, placeholder="Search in certified desktops" %}
              {% include "/certified/search/_query-search-box.html" %}
            {% endwith %}
          </div>
        </div>
      </div>
    </section>
    <hr class="p-rule is-fixed-width" />
    {% with
      title="All certified desktops",
      total_results=total_results,
      total_pages=total_pages,
      offset=offset,
      limit=limit,
      vendor_filters=vendor_filters,
      release_filters=release_filters,
      results=results
      %}
      {% include "/certified/search/_search-results-main-block.html" %}
    {% endwith %}
  </form>
</section>
{% endblock %}
