{% extends "templates/base.html" %}

{% block title %}Certified SoCs{% endblock %}
{% block meta_description %}SoCs that have been certified for use with Ubuntu.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1mcI6V6hem4PmG1YxQONjJq-U_I6LGaz_6kkpZOnGVU8/edit{% endblock %}

{% block outer_content %}

<section class="p-strip--suru-topped is-bordered">
  <div class="u-fixed-width">
    <a href="/certified?q=">&lsaquo; Certified hardware</a>
  </div>
  <br />
  <div class="row">
    <div class="col-8">
      <h1>Ubuntu certified SoCs</h1>
      <p>Low-power small-footprint System on a Chip (SoC) hardware is redefining the future of sustainable data centers.</p>
    </div>
    <div class="col-4 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/4e0399a1-chip.svg",
        alt="",
        width="136",
        height="153",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

{% with
  title="All certified SoCs",
  query=query,
  placeholder="Search in certified SoCs",
  total_results=total_results,
  total_pages=total_pages,
  offset=offset,
  limit=limit,
  vendor_filters=vendor_filters,
  release_filters=release_filters,
  results=results
%}
  {% include "certified/shared/category-search-results.html" %}
{% endwith %}

{% endblock %}
