<li class="p-stepped-list__item">
  <h4 class="p-stepped-list__title">
    Set up and install KVM
  </h4>
  <div class="p-stepped-list__content">
    <ol>
      <li>
        <p>Install the qemu-kvm package with the following command:</p>
        <p><code>sudo apt install qemu-kvm</code></p>
      </li>
      <li>
        <p>Run the kvm-ok command to check KVM status and your hardware:</p>
        <p><code>Kvm-ok</code></p>
        <p>The message should say:</p>
        <pre>INFO: /dev/kvm exists KVM acceleration can be used</pre>
      </li>
      <li>
        <p>You can now launch a virtual machine with KVM, using the following command:</p>
        <pre><code>kvm -smp 2 -m 1500 -netdev user,id=mynet0,hostfwd=tcp::8022-:22,hostfwd=tcp::8090-:80 -device virtio-net-pci,netdev=mynet0 -vga qxl -drive file=ubuntu-core-16-amd64.img,format=raw</code></pre>
        <div class="p-notification" id="notification">
          <div class="p-notification__content">
            <span class="p-notification__title">Note:</span>
            <span class="p-notification__message">
              <p>This command sets up port redirections:</p>
              <ul>
                <li><code>localhost:8022</code> is redirecting to port 22 of the virtual machine for accessing it through SSH</li>
                <li><code>localhost:8090</code> is redirecting to its port 3000</li>
              </ul>
            </span>
          </div>
        </div>
      </li>
      <li>
        <p>You should now see a window, with your Appliance virtual machine booting inside it</p>
      </li>
      <li>
        <p>The system will boot then become ready to configure. The device will display the prompt "Press enter to configure"</p>
      </li>
      <li>
        <p>Press <code>Enter</code> then select "Start" to begin configuring your network and an administrator account. Follow the instructions on the screen, you will be asked to configure your network and enter your Ubuntu SSO credentials</p>
      </li>
      <li>
        <p>At the end of the process, you will see your credentials to access your Ubuntu Core machine:</p>
        <ul>
          <li>This device is registered to &lt;Ubuntu SSO email address&gt;</li>
          <li>Remote access was enabled via authentication with the SSO user &lt;Ubuntu SSO user name&gt;</li>
          <li>Public SSH keys were added to the device for remote access</li>
        </ul>
        <p>Your user name is your Ubuntu SSO user name.</p>
      </li>
    </ol>
  </div>
</li>
