<li class="p-stepped-list__item">
  <h4 class="p-stepped-list__title">
    Install Multipass
  </h4>
  <div class="p-stepped-list__content">
    <ol>
      <li>
        <p>
        Make sure the network you're connected to is marked Private, otherwise Windows will prevent Multipass from starting.
        </p>
      </li>
      <li>
        <p>
          <a href="https://multipass.run/download/windows">Download Multipass for Windows</a>
        </p>
      </li>
      <li>
        <p>
          Run the installer. You will need to allow the installer to gain Administrator privileges.
        </p>
      </li>
    </ol>
  </div>
</li>
