<hr>
<li class="p-stepped-list__item">
  <h4 class="p-stepped-list__title">
    Prepare the SD Card
  </h4>
  <div class="p-stepped-list__content">
    <div class="p-notification--caution">
      <div class="p-notification__response">
        <p class="u-no-padding--top u-no-margin--bottom">
          <strong>
            Warning
          </strong>
          <br>
          Following these steps will erase any existing content on the removable drive!
        </p>
      </div>
    </div>
    <ul class="p-list">
      <li>Insert the microSD card into your computer
      </li>
      <li>Run the imager and click 'CHOOSE OS'
        <div class="p-strip is-shallow">
          {{  image(
            url="https://assets.ubuntu.com/v1/1148ca79-1_.png",
            alt="CHOOSE OS",
            width="750",
            height="505",
            hi_def=True,
            loading="lazy"  ) | safe}}
        </div>
        </li>
        <li>Next, choose 'Use Custom'. Select the image you downloaded.
          <div class="p-strip is-shallow">
            {{  image(      url="https://assets.ubuntu.com/v1/8f1a170c-raspberry-pi-imager-step2.png",
            alt="Custom",
            width="750",
            height="494",
            hi_def=True,
            loading="lazy",       ) | safe}}
          </div>
        </li>
        <li>Select your SDcard and click 'WRITE'.</li>
      </ul>
      <p>
        While it is preparing the disk you can go on to the next step and create your SSH keys for secure access to the appliance.
      </p>
    </div>
  </li>
