<li class="p-stepped-list__item">
  <h4 class="p-stepped-list__title">
    Install Multipass
  </h4>
  <div class="p-stepped-list__content">
    <ol>
      <li>
        <p>
          <a href="https://multipass.run/download/macos">Download Multipass for macOS</a>
        </p>
      </li>
      <li>
        <p>
          Activate the downloaded installer in an account with Administrator privileges.
        </p>
        {{
          image (
          url="https://assets.ubuntu.com/v1/ac6f638d-multipass-macos-install-screen.png",
          alt="",
          width="658",
          height="475",
          hi_def=True,
          loading="lazy",
          ) | safe
        }}
      </li>
      <li>
        <p>
          To start Multipass with VirtualBox use this Terminal app command:
        </p>
        <pre><code>sudo multipass set local.driver=virtualbox</code></pre>
      </li>
    </ol>
  </div>
</li>
