<li class="p-stepped-list__item u-no-padding--bottom">
  <div class="row--50-50">
    <hr class="p-rule--muted" />
    <div class="col">
      <h4 class="p-stepped-list__title">That's it</h4>
    </div>
    <div class="col">
      <div class="p-stepped-list__content">
        <p>Once setup is done, you can login to a machine on the same network with SSH:</p>
        <pre><code>ssh &lt;Ubuntu SSO user name&gt;@&lt;device IP address&gt;</code></pre>
        <p>Your user name is your Ubuntu SSO user name.</p>
      </div>
    </div>
  </div>
</li>
