{% extends "internet-of-things/base_things.html" %}

{% block title %}Thank you | Ubuntu for the Internet of Things{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1-WTp-Zf29CA5fiMV0A1rCyaNPF6xAYzZu6BThUXUSlk/edit{% endblock meta_copydoc %}
{% block canonical_url %}https://ubuntu.com/internet-of-things/contact-us{% endblock %}
{% block head_extra%}<meta name="robots" content="noindex" />{% endblock %}

{% block content %}

{% if product == 'newsletter' %}
  {% with thanks_context="subscribing!", thanks_message="You will now begin receiving our devices newsletter. You may unsubscribe any time by clicking the link in the email." %}{% include "shared/_thank_you.html" %}{% endwith %}

{% elif product == 'appstore' %}
  {% with thanks_context="your interest in IoT app stores!", thanks_message="A member of our team will follow up with you shortly." %}{% include "shared/_thank_you.html" %}{% endwith %}

{% elif product == 'automotive' %}
  {% with thanks_context="your interest in Ubuntu for your automotive project", thanks_message="A member of our team will follow up with you shortly." %}{% include "shared/_thank_you.html" %}{% endwith %}

{% elif product == 'networking' %}
  {% with thanks_context="your interest in Ubuntu for your networking project", thanks_message="A member of our team will follow up with you shortly." %}{% include "shared/_thank_you.html" %}{% endwith %}

{% elif product == 'management' %}
  {% with thanks_context="your interest in IoT device management!", thanks_message="A member of our team will follow up with you shortly." %}{% include "shared/_thank_you.html" %}{% endwith %}

{% elif product == 'nvidia' %}
  {% with thanks_context="your interest in NVIDIA Orin!", thanks_message="A member of our team will follow up with you shortly." %}{% include "shared/_thank_you.html" %}{% endwith %}

{% else %}
  {% with thanks_context="your interest in Ubuntu for the Internet of Things", thanks_message="A member of our team will follow up with you shortly. In the meantime, explore <a href='/appliance'>Ubuntu Appliances</a>, where vendors and the open source community collaborate to deliver great software, securely, to a wide range of devices and cloud." %}{% include "shared/_thank_you.html" %}{% endwith %}
{% endif %}

{% endblock content %}
{% block footer_extra %}
<!-- Google Code for Services Canonical &mdash; contact us Conversion Page -->
<script>
  /* <![CDATA[ */
  var google_conversion_id = 1012391776;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "-mBBCIC5vwMQ4L7f4gM";
  var google_conversion_value = 0;
  /* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1012391776/?value=0&amp;label=-mBBCIC5vwMQ4L7f4gM&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>
{% endblock footer_extra %}
