<section class="p-section--deep">
  <div class="u-fixed-width">
    <hr class="p-rule" />
    <div class="p-section--shallow">
      <h2>
        <a href="{{ title_link }}">Latest from&nbsp;our&nbsp;blog&nbsp;&rsaquo;</a>
      </h2>
    </div>
    <div class="p-section--shallow">
      <div class="row" id="ubuntu-summit-latest"></div>
    </div>
  </div>

  <template id="ubuntu-summit-template">
    <div class="col-3 col-medium-2 u-equal-height-items">
      <div class="u-crop--16-9">
        <div class="article-image p-image-wrapper" aria-hidden></div>
      </div>
      <h3 class="p-heading--5">
        <a class="article-link article-title"></a>
      </h3>
      <p class="article-excerpt"></p>
    </div>
  </template>
</section>

<script src="{{ versioned_static('js/dist/latest-news.js') }}"></script>
{# djlint:off #}
  <script>  
    canonicalLatestNews.fetchLatestNews(
      {
        articlesContainerSelector: "#ubuntu-summit-latest",
        articleTemplateSelector: "#ubuntu-summit-template",
        excerptLength: 200,
        {% if group_id %}
          groupId: {{ group_id }},
        {% endif %}
        {% if tag_id %}
          tagId: {{ tag_id }},
        {% endif %}
        linkImage: true,
        limit: 4
      }
    )
</script>
{# djlint:on #}
