{% extends "credentials/base_cube.html" %}

{% block title %}Canonical Credentials{% endblock %}

{% block meta_description %}The Canonical Ubuntu Essentials exams certify knowledge and verify skills in general Linux, Ubuntu Desktop, and Ubuntu Server topics.{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1QuhO-9FEOGLrYp8bErS_9snqdljl7d6tFAUoNQxoVDQ/edit{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--suru-topped">
  <div class="row u-equal-height">
    <div class="col-6">
      <h1>Canonical Credentials</h1>
      <p class="p-heading--4">Learn, Certify, Excel!</p>
      <p>Find the shortest path to your passion.<br/>Develop and certify your skills on the world's most popular Linux OS.</p>
      <p><i>Sign-ups for the CUE: Linux beta are now closed. Please check back for future announcements and beta opportunities.</i></p>
    </div>
    <div class="col-4 col-start-large-9 u-hide--small u-hide--medium u-vertically-center">
      {{
        image (
        url="https://assets.ubuntu.com/v1/7bf909cc-Admin.svg",
        alt="Canonical Ubuntu Essentials badge",
        width="175",
        height="205",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2 class="u-sv2">Why Certify?</h2>
    <p>Ubuntu is the world's most popular open source OS for both development and deployment, from the data centre to the cloud to the Internet of things. So whether you are trying to pave your way into the tech field, or looking to upgrade your career or prove your skills, Canonical Credentials is here for you! This program is designed to help you demonstrate your expertise to countless enterprise organisations who are more likely than not using Ubuntu software today.</p>
    <ul class="p-matrix">
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">Validate and prove</h3>
          <div class="p-matrix__desc">
            <p>Challenge yourself, expand your skill set, and test your knowledge. The official Canonical Ubuntu badges will certify your knowledge and recognise you as an industry expert.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">Real life hands-on testing</h3>
          <div class="p-matrix__desc">
            <p>Exam questions simulate a real life problem or task that can be part of the day to day of a professional working on an Ubuntu working in an Ubuntu environment. Real-world environments provide a familiar setting to showcase your problem-solving skills.</p>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">The smartest way of breaking down certifications</h3>
          <div class="p-matrix__desc">
            <p>Your career path: now with stepping stones! We designed our Credentials platform using simple, laser-focused building blocks, or microcertifications. This allows you to easily progress through advanced tracks or even select individual microcertifications that are the most relevant to you. Earn the badges you need without spending time and energy you don't have.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="p-strip" id="syllabus">
  <div class="row">
    <div class="col-12">
      <h2>The future is almost here...</h2>
      <p>Help establish the certification programme today and be at the forefront of the programme of tomorrow. Be the first to hear about upcoming exams and new credentials in the upcoming year!</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <h3 class="u-sv2">Complete Canonical Ubuntu Essentials Syllabus &ndash; at a glance</h3>
    <ul class="p-matrix">
      <li class="p-matrix__item">
          {{
            image (
            url="https://assets.ubuntu.com/v1/43f7d2a3-Commands.svg",
            alt="CUE: Linux badge",
            width="51",
            height="60",
            hi_def=True,
            attrs={"class":"p-matrix__img"},
            loading="auto"
            ) | safe
          }}
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">CUE: Linux Microcertification</h3>
          <div class="p-matrix__desc">
            <p>Prove your knowledge of the Linux community, history, and philosophy. Topics include common Linux commands, open source and software licensing, and basic knowledge of Linux architecture and file hierarchy.</p>
            <a href="/credentials/syllabus?exam=CUE%3A%20Linux" class="p-button">Syllabus</a>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
          {{
            image (
            url="https://assets.ubuntu.com/v1/093b57b6-Devices+%26+files.svg",
            alt="CUE: Desktop badge",
            width="51",
            height="60",
            hi_def=True,
            attrs={"class":"p-matrix__img"},
            loading="auto"
            ) | safe
          }}
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">CUE: Desktop Microcertification</h3>
          <div class="p-matrix__desc">
            <p>Demonstrate your knowledge of Ubuntu Desktop administrative essentials. Topics include package management, system installation, data gathering, and managing printing and displays.</p>
            <a href="/credentials/syllabus?exam=CUE%3A%20Desktop" class="p-button">Syllabus</a>
          </div>
        </div>
      </li>
      <li class="p-matrix__item">
        {{
          image (
          url="https://assets.ubuntu.com/v1/64422ff3-Virtualisation.svg",
          alt="CUE: Server badge",
          width="51",
          height="60",
          hi_def=True,
          attrs={"class":"p-matrix__img"},
          loading="auto"
          ) | safe
          }}
        <div class="p-matrix__content">
          <h3 class="p-matrix__title">CUE: Server Microcertification</h3>
          <div class="p-matrix__desc">
            <p>Illustrate your knowledge of common Ubuntu Server administrative tasks and troubleshooting. Topics include job control, performance tuning, services management, and Bash scripting.</p>
            <a href="/credentials/syllabus?exam=CUE%3A%20Server" class="p-button">Syllabus</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/cube-beta" data-form-id="3801" data-lp-id="7140" data-return-url="https://ubuntu.com/cube/thank-you" data-lp-url="https://pages.ubuntu.com/Contact_Us_Ubuntu_CUBEbetatest_Cube-contact-us-landing-page.html">
</div>
{% endblock content%}
