{% extends "credentials/base_cred.html" %}

{% block title %}Canonical Credentials{% endblock %}

{% block meta_description %}The Canonical Ubuntu Essentials exams certify knowledge and verify skills in general Linux,
Ubuntu Desktop, and Ubuntu Server topics.{% endblock meta_description %}

{% block content %}
<div class="p-strip--suru-topped">
  <div class="u-fixed-width">
    <div class="row">
      <h1>Activate your key</h1>
    </div>
    <div class="row">
      <form class="p-form p-form--stacked" action="/credentials/redeem" method="POST">
        <div class="p-form__group row">
          <div class="col-3">
            <label for="activation-key">Enter your key</label>
          </div>
          <div class="col-3">
            <input type="text" name="activation-key" id="activation-key" autocomplete="off" required>
          </div>
        </div>
        <div class="p-form__group row">
          <div class="col-3">
            <label for="exam">Choose your exam</label>
          </div>
          <div class="col-3">
          <select id="exam" name="exam" required>
            <option value="cue-01-linux">CUE.01: Linux</option>
          </select>
          </div>
        </div>
        <div class="p-form__group row">
          <div class="col-3">
          </div>
          <div class="col-3">
            <button class="p-button--positive" type="submit" name="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
