{% extends "credentials/base_cube.html" %}

{% block title %}Canonical Credentials -- Confirm exam scheduling{% endblock %}

{% block meta_description %}The Canonical Ubuntu Essentials exams certify knowledge and verify skills in general Linux, Ubuntu Desktop, and Ubuntu Server topics.{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1QuhO-9FEOGLrYp8bErS_9snqdljl7d6tFAUoNQxoVDQ/edit{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--suru-topped">
  <div class="row">
    <h1>Everything is ready!</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Your exam</h2>
      <p>Exam name: {{ exam["name"] }}<br/>
      Exam date: {{ exam["date"] }}<br/>
      Time: {{ exam["time"] }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        <a class="p-button--positive" href="/credentials/schedule?uuid={{ exam['uuid'] }}">Reschedule exam</a>
        <a href="/credentials/your-exams">Your exams &gt;</a>
      </p>
    </div>
  </div>
  <div class="row">
    <h2>How to take your exam</h2>
    <ol class="p-stepped-list">
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">Remember the reminders</h3>
        <p class="p-stepped-list__content">Schedule reminders on the day of your exam 15 minutes before your starting time to make sure everything is set-up on your end to take the exam in the best possible conditions.</p>
      </li>
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">Visit /credentials/your-exams</h3>
        <p class="p-stepped-list__content">On {{ exam["date"] }}, log into your credentials account and click on <b>Your exams</b>. Look for the exam name and ID you booked today. The <b>Take exam</b> button will be availabe starting at {{ exam["time"] }}.</p>
      </li>
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">Take the exam</h3>
        <p class="p-stepped-list__content">You will be redirected to our exam platform.</p>
      </li>
    </ol>
  </div>
</section>

{% endblock content%}
