{% extends "azure/base_azure.html" %}

{% block title %}Ubuntu on Azure{% endblock %}
{% block meta_description %}Ubuntu is the operating system platform of choice for Azure, powering innovation on public cloud in environments ranging from dev/test to mission-critical production. Run Ubuntu on Azure, benefit from our worldwide mirroring and publication and talk to Canonical about how we can help optimise your cloud workloads.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1GUlSATrqZmGrsk4DhP9W0s-gcOuFxpdKVgx7YE4g780/edit#{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="p-strip--suru-topped">
    <div class="row u-equal-height">
      <div class="col-7 col-medium-4">
        <h1>
          Ubuntu on Azure
        </h1>
        <p>
          Canonical produces official Ubuntu images in the Microsoft Azure Marketplace and continuously tracks and delivers updates to these, ensuring security and stability are built-in from the moment your machines and containers launch.
        </p>
        <p>
          Canonical works closely with Microsoft to optimise Ubuntu images on Azure and ensure Ubuntu supports the latest cloud features as these are released. Today, Ubuntu powers more mission-critical workloads on Azure than any other operating system.
        </p>
        <p>
          Beyond Ubuntu Server images, Canonical offers a number of premium Ubuntu images that extend Ubuntu Server with additional security and management features, billed through your existing Microsoft Azure account.
        </p>
        <a href="/azure/contact-us" class="p-button--positive js-invoke-modal" data-testid="interactive-form-link">Talk to us about Ubuntu on Azure</a>
      </div>
      <div class="col-5 u-align--center u-vertically-center u-hide--medium u-hide--small">
        {{
          image(
          url="https://assets.ubuntu.com/v1/da9a1344-Microsoft-Azure-logo_stacked_transparent.png",
          alt="",
          width="350",
          height="100",
          hi_def=True,
          loading="auto",
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <div class="p-logo-section">
        <h2 class="p-logo-section__title u-align--center">Ubuntu on Azure powers cloud leaders like</h2>
        <div class="p-logo-section__items u-no-margin--bottom">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/6cd78b57-at%26t-logo.png",
              alt="AT&T",
              width="288",
              height="288",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/8812e5ee-deloitte-logo.png",
              alt="Deloitte",
              width="288",
              height="288",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/aa7918a3-avaya-logo.png",
              alt="Avaya",
              width="288",
              height="288",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip" id="standard-pro">
  <div class="row">
    <div class="col-6">
      <h2>Choose the right Ubuntu for you</h2>
      <p>Select between the standard Ubuntu Server and the Pro edition, which includes expanded security, compliance and Azure integration:</p>
    </div>
  </div>
  
  <div class="row u-equal-height">
    <div class="col-6 p-card">
      <h3 class="p-card__title">Ubuntu</h3>
      <p class="p-heading--2">Free to use</p>
      <hr class="u-sv1">
      <div class="p-card__content">
        <ul class="p-list">
          <li class="p-list__item is-ticked">Azure-optimised kernel and userspace components built from the latest releases</li>
          <li class="p-list__item is-ticked">Broad set of open source application components available for development</li>
          <li class="p-list__item is-ticked">Security patches for the kernel and key infrastructure components</li>
          <li class="p-list__item is-ticked">Updates mirrored and images published in all Azure regions worldwide</li>
          <li class="p-list__item is-ticked">5-year lifetime</li>
        </ul>
        <p>Run Ubuntu 20.04 LTS: <a href="https://azuremarketplace.microsoft.com/en-gb/marketplace/apps/canonical.0001-com-ubuntu-server-focal?tab=Overview">Standard</a></p>
      </div>
    </div>
    <div class="col-6 p-card">
      <h3 class="p-card__title">Ubuntu Pro for Azure</h3>
      <p class="p-heading--2">Starting at $0.002/hour (equivalent to $18 p.a.)</p>
      <hr class="u-sv1">
      <div class="p-card__content">
        <ul class="p-list">
          <li class="p-list__item is-ticked">Includes all Ubuntu optimisations and updates of the free version</li>
          <li class="p-list__item is-ticked">Expanded security covering 26,000 additional application components delivered with Ubuntu</li>
          <li class="p-list__item is-ticked">Kernel live patching for instant security and longer uptimes</li>
          <li class="p-list__item is-ticked">FIPS 140-2 and CC-EAL certified components</li>
          <li class="p-list__item is-ticked">Security hardening and audit tools (CIS) to establish a security baseline across your systems (and help you meet the Azure Linux Security Baseline policy)</li>
          <li class="p-list__item is-ticked">10-year lifetime</li>
          <li class="p-list__item is-ticked">FIPS-certified modules and CIS audit/hardening tooling for Ubuntu Pro 22.04 are in progress. (If you require these in the meantime, please use <a href="https://azuremarketplace.microsoft.com/en-gb/marketplace/apps/canonical.0001-com-ubuntu-pro-focal">Ubuntu Pro 20.04 LTS</a>)</li>
          <li class="p-list__item is-ticked">Optional 24/7 support for your Ubuntu workloads (<a href="/azure#get-in-touch">contact us</a> to discuss adding this by Azure Marketplace Private Offer)</li>
        </ul>
        <p><a href="https://azuremarketplace.microsoft.com/en-gb/marketplace/apps/canonical.0001-com-ubuntu-pro-jammy" class="p-button--positive">Launch Ubuntu Pro 22.04 LTS</a></p>
        <p><a href="/azure/pro">More about Ubuntu Pro for Azure&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="row">
    <div class="col-12">
      <h2>Features</h2>
    </div>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">Optimised</h3>
      <p>Ubuntu on Azure runs on an Azure-optimised kernel, which includes improved device drivers, like <a href="https://azure.microsoft.com/en-us/blog/maximize-your-vm-s-performance-with-accelerated-networking-now-generally-available-for-both-windows-and-linux/">Accelerated Networking</a>, and out of the box support for accelerators like GPUs. This means faster instance starts and better runtime performance for your workloads.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">Security built in</h3>
      <p>Our security teams track alerts 24x7 and release patches to system components and applications continuously. Canonical operates a worldwide distribution network ensuring that package updates are delivered in-region quickly.</p>
    </div>
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">All the bits you need</h3>
      <p>Ubuntu includes everything you need out of the box to build and operate cloud-native applications at scale. Supporting runtimes like Python, Node.js and Go, and server components like Apache Kafka, NGINX, MongoDB, Redis and PostgreSQL.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-12">
      <h2>Get Ubuntu Pro on Azure now:</h2>
    </div>
  </div>
  <div class="row p-divider">
    <div class="col-2 p-divider__block">
      <h3 class="p-heading--4"><a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/canonical.0001-com-ubuntu-pro-jammy">22.04 LTS</a></h3>
    </div>
    <div class="col-2 p-divider__block">
      <h3 class="p-heading--4"><a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/canonical.0001-com-ubuntu-pro-focal">20.04 LTS</a></h3>
    </div>
    <div class="col-2 p-divider__block">
      <h3 class="p-heading--4"><a href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/canonical.0001-com-ubuntu-pro-bionic">18.04 LTS</a></h3>
    </div>
    <div class="col-2 p-divider__block">
      <h3 class="p-heading--4"><a href="https://azuremarketplace.microsoft.com/en-gb/marketplace/apps/canonical.0001-com-ubuntu-pro-xenial">16.04 LTS</a></h3>
    </div>
    <div class="col-2 p-divider__block">
      <h3 class="p-heading--4"><a href="https://azuremarketplace.microsoft.com/en-gb/marketplace/apps/canonical.0001-com-ubuntu-pro-trusty">14.04 LTS</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="u-no-margin--bottom"><strong>Read more about</strong> <a href="/azure/pro">Ubuntu Pro&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Optimise your cloud journey with Canonical</h2>
      <p>Canonical works with the top enterprises and innovators in the world to define and execute their cloud journeys. Migration, application redesign, support and optimisation services are some of the ways in which we have helped customers make the most of Ubuntu and Azure together.</p>
      <p><a href="/azure/contact-us" class="p-button--positive js-invoke-modal u-no-margin--bottom">Talk to us about Ubuntu on Azure</a></p>
    </div>
    <div class="col-5 col-start-large-8">
      <blockquote class="p-pull-quote">
        <p class="p-pull-quote__quote">Microsoft and Canonical have partnered to bring an outstanding value proposition for Ubuntu users on Azure; no other platform has this level of performance, security and platform integration.</p>
        <cite class="p-pull-quote__citation">Christian Reis, VP Public Cloud</cite>
      </blockquote>
    </div>
  </div>
</section>

<script src="{{ versioned_static('js/dist/utmInheritance.js') }}"></script>
{% endblock content %}
