{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extend",
        "include",
        "mixin",
        "for",
        "function",
        "if",
        "warn",
        "return"
        ]
    } ],
  }
}