{% extends "appliance/_base-appliance.html" %}

{% block title %}Ubuntu Appliance Community - Governance and Policies{% endblock %}

{% block meta_description %}Join the Ubuntu community by developing, discussing or even simply downloading one of the Ubuntu Appliances. Anyone can create an Ubuntu Appliance. Have your project benefit from all of the goodness that goes into Ubuntu.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1DpU0AzAJ4gBa_au4gELBUD3vLz8l-FnAwFdERBHlvwc/edit{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-topped">
  <div class="row u-equal-height">
    <div class="col-8">
      <h1>
        Welcome to our Ubuntu Appliance community
      </h1>
      <p>
        Whether you are a power user, a developer, a member of the Ubuntu project or a new contributor to Ubuntu Appliances, we invite you to join our Ubuntu Appliance Discourse and make your voice heard.
      </p>
      <p>
        <a href="https://discourse.ubuntu.com/c/appliance">Join the Ubuntu Appliance Discourse</a>
      </p>
    </div>
    <div class="col-4 u-hide--medium u-hide--small u-align--center u-vertically-center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/107e2c69-Community-header.svg",
        alt="",
        width="254",
        height="254",
        hi_def=True,
        loading="auto",
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>
        New Ubuntu Appliance ideas and proposals
      </h2>
      <p>
        To suggest a new Ubuntu Appliance:
      </p>
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item" style="padding-bottom: 0;">
          <p class="p-stepped-list__title">
            <a href="https://discourse.ubuntu.com/c/appliance">Share your idea</a> with a <a href="https://discourse.ubuntu.com/c/appliance/proposed-new-appliances">Proposed New Appliance</a> topic to get community feedback
          </p>
        </li>
        <li class="p-stepped-list__item" style="padding-bottom: 0;">
          <p class="p-stepped-list__title">
            Publish your appliance software at <a href="https://snapcraft.io/docs/getting-started">snapcraft.io</a>
          </p>
        </li>
        <li class="p-stepped-list__item" style="padding-bottom: 0;">
          <p class="p-stepped-list__title">
            Test on a <a href="/download/intel-nuc">PC</a> or <a href="/download/raspberry-pi-core">Raspberry Pi</a> with vanilla Ubuntu Core
          </p>
        </li>
        <li class="p-stepped-list__item" style="padding-bottom: 0;">
          <p class="p-stepped-list__title">
            Optimise your appliance images for devices you want to support
          </p>
        </li>
      </ol>
      <p>
        Your Proposed New Appliance topic is where we coordinate image creation and inclusion.
      </p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>
        Privacy Policy
      </h2>
      <p>
        Ubuntu Appliances must comply with the <a href="https://gdpr-info.eu/">European GDPR</a> and/or <a href="https://en.wikipedia.org/wiki/California_Consumer_Privacy_Act">California CCPA laws</a>.Each Ubuntu Appliance must link to its privacy policy to clarify if any information is collected and who has access to it. We review your privacy policies and data handling on the appliance during appliance optimisation. The <a href="/legal/data-privacy">Canonical privacy policy for Ubuntu</a> applies to Ubuntu Appliances.
      </p>
    </div>
    <div class="col-6">
      <h2>
        Licensing
      </h2>
      <p>
        Each Ubuntu Appliance contains apps and content under its own licence. Publishers must have the necessary rights to make that content available. Open source code must take advantage of the secure Ubuntu build infrastructure, while commercial content must come from the official source of those materials together with its standard maintenance commitment.
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-8">
      <h2>
        Updates and security maintenance
      </h2>
      <p>
        Ubuntu is famous for its <a href="/about/release-cycle">security updates, release cadence and maintenance commitment</a>. All of those strengths apply to every Ubuntu Appliance. In addition, Ubuntu Appliances are built on Ubuntu Core, with transactional updates and rollback. A fully containerised platform improves security and makes updates much more reliable.
      </p>
      <p>
        Updates for system components of Ubuntu Core are published immediately for critical security fixes. We roll less critical fixes into an update approximately every two weeks. Your appliance can be set to receive updates less frequently based on the needs of the publisher. Software components on the appliance are updated by the publisher on their own schedule. Canonical will notify publishers of any known security issues in Ubuntu Appliance components to help them publish updates quickly.
      </p>
    </div>
    <div class="col-4 u-hide--medium u-hide--small u-align--center u-vertically-center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/69d31769-updates-security-maintenance.svg",
        alt="",
        width="238",
        height="236",
        hi_def=True,
        loading="lazy",
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-4 u-hide--medium u-hide--small u-align--center u-vertically-center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/57d2e0de-Certified.svg",
        alt="",
        width="171",
        height="229",
        hi_def=True,
        loading="lazy",
        ) | safe
      }}
    </div>
    <div class="col-8">
      <h2>
        Certified, maintained and experimental appliances
      </h2>
      <p>
        A <em>certified</em> Ubuntu Appliance gets continuous testing by Canonical on all certified hardware. Canonical works with publishers to make sure their Ubuntu Appliance 'just works' from first boot, and will continue to work whenever Ubuntu Core receives an update.
      </p>
      <p>
        Both <em>certified</em> and <em>maintained</em> Ubuntu Appliances have a commitment from the appliance maintainers to update the underlying snaps for a declared period, and to test their Ubuntu Appliance image works on their recommended hardware. Certified Ubuntu Appliances have a commitment until the underlying Ubuntu Core is 5 or 10 years old. For example, an Ubuntu Appliance built on Ubuntu Core 20 is certified until 2025 or 2030 at the publisher's discretion.
      </p>
      <p>
        An <em>experimental</em> Ubuntu Appliance does not yet have a maintenance commitment. Either the appliance itself is still being finalised, or the software components don't have someone standing behind them for a guaranteed maintenance period.
      </p>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>

  <div class="row u-equal-height">
    <div class="col-8">
      <h2>
        Hardware compatibility
      </h2>
      <p>
        Ubuntu Core is guaranteed to work on any <a href="/certified/">Ubuntu certified hardware</a>. We recommend the Raspberry Pi or Intel NUCs for your development and testing. We recommend that you work with Canonical to certify any other hardware that is particularly relevant for your appliance. Certification means that every update, bug fix or security patch is tested on these boards in Canonical's testing lab to minimise regressions.
      </p>
    </div>
    <div class="col-4 u-hide--medium u-hide--small u-align--center u-vertically-center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/7fd75134-hardware-compatibility.svg",
        alt="",
        width="287",
        height="180",
        hi_def=True,
        loading="lazy",
        ) | safe
      }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>

  <div class="row u-equal-height">
    <div class="col-4 u-hide--medium u-hide--small u-align--center u-vertically-center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/1144fd09-governance.svg",
        alt="",
        width="271",
        height="180",
        hi_def=True,
        loading="lazy",
        ) | safe
      }}
    </div>
    <div class="col-8">
      <h2>
        Governance
      </h2>
      <p>
        Any healthy and large community will have to manage tensions and conflicting member goals, even though we have a strong shared interest. Here, multiple open source communities and commercial vendors collaborate and create Ubuntu Appliances. Governance ensures that any stress is resolved productively.
      </p>
      <p>
        We lean towards ownership over committee, because doing the work earns the right to decide how best it should be done. Where there are significant questions that touch multiple contributors, we encourage them to work out a constructive common ground, and we offer an escalation path to resolve matters that do not reach quick consensus.
      </p>
      <p>
        Any developer can lead an Ubuntu Appliance. To be hosted on this site, the person or team behind the Ubuntu Appliance publisher must demonstrate that they follow the Ubuntu Code of Conduct.  Before we publish it as a maintained or certified Ubuntu Appliance, we make sure that there is a credible commitment to the maintenance of its software.
      </p>
    </div>
  </div>
</section>

{% endblock content %}
