{% extends "appliance/_base-appliance.html" %}

{% block title %}Ubuntu Appliances Governance{% endblock %}

{% block meta_description %}{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1DpU0AzAJ4gBa_au4gELBUD3vLz8l-FnAwFdERBHlvwc/edit#{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-topped">
  <div class="row">
    <div class="col-8">
      <h1>Governance</h1>
      <p>A community forms around a shared interest, but a healthy and large community will inevitably have to manage divergent or competing goals. For example, in this community, we have appliance software from multiple vendors. It is in all of our interests to deliver both the highest quality experience for individual appliances and multi-vendor interoperability and substitution.</p>
      <p>Governance ensures that understandable tensions are resolved productively. In general, we lean towards ownership over a committee, because doing the work earns the right to decide how best it should be done. Where there are significant questions that touch on multiple contributors, we encourage them to work out a constructive common ground, and we offer an escalation path to resolve matters that do not reach quick consensus.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>Inclusion process</h2>
      <p>To make your application into an Ubuntu appliance you need to do the following things:</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked"><a href="https://snapcraft.io/" class="p-link--external">Package your software as a snap</a></li>
        <li class="p-list__item is-ticked">Publish your snap in the store</li>
        <li class="p-list__item is-ticked">Test your software on certified hardware</li>
        <li class="p-list__item is-ticked">Get in touch to discuss your launch</li>
        <p>Each of these and more is discussed below. At any stage of the process, publishers can get-in-touch with the right people regarding any questions or problems they have through the <a href="https://forum.snapcraft.io/">snapcraft forum</a>. Here people will be able to guide you in packaging and publishing your software if necessary. Similarly, if you are unable to test your software on all of the hardware you want the forum is where you will find people to do testing for you. When you get in touch we will qualify your tests and verify the quality of your snap. After that, it is simply a case of creating your page on our website and planning any marketing you would like to do upon launch. Once your appliance is a part of the portfolio, it is up to you to determine whether your appliance will be considered <a href="#certified">certified</a>, <a href="#maintained">maintained</a>, or <a href="#experimental">experimental</a>.</p>
      </div>
    </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Code of Conduct</h2>
      <p>One of the key innovations that Ubuntu pioneered in free software communities is the use of a Code of Conduct. It lays out the expectations that we have of those who participate, represent or engage with the project. Essentially, it calls on people to treat one another with respect regardless of their differences of opinion, and it is the foundation for all of our governance practices. The Ubuntu Code of Conduct continues to serve as a template for many other communities since it was established in 2004.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>Privacy Policy</h2>
      <p>Each appliance in the portfolio is expected to operate under European GDPR or California CCPA laws. Further than this, each appliance must provide information regarding their specific privacy policies on their dedicated appliance page. This should be completely transparent about what information is collected and who receives it.</p>
      <p>An appliance that is found to intentionally disregard these requirements will be removed from the portfolio and their breach of governance will be communicated to their users if possible, or otherwise made public knowledge.</p>
      <p>The privacy policy associated with Canonical remains the same.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Licensing</h2>
      <p>Each Ubuntu appliance contains applications and documentation that could be created by a range of individuals, teams and companies under their given brand.  Each appliance may come under a different licence. As such, publishers of Ubuntu appliances must make their licencing information available to users and have the rights to publish under their brand or have rights to distribute under the given brand. Default copyright laws will apply if no license is given.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>Publisher IP</h2>
      <p>This agreement does not transfer from Canonical to you any Canonical or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Canonical. Canonical, canonical.com, the canonical logo, and all other trademarks, service marks, graphics and logos used in connection with canonical.com, or the Website are trademarks or registered trademarks of Canonical or Canonical’s licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any Canonical or third-party trademarks.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Updates and security maintenance</h2>
      <p>Updating and maintaining software for Ubuntu appliances will happen in the snap store. To summarise, it is up to the publishers of snaps to choose to keep their application up to date. There may be technical or resource issues with updating the software. “We” as the store host don’t mandate that software must be updated by developers. We recommend it and provide the means to make it possible via the launch page build system and various CI systems. The date that each snap was updated per appliance will be clearly shown on that appliances web page. The update and security maintenance cadence of Ubuntu Core is documented elsewhere.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>Image grades</h2>
      <h3 id="certified">Certified</h3>
      <p>An Ubuntu appliance image can be considered certified if the publisher submits that the image is certified by Canonical and Canonical agrees to incorporate it into their testing infrastructure. Once this is the case, it is the responsibility of the publisher to maintain communication with the Canonical testing team when pushing updates to their appliance. This would mean that Canonical guarantees the image will work and continue to work on certified hardware running Ubuntu Core.</p>
      <h3 id="maintained">Maintained</h3>
      <p>The majority of Ubuntu appliances will exist at this grade. A maintained appliance has a commitment from the snap maintainers to update the appliance snaps regularly according to a declared cadence. That cadence is up to the publisher but it must include scope and time. I.e What they will commit to maintaining over what period of time.</p>
      <h3 id="experimental">Experimental</h3>
      <p>This grade can indicate a few things:
      <ul class="p-link">
        <li class="p-link__item is-ticked">The snaps included in the image are not all considered to be properly maintained</li>
        <li class="p-link__item is-ticked">The appliance image itself is undergoing testing by Canonical or by the maintainers</li>
        <li class="p-link__item is-ticked">The snaps that make up the appliance image are being pulled from the ‘candidate’ or ‘edge’ channels</li>
      </ul>
      <p>In the docs section, you will find access to the image builder. A tool where anyone can build appliance images out of whichever snaps they please to test on their own. Any images this way are not guaranteed to work and are also considered experimental.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      Hardware compatibility
      Ubuntu Core is guaranteed to work on any Ubuntu certified hardware. This includes Raspberry Pi’s and the Intel NUC. Certification means that these boards exist in Canonical’s certification and testing lab and every time an update, bug fix or security patch is rolled out to the OS it is tested on these boards first. This is to ensure no update breaks a user’s appliance. Before a project can become an official Ubuntu appliance, it must be tested to work on a Raspberry Pi or Intel NUC.
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>Decision-making bodies</h2>
      <p>In order to have your project published as an official Ubuntu appliance and featured in the portfolio, you must get in touch with the right people at Canonical. The easiest way to do this is through the snapcraft forum, where Canonical engineers can help you package your software as a snap and test your images. It is then a simple case of creating a post in the snapcraft forum or making a topic in the Ubuntu Discourse. After that, the decision rests with the Ubuntu Community Council. The primary community (i.e., non-technical) governance body for the Ubuntu project. Members are appointed by Mark Shuttleworth and approved by a vote by the entire Ubuntu membership.</p>
      <h3>Ubuntu Community Council</h3>
      <p>The social structures and community processes of Ubuntu are supervised by the Ubuntu Community Council, which manages nominations and elections for Ubuntu boards and councils. The council is also responsible for the Code of Conduct and tasked with ensuring that community members and leaders live up to the standard it sets.</p>
      <p>The Council is ultimately responsible for dispute resolution, should it be required. For example, in the past, we have helped to resolve conflicts in LoCo teams and in the Ubuntu forums - both very important parts of the community that have their own leadership structures carrying authority delegated by the Community Council.</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Commercial terms</h2>
      <p>In order to use an Ubuntu appliance image in a commercial product, you must <a href="">contact Canonical</a> so that we can talk to the developer about the use of their work and Ubuntu Core in your product. You must see the appliances and Canonical’s licensing terms before using the image in any commercial product.</p>
    </div>
  </div>
</section>

{% endblock content %}
