{% extends "partners/base_partners.html" %}

{% block title %}Reseller partners{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Partners" subsection_title="Find a partner" page_title="Reseller partners" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<div class="eight-col">
		<h1>Reseller partners</h1>
	</div><!-- / .five-col -->
	<a href="http://www.canonical.com/partners/become-a-partner" class="link-cta-ubuntu right">Apply to become a partner</a>
</div><!-- / .row -->

<div class="row">
	<h2 id="global">Global</h2>
	<div class="four-col">
	    <div class="box">
	        <a href="http://www.wipro.com/"><img src="{{ STATIC_URL }}img/logos/partners/wipro.jpg" alt="Wipro" /></a>
	        <p><a href="http://www.wipro.com/">Wipro Ltd</a> is a global information technology, consulting and outsourcing company working with Canonical as an Ubuntu Advantage Reseller partner delivering professional services and support to Ubuntu users all over the world. Wipro helps customers do business better leveraging its industry-wide experience, deep technology expertise, comprehensive portfolio of services and a vertically aligned business model.</p>
	    </div>
	</div>
</div>

<div class="row">
	<div class="four-col">
	<h2 id="af">Africa</h2>
	    <div class="box">
			<h3 id="South Africa">South Africa</h3>
	        <a href="http://www.lsd.co.za/"><img src="{{ STATIC_URL }}img/logos/partners/LSD3.jpg" alt="Linux System Dynamics" /></a>
	        <p><a href="http://www.lsd.co.za/">Linux System Dynamics</a>  (LSD) is a young, dynamic and energetic company founded in 2002 in Southern Africa. LSD has fast become synonymous with Passion and Expertise in the Open Source Community and coupled with our extended skills in Linux means that we deliver a great customer experience</p>
	    </div>
	</div>
	<div class="four-col">
	<h2 id="as">Asia</h2>
	    <div class="box">
			<h3 id="Malaysia">Malaysia</h3>
	        <a href="http://www.mesiniaga.com.my/"><img src="{{ STATIC_URL }}img/logos/partners/Mesiniaga_Logo_Ori-4.png" alt="Mesiniaga" /></a>
	        <p><a href="http://www.mesiniaga.com.my/">Mesiniaga</a> is one of Malaysia&#39;s leading systems integrator and is listed on Bursa Securities with a paid-up capital of RM60.4 million. In fulfilling its mission to drive customer business performance, it harnesses technology that best serves customer business objectives and combines it with expertise derived from a deep understanding of customer environment. <br /></p>
	    </div>
	</div>
	<div class="four-col last-col">
	<h2 id="na">North America</h2>
	    <div class="box">
			<h3 id="United States of America">United States of America</h3>
	        <a href="http://www.csscorp.com/"><img src="{{ STATIC_URL }}img/logos/partners/csscorp1.png" alt="CSS Corp" /></a>
	        <p><a href="http://www.csscorp.com/">CSS Corp</a> Head-quartered in San Jose, CA has global operations centers in Chennai (India), Utah (USA), Poland (Europe) and in the Philippines offering Enterprise and Consumer Technology Support, Application Life Cycle Management, Training, Consulting Services and Remote Infrastructure Management Services. Ubuntu Server/Desktop and UEC are key focus areas.</p>
	    </div>
	</div>
</div>

<div class="row equal-height">
	<h2 id="eu">Europe</h2>
	<div class="four-col box">
		<h3 id="Denmark">Denmark</h3>
        <a href="http://fleten.net/"><img src="{{ STATIC_URL }}img/logos/partners/fleten.netLogo1.jpg" alt="Fleten.net" /></a>
        <p><a href="http://fleten.net/">Fleten.net</a> ApS provides solutions for schools, institutions and companies based on Ubuntu and Edubuntu. We have experience with cloud servers, LTSP and reuse of old hardware as thin clients. Our goal is to provide professional, fast, transparent and reliable systems without costly investments in software and hardware.</p>
	</div>

	<div class="four-col box">
		<h3 id="Norway">Norway</h3>
        <a href="http://www.linpro.no"><img src="{{ STATIC_URL }}img/logos/partners/rplp_log_rgb_200_gif.gif" alt="Redpill Linpro AS" /></a>
        <p><a href="http://www.linpro.no">Redpill Linpro AS</a> Redpill Linpro is the leading provider of Professional Open Source services and products in the Nordic region. We provide consulting, development services, training, support, application management and IT operations for Open Source products ranging from infrastructure, databases, middleware and enterprise applications to customer specific solutions based on Open Source components.</p>
	</div>

	<div class="four-col last-col box">
		<h3 id="Russian Federation">Russian Federation</h3>
        <a href="http://www.ncpr.su/en"><img src="{{ STATIC_URL }}img/logos/partners/NCPR_scaled____.JPG" alt="National Center of Support and Development" /></a>
        <p><a href="http://www.ncpr.su/en">National Center of Support and Development</a> (&quot;NCPR&quot;) works on creation of integrated software platform, based on open-source software, and on development of the partner solutions ecosystem on the platform&#39;s basis. &quot;NCPR&quot; cooperates with the world&#39;s leading vendors of open-source products for adaption of the world&#39;s best technologies for Russian market requirements, and for support of the products and solutions in Russia.</p>
	</div>

	<div class="four-col box">
		<h3 id="Spain">Spain</h3>
        <a href="http://www.zentyal.com/partners/join/"><img src="{{ STATIC_URL }}img/logos/partners/Zentyallogo.png" alt="Zentyal " /></a>
        <p><a href="http://www.zentyal.com/partners/join/">Zentyal </a> ,developer of the Zentyal Linux small business server, has reached an agreement with Canonical offering Ubuntu Advantage to SMBs through Zentyal Partner Network. Zentyal partners provide high-value services based on Zentyal small business server and now they can also extend their offering to Ubuntu desktop and application servers. <br /></p>
	</div>

	<div class="four-col box">
		<h3 id="United Kingdom (Great Britain)"></a> United Kingdom (Great Britain)</h3>
        <a href="http://www.i-layer.com/ubuntu/"><img src="{{ STATIC_URL }}img/logos/partners/i-Layer.png" alt="i-Layer" /></a>
        <p><a href="http://www.i-layer.com/ubuntu/">i-Layer</a> is the layer in any business where technical innovation can make a <br />difference to the bottom line. It might be as simple as a new website - or as <br />grand as a whole new infrastructure. <br />At Innovation Layer we have both creativity and experience in business - <br />and are long term ...</p>
	</div>

	<div class="four-col last-col box">
		<h3 id="Germany">Germany</h3>
        <a href="http://teuto.net/"><img src="{{ STATIC_URL }}img/logos/partners/teutonet.png" alt="Teuto.net" /></a>
        <p><a href="http://teuto.net/">Teuto.net</a>, Netzdienste GmbH is an Internet-Service-Provider, Datacenter-Solutions-Provider and system-builder focusing on business customers in Germany. teuto.net provides Linux-based systems and solutions, consulting, management and training since 1994. Technical services are added with complex Intra- and Internet-Application development. Our own 24/7 support-center and datacenter is located in Bielefeld/NRW.</p>
	</div>
	<div class="four-col box">
		<h3>Germany</h3>
        <a href="https://www.b1-systems.de/"><img src="{{ STATIC_URL }}img/logos/partners/b1-systems.png" alt="B1 Systems" height="50" /></a>
        <p><a href="https://www.b1-systems.de/">B1 Systems GmbH</a> is a German provider of consulting, training, development &amp; support services based on Linux and Open Source founded in 2004. Our team of more than 65 Linux experts offers tailor-made solutions based on virtualization, high availability and cloud computing technologies as well asmonitoring, system and configuration management. B1 helps turn Open Source innovationinto Enterprise reliability and performance &mdash; nationally and internationally.</p>
	</div>
	<div class="four-col box">
		<h3 id="Belgium">Belgium</h3>
        <a href="http://kangaroot.net/"><img src="{{ STATIC_URL }}img/logos/partners/Kangaroot.png" alt="Kangaroot" /></a>
        <p><a href="http://kangaroot.net/">Kangaroot</a> is Belgium&rsquo;s most experienced Linux and open source service provider. Our certified engineers design, install and support infrastructure solutions for multinationals, all levels of government, mid-size companies and non-profit organisations. We deliver real added value by increasing efficiency and solving strategic business technology challenges within budget and implementation time.</p>
	</div>
</div>

<div class="row no-border equal-height">
	<h2 id="sa">South America</h2>
	<div class="four-col box">
	    	<h3 id="Brazil">Brazil</h3>
	        <a href="http://www.f13.com.br"><img src="{{ STATIC_URL }}img/logos/partners/logo_f13_fundo_scaled.png" alt="F13 Tecnologia" /></a>
	        <p><a href="http://www.f13.com.br">F13 Tecnologia</a> is focused on providing services with open source solutions for the business market - from small businesses to large corporations. It provides technical support, targeted training, consulting and specialized services for managing IT infrastructures. Since 2004, F13 Tecnologia is committed to its clients in seriousness, professionalism and quality service.</p>
	</div>

	<div class="four-col box">
		<h3>Brazil</h3>
	        <a href="http://www.neuwald.com.br/"><img src="{{ STATIC_URL }}img/logos/partners/LogoNeuwald_Horizontal_Grande.png" alt="Neuwald IT" /></a>
	        <p><a href="http://www.neuwald.com.br/">Neuwald IT</a> it&#39;s a company based in Brazil, founded in 2007 with focus on advanced IT solutions. Our products and services help keep the IT environment of our customers up and running with high availability and excellent performance. Our customers include federal government, local governments, small and big private companies. Our team is recognized by excellent technical ...</p>
	</div>

	<div class="four-col last-col box">
	    	<h3>Brazil</h3>
	        <a href="http://www.solis.coop.br/"><img src="{{ STATIC_URL }}img/logos/partners/Solis.png" alt="Solis Cooperativa de Soluções Livres Ltda" /></a>
	        <p><a href="http://www.solis.coop.br/">Solis Cooperativa de Soluções Livres Ltda</a> is a company specialized in consultancy, free software development and technological support services, mainly acting in three segments: education, corporative and governmental. With over 50 highly qualified professionals, Solis is today a model of innovation and a reference on the IT segment.</p>
	</div>

	<div class="four-col box">
			<h3 id="Peru">Peru</h3>
	        <a href="http://www.e-nteractiva.com/"><img src="{{ STATIC_URL }}img/logos/partners/E-nteractiva2.png" alt="E-nteractiva" /></a>
	        <p><a href="http://www.e-nteractiva.com/">E-nteractiva</a> provides world-class, cloud-based platforms and services to businesses; delivering the most cost-effective technologies in the markets we operate becoming a trusted advisor to our customers and channel partners in Latin America. <br />E-nteractiva deliver Canonical Services and Support to Peru, Argentina, Chile, Ecuador and Bolivia. <br /> <br /></p>
	</div>
</div><!-- / .row -->

{% endblock content %}