{% extends "core/base_core.html" %}
{% load versioned_static %}

{% block title %}Ubuntu Core{% endblock %}
{% block meta_description %}Introducing Ubuntu Core, the smallest Ubuntu ever, the perfect host operating system for IoT devices and large-scale cloud container deployments{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1QoM0Yqx4JfDJ2G3OPt5bds-ximG1jASmU_PWX4iff3E/edit{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--image p-banner-core-hero is-deep is-dark is-bordered">
  <div class="row u-equal-height">
    <div class="col-7">
      <h1>Make secure devices with Ubuntu Core</h1>
      <!-- small screen version -->
      <img class="u-visible--small u-hide--medium u-hide--large" src="{{ ASSET_SERVER_URL }}7b563def-core_white-orange_st_hex.svg" width="150" alt="" style="margin: 4rem 0;"/>
      <h4>Everything you love about Ubuntu, locked down for security. Helping you make safer things - because we’re all connected.</h4>
    </div>
    <div class="col-5 u-align--center u-hide--small u-vertically-center">
      <!-- medium and large screen version -->
      <img src="{{ ASSET_SERVER_URL }}7b563def-core_white-orange_st_hex.svg" width="156" alt="" />
    </div>
  </div>
</section>


<nav class="p-tabs p-sticky-nav">
  <ul class="p-tabs__list" role="tablist">
    <li class="p-tabs__item" role="presentation">
      <a class="p-tabs__link js-sticky-tab" href="#security-first">Security first</a>
    </li>
    <li class="p-tabs__item" role="presentation">
      <a class="p-tabs__link js-sticky-tab" href="#built-for-business">Built for business</a>
    </li>
    <li class="p-tabs__item" role="presentation">
      <a class="p-tabs__link js-sticky-tab" href="#developers-love-ubuntu">Developers love Ubuntu</a>
    </li>
    <li class="p-tabs__item" role="presentation">
      <a class="p-tabs__link js-sticky-tab" href="#incredible-reliability">Incredible reliability</a>
    </li>
    <li class="p-tabs__item" role="presentation">
      <a class="p-tabs__link js-sticky-tab" href="#reduce-the-cost">Reduce the cost of Linux</a>
    </li>
  </ul>
</nav>

<section class="p-strip is-deep">
  <div class="row">
    <div class="col-12 u-align--center">
      <h5 class="p-muted-heading u-no-max-width">Get straight to market with our device partners</h5>
    </div>
  </div>
  <ul class="row">
    <li class="prefix-4 col-6 mobile-col-6 tablet-col-6"><img class="" src="{{ ASSET_SERVER_URL }}94ea495b-2018-logo-Intel.svg" alt="Intel logo" /></li>
    <li class="col-2 mobile-col-2 tablet-col-2"><img src="{{ ASSET_SERVER_URL }}b1767848-2018-logo-raspberry-pi.svg" alt="Raspberry PI logo" /></li>
  </ul>
  <ul class="row">
    <li class="prefix-4 col-6 mobile-col-6 tablet-col-6"><img src="{{ ASSET_SERVER_URL }}0970d532-2018-logo-dell.svg" alt="Dell logo" /></li>
    <li class="col-2 mobile-col-2 tablet-col-2"><img src="{{ ASSET_SERVER_URL }}45fd87b5-2018-logo-rigado.svg" alt="Rigado logo" /></li>
  </ul>
  <div class="row">
    <div class="col-12 u-align--center">
      <p class="u-no-max-width">Canonical and partners speed your device development.</p>
      <p class="u-no-max-width"><a class="p-button--positive" href="/core/contact-us?product=core-overview">Get to market faster</a></p>
    </div>
  </div>
</section>

<!-- start of generated content -->

<section class='p-strip--image p-banner-core' id="security-first" >
  <div class='row u-vertically-center'>
    <div class='col-8'>
      <h2>Security first</h2>
      <h4>Security is our job from the moment you power it on.</h4>
      <p>We redesigned the entire system from first boot to create the most secure embedded Linux for devices and connected things.</p>
    </div>
  </div>
</section>

<section class='p-strip is-bordered'>
  <div class='row'>
    <ul class='p-matrix is-split u-clearfix'>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Tamper-resistant and hardened against corruption</h4>
          <p class='p-heading--five'>Every aspect of the system is checked and verified.</p>
          <p>You need to know your software is pristine; not just for installation, but for the whole lifetime of the device.</p>
          <p>Immutable packages and persistent digital signatures mean Ubuntu Core can verify any software component at any time.</p>
        </div>
      </li>

      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Strict confinement everywhere</h4>
          <p class='p-heading--five'>One bad app shouldn’t compromise the whole system</p>
          <p>You trust your developers, but anybody can make a mistake.</p>
          <p>We created a whole new armoury of Linux security capabilities to ensure all applications stay confined to their own data.</p>
        </div>
      </li>

      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>10 years security updates, by Canonical</h4>
          <p class='p-heading--five'>That's a decade of sleeping soundly.</p>
          <p>Ubuntu Core 18 gets 10 years of Canonical maintenance from Ubuntu 18.04 LTS. Your smallest devices are now just as well covered as your servers.</p>
          <p>No other embedded Linux comes close.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Vulnerability scanning</h4>
          <p class='p-heading--five'>We check every snap for known weaknesses or risks.</p>
          <p>Ubuntu Core benefits from the automatic scanning of all snaps for vulnerable libraries and problematic code.</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="row u-hide--small">
    <hr style="margin: 3rem 0;" />
  </div>
  <div class="row u-margin--core">
    <div class="col-6">
      <h4>Minimal core, minimal risk, minimal bugs</h4>
      <p class='p-heading--five'>Core is for machines, so we stripped it down to bare essentials.</p>
      <p>Fewer packages to attack, fewer bugs to fix, fewer forced changes. We reduced the OS to reduce the attack surface. That leaves more disk for your IoT applications and data.</p>
      <p>
        <a class="p-button--positive" href="/core/contact-us?product=core-overview">Contact us</a>
      </p>
      <p>
        <a href="/download/iot/">Get Ubuntu Core&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-6 u-hide--small u-align--center">
      <img src="https://assets.ubuntu.com/v1/2fa512a3-GRAPHIC_os_image_size.svg?w=335" alt="OS image size comparison">
    </div>
  </div>
</section>

<section class='p-strip--image is-deep p-banner-core' id="built-for-business">
  <div class='row u-vertically-center'>
    <div class='col-8'>
      <h2>Built for business</h2>
      <h4 class='u-no-margin--bottom'>Bring your applications, we take care of the rest.</h4>
    </div>
  </div>
</section>

<section class='p-strip is-bordered'>
  <div class='row'>
    <ul class='p-matrix is-split u-clearfix'>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Manufacturer’s update control</h4>
          <p class='p-heading--five'>Decide which updates go to your devices.</p>
          <p>As a device manufacturer or a snap publisher, you decide which updates are certified and delivered to your devices. Digital signatures certify compatibility for precise update control.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>App store included</h4>
          <p class='p-heading--five'>Your own app store. Your own software portfolio.</p>
          <p>Every device built with Ubuntu Core has a secure app store. Use the global store for access to all the standard apps, or curate your own collection.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Enterprise management</h4>
          <p class='p-heading--five'>Absolute control over every device in the building.</p>
          <p>Enterprises gain complete audit and control over every piece of software on every single device on the network. Regardless of manufacturer.</p>
          <p>You know exactly which kernel version and which OS version is running. You decide when updates happen. You decide which versions, too.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>License compliance</h4>
          <p class='p-heading--five'>We help you keep track of the licenses you depend on.</p>
          <p>Standard license metadata simplifies compliance. Ubuntu Core uses open source packages from the world’s most widely deployed Linux, and we track licenses in all key components.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Mission critical support</h4>
          <p class='p-heading--five'>Every Ubuntu Core device qualifies for Canonical support.</p>
          <p>Your Ubuntu Advantage contract covers enterprise support for all these devices. Get to the heart of a problem faster, get fixes straight from the source.</p>
        </div>
      </li>
      <li class='p-matrix__item'>&nbsp;</li>
    </ul>
  </div>
  <div class="row u-hide--small">
    <hr  style="margin: 3rem 0;"/>
  </div>
  <div class="row u-vertically-center">
    <div class="col-6">
      <h4>Software ecosystem, ready to go</h4>
      <p class='p-heading--five'>Thousands of applications built to work across devices.</p>
      <p>A standard platform helps publishers support multiple devices without recompiling. And everybody wants to support Ubuntu - it’s the most widely deployed Linux in the world.</p>
      <p><a class="p-button--neutral" href="https://snapcraft.io/store"><span class="p-link--external">Visit the Snap Store</span></a></p>
      <p><a href="/internet-of-things/appstore">Get your own app store&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6 u-align--center u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}26e55529-snapstore.png?w=477" alt="">
    </div>
  </div>
</section>

<section class='p-strip--image p-banner-core' id="developers-love-ubuntu">
  <div class='row u-vertically-center'>
    <div class='col-8'>
      <h2>Developers love Ubuntu</h2>
      <h4>Your business is software defined. Keep developers happy and productive to attract the best talent.</h4>
      <p>Happy developers create amazing products. Amazing products attract more great developers. 8/10 Linux developers choose Ubuntu.</p>
    </div>
  </div>
</section>

<section class='p-strip is-bordered'>
  <div class='row'>
    <ul class='p-matrix is-split u-clearfix'>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Embedded Linux is easy on Ubuntu</h4>
          <p class='p-heading--five'>We handle the board. You handle the apps.</p>
          <p>No bad BSPs. No maintenance nightmares. No integration delays. Just develop on Ubuntu. Embedded, but not as you knew it.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Harness all things open source</h4>
          <p class='p-heading--five'>From Github to Ubuntu Core in minutes.</p>
          <p>Ride the open source wave, or build your own community. Open source projects default to Ubuntu, so building is easy.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Deploy to devices as fast as the cloud</h4>
          <p class='p-heading--five'>Publish direct to devices and watch updates in real time. Bring continuous deployment right to the edge.</p>
          <p>Put your devices on rails for rapid iteration with continuous deployment pipelines, beta testing and canary updates. Featuring Travis integration and a multi-architecture build service.</p>
        </div>
      </li>
      <li class='p-matrix__item'>&nbsp;</li>
    </ul>
  </div>
  <div class="row u-hide--small">
    <hr  style="margin: 3rem 0;"/>
  </div>
  <div class="row u-vertically-center">
    <div class="col-6">
      <h4>One platform from workstation to device</h4>
      <p class='p-heading--five'>Bring your apps from Ubuntu Server to Ubuntu Core.</p>
      <p>Snaps run on Ubuntu Server, Desktop and Core. One platform, one process. Your developer workstation, your build farm, your cloud and servers all use snaps. Your appliances too - with extra security.</p>
      <p><a class="p-button--neutral" href="https://snapcraft.io/"><span class="p-link--external">Build your IoT application with Snapcraft</span></a></p>
      <p><a class="p-link--external" href="https://snapcraft.io/build">CI/CD with snapcraft</a></p>
    </div>
    <div class="col-6 u-align--center u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}2964e9eb-snapcraft-logo--web.svg" width="334" alt="">
    </div>
  </div>
</section>

<section class='p-strip--image p-banner-core' id="incredible-reliability">
  <div class='row u-vertically-center'>
    <div class='col-8'>
      <h2>Incredible reliability</h2>
      <h4 class='u-no-margin--bottom'>Every application update has a backup plan. Every device has a backup kernel and OS. Because every device matters.</h4>
    </div>
  </div>
</section>

<section class='p-strip is-bordered'>
  <div class='row'>
    <ul class='p-matrix is-split u-clearfix'>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Transactional updates everywhere</h4>
          <p class='p-heading--five'>Bulletproof updates need a whole new approach. Preserve data and roll back on error. Automatically.</p>
          <p>Your power supply may not be reliable. Your devices will be. Resilience to adversity saves money and reputations. Bank on Ubuntu Core to deliver your updates safely.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Backup boot paths</h4>
          <p class='p-heading--five'>Low-level updates preserve the prior booth path.</p>
          <p>When you have to update the kernel or the operating system you want to know you can go back if needed. Ubuntu Core keeps the last working boot so you always have a safety net.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Snapshots for application data</h4>
          <p class='p-heading--five'>Standard mechanisms for application data management.</p>
          <p>Every device has apps which keep track of critical data. We make sure you can manage the data which matters to you, consistently, across all your Ubuntu Core devices. Backup and restore anything, anywhere.</p>
        </div>
      </li>
      <li class='p-matrix__item'>&nbsp;</li>
    </ul>
  </div>
</section>

<section class='p-strip--image p-banner-core' id="reduce-the-cost">
  <div class='row u-vertically-center'>
    <div class='col-8'>
      <h2>Reduce the cost of Linux</h2>
      <h4>Use Ubuntu Core free. Pay only for extra services.</h4>
      <p>The reference images of Ubuntu Core are free to redistribute. Engage Canonical for enablement and custom service levels. We’ll get you to market faster.</p>
    </div>
  </div>
</section>

<section class='p-strip is-bordered'>
  <div class='row'>
    <ul class='p-matrix is-split u-clearfix'>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Off-the-shelf board support by Canonical</h4>
          <p class='p-heading--five'>First class enablement for widely used boards and silicon gets you straight to market.</p>
          <p>Low-level development is a distraction in the race to market. Focus all your effort on the experience that differentiates. Pre-certified chipsets keep you out of the weeds.</p>
          <p><a href="/download/iot">See our supported board&nbsp;&rsaquo;</a></p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Choice of ARM or x86</h4>
          <p class='p-heading--five'>Ubuntu runs the same. Your apps build the same.</p>
          <p>We support both 32-bit and 64-bit apps on both architectures. If it doesn’t compile and run the same, we’ll fix it. Open up your supply chain.</p>
        </div>
      </li>
      <li class='p-matrix__item'>
        <div class='p-matrix__content'>
          <h4>Bandwidth matters for billions of devices</h4>
          <p class='p-heading--five'>Delta updates reduce traffic to the edge.</p>
          <p>Shipping and updating apps adds up to a lot of traffic. Control costs with automatic compression and delta composition.</p>
        </div>
      </li>
      <li class='p-matrix__item'>&nbsp;</li>
    </ul>
  </div>
  <div class="row u-hide--small">
    <hr style="margin: 3rem 0;" />
  </div>
  <div class="row u-margin--core">
    <div class="col-6">
      <h4>Right-size your silicon</h4>
      <p class='p-heading--five'>Finish your apps, then choose your chips.</p>
      <p>A standard platform means you can develop your software and polish your industrial design first, then choose the right size chips for your experience based on real code and data.</p>
      <p>Get the best deal when you’re ready to ship.</p>
      <p><a href="/core/contact-us?product=core-overview" class="p-button--positive">Contact us</a></p>
    </div>
    <div class="col-6 u-align--center u-vertically-center u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}9e173716-iot.svg" width="158" alt="">
    </div>
  </div>
</section>

<!-- end generated -->

<!-- whitepapers and case studies -->
<div class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>Further reading on Ubuntu Core</h2>
    </div>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block" id="ubuntu-com_core_left">
      <!-- rtp section left start -->
      <div class='p-heading-icon--muted'>
        <div class='p-heading-icon__header'>
          <img class='p-heading-icon__img p-heading-icon__img--small' src='{{ ASSET_SERVER_URL }}5cf7bd32-news-feed-strip-case-study.svg' alt='' />
          <h4 class='p-heading-icon__title'>Case study</h4>
        </div>
      </div>
      <h3 class='p-heading--four'><a class='p-link--external' href='https://pages.ubuntu.com/CS_IMS_Evolve.html' onclick='dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'product page', 'eventAction' : 'core - left', 'eventLabel' : 'Case study - IMS Evolve ', 'eventValue' : '1' });'><span hidden>Read the case study </span>IMS Evolve adopts Ubuntu Core to provide IIoT-enabled business intelligence</a></h3>
      <!-- rtp section left end -->
    </div>
    <div class="col-4 p-divider__block" id="ubuntu-com_iot-core_center">
      <!-- rtp section center start -->
      <div class='p-heading-icon--muted'>
        <div class='p-heading-icon__header'>
          <img class='p-heading-icon__img p-heading-icon__img--small' src='{{ ASSET_SERVER_URL }}cd7a3a3c-white-paper-icon.svg' alt='' />
          <h4 class='p-heading-icon__title'>Whitepaper</h4>
        </div>
      </div>
      <h3 class='p-heading--four'><a href='engage/ubuntu-core-and-kura' onclick='dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'product page', 'eventAction' : 'core - center', 'eventLabel' : 'Whitepaper - Ubuntu Core and Kura - a framework for IoT gateways', 'eventValue' : '1' });'><span hidden>Read the whitepaper </span>Ubuntu Core and Kura &mdash; a framework for IoT gateways&nbsp;&rsaquo;</a></h3>
      <!-- rtp section center end -->
    </div>
    <div class="col-4 p-divider__block" id="ubuntu-com_iot-robotics_right">
      <!-- rtp section right start -->
      <div class='p-heading-icon--muted'>
        <div class='p-heading-icon__header'>
          <img class='p-heading-icon__img p-heading-icon__img--small' src='{{ ASSET_SERVER_URL }}cc61684f-case-study-icon.svg' alt='' />
          <h4 class='p-heading-icon__title'>Case study</h4>
        </div>
      </div>
      <h3 class='p-heading--four'><a href='/engage/fingbox-case-study' onclick='dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'product page', 'eventAction' : 'core - right', 'eventLabel' : 'Case study - Fing snaps up 30,000 customers', 'eventValue' : '1' });'><span hidden>Read the case study </span>Fing snaps up 30,000 customers with a secure, future-proof IoT device&nbsp;&rsaquo;</a></h3>
      <!-- rtp section right end -->
    </div>
  </div>
</div>

<section class="p-strip--light is-bordered">
  <div class="row p-divider">
    <div class="col-6 p-divider__block">
      <h3>Let&rsquo;s work together</h3>
      <p>Talk to us about using Ubuntu Core for your next project.</p>
      <p><a href="/core/contact-us?product=core-overview" class="p-button--positive">Get in touch</a></p>
    </div>
    <div class="col-6 p-divider__block">
      <h3>Make your own Ubuntu Core device</h3>
      <p>Walk through all the steps to build an image for a device.</p>
      <p><a class="p-button--neutral" href="http://docs.ubuntu.com/core/en/guides/build-device/image-building?from=corepage"><span class="p-link--external">Build a custom Ubuntu Core image</span></a></p>
    </div>
  </div>
</section>

<style>
  .p-banner-core-hero {
    background-blend-mode: multiply;
    background-image:
      url("{{ ASSET_SERVER_URL }}738ba272-suru-right-bottom.svg"),
      url("{{ ASSET_SERVER_URL }}3c2f1118-suru-right-top.svg"),
      linear-gradient(225deg, #333333 0%, #111111 50%, #1D1D1D 100%);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain, cover;
  }

  @media only screen and (max-width: 460px) {
    .p-banner-core-hero {
      background-color: #333333;
      background-image: linear-gradient(-225deg, #333333 0%, #111111 50%, #1D1D1D 100%);;
    }
  }

  .p-banner-core {
    background-color: #ffffff;
    background-image:
      url('{{ ASSET_SERVER_URL }}071af59b-suru-left-lightgrey.svg'),
      url('{{ ASSET_SERVER_URL }}7d893432-suru-right-lightgrey.svg');
    background-position: bottom left, top right;
    background-size: cover;
  }

  @media only screen and (max-width: 460px) {
    .p-banner-core {
      background: #F7F7F7;
    }
  }

  @media only screen and (min-width 460px) {
    .u-margin--core {
      margin-top: 2rem;
    }
  }
</style>
<script src="{% versioned_static 'js/stickyNav.js' %}"></script>

{% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_core_learn_more" second_item="_core_contribute" third_item="_iot_further_reading" %}

{% endblock content %}
