{% extends "core/base_core.html" %}

{% block title %}Success Stories | Ubuntu Core{% endblock %}
{% block meta_description %}Case studies and customer stories of products launched with Ubuntu Core, a secure, fully containerised Ubuntu for embedded devices that is optimised for reliable updates.{% endblock %}

{% block content %}

<section class="p-strip--suru-topped">
  <div class="row">
    <h1>Celebrating smart innovation</h1>
    <p class="p-heading--4">Our customers transform industries with Ubuntu Core</p>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>Ubuntu Core in industrial applications</h2>
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>Bosch Rexroth reinvents automation</h4>
      <p>Bosch adopts Ubuntu Core and snaps for app-based ctrl-X industry 4.0 platform. ctrlX AUTOMATION leverages Ubuntu Core, designed for embedded devices, and snaps - the universal Linux application containers - to deliver an open source platform that removes the barriers between machine control, IT and OT.</p>
      <p>
        <a href="/blog/bosch-rexroth-adopts-ubuntu-core-and-snaps-for-app-based-ctrlx-automation-platform">Bosch Rexroth adopts Ubuntu Core and snaps&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/156ddbf8-rexroth_logo.svg",
        alt="Rexroth",
        width="200",
        height="81",
        hi_def=True,
        loading="lazy"
      ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>Rigado cuts customers’ time to market with Ubuntu Core</h4>
      <p>In the fast-paced world of IoT, being able to reduce time-to-market is a priority. Rigado’s core mission is to provide scalable and secure infrastructure for their customers’ commercial IoT deployments.</p>
      <p>
        <a href="/engage/case-study-rigado">Rigado cuts customers’ time-to-market with Ubuntu Core and AWS&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/0aa9c999-rigado.svg",
        alt="Rigado",
        width="230",
        height="41",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>Azeti uses Ubuntu Core to improve deployment and security</h4>
        <blockquote class="p-pull-quote--small">
          <p class="p-pull-quote__quote">Security is fantastic in Ubuntu Core - it's a self contained system that houses all the libraries. The Ubuntu stack is read only, isolating it from interference from the outside, that's really important for industrial environments, it prevents people from changing anything vital.</p>
          <cite class="p-pull-quote__citation">Florian Hoenigschmid, Director of Product Management, azeti</cite>
        </blockquote>
      <p><a href="/engage/casestudy-azeti">Azeti uses Ubuntu Core to improve deployment and security&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/7365803b-Logo_azeti.png",
        alt="azeti",
        width="160",
        height="65",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>AZLOGICA utilise Ubuntu Core for agricultural IoT solutions</h4>
      <p>Learn how Azlogica, a Latin American IoT company, turned to Ubuntu to help their client, Oceanos, to maximise shrimp production and revenues using Ubuntu Core and Dell Edge Gateways.</p>
      <p>
        <a href="/engage/casestudy-azlogica">AZLOGICA utilise Ubuntu Core for customised IoT agricultural solutions&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/78676842-azlogica.png",
          alt="azlogica",
          width="200",
          height="61",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>IMS Evolve adopts Ubuntu Core to provide IoT-enabled business intelligence in the supply chain</h4>
      <p>IMS Evolve has delivered rapidly scalable IoT Solutions to the world’s largest food retailers, from their refrigeration systems to their petrol filling stations. Overall, IMS Evolve’s systems monitor 25 million data points every minute of every day, and manage almost 98,000 sites across 12 countries.</p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/0492e7d8-ims-logo.svg",
          alt="ims",
          width="250",
          height="50",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>
  <div class="row">
    <p>
      <a href="/engage/casestudy-imsevolve">IMS Evolve adopts Ubuntu Core to provide IoT-enabled business intelligence in the supply chain&nbsp;&rsaquo;</a>
    </p>
    <p>
      <a href="/industrial">Learn more about Ubuntu Core in industrial applications&nbsp;&rsaquo;</a>
    </p>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>Ubuntu Core in robotics</h2>
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>ARX Fit builds the world’s most effective and efficient fitness machines</h4>
      <p>When the time came to develop its new line of Adaptive Resistance exercise machines, ARX decided to modernise its software strategy. With its legacy software, ARX struggled to deliver over-the-air (OTA) updates to deployed machines and users had too much control over the Windows-based environment, creating a host of maintenance issues.</p>
      <p>
        <a href="/engage/arx-fit-on-ubuntu-core">ARX Fit builds the world’s most effective and efficient fitness machines on Ubuntu Core&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/92506599-arx_logo_black.svg",
          alt="Arx logo",
          width="200",
          height="74",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>Small Robot Company sows the seeds for autonomous farming</h4>
      <p>In Europe, the cost of running a cereal farm – cultivating wheat, rice, and other grains – has risen by 85% in the last 25 years, yet crop yields and revenues have stagnated. And while farms struggle to remain profitable, it won’t be long before those static yields become insufficient to support growing populations.</p>
      <p>
        <a href="/engage/small-robot-company">Small Robot Company sows the seeds for autonomous and more profitable farming&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/3dd69506-SRC+logo+black+and+white.png",
          alt="A small robot company",
          width="100",
          height="170",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>Cyberdyne keeps cleaning robots up-to-date in the field with snaps</h4>
      <p>As Japan’s workforce ages, certain roles are being supported by advanced robots to help bridge the gap. Cyberdyne, a Japanese robotics company, are building such robots and have rolled them out into shopping centres and Tokyo’s two main airports.</p>
      <p>
        <a href="/engage/cyberdyne">Cyberdyne keeps cleaning robots up-to-date in the field with snaps&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/33cd9d84-cyberdyne_owler_20200106_095918_original.png",
          alt="Cyberdyne",
          width="200",
          height="119",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>
  <div class="row">
    <a href="/robotics">Learn more about Ubuntu Core in robotics&nbsp;&rsaquo;</a>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>SmartDrone fast&ndash;tracks drone infrastructure revolution with Ubuntu Core</h4>
      <p>The number of use cases for industrial drones has grown exponentially over the last couple of years. Being aware of the market potential, SmartDrone decided to take its current surveying and mapping drone solution to the next level.</p>
      <p>
        <a href="/engage/drone-infrastructure-case-study-smartdrone">SmartDrone fast-tracks drone infrastructure revolution with Ubuntu Core&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/f3c8cf7f-SD-Trademark-RedANDBlue-RGB.png",
        alt="Smartdrone",
        width="225",
        height="47",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>Ubuntu Core in digital signage</h2>
  </div>
  <div class="row">
    <div class="col-8">
      <h3 class="p-heading--4">Screenly takes the next step in secure screen technology</h3>
      <p>With this new business model targeting technical decision makers within high-tier enterprises and large public companies, Screenly knew that its security strategy would face a new level of scrutiny. Fortunately, Screenly was already using Ubuntu Core to power its solutions, providing the security capabilities, hardening and OTA update infrastructure necessary to satisfy the most demanding enterprise buyers.</p>
      <p>
        <a href="/engage/secure-digital-signage-screenly">Screenly innovates IoT fleet management for secure digital signage&nbsp;&rsaquo;</a>
      </p>
      <p>
        <a href="/engage/screenly-empowers-security-conscious-enterprises">Screenly takes the next step in secure screen technology with Ubuntu Core&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-hide--medium u-hide--small u-align--center">
      {{
        image (
        url="https://assets.ubuntu.com/v1/a182b1e8-Full%20Logo.png",
        alt="",
        width="300",
        height="69",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h4>Cinergy makes significant digital signage saving with Screenly Pro and Ubuntu Core</h4>
      <p>Cinema entertainment centres (CECs) are an all in one venue incorporating cinemas, restaurants, bowling and other activities such as escape rooms and are a growing market. Find out why they turned to Screenly Pro and Ubuntu Core to help with their content management needs in such a marketing driven business.</p>
      <p>
        <a href="/engage/casestudy-cinergy">Cinergy makes significant digital signage saving with Screenly Pro and Ubuntu Core&nbsp;&rsaquo;</a>
      </p>
      <p>
        <a href="/internet-of-things/smart-displays">Learn more about Ubuntu Core in digital signage&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/ec3429ec-Cinergy-Logo-White.svg",
          alt="Cinergy",
          width="280",
          height="63",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>

  <div class="row">
    <h2>Ubuntu Core in consumer applications</h2>
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>Future-proofing Fingbox, the home network monitoring device</h4>
      <p>Fing App is a network scanning and troubleshooting tool used by millions. Fingbox is a complementary hardware device which plugs into Wi-Fi routers to monitor, secure and troubleshoot networks and their connected devices. Fing's engineering team built Fingbox using Ubuntu Core and Snaps to speed up development time, save on budget and resources, and to ensure a future-proof product went to market.</p>
      <p>
        <a href="/engage/future-proof-iot">Future-proofing Fingbox, the IoT home network monitoring device&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/258ac4a1-logo.png",
          alt="Fing",
          width="180",
          height="73",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <h4>How Domotz streamlined provisioning of IoT devices</h4>
      <blockquote class="p-pull-quote--small">
        <p class="p-pull-quote__quote">I absolutely believe that Ubuntu Core and snaps give us a competitive advantage. We are the only company in the IoT network management space that can guarantee a secure, always-up-to-date device for our customers’ on-premises deployments.</p>
        <cite class="p-pull-quote__citation">Giancarlo Fanelli, CTO, Domotz</cite>
      </blockquote>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/84d82478-domotz.svg",
          alt="domotz",
          width="220",
          height="48",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
    </div>
  </div>
  <div class="row u-sv3">
    <p>
      <a href="/engage/domotz-case-study">How Domotz streamlined provisioning of IoT devices&nbsp;&rsaquo;</a>
    </p>
    <p>
      <a href="/internet-of-things/appstore">Learn more about Ubuntu Core in consumer applications&nbsp;&rsaquo;</a>
    </p>
  </div>
</section>

<section class="p-strip--square-suru is-slanted--top-right">
  <div class="row">
    <h2>Get to market quickly with IoT Professional Services</h2>
    <p class="u-sv3">
      <a class="p-button--positive" href="/core/services">Launch your smart product</a>
    </p>
  </div>
</section>

<section class="p-strip--light">
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h4>Download Ubuntu Core</h4>
      <p>Try Ubuntu Core 20 on a popular development board</p>
      <p><a class="p-button" href="https://cdimage.ubuntu.com/ubuntu-core/20/stable/current/">Download and install Ubuntu Core 20</a></p>
    </div>
    <div class="col-4 p-divider__block">
      <h4>Make your own Ubuntu Core device</h4>
      <p>Walk through the steps to build an image for a device.</p>
      <p><a class="p-button" href="/core/docs/image-building">Build a custom Ubuntu Core image</a></p>
    </div>
    <div class="col-4 p-divider__block">
      <h4>Let's work together</h4>
      <p>Talk to us about using Ubuntu Core for your next project.</p>
      <p><a href="/core/contact-us?product=core-stories" class="p-button--positive js-invoke-modal">Get in touch</a></p>
    </div>
  </div>
</section>

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/internet-of-things" data-form-id="1266" data-lp-id="2166" data-return-url="https://ubuntu.com/core/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html"></div>

{% endblock content %}


