{% extends "openstack/_base_openstack.html" %}

{% block title %}Consulting | OpenStack{% endblock %}

{% block meta_description %}Foundation Cloud Build is a service that builds, supports and manages your cloud for you.{% endblock meta_description %}

{% block content %}
  <section class="p-strip--image u-no-background--small is-deep is-bordered" style="background-image: url('{{ ASSET_SERVER_URL }}1d2ab6ba-suru-background.png'); background-size: 100% 100%;">
    <div class="row">
      <div class="col-8">
        <h1>OpenStack consulting, design and delivery</h1>
        <h2 class="p-heading--three">Carrier grade, banking security, government scale. Serious private clouds are our business.</h2>
        <p>Hundreds of successful OpenStack clouds underpin our consulting, training, architecture design, and hardware procurement advice - to help you evaluate and deliver OpenStack.</p>
        <p>
          <a href="/openstack/contact-us?product=foundation-cloud" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Internal Link', 'eventAction' : 'Engage Canonical exports', 'eventLabel' : 'Engage Canonical exports - Top CTA', 'eventValue' : undefined });" class="p-button--positive">Engage Canonical experts</a>
          <a href="{{ ASSET_SERVER_URL }}8cf6fe4f-Foundation-Cloud-Build-Openstack-data-sheet.pdf" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Read our consulting datasheet', 'eventLabel' : 'Read our consulting datasheet - Top CTA', 'eventValue' : undefined });" class="p-button--neutral">Read our consulting datasheet</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip is-bordered">
    <div class="row">
      <h2>Canonical will design and deploy OpenStack on your premises</h2>
    </div>
    <div class="row">
      <div class="u-equal-height">
        <div class="col-8">
          <p>Building and running an OpenStack cloud requires specialised expertise and low-level Linux OS knowledge. Canonical brings the full stack &mdash; from kernel to containers to applications - along with operating experience from hundreds of OpenStack deployments around the world to get you started efficiently.</p>
          <p>Once you are certain OpenStack is the right choice we can deliver your cloud in two weeks. Only then do you need to commit the devops talent required to run your cloud, or <a href="/openstack/managed">outsource that to Canonical</a> as well.</p>
        </div>
        <div class="col-4 u-hide--small u-vertically-center">
          <img style="max-width: 240px;" src="{{ ASSET_SERVER_URL }}4287c2b2-transfer.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="row">
      <h3>From zero to private cloud &mdash; OpenStack delivery on rails</h3>
      <p>With many years experience deploying, supporting, running and upgrading OpenStack clouds, Canonical offers a unique fixed-price private cloud delivery service with a proven reference architecture, called Foundation Cloud Build.</p>
    </div>
    <div class="row u-vertically-spaced">
      <h3 class="p-heading--four">What&rsquo;s available with Foundation Cloud Build?</h3>
    </div>
    <div class="row">
      <div class="col-6">
        <ul class="p-list">
          <li class="p-list__item is-ticked">Two-day onsite workshop for introductions, requirements gathering and architecture design</li>
          <li class="p-list__item is-ticked">Existing VMware, public cloud and on-prem workload assessment</li>
          <li class="p-list__item is-ticked">Ongoing operations automation for scaling, node replacement, upgrades</li>
          <li class="p-list__item is-ticked">Full high availability of all OpenStack control plane and API services</li>
          <li class="p-list__item is-ticked">Containerised, hyper-converged or discrete architecture flexibility</li>
          <li class="p-list__item is-ticked">Optimised KVM hypervisor for virtual machines and LXD container guests for ultra-dense Linux</li>
          <li class="p-list__item is-ticked">Resilient network-based Ceph and direct-attach storage options for guests</li>
          <li class="p-list__item is-ticked">VMware migration tools and services</li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="p-list">
          <li class="p-list__item is-ticked">Observability, log analysis and monitoring dashboards with Prometheus, Grafana, Nagios, Elastic Search and Kibana included as standard</li>
          <li class="p-list__item is-ticked">Complete handover with tenant onboarding, documentation, and details of ongoing support</li>
          <li class="p-list__item is-ticked">Disaster recover and third-party tenant storage backup solutions available</li>
          <li class="p-list__item is-ticked">Automated re-deployment guide and scripts</li>
          <li class="p-list__item is-ticked">Option to have Canonical provide operations and management remotely for a period</li>
          <li class="p-list__item is-ticked">OpenStack upgrades by Canonical on demand</li>
          <li class="p-list__item is-ticked">Compliance requirements analysis</li>
          <li class="p-list__item is-ticked">Telco VNF expertise and onboarding</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="p-strip is-bordered">
    <div class="row">
      <h2>Working with Canonical</h2>
      <p>If you have complex requirements, Canonical structures the engagement as a series of iterations, starting with <a href="/openstack/features">proven and well-understood</a> components and architecture. The goal is rapid engagement with other parts of your business that you hope to win as internal customers, and evolution to add capabilities based on their feedback together with your requirements as the IT infrastructure owners.</p>
      <p>Time-to-engagement is the key metric for private cloud, since the flow of workloads is dependent on devops confidence in the new infrastructure. The sooner you engage your application developers and operations teams, the sooner you will start growing your private cloud capacity.</p>
    </div>
    <div class="row p-divider u-equal-height u-vertically-spaced">
      <div class="col-4 p-divider__block">
        <h3>Cloud architecture design and consulting</h3>
        <p>Canonical experts work with your architects to establish your private cloud requirements and define the optimal architecture for your initial business workloads.</p>
        <p>We advise on hardware selection and map out potential enterprise integrations for your OpenStack cloud such as storage and identity.</p>
      </div>
      <div class="col-4 p-divider__block">
        <h3>Ops dashboards and monitoring included</h3>
        <p>Logging and monitoring complex distributed systems is an art form! Canonical&rsquo;s operations teams run hundreds of infrastructure subsystems and clouds, and have converged on a world-class open source monitoring stack.</p>
        <p>Your Foundation Cloud Build comes with modern open source tools &mdash; Prometheus, ELK and Nagios &mdash; for deep insights into your infrastructure performance and health.</p>
      </div>
      <div class="col-4 p-divider__block">
        <h3>24x7 support or outsourced operations</h3>
        <p>Our support plans have you covered so your cloud receives updates, and an SLA for issues that arise during operations.</p>
        <p>We also offer on-demand upgrades to newer versions of OpenStack if you want us to take care of it, and full <a href="/openstack/managed">remote operations and cloud management</a> if you’d rather stay focused on your business workloads exclusively.</p>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-bordered">
    <div class="row">
      <h3>Get started on your OpenStack journey with Canonical, the global leaders</h3>
    </div>
    <div class="row u-equal-height">
      <div class="col-4 p-card u-align--center">
        <a href="/openstack/contact-us?product=foundation-cloud"  onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Internal Link', 'eventAction' : 'Talk to us', 'eventLabel' : 'Talk to us - get started', 'eventValue' : undefined });"><img class="p-card__icon" src="{{ ASSET_SERVER_URL }}d6146a84-icon-talk-to-us.svg" alt="Talk to us" /></a>
        <h4 class="u-no-margin--bottom"><a href="/openstack/contact-us?product=foundation-cloud"  onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Internal Link', 'eventAction' : 'Talk to us', 'eventLabel' : 'Talk to us - get started', 'eventValue' : undefined });">Talk to us&nbsp;&rsaquo;</a></h4>
      </div>
      <div class="col-4 p-card u-align--center">
        <a href="{{ ASSET_SERVER_URL }}8cf6fe4f-Foundation-Cloud-Build-Openstack-data-sheet.pdf" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Read the datasheet', 'eventLabel' : 'Read the datasheet - get started', 'eventValue' : undefined });"><img class="p-card__icon" src="{{ ASSET_SERVER_URL }}3e9e430a-icon-documentation.svg" alt="Read the datasheet" /></a>
        <h4 class="u-no-margin--bottom"><a href="{{ ASSET_SERVER_URL }}8cf6fe4f-Foundation-Cloud-Build-Openstack-data-sheet.pdf"  onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Read the datasheet', 'eventLabel' : 'Read the datasheet - get started', 'eventValue' : undefined });">Read the datasheet&nbsp;&rsaquo;</a></h4>
      </div>
      <div class="col-4 p-card u-align--center">
        <a href="{{ ASSET_SERVER_URL }}8c0ed26d-FCB_Hardware_requirements.pdf" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Hardware requirements', 'eventLabel' : 'Hardware requirements - get started', 'eventValue' : undefined });"><img class="p-card__icon" src="{{ ASSET_SERVER_URL }}4d7dbd0c-icon-settings.svg" alt="Hardware requirements" /></a>
        <h4 class="u-no-margin--bottom"><a href="{{ ASSET_SERVER_URL }}8c0ed26d-FCB_Hardware_requirements.pdf" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Hardware requirements', 'eventLabel' : 'Hardware requirements - get started', 'eventValue' : undefined });">Hardware&nbsp;requirements&nbsp;&rsaquo;</a></h4>
      </div>
    </div>
  </section>

  <section class="p-strip is-bordered">
    <div class="row">
      <h2>Consulting, design and delivery pricing</h2>
      <p>Our consulting delivery package comes in two flavours &mdash; Cloud Build and Cloud Build Plus, with the latter offering more consulting time to evaluate and integrate a wider range of custom architectural possibilities.</p>
    </div>
    {% include "shared/pricing/_openstack-consulting.html" %}
    <div class="row">
      <p><a href="/openstack/contact-us?product=foundation-cloud">For more information about services please contact us&nbsp;&rsaquo;</a></p>
    </div>
  </section>

  <section class="p-strip--light is-bordered">
    <div class="row">
      <h2>Support and operations &mdash; for smooth running clouds, 24/7</h2>
    </div>
    <div class="row">
      <div class="u-equal-height">
        <div class="col-6 p-card">
          <div class="p-card__header">
            <h3 class="p-heading--five u-sv2">Enterprise support</h3>
            <p class="p-heading--two u-no-padding--top">Ubuntu Advantage</p>
            <p class="p-heading--two u-no-padding--top">$1,500 <span class="p-heading--six">per server per year</span></p>
          </div>
          <p>What&rsquo;s included:</p>
          <ul class="p-list">
            <li class="p-list__item is-ticked">24-hour phone and web support</li>
            <li class="p-list__item is-ticked">Access to self-service customer care portal</li>
            <li class="p-list__item is-ticked">Access to Canonical&rsquo;s knowledge base</li>
            <li class="p-list__item is-ticked">Landscape Systems Management</li>
            <li class="p-list__item is-ticked">Includes support for Ubuntu guests</li>
            <li class="p-list__item is-ticked">Includes support for Kubernetes</li>
            <li class="p-list__item is-ticked">Includes optimised Windows guest drivers</li>
          </ul>
          <p><a href="/support">More about Ubuntu Advantage&nbsp;&rsaquo;</a></p>
        </div>
        <div class="col-6 p-card">
          <div class="p-card__header">
            <h3 class="p-heading--five u-sv2">Fully Managed OpenStack</h3>
            <p class="p-heading--two u-no-padding--top">BootStack</p>
            <p class="p-heading--two u-no-padding--top">$500 <span class="p-heading--six">per server per month</span></p>
          </div>
          <p>What&rsquo;s included:</p>
          <ul class="p-list">
            <li class="p-list__item is-ticked">&lsquo;BootStack&rsquo; service by Canonical</li>
            <li class="p-list__item is-ticked">Build, operate and transfer OpenStack</li>
            <li class="p-list__item is-ticked">Outsource operations of your OpenStack cloud</li>
            <li class="p-list__item is-ticked">SLA and regular independent audits</li>
            <li class="p-list__item is-ticked">Training and transfer options</li>
            <li class="p-list__item is-ticked">Fastest way to engage your developers</li>
            <li class="p-list__item is-ticked">Reference private cloud or custom architecture</li>
            <li class="p-list__item is-ticked">Most cost-effective approach up to 200 nodes</li>
            <li class="p-list__item is-ticked">24/7 operations with fully staffed NOC</li>
            <li class="p-list__item is-ticked">Optional managed Kubernetes service on top</li>
            <li class="p-list__item is-ticked">EU and US-only operations options available</li>
          </ul>
          <p><a href="/openstack/managed">More about BootStack&nbsp;&rsaquo;</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-bordered">
    <div class="row">
      <div class="col-12">
        <h2 class="p-muted-heading u-align--center">Companies using OpenStack with Canonical</h2>
        <ul class="p-inline-images">
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}9ca791fd-Sky_Logo_seit_Dezember_2015.png" alt="Sky" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}5af38159-etisalat_logo.svg" alt="Etisalat" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}25de1877-Tele2.svg" alt="Tele2" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}d0b7aa28-logo-deutsche-telekom.png" alt="Deutsche Telekom" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}5482b658-liveperson-logo.jpg" alt="Liveperson" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}4d6054f9-logo-cisco.svg" alt="Cisco" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}b7693339-logo-bloomberg.svg" alt="Bloomberg" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}e0f7037f-logo-ebay.svg" alt="ebay" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}ee5d503f-rabobank-4.svg" alt="Rabobank" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}d424d305-Tesco_Logo.svg" alt="Tesco" />
          </li>
          <li class="p-inline-images__item">
            <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}5a9dfd45-Liberty-Global-Logo.png" alt="Liberty Global" />
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-deep is-bordered">
    {% include "shared/_resources_openstack.html"%}
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-9">
        <h2>Build your OpenStack cloud with Canonical</h2>
        <p><a href="/openstack/features">Find out how</a> Canonical delivers the worlds favourite enterprise OpenStack. The choice of the largest operators in telco, finance, media, pharma, retail and government sectors, Canonical’s OpenStack on Ubuntu offers a flexible architecture and enables integration of GPGPUs, FPGAs and cloud network accelerators.</p>
        <p class="u-no-margin--top"><a href="{{ ASSET_SERVER_URL }}8cf6fe4f-Foundation-Cloud-Build-Openstack-data-sheet.pdf" class="p-button--positive" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Read the datasheet', 'eventLabel' : 'Read the datasheet - Bottom CTA', 'eventValue' : undefined });">Read the datasheet</a>&#8195;<a href="/openstack/contact-us?product=foundation-cloud" class="p-button--neutral" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Internal Link', 'eventAction' : 'Talk to us ', 'eventLabel' : 'Talk to us  - Bottom CTA', 'eventValue' : undefined });">Talk to us </a></p>
      </div>
    </div>
  </section>

  {% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_cloud_bootstack" second_item="_cloud_newsletter" third_item="_cloud_further_reading" %}
{% endblock content %}
