body.support .equal-height .box,
body.about .equal-height .box  { /* rather than having grey-box etc*/
  background: $light_grey;
  border: 0;
}

body.about .equal-height .box h2 {
  @include font_size (16);
  font-weight: normal;
}