/*	@section phone
-------------------------------------------------------------- 

	Contents:
		@section general
		@section phone home (LOL)
		@section more general
		@section operators-and-oems
		@section animations on design page
		@section design
		@section ubuntu-for-android
		@section ubuntu-for-android > features
		@section backed-by-canonical
		@section contextualised footer
		
-------------------------------------------------------------- */

/*	@section general
-------------------------------------------------------------- */
body.phone div.touch-border { 
  padding-bottom: 0;
  
  div {
    margin-bottom: 0;
    padding-bottom: $gutter_width * 2; 
  }
}

.box-phone, .box-android  {
	min-height: 15em;
	padding-right: $six_col;
}

.box-phone { background: #fff url(../img/devices/devices-phone-hero-353x206.png) 95% center no-repeat; }

.box-android { background: #fff url(../img/devices/photo-industry-android-381x230.jpg) 90% center no-repeat; }

body.phone-home .row-hero{   
  height: 385px;
  h2 {
	  padding-right: 10px;
  }
}

body.phone-contact-us .row-hero {
  height: auto;
}

}

/*	@section phone home (LOL)
-------------------------------------------------------------- */
body.phone-home {

  li.verizon img {
    position: relative;
    top: -8px;
  }

  .row-hero {
		background: url("../img/devices/phone-photo-hero.jpg") no-repeat scroll 365px 20px #fff;
    position: relative;
    
    #panel .back {
      p, div {
        margin-left: 172px;
      }
      .right {
        margin-right: 172px;
      }
    }
    
    h2 {
      margin-bottom: 1em;
    }
  }
  
  .row-features {
  }/* end row-features */
  
  .touch-border {
    div {
      min-height: 553px;
    }
    img {
      margin-top: $gutter_width;
    }
  }
  
  .the-video { 
    width: 569px;
    height: 320px;
    position: absolute;
    left: 210px;
    z-index: 20;
  }
    
  .video-background {
    display: block;
    width: 569px;
    height: 320px;
    background: #000;
    margin-bottom: 5px;
  }

  .video.hide {
    display: none;
  }
	.inline-icons {
		text-align: center;
	}
  .inline-icons li {
    margin-right: 75px;
    margin-bottom: 30px;
  }
  .inline-icons li.last {
    margin-right: 0;
  }
}

/*	@section more general
-------------------------------------------------------------- */
body.phone {
  .row-app-grid {
    overflow: hidden;
    
    img {
      margin-left: -80px;
      margin-top: 0;
    }
  }
  
  .row {
    padding-bottom: 30px;
    padding-top: 50px;
    margin-bottom: 0;
  }
  .row-app-grid {
  	background: url("../img/patterns/grey-textured-background.jpg");
  }
  .row-hero {
    padding-top: 0;
    
    a img {
      vertical-align: middle;
      margin-right: 10px;
    }
    
    a.close-video {
      margin-top: 5px;
      img {
        vertical-align: top;
      }
    }
  }
  .row img.touch-border { 
    margin-bottom: -30px; 
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .adapt-web-apps {
    background: url('../img/devices/phone-twitter-320x556.jpg') no-repeat scroll 92% 50px transparent;
    padding-bottom: 100px;
  }
  .thumbs{
    margin-right: $gutter_width;
  }
  .thumbs li {
    float: right;
    margin-right: ($gutter_width * 2);
    margin-bottom: 1.2em;
    list-style-type: none;
    padding: 0;
  }
  .thumbs li.last-item {
    margin-right: 0;
  }
  .thumbs li.bottom {
    margin-bottom: 0;
  }
  .thumbs li img {
    float: left;
  }
  
  .row-interlinks {
    padding: 0 56px 0 $gutter_width;
    border-bottom: 1px solid #CDCDCD;
    background: $light_grey;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
    border-bottom: 1px solid #CDCDCD;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0 56px 0 $gutter_width;
      
    .navigation {
      
      li {
        float: left;
        margin-right: $gutter_width;
        list-style-type: none;
        font-weight: normal;
        margin-bottom: 0;
        
        a {
          font-size: 13px;
          color: #333;
          text-decoration: none;
          display: block;
          border-top: 4px solid transparent;
          padding: 12px 10px 16px;
        }
        a:hover {
          color: #dd4814;
        }
        a.active {
          border-top: 4px solid #dd4814;
          color: #dd4814;
        }
      }
    }
  }
  .next-steps li {
    border-bottom: 1px dotted #AEA79F;
    padding: 8px 0 10px;
  }
  .next-steps li:first-child {
    border-top: 1px dotted #AEA79F;
  }
}

/*	@section app-ecosystem
-------------------------------------------------------------- */
body.phone-app-ecosystem {
  .row-hero {
    background: url("../img/devices/phone-operators-hero-410x342.jpg") no-repeat scroll 90% 20px;
    padding-bottom: 60px;
    div {
      margin-bottom: 0;
    }
    img {
      padding-top: $gutter_width * 2;
    }
  }
  .write-apps {
    background: url("../img/devices/phone-write-apps-background.png") no-repeat scroll right 55px;
  }
	.row-box-feature {
		overflow: hidden;
    
    img {
      margin-left: -80px;
      margin-top: 55px;
    }
  }
}

/*	@section operators-and-oems
-------------------------------------------------------------- */
body.phone-operators-and-oems {
  .row-hero {
    background: url("../img/devices/phone-app-hero-420x338.jpg") no-repeat scroll 90% 30px;
  }
  .list-link {
    padding-left: 30px;
    position: relative;
    top: -8px;
  }
}
body.phone-thank-you {  
  .row-hero{   
    height: auto;
    padding-bottom: 20px;
  }
  .row-box {
    @include rounded_corners(0);
  }
}

/*	@section animations on design page
-------------------------------------------------------------- */
body.phone-features {
		.row strong {
		font-weight: bold;
	}
  .clever-convos {
    background: url("../img/devices/phone-conversations-324x576.jpg") no-repeat scroll 580px 30px;
    height: 450px;
  }
  .edge-magic-content {
      margin-top: 95px;
      padding-right: 60px;
  }
  .edge-magic {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: -70px;
    z-index: 5;
    
    .replay {
      background: url("../img/devices/phone-animation-repeat.png") no-repeat;
      width: 25px;
      height: 21px;
      overflow: hidden;
      position: absolute;
      top: 360px;
      left: 325px;
      outline: none;
    }
    .replay:hover {
      background-position: 0 -21px;
    }
  }
  .edge-top {
    margin-top: 0;
    z-index: 20;
  }
  .edge-left {
    z-index: 10;
    
    .edge-magic-content {
        padding-left: 60px;
        padding-right: 0;
      }
  }
  .edge-bottom {
    z-index: 1;
  }
  
 .slider-animation {
  width: 275px;
  height: 447px;
  position: relative;
  background: url("../img/devices/phone-portrait.png") no-repeat;
  margin: 0 auto;
  
    .screen {  
      width: 182px;
      height: 324px;
      position: absolute;
      top: 54px;
      left: 36px;
      overflow: hidden;
      
      .launcher {
        width: 44px;
        height: 324px;
        position: absolute;
        top: 0;
        left: -100px;
      }
    }
  }
    
  .edge-magic-animation .screen { 
    background: url("../img/devices/phone-edge-magic-twitter.png") no-repeat;
    .launcher {
      background: url("../img/devices/phone-edge-magic-launcher.png") no-repeat;
    }
    .screen-fade {
      background: #000;
      opacity: 0;
      width: 182px;
      height: 324px;
    }
  }
  
  .full-swipe .screen { 
     background: url("../img/devices/phone-edge-magic-apps-scope.png") no-repeat;
    .launcher {
      background: url("../img/devices/phone-edge-magic-launcher.png") no-repeat;
    }
    .fb-screen {
      background: url("../img/devices/phone-edge-magic-facebook.png") no-repeat;
      width: 182px;
      height: 324px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
  .go-back {
    background: url("../img/devices/phone-portrait.png") no-repeat;
    .screen {
      .camera-screen {
        background: url("../img/devices/phone-edge-magic-camera.png") no-repeat;
        width: 182px;
        height: 324px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .gallery-screen {
        background: url("../img/devices/phone-edge-magic-gallery.png") no-repeat scroll center center #000;
        background-size: 142px 250px;
        height: 324px;
        left: 0;
        position: absolute;
        top: 0;
        width: 182px;
      }
    }
  }
  
  .content-controls {
    background: url("../img/devices/phone-portrait.png") no-repeat;
    margin-bottom: $gutter_width;
    .screen {
      .gallery-screen {
        background: url("../img/devices/phone-edge-magic-gallery-no-controls.png") no-repeat;
        width: 182px;
        height: 324px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      .gallery-controls {
        background: url("../img/devices/phone-edge-magic-gallery-controls.png") no-repeat;
        width: 182px;
        height: 324px;
        position: absolute;
        top: 317px;
        left: 0;
      }
    }
  }
  
  .edge-magic-animation.run {
    .screen .launcher {
        -moz-transition: left 1s;
        -webkit-transition: left 1s;
        -o-transition: left 1s;
      transition: left 1s;
      left: 0;
    }
    .screen .screen-fade {
        -moz-transition-delay: 1s;
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
      transition-delay: 1s;
        -moz-transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
      transition: opacity 1s;
      opacity: 0.3;
    }
  }
  
  .full-swipe.run .screen {
    .launcher{
      left: 0;
        -moz-transition: left 1s;
        -webkit-transition: left 1s;
        -o-transition: left 1s;
      transition: left 1s;
    }
    .launcher.return {
      left: -100px; 
    }
    .fb-screen {
       left: 182px;
       
        -moz-transition: left 1s;
        -webkit-transition: left 1s;
        -o-transition: left 1s;
      transition: left 1s;
        -moz-transition-delay: .7s;
        -webkit-transition-delay: .7s;
        -o-transition-delay: .7s;
      transition-delay: .7s;
    }
  }
  
  .go-back.run .screen {
    .camera-screen{
      left: -182px;
          -moz-transition: left 1s;
          -webkit-transition: left 1s;
          -o-transition: left 1s;
        transition: left 1s;
    }
    .gallery-screen {
      background-size: 182px 324px;
        -moz-transition: left 1s ease 1.5s;
          -webkit-transition: left 1s ease 1.5s;
          -o-transition: left 1s ease 1.5s;
        transition: left 1s ease 1.5s;
          -moz-transition: background-size 1s ease;
          -webkit-transition: background-size 1s ease;
          -o-transition: background-size 1s ease;
        transition: background-size 1s ease;
    }
  }
  
  .content-controls.run {
    .screen .gallery-controls {
      top: 280px;
        -moz-transition: top 0.5s;
        -webkit-transition: top 0.5s;
        -o-transition: top 0.5s;
      transition: top 0.5s;
    }
  }
  
  .row-notifications {
  
    .screen {
		  background: url(../img/devices/phone-notifications.png) no-repeat;
		}
		
		.settings-screen {
		  transition: height .8s;
		  background: url(../img/devices/phone-anim-settings-screen.png) no-repeat;
		  width: 182px;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
		}
		
		.slider-knot {
		  transition: top .8s;
		  background: url(../img/devices/phone-anim-slider-knot.png) no-repeat;
		  width: 182px;
		  height: 15px;
		  position: absolute;
		  top: -15px;
		  left: 0;
		}
		
		.run {
		   .slider-knot {
		     top: 309px;
		   }
		   .settings-screen {
		     height: 324px;
		   }
		}
  }
  
  .row-hud .screen {
		background: url(../img/devices/phone-hud.png) no-repeat;
  }
}

/*	@section design
-------------------------------------------------------------- */
body.phone-features {
  .row-hero {
    background: url("../img/devices/phone-photo-hero-561x323.png") no-repeat scroll 96% 20px;
  }
  .infographic {
    background:url("../img/devices/phone-infographic-background.jpg") no-repeat; 
    background-size: 100% 100%;
    color: #fff;
    height: 442px;
    padding-top: 0 ;
    padding-bottom: $gutter_width;
    
    h1 {
      margin-top: 70px;
      padding-right: 40px;
    }
    
    .main-image {
      opacity: 1;
        -moz-transition: opacity 2s;
        -webkit-transition: opacity 2s;
        -o-transition: opacity 2s;
      transition: opacity 2s;
      position: absolute;
      margin-left: -38px;
    }
    
    .hide {
      opacity: 0;
    }
    
    .thumbnails {
      list-style-type: none;
      height: 80px;
      position: absolute;
      top: 350px;
      text-align: center;
      padding-bottom: 20px;
      width: 550px;
      
      img {
        margin-right: 20px;
      }
    }
    .no-print img {
    	position: absolute;
    	left: -50px;
    }
  }
  
  .search-animation {
	  width: 275px;
	  height: 447px;
	  position: relative;
	  background: url("../img/devices/phone-portrait.png") no-repeat;
	  margin: 50px auto 0;

    .replay {   
      left: 242px;
    }
     
    .search-screen {
      position: absolute;
      background: #000;
      width: 180px;
      height: 320px;
      overflow: hidden;
      left: 36px;
      top: 55px;
      
      .search-results {
        position: absolute;
        top: 17px;
        height: 320px;
        width: 237px;
        overflow: hidden;
        
        img {
          position: absolute;
          top: 0;
            -moz-transition: top 1s;
            -webkit-transition: top 1s;
            -o-transition: top 1s;
          transition: top 1s;
        }
      }
      
      .search-search {
        position: absolute;
        top: 17px;
        width: 237px;
        height: 39px;
        overflow: hidden;
        
        img {
          position: absolute;
          top: 0;
            -moz-transition: top 0.5s;
            -webkit-transition: top 0.5s;
            -o-transition: top 0.5s;
          transition: top 0.5s;
        }
      }
      
      .search-title {
        position: absolute;
        top: 0;
        height: 17px;
        overflow: hidden;
        width: 80px;
        
        img {
          position: absolute;
          top: 0;
            -moz-transition: top 0.5s;
            -webkit-transition: top 0.5s;
            -o-transition: top 0.5s;
          transition: top 0.5s;
        }
      }
    }
    
    .search-screen.run {
      .search-title img {
        top: -17px;
      }
      .search-search img {
        top: -33px;
      }
      .search-results img {
        top: -290px;
      }
    }
    /*.search-screen:hover {
      .search-title img{
        top: -17px;
      }
      .search-search img{
        top: -33px;
      }
      .search-results img{
        top: -1000px;
      }
    }*/
  }
  .phone-photos {
    padding-bottom: 0;
    overflow: hidden;
    
    h2{
      margin-top: 30px;
    }
    
    .phone-camera {
      margin-left: -80px;
      margin-top: $gutter_width; 
    }
    
    .photo-gallery {
      margin-left: -30px;
    }
  }
  .row-pictures {
	  top: -110px;
	  margin-bottom: -110px;
	  float: left;
	  position: relative;
  }
  .row-pictures div.feature-image {
		background: #000;
		position: relative;
		top: 0;
		left: 0;
  }
  .row-pictures .pictures-portrait .feature-image {
  	background: url("../img/devices/phone-gallery-photos-portrait.png") 36px 53px no-repeat;
		margin-top: 123px;
		margin-left: 38px;
  	height: 447px;
  	width: 258px;
  }
  .row-pictures .pictures-portrait img {
		position: relative;
		z-index: -1;
	}
  .row-pictures .pictures-landscape .feature-image {
  	background: url("../img/devices/phone-gallery-camera-landscape.png") 92px 40px no-repeat;
  	width: 500px;
  	height: 258px;
	  margin-left: -50px;
	  margin-top: 10px;
	  margin-bottom: 20px;
  }
  .row-pictures .pictures-landscape img {
		position: relative;
		z-index: -1;
  }
}

body.phone-ubuntu-for-android {
	.row-free .eight-col ul {
		background:url('../img/patterns/android-background-dotted.png');
		padding: $gutter_width 0;
		text-align: center;
		width: 100%;
	}
	
	.row-free ul li {
		margin-bottom: 0;
	}
}

body.phone-ubuntu-for-android #easy-integration {
	background: $light_grey url(../img/devices/bg-android-integrate-301x296.png) right bottom no-repeat;
	background-size: 311px 306px;
	margin-bottom: 0;
	padding: 30px $four_col 20px 40px;
	width: 100%;
}

body.phone-ubuntu-for-android #ecosystem {
	background: $light_grey;	
}

/*	@section ubuntu-for-android
-------------------------------------------------------------- */
.row-hero-android {
	background: url(../img/devices/photo-android-hero-749x456.jpg) 145% top no-repeat;
	min-height: 22.5em;
	margin-bottom: 0;
}

.row-android-intro .four-col { min-height: 30em; }

.row-android .four-col {
	background:url('../img/patterns/android-background-dotted.png') 0 2px;
	display: table;
	text-align: center;
}

.row-android span {
	display: table-cell;
	vertical-align: middle;
}

body.phone-ubuntu-for-android .box-contact { 
	@include rounded_corners(4px);
	padding: $gutter_width; 
	margin-bottom: $gutter_width;
}

/*	@section ubuntu-for-android > features
-------------------------------------------------------------- */
body.phone-ubuntu-for-android-features {
  h1 {
    position: relative;
    z-index: 2;
  }
  .row-hero { overflow: visible; }
  .row-hero img { margin-bottom: $gutter_width; }
  .default-apps{
    ul {
      padding: 20px;
    }
    li {
      width: 17.7953%;
      padding-top: 20px;
      border-bottom: 1px dotted #AEA79F;
      border-right: 1px dotted #AEA79F;
      height: 150px;
      width: 166px;
      text-align: center;
      margin-bottom: 0;
    }
    li.bottom {
      border-bottom: 0;
      margin-bottom: $gutter_width;
    }
    li.last-item {
      border-right: 0;
    }
  } 
} 

/*	@section backed-by-canonical
-------------------------------------------------------------- */
body.phone-backed-by-canonical,
body.tablet-backed-by-canonical {
	#main-content .row-hero {
		height: auto;
		min-height: 0;
		padding-top: 40px;
		
		p {
		  width: 570px;
		}
	}
	#main-content .intro {
		background: url(../img/logos/canonical-symbol-167x167.png) 90% center no-repeat;
		padding: 0 $four_col 0 0;
	}
	.intro li .link-cta-ubuntu { margin-right: $gutter_width; }
	.row-experience .five-col { margin-top: $gutter_width * 4; }
}

body.phone-ubuntu-for-android-contact-us .row-hero {
	height: auto;
}

/*	@section contextualised footer #context-footer
-------------------------------------------------------------- */
.phone-context-footer .feature-three {
	background: url(../img/devices/phone-bottom-find-out.png) right center no-repeat;
	min-height: 170px;
	
	p {
		padding-right: 65px;
	}

}

/*  @section carrier-advisory-group
-------------------------------------------------------------- */
body.phone-carrier-advisory-group {
  #main-content .list li:first-of-type{
    padding-top: 0;
  }
  .row-hero ul {
    margin-top: 35px;
    margin-right: -20px;
    text-align: center;
    li {	
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 20px 10px 14px;
      width: 189px;
    }
    li img {
    	float: none;
    }
    li.five {
      margin-right: 25px;
    }
    li.verizon img {
      position: relative;
      top: -8px;
    }
  } 
  
  
  .independently-chained {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url("../img/devices/phone-photo-app.png") no-repeat scroll 0 center #f7f7f7;
  }
  .benefits-of-joining {
    background: url("../img/devices/phone-cag-gallery.jpg") no-repeat scroll 700px center transparent;
    
    h2 {
      margin-bottom: 22px;
    }
  }
  .row-image-centered {
    padding-bottom: 40px;
  }
}
/* Edge Indiegogo promo */
.edge-promo {
	min-height: 300px;
	
	background: #282828 url(../img/homepage/2_3_generic.jpg) 680% 72% no-repeat;
    -moz-box-shadow:    inset 0  4px 6px -4px rgba(0, 0, 0, 0.6), 
                        inset 0 -4px 6px -4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0  4px 6px -4px rgba(0, 0, 0, 0.6), 
                        inset 0 -4px 6px -4px rgba(0, 0, 0, 0.6);
     box-shadow:        inset 0  4px 6px -4px rgba(0, 0, 0, 0.6), 
                        inset 0 -4px 6px -4px rgba(0, 0, 0, 0.6);
	color: #fff;
	
	h2 {
			text-shadow: 0 2px 4px rgba(0,0,0,.6);
	}
	
	p {
		margin-bottom: 25px;
	}
	p:last-child {
		margin-bottom: 0;
	}
	
	.link-cta-ubuntu {
		-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	}

}