interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/user/v1/accounts?email=cube%40canonical.com
  response:
    body:
      string: '{"detail":"Invalid token."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      WWW-Authenticate:
      - JWT realm="api"
    status:
      code: 401
      message: Unauthorized
- request:
    body: client_id=test-client-id&client_secret=test-client-secret&grant_type=client_credentials&token_type=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://qa.cube.ubuntu.com/oauth2/access_token
  response:
    body:
      string: '{"access_token": "fake-token",
        "expires_in": 36000, "token_type": "JWT", "scope": "read write email profile"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/user/v1/accounts?email=cube%40canonical.com
  response:
    body:
      string: '[{"account_privacy":"private","profile_image":{"has_image":false,"image_url_full":"https://qa.cube.ubuntu.com/static/images/profiles/default_500.4215dbe8010f.png","image_url_large":"https://qa.cube.ubuntu.com/static/images/profiles/default_120.4a5e0900098e.png","image_url_medium":"https://qa.cube.ubuntu.com/static/images/profiles/default_50.3455a6581573.png","image_url_small":"https://qa.cube.ubuntu.com/static/images/profiles/default_30.deee7287e843.png"},"username":"cube-engineer","bio":null,"course_certificates":null,"country":null,"date_joined":"2021-09-14T14:21:57Z","language_proficiencies":[],"level_of_education":null,"social_links":[],"time_zone":null,"accomplishments_shared":true,"name":"Cube Engineer","email":"cube@canonical.com","extended_profile":[],"gender":null,"state":null,"goals":"","is_active":true,"mailing_address":"","requires_parental_consent":true,"secondary_email":null,"secondary_email_enabled":null,"year_of_birth":null,"phone_number":null}]'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Api-Key:
      - test_api
      Api-Username:
      - test-user
    method: GET
    uri: https://contracts.canonical.com/v1/marketplace/canonical-cube/product-listings
  response:
    body:
      string: '{"productListings":[{"bundleQuantity":1,"createdAt":"2021-07-30T14:39:31.658Z","effectiveDays":30,"externalIDs":[{"IDs":["course-v1:CUBE+admintasks+2020"],"origin":"EdX"},{"IDs":["CFHJV2102"],"origin":"Salesforce"}],"externalMarketplaceIDs":{"IDs":["course-v1:CUBE+admintasks+2020","CFHJV2102"],"origin":"Salesforce"},"externalPricingID":{"IDs":["price_1JIws3HbAf6zvoUikJpLLbTg"],"origin":"Stripe"},"id":"lADAhOawJYK_yfbVSK3s2M5deFHOMfTJD9wtpJwTfrFw","lastModifiedAt":"2021-07-30T14:39:31.658Z","marketplace":"canonical-cube","metadata":[{"key":"badge-class","value":"czAAvvs2SJCH1py9Y7i3wQ"},{"key":"badge-url","value":"https://assets.ubuntu.com/v1/7bf909cc-Admin.svg"},{"key":"name","value":"Performing
        Administrative Tasks"},{"key":"topics","value":"[\"Find and review information
        about activities and processes\",\"Manage user privileges\",\"Create backups\",\"View
        and record system utilization.\",\"Configure remote logging.\"]"}],"name":"cube-admintasks-2020","period":"none","price":{"currency":"USD","value":4900},"productID":"cube-admintasks","status":"active"},{"bundleQuantity":1,"createdAt":"2021-07-30T14:43:47.317Z","effectiveDays":30,"externalIDs":[{"IDs":["course-v1:CUBE+microk8s+2020"],"origin":"EdX"},{"IDs":["CFHJL2102"],"origin":"Salesforce"}],"externalMarketplaceIDs":{"IDs":["course-v1:CUBE+microk8s+2020","CFHJL2102"],"origin":"Salesforce"},"externalPricingID":{"IDs":["price_1JIwwBHbAf6zvoUiwxYrl1fd"],"origin":"Stripe"},"id":"lAPHwJqhN52NGK1t--MODF0NZ9Yv00j6ut6JqiBuwtrc","lastModifiedAt":"2021-07-30T14:43:4[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eu.badgr.io/v2/issuers/eTedPNzMTuqy1SMWJ05UbA/assertions?recipient=cube@canonical.com
  response:
    body:
      string: '{"status":{"success":false,"description":"no valid auth token found"},"result":[],"fieldErrors":{},"validationErrors":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/ld+json
      X-Trace:
      - 2BD64F5F963EAA0CDD800DC25E687B823F733ED3709016EA6D297AC29501
    status:
      code: 401
      message: Unauthorized
- request:
    body: username=cube%40canonical.com&password=cube-password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.eu.badgr.io/o/token
  response:
    body:
      string: '{"access_token": "test-access-token", "expires_in": 86400,
        "token_type": "Bearer", "scope": "rw:profile rw:issuer rw:backpack", "refresh_token":
        "refresh-token"}'
    headers:
      Content-Type:
      - application/json
      X-Trace:
      - 2B77FD44CB318B3DA2E5D92A423A8382CE1E9C6D138199AF5E26F9420F01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eu.badgr.io/v2/issuers/eTedPNzMTuqy1SMWJ05UbA/assertions?recipient=cube@canonical.com
  response:
    body:
      string: '{"status":{"success":true,"description":"ok"},"result":[{"entityType":"Assertion","entityId":"gMpukJHHSrmhdLXKqzHT9w","openBadgeId":"https://api.eu.badgr.io/public/assertions/gMpukJHHSrmhdLXKqzHT9w","createdAt":"2021-09-29T13:29:06.902031Z","createdBy":"BgTIw-fdQf2oMbNyv5RBVw","badgeclass":"n_lXbWCdTfifAiWcj9D_ZQ","badgeclassOpenBadgeId":"https://api.eu.badgr.io/public/badges/n_lXbWCdTfifAiWcj9D_ZQ","issuer":"eTedPNzMTuqy1SMWJ05UbA","issuerOpenBadgeId":"https://api.eu.badgr.io/public/issuers/eTedPNzMTuqy1SMWJ05UbA","image":"https://api.eu.badgr.io/public/assertions/gMpukJHHSrmhdLXKqzHT9w/image","recipient":{"identity":"hashed-identity","hashed":true,"type":"email","plaintextIdentity":"cube@canonical.com","salt":"258f3001cccf4fb4874dfa25f2281503"},"issuedOn":"2021-09-29T04:00:00Z","narrative":null,"evidence":[],"revoked":false,"revocationReason":null,"acceptance":"Unaccepted","expires":null,"extensions":{"extensions:recipientProfile":{"@context":"https://openbadgespec.org/extensions/recipientProfile/context.json","type":["Extension","extensions:RecipientProfile"],"name":"Cube Engineer"}}}]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/ld+json
      X-Trace:
      - 2B3FA4460167CBB95ADA123F09E336C70CDC6356417AE39EB91C2E471B01
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/enrollment/v1/enrollment?user=cube-engineer&page_size=100
  response:
    body:
      string: '[{"created":"2021-09-28T16:36:27.556724Z","mode":"honor","is_active":true,"course_details":{"course_id":"course-v1:CUBE+microk8s+2020","course_name":"CUBE
        Exam: MicroK8s 2020","enrollment_start":null,"enrollment_end":null,"course_start":"2021-01-01T00:00:00Z","course_end":"2022-05-31T00:00:00Z","invite_only":true,"course_modes":[{"slug":"honor","name":"Honor","min_price":0,"suggested_prices":"","currency":"usd","expiration_datetime":null,"description":"Certificate
        of Completion","sku":"None","bulk_sku":null}]},"user":"cube-engineer"},{"created":"2021-10-05T09:27:45.150543Z","mode":"honor","is_active":true,"course_details":{"course_id":"course-v1:CUBE+juju+2020","course_name":"CUBE
        Exam: Juju 2020","enrollment_start":null,"enrollment_end":null,"course_start":"2021-01-01T00:00:00Z","course_end":"2022-05-31T00:00:00Z","invite_only":true,"course_modes":[{"slug":"honor","name":"Honor","min_price":0,"suggested_prices":"","currency":"usd","expiration_datetime":null,"description":"Certificate
        of Comp[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+admintasks+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+admintasks+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+microk8s+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+microk8s+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+commands+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+commands+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+networking+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+networking+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+sysarch+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+sysarch+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+devices+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+devices+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+package+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+package+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+systemd+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+systemd+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+juju+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+juju+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+security+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+security+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+virtualisation+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+virtualisation+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+kernel+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+kernel+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+shellscript+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+shellscript+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+maas+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+maas+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+storage+2020/search/cube-engineer?page_size=100
  response:
    body:
      string: '{"proctored_exam_attempts":[],"pagination_info":{"has_previous":false,"has_next":false,"current_page":1,"total_pages":1},"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+storage+2020/search/cube-engineer"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
