interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/17250.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":48578,\"name\":\"Carlos Wu Fei\",\"username\":\"carkod\",\"avatar_template\":\"/letter_avatar/carkod/{size}/5_6d6f4cde2641c35611d5cac2fb97c77e.png\",\"created_at\":\"2020-07-15T15:21:30.992Z\",\"cooked\":\"\\u003ch1\\u003eCharmed
        Ceph Documentation\\u003c/h1\\u003e\\n\\u003chr\\u003e\\n\\u003cp\\u003e\\u003ca
        href=\\\"https://ceph.com\\\"\\u003eCeph\\u003c/a\\u003e is a unified, distributed
        storage system designed for excellent performance, reliability, and scalability.\\u003c/p\\u003e\\n\\u003cp\\u003eCharmed
        Ceph deploys and manages Ceph using Juju\u2019s modelling paradigm. This makes
        operating the cluster easier by eliminating the minutiae of operation[...]
