interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/17250.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":48578,\"name\":\"Carlos Wu Fei\"\
        ,\"username\":\"carkod\",\"avatar_template\":\"/letter_avatar/carkod/{size}/5_6d6f4cde2641c35611d5cac2fb97c77e.png\"\
        ,\"created_at\":\"2020-07-15T15:21:30.992Z\",\"cooked\":\"\\u003ch1\\u003eIntroduction\\\
        u003c/h1\\u003e\\n\\u003cp\\u003eCeph docs coming soon.\\u003c/p\\u003e\\\
        n\\u003ch2\\u003eNavigation\\u003c/h2\\u003e\\n\\u003cul\\u003e\\n\\u003cli\\\
        u003e\\u003ca href=\\\"/t/about-the-documentation-category/17250\\\"\\u003eIntroduction\\\
        u003c/a\\u003e\\u003c/li\\u003e\\n\\u003cli\\u003e\\u003ca href=\\\"/t/about-ceph/17266%7C/ceph/docs/about-ceph\\\
        \"\\u003eAbout Ceph\\u003c/a\\u003e\\u003c/li\\u003e\\n\\u003c/ul\[...]
