interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/22810.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":61313,\"name\":\"Carlos Wu Fei\",\"username\":\"carkod\",\"avatar_template\":\"/letter_avatar/carkod/{size}/5_341fea102a12413267ee9cca6a635b61.png\",\"created_at\":\"2021-06-23T10:29:48.034Z\",\"cooked\":\"\\u003cp\\u003eUbuntu
        goes through several rigorous security certifications and programs and these
        pages are dedicated to them. All certification artefacts are available with
        an \\u003ca href=\\\"https://ubuntu.com/pro\\\"\\u003eUbuntu Pro subscription\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003ch2\\u003e\\u003ca
        name=\\\"p-61313-fips-140httpsdiscourseubuntucomtfips-for-ubuntu22814-1\\\"
        class=\\\"anchor\\\" href=\\\"#p-61313-fips-140httpsdiscourseubuntuco[...]
[...]
