interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/21186.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":57433,\"name\":\"Albert\",\"username\":\"albertkol\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/albertkol/{size}/11181_2.png\",\"created_at\":\"2021-03-02T16:18:19.441Z\",\"cooked\":\"\\u003ch1\\u003eCharmed
        Ceph Documentation\\u003c/h1\\u003e\\n\\u003chr\\u003e\\n\\u003cp\\u003e\\u003ca
        href=\\\"https://ceph.com\\\"\\u003eCeph\\u003c/a\\u003e is a unified, distributed
        storage system designed for excellent performance, reliability, and scalability.\\u003c/p\\u003e\\n\\u003cp\\u003eCharmed
        Ceph deploys and manages Ceph using Juju\u2019s modelling paradigm. This makes
        operating the cluster easier by eliminating the minutiae of operation[...]
