interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedreleases/?format=json&limit=0
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 7}, "objects": [{"desktops": 97, "laptops": 161, "release":
        "20.04 LTS", "resource_uri": "/api/v1/certifiedreleases/20.04%20LTS/", "servers":
        278, "smart_core": 14, "soc": 3, "total": 554}, {"desktops": 0, "laptops":
        0, "release": "Core 20", "resource_uri": "/api/v1/certifiedreleases/Core%2020/",
        "servers": 0, "smart_core": 7, "soc": 0, "total": 7}, {"desktops": 1, "laptops":
        0, "release": "Core 18", "resource_uri": "/api/v1/certifiedreleases/Core%2018/",
        "servers": 0, "smart_core": 13, "soc": 0, "total": 14}, {"desktops": 116,
        "laptops": 258, "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedreleases/18.04%20LTS/",
        "servers": 380, "smart_core": 6, "soc": 8, "total": 770}, {"desktops": 0,
        "laptops": 0, "release": "16.04 LTS", "resource_uri": "/api/v1/certifiedreleases/16.04%20LTS/",
        "servers": 430, "smart_core": 2, "soc": 6, "total": 438}, {"desktops": 0,
        "laptops": 0, "release": "Core 16", "resource_uri": "/api/v1/certifiedreleases/Core%2016/",
        "servers": 0, "smart_core": 10, "soc": 0, "total": 10}, {"desktops": 0, "laptops":
        0, "release": "14.04 LTS", "resource_uri": "/api/v1/certifiedreleases/14.04%20LTS/",
        "servers": 326, "smart_core": 0, "soc": 3, "total": 329}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmakes/?format=json&limit=0
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 35}, "objects": [{"desktops": 75, "laptops": 272, "make": "Dell",
        "resource_uri": "/api/v1/certifiedmakes/Dell/", "servers": 0, "smart_core":
        4, "soc": 0, "total": 352}, {"desktops": 64, "laptops": 87, "make": "Lenovo",
        "resource_uri": "/api/v1/certifiedmakes/Lenovo/", "servers": 97, "smart_core":
        0, "soc": 0, "total": 248}, {"desktops": 0, "laptops": 0, "make": "Supermicro",
        "resource_uri": "/api/v1/certifiedmakes/Supermicro/", "servers": 151, "smart_core":
        0, "soc": 0, "total": 151}, {"desktops": 0, "l[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/vendorsummaries/server/?format=json
  response:
    body:
      string: '{"vendors": [{"14.04 LTS": 31, "16.04 LTS": 68, "18.04 LTS": 93, "20.04
        LTS": 29, "releases": ["20.04 LTS", "18.04 LTS", "16.04 LTS", "14.04 LTS"],
        "total": 221, "vendor": "Supermicro"}, {"14.04 LTS": 64, "16.04 LTS": 48,
        "18.04 LTS": 47, "20.04 LTS": 46, "releases": ["20.04 LTS", "18.04 LTS", "16.04
        LTS", "14.04 LTS"], "total": 205, "vendor": "Dell EMC"}, {"14.04 LTS": 35,
        "16.04 LTS": 41, "18.04 LTS": 46, "20.04 LTS": 50, "releases": ["20.04 LTS",
        "18.04 LTS", "16.04 LTS", "14.04 LTS"], "total": 172, "vendor": "Lenovo"},
        {"14.04 LTS": 20, "16.04 LTS": 38, "18.04 LTS": 33, "20.04 LTS": 20, "releases":
        ["20.04 LTS",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmodels/?format=json&limit=20&offset=0&vendor=Dell&query=xps&category__in=Laptop
  response:
    body:
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 19}, "objects": [{"canonical_id": "201906-27119", "category":
        "Laptop", "completed": "2019-09-27T21:22:33.103146", "level": "Enabled", "major_release":
        "18.04 LTS", "make": "Dell", "model": "XPS 13 7390", "release": "18.04 LTS",
        "resource_uri": "/api/v1/certifiedmodels/201906-27119/"}, {"canonical_id":
        "201906-27131", "category": "Laptop", "completed": "2019-09-27T21:20:13.682473",
        "level": "Enabled", "major_release": "18.04 LTS", "make": "Dell", "model":
        "XPS 13 7390", "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedmodels/201906-27131/"},
        {"canonical_id": "201906-27151", "category": "Laptop", "completed": "2019-09-27T21:23:47.568[...]
