interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedreleases/?format=json&limit=0
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 8}, "objects": [{"desktops": 199, "laptops": 443, "release":
        "20.04 LTS", "resource_uri": "/api/v1/certifiedreleases/20.04%20LTS/", "servers":
        395, "smart_core": 46, "soc": 5, "total": 1094}, {"desktops": 0, "laptops":
        0, "release": "Core 20", "resource_uri": "/api/v1/certifiedreleases/Core%2020/",
        "servers": 0, "smart_core": 26, "soc": 0, "total": 26}, {"desktops": 0, "laptops":
        0, "release": "Core 18", "resource_uri": "/api/v1/certifiedreleases/Core%2018/",
        "servers": 0, "smart_core": 16, "soc": 0, "total": 16}, {"desktops": 115,
        "laptops": 258, "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedreleases/18.04%20LTS/",
        "servers": 399, "smart_core": 10, "soc": 10, "total": 794}, {"desktops": 0,
        "laptops": 0, "release": "18.04", "resource_uri": "/api/v1/certifiedreleases/18.04/",
        "servers": 2, "smart_core": 0, "soc": 0, "total": 2}, {"desktops": 2, "laptops":
        0, "release": "16.04 LTS", "resource_uri": "/api/v1/certifiedreleases/16.04%20LTS/",
        "servers": 419, "smart_core": 0, "soc": 0, "total": 421}, {"desktops": 0,
        "laptops": 0, "release": "Core 16", "resource_uri": "/api/v1/certifiedreleases/Core%2016/",
        "servers": 0, "smart_core": 5, "soc": 0, "total": 5}, {"desktops": 91, "laptops":
        137, "release": "22.04 LTS", "resource_uri": "/api/v1/certifiedreleases/22.04%20LTS/",
        "servers": 344, "smart_core": 13, "soc": 0, "total": 595}]}'
    headers:
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '2'
      X-QueryInspect-Total-Request-Time:
      - 95 ms
      X-QueryInspect-Total-SQL-Time:
      - 88 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmakes/?format=json&limit=0
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 46}, "objects": [{"desktops": 139, "laptops": 465, "make":
        "Dell", "resource_uri": "/api/v1/certifiedmakes/Dell/", "servers": 2, "smart_core":
        8, "soc": 0, "total": 621}, {"desktops": 115, "laptops": 198, "make": "Lenovo",
        "resource_uri": "/api/v1/certifiedmakes/Lenovo/", "servers": 96, "smart_core":
        3, "soc": 0, "total": 412}, {"desktops": 113, "laptops": 140, "make": "HP",
        "resource_uri": "/api/v1/certifiedmakes/HP/", "servers": 0, "smart_core":
        0, "soc": 0, "total": 256}, {"desktops": 0, "laptops": 0, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmodels/?format=json&limit=20&offset=0&vendor=Dell&query=xps&category__in=Laptop%2CDesktop
  response:
    body:
      string: '{"meta": {"limit": 20, "next": "/api/v1/certifiedmodels/?format=json&vendor=Dell&query=xps&category__in=Laptop%2CDesktop&limit=20&offset=20",
        "offset": 0, "previous": null, "total_count": 31}, "objects": [{"canonical_id":
        "201906-27119", "category": "Laptop", "completed": "2019-09-27T21:22:33.103146",
        "level": "Certified Pre-Install", "major_release": "18.04 LTS", "make": "Dell",
        "model": "XPS 13 7390", "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedmodels/201906-27119/"},
        {"canonical_id": "201906-27131", "category": "Laptop", "completed": "2019-09-27T21:20:13.682473",
        "level": "Certified Pre-Install", "major_release": "18.04 LTS", "make": "Dell",
        "model": "XPS 13 7390", "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedmodels/201906-27131/"},
        {"canonical_id": "201906-27151", "category": "Laptop", "completed": "2019-09-27T21:23:[...]
