interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=&page=1&per_page=3&sticky=true&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":113667,"date":"2023-04-12T12:11:17","date_gmt":"2023-04-12T12:11:17","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=113667"},"modified":"2023-04-12T13:17:11","modified_gmt":"2023-04-12T13:17:11","slug":"kubeflow-appliance-aws","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2023\/04\/12\/kubeflow-appliance-aws\/","title":{"rendered":"Charmed
        Kubeflow is now available on AWS Marketplace"},"content":{"rendered":"\n<h4>Run
        an MLOps toolkit within a few clicks on a major public cloud<\/h4>\n\n\n\n<p>Canonical
        is proud to announce that <a href=\"https:\/\/aws.amazon.com\/marketplace\/pp\/prodview-ssgryrrrydtds?sr=0-1&amp;ref_=beagle&amp;applicationId=AWSMPContessa\">Charmed
        Kubeflow<\/a> is now available as a software appliance on the Amazon Web Services
        (AWS) marketplace. With the appliance, users can now launch and manage their
        machine learning workloads hassle-free using Charmed Kubeflow on AWS. This
        reduces deployment time and eases operations, providing an easy-to-install
        MLOps toolkit on the public cloud. It\u2019s ideal for users to get a grasp
        of the full capabilities of the platform and take machine learning models
        from experimentation to production in a secured and supported environment.<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/a384\/image.png\"
        alt=\"kubeflow on aws\" class=\"wp-image-114017\"\/><\/figure>\n\n\n\n<h2>Quick
        path to MLOps experimentation on AWS<\/h2>\n\n\n\n<p>According to <a href=\"https:\/\/www.ibm.com\/watson\/resources\/ai-adoption\">IBM\u2019s
        Global AI Adoption Index<\/a>, 35% of organisations reportedly adopted AI
        in 2022. This figure is expected to increase with generative AI projects such
        as Chat-GPT or GPT4 accelerating its adoption.&nbsp;<br><\/p>\n\n\n\n<p>Public
        clouds are often a preferred method to kick-start AI\/ML projects as they
        offer the computing power to experiment with no constraints. The Charmed Kubeflow
        appliance is a perfect match for the public cloud, enabling data scientists
        and machine learning engineers to set up an MLOps environment in minutes and
        reducing time spent on the design phase. Users can get familiar with the tool
        before running AI at scale.<br><\/p>\n\n\n\n<p>Charmed Kubeflow is an open-source,
        end-to-end MLOps platform that runs on Kubernetes. It automates machine learning
        workflows to create a reliable application layer for model development, iteration
        and production deployment. By getting started with an easy-to-install alternative
        such as the appliance, organisations get the opportunity to get visibility
        into their workloads, quickly assess possible challenges and better plan their
        infrastructure expansion, in relation to the projected growth of their AI
        project. You can try it now!<\/p>\n\n\n\n<div class=\"p-card\" style=\"background-color:
        #FFFFFF;\">\n<a href=\"https:\/\/aws.amazon.com\/marketplace\/pp\/prodview-ssgryrrrydtds?sr=0-1&#038;ref_=beagle&#038;applicationId=AWSMPContessa\">Try
        it now!<\/p><\/a>\n<\/div>\n\n\n\n<p>&#8220;The Charmed Kubeflow appliance
        from Canonical is a true lifesaver for anyone who has struggled with the complexities
        of setting up Kubeflow manually. As a user who has battled through numerous
        error messages and spent cou[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_embed=&slug=events
  response:
    body:
      string: '[{"id":1175,"count":135,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_embed=&slug=webinars
  response:
    body:
      string: '[{"id":1187,"count":106,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=&categories=1175%2C1187&page=1&per_page=3&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":113928,"date":"2023-04-11T08:00:17","date_gmt":"2023-04-11T08:00:17","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=113928"},"modified":"2023-04-10T18:20:28","modified_gmt":"2023-04-10T18:20:28","slug":"dell-and-canonical-at-kubecon-cloudnativecon-europe","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2023\/04\/11\/dell-and-canonical-at-kubecon-cloudnativecon-europe\/","title":{"rendered":"Dell
        and Canonical at KubeCon + CloudNativeCon Europe"},"content":{"rendered":"\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/6364\/KubeCon_EU_2023_WebGraphics2_snackable.jpg\"
        alt=\"\" class=\"wp-image-113791\"\/><\/figure>\n\n\n\n<p><strong>Canonical<\/strong>,
        the company behind Ubuntu, has enjoyed a partnership with <strong><a href=\"https:\/\/www.dell.com\/\">Dell
        Technologies<\/a><\/strong> for over a decade. Together, they have collaborated
        to develop a series of cutting-edge reference architectures applicable to
        various industries, providing customers with unparalleled experiences and
        value.<br><\/p>\n\n\n\n<p>This year at <a href=\"https:\/\/events.linuxfoundation.org\/kubecon-cloudnat[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=&exclude=113667%2C113790%2C113681&page=1&per_page=11&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":113942,"date":"2023-04-18T07:37:15","date_gmt":"2023-04-18T07:37:15","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=113942"},"modified":"2023-04-11T07:42:34","modified_gmt":"2023-04-11T07:42:34","slug":"postgresql-high-availability","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2023\/04\/18\/postgresql-high-availability\/","title":{"rendered":"PostgreSQL
        high availability made charmingly easy"},"content":{"rendered":"\n<p>In a
        previous <a href=\"https:\/\/ubuntu.com\/blog\/database-high-availability\">blog<\/a>,
        we talked about patterns to run a database in a highly available manner. In
        this blog, we present our open source recipe for PostgreSQL high availability.<\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/e016\/matthew-spiteri-WfZ4WCuNtlg-unsplash.jpg\"
        alt=\"PostgreSQL database is often referred to as the elephant database!\"
        class=\"wp-image-113957\"\/><figcaption>Photo from https:\/\/unsplash.com\/photos\/WfZ4WCuNtlg<br><\/figcaption><\/figure>\n\n\n\n<h2>Benefits
        of a highly available PostgreSQL\u00a0<\/h2>\n\n\n\n<p>A good recipe should
        always start by exposing the benefits of the concerned meal. Therefore, we
        will start this section with a brief introduction to the benefits of using
        PostgreSQL and why high availability is, often, a mandate.<\/p>\n\n\n\n<h3>Benefits
        of consuming the elephant\u2019s services<\/h3>\n\n\n\n<p>PostgreSQL is one
        of the most widely used databases, as the latest <a href=\"https:\/\/survey.stackoverflow.co\/2022\/#most-popular-technologies-database-prof\">survey
        from StackOverflow<\/a> shows. PostgreSQL has been successfully used for more
        than <a href=\"https:\/\/www.postgresql.org\/docs\/current\/history.html\">35
        years<\/a> for a variety of workloads like <strong>O<\/strong>n<stron[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?_embed=&slug=design
  response:
    body:
      string: '[{"id":1239,"count":615,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/design\/","name":"Design","slug":"design","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/1239"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=1239"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=1239"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=&page=1&per_page=12&tags=1239&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":110865,"date":"2022-10-14T10:10:47","date_gmt":"2022-10-14T10:10:47","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=110865"},"modified":"2023-02-17T08:28:48","modified_gmt":"2023-02-17T08:28:48","slug":"introducing-a-vscode-extension-for-v[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?_embed=&slug=internet-of-things
  response:
    body:
      string: '[{"id":1666,"count":2430,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/internet-of-things\/","name":"Internet
        of Things","slug":"internet-of-things","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/1666"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=1666"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=&group=1666&page=1&per_page=12&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":113877,"date":"2023-04-09T13:24:06","date_gmt":"2023-04-09T13:24:06","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=113877"},"modified":"2023-04-09T13:24:12","modified_gmt":"2023-04-09T13:24:12","slug":"four-challenges-for-ml-data-pipelin[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=&slug=installing-ros-in-lxd&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":96552,"date":"2020-06-29T15:00:29","date_gmt":"2020-06-29T15:00:29","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96552"},"modified":"2020-07-20T10:59:07","modified_gmt":"2020-07-20T10:59:07","slug":"installing-ros-in-lxd","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/29\/installing-ros-in-lxd\/","title":{"rendered":"Installing
        ROS in LXD Containers"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/5465\/robot-floor.jpg\"
        alt=\"Courtesey Steve Jurveston, reproduced here under Creative Commons License
        2.0.\" class=\"wp-image-96658\"\/><\/figure>\n\n\n\n<p>It&#8217;s the season
        for updates. The last few weeks have ushered in ROS 1 Noetic and ROS 2 Foxy,
        both of which target the recently released Ubuntu 20.04 Focal Fossa. As always,
        new releases come wi[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=&exclude=96552&page=1&per_page=30&tags=1695%2C1743%2C1721%2C1700%2C1639%2C3260%2C1564%2C3870&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":113725,"date":"2023-04-17T08:48:26","date_gmt":"2023-04-17T08:48:26","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=113725"},"modified":"2023-04-17T08:48:28","modified_gmt":"2023-04-17T08:48:28","slug":"optimise-your-ros-snap-part-3","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2023\/04\/17\/optimise-your-ros-snap-part-3\/","title":{"rendered":"Optimise
        your ROS snap \u2013 Part 3"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/310e\/Snap-optimization-3.gif\"
        alt=\"optimise ROS\" class=\"wp-image-114071\"\/><\/figure>\n\n\n\n<p><em>Welcome
        to Part 3 of our \u201coptimise your ROS snap\u201d blog series. Make sure
        to check <a href=\"https:\/\/ubuntu.com\/blog\/optimise-your-ros-snap-part-2\">Part
        2<\/a>. This third part is going to present safe optimisations consisting
        of removing duplicates and unnecessary files. We will present three different
        methods as well as their cumulative benefits for the performance of ROS snaps.<\/em><\/p>\n\n\n\n<p><!--p><a
        href=\"https:\/\/ubuntu.[...]
