interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/13611.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":38279,\"name\":\"system\",\"username\":\"system\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png\",\"created_at\":\"2019-12-18T00:00:00.000Z\",\"cooked\":\"\\u003ch2\\u003eTutorials\\u003c/h2\\u003e\\n\\u003cp\\u003eThe
        tutorials contained in the topics in this category are displayed on \\u003ca
        href=\\\"https://ubuntu.com/tutorials\\\"\\u003eubuntu.com/tutorials\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003cp\\u003eIf
        you want to contribute here is \\u003ca href=\\\"https://ubuntu.com/tutorials/guidelines\\\"\\u003ehow
        to write a tutorial\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003ch2\\u003eURLs\\u003c/h2\\u003e\\n\\u00[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/c/34.json?page=0
  response:
    body:
      string: <html><body>You are being <a href="https://discourse.ubuntu.com/c/tutorials/34.json?page=0">redirected</a>.</body></html>
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://discourse.ubuntu.com/c/tutorials/34.json?page=0
      X-Discourse-Route:
      - list/category_default
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/c/tutorials/34.json?page=0
  response:
    body:
      string: "{\"users\":[{\"id\":-1,\"username\":\"system\",\"name\":\"system\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png\"},{\"id\":10782,\"username\":\"ruivasconcelos\",\"name\":\"Ruivasconcelos\",\"avatar_template\":\"/letter_avatar/ruivasconcelos/{size}/5_6d6f4cde2641c35611d5cac2fb97c77e.png\"},{\"id\":707,\"username\":\"caldav\",\"name\":\"David
        Call\xE9\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/caldav/{size}/11156_2.png\"},{\"id\":13189,\"username\":\"n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/c/tutorials/34.json?page=3
  response:
    body:
      string: '{"users":[{"id":-1,"username":"system","name":"system","avatar_template":"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png"}],"primary_groups":[],"topic_list":{"can_create_topic":false,"draft":null,"draft_key":"new_topic","draft_sequence":null,"per_page":30,"topics":[{"id":13983,"title":"Memasang
        Ubuntu desktop","fancy_title":"Memasang Ubuntu desktop","slug":"memasang-ubuntu-desktop","posts_count":1,"reply_count":0,"highest_post_number":1,"image_url":null,"created_at":"2020-01-14T17:39:11.665Z","last_posted_at":"2020-01-14T17:39:11.858Z","bumped":true,"bumped_at":"2020-01-14T17:39:11.858Z","archetype":"regular","unseen":false,"pinned":false,"unpinned":null,"visible":true,"closed":false,"archived":false,"bookmarked":null,"liked":null,"tags":[],"views":2558,"like_count":0,"has_summary":false,"last_poster_username":"system","category_id":34,"pinned_globally":false,"featured_link":null,"has_accepted_answer":false,"posters":[{"extras":"latest
        single","description":"Original Poster, Most Recent Poster","user_id":-1,"primary_group_id":null}]},{"id":13972,"title":"Setting
        up LXD on Ubuntu 16.04","fancy_title":"Setting up LXD on Ubuntu 16.04","slug":"setting-up-lxd-on-ubuntu-16-04","posts_count":1,"reply_count":0,"highest_post_number":1,"image_url":null,"created_at":"2020-01-14T17:38:54.356Z","last_posted_at":"2020-01-14T17:38:54.484Z","bumped":true,"bumped_at":"2020-01-14T17:38:54.484Z","archetype":"regular","unseen":false,"pinned":false,"unpinned":null,"visible":true,"closed":false,"archived":false,"bookmarked":null,"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/14020.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":39396,\"name\":\"system\",\"username\":\"system\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png\",\"created_at\":\"2020-01-14T17:41:15.683Z\",\"cooked\":\"\\u003ch1\\u003e\\u003c/h1\\u003e\\n\\u003ch2\\u003eOverview\\u003c/h2\\u003e\\n\\u003cp\\u003eDuration:
        1:00\\u003c/p\\u003e\\n\\u003cp\\u003eWith a bootable Ubuntu USB stick, you
        can:\\u003c/p\\u003e\\n\\u003cul\\u003e\\n\\u003cli\\u003eInstall or upgrade
        Ubuntu\\u003c/li\\u003e\\n\\u003cli\\u003eTest out the Ubuntu desktop experience
        without touching your PC configuration\\u003c/li\\u003e\\n\\u003cli\\u003eBoot
        into Ubuntu on a borrowed machine or from an internet cafe\\u003c/li\\u003e\\n\\u003cli\\u003eUse
        tools installed by default on the USB stick to repair or fix a broken configuration\\u003c/li\\u003e\\n\\u003c/ul\\u003e\\n\\u003cp\\u003[...]
