interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&page=1&per_page=3&sticky=true&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":128263,"date_gmt":"2026-02-03T09:55:59","modified_gmt":"2026-02-03T10:12:16","slug":"aws-iot-greengrass-comes-to-ubuntu-core","title":{"rendered":"AWS
        IoT Greengrass comes to Ubuntu Core"},"excerpt":{"rendered":"<p>AWS\u2019s
        open source edge run time meets Canonical\u2019s fully containerized OS for
        devices delivering a supported and robust end-to-end answer for enterprises
        looking to develop their own IoT hardware and solutions. London, February
        3, 2026 &#8212; Canonical and AWS are pleased to announce the release of the
        new snap for AWS IoT Greengrass, making the [&hellip;]<\/p>\n"},"author":217,"categories":[],"tags":[],"group":[],"_start_day":"02","_start_month":"02","_start_year":"2026","_end_day":"02","_end_month":"02","_end_year":"2026","_links":{"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/217"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/128319"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=128263"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=128263"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=128263"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=128263"}]},"_embedded":{"author":[{"id":217,"name":"Canonical","url":"","description":"","link":"https:\/\/admin.insights.ubuntu.com\/author\/canonical\/","slug":"canonical","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/9d1f43af7ce4c818a532e9bb30f509e2?s=96&d=mm&r=g"},"user_job_title":"","user_website_title":"","user_google":"","user_twitter":"","user_facebook":"","user_photo":"","user_location":"","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/217"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users"}]}}],"wp:featuredmedia":[{"id":128319,"date":"2026-02-03T10:12:07","slug":"aws-iot-greengrass-comes-to-ubuntu-core-v2","type":"attachment","link":"https:\/\/admin.insights.ubuntu.com\/2026\/02\/03\/aws-iot-greengrass-comes-to-ubuntu-core\/aws-iot-greengrass-comes-to-ubuntu-core-v2\/","title":{"rendered":"AWS
        IoT Greengrass comes to Ubuntu Core v2"},"author":846,"caption":{"rendered":""},"alt_text":"","media_type":"image","mime_type":"image\/png","media_details":{"width":1280,"height":720,"file":"AWS-IoT-Greengrass-comes-to-Ubuntu-Core-v2.png","filesize":540288,"sizes":{},"image_meta":{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0","keywords":[]}},"source_url":"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/33ee\/AWS-IoT-Greengrass-comes-to-Ubuntu-Core-v2.png","_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/128319"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/types\/attachment"}],"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/846"}],"replies":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/comments?post=128319"}],"wp:term":[{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=128319"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=128319"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]}},{"id":127881,"date_gmt":"2026-01-05T23:15:00","modified_gmt":"2026-01-05T23:41:28","slug":"nvidia-vera-rubin-ubuntu-support","title":{"rendered":"Canonical
        announces Ubuntu support for the NVIDIA Rubin platform"},"excerpt":{"rendered":"<p>Official
        Ubuntu support for the NVIDIA Rubin platform, including the NVIDIA Vera Rubin
        NVL72 rack-scale systems, announced at CES 2026 CES 2026, Las Vegas. \u2013
        Canonical, the publisher of Ubuntu, is pleased to anno[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_fields=id%2Cname%2Cslug%2Cparent&slug=events
  response:
    body:
      string: '[{"id":1175,"name":"Events","slug":"events","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_fields=id%2Cname%2Cslug%2Cparent&slug=webinars
  response:
    body:
      string: '[{"id":1187,"name":"Webinars","slug":"webinars","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&categories=1175%2C1187&page=1&per_page=3&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&exclude=128263%2C127881%2C127703&page=1&per_page=11&status=publish&tags_exclude=3184%2C3265%2C3408%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?_fields=id%2Cname%2Cslug&slug=design
  response:
    body:
      string: '[{"id":1239,"name":"Design","slug":"design"}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&page=1&per_page=11&tags=1239&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?_fields=id%2Cname%2Cslug%2Cparent&slug=internet-of-things
  response:
    body:
      string: '[{"id":1666,"name":"Internet of Things","slug":"internet-of-things","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&group=1666&page=1&per_page=11&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded%2Ccontent.rendered%2Cyoast_head_json.description&slug=installing-ros-in-lxd&status=publish&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":96552,"date_gmt":"2020-06-29T15:00:29","modified_gmt":"2020-07-20T10:59:07","slug":"installing-ros-in-lxd","title":{"rendered":"Installing
        ROS in LXD Containers"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        loading=\"lazy\" decoding=\"async\" width=\"1548\" height=\"804\" src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/5465\/robot-floor.jpg\"
        alt=\"Courtesey Steve Jurveston, reproduced here under Creative Commons License
        2.0.\" class=\"wp-image-96658\"\/><\/figure>\n\n\n\n<p>It&#8217;s the season
        for updates. The last few weeks have ushered in ROS 1 Noetic and ROS 2 Foxy,
        both of which target the recently released Ubuntu 20.04 Focal Fossa. As always,
        new releases come with trepidation: how can I install new software and test
        compatibility, yet keep my own environment stable until I know I&#8217;m ready
        to upgrade? This is one of the many good reasons to dive into containers<\/p>\n\n\n\n<p>In
        this blog post we&#8217;ll create a base LXD profile with the ROS software
        repositories and full graphical capabilities enabled. Launch containers to
        meet your robotics needs: everything from software development and system
        testing through robot operations can be covered within containers.<br><\/p>\n\n\n\n<p>Check
        out our youtube video to see these instructions in action. Also see the full
        installation instructions for both <a rel=\"noreferrer noopener\" aria-label=\"
        (opens in a new tab)\" href=\"http:\/\/wiki.ros.org\/noetic\/Installation\/Ubuntu\"
        target=\"_blank\">ROS 1<\/a> and <a rel=\"noreferrer noopener\" aria-label=\"
        (opens in a new tab)\" href=\"https:\/\/index.ros.org\/doc\/ros2\/Installation\/Foxy\/Linux-Install-Debians\/\"
        target=\"_blank\">ROS 2<\/a> available at <a rel=\"noreferrer noopener\" aria-label=\"ros.org
        (opens in a new tab)\" href=\"https:\/\/www.ros.org\/\" target=\"_blank\">ros.org<\/a><\/p>\n\n\n\n<figure
        class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube
        wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe
        loading=\"lazy\" width=\"540\" height=\"304\" src=\"https:\/\/www.youtube.com\/embed\/bFJp7WAfcXk?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture\" allowfullscreen><\/iframe>\n<\/div><\/figure>\n\n\n\n<h2
        class=\"wp-block-heading\">Getting started<\/h2>\n\n\n\n<p>All you need to
        get started is a Linux workstation with LXD installed. The installation of
        LXD is not covered here as there are a number of great instructions online.
        See the <a rel=\"noreferrer noopener\" aria-label=\" (opens in a new tab)\"
        href=\"https:\/\/linuxcontainers.org\/lxd\/getting-started-cli\/#installation\"
        target=\"_blank\">getting started guide<\/a> at <a href=\"http:\/\/linuxcontainers.org\"
        target=\"_blank\" rel=\"noreferrer noopener\" aria-label=\"linuxcontainers.org
        (opens in a new tab)\">linuxcontainers.org<\/a> for more information.<br><\/p>\n\n\n\n<p>We&#8217;ll
        cover hereafter the three basic steps to getting set up:<\/p>\n\n\n\n<ul><li>
        Creating a LXD container profile<\/li><li>Launching and connecting to the
        container<\/li><li>Installing ROS<\/li><\/ul>\n\n\n\n<h2 class=\"wp-block-heading\">Create
        a profile<\/h2>\n\n\n\n<p>All LXD containers have a defined profile. A default
        profile was created when LXD was first set installed, but we will create a
        ROS specific profile. This will support running ROS (either version 1 or 2)
        on an Ubuntu image.<br><\/p>\n\n\n\n<p>The profile contains four specific
        configuration features:<\/p>\n\n\n\n<ul><li>ROS software repositories<\/li><li>Run
        X apps within the container<\/li><li>Networking<\/li><li>A disk storage device<\/li><\/ul>\n\n\n\n<h3
        class=\"wp-block-heading\">Gather data<\/h3>\n\n\n\n<p>In order to set up
        the profile properly, we must first collect your workstation&#8217;s network
        adapter, and the user\/group ID for your account.&nbsp; Find your network
        adapter using the <code>ip addr show<\/code> command:<br><\/p>\n\n\n\n<pre
        class=\"wp-block-preformatted\">~:$ ip addr show\n1: lo:  mtu 65536 qdisc
        noqueue state UNKNOWN group default qlen 1000\n    link\/loopback 00:00:00:00:00:00
        brd 00:00:00:00:00:00\n    inet 127.0.0.1\/8 scope host lo\n       valid_lft
        forever preferred_lft forever\n    inet6 ::1\/128 scope host \n       valid_lft
        forever preferred_lft forever\n2: wlp2s0:  mtu 1500 qdisc noop state DOWN
        group default qlen 1000\n    link\/ether a8:00:0b:c0:88:e7 brd ff:ff:ff:ff:ff:ff\n3:
        <span style=\"background-color:yellow\">enx001a98a552d4<\/span>:  mtu 1500
        qdisc fq_codel state UP group default qlen 1000\n    link\/ether 00:1a:98:a5:52:d4
        brd ff:ff:ff:ff:ff:ff\n    inet 192.168.1.100\/24 brd 192.168.1.255 scope
        global noprefixroute enx001a98a552d4\n       valid_lft forever preferred_lft
        forever\n<\/pre>\n\n\n\n<p>The above example shows three network adapters:
        loopback, wireless and ethernet (respectively). Select the adapter to use
        for the container; for this case we will use the wired adapter <code>enx001a98a552d4<\/code><br><\/p>\n\n\n\n<p>To
        find the id of your non-root account, use the <code>id<\/code> command:<br><\/p>\n\n\n\n<pre
        class=\"wp-block-preformatted\">~:$ id<br>uid=1001(sid) gid=1001(sid) groups=1001(sid),4(adm),24(cdrom),27(sudo),
        ... <br><\/pre>\n\n\n\n<p>In the example above my user id &#8220;sid&#8221;
        has a uid and gid of 1001.<\/p>\n\n\n\n<h3 class=\"wp-block-heading\">Create
        the ROS Profile<\/h3>\n\n\n\n<p>Armed with these two key facts, we can create
        and edit the LXD profile for our ROS containers:<\/p>\n\n\n\n<pre class=\"wp-block-preformatted\">lxc
        profile create ros<br>lxc profile edit ros<br><\/pre>\n\n\n\n<p>This brings
        up a default profile template for editing within vi. Update the file as follows,
        then save and exit vi:<\/p>\n\n\n\n<pre class=\"wp-block-preformatted\"><code>\nconfig:\n  environment.DISPLAY:
        :0\n  raw.idmap: both <span style=\"background-color:yellow\">[your group
        id]<\/span> 1000\n  user.user-data: |\n    #cloud-config\n    runcmd:\n      -
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&exclude=96552&page=1&per_page=10&tags=1695%2C1743%2C1721%2C1700%2C1639%2C3260%2C1564%2C3870&tags_exc[...]
