interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?name=Hewlett+Packard
  response:
    body:
      string: '[{"id": 369, "name": "Hewlett Packard", "slug": "hewlett-packard",
        "published": true, "logo": "https://assets.ubuntu.com/v1/cd5f636a-hp-logo.png",
        "partner_website": "http://www8.hp.com", "fallback_website": "http://www8.hp.com",
        "short_description": "Our vision is to create technology that makes life better
        for everyone, everywhere \u2014 every person, every organization, and every
        community around the globe. This motivates us \u2014 inspires us \u2014 to
        do what we do. We won\u2019t stop pushing ahead, because you won\u2019t stop
        pushing ahead. This is a new HP. Keep reinventing.", "long_description": "",
        "featured": true, "always_featured": true, "dedicated_partner_page": false,
        "notes": "", "tags_label": "", "technology": [{"id": 3, "name": "Personal
        computing/devices"}], "programme": [{"id": 10, "name": "Desktop"}], "service_offered":
        [{"id": 11, "name": "Hardware manufacturer"}], "partner_type": [], "insightstag_set":
        [], "link_set": [], "quote_set": [], "tag_set": [], "text_set": []}]'
    headers:
      content-type:
      - application.json
      x-vcs-revision:
      - 1697765408-2f1353b
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-releases/?format=json&limit=0&pagination=limitoffset
  response:
    body:
      string: '{"count":8,"next":null,"previous":null,"results":[{"release":"Core
        22","desktops":5,"laptops":0,"servers":0,"soc":0,"smart_core":13,"total":18},{"release":"24.04
        LTS","desktops":0,"laptops":0,"servers":2,"soc":0,"smart_core":8,"total":10},{"release":"20.04
        LTS","desktops":204,"laptops":431,"servers":460,"soc":5,"smart_core":45,"total":1165},{"release":"Core
        20","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":26,"total":26},{"release":"Core
        18","desktops":2,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":7},{"release":"18.04
        LTS","desktops":115,"laptops":254,"servers":397,"soc":10,"smart_core":6,"total":792},{"release":"18.04","desktops":0,"laptops":0,"servers":2,"soc":0,"smart_core":0,"total":2},{"release":"22.04
        LTS","desktops":145,"laptops":269,"servers":496,"soc":0,"smart_core":48,"total":1015}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '2'
      X-QueryInspect-Total-Request-Time:
      - 92 ms
      X-QueryInspect-Total-SQL-Time:
      - 81 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=20&offset=0&vendor=HP&pagination=limitoffset
  response:
    body:
      string: '{"count":326,"next":"https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=20&offset=20&pagination=limitoffset&vendor=HP","previous":null,"results":[{"canonical_id":"201810-26595","make":"HP","model":"240
        G7 Notebook PC","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-01-09T22:13:41.124824Z","resource_uri":"/api/v2/certified-configurations/201810-26595"},{"canonical_id":"201810-26602","make":"HP","model":"245
        G7 Notebook PC","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-01-09T22:15:10.895493Z","resource_uri":"/api/v2/certified-configurations/201810-26602"},{"canonical_id":"202001-27654","make":"HP","model":"280
        G5 Microtower PC","level":"Certified Pre-Install","release":"18.04 LTS","category":"Desktop[...]
