interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&category__in=Laptop&major_release__in=22.04&vendor=Dell&model__icontains=lat&ordering=model&limit=25&offset=0&pagination=limitoffset
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"canonical_id":"201001-00001","make":"Dell","model":"Latitude
        5420","category":"Laptop","major_release":"22.04"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
