interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://discourse.ubuntu.com/t/18033.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":50258,\"name\":\"Carlos Wu Fei\",\"username\":\"carkod\",\"avatar_template\":\"/letter_avatar/carkod/{size}/5_6d6f4cde2641c35611d5cac2fb97c77e.png\",\"created_at\":\"2020-08-25T11:17:26.382Z\",\"cooked\":\"\\u003ch1\\u003eEngage
        pages\\u003c/h1\\u003e\\n\\u003cp\\u003eThe content of topics in this category
        are displayed at \\u003ca href=\\\"https://ubuntu.com/engage\\\"\\u003ehttps://ubuntu.com/engage\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003ch2\\u003eMetadata\\u003c/h2\\u003e\\n\\u003cdetails\\u003e\\n\\u003csummary\\u003e\\nMapping
        table\\u003c/summary\\u003e\\n\\u003cdiv class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u0[...]
