interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265%2C3408&sticky=true&_embed=true
  response:
    body:
      string: '[{"id":96510,"date":"2020-06-23T12:00:27","date_gmt":"2020-06-23T12:00:27","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96510"},"modified":"2020-06-23T12:00:02","modified_gmt":"2020-06-23T12:00:02","slug":"dell-xps-13-developer-edition-with-ubuntu-20-04-lts-pre-installed-is-now-available","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/23\/dell-xps-13-developer-edition-with-ubuntu-20-04-lts-pre-installed-is-now-available\/","title":{"rendered":"Dell
        XPS 13 Developer Edition with Ubuntu 20.04 LTS pre-installed is now available"},"content":{"rendered":"\n<div
        class=\"wp-block-image\"><figure class=\"aligncenter\"><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/2e4c\/dell-xps-2004.jpg\"
        alt=\"\" class=\"wp-image-96526\"\/><\/figure><\/div>\n\n\n\n<p>The Dell <a
        href=\"https:\/\/www.dell.com\/en-us\/work\/shop\/cty\/pdp\/spd\/xps-13-9300-laptop\/ctox13w10p1c2700u\">XPS
        13 Developer Edition<\/a> is now available in North America and selected EMEA
        countries* certified with Ubuntu 20.04 LTS pre-installed to work straight
        out of the box. This is the first[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed=true
  response:
    body:
      string: '[{"id":1175,"count":131,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed=true
  response:
    body:
      string: '[{"id":1187,"count":110,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265%2C3408&categories=1175%2C1187&_embed=true
  response:
    body:
      string: '[{"id":96803,"date":"2020-06-29T19:15:13","date_gmt":"2020-06-29T19:15:13","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96803"},"modified":"2020-06-29T19:15:13","modified_gmt":"2020-06-29T19:15:13","slug":"data-centre-automation-for-hpc","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/06\/29\/data-centre-automation-for-hpc\/","title":{"rendered":"Data
        centre automation for HPC"},"content":{"rendered":"\n<h2>Friction points in
        HPC DevOps<\/h2>\n\n\n\n<p>Many High Performance Computing (HPC) setups are
        still handcrafted configurations where tuning changes can take days or weeks.
        This is because the more you tune and optimise something, the more bespoke
        and unique it is, and the more unique something is, the lower the chances
        that things will just work out of the box, and HPC is no exception.<br><\/p>\n\n\n\n<h2>A
        new school of HPC<\/h2>\n\n\n\n<p>Now physical servers are a lot easier to
        set up, provision and configure thanks to tools such as <a href=\"https:\/\/maas.io\/\">MAAS<\/a>.
        For example, connecting servers and selecting which ones will be configured
        for networking and which for data, is as easy as clicking a button on a web
        UI. This may seem innocuous but it means that a server farm can be used for
        one project in the morning and [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=11&page=1&tags_exclude=3184%2C3265%2C3408&exclude=96510%2C95790%2C95641&_embed=true
  response:
    body:
      string: '[{"id":96902,"date":"2020-07-02T15:46:26","date_gmt":"2020-07-02T15:46:26","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96902"},"modified":"2020-07-02T15:46:28","modified_gmt":"2020-07-02T15:46:28","slug":"a-blast-from-the-past-shutter",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?slug=design&_embed=true
  response:
    body:
      string: '[{"id":1239,"count":544,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/design\/","name":"Design","slug":"design","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/1239"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=1239"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=1239"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1239&per_page=12&page=1&tags_exclude=3184%2C3265%2C3408&_embed=true
  response:
    body:
      string: '[{"id":96506,"date":"2020-06-22T12:35:08","date_gmt":"2020-06-22T12:35:08","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96506"},"modified":"2020-06-22T13:14:25","modified_gmt":"2020-06-22T13:14:25","slug":"design-and-web-team-summary-22nd-june-2020","status[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=canonical-announcements&_embed=true
  response:
    body:
      string: '[{"id":2100,"count":214,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/canonical-announcements\/","name":"Canonical
        announcements","slug":"canonical-announcements","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/2100"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=2100"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=2100"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=2100"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&tags_exclude=3184%2C3265%2C3408&categories=&group=2100&_embed=true
  response:
    body:
      string: '[{"id":96510,"date":"2020-06-23T12:00:27","date_gmt":"2020-06-23T12:00:27","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=96510"},"modified":"2020-06-23T12:00:02","modified_gmt":"2020-06-23T12:00:02","slug":"dell-xps-13-developer-edition-with-ubu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=internet-of-things&_embed=true
  response:
    body:
      string: '[{"id":1666,"count":2274,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/internet-of-things\/","name":"Internet
        of Things","slug":"internet-of-things","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/1666"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=1666"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
[...]
