interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://discourse.ubuntu.com/t/13611.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":38279,\"name\":\"system\",\"username\":\"system\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png\",\"created_at\":\"2019-12-18T00:00:00.000Z\",\"cooked\":\"\\u003ch2\\u003eTutorials\\u003c/h2\\u003e\\n\\u003cp\\u003eThe
        tutorials contained in the topics in this category are displayed on \\u003ca
        href=\\\"https://ubuntu.com/tutorials\\\"\\u003eubuntu.com/tutorials\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003cp\\u003eIf
        you want to contribute here is \\u003ca href=\\\"https://ubuntu.com/tutorials/guidelines\\\"\\u003ehow
        to write a tutorial\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003ch2\\u003eURLs\\u003c/h2\\u003e\\n\\u00[...]
- request:
    body: params=%7B%22topics%22%3A%2223592%2C22471%2C22847%2C22119%2C22009%2C21809%2C21549%2C20118%2C19891%2C19539%2C21214%2C21284%2C20652%2C20653%2C19131%2C18925%2C18468%2C14000%2C18521%2C17847%2C17675%2C17919%2C17647%2C17214%2C16437%2C16699%2C16010%2C15153%2C14792%2C14660%2C14646%2C14304%2C13618%2C13996%2C13998%2C13982%2C13970%2C13981%2C13978%2C13967%2C13979%2C13973%2C13972%2C13968%2C13980%2C14015%2C14021%2C14008%2C14016%2C14011%2C14020%2C14018%2C14009%2C14010%2C14019%2C14013%2C14017%2C14014%2C14012%2C13995%2C13983%2C13990%2C13989%2C13992%2C13993%2C13991%2C13994%2C13988%2C14006%2C13985%2C13984%2C13965%2C13956%2C13964%2C13951%2C13945%2C13955%2C13952%2C13948%2C13959%2C13963%2C13950%2C13949%2C13958%2C13960%2C13957%2C13953%2C13961%2C13954%2C13947%2C14270%2C14271%2C14273%2C14306%22%7D
    headers:
      Content-Type:
      - multipart/form-data;
    method: POST
    uri: https://discourse.ubuntu.com/admin/plugins/explorer/queries/2/run
  response:
    body:
      string: "{\"success\":true,\"errors\":[],\"duration\":16.3,\"result_count\":94,\"params\":{\"topics\":\"23592,22471,22847,22119,22009,21809,21549,20118,19891,19539,21214,21284,20652,20653,19131,18925,18468,14000,18521,17847,17675,17919,17647,17214,16437,16699,16010,15153,14792,14660,14646,14304,13618,13996,13998,13982,13970,13981,13978,13967,13979,13973,13972,13968,13980,14015,14021,14008,14016,14011,14020,14018,14009,14010,14019,14013,14017,14014,14012,13995,13983,13990,13989,13992,13993,13991,13994,13988,14006,13985,13984,13965,13956,13964,13951,13945,13955,13952,13948,13959,13963,13950,13949,13958,13960,13957,13953,13961,13954,13947,14270,14271,14273,14306\"},\"columns\":[\"id\",\"title\",\"slug\",\"left\"],\"default_limit\":1000,\"relations\":{},\"colrender\":{},\"rows\":[[23592,\"Using
        Azure AD to manage SSH logins to Ubuntu\",\"using-azure-ad-to-manage-ssh-logins-to-ubuntu\",\"\\u003cdiv
        class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u003cth\\u003eKey\\u003c/th\\u003e\\n\\u003cth\\u003eValue\\u003c/th\\u003e\\n\\u003c/tr\\u003e\\n\\u003c/thead\\u003e\\n\\u003ctbody\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003eSummary\\u003c/td\\u003e\\n\\u003ctd\\u003eLearn
        about managing SSH logins for U[...]
[...]
