interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/17250.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":48578,\"name\":\"Carlos Wu Fei\",\"username\":\"carkod\",\"avatar_template\":\"/letter_avatar/carkod/{size}/5_341fea102a12413267ee9cca6a635b61.png\",\"created_at\":\"2020-07-15T15:21:30.992Z\",\"cooked\":\"\\u003chr\\u003e\\n\\u003cp\\u003eCharmed
        Ceph is a software-defined storage solution that provides object, block and
        file storage on commodity hardware.\\u003c/p\\u003e\\n\\u003cp\\u003eCharmed
        Ceph makes it easy to use and deploy \\u003ca href=\\\"https://ceph.io/en/\\\"\\u003eCeph\\u003c/a\\u003e.
        It provides a simpler way to deliver Ceph to users using a set of scripts
        called charms that are deployed with \\u003ca href=\\\"https://juju.is/\\\"\\u003e[...]
