interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/17229.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":48547,\"name\":\"Peter Mahnke\"\
        ,\"username\":\"peterm-ubuntu\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/peterm-ubuntu/{size}/7873_2.png\"\
        ,\"created_at\":\"2020-07-14T09:57:15.584Z\",\"cooked\":\"\\u003ch1\\u003eEngage\
        \ pages\\u003c/h1\\u003e\\n\\u003cp\\u003eThe content of topics in this category\
        \ are displayed at \\u003ca href=\\\"https://ubuntu.com/engage\\\" rel=\\\"\
        nofollow noopener\\\"\\u003ehttps://ubuntu.com/engage\\u003c/a\\u003e.\\u003c/p\\\
        u003e\\n\\u003ch2\\u003eMetadata\\u003c/h2\\u003e\\n\\u003cdetails\\u003e\\\
        n\\u003csummary\\u003e\\nMapping table\\u003c/summary\\u003e\\n\\u003cdiv\
        \ class=\\\"md-table\\\"\\u003e\[...]
