interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedreleases/?format=json&limit=0
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 9}, "objects": [{"desktops": 5, "laptops": 0, "release": "Core
        22", "resource_uri": "/api/v1/certifiedreleases/Core%2022/", "servers": 0,
        "smart_core": 13, "soc": 0, "total": 18}, {"desktops": 204, "laptops": 431,
        "release": "20.04 LTS", "resource_uri": "/api/v1/certifiedreleases/20.04%20LTS/",
        "servers": 437, "smart_core": 45, "soc": 5, "total": 1142}, {"desktops": 0,
        "laptops": 0, "release": "Core 20", "resource_uri": "/api/v1/certifiedreleases/Core%2020/",
        "servers": 0, "smart_core": 26, "soc": 0, "total": 26}, {"desktops": 2, "laptops":
        0, "release": "Core 18", "resource_uri": "/api/v1/certifiedreleases/Core%2018/",
        "servers": 0, "smart_core": 5, "soc": 0, "total": 7}, {"desktops": 115, "laptops":
        254, "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedreleases/18.04%20LTS/",
        "servers": 396, "smart_core": 6, "soc": 10, "total": 791}, {"desktops": 0,
        "laptops": 0, "release": "18.04", "resource_uri": "/api/v1/certifiedreleases/18.04/",
        "servers": 2, "smart_core": 0, "soc": 0, "total": 2}, {"desktops": 2, "laptops":
        0, "release": "16.04 LTS", "resource_uri": "/api/v1/certifiedreleases/16.04%20LTS/",
        "servers": 414, "smart_core": 0, "soc": 0, "total": 420}, {"desktops": 0,
        "laptops": 0, "release": "Core 16", "resource_uri": "/api/v1/certifiedreleases/Core%2016/",
        "servers": 0, "smart_core": 6, "soc": 0, "total": 6}, {"desktops": 115, "laptops":
        213, "release": "22.04 LTS", "resource_uri": "/api/v1/certifiedreleases/22.04%20LTS/",
        "servers": 407, "smart_core": 33, "soc": 0, "total": 804}]}'
    headers:
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '2'
      X-QueryInspect-Total-Request-Time:
      - 100 ms
      X-QueryInspect-Total-SQL-Time:
      - 86 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmakes/?format=json&limit=0
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 52}, "objects": [{"desktops": 139, "laptops": 457, "make":
        "Dell", "resource_uri": "/api/v1/certifiedmakes/Dell/", "servers": 4, "smart_core":
        7, "soc": 0, "total": 631}, {"desktops": 124, "laptops": 241, "make": "Lenovo",
        "resource_uri": "/api/v1/certifiedmakes/Lenovo/", "servers": 102, "smart_core":
        5, "soc": 0, "total": 488}, {"desktops": 129, "laptops": 161, "make": "HP",
        "resource_uri": "/api/v1/certifiedmakes/HP/", "servers": 2, "smart_core":
        0, "soc": 0, "total": 305}, {"desktops": 0, "laptops": 0,[...]
[...]
