interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://discourse.ubuntu.com/t/11322.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":31439,\"name\":\"Joshua Powers\",\"username\":\"powersj\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/powersj/{size}/10180_2.png\",\"created_at\":\"2019-06-19T20:48:28.264Z\",\"cooked\":\"\\u003ch1\\u003eUbuntu
        Server Guide\\u003c/h1\\u003e\\n\\u003cp\\u003eWelcome to the Ubuntu Server
        Guide! This site includes information on using Ubuntu Server for \\u003cstrong\\u003eUbuntu
        20.04 LTS (Focal Fossa)\\u003c/strong\\u003e and later. For an offline version
        as well as versions for previous releases see below.\\u003c/p\\u003e\\n\\u003cp\\u003e\\u003cstrong\\u003eGetting
        Started:\\u003c/strong\\u003e\\u003c/p\\u003e\\n\\u003cdiv class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u003cth\\u003e\\u003c/th\\u003e\\n\\u003cth\\u003e\\u003c/th\\u003e\\n\\u003c/tr\\u003e\\n\\u003c/thead\\u003e\\n\\u003ctbody\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003e\\u003ca
        href=\\\"/t/installation/11320\\\"\\u003eBasic Install\\u003c/a\\u003e\\u003c/td\\u003e\\n\\u003ctd\\u003eInstall
        Server Edition using the installer\\u003c/t[...]
