interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=lxd-5-0-lts-is-now-available&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491&_embed=true
  response:
    body:
      string: '[{"id":107834,"date":"2022-04-26T12:46:09","date_gmt":"2022-04-26T12:46:09","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=107834"},"modified":"2022-04-26T13:47:11","modified_gmt":"2022-04-26T13:47:11","slug":"lxd-5-0-lts-is-now-available","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2022\/04\/26\/lxd-5-0-lts-is-now-available\/","title":{"rendered":"LXD
        5.0 LTS is now available"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/2e6f\/Screenshot-from-2022-04-26-14-33-56.png\"
        alt=\"\" class=\"wp-image-107835\"\/><figcaption>Canonical LXD logo<\/figcaption><\/figure>\n\n\n\n<p>The
        stable release of LXD, <a href=\"http:\/\/ubuntu.com\/lxd\">the system container
        and VM manager<\/a>, is now available. LXD 5.0 is the fourth LTS release for
        LXD, and will be supported for 5 years, until June 2027. LXD 5.0 comes preinstalled
        with Ubuntu Server <a href=\"https:\/\/ubuntu.com\/blog\/ubuntu-22-04-lts-released\">22.04
        LTS released last week<\/a>, and for Ubuntu Desktop users, it\u2019s only
        a couple of commands away. This release significantly steps up LXD\u2019s
        abilities in comparison to LXD 4.0 LTS, especially when operating in clustered
        environments.<br><\/p>\n\n\n\n<h2>What\u2019s new in LXD 5.0?<\/h2>\n\n\n\n<p>LXD
        5.0 LTS comes with a variety of great improvements whether it&#8217;s running
        containers and VMs on a laptop or a variety of projects across a rack full
        of clustered servers. It involves significant improvements in networking,
        projects, and cluster areas, as well as migration features. Below is an overview
        of some of the key features, and a detailed announcement with a complete changelog
        can be found <a href=\"https:\/\/discuss.linuxcontainers.org\/t\/lxd-5-0-lts-has-been-released\/13723\">here<\/a>.
        For those interested in demos of some of the new features, you can watch the
        <a href=\"https:\/\/www.youtube.com\/watch?v=WW6dQGIqGsA&amp;t=0s\">LXD 5.0
        live stream<\/a> or the <a href=\"https:\/\/www.youtube.com\/watch?v=UuKTqhpRphk\">LXD
        5.0 LTS for 4.0 users<\/a> videos.<\/p>\n\n\n\n<h3>Networking&nbsp;<\/h3>\n\n\n\n<p>LXD
        5.0 brings the the biggest improvement for networking, primarily through the
        addition of OVN support combined with BGP, DNS, floating IP, and hardware
        acceleration support. <a href=\"https:\/\/www.ovn.org\/en\/\">OVN<\/a> is
        an open source virtual network system deeply integrated with the Linux kernel
        via the <a href=\"https:\/\/www.openvswitch.org\/\">Open vSwitch<\/a>, adding
        native support for virtual network abstractions. This opens up a variety of
        networking features for LXD users, such as having networks within projects,
        which helps avoid conflicts when multiple users are using the same LXD server.
        It also provides improved speed through network acceleration and peering.
        To improve security, LXD networking features now include <strong>ACL (Access
        Control List)<\/strong> \u2013 a function driving firewall rules enabling
        restriction of both incoming and outgoing (ingress and egress) traffic.<\/p>\n\n\n\n<h3>Clusters<\/h3>\n\n\n\n<p>For
        cluster users, it is now possible to perform easy maintenance through cluster
        evacuation. In addition, it is now possible to group servers for easier targeting
        and restricting projects to a specific group of servers.&nbsp; LXD 5.0 also
        includes support for metrics APIs that can be used with <a href=\"https:\/\/prometheus.io\/\">Prometheus<\/a>
        and <a href=\"https:\/\/grafana.com\/\">Grafana<\/a> to get detailed instance
        metrics across entire clusters, similar to as shown in the photo below.<\/p>\n\n\n\n<p><br><\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh3.googleusercontent.com\/X6xjo-njohotXsGHmdd-olkk3cabct3Nsct5jqR1bInJ99hKmDOnT37vs0Tr1Fnh07_MY3Q4PlDHMjf2rj7RgE3BiY5hJyVaIOLd7D9jBGY8scuAcQ7ZiKZqrnI2yw_YMMu_XUCu\"
        alt=\"\"\/><\/figure>\n\n\n\n<h3>Projects&nbsp;<\/h3>\n\n\n\n<p>Projects have
        also grown a number of options for additional limits and restrictions, making
        it easy to safely grant access to various teams and limit their resource usage.
        One of these features is automated projects (multi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=4291%2C1301%2C1743&per_page=30&page=1&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491&exclude=107834&_embed=true
  response:
    body:
      string: '[{"id":114552,"date":"2023-05-08T10:00:06","date_gmt":"2023-05-08T10:00:06","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=114552"},"modified":"2023-05-08T13:27:39","modified_gmt":"2023-05-08T13:27:39","slug":"spring[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?slug=tutorials-for-everyone-from-everyone&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491&_embed=true
  response:
    body:
      string: '[{"id":94320,"date":"2020-03-11T08:58:07","date_gmt":"2020-03-11T08:58:07","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=94320"},"modified":"2020-03-17T10:18:27","modified_gmt":"2020-03-17T10:18:27","slug":"tutorials-for-everyone-f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1227%2C1239%2C3329&per_page=30&page=1&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491&exclude=94320&_embed=true
  response:
    body:
      string: '[{"id":113751,"date":"2023-04-06T05:13:14","date_gmt":"2023-04-06T05:13:14","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=113751"},"modified":"2023-04-10T13:24:19","modified_gmt":"2023-04-10T13:24:19","slug":"expanding-the-spice-rack","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2023\/04\/06\/expanding-the-spice-rack\/","title":{"rendered":"Expanding
        the Spice Rack"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/6544\/new-flavours-banner.png\"
        alt=\"New Flavours Banner\" class=\"wp-image-113762\"\/><\/figure>\n\n\n\n<p>In
        just a few short weeks, Ubuntu and the various official Ubuntu flavours will
        release version 23.04 dubbed <em>Lunar Lobster<\/em>. This cycle will be a
        bit more spicy with the introduction of two new members to the Ubuntu flavour
        family. <\/p>\n\n\n\n<h3>Edubuntu<\/h3>\n\n\n\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/6f70\/edubuntu-desktop.png\"
        alt=\"Edubuntu Desktop\" class=\"wp-image-113752\"\/><figcaption>Edubuntu
        Desktop<\/figcaption><\/figure>\n\n\n\n<p>The first of the new flavours is
        an ol[...]
