interactions:
- request:
    body: params=%7B%22category_id%22%3A+%2251%22%2C+%22keyword%22%3A+%22path%22%2C+%22value%22%3A+%22%2Fengage%2Fmicro-clouds%22%7D
    headers:
      Content-Type:
      - multipart/form-data;
    method: POST
    uri: https://discourse.ubuntu.com/admin/plugins/explorer/queries/16/run
  response:
    body:
      string: '{"success":true,"errors":[],"duration":43.9,"result_count":1,"params":{"category_id":"51","keyword":"path","value":"/engage/micro-clouds"},"columns":["cooked","raw","deleted_at","title","created_at","updated_at","id","slug"],"default_limit":1000,"relations":{},"colrender":{},"rows":[["\u003cdiv
        class=\"md-table\"\u003e\n\u003ctable\u003e\n\u003cthead\u003e\n\u003ctr\u003e\n\u003cth\u003eKey\u003c/th\u003e\n\u003cth\u003eValue\u003c/th\u003e\n\u003c/tr\u003e\n\u003c/thead\u003e\n\u003ctbody\u003e\n\u003ctr\u003e\n\u003ctd\u003eimage\u003c/td\u003e\n\u003ctd\u003e\u003ca
        href=\"https://assets.ubuntu.com/v1/d90b0f36-Edge+Cloud-white.svg\"\u003ehttps://assets.ubuntu.com/v1/d90b0f36-Edge+Cloud-white.svg\u003c/a\u003e\u003c/td\u003e\n\u003c/tr\u003e\n\u003ctr\u00[...]
