interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/22810.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":61313,\"name\":\"Carlos Wu Fei\",\"username\":\"carkod\",\"avatar_template\":\"/letter_avatar/carkod/{size}/5_6d6f4cde2641c35611d5cac2fb97c77e.png\",\"created_at\":\"2021-06-23T10:29:48.034Z\",\"cooked\":\"\\u003ch1\\u003eUbuntu
        Security Certifications\\u003c/h1\\u003e\\n\\u003cp\\u003eCanonical\u2019s
        security certifications offerings are available to Ubuntu Advantage customers.
        For further information, please contact a member of the \\u003ca href=\\\"https://www.ubuntu.com/support/contact-us\\\"\\u003eCanonical
        Sales team\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003ch2\\u003eFIPS\\u003c/h2\\u003e\\n\\u003cp\\u003eFederal
        Information Processing Standards Pub[...]
