interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&page=1&per_page=3&sticky=true&tags_exclude=3184%2C3265%2C3408%2C3960
  response:
    body:
      string: '[{"id":103430,"date":"2021-07-08T14:52:43","date_gmt":"2021-07-08T14:52:43","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=103430"},"modified":"2021-07-08T19:52:49","modified_gmt":"2021-07-08T19:52:49","slug":"canonical-recognized-as-a-2021-microsoft-partner-of-the-year-finalist","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2021\/07\/08\/canonical-recognized-as-a-2021-microsoft-partner-of-the-year-finalist\/","title":{"rendered":"Canonical
        recognized as a 2021 Microsoft Partner of the Year finalist"},"content":{"rendered":"\n<p>LONDON
        \u2014 July 8, 2021 \u2014 Canonical, the publishers of&nbsp;<a href=\"https:\/\/ubuntu.com\/\">Ubuntu<\/a>,
        today announced it has been named a finalist for a 2021 Microsoft Partner
        of the Year Award. The company was honored among a global field of top Microsoft
        partners for demonstrating excellence in innovation and implementation of
        customer solutions based on Microsoft technology.<br><\/p>\n\n\n\n<p>Canonical
        and Microsoft launched Ubuntu Pro in 2020 to give customers a seamless experience,
        combining the infrastructure of Azure with the security and compliance features
        of Ubuntu, the world\u2019s most popular Linux for cloud environments.<br><\/p>\n\n\n\n<p>\u201cBy
        teaming with Microsoft, we\u2019ve been able to help the increasing number
        of organizations that want to migrate to Azure through Ubuntu,\u201d said
        Daniel Bowers, [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_embed=true&slug=events
  response:
    body:
      string: '[{"id":1175,"count":133,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_embed=true&slug=webinars
  response:
    body:
      string: '[{"id":1187,"count":110,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&categories=1175%2C1187&page=1&per_page=3&tags_exclude=3184%2C3265%2C3408%2C3960
  response:
    body:
      string: '[{"id":101640,"date":"2021-03-04T10:19:08","date_gmt":"2021-03-04T10:19:08","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=101640"},"modified":"2021-03-04T10:19:10","modified_gmt":"2021-03-04T10:19:10","slug":"bosch-rexroth-on-ubuntu-core-at-embedded-world","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2021\/03\/04\/bosch-rexroth-on-ubuntu-core-at-embedded-world\/","title":{"rendered":"Canonical
        keynote at Embedded World 2021: Bosch Rexroth achieves complete IoT automation
        with Ubuntu Core"},"content":{"rendered":"\n<ul class=\"wp-block-gallery columns-1
        is-cropped\"><li class=\"blocks-gallery-item\"><figure><img src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/60be\/Title-Cards-12.png\"
        alt=\"\" data-id=\"101645\" data-link=\"https:\/\/admin.insights.ubuntu.com\/?attachment_id=101645\"
        class=\"wp-image-101645\"\/><\/figure><\/li><\/ul>\n\n\n\n<p>This year, we\u2019re
        excited to be <a href=\"https:\/\/ubuntu.com\/blog\/canonical-at-embedded-world-2021\">sponsoring
        Embedded World<\/a> once again. We\u2019re particularly thrilled to invite
        you to the s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&exclude=103430%2C103322%2C103154&page=1&per_page=11&tags_exclude=3184%2C3265%2C3408%2C3960
  response:
    body:
      string: '[{"id":103438,"date":"2021-07-09T12:58:53","date_gmt":"2021-07-09T12:58:53","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=103438"},"modified":"2021-07-09T12:58:56","modified_gmt":"2021-07-09T12:58:56","slug":"linux-kernel-livepatching","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2021\/07\/09\/linux-kernel-livepatching\/","title":{"rendered":"Linux
        kernel Livepatching"},"content":{"rendered":"\n<p><a href=\"https:\/\/ubuntu.com\/security\/livepatch\">Canonical
        livepatch<\/a> is the service and the software that enables organizations
        to quickly patch vulnerabilities on the Ubuntu Linux kernels. Livepatch provides
        uninterrupted service while reducing fire drills during high and critical
        severity kernel vulnerabilities. It is a complex technology and the details
        can be confusing, so in this post we provide a high level introduction to
        Ubuntu Linux kernel livepatching and the processes around it.<\/p>\n\n\n\n<h2>Livepatch
        introduction<\/h2>\n\n\n\n<p>When reviewing the major cybersecurity data breaches
        via web services (e.g., from the <a href=\"https:\/\/www.verizon.com\/business\/resources\/reports\/dbir\/\">2021
        Verizon data breach investigations report<\/a>), one cannot but notice that
        after credential based attacks, the exploitation of vulnerabilities is the
        major attack vector.&nbsp; According to the same report, only a quarter of
        scanned organization[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?_embed=true&slug=design
  response:
    body:
      string: '[{"id":1239,"count":579,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/design\/","name":"Design","slug":"design","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/1239"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=1239"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=1239"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&page=1&per_page=12&tags=1239&tags_exclude=3184%2C3265%2C3408%2C3960
  response:
    body:
      string: '[{"id":103425,"date":"2021-07-08T07:21:55","date_gmt":"2021-07-08T07:21:55","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=103425"},"modified":"2021-07-08T08:48:29","modified_gmt":"2021-07-08T08:48:29","slug":"design-and-web-team-summary-2-july-2021","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2021\/07\/08\/design-and-web-team-summary-2-july-2021\/","title":{"rendered":"Design
        and Web team summary \u2013 2 July 2021"},"content":{"rendered":"\n<p>The
        web team at Canonical runs two-week iterations building and maintaining all
        of Canonical websites and product web interfaces. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Web<\/h2>\n\n\n\n<p>The
        Web team develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>, <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a>
        and more.&nbsp;<br><\/p>\n\n\n\n<h3>Security certification docs<\/h3>\n\n\n\n<p>If
        you were not aware by now the team has been working to migrate all user-facing
        documentation to our discourse content model. As we are near completion of
        all docs, we worked on Security certification docs this iteration. Which loads
        its content from our <a href=\"https:\/\/discourse.ubuntu.com\/c\/security-certs\/86\">Security
        Certification category on discourse<\/a>.<br><\/p>\n\n\n\n<p><a href=\"http:\/\/ubuntu.com\/security\/certifications\/docs\">Visit
        the Ubuntu security certification documentation<\/a><br><\/p>\n\n\n\n<figure
        class=\"wp-block-image\"><img src=\"https:\/\/lh4.googleusercontent.com\/aWblJQ1jdS7jAUYmLWEi2-r0adWG4TrpMFssmjA5RllCA3BY5RFJNcPG_ar9zfJNRPCU8ae0LnHYY420rdMK0TkeIuLt7VOmiQWAUdI8U9d4IWE1rBPV6HngosXKVs2te0Veak7T\"
        alt=\"\"\/><\/figure>\n\n\n\n<h2>Brand<\/h2>\n\n\n\n<p>The Brand team develop
        our design strategy and create the look and feel for the company across many
        touch-points, from web, documents, exhibitions, logos and video.<br><\/p>\n\n\n\n<h4>Google
        Cloud social banners<\/h4>\n\n\n\n<p>Working with the Marketing team we developed
        a number of jointly branded social media Ads to promote the use of Ubuntu
        Pro for Google Cloud.<\/p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh5.googleusercontent.com\/nEXznPFaIWamTXDVKSTFUXzDrjWtauLAPUBl_LQVTtQix0RCu_6lYWjPzEhXMq-928jV87bcySywXl_cbYal7uQ2_qZ0PbPw-c2gdYtHAO6CcWLJBg-P0uPX3K6f0CPwyA4cywmk\"
        alt=\"\"\/><\/figure>\n\n\n\n<h4>Marketing document[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?_embed=true&slug=canonical-announcements
  response:
    body:
      string: '[{"id":2100,"count":264,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/canonical-announcements\/","name":"Canonical
        announcements","slug":"canonical-announcements","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/2100"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=2100"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=2100"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=2100"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&group=2100&page=1&per_page=12&tags_exclude=3184%2C3265%2C3408%2C3960
  response:
    body:
      string: '[{"id":103430,"date":"2021-07-08T14:52:43","date_gmt":"2021-07-08T14:52:43","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=103430"},"modified":"2021-07-08T19:52:49","modified_gmt":"2021-07-08T19:52:49","slug":"canonical-recognized-as-a-2021-microsoft-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?_embed=true&slug=internet-of-things
  response:
    body:
      string: '[{"id":1666,"count":2322,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/internet-of-things\/","name":"Internet
        of Things","slug":"internet-of-things","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/1666"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=1666"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
[...]
