interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-releases/?format=json&limit=0&pagination=limitoffset
  response:
    body:
      string: '{"count":10,"next":null,"previous":null,"results":[{"release":"18.04","desktops":0,"laptops":0,"servers":2,"soc":0,"smart_core":0,"total":2},{"release":"18.04
        LTS","desktops":116,"laptops":254,"servers":401,"soc":11,"smart_core":6,"total":792},{"release":"20.04
        LTS","desktops":212,"laptops":436,"servers":462,"soc":5,"smart_core":43,"total":1166},{"release":"22.04
        LTS","desktops":247,"laptops":407,"servers":656,"soc":0,"smart_core":65,"total":1375},{"release":"24.04
        LTS","desktops":204,"laptops":360,"servers":535,"soc":2,"smart_core":27,"total":1132},{"release":"26.04
        LTS","desktops":0,"laptops":7,"servers":293,"soc":0,"smart_core":1,"total":301},{"release":"Core
        18","desktops":2,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":7},{"release":"Core
        20","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":24,"total":24},{"release":"Core
        22","desktops":5,"laptops":0,"servers":0,"soc":0,"smart_core":22,"total":27},{"release":"Core
        24","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":13,"total":13}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '2'
      X-QueryInspect-Total-Request-Time:
      - 256 ms
      X-QueryInspect-Total-SQL-Time:
      - 248 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-vendors/?format=json&limit=0&pagination=limitoffset
  response:
    body:
      string: '{"count":66,"next":null,"previous":null,"results":[{"make":"AAEON Technology
        Inc.","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":5},{"make":"ADLink
        Technology, Inc.","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":5},{"make":"ADVANTECH","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":24,"total":24},{"make":"AMD
        AECG","desktops":3,"laptops":0,"servers":0,"soc":0,"smart_core":4,"total":7},{"make":"ASRock
        Industrial","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?name=Hewlett+Packard
  response:
    body:
      string: '[{"id": 369, "name": "Hewlett Packard", "slug": "hewlett-packard",
        "published": true, "logo": "https://assets.ubuntu.com/v1/cd5f636a-hp-logo.png",
        "partner_website": "http://www8.hp.com", "fallback_website": "http://www8.hp.com",
        "short_description": "Our vision is to create technology that makes life better
        for everyone, everywhere \u2014 every person, every organization, and every
        community around the globe. This motivates us \u2014 inspires us \u2014 to
        do what we do. We won\u2019t stop pushing ahead, because you won\u2019t stop
        pushing ahead. This is a new HP. Keep reinventing.", "long_description": "",
        "featured": true, "always_featured": true, "dedicated_partner_page": false,
        "notes": "", "tags_label": "", "technology": [{"id": 3, "name": "Personal
        computing/devices"}], "programme": [{"id": 10, "name": "Desktop"}], "service_offered":
        [{"id": 11, "name": "Hardware manufacturer"}], "partner_type": [], "insightstag_set":
        [], "link_set": [], "quote_set": [], "tag_set": [], "text_set": []}]'
    headers:
      content-type:
      - application.json
      x-vcs-revision:
      - 1697765408-2f1353b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=20&offset=0&vendor=HP&pagination=limitoffset
  response:
    body:
      string: '{"count":635,"next":"https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=20&offset=20&pagination=limitoffset&vendor=HP","previous":null,"results":[{"canonical_id":"202512-38164","make":"HP","model":"200
        G2a 14 inch In Notebook PC (AMD Ryzen 3 210 w/ Radeon 740M, 8GB)","level":"Certified
        Pre-Install","release":"24.04 LTS","category":"Laptop","major_release":"24.04
        LTS","completed":"2026-03-03T10:19:35.700374Z","resource_uri":"/api/v2/certified-configurations/202512-38164"},{"canonical_id":"202512-38163","make":"HP","model":"200
        G2a 14 inch In Notebook PC (AMD Ryzen 7 H 255 w/ Radeon 780M, 32GB)","level":"Certified
        Pre-Install","release":"24.04 LTS","category":"Laptop","major_release":"24.04
        LTS","completed":"2026-03-02T16:03:53.972849Z","resource_uri":"/api/v2/certified-configurations/202512-38163"},{"canonical_id":"202511-38057","make":"HP","model":"200
        G2a 16 inch Notebook (AMD Athl[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configuration-details/?format=json&limit=0&canonical_id__in=202512-38164%2C202512-38163%2C202511-38057%2C202511-38058%2C202512-38166%2C202512-38165%2C202510-38008%2C202510-37997%2C201810-26595%2C201810-26602%2C202001-27654%2C201912-27554%2C202005-27941%2C201812-26719%2C201904-26981%2C201904-26983%2C202105-29123%2C202404-33934%2C202404-33935%2C202111-29603&pagination=limitoffset
  response:
    body:
      string: '{"count":20,"next":null,"previous":null,"results":[{"id":17355,"canonical_id":"202511-38057","architecture":"amd64","bios":"AMI:
        F.03 (UEFI)","hardware_website":"","category":"Laptop","kernel_version":"6.17.0-1012-oem","notes":[],"make":"HP","model":"200
        G2a 16 inch Notebook (AMD Athlon Gold 20 with Radeon Graphics, Mendocino)","platform_name":"200
        G2a 16 inch Notebook PC5CD53931MG","platform_id":"15628","processor":[{"name":"AMD
        Ryzen 5 220 w/ Radeon 740M Graphics","make":"Advanced Micro Devices, Inc.","bus":"dmi","identifier":"dmi:AMDRyzen5220w/Radeon740MGraphics","subsystem":"","subproduct_name":"","vendor_id":6202,"subvendor_id":"","category":"PROCESSOR"}],"network":[{"name":"RTL8111/8168/8411
        PCI Express Gigabit Ethernet Controller","make":"Realtek Semiconductor Co.,
        Ltd.","bus":"pci","identifier":"10ec:8168","subsystem":"103c:8ee5","subproduct_name":"","vendor_id":286,"subvendor_id":114,"category":"NETWORK"}],"video":[{"name":"Phoenix4","make":"Advanced
        Micro Devices, Inc. [AMD/ATI]","bus":"pci","identifier":"1002:1901","subsystem":"103c:8ee5","subproduct_name":"","vendor_id":4844,"subvendor_id":114,"category":"VIDEO"}],"wireless":[{"name":"RTL8852BE-VT
        PCIe 802.11ax Wireless Network Controller","make":"Realtek Semiconductor Co.,
        Ltd.","bus":"pci","identifier":"10ec:b520","subsystem":"103c:88e9","subproduct_name":"","vendor_id":286,"subvendor_id":114,"category":"WIRELESS"}],"certified_release":"24.04
        LTS","level":"Certified Pre-Install","name":"2603-17355","form_factor":"Notebook","platform_certified_configuration_count":1,"download_instructions_url":"","release_notes_url":""},{"id":17354,"canonical_id":"202511-38058","architecture":"amd64","bios":"AMI:
        F.03 (UEFI)","hardware_website":"","category":"Laptop","kernel_version":"6.17.0-1012-oem","notes":[],"make":"HP","model":"200
        G2a 16 inch Notebook (AMD Ryzen 5 220 w/ Radeon 740M Graphics)","platform_name":"HP
        200 G2a 16 inch Notebook PC5CD53931FW","platform_id":"15629","processor":[{"name":"AMD
        Ryzen 5 220 w/ Radeon 740M Graphics","make":"Advanced Micro Devices, Inc.","bus":"dmi","i[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configuration-devices/?format=json&limit=0&canonical_id__in=202512-38164%2C202512-38163%2C202511-38057%2C202511-38058%2C202512-38166%2C202512-38165%2C202510-38008%2C202510-37997%2C201810-26595%2C201810-26602%2C202001-27654%2C201912-27554%2C202005-27941%2C201812-26719%2C201904-26981%2C201904-26983%2C202105-29123%2C202404-33934%2C202404-33935%2C202111-29603&category=DISK&pagination=limitoffset
  response:
    body:
      string: '{"count":23,"next":null,"previous":null,"results":[{"canonical_id":"202512-38166","bus":"nvme","identifier":"nvme:nvme0n1","subsystem":null,"vendor_id":3216,"subvendor_id":null,"make":"Phison
        Electronics Corp.","name":"nvme0n1","subproduct_name":null,"category":"DISK","raw_name":"nvme0n1","raw_make":"Phison
        Electronics Corp."},{"canonical_id":"202512-38165","bus":"nvme","identifier":"nvme:nvme0n1","subsystem":null,"vendor_id":4859,"subvendor_id":null,"make":"SAMSUNG
        Electronics","name":"nvme0n1","subproduct_name":null,"category":"DISK","raw_name":"nvme0n1","raw_make":"SAMSUNG
        Electronics"},{"canonical_id":"202512-38164","bus":"nvme","identifier":"nvme:nvme0n1","subsystem":null,"vendor_id":2356,"subvendor_id":null,"make":"Micron
        Technology, Inc.","name":"nvme0[...]
