interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/13611.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":38279,\"name\":\"system\",\"username\"\
        :\"system\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png\"\
        ,\"created_at\":\"2019-12-18T00:00:00.000Z\",\"cooked\":\"\\u003ch2\\u003eTutorials\\\
        u003c/h2\\u003e\\n\\u003cp\\u003eThe tutorials contained in the topics in\
        \ this category are displayed on \\u003ca href=\\\"https://ubuntu.com/tutorials\\\
        \" rel=\\\"nofollow noopener\\\"\\u003eubuntu.com/tutorials\\u003c/a\\u003e.\\\
        u003c/p\\u003e\\n\\u003cp\\u003eIf you want to contribute here is \\u003ca\
        \ href=\\\"https://ubuntu.com/tutorials/guidelines\\\" rel=\\\"nofollow noopener\\\
        \"\\u003ehow to write a[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/c/34.json?page=0
  response:
    body:
      string: "{\"users\":[{\"id\":-1,\"username\":\"system\",\"name\":\"system\"\
        ,\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png\"\
        },{\"id\":8831,\"username\":\"rhys-davies\",\"name\":\"Rhys Davies\",\"avatar_template\"\
        :\"/user_avatar/discourse.ubuntu.com/rhys-davies/{size}/7762_2.png\"},{\"\
        id\":10839,\"username\":\"dummyknuckles\",\"name\":\"Brad\",\"avatar_template\"\
        :\"/user_avatar/discourse.ubuntu.com/dummyknuckles/{size}/10645_2.png\"},{\"\
        id\":10697,\"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/c/34.json?page=2
  response:
    body:
      string: '{"users":[{"id":-1,"username":"system","name":"system","avatar_template":"/user_avatar/discourse.ubuntu.com/system/{size}/16_2.png"}],"primary_groups":[],"topic_list":{"can_create_topic":false,"draft":null,"draft_key":"new_topic","draft_sequence":null,"per_page":30,"topics":[{"id":13998,"title":"Get
        started with MicroStack","fancy_title":"Get started with MicroStack","slug":"get-started-with-microstack","posts_count":1,"reply_count":0,"highest_post_number":1,"image_url":"//ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/optimized/2X/d/daccc110d6c92486b4b7058aef273950d4c07bd5_2_690x388.png","created_at":"2020-01-14T17:40:07.684Z","last_posted_at":"2020-01-14T17:40:07.840Z","bumped":true,"bumped_at":"2020-01-21T12:36:45.735Z","unseen":false,"pinned":false,"unpinned":null,"visible":true,"closed":false,"archived":false,"bookmarked":null,"liked":null,"tags":[],"views":3439,"like_count":0,"has_summary":false,"archetype":"regular","last_poster_username":"system","category_id":34,"pinned_globally":false,"featured_link":null,"has_accepted_answer":false,"posters":[{"extras":"latest
        single","description":"Original Poster, Most Recent Poster","user_id":-1,"primary_group_id":null}]},{"id":13953,"title":"Running
        Ubuntu Desktop on an AWS EC2 instance","fancy_title":"Running Ubuntu Desktop
        on an AWS EC2 instance","slug":"running-ubuntu-desktop-on-an-aws-ec2-instance","posts_count":1,"reply_count":0,"highest_post_number":1,"image_url":"//ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/optimized/2X/9/9739bf252a049affd52397e3f3ca6965441e2cda_2_690x413.png","created_at":"2020-01-14T17:37:50.603Z","last_posted_at":"2020-01-14T17:37:50.723Z","bumped":tru[...]
[...]
