interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/component-summaries/682/?format=json&pagination=limitoffset
  response:
    body:
      string: '{"archived":false,"category":"","hardware_vendor_make":"Intel","id":682,"identifier":"8086:24fd","lts_releases":{"20.04
        LTS":[{"release":"20.04 LTS","third_party_driver":false,"status":"certified"}]},"machine_canonical_ids":["202004-27860","202004-27860","202004-27860","202004-27850","202004-27850","202004-27850","202004-27840","202004-27840","202004-27840","202003-27789","202003-27789","202003-27789"],"model":"8265NGW","note":"","part_number":"8086:24fd","statuses":[{"status":"certified","created":"2020-08-22T01:43:33.056642+01:00","updated":"2020-08-22T01:43:33.056670+01:00","third_party_driver":false,"certified_release":{"codename":"focal","release":"20.04
        LTS","release_date":"2020-04-23","supported_until":"2030-04-23","i_version":2004}}],"subsystem_identifier":"8086:24fd","vendor_make":"Intel","vendor_name":"Intel
        Corp."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '6'
      X-QueryInspect-Total-Request-Time:
      - 31 ms
      X-QueryInspect-Total-SQL-Time:
      - 19 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=0&canonical_id__in=202004-27860%2C202004-27860%2C202004-27860%2C202004-27850%2C202004-27850%2C202004-27850%2C202004-27840%2C202004-27840%2C202004-27840%2C202003-27789%2C202003-27789%2C202003-27789&pagination=limitoffset
  response:
    body:
      string: '{"count":4,"next":null,"previous":null,"results":[{"canonical_id":"202003-27789","make":"Lenovo","model":"ThinkStation
        P520","level":"Certified Pre-Install","release":"20.04 LTS","category":"Desktop","major_release":"20.04
        LTS","completed":"2020-08-24T21:00:41.663223+01:00","resource_uri":"/api/v2/certified-configurations/202003-27789"},{"canonical_id":"202004-27840","make":"Lenovo","model":"ThinkStation
        P520c","level":"Certified Pre-Install","release":"20.04 LTS","category":"Desktop","major_release":"20.04
        LTS","completed":"2020-08-24T20:45:31.532703+01:00","resource_uri":"/api/v2/certified-configurations/202004-27840"},{"canonical_id":"202004-27850","make":"Lenovo","model":"ThinkStation
        P720","level":"Certified Pre-Install","release":"20.04 LTS","category":"Desktop","major_release":"20.04
        LTS","completed":"2023-02-15T05:54:20.238176Z","resource_uri":"/api/v2/certified-configurations/202004-27850"},{"canonical_id":"202004-27860","make":"Lenovo","model":"ThinkStation
        P920","level":"Certified Pre-Install","release":"20.04 LTS","category":"Desktop","major_release":"20.04
        LTS","completed":"2020-08-22T01:37:35.793579+01:00","resource_uri":"/api/v2/certified-configurations/202004-27860"}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '8'
      X-QueryInspect-Total-Request-Time:
      - 90 ms
      X-QueryInspect-Total-SQL-Time:
      - 65 ms
    status:
      code: 200
      message: OK
version: 1
