interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/user/v1/accounts?email=cube@canonical.com
  response:
    body:
      string: '{"detail":"Incorrect authentication credentials."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      WWW-Authenticate:
      - JWT realm="api"
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://qa.cube.ubuntu.com/oauth2/access_token
  response:
    body:
      string: '{"access_token": "token"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/user/v1/accounts?email=cube@canonical.com
  response:
    body:
      string: "[{\"secondary_email\":null,\"date_joined\":\"2020-11-25T11:18:36Z\"\
        ,\"level_of_education\":null,\"accomplishments_shared\":true,\"year_of_birth\"\
        :null,\"extended_profile\":[],\"phone_number\":null,\"language_proficiencies\"\
        :[],\"time_zone\":null,\"bio\":null,\"gender\":null,\"social_links\":[],\"\
        account_privacy\":\"private\",\"mailing_address\":\"\",\"secondary_email_enabled\"\
        :null,\"name\":\"Cube Engineer\",\"is_active\":true,\"\
        goals\":\"\",\"requires_parental_consent\":true,\"profile_image\":{\"image_url_small\"\
        :\"https://qa.cube.ubuntu.com/static/images/profiles/fake.png\"\
        ,\"image_url_full\":\"https://qa.cube.ubuntu.com/static/images/profiles/fake.png\"\
        ,\"image_url_large\":\"https://qa.cube.ubuntu.com/static/images/profiles/fake.png\"\
        ,\"image_url_medium\":\"https://qa.cube.ubuntu.com/static/images/profiles/fake.png\"\
        ,\"has_image\":false},\"state\":null,\"username\":\"cube\",\"country\"\
        :null,\"course_certificates\":null,\"email\":\"cube@canonical.com\"\
        }]"
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://api.test.badgr.com/o/token
  response:
    body:
      string: '{"access_token": "token"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.test.badgr.com/v2/issuers/36ZEJnXdTjqobw93BJElog/assertions?recipient=cube@canonical.com
  response:
    body:
      string: '{"status":{"success":true,"description":"ok"},"result":[{"entityType":"Assertion","entityId":"yQUuEITBTVK3GdrGDfD2YQ","openBadgeId":"https://api.test.badgr.com/public/assertions/yQUuEITBTVK3GdrGDfD2YQ","createdAt":"2021-01-14T19:54:03.956331Z","createdBy":"mXJunowbRSaOGoaZQznG4w","badgeclass":"OFLBtlmyQiS1T_fL6IrZGg","badgeclassOpenBadgeId":"https://api.test.badgr.com/public/badges/OFLBtlmyQiS1T_fL6IrZGg","issuer":"36ZEJnXdTjqobw93BJElog","issuerOpenBadgeId":"https://api.test.badgr.com/public/issuers/36ZEJnXdTjqobw93BJElog","image":"https://media.test.badgr.com/uploads/badges/assertion-yQUuEITBTVK3GdrGDfD2YQ.png","recipient":{"identity":"sha256$cec79a94829fe03aa7651ced998e718ec76b5b96700dc02b4866b333a1bbbce2","hashed":true,"type":"email","plaintextIdentity":"cube@canonical.com","salt":"289adbc72609405ba8dc122e8edfe2be"},"issuedOn":"2021-01-14T05:00:00Z","narrative":null,"evidence":[],"revoked":false,"revocationReason":null,"acceptance":"Unaccepted","expires":null,"extensions":{}},{"entityType":"Assertion","entityId":"jnIaXFrnQlOdkmW-z45qzA","openBadgeId":"https://api.test.badgr.com/public/assertions/jnIaXFrnQlOdkmW-z45qzA","createdAt":"2021-01-15T19:43:07.251999Z","createdBy":"mXJunowbRSaOGoaZQznG4w","badgeclass":"cz8Bh5KJQT-0BenVPpn2tQ","badgeclassOpenBadgeId":"https://api.test.badgr.com/public/badges/cz8Bh5KJQT-0BenVPpn2tQ","issuer":"36ZEJnXdTjqobw93BJElog","issuerOpenBadgeId":"https://api.test.badgr.com/public/issuers/36ZEJnXdTjqobw93BJElog","image":"https://media[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/enrollment/v1/enrollments?username=cube&page_size=100
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"created":"2021-01-28T23:59:52.101659Z","mode":"honor","is_active":true,"user":"cube","course_id":"course-v1:CUBE+virtualisation+2020"},{"created":"2021-01-28T23:59:51.796578Z","mode":"honor","is_active":true,"user":"cube","course_id":"course-v1:CUBE+systemd+2020"},{"created":"2021-01-28T23:59:51.535318Z","mode":"honor","is_active":true,"user":"cube","course_id":"course-v1:CUBE+sysarch+2020"},{"created":"2021-01-28T23:59:51.263707Z","mode":"honor","is_active":true,"user":"cube","course_id":"course-v1:CUBE+storage+2020"},{"created":"2021-01-28T23:59:50.978549Z","mode":"honor","is_active":true[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+admintasks+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+admintasks+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+commands+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+commands+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+devices+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+devices+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+juju+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+juju+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+kernel+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+kernel+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+maas+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+maas+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+microk8s+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+microk8s+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+networking+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+networking+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+package+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[{"id":25,"created":"2021-01-31T03:32:07.880197Z","modified":"2021-01-31T03:32:07.928531Z","user":{"id":289,"username":"cube","email":"cube@canonical.com"},"started_at":"2021-01-31T03:32:07.912549Z","completed_at":"2021-01-31T03:32:07.912549Z","external_id":null,"status":"started","proctored_exam":{"id":124,"course_id":"course-v1:CUBE+security+2020","content_id":"block-v1:CUBE+security+2020+type@sequential+block@exam","external_id":null,"exam_name":"Exam","time_limit_mins":45,"is_proctored":false,"is_practice_exam":false,"is_active":true,"due_date":null,"hide_after_due":false,"backend":"null"},"allowed_time_limit_mins":45,"attempt_code":"6CD5FCAA-A9A7-434E-97EC-4974AD63CB12","is_sample_attempt":false,"taking_as_proctored":false,"last_poll_timestamp":null,"last_poll_ipaddr":null,"review_policy_id":null,"student_name":"","is_status_acknowledged":false}],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+package+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+security+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[{"id":25,"created":"2021-01-31T03:32:07.880197Z","modified":"2021-01-31T03:32:07.928531Z","user":{"id":289,"username":"cube","email":"cube@canonical.com"},"started_at":"2021-01-31T03:32:07.912549Z","completed_at":null,"external_id":null,"status":"started","proctored_exam":{"id":124,"course_id":"course-v1:CUBE+security+2020","content_id":"block-v1:CUBE+security+2020+type@sequential+block@exam","external_id":null,"exam_name":"Exam","time_limit_mins":45,"is_proctored":false,"is_practice_exam":false,"is_active":true,"due_date":null,"hide_after_due":false,"backend":"null"},"allowed_time_limit_mins":45,"attempt_code":"6CD5FCAA-A9A7-434E-97EC-4974AD63CB12","is_sample_attempt":false,"taking_as_proctored":false,"last_poll_timestamp":null,"last_poll_ipaddr":null,"review_policy_id":null,"student_name":"","is_status_acknowledged":false}],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+security+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+shellscript+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+shellscript+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+storage+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+storage+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+sysarch+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+sysarch+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+systemd+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+systemd+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+virtualisation+2020/search/cube?page_size=100
  response:
    body:
      string: '{"pagination_info":{"has_next":false,"total_pages":1,"current_page":1,"has_previous":false},"proctored_exam_attempts":[],"attempt_url":"/api/edx_proctoring/v1/proctored_exam/attempt/course_id/course-v1:CUBE+virtualisation+2020/search/cube"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
