interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.googleapis.com/customsearch/v1?cx=adb2397a224a1fe55&q=ubuntu&siteSearch=ubuntu.com%2Ftutorials
  response:
    body:
      string: "{\n  \"kind\": \"customsearch#search\",\n  \"url\": {\n    \"type\":
        \"application/json\",\n    \"template\": \"https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json\"\n
        \ },\n  \"queries\": {\n    \"request\": [\n      {\n        \"title\": \"Google
        Custom Search - ubuntu\",\n        \"totalResults\": \"227\",\n        \"searchTerms\":
        \"ubuntu\",\n        \"count\": 10,\n        \"startIndex\": 1,\n        \"inputEncoding\":
        \"utf8\",\n        \"outputEncoding\": \"utf8\",\n        \"safe\": \"off\",\n
        \       \"cx\": \"adb2397a224a1fe55\",\n        \"siteSearch\": \"ubuntu.com/tutorials\"\n
        \     }\n    ],\n    \"nextPage\": [\n      {\n        \"title\": \"Google
        Custom Search - ubuntu\",\n        \"totalResults\": \"227\",\n        \"searchTerms\":
        \"ubuntu\",\n        \"count\": 10,\n        \"startIndex\": 11,\n        \"inputEncoding\":
        \"utf8\",\n        \"outputEncoding\": \"utf8\",\n        \"safe\": \"off\",\n
        \       \"cx\": \"adb2397a224a1fe55\",\n        \"siteSearch\": \"ubuntu.com/tutorials\"\n
        \     }\n    ]\n  },\n  \"context\": {\n    \"title\": \"Web\"\n  },\n  \"searchInformation\":
        {\n    \"searchTime\": 0.193935,\n    \"formattedSearchTime\": \"0.19\",\n
        \   \"totalResults\": \"227\",\n    \"formattedTotalResults\": \"227\"\n  },\n
        \ \"items\": [\n    {\n      \"kind\": \"customsearch#result\",\n      \"title\":
        \"Install Ubuntu desktop | Ubuntu\",\n      \"htmlTitle\": \"Install \\u003cb\\u003eUbuntu\\u003c/b\\u003e
        desktop | \\u003cb\\u003eUbuntu\\u003c/b\\u003e\",\n      \"link\": \"https://ubuntu.com/tutorials/install-ubuntu-desktop\",\n
        \     \"displayLink\": \"ubuntu.com\",\n      \"snippet\": \"Overview. What
        you'll learn. In this tutorial, we will guide you through the steps required
        to install Ubuntu Desktop on your laptop or PC.\",\n      \"htmlSnippet\":
        \"Overview. What you&#39;ll learn. In this tutorial, we will guide you through
        the steps required to install \\u003cb\\u003eUbuntu\\u003c/b\\u003e Desktop
        on your laptop or PC.\",\n      \"cacheId\": \"tPh6Sigm4rQJ\",\n      \"formattedUrl\":
        \"https://ubuntu.com/tutorials/install-ubuntu-desktop\",\n      \"htmlFormattedUrl\":
        \"https://\\u003cb\\u003eubuntu\\u003c/b\\u003e.com/tutorials/install-\\u003cb\\u003eubuntu\\u003c/b\\u003e-desktop\",\n
        \     \"pagemap\": {\n        \"cse_thumbnail\": [\n          {\n            \"src\":
        \"https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRQIngm5ZJLlLt90OQyZjCWVukhbydGU1qzDuWc2cVfs3O0DHKRefNpLaTt\",\n
        \           \"width\": \"266\",\n            \"height\": \"189\"\n          }\n
        \       ],\n        \"metatags\": [\n          {\n            \"og:image\":
        \"https://assets.ubuntu.com/v1/ebdfffbf-Aubergine_suru_background.png\",\n
        \           \"og:type\": \"website\",\n            \"twitter:title\": \"Install
        Ubuntu desktop | Ubuntu\",\n            \"twitter:card\": \"summary_large_image\",\n
        \           \"og:site_name\": \"Ubuntu\",\n            \"og:title\": \"Install
        Ubuntu desktop | Ubuntu\",\n            \"og:description\": \"Ubuntu is an
        open source software operating system that runs from the desktop, to the cloud,
        to all your internet connected things.\",\n            \"twitter:image\":
        \"https://assets.ubuntu.com/v1/ebdfffbf-Aubergine_suru_background.png\",\n
        \           \"facebook-domain-verification\": \"zxp9j79g1gy2xenbu9ll964pttk5hu\",\n
        \           \"twitter:site\": \"@ubuntu\",\n            \"viewport\": \"width=device-width,
        initial-scale=1\",\n            \"copydoc\": \"https://drive.google.com/drive/folders/0B4s80tIYQW4BMjNiMGFmNzQtNDkxZC00YmQ0LWJiZWUtNTk2YThlY2MzZmJh\",\n
        \           \"twitter:description\": \"Ubuntu is an open source software operating
        system that runs from the desktop, to the cloud, to all your internet connected
        things.\",\n            \"og:url\": \"https://ubuntu.com/tutorials/install-ubuntu-desktop\",\n
        \           \"twitter:account_id\": \"4503599627481511\"\n          }\n        ],\n
        \       \"cse_image\": [\n          {\n            \"src\": \"https://ubuntucommunity.s3.dualstack.us-east-2.amazonaws.com/optimized/3X/d/3/d3ecf0323b7711be51d38955cf14e058b15c09b8_2_690x490.png\"\n
        \         }\n        ]\n      }\n    },\n    {\n      \"kind\": \"customsearch#result\",\n
        \     \"title\": \"Create a bootable USB stick with Rufus on Windows | Ubuntu\",\n
        \     \"htmlTitle\": \"Create a bootable USB stick with Rufus on Windows |
        \\u003cb\\u003eUbuntu\\u003c/b\\u003e\",\n[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://discourse.ubuntu.com/t/13611.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":38279,\"name\":\"system\",\"username\":\"system\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/system/{size}/17382_2.png\",\"created_at\":\"2019-12-18T00:00:00.000Z\",\"cooked\":\"\\u003ch2\\u003eTutorials\\u003c/h2\\u003e\\n\\u003cp\\u003eThe
        tutorials contained in the topics in this category are displayed on \\u003ca
        href=\\\"https://ubuntu.com/tutorials\\\"\\u003eubuntu.com/tutorials\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003cp\\u003eIf
        you want to contribute here is \\u003ca href=\\\"https://ubuntu.com/tutorials/guidelines\\\"\\u003ehow
        to write a tutorial\\u003c/a\\u003e.\\u003c/p\\u003e\\n\\u003ch2\\u003eURLs\\u003c/h2\\u003e\\n\\u00[...]
- request:
    body: params=%7B%22topics%22%3A%2235449%2C34463%2C30980%2C32212%2C30994%2C30515%2C29857%2C29561%2C29508%2C28992%2C28940%2C28824%2C28783%2C28440%2C27986%2C27472%2C27449%2C27451%2C27450%2C26992%2C27430%2C25812%2C27283%2C26858%2C26806%2C26730%2C26713%2C26711%2C26686%2C26684%2C26603%2C26604%2C26189%2C26296%2C26269%2C26032%2C25823%2C25825%2C25719%2C25654%2C25643%2C25328%2C25338%2C24369%2C25312%2C25137%2C25085%2C24607%2C24078%2C24125%2C23592%2C22471%2C22847%2C22119%2C22009%2C21809%2C21549%2C20118%2C19891%2C19539%2C21214%2C21284%2C20652%2C20653%2C19131%2C18925%2C18468%2C14000%2C18521%2C17847%2C17675%2C17919%2C17647%2C17214%2C16437%2C16699%2C15153%2C14792%2C14660%2C14646%2C14304%2C13618%2C13996%2C13982%2C13970%2C13981%2C13978%2C13967%2C13973%2C13972%2C13968%2C13980%2C14015%2C14021%2C14008%2C14016%2C14011%2C14020%2C14018%2C14009%2C14010%2C14019%2C14013%2C14017%2C14014%2C14012%2C13995%2C13983%2C13990%2C13989%2C13992%2C13993%2C29073%2C13994%2C13988%2C14006%2C13985%2C13984%2C13965%2C13956%2C13964%2C13951%2C13945%2C13955%2C13952%2C13948%2C13959%2C13963%2C13950%2C13949%2C13958%2C13960%2C13957%2C13953%2C13954%2C13947%2C14270%2C14271%2C14273%2C14306%2C25065%2C25068%2C25069%2C25070%2C25071%2C25072%2C25073%2C25074%2C25075%2C25076%2C25077%2C25078%2C26251%2C27143%2C30712%22%7D
    headers:
      Content-Type:
      - multipart/form-data;
    method: POST
    uri: https://discourse.ubuntu.com/admin/plugins/explorer/queries/2/run
  response:
    body:
      string: "{\"success\":true,\"errors\":[],\"duration\":12.8,\"result_count\":155,\"params\":{\"topics\":\"35449,34463,30980,32212,30994,30515,29857,29561,29508,28992,28940,28824,28783,28440,27986,27472,27449,27451,27450,26992,27430,25812,27283,26858,26806,26730,26713,26711,26686,26684,26603,26604,26189,26296,26269,26032,25823,25825,25719,25654,25643,25328,25338,24369,25312,25137,25085,24607,24078,24125,23592,22471,22847,22119,22009,21809,21549,20118,19891,19539,21214,21284,20652,20653,19131,18925,18468,14000,18521,17847,17675,17919,17647,17214,16437,16699,15153,14792,14660,14646,14304,13618,13996,13982,13970,13981,13978,13967,13973,13972,13968,13980,14015,14021,14008,14016,14011,14020,14018,14009,14010,14019,14013,14017,14014,14012,13995,13983,13990,13989,13992,13993,29073,13994,13988,14006,13985,13984,13965,13956,13964,13951,13945,13955,13952,13948,13959,13963,13950,13949,13958,13960,13957,13953,13954,13947,14270,14271,14273,14306,25065,25068,25069,25070,25071,25072,25073,25074,25075,25076,25077,25078,26251,27143,30712\"},\"columns\":[\"id\",\"title\",\"slug\",\"left\"],\"default_limit\":1000,\"relations\":{},\"colrender\":{},\"rows\":[[35449,\"How
        to upgrade Ubuntu LTS to Ubuntu Pro on AWS using AWS License Manager\",\"how-to-upgrade-ubuntu-lts-to-ubuntu-pro-on-aws-using-aws-license-manager\",\"\\u003cdiv
        class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u003cth\\u003eKey\\u003c/th\\u003e\\n\\u003cth\\u003eValue\\u003c/th\\u003e\\n\\u003c/tr\\u003e\\n\\u003c/thead\\u003e\\n\\u003ctbody\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003eSummary\\u003c/td\\u003e\\n\\u003c[...]
