interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://qa.cube.ubuntu.com/api/user/v1/accounts?email=cube%40canonical.com
  response:
    body:
      string: '{"detail":"Invalid token."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Language:
      - en
      Content-Type:
      - application/json
      WWW-Authenticate:
      - JWT realm="api"
    status:
      code: 401
      message: Unauthorized
- request:
    body: client_id=client-id&grant_type=client_credentials&token_type=jwt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://qa.cube.ubuntu.com/oauth2/access_token
  response:
    body:
      string: '{"access_token": "test-access-token",
        "expires_in": 36000, "token_type": "JWT", "scope": "read write email profile"}'
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Api-Key:
      - 98e9b7044594195c0f8fe8148a0e7322032874e543a6c852a716be9f743db9d3
      Api-Username:
      - carkod
    method: GET
    uri: https://contracts.canonical.com/v1/marketplace/canonical-cube/product-listings
  response:
    body:
      string: '{"productListings":[{"bundleQuantity":1,"createdAt":"2021-07-30T14:39:31.658Z","effectiveDays":30,"externalIDs":[{"IDs":["course-v1:CUBE+admintasks+2020"],"origin":"EdX"},{"IDs":["CFHJV2102"],"origin":"Salesforce"}],"externalMarketplaceIDs":{"IDs":["course-v1:CUBE+admintasks+2020","CFHJV2102"],"origin":"Salesforce"},"externalPricingID":{"IDs":["price_1JIws3HbAf6zvoUikJpLLbTg"],"origin":"Stripe"},"id":"lADAhOawJYK_yfbVSK3s2M5deFHOMfTJD9wtpJwTfrFw","lastModifiedAt":"2021-07-30T14:39:31.658Z","marketplace":"canonical-cube","metadata":[{"key":"badge-class","value":"czAAvvs2SJCH1py9Y7i3wQ"},{"key":"badge-url","value":"https://assets.ubuntu.com/v1/7bf909cc-Admin.svg"},{"key":"name","value":"Performing
        Administrative Tasks"},{"key":"topics","value":"[\"Find and review information
        about activities and processes\",\"Manage user privileges\",\"Create backups\",\"View
        and record system utilization.\",\"Configure remote logging.\"]"}],"name":"cube-admintasks-2020","period":"none","price":{"currency":"USD","value":4900},"productID":"cube-admintasks","status":"active"},{"bundleQuantity":1,"createdAt":"2021-07-30T14:43:47.317Z","effectiveDays":30,"externalIDs":[{"IDs":["course-v1:CUBE+microk8s+2020"],"origin":"EdX"},{"IDs":["CFHJL2102"],"origin":"Salesforce"}],"externalMarketplaceIDs":{"IDs":["course-v1:CUBE+microk8s+2020","CFHJL2102"],"origin":"Salesforce"},"externalPricingID":{"IDs":["price_1JIwwBHbAf6zvoUiwxYrl1fd"],"origin":"Stripe"},"id":"lAPHwJqhN52NGK1t--MODF0NZ9Yv00j6ut6JqiBuwtrc","lastModifiedAt":"2021-07-30T14:43:4[...]
