interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configuration-details/?format=json&canonical_id=201807-26311&pagination=limitoffset
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":11209,"canonical_id":"201807-26311","architecture":"amd64","bios":null,"hardware_website":"http://e.huawei.com/en/products/cloud-computing-dc/servers","category":"Server","kernel_version":"4.15.0-46-generic","notes":[],"make":"Huawei
        Technologies Co., Ltd.","model":"2288 V5","platform_name":"2288 V5","platform_id":"9472","processor":[{"name":"Intel(R)
        Xeon(R) Platinum 8153 CPU @ 2.00GHz","make":"Intel Corp.","bus":"dmi","identifier":"dmi:Intel(R)Xeon(R)Platinum8153CPU@2.00GHz","subsystem":"","subproduct_name":"","vendor_id":4103,"subvendor_id":"","category":"PROCESSOR"}],"network":[{"name":"Ethernet
        Connection X722 for 1GbE","make":"Intel Corp.","bus":"pci","identifier":"8086:37d1","subsystem":"","subproduct_name":"","vendor_id":4103,"subvendor_id":"","category":"NETWORK"},{"name":"Ethernet
        Connection X722 for 1GbE","make":"Intel Corp.","bus":"pci","identifier":"8086:37d1","subsystem":"","subproduct_name":"","vendor_id":4103,"subvendor_id":"","category":"NETWORK"}],"video":[{"name":"Hi1710
        [iBMC Intelligent Management system chip w/VGA support] Note: huawei claims
        to use an SM750 VGA controller integrated in this chip.","make":"Huawei Technologies
        Co., Ltd.","bus":"pci","identifier":"19e5:1711","subsystem":"","subproduct_name":"","vendor_id":3654,"subvendor_id":"","category":"VIDEO"}],"wireless":[],"certified_release":"18.04
        LTS","level":"Certified","name":"1903-11209","form_factor":"Server","platform_certified_configuration_count":1}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '8'
      X-QueryInspect-Total-Request-Time:
      - 125 ms
      X-QueryInspect-Total-SQL-Time:
      - 60 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/component-summaries/?format=json&canonical_id=201807-26311&pagination=limitoffset
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '1'
      X-QueryInspect-Total-Request-Time:
      - 14 ms
      X-QueryInspect-Total-SQL-Time:
      - 9 ms
    status:
      code: 200
      message: OK
version: 1
