interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-releases/?format=json&limit=0&pagination=limitoffset
  response:
    body:
      string: '{"count":8,"next":null,"previous":null,"results":[{"release":"Core
        22","desktops":5,"laptops":0,"servers":0,"soc":0,"smart_core":13,"total":18},{"release":"24.04
        LTS","desktops":0,"laptops":0,"servers":2,"soc":0,"smart_core":8,"total":10},{"release":"20.04
        LTS","desktops":204,"laptops":431,"servers":460,"soc":5,"smart_core":45,"total":1165},{"release":"Core
        20","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":26,"total":26},{"release":"Core
        18","desktops":2,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":7},{"release":"18.04
        LTS","desktops":115,"laptops":254,"servers":397,"soc":10,"smart_core":6,"total":792},{"release":"18.04","desktops":0,"laptops":0,"servers":2,"soc":0,"smart_core":0,"total":2},{"release":"22.04
        LTS","desktops":145,"laptops":269,"servers":496,"soc":0,"smart_core":48,"total":1015}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '2'
      X-QueryInspect-Total-Request-Time:
      - 108 ms
      X-QueryInspect-Total-SQL-Time:
      - 97 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-vendors/?format=json&limit=0&pagination=limitoffset
  response:
    body:
      string: '{"count":52,"next":null,"previous":null,"results":[{"make":"Dell","desktops":143,"laptops":494,"servers":15,"soc":0,"smart_core":9,"total":697},{"make":"Lenovo","desktops":136,"laptops":245,"servers":119,"soc":0,"smart_core":5,"total":526},{"make":"HP","desktops":137,"laptops":170,"servers":2,"soc":0,"smart_core":0,"total":326},{"make":"Supermicro","desktops":0,"laptops":0,"servers":111,"soc":0,"smart_core":0,"total":111},{"make":"HPE","desktops":0,"laptops":0,"servers":100,"soc":0,"smart_core":0,"total":100},{"make":"Dell
        Technologies","desktop[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=20&offset=0&vendor=Dell&query=xps&category__in=Laptop%2CDesktop&pagination=limitoffset
  response:
    body:
      string: '{"count":37,"next":"https://certification.canonical.com/api/v2/certified-configurations/?category__in=Laptop%2CDesktop&format=json&limit=20&offset=20&pagination=limitoffset&query=xps&vendor=Dell","previous":null,"results":[{"canonical_id":"201906-27119","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-09-27T21:22:33.103146+01:00","resource_uri":"/api/v2/certified-configurations/201906-27119"},{"canonical_id":"201906-27131","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-09-27T21:20:13.682473+01:00","resource_uri":"/api/v2/certified-configurations/201906-27131"},{"canonical_id":"201906-27151","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major[...]
