interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/11322.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":31439,\"name\":\"Joshua Powers\",\"username\":\"powersj\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/powersj/{size}/10180_2.png\",\"created_at\":\"2019-06-19T20:48:28.264Z\",\"cooked\":\"\\u003ch1\\u003eUbuntu
        Server Guide\\u003c/h1\\u003e\\n\\u003cp\\u003eWelcome to the Ubuntu Server
        Guide! This site includes information on using Ubuntu Server for the latest
        LTS release, \\u003cstrong\\u003eUbuntu 20.04 LTS (Focal Fossa)\\u003c/strong\\u003e.
        For an offline version as well as versions for previous releases see below.\\u003c/p\\u003e\\n\\u003ch2\\u003eImproving
        the Documentation\\u003c/h2\\u003e\\n\\u003cp\\u003eIf you find any errors
  [...]
