interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmodels/?format=json&canonical_id=201906-27091
  response:
    body:
      string: '{"meta": {"limit": 20, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"canonical_id": "201906-27091", "category":
        "Desktop", "level": "Enabled", "major_release": "18.04 LTS", "make": "Dell",
        "model": "OptiPlex 7071", "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedmodels/201906-27091/"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmodeldetails/?format=json&limit=0&canonical_id=201906-27091
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 1}, "objects": [{"architecture": "amd64", "bios": "", "canonical_id":
        "201906-27091", "category": "Desktop", "certified_release": "18.04 LTS", "completed":
        "2019-09-27T21:28:13.038880", "form_factor": "Desktop", "hardware_website":
        "", "id": 11539, "kernel_version": "4.15.0-1037-oem", "level": "Enabled",
        "make": "Dell", "model": "OptiPlex 7071", "name": "1909-11539", "network":
        [{"bus": "pci", "category": "NETWORK", "identifier": "1d6a:d108", "make":
        "Aquantia Corp.", "name": "AQC108 NBase-T/IEEE 802.3bz Ethernet Controller
        [AQtion]", "subproduct_name": "", "subsystem": "1d6a:0001", "subvendor_id":
        "", "vendor_id": 5483}, {"bus": "pci", "category": "NETWORK", "identifier":
        "8086:15bb", "make": "Intel Corp.", "name": "Intel(R) Ethernet Connection
        (7) I219-LM", "subproduct_name": "", "subsystem": "", "subvendor_id": "",
        "vendor_id": 4103}], "notes": [], "processor": [{"bus": "dmi", "category":
        "PROCESSOR", "identifier": "dmi:Intel(R)Core(TM)i9-9900KCPU@3.60GHz", "make":
        "Intel Corp.", "name": "Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz", "subproduct_name":
        "", "subsystem": "", "subvendor_id": "", "vendor_id": 4103}], "resource_uri":
        "/api/v1/certifiedmodeldetails/11539/", "video": [{"bus": "pci", "category":
        "VIDEO", "identifier": "8086:3e98", "make": "Intel Corp.", "name": "UHD Graphics
        630 (Desktop 9 Series)", "subproduct_name": "", "subsystem": "1028:094b",
        "subvendor_id": "", "vendor_id": 4103}], "wireless": []}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmodeldevices/?format=json&limit=0&canonical_id=201906-27091
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 32}, "objects": [{"bus": "pci", "canonical_id": "201906-27091",
        "category": "AUDIO", "identifier": "8086:a348", "make": "Intel Corp.", "name":
        "Cannon Lake PCH cAVS", "raw_make": "Intel Corp.", "raw_name": "Cannon Lake
        PCH cAVS", "resource_uri": "/api/v1/certifiedmodeldevices/8086:a348/", "subproduct_name":
        "", "subsystem": "1028:094b", "subvendor_id": "", "vendor_id": 4103}, {"bus":
        "sound", "canonical_id": "201906-27091", "category": "AUDIO", "identifier":
        "sound:Unknown", "make": "Intel Corp.", "name": "Unknown", "raw_make": "Intel
        Corp.", "raw_name": "Unknown", "resource_uri": "/api/v1/certifiedmodeldevices/sound:Unknown/",
        "subproduct_name": ""[...]
