interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&canonical_id=201906-27091&pagination=limitoffset
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"canonical_id":"201906-27091","make":"Dell","model":"OptiPlex
        7071","level":"Certified Pre-Install","release":"18.04 LTS","category":"Desktop","major_release":"18.04
        LTS","completed":"2019-09-27T21:28:13.038880+01:00","resource_uri":"/api/v2/certified-configurations/201906-27091"}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '8'
      X-QueryInspect-Total-Request-Time:
      - 66 ms
      X-QueryInspect-Total-SQL-Time:
      - 50 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configuration-details/?format=json&limit=0&canonical_id=201906-27091&pagination=limitoffset
  response:
    body:
      string: '{"count":1,"next":null,"previous":null,"results":[{"id":11539,"canonical_id":"201906-27091","architecture":"amd64","bios":null,"hardware_website":"","category":"Desktop","kernel_version":"4.15.0-1037-oem","notes":[],"make":"Dell","model":"OptiPlex
        7071","platform_name":"OptiPlex 7071","platform_id":"9953","processor":[{"name":"Intel(R)
        Core(TM) i9-9900K CPU @ 3.60GHz","make":"Intel Corp.","bus":"dmi","identifier":"dmi:Intel(R)Core(TM)i9-9900KCPU@3.60GHz","subsystem":"","subproduct_name":"","vendor_id":4103,"subvendor_id":"","category":"PROCESSOR"}],"network":[{"name":"AQC108
        NBase-T/IEEE 802.3bz Ethernet Controller [AQtion]","make":"Aquantia Corp.","bus":"pci","identifier":"1d6a:d108","subsystem":"1d6a:0001","subproduct_name":"","vendor_id":5483,"subvendor_id":"","category":"NETWORK"},{"name":"Intel(R)
        Ethernet Connection (7) I219-LM","make":"Intel Corp.","bus":"pci","identifier":"8086:15bb","subsystem":"","subproduct_name":"","vendor_id":4103,"subvendor_id":"","category":"NETWORK"}],"video":[{"name":"UHD
        Graphics 630 (Desktop 9 Series)","make":"Intel Corp.","bus":"pci","identifier":"8086:3e98","subsystem":"1028:094b","subproduct_name":"","vendor_id":4103,"subvendor_id":"","category":"VIDEO"}],"wireless":[],"certified_release":"18.04
        LTS","level":"Certified Pre-Install","name":"1909-11539","form_factor":"Desktop","platform_certified_configuration_count":1}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '8'
      X-QueryInspect-Total-Request-Time:
      - 93 ms
      X-QueryInspect-Total-SQL-Time:
      - 57 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configuration-devices/?format=json&limit=0&canonical_id=201906-27091&pagination=limitoffset
  response:
    body:
      string: '{"count":32,"next":null,"previous":null,"results":[{"canonical_id":"201906-27091","bus":"pci","identifier":"8086:a348","subsystem":"1028:094b","vendor_id":4103,"subvendor_id":null,"make":"Intel
        Corp.","name":"Cannon Lake PCH cAVS","subproduct_name":null,"category":"AUDIO","raw_name":"Cannon
        Lake PCH cAVS","raw_make":"Intel Corp."},{"canonical_id":"201906-27091","bus":"sound","identifier":"sound:Unknown","subsystem":null,"vendor_id":4103,"subvendor_id":null,"make":"Intel
        Corp.","name":"Unknown","subproduct_name":null,"category":"AUDIO","raw_name":"Unknown","raw_make":"Intel
        Corp."},{"canonical_id":"201906-27091","bus":"pci","identifier":"10ec:525a","subsystem":null,"vendor_id":286,"subvendor_id":null,"make":"Realtek
        Semiconductor Co., Ltd.","name":"RTS525A PCI Express Card Reader","su[...]
