interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&page=1&per_page=3&sticky=true&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[{"id":130693,"date_gmt":"2026-06-18T17:18:12","modified_gmt":"2026-06-18T17:33:57","slug":"microcontrollers-ubuntu-core-golioth","title":{"rendered":"So
        you need to add microcontrollers to your fleet: now what?"},"excerpt":{"rendered":"<p>Your
        Ubuntu Core fleet is running beautifully. OTA updates roll out in minutes.
        Every device is strictly confined, cryptographically attested, and carrying
        a 10 to 15 year long term support (LTS) commitment. The operational team sleeps
        soundly. Then the product roadmap meeting happens. The industrial floor needs
        vibration sensors on every motor. The smart building [&hellip;]<\/p>\n"},"author":927,"categories":[1453],"tags":[1665,1626],"group":[],"_start_day":"18","_start_month":"06","_start_year":"2026","_end_day":"18","_end_month":"06","_end_year":"2026","_links":{"author":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/users\/927"}],"wp:featuredmedia":[{"embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media\/130721"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories?post=130693"},{"taxonomy":"post_tag","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags?post=130693"},{"taxonomy":"topic","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/topic?post=130693"},{"taxonomy":"group","embeddable":true,"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group?post=130693"}]},"_embedded":{"author":[{"id":927,"name":"Jonathan
        Beri","url":"https:\/\/login.ubuntu.com\/+id\/4RDtkzL","description":"Jonathan
        is a mission-driven leader with over a decade of experience building developer
        platforms. His career includes valuable time at Google working with Android,
        Firebase, and Nest teams, where he contributed to networking protocols for
        connected devices. As Head of Product, he leads product management for the
        Internet of Things, continuing his mission of making it simpler to build and
        scale connected device solutions.","link":"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/","slug":"jmberi","avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/829f60af9a472bd0264c536b1e5c607c?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/829f60af9a472bd0264c536b1e5c607c?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/829f60af9a472bd0264c536b1e5c607c?s=96&d=mm&r=g"},"yoast_head":"<!--
        This site is optimized with the Yoast SEO plugin v18.9 - https:\/\/yoast.com\/wordpress\/plugins\/seo\/
        -->\n<title>Jonathan Beri, Author at Ubuntu Blog<\/title>\n<meta name=\"robots\"
        content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\"
        \/>\n<link rel=\"canonical\" href=\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/\"
        \/>\n<meta property=\"og:locale\" content=\"en_US\" \/>\n<meta property=\"og:type\"
        content=\"profile\" \/>\n<meta property=\"og:title\" content=\"Jonathan Beri,
        Author at Ubuntu Blog\" \/>\n<meta property=\"og:url\" content=\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/\"
        \/>\n<meta property=\"og:site_name\" content=\"Ubuntu Blog\" \/>\n<meta property=\"og:image\"
        content=\"https:\/\/secure.gravatar.com\/avatar\/829f60af9a472bd0264c536b1e5c607c?s=500&#038;d=mm&#038;r=g\"
        \/>\n<meta name=\"twitter:card\" content=\"summary_large_image\" \/>\n<meta
        name=\"twitter:site\" content=\"@ubuntu\" \/>\n<script type=\"application\/ld+json\"
        class=\"yoast-schema-graph\">{\"@context\":\"https:\/\/schema.org\",\"@graph\":[{\"@type\":\"WebSite\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/\",\"name\":\"Ubuntu
        Blog\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}\"},\"query-input\":\"required
        name=search_term_string\"}],\"inLanguage\":\"en-US\"},{\"@type\":\"ProfilePage\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/#webpage\",\"url\":\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/\",\"name\":\"Jonathan
        Beri, Author at Ubuntu Blog\",\"isPartOf\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#website\"},\"breadcrumb\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\/\/admin.insights.ubuntu.com\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Archives
        for Jonathan Beri\"}]},{\"@type\":\"Person\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/fb390c8bf975affb6baaa400b1823e2c\",\"name\":\"Jonathan
        Beri\",\"image\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\/\/admin.insights.ubuntu.com\/#\/schema\/person\/image\/\",\"url\":\"https:\/\/secure.gravatar.com\/avatar\/829f60af9a472bd0264c536b1e5c607c?s=96&d=mm&r=g\",\"contentUrl\":\"https:\/\/secure.gravatar.com\/avatar\/829f60af9a472bd0264c536b1e5c607c?s=96&d=mm&r=g\",\"caption\":\"Jonathan
        Beri\"},\"description\":\"Jonathan is a mission-driven leader with over a
        decade of experience building developer platforms. His career includes valuable
        time at Google working with Android, Firebase, and Nest teams, where he contributed
        to networking protocols for connected devices. As Head of Product, he leads
        product management for the Internet of Things, continuing his mission of making
        it simpler to build and scale connected device solutions.\",\"sameAs\":[\"https:\/\/login.ubuntu.com\/+id\/4RDtkzL\",\"https:\/\/www.linkedin.com\/in\/jonathanberi\/\"],\"mainEntityOfPage\":{\"@id\":\"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/#webpage\"}}]}<\/script>\n<!--
        \/ Yoast SEO plugin. -->","yoast_head_json":{"title":"Jonathan Beri, Author
        at Ubuntu Blog","robots":{"index":"index","follow":"follow","max-snippet":"max-snippet:-1","max-image-preview":"max-image-preview:large","max-video-preview":"max-video-preview:-1"},"canonical":"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/","og_locale":"en_US","og_type":"profile","og_title":"Jonathan
        Beri, Author at Ubuntu Blog","og_url":"https:\/\/admin.insights.ubuntu.com\/author\/jmberi\/","og_site_name":"Ubuntu
        Blog","og_image":[{"url":"https:\/\/secure.gravatar.com\/avatar\/829f60af9a472bd0264c536b1e5c607c?s=500&d=mm&r=g"}],"twitter_card":"summary_large_image","twitter_site":"@ubuntu","schema":{"@context":"https:\/\/schema.org","@graph":[{"@type":"WebSite","@id":"https:\/\/admin.insights.ubuntu.com\/#website","url":"https:\/\/admin.insights.ubuntu.com\/","name":"Ubuntu
        Blog","description":"","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https:\/\/admin.insights.ubuntu.com\/?s={search_term_string}"},"query-input":"required
        name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ProfilePage","@id":"https:\/\/admin.insights.ub[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_fields=id%2Cname%2Cslug%2Cparent&slug=events
  response:
    body:
      string: '[{"id":1175,"name":"Events","slug":"events","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?_fields=id%2Cname%2Cslug%2Cparent&slug=webinars
  response:
    body:
      string: '[{"id":1187,"name":"Webinars","slug":"webinars","parent":0}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&categories=1175%2C1187&page=1&per_page=3&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '0'
      x-wp-totalpages:
      - '0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&exclude=130693%2C129557%2C129469&page=1&per_page=11&status=publish&tags_exclude=3184%2C3265%2C3408%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?_fields=id%2Cname%2Cslug&slug=design
  response:
    body:
      string: '[{"id":1239,"name":"Design","slug":"design"}]'
    headers:
      allow:
      - GET
      content-type:
      - application/json; charset=UTF-8
      link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      x-wp-total:
      - '1'
      x-wp-totalpages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?_embed=true&_fields=id%2Cslug%2Cdate_gmt%2Cmodified_gmt%2Ccategories%2Ctags%2C_start_day%2C_start_month%2C_start_year%2C_end_day%2C_end_month%2C_end_year%2Cauthor%2Ctitle.rendered%2Cexcerpt.rendered%2Cgroup%2C_links.author%2C_links.wp%3Afeaturedmedia%2C_links.wp%3Aterm%2C_embedded&page=1&per_page=11&tags=1239&tags_exclude=3184%2C3265%2C3408%2C3960%2C4491
  response:
    body:
   [...]
