interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&model__icontains=lat&ordering=model&limit=25&offset=0&pagination=limitoffset
  response:
    body:
      string: '{"count":8,"next":null,"previous":null,"results":[{"canonical_id":"201001-00001","make":"Dell","model":"Latitude
        5420","category":"Laptop"},{"canonical_id":"201001-00002","make":"Dell","model":"Latitude
        5420","category":"Laptop"},{"canonical_id":"201001-00003","make":"Dell","model":"latitude
        5421","category":"Laptop"},{"canonical_id":"201001-00004","make":"Dell","model":"LATITUDE
        5420","category":"Laptop"},{"canonical_id":"201001-00005","make":"Dell","model":"Latitude
        7420","category":"Laptop"},{"canonical_id":"201001-00006","make":"Dell","model":"Latitude
        9420","category":"Laptop"},{"canonical_id":"201001-00007","make":"Dell","model":"Latitude
        5430","category":"Laptop"},{"canonical_id":"201001-00008","make":"Dell","model":"Latitude
        5440","category":"Laptop"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
