interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=25&offset=0&model__icontains=dell+xps&ordering=model&pagination=limitoffset
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '1'
      X-QueryInspect-Total-Request-Time:
      - 68 ms
      X-QueryInspect-Total-SQL-Time:
      - 58 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=25&offset=0&make__icontains=dell+xps&ordering=model&pagination=limitoffset
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '1'
      X-QueryInspect-Total-Request-Time:
      - 30 ms
      X-QueryInspect-Total-SQL-Time:
      - 22 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=25&offset=0&make__icontains=dell&model__icontains=xps&ordering=model&pagination=limitoffset
  response:
    body:
      string: '{"count":46,"next":"https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=25&make__icontains=dell&model__icontains=xps&offset=25&ordering=model&pagination=limitoffset","previous":null,"results":[{"canonical_id":"201906-27119","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-09-27T21:22:33.103146+01:00","resource_uri":"/api/v2/certified-configurations/201906-27119"},{"canonical_id":"201906-27131","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-09-27T21:20:13.682473+01:00","resource_uri":"/api/v2/certified-configurations/201906-27131"},{"canonical_id":"201906-27151","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major[...]
