interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-releases/?format=json&limit=0&pagination=limitoffset
  response:
    body:
      string: '{"count":10,"next":null,"previous":null,"results":[{"release":"18.04","desktops":0,"laptops":0,"servers":2,"soc":0,"smart_core":0,"total":2},{"release":"18.04
        LTS","desktops":116,"laptops":254,"servers":401,"soc":11,"smart_core":6,"total":792},{"release":"20.04
        LTS","desktops":212,"laptops":436,"servers":462,"soc":5,"smart_core":43,"total":1166},{"release":"22.04
        LTS","desktops":247,"laptops":407,"servers":656,"soc":0,"smart_core":65,"total":1375},{"release":"24.04
        LTS","desktops":204,"laptops":360,"servers":535,"soc":2,"smart_core":27,"total":1132},{"release":"26.04
        LTS","desktops":0,"laptops":7,"servers":293,"soc":0,"smart_core":1,"total":301},{"release":"Core
        18","desktops":2,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":7},{"release":"Core
        20","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":24,"total":24},{"release":"Core
        22","desktops":5,"laptops":0,"servers":0,"soc":0,"smart_core":22,"total":27},{"release":"Core
        24","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":13,"total":13}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '2'
      X-QueryInspect-Total-Request-Time:
      - 118 ms
      X-QueryInspect-Total-SQL-Time:
      - 109 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-vendors/?format=json&limit=0&pagination=limitoffset
  response:
    body:
      string: '{"count":66,"next":null,"previous":null,"results":[{"make":"AAEON Technology
        Inc.","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":5},{"make":"ADLink
        Technology, Inc.","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":5,"total":5},{"make":"ADVANTECH","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core":24,"total":24},{"make":"AMD
        AECG","desktops":3,"laptops":0,"servers":0,"soc":0,"smart_core":4,"total":7},{"make":"ASRock
        Industrial","desktops":0,"laptops":0,"servers":0,"soc":0,"smart_core"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?name=Dell
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application.json
      x-vcs-revision:
      - 1697765408-2f1353b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=20&offset=0&vendor=Dell&query=xps&category__in=Laptop%2CDesktop&pagination=limitoffset
  response:
    body:
      string: '{"count":46,"next":"https://certification.canonical.com/api/v2/certified-configurations/?category__in=Laptop%2CDesktop&format=json&limit=20&offset=20&pagination=limitoffset&query=xps&vendor=Dell","previous":null,"results":[{"canonical_id":"201906-27119","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-09-27T21:22:33.103146+01:00","resource_uri":"/api/v2/certified-configurations/201906-27119"},{"canonical_id":"201906-27131","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major_release":"18.04
        LTS","completed":"2019-09-27T21:20:13.682473+01:00","resource_uri":"/api/v2/certified-configurations/201906-27131"},{"canonical_id":"201906-27151","make":"Dell","model":"XPS
        13 7390","level":"Certified Pre-Install","release":"18.04 LTS","category":"Laptop","major[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configuration-details/?format=json&limit=0&canonical_id__in=201906-27119%2C201906-27131%2C201906-27151%2C201910-27449%2C201910-27450%2C201911-27454%2C201911-27457%2C201911-27469%2C202007-28040%2C202007-28045%2C202007-28046%2C202007-28063%2C202405-34051%2C202407-34207%2C202407-34216%2C202407-34214%2C202407-34215%2C202507-36962%2C202510-38027%2C201708-25695&pagination=limitoffset
  response:
    body:
      string: "{\"count\":25,\"next\":null,\"previous\":null,\"results\":[{\"id\":17379,\"canonical_id\":\"202510-38027\",\"architecture\":\"amd64\",\"bios\":\"Dell
        Inc.: 1.15.1 (UEFI)\",\"hardware_website\":\"\",\"category\":\"Laptop\",\"kernel_version\":\"6.14.0-1013-oem\",\"notes\":[],\"make\":\"Dell\",\"model\":\"XPS
        13 9350 (Intel Core Ultra 9 288V, Intel Lunar Lake Graphics, Intel BE201)\",\"platform_name\":\"XPS
        13 9350 (0CC9)\",\"platform_id\":\"14923\",\"processor\":[{\"name\":\"Intel(R)
        Core(TM) Ultra 9 288V\",\"make\":\"Intel Corp.\",\"bus\":\"dmi\",\"identifier\":\"dmi:Intel(R)Core(TM)Ultra9288V\",\"subsystem\":\"\",\"subproduct_name\":\"\",\"vendor_id\":4103,\"subvendor_id\":\"\",\"category\":\"PROCESSOR\"}],\"network\":[{\"name\":\"USB
        10/100/1000 LAN\",\"make\":\"Realtek Semiconductor Co., Ltd.\",\"bus\":\"usb\",\"identifier\":\"0bda:8153\",\"subsystem\":\"\",\"subproduct_name\":\"\",\"vendor_id\":286,\"subvendor_id\":\"\",\"category\":\"NETWORK\"}],\"video\":[{\"name\":\"8086:64a0\",\"make\":\"Intel
        Corp.\",\"bus\":\"pci\",\"identifier\":\"8086:64a0\",\"subsystem\":\"1028:0dab\",\"subproduct_name\":\"\",\"vendor_id\":4103,\"subvendor_id\":4755,\"category\":\"VIDEO\"}],\"wireless\":[{\"name\":\"BE201
        320MHz\",\"make\":\"Intel Corp.\",\"bus\":\"pci\",\"identifier\":\"8086:a840\",\"subsystem\":\"8086:40e0\",\"subproduct_name\":\"\",\"vendor_id\":4103,\"subvendor_id\":4103,\"category\":\"WIRELESS\"}],\"certified_release\":\"24.04
        LTS\",\"level\":\"Certified Pre-Install\",\"name\":\"2604-17379\",\"form_factor\":\"Notebook\",\"platform_certified_configuration_count\":4,\"download_instructions_url\":\"\",\"release_notes_url\":\"\"},{\"id\":17093,\"canonical_id\":\"202507-36962\",\"architecture\":\"amd64\",\"bios\":\"Dell
        Inc.: 1.14.0 (UEFI)\",\"hardware_website\":\"\",\"category\":\"Laptop\",\"kernel_version\":\"6.14.0-1008-oem\",\"notes\":[],\"make\":\"Dell\",\"model\":\"XPS
        13 9350 (Core Ultra 9 288V)\",\"platform_name\":\"XPS 13 9350\",\"platform_id\":\"7518\",\"processor\":[{\"name\":\"Intel(R)
        Core(TM) Ultra 9 288V\",\"make\":\"Intel Corp.\",\"bus\":\"dmi\",\"identifier\":\"dmi:Intel(R)Co[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configuration-devices/?format=json&limit=0&canonical_id__in=201906-27119%2C201906-27131%2C201906-27151%2C201910-27449%2C201910-27450%2C201911-27454%2C201911-27457%2C201911-27469%2C202007-28040%2C202007-28045%2C202007-28046%2C202007-28063%2C202405-34051%2C202407-34207%2C202407-34216%2C202407-34214%2C202407-34215%2C202507-36962%2C202510-38027%2C201708-25695&category=DISK&pagination=limitoffset
  response:
    body:
      string: '{"count":22,"next":null,"previous":null,"results":[{"canonical_id":"202510-38027","bus":"nvme","identifier":"nvme:nvme0n1","subsystem":null,"vendor_id":4859,"subvendor_id":null,"make":"SAMSUNG
        Electronics","name":"nvme0n1","subproduct_name":null,"category":"DISK","raw_name":"nvme0n1","raw_make":"SAMSUNG
        Electronics"},{"canonical_id":"202507-36962","bus":"nvme","identifier":"nvme:nvme0n1","subsystem":null,"vendor_id":5855,"subvendor_id":null,"make":"KIOXIA
        Corporation","name":"nvme0n1","subproduct_name":null,"category":"DISK","raw_name":"nvme0n1","raw_make":"KIOXIA
        Corporation"},{"canonical_id":"202407-34216","bus":"nvme","identifier":"nvme:nvme0n1","subsystem":null,"vendor_id":5855,"subvendor_id":null,"make":"KIOXIA
        Corporation","name":"nvme0n1","subprod[...]
