interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://discourse.ubuntu.com/t/22810.json
  response:
    body:
      string: '{"post_stream":{"posts":[{"id":61313,"name":"Carlos Wu Fei","username":"carkod","avatar_template":"/letter_avatar/carkod/{size}/5_6d6f4cde2641c35611d5cac2fb97c77e.png","created_at":"2021-06-23T10:29:48.034Z","cooked":"\u003ch1\u003eSecurity
        Compliance \u0026amp; Certifications\u003c/h1\u003e\n\u003cp\u003eUbuntu goes
        through several rigorous security certifications and programs and these pages
        are dedicated to them. All certification artifacts are available with an \u003ca
        href=\"https://ubuntu.com/pro\"\u003eUbuntu Advantage subscription\u003c/a\u003e.\u003c/p\u003e\n\u003ch2\u003e\u003ca
        href=\"https://discourse.ubuntu.com/t/fips-for-ubuntu/22814\"\u003eFIPS 140\u003[...]
[...]
