interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/t/11322.json
  response:
    body:
      string: "{\"post_stream\":{\"posts\":[{\"id\":31439,\"name\":\"Joshua Powers\"\
        ,\"username\":\"powersj\",\"avatar_template\":\"/user_avatar/discourse.ubuntu.com/powersj/{size}/10180_2.png\"\
        ,\"created_at\":\"2019-06-19T20:48:28.264Z\",\"cooked\":\"\\u003ch1\\u003eUbuntu\
        \ Server Guide\\u003c/h1\\u003e\\n\\u003ch2\\u003eChanges, errors and bugs\\\
        u003c/h2\\u003e\\n\\u003cp\\u003e\\u003cem\\u003eThis is the current edition\
        \ for Ubuntu 20.04 LTS, Focal Fossa. Ubuntu serverguides for previous LTS\
        \ versions: \\u003ca href=\\\"https://help.ubuntu.com/18.04/serverguide/index.html\\\
        \" rel=\\\"nofollow noopener\\\"\\u003e18.04\\u003c/a\\u003e (\\u003ca href=\\\
        \"https://help.ubuntu.com/18.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://discourse.ubuntu.com/c/26.json?page=0
  response:
    body:
      string: '{"errors":["The requested URL or resource could not be found."],"error_type":"not_found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Discourse-Route:
      - list/category_default
    status:
      code: 404
      message: Not Found
version: 1
