interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-platforms/14169/?format=json&pagination=limitoffset
  response:
    body:
      string: '{"id":14169,"name":"G15 5530","vendor":"Dell","certificates":{"202212-31027":{"canonical_id":"202212-31027","releases":["22.04
        LTS"],"date":"26 June 2023","video":[{"name":"GN21-X4","make":"NVIDIA","bus":"pci","identifier":"10de:28e0","subsystem":"1028:0bf7","subproduct_name":"","vendor_id":4353,"subvendor_id":4755,"category":"VIDEO"},{"name":"Alder
        Lake-HX GT1 [UHD Graphics 770]","make":"Intel Corp.","bus":"pci","identifier":"8086:4688","subsystem":"1028:0bf7","subproduct_name":"","vendor_id":4103,"subvendor_id":4755,"category":"VIDEO"}],"network":[{"name":"RTL8111/8168/8411
        PCI Express Gigabit Ethernet Controller","make":"Realtek Semiconductor Co.,
        Ltd.","bus":"pci","identifier":"10ec:8168","subsystem":"10ec:0123","subproduct_name":"","vendor_id":286,"subvendor_id":286,"category":"NETWORK"}],"processor":[{"name":"13th
        Gen Intel(R) Core(TM) i7-13700HX","make":"Intel Corp.","bus":"dmi","identifier":"dmi:13thGenIntel(R)Core(TM)i7-13700HX","subsystem":"","subproduct_name":"","vendor_id":4103,"subvendor_id":"","category":"PROCESSOR"}],"wireless":[{"name":"Raptor
        Lake-S PCH CNVi WiFi","make":"Intel Corp.","bus":"pci","identifier":"8086:7a70","subsystem":"8086:4090","subproduct_name":"","vendor_id":4103,"subvendor_id":4103,"category":"WIRELESS"}],"name":"G15
        5530 (Core i7-13700HX, RTX 4060)"},"202212-31028":{"canonical_id":"202212-31028","releases":["22.04
        LTS"],"date":"26 June 2023","video":[{"name":"GN21-X4","make":"NVIDIA","bus":"pci","identifier":"10de:28e0","subsystem":"1028:0bf7","subproduct_name":"","vendor_[...]
