interactions:
- request:
    body: params=%7B%22category_id%22%3A+%2251%22%2C+%22limit%22%3A+%2221%22%2C+%22offset%22%3A+%220%22%7D
    headers:
      Content-Type:
      - multipart/form-data;
    method: POST
    uri: https://discourse.ubuntu.com/admin/plugins/explorer/queries/16/run
  response:
    body:
      string: "{\"success\":true,\"errors\":[],\"duration\":441.6,\"result_count\":21,\"params\":{\"category_id\":\"51\",\"limit\":\"21\",\"offset\":\"0\"},\"columns\":[\"cooked\",\"raw\",\"deleted_at\",\"title\",\"created_at\",\"updated_at\",\"id\",\"slug\",\"full_count\",\"active_count\",\"current_total\"],\"default_limit\":1000,\"relations\":{},\"colrender\":{},\"rows\":[[\"\\u003cdiv
        class=\\\"md-table\\\"\\u003e\\n\\u003ctable\\u003e\\n\\u003cthead\\u003e\\n\\u003ctr\\u003e\\n\\u003cth\\u003eKey\\u003c/th\\u003e\\n\\u003cth\\u003eValue\\u003c/th\\u003e\\n\\u003c/tr\\u003e\\n\\u003c/thead\\u003e\\n\\u003ctbody\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003etopic_name\\u003c/td\\u003e\\n\\u003ctd\\u003eSovereign
        Cloud with Canonical\\u003c/td\\u003e\\n\\u003c/tr\\u003e\\n\\u003ctr\\u003e\\n\\u003ctd\\u003epath\\u003c/td\\u003e\\n\\u003ctd\\u003e/en[...]
[...]
