interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=25&offset=0&model__icontains=alienware&ordering=model&pagination=limitoffset
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      X-QueryInspect-Duplicate-SQL-Queries:
      - '0'
      X-QueryInspect-Num-SQL-Queries:
      - '1'
      X-QueryInspect-Total-Request-Time:
      - 78 ms
      X-QueryInspect-Total-SQL-Time:
      - 61 ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v2/certified-configurations/?format=json&limit=25&offset=0&make__icontains=alienware&ordering=model&pagination=limitoffset
  response:
    body:
      string: '{"count":7,"next":null,"previous":null,"results":[{"canonical_id":"202412-36068","make":"Alienware","model":"16
        Aurora (Core 5 210H, GeForce RTX 3050 6GB)","level":"Certified Pre-Install","release":"24.04
        LTS","category":"Laptop","major_release":"24.04 LTS","completed":"2025-08-13T09:20:48.194833+01:00","resource_uri":"/api/v2/certified-configurations/202412-36068"},{"canonical_id":"202412-36070","make":"Alienware","model":"16
        Aurora (Core 7 240H, GeForce RTX 4050 Max-Q)","level":"Certified Pre-Install","release":"24.04
        LTS","category":"Laptop","major_release":"24.04 LTS","completed":"2025-08-13T09:23:17.842631+01:00","resource_uri":"/api/v2/certified-configurations/202412-36070"},{"canonical_id":"202504-36590","make":"Alienware","model":"16
        Aurora (Core 7 240H, GeForce RTX 5050 Max-Q)[...]
