interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partners.ubuntu.com/partners.json?name=Hewlett+Packard
  response:
    body:
      string: '[{"name": "Hewlett Packard", "slug": "hewlett-packard", "published":
        true, "logo": "https://assets.ubuntu.com/v1/96b06031-HP.jpg", "partner_website":
        "http://www8.hp.com", "fallback_website": "http://www8.hp.com", "short_description":
        "Our vision is to create technology that makes life better for everyone, everywhere
        \u2014 every person, every organization, and every community around the globe.
        This motivates us \u2014 inspires us \u2014 to do what we do. We won\u2019t
        stop pushing ahead, because you won\u2019t stop pushing ahead. This is a new
        HP. Keep reinventing.", "long_description": "", "featured": true, "always_featured":
        true, "notes": "", "tags_label": "", "technology": [{"id": 3, "name": "Personal
        computing/devices"}], "programme": [{"id": 10, "name": "Desktop"}], "service_offered":
        [{"id": 11, "name": "Hardware manufacturer"}], "partner_type": [], "quote_set":
        [], "link_set": [], "insightstag_set": [], "tag_set": [], "text_set": []}]'
    headers:
      content-type:
      - application.json
      x-vcs-revision:
      - 1594891311-b2b8e76
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedreleases/?format=json&limit=0
  response:
    body:
      string: '{"meta": {"limit": 1000, "next": null, "offset": 0, "previous": null,
        "total_count": 7}, "objects": [{"desktops": 123, "laptops": 243, "release":
        "20.04 LTS", "resource_uri": "/api/v1/certifiedreleases/20.04%20LTS/", "servers":
        312, "smart_core": 27, "soc": 4, "total": 712}, {"desktops": 0, "laptops":
        0, "release": "Core 20", "resource_uri": "/api/v1/certifiedreleases/Core%2020/",
        "servers": 0, "smart_core": 11, "soc": 0, "total": 11}, {"desktops": 0, "laptops":
        0, "release": "Core 18", "resource_uri": "/api/v1/certifiedreleases/Core%2018/",
        "servers": 0, "smart_core": 14, "soc": 0, "total": 14}, {"desktops": 116,
        "laptops": 258, "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedreleases/18.04%20LTS/",
        "servers": 386, "smart_core": 8, "soc": 9, "total": 779}, {"desktops": 2,
        "laptops": 0, "release": "16.04 LTS", "resource_uri": "/api/v1/certifiedreleases/16.04%20LTS/",
        "servers": 429, "smart_core": 2, "soc": 6, "total": 439}, {"desktops": 0,
        "laptops": 0, "release": "Core 16", "resource_uri": "/api/v1/certifiedreleases/Core%2016/",
        "servers": 0, "smart_core": 10, "soc": 0, "total": 10}, {"desktops": 0, "laptops":
        0, "release": "14.04 LTS", "resource_uri": "/api/v1/certifiedreleases/14.04%20LTS/",
        "servers": 326, "smart_core": 0, "soc": 3, "total": 329}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://certification.canonical.com/api/v1/certifiedmodels/?format=json&limit=20&offset=0&vendor=HP
  response:
    body:
      string: '{"meta": {"limit": 20, "next": "/api/v1/certifiedmodels/?limit=20&format=json&vendor=HP&offset=20",
        "offset": 0, "previous": null, "total_count": 121}, "objects": [{"canonical_id":
        "201810-26595", "category": "Laptop", "completed": "2019-01-09T22:13:41.124824",
        "level": "Enabled", "major_release": "18.04 LTS", "make": "HP", "model": "240
        G7 Notebook PC", "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedmodels/201810-26595/"},
        {"canonical_id": "201810-26602", "category": "Laptop", "completed": "2019-01-09T22:15:10.895493",
        "level": "Enabled", "major_release": "18.04 LTS", "make": "HP", "model": "245
        G7 Notebook PC", "release": "18.04 LTS", "resource_uri": "/api/v1/certifiedmodels/201810-26602/"},
        {"canonical_id": "202001-27654", "category": "Desktop", "completed": "2020-03-11[...]
