interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265%2C3408%2C3960&sticky=true&_embed=true
  response:
    body:
      string: '[{"id":97114,"date":"2020-07-15T12:21:54","date_gmt":"2020-07-15T12:21:54","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97114"},"modified":"2020-07-15T12:21:55","modified_gmt":"2020-07-15T12:21:55","slug":"%ef%bb%bfcanonical-launches-enhanced-gsi-partner-programme-bringing-scalability-and-automation-to-modernise-enterprise-it-deployments","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/07\/15\/%ef%bb%bfcanonical-launches-enhanced-gsi-partner-programme-bringing-scalability-and-automation-to-modernise-enterprise-it-deployments\/","title":{"rendered":"\ufeffCanonical
        launches enhanced GSI partner programme, bringing scalability and automation
        to modernise enterprise IT deployments"},"content":{"rendered":"\n<p><strong>15
        July 2020<\/strong>: Canonical, the publisher of <a href=\"https:\/\/ubuntu.com\/\">Ubuntu<\/a>,
        today announces the launch of its enhanced Global System Integrator (GSI)
        Programme. Alongside new partnership benefits, it includes resell and integration
        opportunities for the entirety of Canonical\u2019s secure, open source portfolio
        for the data centre, multi-cloud, edge and IoT. GSIs can now drive increased
        revenue by building customer solutions[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=events&_embed=true
  response:
    body:
      string: '[{"id":1175,"count":132,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/events\/","name":"Events","slug":"events","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1175"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1175"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1175"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/categories?slug=webinars&_embed=true
  response:
    body:
      string: '[{"id":1187,"count":110,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/category\/webinars\/","name":"Webinars","slug":"webinars","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories\/1187"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/categories"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/category"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?categories=1187"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?categories=1187"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=3&page=1&tags_exclude=3184%2C3265%2C3408%2C3960&categories=1175%2C1187&_embed=true
  response:
    body:
      string: '[{"id":97208,"date":"2020-07-28T09:16:51","date_gmt":"2020-07-28T09:16:51","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97208"},"modified":"2020-07-28T09:16:53","modified_gmt":"2020-07-28T09:16:53","slug":"canonical-at-kubecon-europe-virtual-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/07\/28\/canonical-at-kubecon-europe-virtual-2020\/","title":{"rendered":"Canonical
        at KubeCon Europe Virtual 2020"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img
        src=\"https:\/\/admin.insights.ubuntu.com\/wp-content\/uploads\/ccd3\/Canonical-Kubecon-Europe-2020.png\"
        alt=\"\" class=\"wp-image-97210\"\/><\/figure>\n\n\n\n<p style=\"text-align:center\"><a
        href=\"https:\/\/ubuntu.com\/contact-us\/form?product=kubecon-europe-2020\"
        target=\"_blank\" rel=\"noreferrer noopener\" aria-label=\"Book a meeting
        (opens in a new tab)\" class=\"p-button--small p-button--positive\">Book a
        meeting<\/a><\/p>\n\n\n\n<p><strong>Date<\/strong>: August 17-20<br><strong>Location<\/strong>:
        Everywhere &#8211; this year\u2019s KubeCon is virtual! <br><strong>Booth<\/strong>:
        Canonical<\/p>\n\n\n\n<p>This year has been an adventurous one to say the
        least\u2026 but that should get in the way of the community getting together,
        exchanging ideas, and keeping up with what\u2019s new in the sphere of Kubernetes.
        In fact, it\u2019s all the more reason to do so!<br><br>That\u2019s why <a
        href=\"https:\/\/events.linuxfoundation.org\/events\/kubecon-cloudnativecon-europe-2019\/\">KubeCon
        and CloudNativeCon<\/a> is going virtual this year, with expected attendance
        to be higher than ever before.&nbsp;<\/p>\n\n\n\n<p>Canonical will be there
        too, of course, as we have been every other year. This time round, we\u2019re
        excited to contribute to the conversation with what\u2019s exceptional and
        what\u2019s new about our <a href=\"https:\/\/www.ubuntu.com\/kubernetes\">multi-cloud
        Kubernetes<\/a> portfolio.\u00a0<\/p>\n\n\n\n<p><\/p>\n\n\n\n<h2>What will
        Canonical and Ubuntu bring to KubeCon EU 2020?<\/h2>\n\n\n\n<p>Here\u2019s
        a taster of what we&#8217;ll be showcasing this year:<br><br><\/p>\n\n\n\n<ul><li>Ubuntu
        is the operating system behind all Kubernetes <strong>public cloud <\/strong>distributions
        &#8211; GKE, EKS or AKS.<\/li><li><strong><a href=\"https:\/\/ubuntu.com\/kubernetes\/features\">Charmed
        Kubernetes<\/a>\u00a0<\/strong> is an extensible, full-conformant, enterprise
        Kubernetes platform that can easily be introduced\u00a0 in the public cloud
        so that you can run the very same Kubernetes on your private cloud. Charmed
        Kubernetes runs on [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=11&page=1&tags_exclude=3184%2C3265%2C3408%2C3960&exclude=97114%2C96997%2C96510&_embed=true
  response:
    body:
      string: '[{"id":97853,"date":"2020-09-28T10:15:02","date_gmt":"2020-09-28T10:15:02","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97853"},"modified":"2020-09-28T10:15:04","modified_gmt":"2020-09-28T10:15:04","slug":"osm-hackfest-mr9","statu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/tags?slug=design&_embed=true
  response:
    body:
      string: '[{"id":1239,"count":550,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/tag\/design\/","name":"Design","slug":"design","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags\/1239"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/tags"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/post_tag"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?tags=1239"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?tags=1239"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?tags=1239&per_page=12&page=1&tags_exclude=3184%2C3265%2C3408%2C3960&_embed=true
  response:
    body:
      string: '[{"id":97777,"date":"2020-09-16T20:58:10","date_gmt":"2020-09-16T20:58:10","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97777"},"modified":"2020-09-16T20:58:12","modified_gmt":"2020-09-16T20:58:12","slug":"design-and-web-team-summary-16th-september-2020","status":"publish","type":"post","link":"https:\/\/admin.insights.ubuntu.com\/2020\/09\/16\/design-and-web-team-summary-16th-september-2020\/","title":{"rendered":"Design
        and Web team summary \u2013 16th September 2020"},"content":{"rendered":"\n<p>The
        web team here at Canonical run two-week iterations. Here are some of the highlights
        of our completed work from this iteration.<\/p>\n\n\n\n<h2>Web squad<\/h2>\n\n\n\n<p>Our
        Web Squad develops and maintains most of <a href=\"https:\/\/github.com\/search?q=topic%3Awebsite+org%3Acanonical-web-and-design&amp;type=Repositories\">Canonical\u2019s
        promotional sites<\/a> like <a href=\"https:\/\/ubuntu.com\/\">ubuntu.com<\/a>,
        <a href=\"https:\/\/canonical.com\/\">canonical.com<\/a> and more.<\/p>\n\n\n\n<h4>CloudNative
        Days Tokyo 2020<\/h4>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"https:\/\/lh6.googleusercontent.com\/vnlJn8qtif4HB5kaWzVKRnx8gC-e4yWjgYc5OoWIm-o9YRVHcO3dx6YEocggu3LjyqRLYi5D4QaunJp_lMalRaC92UG2Re8CY3uU-cAxmVrw5EdUyJPd8qmwPp9KgXBAQ4n3zA1n\"
        alt=\"\"\/><\/figure>\n\n\n\n<p>This year will see a lot of physical events
        move to a virtual event format.\u00a0 However, most virtual booths bring low
        engagement with the audience, limit the abilities to do demos and showcase
        interactive content and have very low conversion rates.<br[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=canonical-announcements&_embed=true
  response:
    body:
      string: '[{"id":2100,"count":224,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/canonical-announcements\/","name":"Canonical
        announcements","slug":"canonical-announcements","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/2100"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=2100"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=2100"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=2100"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/posts?per_page=12&page=1&tags_exclude=3184%2C3265%2C3408%2C3960&categories=&group=2100&_embed=true
  response:
    body:
      string: '[{"id":97544,"date":"2020-08-25T09:00:51","date_gmt":"2020-08-25T09:00:51","guid":{"rendered":"https:\/\/admin.insights.ubuntu.com\/?p=97544"},"modified":"2020-08-28T13:41:55","modified_gmt":"2020-08-28T13:41:55","slug":"kubernetes-1-19-available-from-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://admin.insights.ubuntu.com/wp-json/wp/v2/group?slug=internet-of-things&_embed=true
  response:
    body:
      string: '[{"id":1666,"count":2285,"description":"","link":"https:\/\/admin.insights.ubuntu.com\/group\/internet-of-things\/","name":"Internet
        of Things","slug":"internet-of-things","taxonomy":"group","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group\/1666"}],"collection":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/group"}],"about":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/taxonomies\/group"}],"wp:post_type":[{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/posts?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/media?group=1666"},{"href":"https:\/\/admin.insights.ubuntu.com\/wp-json\/wp\/v2\/event?group=1666"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://admin.insights.ubuntu.com/wp-json/>; rel="https://api.w.org/"
      X-WP-Total:
      - '1'
      X-WP-TotalPages:
      - '1'
    status:
      code: 200
      message: OK
[...]
