{% extends "download/_base_download.html" %}

{% block title %}Contact us{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1WnWVmVuqd1G_BCA060K1LozS2xYFCDli90sGc1SU7ug/edit#
{% endblock meta_copydoc %}

{% block content %}

  <section class="p-strip--light u-no-padding--bottom">
    <div class="row">
      <div class="col-8">
        <h1>Interested in optimised Ubuntu on MediaTek's Genio SoC?</h1>
        <p>
          By partnering to enable Ubuntu on the Genio, MediaTek and Canonical will allow developers, innovators and the embedded community to take advantage of this power-efficient, high-performance Genio SoC. The collaboration ensures developers and enterprises can create reliable and secure devices, benefiting from up to 10 years of enterprise-grade Ubuntu support, security updates, and anywhere, anytime connectivity. Devices built on the MediaTek Genio and Ubuntu enjoy reliable and efficient over-the-air updates, enabling the next generation of secure, open and extensible IoT devices.
        </p>
        <p>
          <strong>Tell us about your project so we can bring the right Canonical team members to the conversation to help you.</strong>
        </p>
      </div>
      <div class="col-4 u-vertically-center u-hide--small u-hide--medium">
        {{ image (
        url="https://assets.ubuntu.com/v1/0ebb345c-MediaTek_logo.svg",
        alt="",
        width="1024",
        height="268",
        hi_def=True,
        loading="auto"
        ) | safe
        }}
      </div>
    </div>
  </section>

  {{ load_form("/download/mediatek-genio/contact-us") | safe }}

{% endblock %}
