$assets-path-url: 'https://assets.ubuntu.com/v1/';
$navigation-threshold: 1024px;
$viewport-threshold: 1281px;
$footer-border: #d7d7d7;
$color-brand: #e95420;
$color-dark-aubergine: #2c001e;
$text-color: $color-dark;
$alto-grey: #d2d2d2; //TODO: good name
$box-solid-grey: #efefef ; //TODO good name
$color-ubuntu-orange:	#dd4814;
$color-link: $color-ubuntu-orange;
