/*
 * This stylesheet is used to override the core styles until the monthly merge.
 *
 * Please comment your changes to help documentation.

      CONTENTS:
    -----------------------------------------------------------------
*/

// Disable default iOS styling on page elements
input[type=button],
input[type=submit],
button {
  -webkit-appearance: none;
}

// Temporarally adding this until the small-viewport change
// is merged into the theme. - KW 20160409
body {
  background-color: $light-grey;
  background-image: url('#{$asset-path}img/backgrounds/image-background-paper.png?w=$breakpoint-medium');
  background-position: center top;
  background-repeat: repeat-y;

  @media only screen and (min-width : $breakpoint-medium) {
    background-image: url('#{$asset-path}img/backgrounds/image-background-paper.png');
  }
}

// additional helper class for shouty text
.caps {
    text-transform: uppercase;
}

// for hidding with javascript
.js-hidden {
  display: none;
}

// less margin on ua pricing tables
.ua-table {
  margin-bottom: 1.5em;
}

@media only screen and (max-width : 768px) {
    // helper class for small
    .small-align-center {
        text-align: center;
    }
}

/* Chinese Social links */

.list--social__item {
    height: 37px;
    margin-right: 20px;
    padding: 0;
    text-indent: -999em;
    width: 37px;
    float: left;
    display: inline-block;

  &:after {
    content: " " !important;
    }

    a {
        display: block;
        height: 37px;
        width: 37px;
        margin: 0;
        overflow: hidden;
    }

    &.active a {
    background-image:
            url('#{$asset-server}aab97879-icon-wechat.svg'),
            url('#{$asset-server}2be70a94-qr-code-wechat.png');
        background-repeat: no-repeat;
        background-position: left top, right top;
        background-size: 37px 37px, auto;
        width: 140px;
        height: 116px;
    }
} // &__item

.list--social__item--wechat a {
    background: url('#{$asset-server}aab97879-icon-wechat.svg') no-repeat;
}

.list--social__item--weibo a {
    background: url('#{$asset-server}d2d0d5b0-icon-weibo.svg') no-repeat;
}

main .list--social {
    display: inline;
}

.china-mobile {
    float: left;
    margin-right: 40px;
}

.homepage footer .list--social {
    display: none;
}

form input[type="url"] {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #999;
    display: block;
    font-family: Ubuntu,Arial,"libra sans",sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0.6956522em 0.869565em;
}

header.banner .nav-primary li:hover ul:after {
    left: 0;
    background-position: 20px 0;
}

// fade in list animation - located on desktop overview 'Benefits for all industry sectors' GB 16/10/2015
// only hide it if js is on
.js .list-fade {
  opacity: 0;
}

.list-fade__title {
  margin-bottom: 40px;
}

.list-fade__item {
  -moz-animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  line-height: 1.3;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  position: relative;

  a {
    color: $warm-grey;

    img {
      -moz-animation-duration: 1.2s;
      -webkit-animation-duration: 1.2s;
      animation-duration: 1.2s;
      margin-bottom: 10px;

      &:hover {
        opacity: .8;
      }
    }
  }
}

// the .run class is added with js
.run {
  .list-fade {
    opacity: 0;
    animation: fadeIn .9s linear forwards;
    animation-delay: 1s;
    -moz-animation: fadeIn .9s linear forwards;
    -moz-animation-delay: 1s;
    -webkit-animation: fadeIn .9s linear forwards;
    -webkit-animation-delay: 1s;

    .list-fade__item {
      animation: fadeIn .2s linear forwards, scaleIn .3s linear forwards;
      -webkit-animation: fadeIn .2s linear forwards, scaleIn .3s linear forwards;
      -moz-animation: fadeIn .2s linear forwards, scaleIn .3s linear forwards;
      opacity: 0;
    }

    .list-fade__item:first-child {
      -moz-animation-delay: 1s;
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }

    .list-fade__item:nth-child(2) {
      -moz-animation-delay: 1.1s;
      -webkit-animation-delay: 1.1s;
      animation-delay: 1.1s;
    }

    .list-fade__item:nth-child(3) {
      -moz-animation-delay: 1.2s;
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s;
    }

    .list-fade__item:nth-child(4) {
      -moz-animation-delay: 1.3s;
      -webkit-animation-delay: 1.3s;
      animation-delay: 1.3s;
    }
  }
}

// partners logos with copy on /internet-of-things/digital-signage not used anywhere else but could become a pattern
.list-partners {
  &__image {
    max-height: 65px;
  }

  &__image-container {
    border-bottom: 1px dotted $warm-grey;
    padding-bottom: 20px;
  }

  &__link {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }
}

// Nested ordered list items (e.g., 1.. 1.1, 1.2). Only needed in legal at the moment
// KW 2016-06-22

.nested-counter {
  list-style-type: none;
  counter-reset: item;
  margin-left: 0;

  .nested-counter {
    margin-top: 10px;
  }

  &__item {
    counter-increment: item;
    padding-left: 4px;

    &:before {
      content: counters(item, ".") ". ";
    }

    .nested-counter__item {
      padding-left: 24px;

      &:before {
        content: counters(item, ".") " ";
      }
    }
  }
}

// aubergine hero
.aubergine-hero {
  background-color: $dark-aubergine;
  color: $light-grey;
  max-height: 100%;
  padding: 1rem;

  @media (min-width:$breakpoint-medium) {
    padding: 4rem 0;
  }

  .box-highlight {
    background-color: $light-grey;
    color: $cool-grey;
    box-shadow: none;
    border: 0;

    @media (max-width:$breakpoint-medium) {
      margin-top: 2rem;
    }

    .last-col {
      padding-top: 1rem;
    }
  }
}
