/*
Syntax error: Invalid CSS after "  }": expected selector or at-rule, was "}"
        on line 2096 of /home/oatman/.virtualenvs/ubuntu-f3/ubuntu-site/static/css/section/homepage.scss
        from line 102 of static/css/styles.scss

2091:         margin-top: 0;
2092:         font-size: 2.5em;
2093:       }
2094:     }
2095:   }
2096: }
2097: 
2098: body.homepage-jumpstart-takeover {
2099: 	h1 {
2100: 		padding-top: 30px;
2101: 	}

Backtrace:
/home/oatman/.virtualenvs/ubuntu-f3/ubuntu-site/static/css/section/homepage.scss:2096
static/css/styles.scss:102
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/scss/parser.rb:1314:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/scss/parser.rb:1248:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/scss/parser.rb:42:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/engine.rb:409:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/engine.rb:305:in `to_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:151:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/engine.rb:274:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/plugin.rb:82:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/exec.rb:489:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/exec.rb:346:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/exec.rb:43:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.3.9/lib/sass/exec.rb:22:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.3.9/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  }\": expected selector or at-rule, was \"}\"\A         on line 2096 of /home/oatman/.virtualenvs/ubuntu-f3/ubuntu-site/static/css/section/homepage.scss\A         from line 102 of static/css/styles.scss\A \A 2091:         margin-top: 0;\A 2092:         font-size: 2.5em;\A 2093:       }\A 2094:     }\A 2095:   }\A 2096: }\A 2097: \A 2098: body.homepage-jumpstart-takeover {\A 2099: 	h1 {\A 2100: 		padding-top: 30px;\A 2101: 	}"; }
