@charset "UTF-8";
@import "../../node_modules/ubuntu-vanilla-theme/scss/theme";
@include ubuntu-vanilla-theme;

$nav-border-dark:		#d4d7d4;
$nav-border-light:	#f2f2f4;

/* @section global nav
-------------------------------------------------------------- */
footer #nav-global {
  display: block;
  margin: 0 -10px;
  margin-top: -4px;
  margin-bottom: 10px;
  overflow: hidden;

  div {
    display: none;

    &.active {
      border-top: 1px solid $nav-border-dark;
      display: block;
      margin-top: -1px;
    }
  }

  h2 {
    letter-spacing: 0;
    position: relative;
    z-index: 2;

    span {
      background-image: url('https://assets.ubuntu.com/v1/7bd1bd7b-arrow_down_9fa097.svg');
      background-position: 0 2px;
      background-repeat: no-repeat;
      background-size: (100% 100%);
      clear: none;
      display: inline-block;
      margin-left: 6px;
      float: right;
      height: 13px;
      width: 13px;
      margin-right: 20px;
      position: relative;
    }

    &.active span {
      background-image: url('https://assets.ubuntu.com/v1/dd3d9dec-arrow_up_9fa097.svg');
      background-position: 0 0;
    }
  }

  li ul {
    clear: both;
    display: block;
    overflow: hidden;
    float: left;
  }

  li.more {
    width: 100%;
    line-height: 0;
    padding: 0;
    margin: 0;
  }

  li.more a {
    text-indent: -999em;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
  }

  li.more li a  {
    background: none;
    text-indent: 0;
    margin-left: 0;
    font-size: 14px;
  }

  h2 {
    border-bottom: 1px solid #D4D7D4;
    color: $warm-grey;
    margin: 0;
    padding: 10px 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: .05em;
  }

  h2:before {
    background-image: url('https://assets.ubuntu.com/v1/9758f322-external-link-9fa097.svg');
    background-size: 14px 14px;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-right: 3px;
    top: 3px;
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    box-sizing: border-box;
    font-size: 1em;
    border-bottom: 1px solid $nav-border-dark;
    color: $cool-grey;
    display: block;
    float: left;
    overflow: hidden;
    padding: 8px 10px;
    text-align: left;
    white-space: normal;
    width: 100%;
    margin-bottom: 0;
  }

  li a.external:after {
    background: none;
  }

  li.more li a {
    border-bottom: 1px solid $nav-border-dark;
    font-size: 14px;
    line-height: 1.6;
    padding: 8px 10px;
  }

  li.more li {
    border-bottom: 1px solid $nav-border-light;
  }

  li {
    box-sizing: border-box;
    border-bottom: 1px solid $nav-border-light;
    border-left: 1px solid $nav-border-dark;
    display: block;
    float: left;
    margin: 0;
    width: 50%;
  }

  li:last-item,
  li:last-item a { border: 0; }

  li:nth-child(odd) { border-left: 0; }
}

@media only screen and (min-width : 768px) {
	body {
		padding-top: 30px;
	}
	#nav-global {
		background: #efefef;
		width: 100%;
		height: 30px;
		line-height: 19.2px;
		display: block;
		z-index: 101;
		position: relative;
			-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
		margin-top: -30px;
	}
	#nav-global .nav-global-wrapper {
	  box-sizing: border-box;
	  background: none repeat scroll 0 0 #FFFFFF;
	  margin: 0 auto;
	  position: relative;
	  text-align: left;
	  width: 984px;
	}
	#nav-global.drop-shadow {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	}
	#nav-global div {
		background: #efefef;
		box-shadow: none;
		margin-top: 0;
		margin-bottom: 0;

	}
	#nav-global ul {
		margin-bottom: 0;
		margin-left: 0;
		top: 0;
	}
	#nav-global ul li {
		float: left;
		display: block;
		text-align: left;
		margin: 0;
		height: 30px;
		margin-top: -1px;
		position: relative;
		top: 0;
	}
	#nav-global ul ul {
		display: none;
		float: none;
		background: #fff;
		position: absolute;
		min-width: 120px;
		top: 30px;
		border-top: 1px solid #d7d7d7;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	}
	#nav-global ul ul a:link, #nav-global ul ul a:visited {
		border-top: none;
		float: none;
	}
	#nav-global ul ul li {
		float: none;
	}
	#nav-global ul ul li:first-of-type {
		padding-top: 5px;
	}
	#nav-global .more {
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		min-width: 60px;
	}
	#nav-global .more span {
		display: block;
		top: -10px;
		left: 46px;
		line-height: 19.2px;
		height: 0;
		position: relative;
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	}
	#nav-global .open {
		background: #fff;
		min-width: 120px;
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
	}

	#nav-global a:link, #nav-global a:visited {
		color: #333;
		font-size: 12px;
		font-weight: 300;
		line-height: 1.6;
		border-top: 3px solid transparent;
		border-bottom: 0;
		margin-right: 10px;
		margin-left: 10px;
		padding-top: 3px;
		padding-bottom: 4px;
		position: relative;
		text-decoration: none;
			  -moz-transition: opacity 0.25s ease-in-out;
			  -webkit-transition: opacity 0.25s ease-in-out;
		transition: opacity 0.25s ease-in-out;
		display: block;
		list-style-image: none;
	}

	#nav-global a.active {
		color: #dd4814;
		border-top: 3px solid #dd4814;
		text-decoration: none;
		opacity: 1;
	}
	#nav-global a:hover {
		color: #dd4814;
		text-decoration: none;
	}
	#nav-global:hover a {
		opacity: 1;
	}
	#nav-global .open a:link,
	#nav-global .open a:visited,
	#nav-global .open span {
		color: #dd4814;
		opacity: 1;
	}
	#nav-global .open ul a:link,
	#nav-global .open ul a:visited{
		color: #333;
		opacity: 1;
	}

	#nav-global .open ul a:hover {
		color: #dd4814;
		text-decoration: none;
	}

	#nav-global .open ul {
		display: block;
	}
	#nav-global ul ul li:first-of-type a {
		margin-left: 10px;
	}
	
	body #nav-global li:first-of-type a {
		margin-left: 0;
	}
	/*
	* Temp styles
	*/

	.login-logout {
		z-index: 5;
	}
}

@media only screen and (min-width : 768px) {
	body #nav-global li:first-of-type a {
		margin-left: 10px;
	}
@media only screen and (min-width : 768px) {
	#nav-global .nav-global-wrapper {
		width: auto !important;		
	}
}
}

@media only screen and (max-width : 768px) {
  body #nav-global li:first-of-type a {
    margin-left: 10px;
  }
  #nav-global .nav-global-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width : 984px) {
  body #nav-global li:first-of-type a {
    margin-left: 0;
  }
	#nav-global .nav-global-wrapper {
		width: 984px !important;		
	}
}