<div class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="u-padding-bottom--large">Get the version you need</h2>
    </div>
    <div class="row">
      <div class="u-equal-height">
        <div class="col-6 p-divider__block">
          {% include "download/shared/_buy_a_usb.html" %}
        </div>
        <div class="col-6 p-divider__block">
          <div class="p-heading-icon">
            <div class="p-heading-icon__header">
              <img class="p-heading-icon__img" src="{{ ASSET_SERVER_URL }}be3876ec-picto-download-warmgrey.svg" />
              <h3 class="p-heading-icon__title">Find alternative downloads</h3>
            </div>
            <p>Ubuntu is available via torrent and with more languages. You can also select from a list of older versions.</p>
            <p><a href="/download/alternative-downloads">Alternative downloads&nbsp;&rsaquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
