{% extends "download/_base_download.html" %}

{% block title %}How to create a bootable USB stick on Windows{% endblock %}

{% block extra_body_class %}download-help{% endblock %}

{% block second_level_nav_items %}
    <div class="strip-inner-wrapper">
        {% include "templates/_nav_breadcrumb.html" with section_title="Download" subsection_title="Desktop" page_title="How to create a bootable USB stick on Windows"  %}
    </div>
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero no-padding-bottom">
    <div class="strip-inner-wrapper">
        <div class="nine-col append-one">
            <h1>How to create a bootable USB stick on Windows</h1>
            <p>To run Ubuntu from a USB stick, the first thing you need to do is insert a USB stick with at least 2GB of free space into your PC.</p>
            <p>The easiest way to put Ubuntu onto your stick is to use the USB installer provided at <a href="http://www.pendrivelinux.com">pendrivelinux.com</a>. You&rsquo;ll need to <a href="http://www.pendrivelinux.com/universal-usb-installer-easy-as-1-2-3/#button">download and install</a> and follow the instructions.</p>
            <p><a href="http://www.pendrivelinux.com/universal-usb-installer-easy-as-1-2-3/#button">Download Pen Drive Linux's USB Installer&nbsp;&rsaquo;</a></p>
        </div>
    </div>
</div><!-- /.row row-hero -->
<div class="row no-border">
    <div class="strip-inner-wrapper">
        <ol class="instructions  eight-col append-one">
            <li class="instructions__bullet">
                <p class="instructions__content">Select 'Ubuntu' from the dropdown list.</p>
                <div class="help-image">
                    <img src="{{ ASSET_SERVER_URL }}32a4a43b-image-createausbstickonwindows-1.jpg" alt="" height="451" width="444">
                    <a href="{{ ASSET_SERVER_URL }}32a4a43b-image-createausbstickonwindows-1.jpg">Click to enlarge</a>
                </div>
            </li>
            <li class="instructions__bullet">
                <p class="instructions__content">Click <strong>'Browse'</strong> and open the downloaded ISO file.</p>
                <div class="help-image">
                    <img src="{{ ASSET_SERVER_URL }}c16130d3-image-createausbstickonwindows-2.jpg" alt="" height="326" width="444">
                    <a href="{{ ASSET_SERVER_URL }}c16130d3-image-createausbstickonwindows-2.jpg">Click to enlarge</a>
                </div>
            </li>
            <li class="instructions__bullet">
                <p class="instructions__content">Choose the USB drive and click <strong>'Create'</strong>.</p>
                <div class="help-image">
                    <img src="{{ ASSET_SERVER_URL }}ed75cbd0-image-createausbstickonwindows-3.jpg" alt="" height="360" width="444">
                    <a href="{{ ASSET_SERVER_URL }}ed75cbd0-image-createausbstickonwindows-3.jpg">Click to enlarge</a>
                </div>
            </li>
        </ol>
    </div>
</div><!-- /.eight-col -->
</div><!-- /.row -->

{% include "download/shared/_contextual_footer.html" with first_item="_download_desktop_installation" second_item="_download_try_desktop" third_item="_download_helping_hands" %}

{% endblock content %}
