{% extends "download/_base_download.html" %}

{% block title %}Upgrade Ubuntu{% endblock %}

{% block second_level_nav_items %}
	{% include "_base/_nav_breadcrumb.html" with section_title="Download" subsection_title="Desktop" page_title="Upgrade" tertiary="true" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<h1>Upgrade from Ubuntu 13.10 to 14.04 LTS</h1>
	<div class="box no-border warning">
		<p>We recommend you backup your existing Ubuntu installation before updating.</p>
	</div>
	<div class="box box-grey no-border no-margin-bottom row-image-centered">
		<span><img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-upgrade-warmgrey.svg" alt="" width="124" height="124"></span>
		<div class="nine-col last-col">
			<p>If you have a version of Ubuntu other than Ubuntu 13.10, please <a href="https://help.ubuntu.com/community/UpgradeNotes">read the upgrade notes</a> for more information on how to upgrade.</p>
			<p>Before you start the upgrade, we recommend that you <a href="https://wiki.ubuntu.com/TrustyTahr/ReleaseNotes">read the release notes</a> for Ubuntu 14.04 LTS, which which include workarounds for any problems you might encounter.</p>
		</div><!-- /.ten-col -->
	</div><!-- /.box -->
</div>
<div class="row no-border">
	<div id="download-help" class="box box-grey no-border">
		<ol class="no-bullets no-margin-bottom">
			<li class="box box-highlight clearfix">
				<span>1</span>
				<div class="five-col">
				<div>
					<h2>Launch the Software Updater</h2>
					<p>Press the <strong>Superkey (Windows key)</strong> to launch the Dash and search for <strong>Update Manager</strong></p>
				</div>
				</div>
				<div class="six-col right">
					<img src="{{ STATIC_URL }}img/download/desktop/upgrade/image-upgrade-1.jpg" width="444" height="250" alt="" />
				</div>
			</li>
			<li class="box box-highlight clearfix">
				<span>2</span>
				<div class="five-col">
					<h2>Check for updates</h2>
					<p>Click the <strong>Check</strong> button to check for new updates. If there are any updates to install, use the <strong>Install Updates</strong> button to install them, press <strong>Check</strong> again after that first update is complete &mdash; then press the <strong>Upgrade</strong> button.</p>
				</div>
				<div class="six-col right">
					<img class="" src="{{ STATIC_URL }}img/download/desktop/upgrade/image-upgrade-2.jpg" width="444" height="300" alt="" />
				</div>
			</li>
			<li class="box box-highlight clearfix">
				<span>3</span>
				<div class="five-col">
					<h2>Install the upgrade</h2>
					<p>A message will appear informing you of the availability of the new release. Click <strong>Upgrade</strong> and follow the on-screen instructions.</p>
				</div>
				<div class="six-col right">
					<img src="{{ STATIC_URL }}img/download/desktop/upgrade/image-upgrade-3.jpg" width="444" height="400" alt="" />
				</div>
			</li>
		</ol>
	</div><!-- /.box -->
</div><!-- /.row -->
{% endblock content %}
