$breakpoint-medium: 875px;
$viewport-threshold: 1281px;
$color-brand: #e95420;
$color-dark: #111;
$color-positive: #0e8420 !default;
$sp-medium-small: 1rem * 0.85 !default;
$sp-medium-large: 1rem * 1.15 !default;
$nav-bg-color: #333;
$circle-of-friends-compensation: 0; // padding compensation to create visually equal margins;
$contrast-ratio: 5%;
$color-whitepaper-accent: #772a54;
$color-mid-x-light: #e5e5e5;
$font-use-subset-latin: true;
$font-allow-cyrillic-greek-latin: true;
$font-display-option: fallback;
$breakpoint-navigation-threshold: 1250px;
$threshold-6-12-col: $breakpoint-navigation-threshold;
$theme-default-nav: dark;
$grid-max-width: 80rem;
