$breakpoint-medium:    875px;
$viewport-threshold:      1281px;
$color-brand:             #e95420;
$sp-medium-small: 1rem * .85 !default;
$sp-medium-large: 1rem * 1.15 !default;
$grid-max-width: 68rem;
