$breakpoint-medium:    875px;
$viewport-threshold:      1281px;
$color-brand:             #e95420;
$sp-medium-small: 1rem * .85 !default;
$sp-medium-large: 1rem * 1.15 !default;
$grid-max-width: 68rem;
$nav-bg-color: #333;
$circle-of-friends-compensation: 0; // padding compensation to create visually equal margins;
$contrast-ratio: 5%;

$breakpoint-x-large: 1681px;
$width-base: 1200/16 * 1rem;
$fontsize-bigscreen: 1rem * 18/16;
$gutters_total: 2 * 1.5 * 1rem;