@mixin layout-whitepapers {
  .l-whitepapers {
    .p-strip--hero {
      @extend %vf-strip;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 12rem;
      padding-top: 4rem;

      h1 {
        color: $color-accent-background;
        margin-top: 4rem;
      }
    }

    .u-text {
      &--muted {
        color: $color-mid-dark;
      }

      &--accent {
        color: $color-accent-background;
      }
    }
  }
}
