@mixin layout-whitepapers {
  .l-whitepapers {
    .p-strip--hero {
      @extend %vf-strip;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 14rem;
      padding-top: 6rem;
    }

    .u-text {
      &--accent {
        color: $color-whitepaper-accent;
      }

      ul {
        list-style: none;

        li {
          color: $color-accent-background;
          content: "•";
          display: inline-block;
          margin-left: -1rem;
          width: 1rem;
        }
      }
    }
    .p-card {
      border: 1px dotted $color-whitepaper-accent;
    }

    .p-pull-quote p:first-of-type::before,
    .p-pull-quote p:last-of-type::after {
      color: $color-whitepaper-accent;
    }

    .p-icon--facebook img,
    .p-icon--twitter img,
    .p-icon--linkedin img {
      height: 32px;
      width: 32px;
    }
  }
}
