@mixin layout-documentation {
  @include pattern-sidebar-nav;

  .l-documentation {
    @include row;
    display: flex;

    @media (max-width: $breakpoint-medium) {
      flex-direction: column;
    }

    &__sidebar {
      border-right: 1px solid $color-mid-light;
      flex: 0 0 18rem;

      @media (max-width: $breakpoint-medium) {
        border-bottom: 1px solid $color-mid-light;
        border-right: 0;
        flex: 1;
        flex-direction: column;
      }
    }

    &__content {
      flex: 5;
      margin-top: 2rem;
      padding-left: 5%;
    }
  }
}

@mixin pattern-sidebar-nav {
  .p-sidebar-nav {
    @media (min-width: $breakpoint-medium) {
      margin-top: 2rem;
    }

    &__list {
      @extend .p-list;
      margin-bottom: $spv-intra;
      margin-top: -$spv-intra--condensed;
    }

    &__item {
      list-style: none;
      padding-bottom: $spv-intra--condensed / 2;
      padding-top: $spv-intra--condensed / 2;

      &:first-of-type {
        padding-top: $spv-intra;
      }

      &:last-of-type {
        padding-bottom: $spv-intra + $spv-intra--condensed;
      }

      .is-active {
        position: relative;

        &::before {
          background-color: $color-mid-light;
          bottom: -$spv-intra--condensed;
          content: '';
          left: -$sph-intra;
          position: absolute;
          top: -$spv-intra--condensed;
          width: $bar-thickness;
        }
      }
    }

    &__item > &__list {
      padding-left: $sph-intra;
    }
  }

  .p-sidebar__banner {
    text-align: right;
  }

  .p-sidebar__toggle {
    background-size: 1rem;
    cursor: pointer;
    padding: 2rem;
  }
}
