// sass-lint:disable no-color-literals hex-notation
@mixin ubuntu-p-strip {
  @include ubuntu-p-strip-suru;
  @include ubuntu-p-strip-suru-topped;
  @include ubuntu-p-strip-suru-bottomed;
  @include ubuntu-p-strip-suru-half-and-half-reversed;
  @include ubuntu-p-strip-suru-image;
  @include ubuntu-p-strip-suru-half-and-half;
}

@mixin ubuntu-p-strip-suru {
  [class^='p-strip'].is-x-shallow {
    padding: 1.5rem 0;
  }

  .p-strip {
    overflow-x: hidden; // prevent horisontal overflow due to background images
  }

  $suru-accent: #3fc8f2;

  .p-strip--suru {
    @extend %vf-strip;
    background-blend-mode: multiply, multiply, normal, normal;
    background-image:
      linear-gradient(to bottom right, rgba(228, 228, 228, .54) 0%, rgba(228, 228, 228, .54) 49.9%, rgba(228, 228, 228, 0) 50%, rgba(228, 228, 228, 0) 100%),
      linear-gradient(to bottom left, rgba(216, 216, 216, .54) 0%, rgba(216, 216, 216, .54) 49.9%, rgba(216, 216, 216, 0) 50%, rgba(216, 216, 216, 0) 100%),
      linear-gradient(to top right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(to top right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%),
      linear-gradient(-89deg, #e95420 0%, #772953 38%, #2C001e 85%);
    background-position: 0% 0%, top right, right 0 bottom 4rem, right bottom, 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 4rem), 50% 100%, 100% 4rem, 100% 4rem, auto;
    margin-bottom: -4rem;
    overflow: hidden;
    padding-bottom: 12rem !important;
    position: relative;

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }

    &.is-deep {
      $padding: 3rem;
      background-position: 0% 0%, top right, right 0 bottom $padding, right bottom, 0% 0%;
      background-size: 100% calc(100% - #{$padding}), 100% 100%, 100% $padding, 100% $padding, auto;
      margin-bottom: -$padding;
      padding-bottom: ($padding * 3) !important;

      @media (min-width: $breakpoint-medium) {
        $padding: 6rem;
        background-position: 0% 0%, top right, right 0 bottom $padding, right bottom, 0% 0%;
        background-size: 100% calc(100% - #{$padding}), 50% 100%, 100% $padding, 100% $padding, auto;
        margin-bottom: -$padding;
        padding-bottom: ($padding * 3) !important;
      }
    }
  }
}

@mixin ubuntu-p-strip-suru-topped {
  .p-strip--suru-topped {
    @extend %vf-strip;
    background-blend-mode: multiply, multiply, normal, normal;
    // sass-lint:disable-block no-color-literals
    background-image:
      linear-gradient(to bottom left, rgba(228, 228, 228, 0.5) 0%, rgba(228, 228, 228, 0.5) 49%, rgba(228, 228, 228, 0) 50%, rgba(228, 228, 228, 0) 100%),
      linear-gradient(to bottom left, rgba(119, 41, 83, 0.16) 0%, rgba(119, 41, 83, 0.16) 49%, rgba(119, 41, 83, 0) 50%, rgba(119, 41, 83, 0) 100%),
      linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%),
      linear-gradient(90deg, rgba(60, 0, 30, 1) 4%, rgba(119, 41, 83, 1) 50%, rgba(233, 84, 32, 1) 88%);
    background-position: top right, top right, top left, top left;
    background-repeat: no-repeat;
    background-size: 39.4% 6rem, 54% 4rem, 63% 4rem, 62.6% 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
  }
}

@mixin ubuntu-p-strip-suru-bottomed {
  .p-strip--suru-bottomed {
    @extend %vf-strip;
    background-blend-mode: multiply, multiply, normal, normal;
    background-image:
      linear-gradient(to top right, rgba(228, 228, 228, .5) 0%, rgba(228, 228, 228, .5) 49.5%, rgba(228, 228, 228, 0) 50%, rgba(228, 228, 228, 0) 100%),
      linear-gradient(to top right, rgba(119, 41, 83, 0.16) 0%, rgba(119, 41, 83, 0.16) 49.5%, rgba(119, 41, 83, 0) 50%, rgba(119, 41, 83, 0) 100%),
      linear-gradient(to top left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.5%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%),
      linear-gradient(-89deg, rgb(233, 84, 32) 0%, rgb(119, 41, 83) 38%, rgb(44, 0, 30) 85%);
    background-position: left bottom, left bottom, right bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 42% 12rem, 65.2% 8rem, 73.7% 8rem, 73.7% 8rem;
    padding-bottom: 8rem;
  }
}

@mixin ubuntu-p-strip-suru-image {
  .p-strip--suru-image {
    @extend %vf-strip;
    background-blend-mode: multiply, multiply, normal, normal;
    // sass-lint:disable-block no-color-literals
    background-image:
      linear-gradient(to bottom left, rgba(228, 228, 228, 0.5) 0%, rgba(228, 228, 228, 0.5) 49.9%, rgba(228, 228, 228, 0) 50%, rgba(228, 228, 228, 0) 100%),
      linear-gradient(to bottom left, rgba(119, 41, 83, 0.16) 0%, rgba(119, 41, 83, 0.16) 49.9%, rgba(119, 41, 83, 0) 50%, rgba(119, 41, 83, 0) 100%),
      linear-gradient(to bottom left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 49.8%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%,),
      linear-gradient(-89deg, rgba(233, 84, 32, 1) 0%, rgba(119, 41, 83, 1) 38%, rgba(44, 0, 30, 1) 85%);
    background-position: right top, right top, right top, right top;
    background-repeat: no-repeat;
    background-size: 37.7% calc(100% - 6rem), 42.1% calc(100% - 151px), 49.2% calc(100% - 12rem), 49.2% calc(100% - 192px);
    padding-bottom: 4rem;
    padding-top: 4rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-blend-mode: normal;
      // sass-lint:disable-block no-color-literals
      background-image:
        linear-gradient(-89deg, rgba(233, 84, 32, 1) 0%, rgba(119, 41, 83, 1) 38%, rgba(44, 0, 30, 1) 85%);
      background-position: right top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: $color-x-light;
      padding-bottom: 4rem;
      padding-top: 4rem;
    }
  }
}

@mixin ubuntu-p-strip-suru-half-and-half-reversed {
  .p-strip--suru-half-and-half-reversed {
    @extend %vf-strip;
    background-blend-mode: multiply, normal, normal, normal;
    // sass-lint:disable-block no-color-literals
    background-image:
      linear-gradient(
        25deg,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%),
      linear-gradient(
        to left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 41.9%,
        rgba(255, 255, 255, 0) 42%,
        rgba(255, 255, 255, 0) 100%),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.9%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%),
      linear-gradient(270deg, #e95420 20%, #772953 63%, #2C001e 100%);
    background-position: top 60% left, top left, top 10% left 53.6%, center right;
    background-repeat: no-repeat;
    background-size: 90% 100%, 100% 100%, 10% 120%, cover;


    @media (max-width: $breakpoint-medium) {
      background-image: linear-gradient(270deg, #e95420 0%, #772953 43%, #2C001e 87%);
      background-position: center right;
      background-size: cover;
    }

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin ubuntu-p-strip-suru-half-and-half {
  .p-strip--suru-half-and-half {
    @extend %vf-strip;
    background-blend-mode: multiply, multiply, normal, normal;
    background-image:
      linear-gradient(to bottom left, rgba(228, 228, 228, 0.5) 0%, rgba(228, 228, 228, 0.5) 49.9%, rgba(228, 228, 228, 0) 50%, rgba(228, 228, 228, 0) 100%),
      linear-gradient(to bottom left, rgba(119, 41, 83, 0.16) 0%, rgba(119, 41, 83, 0.16) 49.9%, rgba(119, 41, 83, 0) 50%, rgba(119, 41, 83, 0) 100%),
      linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49.8%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(90deg, rgba(44, 0, 30, 1) 18%, rgba(114, 41, 83, 1) 63%, rgba(233, 84, 32, 1) 100%);
    background-position: right top, right top, 71.5% top, right top;
    background-repeat: no-repeat;
    background-size: 46.2% 68.6%, 38.4% 100%, 16.8% 100%, 40.5% 100%;
    padding-bottom: 13px;

    @media only screen and (max-width: $breakpoint-small) {
      background-blend-mode: normal;
      background-image:
        linear-gradient(90deg, rgba(44, 0, 30, 1) 18%, rgba(114, 41, 83, 1) 63%, rgba(233, 84, 32, 1) 100%);
      background-position: right top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: $color-x-light;
      padding-bottom: 13px;
    }
  }
}

// sass-lint:enable no-color-literals hex-notation
