@mixin ubuntu-p-site-search {
  .search-toggle {
    width: $sp-large;
    height: $sp-large;
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 90 90'><g color='" + $color-x-light + "'><path fill='none' stroke-width='4' d='M0 0h90v90H0z'/><path d='M69 36.5a33 33.5 0 1 1-66 0 33 33.5 0 1 1 66 0z' transform='matrix(.636 0 0 .627 16.114 16.12)' fill='none' stroke='" + $color-x-light + "' stroke-width='9.5'/><path d='M55.77 52.92L52.94 55.75l14 14 2.83-2.83-14-14z' fill='" + $color-x-light + "' stroke-width='6' class='s0'/></g></svg>");
    cursor: pointer;

    @media (min-width: $breakpoint-medium) {
      position: relative;
      right: $sp-large;
    }
  }

  .search-toggle__link {
    display: inline-block;
    width: $sp-large;
    height: $sp-large;
  }

  .p-site-search {
    float: right;
    margin: $sp-small 0;

    &__form {
      clear: both;
      position: relative;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 48px;

      &:target,
      &:active {
        display: block;
      }

      @media (min-width: $breakpoint-large) {
        width: 200px;
        height: 35px;
        position: absolute;
        top: .65rem;
        right: .65rem;

        .p-site-search__input[type='search'] {
          border-radius: 4px;
          height: 35px;
          background-color: $color-brand-dark;
          color: $color-x-light;
          padding-right: $sp-xx-large;

          &::-webkit-input-placeholder {
            color: $color-mid-light;
          }
        }

        .p-site-search__button {
          top: -.5rem;
          right: $sp-medium;
        }
      }
    }

    &__input[type='search'] {
      background: $color-light;
      border: 0;
      box-shadow: none;
    }

    &__button {
      position: absolute;
      top: 0;
      right: 1.75rem;
      width: 1.5rem;
      height: 3rem;
      border: 0;
      background-repeat: no-repeat;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }

  @media (min-width: $breakpoint-medium) and (max-width: calc($breakpoint-large - 1)) {
    .p-site-search__input {
      border-bottom: 1px solid $color-mid-dark;
    }
  }
}
