$ubuntu-logo-svg-width: 81 * $px; // width in rems
$circle-of-friends-compensation: 0rem; // padding compensation to create visually equal margins;
$ubuntu-logo-width--desktop: $ubuntu-logo-svg-width + 2 * $grid-margin-width;
$ubuntu-logo-width--mobile: $ubuntu-logo-svg-width + 2 * $sph-intra;
$p-small-lh-diff: map-get($line-heights, default-text) - map-get($line-heights, small);
$contrast-ratio: 5%;
$global-nav-bg-color: #262626; //matches Mark's document //lighten($color-dark, 8%);
$global-nav-dropdown-bg-color: $global-nav-bg-color; //lighten($color-dark, 13.55%); //#333
$nav-bg-color: lighten($global-nav-bg-color, $contrast-ratio);

@mixin global-nav {
  $global-nav-chevron-height: 4 * $px;
  $global-nav-chevron-width: 10 * $px;
  $global-nav-height: 2rem;
  $global-nav-height-mobile: 3rem;
  $canonical-logo-height: 10 * $px; // height of svg in rem so it can be used in calulations
  $canonical-logo-padding-bottom: ($global-nav-height - $canonical-logo-height) * .5;
  $canonical-logo-padding-top: ($global-nav-height - $canonical-logo-height) * .5;

  body {
    @media (max-width: $breakpoint-navigation-threshold - 1) {
      padding-bottom: $global-nav-height-mobile;
    }
  }

  .global-nav {
    align-items: center;
    background: $global-nav-bg-color;
    display: flex;
    position: relative;
    z-index: 11;

    @media (max-width: $breakpoint-navigation-threshold - 1) {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__row {
      display: flex;
      padding-left: $grid-margin-width;
      padding-right: $grid-margin-width;
      z-index: 5;
      background-color: $global-nav-bg-color;

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        display: block;
      }
    }

    &__logo {
      margin: 0;
      display: block;
      line-height: 0;
    }

    &__logo-anchor {
      display: inline-block;
      line-height: 0;
      @media only screen and (max-width: $breakpoint-navigation-threshold) {
        display: block;
        padding: $canonical-logo-padding-top $grid-margin-width - $circle-of-friends-compensation $canonical-logo-padding-bottom 0;
        width: $ubuntu-logo-svg-width + 2 * $grid-margin-width - $circle-of-friends-compensation;
      }

      @media only screen and (min-width: $breakpoint-navigation-threshold) {
        padding: $canonical-logo-padding-top $sph-intra - $circle-of-friends-compensation $canonical-logo-padding-bottom $sph-intra;
        width: $ubuntu-logo-svg-width + 2 * $sph-intra - $circle-of-friends-compensation;
      }
    }

    &__links {
      list-style: none;
      margin: 0 0 0 auto;
    }

    &__link--dropdown,
    &__link {
      display: inline-block;
      position: relative;
      margin-right: 0;
    }

    &__link-anchor {
      color: $color-x-light;
      display: inline-block;
      font-size: 1rem / pow($ms-ratio, 1);
      line-height: map-get($line-heights, small);
      margin-bottom: 0;
      padding: $p-small-lh-diff * 1.5 $sph-intra--condensed;
      transition: all .25s;

      .global-nav__link--dropdown & {
        padding-right: $sph-intra--condensed * 2 + $global-nav-chevron-width;

        @media only screen and (max-width: $breakpoint-navigation-threshold) {
          padding-left: 0;
        }
      }

      &:visited,
      &:hover {
        color: $color-x-light;
        text-decoration: none;
      }

      .global-nav__link--dropdown &::after {
        @include vf-icon-chevron(vf-url-friendly-color($color-x-light));
        background-repeat: no-repeat;
        background-size: 100%;
        content: "";
        height: $global-nav-chevron-height;
        position: absolute;
        right: $sph-intra--condensed; //pading-right - width / 2;
        top: ($global-nav-height - $global-nav-chevron-height) * .55;
        width: $global-nav-chevron-width;
      }

      .global-nav__link--dropdown.is-selected & {
        background: $global-nav-dropdown-bg-color;

         &::after {
          transform: rotate(180deg);
        }
      }

    }

    &__dropdown {
      margin-top: 0;
      position: absolute;
      top: 2rem;
      transition: transform .25s ease-in-out;
      width: 100%;
      z-index: 4;
      font-size: .875rem;

      .p-matrix {
        @media (max-width: $breakpoint-small - 1) {
          display: block;
        }

        @media (min-width: $breakpoint-small) {
          display: flex;
        }
      }

      .p-matrix__item {
        display: block;

        @media (max-width: $breakpoint-small - 1) {
          width: 100%;
        }

        @media (min-width: $breakpoint-small) and (max-width: $breakpoint-navigation-threshold) {
          width: 50%;

          &:nth-child(2n+1) {
            padding-left: 0;
          }
        }
      }

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        top: 3rem;

        .p-matrix {
          margin-bottom: 0;
        }

        .p-matrix__item {
          position: relative;
        }

        .p-matrix__img {
          top: .7rem;
        }

        .p-matrix__title {
          position: relative;
          top: .3rem;
          margin-bottom: 0 !important;
        }

        .p-matrix__desc {
          display: none !important;
        }
      }

      &.u-hide {
        transform: translateY(-1rem);
      }

      & .p-strip--dark {
        background-color: $global-nav-dropdown-bg-color;
      }

      .p-link {
        //colors links in matrix
        color: $color-x-light;

        &:visited,
        &:hover {
          color: $color-x-light;
        }
      }

      .p-muted-heading {
        color: $color-light;
      }
    }

    .p-matrix__item {
        border-color: $color-mid-dark;
        border-right: 0 !important;
    }
    .p-matrix__img img {
      max-height: map-get($icon-sizes, thumb--card);
    }
    .p-matrix__img + .p-matrix__content > *::before {
      width: map-get($icon-sizes, thumb--card);
    }

    .p-matrix__content {
      width: 100%;
    }

    .is-bordered:before {
      background-color: $color-mid-dark;
      margin-bottom: $sp-x-large;
    }
  }

  .global-nav__dropdown {
    overflow: hidden;
    height: 0;
    transform: translateY(0);

    @media (min-width: $breakpoint-navigation-threshold) {
      @include vf-animation(transform, brisk, in);
      transform: translateY(-100%);
      height: auto;
    }
  }

  .show-global-nav-content {
    height: auto;

    @media (min-width: $breakpoint-navigation-threshold) {
      transform: translateY(0);
    }
  }

  .global-nav__dropdown-overlay {
    opacity: 0;

    @media (min-width: $breakpoint-navigation-threshold) {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(17,17,17, .4);
      position: fixed;
      pointer-events: none;
      transition: opacity .5s ease-in-out;

      &.is-visible {
        opacity: 1;
        pointer-events: all;
        z-index: 5;
      }
    }
  }

  .global-nav .is-split {
    columns: 2;
    column-gap: 2rem;
  }

  .global-nav__dropdown-content {
    padding-top: $sp-large;
    background-color: $global-nav-bg-color;

    @media (min-width: $breakpoint-navigation-threshold) {
      padding-top: 0;
    }
  }

  .global-nav--mobile .p-footer__title {
    border-color: #666;
  }

  .global-nav .p-matrix__content .p-link--inverted {

    @media (max-width: $breakpoint-navigation-threshold + 1) {
      display: inline-block;
      line-height: 32px;
    }
  }

  .u-mobile-heading {

    @media (max-width: $breakpoint-navigation-threshold + 1) {
      margin-bottom: 1rem;
      font-size: 13px;
    }
  }
}
