.chart__bar--orange {
  fill: #e95420;
  stroke: #e95420;
  stroke-width: 1px;
}

.chart__bar--orange-light {
  fill: #fbddd2;
  stroke: #e95420;
  stroke-width: 1px;
}

.chart__bar--grey {
  fill: #aea79f;
  stroke: #aea79f;
  stroke-width: 1px;
}

.chart__bar--aubergine {
  fill: #772953;
  stroke: #772953;
  stroke-width: 1px;
}

.chart__bar--green {
  fill: green;
  stroke: green;
  stroke-width: 1px;
}

.chart__bar--charcoal {
  fill: #333;
  stroke: #333;
  stroke-width: 1px;
}

.chart__label--bold {
  font-weight: bold;
}

.chart__label--transparent,
.chart__bar--transparent {
  opacity: 0.2;
}

.x.axis line,
.y.axis line {
  shape-rendering: crispEdges;
  stroke: #d6d3cf;
  stroke-dasharray: 3 2;
}

.tick text {
  font-size: 14px;
}

.chart-key text {
  font-size: 14px;
}

.x.axis text {
  font-size: 12px;
  text-anchor: start !important;
}

.chart-key {
  display: block;
}

.chart-key__row {
  display: block;
}
