@mixin ubuntu-p-desktop-statistics {
  .p-mobile-flex-col {
    @media only screen and (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;

      & > [class*="col-"]:first-child {
        order: 1;
      }

      & > [class*="col-"]:nth-child(2) {
        order: 0;
      }
    }
  }

  .p-bar-chart {
    width: 100%;

    .p-bar-chart__bar {
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }

    .tick text {
      font-size: .625rem;
    }
  }
}
