// Footer pattern styling
@mixin footer-title {
  color: $color-mid-dark;
  line-height: 1.25;
  margin-bottom: 0;

  @media only screen and (max-width: $breakpoint-small) {
    cursor: pointer;
  }

  @media only screen and (min-width: $breakpoint-small) {
    line-height: 1.5;
  } 
}

@mixin ubuntu-p-footer {
  $color-shadow: rgba(0, 0, 0, 0.3);

  .p-footer {
    @include vf-highlight-bar($color-brand);

    background-color: $color-x-light;
    margin-bottom: 0;
    padding: 0 0 $sp-xx-large 0;

    @media only screen and (min-width: $breakpoint-small) {
      padding: $sp-xx-large 0;
    }

    @media only screen and (max-width: $breakpoint-small - 1) {
      &__nav-col {
        width: 100%;
      }
    }
  }

  .p-footer__nav {
    border-bottom: 1px solid $color-mid-light;

    @media only screen and (max-width: $breakpoint-small - 1) {
      margin-top: 0 !important;
    }

    @media only screen and (min-width: $breakpoint-small) {
      border: 0;
    }

    &.u-clearfix {
      @media only screen and (max-width: $breakpoint-small - 1) {
        padding-bottom: 0;
      }
    }

    &-col.col-2 {
      @media only screen and (max-width: $breakpoint-small - 1) {
        margin-top: 0;
      }
    }
  }

  .p-footer__divider {
    @include full-width-breakout;

    border: 0;
    border-bottom: 1px solid $color-mid-light;
    border-collapse: separate;
    height: 0;
    margin-top: 2rem;

    @media only screen and (max-width: $breakpoint-small - 1px) {
      display: none;
    }
  }

  .p-footer__links {
    margin: 0;
    padding: 0;
  }

  .p-footer__item {
    display: block;
    margin-bottom: 0;

    @media only screen and (max-width: $breakpoint-small - 1px) {
      margin-top: 0;
    }

    + .p-footer__item {
      @media only screen and (min-width: $breakpoint-small) {
        margin-top: $sp-large;
      }
    }
  }

  .p-footer__title {
    @include footer-title;

    background-image: url("#{$assets-path}7bd1bd7b-arrow_down_9fa097.svg");
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border-top: 1px solid $color-mid-light;
    color: $color-dark;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0;
    max-width: inherit;

    @media only screen and (min-width: $breakpoint-small) {
      background: none;
      border: 0;
      font-size: 0.8125rem;
      padding: 0 0 $sp-x-small;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 0.8125rem;
    }

    a,
    span {
      display: block;
      padding: $sp-medium;

      @media only screen and (min-width: $breakpoint-small) {
        padding: 0 0 $sp-x-small;
      }
    }

    a {
      &:hover {
        text-decoration: none;

        @media only screen and (min-width: $breakpoint-small) {
          text-decoration: underline;
        }
      }

      &:link,
      &:visited {
        color: $color-dark;

        @media only screen and (min-width: $breakpoint-small) {
          font-weight: normal;
        }
      }

      &::after {
        content: ""; // hide the default > */
      }

      /// open and close the primary/secondary navs
    }
  }

  .p-footer__title + .second-level-nav {
    display: none;

    @media only screen and (min-width: $breakpoint-small) {
      display: block;
    }
  }

  .p-footer .link-to-top {
    @include footer-title;

    background-image: url("#{$assets-path}e4a5a8c0-picto-upload-warmgrey.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    border-bottom: 1px solid $color-mid-dark;
    display: block;
    left: auto;
    margin-bottom: -1px;
    max-width: inherit;
    padding: $sp-small 0 $sp-small $sp-x-large;
    position: relative;
    z-index: 2;
    line-height: 2.3;

    @media only screen and (min-width: $breakpoint-small) {
      display: none;
    }

    a {
      color: $color-mid-dark;
    }
  }

  .p-footer--secondary {

    @media only screen and (min-width: $breakpoint-small) {
      padding: 0;
    }

    @media only screen and (max-width: $breakpoint-small - 1px) {
      margin-top: 0;
      padding: $sp-large $sp-small 0 $sp-medium !important;
    }

    a:hover {
      color: currentColor;
    }
  }

  .p-footer .second-level-nav {
    margin: 0;
    padding: 0;

    &.second-level-nav-small {
      @media only screen and (max-width: $breakpoint-small) {
        margin-left: -0.7rem;

        li {
          a {
            color: $color-mid-dark;
          }
        }
      }
    }

    li {
      margin-bottom: 0;

      @media only screen and (max-width: $breakpoint-small) {
        margin-top: 0;
      }

      a {
        border-top: 1px solid $color-mid-light;
        color: $color-dark;
        display: block;
        font-size: 1rem;
        padding: $sp-medium;
        line-height: 1.25;

        @media only screen and (min-width: $breakpoint-small) {
          border: 0;
          font-size: 0.8125rem;
          padding: 0;
          line-height: 1.5rem;
        }
      }
    }
  }

  .p-footer__title.active {
    background-image: url("#{$assets-path}43e2b367-arrow_up_9fa097.png");

    @media only screen and (min-width: $breakpoint-small) {
      background: none;
    }
  }

  .p-footer__title.active + .second-level-nav {
    display: block;
  }

  .p-footer__title-text {
    @media only screen and (min-width: $breakpoint-small) {
      color: $color-dark;
      font-weight: 400;
    }

    @media only screen and (max-width: $breakpoint-small) {
      a {
        color: $color-mid-dark;
      }
    }
  }

  .p-footer__container {
    @media only screen and (max-width: $breakpoint-small - 1px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .p-footer__link {
    &:hover {
      color: $color-dark;
    }
  }

  .p-footer--secondary__content {
    margin-bottom: $sp-xx-small;
    max-width: inherit;
  }

  .p-footer--secondary .p-inline-list-icons {
    @media (max-width: $breakpoint-small) {
      margin-left: 0;
      margin-top: 1rem;
      padding-left: 0;
    }

    @media only screen and (min-width: $breakpoint-small) {
      float: right;
      padding-left: 0;
    }

    @media only screen and (min-width: $breakpoint-large) {
      margin-top: $sp-x-small;
    }
  }

  .p-footer--secondary .p-inline-list {

  }

  .p-footer--secondary .p-inline-list__item {
    display: block;

    @media only screen and (min-width: $breakpoint-small) {
      display: inline-block;
    }

    &::after {
      @media only screen and (max-width: $breakpoint-small - 1) {
        display: none;
      }
    }
  }

  .p-footer__item--spaced {
    @media only screen and (min-width: $breakpoint-small) {
      margin-bottom: $sp-large;
    }
  }

  .p-footer-list-single-child {
    @media only screen and (max-width: $breakpoint-small) {
      margin-left: $sp-small;
    }
  }

  .p-footer--secondary__nav {
    @media only screen and (min-width: $breakpoint-small) {
      .p-inline-list__item {
        display: inline-block;
      }
    }
  }
}
