.p-table-hardware-details {
  th,
  td {
    &:nth-child(1) {
      width: 20%;
      @media screen and (max-width: $breakpoint-medium) {
        width: 28%;
      }
    }

    &:nth-child(2) {
      width: 80%;
      @media screen and (max-width: $breakpoint-medium) {
        width: 72%;
      }
    }
  }
}
