@mixin ubuntu-p-cards {
  @include ubuntu-card;
  @include ubuntu-card-layout;
  @include ubuntu-card-radio;
}

@mixin ubuntu-card {
  .p-card--cloud-and-server {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#2b939c);
  }

  .p-card--internet-of-things {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#b0709d);
  }

  .p-card--desktop {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#66a2c1);
  }

  .p-card--canonical-announcements {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#ff8936);
  }

  .p-card.is-selected {
    background-color: $color-mid-x-light;
    border-color: $color-mid-dark;
  }

  .p-card.has-limited-height {
    height: 20rem;
  }

  .p-card.has-limited-height--large {
    height: 23.5rem;
  }
}

@mixin ubuntu-card-layout {
  .p-card--layout {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    display: flex;
    flex-direction: column;

    .p-card__header {
      @extend %vf-pseudo-border--bottom;
    }

    .p-card__main {
      padding-top: calc(#{$spv-inner--large} - 1px);
    }

    .p-card__footer {
      margin-top: auto;
    }
  }
}

@mixin ubuntu-card-radio {
  .p-card--radio {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    padding: 0;

    label {
      background-color: transparent;
      background-position: right $spv-inner--large center;
      background-repeat: no-repeat;
      background-size: auto 40px;
      height: 100%;
      margin-bottom: 0;
      padding-bottom: calc(#{$spv-inner--large} - 1px);
      padding-left: calc(#{$spv-inner--large + 2} - 1px);
      padding-right: calc(#{$spv-inner--large} - 1px);
      padding-top: calc(#{$spv-inner--large} - 1px);
      width: 100%;

      &::after {
        left: 1.54rem;
        top: 1.54rem !important;
      }

      &::before {
        left: 1.2rem;
        top: 1.2rem !important;
      }
    }

    label:hover,
    input:checked + label {
      background-color: $color-light;
    }
  }
}
