@mixin ubuntu-p-active-reveal {
  .p-active-reveal {
    .p-active-reveal__item {
      display: none;
      margin-top: 0;
    }

    .p-active-reveal__switch:checked ~ .p-active-reveal__item {
      display: block;
    }
  }
}
