@mixin ubuntu-p-ua-subscribe {
  // The default card padding.
  $card-padding: calc(#{$spv-inner--large} - 1px);

  // Apply the grid to the direct parent of the list and details elements.
  .p-subscribe__card .p-card__content {
    // Use grid to set the columns as we don't want the gutter between columns
    // so that we have room to display the scrollbar in the list.
    display: grid;
    grid-template-columns: 5fr 7fr;
  }

  .p-subscribe__list {
    position: relative;
  }

  .p-subscribe__list-scroll {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: $card-padding;
    // Position the card absolutely so that its height matches the height of the
    // details panel.
    position: absolute;
    right: 0;
    top: 0;
  }

  .p-subscribe__details {
    padding: $card-padding;
  }
}
