@mixin ubuntu-p-cards {
  @include ubuntu-card;
  @include ubuntu-card-layout;
  @include ubuntu-card-radio;
  @include ubuntu-tiered-cards;
}

@mixin ubuntu-card {
  .p-card--cloud-and-server {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#2b939c);
  }

  .p-card--internet-of-things {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#b0709d);
  }

  .p-card--desktop {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#66a2c1);
  }

  .p-card--canonical-announcements {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#ff8936);
  }
}

@mixin ubuntu-card-layout {
  .p-card--layout {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    display: flex;
    flex-direction: column;

    .p-card__header {
      @extend %vf-pseudo-border--bottom;
    }

    .p-card__main {
      padding-top: calc(#{$spv--large} - 1px);
    }

    .p-card__footer {
      margin-top: auto;
    }
  }
}

@mixin ubuntu-card-radio {
  .radio-wrapper--staggering {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .image-wrapper {
      height: 48px;
      margin-bottom: 2.4rem;
    }

    + .radio-wrapper--staggering {
      border-top: solid 1px #d9d9d9;
      padding-top: 1.5rem;
    }

    @media only screen and (min-width: $breakpoint-medium) {
      display: flex;

      > div {
        flex: 1 1 0;
      }

      span.p-radio__label {
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;
      }

      + .radio-wrapper--staggering {
        border-top: unset;
        padding-top: unset;
      }
    }
  }

  .radio-wrapper--stacking {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint-medium) {
      column-gap: 1.5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .p-card--radio--support {
    @extend .p-card--radio;

    > label {
      font-weight: 400;

      > small {
        font-weight: normal;
      }
    }

    > img {
      height: 60px;
      margin: 0 auto;
      max-height: none;
      width: 60px;
    }

    > p {
      text-align: center;
    }
  }

  .p-card--radio--column {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    padding-top: 1.5rem;
    position: relative;

    > label {
      font-weight: 700;
    }

    > span > i {
      margin-right: 0.8rem;
    }

    > * {
      margin-bottom: 0;
      padding: 1rem;
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      }
    }

    @media screen and (min-width: $breakpoint-large) {
      border: none;
      padding: 0;
      > label {
        font-weight: inherit;
      }
    }

    &.is-selected {
      background-color: $color-light;
    }

    .inner-label {
      height: 116px;
      margin-left: 1rem;
      text-align: left;

      > .p-radio__label {
        @extend .p-heading--2;
      }
    }

    > .p-radio {
      margin: 0;
      max-width: none;
      padding: 0;
      position: initial;
      text-indent: 0;
      width: 100%;

      &::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      > .p-radio__label {
        padding: 0;

        &::after,
        &::before {
          content: none;
        }
      }

      hr {
        margin-top: -1px;
      }

      small {
        display: block;
      }
    }
  }

  .p-card--radio {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    background: transparent;
    cursor: pointer;
    position: relative;

    &:hover,
    &.is-selected {
      background-color: $color-light;
    }

    .p-card__title {
      align-items: baseline;
      display: flex;
      justify-content: space-between;
    }

    img {
      display: block;
      margin: 1.2rem auto 0;
      max-height: 48px;
      max-width: 100%;
      pointer-events: none;
      width: auto;
    }

    > .p-radio {
      margin: 0;
      max-width: none;
      padding: 0;
      position: initial;
      text-indent: 0;
      width: 100%;

      &::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      > .p-radio__label {
        padding: 0;
        &::after,
        &::before {
          content: none;
        }
      }

      small {
        display: block;
      }
    }

    &.is-selected .p-radio::before {
      border: 0.1875rem solid #2e96ff;
      outline: none;
    }
  }

  .p-card--radio--version {
    @extend .p-card--radio;

    padding: 3rem 1rem;

    h4 {
      margin: 0;
    }
  }

  .p-card--radio--feature {
    @extend .p-card--radio;

    span {
      margin-top: auto;
      padding-left: 2rem;
      position: relative;

      &::before,
      &::after {
        background: white;
        border-radius: 50%;
        content: "";
        position: absolute;
        transition-duration: 0.333s;
        transition-property: background-color, border-color;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::before {
        border: solid 1px #0000008f;
        border-radius: 50%;
        height: 1rem;
        left: 0;
        margin-right: 1rem;
        outline-offset: 1px;
        top: 0.2rem;
        width: 1rem;
      }
      &::after {
        height: 0.375rem;
        left: 0.3125rem;
        top: 0.5rem;
        width: 0.375rem;
      }
    }

    .p-radio {
      span {
        height: 100%;
        text-align: left;
      }
    }

    &.is-selected span::before {
      background-color: #06c;
      border-color: #06c;
    }
  }

}

// XXX: Ant - 01/02/2023
// There is a new pattern emerging across this site and has been proposed
// upstream here. Once addressed this local styling can be removed:
// https://github.com/canonical/vanilla-framework/issues/4640
@mixin ubuntu-tiered-cards {
  %tiered-padding {
    @extend %section-padding--default;

    padding: $spv--small $sph--large;
  }

  .p-tiered {
    &-cards {
      grid-gap: 0 !important;
    }

    &-card--low {
      @extend %tiered-padding;

      background-color: $color-light;
    }

    &-card--medium {
      @extend %tiered-padding;

      background-color: $color-mid-dark;
      color: $color-x-light;
    }

    &-card--high {
      @extend %tiered-padding;

      background-color: $color-x-dark;
      color: $color-x-light;
    }
  }
}
