.l-sticky-header {
  position: sticky;
  top: 0;
  z-index: 40;
}

$announcement-bar-close-width: $sp-xxx-large;

.announcement-bar {
  align-items: center;
  background-color: #000;
  color: $colors--dark-theme--text-default;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: sticky;
  text-align: center;

  .p-icon--information {
    background-image: vf-icon-info-url($color-ubuntu);
    flex-shrink: 0;
    margin-top: $sp-medium;
  }

  &__grid {
    min-height: $sp-xxx-large;

    @media (max-width: ($viewport-threshold - 1)) {
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-wrap: nowrap;
    gap: $sph--small;

    &-reverse {
      flex-direction: row-reverse;
    }
  }

  &__message {
    margin: 0;
    max-width: fit-content;
    padding: 0;
    padding-top: $spv--medium;
    padding-bottom: $spv--medium;
    text-align: start;

    @media (max-width: ($viewport-threshold - 1)) {
      margin-right: $sp-xxx-large;
    }

    &-title {
      padding-left: $sp-small;
    }

    &-main {
      padding-left: $sp-x-large;

      @media (max-width: ($viewport-threshold - 1)) {
        padding-top: 0;
      }

      @media (min-width: $viewport-threshold) {
        padding-left: $sp-small;
        margin-left: -$sp-medium;
      }
    }
  }

  &__close {
    align-items: center;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: $announcement-bar-close-width;
    height: $announcement-bar-close-width;

    @media (max-width: ($viewport-threshold - 1)) {
      position: absolute;
      top: $sp-small;
      right: $sp-medium;
    }

    @media (min-width: $viewport-threshold) {
      margin-right: -$sp-large !important;
    }
  }
}
