// legacy for reference
// TODO delete when the react table is looking ok
.p-table--cube {
  th,
  td {
    &:nth-child(1) {
      overflow: visible;
      width: 4%;
    }

    &:nth-child(2) {
      width: 5%;

      img {
        height: 3rem;
        margin-top: 0.25rem;
      }
    }

    &:nth-child(3) {
      width: 27%;
    }

    &:nth-child(4) {
      width: 32%;
    }

    &:nth-child(5) {
      width: 13%;

      @media only screen and (max-width: $breakpoint-medium) {
        i,
        small {
          display: none !important;
        }
      }
    }

    &:nth-child(6) {
      width: 19%;
    }
  }

  &.is-passed {
    th,
    td {
      &:nth-child(1) {
        width: 4%;
        @media only screen and (max-width: $breakpoint-small) {
          width: 6%;
        }
      }

      &:nth-child(2) {
        width: 5%;
        img {
          height: 3rem;
          margin-top: 0.25rem;
        }
      }

      &:nth-child(3) {
        width: 70%;
        @media only screen and (max-width: $breakpoint-small) {
          width: 40%;
        }
      }

      &:nth-child(4) {
        width: 17%;
      }
    }
  }
}

.p-table--cube__contents {
  @media only screen and (max-width: $breakpoint-medium) {
    > p,
    h5 {
      padding-top: 0;
    }

    > a {
      margin-left: 0 !important;
      width: 100%;
    }
  }

  @media only screen and (min-width: $breakpoint-medium) {
    padding-top: 1rem;

    > p,
    h5 {
      margin: 0;
      padding: 0;
    }

    > a {
      margin-top: -0.5rem;
    }

    li:first-of-type {
      margin-top: 0;
      padding-top: 0;
    }

    li:last-of-type {
      padding-bottom: 1rem;
    }
  }
}

// styles for the react table (don't delete those)
.p-table--cube--grid {
  @media only screen and (min-width: $breakpoint-medium) {
    tr {
      column-gap: 1rem;
      display: grid;
      grid-template-columns: 1.6rem 3rem 2fr 2fr 1fr 1.4fr;

      td {
        padding-top: 1rem;

        &.p-table--cube--grid__module-logo {
          padding: 0.5rem 0;
        }

        li:first-of-type {
          padding-top: 0;
        }

        li:last-of-type {
          padding-bottom: 1rem;
        }

        a:not(:first-of-type) {
          margin-left: 1rem;
        }
      }
    }
  }

  @media only screen and (max-width: $breakpoint-medium) {
    tr {
      td {
        a:not(:first-of-type) {
          margin-left: 1rem;
        }
      }
    }
  }
}
