@mixin ubuntu-p-inline-images {
  @include vf-p-inline-images;

  .p-inline-images {
    &__item--smaller {
      margin: $sp-medium;
      max-width: 7.25rem;
    }

    &--smaller {
      &__item {
        margin: 1rem;
        max-height: inherit;
        max-width: inherit;

        @media only screen and (min-width: $breakpoint-medium) {
          margin: 1.875rem;
        }
      }

      img {
        max-height: map-get($icon-sizes, thumb--small);
        max-width: 5rem;
        width: auto;

        @media screen and (min-width: $breakpoint-medium) {
          max-height: 3.5rem;
          max-width: 7rem;
        }
      }
    }
  }

  // XXX Peter Mahnke 2018-03-01
  // Extension of the inline images to add logo support
  // This should be proposed up to vanilla-brochure-theme once approved
  // see https://github.com/vanilla-framework/vanilla-framework/issues/1605
  .p-inline-images__logo {
    max-height: $sp-xxx-large;
    width: auto;

    &[src*="svg"] {
      max-width: 7rem;
      min-width: 3rem;

      @media only screen and (min-width: $breakpoint-medium) {
        max-width: 9rem;
        min-width: 5rem;
      }
    }

    @media only screen and (min-width: $breakpoint-medium) {
      max-height: 5.5rem;
    }
  }
}
