@mixin ubuntu-p-engage-form {
  .p-engage-form {
    align-self: start;
    position: sticky;
    top: $spv--strip-regular; // Account for navigation
    z-index: 1;
    overflow-y: visible;

    &.is-scrollable {
      max-height: calc(100vh - #{$spv--strip-regular});
      overflow-y: auto;
    }
  }

  .p-engage-form-col {
    max-height: calc(100vh - #{$spv--strip-regular});
    overflow-y: auto;
  }

  // reorder form above body content on smaller screens
  @media only screen and (max-width: $breakpoint-large) {
    .p-engage-form,
    .p-engage-form-col {
      order: -1;
      // disable custom form behavior when stacked
      position: static;
      max-height: none;
      overflow-y: visible;
    }

    .p-engage-body,
    .p-engage-body-col {
      order: 0;
    }
  }
}

@mixin ubuntu-p-engage {
  .p-engage-webinar {
    background: #f3f3f3;
  }
  .p-engage-webinar__container {
    background: #f3f3f3;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .p-engage-page-hero {
    @media only screen and (max-width: $breakpoint-large) {
      padding-bottom: 0;
    }
  }

  .p-engage-image-container {
    max-height: 240px;
  }

  .p-engage-image-container--dark {
    background-color: #262626;
  }

  .p-engage-page-content > :last-child {
    padding-bottom: $spv--strip-deep * 0.5;

    @media (min-width: $breakpoint-large) {
      padding-bottom: $spv--strip-deep;
    }
  }

  @include ubuntu-p-engage-form;

  .p-enage-menu-nojs-buttons {
    align-items: flex-end;
    display: flex;
  }
}
