@mixin ubuntu-p-cve {
  .cve-status-box,
  .cve-status-box--highlight {
    @extend .p-card;

    margin-bottom: $sp-small;
  }

  .cve-status-box--highlight {
    background-color: $color-brand;
    border: none;
    color: $color-x-light;
  }

  .u-overflow-inherit {
    overflow-x: inherit !important;
  }

  .cve-table {
    @extend %small-text;
    @media only screen and (max-width: $breakpoint-small) {
      overflow-x: auto;
    }
  }

  .cve-table thead th {
    word-wrap: break-word;
    @media only screen and (max-width: $breakpoint-small) {
      &:nth-child(1) {
        background-color: #fff;
        left: 0;
        position: sticky;
        z-index: 1;
      }
    }
  }
  .cve-table thead tr {
    border-bottom: 0;
  }
  .cve-table tbody tr {
    border-top: 0;
  }

  .cve-table td {
    border-top: 1px solid $color-mid-light;
    position: relative;
    word-wrap: break-word;
  }

  .cve-table-cell-id {
    @media only screen and (max-width: $breakpoint-small) {
      &:nth-child(1) {
        background-color: #fff;
        border-top: none;
        -moz-box-shadow: inset -1px 1px #d9d9d9;
        -webkit-box-shadow: inset -1px 1px #d9d9d9;
        box-shadow: inset -1px 1px #d9d9d9;
        left: 0;
        position: sticky;
        z-index: 1;
      }
    }
  }

  .cve-table .cve-table-cell {
    border-top: 0;
    overflow: visible;
  }

  .cve-table .icon-cve-info {
    margin: 0;
    position: absolute !important;
    right: 0;
    top: 6px;
  }

  .cve-table .icon-container__text {
    width: 100%;
  }
  .cve-table-cell-priority .icon-container__text {
    @media only screen and (min-width: $breakpoint-medium) {
      width: calc(100% - 1.5rem);
    }
  }

  .cve-table .p-icon--information {
    background-color: #fff;
    opacity: 0.8;
  }

  .cve-table-cell .p-icon--information {
    visibility: hidden;
  }

  .cve-table-cell:hover .p-icon--information {
    visibility: visible;
  }

  .cve-tooltip {
    background: #fff;
    border: 1px solid #b0b0b0;
    box-shadow: 0 0 3px #b0b0b0;
    color: #111;
    padding: 10px;
    position: absolute;
    top: 27px;
    transform: translateX(-125px);
    width: 272px;
    z-index: 1;
  }

  .cve-table-cell .cve-tooltip {
    display: none;
  }

  .cve-table-cell:hover .p-icon--information:hover + .cve-tooltip {
    display: block;
  }

  .cve-table .icon-container__icon {
    position: relative;
  }

  .cve-table .esm-info {
    display: block;
    float: left;
    font-size: 0.6rem;
    line-height: 0.7rem;
    margin: 0;
    padding: 0.2rem 0 0 0;
    width: 100%;
  }

  .cve-tooltip .arrow-up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    left: calc(50% - 13px);
    position: absolute;
    width: 0;
  }

  .cve-tooltip .arrow-up.front {
    border-bottom: 10px solid #fff;
    top: -9px;
  }

  .cve-tooltip .arrow-up.back {
    border-bottom: 10px solid #b0b0b0;
    top: -10px;
  }

  .cve-table-cell-priority {
    @extend .cve-table-cell;

    border-top: 1px solid $color-mid-light !important;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .cve-table-cell--muted,
  .cve-table-cell.status-DNE,
  .cve-table-cell.status-not-affected {
    @extend .cve-table-cell;

    color: $color-mid-dark;
  }

  .cve-color-strip {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    left: 0.5rem;
    position: absolute;
    top: -1px;
    width: calc(100% - 0.5rem);
  }

  .cve-color-strip--dne {
    @extend .cve-color-strip;

    border-bottom-color: $color-mid-light;
  }

  .cve-color-strip--needs-triage {
    @extend .cve-color-strip;

    border-bottom-color: #a6761d;
  }

  .cve-color-strip--not-affected {
    @extend .cve-color-strip;

    border-bottom-color: $color-mid-light;
  }

  .cve-color-strip--needed {
    @extend .cve-color-strip;

    border-bottom-color: #e7298a;
  }

  .cve-color-strip--deferred {
    @extend .cve-color-strip;

    border-bottom-color: #7570b3;
  }

  .cve-color-strip--ignored {
    @extend .cve-color-strip;

    border-bottom-color: #d95f02;
  }

  .cve-color-strip--pending {
    @extend .cve-color-strip;

    border-bottom-color: #1b9e77;
  }

  .cve-color-strip--released {
    @extend .cve-color-strip;

    border-bottom-color: #66a61e;
  }

  .cve-landing {
    .p-inline-list {
      margin-top: 0.3rem;
    }
  }

  .cve-results {
    display: flex;
    justify-content: space-between;

    .p-text--small-caps {
      display: inline-flex;
    }

    .p-form {
      display: flex;
      gap: 2.5rem;
    }

    .p-form__group {
      margin-left: auto;
      margin-right: 0;
    }

    .p-form__control {
      max-width: fit-content;
      min-width: 0;
      padding-right: 1rem;
    }
  }

  .cve-card-header {
    margin-bottom: 1.1rem;
    padding-top: 0.4rem;

    h2 {
      display: inline;
      padding-top: 0;
    }

    #priority-icon {
      float: inline-end;
    }
  }

  .cve-pagination-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .cve-pagination-footer-links {
    display: flex;
    gap: inherit;

    a {
      margin-top: 0.4rem;
    }

    @media screen and (max-width: $breakpoint-small - 1) {
      flex-direction: column;
      gap: 1rem;
    }

    .p-form__control {
      max-width: fit-content;
      min-width: 0;
      padding-right: 1rem;
    }
  }

  #cve-search-button {
    @media screen and (min-width: $breakpoint-small) {
      margin-top: 2.6rem;
      width: 100%;
    }
  }

  .cve-filters {
    .p-side-navigation {
      #tab1-section {
        margin-top: 1rem;
      }

      #affectedPackages {
        width: auto;
      }
    }

    .p-icon--chevron-down {
      margin-right: 1rem;
    }
  }
}
