@mixin ubuntu-p-cube-hero {
  .p-strip.p-cube-hero {
    .p-cube-hero--content {
      margin-top: 2rem;
    }

    @media (min-width: $breakpoint-large) {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;

      .p-cube-hero--content {
        margin-top: -2rem;
      }
    }
  }
}
