@mixin ubuntu-p-cve {
  .cve-status-box,
  .cve-status-box--highlight {
    @extend .p-card;

    margin-bottom: $sp-small;
  }

  .cve-status-box--highlight {
    background-color: $color-brand;
    border: none;
    color: $color-x-light;
  }

  .u-overflow-inherit {
    overflow-x: inherit !important;
  }

  .cve-table {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .cve-table thead tr {
    border-bottom: 0;
  }

  .cve-table tbody tr {
    border-top: 0;
  }

  .cve-table td {
    border-top: 1px solid $color-mid-light;
    position: relative;
  }

  .cve-table .cve-table-cell {
    border-top: 0;
    overflow: visible;
    padding-left: 0.75rem;
  }

  .cve-table .icon-cve-info {
    margin: 0 0 0 0.5rem;
  }

  .cve-table .icon-container__text {
    width: calc(100% - 3rem);
  }

  .cve-table .p-icon--information {
    opacity: 0.6;
  }

  .cve-table-cell .p-icon--information {
    visibility: hidden;
  }

  .cve-table-cell:hover .p-icon--information {
    visibility: visible;
  }

  .cve-table-cell .cve-tooltip {
    display: none;
  }

  .cve-table-cell:hover .p-icon--information:hover + .cve-tooltip {
    display: block;
  }

  .cve-table .icon-container__icon {
    position: relative;
  }

  .cve-tooltip {
    z-index: 1;
    background: #fff;
    position: absolute;
    top: 30px;
    transform: translateX(-125px);
    width: 275px;
    border: 1px solid #b0b0b0;
    padding: 10px;
    box-shadow: 0 0 3px #b0b0b0;
    color: #111;
  }

  .cve-tooltip .arrow-up {
    position: absolute;
    left: calc(50% - 13px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .cve-tooltip .arrow-up.front {
    top: -9px;
    border-bottom: 10px solid #fff;
  }

  .cve-tooltip .arrow-up.back {
    top: -10px;
    border-bottom: 10px solid #b0b0b0;
  }

  .cve-table-cell--muted {
    @extend .cve-table-cell;

    color: $color-mid-dark;
  }

  .cve-color-strip {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    left: 0.5rem;
    position: absolute;
    top: -1px;
    width: calc(100% - 0.5rem);
  }

  .cve-color-strip--dne {
    @extend .cve-color-strip;

    border-bottom-color: $color-mid-light;
  }

  .cve-color-strip--needs-triage {
    @extend .cve-color-strip;

    border-bottom-color: #a6761d;
  }

  .cve-color-strip--not-affected {
    @extend .cve-color-strip;

    border-bottom-color: $color-mid-light;
  }

  .cve-color-strip--needed {
    @extend .cve-color-strip;

    border-bottom-color: #e7298a;
  }

  .cve-color-strip--deferred {
    @extend .cve-color-strip;

    border-bottom-color: #7570b3;
  }

  .cve-color-strip--ignored {
    @extend .cve-color-strip;

    border-bottom-color: #d95f02;
  }

  .cve-color-strip--pending {
    @extend .cve-color-strip;

    border-bottom-color: #1b9e77;
  }

  .cve-color-strip--released {
    @extend .cve-color-strip;

    border-bottom-color: #66a61e;
  }
}
