// css for the p-tabs menu

@mixin ubuntu-p-tabs {
  .p-tabs__content {
    display: none;

    &:target ~ &:last-child {
      display: none;
    }

    &:last-child,
    &:target {
      display: block;
    }
  }
}
