/// homepage takeovers

@mixin ubuntu-p-takeovers {
  .p-takeover {
    &--grad,
    &--jammy,
    &--dark,
    &--k8s,
    &--snapcraft {
      @extend .p-strip;
    }
  }
}

/// engage banners takeovers

@mixin p-engage-banner($name) {
  .p-engage-banner--#{$name} {
    background-blend-mode: normal;
    @content;

    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 99.8%;
  }
}

@mixin ubuntu-p-engage-banner {
  @include p-engage-banner("grad") {
    background-color: #772953;
    background-image: linear-gradient(
      -89deg,
      #e95420 0%,
      #772953 42%,
      #2c001e 94%
    );
    color: $color-x-light;
  }

  @include p-engage-banner("k8s") {
    background-color: #326de6;
    background-image: linear-gradient(74deg, #173d8b 0%, #326de6 92%);
    color: $color-x-light;
  }

  @include p-engage-banner("dark") {
    background-color: #111;
    background-image: linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
    color: $color-x-light;
  }

  @include p-engage-banner("snapcraft") {
    background-color: #83bfa1;
    background-image: linear-gradient(134deg, #2d6162 0%, #83bfa1 100%);
    color: $color-x-light;
  }

  @include p-engage-banner("aqua") {
    background-color: #2b585d;
    background-image: linear-gradient(
      246deg,
      #47919a 0%,
      #47919a 53%,
      #2b585d 100%
    );
    color: $color-x-light;
  }
}
