@mixin ubuntu-p-sticky-nav {
  .p-sticky-nav {
    background-color: $color-light;
    border-bottom: 1px solid $color-mid-light;
    position: sticky;
    top: 0;
    z-index: 1;

    .p-tabs__link:hover::before {
      background-color: $color-brand;
    }

    .p-tabs__link.is-selected {
      @include vf-highlight-bar($color-brand, bottom, true);
    }
  
    .p-tabs__list {
      margin-bottom: 0;
      overflow: auto;
  
      &::after {
        display: none;
      }
    }
  }
}
