.p-table--component-details {
  th,
  td {
    &:nth-child(1) {
      width: 16%;
      @media only screen and (max-width: $breakpoint-medium) {
        width: 25%;
      }
      @media only screen and (max-width: $breakpoint-small) {
        width: 33%;
      }
    }

    &:nth-child(2) {
      width: 84%;
      @media only screen and (max-width: $breakpoint-medium) {
        width: 75%;
      }
      @media only screen and (max-width: $breakpoint-small) {
        width: 67%;
      }
    }
  }
}
