// Vanilla 2.32 removes internal $grid-margin-width variable,
// $grid-margin-widths map should be used instead
$grid-margin-width: map-get($grid-margin-widths, default);

$ubuntu-logo-svg-width: 5rem; // width in rems
$ubuntu-logo-width--desktop: $ubuntu-logo-svg-width + 2 * $grid-margin-width;
$ubuntu-logo-width--mobile: $ubuntu-logo-svg-width + 2 * $sph--large;

@mixin ubuntu-p-navigation {
  .dropdown-window-overlay {
    background-color: rgba(17, 17, 17, 0.4);
    height: 100%;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    z-index: 8;
  }
  .dropdown-window {
    @include vf-animation(all, brisk, in);
    background-color: $color-x-light;
    box-shadow: 0 1px 32px 1px transparentize($color-dark, 0.8);
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 39; 
    
    &__content {
      @extend %p-strip--very-shallow;

      background-color: $color-x-light;
      color: $color-dark;

      &:last-child {
        padding-bottom: math.div($spv--x-large, 1.5);
      }

      @media (max-width: $breakpoint-x-small - 1) {
        .p-inline-list--middot.is-x-dense {
          margin-bottom: 0.3rem;
        }
      }
    }
    & .p-inline-list__item {
      @extend %small-text-fixed;

      list-style-type: none;

      &::after {
        @media only screen and (max-width: $breakpoint-medium - 1) {
          display: none;
        }
      }
    }
  }
  .slide-animation {
    transform: translateY(-101%);
  }
  .fade-animation {
    opacity: 0;
    visibility: hidden;
  }
}
@mixin ubuntu-p-navigation-reduced {
  .p-navigation.is-reduced {
    @extend %small-text;
    margin-bottom: 0;
    .p-navigation__user {
      
      .p-navigation__link span{
        display: none;
      }

      @media (min-width: $breakpoint-large) {
        .p-navigation__link span{
          display: initial;
          padding-right: 0.5rem;
        }
      }
    }
  
    .p-navigation__banner{
      background-color: #111111;

      .p-navigation__tagged-logo {
        .p-navigation__link {
          color: $color-mid-light;
          padding-left: 0;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }
    }
    .p-navigation__item {
      .p-navigation__link{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: $color-mid-light;
      }
    }
    .p-navigation__link--search-toggle {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      &::after {
        top: 0.75rem;
        color: $color-mid-light;
      }
    }
    
    @media (min-width: $breakpoint-navigation-threshold) {
      background-color: $color-dark;
      margin-bottom: 0;

      .p-navigation__item {
        color: $color-mid-light;
      }
      .p-navigation__banner {
        .p-navigation__tagged-logo{
          .p-navigation__link {
            padding: 0.5rem 0 0.5rem 0;
          }
        }
      }

      .p-navigation__link {
        color: $color-mid-light;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        transition: none;
      }
      .p-navigation__link--search-toggle {
        padding: 0.5rem 2rem 0.5rem 0;
        line-height: 1rem;
        color: $color-mid-light;
        &::after {
          top: 0.5rem;
          color: $color-mid-light;
        }
      }
      .p-navigation__item--dropdown-toggle {
        &::after {
          top: 0.5rem;
        }
        &.is-selected{
          background-color: rgba(255,255,255,.1);
          &::after {
            transform: rotate(180deg);
          }
          .p-navigation__link {
            color: $color-x-light;
          }
          .p-navigation__link::before {
            display: none;
          }
        }
      }

      .p-navigation__dropdown--right {
        top: 2rem;
      }
    }
  }
}
