@mixin ubuntu-p-table-of-contents {
  .p-table-of-contents {
    @media only screen and (max-width: $breakpoint-navigation-threshold) {
      padding-left: 0;
    }
  }

  .p-sticky-toc {
    @media (max-width: $breakpoint-small - 1px) {
      order: -1;
    }

    .p-table-of-contents {
      position: sticky;
      top: 1rem;
    }
  }
}
