// Pull quote styling
@mixin ubuntu-p-testimonials {
  %blockquote {
    border: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-left: $sp-x-large;
    padding-right: $sp-large;
    position: relative;
    quotes: '\201c' '\201d';
  }

  %image {
    align-self: center;
    border-radius: 50%;
    margin-bottom: $sp-medium;
  }

  %quotes {
    color: $color-brand;
    font-size: $sp-x-large;
    font-weight: bold;
    line-height: 0;
    max-width: $sp-large;
  }

  %quote {
    padding-bottom: $sp-x-large;

    &:first-of-type::before {
      @extend %quotes;
      content: open-quote;
      margin-left: -$sp-large;
      margin-top: $sp-medium;
      position: absolute;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:last-of-type::after {
      @extend %quotes;
      content: close-quote;
      position: relative;
      right: -$sp-x-small;
      top: $sp-x-small;
    }
  }

  %citation-wrap {
    align-self: flex-end;
    display: flex;
    line-height: 1.4;
    margin-top: auto;
    min-height: 4.5rem;
    width: 100%;
  }

  %citation {
    display: flex;
    font-size: $sp-medium;
    font-style: italic;
  }

  .p-testimonial {
    @extend %blockquote;
    flex-direction: column;

    &--large {
      @extend %blockquote;
      flex-direction: row;
      justify-content: space-around;
    }

    // quote
    &__quote {
      @extend %quote;
      font-size: 1.125rem;
    }

    &__quote--med {
      @extend %quote;
      font-size: 1.125rem;
    }

    &__quote--large {
      @extend %quote;
      flex: 1;
      font-size: 1.375rem;
      padding-bottom: $sp-medium;

      @media only screen and (min-width: $breakpoint-medium + 1) {
        font-size: 1$sp-x-small;
      }
    }

    // profile image
    &__image {
      @extend %image;
      max-width: 4.5rem;
    }

    &__image--large {
      @extend %image;
      display: inline-block;
      max-width: 6.25rem;

      @media only screen and (max-width: $breakpoint-medium) {
        display: block;
        margin: $sp-x-small auto 0;
        width: 4.375rem;
      }
    }

    // citation
    &__citation-wrap {
      @extend %citation-wrap;
    }

    &__citation-wrap--large {
      @extend %citation-wrap;
      align-items: center;
    }

    &__citation {
      @extend %citation;
      align-items: stretch;
    }

    &__citation--large {
      @extend %citation;
      align-items: center;
    }

    // logo
    &__logo {
      align-self: flex-start;
      margin-right: $sp-medium;
      max-height: $sp-xx-large;
      max-width: 6.25rem;
    }
  }
}
