/// homepage takeovers

@mixin p-takeovers($name) {
  .p-takeover--#{$name} {
    @extend %vf-strip;

    @content;

    align-items: center;
    background-blend-mode: multiply, multiply, normal, normal;
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
    display: flex;
    // 9 + 6 + 20em (default takeover)
    height: 35rem;
    justify-content: flex-start;
    margin: 0;

    @media (max-width: $breakpoint-medium) {
      background-position: top right, top left, right bottom -1px, left top;
      background-repeat: no-repeat;
      background-size: 135% 97.83%, 148% 83%, 119% 13%, 100% 99.83%;
      padding-bottom: 8rem;
      padding-top: 4rem;
    }

    h1 {
      padding-top: 0;
    }

    .u-align--left-medium {
      @media (max-width: $breakpoint-medium) {
        justify-content: left !important;
        padding: $spv--large 0 ($spv--large * 2) 0;
        text-align: left !important;
      }
    }
  }
}

@mixin ubuntu-p-takeovers {
  @include p-takeovers("grad") {
    background-color: #772953;
    background-image: linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 0.16) 0,
        rgba(119, 41, 83, 0.16) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.5) 0,
        rgba(228, 228, 228, 0.5) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgba(119, 41, 83, 0.16) 0,
          rgba(119, 41, 83, 0.16) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to bottom right,
          rgba(228, 228, 228, 0.1) 0,
          rgba(228, 228, 228, 0.1) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to top left,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49.3%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
    }

    color: $color-x-light;
  }

  @include p-takeovers("k8s") {
    background-color: #326de6;
    background-image: linear-gradient(
        to bottom left,
        rgba(21, 58, 138, 0.16) 0,
        rgba(21, 58, 138, 0.16) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(50, 109, 230, 0.5) 0,
        rgba(50, 109, 230, 0.5) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(74deg, #173d8b 0%, #326de6 92%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgba(21, 58, 138, 0.16) 0,
          rgba(21, 58, 138, 0.16) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to bottom right,
          rgba(50, 109, 230, 0.1) 0,
          rgba(50, 109, 230, 0.1) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to top left,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49.3%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(74deg, #173d8b 0%, #326de6 92%);
    }

    color: $color-x-light;
  }

  @include p-takeovers("dark") {
    background-color: #111;
    background-image: linear-gradient(
        to bottom left,
        rgba(216, 216, 216, 0.54) 0,
        rgba(216, 216, 216, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.54) 0,
        rgba(228, 228, 228, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgba(216, 216, 216, 0.14) 0,
          rgba(216, 216, 216, 0.14) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to bottom right,
          rgba(228, 228, 228, 0.14) 0,
          rgba(228, 228, 228, 0.14) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to top left,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49.3%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
    }

    color: $color-x-light;
  }

  @include p-takeovers("snapcraft") {
    background-color: #83bfa1;
    background-image: linear-gradient(
        to bottom left,
        rgba(74, 131, 125, 0.16) 0,
        rgba(74, 131, 125, 0.16) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(63, 120, 115, 0.08) 0,
        rgba(63, 120, 115, 0.08) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(134deg, #2d6162 0%, #83bfa1 100%);
    color: $color-x-light;
  }

  @include p-takeovers("aqua") {
    background-color: #2b585d;
    background-image: linear-gradient(
        to bottom left,
        rgba(71, 145, 154, 0.16) 0,
        rgba(71, 145, 154, 0.16) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(71, 145, 154, 0.16) 0,
        rgba(71, 145, 154, 0.16) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(246deg, #47919a 0%, #47919a 53%, #2b585d 100%);
    color: $color-x-light;
  }
}

/// engage banners takeovers

@mixin p-engage-banner($name) {
  .p-engage-banner--#{$name} {
    background-blend-mode: normal;
    @content;

    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 99.8%;
  }
}

@mixin ubuntu-p-engage-banner {
  @include p-engage-banner("grad") {
    background-color: #772953;
    background-image: linear-gradient(
      -89deg,
      #e95420 0%,
      #772953 42%,
      #2c001e 94%
    );
    color: $color-x-light;
  }

  @include p-engage-banner("k8s") {
    background-color: #326de6;
    background-image: linear-gradient(74deg, #173d8b 0%, #326de6 92%);
    color: $color-x-light;
  }

  @include p-engage-banner("dark") {
    background-color: #111;
    background-image: linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
    color: $color-x-light;
  }

  @include p-engage-banner("snapcraft") {
    background-color: #83bfa1;
    background-image: linear-gradient(134deg, #2d6162 0%, #83bfa1 100%);
    color: $color-x-light;
  }

  @include p-engage-banner("aqua") {
    background-color: #2b585d;
    background-image: linear-gradient(
      246deg,
      #47919a 0%,
      #47919a 53%,
      #2b585d 100%
    );
    color: $color-x-light;
  }
}
