@mixin ubuntu-p-cube-image {
  .u-image-position.is-grid-pinned {
    overflow: visible;

    .row {
      padding: 0;
      position: relative;
    }

    .u-image-position--left {
      position: absolute;
      transform: translateX(-100%);
      z-index: 50;

      &.with-overlap--top {
        transform: translate(-100%, -50%);
      }
    }
    .u-image-position--right {
      position: absolute;
      transform: translateX(100%);

      &.with-overlap--top {
        transform: translate(100%, -50%);
      }
    }
  }
}
