@mixin ubuntu-p-tables {
  tr {
    th {
      padding-top: $spv-inner--small;
    }

    .p-table__cell--highlight {
      background: $color-x-light;
      padding: $spv-inner--small $sph-inner--small;
    }
  }
}
