@mixin ubuntu-p-cve {
  .cve-status-box,
  .cve-status-box--highlight {
    @extend .p-card;

    margin-bottom: $sp-small;
  }

  .cve-status-box--highlight {
    background-color: $color-brand;
    border: none;
    color: $color-x-light;
  }

  .cve-table thead tr {
    border-bottom: 0;
  }

  .cve-table tbody tr {
    border-top: 0;
  }

  .cve-table td {
    border-top: 1px solid $color-mid-light;
    position: relative;
  }

  .cve-table .cve-table-cell {
    border-top: 0;
    overflow: visible;
  }

  .cve-table-cell--muted {
    @extend .cve-table-cell;

    color: $color-mid-dark;
  }

  .cve-color-strip {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    position: absolute;
    top: -1px;
    width: calc(100% - 0.5rem);
  }

  .cve-color-strip--dne {
    @extend .cve-color-strip;

    border-bottom-color: $color-mid-light;
  }

  .cve-color-strip--needs-triage {
    @extend .cve-color-strip;

    border-bottom-color: #a6761d;
  }

  .cve-color-strip--not-affected {
    @extend .cve-color-strip;

    border-bottom-color: $color-mid-light;
  }

  .cve-color-strip--needed {
    @extend .cve-color-strip;

    border-bottom-color: #e7298a;
  }

  .cve-color-strip--deferred {
    @extend .cve-color-strip;

    border-bottom-color: #7570b3;
  }

  .cve-color-strip--ignored {
    @extend .cve-color-strip;

    border-bottom-color: #d95f02;
  }

  .cve-color-strip--pending {
    @extend .cve-color-strip;

    border-bottom-color: #1b9e77;
  }

  .cve-color-strip--released {
    @extend .cve-color-strip;

    border-bottom-color: #66a61e;
  }
}
