@mixin ubuntu-p-heading-icon {
  .p-heading-icon--muted {
    .p-heading-icon__header {
      margin-bottom: map-get($sp-after, small) - map-get($nudges, nudge--small);
    }

    .p-heading-icon__title {
      @extend %muted-heading;

      align-items: center;
      display: flex;
      line-height: 1.875rem;
      margin-bottom: 0;
    }
  }

/// temp style until this issue has been addressed: https:github.com/canonical/vanilla-framework/issues/4678
  .p-heading-icon__img--small {
    align-self: center;
    height: auto;
    margin-bottom: 0;
    margin-top: 0.25rem;
    max-width: 2rem;
  }

  .p-heading-icon--long {
    .p-heading-icon__img {
      width: auto;
      height: 2rem;
    }

    .p-heading-icon__title {
      @extend .p-heading--5;
      margin-top: 1.5rem;
    }

  }

}
