@mixin vf-icon-calendar($color) {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' height='90' width='90'%3E%3Cstyle%3E.st1%7Bfill:currentColor%7D%3C/style%3E%3Cpath d='M0 962.4h90v90H0v-90z' fill='none' transform='translate%280 -962.36%29'/%3E%3Cpath class='st1' d='M35.9 968.4v9c0 4.8-4.1 8.9-8.9 8.9s-8.9-4.1-8.9-8.9v-8.5C7.6 969.9 6 973.6 6 986.4v42c0 18 3 18 30 18h18c27 0 30 0 30-18v-42c0-12.8-1.6-16.5-12.1-17.5v8.5c0 4.8-4.1 8.9-8.9 8.9s-8.9-4.1-8.9-8.9v-9H35.9zm.1 24h18c24 0 24 0 24 12v24c0 12 0 12-24 12H36c-24 0-24 0-24-12v-24c0-12 0-12 24-12z' transform='translate%280 -962.36%29'/%3E%3Cpath class='st1' d='M27 962.4c1.7 0 3 1.3 3 3v12c0 1.7-1.3 3-3 3s-3-1.3-3-3v-12c0-1.7 1.3-3 3-3zM63 962.4c1.7 0 3 1.3 3 3v12c0 1.7-1.3 3-3 3s-3-1.3-3-3v-12c0-1.7 1.3-3 3-3zM33.3 1001.4c-1.8 0-3.5.4-5.1 1.1-1.5.7-2.9 1.6-4.1 2.7l-.4.3 3.1 4.3.5-.5c.2-.2.4-.4.8-.7.3-.3.7-.6 1.2-.9s1-.5 1.6-.7 1.2-.3 1.9-.3c1 0 1.9.3 2.6.8.6.5 1 1.2 1 2.5 0 .6-.1 1.1-.3 1.6s-.6 1.1-1 1.6-.9 1.1-1.5 1.7l-1.8 1.8c-.8.8-1.7 1.6-2.5 2.4s-1.6 1.7-2.3 2.7-1.3 2-1.7 3.2c-.4 1.1-.6 2.4-.6 3.7v1.5l.1.5h18.6v-5.2h-12c.1-.1.1-.2.2-.4.3-.5.7-1 1.2-1.6.5-.5 1-1.1 1.5-1.6.5-.6 1-1 1.4-1.4l2.4-2.4c.8-.8 1.5-1.7 2.2-2.6s1.2-1.8 1.6-2.8.6-2 .6-3.1c0-2.5-.8-4.6-2.3-6.1-1.5-1.4-3.8-2.1-6.9-2.1zm16.7.6v.5c-.1 2.3-.2 4.6-.4 6.9s-.4 4.7-.7 7.2l-.1.6h.6c2.2 0 4 .1 5.4.4 1.4.2 2.5.6 3.3 1s1.3.9 1.6 1.5.5 1.3.5 2.1c0 .5-.1 1-.3 1.5-.2.4-.5.8-.9 1.1s-.9.6-1.6.8-1.5.3-2.5.3c-1.5 0-2.7-.1-3.7-.4s-1.8-.6-2.3-.8l-.6-.3-1.2 5.2.4.2c.3.2.7.3 1.3.5s1.2.3 1.8.4c.7.2 1.4.3 2.2.4s1.5.2 2.3.2c1.8 0 3.4-.2 4.8-.7s2.6-1.1 3.5-1.9 1.6-1.8 2.1-3c.5-1.1.7-2.4.7-3.7 0-2.9-1-5.2-3-6.9-1.9-1.6-4.8-2.5-8.4-2.8 0-.3.1-.5.1-.8.1-.5.1-1.1.1-1.7.1-.6.1-1.1.1-1.7 0-.4.1-.7.1-1h10.1v-5.2l-15.3.1z' transform='translate%280 -962.36%29'/%3E%3C/svg%3E");
}

@mixin blog-p-icons {
  .p-icon--calendar {
    @extend %icon;
    @include vf-icon-calendar($color-dark);
  }
}

@mixin ubuntu-p-attention-icon {
  .p-icon--attention {
    background: transparent;
    height: 32px;
    position: relative;
    width: 32px;

    &::before,
    &::after {
      background: transparent;
      border: 1px solid #666;
      border-radius: 100%;
      bottom: 0;
      content: "";
      height: 32px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      visibility: hidden;
      width: 32px;
    }

    &::before {
      animation: scaleUp 1.4s infinite ease-in-out;
    }

    &::after {
      animation: scaleUp 1.4s 0.7s infinite ease-in-out;
    }

    @keyframes scaleUp {
      0% {
        opacity: 1;
        transform: scale(0.1, 0.1);
        visibility: visible;
      }

      70% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        transform: scale(1, 1);
      }
    }
  }
}
