@mixin ubuntu-p-table-of-contents {
  .p-table-of-contents {
    .p-accordion {
      &__group {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: flex-end;
        &::after {
          height: 0;
        }
      }

      &__tab {
        background-position: 0;
        height: 1rem;
        margin-right: 4px;
        padding: 0;
        width: 1rem;
      }

      &__panel {
        flex-basis: 100%;
        margin-left: 1rem;
        padding-left: 1rem;
      }
    }

    @media only screen and (max-width: $breakpoint-navigation-threshold) {
      padding-left: 0;
    }
  }

  .p-sticky-toc {
    @media (max-width: $breakpoint-small - 1px) {
      margin-bottom: 2rem;
      order: -1;
    }

    .p-table-of-contents {
      position: sticky;
      top: 1rem;

      @media (max-width: $breakpoint-small - 1px) {
        border-bottom: 1px solid $color-mid-light;
        border-top: 0;
      }
    }

    .p-table-of-contents__section {
      @media (max-width: $breakpoint-small - 1px) {
        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 1.5rem;
        }
      }
    }
  }
}
