@mixin ubuntu-p-contact-modal {
  .p-modal--generated,
  #contact-modal {
    &.p-modal {
      align-items: start;
      position: fixed;
      z-index: 100;

      .p-modal__dialog {
        margin-bottom: 0;

        @media (min-width: $breakpoint-medium + 100px) {
          max-width: $breakpoint-medium;
          min-width: $breakpoint-medium;
        }
      }

      .p-modal__header {
        border-bottom: 1px solid $color-mid-light;
        margin-bottom: $spv--medium;

        &::after {
          // Remove the bottom border from the title.
          display: none;
        }
      }

      .p-modal__title {
        margin-bottom: $spv--small;
      }

      &.thank-you {
        /* stylelint-disable-next-line no-descending-specificity */
        .p-modal__title {
          opacity: 0;
        }

        /* stylelint-disable-next-line no-descending-specificity */
        .p-modal__header {
          border-bottom: 0;

          /* stylelint-disable-next-line no-descending-specificity */
          &::after {
            // Remove the bottom border from the title.
            display: none;
          }
        }
      }

      @media only screen and (min-width: $breakpoint-medium) {
        .u-align {
          padding-bottom: 70px;
        }

        .pagination__link--next,
        .pagination__link--previous {
          margin-bottom: 0;
        }
      }
    }
  }
}
