@mixin ubuntu-p-strip {
  @include ubuntu-p-strip;
}

@mixin ubuntu-p-strip {
  [class^='p-strip'].is-x-shallow {
    padding: 1.5rem 0;
  }

  .p-strip {
    overflow-x: hidden; // prevent horisontal overflow due to background images
  }
}
