@mixin ubuntu-p-cube-progression {
  $diamondSize: (
    "width": 168,
    "height": 99,
  );
  $rhombusSize: (
    "width": 169,
    "height": 195,
  );

  .p-cube-progression {
    height: 382px;
    position: relative;

    %diamond-badge {
      background-size: map-get($diamondSize, "width") * 1px
        map-get($diamondSize, "height") * 1px;
      height: map-get($diamondSize, "height") * 1px;
      position: absolute;
      width: map-get($diamondSize, "width") * 1px;
    }

    %rhombus-badge {
      background-size: map-get($rhombusSize, "width") * 1px
        map-get($rhombusSize, "height") * 1px;
      height: map-get($rhombusSize, "height") * 1px;
      position: absolute;
      width: map-get($rhombusSize, "width") * 1px;
    }

    &__badge--1 {
      @extend %diamond-badge;

      background: url(https://assets.ubuntu.com/v1/8b175afd-Architecture.svg);
    }

    &__badge--2 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/92dba1d3-bash.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 1px /4,
        map-get($diamondSize, "height") * 1px /4
      );
    }

    &__badge--3 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/0229c2b1-Devices_and_files.svg);
      transform: translate(
        map-get($rhombusSize, "width") * -1px /4,
        map-get($diamondSize, "height") * 1px /4
      );
    }

    &__badge--4 {
      @extend %diamond-badge;

      background: url(https://assets.ubuntu.com/v1/eb3be63d-Packages.svg);
      transform: translate(map-get($diamondSize, "width") * 1px, 0);
    }

    &__badge--5 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/1ab7ca08-Services.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 1.25px,
        map-get($diamondSize, "height") * 1px /4
      );
    }

    &__badge--6 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/814f47d4-Admin.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 0.75px,
        map-get($diamondSize, "height") * 1px /4
      );
    }

    &__badge--7 {
      @extend %diamond-badge;

      background: url(https://assets.ubuntu.com/v1/5e068487-Commands.svg);
      transform: translate(map-get($diamondSize, "width") * 2px, 0);
    }

    &__badge--8 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/9e2cd72d-Security.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 2.24px,
        map-get($diamondSize, "height") * 1px /4
      );
    }

    &__badge--9 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/eea43d23-Networking.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 1.74px,
        map-get($diamondSize, "height") * 1px /4
      );
    }

    &__badge--10 {
      @extend %diamond-badge;

      background: url(https://assets.ubuntu.com/v1/7b4466fe-Kernel.svg);
      transform: translate(
        map-get($diamondSize, "width") * 0.5px,
        map-get($rhombusSize, "height") * 0.74px
      );
    }

    &__badge--11 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/b78b8ce5-Microk8s.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 0.75px,
        map-get($rhombusSize, "height") * 0.87px
      );
    }

    &__badge--12 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/7bf66792-Virtualisation.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 1px /4,
        map-get($rhombusSize, "height") * 0.87px
      );
    }

    &__badge--13 {
      @extend %diamond-badge;

      background: url(https://assets.ubuntu.com/v1/090ef9e2-Storage.svg);
      transform: translate(
        map-get($diamondSize, "width") * 1.5px,
        map-get($rhombusSize, "height") * 0.74px
      );
    }
    &__badge--14 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/d1773359-Juju.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 1.74px,
        map-get($rhombusSize, "height") * 0.87px
      );
    }

    &__badge--15 {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/9cd2a2c8-MAAS.svg);
      transform: translate(
        map-get($rhombusSize, "width") * 1.25px,
        map-get($rhombusSize, "height") * 0.87px
      );
    }
  }
}
