@mixin ubuntu-p-strip {
  @include ubuntu-p-strip-slanted;
  @include ubuntu-p-strip-suru;
  @include ubuntu-p-strip-suru-background;
  @include ubuntu-p-strip-suru-blog-header;
  @include ubuntu-p-strip-suru-blog-hero;
  @include ubuntu-p-strip-suru-bottomed;
  @include ubuntu-p-strip-suru-cube;
  @include ubuntu-p-strip-suru-half-and-half;
  @include ubuntu-p-strip-suru-half-and-half-reversed;
  @include ubuntu-p-strip-suru-half-top;
  @include ubuntu-p-strip-suru-image;
  @include ubuntu-p-strip-suru-topped;
  @include ubuntu-p-strip-suru-light;
  @include ubuntu-p-strip-suru-square-darksuru;
  @include ubuntu-p-strip-suru-square-lightsuru;
  @include ubuntu-p-strip-suru-square-suru;
  @include ubuntu-p-strip-x-deep;
  @include ubuntu-p-strip-suru-shape;
  @include ubuntu-p-strip-whitesuru;
}

@mixin ubuntu-p-strip-suru {
  [class^="p-strip"].is-x-shallow {
    padding: 1.5rem 0;
  }

  .p-strip {
    overflow-x: hidden; // prevent horisontal overflow due to background images
  }

  $suru-accent: #3fc8f2;

  .p-strip--suru {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal, normal;
    background-image: linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.54) 0%,
        rgba(228, 228, 228, 0.54) 49.9%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(216, 216, 216, 0.54) 0%,
        rgba(216, 216, 216, 0.54) 49.9%,
        rgba(216, 216, 216, 0) 50%,
        rgba(216, 216, 216, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom right,
          rgba(228, 228, 228, 0.14) 0%,
          rgba(228, 228, 228, 0.14) 49.9%,
          rgba(228, 228, 228, 0) 50%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(216, 216, 216, 0.14) 0%,
          rgba(216, 216, 216, 0.14) 49.9%,
          rgba(216, 216, 216, 0) 50%,
          rgba(216, 216, 216, 0) 100%
        ),
        linear-gradient(
          to top right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(
          to top right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        ),
        linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
    }

    background-position: 0% 0%, top right, right 0 bottom 4rem, right bottom,
      0% 0%;
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 4rem), 50% 100%, 100% 4rem, 100% 4rem,
      auto;
    margin-bottom: -4rem;
    overflow: hidden;
    padding-bottom: 12rem !important;
    position: relative;

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }

    &.is-deep {
      $padding: 3rem;

      background-position: 0% 0%, top right, right 0 bottom $padding,
        right bottom, 0% 0%;
      background-size: 100% calc(100% - #{$padding}), 100% 100%, 100% $padding,
        100% $padding, auto;
      margin-bottom: -$padding;
      padding-bottom: ($padding * 3) !important;

      @media (min-width: $breakpoint-medium) {
        $padding: 6rem;

        background-position: 0% 0%, top right, right 0 bottom $padding,
          right bottom, 0% 0%;
        background-size: 100% calc(100% - #{$padding}), 50% 100%, 100% $padding,
          100% $padding, auto;
        margin-bottom: -$padding;
        padding-bottom: ($padding * 3) !important;
      }
    }
  }

  .p-strip--suru-accent {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal, normal;
    background-image: linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.54) 0%,
        rgba(228, 228, 228, 0.54) 49.9%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(216, 216, 216, 0.54) 0%,
        rgba(216, 216, 216, 0.54) 49.9%,
        rgba(216, 216, 216, 0) 50%,
        rgba(216, 216, 216, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom right,
          rgba(228, 228, 228, 0.14) 0%,
          rgba(228, 228, 228, 0.14) 49.9%,
          rgba(228, 228, 228, 0) 50%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(216, 216, 216, 0.14) 0%,
          rgba(216, 216, 216, 0.14) 49.9%,
          rgba(216, 216, 216, 0) 50%,
          rgba(216, 216, 216, 0) 100%
        ),
        linear-gradient(
          to top right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
    }

    background-position: 0% 0%, top right, right bottom, 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%, 50% 100%, 100% 4rem, auto;
    color: $color-x-light;
    padding-bottom: 6rem;
  }
}

@mixin ubuntu-p-strip-suru-topped {
  .p-strip--suru-topped {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-image: linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.5) 0%,
        rgba(228, 228, 228, 0.5) 49%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 49%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        90deg,
        rgba(60, 0, 30, 1) 4%,
        rgba(119, 41, 83, 1) 50%,
        rgba(233, 84, 32, 1) 88%
      );
    background-position: top right, top right, top left, top left;
    background-repeat: no-repeat;
    background-size: 39.4% 6rem, 54% 4rem, 63% 4rem, 62.6% 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
  }

  .p-strip--suru-topped-light {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-color: rgb(247, 247, 247);
    // sass-lint:disable-block no-color-literals
    background-image: linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.5) 0%,
        rgba(228, 228, 228, 0.5) 49%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(247, 247, 247, 0) 0%,
        rgba(247, 247, 247, 0) 49%,
        rgba(247, 247, 247, 1) 50%,
        rgba(247, 247, 247, 1) 100%
      ),
      linear-gradient(
        90deg,
        rgba(60, 0, 30, 1) 4%,
        rgba(119, 41, 83, 1) 50%,
        rgba(233, 84, 32, 1) 88%
      );
    background-position: top right, top right, top left, top left;
    background-repeat: no-repeat;
    background-size: 39.4% 6rem, 54% 4rem, 63% 4rem, 62.6% 4rem;
    padding-bottom: 4rem;
    padding-top: 6rem;
  }
}

@mixin ubuntu-p-strip-suru-bottomed {
  .p-strip--suru-bottomed {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-image: linear-gradient(
        to top right,
        rgba(228, 228, 228, 0.5) 0%,
        rgba(228, 228, 228, 0.5) 49.5%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.5%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to top left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 49.5%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        -89deg,
        rgb(233, 84, 32) 0%,
        rgb(119, 41, 83) 38%,
        rgb(44, 0, 30) 85%
      );
    background-position: left bottom, left bottom, right bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 42% 12rem, 65.2% 8rem, 73.7% 8rem, 73.7% 8rem;
    padding-bottom: 8rem;
  }
}

@mixin ubuntu-p-strip-suru-image {
  .p-strip--suru-image {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-image: linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.5) 0%,
        rgba(228, 228, 228, 0.5) 49.9%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 49.6%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 1) 100%
      ),
      linear-gradient(
        -89deg,
        rgba(233, 84, 32, 1) 0%,
        rgba(119, 41, 83, 1) 38%,
        rgba(44, 0, 30, 1) 85%
      );
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgba(228, 228, 228, 0.1) 0%,
          rgba(228, 228, 228, 0.1) 49.9%,
          rgba(228, 228, 228, 0) 50%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(119, 41, 83, 0.16) 0%,
          rgba(119, 41, 83, 0.16) 49.9%,
          rgba(119, 41, 83, 0) 50%,
          rgba(119, 41, 83, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 49.6%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 1) 100%
        ),
        linear-gradient(
          -89deg,
          rgba(233, 84, 32, 1) 0%,
          rgba(119, 41, 83, 1) 38%,
          rgba(44, 0, 30, 1) 85%
        );
    }

    background-position: right top, right top, right top, right top;
    background-repeat: no-repeat;
    background-size: 37.7% calc(100% - 6rem), 42.1% calc(100% - 151px),
      49.2% calc(100% - 12rem), 49.2% calc(100% - 12rem);
    padding-bottom: 4rem;
    padding-top: 4rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-blend-mode: normal;
      background-image: linear-gradient(
        -89deg,
        rgba(233, 84, 32, 1) 0%,
        rgba(119, 41, 83, 1) 38%,
        rgba(44, 0, 30, 1) 85%
      );
      background-position: right top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: $color-x-light;
      padding-bottom: 4rem;
      padding-top: 4rem;

      a:not([class*="p-button"]) {
        color: inherit;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

@mixin ubuntu-p-strip-suru-half-and-half-reversed {
  .p-strip--suru-half-and-half-reversed {
    @extend %vf-strip;

    background-blend-mode: multiply, normal, normal, normal;
    background-image: linear-gradient(
        25deg,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to left,
        transparent 0%,
        transparent 41.9%,
        rgba(255, 255, 255, 0) 42%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        289deg,
        transparent 46.3%,
        #a63b3e 20%,
        #772953 63%,
        #2c001e 100%
      );
    background-position: top 60% left, top left, center right;
    background-repeat: no-repeat;
    background-size: 90% 100%, 100% 100%, cover;

    @media (max-width: $breakpoint-medium) {
      background-image: linear-gradient(
        270deg,
        #e95420 0%,
        #772953 43%,
        #2c001e 87%
      );
      background-position: center right;
      background-size: cover;
    }

    &.is-light {
      color: $color-x-dark;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin ubuntu-p-strip-suru-half-and-half {
  .p-strip--suru-half-and-half {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-image: linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.5) 0%,
        rgba(228, 228, 228, 0.5) 49.9%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.8%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        90deg,
        rgba(44, 0, 30, 1) 18%,
        rgba(114, 41, 83, 1) 63%,
        rgba(233, 84, 32, 1) 100%
      );
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgba(228, 228, 228, 0.1) 0%,
          rgba(228, 228, 228, 0.1) 49.9%,
          rgba(228, 228, 228, 0) 50%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(119, 41, 83, 0.16) 0%,
          rgba(119, 41, 83, 0.16) 49.9%,
          rgba(119, 41, 83, 0) 50%,
          rgba(119, 41, 83, 0) 100%
        ),
        linear-gradient(
          to bottom right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49.8%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(
          90deg,
          rgba(44, 0, 30, 1) 18%,
          rgba(114, 41, 83, 1) 63%,
          rgba(233, 84, 32, 1) 100%
        );
    }

    background-position: right top, right top, 71.5% top, right top;
    background-repeat: no-repeat;
    background-size: 46.2% 68.6%, 38.4% 100%, 16.8% 100%, 40.5% 100%;

    @media only screen and (max-width: $breakpoint-small) {
      background-blend-mode: normal;
      background-image: linear-gradient(
        90deg,
        rgba(44, 0, 30, 1) 18%,
        rgba(114, 41, 83, 1) 63%,
        rgba(233, 84, 32, 1) 100%
      );
      background-position: right top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: $color-x-light;
    }
  }
}

@mixin ubuntu-p-strip-suru-background {
  .p-strip--suru-background {
    @extend %vf-strip;

    background-blend-mode: multiply, normal, normal;
    background-image: linear-gradient(
        to bottom right,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to top right,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
        1.924rad,
        rgba(44, 0, 30, 1) 0%,
        rgba(119, 41, 83, 1) 28.6%,
        rgba(192, 82, 58, 1) 49.3%,
        transparent 49.4%
      );
    background-position: left top, left bottom, left center;
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 6rem, 100% 100%;
    padding-bottom: 174px;
    padding-top: 6rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-blend-mode: normal;
      background-image: linear-gradient(
        1.924rad,
        rgba(44, 0, 30, 1) 0%,
        rgba(119, 41, 83, 1) 42%,
        rgba(192, 82, 58, 1) 94%
      );
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      color: $color-x-light;
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
  }
}

@mixin ubuntu-p-strip-suru-half-top {
  .p-strip-suru-half-top {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-color: $color-light;
    background-image: linear-gradient(
        to bottom right,
        rgba(119, 41, 83, 0.16) 0%,
        rgba(119, 41, 83, 0.16) 49.9%,
        rgba(119, 41, 83, 0) 50%,
        rgba(119, 41, 83, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.5) 0,
        rgba(228, 228, 228, 0.5) 49.8%,
        transparent 50%
      ),
      linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49.5%, transparent 50%),
      linear-gradient(251deg, #e95422 0%, #772953 49.5%, #2c001e 100%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom right,
          rgba(119, 41, 83, 0.16) 0%,
          rgba(119, 41, 83, 0.16) 49.9%,
          rgba(119, 41, 83, 0) 50%,
          rgba(119, 41, 83, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(228, 228, 228, 0.1) 0,
          rgba(228, 228, 228, 0.1) 49.8%,
          transparent 50%
        ),
        linear-gradient(to top left, #f7f7f7 0%, #f7f7f7 49.5%, transparent 50%),
        linear-gradient(251deg, #e95422 0%, #772953 49.5%, #2c001e 100%);
    }

    background-position: top left, top right, center 66.5%, left top;
    background-repeat: no-repeat;
    background-size: 63% 97%, 100% 66%, 100% 31%, 100% 76.5%;
    color: $color-light;
    padding-bottom: 10rem;
    padding-top: 6rem;

    @media only screen and (max-width: $breakpoint-small) {
      background-blend-mode: normal;
      background-image: linear-gradient(
        251deg,
        #e95422 0%,
        #772953 49.5%,
        #2c001e 100%
      );
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 100% 76.5%;
      padding-bottom: 5rem;
      padding-top: 3rem;
    }
  }
}

@mixin ubuntu-p-strip-suru-blog-hero {
  .p-strip--suru-blog-hero {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal, normal;
    background-image: linear-gradient(
        150deg,
        rgba(228, 228, 228, 0.54) 0%,
        rgba(228, 228, 228, 0.54) 80.9%,
        rgba(228, 228, 228, 0) 81%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        220deg,
        rgba(216, 216, 216, 0.54) 0%,
        rgba(216, 216, 216, 0.54) 75.9%,
        rgba(216, 216, 216, 0) 72%,
        rgba(216, 216, 216, 0) 100%
      ),
      linear-gradient(
        to top right,
        #fff 0%,
        #fff 49.3%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(to top right, #fff 0%, #fff 100%),
      linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          150deg,
          rgba(228, 228, 228, 0.14) 0%,
          rgba(228, 228, 228, 0.14) 80.9%,
          rgba(228, 228, 228, 0) 81%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          220deg,
          rgba(216, 216, 216, 0.14) 0%,
          rgba(216, 216, 216, 0.14) 75.9%,
          rgba(216, 216, 216, 0) 72%,
          rgba(216, 216, 216, 0) 100%
        ),
        linear-gradient(
          to top right,
          #fff 0%,
          #fff 49.3%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(to top right, #fff 0%, #fff 100%),
        linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
    }

    background-position: bottom 4rem left, bottom 0 right, left 0 bottom 10.5rem,
      right bottom, 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% calc(100% - 4rem), 100% 100%, 101% 5.5rem,
      102% 10.5rem, auto;
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    position: relative;

    @media (min-width: $breakpoint-medium) {
      background-image: linear-gradient(
          to bottom right,
          rgba(228, 228, 228, 0.54) 0%,
          rgba(228, 228, 228, 0.54) 49.9%,
          rgba(228, 228, 228, 0) 50%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(216, 216, 216, 0.54) 0%,
          rgba(216, 216, 216, 0.54) 49.9%,
          rgba(216, 216, 216, 0) 50%,
          rgba(216, 216, 216, 0) 100%
        ),
        linear-gradient(
          to top right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 49.3%,
          rgba(255, 255, 255, 0) 50%,
          rgba(255, 255, 255, 0) 100%
        ),
        linear-gradient(
          to top right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 100%
        ),
        linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
      background-position: 0% 0%, top right, left 0 bottom 6.45rem, right bottom,
        0% 0%;
      background-size: 100% calc(100% - 7rem), 67% calc(100% - 1.5rem),
        101% 5.5rem, 102% 6.5rem, auto;
    }

    &.is-dark {
      color: $color-x-light;
    }
  }
}

@mixin ubuntu-p-strip-suru-blog-header {
  .p-strip--suru-blog-header {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal;
    background-image: linear-gradient(
        150deg,
        rgba(228, 228, 228, 0.54) 0%,
        rgba(228, 228, 228, 0.54) 54.9%,
        rgba(228, 228, 228, 0) 55%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(216, 216, 216, 0.54) 0%,
        rgba(216, 216, 216, 0.54) 49.9%,
        rgba(216, 216, 216, 0) 50%,
        rgba(216, 216, 216, 0) 100%
      ),
      linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          150deg,
          rgba(228, 228, 228, 0.14) 0%,
          rgba(228, 228, 228, 0.14) 54.9%,
          rgba(228, 228, 228, 0) 55%,
          rgba(228, 228, 228, 0) 100%
        ),
        linear-gradient(
          to bottom left,
          rgba(216, 216, 216, 0.14) 0%,
          rgba(216, 216, 216, 0.14) 49.9%,
          rgba(216, 216, 216, 0) 50%,
          rgba(216, 216, 216, 0) 100%
        ),
        linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
    }

    background-position: bottom left, bottom 0 right, 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 100%, 60% 100%, auto;
    color: $color-x-light;
    overflow: hidden;
    position: relative;
  }
}

@mixin ubuntu-p-strip-slanted {
  .is-slanted {
    &--bottom-left {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - 4rem));
      padding-bottom: 6rem;
    }
    &--bottom-right {
      clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 4rem), 0% 100%);
      padding-bottom: 6rem;
    }
    &--top-right {
      clip-path: polygon(0% 0%, 100% 4rem, 100% 100%, 0% 100%);
      margin-top: -4rem;
      padding-top: 8rem;
    }
  }
}

@mixin ubuntu-p-strip-suru-light {
  .p-strip--suru-light {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal, normal;
    background-color: #111;
    background-image: linear-gradient(
        to bottom left,
        rgba(216, 216, 216, 0.54) 0,
        rgba(216, 216, 216, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.54) 0,
        rgba(228, 228, 228, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to top left,
        rgba(247, 247, 247, 1) 0%,
        rgba(247, 247, 247, 1) 49.3%,
        rgba(247, 247, 247, 0) 50%,
        rgba(247, 247, 247, 0) 100%
      ),
      linear-gradient(-20deg, #e95420 0%, #772953 38%, #2c001e 85%);
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 98% 91%, 192.8% 23.26%, 100% 99.8%;
    color: $color-x-light;
    margin: 0;
    padding-bottom: 6rem;
    padding-top: 2rem;

    @supports not (background-blend-mode: multiply) {
      background-image: linear-gradient(
          to bottom left,
          rgba(216, 216, 216, 0.14) 0,
          rgba(216, 216, 216, 0.14) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to bottom right,
          rgba(228, 228, 228, 0.14) 0,
          rgba(228, 228, 228, 0.14) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to top left,
          rgba(247, 247, 247, 1) 0%,
          rgba(247, 247, 247, 1) 49.3%,
          rgba(247, 247, 247, 0) 50%,
          rgba(247, 247, 247, 0) 100%
        ),
        linear-gradient(243deg, #e95420 103%, #772953 70%, #2c001e 39%);
    }

    @media (max-width: $breakpoint-medium) {
      background-position: top right, top left, right bottom -1px, left top;
      background-repeat: no-repeat;
      background-size: 74% 99.83%, 148% 83%, 119% 13%, 100% 99.83%;
      padding-bottom: 8rem;
      padding-top: 4rem;
    }
  }
}

@mixin ubuntu-p-strip-suru-square-darksuru {
  .p-strip--square-darksuru {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal;
    background-color: #111;
    background-image: linear-gradient(
        to bottom left,
        rgba(216, 216, 216, 0.54) 0,
        rgba(216, 216, 216, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.54) 0,
        rgba(228, 228, 228, 0.54) 49.9%,
        transparent 50%
      ),
      linear-gradient(201deg, #4e4e4e 0%, #333 46%, #111 90%);
    background-position: top right, top left, left top;
    background-repeat: no-repeat;
    background-size: 77% 115%, 71% 104%, 100% 99.8%;
    color: $color-x-light;
  }
}

@mixin ubuntu-p-strip-suru-square-lightsuru {
  .p-strip--square-lightsuru {
    @extend %vf-strip;

    background-color: #f7f7f7;

    @media (min-width: $breakpoint-medium) {
      background-blend-mode: initial;
      background-image: linear-gradient(
          to bottom left,
          rgba(216, 216, 216, 0.54) 0,
          rgba(216, 216, 216, 0.54) 49.9%,
          transparent 50%
        ),
        linear-gradient(
          to bottom right,
          rgba(228, 228, 228, 0.54) 0,
          rgba(228, 228, 228, 0.54) 49.9%,
          transparent 50%
        ),
        linear-gradient(201deg, #f7f7f7 30%, #e5e5e5 90%);
      background-position: top right, top left, left top;
      background-repeat: no-repeat;
      background-size: 86% 125%, 77% 57%, 100% 99.8%;
    }
  }
}

@mixin ubuntu-p-strip-suru-square-suru {
  .p-strip--square-suru {
    @extend %vf-strip;

    background-blend-mode: multiply, multiply, normal;
    background-color: #2c001e;
    background-image: linear-gradient(
        to bottom left,
        rgba(228, 228, 228, 0.54) 0%,
        rgba(228, 228, 228, 0.54) 49.9%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(
        to bottom right,
        rgba(228, 228, 228, 0.54) 0%,
        rgba(228, 228, 228, 0.54) 49.9%,
        rgba(228, 228, 228, 0) 50%,
        rgba(228, 228, 228, 0) 100%
      ),
      linear-gradient(-89deg, #e95420 0%, #772953 38%, #2c001e 85%);
    background-position: top right, top left, left top;
    background-repeat: no-repeat;
    background-size: 86% 105%, 67% 152%, 100% 99.9%;
    color: $color-x-light;
  }
}

@mixin ubuntu-p-strip-suru-cube {
  [class*="p-strip"].has-cube,
  [class*="p-takeover"].has-cube {
    &::after {
      background: url("https://assets.ubuntu.com/v1/b3ae0076-CUBE-pattern-bigger2.svg");
      content: "";
      height: 100%;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    * {
      z-index: 2;
    }

    > div .cube-access {
      position: relative;
    }
  }
}

@mixin ubuntu-p-strip-x-deep {
  [class*="p-strip"].is-x-deep {
    $spv--strip-x-deep-top: $spv--strip-deep + $spv--x-large;
    $spv--strip-x-deep-bottom: $spv--strip-deep + 2 * $spv--x-large;

    padding: $spv--strip-x-deep-top * 0.5 0 $spv--strip-x-deep-bottom * 0.5;

    @media (min-width: $breakpoint-large) {
      padding: $spv--strip-x-deep-top 0 $spv--strip-x-deep-bottom;
    }
  }
}

@mixin ubuntu-p-strip-suru-shape {
  .p-strip--suru-shape-light {
    @extend %vf-strip;

    background: url("https://assets.ubuntu.com/v1/18717572-05_suru2_light_glow_8K_edited.png")
      70% bottom;
    background-size: cover;
  }

  .p-strip--suru-shape-dark {
    @extend %vf-strip;

    background: url("https://assets.ubuntu.com/v1/78c0cbe3-05_suru2_dark_2K.jpg")
      100% 0;
    background-color: #2c2c2c;
    background-size: cover;
    color: $color-x-light;
  }
}

@mixin ubuntu-p-strip-whitesuru {
  .p-strip--whitesuru {
    @extend %vf-strip;
  
    background: url("https://assets.ubuntu.com/v1/25538a5e-Suru%20top%20left%20angle.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
  
    // Hide suru on small and medium screens
    @media screen and (max-width: $breakpoint-small - 1) {
      background: none;
    }
  
    @media screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-large - 1) {
      background: none;
    }
  }
}