@mixin ubuntu-p-ua-subscribe {
  .product-selector {
    counter-reset: headings;
    padding-top: 6rem;

    > .p-strip {
      padding-top: 0.5rem;

      > .row {
        > .col-6:nth-child(2) {
          padding-top: 1rem;
        }
      }
    }
  }

  .product-selector h2 {
    counter-increment: headings;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    margin-bottom: 2rem;

    &::before {
      @extend .p-heading--3;

      align-items: center;
      border: 1px solid;
      border-radius: 100%;
      content: counter(headings);
      display: inline-flex;
      flex-shrink: 0;
      height: 2.5rem;
      justify-content: center;
      margin-top: 4px;
      width: 2.5rem;
    }
  }

  .product-selector .p-card--radio--column.is-selected {
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 2px 16px rgb(0 0 0 / 5%),
      0 0 24px rgb(0 0 0 / 10%), 0 0 0 1px #757575;
  }

  .included {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 122px;
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .heading,
  .main,
  .universe {
    height: 7rem;
    margin-bottom: 10px;
    padding-right: 3rem;
    padding-top: 0.5px;
  }

  .support-row {
    height: 3rem;
    margin: 0 1rem;
    padding-top: 1rem;
    text-align: left;

    > i {
      margin-right: 1rem;
    }

    &.not-supported {
      margin-left: 3rem;
    }
  }

  .versions-features {
    > li.p-list__item {
      padding: 0.5rem 0;
    }

    button.p-chip--positive {
      border: none;
      font-style: oblique;
      margin-left: 0.5rem;
      top: -0.5rem;
    }
  }

  .description-column {
    padding-left: 3.6rem;

    > .heading {
      height: 125px;
      padding-top: 1.5rem;
    }

    > .support-row {
      margin: 0;
    }

    hr {
      margin-top: -1px;
    }

    > *:not(:last-child)::before {
      background: rgba(0, 0, 0, 0.15);
      content: "";
      display: block;
      height: 1px;
      position: relative;
      top: 100%;
      width: calc(3.6rem + 200% + 6rem);
      z-index: 10;
    }

    > .support-heading {
      padding: 1rem 0 12px 0;

      &::before {
        top: 2.3rem;
      }
    }

    > .support-heading,
    > .support-row {
      &::before {
        width: calc(3.6rem + 200%);
      }
    }
  }

  .inner-support-label {
    font-weight: 500;
    margin: 0.5rem 0 15px 1rem;
  }

  .logos-wrapper {
    display: flex;
    justify-content: space-between;

    img {
      height: 1.8rem;
    }
  }

  .product-selector .p-card--radio i {
    margin-right: 0.7rem;
  }

  .product-selector .p-card--radio .p-radio__label {
    font-weight: bold;
  }

  .version-features-section {
    background-color: #f7f7f7;
  }
}
