@mixin ubuntu-p-ua-shop-cart {
  .p-shop-cart {
    bottom: -11.5rem;
    position: sticky;
    transition: 0.5s ease-out transform;
    z-index: 20;

    &--cue{
      bottom: 0; 
    }

    &--hidden {
      transform: translateY(100%);
    }

    .p-shop-cart__selected-product {
      display: flex;
      flex-wrap: wrap;

      .p-shop-cart__label {
        align-items: center;
        display: flex;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
      }

      @media (min-width: $breakpoint-x-small) {
        flex-wrap: nowrap;

        > div {
          margin-left: 2.5rem;
        }

        .p-shop-cart__label {
          align-items: flex-start;
          display: flex;
          margin-left: 1rem;
          margin-top: calc(0.4rem - 1px);
        }
      }

      > img {
        height: 35px;
        margin: 0 1rem;
      }

      > span,
      > img {
        padding-top: calc(0.4rem - 1px);
      }
    }

    .p-shop-cart__buy {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 1rem;

      @media (min-width: $breakpoint-x-small) {
        align-items: flex-start;
        flex-direction: row;
      }
      @media (min-width: $breakpoint-medium) {
        flex-wrap: wrap;
        margin-top: 0;

        > button {
          margin-right: 0;
        }
      }

      > span {
        margin-right: 0.5rem;
        padding-top: calc(0.4rem - 1px);
      }
    }
  }

  .p-shop-cart--small {
    > div {
      background-color: #f7f7f7;
      padding-top: 2rem;
    }

    button {
      width: 100%;
    }
  }
}
