@mixin ubuntu-p-navigation {
  body:not(.navigation-lock) {
    margin-top: -41px;
    transition: margin-top 0.25s;

    @media (min-width: $breakpoint-navigation-threshold) {
      margin-top: -33px;
    }

    @media (min-width: $breakpoint-x-large) {
      margin-top: -37px;
    }
  }

  .is-signed-in {

  }
  
  .p-navigation--sliding {
    z-index: 40;

    .p-navigation__row {
      transform: 0;

      .subsection-active & {
        @media (max-width: $breakpoint-navigation-threshold) {
          transform: translateX(-100vw);
        }
      }

      .p-navigation__nav {
        overflow-y: hidden;
      }

      .p-navigation__item--dropdown-toggle {
        .p-muted-heading {
          padding-left: 3rem;
        }

        &.js-account {
          .p-navigation__dropdown-item {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
          }

          a::after {
            @media (min-width: $breakpoint-navigation-threshold) {
              content: none;
            }
          }

          i:not(.is-signed-in) {
              &::after {
              content: none;
            }
          }
        }

        &:first-child {
          .p-navigation__link::before {
            content: "";
          }
        }
      }

      .p-navigation__link::after {
        @media (max-width: $breakpoint-navigation-threshold ) {
          right: 1.5rem;
        }
      }

      .p-navigation__dropdown-item {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        line-height: 1.5rem;
        margin: 0;
        position: relative;
  
        a {
          display: block;
          padding: 0.25rem 0;
          white-space: normal;
        }
      }
    }
  }

  .p-navigation--sliding.has-menu-open {
    .p-navigation__row {
      .p-navigation__nav {
        background-color: transparent;
      }
    }
  }

}

@mixin ubuntu-p-navigation-reduced {
  @media (min-width: $breakpoint-navigation-threshold) {
    .p-navigation--sliding.is-reduced.has-search-open {
      .p-navigation__nav .p-navigation__items {
        display: inline-flex;
      }
      .p-navigation__search {
        align-items: center;
        background-color: #262626;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        width: 100%;

        .p-search-box {
          margin: 0;
          max-width: 50rem;
        }
      }
    }
  }

  @media (max-width: $breakpoint-navigation-threshold) {
    .p-navigation--sliding.is-reduced.has-menu-open {
      .p-navigation__row {
        .p-navigation__nav {
          background-color: #111;
        }
      }
    }
  }

  .p-navigation.is-secondary {
    z-index: 9;

    .p-navigation__nav.is-open {
      display: flex;

      .p-navigation__items {
        display: block;
      }
    }

    .p-navigation__toggle--open.is-open {
      transform: rotate(-180deg);
    }
  }

  .p-navigation--sliding.is-reduced {
    @extend %small-text;

    margin-bottom: 0;

    .p-navigation__user {
      .p-navigation__link span {
        display: none;
      }

      @media (min-width: $breakpoint-large) {
        .p-navigation__link span {
          display: initial;
          padding-right: 0.5rem;
        }
      }
    }

    .p-navigation__item {
      .p-navigation__link {
        color: $color-mid-light;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
      }
    }

    .p-navigation__link--search-toggle {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      &::after {
        color: $color-mid-light;
        top: 0.75rem;
      }
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      background-color: $color-dark;
      margin-bottom: 0;

      .p-navigation__item {
        color: $color-mid-light;
      }

      .p-navigation__link {
        color: $color-mid-light;
        font-weight: 300;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        transition: none;
      }

      &__logo {
        align-items: center;
        color: $color-x-light;
        display: flex;
        font-size: 0.875rem;
        margin-bottom: $sp-unit * 1.5;
        padding-top: 0.55rem;
        position: relative;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          padding-left: $sp-small !important;
          padding-right: 0 !important;
        }

        a {
          border-left: 1px solid rgba(247, 247, 247, 0.3);
          color: $color-light !important;
          padding-left: $sp-small;

          @media (max-width: $breakpoint-navigation-threshold - 1) {
            position: relative;
            top: 1px;
          }
        }

        &::after {
          display: none;

          @media only screen and (min-width: $breakpoint-navigation-threshold) {
            background-color: $color-light;
            display: block;
            left: $sph--large;
            opacity: 0.3;
            right: $sph--large - $circle-of-friends-compensation;
          }
        }
      }

      .p-navigation__link--search-toggle {
        color: $color-mid-light;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 0;

        &::after {
          color: $color-mid-light;
          top: 0.5rem;
        }

        .p-navigation__search-label {
          font-size: 0.875rem;
          font-weight: 300;
          padding-left: 0.5rem;
        }
      }

      .p-navigation__item--dropdown-toggle {
        &::after {
          top: 0.5rem;
        }

        &.is-selected {
          background-color: rgba(255, 255, 255, 0.1);

          &::after {
            transform: rotate(-180deg);
          }

          .p-navigation__link {
            padding-left: 2rem;
            color: $color-x-light;
          }

          .p-navigation__link::before {
            display: none;
          }
        }
      }

      .p-navigation__dropdown--right {
        top: 2rem;
      }
    }

    & ~ .global-nav-dropdown {
      top: 2.1rem !important;
    }
  }
}
