@mixin blog-p-strips-suru {
  $suru-bg-color: rgba(17, 17, 17, 0.65);

  .p-strip--blog-suru {
    overflow: hidden;
    position: relative;

    &::after {
      background: $suru-bg-color;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;

      @media only screen and (min-width: $breakpoint-medium) {
        background: linear-gradient(
          110deg,
          $suru-bg-color 55%,
          transparent 55%
        );
      }
    }
  }

  .p-card--suru {
    position: relative;
    z-index: 1;
  }
}
