@mixin ubuntu-p-ua-subscribe {

  .subscribe-form {
    p {
      max-width: unset;
    }
  }

 .public-cloud-section {
    background-color: #f7f7f7;
    margin-bottom: 1.5rem;
    padding: 1.5rem
 }

 .version-features-section {
   background-color: #f7f7f7;
 }
}
