@mixin ubuntu-p-cards {
  @include ubuntu-card;
  @include ubuntu-card-layout;
  @include ubuntu-card-radio;
}

@mixin ubuntu-card {
  .p-card--cloud-and-server {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#2b939c);
  }

  .p-card--internet-of-things {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#b0709d);
  }

  .p-card--desktop {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#66a2c1);
  }

  .p-card--canonical-announcements {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#ff8936);
  }

  .p-card.is-selected {
    background-color: $color-mid-x-light;
    border-color: $color-mid-dark;
  }

  .p-card.has-limited-height {
    height: 20rem;
  }

  .p-card.has-limited-height--large {
    height: 23.5rem;
  }
}

@mixin ubuntu-card-layout {
  .p-card--layout {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    display: flex;
    flex-direction: column;

    .p-card__header {
      @extend %vf-pseudo-border--bottom;
    }

    .p-card__main {
      padding-top: calc(#{$spv-inner--large} - 1px);
    }

    .p-card__footer {
      margin-top: auto;
    }
  }
}

@mixin ubuntu-card-radio {
  .row--5-col {
    display: flex;
    flex-wrap: wrap;
  }

  .p-card--radio {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    background: transparent;
    cursor: pointer;
    position: relative;

    &:hover,
    &.is-selected {
      background-color: $color-light;
    }

    .row--5-col & {
      flex: 1 1 18%;
      margin-right: 2.5%;

      @media only screen and (max-width: $breakpoint-medium - 1) {
        flex: 0 0 49%;
        margin-right: 2%;

        &:nth-child(even) {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    img {
      display: block;
      margin: 1.2rem auto 2.4rem;
      max-height: 40px;
      max-width: 100%;
      pointer-events: none;
      width: auto;
    }

    [type="radio"] {
      left: 0;

      & + label {
        background-color: transparent;
        margin: 0.5rem auto;
        padding: 0;
        position: initial;
        text-align: center;
        width: 100%;
      }

      & + label::after {
        display: none;
      }

      & + label::before {
        background: none;
        border: none;
        border-radius: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }

      &:focus + label::before {
        border: 0.1875rem solid #2e96ff;
      }
    }
  }
}
