@mixin ubuntu-p-buttons {
  // For download buttons what need full width
  [class*="p-button"].is-wide {
    width: 100%;
  }

  .p-button--tag {
    @extend %p-button-light !optional;

    border-radius: 3px;
    color: $color-mid-dark;
    font-size: 14px;
    padding: 0.1rem 0.4rem;

    &:visited {
      color: $color-mid-dark;
    }
  }

  .p-button--themed {
    @extend %vf-button-base;
    @extend %vf-button-white-success-icon;

    @media screen and (width < $breakpoint-small) {
      width: 100%;
    }

    @include vf-button-pattern(
      $button-background-color: $color-brand,
      $button-hover-background-color: $color-brand-dark,
      $button-active-background-color: $color-brand-dark,
      $button-disabled-background-color: $color-brand,
      $button-border-color: $color-brand,
      $button-hover-border-color: $color-brand-dark,
      $button-active-border-color: $color-brand-dark,
      $button-disabled-border-color: $color-brand,
      $button-text-color: $colors--theme--button-positive-text
    );

    @include vf-focus($color-focus-positive);
  }
}
