@mixin ubuntu-p-link {
  %external-link-heading {
    background: url('#{$assets-path}e1bba201-external-link-cool-grey.svg') no-repeat;
    background-size: .85em;
    padding-left: 1em;

    &::after {
      display: none;
    }
  }

  h1,
  h2 {
    &.p-link--external {
      @extend %external-link-heading;
      background-position: left calc(100% - .25em);
    }
  }

  h3,
  h4,
  h5,
  h6,
  .p-heading--insights__title {
    &.p-link--external {
      @extend %external-link-heading;
      background-position: left calc(100% - .33em);
    }
  }

  .p-link--grey {
    &:link,
    &:visited {
      color: $color-mid-dark;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
