@mixin ubuntu-p-feedback {
  .p-feedback {
    @media (min-width: $breakpoint-medium) {
      min-width: 520px;
    }
  }

  .p-feedback__icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #808080;
    border: 0;
    padding: 0;
    margin: 0;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  .p-feedback__icon--positive {
    @extend .p-feedback__icon;

    &:hover,
    &:focus {
      color: $color-positive;
    }
  }

  .p-feedback__icon--neutral {
    @extend .p-feedback__icon;

    &:hover,
    &:focus {
      color: $color-caution;
    }
  }

  .p-feedback__icon--negative {
    @extend .p-feedback__icon;

    &:hover,
    &:focus {
      color: $color-negative;
    }
  }

  .p-feedback__button {
    position: fixed;
    bottom: 4rem;
    right: 0;
    width: auto;
    margin: 0;
    background-color: #333;
    color: $color-x-light;
    border-color: #333;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @media (min-width: $breakpoint-small) {
      bottom: 0;
      right: 1rem;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover,
    &:active {
      background-color: #333;
      color: $color-x-light;
      border-color: #333;
    }
  }

  .p-modal--feedback {
    @extend .p-modal;
    position: fixed;
    z-index: 10;
  }
}
