@mixin ubuntu-p-site-search {
  .search-toggle {
    background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 90 90'><g color='%23fff'><path fill='none' stroke-width='4' d='M0 0h90v90H0z'/><path d='M69 36.5a33 33.5 0 1 1-66 0 33 33.5 0 1 1 66 0z' transform='matrix(.636 0 0 .627 16.114 16.12)' fill='none' stroke='%23fff' stroke-width='9.5'/><path d='M55.77 52.92L52.94 55.75l14 14 2.83-2.83-14-14z' fill='%23fff' stroke-width='6' class='s0'/></g></svg>");
    cursor: pointer;
    height: $sp-large;
    width: $sp-large;

    @media (min-width: $breakpoint-medium) {
      position: relative;
    }
  }

  .search-toggle__link {
    display: inline-block;
    height: $sp-large;
    width: $sp-large;
  }

  .p-site-search {
    float: right;
    margin: .875rem 0;
    position: absolute;
    right: $sp-large * 3;

    @media (min-width: $breakpoint-medium + 1) {
      right: $sp-small;
    }

    &__form {
      clear: both;
      margin: 0;
      max-height: 48px;
      padding: 0;
      position: relative;
      width: 100%;

      &:target,
      &:active {
        display: block;
      }

      @media (min-width: $breakpoint-large) {
        height: 35px;
        position: absolute;
        right: .65rem;
        top: .65rem;
        width: 200px;

        .p-site-search__input[type='search'] {
          background-color: $color-brand-dark;
          border-radius: 4px;
          color: $color-x-light;
          height: 35px;
          padding-right: $sp-xx-large;

          &::-webkit-input-placeholder { // sass-lint:disable-line no-vendor-prefixes
            color: $color-mid-light;
          }
        }

        .p-site-search__button {
          right: $sp-medium;
          top: -.5rem;
        }
      }
    }

    &__input[type='search'] {
      background: $color-light;
      border: 0;
      box-shadow: none;
      margin-top: 0;

      @media (max-width: $breakpoint-medium - 1) {
        border-bottom: 1px solid #cdcdcd;
      }

    }

    &__button {
      background-color: transparent;
      background-repeat: no-repeat;
      border: 0;
      height: 3rem;
      margin-top: 0;
      position: absolute;
      right: 1.75rem;
      top: 0;
      width: 1.5rem;

      &:hover {
        background-color: transparent;
      }
    }
  }

  @media (min-width: $breakpoint-medium) and (max-width: calc($breakpoint-large - 1)) {
    .p-site-search__input {
      border-bottom: 1px solid $color-mid-dark;
    }
  }
}
