@mixin ubuntu-inline-images {
  .p-inline-images {
    .p-inline-images__item.is-muted {
      filter: grayscale(100%) brightness(50%) contrast(50%) saturate(50%);
    }
  }

  .p-inline-images--small {
    @extend .p-inline-images;

    .p-inline-images__item {
      margin: 1.5rem 2rem;
    }

    .p-inline-images__logo {
      max-height: 3.5rem;
      max-width: 7rem;

      &.is-wide {
        max-width: 9rem;
      }
    }
  }

  .p-inline-images--x-small {
    @extend .p-inline-images;

    .p-inline-images__item {
      margin: 1.5rem 2.5rem;
    }

    .p-inline-images__logo {
      max-height: 1.5rem;
      max-width: 7rem;

      &.is-wide {
        max-width: 9rem;
      }
    }
  }
}
