// intro row on the homepage
@mixin ubuntu-p-ubuntu-intro {
  .p-ubuntu-intro {
    // Intro strip icons
    @media only screen and (min-width: $breakpoint-medium + 1) {
      clear: both;
      display: flex;
      margin-bottom: 0.625rem;
    }
  }

  .p-ubuntu-intro__icons {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;

    li {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      position: relative;

      @media only screen and (min-width: $breakpoint-medium) {
        margin-left: 0;
        margin-right: 80px;

        &::after {
          background-image: url("#{$assets-path}2d06b913-dots.svg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 60px;
          content: "";
          display: block;
          height: 100px;
          left: 100%;
          position: absolute;
          top: 0;
          width: 80px;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:last-child::after {
        display: none;
      }
    }

    a {
      color: $color-mid-dark;

      &:hover {
        color: $color-brand;
      }
    }
  }

  %p-ubuntu-intro-icon {
    display: block;
    height: 100px;
    margin-bottom: 1rem;
  }

  .p-ubuntu-intro__icon--cloud {
    @extend %p-ubuntu-intro-icon;

    background-image: url("#{$assets-path}9e5f937b-cloud.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;

    :hover:not(span) > & {
      background-image: url("#{$assets-path}a0028210-cloud_brand.svg");
    }

    @media only screen and (min-width: $breakpoint-x-large) {
      width: 113px;
    }
  }

  .p-ubuntu-intro__icon--server {
    @extend %p-ubuntu-intro-icon;

    background-image: url("#{$assets-path}82df3da1-server.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 73px;

    :hover:not(span) > & {
      background-image: url("#{$assets-path}1f63ff41-server_brand.svg");
    }

    @media only screen and (min-width: $breakpoint-x-large) {
      width: 82px;
    }
  }

  .p-ubuntu-intro__icon--containers {
    @extend %p-ubuntu-intro-icon;

    background-image: url("#{$assets-path}8700ffb2-containers.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 78px;

    :hover:not(span) > & {
      background-image: url("#{$assets-path}71b465ba-containers_brand.svg");
    }

    @media only screen and (min-width: $breakpoint-x-large) {
      width: 88px;
    }
  }

  .p-ubuntu-intro__icon--desktop {
    @extend %p-ubuntu-intro-icon;

    background-image: url("#{$assets-path}98395612-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;

    :hover:not(span) > & {
      background-image: url("#{$assets-path}0de61b88-desktop_brand.svg");
    }

    @media only screen and (min-width: $breakpoint-x-large) {
      width: 143px;
    }
  }

  .p-ubuntu-intro__icon--iot {
    @extend %p-ubuntu-intro-icon;

    background-image: url("#{$assets-path}f2fd6afc-iot.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 85px;

    :hover:not(span) > & {
      background-image: url("#{$assets-path}59ca2fa6-iot_brand.svg");
    }

    @media only screen and (min-width: $breakpoint-x-large) {
      width: 95px;
    }
  }
}
