@mixin ubuntu-p-cards {
  @include ubuntu-card;
  @include ubuntu-card-layout;
  @include ubuntu-card-radio;
}

@mixin ubuntu-card {
  .p-card--cloud-and-server {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#2b939c);
  }

  .p-card--internet-of-things {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#b0709d);
  }

  .p-card--desktop {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#66a2c1);
  }

  .p-card--canonical-announcements {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#ff8936);
  }

  .p-card.is-selected {
    background-color: $color-mid-x-light;
    border-color: $color-mid-dark;
  }

  .p-card.has-limited-height {
    height: 20rem;
  }

  .p-card.has-limited-height--large {
    height: 23.5rem;
  }
}

@mixin ubuntu-card-layout {
  .p-card--layout {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    display: flex;
    flex-direction: column;

    .p-card__header {
      @extend %vf-pseudo-border--bottom;
    }

    .p-card__main {
      padding-top: calc(#{$spv-inner--large} - 1px);
    }

    .p-card__footer {
      margin-top: auto;
    }
  }
}

@mixin ubuntu-card-radio {
  .radio-wrapper--staggering {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;

    @media only screen and (min-width: $breakpoint-medium) {
      display: flex;
      > div {
        flex-grow: 1;
        flex-basis: 0;
      }
    }
  }

  .radio-wrapper--stacking {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $breakpoint-medium) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
    }
  }

  .p-card--radio {
    @extend %vf-card;
    @extend %vf-is-bordered;
    @extend %vf-has-round-corners;

    background: transparent;
    cursor: pointer;
    position: relative;

    &:hover,
    &.is-selected {
      background-color: $color-light;
    }

    .p-card__title {
      &--is-new {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
          content: "New";
          font-size: 1rem;
          display: inline-block;
          padding: 0 0.5rem;
          color: white;
          border-radius: 2px;
          background-color: #0e8420;
        }
      }
    }

    img {
      display: block;
      margin: 1.2rem auto 2.4rem;
      max-height: 48px;
      max-width: 100%;
      pointer-events: none;
      width: auto;
    }

    [type="radio"] {
      left: 0;

      & + label {
        background-color: transparent;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: initial;
        text-align: center;
        width: 100%;
      }

      & + label::after {
        display: none;
      }

      & + label::before {
        background: none;
        border: none;
        border-radius: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }

      &:focus + label::before {
        border: 0.1875rem solid #2e96ff;
        outline: none;
      }
    }
  }

  .p-card--radio--version {
    @extend .p-card--radio;
    padding: 3rem 1rem;

    h4 {
      margin: 0;
    }

    &.is-selected {
      background-color: $color-light;
      position: relative;
      overflow: visible;

      // Arrow
      @media (min-width: $breakpoint-medium) {
        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2rem;
          width: 2rem;
          left: calc(50% - 1rem);
          bottom: -41px;
          background: $color-light;
          border-left: solid 1px $color-mid-light;
          border-top: solid 1px $color-mid-light;
          pointer-events: none;
          transform: rotate(45deg) skew(-10deg, -10deg);
          z-index: 5;
        }
      }
      @media (min-width: $breakpoint-x-large) {
        &::after {
          bottom: -46px;
        }
      }
    }
  }

  .p-card--radio--feature {
    @extend .p-card--radio;

    [type="radio"] {
      & + label {
        text-align: left;
        height: 100%;
      }
    }

    span {
      position: relative;
      padding-left: 2rem;
      margin-top: auto;

      &::before,
      &::after {
        position: absolute;
        content: "";
        transition-duration: 0.333s;
        transition-property: background-color, border-color;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        position: absolute;
        border-radius: 50%;
        background: white;
      }

      &::before {
        height: 1rem;
        width: 1rem;
        margin-right: 1rem;
        border-radius: 50%;
        border: solid 1px #0000008f;
        left: 0;
        outline-offset: 1px;
        top: 0.2rem;
      }
      &::after {
        height: 0.375rem;
        left: 0.3125rem;
        top: 0.5rem;
        width: 0.375rem;
      }
    }

    &.is-selected span::before {
      background-color: #06c;
      border-color: #06c;
    }
  }

  .p-card--radio--support {
    @extend .p-card--radio;

    > label {
      font-weight: 400;

      > small {
        font-weight: normal;
      }
    }

    > img {
      margin: 0 auto;
      max-height: none;
      height: 60px;
      width: 60px;
    }

    > p {
      text-align: center;
    }
  }
}
