@mixin ubuntu-p-checkout {
  .checkout-container {
    .p-stepped-list--detailed {
      margin-left: 0;
    }

    .p-stepped-list__title {
      font-size: 2.2281872349rem;
    }

    .email-field {
      display: flex;
      flex-direction: column;
    }
  }
}
