@mixin blog-p-list {
  .p-blog-list__item {
    &.is-current {
      color: $color-x-dark;
      cursor: default;
      font-weight: bold;
      pointer-events: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
