@mixin ubuntu-p-ua-shop-cart {
  .p-shop-cart {
    button {
      min-width: 107px;
      text-transform: capitalize;
    }

    &__icon {
      @media only screen and (max-width: $breakpoint-medium - 1) {
        justify-content: flex-end;
      }
    }

    &__block {
      @media only screen and (max-width: $breakpoint-medium - 1) {
        margin-bottom: 1rem;
      }
    }

    .p-list--divided {
      position: relative;

      &::after,
      &::before {
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }

      &::after {
        border-bottom: 1px solid $color-mid-light;
        top: 0;
      }

      &::before {
        border-top: 1px solid $color-mid-light;
        bottom: 0;
      }
    }

    .p-list__item {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }
}
