@mixin ubuntu-p-tabs {
  .p-tab {
    color: $color-mid-dark;

    &:hover {
      background-color: $color-light;
      text-decoration: none;
    }

    &.active {
      background-color: $color-light;
      overflow: visible;
      position: relative;
      text-decoration: none;

      // Arrow
      @media (min-width: $breakpoint-medium) {
        &::after {
          background: #f7f7f7;
          border-left: solid 1px $color-mid-light;
          border-top: solid 1px $color-mid-light;
          bottom: -41px;
          content: "";
          display: block;
          height: 2rem;
          left: calc(50% - 1rem);
          pointer-events: none;
          position: absolute;
          transform: rotate(45deg) skew(-10deg, -10deg);
          width: 2rem;
          z-index: 5;
        }
      }
      @media (min-width: $breakpoint-x-large) {
        &::after {
          bottom: -46px;
        }
      }
    }
  }

  .p-tabs--vertical {
    grid-gap: 0;

    .p-tabs__list {
      display: block;

      &::after {
        display: none;
      }
    }

    .p-tabs__item {
      &:last-child {
        margin-right: 0;
      }
    }

    .p-tabs__link {
      padding-bottom: 0.25rem;
      padding-top: 0.25rem;

      &::before {
        display: none;
      }

      &[aria-selected="true"] {
        background-color: $color-light;

        &::before {
          display: block;
          height: 100%;
          left: 0;
          right: auto;
          width: 0.1875rem;
        }
      }
    }

    .p-tabs__content {
      background-color: $color-light;
      min-height: 100%;
      padding: 1.5rem;
    }
  }

  // Override the highlighted tab colour for pages that need to use the brand
  // colour.
  .p-tabs--brand .p-tabs__link {
    $color-tabs-active-bar: $color-brand;

    %focus-visible {
      // Display the highlight when focussing (in combination with the parent
      // states) in modern browsers that support focus-visible.
      &:focus:not(:focus-visible) {
        @include vf-highlight-bar($color-tabs-active-bar, bottom, false);
      }
    }

    &:active,
    &[aria-selected="true"] {
      @include vf-highlight-bar($color-tabs-active-bar, bottom, false);
      @extend %focus-visible;
    }

    // Display the highlight when focussing in modern browsers that support
    // focus-visible.
    &:focus:not(:focus-visible) {
      @include vf-highlight-bar($color-tabs-active-bar, bottom, false);
    }
  }
}
