@mixin blog-p-topic {
  .p-blog-heading__icon {
    height: 2.5rem;
    @media (min-width: $breakpoint-medium) {
      height: 3.5rem;
    }
  }

  .p-blog-topic__image {
    position: absolute;
    margin: 0;
  }
}
