.chart {
  margin-top: $sp-unit * 3;
}

.chart__bar--orange {
  fill: #e95420;
  stroke: #e95420;
  stroke-width: 1px;
}

.chart__bar--orange-light {
  fill: #fbddd2;
  stroke: #e95420;
  stroke-width: 1px;
}

.chart__bar--grey {
  fill: #aea79f;
  stroke: #aea79f;
  stroke-width: 1px;
}

.chart__bar--aubergine {
  fill: #772953;
  stroke: #772953;
  stroke-width: 1px;
}

.chart__bar--aubergine-mid-light {
  fill: #923a66;
  stroke: #923a66;
  stroke-width: 1px;
}

.chart__bar--aubergine-light {
  fill: #cba7b8;
  stroke: #cba7b8;
  stroke-width: 1px;
}

.chart__bar--green {
  fill: green;
  stroke: green;
  stroke-width: 1px;
}

.chart__bar--charcoal {
  fill: #333;
  stroke: #333;
  stroke-width: 1px;
}

.chart__bar--black {
  fill: #111;
  stroke: #111;
  stroke-width: 1px;
}

.chart__label--bold {
  font-weight: bold;
}

.chart__label--transparent,
.chart__bar--transparent {
  opacity: 0.2;
}

.x.axis line {
  shape-rendering: crispEdges;
  stroke: #d6d3cf;
  stroke-dasharray: 3 2;
}

.tick text {
  font-size: 14px;
}

.chart-key text {
  font-size: 14px;
}

.x.axis text {
  font-size: 12px;
  text-anchor: start !important;
}

#server-desktop-eol {
  .tick text {
    font-size: 16px;
  }

  .x.axis text {
    font-size: 16px;
    color: #666666;
    text-anchor: start !important;
  }

  .chart__label--bold {
    font-weight: 600;
  }
}

.chart-key {
  display: block;
}

.chart-key__row {
  display: block;
}
