@mixin ubuntu-p-gaming {
  .p-gaming {
    background-image: url('#{$assets-path}126ebaea-borderlands.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 488px;
    padding-bottom: 0;
    position: relative;

    &__content {

      @media only screen and (min-width: $breakpoint-medium) {
        margin-top: 15%;
        margin-bottom: 15%;
        position: relative;
        z-index: 3000;
      }
    }

    &__flash {
      animation: flash-sign 10s infinite;
      background-image: url('#{$assets-path}30d55ce9-borderlands-flash.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2000;
    }
  }

  .borderlands {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
  }
}
