@mixin ubuntu-p-tables {
  tr {
    th {
      padding-top: $spv-intra;
    }

    .p-table__cell--highlight {
      background: $color-x-light;
      padding: $spv-intra $sph-intra--condensed;
    }
  }
}
