@mixin ubuntu-p-contact-modal {
  #contact-modal {
    &.p-modal {
      align-items: start;
      position: fixed;
      z-index: 100;

      input[type="checkbox"] + label {
        margin-bottom: 0;
        margin-top: 0;
      }

      .p-modal__dialog {
        margin-bottom: 0;

        @media (min-width: $breakpoint-medium + 100px) {
          max-width: $breakpoint-medium;
          min-width: $breakpoint-medium;
        }
      }

      .p-modal__header {
        border-bottom: 1px solid $color-mid-light;
        margin-bottom: $spv--medium;
      }

      .p-modal__title {
        margin-bottom: $spv--small;
      }

      &.thank-you {
        .p-modal__title {
          opacity: 0;
        }

        .p-modal__header {
          border-bottom: 0;
        }
      }

      @media only screen and (min-width: $breakpoint-medium) {
        .u-align {
          padding-bottom: 70px;
        }

        .pagination__link--next,
        .pagination__link--previous {
          margin-bottom: 0;
        }
      }
    }
  }
}
