@mixin ubuntu-p-feedback {
  .p-feedback {
    @media (min-width: $breakpoint-medium) {
      min-width: 520px;
    }
  }

  %p-feedback-icon {
    $feedback-icon-color: #808080;

    border: 0;
    color: $feedback-icon-color;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    margin: 0;
    padding: 0;
    width: 2rem;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  .p-feedback__icon {
    @extend %p-feedback-icon;
  }

  .p-feedback__icon--positive {
    @extend %p-feedback-icon;

    &:hover,
    &:focus {
      color: $color-positive;
    }
  }

  .p-feedback__icon--neutral {
    @extend %p-feedback-icon;

    &:hover,
    &:focus {
      color: $color-caution;
    }
  }

  .p-feedback__icon--negative {
    @extend %p-feedback-icon;

    &:hover,
    &:focus {
      color: $color-negative;
    }
  }

  .p-feedback__button {
    $feedback-button-background: #333;
    background-color: $feedback-button-background;
    border-bottom-right-radius: 0;
    border-color: $feedback-button-background;
    border-top-right-radius: 0;
    bottom: 4rem;
    color: $color-x-light;
    margin: 0;
    position: fixed;
    right: 0;
    width: auto;

    @media (min-width: $breakpoint-small) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 2px;
      bottom: 0;
      right: 1rem;
    }

    &:hover,
    &:active {
      background-color: $feedback-button-background;
      border-color: $feedback-button-background;
      color: $color-x-light;
    }
  }

  .p-modal--feedback {
    @extend .p-modal; // sass-lint:disable-line placeholder-in-extend
    position: fixed;
    z-index: 10;
  }
}
