@mixin ubuntu-p-ua-shop-cart {
  .p-shop-cart {
    bottom: 0;
    position: sticky;
    transition: 0.5s ease-out transform;

    &--hidden {
      transform: translateY(100%);
    }

    .p-shop-cart__selected-product {
      display: flex;
      flex-wrap: wrap;

      .p-shop-cart__label {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
      }

      @media (min-width: $breakpoint-x-small) {
        flex-wrap: nowrap;
        > div {
          margin-left: 2.5rem;
        }

        .p-shop-cart__label {
          display: flex;
          align-items: flex-start;
          margin-top: calc(0.4rem - 1px);
          margin-left: 1rem;
        }
      }

      > img {
        height: 35px;
        margin: 0 1rem;
      }

      > span,
      > img {
        padding-top: calc(0.4rem - 1px);
      }
    }

    .p-shop-cart__buy {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 1rem;

      @media (min-width: $breakpoint-x-small) {
        align-items: flex-start;
        flex-direction: row;
      }
      @media (min-width: $breakpoint-medium) {
        margin-top: 0;
      }

      > span {
        margin-right: 0.5rem;
        padding-top: calc(0.4rem - 1px);
      }
    }
  }
}
