@mixin ubuntu-p-lists {
  @include ubuntu-p-inline-list-icons;
  @include ubuntu-p-is-trisected;
  @include ubuntu-p-nested-counter-lists;
  @include ubuntu-p-inline-definition-list;
  @include ubuntu-p-list-step;
  @include ubuntu-p-ordered-legal-list;
  @include ubuntu-p-inline-list-middot;
  @include ubuntu-p-list-small;
}

@mixin ubuntu-p-inline-list-icons {
  $color-twitter:   #1da1f2;
  $color-google:    #dc4e41;
  $color-linkedin:  #0274b3;
  $color-facebook:  #3b5898;

  %list-link {
    display: block;
    fill: $color-mid-dark;
    height: $sp-x-large;
    width: $sp-x-large;
  }

  // sass-lint:disable-block nesting-depth
  .p-inline-list-icons {
    .p-inline-list__link {
      &--twitter {
        @extend %list-link;

        &:hover .twitter-icon {
          fill: $color-twitter;
        }
      }

      &--google {
        @extend %list-link;

        &:hover .google-plus {
          fill: $color-google;
        }
      }

      &--facebook {
        @extend %list-link;

        &:hover .facebook-icon {
          fill: $color-facebook;
        }
      }

      &--linkedin {
        @extend %list-link;

        &:hover .linkedin-icon {
          fill: $color-linkedin;
        }
      }
    }
  }
}

@mixin ubuntu-p-is-trisected {
  [class*='p-list'] {
    &.is-trisected {

      @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;

        .p-list__item {
          margin-right: $sp-medium;
          width: calc(33.33% - .75rem);

          &:nth-child(3n+3) {
            margin-right: 0;
          }

          &:nth-last-child(0) {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

@mixin ubuntu-p-nested-counter-lists {
  .p-nested-counter-list {
    counter-reset: item;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    & & {
      margin-top: $sp-small;
      padding-left: $sp-medium;
    }

    &__item {
      counter-increment: item;
      padding-bottom: $sp-small;
      padding-left: $sp-xx-small;

      &::before {
        content: counters(item, ".") ". ";
      }

      & & {
        padding-left: 0;

        &::before {
          content: counters(item, ".") " ";
        }
      }
    }
  }
}

// XXX Ant - 11 July 2018
// This block can be removed when the following issue is resolved:
// https://github.com/vanilla-framework/vanilla-framework/issues/1916
@mixin ubuntu-p-inline-definition-list {
  .p-inline-definition-list {
    margin-bottom: $sp-medium;

    &__title {
      border: 0;
      float: left;
      margin: 0 $sp-medium 0 0;
    }

    &__item {
      margin: 0;
    }
  }
}

// XXX Ant - 11 July 2018
// This block can be removed when the following issue is resolved:
// https://github.com/vanilla-framework/vanilla-framework/issues/1917
@mixin ubuntu-p-list-step {
  .p-stepped-list--detailed .p-list-step {
    &__item {
      margin-top: 1rem;
    }
  }
}

@mixin ubuntu-p-ordered-legal-list {
  div > .p-list--ordered-legal {
    margin-left: 0;
    padding-left: 0;
  }

  .p-list--ordered-legal {
    counter-reset: item;
    list-style-type: none;

    & > .p-list__item::before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      font-weight: 300;
      font-size: 2.25rem;
      line-height: 1.167;
    }

    & p {
      max-width: inherit;
    }

    & > li > p,
    & > li > ol,
    & > li > ul,
    & > li + h3,
    & > li > h4,
    & > li + h5,
    & > li > .table__wrapper {
      margin-left: $sp-medium;
      padding-left: $sp-medium;
    }

    & > .p-list__item > h4:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    & > .p-list__item > h3,
    & > .p-list__item > h4,
    & > .p-list__item > h5 {
      display: inline-block;
    }

    & > li > ol > .p-list__item::before {
      font-size: 1.2rem;
    }

    & > .p-list__item > h2:first-child,
    & > .p-list__item > h3:first-child,
    & > .p-list__item > h4:first-child {
      display: inline-block;
    }
  }
}

// small text has bigger padding top, so requires this to be factored into
// the dot position top
@mixin ubuntu-p-inline-list-middot {
  .p-inline-list--middot {
    &.is-x-dense {
      margin-bottom: $sp-unit - $nudge--small;

      // sass-lint:disable-block nesting-depth
      .p-inline-list__item {
        &::after {
          top: 1rem;
          right: -.65rem;
        }
      }
    }

    .p-inline-list__item {
      &::after {
        right: -.65em;
        top: .75rem;

        @media only screen and (max-width: $breakpoint-medium - 1) {
          display: none;
        }
      }
    }
  }
}

@mixin ubuntu-p-list-small {
  .p-text-list--small {
    @extend %small-text-fixed;
    margin-bottom: $spv-inter--scaleable - $nudge--small + 1 * $sp-unit;
    margin-left: 0;
    padding-left: 0;

    .p-p--small + & {
      margin-top: - $sp-unit * 1;
    }

    &.is-dense {
      margin-bottom: $spv-inter--scaleable - $nudge--small;
    }

    & .p-list__item {
      list-style-type: none;
      padding-left: 0;
      padding-top: 0;
      position: relative;
    }

    &.is-bordered {
      display: block;

      & .p-list__item {
        margin-bottom: .25rem;

        &:not(:last-child) {
          padding-bottom: .25rem;
        }

        &:not(:last-child) {
          @extend %vf-pseudo-border--bottom;

          &::after {
            background-color: transparentize($color-mid-light, .5);
          }
        }
      }
    }
  }
}
