@mixin ubuntu-p-navigation {
  html {
    overflow-x: hidden !important; // prevent horizontal overflow full width breakout
  }

  .p-navigation {
    border-bottom: 0;

    &__wrapper {
      display: flex;
    }

    &__search {
      align-items: center;
      background: $color-navigation-background;
      border-bottom: 1px solid $color-mid-light;
      display: inline-flex;
      flex-grow: 1;
      margin: 0;

      .p-search-box {
        @media only screen and (min-width: $breakpoint-navigation-threshold) {
          height: 2rem;
          margin: 0 1rem 0 auto;
          width: 12.5rem;
        }

        &__button {
          padding: 0 0.5rem;
          width: 2rem;
        }

        &__reset {
          right: 2rem;
        }
      }
    }

    &__secondary {
      background-color: $color-light;
      border-bottom: 1px solid $color-mid-light;
      display: flex;
      margin-top: 0;
      position: relative;
      width: 100%;
      z-index: 2;

      > a {
        text-decoration: none;
      }

      .breadcrumbs {
        &__secondary {
          @extend .p-inline-list;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
          margin: 0 0 0 1.25em;
          width: auto;
        }

        &__tertiary {
          @extend .breadcrumbs__secondary;
          margin-left: 1.75em;
          position: relative;

          &::before {
            color: $color-mid-dark;
            content: '\203A';
            font-size: 1rem;
            font-weight: 400;
            left: -.9em;
            position: absolute;
            top: -0.15em;
          }
        }

        &__item {
          @extend .p-inline-list__item;
          color: $color-dark;
          display: inline-flex;
          font-size: .875rem;
          margin-top: 0;

          .p-link--active {
            color: $color-brand;
          }
        }
      }
    }

    &__secondary-banner {
      background: $color-brand;
      color: $color-x-light;
      font-size: 1.25rem;
      line-height: 1.6;
      padding: 0 .25rem 0 1.25rem;
      min-height: 2.25rem;
      width: 10rem;
    }

    .p-navigation {
      &__banner {
        z-index: 2;
      }

      &__logo {
        background: $color-brand;
        margin: 0;
        height: 3rem;
        padding: 0 1.25rem;
      }

      &__nav {
        border-bottom: 0;
        width: 100%;
        z-index: 2;
      }

      &__links {

        &:last-of-type {
          border-right: 1px solid $color-mid-dark;
        }

        > .p-navigation__dropdown-link {
          @extend .p-navigation__link;
          background-color: $color-navigation-background;
          border-left: 1px solid $color-mid-dark;
          position: relative;

          &:first-of-type {
            border-left: 0;
          }

          &:hover {
            background-color: $color-mid-dark;
          }

          &::after {
            @include vf-icon-chevron(vf-url-friendly-color($color-mid-light));
            background-repeat: no-repeat;
            background-size: 100%;
            content: "";
            height: .25rem;
            position: absolute;
            right: .75em;
            top: 1.5em;
            width: .65rem;
          }

          > a {
            border-bottom: 1px solid $color-mid-light;
            color: $color-mid-light;
            font-size: 1.125rem;
            padding: .675rem 1.75rem .575rem 1.25rem;
          }

          &.is-selected {
            background-color: $color-mid-dark;
            color: $color-mid-light;
            &::after {
              transform: rotate(180deg);
            }

            > a {
              border-bottom-color: transparent;
            }
          }
        }
      }
    }
  }

  .navigation-col {
    // on dropdowns - the nav lists
    h4 {
      font-size: $sp-medium;
      font-weight: 400;
      line-height: $sp-medium;
      margin-top: $sp-medium;
    }

    p {
      font-size: $sp-medium-small;
      line-height: $sp-medium;
    }

    ul {
      margin-top: $sp-x-small;

      > .p-list__item {
        font-size: $sp-medium-small;
        line-height: $sp-medium;
        margin-top: $sp-xx-small;
      }
    }
  }

  .resource-col {
    background-color: $color-light;
    padding: 1rem;

    h4 {
      line-height: $sp-medium;
      margin-top: $sp-medium;
    }

    p {
      font-size: $sp-medium-small;
      line-height: $sp-medium;
    }

    .p-list__item {
      font-size: $sp-medium-small;
      line-height: $sp-medium;
      margin-top: 0;
    }
  }

  .dropdown-window {
    @extend .p-strip;
    background-color: $color-x-light;
    border-bottom: 1px solid $color-mid-light;
    box-shadow: 0 1px 5px 1px transparentize($color-dark, .8);
    padding: 2.5rem 0;
    position: relative;
    transition: all .25s cubic-bezier(.215, .61, .355, 1);
    z-index: 1;

    .row {
      margin-top: 0;
    }
  }

  .fade-animation {
    opacity: 0;
    transform: translateY(-1rem);
    transition-duration: .25s;
    visibility: hidden;
  }
}
