@mixin ubuntu-p-navigation {

  html {
    overflow-x: hidden !important; // prevent horizontal overflow full width breakout
  }

  .p-navigation {
    // XXX Ant: Change the threshold so the links are white.
    // https://github.com/vanilla-framework/vanilla-framework/issues/1373
    @include navigation-pattern(
      $background-color: $color-navigation-background,
      $border-color: if(lightness($color-navigation-background) > 70, $color-mid-light, transparent),
      $text-color: if(lightness($color-navigation-background) > 70, $color-dark, $color-light)
    );
    font-weight: 400;
    margin-bottom: 0;

    @media (max-width: $breakpoint-medium) {
      border-bottom: 1px solid $color-light;
      font-weight: 300;
    }

    & &__toggle--open,
    & &__toggle--close {
      @media (max-width: $breakpoint-medium) {
        top: .875rem;
      }
    }

    &__logo {
      margin: 0;
      padding: 0;

      @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
        margin-left: 0;
        padding-left: 0;
      }
    }

    &__row {
      @media (min-width: $breakpoint-large) {
        position: relative;
      }
    }

    .p-navigation__links {

      &:last-of-type {
        border-right: 1px solid $color-brand-light;
      }

      .p-navigation__link {
        border-right: 1px solid $color-mid-light;
        font-size: .875rem;
        padding: 0;
        position: relative;

        @media (min-width: $breakpoint-medium) {
          border-color: $color-brand-light;
          border-right: 0;
        }

        &:hover {
          cursor: pointer;
        }

        @media (max-width: $breakpoint-medium - 1) {
          float: left;
          width: 50%;

          &:nth-child(2n) {
            border-left: 0;
          }

          &:last-of-type,
          &:nth-last-child(2) {
            border-bottom: 1px solid $color-mid-light;
          }

          > a {
            padding: $sp-small $sp-medium;

            &.is-active {
              background-color: $color-mid-light;
            }
          }
        }

        @media (min-width: $breakpoint-medium) {

          > a {
            display: inline-block;
            padding: $sp-medium $sp-small;

            &.is-active {
              background-color: $color-brand-dark;
            }
          }

          &:hover {
            background-color: $color-brand-light;
          }
        }
      }
    }
  }

  .p-navigation .p-navigation__logo {
    margin: $sp-small $sp-small $sp-x-small 1rem;
    padding: 0;
  }

  .p-breadcrumbs {

    // medium size - avoid overflow
    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
      width: 90%;
    }
  }

  // .nav-secondary override
  .nav-secondary {

    .p-inline-list__link {
      display: inline-block;
    }

    @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
      border-top: 1px solid $color-mid-light;
      white-space: nowrap;
    }

    &__row {
      @media (min-width: $breakpoint-medium) {
        padding: 0 $sp-small;
      }
    }
  }

  .nav-secondary,
  .nav-tertiary {

    .p-inline-list__link,
    .p-breadcrumbs__link {
      font-size: .875rem;
      font-weight: 300;
    }

    // small screen view only
    @media (max-width: $breakpoint-medium - 1) {
      background: $color-x-light;

      .p-breadcrumbs {
        @include full-width-breakout;
        border-bottom: 1px solid $color-mid-light;
        overflow-x: hidden;

        &__item {
          left: 50%;
          margin-left: 0;
          position: relative;
          transform: translate(-50%, 0);
          width: 100%;
        }

        &__link {
          border-bottom: 1px solid $color-mid-light;
          color: $color-dark;
          display: inline-block;
          margin-bottom: $sp-x-small;
          padding: $sp-small $sp-medium;
          width: 100%;
        }
      }

      &__menu {
        width: 100%;

        .p-inline-list__item {
          float: left;
          margin-right: 0;
          margin-top: 0;
          padding-left: $sp-x-small;
          width: 50%;

          .is-active {
            font-weight: bold;
          }
        }

        .p-inline-list__link {
          color: $color-x-dark;
          display: inline-block;
          padding: $sp-x-small;
        }
      }
    }

    &__menu {
      display: inline-block;
      margin-top: 0;
      position: relative;

      @media (min-width: $breakpoint-medium) {
        margin-left: $sp-large;
        vertical-align: top;
      }
    }

    a {
      color: $color-dark;

      &.is-active {
        color: $color-brand;
      }
    }

    // large screen view
    @media (min-width: $breakpoint-medium) {
      @include full-width-breakout;
      background: $color-light;
      border-bottom: 1px solid $color-mid-light;
      padding: $sp-x-small 0 $sp-small;
      white-space: nowrap;

      .p-breadcrumbs__item {
        margin-bottom: 0;
      }

      &__menu::before {
        color: $color-mid-dark;
        content: '\203A';
        font-weight: 400;
        left: -$sp-small;
        position: absolute;
        top: 0;
      }

      .p-breadcrumbs__link {
        color: $color-mid-dark;

        @media (min-width: $breakpoint-medium) {
          + .second-level-nav {
            position: relative;

            &::before {
              color: $color-mid-dark;
              content: '\203A';
              font-weight: 400;
              left: -$sp-x-small;
              position: absolute;
              top: 0;
            }
          }
        }
      }
    }

    @media (min-width: $breakpoint-large) {
      &__row {
        padding: 0 $sp-small;
      }
    }

    .p-navigation__row {
      padding-left: $sp-x-small;
      padding-right: $sp-x-small;
    }
  }

  @media (min-width: $breakpoint-medium + 1) {
    .p-navigation__link:hover .hover-menu {
      display: block;

      .p-inline-list__item {
        display: block;
      }
    }

    .p-navigation .p-navigation__nav ul li:hover ul::after {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAICAYAAAD5nd/tAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYODgYVPPJJpQAAAT9JREFUKM+dkD9IAnEUx7+/IkVxFaxoKYxIWhqKwJw0JAJ315Yac8+1tUFo6HCp34XRdRp11z+J4BzckqShPzdEQ5G/EhPO6V5Tcg3G0QcePHjvffjygB4oXAIApFMxyPlcWM7nwulU7NfMNQqXGABsZNcCCpcKtapBtapBCpcK2fXlAAAcy3vMlUxTdgEAO9ubybPiPjWFoE6nQ5ZlUfNDULl0RAdSPuncddL30+gnCgOAlngLaocyn4nG9fmFJXj9fhARAMDr82MuEcfk7LSuFQu8DTvovO1SuTxlAKCqPFO5Ov/6FIIsy/qzROOdrst6S1V5xunomo0LrT4yOh4JDg6BMXfvIdvGs/mExutLPZpYnAIAdmNUVuwBbI1NRODxePEf2u0WHu9u4ev3rTLTfKBQaNh1qp5piWCa9/gGBheo3r6AmYcAAAAASUVORK5CYII=') $sp-large bottom no-repeat;
      content: '';
      display: block;
      height: $sp-x-small;
      left: 0;
      position: absolute;
      top: -$sp-x-small;
      width: 200px;
      z-index: 999;
    }
  }

  .hover-menu {
    background: $color-light;
    border: 1px solid $color-mid-light;
    border-radius: 10px;
    box-shadow: 0 2px 2px -1px $color-mid-light;
    display: none;
    float: none;
    left: 0;
    margin: 0;
    padding: $sp-x-small 0 $sp-medium;
    position: absolute;
    top: 58px;
    width: 200px;
    z-index: 1;

    &::before {
      //Remove the chevron
      display: none;
    }

    li {
      font-size: .875rem;
      padding: $sp-x-small $sp-small 0 $sp-small;

      &:last-child {
        padding-bottom: 0;
      }
    }

    a {
      color: $color-dark !important; // specificity
    }
  }

  // tertiary navigation
  .p-breadcrumbs__link {

    & + .second-level-nav,
    & + .second-level-nav & {
      display: inline-block;
      margin-bottom: 0;
      padding-left: 0;

      @media (max-width: $breakpoint-medium - 1) {
        width: 100%;
      }
    }

    .second-level-nav & {
      border-bottom: 0;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .nav-tertiary__menu {
    white-space: normal;
    width: 85%;

    .p-inline-list__item {
      font-size: .875rem;
    }

    @media (max-width: $breakpoint-medium - 1) {
      .p-inline-list__item {
        padding: 0 $sp-x-small 0 0;
      }
    }

    @media (min-width: $breakpoint-medium) {
      display: inline-block;
      margin-left: 1.5rem;

      .p-inline-list__item {
        margin-right: .75rem;
      }
    }

    @media (min-width: $breakpoint-large) {

      .p-inline-list__item {
        margin-right: 1.5rem;
      }
    }
  }
}
