$row-margin-medium: 1.5rem;
$row-margin-small: 1rem;
$meganav-height: 3rem;

@mixin ubuntu-p-navigation {
  #control-height {
    height: 100vh;
    position: absolute;
    width: 0;
  }

  #all-canonical-mobile .global-nav__header-link-anchor::after {
    @media (max-width: $breakpoint-small) {
      right: 1rem !important;
      top: 1.25rem !important;
    }
  }

  #all-canonical-content-mobile {
    @media (min-width: $breakpoint-navigation-threshold) {
      display: none;
    }
  }

  body:has(header.p-navigation--sliding.has-menu-open) {
    overflow: hidden;
  }

  .global-nav-desktop .global-nav-dropdown {
    position: relative;
    top: 0;

    .global-nav-dropdown__content {
      max-width: $grid-max-width;
    }

    .global-nav__link {
      color: #69c;
    }
  }

  .p-navigation__row--25-75 {
    @media (min-width: $breakpoint-navigation-threshold) {
      .p-navigation__items:first-child {
        margin-left: -1rem;
      }
    }
  }

  .p-navigation--sliding {
    position: sticky;
    top: 0;
    z-index: 40;

    .p-navigation__secondary-link {
      @extend .dropdown-window__side-panel-link;
    }

    .p-link--inverted {
      font-weight: 400;
    }

    .p-navigation__row--25-75 {
      @media (min-width: $breakpoint-navigation-threshold - 1) {
        .p-navigation__items:first-child {
          margin-left: -1rem;
        }
      }

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        padding-left: 0;
        padding-right: 0;
      }

      .p-navigation__dropdown {
        height: calc(100vh - $meganav-height);
        overflow: hidden;

        &[aria-hidden="false"] {
          overflow: unset;

          &::before {
            pointer-events: none;
          }
        }

        &::before {
          box-shadow: none;
        }

        .p-muted-heading {
          padding-left: 3rem;

          @media (max-width: $breakpoint-medium) {
            padding-left: 2.5rem;
          }
        }

        .p-navigation__secondary-links .p-muted-heading {
          padding-left: 0;
        }
      }

      .p-navigation__link--search-toggle::after {
        right: 1.5rem;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          right: 0.5rem;
        }
      }

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        .subsection-active & {
          transform: translateX(-100vw);
        }
      }

      .p-navigation__secondary-links {
        margin-top: 1.5rem;
        padding-left: calc(1.5rem + $row-margin-medium);

        @media (max-width: $breakpoint-medium) {
          padding-left: calc(1.5rem + $row-margin-small);
        }

        a {
          color: #69c;
        }
      }

      ul.p-navigation__dropdown {
        li.p-navigation__dropdown-item {
          line-height: 1.5rem;
          margin: 0;
          padding-bottom: 0.25rem;
          padding-top: 0.25rem;
          position: relative;

          a {
            &:not(.p-button--positive) {
              display: block;
              padding: 0.25rem 0;
              white-space: normal;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .p-navigation__item--dropdown-toggle {
        .p-navigation__account-name {
          @extend .p-navigation__dropdown-item;

          @media (max-width: $breakpoint-medium) {
            padding-left: calc(1.5rem + $row-margin-small);
          }

          pointer-events: none;

          @media (min-width: $breakpoint-navigation-threshold - 1) {
            .p-text--small {
              max-width: 13rem;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          @media (max-width: $breakpoint-navigation-threshold - 1) {
            hr {
              display: none;
            }
          }
        }

        &.js-account {
          .p-navigation__dropdown-item {
            padding-bottom: 0.75rem;
            padding-top: 0.75rem;
          }

          @media (min-width: $breakpoint-navigation-threshold - 1) {
            .p-navigation__dropdown {
              height: auto;
              min-width: 10rem;
              right: 3rem;
            }
          }

          a.p-navigation__link {
            &::after {
              @media (min-width: $breakpoint-navigation-threshold - 1) {
                content: none;
              }
            }
          }

          a.p-navigation__link:not(.is-signed-in) {
            &::after {
              content: none;
            }
          }

          button[aria-expanded="true"] {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }

        &.is-active[role="menuitem"] {
          @extend .is-selected;

          > a.p-navigation__link {
            background-color: #2d2d2d;
          }
        }

        .p-navigation__link::before {
          &:first-of-type {
            content: "";
          }
        }
      }

      a.p-navigation__dropdown-item {
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
      }

      .p-navigation__link::after {
        right: 0.5rem;
        top: 1.25rem;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          right: 1.5rem;
          top: 1rem;
        }
      }
    }

    .p-navigation--sliding:not(.js-enabled) {
      .p-navigation__item--dropdown-toggle > .p-navigation__link {
        padding-right: 1rem;

        &::after {
          content: none;
        }
      }
    }

    .p-navigation__nav {
      margin-right: -1rem;
      max-height: calc(100vh - 3rem);
      width: auto;

      .p-navigation__items {
        width: 100%;

        & > .p-navigation__item--dropdown-toggle > .p-navigation__link {
          padding-left: $row-margin-small;
          padding-right: 2rem;

          &::before {
            left: $row-margin-small;
          }
        }

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          .p-navigation__link {
            padding-left: calc(1.5rem + $row-margin-medium);

            &::before {
              left: calc(1.5rem + $row-margin-medium);
            }

            &.js-back::after {
              left: $row-margin-medium;
            }
          }

          & > .p-navigation__item--dropdown-toggle > .p-navigation__link {
            padding-left: $row-margin-medium;

            &::before {
              left: $row-margin-medium;
            }
          }

          .p-navigation__item--dropdown-toggle {
            &:first-child .p-navigation__link::before {
              content: "";
            }

            &.is-selected > .p-navigation__link::before {
              content: none;
            }
          }

          .p-navigation__item--dropdown-toggle:first-of-type,
          .p-navigation__item--dropdown-close:first-of-type {
            > .p-navigation__link::before {
              content: none;
            }
          }

          .p-navigation__dropdown-item {
            padding-left: calc(1.5rem + $row-margin-medium);

            &::before {
              left: calc(1.5rem + $row-margin-medium);
            }
          }

          .p-muted-heading {
            padding-left: 0;
          }
        }

        @media (max-width: $breakpoint-medium) {
          .p-navigation__link {
            padding-left: calc(1.5rem + $row-margin-small);

            &::before {
              left: calc(1.5rem + $row-margin-small);
            }

            &.js-back::after {
              left: $row-margin-small;
            }
          }

          & > .p-navigation__item--dropdown-toggle > .p-navigation__link {
            padding-left: $row-margin-small;

            &::before {
              left: $row-margin-small;
            }
          }

          .p-navigation__dropdown-item {
            padding-left: calc(1.5rem + $row-margin-small);

            &::before {
              left: calc(1.5rem + $row-margin-small);
            }
          }

          .p-muted-heading {
            padding-left: 0;
          }
        }

        .global-nav {
          margin-left: auto;
        }
      }

      .p-search-box__input {
        background-color: $color-light !important;

        &:focus,
        &:hover {
          background-color: $color-light !important;
        }
      }

      .p-search-box__input::placeholder {
        color: #000;
      }
    }

    .p-navigation__banner {
      padding-left: 0;
    }

    @media (max-width: $breakpoint-navigation-threshold - 1) {
      .p-navigation__row--25-75 {
        display: unset;
      }

      .p-navigation__nav {
        margin-left: 0;
        overflow-y: auto;
      }

      .p-navigation__banner {
        height: $meganav-height;
        padding-left: $row-margin-medium;
      }
    }

    @media (max-width: $breakpoint-medium) {
      .p-navigation__banner {
        padding-left: $row-margin-small;
      }
    }
  }

  .p-navigation--sliding.has-menu-open {
    height: fit-content;

    @media (max-width: $breakpoint-navigation-threshold - 1) {
      .p-navigation__row--25-75 {
        height: 100vh;
      }
    }
  }
}

@mixin ubuntu-p-navigation-reduced {
  @media (min-width: $breakpoint-navigation-threshold - 1) {
    .p-navigation--sliding.is-reduced.has-search-open {
      .p-navigation__nav .p-navigation__items {
        display: inline-flex;
      }

      .p-navigation__search {
        align-items: center;
        background-color: #262626;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        width: 100%;

        .p-search-box {
          margin: 0;
          max-width: 50rem;
        }
      }
    }
  }

  .p-navigation--sliding.is-reduced {
    margin-bottom: 0;
    position: relative;

    .p-navigation__banner {
      height: auto;

      @media (max-width: $breakpoint-navigation-threshold - 1) {
        padding-left: $row-margin-medium;
      }

      @media (max-width: $breakpoint-medium) {
        padding-left: $row-margin-small;
      }

      @media (min-width: $breakpoint-x-large) {
        height: 2rem;
        width: calc(21rem - 1px);
      }
    }

    .p-navigation__tagged-logo {
      .p-navigation__link {
        padding-left: 0;
        padding-top: 0.5rem;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          padding-top: 0.75rem;
        }
      }
    }

    .p-navigation__user {
      .p-navigation__link span {
        display: none;
      }
    }

    @media (min-width: $breakpoint-navigation-threshold - 1) {
      .p-navigation__link span {
        display: initial;
        padding-right: 0.5rem;
      }

      .p-navigation__link::after {
        top: 0.5rem;
      }
    }

    @media (max-width: $breakpoint-navigation-threshold - 1) {
      .p-navigation__link::after {
        top: 1rem;
      }
    }

    .p-navigation__item {
      .p-navigation__link {
        color: $color-mid-light;
      }

      .js-menu-button.p-navigation__link {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    .p-navigation__link--search-toggle {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      @media (max-width: $breakpoint-large) {
        padding-right: 3rem;
      }

      &::after {
        color: $color-mid-light;
        right: 1rem;
        top: 1rem;
      }
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      background-color: $color-dark;
      margin-bottom: 0;

      .p-navigation__item {
        color: $color-mid-light;
      }

      .p-navigation__link {
        color: $color-mid-light;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        transition: none;
      }

      .p-navigation__tagged-logo > .p-navigation__link {
        padding-left: 0;
      }

      &__logo {
        align-items: center;
        color: $color-x-light;
        display: flex;
        font-size: 0.875rem;
        margin-bottom: $sp-unit * 1.5;
        padding-top: 0.55rem;
        position: relative;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          padding-left: $sp-small !important;
          padding-right: 0 !important;
        }

        a {
          border-left: 1px solid rgba(247, 247, 247, 0.3);
          color: $color-light !important;
          padding-left: $sp-small;

          @media (max-width: $breakpoint-navigation-threshold - 1) {
            position: relative;
            top: 1px;
          }
        }

        &::after {
          display: none;

          @media only screen and (min-width: $breakpoint-navigation-threshold - 1) {
            background-color: $color-light;
            display: block;
            left: $sph--large;
            opacity: 0.3;
            right: $sph--large - $circle-of-friends-compensation;
          }
        }
      }

      .p-navigation__link--search-toggle {
        color: $color-mid-light;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 1rem;

        &::after {
          color: $color-mid-light;
          top: 0.5rem;
        }

        .p-navigation__search-label {
          font-size: 0.875rem;
          font-weight: 300;
          padding-left: 0.5rem;
        }
      }

      .p-navigation__item--dropdown-toggle {
        &::after {
          top: 0.5rem;
        }

        &.is-selected {
          background-color: rgba(255, 255, 255, 0.1);

          &::after {
            transform: rotate(-180deg);
          }

          .p-navigation__link {
            color: $color-x-light;
            padding-left: 1rem;
          }

          .p-navigation__link::before {
            display: none;
          }
        }

        &.js-account .p-navigation__dropdown {
          right: 2.75rem;
        }
      }

      .p-navigation__dropdown--right {
        top: 2rem;
      }
    }

    & ~ .global-nav-dropdown {
      top: 2.1rem !important;
    }
  }

  .p-navigation.is-secondary {
    position: sticky;
    top: 0;
    z-index: 10;

    .p-navigation__item > .p-navigation__link {
      padding-left: $row-margin-small;
    }

    .p-navigation__nav {
      &.is-open {
        display: flex;

        .p-navigation__items {
          display: block;
        }

        .p-navigation__link {
          padding-left: $row-margin-medium;

          @media (max-width: $breakpoint-medium) {
            padding-left: $row-margin-small;
          }

          &::before {
            left: $row-margin-small;
          }
        }
      }
    }

    .p-navigation__banner {
      padding-left: 0;
    }

    @media (max-width: $breakpoint-navigation-threshold - 1) {
      .p-navigation__banner {
        padding-left: $row-margin-medium;
      }

      .p-navigation__row--25-75 {
        display: unset;
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media (max-width: $breakpoint-medium) {
      .p-navigation__banner {
        padding-left: $row-margin-small;
      }
    }

    .p-navigation__toggle--open.is-open {
      transform: rotate(-180deg);
    }

    .p-navigation__tagged-logo {
      width: 17.5rem;

      @media (min-width: $breakpoint-x-large) {
        width: 19.5rem;
      }
    }
  }
}

@mixin ubuntu-p-nojs-navigation {
  .nojs-meganav {
    background: #262626;
    overflow-x: unset !important;

    h2 {
      color: $color-light;
      padding-left: 1.5rem;
    }

    .p-side-navigation {
      padding-top: 1rem;
    }

    .dropdown-window__tab-panel {
      height: fit-content;
      padding-bottom: 3rem;
      position: sticky;
      top: 3rem;
    }

    .dropdown-window__footer {
      padding-bottom: 3rem;
    }

    @media (max-width: $breakpoint-navigation-threshold - 1) {
      .dropdown-window__tab-panel {
        display: none;
      }
    }
  }
}