@mixin ubuntu-p-cube-progression {
  $diamondSize: (
    "width": 168,
    "height": 99,
  );
  $rhombusSize: (
    "width": 85,
    "height": 145,
  );

  .p-cube-progression {
    height: 382px;
    position: relative;

    %diamond-badge {
      background-size: map-get($diamondSize, "width") * 1px
        map-get($diamondSize, "height") * 1px;
      height: map-get($diamondSize, "height") * 1px;
      position: absolute;
      width: map-get($diamondSize, "width") * 1px;
    }

    %rhombus-badge {
      background-size: map-get($rhombusSize, "width") * 1px
        map-get($rhombusSize, "height") * 1px;
      height: map-get($rhombusSize, "height") * 1px;
      position: absolute;
      width: map-get($rhombusSize, "width") * 1px;
    }

    &.is-architecture {
      @extend %diamond-badge;

      background-image: url(https://assets.ubuntu.com/v1/8b175afd-Architecture.svg);
    }

    &.is-bash {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/4b2c2de2-bash.svg);
      transform: translate(
        map-get($diamondSize, "width") * 0.5px,
        map-get($diamondSize, "height") * 0.5px
      );
    }

    &.is-devices {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/9ba960cc-devices+and+files.svg);
      transform: translate(0, map-get($diamondSize, "height") * 0.5px);
    }

    &.is-packages {
      @extend %diamond-badge;

      background-image: url(https://assets.ubuntu.com/v1/eb3be63d-Packages.svg);
      transform: translate(map-get($diamondSize, "width") * 1px, 0);
    }

    &.is-services {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/74e5c92e-Services.svg);
      transform: translate(
        map-get($diamondSize, "width") * 1.5px,
        map-get($diamondSize, "height") * 0.5px
      );
    }

    &.is-admin {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/0a374de7-Admin.svg);
      transform: translate(
        map-get($diamondSize, "width") * 1px,
        map-get($diamondSize, "height") * 0.5px
      );
    }

    &.is-commands {
      @extend %diamond-badge;

      background-image: url(https://assets.ubuntu.com/v1/5e068487-Commands.svg);
      transform: translate(map-get($diamondSize, "width") * 2px, 0);
    }

    &.is-security {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/d9074c81-Security.svg);
      transform: translate(
        map-get($diamondSize, "width") * 2.5px,
        map-get($diamondSize, "height") * 0.5px
      );
    }

    &.is-networking {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/3f3f2687-Networking.svg);
      transform: translate(
        map-get($diamondSize, "width") * 2px,
        map-get($diamondSize, "height") * 0.5px
      );
    }

    &.is-kernel {
      @extend %diamond-badge;

      background-image: url(https://assets.ubuntu.com/v1/7b4466fe-Kernel.svg);
      transform: translate(
        map-get($diamondSize, "width") * 0.5px,
        map-get($rhombusSize, "height") * 1px
      );
    }

    &.is-microk8s {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/c26080a5-Microk8s.svg);
      transform: translate(
        map-get($diamondSize, "width") * 1px,
        (map-get($rhombusSize, "height") * 1px) +
          (map-get($diamondSize, "height") * 0.5px)
      );
    }

    &.is-virtualisation {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/4f1c55a5-Virtualisation.svg);
      transform: translate(
        map-get($diamondSize, "width") * 0.5px,
        (map-get($rhombusSize, "height") * 1px) +
          (map-get($diamondSize, "height") * 0.5px)
      );
    }

    &.is-storage {
      @extend %diamond-badge;

      background-image: url(https://assets.ubuntu.com/v1/090ef9e2-Storage.svg);
      transform: translate(
        map-get($diamondSize, "width") * 1.5px,
        map-get($rhombusSize, "height") * 1px
      );
    }

    &.is-juju {
      @extend %rhombus-badge;

      background-image: url(https://assets.ubuntu.com/v1/ce96b82f-Juju.svg);
      transform: translate(
        map-get($diamondSize, "width") * 2px,
        (map-get($rhombusSize, "height") * 1px) +
          (map-get($diamondSize, "height") * 0.5px)
      );
    }

    &.is-maas {
      @extend %rhombus-badge;

      background: url(https://assets.ubuntu.com/v1/711b3e71-MAAS.svg);
      transform: translate(
        map-get($diamondSize, "width") * 1.5px,
        (map-get($rhombusSize, "height") * 1px) +
          (map-get($diamondSize, "height") * 0.5px)
      );
    }
  }

  .is-faded {
    background-image: rgba(255, 255, 255, 0.1);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    opacity: 0.5;

    &--right {
      @extend .is-faded;

      clip-path: polygon(0% 34%, 100% 0%, 100% 66.6%, 0% 100%);
    }

    &--left {
      @extend .is-faded;

      clip-path: polygon(0% 0%, 100% 34%, 100% 100%, 0% 66.6%);
    }
  }
}
