/// homepage takeunders
@mixin ubuntu-p-takeunders {
  .p-takeunder {
    border-radius: .125rem;
    color: $color-x-light;
    padding: $sp-x-large;
    margin-right: -1 rem;

    @media only screen and (min-width : $breakpoint-medium) {
      padding: $sp-x-large $sp-medium $sp-medium $sp-medium;
    }

    a:link,
    a:visited {
      color: $color-x-light;
    }
  }
  .p-navigation {
    @media only screen and (max-width : $breakpoint-medium) {
      border: 0;
    }
  }
}
