@use "sass:map";
.is-wide-modal {
  // stylelint-disable function-calc-no-unspaced-operator -- allow spaces around operators
  max-width: calc(
    $grid-max-width + 2 * $spv--large - 2 * map.get($grid-margin-widths, small)
  ) !important;
  overflow-x: hidden;

  @media (min-width: $threshold-4-6-col) {
    max-width: calc(
      $grid-max-width + 2 * $spv--large - 2 *
        map.get($grid-margin-widths, default)
    ) !important;
  }
}
