@mixin ubuntu-p-tables {
  tr {
    th {
      padding-top: $spv-inner--small;
    }

    .p-table__cell--highlight {
      background: $color-x-light;
      padding: $spv-inner--small $sph-inner--small;
    }
  }

  table:empty {
    display: none;
  }

  .p-table--key-value {
    width: auto;

    tr {
      border-top: 0 !important;
      display: table-row;

      td {
        display: table-cell;
        padding-bottom: 0;
        padding-top: 0;

        &:first-child {
          @media (min-width: $breakpoint-medium) {
            text-align: right;
            white-space: nowrap;
          }
        }
      }
    }
  }

  // XXX: Ant - 27.10.21: This is a work around to group tables rows with
  // mobile cards support. Can be removed once this is issues is fixed:
  // https://github.com/canonical-web-and-design/vanilla-framework/issues/4100
  .p-table__group {
    @media (min-width: $breakpoint-medium) {
      border-top: 0 !important;

      .p-table__group--hide-cell span {
        display: none;
      }
    }
  }
}
