@mixin ubuntu-p-grid-table {
  .p-grid-table {
    border-left: 1px solid $colors--light-theme--border-default;
    border-top: 1px solid $colors--light-theme--border-default;
    display: grid;

    .p-grid-table__cell {
      border-bottom: 1px solid $colors--light-theme--border-default;
      border-right: 1px solid $colors--light-theme--border-default;
      display: grid;

      & > div {
        padding: $sph--small $sph--large;

        @media (max-width: $breakpoint-small) {
          padding: $sph--small;
        }
      }

      .p-grid-table__inner-cell:not(:last-child) {
        border-right: 1px solid $colors--light-theme--border-default;
      }
    }

    .p-grid-table__cell--highlight {
      background-color: $color-x-light;
    }

    .p-grid__cell--bold {
      font-weight: $font-weight-bold;
    }
  }
}
