/// homepage takeovers
//@mixin ubuntu-p-takeovers {
//@include ubuntu-p-takeover;
//@include ubuntu-p-takeover-k8s;
//@include ubuntu-p-takeover-neutral;
//@include ubuntu-p-takeover-dark;
//@include ubuntu-p-takeover-snapcraft;/
//}

@mixin ubuntu-p-takeovers {
  .p-takeover {
    @extend %vf-strip;
    background-blend-mode: normal;
    background-color: $color-x-light;
    background-image:
    linear-gradient(
    -89deg,
    #e95420 0%,
    #772953 42%,
    #2c001e 94%
    );
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 99.83%;
    color: $color-light;
    overflow-x: hidden;
    padding-bottom: 1rem;
    padding-top: 3rem;

    @media (min-width: $breakpoint-small) {
      background-blend-mode: multiply, multiply, normal, normal;
      background-color: $color-x-light;
      background-image:
      linear-gradient(
      to bottom left,
      rgba(119, 41, 83, 0.16) 0,
      rgba(119, 41, 83, 0.16) 49.9%,
      transparent 50%
      ),
      linear-gradient(
      to bottom right,
      rgba(228, 228, 228, 0.5) 0,
      rgba(228, 228, 228, 0.5) 49.9%,
      transparent 50%
      ),
      linear-gradient(
      to top left,
      rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49.3%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(
      -89deg,
      #e95420 0%,
      #772953 42%,
      #2c001e 94%
      );
      background-position: top right, top left, right 100%, left top;
      background-repeat: no-repeat;
      background-size: 88% 99.83%, 68% 91%, 103% 18%, 100% 99.83%;
      padding-bottom: $spv-inner--scaleable * 6;
      padding-top: $spv-inner--scaleable * 6;

      h1 {
        padding-top: 0;
      }

      .col-6,
      .col-7 {
        margin-bottom: $spv-inner--scaleable * 3;
      }
    }

    &__rightcol {
      @media (min-width: $breakpoint-small) {
        padding-bottom: $spv-inner--scaleable * 5.33334;
      }
    }
  }
}
