// Pull quote styling
@mixin ubuntu-p-testimonials {
  .p-testimonial {
    display: flex;

    &__image {
      border-radius: 50%;
    }

    &__quote {
      @extend .p-pull-quote;
      margin: 0;
    }

    &__citation {
      align-items: center;
      display: flex;
      margin-top: $spv-inter--regular;
    }

    &__logo {
      margin-right: $sph-intra--condensed;
    }
  }
}
