@mixin ubuntu-p-card {

  .p-card__footer {
    border-top: 1px solid $color-mid-light;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .p-card--ubuntu-upgrade {
    @extend .p-card;
    padding: 1.333rem 0;

    > .row {
      margin: 1rem 0;
      padding: 0 1.33rem;
    }

    &__footer {
      background: $color-light url('#{$assets-path}f68488b1-picto-upgrade-warmgrey.svg') $sp-medium center no-repeat;
      background-size: $sp-xx-large $sp-xx-large;
      margin: 0;
      padding: $sp-medium $sp-medium $sp-medium 5.25rem;
    }
  }

  .p-card__category {
    background: url('#{$assets-path}ed42aefa-icon-resource-hub-icon-document.png') left center no-repeat;
    color: $color-mid-dark;
    font-size: $sp-medium;
    line-height: 1.5;
    padding: 0 0 0 $sp-large;
    text-transform: uppercase;

    > a:link,
    > a:visited {
      color: $color-mid-dark;
      text-decoration: none;
    }

    > a:hover,
    > a:active {
      color: $color-brand;
      text-decoration: underline;
    }
  }
}
