@mixin ubuntu-p-inline-images {
  @include vf-p-inline-images;

  .p-inline-images {
    margin-left: 0;
    padding-left: 0;

    // XXX Peter Mahnke 2018-03-01
    // Extension of the inline images to add logo support
    // This should be proposed up to vanilla-brochure-theme once approved
    // see https://github.com/vanilla-framework/vanilla-framework/issues/1605
    &__item {
      overflow: visible;
    }

    &__item--compact {
      margin: $sp-medium;
    }

    &__item--smaller {
      margin: $sp-medium;
      max-width: 7.25rem;
    }
  }

  // XXX Peter Mahnke 2018-03-01
  // Extension of the inline images to add logo support
  // This should be proposed up to vanilla-brochure-theme once approved
  // see https://github.com/vanilla-framework/vanilla-framework/issues/1605
  .p-inline-images__logo {
    max-height: $sp-xxx-large;
    width: auto;

    &[src*="svg"] {
      max-width: 7rem;

      @media only screen and (min-width: $breakpoint-medium) {
        max-width: 9rem;
      }
    }

    @media only screen and (min-width: $breakpoint-medium) {
      max-height: 5.5rem;
    }
  }
}
