@mixin ubuntu-p-card {
  .p-card--cloud-and-server {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#2b939c);
  }
  .p-card--internet-of-things {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#b0709d);
  }
  .p-card--desktop {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#66a2c1);
  }
  .p-card--canonical-announcements {
    @extend %p-card--highlighted;
    @include vf-highlight-bar(#ff8936);
  }

  .p-card--flex {
    @extend %p-card--highlighted;
    display: flex;
    flex-direction: column;

    .p-card__center-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 10;
      margin: 1rem 0;
    }
  }
}
