@mixin ubuntu-p-navigation-dropdown {
  $dropdown-border: 1px solid $colors--dark-theme--border-low-contrast;

  .dropdown-content-mobile {
    @media (min-width: $breakpoint-navigation-threshold) {
      display: none !important;
    }
  }

  .dropdown-content-desktop {
    background-color: #2d2d2d;
    border-top: $dropdown-border;

    @media (max-width: $breakpoint-navigation-threshold) {
      display: none !important;
    }
  }

  // overlay
  .dropdown-window-overlay {
    background-color: rgba(17, 17, 17, 0.4);
    height: 100%;
    position: fixed;
    top: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: 7;
  }

  .dropdown-window {
    @include vf-animation(all, brisk, out);

    background-color: #262626;
    box-shadow: 0 1px 32px 1px transparentize($color-dark, 0.8);
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 11;

    &__content-container {
      @extend %fixed-width-container;

      @media (max-width: $breakpoint-small - 1) {
        padding: 0;
      }
    }
  }

  .dropdown-window__content {
    color: $color-light;
    padding: 0;

    @media (max-width: $breakpoint-x-small - 1) {
      .p-inline-list--middot.is-x-dense {
        margin-bottom: 0.3rem;
      }
    }

    [hidden="true"] {
      display: none;
    }

    .p-side-navigation {
      @media (min-width: $breakpoint-navigation-threshold) {
        height: 100%;
        padding: 2rem 0;
        position: relative;

        &::after {
          background: #262626;
          bottom: 0;
          content: "";
          display: block;
          left: -50vw;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      &__drawer {
        height: 100%;
        position: relative;

        @media (max-width: $breakpoint-navigation-threshold) {
          max-width: none;
          position: initial;
          transform: none;
        }
      }

      &__link {
        border-bottom: $dropdown-border;
        padding-right: 2rem;

        @media (min-width: $breakpoint-navigation-threshold) {
          padding-left: 0.5rem;
          padding-right: 1rem;
        }
        
        &::before,
        &:focus::before {
          display: none;
        }

        &::after {
          @extend %icon;
          @include vf-icon-chevron;
          bottom: 0;
          content: '';
          margin: auto;
          position: absolute;
          right: 1rem;
          top: 0;
          transform: rotate(-90deg);
          
          @media (min-width: $breakpoint-navigation-threshold) {
            display: none;
          }
        }
      }

      &__item:last-child {
        .p-side-navigation__link {
          border: 0;
        }
      }
    }

    & .p-inline-list__item {
      @extend %small-text-fixed;

      list-style-type: none;

      &::after {
        @media only screen and (max-width: $breakpoint-medium - 1) {
          display: none;
        }
      }
    }
  }

  .dropdown-window__footer {
    align-items: center;
    border-top: $dropdown-border;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    a {
      margin: 0;
    }
  }

  .dropdown-window__side-panel {
    @media (min-width: $breakpoint-navigation-threshold) {
      margin: 2rem 0;
    }

    a {
      color: #3097ff;
    }

    .p-muted-heading {
      @media (max-width: $breakpoint-navigation-threshold) {
        padding-left: 1rem;
      }
    }

    .p-list__item {
      @media (max-width: $breakpoint-navigation-threshold) {
        padding-left: 1rem;
      }
    }
  }

  .dropdown-window__main-panel {
    @media (min-width: $breakpoint-navigation-threshold) {
      border-right: $dropdown-border;
      margin: 2rem 0;
      padding-right: 2rem;
    }

    .p-list__item {
      border-bottom: $dropdown-border;
      line-height: 1.5rem;
      margin: 0.5rem;
      padding-left: 0.5rem;
      position: relative;
      
      @media (min-width: $breakpoint-navigation-threshold) {
        margin: 0;
      }

      a {
        &:first-child::before {
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }

        &:not(:first-child) {
          // Main panel list items can contain more than one link,
          // setting position allows them to be clicked independently
          // of the primary/first link
          margin-top: 1rem;
          position: relative;
        }

        &:hover {
          text-decoration: none;

          &::before {
            background-color: rgba(170, 170, 170, 0.1);
          }
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    .p-muted-heading {
      padding-left: 1rem;

      @media (min-width: $breakpoint-navigation-threshold) {
        padding-left: 0.5rem;
      }
    }
  }

  .dropdown-window__sidenav-content {
    @media (max-width: $breakpoint-navigation-threshold) {
      @include vf-animation(all, brisk, out);
      background-color: #2d2d2d;
      position: absolute;
      top: 3rem;
      transform: translateX(100vw);
      width: 100%;
      z-index: 101;

      &.is-active {
        transform: translateX(0);
      }
    }
  }

  .dropdown-window__sidenav-back {
    color: $color-light;
    display: block;
    padding: 0.75rem 0.25rem 0.75rem 2.5rem;
    position: relative;

    &:hover {
      background-color: $colors--dark-theme--background-hover;
      text-decoration: none;
    }

    &:visited {
      color: $color-light;
    }
    
    &::before {
      @extend %icon;
      @include vf-icon-chevron;
      bottom: 0;
      content: '';
      left: 0.75rem;
      margin: auto;
      position: absolute;
      top: 0;
      transform: rotate(90deg);
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      display: none;
    }
  }

  .slide-animation {
    transform: translateY(-101%);
  }

  .fade-animation {
    opacity: 0;
    visibility: hidden;
  }
}
