@mixin ubuntu-p-pull-quote {
  .p-pull-quote {
    > p:first-of-type::before,
    > p:last-of-type::after {
      color: $color-brand;
    }

    &.is-compact {
      > p {
        font-size: 1rem;
        line-height: 1.5;

        &:first-of-type::before,
        &:last-of-type::after {
          font-size: $sp-large;
          @media (min-width: $breakpoint-medium) {
            font-size: $sp-x-large;
          }
        }

        &:first-of-type::before {
          left: $sp-x-small;
          @media (min-width: $breakpoint-medium) {
            left: $sp-small;
          }
        }

        &:last-of-type::after {
          bottom: $sp-x-small;
          @media (min-width: $breakpoint-medium) {
            bottom: $sp-small;
          }
        }

        .p-pull-quote__citation {
          font-size: 1rem;
          line-height: 1.15;
          margin-top: 2rem;
        }
      }
    }
  }
}
