@mixin ubuntu-p-link {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.p-link--external {
      background: url('#{$assets-path}e1bba201-external-link-cool-grey.svg') left .2em no-repeat;
      background-size: .85em;
      padding-left: 1em;

      &::after {
        display: none;
      }
    }
  }

  .p-link--grey {
    &:link,
    &:visited {
      color: $color-mid-dark;
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
