@mixin ubuntu-p-matrix {
  .p-matrix {
    &.is-split {
      .p-matrix__item {
        @media (min-width: $breakpoint-small) {
          width: calc(50% - .666666rem);

          &:nth-child(-n+1) {
            border-top: 0;
          }

          &:nth-child(n+1) {
            border-right: 1px solid $color-mid-light;
            padding: $sp-medium;
          }

          @media (min-width: $breakpoint-medium) {
            &:nth-child(n+3) {
              border-top: 1px solid $color-mid-light;
            }
          }

          &:nth-child(2n) {
            border-right: 0;
            padding-right: 0;
          }
        }
      }
    }

    &__img-container {
      min-height: 5rem;
      padding: .5rem 0 1rem 0;
    }
  }
}
