@mixin ubuntu-p-card {

  .p-card__footer {
    border-top: 1px solid $color-mid-light;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .p-card--ubuntu-upgrade {
    @extend .p-card;
    padding: 1.25rem 0;

    > .row {
      margin: 1rem 0;
      padding: 0 1.25rem;
    }

    &__footer {
      background-color: $color-light;
      margin-top: $sp-large;
      padding: 1.25rem;
    }
  }

  .p-card__category {
    background: url('#{$assets-path}ed42aefa-icon-resource-hub-icon-document.png') left center no-repeat;
    color: $color-mid-dark;
    font-size: $sp-medium;
    line-height: 1.5;
    padding: 0 0 0 $sp-large;
    text-transform: uppercase;

    > a:link,
    > a:visited {
      color: $color-mid-dark;
      text-decoration: none;
    }

    > a:hover,
    > a:active {
      color: $color-brand;
      text-decoration: underline;
    }
  }

  %resources-card-header {
    border-radius: 2px;
    padding: .875rem $sp-medium;

    > .p-muted-heading {
      margin-bottom: 0;
    }
  }

  .p-card--resources {
    @extend .p-card--highlighted;
    display: flex;
    flex-direction: column;
    padding: 0;

    > .p-card__content {
      border-top: 1px dotted $color-mid-light;
      flex-shrink: 0;
      margin: 0 $sp-x-small;
      padding: $sp-x-small;

      > h3, p {
        margin: $sp-x-small 0;
      }

      > a {
        display: block;
        margin: $sp-x-small 0 $sp-medium 0;
        min-height: 11rem;

        @media only screen and (min-width: $breakpoint-medium) {
          margin: $sp-x-small 0;
        }
      }
    }

    > .p-card__footer {
      border-top: 1px dotted $color-mid-light;
      font-size: .875rem;
      margin: auto $sp-x-small 0;
      max-width: inherit;
      padding: $sp-medium $sp-x-small;
    }
  }

  .p-card__header {
    &--cloud-and-server {
      @extend %resources-card-header;
      border-top: 3px solid #2b939c;
    }

    &--desktop {
      @extend %resources-card-header;
      border-top: 3px solid #66a2c1;
    }

    &--internet-of-things {
      @extend %resources-card-header;
      border-top: 3px solid #b0709d;
    }

    &--canonical-announcements {
      @extend %resources-card-header;
      border-top: 3px solid #ff8936;
    }
  }

  .p-card__image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10rem;
  }
}
