@mixin ubuntu-p-table-compliance-profiles {
  .p-table--compliance-profiles {
    th,
    td {
      &:nth-child(1) {
        width: 8%;
      }

      &:nth-child(2) {
        width: 38%;
      }

      &:nth-child(3) {
        width: 18%;
      }

      &:nth-child(4) {
        width: 18%;
      }

      &:nth-child(5) {
        width: 18%;
      }
    }
  }
}

@mixin ubuntu-p-table-security-certifications {
  .p-table--security-certifications {
    th,
    td {
      &:nth-child(1) {
        width: 46%;
        @media only screen and (max-width: $breakpoint-small) {
          width: 40%;
        }
      }

      &:nth-child(2) {
        width: 18%;
      }

      &:nth-child(3) {
        width: 18%;
      }

      &:nth-child(4) {
        width: 18%;
        @media only screen and (max-width: $breakpoint-small) {
          width: 24%;
        }
      }
    }
  }
}
