// css menu for the /kernel/lifecycle page

@mixin ubuntu-p-kernel-lifecycle {
  .p-tabs__content {
    display: none;

    &:target ~ &:last-child {
      display: none;
    }

    &:last-child,
    &:target {
      display: block;
    }
  }
}
