@mixin ubuntu-p-tco-calculator {
  .tco-tooltip {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }

  .tco-input {
    @media (min-width: $breakpoint-medium) {
      max-width: 10rem;
    }
  }
}
