@mixin ubuntu-p-lists {
  @include ubuntu-p-inline-list-icons;
  @include ubuntu-p-is-trisected;
  @include ubuntu-p-nested-counter-lists;
  @include ubuntu-p-inline-definition-list;
  @include ubuntu-p-ordered-legal-list;
  @include ubuntu-p-list-small;
  @include ubuntu-p-form-list-ticked;
  @include ubuntu-p-list-divided-with-bullets;
  @include ubuntu-p-step-counter;
  @include ubuntu-p-list-ticked;
  @include ubuntu-p-list-horizontal-divided;
}

@mixin ubuntu-p-inline-list-icons {
  $color-twitter: #1da1f2;
  $color-google: #dc4e41;
  $color-linkedin: #0274b3;
  $color-facebook: #3b5898;
  $color-rss: #ea781a;

  %list-link {
    display: block;
    fill: $color-mid-dark;
    height: $sp-x-large;
    width: $sp-x-large;
  }

  .p-inline-list-icons {
    .p-inline-list__item {
      display: inline-block;
      line-height: 1rem;
      vertical-align: middle;
    }

    .p-inline-list__link {
      &--twitter {
        @extend %list-link;

        &:hover .twitter-icon {
          fill: $color-twitter;
        }
      }

      &--google {
        @extend %list-link;

        &:hover .google-plus {
          fill: $color-google;
        }
      }

      &--facebook {
        @extend %list-link;

        &:hover .facebook-icon {
          fill: $color-facebook;
        }
      }

      &--linkedin {
        @extend %list-link;

        &:hover .linkedin-icon {
          fill: $color-linkedin;
        }
      }

      &--rss {
        @extend %list-link;

        &:hover .rss-icon {
          fill: $color-rss;
        }
      }
    }
  }
}

@mixin ubuntu-p-is-trisected {
  [class*="p-list"] {
    &.is-trisected {
      @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;

        .p-list__item {
          margin-right: $sp-medium;
          width: calc(33.33% - 0.75rem);

          &:nth-child(3n + 3) {
            margin-right: 0;
          }

          &:nth-last-child(0) {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

@mixin ubuntu-p-nested-counter-lists {
  .p-nested-counter-list {
    counter-reset: item;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    & & {
      margin-top: $sp-small;
      padding-left: $sp-medium;
    }

    &__item {
      counter-increment: item;
      padding-bottom: $sp-small;
      padding-left: $sp-xx-small;

      &::before {
        content: counters(item, ".") ". ";
      }

      & & {
        padding-left: 0;

        &::before {
          content: counters(item, ".") " ";
        }
      }
    }
  }
}

// XXX Ant - 11 July 2018
// This block can be removed when the following issue is resolved:
// https://github.com/vanilla-framework/vanilla-framework/issues/1916
@mixin ubuntu-p-inline-definition-list {
  .p-inline-definition-list {
    margin-bottom: $sp-medium;

    &__title {
      border: 0;
      float: left;
      margin: 0 $sp-medium 0 0;
    }

    &__item {
      margin: 0;
    }
  }
}

@mixin ubuntu-p-ordered-legal-list {
  .p-list--ordered-legal {
    counter-reset: item;
    list-style-type: none;

    & > .p-list__item::before {
      content: counters(item, ".") ". ";
      counter-increment: item;
      font-size: 2.25rem;
      font-weight: 300;
      line-height: 1.167;
    }

    & p {
      max-width: inherit;
    }

    & > li > p,
    & > li > ol,
    & > li > ul,
    & > li + h3,
    & > li > h4,
    & > li + h5,
    & > li > .table__wrapper {
      margin-left: $sp-medium;
      padding-left: $sp-medium;
    }

    & > .p-list__item > h3,
    & > .p-list__item > h4,
    & > .p-list__item > h5,
    & > .p-list__item > h6 {
      display: inline-block;
    }

    & > .p-list__item > h4:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    & > li > ol > .p-list__item::before {
      font-size: 1.2rem;
    }

    & > .p-list__item > h2:first-child,
    & > .p-list__item > h3:first-child,
    & > .p-list__item > h4:first-child {
      display: inline-block;
    }
  }

  div > .p-list--ordered-legal {
    margin-left: 0;
    padding-left: 0;
  }
}

@mixin ubuntu-p-list-small {
  .p-text-list--small {
    @extend %small-text-fixed;

    margin-bottom: $spv--x-large - $nudge--small + 1 * $sp-unit;
    margin-left: 0;
    padding-left: 0;

    .p-p--small + & {
      margin-top: -$sp-unit * 1;
    }

    &.is-dense {
      margin-bottom: $spv--x-large - $nudge--small;
    }

    & .p-list__item {
      list-style-type: none;
      padding-left: 0;
      padding-top: 0;
      position: relative;
    }

    &.is-bordered {
      display: block;

      & .p-list__item {
        margin-bottom: 0.25rem;

        &:not(:last-child) {
          @extend %vf-pseudo-border--bottom;

          padding-bottom: 0.25rem;

          &::after {
            background-color: transparentize($color-mid-light, 0.5);
          }
        }
      }
    }
  }
}

@mixin ubuntu-p-form-list-ticked {
  form {
    .p-list__item.is-ticked {
      background-position-y: 0.43rem;
    }
  }
}

@mixin ubuntu-p-list-divided-with-bullets {
  .p-list--divided.has-bullets {
    margin-left: 1rem;
    padding-left: 1rem;
    width: 100%;

    .p-list__item {
      margin-left: -1rem;
      padding-left: 1rem;

      &::after {
        left: $sph--large;
      }
    }
  }

  ol.p-list--divided.has-bullets {
    list-style: decimal;
  }

  ul.p-list--divided.has-bullets {
    list-style: disc;
  }
}

@mixin ubuntu-p-step-counter {
  .p-step-counter {
    $disk-padding: $spv-nudge * 0.5;

    border: 1px solid $colors--light-theme--border-high-contrast;
    border-radius: 100%;
    display: inline-block;
    height: auto;
    margin-top: 0.5 *
      (map-get($line-heights, h2) - map-get($line-heights, default-text));
    padding: $disk-padding;
    text-align: center;
    width: calc(#{map-get($line-heights, default-text)} + #{2 * $disk-padding});
  }
}

@mixin ubuntu-p-list-ticked {
  .p-list--ticked {
    @extend %vf-clearfix;
    @extend %vf-list;

    .p-list__item {
      @extend %vf-list-item;

      border-bottom: 1px solid $colors--light-theme--border-default;
      padding-left: 2rem;
      position: relative;

      &::before {
        @extend %icon;
        @include vf-icon-success-grey($color-mid-dark);

        content: "";
        left: 0;
        position: absolute;
        top: 0.9rem;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

@mixin ubuntu-p-list-horizontal-divided {
  .p-list--horizontal-divided {
    list-style: none;
    margin: 0;
    padding: 0;

    .p-list__item {
      align-items: center;
      border-bottom: 1px solid $colors--light-theme--border-default;
      display: flex;
      padding: 1rem 0;

      @media only screen and (min-width: $breakpoint-medium) {
        border-bottom: 0;
        border-right: 1px solid $colors--light-theme--border-default;
        display: inline-flex;
        padding: 0 2rem;
      }

      &:first-child {
        padding-top: 0;

        @media only screen and (min-width: $breakpoint-medium) {
          padding-left: 0;
        }
      }

      &:last-child {
        border-bottom: 0;

        @media only screen and (min-width: $breakpoint-medium) {
          border-right: 0;
        }
      }

      img {
        margin-right: 1.5rem;

        @media only screen and (max-width: $breakpoint-medium) {
          display: none;
        }
      }
    }
  }
}
