@mixin ubuntu-p-gaming {
  .p-gaming {
    background-image: url("#{$assets-path}1d582338-dota2.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 488px;
    padding-bottom: 0;
    position: relative;

    &__content {
      @media only screen and (min-width: $breakpoint-medium) {
        margin-bottom: 15%;
        margin-top: 15%;
        position: relative;
        z-index: 3;
      }
    }
  }
}
