@mixin ubuntu-p-desktop-statistics {
  $burnt-sienna: #ED764D;
  $cannon-pink: #925375;
  
  .p-mobile-flex-col {
    @media only screen and (max-width: $breakpoint-medium) {
      display: flex;
      flex-direction: column;

      &>[class*="col-"]:first-child {
        order: 1;
      }

      &>[class*="col-"]:nth-child(2) {
        order: 0;
      }
    }
  }

  .p-bar-chart {
    width: 100%;

    .p-bar-chart__bar {
      opacity: 1;

      &:hover {
        opacity: .8;
      }
    }

    .tick text {
      font-size: .625rem;
    }
  }

  .p-progress-chart {
    background: $color-x-light;
    border: 1px solid $color-mid-light;
    box-shadow: 0 1px 5px 1px rgba(17, 17, 17, 0.2);

    .p-progress-chart__bar {
      opacity: 1;

      &:hover {
        opacity: .8;
      }
    }

    .p-progress-chart__text {
      font-size: 2.91029rem;
    }
  }

  .p-pie-chart {
    .p-pie-chart__wedge {
      path {
        opacity: 1;

        &:hover {
          opacity: .8;
        }
      }
    }

    .p-pie-chart__text {
      font-size: 1.2rem;

      @media only screen and (max-width: $breakpoint-medium) {
        font-size: 1rem;
      }
    }
  }

  .p-form__container {
    &.p-form__container--background {
      background: $color-x-light;
    }
  }

  .p-strip--light {
    .p-strip__row {
      >.p-strip__row--item {
        padding: $spv-intra--condensed;

        &.col-6 {
          background: $color-x-light;
        }
      }
    }
  }

  .legend {
    height: 40px;

    .legend {
      border-radius: 50%;
      display: inline-block;
      height: 16px;
      position: relative;
      top: 4px;
      width: 16px;

      &.clean-install{
        border: 5px solid $burnt-sienna;
      }

      &.upgrades {
        border: 5px solid $cannon-pink;
      }
    }
  }

  #where-are-users { // sass-lint:disable-line no-ids
    @media only screen and (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
      transform: scale(.7);
    }
  }
}
