// pie charts
// issue to bem this pattern -
@mixin ubuntu-p-pie-chart {
  .ubuntu-pie {
    margin: 0 auto;
    max-width: 21.875rem;

    .other-label {
      fill: $color-mid-dark;
    }

    //* Pie segments */
    .ubuntu {
      fill: $color-brand;
    }

    .other {
      fill: $color-x-light;
    }

    //* Labels */
    svg tspan {
      max-width: 0;
      text-align: center;
      text-transform: capitalize;
    }

    .ubuntu-label {
      fill: $color-x-light;
    }
  }
}
