@mixin ubuntu-p-navigation {
  #all-canonical-mobile .global-nav__header-link-anchor::after {
    @media (max-width: $breakpoint-small) {
      right: 1rem !important;
      top: 1.25rem !important;
    }
  }

  #all-canonical-content-mobile {
    @media (min-width: $breakpoint-navigation-threshold - 1) {
      display: none;
    }
  }

  .global-nav-desktop .global-nav-dropdown {
    top: 0;

    .global-nav__link {
      color: 69c;
    }
  }

  .p-navigation--sliding {
    z-index: 40;
    
    .p-link--inverted {
      font-weight: 400;
    }

    .p-navigation__nav {
      margin-left: -2rem;
      margin-right: 0rem;
      width: auto;

      .p-navigation__items {
        width: 100%;

        @media (max-width: $breakpoint-navigation-threshold) {
          .p-navigation__item--dropdown-toggle.is-selected {
            > .p-navigation__link::before {
              content: none;
            }
          }

          .p-navigation__link {
            padding-left: 3rem;
          }
        }

        .global-nav {
          margin-left: auto;
        }
      }
    }

    @media (max-width: $breakpoint-navigation-threshold) {
      .p-navigation__nav {
        overflow-y: hidden;
        margin-left: 0;
      }
    }

    .row {
      @media (max-width: $breakpoint-navigation-threshold) {
        padding-left: 0;
        padding-right: 0;
      }

      .p-navigation__dropdown {
        height: 100vh;
      }

      @media (min-width: $breakpoint-navigation-threshold) {
        .p-navigation__banner {
          padding-left: 0;
        }

        .p-navigation__link--search-toggle::after {
          right: 1rem;
        }
      }

      @media (max-width: $breakpoint-navigation-threshold) {
        .subsection-active & {
          transform: translateX(-100vw);
        }
      }

      li.p-navigation__dropdown-item {
        line-height: 1.5rem;
        margin: 0;
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
        position: relative;

        a {
          &:not(.p-button--positive) {
            display: block;
            padding: 0.25rem 0;
            white-space: normal;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }

      a.p-navigation__dropdown-item {
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
      }

      .p-navigation__item--dropdown-toggle {
        .p-muted-heading {
          padding-left: 2.5rem;

          @media (min-width: $breakpoint-small) {
            padding-left: 3rem;
          }
        }

        .p-navigation__account-name {
          @extend .p-navigation__dropdown-item;

          pointer-events: none;
          @media (min-width: $breakpoint-navigation-threshold) {
            .p-text--small {
              max-width: 13rem;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          @media (max-width: $breakpoint-navigation-threshold) {
            hr {
              display: none;
            }
          }
        }
        
        &.is-active[role="menuitem"] {
          @extend .is-selected;
          
          > .p-navigation__link {
            background-color: #2d2d2d;
          }
        }

        &.js-account {
          .p-navigation__dropdown-item {
            padding-bottom: 0.75rem;
            padding-top: 0.75rem;
          }

          @media (min-width: $breakpoint-navigation-threshold) {
            .p-navigation__dropdown {
              height: auto;
              min-width: 10rem;
              right: 3rem;
            }
          }

          a {
            &::after {
              @media (min-width: $breakpoint-navigation-threshold) {
                content: none;
              }
            }
          }

          a:not(.is-signed-in) {
            &::after {
              content: none;
            }
          }

          button[aria-expanded="true"] {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }

        &:first-child {
          .p-navigation__link::before {
            content: "";
          }
        }
      }

      .p-navigation__link::after {
        top: 1.25rem;
        @media (max-width: $breakpoint-navigation-threshold) {
          right: 1.5rem;
          top: 1rem;
        }
      }
    }
  }

  .p-navigation--sliding.has-menu-open {
    height: fit-content;

    .p-navigation__row {
      .p-navigation__nav {
        background-color: transparent;
      }
    }
  }
}

@mixin ubuntu-p-navigation-reduced {
  @media (min-width: $breakpoint-navigation-threshold) {
    .p-navigation--sliding.is-reduced.has-search-open {
      .p-navigation__nav .p-navigation__items {
        display: inline-flex;
      }

      .p-navigation__search {
        align-items: center;
        background-color: #262626;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        width: 100%;

        .p-search-box {
          margin: 0;
          max-width: 50rem;
        }
      }
    }
  }

  .p-navigation.is-secondary {
    position: sticky;
    top: 0px;
    z-index: 9;

    .p-navigation__nav {
      margin-left: -2rem;
    }

    .p-navigation__nav.is-open {
      display: flex;

      .p-navigation__items {
        display: block;
      }
    }

    .p-navigation__toggle--open.is-open {
      transform: rotate(-180deg);
    }

    .p-navigation__tagged-logo {
      width: 17.5rem;

      @media (min-width: $breakpoint-x-large) {
        width: 19.5rem;
      }
    }
  }

  .p-navigation--sliding.is-reduced {
    margin-bottom: 0;

    .p-navigation__banner {
      height: 2.5rem;
      padding-left: 2.5rem;
      
      @media (min-width: $breakpoint-navigation-threshold) {
        height: 2rem;
        width: 19rem;
        padding-left: 1.5rem;
      }

      @media (min-width: $breakpoint-x-large) {
        height: 2rem;
        width: calc(21rem - 1px);
      }
    }

    .p-navigation__tagged-logo {
      .p-navigation__link {
        padding-top: 0.5rem;
      }
    }

    .p-navigation__user {
      .p-navigation__link span {
        display: none;
      }
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      .p-navigation__link span {
        display: initial;
        padding-right: 0.5rem;
      }

      .p-navigation__link::after {
        top: 0.55rem;
      }
    }

    .p-navigation__item {
      .p-navigation__link {
        color: $color-mid-light;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
      }
    }

    .p-navigation__item:last-child {
      padding-left: 0.75rem;
    }

    .p-navigation__link--search-toggle {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      &::after {
        color: $color-mid-light;
        top: 0.75rem;
      }
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      background-color: $color-dark;
      margin-bottom: 0;

      .p-navigation__item {
        color: $color-mid-light;
      }

      .p-navigation__link {
        color: $color-mid-light;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        transition: none;
      }

      &__logo {
        align-items: center;
        color: $color-x-light;
        display: flex;
        font-size: 0.875rem;
        margin-bottom: $sp-unit * 1.5;
        padding-top: 0.55rem;
        position: relative;

        @media (max-width: $breakpoint-navigation-threshold - 1) {
          padding-left: $sp-small !important;
          padding-right: 0 !important;
        }

        a {
          border-left: 1px solid rgba(247, 247, 247, 0.3);
          color: $color-light !important;
          padding-left: $sp-small;

          @media (max-width: $breakpoint-navigation-threshold - 1) {
            position: relative;
            top: 1px;
          }
        }

        &::after {
          display: none;

          @media only screen and (min-width: $breakpoint-navigation-threshold) {
            background-color: $color-light;
            display: block;
            left: $sph--large;
            opacity: 0.3;
            right: $sph--large - $circle-of-friends-compensation;
          }
        }
      }

      .p-navigation__link--search-toggle {
        color: $color-mid-light;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 0;

        &::after {
          color: $color-mid-light;
          top: 0.5rem;
        }

        .p-navigation__search-label {
          font-size: 0.875rem;
          font-weight: 300;
          padding-left: 0.5rem;
        }
      }

      .p-navigation__item--dropdown-toggle {
        &::after {
          top: 0.5rem;
        }

        &.is-selected {
          background-color: rgba(255, 255, 255, 0.1);

          &::after {
            transform: rotate(-180deg);
          }

          .p-navigation__link {
            color: $color-x-light;
            padding-left: 1rem;
          }

          .p-navigation__link::before {
            display: none;
          }
        }

        &.js-account .p-navigation__dropdown {
          right: 2.75rem;
        }
      }

      .p-navigation__dropdown--right {
        top: 2rem;
      }
    }

    & ~ .global-nav-dropdown {
      top: 2.1rem !important;
    }
  }
}
