.chart__bar--orange {
  fill: #e95420;
  stroke: #e95420;
  stroke-width: 1px;
}

.chart__bar--orange-light {
  fill: #fbddd2;
  stroke: #e95420;
  stroke-width: 1px;
}

.chart__bar--grey {
  fill: #aea79f;
  stroke: #aea79f;
  stroke-width: 1px;
}

.chart__bar--aubergine {
  fill: #772953;
  stroke: #772953;
  stroke-width: 1px;
}

.chart__label--bold {
  font-weight: bold;
}

.x.axis line {
  stroke: #d6d3cf;
  shape-rendering: crispEdges;
  stroke-dasharray: 3 2;
}

.tick text {
  font-size: 12px;
}

.x.axis text {
  text-anchor: start !important;
  font-size: 11px;
}

.chart-key {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart-key__row {
  display: block;
}

.chart-key text {
  font-size: 14px;
}
