@mixin ubuntu-p-calculator {
  .p-calculator {
    .p-card--highlighted {
      overflow: visible;
    }

    [class*="p-tooltip--"] {
      margin-left: 0.5rem;
    }

    &__checkbox-label-copy {
      display: block;
      font-size: 1rem;
      line-height: 1.2rem;
    }

    &__range-hint {
      align-items: space-between;
      display: flex;

      > * {
        flex: 1;
      }
    }
  }
}
