@mixin ubuntu-p-navigation {
  @media (min-width: 1024px) {
    .dropdown-content-mobile {
      display: none !important;
    }
  }

  @media (max-width: 1024px) {
    .dropdown-content-desktop {
      display: none !important;
    }
  }

  body:not(.navigation-lock) {
    margin-top: -33px;
    transition: margin-top 0.25s;

    @media (min-width: $breakpoint-x-large) {
      margin-top: -37px;
    }
  }

  .p-navigation {
    z-index: 40;
  }

  // overlay
  .dropdown-window-overlay {
    background-color: rgba(17, 17, 17, 0.4);
    height: 100%;
    position: fixed;
    top: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: 7;
  }

  .dropdown-window {
    @include vf-animation(all, brisk, in);

    background-color: $color-x-light;
    box-shadow: 0 1px 32px 1px transparentize($color-dark, 0.8);
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 11;

    &__content {
      @extend %p-strip--very-shallow;

      background-color: $color-x-light;
      color: $color-dark;

      &:last-child {
        padding-bottom: math.div($spv--x-large, 1.5);
      }

      @media (max-width: $breakpoint-x-small - 1) {
        .p-inline-list--middot.is-x-dense {
          margin-bottom: 0.3rem;
        }
      }
    }
    & .p-inline-list__item {
      @extend %small-text-fixed;

      list-style-type: none;

      &::after {
        @media only screen and (max-width: $breakpoint-medium - 1) {
          display: none;
        }
      }
    }
  }
  .slide-animation {
    transform: translateY(-101%);
  }

  .fade-animation {
    opacity: 0;
    visibility: hidden;
  }

  // chevron transformation when menu is open
  .p-navigation__item--dropdown-toggle {
    &.is-selected {
      &::after {
        transform: rotate(-180deg);
      }

      .p-navigation__link::before {
        @media (max-width: $breakpoint-navigation-threshold) {
          display: none;
        }
      }
    }
  }

  .p-navigation.has-menu-open {
    .p-navigation__row {
      .p-navigation__nav {
        background-color: transparent;
      }
    }
  }
}

@mixin ubuntu-p-navigation-reduced {
  @media (min-width: $breakpoint-navigation-threshold) {
    .p-navigation.is-reduced.has-search-open {
      .p-navigation__nav .p-navigation__items {
        display: inline-flex;
      }
      .p-navigation__search {
        align-items: center;
        background-color: #262626;
        display: flex;
        justify-content: center;
        left: 0;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        width: 100%;

        .p-search-box {
          margin: 0;
          max-width: 50rem;
        }
      }
    }
  }

  @media (max-width: $breakpoint-navigation-threshold) {
    .p-navigation.is-reduced.has-menu-open {
      .p-navigation__row {
        .p-navigation__nav {
          background-color: #111;
        }
      }
    }
  }

  .p-navigation.is-secondary {
    z-index: 9;

    .p-navigation__nav.is-open {
      display: flex;

      .p-navigation__items {
        display: block;
      }
    }

    .p-navigation__toggle--open.is-open {
      transform: rotate(-180deg);
    }
  }

  .p-navigation.is-reduced {
    @extend %small-text;

    margin-bottom: 0;

    .p-navigation__user {
      .p-navigation__link span {
        display: none;
      }

      @media (min-width: $breakpoint-large) {
        .p-navigation__link span {
          display: initial;
          padding-right: 0.5rem;
        }
      }
    }

    .p-navigation__item {
      .p-navigation__link {
        color: $color-mid-light;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
      }
    }

    .p-navigation__banner {
      background-color: #111;

      .p-navigation__tagged-logo {
        .p-navigation__link {
          color: $color-mid-light;
          padding-bottom: 0.5rem;
          padding-left: 0;
          padding-top: 0.5rem;
        }
      }
    }

    .p-navigation__link--search-toggle {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      &::after {
        color: $color-mid-light;
        top: 0.75rem;
      }
    }

    @media (min-width: $breakpoint-navigation-threshold) {
      background-color: $color-dark;
      margin-bottom: 0;

      .p-navigation__item {
        color: $color-mid-light;
      }

      .p-navigation__link {
        color: $color-mid-light;
        font-weight: 300;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 1rem;
        transition: none;
      }

      .p-navigation__banner {
        .p-navigation__tagged-logo {
          .p-navigation__link {
            padding: 0.5rem 0 0.5rem 0;
          }
        }
      }

      .p-navigation__link--search-toggle {
        color: $color-mid-light;
        line-height: 1rem;
        padding: 0.5rem 2rem 0.5rem 0;

        &::after {
          color: $color-mid-light;
          top: 0.5rem;
        }

        .p-navigation__search-label {
          font-size: 0.875rem;
          font-weight: 300;
          padding-left: 0.5rem;
        }
      }

      .p-navigation__item--dropdown-toggle {
        &::after {
          top: 0.5rem;
        }

        &.is-selected {
          background-color: rgba(255, 255, 255, 0.1);

          &::after {
            transform: rotate(-180deg);
          }

          .p-navigation__link {
            color: $color-x-light;
          }

          .p-navigation__link::before {
            display: none;
          }
        }
      }

      .p-navigation__dropdown--right {
        top: 2rem;
      }
    }
  }
}
