@mixin ubuntu-p-ua-subscriptions {
  // The default card padding.
  $card-padding: calc(#{$spv-inner--large} - 1px);

  // Apply the grid to the direct parent of the list and details elements.
  .p-subscriptions__card > .p-card__content {
    // Use grid to set the columns as we don't want the gutter between columns
    // so that we have room to display the scrollbar in the list.
    display: grid;
    grid-template-columns: 5fr 7fr;
  }

  .p-subscriptions__list {
    position: relative;
  }

  .p-subscriptions__list-scroll {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: $card-padding;
    // Position the card absolutely so that its height matches the height of the
    // details panel.
    position: absolute;
    right: 0;
    top: 0;
  }

  .p-subscriptions__details {
    padding: $card-padding;
  }

  .p-subscriptions__list-group {
    // Add extra space between groups. Padding is used instead of margin
    // otherwise it'll be collapsed with the bottom margin from the previous
    // group.
    padding-top: $spv-outer--small;

    &:first-child {
      // No need to add space before the first group.
      padding-top: 0;
    }
  }

  .p-subscriptions__list-group-title {
    // Put the title and context menu on the same line.
    display: flex;
    // Space the context menu to the right of the container.
    justify-content: space-between;
    // Provide space before the first card.
    padding-bottom: $spv-inner--large;
  }

  .p-subscriptions__list-card-title {
    // Put the title and period on the same line.
    display: flex;
    // Space the period to the right of the container.
    justify-content: space-between;
  }

  .p-subscriptions__list-card-period {
    // Align this text with the heading next to it. Normally we could use
    // `u-align-text--small-to-default` but because the top padding has been
    // removed from the heading we need to manually nudge this text.
    padding-top: map-get($nudges, nudge--h6);
  }

  .p-subscriptions__list-card-features {
    border-top: 1px solid $colors--light-theme--border-default;
    margin-top: $spv-outer--small;
    padding-top: $spv-inner--x-small + $spv-inner--small;
  }

  // Requested as a variant in Vanilla:
  // https://github.com/canonical-web-and-design/vanilla-framework/issues/3906
  .p-subscriptions__sticky-footer-modal .p-modal__dialog {
    display: grid;
    // Push the modal actions to the bottom of the modal.
    grid-template-rows: auto 1fr auto;
  }
}
