@use "sass:color";

$color-brand: #e95420;
$color-accent-background: #2c001e;
$color-brand-light: color.adjust($color-brand, $lightness: 10%, $space: hsl);
$color-brand-dark: color.adjust($color-brand, $lightness: -10%, $space: hsl);
