$color-accent-background: #2c001e;
$color-brand:             #e95420;
$color-brand-dark:        darken($color-brand, 10%);
$color-brand-light:       lighten($color-brand, 10%);
$color-navigation-background: #fff;
