@mixin fade-left {
  animation-delay: .25s;
  animation-duration: map-get($animation-duration, sleepy);
  animation-fill-mode: forwards;
  animation-name: fadeLeft;
  animation-timing-function: map-get($animation-easing, brisk);
  opacity: 0;
  transform: translateX(-3rem);
}

@mixin fade-up {
  animation-delay: .25s;
  animation-duration: map-get($animation-duration, sleepy);
  animation-fill-mode: forwards;
  animation-name: fadeUp;
  animation-timing-function: map-get($animation-easing, brisk);
  opacity: 0;
  transform: translateY(3rem);
}

@mixin u-animations {
  .u-fade-left {
    @include fade-left;
  }

  .u-fade-left--small {
    @media (max-width: $breakpoint-small - 1) {
      @include fade-left;
    }
  }

  .u-fade-left--medium {
    @media (min-width: $breakpoint-medium) {
      @include fade-left;
    }
  }

  .u-fade-up {
    @include fade-up;
  }

  .u-fade-up--small {
    @media (max-width: $breakpoint-small - 1) {
      @include fade-up;
    }
  }

  .u-fade-up--medium {
    @media (min-width: $breakpoint-medium) {
      @include fade-up;
    }
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
