// Resource box style patterns
@mixin ubuntu-p-phone-contact {
  @include p-phone-contact;
}

@mixin p-phone-contact {
  .p-phone-contact {
    padding: $sp-large;

    &__wrapper {
      background-image: url('#{$assets-path}00d6e773-contact_orange_phone.svg');
      background-position: 10px;
      background-repeat: no-repeat;
      padding-left: 60px;
    }

    &__content {
      font-size: 1.25rem;
      margin: 0;
    }
  }
}
