@mixin ubuntu-p-navigation {

  html {
    overflow-x: hidden !important; // prevent horizontal overflow full width breakout
  }

  .p-navigation {
    margin-bottom: 0;
    border-bottom: 1px solid $color-light;
    font-size: .875rem;
    font-weight: 400;

    &__logo {
      @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
        padding-left: 1rem;
      }
    }

    &__row {
      @media (min-width: $breakpoint-large) {
        position: relative;
      }
    }
  }

  .p-navigation__links .p-navigation {
    background-color: $color-mid-dark;

    &__link {

      &:hover {
        cursor: pointer;
      }

      @media (max-width: $breakpoint-medium - 1) {
        width: 50%;
        float: left;
        padding: $sp-x-small $sp-small;

        &:nth-child(2n) {
          border-left: 1px solid $color-mid-light;
        }

        &:last-of-type {
          border-bottom: 1px solid $color-mid-light;
        }
      }

      @media (min-width: $breakpoint-medium) {
        padding: $sp-medium $sp-small;

        &:hover {
          background-color: $color-brand-light;
        }
      }
    }
  }

  // .nav-secondary override
  .nav-secondary,
  .nav-tertiary {
    // small screen view
    @media (max-width: $breakpoint-medium - 1) {
      background: $color-x-light;

      .p-breadcrumbs {
        @include full-width-breakout;
        border-bottom: 1px solid $color-mid-light;

        &__item {
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
          width: 100vw;
        }

        &__link {
          border-bottom: 1px solid $color-mid-light;
          width: 100%;
          display: inline-block;
          padding: $sp-x-small;
          margin-bottom: $sp-medium;
          color: $color-dark;
        }
      }

      &__menu {
        width: 100%;

        .p-inline-list__item {
          width: 50%;
          float: left;
          margin-right: 0;

          .is-active {
            font-weight: bold;
          }
        }

        .p-inline-list__link {
          padding: $sp-x-small;
          color: $color-x-dark;
          display: inline-block;
        }
      }
    }

    &__menu {
      display: inline-block;
      position: relative;

      @media (min-width: $breakpoint-medium) {
        margin-left: $sp-large;
      }
    }

    // large screen view
    @media (min-width: $breakpoint-medium) {
      @include full-width-breakout;
      background: $color-light;
      border-bottom: 1px solid $color-mid-light;
      padding: $sp-small 0;

      @media (max-width: $breakpoint-large) {
        border-top: 1px solid $color-mid-light;
      }

      &__menu::before {
        content: '\203A';
        font-weight: 400;
        color: $color-mid-dark;
        left: -$sp-small;
        position: absolute;
        top: 0;
      }

      a {
        color: $color-dark;

        &.is-active {
          color: $color-brand;
        }
      }

      .p-breadcrumbs__link {
        color: $color-mid-dark;
      }
    }

    @media (min-width: $breakpoint-large) {
      &__row {
        padding: 0 $sp-x-small;
      }
    }

    .p-navigation__row {
      padding-left: $sp-x-small;
      padding-right: $sp-x-small;
    }
  }

  // rollover hover dropdown menu
  .p-navigation__link {
    position: relative;
  }

  @media (min-width: $breakpoint-medium + 1) {
    .p-navigation__link:hover .hover-menu {
      display:block;
    }

    .p-navigation .p-navigation__nav ul li:hover ul::after {
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAICAYAAAD5nd/tAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYODgYVPPJJpQAAAT9JREFUKM+dkD9IAnEUx7+/IkVxFaxoKYxIWhqKwJw0JAJ315Yac8+1tUFo6HCp34XRdRp11z+J4BzckqShPzdEQ5G/EhPO6V5Tcg3G0QcePHjvffjygB4oXAIApFMxyPlcWM7nwulU7NfMNQqXGABsZNcCCpcKtapBtapBCpcK2fXlAAAcy3vMlUxTdgEAO9ubybPiPjWFoE6nQ5ZlUfNDULl0RAdSPuncddL30+gnCgOAlngLaocyn4nG9fmFJXj9fhARAMDr82MuEcfk7LSuFQu8DTvovO1SuTxlAKCqPFO5Ov/6FIIsy/qzROOdrst6S1V5xunomo0LrT4yOh4JDg6BMXfvIdvGs/mExutLPZpYnAIAdmNUVuwBbI1NRODxePEf2u0WHu9u4ev3rTLTfKBQaNh1qp5piWCa9/gGBheo3r6AmYcAAAAASUVORK5CYII=') no-repeat;
      content: '';
      display: block;
      height: $sp-x-small;
      left: $sp-x-large;
      position: absolute;
      top: -$sp-x-small;
      width: 200px;
      z-index: 999;
    }
  }

  .hover-menu {
    box-shadow: 0 2px 2px -1px $color-mid-light;
    border-radius: 10px;
    background: $color-light;
    border: 1px solid $color-mid-light;
    display: none;
    float: none;
    margin: 0;
    padding: $sp-x-small 0 $sp-medium;
    position: absolute;
    top: 60px;
    left: 0;
    width: 200px;
    z-index: 1;

    li {
      padding: $sp-x-small $sp-small 0;

      &:last-child {
        padding-bottom: 0;
      }
    }

    a {
      color: $color-dark !important; // specificity
    }
  }

  // tertiary navigation

  .p-breadcrumbs__link {

    & + .second-level-nav,
    & + .second-level-nav & {
      padding-left: 0;
      margin-bottom: 0;
    }

    .second-level-nav & {
      border-bottom: 0;
    }
  }

  .nav-tertiary__menu {
    @media (min-width: $breakpoint-medium) {
      margin-left: 2.5rem;

      .p-inline-list__item {
        margin-right: .75rem;
      }
    }

    @media (min-width: $breakpoint-large) {
      margin-left: 2.5rem;

      .p-inline-list__item {
        margin-right: 1.5rem;
      }
    }
  }
}
