// Notification style patterns
@mixin ubuntu-p-notification {
  @include p-notifications-floating;
}

@mixin p-notifications-floating  {
  .p-notification--floating {
    @include vf-notifications-default;

    bottom: 0;
    left: $sp-small;
    right: $sp-small;
    position: fixed;
    width: auto;
    z-index: 2;

    @media (min-width: $breakpoint-large) {
      left: 50%;
      margin-left: calc(#{$grid-max-width} / -2);
      width: $grid-max-width;
    }

    &__content {
      text-align: left;
      margin-bottom: 0;
      padding-right: $sp-large;
    }

    &__close {
      background-image: url('#{$assets-path}66542f40-close.svg');
      background-size: $sp-medium;
      height: $sp-medium;
      position: absolute;
      right: $sp-small;
      text-indent: -99999px;
      top: $sp-small;
      width: $sp-medium;
    }
  }
}
