// placeholders that need to be moved to vanilla

$nudge--small: map-get($nudges, nudge--small);
$p-small-lh-diff: map-get($line-heights, default-text) - map-get($line-heights, small);

%small-text-base {
  font-size: 1rem / pow($ms-ratio, 1);
  line-height: map-get($line-heights, small);
  padding-top: $nudge--small;

}

%small-text-fixed {
  @extend %small-text-base;
}

%small-text--vertically-condensed {
  @extend %small-text-base;
  margin-bottom: map-get($sp-after, small) + $p-small-lh-diff - $nudge--small;
}

%smallest-text {
  //Smallest text, used for smaller mutrd headinggs that sit next to .p-p--small
  font-size: 1rem / pow($ms-ratio, 2);
  line-height: 1rem;
  margin-bottom: .25rem;
  padding-top: .5rem;
}

h4,
.p-heading--four {
  &.is-dense {
    margin-bottom: 1 * $sp-unit - map-get($nudges, nudge--h4);
  }

  &.is-x-dense {
    margin-bottom: 0 * $sp-unit - map-get($nudges, nudge--h4);
  }
}

.p-muted-heading--small {
  @extend %smallest-text;
  text-transform: uppercase;
}

.p-p--small {
  &:not(.is-v-condensed) {
    @extend %small-text-fixed;
  }

  &.is-v-condensed {
    @extend %small-text--vertically-condensed;
  }

  & + & {
    margin-top: -$p-small-lh-diff;
  }

  .p-text-list--small + & {
    margin-top: - map-get($line-heights, small);
  }
}

%p-strip--very-shallow {
  padding-top: $spv-outer--medium;

  &:not(:last-child) {
    padding-bottom: $spv-outer--medium;
  }

  &:last-child {
    padding-bottom: $spv-outer--scaleable;
  }
}


%bg--light {
  background-color: $color-light;
  color: $color-dark;
}

.bg--light {
  @extend %bg--light;
}

.p-hr--subtle {
  opacity: .5;
}

.p-hr--dense {
  margin-bottom: - 1px;
}

.u-float--right {
  float: right;
}
