/**
 * Print Stylesheet
*/
@charset "UTF-8";

// import vanilla-framework
@import 'vanilla-framework/scss/settings';

//settings
@import 'settings_colors';

#main-content {
  float: none;
  margin: 0;
  width: 100%;
}

@page {
  margin: 2cm;
}

body {
  background: $color-x-light !important;
  color: $color-x-dark;
  font-family: "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.3;
}

a,
blockquote,
table,
pre,
[class^="p-strip"],
[class*=" p-strip"] {
    page-break-inside:avoid
}

h1,
h2,
h3,
h4,
h5,
h6,
img {
  page-break-after:avoid;
  page-break-inside:avoid
}

ul,
ol,
dl {
  page-break-before:avoid
}

a:link,
a:visited,
a {
  background: transparent;
  color: $color-link;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

a[href^=http]:after {
  content:" <" attr(href) "> ";
}

a:after > img {
  content: "";
}

header,
nav,
footer,
#livechat-compact-view,
.p-top,
.u-hide--small,
.p-heading-icon__img,
.p-contextual-footer,
.p-navigation,
.dropdown-window,
.dropdown-window__overlay,
.global-nav,
.global-nav__dropdown-overlay {
  display: none;
}

// make sure logos to display too large
.p-inline-images {
  display: inline-flex;
  flex-wrap: wrap;
  list-style-type: none;

  .p-inline-images__logo,
  .p-inline-images__item > img {
    margin: 2rem 2rem 0 0;
    max-height: 5.5rem;
    max-width: 9rem;
  }
}

// print legal pages nicely
.p-list--ordered-legal {
  counter-reset: item;
  list-style-type: none;

  & > .p-list__item:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    font-weight: 400;
  }

  & > .p-list__item > h2,
  & > .p-list__item > h3,
  & > .p-list__item > h4 {
    display: inline;
  }
}

// xxx until added to vanilla-framework
// https://github.com/vanilla-framework/vanilla-framework/issues/1982
.u-no-print {
  display: none !important
}
