@charset "UTF-8";

//settings
@import '_settings_colors';

// custom mixins
@import 'mixins/full-width-breakout';

// import vanilla-brochure-theme
@import '../../node_modules/vanilla-brochure-theme/scss/theme';
@include vanilla-brochure-theme;

// vendor
@import '../components/canonical-global-nav/src/sass/main';

// import site specific patterns and overrides
@import 'pattern_site_search';
@import 'pattern_sun-animation';
@import 'pattern_navigation';
@import 'pattern_strip';
@import 'pattern_notifications';
@import 'pattern_footer';
@import 'pattern_lists';
@import 'pattern_card';
@import 'pattern_link';
@import 'pattern_contribution';
@import 'pattern_inline-images';
@import 'pattern_testimonials';
@import 'pattern_hero';
@import 'pattern_pull_quotes';
@import 'utility_full-width';
@import 'pattern_matrix';
@import 'pattern_contextual-footer';
@import 'pattern_pie_chart';
@import 'pattern_gaming';
@import 'pattern_strip-photos';
@import 'pattern_ubuntu_intro';
@import 'pattern_takeunders';

@include ubuntu-p-site-search;
@include ubuntu-p-navigation;
@include ubuntu-p-strip;
@include ubuntu-p-notification;
@include ubuntu-p-footer;
@include ubuntu-p-lists;
@include ubuntu-p-card;
@include ubuntu-p-link;
@include ubuntu-p-contribute;
@include ubuntu-p-inline-images;
@include ubuntu-p-testimonials;
@include ubuntu-p-hero;
@include ubuntu-p-pull-quote;
@include ubuntu-u-full-width;
@include ubuntu-p-matrix;
@include ubuntu-p-contextual-footer;
@include ubuntu-p-pie-chart;
@include ubuntu-p-sun-animation;
@include ubuntu-p-gaming;
@include ubuntu-p-strip-photos;
@include ubuntu-p-ubuntu-intro;
@include ubuntu-p-takeunders;

// **************************
// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug
// **************************

// at exactly $breakpoint-medium, there is not a clean switch between mobile/desktop nav styles
// https://github.com/vanilla-framework/vanilla-framework/issues/1038
.p-navigation__links .p-navigation__link {
  @media (min-width: $breakpoint-medium) {
    background: none;
    border-left: 1px solid $color-brand-light;
    border-bottom: none;

    &:last-child {
      border-right: none;
    }

    a {
      color: $color-light;
    }
  }
}

@media (min-width: $breakpoint-medium ) {
  .p-navigation:target .p-navigation__toggle--close {
    display: none !important; // specificity
  }
}

/// XXX Compact button style
/// This should be considered for inclusion in vanilla-framework
.p-button--neutral.is-compact {
  padding: $sp-x-small $sp-small;
}


/// XXX Brand button color fix
/// .p-button--brand is blue when visited
.p-button--brand {
  color: $color-x-light;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $color-x-light;
  }
}

/// XXX Vertically spaced - add vertical margins to an element
/// An attempt to solve some of the vertical spacing issues
.u-vertically-spaced {
  padding-bottom: $sp-medium;
  padding-top: $sp-medium;
}

/// XXX Utility to add bottom padding
/// Proposal for inlcusion in vanilla: https://github.com/vanilla-framework/vanilla-framework/issues/1091
.u-padding-bottom {

  @media (min-width: $breakpoint-medium) {
    padding-bottom: $sp-medium;
  }

  &--large {

    @media (min-width: $breakpoint-medium) {
      padding-bottom: $sp-large;
    }
  }

  &--x-large {

    @media (min-width: $breakpoint-medium) {
      padding-bottom: $sp-x-large;
    }
  }
}

// brand submit buttons bg override
// https://github.com/vanilla-framework/vanilla-framework/issues/1080
.p-button--brand[type=submit]{
  background-color: $color-brand;
  border-color: $color-brand;

  &:hover,
  &:active {
    background-color: darken($color-brand, 10%);
    border-color: darken($color-brand, 10%);
  }
}

/// XXX remove abbr `text-decoration: underline dotted;`
/// add to :hover
/// from [normalize.css](https://github.com/necolas/normalize.css/blob/master/normalize.css)
abbr[title] {
  text-decoration: none;

  &:hover {
    text-decoration: underline dotted;
  }
}

// Add spacing for nested lists in body copy
// This is a change to be made upstream in vanilla-framework
// https://github.com/vanilla-framework/vanilla-framework/issues/960
li:not(.p-breadcrumbs__item) {
  ol, ul, .p-list {
    margin-top: $sp-medium;
    padding-left: $sp-medium;
  }
}

// overflow tables
.table__wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  margin: $sp-xx-large 0;
  width: 100;
}

// consecutive fieldsets do not having adequate bottom spacing
// https://github.com/vanilla-framework/vanilla-framework/issues/1081
fieldset {

  & + & {
    margin-top: $sp-large;
  }
}

// XXX Muted heading theme
// https://github.com/vanilla-framework/vanilla-brochure-theme/issues/66
.p-heading--muted {
  color: $color-dark;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.p-heading--insights__title {
  color: $color-dark;
  font-size: $sp-medium;
  font-weight: 300;
  text-transform: uppercase;

  a:link,
  a:visited {
    color: $color-dark;
  }
}

/// XXX fix .p-heading-icon making the icon go to the top
.p-heading-icon__img {
  align-self: flex-start;
}

// XXX Applies suru background to the site
// Candidate for moving to the vanilla-brochure-theme
body.has-background {
  background-color: $color-light;
  background-image: url(#{$assets-path}f8a323a7-image-background-paper.png?w=768);
  background-position: center top;
  background-repeat: repeat-y;

  @media (min-width: $breakpoint-medium ) {
    background-image: url(#{$assets-path}f8a323a7-image-background-paper.png);
  }
}

/// XXX fix nested bullets to use default styles
ul.p-list  ul.p-list {
  list-style-type: circle;

  ul.p-list {
    list-style-type: disc;
  }
}

.p-list-step__content ul.p-list {
  list-style-type: disc;
}

/// XXX fix two-digit padding in .p-list-step__bullet
.p-list-step__bullet {
  padding: .65rem .4rem;
}

// XXX add margin bottom to code snippets
.p-code-snippet,
pre {
  margin-bottom: $sp-large;

  p + & {
    margin-top: -$sp-small;
  }
}

// XXX orange quotes in pull quotes
.p-pull-quote > p:first-of-type::before,
.p-pull-quote--accent > p:first-of-type::before,
.p-pull-quote > p:last-of-type::after,
.p-pull-quote--accent > p:last-of-type::after {
  color: $color-brand;
}

// XXX add to grahams section page when live
// flex to flow charm list around
.p-list-flex {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 16px;
    margin-right: 18px;
    max-height: 172px;
    max-width: 142px;
  }
}

// XXX sup is too high in Vanilla
// bug - https://github.com/vanilla-framework/vanilla-framework/issues/1109
sup {
  font-size: .75em;
  vertical-align: baseline;
}

// XXX responsive image utility
// S - 65%, M - 90%, L - 100%
.u-responsive-image {
  width: 65%;

  @media (min-width: $breakpoint-medium ) {
    width: 90%;
  }

  @media (min-width: $breakpoint-large ) {
    width: 100%;
  }
}

/// XXX responsive bottom margin
.u-less-margin--bottom {
  margin-bottom: .5rem;

  @media (min-width: $breakpoint-medium ) {
    margin-bottom: 1rem;
  }
}

/// XXX Override for p-strip--image to hide the background at small viewports
.u-no-background--small {
  @media (max-width: $breakpoint-medium) {
    background-image: none !important;
  }
}

/// XXX Muted icon headers
.p-heading-icon {
  &__img--small {
    max-width: 30px;
  }

  &__title--muted {
    color: #666;
  }
}
