@charset "UTF-8";

//settings
@import 'settings_colors';

// custom mixins
@import 'mixins/full-width-breakout';

// import vanilla-framework
@import 'vanilla-framework/scss/build';

// vendor
@import '../global-nav/src/sass/main';

// import site specific patterns and overrides
@import 'pattern_buttons';
@import 'pattern_site_search';
@import 'pattern_sun-animation';
@import 'pattern_navigation';
@import 'pattern_strip';
@import 'pattern_notifications';
@import 'pattern_footer';
@import 'pattern_lists';
@import 'pattern_card';
@import 'pattern_link';
@import 'pattern_contribution';
@import 'pattern_inline-images';
@import 'pattern_testimonials';
@import 'pattern_heading-icon';
@import 'pattern_hero';
@import 'pattern_pull_quotes';
@import 'utility_full-width';
@import 'pattern_matrix';
@import 'pattern_contextual-footer';
@import 'pattern_pie_chart';
@import 'pattern_gaming';
@import 'pattern_strip-photos';
@import 'pattern_ubuntu_intro';
@import 'pattern_takeunders';
@import 'pattern_table';
@import 'pattern_tabs';
@import 'takeovers/1804-release';

@include ubuntu-p-buttons;
@include ubuntu-p-site-search;
@include ubuntu-p-navigation;
@include ubuntu-p-strip;
@include ubuntu-p-notification;
@include ubuntu-p-footer;
@include ubuntu-p-lists;
@include ubuntu-p-card;
@include ubuntu-p-link;
@include ubuntu-p-contribute;
@include ubuntu-p-inline-images;
@include ubuntu-p-testimonials;
@include ubuntu-p-heading-icon;
@include ubuntu-p-hero;
@include ubuntu-p-pull-quote;
@include ubuntu-u-full-width;
@include ubuntu-p-matrix;
@include ubuntu-p-contextual-footer;
@include ubuntu-p-pie-chart;
@include ubuntu-p-sun-animation;
@include ubuntu-p-gaming;
@include ubuntu-p-strip-photos;
@include ubuntu-p-ubuntu-intro;
@include ubuntu-p-takeunders;
@include ubuntu-p-tables;
@include ubuntu-p-tabs;
@include p-takeover-1804-release;

// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug

@media (min-width: $breakpoint-medium ) {
  .p-navigation:target .p-navigation__toggle--close {
    display: none !important; // specificity
  }
}

/// XXX Compact button style
/// This should be considered for inclusion in vanilla-framework
.p-button--neutral.is-compact {
  padding: $sp-x-small $sp-small;
}

// XXX Vertically spaced - add vertical margins to an element
// An attempt to solve some of the vertical spacing issues
.u-vertically-spaced {
  padding-bottom: $sp-medium;
  padding-top: $sp-medium;
}

/// XXX remove abbr `text-decoration: underline dotted;`
/// add to :hover
/// from [normalize.css](https://github.com/necolas/normalize.css/blob/master/normalize.css)
abbr[title] {
  text-decoration: none;

  &:hover {
    text-decoration: underline dotted;
  }
}

// overflow tables
.table__wrapper {
  margin: $sp-xx-large 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100;
}

.p-heading--insights__title {
  @extend %vf-heading-5;
  font-weight: 300;
  text-transform: uppercase;

  a:link,
  a:visited {
    color: $color-dark;
  }
}

// XXX Applies suru background to the site
// Candidate for moving to the vanilla-brochure-theme
.has-background {
  background-color: $color-light;
  background-image: url('#{$assets-path}f8a323a7-image-background-paper.png?w=768');
  background-position: center top;
  background-repeat: repeat-y;

  @media (min-width: $breakpoint-medium ) {
    background-image: url('#{$assets-path}f8a323a7-image-background-paper.png');
  }
}

/// XXX fix nested bullets to use default styles
.p-list .p-list {
  list-style-type: circle;

  .p-list {
    list-style-type: disc;
  }
}

.p-list-step__content .p-list {
  list-style-type: disc;
}

// XXX add to grahams section page when live
// flex to flow charm list around
.p-list-flex {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-bottom: 16px;
    margin-right: 18px;
    max-height: 172px;
    max-width: 142px;
  }
}

// XXX responsive image utility
// S - 65%, M - 90%, L - 100%
.u-responsive-image {
  width: 65%;

  @media (min-width: $breakpoint-medium ) {
    width: 90%;
  }

  @media (min-width: $breakpoint-large ) {
    width: 100%;
  }
}

/// XXX Override for p-strip--image to hide the background at small viewports
.u-no-background--small {
  @media (max-width: $breakpoint-medium) {
    background-image: none !important;
  }
}

// XXX Ant: 16.10.17 - Can be removed when this issue has been resolved.
// https://github.com/vanilla-framework/vanilla-framework/issues/1379
.u-image-position {
  @media (min-width: $breakpoint-medium) {
    overflow: hidden;
  }
}

// XXX Karl: 19.10.17
// VF 1.6.0 is missing this
.p-link--external::after {
  -webkit-mask-size: cover;
}

// XXX Ant: 27.10.17
select {
  background-position-y: center;
  min-height: 0;
  padding-right: 2rem;
}


// XXX Ant: 27.10.17 - Can be removed when this issue has been resolved.
// https://github.com/vanilla-framework/vanilla-framework/issues/1458
.p-tabs {
  &__item:last-of-type {
    @media (max-width: $breakpoint-small) {
      padding-right: 4rem;
    }
  }

  &::before {
    width: 70px;
  }
}

// XXX Ant: 04.12.17 This can be removed when this is fixed
// https://github.com/vanilla-framework/vanilla-framework/issues/1478
.u-align--center {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    max-width: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &.u-align--center {
    max-width: none;
  }
}

// XXX Ant: 11.12.17 This can be removed when this is fixed
// https://github.com/vanilla-framework/vanilla-framework/issues/1491
.is-dark .p-button--base {
  @include vf-animation(
    $property: all,
    $duration: fast,
    $easing: in
  );
  color: $color-x-light;

  &:hover {
    color: $color-dark;
  }
}

// XXX Caleb: 15.01.18 Autoprefixer issue
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: right $sp-x-small center;
  background-size: $sp-medium;
  padding-right: $sp-xxx-large;
}

// XXX Caleb: Temporary code block spacing fix until issue is resolved in Vanilla
// https://github.com/vanilla-framework/vanilla-framework/issues/1385
p + pre {
  margin-top: $sp-medium;
}

.u-align--bottom {
  display: flex;
  align-items: flex-end !important;
}

.p-card__icon {
  display: inline-block;
  margin-bottom: 1.25rem;
  height: 2rem;
}

.p-strip--security {
  @extend .p-strip;

  @media only screen and (min-width: $breakpoint-medium) {
    background-image: url(https://assets.ubuntu.com/v1/8717cb84-padlock-chain-icon-angular.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 70% top;
  }
}
