@charset "UTF-8";

// allow use of math.div
@use "sass:math";

//settings
@import "global-settings";
@import "settings_colors";

// custom mixins
@import "mixins/full-width-breakout";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// import dial-code dropdown
@import "intl-tel-input/build/css/intlTelInput";

// import vanilla-framework
@import "vanilla-framework";
@include vanilla;

@import "vanilla-placeholders";

$color-shadow: rgba(0, 0, 0, 0.5) !default;

// import site specific patterns and overrides
@import "pattern_accordion";
@import "pattern_active-reveal";
@import "pattern_blog-featured";
@import "pattern_blog-list";
@import "pattern_blog-post";
@import "pattern_blog-card";
@import "pattern_blog-suru";
@import "pattern_blog-topic";
@import "pattern_buttons";
@import "pattern_calculator";
@import "pattern_card";
@import "pattern_checkout";
@import "pattern_certification-results";
@import "pattern_chart";
@import "pattern_component-details-table";
@import "pattern_component-table";
@import "pattern_contact-modal";
@import "pattern_contextual-footer";
@import "pattern_cube-animation";
@import "pattern_cube-image";
@import "pattern_cube-progression";
@import "pattern_cube-table";
@import "pattern_cve";
@import "pattern_desktop-statistics";
@import "pattern_gaming";
@import "pattern_grid";
@import "pattern_footer";
@import "pattern_hardware-details-table";
@import "pattern_heading-icon";
@import "pattern_icons";
@import "pattern_inline-list-midline";
@import "pattern_lightbox";
@import "pattern_lists";
@import "pattern_matrix";
@import "pattern_navigation";
@import "pattern_pie_chart";
@import "pattern_ratings";
@import "pattern_renewal-modal";
@import "pattern_security-certs-table";
@import "pattern_shop-cart";
@import "pattern_strip";
@import "pattern_strip-photos";
@import "pattern_subscriptions";
@import "pattern_subscribe";
@import "pattern_tabs";
@import "pattern_takeunders";
@import "pattern_takeovers";
@import "pattern_table-of-contents";
@import "pattern_table";
@import "pattern_tco-calculator";
@import "pattern_ubuntu_intro";
@import "takeovers/financial-services";
@import "utility_animations";
@import "utility_crop";
@import "utility_vertically-center";

@include blog-p-card;
@include blog-p-featured;
@include blog-p-icons;
@include blog-p-list;
@include blog-p-post;
@include blog-p-strips-suru;
@include blog-p-topic;
@include blog-u-crop;
@include ubuntu-p-accordion;
@include ubuntu-p-active-reveal;
@include ubuntu-p-buttons;
@include ubuntu-p-calculator;
@include ubuntu-p-cards;
@include ubuntu-p-certification-results;
@include ubuntu-p-checkout;
@include ubuntu-p-contact-modal;
@include ubuntu-p-contextual-footer;
@include ubuntu-p-cube-animation;
@include ubuntu-p-cube-progression;
@include ubuntu-p-cve;
@include ubuntu-p-desktop-statistics;
@include ubuntu-p-floating-image;
@include ubuntu-p-footer;
@include ubuntu-p-gaming;
@include ubuntu-p-grid;
@include ubuntu-p-heading-icon;
@include ubuntu-p-inline-list-midline;
@include ubuntu-p-attention-icon;
@include ubuntu-p-lightbox;
@include ubuntu-p-lists;
@include ubuntu-p-matrix;
@include ubuntu-p-navigation;
@include ubuntu-p-strip;
@include ubuntu-p-pie-chart;
@include ubuntu-p-ua-payment-modal;
@include ubuntu-p-ua-shop-cart;
@include ubuntu-p-ua-subscribe;
@include ubuntu-p-ua-subscriptions;
@include ubuntu-p-strip-photos;
@include ubuntu-p-table-compliance-profiles;
@include ubuntu-p-table-of-contents;
@include ubuntu-p-table-security-certifications;
@include ubuntu-p-tables;
@include ubuntu-p-takeunders;
@include ubuntu-p-takeovers;
@include ubuntu-p-tco-calculator;
@include ubuntu-p-engage-banner;
@include ubuntu-p-ubuntu-intro;
@include ubuntu-p-tabs;
@include ubuntu-u-animations;
@include ubuntu-u-vertically-center;
@include p-takeover-financial-services;
@include vf-p-icon-success-grey;

// Layouts:
@import "layout-legal-pages";

@include layout-legal-pages;

@import "layout-tutorials";

@include layout-tutorials;

@import "layout-tutorial";

@include layout-tutorial;

@import "layout-whitepapers";

@include layout-whitepapers;

// Overide the path to flags for dial codes
.iti__flag {
  background-image: url("#{$assets-path}21572c97-flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("#{$assets-path}d6f84371-flags%402x.png");
  }
}

.iti {
  width: 100%;
}

// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a brief description of
// the bug

// XXX Vertically spaced - add vertical margins to an element
// An attempt to solve some of the vertical spacing issues
.u-vertically-spaced {
  padding-bottom: $sp-medium;
  padding-top: $sp-medium;
}

.u-sv4 {
  padding-bottom: $sp-xx-large;
}

/// XXX fix nested bullets to use default styles
.p-list .p-list {
  list-style-type: circle;

  .p-list {
    list-style-type: disc;
  }
}

// XXX Caleb: 15.01.18 Autoprefixer issue
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-position: right $sp-x-small center;
  background-size: $sp-medium;
  padding-right: $sp-xxx-large;
}

.p-card__icon {
  display: inline-block;
  height: 2rem;
  margin-bottom: 1.25rem;
}

// XXX Steve: 21.06.18
// https://github.com/vanilla-framework/vanilla-framework/issues/1794
.u-no-max-width {
  max-width: none !important;
}

// XXX Peter: adding border back for fieldsets
fieldset {
  border: 1px solid $color-mid-light;
  border-radius: $sp-xx-small $sp-xx-small 0 0;
}

fieldset + fieldset {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0 !important;
}

fieldset:last-child {
  border-bottom-left-radius: $sp-xx-small !important;
  border-bottom-right-radius: $sp-xx-small !important;
  border-bottom-width: 1px !important;
}

// XXX Steve: Overriding default Vanilla style :(
.p-heading--6 {
  font-style: normal;
}

// XXX Steve: Pull quote colour override
.p-pull-quote,
.p-pull-quote--large {
  .p-pull-quote__quote:first-of-type::before,
  .p-pull-quote__quote:last-of-type::after {
    color: $color-brand;
  }
}

h1.u-align--center,
h2.u-align--center,
h3.u-align--center,
h4.u-align--center,
h5.u-align--center,
h6.u-align--center,
p.u-align--center {
  max-width: none;
}

// Override for wordpress use of <figure>
.blog-article figure {
  max-width: $text-max-width;
  text-align: center;
}

// Fix-up html default accordian on download thank-you pages
summary {
  margin: $sp-medium 0;
}

.desktop-hero {
  background-image: url("#{$assets-path}def23aa4-desktop-22.04-hero.jpg?w=2000");
  background-position: right bottom;
  background-size: 1000px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }

  &--subtext {
    max-width: 28em;

    @media only screen and (max-width: 874px) and (min-width: 620px) {
      width: 50%;
    }
  }
}

.organisations-hero {
  background-image: url("#{$assets-path}64e12f4b-desktop-22.04-Laptop-Map.jpg?w=2000");
  background-position: right bottom;
  background-size: 1100px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }
}

.u-pull-up--large {
  @media only screen and (min-width: $breakpoint-large) {
    position: relative;
    top: -2rem;
  }
}

.u-inline--child {
  display: inline;

  > * {
    display: inline;
  }
}

.advantage-table-section {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.advantage-table-instruction {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr 2fr;
  margin: 1rem 0;

  > span {
    color: $color-mid-dark;
    grid-column: 1;
  }

  > code,
  > a,
  > p {
    align-self: flex-start;
    grid-column: 2;
    padding-left: 0;
  }

  > p {
    margin: 0;
    padding: 0;
  }

  > hr {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    grid-template-columns: auto 2fr;
    margin: 1.5rem 0;

    > hr {
      display: block;
      grid-column: span 2;
      margin: 0;
    }
  }
}

.advantage-table {
  overflow: visible;

  tr:target {
    background-color: $color-mid-x-light;
  }

  @media only screen and (min-width: $breakpoint-small) {
    td,
    th {
      &:nth-child(1) {
        width: 40%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 15%;
      }
    }
  }
}

.subscribe-section {
  @media (min-width: $breakpoint-medium) {
    margin-left: 4rem !important;
  }
}

// Styling for ubuntu navigation logo for engage pages
.navigation-logo-engage {
  margin-top: -2.2rem;
  padding-bottom: 1.75rem;

  @media screen and (max-width: ($breakpoint-large - 1px)) {
    padding-top: 2rem;
  }

  a img {
    width: 143px;
  }
}

.p-tile {
  margin-bottom: 64px;

  &:nth-child(4) {
    margin-bottom: 0;
  }

  @media only screen and (min-width: ($breakpoint-medium + 1)) {
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
}

.p-tile__row {
  @media only screen and (max-width: $breakpoint-medium) {
    align-items: center;
    display: grid;
    justify-content: flex-start;
  }
}

.breadcrumbs--secondary .p-contextual-menu__dropdown {
  margin-top: 2rem;
}

.u-text-light {
  color: $color-mid-dark;
}

.p-list--no-borders {
  .p-list__item {
    &::after,
    &:last-of-type {
      border-bottom: 0 !important;
    }
  }
}

// XXX Steve: workaround for image template wrapping image in `div`
// Bug: https://github.com/canonical-web-and-design/canonicalwebteam.image-template/issues/43
.p-heading-icon__header {
  .lazyloaded {
    @extend .p-heading-icon__img;
  }
}

.is-dark {
  .p-heading-icon--muted {
    .p-heading-icon__title {
      color: inherit;
    }
  }
}

.u-disable {
  opacity: 0.2;
  pointer-events: none;
}

td.p-accordion {
  padding-top: 0;
}

// Local override for custom table
.p-accordion.is-compact .p-accordion__panel {
  padding-left: $sph--small;
}

.is-bordered--top {
  @extend %vf-pseudo-border--top;
}

// Utilities for using icons in table cells
.icon-container__icon {
  display: block;
  float: left;
  margin-right: 0.5rem;
  width: 1rem;
}

.icon-container__text {
  float: left;
  width: calc(100% - 1.5rem);
}

.p-icon--placeholder {
  height: 1rem;
  margin-right: 1rem;
  width: 1rem;
}

// Icons introduced in CVE work
.p-icon--unknown-priority,
.p-icon--negligible-priority,
.p-icon--low-priority,
.p-icon--medium-priority,
.p-icon--high-priority,
.p-icon--critical-priority,
.p-icon--dark-tick {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  position: relative;
  vertical-align: calc(0.5px + 0.3456em - 0.5em);
  width: 1rem;
}

.p-icon--unknown-priority {
  background-image: url("#{$assets-path}2dff197f-CVE-Priority-icon-Unknown.svg");
}

.p-icon--negligible-priority {
  background-image: url("#{$assets-path}ef6c75b8-CVE-Priority-icon-Negligible.svg");
}

.p-icon--low-priority {
  background-image: url("#{$assets-path}03ac6f86-CVE-Priority-icon-Low.svg");
}

.p-icon--medium-priority {
  background-image: url("#{$assets-path}8010f9e0-CVE-Priority-icon-Medium.svg");
}

.p-icon--high-priority {
  background-image: url("#{$assets-path}3887354e-CVE-Priority-icon-High.svg");
}

.p-icon--critical-priority {
  background-image: url("#{$assets-path}c96f27b9-CVE-Priority-icon-Critical.svg");
}

.p-icon--dark-tick {
  background-image: url("#{$assets-path}f1a7515d-tick-darkaubergine.svg");
}

// Prevent the page from jumping as the global nav loads
body {
  border-top: 32px solid #262626;

  @media only screen and (min-width: $breakpoint-x-large) {
    border-top-width: 36px;
  }
}

.global-nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.article-title {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.raspberry-pi-desktop-image-shadow {
  box-shadow: 0 0 15px -5px #000;
}

.raspberry-pi-desktop-image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
}

// Albert - 26 October 2020
// This block can be removed when the following issue is resolved:
// https://github.com/vanilla-framework/vanilla-framework/issues/3376
.p-heading-icon--large {
  margin-bottom: $sp-unit;

  .p-heading-icon__img {
    height: $sp-unit * 8;
    width: $sp-unit * 8;

    @media (min-width: $breakpoint-medium) {
      height: $sp-unit * 8;
      margin-top: 0;
      width: $sp-unit * 8;
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SlideInFromRight {
  0% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromLeft {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

.p-takeover-animation {
  animation: FadeIn map-get($animation-duration, "snap")
    map-get($animation-easing, "in");
  animation-delay: 2.5s;
  animation-fill-mode: backwards;
  &.is-loaded {
    animation-delay: 0s !important;

    .col-7 {
      animation: SlideInFromLeft map-get($animation-duration, "fast")
        map-get($animation-easing, "out");
    }

    .col-5 {
      animation: SlideInFromRight map-get($animation-duration, "fast")
        map-get($animation-easing, "out");
    }
  }

  &.is-loading {
    animation-delay: 500s !important;
  }
}

.p-strip-account-page {
  min-height: 600px;

  @media (max-width: $breakpoint-small) {
    height: auto;
  }
}

.card-management-section {
  @media (max-width: $breakpoint-small) {
    #card-element {
      margin-bottom: 1rem;
    }
  }

  .current-payment-method {
    align-items: center;
    display: flex;
    margin-bottom: 1.1rem;

    > p {
      margin: 0;
      padding: 0;
    }
  }

  .payment-card-logo {
    background-color: $color-x-light;
    border: 1px solid $color-mid-light;
    border-radius: 2px;
    height: 1.7rem;
    margin-right: 0.5rem;
  }

  #card-element {
    margin: 0.5rem 0;
  }
}

#payment-modal-form {
  > .row {
    padding-left: 0;
    padding-right: 0;
  }

  #card-element {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.56);
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 12%);
    padding: calc(0.4rem - 1px) 0.5rem;

    &.StripeElement--focus {
      outline: 0.1875rem solid #2e96ff;
      outline-offset: -0.1875rem;

      &.StripeElement--invalid {
        outline-color: $color-negative;
      }
    }

    &.StripeElement--invalid {
      background-image: url("#{$assets-path}4b0cd7fc-icon-error.svg");
      background-position: calc(100% - 0.5rem) 50%;
      background-repeat: no-repeat;
      border-color: $color-negative;
    }
  }
}

// Styling to display a success message when forms are successfully submitted.
#success {
  display: none;
  position: absolute;
}

#success:target {
  display: block;
  z-index: 10;
}

html {
  scroll-behavior: smooth;
}

.support-cart-summary {
  text-align: center;

  .support-cart-total {
    display: block;
    margin-bottom: 1rem;
  }

  @media (min-width: $breakpoint-small) {
    text-align: left;
  }

  @media (min-width: $breakpoint-medium) {
    text-align: right;

    .support-cart-total {
      display: inline;
      margin-bottom: 0;
    }

    button {
      margin-left: 1rem;
    }
  }
}

.p-testimonial {
  @extend %fixed-width-container;

  padding-bottom: $sph--x-large;
  position: relative;

  @supports (display: grid) {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 0 map-get($grid-gutter-widths, small);
    grid-template-columns: repeat($grid-columns-small, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;

    @media (min-width: $threshold-4-6-col) {
      grid-gap: 0 map-get($grid-gutter-widths, default);
      grid-template-columns: repeat($grid-columns-medium, minmax(0, 1fr));
    }

    @media (min-width: $threshold-6-12-col) {
      grid-gap: 0 map-get($grid-gutter-widths, default);
      grid-template-columns: repeat($grid-columns, minmax(0, 1fr));
    }
  }

  .p-testimonial__logo {
    @media (max-width: ($threshold-4-6-col - 1)) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }
    @media (min-width: $threshold-4-6-col) and (max-width: ($threshold-6-12-col - 1)) {
      grid-column: 1 / span 2;
    }
    @media (min-width: $threshold-6-12-col) {
      grid-column: 1 / span 2;
    }
  }

  .p-testimonial__author {
    @media (max-width: ($threshold-4-6-col - 1)) {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
    }
    @media (min-width: $threshold-4-6-col) and (max-width: ($threshold-6-12-col - 1)) {
      grid-column: 3 / span 1;
    }
    @media (min-width: $threshold-6-12-col) {
      grid-column: 3 / span 3;
    }
  }

  .p-testimonial__quote {
    @media (max-width: ($threshold-4-6-col - 1)) {
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
    }
    @media (min-width: $threshold-4-6-col) and (max-width: ($threshold-6-12-col - 1)) {
      grid-column: 4 / span 3;
    }
    @media (min-width: $threshold-6-12-col) {
      grid-column: 7 / span 6;
    }
  }
}

.u-pad-logo {
  padding-top: 0.2rem;
}

.u-max-width {
  display: block;
  max-width: $text-max-width;
}

img.has-shadow {
  box-shadow: 0 0 1rem #e5e5e5;
}

// Style for status labels (similar to chips but non-clickable)
.p-status-label--rounded {
  background-color: #ddf2e0;
  border-radius: map-get($line-heights, h4);
  margin-bottom: map-get($sp-after, h4) - map-get($nudges, h4);
  padding-bottom: map-get($nudges, h4);
  padding-left: $sph--x-large;
  padding-right: $sph--x-large;
}

// Temp fix for anchor underlines
// Being addressed upstream in https://github.com/canonical/vanilla-framework/issues/4600
a:hover {
  text-decoration: underline 1px;
  text-underline-offset: 0.075em;
}
