@charset "UTF-8";

//settings
@import "global-settings";
@import "settings_colors";

// custom mixins
@import "mixins/full-width-breakout";

// import vanilla-framework
@import "vanilla-framework/scss/build";
@import "vanilla-placeholders";

// import site specific patterns and overrides
@import "pattern_buttons";
@import "pattern_navigation";
@import "pattern_strip";
@import "pattern_notifications";
@import "pattern_footer";
@import "pattern_lists";
@import "pattern_card";
@import "pattern_inline-images";
@import "pattern_heading-icon";
@import "pattern_matrix";
@import "pattern_contextual-footer";
@import "pattern_pie_chart";
@import "pattern_gaming";
@import "pattern_strip-photos";
@import "pattern_ubuntu_intro";
@import "pattern_takeunders";
@import "pattern_table";
@import "takeovers/financial-services";
@import "utility-animations";
@import "pattern_chart";
@import "pattern_grid";
@import "pattern_desktop-statistics";

@include ubuntu-p-buttons;
@include ubuntu-p-navigation;
@include ubuntu-p-strip;
@include ubuntu-p-notification;
@include ubuntu-p-footer;
@include ubuntu-p-lists;
@include ubuntu-p-card;
@include ubuntu-p-inline-images;
@include ubuntu-p-heading-icon;
@include ubuntu-p-matrix;
@include ubuntu-p-contextual-footer;
@include ubuntu-p-pie-chart;
@include ubuntu-p-gaming;
@include ubuntu-p-strip-photos;
@include ubuntu-p-ubuntu-intro;
@include ubuntu-p-takeunders;
@include ubuntu-p-tables;
@include ubuntu-p-grid;
@include ubuntu-p-desktop-statistics;
@include p-takeover-financial-services;
@include u-animations;

// Layouts:
@import "layout-documentation";
@include layout-documentation;
@import "layout-legal-pages";
@include layout-legal-pages;

// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug

// XXX Vertically spaced - add vertical margins to an element
// An attempt to solve some of the vertical spacing issues
.u-vertically-spaced {
  padding-bottom: $sp-medium;
  padding-top: $sp-medium;
}

// overflow tables
.table__wrapper {
  margin: $sp-xx-large 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100;
}

// XXX Applies suru background to the site
// Candidate for moving to the vanilla-brochure-theme
.has-background {
  background-color: $color-light;
  background-image: url("#{$assets-path}f8a323a7-image-background-paper.png?w=768");
  background-position: center top;
  background-repeat: repeat-y;

  @media (min-width: $breakpoint-medium) {
    background-image: url("#{$assets-path}f8a323a7-image-background-paper.png");
  }
}

/// XXX fix nested bullets to use default styles
.p-list .p-list {
  list-style-type: circle;

  .p-list {
    list-style-type: disc;
  }
}

/// XXX Override for p-strip--image to hide the background at small viewports
.u-no-background--small {
  @media (max-width: $breakpoint-medium) {
    background-image: none !important;
  }
}

// XXX Karl: 19.10.17
// VF 1.6.0 is missing this
.p-link--external::after {
  -webkit-mask-size: cover; // sass-lint:disable-line no-vendor-prefixes
  mask-size: cover;
}

// XXX Caleb: 15.01.18 Autoprefixer issue
select {
  -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  background-position: right $sp-x-small center;
  background-size: $sp-medium;
  padding-right: $sp-xxx-large;
}

.p-card__icon {
  display: inline-block;
  height: 2rem;
  margin-bottom: 1.25rem;
}

.p-strip--security {
  @extend %vf-strip;

  @media only screen and (min-width: $breakpoint-medium) {
    background-image: url("#{$assets-path}8717cb84-padlock-chain-icon-angular.png");
    background-position: left 70% top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// XXX Caleb: 26.02.18 Fix middot list wrapping issue
.p-inline-list--middot > .p-inline-list__item {
  white-space: nowrap;
}

// XXX Steve: 21.06.18
// https://github.com/vanilla-framework/vanilla-framework/issues/1794
.u-no-max-width {
  max-width: none !important;
}

// XXX Peter: adding border back for fieldsets
fieldset {
  border: 1px solid $color-mid-light;
  border-radius: $sp-xx-small $sp-xx-small 0 0;
}

fieldset + fieldset {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0 !important;
}

fieldset:last-child {
  border-bottom-left-radius: $sp-xx-small !important;
  border-bottom-right-radius: $sp-xx-small !important;
  border-bottom-width: 1px !important;
}

// XXX Steve: Overriding default Vanilla style :(
.p-heading--six {
  font-style: normal;
}

// XXX Steve: Pull quote colour override
.p-pull-quote p:first-of-type::before,
.p-pull-quote p:last-of-type::after {
  color: $color-brand;
}

// sass-lint:disable-block no-qualifying-elements
h1.u-align--center,
h2.u-align--center,
h3.u-align--center,
h4.u-align--center,
h5.u-align--center,
h6.u-align--center,
p.u-align--center {
  max-width: none;
}

/// XXX Caleb: abbr hotfix - to be fixed in Vanilla
// https://github.com/vanilla-framework/vanilla-framework/issues/1962
abbr[title] {
  border-bottom: 0.1em dotted;
  cursor: help;
  text-decoration: none;
}

// Hack to change the global navigation styling to match the local header
.global-nav .global-nav__header-logo-anchor {
  padding: 0.6875rem 1rem !important;
}

// XXX Ant: is-bordered hotfix - to be removed when the following is resolved:
// https://github.com/vanilla-framework/vanilla-framework/issues/2045
[class^="p-strip"].is-bordered {
  margin-bottom: 0;
}
