@charset "UTF-8";

//settings
@import '_settings_colors';

// custom mixins
@import 'mixins/full-width-breakout';

// import vanilla-brochure-theme
@import "../../node_modules/vanilla-brochure-theme/scss/theme";
@include vanilla-brochure-theme;

// vendor
@import 'vendors/global-nav/build';

// import site specific patterns and overrides
@import "v1_pattern_site_search";
@import "v1_pattern_navigation";
@import 'patterns_footer';
@import 'patterns_lists';
@import "v1_pattern_strip";

@include p-site-search;
@include p-navigation;
@include ubuntu-p-footer;
@include ubuntu-p-lists;
@include p-strip;

// **************************
// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug
// **************************

// navigation logo is too big and adding a bottom margin
// https://github.com/vanilla-framework/vanilla-framework/issues/1037
.p-navigation__logo {
  margin: .65rem;
}

// at exactly $breakpoint-medium, there is not a clean switch between mobile/desktop nav styles
// https://github.com/vanilla-framework/vanilla-framework/issues/1038
.p-navigation__links .p-navigation__link {
  @media (min-width: $breakpoint-medium) {
    background: none;
    border-left: 1px solid $color-brand-light;
    border-bottom: none;

    &:last-child {
      border-right: none;
    }

    a {
      color: $color-light;
    }
  }
}

@media (min-width: $breakpoint-medium ) {
  .p-navigation:target .p-navigation__toggle--close {
    display: none !important; // specificity
  }
}

// global nav spills onto two lines at 768px
// https://github.com/canonical-webteam/global-nav/issues/14
@media only screen and (max-width: 770px) {
  #nav-global ul .more {
      min-width: 55px;
  }
}
