@charset "UTF-8";

@import 'global-settings-v1';

// custom mixins
@import 'mixins/full-width-breakout';

// import vanilla-brochure-theme
@import "../../node_modules/vanilla-brochure-theme/scss/theme";
@include vanilla-brochure-theme;

// vendor
@import 'vendors/global-nav/build';

// @TODO move into separate partial
// .p-navigation override
.p-navigation {
  margin-bottom: 0;
  border-bottom: 1px solid $color-light;
}

.p-navigation__links .p-navigation {
  background-color: $color-mid-dark;

  &__link {

    &:hover {
      cursor: pointer;
    }

    @media (max-width: $breakpoint-medium) {
      width: 50%;
      float: left;
      padding: $sp-x-small $sp-small;

      &:nth-child(2n) {
        border-left: 1px solid $color-mid-light;
      }

      &:last-of-type {
        border-bottom: 1px solid $color-mid-light;
      }
    }

    @media (min-width: $breakpoint-medium) {
      padding: 1rem .75rem;

      &:hover {
        background-color: lighten(#df4a16, 10%);
      }
    }
  }
}

// @TODO move into separate partial
// .nav-secondary override
.nav-secondary {
  //
  // small screen view
  //
  @media (max-width: $breakpoint-medium) {
    background: $color-x-light;

    .p-breadcrumbs {
      @include full-width-breakout;
      border-bottom: 1px solid $color-mid-light;
    }

    .p-breadcrumbs__item {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100vw;
    }

    .p-breadcrumbs__link {
      border-bottom: 1px solid $color-mid-light;
      width: 100%;
      display: inline-block;
      padding: $sp-x-small;
      margin-bottom: $sp-medium;
      color: $color-dark;
    }

    .p-inline-list {
      margin-left: 0;
    }

    &__menu {

      width: 100%;

      .p-inline-list__item {
        width: 50%;
        float: left;
        margin-right: 0;

        a {
          padding: $sp-x-small;
          color: $color-x-dark;
          display: inline-block;
        }

        .is-active {
          font-weight: bold;
        }
      }
    }
  }

  &__menu {
    display: inline-block;
    margin-left: $sp-large;
    position: relative;
  }

  //
  // large screen view
  //
  @media (min-width: $breakpoint-medium) {
    @include full-width-breakout;
    background: $color-light;
    padding: $sp-small 0;

    &__menu::before {
      content: '\203A';
      font-weight: 400;
      color: $color-mid-dark;
      left: -$sp-small;
      position: absolute;
      top: 0;
    }

    a {
      color: $color-dark;
    }

    .p-breadcrumbs__link {
      color: $color-mid-dark;
    }
  }

  .row {
    padding-left: $sp-x-small;
    padding-right: $sp-x-small;
  }
}

// @TODO move into separate partial
// rollover menu
.p-navigation__link {
  position: relative;
}

@media (min-width: $breakpoint-medium) {
  .p-navigation__link:hover .hover-menu {
    display:block;
  }

  .p-navigation .p-navigation__nav ul li:hover ul::after {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAICAYAAAD5nd/tAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QYODgYVPPJJpQAAAT9JREFUKM+dkD9IAnEUx7+/IkVxFaxoKYxIWhqKwJw0JAJ315Yac8+1tUFo6HCp34XRdRp11z+J4BzckqShPzdEQ5G/EhPO6V5Tcg3G0QcePHjvffjygB4oXAIApFMxyPlcWM7nwulU7NfMNQqXGABsZNcCCpcKtapBtapBCpcK2fXlAAAcy3vMlUxTdgEAO9ubybPiPjWFoE6nQ5ZlUfNDULl0RAdSPuncddL30+gnCgOAlngLaocyn4nG9fmFJXj9fhARAMDr82MuEcfk7LSuFQu8DTvovO1SuTxlAKCqPFO5Ov/6FIIsy/qzROOdrst6S1V5xunomo0LrT4yOh4JDg6BMXfvIdvGs/mExutLPZpYnAIAdmNUVuwBbI1NRODxePEf2u0WHu9u4ev3rTLTfKBQaNh1qp5piWCa9/gGBheo3r6AmYcAAAAASUVORK5CYII=') no-repeat;
    content: '';
    display: block;
    height: $sp-x-small;
    left: $sp-x-large;
    position: absolute;
    top: -$sp-x-small;
    width: 200px;
    z-index: 999;
  }
}

.hover-menu {
  box-shadow: 0 2px 2px -1px #888;
  border-radius: 10px;
  background: #f7f7f7;
  border: 1px solid #cdcdcd;
  display: none;
  float: none;
  margin: 0;
  padding: $sp-x-small 0 $sp-medium;
  position: absolute;
  top: 60px;
  left: 0;
  width: 200px;
  z-index: 1;

  li {
    padding: $sp-x-small $sp-small 0;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: $color-dark!important;
  }
}

// @TODO move into separate partial
.search-toggle {
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 90 90'><g color='" + $color-x-light + "'><path fill='none' stroke-width='4' overflow='visible' enable-background='accumulate' d='M0 0h90v90H0z'/><path d='M69 36.5a33 33.5 0 1 1-66 0 33 33.5 0 1 1 66 0z' transform='matrix(.636 0 0 .627 16.114 16.12)' fill='none' stroke='" + $color-x-light + "' stroke-width='9.5' overflow='visible' enable-background='accumulate'/><path d='M55.77 52.92L52.94 55.75l14 14 2.83-2.83-14-14z' font-size='xx-small' fill='" + $color-x-light + "' stroke-width='6' overflow='visible' enable-background='accumulate' font-family='Sans' class='s0'/><path d='M60.97 57.03c-1.55-3.04 1.02-3.63 2.46-0.58 1.44-0.21 3.21 4.29l9.19 9.2c2.68 2.85 3.26 2.46 5.64 2.38-2.38 2.77-2.79-0.08-5.65l-9.19-9.2c-0.73-0.75-1.78-1.19-2.83-1.19z' font-size='xx-small' fill='" + $color-x-light + "' stroke-width='11.8' overflow='visible' enable-background='accumulate' font-family='Sans' class='s0'/></g></svg>");
  cursor: pointer;
}

.search-toggle__link {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.p-site-search {
  float: right;
  margin: 1rem 0;

  &__form {
    clear: both;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 48px;

    &:target {
      display: block;
    }

    @media (min-width: $breakpoint-large) {
      width: 200px;
      height: 35px;
      position: absolute;
      top: .65rem;
      right: .65rem;

      .p-site-search__input[type='search'] {
        border-radius: 4px;
        height: 35px;
        background-color: #c34113;

        &::-webkit-input-placeholder {
          color: $color-mid-light;
        }
      }

      .p-site-search__button {
        top: -.5rem;
        right: 1rem;
      }
    }
  }

  &__input[type='search'] {
    background: $color-light;
    border: 0;
  }

  &__button {
    position: absolute;
    top: -.1rem;
    right: 1.75rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
  .p-site-search__input {
    border-bottom: 1px solid $color-mid-dark!important;
  }
}

// ^^^^^^^^

// **************************
// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug
// **************************

// navigation logo is too big and adding a bottom margin
// https://github.com/vanilla-framework/vanilla-framework/issues/1037
.p-navigation__logo {
  margin: .75rem;
}

// at exactly $breakpoint-medium, there is not a clean switch between mobile/desktop nav styles
// https://github.com/vanilla-framework/vanilla-framework/issues/1038
.p-navigation__links .p-navigation__link {
  @media (min-width: $breakpoint-medium) {
    background: none;
    border-left: 1px solid #df4a16;
    border-bottom: none;

    &:last-child {
      border-right: none;
    }

    a {
      color: $color-light;
    }
  }
}
