@charset "UTF-8";

//settings
@import "global-settings";
@import "settings_colors";

// custom mixins
@import "mixins/full-width-breakout";

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

// Font display Vanilla override
//sass-lint:disable no-url-protocols
//sass-lint:disable no-url-domains
@font-face {
  font-display: optional;
  font-family: "UbtuOverride";
  font-style: normal;
  font-weight: 300;
  src:
<<<<<<< HEAD
    url("https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2") format("woff2"),
=======
    url("https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2")
    format("woff2"),
>>>>>>> Build base CVE template
    url("https://assets.ubuntu.com/v1/8619add2-Ubuntu-L_W.woff") format("woff");
}

// import vanilla-framework
@import "vanilla-framework/scss/build";
@import "vanilla-placeholders";

// Vanilla framework overrides
$font-base-family: '"UbtuOverride", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif' !default;
$color-shadow: rgba(0, 0, 0, 0.5) !default;

// import site specific patterns and overrides
@import "pattern_blog-featured";
@import "pattern_blog-list";
@import "pattern_blog-post";
@import "pattern_blog-card";
@import "pattern_blog-suru";
@import "pattern_blog-topic";
@import "pattern_buttons";
@import "pattern_calculator";
@import "pattern_card";
@import "pattern_chart";
@import "pattern_contact-modal";
@import "pattern_contextual-footer";
@import "pattern_desktop-statistics";
@import "pattern_gaming";
@import "pattern_grid";
@import "pattern_footer";
@import "pattern_heading-icon";
@import "pattern_icons";
@import "pattern_lists";
@import "pattern_matrix";
@import "pattern_navigation";
@import "pattern_pie_chart";
@import "pattern_separator";
@import "pattern_strip";
@import "pattern_strip-photos";
@import "pattern_takeunders";
@import "pattern_takeovers";
@import "pattern_table-of-contents";
@import "pattern_table";
@import "pattern_ubuntu_intro";
@import "takeovers/financial-services";
@import "utility-animations";
@import "utility_crop";
@import "utility_vertically-center";

@include blog-p-card;
@include blog-u-crop;
@include blog-p-featured;
@include blog-p-icons;
@include blog-p-list;
@include blog-p-post;
@include blog-p-strips-suru;
@include blog-u-crop;
@include blog-p-topic;
@include ubuntu-p-buttons;
@include ubuntu-p-calculator;
@include ubuntu-p-card;
@include ubuntu-p-contact-modal;
@include ubuntu-p-contextual-footer;
@include ubuntu-p-desktop-statistics;
@include ubuntu-p-footer;
@include ubuntu-p-gaming;
@include ubuntu-p-grid;
@include ubuntu-p-heading-icon;
@include ubuntu-p-lists;
@include ubuntu-p-matrix;
@include ubuntu-p-navigation;
@include ubuntu-p-strip;
@include ubuntu-p-pie-chart;
@include ubuntu-p-separator;
@include ubuntu-p-strip-photos;
@include ubuntu-p-table-of-contents;
@include ubuntu-p-tables;
@include ubuntu-p-takeunders;
@include ubuntu-p-takeovers;
@include ubuntu-p-engage-banner;
@include ubuntu-p-ubuntu-intro;
@include ubuntu-u-vertically-center;
@include p-takeover-financial-services;
@include u-animations;

// Layouts:
@import "layout-documentation";

@include layout-documentation;

@import "layout-legal-pages";

@include layout-legal-pages;

@import "layout-whitepapers";

@include layout-whitepapers;

@import "layout-tutorials";

@include layout-tutorials;

@import "layout-tutorial";

@include layout-tutorial;

// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a brief description of
// the bug

// XXX Vertically spaced - add vertical margins to an element
// An attempt to solve some of the vertical spacing issues
.u-vertically-spaced {
  padding-bottom: $sp-medium;
  padding-top: $sp-medium;
}

.u-sv4 {
  padding-bottom: $sp-xx-large;
}

// overflow tables
.table__wrapper {
  margin: $sp-xx-large 0;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100;
}

/// XXX fix nested bullets to use default styles
.p-list .p-list {
  list-style-type: circle;

  .p-list {
    list-style-type: disc;
  }
}

/// XXX Override for p-strip--image to hide the background at small viewports
.u-no-background--small {
  @media (max-width: $breakpoint-medium) {
    background-image: none !important;
  }
}

// XXX Karl: 19.10.17
// VF 1.6.0 is missing this
.p-link--external::after {
  -webkit-mask-size: cover; // sass-lint:disable-line no-vendor-prefixes
  mask-size: cover;
}

// XXX Caleb: 15.01.18 Autoprefixer issue
select {
  -moz-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  background-position: right $sp-x-small center;
  background-size: $sp-medium;
  padding-right: $sp-xxx-large;
}

.p-card__icon {
  display: inline-block;
  height: 2rem;
  margin-bottom: 1.25rem;
}

.p-strip--security {
  @extend %vf-strip;

  @media only screen and (min-width: $breakpoint-medium) {
    background-image: url("#{$assets-path}8717cb84-padlock-chain-icon-angular.png");
    background-position: left 70% top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// XXX Caleb: 26.02.18 Fix middot list wrapping issue
.p-inline-list--middot > .p-inline-list__item {
  white-space: nowrap;
}

// XXX Steve: 21.06.18
// https://github.com/vanilla-framework/vanilla-framework/issues/1794
.u-no-max-width {
  max-width: none !important;
}

// XXX Peter: adding border back for fieldsets
fieldset {
  border: 1px solid $color-mid-light;
  border-radius: $sp-xx-small $sp-xx-small 0 0;
}

fieldset + fieldset {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0 !important;
}

fieldset:last-child {
  border-bottom-left-radius: $sp-xx-small !important;
  border-bottom-right-radius: $sp-xx-small !important;
  border-bottom-width: 1px !important;
}

// error to mirror vanilla for g-recaptcha
.recaptcha-is-error {
  border: 1px solid $color-negative;
}

// XXX Steve: Overriding default Vanilla style :(
.p-heading--six {
  font-style: normal;
}

// XXX Steve: Pull quote colour override
.p-pull-quote,
.p-pull-quote--large {
  .p-pull-quote__quote:first-of-type::before,
  .p-pull-quote__quote:last-of-type::after {
    color: $color-brand;
  }

  .p-pull-quote__quote:last-of-type::after {
    bottom: auto;
  }
}

// sass-lint:disable no-qualifying-elements
h1.u-align--center,
h2.u-align--center,
h3.u-align--center,
h4.u-align--center,
h5.u-align--center,
h6.u-align--center,
p.u-align--center {
  max-width: none;
}
// sass-lint:enable no-qualifying-elements

/// XXX Caleb: abbr hotfix - to be fixed in Vanilla
// https://github.com/vanilla-framework/vanilla-framework/issues/1962
abbr[title] {
  border-bottom: 0.1em dotted;
  cursor: help;
  text-decoration: none;
}

// Hack to change the global navigation styling to match the local header
.global-nav .global-nav__header-logo-anchor {
  padding: 0.6875rem 1rem !important;
}

// XXX Ant: is-bordered hotfix - to be removed when the following is resolved:
// https://github.com/vanilla-framework/vanilla-framework/issues/2045
[class^="p-strip"].is-bordered {
  margin-bottom: 0;
}

// Override for wordpress use of <figure>
.blog-article figure {
  @extend %max-width--p;

  text-align: center;
}

// Fix-up html default accordian on download thank-you pages
summary {
  margin: $sp-medium 0;
}

.desktop-hero {
  background-image: url("#{$assets-path}50c18622-insitu-laptop-overview.jpg");
  background-position: right bottom;
  background-size: 1200px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }

  &--subtext {
    max-width: 28em;

    @media only screen and (max-width: 874px) and (min-width: 620px) {
      width: 50%;
    }
  }
}

.organisations-hero {
  background-image: url("#{$assets-path}214648ba-_M8A2368-final.jpg");
  background-position: right bottom;
  background-size: 1200px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }
}

// Fix trailing quote spacing on pull-quote pattern
// Being fixed in Vanilla: https://github.com/canonical-web-and-design/vanilla-framework/issues/2426
.p-pull-quote {
  .p-pull-quote__quote {
    position: relative;

    &:first-of-type::before {
      left: -1.25rem;
    }

    &:last-of-type::after {
      bottom: 0.5rem;
    }
  }
}

.u-pull-up--large {
  @media only screen and (min-width: $breakpoint-large) {
    position: relative;
    top: -2rem;
  }
}

// Advantage section
.advantage-table {
  overflow: visible;

  tr:target {
    background-color: $color-mid-x-light;
  }

  @media only screen and (min-width: $breakpoint-small) {
    td,
    th {
      &:nth-child(1) {
        width: 50%;
      }

      &:nth-child(2) {
        width: 20%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 20%;
      }
    }
  }
}

.u-rotate {
  transform: rotate(180deg);
}

.p-table-expanding__panel {
  @extend %vf-card;
  @extend %vf-is-bordered;
  @extend %vf-has-round-corners;

  margin-bottom: 0;
}

.p-table--advantage-contract {
  margin: 0 auto;
  max-width: 530px;

  td {
    flex: 1 !important;
  }
}

.p-table--advantage {
  margin-bottom: 2rem;
  overflow: visible;

  th,
  td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .p-table__row {
    position: relative;

    th:nth-child(1),
    td:nth-child(1) {
      flex: 3;
    }

    th:nth-child(2),
    td:nth-child(2) {
      flex: 0.75;
    }

    th:nth-child(3),
    td:nth-child(3) {
      flex: 0.75;
    }

    &:not(:last-of-type) {
      .p-table-expanding__panel {
        border-bottom: 0;
      }
    }
  }

  code {
    background-color: transparent;
    box-shadow: none;
  }

  .p-table--open {
    background-color: $color-x-light;
    border-left: 1px solid $color-mid-light;
    border-right: 1px solid $color-mid-light;
    box-shadow: 0 1px 0 0 $color-x-light;
    z-index: 5;
  }

  .u-toggle {
    background: transparent;
    border: 0;
    margin-bottom: 0;
  }
}

.u-arrow-up {
  overflow: visible;
  position: relative;
  z-index: 20;

  @media only screen and (min-width: $breakpoint-small) {
    &::after {
      background: $color-x-light;
      box-shadow: -1px -1px 0 1px rgba(17, 17, 17, 0.1);
      content: "";
      height: 1rem;
      pointer-events: none;
      position: absolute;
      right: 2.1rem;
      top: -2rem;
      transform: rotate(45deg);
      width: 1rem;
      z-index: 5;
    }
  }
}

.u-padding-top--small {
  @media only screen and (max-width: $breakpoint-small) {
    margin-left: 0 !important;
    margin-top: 1rem !important;
  }
}

// Styling for ubuntu navigation logo for engage pages
.navigation-logo-engage {
  margin-top: -2.2rem;
  padding-bottom: 1.75rem;

  @media screen and (max-width: $breakpoint-large - 1px) {
    padding-top: 2rem;
  }

  a img {
    width: 143px;
  }
}

.p-tile {
  margin-bottom: 64px;

  &:nth-child(4) {
    margin-bottom: 0;
  }

  @media only screen and (min-width: $breakpoint-medium + 1) {
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
}

.p-tile__row {
  @media only screen and (max-width: $breakpoint-medium) {
    align-items: center;
    display: grid;
    justify-content: flex-start;
  }
}

.breadcrumbs--secondary .p-contextual-menu__dropdown {
  margin-top: 2rem;
}

.u-text-light {
  color: $color-mid-dark;
}

.p-list--no-borders {
  .p-list__item {
    &::after,
    &:last-of-type {
      border-bottom: 0 !important;
    }
  }
}

.u-inline {
  display: inline;
}

.u-inline--child {
  display: inline;

  > * {
    display: inline;
  }
}

// XXX Steve: workaround for image template wrapping image in `div`
// Bug: https://github.com/canonical-web-and-design/canonicalwebteam.image-template/issues/43
.p-heading-icon__header {
  .lazyloaded {
    @extend .p-heading-icon__img;
  }
}

.is-dark {
  .p-heading-icon--muted {
    .p-heading-icon__title {
      color: inherit;
    }
  }
}

// XXX: Align accordion icons top instead of center
// Bug: https://github.com/canonical-web-and-design/vanilla-framework/issues/2926
.p-accordion__tab {
  background-position: top $spv-inner--medium left $sph-inner;
}

#reveal-table {
  @media only (min-width: $breakpoint-small) {
    bottom: 0.3rem;
    position: absolute;
    right: 0;
  }
}

// Local override for custom table
.p-accordion.is-compact .p-accordion__panel {
  padding-left: $sph-inner--small;
}

.p-corner-ribbon {
  background-color: $color-brand;
  color: $color-x-light;
  padding-bottom: $spv-inner--x-small;
  padding-top: $spv-inner--x-small;
  position: absolute;
  right: -50px;
  text-align: center;
  top: 38px;
  transform: rotate(45deg);
  width: 225px;
}
