@charset "UTF-8";

//settings
@import '_settings_colors';

// custom mixins
@import 'mixins/full-width-breakout';

// import vanilla-brochure-theme
@import "../../node_modules/vanilla-brochure-theme/scss/theme";
@include vanilla-brochure-theme;

// vendor
@import 'vendors/global-nav/build';

// import site specific patterns and overrides
@import "v1_pattern_site_search";
@import "v1_pattern_navigation";

// patterns
@import 'modules-v1/patterns_footer';
@import 'modules-v1/ubuntu_patterns_lists';

@include ubuntu-p-footer;
@include ubuntu-p-lists;

// @TODO move into separate partial
// .p-navigation override
.p-navigation {
  margin-bottom: 0;
  border-bottom: 1px solid $color-light;
}

.p-navigation__links .p-navigation {
  background-color: $color-mid-dark;

  &__link {

    &:hover {
      cursor: pointer;
    }

    @media (max-width: $breakpoint-medium) {
      width: 50%;
      float: left;
      padding: $sp-x-small $sp-small;

      &:nth-child(2n) {
        border-left: 1px solid $color-mid-light;
      }

      &:last-of-type {
        border-bottom: 1px solid $color-mid-light;
      }
    }

    @media (min-width: $breakpoint-medium) {
      padding: 1rem .75rem;

      &:hover {
        background-color: lighten(#df4a16, 10%);
      }
    }
  }
}

// @TODO move into separate partial
// .nav-secondary override
.nav-secondary {
  //
  // small screen view
  //
  @media (max-width: $breakpoint-medium) {
    background: $color-x-light;

    .p-breadcrumbs {
      @include full-width-breakout;
      border-bottom: 1px solid $color-mid-light;
    }
>>>>>>> add footer styles to new styles sass

@include p-site-search;
@include p-navigation;


// **************************
// Bug fixes
// Each of the the rules below are bug fixes which need to be addressed further upstream
// either at theme level or in Vanilla Framework directly.
//
// Before any feature branch is merged, these bugs should be raised in their
// respective repos and referenced here, accompanied with a breif description of
// the bug
// **************************

// navigation logo is too big and adding a bottom margin
// https://github.com/vanilla-framework/vanilla-framework/issues/1037
.p-navigation__logo {
  margin: .75rem;
}

// at exactly $breakpoint-medium, there is not a clean switch between mobile/desktop nav styles
// https://github.com/vanilla-framework/vanilla-framework/issues/1038
.p-navigation__links .p-navigation__link {
  @media (min-width: $breakpoint-medium) {
    background: none;
    border-left: 1px solid $color-brand-light;
    border-bottom: none;

    &:last-child {
      border-right: none;
    }

    a {
      color: $color-light;
    }
  }
}

@media (min-width: $breakpoint-medium ) {
  .p-navigation:target .p-navigation__toggle--close {
    display: none !important; // specificity
  }
}

// global nav spills onto two lines at 768px
// https://github.com/canonical-webteam/global-nav/issues/14
@media only screen and (max-width: 770px) {
  #nav-global ul .more {
      min-width: 55px;
  }
}
