{% extends "ceph/base_ceph.html" %}

{% block title %}Pricing Calculator | Ceph{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block meta_copydoc %}
  https://docs.google.com/spreadsheets/d/1cn5daIlWGpKF5557ERFY4Ok4_0IlJKTDbZjRXcXyhjk/edit?gid=471278338#gid=471278338
{% endblock meta_copydoc %}

{% block content %}
  <section class="p-section--hero">
    <div class="grid-row">
      <div class="grid-col-4">
        <h1>Calculate your storage costs</h1>
      </div>
      <div class="grid-col-4">
        <p>
          Cloud storage can make up a significant proportion of public cloud hosting costs, for some data sets it can be more cost effective to store them in a self-hosted storage system.
        </p>
        <p>
          Learn more in our <a href="/engage/optimize-cloud-storage-costs">white paper</a>, <span class="u-hide js-show">and explore potential savings with the calculator below.</span>
          <noscript>and <a href="/contact-us/form">get in touch with our team</a> for cost estimations.</noscript>
        </p>
      </div>
    </div>
  </section>

  <div class="u-hide js-show">
  <form id="compare-costs-form">
    <section class="p-section--shallow">
      <div class="grid-row">
        <hr class="p-rule" />
        <div class="grid-col-4">
          <h2 class="p-heading--4">
            Self-managed, or <a href="/ceph/managed">managed</a> by Canonical experts?
          </h2>
        </div>
        <div class="grid-col-4">
          <label class="p-radio">
            <input type="radio"
                   class="p-radio__input"
                   name="managed"
                   aria-labelledby="managed"
                   value="managed"
                   checked="" />
            <span class="p-radio__label" id="managed">Managed</span>
          </label>
          <label class="p-radio">
            <input type="radio"
                   class="p-radio__input"
                   name="managed"
                   value="self-managed"
                   aria-labelledby="self-managed" />
            <span class="p-radio__label" id="self-managed">Self-managed</span>
          </label>
        </div>
      </div>
    </section>

    <section class="p-section--shallow">
      <div class="grid-row">
        <hr class="p-rule" />
        <div class="grid-col-4">
          <h2 class="p-heading--4">How many months do you expect to store this data?</h2>
        </div>
        <div class="grid-col-4">
          <div class="p-slider__wrapper">
            <span class="p-slider__min-value">12</span>
            <input type="range"
                   name="months"
                   min="12"
                   max="60"
                   value="12"
                   step="12"
                   id="month-slider"
                   aria-label="How many months do you expect to store this data?" />
            <span class="p-slider__max-value">60</span>
            <input class="p-slider__input"
                   type="text"
                   maxlength="5"
                   id="month-slider-input"
                   tabindex="0" />
          </div>
          <div class="p-notification--information is-borderless u-no-margin--bottom u-hide js-invalid-notification js-invalid-month-notification">
            <div class="p-notification__content">
              <p class="p-notification__message">
                The inputted value "<span class="js-notification-value"></span>" was corrected to the nearest allowed input
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-section--shallow">
      <div class="grid-row">
        <hr class="p-rule" />
        <div class="grid-col-4">
          <h2 class="p-heading--4">
            Choose the maximum amount of storage you need:
            <br />
            <span class="p-heading--4">(Petabytes (PB))</span>
          </h2>
        </div>
        <div class="grid-col-4">
          <div class="p-slider">
            <div class="p-slider__wrapper">
              <span class="p-slider__min-value">2.25</span>
              <input type="range"
                     name="storage"
                     min="2.25"
                     max="18"
                     value="2.25"
                     step="2.25"
                     id="storage-slider"
                     aria-label="Choose the maximum amount of storage you need" />
              <span class="p-slider__max-value">18</span>
              <input class="p-slider__input"
                     type="text"
                     maxlength="5"
                     id="storage-slider-input"
                     tabindex="0" />
            </div>
          </div>
          <div class="p-notification--information is-borderless u-no-margin--bottom u-hide js-invalid-notification js-invalid-storage-notification">
            <div class="p-notification__content">
              <p class="p-notification__message">
                The inputted value "<span class="js-notification-value"></span>" was corrected to the nearest allowed input
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>

  <section class="p-section--deep">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <h2>Compare your costs</h2>
      </div>
      <div class="p-section--shallow">
        <div class="p-pricing-block--50-50">
          <div class="p-pricing-block__tier">
            <div class="p-pricing-block__section">
              <hr class="p-rule--highlight u-no-margin--bottom" />
              <div class="p-section--shallow">
                <h3 class="p-heading--4">
                  Ceph self hosted cost
                  <br />
                  <strong id="ceph-cost">$0</strong>
                  <span class="u-text--muted">for <span id="ceph-months">0</span> months</span>
                </h3>
              </div>
            </div>
            <div class="p-pricing-block__section">
              <p class="u-text--muted">What's included</p>
              <div class="grid-row">
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2">
                  <p id="ceph-deployment-label">Ceph Deployment</p>
                </div>
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2 u-align--right">
                  <p id="ceph-deployment-price" aria-describedby="ceph-deployment-label">$0</p>
                </div>
              </div>
              <div class="grid-row">
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2">
                  <p id="hardware-maintenance-label">Hardware install and maintenance</p>
                </div>
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2 u-align--right">
                  <p id="hardware-maintenance-price"
                     aria-describedby="hardware-maintenance-label">$0</p>
                </div>
              </div>
              <div class="grid-row">
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2">
                  <p id="ubuntu-pro-label">Ubuntu Pro (managed or infra-Only)</p>
                </div>
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2 u-align--right">
                  <p id="ubuntu-pro-price" aria-describedby="ubuntu-pro-label">$0</p>
                </div>
              </div>
              <div class="grid-row">
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2">
                  <p id="additional-storage-label">Ubuntu Pro (additional storage)</p>
                </div>
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2 u-align--right">
                  <p id="additional-storage-price"
                     aria-describedby="additional-storage-label">$0</p>
                </div>
              </div>
              <div class="grid-row">
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2">
                  <p id="hardware-label">Hardware</p>
                </div>
                <div class="grid-col-4 grid-col-medium-2 grid-col-small-2 u-align--right">
                  <p id="hardware-price" aria-describedby="hardware-label">$0</p>
                </div>
              </div>
            </div>
          </div>
          <div class="p-pricing-block__tier">
            <div class="p-pricing-block__section">
              <hr class="p-rule--highlight u-no-margin--bottom" />
              <div class="p-section--shallow">
                <h3 class="p-heading--4">
                  Public cloud provider cost
                  <br />
                  <strong id="public-cloud-cost">$0</strong>
                  <span class="u-text--muted">for <span id="cloud-months">0</span> months</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-notification--information is-light">
        <div class="p-notification__content">
          <h5 class="p-notification__title">The cloud storage pricing calculator is for informational purposes only</h5>
          <p class="p-notification__message">
            Exact prices may vary depending on your specific requirements, performance needs and local cost conditions. The total costs include all CapEx and OpEx costs over the period selected, including reference hardware, hardware installation and maintenance, solution delivery, and support subscriptions. The total savings are calculated compared to reference pricing from a leading public cloud provider. In case of any questions, get in touch with our experts.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
  <script src="{{ versioned_static('js/src/ceph-pricing-calculator.js') }}"></script>

{% endblock content %}
