{% extends "download/_base_download.html" %}

{% block title %}Install Ubuntu on a Raspberry Pi{% endblock %}

{% block meta_image %}https://assets.ubuntu.com/v1/f60f86c4-Embedded+social+media+banner+.jpg{% endblock meta_image %}

{% block meta_description %}Ubuntu is an open-source operating system for cross-platform development, there's no better place to get started than with Ubuntu on a Raspberry Pi{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1KgnSBa8mbR7qwlxxtqbE5a1wXh5GjtVums8TIB7IGVw/edit#{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip is-shallow u-no-margin--bottom">
  <div class="row">
    <div class="col-6">
      <h1>
        Install Ubuntu <br class="u-hide--small">on a Raspberry Pi
      </h1>
    </div>
    <div class="col-6">
      <p>
        Versatile and affordable, the Raspberry Pi is one of the most popular devices available on the market, with uses that range from education to industry.
      </p>
      <p>
        With full Ubuntu support, open source developers have everything they need to get up and running quickly and securely.
      </p>
      <div class="p-section">
        {{
          image(
          url="https://assets.ubuntu.com/v1/016b770d-raspberry+pi+horizontal.svg",
          alt="Raspberry Pi",
          height="48",
          width="36",
          hi_def=True,
          loading="auto"
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="row">
    <div class="col-6">
      <h2>First time installing Ubuntu on Raspberry Pi?</h2>
    </div>
    <div class="col-6">
      <p>The simplest way is to use the <a href="https://www.raspberrypi.com/software/">Raspberry Pi Imager</a> which enables you to select an Ubuntu image when flashing your SD card.</p>
      <p>If you are on Ubuntu, open the terminal and run:</p>
      <pre><code>sudo snap install rpi-imager</code></pre>
      <p>And follow our <a href="/tutorials/how-to-install-ubuntu-desktop-on-raspberry-pi-4#1-overview">Desktop</a>, <a href="/tutorials/how-to-install-ubuntu-on-your-raspberry-pi#1-overview">Server</a> and <a href="/download/raspberry-pi-core">Core</a> tutorials to get started.</p>
      <div class="p-image--wrapper p-section--shallow">
        {{ image (
          url="https://assets.ubuntu.com/v1/e24d92fc-raspberry-pi-imager-2024.png",
          alt="",
          width="450",
          height="303",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="row p-section">
    <div class="col-6">
      <h2>Ubuntu {{ releases.latest.full_version }}</h2>
    </div>
    <div class="col-6">
      <p>The Raspberry Pi 5 is supported on the latest development release of Ubuntu with nine months of support, until July 2024.</p>
      <hr />
      <p>
        <a class="p-button--positive" href="/download/raspberry-pi/thank-you?version={{ releases.latest.full_version }}&amp;architecture=desktop-arm64+raspi" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Raspberry Pi 64-bit - Ubuntu Desktop', 'eventLabel' : '{{ releases.latest.full_version }}', 'eventValue' : undefined });" class="p-button u-no-margin--bottom">Download Ubuntu Desktop 23.10</a>
        &nbsp;&nbsp;
        <span class="u-text--muted">ISO image, {{ releases.latest.desktop_iso_size }}</span>
      </p>
      <p>Minimum 4GBs of RAM required</p>
      <hr />
      <p>
        <a href="/download/raspberry-pi/thank-you?version={{ releases.latest.full_version }}&amp;architecture=server-arm64+raspi"onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Raspberry Pi 64-bit - Ubuntu Server', 'eventLabel' : '{{ releases.latest.full_version }}', 'eventValue' : undefined });" class="p-button">Download Ubuntu Server 23.10</a>
        &nbsp;&nbsp;
        <span class="u-text--muted">ISO image, {{ releases.latest.iso_size }}</span>
      </p>
    </div>
  </div>
  <hr class="p-rule is-fixed-width" />
  <div class="row p-section">
    <div class="col-6">
      <h2>Ubuntu {{ releases.lts.full_version }} LTS</h2>
    </div>
    <div class="col-6">
      <p>The latest Long Term Supported release of Ubuntu with five years of security patching and maintenance until April 2027, extended to ten years with <a href="/pro">Ubuntu Pro</a>.</p>
      <hr />
      <p>
        <a class="p-button--positive" href="/download/raspberry-pi/thank-you?version={{ releases.lts.full_version }}&amp;architecture=desktop-arm64+raspi" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Raspberry Pi 64-bit - Ubuntu Desktop', 'eventLabel' : '{{ releases.lts.full_version }}', 'eventValue' : undefined });" class="p-button u-no-margin--bottom">Download Ubuntu Desktop {{ releases.lts.full_version }} LTS</a>
        &nbsp;&nbsp;
        <span class="u-text--muted">ISO image, {{ releases.lts.desktop_iso_size }}</span>
      </p>
      <p>Minimum 2GBs of RAM and 16GB storage required</p>
      <hr />
      <p>
        <a href="/download/raspberry-pi/thank-you?version={{ releases.lts.full_version }}&amp;architecture=server-arm64+raspi" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Raspberry Pi 64-bit - Ubuntu Server', 'eventLabel' : '{{ releases.lts.full_version }}', 'eventValue' : undefined });" class="p-button">Download Ubuntu Server {{ releases.lts.full_version }} LTS</a>
        &nbsp;&nbsp;
        <span class="u-text--muted">ISO image, {{ releases.lts.iso_size }}</span>
      </p>
    </div>
  </div>
  <hr class="p-rule is-fixed-width" />
  <div class="row">
    <div class="col-6">
      <h2>Ubuntu Core 22</h2>
    </div>
    <div class="col-6">
      <p>An immutable, strictly confined operating system designed for Internet of Things (IoT) use-cases with a focus on security and simplified maintenance, supported until 2032.</p>
      <hr />
      <p>
        <a href="/download/raspberry-pi/thank-you?version={{ releases.latest.core_version }}&amp;architecture=core-22-arm64+raspi" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Raspberry Pi 64-bit - Ubuntu Core', 'eventLabel' : '{{ releases.latest.core_version }}', 'eventValue' : undefined });" class="p-button">Download Ubuntu Core 22</a>
        &nbsp;&nbsp;
        <span class="p-muted--text">ISO image, 263MB</span>
      </p>
    </div>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="row--50-50">
    <div class="col-6">
      <h2>Supported devices</h2>
    </div>
    <div class="col-6">
      <p>Certified devices are tested for reliability and performance, ensuring you have the best out-of-the-box Ubuntu experience. Ubuntu LTS releases are certified on select Raspberry Pi hardware.</p>
      <hr />
      <a href="/certified">Learn more about Ubuntu Certified&nbsp;&rsaquo;</a>
      &nbsp;&nbsp;
      <a href="/certified/iot?q=&limit=13&vendor=Raspberry+Pi+Foundation">All certified Raspberry Pi hardware&nbsp;&rsaquo;</a>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width">
    <table aria-label="Raspberry pi support with Ubuntu">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Ubuntu 22.04.4 LTS</th>
          <th>Ubuntu Core 22</th>
          <th>Ubuntu 23.10</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="row--50-50">
            <div class="col u-vertically-center">
              <p>Raspberry Pi 2</p>
            </div>
          </th>
          <td>
            <div class="col">
              {{ image (
                url="https://assets.ubuntu.com/v1/8542c958-Raspberry+Pi+2.png",
                alt="",
                width="73",
                height="48",
                hi_def=True,
                loading="lazy"
                ) | safe
              }}
            </div>
          </td>
          <td>Yes, certified</td>
          <td>Yes, certified</td>
          <td>-</td>
        </tr>
        <tr>
          <th class="row--50-50">
            <div class="col u-vertically-center">
              <p>Raspberry Pi 3</p>
            </div>
          </th>
          <td>
            <div class="col">
              {{
                image(
                url="https://assets.ubuntu.com/v1/c4a007b6-Raspberry+Pi+3.png",
                alt="",
                height="48",
                width="75",
                hi_def=True,
                loading="lazy"
                ) | safe
              }}
            </div>
          </td>
          <td>Yes, certified</td>
          <td>Yes, certified</td>
          <td>-</td>
        </tr>
        <tr>
          <th class="row--50-50">
            <div class="col u-vertically-center">
              <p>Raspberry Pi 4</p>
            </div>
          </th>
          <td>
            <div class="col">
              {{
                image(
                url="https://assets.ubuntu.com/v1/a999bb5f-Raspberry+Pi+4.png",
                alt="",
                height="48",
                width="75",
                hi_def=True,
                loading="lazy"
                ) | safe
              }}
            </div>
          </td>
          <td>Yes, certified</td>
          <td>Yes, certified</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th class="row--50-50">
            <div class="col u-vertically-center">
              <p>Raspberry Pi 400</p>
            </div>
          </th>
          <td>
            <div class="col">
              {{ image (
                url="https://assets.ubuntu.com/v1/cfdcd6c7-Raspberry-Pi-400-back--1536x1097.png",
                alt="",
                height="48",
                width="93",
                hi_def=True,
                loading="lazy"
                ) | safe
              }}
            </div>
          </td>
          <td>Yes, certified</td>
          <td>Yes, certified</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th class="row--50-50">
            <div class="col u-vertically-center">
              <p>Raspberry Pi CM4</p>
            </div>
          </th>
          <td>
            <div class="col">
              {{ image (
                url="https://assets.ubuntu.com/v1/3be8f179-Raspberry-Pi-CM4.png",
                alt="",
                height="48",
                width="68",
                hi_def=True,
                loading="lazy"
                ) | safe
              }}
            </div>
          </td>
          <td>Yes, certified</td>
          <td>Yes, certified</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th class="row--50-50">
            <div class="col u-vertically-center">
              <p>Raspberry Pi Zero 2 W</p>
            </div>
          </th>
          <td>
            <div class="col">
              {{ image (
                url="https://assets.ubuntu.com/v1/a79a3cee-raspberry-pi-z-2.png",
                alt="",
                width="70",
                height="46",
                hi_def=True,
                loading="lazy"
                ) | safe
              }}
            </div>
          </td>
          <td>Yes, certified</td>
          <td>Yes, certified</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th class="row--50-50">
            <div class="col u-vertically-center">
              <p>Raspberry Pi 5</p>
            </div>
          </th>
          <td>
            <div class="col">
              {{ image (
                url="https://assets.ubuntu.com/v1/14667b44-raspberry-pi_5.png",
                alt="",
                width="61",
                height="46",
                hi_def=True,
                loading="lazy"
                ) | safe
              }}
            </div>
          </td>
          <td>-</td>
          <td>-</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="p-section">
  <hr class="p-rule is-fixed-width" />
  <div class="row">
    <div class="col-6">
      <h2>Make something great today</h2>
    </div>
    <div class="col-6">
      <ul class="p-list--divided">
        <li class="p-list__item">
          <a href="/blog/linux-gaming-tutorial-raspberry-pi-minecraft-server-on-ubuntu-desktop">Raspberry Pi Tutorial: Host a Minecraft server on Ubuntu Desktop</a>
        </li>
        <li class="p-list__item">
          <a href="/blog/common-sense-using-the-raspberry-pi-sense-hat-on-ubuntu-impish-indri">Common Sense &mdash; using the Raspberry Pi Sense HAT on Ubuntu Impish Indri</a>
        </li>
        <li class="p-list__item">
          <a href="/blog/homelab-clusters-lxd-micro-cloud-on-raspberry-pi">Homelab clusters: LXD micro cloud on Raspberry Pi</a>
        </li>
        <li class="p-list__item">
          <a href="https://maas.io/tutorials/build-your-own-bare-metal-cloud-using-a-raspberry-pi-cluster-with-maas#1-overview">Build your own bare metal cloud using a Raspberry Pi cluster with MAAS</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-section--deep">
  <div class="row">
    <hr class="p-rule"/>
    <div class="col-3 col-medium-6">
      <div class="p-section--shallow">
        <h2 class="p-text--small-caps"><a href="/blog/tag/ubuntu-server">Latest from&nbsp;our&nbsp;blog&nbsp;&rsaquo;</a></h2>
      </div>
    </div>
    <div class="col-9 col-medium-6">
      <div class="row p-section--shallow" id="blog-latest">
      </div>
    </div>
  </div>

  <template style="display:none" id="blog-template">
    <div class="col-3 col-medium-2">
      <div class="article-image p-image-wrapper"></div>
      <h3 class="p-heading--5"><a class="article-link article-title"></a></h3>
      <p class="article-excerpt"></p>
    </div>
  </template>
</section>

<script src="{{ versioned_static('js/dist/latest-news.js') }}"></script>
<script>
  canonicalLatestNews.fetchLatestNews(
    {
      articlesContainerSelector: "#blog-latest",
      articleTemplateSelector: "#blog-template",
      excerptLength: 200,
      tagId: 1672,
      limit: 3,
      linkImage: true,
    }
  )
</script>

{% endblock %}
