# Params
# num_item: Number of items (requires 3-4 items)
# Slots
# highlights_item_content_[1-4]: Highlights list item content

{%- macro highlights(num_items) -%}
  <section class="p-section">
    <div class="row">
      <h2 class="p-text--small-caps">Highlights</h2>
      <hr />
    </div>
    {% if num_items == 3 %}
      {% set col_size = "col-4" %}
    {% elif num_items == 4 %}
      {% set col_size = "col-3" %}
    {% endif %}
    <ul class="p-list">
      <div class="row">
        {% for number in range(1, 5) %}
          {%- set highlights_item_content = caller('highlights_item_content_' + number|string) -%}
          {%- set has_highlights_item_content = highlights_item_content|trim|length > 0 -%}

          {%- if has_highlights_item_content -%}
            <div class="{{ col_size }}">
              <li class="p-list__item is-ticked">{{ highlights_item_content }}</li>
            </div>
          {%- endif %}

        {% endfor %}
      </div>
    </ul>
  </section>
{%- endmacro -%}
