@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Cloud section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// patterns
%newsevent__details-icon {
  background-position: 0 5px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: .875rem;
  margin-left: 0;
  padding: 6px 20px 6px 24px;
  width: 100%;

  @media only screen and (min-width : $breakpoint-large) {
    font-size: .875em;
  }
}

//	@section cloud all pages
.cloud {

  // XXX Ant (09.04.2016)
  // https://github.com/ubuntudesign/www.ubuntu.com/issues/211
  // Override the banner z-index so the dropdown menu appears above the clouds
  // in the hero row of /cloud/partners
  .banner {
    z-index: 5;
  }

  .ubuntu-pie {
    margin: 7% auto;
    max-width: 350px;

    .other-label {
      fill: $warm-grey;
    }

    //* Pie segments */
    .ubuntu {
      fill: $brand-color;
    }

    .other {
      fill: transparent;
    }

    //* Labels */
    svg tspan {
      max-width: 0;
      text-align: center;
      text-transform: capitalize;
    }

    .ubuntu-label {
      fill: $white;
    }
  }


  .juju-charms-list {
    .box {
      padding: 0;
    }

    &__link:link,
    &__link:visited {
      color: $cool-grey;
      display: block;
      height: 100%;
      left: 0;
      padding: 21px 0;
      position: relative;
      top: 0;
      width: 100%;
    }

    &__image {
      margin-bottom: 8px;
      max-width: 60px;
    }

    /// Make two-col six-col on smaller screens
    .two-col {
      @media only screen and (max-width: $breakpoint-medium) {
        float: left;
        margin-right: 2.21239%;
        width: 48.89381%;

        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }

    .resource .content-cat {
      @media only screen and (min-width : $breakpoint-medium) {
        bottom: 16px;
        left: 20px;
      }
    }
  }

  .row-get-started {

    .box {
      min-height: 170px;

      div {
        border-bottom: 1px dotted $warm-grey;
        margin-bottom: 15px;
        min-height: 85px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      vertical-align: middle;
    }

    .logo-joyent,
    .logo-gcp {
      padding-top: 15px;
    }

    .logo-ibm {
      padding-top: 12px;
    }

    .logo-hpcloud {
      padding-top: 10px;
    }

    .logo-windowsazure {
      padding-top: 7px;
    }

    .logo-softlayer {
      padding-top: 23px;
    }

    a:hover p {
      text-decoration: underline;
    }
  }

  /* resource hub content */
  .strip-dark .resource--link {

    &:before {
      border-right-color: #2c001e;
    }

    &,
    &:active,
    &:hover,
    &:link,
    &:visited {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: $cool-grey;
    }
  }

  // @section /cloud overview
  $animation-viewport: 900px;

  &.cloud-home {

    .row-hero {
      @media only screen and (min-width : $animation-viewport) {
        min-height: 550px;

        .six-col {
          z-index: 2;
        }
      }

      .strip-inner-wrapper {
        position: relative;
      }

      .cloud-tools {
        display: none;

        @media only screen and (min-width : $animation-viewport) {
          display: block;
          left: 0;
          position: absolute;
          top: -30px;
          width: 100%;
          z-index: 1;

          &__container {
            background: url('#{$asset-server-url}79729d72-products-hero-background.png') no-repeat;
            height: 550px;
            position: absolute;
            right: 20px;
            top: -10px;
            width: 606px;

            @media only screen and (min-width : $breakpoint-large) {
              right: 0;
            }
          }

          &__item {
            -moz-animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
            -webkit-animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
            animation: scaleInPop 0.2s forwards, fadeIn 0.2s linear forwards;
            background: url('#{$asset-server-url}73006c5b-products-hero-phone.svg') no-repeat;
            background-size: 66px 66px;
            height: 66px;
            opacity: 0;
            position: absolute;
            text-indent: -999em;
            width: 66px;

            &--line {
              -moz-animation: fadeIn 0.3s linear forwards;
              -webkit-animation: fadeIn 0.3s linear forwards;
              animation: fadeIn 0.3s linear forwards;
              content: ' ';
              display: block;
              position: absolute;

              &-one,
              &-four {
                -moz-animation-delay: 1.85s;
                -webkit-animation-delay: 1.85s;
                animation-delay: 1.85s;
                background: url('#{$asset-server-url}ec446611-partners-hero-line-vertical.png');
                height: 52px;
                left: 387px;
                top: 137px;
                width: 2px;
              }

              &-two,
              &-five {
                -moz-animation-delay: 2s;
                -webkit-animation-delay: 2s;
                animation-delay: 2s;
                background: url('#{$asset-server-url}4fc1680b-partners-hero-line-diagonal.png');
                height: 38px;
                left: 445px;
                top: 175px;
                width: 38px;
              }

              &-three,
              &-six {
                -moz-animation-delay: 2.15s;
                -webkit-animation-delay: 2.15s;
                animation-delay: 2.15s;
                background: url('#{$asset-server-url}d505cff1-partners-hero-line-horizontal.png');
                height: 2px;
                left: 469px;
                top: 277px;
                width: 52px;
              }

              &-four {
                -moz-animation-delay: 2.3s;
                -webkit-animation-delay: 2.3s;
                animation-delay: 2.3s;
                left: 396px;
                top: 347px;
              }

              &-five {
                -moz-animation-delay: 2.45s;
                -webkit-animation-delay: 2.45s;
                animation-delay: 2.45s;
                left: 301px;
                top: 328px;
              }

              &-six {
                -moz-animation-delay: 2.6s;
                -webkit-animation-delay: 2.6s;
                animation-delay: 2.6s;
                left: 259px;
                top: 273px;
              }
            }

            &--one {
              -moz-animation-delay: 1.6s;
              -webkit-animation-delay: 1.6s;
              animation-delay: 1.6s;
              background-image: url('#{$asset-server-url}a7916513-picto-openstack.svg');
              left: 357px;
              top: 55px;
            }

            &--two {
              -moz-animation-delay: 1.85s;
              -webkit-animation-delay: 1.85s;
              animation-delay: 1.85s;
              background-image: url('#{$asset-server-url}999949f8-picto-startfirst-midaubergine.svg');
              left: 484px;
              top: 108px;
            }

            &--three {
              -moz-animation-delay: 2s;
              -webkit-animation-delay: 2s;
              animation-delay: 2s;
              background-image: url('#{$asset-server-url}60bd6cf1-picto-juju.svg');
              left: 547px;
              top: 245px;
            }

            &--four {
              -moz-animation-delay: 2.15s;
              -webkit-animation-delay: 2.15s;
              animation-delay: 2.15s;
              background-image: url('#{$asset-server-url}261ad7cb-picto-maas.svg');
              left: 367px;
              top: 425px;
            }

            &--five {
              -moz-animation-delay: 2.3s;
              -webkit-animation-delay: 2.3s;
              animation-delay: 2.3s;
              background-image: url('#{$asset-server-url}50c0306d-image-picto-landscape.svg');
              left: 226px;
              top: 372px;
            }

            &--six {
              -moz-animation-delay: 2.45s;
              -webkit-animation-delay: 2.45s;
              animation-delay: 2.45s;
              background-image: url('#{$asset-server-url}c986edab-picto-cloud-midaubergine-solid.svg');
              left: 170px;
              top: 245px;
            }

            &--seven {
              -moz-animation: scaleIn 0.3s forwards, fadeIn 0.6s linear forwards, rotateIn 3.0s ease-out forwards;
              -webkit-animation: scaleIn 0.3s forwards, fadeIn 0.6s linear forwards, rotateIn 3.0s ease-out forwards;
              animation: scaleIn 0.3s forwards, fadeIn 0.6s linear forwards, rotateIn 3.0s ease-out forwards;
              -moz-animation-delay: 1s;
              -webkit-animation-delay: 1s;
              animation-delay: 1s;
              background: url('#{$asset-server-url}c4f35e06-partners-hero-ubuntu.svg') no-repeat;
              left: 320px;
              top: 198px;
              height: 140px;
              width: 140px;
            }
          }
        }
      }
    }

    .row-maas {

      @media only screen and (min-width : $breakpoint-medium) {
        background-image: url('#{$asset-server-url}90669a61-screenshot-cloud_maas.png?w=800');
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: 45%;
      }

      @media only screen and (min-width : $breakpoint-large) {
        background-position: 130% 50%;
        background-size: 55%;
      }
    }

    // news and events list on /cloud
    .newsevent { // DDD do we need this bespoke pattern for the /cloud news list?

      &__title {
        font-size: 1rem;

        @media only screen and (min-width : $breakpoint-large) {
          font-size: 1.25rem; // going for 20px
        }
      }

      &__map {
        float: left;

        &-image {
          border-radius: 4px;
          margin-right: 20px;
          margin-top: 7px;
          width: 76px;
        }

        &-image-wrap {
          background-size: 78px;
          display: inline-block;
          margin-bottom: 0;
          max-width: 100%;
          position: relative;
          vertical-align: middle;
        }
      }

      &__details {
        clear: none;
        color: $warm-grey;
        display: inline;
        float: left;
        line-height: 1.2;
        margin-bottom: .5em;
        margin-top: 4px;
        width: 66%;

        &-location {
          @extend %newsevent__details-icon;
          background-image: url('#{$asset-server-url}dc06486f-location.svg');
        }

        &-venue {
          @extend %newsevent__details-icon;
          background-image: url('#{$asset-server-url}48947556-gps.svg');
        }

        &-date {
          @extend %newsevent__details-icon;
          background-image: url('#{$asset-server-url}c7d1850b-calendar.svg');
        }
      }
    }

    .row--office-hours {
      background-image: none;
    }
  }

  //  @subsection cloud/storage - XXX this is a candidate to raise up a level */
  &.cloud-storage {

    .equal-height--vertical-divider .equal-height--vertical-divider__item {
      border: 0;
    }

    .twelve-col .equal-height--vertical-divider {
      margin-bottom: 0;
    }

    .storage-options {

      @media only screen and (min-width : $breakpoint-medium) {
        border-bottom: 1px dotted $warm-grey;
      }
    }

    .hero-image {
      @media only screen and (min-width : $breakpoint-medium) {
        margin-top: -60px;
      }
    }
  }

  // @subsection /cloud/partners
  &.cloud-partners {

    .row-hero {
      overflow: hidden;
      min-height: 550px;

      &:before {
        background: url('#{$asset-server-url}03ede53b-clouds-foreground.png') left bottom no-repeat;
        bottom: 0;
        content: ' ';
        display: block;
        height: 400px;
        left: 77px;
        position: absolute;
        width: $breakpoint-large;
        z-index: 3;
      }

      &.bg-clouds {
        background: transparent url('#{$asset-server-url}487a58c4-clouds-background.png') repeat-x;
        background-position: 0 0;
        bottom: 0;
        content: ' ';
        display: block;
        height: 552px;
        left: 0;
        position: absolute;
        width: $breakpoint-large;
        z-index: 2;
      }

      &.bg-more-clouds {
        background: transparent url('#{$asset-server-url}190d12e9-clouds-background-b.png') repeat-x;
        background-position: 0 0;
        bottom: 30px;
        content: ' ';
        display: block;
        height: 652px;
        left: -10%;
        position: absolute;
        width: $breakpoint-large;
        z-index: 1;
      }

      .hero-content {
        position: relative;
        z-index: 10;
      }

      .cloud-row-hero-image {
        position: relative;
        z-index: 3;

        @media only screen and (min-width : $breakpoint-medium) {
          margin-right: -40%;
          margin-top: 17%;
        }

        &:after {
          background: $cool-grey;
          content: ' ';
          display: block;
          height: 152px;
          left: 0;
          position: absolute;
          top: 0;
          width: 152px;
          z-index: 4;
        }
      }
    }
  }

  // @subsection /cloud/juju
  &.cloud-juju {

    .row-get-started {

      @media only screen and (min-width : $breakpoint-medium) {
        background-image: url('#{$asset-server-url}8149d09f-Service+View+-+zoom.png?w=600');
        background-position: top right;
        background-repeat: no-repeat;
      }
    }

    /// XXX Karl (10.04.2016)
    /// we're using a similar style in various places, cosider pushing upstream
    .external-heading {
      background: url("#{$asset-server-url}e1bba201-external-link-cool-grey.svg") left center no-repeat;
      background-size: 16px;
      padding-left: 22px;
    }

    .bundle-card__image-container {
      height: 345px;
    }
  }

  // @subsection /cloud/public-cloud
  &.cloud-public-cloud {

    .row-get-started {
      .box {
        @media only screen and (min-width : $breakpoint-large) {
          min-height: 170px;
        }
      }
    }
  }

  // @subsection /cloud/contact-us
  &.cloud-contact-us {

    .row-hero {
      padding-bottom: 0;
    }
  }

  // @subsection  /cloud/openstack
  &.cloud-openstack {

    .row-autopilot {

      @media only screen and (min-width : $breakpoint-medium) {
        background-image: url('#{$asset-server-url}b72144a5-cloud_landscape_components.png?op=region&rect=0,0,300,600');
        background-position: right top;
        background-repeat: no-repeat;
      }

      @media only screen and (min-width : $breakpoint-large) {
        background-image: url('#{$asset-server-url}b72144a5-cloud_landscape_components.png?op=region&rect=0,0,500,800');
        background-position: right top;
        background-repeat: no-repeat;
      }
    }
  }

  // @subsection /cloud/openstac/autopilot
  &.cloud-openstack-autopilot {

    .row-hero {

      @media only screen and (min-width : $breakpoint-medium) {
        overflow: hidden;
      }

      @media only screen and (min-width : $breakpoint-large) {
        background-position: top right;
      }

      &:before {

        @media only screen and (min-width : $breakpoint-medium) {
          background: url('#{$asset-server-url}b72144a5-cloud_landscape_components.png?w=897') center center no-repeat;
          background-size: contain;
          content: '';
          display: block;
          height: 75%;
          overflow: visible;
          position: absolute;
          right: -30vw;
          top: 60px;
          width: 80vw;
        }

        @media only screen and (min-width : $breakpoint-large) {
          height: 85%;
          right: -2vw;
          width: 45vw;
        }
      }
    }

    .autopilot-dynamic h2 {
      padding-bottom: 1em;
    }

    .autopilot-dynamic .video-container {
      width: 95%;
    }

    .autopilot-dynamic .back-link {
      color: #AEA79F; // DDD pick a standard colour?
      opacity: .9;
      transition: opacity .3s;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }

      img {
        vertical-align: text-bottom;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  .row-cost {
    .box {
      color: $cool-grey;
      border: 0;

      h3 {
        margin-top: 0;
      }

      .price {
        font-size: 2em;
        margin-bottom: 5px;
      }
    }
  }


  // @subsection /cloud/openstack/managed-cloud
  &.cloud-managed-cloud {

    .strip-aubergine {
      background-image: url('#{$asset-server-url}728c5851-Yakkety_Yak-Wallpaper_8192x4608_aubergine_wider.jpg');
      background-size: cover;
      color: $white;

      .button--primary {
        margin: 2rem 0 0;
      }
    }

    .row-expertise {
      .four-col {

        @media only screen and (min-width : $breakpoint-large) {
          min-height: 220px;
        }
      }
    }

    .video-container {
      padding-bottom: 53.25%;
    }
  }

  // @subsection /cloud/newsletter-thank-you
  .cloud-newsletter-thank-you   {

    .intro {
      @media only screen and (min-width : $breakpoint-large) {
        font-size: 1.75em;
      }
    }
  }

  // @subsection /cloud/plans-and-pricing
  &.cloud-plans-and-pricing {
    .row-ubuntu-advantage-promo {

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server-url}65274d19-landscape-screenshot.png?W=600');
        background-position: 158% 45px;
        background-repeat: no-repeat;
        background-size: 56%;
      }

      @media only screen and (min-width: $breakpoint-large) {
        background-position: right -100px top 40px;
        background-size: 40%;
      }
    }
  }

  // @subsection /cloud/training
  &.cloud-training  {

    .row-hero {

      @media only screen and (min-width : $breakpoint-medium) {
        min-height: 343px;
      }
    }

    .course-details {
      margin-top: 3px;

      dt {
        float: left;
        margin-right: 6px;

        &::after {
          content: ': ';
        }
      }

      dd {
        margin-bottom: 10px;
      }
    }

    .row--training {
      position: relative;

      @media only screen and (min-width: $breakpoint-medium) {
        margin-top: 0;
        min-height: 300px;
        padding-top: 20px;
        position: relative;
      }

      @media only screen and (min-width: $breakpoint-large) {
        min-height: 343px;
        padding-top: 40px;
      }

      &__content {
        position: relative;
      }

      &__image {
        position: absolute;

        @media only screen and (min-width: $breakpoint-medium) {
          max-width: 300px;
          position: absolute;
          right: 20px;
          top: -40px;
        }

        @media only screen and (min-width: $breakpoint-large) {
          max-width: 360px;
          right: 40px;
          top: -100px;
          width: auto;
        }
      }
    }

    .training-list {

      &__item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-top: 0;

        @media only screen and (min-width: $breakpoint-medium) {
          margin-bottom: 40px;
          padding-bottom: 40px;
        }

        @media only screen and (min-width: $breakpoint-large) {
          margin-bottom: 60px;
          padding-bottom: 60px;
        }
      }

      &__course-summary {
        border-bottom: 0;
      }

      &__course-details {
        dt {
          float: left;
          margin-right: 6px;

          &:after {
            content: ": ";
          }
        }

        dd {
          margin-bottom: 10px;
        }

        @media only screen and (min-width: $breakpoint-medium) {
          margin-top: 3px;
        }
      }
    }
  }
}
