  @charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Containers section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// Shared components
.row--whitepaper {
  background-image: none;
}

// @subsection /containers
.containers-home {
  .icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media only screen and (min-width : $breakpoint-large) {
      margin-bottom: 40px;
    }

    &__icon {
      margin-right: 20px;
      width: 50px;

      @media only screen and (min-width : $breakpoint-large) {
        margin-right: 40px;
        width: 80px;
      }
    }

    &__heading {
      position: relative;

      &:before {
        @media only screen and (min-width : $breakpoint-medium) {
          border-left: 1px solid #cdcdcd;
          content: ' ';
          display: block;
          height: 20px;
          left: -10px;
          position: absolute;
          top: 2px;
          width: 1px;
        }

        @media only screen and (min-width : $breakpoint-large) {
          height: 40px;
          left: -20px;
          top: 0px;
        }
      }
    }
  }


}

// @subsection /containers/kubernetes
.containers-kubernetes {
  .row-expertise__image {
    margin-right: 20px;
    width: 15vw;

    @media only screen and (min-width : $breakpoint-large) {
      width: 150px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
