
@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Download section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

.download-ubuntu-kylin-zh-CN .download-description {
  min-height: 9.5em;
}

.download {
  .inner-wrapper {

    form fieldset {
      background: none;
      margin: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 2px;
    }

    form select {
      font-weight: 300;
      margin-bottom: 30px;
      width: 100%;
    }
  }
  .strip-inner-wrapper {
    form button,
    form .link-cta-download,
    .link-cta-download {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  p.ubuntu-upgrade {
      background: $light-grey url('#{$asset-server-url}f68488b1-picto-upgrade-warmgrey.svg') 20px center no-repeat;
      background-size: 40px 40px;
      border-top: 1px solid #e3e3e3;
      border-radius: 0 0 4px 4px;
      display: block;
      margin-bottom: 0;
      padding: 20px 20px 20px 84px;
      margin: 0 -20px -41px -20px;
  }

}

html.no-svg,
html.opera-mini {
    .download p.ubuntu-upgrade {
        background-image: url('#{$asset-server-url}fa83e8f4-pictorgram-upgrade-44x44.png');
    }
}

.download #main-content .row-background a:link.link-cta-download {
    text-decoration: none;
}

.download-ubuntu-kylin-zh-CN .inner-wrapper form button {
  margin-left: 0;
}

.download .inner-wrapper .small {
    font-size: .8125em;
    display: block;
    text-align: center;
    margin-top: -.2em;
}

.download .inner-wrapper .form-download .small {
    margin-bottom: 2em;
}

.download .inner-wrapper .form-download:last-of-type .small {
    margin-bottom: 0;
}

.download-ubuntu-kylin-zh-CN .inner-wrapper  {
    .link-cta-download, .small {
      margin-left: 0;
  }
}

.download-cloud-home .row-hero form.form-download p {
  font-size: 0.8125em;
}

.download-cloud-home .inline-icons li {
    margin-bottom: 0;
}

.download-cloud-home,
.download-server-provisioning,
.download-cloud-conjure-up,
.download-cloud-autopilot  {
  .row--ebook {
    background: $dark-aubergine;
    color: #ebebea;
  }
}

.download-desktop {
  div.warning {
    padding: 20px 40px;
    margin-bottom: $gutter-width;
  }
}

/* .download */

.download-help {
    .row-hero {
        padding-bottom: 0;

        & + .row {
            padding-top: $gutter-width;
        }
    }
}

.download-help .box-juju {
    padding-top: 2 * $gutter-width;
    padding-bottom: 2 * $gutter-width;
}

.download #download-other {
    background: $light-grey;
    border-radius: 4px;
    padding: 20px;
}

.download .sidebar {
    h4 {
      font-size: 1em;
      font-weight: normal;
  }

    li h5 {
        font-weight: normal;
        color: $cool-grey;
        margin-left: -15px;
    }

    ul { margin-left: 15px }

    ul ul { margin-left: 0; }

    li li { list-style-type: disc; }
}

.download {
    .header--ubuntu,
    .header--windows,
    .header--mac,
    .header--dvd,
    .header--download,
    .header--kylin,
    .header--openstack,
    .header--server,
    .header--upgrade,
    .header--articles  {
        background-repeat: no-repeat;
        background-size: 2em 2em;
        background-position: top left;
        padding: .3em 0 .6em 2.4em;
    }
    .header--ubuntu {
        background-image: url("#{$asset-server-url}cb3ecebb-picto-ubuntu.svg");
    }
    .header--windows {
        background-image: url("#{$asset-server-url}08563efa-picto-windows.svg");
    }
    .header--mac {
        background-image: url("#{$asset-server-url}4239507e-picto-mac.svg");
    }
    .header--dvd {
        background-image: url("#{$asset-server-url}a9ed9a5c-picto-cddvd-warmgrey.svg");
    }
    .header--download {
        background-image: url("#{$asset-server-url}be3876ec-picto-download-warmgrey.svg");
    }
    .header--kylin {
        background-image: url("#{$asset-server-url}590018e7-picto-ubuntukylin.svg");
    }
    .header--openstack {
        background-image: url("#{$asset-server-url}a7916513-picto-openstack.svg");
    }
    .header--server {
        background-image: url("#{$asset-server-url}c3499461-picto-server-warmgrey.svg");
    }
    .header--upgrade {
        background-image: url("#{$asset-server-url}f68488b1-picto-upgrade-warmgrey.svg");
    }
    .header--articles {
      background-image: url("#{$asset-server-url}8a199d55-picto-articles-warmgrey.svg");
    }

    .row-easy-ways {
        .box-highlight{
            p {
                border-bottom: 1px dotted $warm-grey;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            ul {
                margin-bottom: 0;
            }
        }
    }

    #main-content .row-background {
        background: url("#{$asset-server-url}ad0985ac-image-background-wallpaper1404.jpg") no-repeat center center;
        background-size: cover;
        background-color: #62273A;
        background-color: -webkit-linear-gradient(#62273A 0%, #a62d2d 100%);
        background-color: -o-linear-gradient(#62273A 0%, #a62d2d 100%);
        background-color: -moz-linear-gradient(#62273A 0%, #a62d2d 100%);
        background-color: linear-gradient(#62273A 0%, #a62d2d 100%);
        background-size: cover;
        margin-top: 0;
        padding-top: 40px;

        h1,
        p {
            color: #ffffff;
        }
        a:link,
        a:visited {
            text-decoration: underline;
            color: #fff;
        }
        a:hover {
            color: rgba(255,255,255,0.6);
        }

        a:hover.link-cta-download {
            color: rgba(255,255,255,1);
        }

        a.external {
            background-image: url("#{$asset-server-url}c4b33571-icon-externallink-white.svg");
        }

        a.external:hover {
            background-image: url("#{$asset-server-url}a1f09697-icon-externallink-warmgrey.svg");
        }

        .box-highlight {
            border: none;
                -moz-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
                -webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
               box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.2);
            background-color: rgba(0, 0, 0, .25);
            color: #ffffff;
        }

        .vertical-divider > div,
        .vertical-divider > li {
            border-color: rgba(255,255,255,0.2); /*#78515f;*/
        }
    }
}

.equal-height--vertical-divider .equal-height--vertical-divider__item.no-margin-bottom {
  border-bottom: 0;
}

.download.download-ubuntu-kylin #main-content .row-background {
    a:link,
    a:visited {
        color: #fff;
        text-decoration: none;
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

    a.external:hover {
    background-image: url("#{$asset-server-url}c4b33571-icon-externallink-white.svg");
    }
}

html.no-svg,
html.opera-mini {
    .download {
        .header--ubuntu {
            background-image: url("#{$asset-server-url}b66b2b31-picto-ubuntu.png");
        }
        .header--windows {
            background-image: url("#{$asset-server-url}6447e9cf-picto-windows.png");
        }
        .header--mac {
            background-image: url("#{$asset-server-url}8f429189-picto-mac.png");
        }
        .header--dvd {
            background-image: url("#{$asset-server-url}35559463-picto-cddvd-warmgrey.png");
        }
        .header--download {
            background-image: url("#{$asset-server-url}7fb8fbf5-picto-download-warmgrey.png");
        }
        .header--kylin {
            background-image: url("#{$asset-server-url}3e66a066-picto-ubuntukylin.png");
        }
        .header--openstack {
            background-image: url("#{$asset-server-url}fc902cdf-picto-openstack.png");
        }
        .header--server {
            background-image: url("#{$asset-server-url}45f53eda-picto-server-warmgrey.png");
        }
    }
}
.download .box,
.download .box-highlight {
    margin-bottom: 20px;
}
.download .box h4 {
    font-size: 1em;
    font-weight: normal;
}

.download .box ul li p {
    color: $cool-grey;
    margin-bottom: 0;
}

/* @section download > download-zh-CN */
.download-ubuntu-kylin-zh-CN h1 span,
.download-ubuntu-kylin-zh-CN h2 span {
    float: none;
    clear: none;
    display: inline;
}
.download .row-download-thanks {
    margin-left: 10px;
    margin-right: 10px;
}
/* Thank you pages */
.download-thank-you .row-download-thanks {

    .four-col .box {
        background-color: #fff;
        background-position: center $gutter-width;
        background-repeat: no-repeat;
        padding-top: 160px;
    }
    .one .box { background-image: url(#{$asset-server-url}c748d2fd-pictogram-ubuntu-one-113x113.png); }
    .support .box { background-image: url(#{$asset-server-url}6d589b26-pictogram-support-113x113.png); }
    .ask .box { background-image: url(#{$asset-server-url}db32f14e-pictogram-ask-ubuntu-113x113.png); }
    .jumpstart .box { background-image:  url(#{$asset-server-url}724533d0-pictogram-jumpstart-113x113.png); }
    .advantage .box { background-image: url(#{$asset-server-url}c39e35bd-pictogram-advantage-113x113.png); }
    .consulting .box { background-image:  url(#{$asset-server-url}6dba47a9-pictogram-consulting-113x113.png); }
}

/*	@section help
-------------------------------------------------------------- */
#download-help {
  ol {
    margin-left: 0;
  }

    li {
        border-bottom: 1px dotted $warm-grey;
        margin-bottom: 1.25em;
        min-height: 5em;
        padding-bottom: .625em;
        position: relative;
        padding-left: 70px;
    }

    li:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }

    ol.no-bullets li {
        border-bottom: 0;
    }

    li li {
        border-bottom: 0;
        list-style-type: disc;
        padding-left: 0;
        margin-bottom: 0;
        margin-left: 20px;
        min-height: 0;
        color: $cool-grey;
    }

    .box-tip p {
      margin-bottom: 0;
    }

    .row-wiki {
        border-bottom: 1px dotted $warm-grey;
        margin-top: 20px;
    }

    dl {
    font-size: 1em;
    border-top: 1px dotted $warm-grey;
    margin-bottom: 10px;
    padding-top: 10px;
    position: relative;
    }

    dl.last {
      border-bottom: 1px dotted $warm-grey;
  }

    dd {
        padding-bottom: 10px;
        margin-left: 0;
    }

    dt {
        margin-bottom: 10px;
    }

    .help-image {
        position: relative;

        a {
            text-indent: -9999px;
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;

        }
    }

    .ask-ubuntu-box {
        background-image: url(#{$asset-server-url}422b612c-picto-forum-warmgrey.svg);
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: 0 center;
        padding: 30px 0 20px 70px;
    }

} /* end .download-help */
.no-svg,
.opera-mini {
    .ask-ubuntu-box {
        background-image: url(#{$asset-server-url}5de3bb0c-picto-forum-warmgrey.png);
    }
}

.download-cloud-install-ubuntu-openstack #download-help dl:first-of-type {
    border-top: 0;
}

.download-cloud-cloud-archive-instructions #download-help li {
    padding-left: 0;
}

#ubuntu-help {
    margin-bottom: 60px;
}

.instruction {
    padding: 0;
    border-bottom: 1px solid #EFEDEC;

    &__bullet,
    &__details {
        padding: 60px 40px;
        margin-bottom: 0;
    }

    &__bullet {
        margin-right: 0;
    }

    &__step {
        $size: 50px;
        display: inline-block;
        border-radius: 50%;
        width: $size;
        height: $size;
        line-height: $size;
        background-color: $warm-grey;
        color: $white;
        text-align: center;
        vertical-align: top;
        font-size: 2em;
        font-weight: 400;
    }

    &__title {
        display: inline;
        position: relative;
        top: 6px;
        line-height: 1.6;
    }

    &__details {
        background-color: $light-grey;
    }
}

#download-help li span,
#ubuntu-help li span {
  border-radius: 40px;
    background-color: $warm-grey;
    border: 3px solid $warm-grey;
    color: $white;
    display: block;
    float: left;
    text-align: center;
    vertical-align: top;
    width: 40px;
    font-size: 1.375em;
    padding: 0 9px;
    height: auto;
    margin-left: -70px;
}

#download-help li.box span {
    margin-left: -50px;
}

#ubuntu-help li span {
    margin-left: 0;
    margin-right: 20px;
}

#download-help li.double span,
#download-help li span.double,
#ubuntu-help li.double span,
#ubuntu-help li span.double {
  text-indent: -7px;
}

#ubuntu-help .no-numbers li {
    padding-left: 0;
}

.row-ask {
    margin-top: 20px;
}

.row-ask p {
    padding: 15px 0 0;
}

.download p.link-wrap {
    clear: both;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

/* Contribute page */
.contribute {
  .no-js & {
    display: none;
  }

  &__options {
    background-color: #EFEFEF;
    padding: 20px;
    border-radius: 5px;
  }

  &__option-amount {
    font-size: 16px;
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  &__option-currency {
    display: inline-block;
    color: $warm-grey;
    padding: 5px;
    order: 2;
  }

  &__option-value {
    padding: 4px;
    width: 55px;
    order: 3;
  }

  &__option-slider {
    order: 1;
    flex-grow: 1;
    margin-right: 16px;
    background-color: transparent;
  }

  &__equivalent {
    max-width: 350px;

    p {
      margin-bottom: 0;
    }

    &-image {
      margin-right: 20px;
      margin-bottom: 20px;

      @media only screen and (min-width: $breakpoint-medium) {
        float: left;
      }
    }

    &__equivalent-price {
      color: $warm-grey;
    }
  }

  &__summary {
    margin-top: 40px;
    margin-bottom: 20px;

    .no-js & {
      display: none;
    }
  }

  &__total {
    float: right;

    &-heading {
      margin-top: -0.3em;
      margin-bottom: 0;
    }

    &-currency {
      color: $warm-grey;
    }
  }

  &__finalise {
    border-top: 1px solid #efefef;
    padding-top: 20px;
  }

  &__submit {
    float: right;
    width: auto;
    margin-bottom: 0;

    &[disabled] {
      opacity: .3;
    }
    &.hidden {
      display: none;
    }
  }

  &__skip.button--primary {
    float: right;
    text-indent: -1000px;
    position: relative;
    width: 15.3em;

    &::after {top: 0;
      left: 0;
      content: "Download Ubuntu Desktop";
      display: inline-block;
      color: white;
      position: absolute;
      text-indent: 0;
      padding: 11px 24px;
    }
  }
}

// Overrides
input[type=number].contribute__option-value {
  @extend .contribute__option-value;
}

.download .inner-wrapper form fieldset.contribute__options {
  @extend .contribute__options;
}

.download .contribute button.contribute__submit {
  @extend .contribute__submit;
}


/* Desktop thankyou page */
.download-thankyou {
    .download-cross-sells {
        margin-top: 40px;
    }
    .download-cross-sells .box-highlight {
        height: 380px;
    }
    .download-cross-sells .box-highlight img {
        display: block;
        margin: 0 auto 20px auto;
    }
    // removes the left padding added at line 217
    .inner-wrapper .newsletter-signup fieldset {
      padding-left: 0;
    }
}

/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (min-width : $breakpoint-medium) {

    .download {
        .row-list-download {
            .box-highlight {
                margin-bottom: 0;
            }
        }
    }

}


/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (min-width : $breakpoint-medium) {

    /* Thank you pages */
    .download .row-download-thanks {
        margin-left: 0;
        margin-right: 0;
    }

    .download .download-description {
        box-sizing: border-box;
        border-right: 1px dotted $warm-grey;
        display: inline;
        float: left;
        min-height: 8em;
        padding-right: 10px;
    }

    .download-cloud-home .inline-icons li {
        margin-bottom: 20px;
    }

    #download-help li span,
    #ubuntu-help li span {
        font-size: 1.4375em;
        height: 40px;
        padding: 0 11px 20px 11px;
        margin-right: 20px;
    }

    #ubuntu-help li span {
        margin-left: 0;
        margin-right: 20px;
    }

    .download-help {
        dt {
            display: inline-block;
            left: 0;
            position: absolute;
            top: 10px;
            width: 40%;
        }

        dd {
            float: right;
            width: 55%;
        }
        .help-image a {
            display: block;
        }
    }

    .box-tip {
        background: #fff url(#{$asset-server-url}18aa8a3c-pictogram-download-tip-60x49.png) $gutter-width $gutter-width no-repeat;
        margin-bottom: 1.538em;
        padding-left: 100px;
        padding-bottom: 1.25em;
    }

    #download-other .box {
        margin-bottom: 0;
    }
    .download {
        .gap-from-top {
            margin-top: 53px;
        }
    }
}

/* Large / Desktop viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 984px) {
    .download-thankyou {
        .equal-height img {
            height: 113px;
            width: 113pc;
        }
    }
}

/* ownload Flavours Trumps
-------------------------------------------------------------- */
@media only screen and (min-width : 984px) {

    .download-ubuntu-flavours {

        .row-hero {
            padding-bottom: 0!important;
        }
    }
}

.download.download-ubuntu-flavours .row.row-flavours-hero {
  @media only screen and (min-width: $breakpoint-medium) {
    padding-bottom: 0;
  }
}

// XXX - add provision for stepped list without headings in VF
.list-step__title {

    & + .box {
        margin-top: 1em;
    }
}

.list-step__item {
    margin-bottom: 2rem;
    position: relative;
}

.list-step__bullet {
    position: absolute;
    top: 0;
}

.list-step__text {
    display: inline-block;
    padding-top: .5em;
}

// XXX code stuff
pre {
  overflow: auto;
  padding-top: 1em;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: $cool-grey;
  border: none;
  border-radius: 2px;
  color: #cdcdcd;
}
pre > code {
  border: 0;
  background: transparent;
  font-size: 1em;
  font-weight: 300;
  padding: 0.7em 1em;
  color: #cdcdcd;
  width: 100%;
}
