/*	@section search
-------------------------------------------------------------- */
.search-container {
  margin-left: 10px;
  margin-right: 10px;
}

.row-hero__title {
  font-size: 2em;    
}

/* XXX the need for this fix should be addressed in VF- */
@media only screen and (min-width : 985px) and (max-width: 1024px) {
  .banner .logo {
    margin: 0 15px;
  }

  .header-search {
    margin-right: 10px;
  }
}

.banner .nav-primary .header-search .form-text {
  -webkit-appearance: none;
  color: $text-color;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $alto-grey;

  &::-webkit-input-placeholder {
      color: $warm-grey;
      opacity: 0.6;
  }

  @media only screen and (min-width : $navigation-threshold) {
    border-bottom: 0;
    background-color: #c34113;

    &::-webkit-input-placeholder {
        color: $white;
        opacity: 0.5;
    }
  }
}

@media only screen and (min-width : $navigation-threshold) {

  .header-search {
    max-width: 210px;
    padding-right: 3px;
  }
}
