/*
 *  Main CSS
 *   author: Anthony Dillon
 */
		
		body { 
			background-color: black;
			background: url(../img/background.jpg) no-repeat center center fixed;
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
			font-family:"Ubuntu","Ubuntu Beta",Ubuntu, UbuntuBeta !important;
			color:white;
			overflow: hidden;
			overflow-x: hidden;
			width:100%;
			height:100%;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		} 
		
		*{
			cursor: default;
			font-family:"Ubuntu","Ubuntu Beta",Ubuntu, UbuntuBeta;
		}
		
		a {
			outline: none;
			color:#DD4814;
			text-decoration: none;
			cursor:pointer;
		}
		
		.blurred *{
			color: transparent !important;
		    text-shadow: 0 0 5px #999 !important;
		}
		
		.blurred{
			 -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelRadius=2)";
		    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2);
		}
		
		.window{
				-moz-border-radius:4px 4px 0px 0px;
				-webkit-border-radius:4px 4px 0px 0px;
			border-radius:4px 4px 0px 0px;
				-moz-box-shadow: 0px 0px 10px #000;
			  	-webkit-box-shadow: 0px 0px 10px #000;
			box-shadow: 0px 0px 10px #000;
			position: absolute;
			background:url(../img/folder/top-bg.jpg) repeat-x;
			background-color:#f2f1f0;
			color:#4C4C4C;
			font-size:14px;
			z-index:1;
		}
		
		::-moz-selection { none; }
		::-webkit-selection{ none; }
	    ::selection { none; }
	    
	    input::-moz-selection { background:#f07746;color:#fff; }
		input::-webkit-selection{ background:#f07746;color:#fff; }
	    input:selection { background:#f07746;color:#fff; }
	    
	    textarea::-moz-selection { background:#f07746;color:#fff; }
		textarea::-webkit-selection{ background:#f07746;color:#fff; }
	    textarea:selection { background:#f07746;color:#fff; }
	    
	    textarea{
			background-color:#fff;
			border: 1px solid #ada9a5;
			-webkit-border-radius:2px 2px 2px 2px;
			-moz-border-radius:2px 2px 2px 2px;
			border-radius:2px 2px 2px 2px;	
			padding:2px;
			font-family:"Ubuntu","Ubuntu Beta",UbuntuBeta,Ubuntu;
	    }
	    
	    input{
			background-color:#fff;
			border: 1px solid #ada9a5;
			-webkit-border-radius:2px 2px 2px 2px;
			-moz-border-radius:2px 2px 2px 2px;
			border-radius:2px 2px 2px 2px;	
			padding:2px;
			font-family:"Ubuntu","Ubuntu Beta",UbuntuBeta,Ubuntu;
	    }
	    
	    #Translation-Strings{
	    	display:none;
	    }
	    
		#menu{
			background:#500D28;
			width:70px;
			position:absolute;
			left: 0px; 
    		top: 24px;	
    		border-right: 1px solid #6e3a4d;
    		z-index: 10;
    		overflow:hidden;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
		}
		
		#menu.dashOpen{
			/*background:none;*/
			border-right: 1px solid #333;
		}
		
		#menu .scroll-up{
			position:absolute;
			left: 0px; 
    		top: 0px;	
			width:100%;
			height:20px;
		}
		
		#menu .scroll-down{
			position:absolute;
			left: 0px; 
    		bottom: 0px;
			width:100%;
			height:20px;
		}
		
		#tooltip{
			z-index: 10;
			height:20px;
			background:url("../img/menu/tooltip-background.png") repeat-x;
			/*background-color:rgba(0,0,0,0.2);*/
			border:1px solid #4a3742;
			border-left:none;
			display:none;
			position: absolute;
			left:82px;
			padding:3px 10px 2px 10px;
			-moz-border-radius: 4px 4px 4px 4px;
			-webkit-border-radius: 4px 4px 4px 4px;
			border-radius: 4px 4px 4px 4px;
			-moz-box-shadow: 0px 0px 5px #000;
  			-webkit-box-shadow: 0px 0px 5px #000;
			box-shadow: 0px 0px 5px #000;
		}
		#tooltip #tooltip-text{
			font-size:14px;
			white-space:nowrap;
		}
		.arrow-right,
		.shadow-arrow {
		        width: 0;
		        height: 0;
		        border-top: 10px solid transparent;
		        border-bottom: 10px solid transparent; 
				border-right:10px solid #1f171a;
		        margin-left:-20px;
		        /*opacity: .8;
		        filter: alpha(opacity=80);
		        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";*/
		        float:left;
		}
		.shadow-arrow{
			border-right:12px solid #4a3742;
			border-top: 12px solid transparent;
		    border-bottom: 12px solid transparent; 
			margin-left:-22px;
			margin-top:-2px;
		}
		
		#menu ul{
			margin-top:6px;
			padding-left: 12px;
			position:absolute;
			top:0px;
			height:100%;
		}
		
		#menu ul li{
			list-style: none;
			height:46px;
			width:52px;
			color:transparent;
			padding-top:6px;
			margin-bottom:6px;
			background-repeat: no-repeat;
			 -moz-transition:-moz-box-shadow .3s linear;
			 -webkit-transition:-webkit-box-shadow .3s linear;
			 transition:box-shadow .3s linear;
		}
		
		#menu ul li.glow{
		 box-shadow:0px 0px 7px #d0733b;
		 -moz-box-shadow:0px 0px 7px #d0733b;
		 -webkit-box-shadow:0px 0px 7px #d0733b;   
		 background-color:rgba(208,115,59,0.5);
		}
		
		#menu ul li img.open-arrow{
			margin-left: -7px;
    	    margin-top: 17px;
    	    display:none;
		}
		
		#menu ul li img.selected-window-arrow{
    	    display:none;
    	    float: right;
		    margin-right: -6px;
		    margin-top: 17px;
		    position: relative;
		}
		#menu ul li span{
			display:none;
		}
		#systemOverlay .copyDash{
			position:absolute;
			top:30px;
			left:12px;
			background-image:url(../img/menu/icon-dash.png);
			background-repeat: no-repeat;
			height:52px;
			width:52px;
		}
		#menu .dash{
			background-image:url(../img/menu/icon-dash.png);
		}
		#menu .home{
			background-image:url(../img/menu/icon-folder.png);
		}
		#menu .firefox{
			background-image:url(../img/menu/icon-firefox.png);
		}
		#menu .movieplayer{
			background-image:url(../img/menu/icon-movieplayer.png);
		}
		#menu .shotwell{
			background-image:url(../img/menu/icon-shotwell.png);
		}
		#menu .writer{
			background-image:url(../img/menu/icon-writer.png);
		}
		#menu .impress{
			background-image:url(../img/menu/icon-impress.png);
		}
		#menu .calc{
			background-image:url(../img/menu/icon-calc.png);
		}
		#menu .uone{
			background-image:url(../img/menu/icon-ubuntuone.png);
		}
		#menu .software{
			background-image:url(../img/menu/icon-software.png);
		}
		#menu .email{
			background-image:url(../img/menu/icon-thunderbird.png);
		}
		#menu .workspace{
			background-image:url(../img/menu/icon-workspace.png);
		}
		#menu .applications{
			background-image:url(../img/menu/icon-applications.png);
		}
		#menu .files{
			background-image:url(../img/menu/icon-files.png);
		}
		#menu .rubbish{
			background-image:url(../img/menu/icon-emptyrubbish.png);
			position:absolute;
		}
		
		#menu .bottom{
			bottom:10px;
		}
		
		#menu .temp{
			display:none;
		}
		
		#top{
			background-image: url(../img/top-bg.jpg);
			background-repeat:repeat-x;
			position:absolute;
			left: 0px; 
    		top: 0px;
    		width:100%;
    		height:24px;
    		color: #DFDBD2;
			z-index:9;
		}
		
		#top.dashOpen{
			background-image: none;
			background-color: transparent;
			z-index: 13;
		}
		
		#top.dashOpen #top-right #time{
			color:#ffffff;
		}
		
		#top.dashOpen #top-left #title{
			color:transparent;
		}
		
		#top #top-left #dash-control-buttons{
			float:left;
		}
		
		#top.dashOpen #top-left #dash-control-buttons div{
			width:15px;
			height:15px;
			float:left;
			margin-left: 4px;
    		margin-top: 5px;
		}
		
		#top.dashOpen #top-left #dash-control-buttons .close{
			background:url(../img/dash/dash-close.png) no-repeat;
			margin-left:10px;
		}
		
		#top.dashOpen #top-left #dash-control-buttons .close:active{
			background:url(../img/dash/dash-close-clicked.png) no-repeat;
		}
		
		#top.dashOpen #top-left #dash-control-buttons .min{
			background:url(../img/dash/dash-min.png) no-repeat;
		}
		
		#top.dashOpen #top-left #dash-control-buttons .max{
			background:url(../img/dash/dash-max.png) no-repeat;
		}
		
		#top.dropShadow{
				-moz-box-shadow: 10px 0px 10px #000;
		  		-webkit-box-shadow: 10px 0px 10px #000;
			box-shadow: 10px 0px 10px #000;
		}
		#top #top-button-bg #top-button{
			background: url('../img/topleft-button.png') no-repeat center center;
			width:70px;
			height:100%;
		}
		#top #top-button-bg{
			width:70px;
			height:100%;
			border-right: 1px double #333;
			float:left;
		}
		#top  .open{
			background: url('../img/top-bg-selected.jpg') repeat-x center center;
		}
		#top #top-left{
			float:left;
		}
		#top #top-right{
			float:right;
			font-size:15px;
		}
		#top #top-right div{
			float:left;
			padding:0px 8px;
			overflow:hidden;
			
		}
		#top #top-right div .drop-down{
			list-style-type:none;
			background:#464641;
			padding:0px 5px;
			margin-top: 0px;
			-moz-box-shadow: -1px 1px 5px #000000;
		  	-webkit-box-shadow: -1px 1px 5px #000000;
			box-shadow: -1px 1px 5px #000000;
			position: absolute;
			display:none;
			z-index:10;
		}
		.fullscreenTransOverlay{
			position: absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			background:url(../img/black-bg-00.png);
			background:rgba(0, 0, 0, 0);
			z-index:8;
		}
		.fullscreenErrorTransOverlay{
			position: absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			background:url(../img/black-bg-00.png);
			background:rgba(0, 0, 0, 0);
			z-index:2;
		}
		#top #top-right div .drop-down li.disabled{
			color:#666;
		}
		#top #top-right div .drop-down li.disabled:hover{
			background:#464641;
			color:#666;
		}
		#top #top-right div .drop-down li:hover{
			background:url(../img/top/drop-down-hover.jpg) repeat-x;
			color:white;
		}
		#top #top-right div ul li.divider:hover{
			background:#3d3c39;
		}
		#top #top-right #power .drop-down{
			margin-left:-235px;
			width:247px;
		}
		#top #top-right #user .drop-down{
			width:192px;
			margin-left:-129px;
		}
		#top #top-right #time .drop-down{
			width:300px;
			margin-left:-241px;
			margin-top:3px;
		}
		#top #top-right #message .drop-down{
			margin-left: -45px;
			margin-top: 3px;
   			width: 240px;
		}
		#top #top-right #speakers .drop-down{
			width:255px;
			margin-left:-167px;
		}
		#top #top-right #connection .drop-down{
			width:219px;
			margin-left: -75px;
		}
		#top #top-right #bluetooth .drop-down{
			width:208px;
			margin-left: -45px;
		}
		#top #top-right #time p{
			margin:0px;
		}
		#top #top-right #time .system-calendar{
			background:url(../img/top/calendar.jpg) no-repeat;
			width:254px;
			height:185px;
			margin-left:20px;
			margin-top:10px;
		}
		#top #top-right div img.disabled{opacity:0.4;filter:alpha(opacity=40)}
		#top #top-right div ul{
			list-style-position:inside;
		}
		
		#top #top-right div ul li{
			height: 18px;
    		padding: 3px 3px 3px 15px;
		}
		
		#top #top-right div ul li img{
			margin-left:-10px;
			margin-right:5px;
			vertical-align: middle;
		}
		
		#top #top-right div ul li.ticked{
			list-style-image:url('../img/top/tic7pxk.png');
			padding-left:0px;
		}
		
		#top #top-right div ul li.divider{
			height:1px;
			background:#3d3c39;
			border-bottom:1px solid #484844;
			padding:0px;
			margin:4px 0px;
		}
		
		#top #top-right #message{
			padding-top:4px;
		}
		#top #top-right #connection,#top #top-right #speakers,#top #top-right #bluetooth{
			padding-top:4px;
		}
		
		#top #top-right #user{
			padding-top:2px;
		}
		#top #top-right #power{
			padding-top:2px;
		}
		
		#top #top-right #time,#top #top-right #user{
			padding-top:3px;
		}
		
		#top #top-right #user img{
			vertical-align: bottom;
		}
		
		#top #top-right #speakers div{
			float:left;
		}
		
		#top #top-right #speakers .small-icon{
			background:url(../img/top/0slider.jpg) no-repeat;
			height:15px;
			width: 7px;
			margin-top: 12px;
		}
		
		#top #top-right #speakers .system-volume{
			height:37px;
			padding:3px;
		}
		#top #top-right #speakers .system-volume:hover, #top #top-right #speakers .banshee:hover{
			background:none;
		}
		
		#top #top-right #speakers .banshee{
			height:43px;
			padding-left:50px;
		}
		
		#top #top-right #speakers .banshee div:hover{
			background-color:#4d4c48;
		}
		
		#top #top-right #speakers .banshee .banshee-rewind{
			background:url(../img/top/banshee-rewind.png) no-repeat scroll center center #43423f;
			height:29px;
			width:52px;
			margin-top:7px;
			-moz-border-radius: 14px 0px 0px 14px;
			-webkit-border-radius: 14px 0px 0px 14px;
			border-radius: 14px 0px 0px 14px;
			border-top:1px solid #64625b;
			border-bottom:1px solid #393836;
		}
		
		#top #top-right #speakers .banshee .banshee-play{
			background:url(../img/top/banshee-play.png) no-repeat scroll center center #43423f;
			height:43px;
			width:37px;
			-moz-border-radius: 25px 25px 25px 25px;
			-webkit-border-radius: 25px 25px 25px 25px;
			border-radius: 25px 25px 25px 25px;
			border-top:1px solid #64625b;
			border-bottom:1px solid #393836;
			margin-left:-100px;
			
		}
		
		#top #top-right #speakers .banshee .banshee-forward{
			background:url(../img/top/banshee-forward.png) no-repeat scroll center center #43423f;
			height:29px;
			width:52px;
			margin-top:7px;
			-moz-border-radius: 0px 14px 14px 0px;
			-webkit-border-radius: 0px 14px 14px 0px;
			border-radius: 0px 14px 14px 0px;
			border-top:1px solid #64625b;
			border-bottom:1px solid #393836;
			margin-left:30px;
		}
		
		#top #top-right #speakers .slider{
			width: 185px;
			height:17px;
			float:left;
			overflow: visible;
			cursor: default;
			margin-top: 5px;
   			 padding-top: 10px;
		}
		
		#top #top-right #speakers .slider-active{
			-moz-border-radius:5px 5px 5px 5px;
			-webkit-border-radius:5px 5px 5px 5px;
			border-radius:5px 5px 5px 5px;
			background:#dd4814;
			height: 5px;
			width:60px;
    		margin-left: 26px;
  		 	margin-top: -15px;
		    position: relative;
		   z-index:1;
		   padding:0px;
		}
		
		#top #top-right #speakers .ui-slider-handle{
			z-index:2;
		}
		
		#top #top-right #speakers .large-icon{
			background:url(../img/top/100slider.jpg) no-repeat;
			height:15px;
			width: 7px;
			float:right;
			margin-top: 12px;
		}
		
		#top #top-right .selected{
			background:url(../img/top/selected-bg.jpg) repeat-x;
			-webkit-border-top-left-radius: 2px;
			-webkit-border-top-right-radius: 2px;
			-moz-border-radius-topleft: 2px;
			-moz-border-radius-topright: 2px;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
		
		#top-left #title{
			font-weight:bold;
			float:left;
			color: #DFDBD2;
		    font-size: 14px;
		    margin-left: 10px;
		    margin-top: 2px;
		}
		
		
		
		#control-buttons{
			margin-top:2px;
			margin-left:8px;
			float:left;
			display:none;
		}
		
		#control-buttons div{
			width:19px;
			height:19px;
			background-repeat: no-repeat;
			float:left;
			margin-right:2px;
		}
		
		#control-buttons div:hover{
			background-position: 0px -19px;
		}
		
		#control-buttons #close{
			background-image:url(../img/close-button.jpg);
		}
		#control-buttons #min{
			background-image:url(../img/min-button.jpg);
		}
		#control-buttons #max{
			background-image:url(../img/max-button.jpg);
		}
		#top.dashOpen #control-buttons{
			display:none;
		}
		
.fullsize{
	top:0px !important;
	left:70px !important;
}
.fullsize .control .max{
	background:url(../img/folder/resume.jpg) no-repeat;
}

.fullsize .control{
 }
 
 .fullsize .buttons{
 	margin-top:0px;
 }

.ui-slider {
	position: relative;
	background: url('../img/speaker-bg-slider.png') 0 10px no-repeat transparent;
	height: 10px;
	width: 195px;
}
.ui-slider:hover {
	cursor: pointer;
}

.ui-slider a {
	margin: -6px 0 0 -5px;
	position: absolute;
	background: url('../img/button-slider.png') 0 0 no-repeat transparent;
	width: 12px;
	height: 20px;
	display: block;
}

  .selected-window{
		-moz-box-shadow: 0px 0px 20px #000;
		-webkit-box-shadow: 0px 0px 20px #000;
		box-shadow: 0px 0px 20px #000;
  }
    .selected-window .control .window-title{
    	color: #DFDBD2;
    }
    
    .folder{
	width:730px;
	height:500px;
	top:200px;
	left:600px;
	display:none;
}
.control{
	height:19px;
	margin-left:10px;
	margin-top: 6px;
	/*margin-bottom:5px;*/
}

.control .folder-title{
	font-weight:bold;
	float:left;
	color: #DFDBD2;
    font-size: 14px;
    margin-left: 10px;
}

.control .close{
	background:url(../img/folder/close.jpg) no-repeat;
	height:19px;
	width:18px;
	float:left;
}

.control div:hover{
	background-position: 0px -19px !important;
}

.control .min{
	background:url(../img/folder/minimise.jpg) no-repeat;
	height:19px;
	width:19px;
	float:left;
}

.control .max{
	background:url(../img/folder/maximise.jpg) no-repeat;
	height:19px;
	width:17px;
	float:left;
}

.window-title{
	color:#807d78;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    margin-left: 10px;
    overflow: hidden;
    max-width:90%;
}
