.window{
	border-radius:4px;
	behavior: url(pie/PIE.htc);
}

#tooltip{
	background: url(../img/black-bg-40.png);
	behavior: url(pie/PIE.htc);
	box-shadow: none;
}

#tooltip .arrow-right{
	margin-left: -15px;
}

#welcome-screen, .dropShadow, #shotwell .container .images div{
	behavior: url(pie/PIE.htc);
}
