/*
 *  LIbreOffice CSS
 *   author: Anthony Dillon
 */

#libreoffice-calc-window{
	left:431px;
	top:88px;
	display:none;
}

#libreoffice-calc-window .content{
	background:url(../img/librecalc.jpg) no-repeat;
	width:805px;
	height:569px;
	margin-top:5px;
}

#libreoffice-calc-window  .control .close{
	background:url(../img/error/close-button.png) no-repeat;
}

#libreoffice-calc-window .control .close:hover {
    background-position: 0 -19px;
}

#libreoffice-writer-window{
	left:431px;
	top:88px;
	display:none;
}

#libreoffice-writer-window .content{
	background:url(../img/librewriter.jpg) no-repeat;
	width:806px;
	height:552px;
	margin-top:5px;
}

#libreoffice-writer-window  .control .close{
	background:url(../img/error/close-button.png) no-repeat;
}

#libreoffice-writer-window .control .close:hover {
    background-position: 0 -19px;
}

#libreoffice-writer-window .content span, 
#libreoffice-calc-window .content span, 
#libreoffice-impress-window .content span{
	color: #B3B4A6;
    font-size: 15px;
    margin-right: 13px;
    position: relative;
    top: 5px;
    left:10px;
}

#libreoffice-impress-window{
	left:431px;
	top:88px;
	display:none;
}

#libreoffice-impress-window .content{
	background:url(../img/libreimpress.jpg) no-repeat;
	width:802px;
	height:551px;
	margin-top:5px;
}

#libreoffice-impress-window  .control .close{
	background:url(../img/error/close-button.png) no-repeat;
}

#libreoffice-impress-window .control .close:hover {
    background-position: 0 -19px;
}