/*
 *  Shut Down CSS
 *   author: Anthony Dillon
 */

#shutdown-window{
	width:349px;
	min-height:155px;
	top:100px;
	left:400px;
	display:none;
}


#shutdown-window  .control .close{
	background:url(../img/error/close-button.png) no-repeat;
}

#shutdown-window  .control .close:hover {
    background-position: 0 -19px;
}

#shutdown-window .content img{
	float:left;
	margin:20px 20px 0px 10px;
}

#shutdown-window .content .message p{
	margin-top:20px;
	font-size: 15px;
}

#shutdown-window .content .message{
	float:left;
	width:275px;
	height:100%;
}

#shutdown-window .content .shutdown-buttons{
	margin-right:7px;
	clear:both;
}

#shutdown-window .content .shutdown-buttons div{
	text-align:center;
	float:right;
	width:85px;
	height:23px;
	-moz-border-radius:4px 4px 4px 4px;
	-webkit-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	border:1px solid #a6a6a6;
	margin-right:8px;
	padding-top:4px;
	margin-top:20px;
	background:url(../img/error/button-fade.png) repeat-x scroll 0 0 #dfdfdf;
}

#shutdown-window .content .shutdown-buttons div:hover{
	background-position:0px -29px;
}


#shutdown-window .content .shutdown-buttons div.highlight{
	background-color:#f8ab8b;
	text-shadow: 0px 1px #fff;
}

#shutdown-window  .content .shutdown-buttons div.highlight:hover{
	text-shadow: none;
	background-position:0px 0px;
}

