/*
 *  Ubuntu One CSS
 *    author: Anthony Dillon
 */

#ubuntuone-window{
	width:738px;
	height:555px;
	top:200px;
	left:600px;
	display:none;
}

#ubuntuone-window .control .close{
	background:url(../img/error/close-button.png) no-repeat;
}

#ubuntuone-window .content .header{
	background:url(../img/ubuntuone/header.jpg) no-repeat;
	width:738px;
	height:190px;
}

#ubuntuone-window .content .body h1{
	text-align:center;	
	font-weight:normal;
	font-size:32px;
   margin-top:15px;
}

#ubuntuone-window .content .body .features{
	 margin-left:12px;
	 width:440px;
	 float:left;
	 margin-top:10px;
}

#ubuntuone-window .content .body .features .logo{
	float:left;
	width:50px;
	height:50px;
	margin-right: 10px;
}

#ubuntuone-window .content .body .features .files-anywhere .logo{
	background:url(../img/ubuntuone/files-anywhere.jpg) no-repeat;
	margin-top:8px;
}

#ubuntuone-window .content .body .features .rock-out .logo{
	background:url(../img/ubuntuone/rock-out.jpg) no-repeat;
}

#ubuntuone-window .content .body .features .keep-connected .logo{
	background:url(../img/ubuntuone/keep-connected.jpg) no-repeat;
}

#ubuntuone-window .content .body .features .stay-productive .logo{
	background:url(../img/ubuntuone/stay-productive.jpg) no-repeat;
	margin-top:4px;
}

#ubuntuone-window .content .body .features .files-anywhere{
	 width:260px;
}

#ubuntuone-window .content .body .features h3{
	font-size:14px;
	margin-bottom:0px;
	margin-top:0px;
	font-weight:normal;
}

#ubuntuone-window .content .body .features p{
	color:#888;
	margin-top:0px;
	margin-bottom:7px;
}

#ubuntuone-window .content .body .features .keep-connected div{
	padding-top:8px;
	padding-bottom:5px;
}

#ubuntuone-window .content .body .features .stay-productive div{
	padding-top:12px;
	padding-bottom:5px;
}

#ubuntuone-window .content .body .features .rock-out {
	width:360px;
}

#ubuntuone-window .content .body .ubuntuone-buttons{
	float:right;
	margin-right:38px;
	width:180px;
	margin-top:40px;
	color:#888;
}

#ubuntuone-window .content .body .ubuntuone-buttons .learn-more{
	width:180px;
	height:70px;
  	-moz-border-radius:4px 4px 4px 4px;
  	-webkit-border-radius:4px 4px 4px 4px;
  	border-radius:4px 4px 4px 4px;
  	border:1px solid #bdbab7;
  	text-align:center;
  	padding-top:10px;
  	margin-bottom:15px;
  	background:url(../img/ubuntuone/learn-more-bg.jpg) repeat-x;
}

#ubuntuone-window .content .body .ubuntuone-buttons .learn-more:hover{
	background-position: 0px -80px;
}

#ubuntuone-window .content .body .ubuntuone-buttons .join-now{
	height:60px;
	width:180px;
  	-moz-border-radius:4px 4px 4px 4px;
  	-webkit-border-radius:4px 4px 4px 4px;
  	border-radius:4px 4px 4px 4px;
  	border:1px solid #bdbab7;
  	text-align:center;
  	margin-bottom:15px;
	background:url(../img/ubuntuone/join-now-bg.jpg) repeat-x;
}

#ubuntuone-window .content .body .ubuntuone-buttons .join-now:hover{
	background-position: 0px -60px;
}

#ubuntuone-window .content .body .ubuntuone-buttons .join-now h2{
	margin-bottom:4px;
	font-weight:normal;
	margin-top:15px;
	color:#4C4C4C;
	font-size:26px;
}

#ubuntuone-window .content .body .ubuntuone-buttons .have-account{
	color:#dd4814;
	text-decoration: underline;
	border:1px solid #F2F1F0;
	padding:4px 8px;
}

#ubuntuone-window .content .body .ubuntuone-buttons .have-account:hover{
	-moz-border-radius:4px 4px 4px 4px;
  	-webkit-border-radius:4px 4px 4px 4px;
  	border-radius:4px 4px 4px 4px;
  	border:1px solid #bdbab7;
  	cursor:pointer;
}
