<td id="expanded-row-token-{{ outer_loop.index }}-{{ loop.index }}" class="p-table-expanding__panel" aria-hidden={% if new_subscription_id == contract['contractInfo']['id'] %}"false"{% else %}"true"{% endif %}>
  <div class="row">
    <div class="col-start-large-2 col-10">
        <div class="advantage-table-section">
          {% if new_subscription_id == contract['contractInfo']['id'] %}
            <h5>Welcome to your new subscription</h5>
          {% endif %}
          <div class="advantage-table-instruction">
            <span>To attach a machine</span>
            <code>sudo ua attach {{ contract['token'] }}</code>
            <hr />
            <span>To detach a machine</span>
            <code>sudo ua detach</code>
          </div>
        </div>
        <div class="advantage-table-section">
            <p class="u-no-margin--bottom">Please ensure that you have the latest version of the UA client installed.</p>
            <div class="advantage-table-instruction">
              <span>To update the UA client</span>
              <code>sudo apt upgrade</code>
            </div>
        </div>
      </div>
  </div>
</td>
