////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/ubuntu-vanilla-theme/docs/#mixin-vf-helpers
/// @since        0.0.57
////

/// A collect of functions to aid and enhance the users abililty
/// @group Helpers
@mixin ubuntu-helpers {

  .pull-left-20 {
    margin-left: -20px;
  }

  .pull-right-20 {
    margin-right: -20px;
  }

  .pull-left-40 {
    margin-left: -40px;
  }

  .pull-right-40 {
    margin-right: -41px;
  }

}
