////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-ubuntu-rows
/// @since        0.0.3
////

/// Row element styles
/// @group Rows
/// @example
/// <div class="row">
///   ...
/// </div>
@mixin ubuntu-rows {
  /// strips
  .strip-dark {
    background-color: $dark-aubergine;
    background-image: url('#{$asset-server}62d597f6-background-grid.png');
    color: $white;

    .resource {
      box-shadow: none;
      color: $text-color;
      padding-right: 20px;
    }

    .resource::before {
      border-bottom-width: 29px;
      border-right-color: $dark-aubergine;
      right: -2px;
      top: -1px;
    }

    .resource:hover::before {
      border-bottom-width: 34px;
    }
  }
}
