{% extends "templates/one-column.html" %}

{% block title %}Ubuntu Advantage Service Description{% endblock %}

{% block content %}
<div class="row row-hero no-border">
		<h1>Ubuntu Advantage Service Description</h1>
		<h2>1 Overview</h2>
		<p>This service description defines the Services Canonical will provide to the customer under the customer&#39;s agreement with Canonical. This service description defines the following products, but only those products listed in Customer&#39;s agreement with Canonical will be provided: Ubuntu Advantage Standard Desktop, Ubuntu Advantage Advanced Desktop, Ubuntu Advantage Essential Server, Ubuntu Advantage Standard Server, Ubuntu Advantage Advanced Server, Ubuntu Advantage Virtual Guest Standard, Ubuntu Advantage Virtual Guest Advanced, Cloud Availability Zone, Cloud Availability Zone - Advanced 24&#215;7 Guest Support Upgrade, Landscape Dedicated Server, Landscape Agent, Ubuntu Advantage Ceph Storage Standard, Ubuntu Advantage Ceph Storage Advanced, Ubuntu Advantage Technical Account Manager, and Ubuntu Advantage Dedicated Services Engineer.</p>
		<h2>2 Service initiation</h2>
		<p>2.1 Upon commencement of the services, Canonical will provide a single set of login credentials to the customer to access Canonical&#39;s systems management service, support web portal to submit support cases, and on-line knowledge base.</p>
		<p>2.2 Canonical service personnel will interface with the customer&#39;s technical contacts with respect to the technical support elements of the services. The customer may appoint up to the number of contacts corresponding to the highest services product Customer has purchased, in accordance with the table below:</p>
		<h4>Table of number of technical contacts</h4>
		<table>
		<tr>
		<th>Ubuntu Advantage Subscription levels</th>
		<th>Technical contacts</th>
		</tr>
		<tr>
		<td>Essential</td>
		<td>1</td>
		</tr>
		<tr>
		<td>Standard</td>
		<td>2</td>
		</tr>
		<tr>
		<td>Advanced</td>
		<td>3</td>
		</tr>
		</table>
		<p>2.3 Customer may change the specific technical contacts at any time by written request.</p>
		<h2>3 Systems management and monitoring</h2>
		<p>3.1 Canonical will include its &#8220;Landscape&#8221; service for each physical system covered by an Ubuntu Advantage subscription, as well as for each virtual system covered by the Ubuntu Advantage Virtual Guest service. The customer may register the customer&#39;s systems with Canonical&#39;s server at landscape.canonical.com and use the service to manage and monitor those systems.</p>
		<h2>4 Knowledge base access</h2>
		<p>4.1 Canonical will make its knowledge base of support issues and resolutions available to the customer during the term of service.</p>
		<h2>5 Support</h2>
		<p>Canonical will provide the following support for the specific customer systems for which the customer purchases the services:</p>
		<p>5.1 Canonical will provide installation, configuration, maintenance and management support for any standard version of Ubuntu which is within its life-cycle on the customer&#39;s systems.</p>
		<p>5.2 Canonical will provide a reasonable level of assistance to the customer to install Ubuntu on the customer&#39;s systems built from an officially supported computer architecture. Canonical is not able to guarantee that Ubuntu can be installed on all customer hardware. Canonical is able to provide a higher level of effort with hardware issues that take place on machines that have been specified by Canonical as &#8220;certified&#8221; systems.</p>
		<p>5.3 Canonical will support the installation, applications and system administration of Ubuntu as described in the appendices to this service description.</p>
		<p>5.4 The Ubuntu distribution is a collection of many elements of open source software. Canonical may not be able to resolve all issues, even on packages that are supported. For any supported application, Canonical will attempt to provide a workaround or a full resolution. Canonical does not guarantee a resolution or resolution time.</p>
		<h2>6 Submitting support requests</h2>
		<p>6.1 The customer may submit support requests (&#8220;cases&#8221;) through Canonical&#39;s support web portal or by contacting the support team by telephone.</p>
		<p>6.2 Canonical will keep a record of each case within the support web portal to enable the customer to see all current cases, enter new cases, review historical cases and edit or respond to current cases. The customer may configure the support web portal to send email notifications to the customer when a case is updated.</p>
		<p>6.3 All cases are assigned a ticket number and responded to automatically. All correspondence and telephone calls are logged with a time-stamp for quality assurance.</p>
		<p>6.4 Severity Level 1 and Level 2 issues must be reported by telephone. When reporting a case the customer must specify how the issue is affecting their use of Ubuntu. The customer must provide all information requested by Canonical to resolve the case.</p>
		<p>6.5 There is no limit to the number of cases customer may submit for the customer&#39;s systems for which the services are purchased. A single support case consists of a discrete problem, issue or request although it may consist of a number of interactions with Canonical&#39;s support engineers.</p>
		<h2>7 Support severity levels</h2>
		<p>7.1 Upon receipt of a case report, a Canonical support engineer will commence efforts to verify the case and set the severity level. Canonical will work with the customer to assess the urgency of a case and to assign the appropriate severity level.</p>
		<p>7.2 Canonical support engineer will respond as soon as practicable to the customer after setting the severity level and within the response time for the applicable severity level listed below.</p>
		<p>7.3 Canonical&#39;s support engineer will work on diagnosing and resolving the case during the effort period for the applicable severity level listed below.</p>
		<p>7.4 The tables below show the methods for reporting cases, the level of response from Canonical to the case report and the effort period that will be used to resolve the case.</p>
		<h4>Server and Cloud Availability Zone response levels table</h4>
		<table>
		<tr>
		<th>Severity Level</th>
		<th>Effort Period</th>
		<th>Response method</th>
		<th>Essential Response Time</th>
		<th>Standard Response Time</th>
		<th>Advanced Response Time</th>
		</tr>
		<tr>
		<td>Level 1</td>
		<td>Continuous effort</td>
		<td>Phone</td>
		<td>4 business hours</td>
		<td>2 business hours</td>
		<td>1 hour</td>
		</tr>
		<tr>
		<td>Level 2</td>
		<td>Local business hours</td>
		<td>Phone</td>
		<td>1 business day</td>
		<td>4 business hours</td>
		<td>4 hours</td>
		</tr>
		<tr>
		<td>Level 3</td>
		<td>Local business hours</td>
		<td>Online or phone</td>
		<td>2 business days</td>
		<td>1 business day</td>
		<td>4 hours</td>
		</tr>
		<tr>
		<td>Level 4</td>
		<td>Local business hours</td>
		<td>Online or phone</td>
		<td>4 business days</td>
		<td>2 business days</td>
		<td>1 business day</td>
		</tr>
		</table>
		<h4>Desktop response levels table</h4>
		<table>
		<tr>
		<th>Severity Level</th>
		<th>Effort Period</th>
		<th>Response method</th>
		<th>Standard Response Time</th>
		<th>Advanced Response Time</th>
		</tr>
		<tr>
		<td>Level 1</td>
		<td>Continuous effort</td>
		<td>Phone</td>
		<td>2 business days</td>
		<td>4 business hours</td>
		</tr>
		<tr>
		<td>Level 2</td>
		<td>Local business hours</td>
		<td>Phone</td>
		<td>2 business days</td>
		<td>1 business day</td>
		</tr>
		<tr>
		<td>Level 3</td>
		<td>Local business hours</td>
		<td>Online or phone</td>
		<td>2 business days</td>
		<td>2 business days</td>
		</tr>
		</table>
		<h2>8 Support response definitions</h2>
		<p>8.1 When setting the severity level, Canonical&#39;s support team will use the definitions, and carry out operational procedures as stated in the table below.</p>
		<h4>Response definitions table</h4>
		<table>
		<tr>
		<th>Severity</th>
		<th>Definition</th>
		<th>Responsibilities</th>
		</tr>
		<tr>
		<td>Level 1</td>
		<td>Core functionality not available.</td>
		<td>Canonical will use continuous effort, through appropriate support engineer(s) and/or development engineer(s), to produce a workaround.As soon as core functionality is available, the severity level will be lowered to level 3.</td>
		</tr>
		<tr>
		<td>Level 2</td>
		<td>Core functionality severely degraded.</td>
		<td>Canonical will use reasonable efforts during coverage hours to produce a work-around.The support engineer will aim to produce a work-around that is sufficient to adjust the priority level to level 3.</td>
		</tr>
		<tr>
		<td>Level 3</td>
		<td>Standard support request.</td>
		<td>Canonical will use reasonable efforts during the coverage hours to provide the customer with a work-around as soon as possible balanced against higher severity level cases.After providing a work-around, Canonical&#39;s support engineers will work on developing a permanent resolution to the case.</td>
		</tr>
		<tr>
		<td>Level 4</td>
		<td>Non-urgent issues, including cosmetic issues, feature requests or information requests.</td>
		<td>Canonical will review cosmetic issues and feature requests to determine whether it is a product enhancement for a future release.Canonical will review and respond to information requests with a reasonable level of effort during coverage hours.</td>
		</tr>
		</table>
		<h2>9 Support coverage hours, languages</h2>
		<p>9.1 Canonical will provide support during the following coverage hours:</p>
		<h4>Hours of coverage table</h4>
		<table>
		<tr>
		<th>Ubuntu Advantage Subscription</th>
		<th>Hours</th>
		<th>Days of coverage</th>
		</tr>
		<tr>
		<td>Standard Desktop</td>
		<td>Customer&#39;s selection - see next table</td>
		<td>Monday - Friday</td>
		</tr>
		<tr>
		<td>Advanced Desktop</td>
		<td>Customer&#39;s selection - see next table</td>
		<td>Monday - Friday</td>
		</tr>
		<tr>
		<td>Essential Server</td>
		<td>Customer&#39;s selection - see next table</td>
		<td>Monday - Friday</td>
		</tr>
		<tr>
		<td>Standard Server</td>
		<td>Customer&#39;s selection - see next table</td>
		<td>Monday - Friday</td>
		</tr>
		<tr>
		<td>Advanced Server</td>
		<td>24 hours a day</td>
		<td>Monday - Sunday</td>
		</tr>
		<tr>
		<td>Cloud Availability Zone</td>
		<td>24 hours a day</td>
		<td>Monday - Sunday</td>
		</tr>
		<tr>
		<td>Landscape Dedicated Server</td>
		<td>24 hours a day</td>
		<td>Monday - Sunday</td>
		</tr>
		</table>
		<p>9.2 The customer must select the time-zone for their coverage from those detailed below. Hours of coverage will be adjusted in accordance with locale-specific daylight saving alterations. Coverage hours exclude public holidays in the customer&#39;s location.</p>
		<h4>Local business hours table</h4>
		<table>
		<tr>
		<th>&nbsp;</th>
		<th>North America</th>
		<th>UK &amp;<br />Central Europe</th>
		<th>Eastern Europe,<br />Middle East</th>
		<th>Asia Pacific</th>
		</tr>
		<tr>
		<td>Local Hours</td>
		<td>09:00-21:00&nbsp;EST</td>
		<td>08:00-17:00&nbsp;GMT<br />09:00-18:00&nbsp;CET</td>
		<td>10:00-17:00&nbsp;MSK<br />09:00-17:00&nbsp;EET</td>
		<td>09:00-18:00&nbsp;CST</td>
		</tr>
		<tr>
		<td><span class="caps">UTC</span> Equivalent</td>
		<td>12:00 - 05:00</td>
		<td>08:00 - 17:00</td>
		<td>06:00 - 15:00</td>
		<td>01:00 - 10:00</td>
		</tr>
		</table>
		<p>9.3 Customer support will be provided in one of the following languages: English, French or Chinese Mandarin.</p>
		<h2>10 Escalation</h2>
		<p>10.1 In the event that the customer receives unsatisfactory service or wishes to escalate a case for urgent action, the customer can escalate as follows:</p>
		<h4>Escalation contact table</h4>
		<table>
		<tr>
		<th>Escalation level</th>
		<th>Contact</th>
		</tr>
		<tr>
		<td>Level 3</td>
		<td>Support and Services Team +1 514 940 8895</td>
		</tr>
		<tr>
		<td>Level 2</td>
		<td>Support manager  <a href="mailto:%73%75%70%70%6F%72%74%2D%6D%61%6E%61%67%65%72%40%63%61%6E%6F%6E%69%63%61%6C%2E%63%6F%6D">support-manager@canonical.com</a> +1 514 940 8910</td>
		</tr>
		<tr>
		<td>Level 1</td>
		<td>Operations director  <a href="mailto:%6F%70%65%72%61%74%69%6F%6E%73%2D%64%69%72%65%63%74%6F%72%40%63%61%6E%6F%6E%69%63%61%6C%2E%63%6F%6D">operations-director@canonical.com</a></td>
		</tr>
		</table>
		<h2>11 Assurance</h2>
		<p>11.1 The customer is entitled to participate in the Ubuntu Assurance Programme subject to its terms and conditions. Canonical may update the Assurance Programme and its terms on one or more occasions. The current Ubuntu Assurance Programme and its terms are available at  <a href="http://www.canonical.com/enterprise-services/ubuntu-advantage/assurance">www.canonical.com/enterprise-services/ubuntu-advantage/assurance</a>.</p>
		<h2>12 Virtual Guest</h2>
		<p>12.1 Virtual Guest Standard consists of the Standard Server services for the number of virtual guests purchased for virtual machines deployed with hypervisors not covered by other Ubuntu Advantage services.</p>
		<p>12.2 Virtual Guest Advanced consists of the Advanced Server services for the number of virtual guests purchased for virtual machines deployed with hypervisors not covered by other Ubuntu Advantage services.</p>
		<h2>13 Cloud Availability Zone</h2>
		<p>13.1 If the customer purchases the Cloud Availability Zone service, Canonical will provide the following for up to the number of cloud infrastructure nodes specified in the table below:</p>
		<ul>
		<li>24&#215;7 support for the Ubuntu Server components required to host an OpenStack cloud</li>
		<li>Landscape management agents</li>
		<li>Up to 64 TB of Ubuntu Advantage Ceph Advanced</li>
		</ul>
		<h4>Table of Cloud Availability Zone node number</h4>
		<table>
		<tr>
		<th>Cloud Availability Zone size</th>
		<th>Number of nodes</th>
		</tr>
		<tr>
		<td>Small</td>
		<td>Up to 100</td>
		</tr>
		<tr>
		<td>Medium</td>
		<td>Up to 500</td>
		</tr>
		<tr>
		<td>Large</td>
		<td>More than 500</td>
		</tr>
		</table>
		<p>Canonical will provide Ubuntu Advantage Server Standard (but not including Landscape management) for an unlimited number of guests hosted on the infrastructure supported by the Cloud Availability Zone services.</p>
		<p>13.2 If the customer purchases the Cloud Availability Zone - Advanced 24&#215;7 Guest Support Upgrade, Canonical will provide the Ubuntu Advantage Server Advanced service (but not including Landscape management) for an unlimited number of guests hosted on the infrastructure supported by the Cloud Availability Zone services.</p>
		<h2>14 Ceph Storage</h2>
		<p>14.1 If the customer purchases the Ceph Storage Standard or the Ceph Storage Advanced service, Canonical will provide support for a filesystem instance storing up to the specified capacity of data. Capacity refers to actual used capacity rather than to available, unallocated storage space.</p>
		<p>14.2 The service includes support for all the servers that the customer dedicated to host the distributed filesystem at the chosen redundancy level. The service does not support running any additional workloads on such storage dedicated servers.</p>
		<p>14.3 Support hours for Ceph Storage Standard and Ceph Storage Advanced match those of the Ubuntu Advantage Standard Server and Ubuntu Advantage Advanced Server respectively.</p>
		<h2>15 Additional services</h2>
		<h3>15.1 Technical Account Manager</h3>
		<p>If the customer purchases the Technical Account Manager (&#8220;TAM&#8221;) service, Canonical will provide enhanced support by providing a named contact who personally collaborates with the customer&#39;s IT staff.</p>
		<p>15.1.1 The <span class="caps">TAM </span>will provide installation, configuration, maintenance and management support for Ubuntu on the customer&#39;s systems covered by the applicable Ubuntu Advantage services.</p>
		<p>15.1.2 The <span class="caps">TAM </span>will provide the services described below for up to 10 hours per week during the term of service. The customer may contact the <span class="caps">TAM </span>during applicable business hours.</p>
		<p>15.1.3 The <span class="caps">TAM </span>will take part in regular review calls of the customer&#39;s operational issues on a mutually agreed biweekly schedule.</p>
		<p>15.1.4 The <span class="caps">TAM </span>will visit the customer annually for on-site technical reviews.</p>
		<p>15.1.5 the <span class="caps">TAM </span>will organise multi-vendor issue coordination through <span class="caps">TSAN</span>et or Canonical&#39;s direct partnerships where applicable. As soon as the root cause is identified, the vendor for that sub-system will take over responsibility and work to resolve the case through their normal support process.</p>
		<h4><span class="caps">TAM </span>response levels table</h4>
		<table>
		<tr>
		<th>Severity Level</th>
		<th>Effort Period</th>
		<th>Response Method</th>
		<th>Response Time</th>
		</tr>
		<tr>
		<td>Level 1</td>
		<td>Business day</td>
		<td>Phone</td>
		<td>1 hour</td>
		</tr>
		<tr>
		<td>Level 2</td>
		<td>Business day</td>
		<td>Phone</td>
		<td>4 hours</td>
		</tr>
		<tr>
		<td>Level 3</td>
		<td>Business day</td>
		<td>Online or phone</td>
		<td>4 hours</td>
		</tr>
		</table>
		<p>15.1.6 Canonical will undertake a quarterly service review meeting with the customer to assess service performance and determine areas of improvement.</p>
		<h3>15.2 Dedicated Services Engineer</h3>
		<p>If the customer purchases the Dedicated Services Engineer (&#8220;DSE&#8221;) service, Canonical will provide enhanced support and on-site expertise by embedding a full time employee in the customer&#39;s IT staff.</p>
		<p>15.2.1 Canonical will assign a Dedicated Services Engineer on-site at the customer&#39;s place of business.</p>
		<p>15.2.2 The <span class="caps">DSE </span>will be available to the customer full time during local business hours.</p>
		<p>15.2.3 The <span class="caps">DSE </span>will act as the primary point of contact for all support issues, as well as providing Ubuntu Server and OpenStack expertise to the customer.</p>
		<p>15.2.4 The <span class="caps">DSE </span>will coordinate Ubuntu Advantage support at all the customer&#39;s sites. The <span class="caps">DSE </span>will manage support escalations and issue prioritization in accordance with Canonical&#39;s standard support response definitions.</p>
		<h3>15.3 Landscape Dedicated Server</h3>
		<p>15.3.1 Landscape Dedicated Server subscriptions provide the customer with the Landscape Dedicated Server software for the customer&#39;s installation and use on the customer network. Canonical will provide support for the Landscape Dedicated Server software at the response levels, severity definitions, and service hours matching those of Ubuntu Advantage Server Advanced.</p>
		<p>15.3.2 Ubuntu Advantage services include Canonical&#39;s Landscape service for each physical system covered by an Ubuntu Advantage subscription, as well as for each virtual system covered by the Ubuntu Advantage Virtual Guest service. If the customer purchases Landscape Dedicated Server, the customer may register those customer systems with the Landscape Dedicated Server and use the service to manage and monitor those systems.</p>
		<p>15.3.3 The customer will be required to provide their own server hardware in order to run the Landscape Dedicated Server software on the customer&#39;s premises. Canonical will provide the customer with recommendations for the hardware specifications and minimum requirements to run the Landscape Dedicated Server.</p>
		<h3>15.4 Landscape Agent</h3>
		<p>15.4.1 On systems covered by theUbuntu Advantage Server service, the customer may use the Landscape service to manage and monitor virtual machines for which the customer purchases the Landscape Agent service.</p>
		<h2>Appendix 1 - Server support scope details</h2>
		<p>Installation This covers all the aspects involved with installing and configuring Ubuntu Server, as well as the hosted Landscape service.</p>
		<table>
		<tr>
		<th>Server installation scope</th>
		<th>Description</th>
		<th>Essential</th>
		<th>Standard</th>
		<th>Advanced</th>
		</tr>
		<tr>
		<td>CD installation</td>
		<td>
		<ul>
		<li>Install Ubuntu from a <span class="caps">CDROM </span>or <span class="caps">USB </span>drive</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Disk/Volume Management</td>
		<td>
		<ul>
		<li>Set-up <span class="caps">RAID </span>and <span class="caps">LVM </span>during installation</li>
		<li>Assistance recovering</li>
		<li>Debug and troubleshooting <span class="caps">RAID </span>issues</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Hardware set-up</td>
		<td>
		<ul>
		<li>Assessing hardware compatibility with Ubuntu</li>
		<li>Choosing the 32 or 64 bit versions of Ubuntu</li>
		<li>Configuring Ubuntu to use appropriate hardware</li>
		<li>Optimising Ubuntu with certified or compatible hardware</li>
		<li>Configuration of compatible peripherals</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Landscape installation</td>
		<td>
		<ul>
		<li>Installing Landscape service and set-up</li>
		<li>Assistance registering systems on the Landscape service</li>
		<li>Troubleshooting Landscape client or service problems</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Networking</td>
		<td>
		<ul>
		<li>Setting up wireless or wired network</li>
		<li>Configuring dynamic or static network configuration</li>
		<li>Setting up proxy settings in applications</li>
		<li>Setting up interface aliases</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Package and task selection</td>
		<td>
		<ul>
		<li>Recommendation on the specific packages to install for a particular use</li>
		<li>Recommendation on the specific task selection</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Network and automated</td>
		<td>
		<ul>
		<li>Install Ubuntu using a local <span class="caps">NFS </span>server</li>
		<li>Install Ubuntu using a local <span class="caps">FTP </span>server</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Windows Integration</td>
		<td>
		<ul>
		<li>Support integration with Microsoft file/print and authentication environments such as Active Directory and Windows NT</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		</table>
		<h3>Applications</h3>
		<p>This covers the various server configurations and included programs that are supported.</p>
		<table>
		<tr>
		<th>Server applications scope</th>
		<th>Description</th>
		<th>Essential</th>
		<th>Standard</th>
		<th>Advanced</th>
		</tr>
		<tr>
		<td>Certified applications</td>
		<td>
		<ul>
		<li>Installation applications distributed through the Partner repository</li>
		<li>Debugging issues that are caused by Ubuntu</li>
		</ul>
		<p><em>Note: The customer must have a valid support contract with the certified application&#39;s vendor for complex debugging</em></p></td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td><span class="caps">FTP </span>server</td>
		<td>
		<ul>
		<li>Installing and configuring <span class="caps">FTP </span>server</li>
		<li>Enabling anonymous access and group permissions</li>
		<li>Configuring security for the service</li>
		<li>Optimising the server for performance</li>
		<li>Debugging and resolving issues that arise</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>File sharing</td>
		<td>
		<ul>
		<li>Installing file sharing for Windows machines (Samba) or Linux machines (NFS)</li>
		<li>Help configuring the file sharing service for users and groups</li>
		<li>Setting up Ubuntu Server to authorise from a Windows Network</li>
		<li>Assistance setting up entitled desktops to access the file sharing server</li>
		<li>Troubleshooting and resolving file sharing issues</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td><span class="caps">LAMP</span></td>
		<td>
		<ul>
		<li>Basic <span class="caps">LAMP </span>application support: Linux, Apache, MySQL <span class="caps">PHP</span>/Perl/Python</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Mail server</td>
		<td>
		<ul>
		<li>Installation and configuration of mail server</li>
		<li>Assistance with anti-spam and anti-virus configuration</li>
		<li>Setting up client security with <span class="caps">SSL</span>/TLS</li>
		<li>Troubleshooting and resolving mail server issues</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Network services</td>
		<td>
		<ul>
		<li>Installation and configuration of the <span class="caps">DHCP, DNS, </span>and <span class="caps">NTP </span>to provide network services</li>
		<li>Advanced set-up of <span class="caps">DHCP </span>options such as fixed IP addresses</li>
		<li>Advanced set-ups using bonding, network file system</li>
		<li>Advice on integration with internal name services</li>
		<li>Troubleshooting issues with the servers</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Web server</td>
		<td>
		<ul>
		<li>Assistance configuring Apache for site requirements</li>
		<li>Installation of modules to support dynamic sites such as Perl and <span class="caps">PHP</span></li>
		<li>Assistance with logging and tuning Apache performance</li>
		<li>Debugging and resolving issues with the Web Server</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>X Terminal server</td>
		<td>
		<ul>
		<li>Configuration of the server to perform terminal services</li>
		<li>Configuration of local client machines to use remote X server</li>
		<li>Configuration of local client machines to provide sound</li>
		<li>Configuring appropriate security for the environment</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Advanced Networking</td>
		<td>
		<ul>
		<li>Configure <span class="caps">VPN </span>servers using Ubuntu</li>
		<li>Assistance with using network bonding for load-balancing or fail-over protection</li>
		<li>Run routing protocols on Ubuntu</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Database</td>
		<td>
		<ul>
		<li>Installing Postgres database server</li>
		<li>Setting-up databases and basic optimising the servers performance</li>
		<li>Assistance securing the database server with access security</li>
		<li>Assistance setting up backup and restore procedures for Databases</li>
		<li>Debugging and solving problems with the database server</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Enterprise Java</td>
		<td>
		<ul>
		<li>Installing and configuring Tomcat and Tomcat applications</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Virtualisation</td>
		<td>
		<ul>
		<li>Installing <span class="caps">KVM </span>virtualisation and configuring host system</li>
		<li>Installing and setting up supported guest operating systems</li>
		<li>Assistance with advanced configuration such as networking</li>
		<li>Troubleshooting and resolving virtualisation issues</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Directory serving and Authentication using OpenLDAP and Kerberos</td>
		<td>
		<ul>
		<li>Installation of OpenLDAP directory server</li>
		<li>Installation and use of OpenLDAP with Kerberos (optionally) to create a user management solution</li>
		<li>Assistance integrating the Directory with other services</li>
		<li>Debugging and solving problems with the service</li>
		<li>Configuration of the Kerberos server to provide <span class="caps">SSO</span></li>
		<li>Assistance setting up policies and services to use Kerberos</li>
		<li>Advice on setting up a reliable and distributed Kerberos system</li>
		<li>Troubleshooting and resolving issues with Kerberos</li>
		</ul>
		</td>
		<td>No</td>
		<td>No</td>
		<td>Yes</td>
		</tr>
		</table>
		<h3>System administration</h3>
		<p>System administration covers the general configuration, management and maintenance activities. The major categories of support covered are set out below:</p>
		<table>
		<tr>
		<th>Server system administration scope</th>
		<th>Description</th>
		<th>Essential</th>
		<th>Standard</th>
		<th>Advanced</th>
		</tr>
		<tr>
		<td>Basic Backup</td>
		<td>
		<ul>
		<li>Installation of an appropriate backup application</li>
		<li>Assistance configuring and deploying backup system</li>
		<li>Help restoring from back-ups previously taken</li>
		<li>Troubleshooting and resolving backup or restore problems</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Cryptography</td>
		<td>
		<ul>
		<li>Assistance with the use of open source software (gnutls, gnupg) for a complete suite of cryptographic and certificate services tools; cryptography, secure communications and digital certificates.</li></ul></td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Firewall</td>
		<td>
		<ul>
		<li>Installing the appropriate fire-walling application and kernel support</li>
		<li>Assistance configuring the firewall to protect and alert against intrusion</li>
		<li>Configuring the firewall to provide masquerading for a private server service</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Hardware management</td>
		<td>
		<ul>
		<li>Configuration of Certified and Compatible systems, devices and peripherals</li>
		<li>Removing configured hardware and reconfiguring Ubuntu</li>
		<li>Optimising Ubuntu performance with specific hardware</li>
		<li>Debugging and resolving hardware issues</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Kernel support</td>
		<td>
		<ul>
		<li>Advice on installing the right Ubuntu kernel</li>
		<li>Kernel module installation, configuration and optimisation</li>
		<li>Kernel debugging and issue resolution</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Landscape</td>
		<td>
		<ul>
		<li>Guidance on using the Landscape service for systems administration</li>
		<li>Help using the Landscape service to manage security and bug-fix updates</li>
		<li>Installing and configuring automated updates</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Network printing</td>
		<td>
		<ul>
		<li>Making a local printer available on the network</li>
		<li>Configuring networking printing options</li>
		<li>Configuring entitled systems to print using the network printer</li>
		<li>Optimising network printing and resolving issues</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Server networking</td>
		<td>
		<ul>
		<li>Network card detection and installation</li>
		<li>Driver and security configuration for wireless networks</li>
		<li>Configuring dynamic and static network settings</li>
		<li>Advanced configuration such as IP routing and aliasing</li>
		<li>Setting up the server to act as an Internet gateway</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>System updates &amp; upgrades</td>
		<td>
		<ul>
		<li>Assistance installing security or critical fix updates</li>
		<li>Help planning and undertaking upgrades between Ubuntu releases</li>
		<li>Troubleshooting and resolving update problems</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Using package tools</td>
		<td>
		<ul>
		<li>Assistance using Ubuntu packaging tools</li>
		</ul>
		</td>
		<td>Yes</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Logging and monitoring</td>
		<td>
		<ul>
		<li>Setting up system logging and monitoring tools: Nagios and Munin</li>
		<li>Advanced logging configuration such as remote logging and specialised alerting</li>
		<li>Managing system logging and monitoring with appropriate tools</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Network Backup</td>
		<td>
		<ul>
		<li>Installation and configuration of Bacula Server(s)</li>
		<li>Configuring Bacula to perform automatic network backups/restores</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Server security</td>
		<td>
		<ul>
		<li>Assistance configuring the server in a secure fashion</li>
		<li>Help configuring and setting up group permissions and password policies</li>
		<li>Assistance using security tools, for example host vulnerability checking</li>
		<li>Assistance using AppArmor to partition applications and services from each other</li>
		<li>Advice on checking for compromise and recovering from a security breach</li>
		</ul>
		</td>
		<td>No</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Advanced Systems Management</td>
		<td>
		<ul>
		<li>Configuration Management tools: puppet and etckeeper</li>
		<li>Use of remote management capabilities (IPMI) where machines have that capability</li>
		</ul>
		</td>
		<td>No</td>
		<td>No</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Clustering</td>
		<td>
		<ul>
		<li>Clustered File Systems, Red Hat Cluster Suite, Heartbeat</li>
		</ul>
		</td>
		<td>No</td>
		<td>No</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Setting up package repositories</td>
		<td>
		<ul>
		<li>Assisting customers who want to maintain their own repositories</li>
		</ul>
		</td>
		<td>No</td>
		<td>No</td>
		<td>Yes</td>
		</tr>
		</table>
		<h2>Appendix 2 - Cloud Availability Zone support scope details</h2>
		<p>The Cloud Availability Zone services include the scope of support listed below in addition to that of the corresponding Ubuntu Advantage Server support level, defined in Appendix 1.</p>
		<h3>Installation</h3>
		<p>This covers all the aspects involved with installing and configuring the Ubuntu Cloud offering.</p>
		<table>
		<tr>
		<th>Server installation scope</th>
		<th>Description</th>
		</tr>
		<tr>
		<td>Installation</td>
		<td>
		<ul>
		<li>Install Ubuntu Cloud from Ubuntu media or repositories</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Storage Management for Cloud Servers and Image storage.</td>
		<td>
		<ul>
		<li>Set-up <span class="caps">RAID </span>and <span class="caps">LVM </span>for Ubuntu Cloud software usage</li>
		<li>Assistance recovering debugging and troubleshooting of storage issues. Hardware set-up</li>
		<li>Assessing hardware compatibility with Ubuntu Cloud</li>
		<li>Choosing the required versions of Ubuntu Server for Ubuntu Cloud</li>
		<li>Configuring Ubuntu to use appropriate hardware for Ubuntu Cloud usage</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Networking</td>
		<td>
		<ul>
		<li>Setting network requirements for OpenStack</li>
		<li>Setting up interface aliases, bonding and vlan tagging for Ubuntu Cloud</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Package and task selection</td>
		<td>
		<ul>
		<li>Recommendation on the specific packages to install for Ubuntu Cloud</li>
		</ul>
		</td>
		</tr>
		</table>
		<h2>Applications</h2>
		<p>This covers the various Ubuntu Cloud software configurations and included applications that are supported.</p>
		<table>
		<tr>
		<th>Server applications scope</th>
		<th>Description</th>
		</tr>
		<tr>
		<td>Ubuntu Cloud Infrastructure</td>
		<td>
		<ul>
		<li>Configuration of Ubuntu Cloud and sub-systems.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Cloud Portal</td>
		<td>
		<ul>
		<li>Installation and configuration of Cloud portal</li>
		<li>Debugging and solving problems with Cloud portal.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Hypervisor</td>
		<td>
		<ul>
		<li>Installation and configuration of system kvm hypervisor support</li>
		<li>Installing and setting up supported guest machine images.</li>
		<li>Troubleshooting and resolving hypervisor issues</li>
		</ul>
		</td>
		</tr>
		</table>
		<h2>System administration</h2>
		<p>System administration of Ubuntu Cloud software. This covers the various system administration and included programs that are supported:</p>
		<table>
		<tr>
		<th>Server system administration scope</th>
		<th>Description</th>
		</tr>
		<tr>
		<td>Ubuntu Cloud Infrastructure Backup</td>
		<td>
		<ul>
		<li>Installation of an appropriate backup application</li>
		<li>Assistance configuring and deploying backup system</li>
		<li>Help restoring from back-ups previously taken</li>
		<li>Troubleshooting and resolving backup or restore problems</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Machine Image Backup</td>
		<td>
		<ul>
		<li>Backup of cloud machine image</li>
		<li>Snapshot cloud machine image</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>System updates &amp; upgrades</td>
		<td>
		<ul>
		<li>Assistance installing security or critical fix updates</li>
		<li>Help planning and undertaking upgrades between Ubuntu Server and Ubuntu Cloud releases</li>
		<li>Troubleshooting and resolving update problems</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Logging and monitoring</td>
		<td>
		<ul>
		<li>Setting up supported system logging and monitoring for Ubuntu Cloud Server security</li>
		<li>Assistance configuring the Ubuntu Cloud servers in a secure fashion</li>
		<li>Help configuring and setting up of supported OpenStack permissions and password policies Setting up Cloud Machine Images repositories</li>
		<li>Assist with management and maintenance of Cloud Machine Images</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Cloud Instance sizing</td>
		<td>
		<ul>
		<li>Assist with configuration of Cloud Instance sizing, number of system processors and system memory</li>
		</ul>
		</td>
		</tr>
		</table>
		<h2>Appendix 3 - Desktop support scope details</h2>
		<h3>Desktop Standard and Advanced scope table</h3>
		<p>The table below lists the included support scope for the Desktop Standard and Advanced levels of Ubuntu Advantage Desktop.</p>
		<table>
		<tr>
		<th>Desktop scope</th>
		<th>Standard</th>
		<th>Advanced</th>
		</tr>
		<tr>
		<td align="center" colspan="3"><strong>Installation</strong></td>
		</tr>
		<tr>
		<td>Application selection</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>CD-ROM installation</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Graphical desktop</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Hardware compatibility</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Network installation</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>System booting</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Windows migration</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Advanced file-system set-up</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Automated installation</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td align="center" colspan="3"><strong>Applications</strong></td>
		</tr>
		<tr>
		<td>Certified applications</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Desktop environment</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Desktop publishing</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Digital art</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Digital pictures</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Education</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>E-mail</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Messaging</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Movies and music</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Office Applications</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Personal accounting</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Web browser</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Advanced productivity</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Advanced applications</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Developer Tools</td>
		<td>No</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td align="center" colspan="3"><strong>Configuration</strong></td>
		</tr>
		<tr>
		<td>Backup</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Desktop Security</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Graphics</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Hardware management</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Printers</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Remote desktop</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>System support</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Sound</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Updates &amp; upgrades</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Wireless Internet</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Windows network access</td>
		<td>Yes</td>
		<td>Yes</td>
		</tr>
		<tr>
		<td>Desktop virtualization</td>
		<td>No</td>
		<td>Yes</td>
		</tr>
		</table>
		<h3>Installation</h3>
		<p>This covers all the aspects involved with installing Ubuntu. Canonical will support various installation methods, setting up the hardware and loading Ubuntu correctly. The specific categories are as follows:</p>
		<table>
		<tr>
		<th>Desktop installation category</th>
		<th>Description</th>
		</tr>
		<tr>
		<td>Application selection</td>
		<td>
		<ul>
		<li>Recommendation on the specific packages to install for a particular use.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>CD-ROM installation</td>
		<td>
		<ul>
		<li>Install Ubuntu from a <span class="caps">CDROM.</span></li>
		<li>Install of Ubuntu from a <span class="caps">USB </span>connected drive.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Graphical desktop</td>
		<td>
		<ul>
		<li>Installing and configuring X and the graphical desktop.</li>
		<li>Configuration for new monitors, or peripherals.</li>
		<li>Optimising X and setting up dual monitors.</li>
		<li>X server and graphical desktop problem solving.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Hardware compatibility</td>
		<td>
		<ul>
		<li>Assessing hardware compatibility with Ubuntu.</li>
		<li>Choosing the 32 or 64 bit versions of Ubuntu.</li>
		<li>Configuring Ubuntu to use the systems hardware.</li>
		<li>Optimising Ubuntu for Certified or Compatible hardware.</li>
		<li>Configuration of supported peripherals.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Network installation</td>
		<td>
		<ul>
		<li>Booting from the network for network installation.</li>
		<li>Install Ubuntu using a local <span class="caps">NFS </span>server.</li>
		<li>Install Ubuntu using a local <span class="caps">FTP </span>server.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>System booting</td>
		<td>
		<ul>
		<li>Set-up of system to boot Ubuntu by default.</li>
		<li>Configuration of Ubuntu to load other operating systems such as Microsoft Windows.</li>
		<li>Removal of Ubuntu as the boot-loader.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Windows migration</td>
		<td>
		<ul>
		<li>Partitioning to account for an existing Windows installation.</li>
		<li>Resizing the file-system to provide free space for the Ubuntu installation.</li>
		<li>Configuration of Ubuntu to be aware of a legacy operating system.</li>
		<li>Transfer of settings from the legacy Windows environment using the Migration Assistant.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Advanced file-system set-up</td>
		<td>
		<ul>
		<li>Recommendation of a specific partitioning scheme depending on the systems tasks.</li>
		<li>Set-up of Logical Volume Management (LVM) and encryption using the alternative installer.</li>
		<li>Creation and formatting of file systems so that they can be used by Ubuntu.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Automated installation</td>
		<td>
		<ul>
		<li>Kickstart and preseed configuration.</li>
		<li>Network booting and network settings configuration.</li>
		<li>Troubleshooting and resolving installation issues.</li>
		</ul>
		</td>
		</tr>
		</table>
		<h3>Applications</h3>
		<p>This covers the various programs that are supported as part of the services. Canonical will help the customer to install, configure and use the various applications. The major categories are:</p>
		<table>
		<tr>
		<th>Desktop applications category</th>
		<th>Description</th>
		<th>Ubuntu</th>
		</tr>
		<tr>
		<td>Certified applications</td>
		<td>
		<ul>
		<li>Installation applications distributed through the Partner repository</li>
		<li>Debugging issues that are caused by Ubuntu</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Release dependent</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Desktop environment</td>
		<td>
		<ul>
		<li>Configuring desktop preferences</li>
		<li>Customising desktop look and feel</li>
		<li>Managing files and folders</li>
		<li>Adding and removing applications launchers or menu items</li>
		<li>Browsing network shares</li>
		</ul>
		</td>
		<td>
		<ul>
		<li><span class="caps">GNOME</span> Desktop</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Desktop publishing</td>
		<td>
		<ul>
		<li>Installing and configuring desktop publishing</li>
		<li>Using basic templates and inserting multimedia content</li>
		<li>Printing created documents</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Scribus</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Digital art</td>
		<td>
		<ul>
		<li>Installing digital art and graphics applications</li>
		<li>Configuring and using application functionality</li>
		<li>Debugging issues with graphical applications</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Gimp</li>
		<li>Inkscape</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Digital pictures</td>
		<td>
		<ul>
		<li>Setting up cameras for use with Ubuntu</li>
		<li>Configuring applications to import images</li>
		<li>Creating and editing photo albums</li>
		<li>Publish albums on the Internet</li>
		<li>Debugging and resolving issues</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>F-Spot</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Education</td>
		<td>
		<ul>
		<li>Installing specific education applications and games</li>
		<li>Configuring education applications for children&#39;s use</li>
		<li>Configuring the desktop environment for particular age groups</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Tux Math</li>
		<li>Tux Paint</li>
		<li>Tux Type</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>E-mail</td>
		<td>
		<ul>
		<li>Configuring the default e-mail clients</li>
		<li>Sending and receiving e-mail</li>
		<li>Setting up e-mail filtering and anti-spam</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Evolution</li>
		<li>Thunderbird</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Messaging</td>
		<td>
		<ul>
		<li>Installing instant messaging, internet voice and video conferencing</li>
		<li>Configuring for major service providers</li>
		<li>Troubleshooting and resolving application issues</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Pidgin</li>
		<li>Ekiga</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Movies and music</td>
		<td>
		<ul>
		<li>Using and configuring music and video players</li>
		<li>Installing proprietary commercially supported codecs</li>
		<li>Troubleshooting and resolving multimedia problems</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Rhythmbox</li>
		<li>Totem</li>
		<li>Sound Juicer</li>
		<li>Cheese</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Office Applications</td>
		<td>
		<ul>
		<li>Creating word processed documents, spreadsheets or presentations.</li>
		<li>Configuring the office applications</li>
		<li>Basic templates and inserting multimedia content</li>
		<li>Troubleshooting and resolving application issues</li>
		<li>Does not include advanced usage such programming macros</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>LIbreOffice Writer</li>
		<li>Evince</li>
		<li>LibreOffice Calc</li>
		<li>LibreOffice Impress</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Personal accounting</td>
		<td>
		<ul>
		<li>Installing and setting up the personal accounting application.</li>
		<li>Integrating with supported electronic banking accounts</li>
		<li>Troubleshooting and resolving application issues</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>GnuCash</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Web browser</td>
		<td>
		<ul>
		<li>Using and configuring the web browser</li>
		<li>Installing common plugins from Ubuntu repositories such as Flash</li>
		<li>Configuring the browser for live bookmarks</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>Firefox</li>
		<li>Pidgin</li>
		<li>Adobe Flash</li>
		<li><span class="caps">JVM</span></li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Advanced productivity</td>
		<td>
		<ul>
		<li>Advanced use of LibreOffice applications</li>
		<li>Setting up desktop database functionality</li>
		<li>Using the desktop database application</li>
		<li>Configuring connections to supported server databases</li>
		<li>Integrating with other LIbreOfficeapplications.</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>LibreOffice Database</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Advanced applications</td>
		<td>
		<ul>
		<li>Installing desktop applications from the maintained repository</li>
		<li>Configuring and using desktop applications</li>
		<li>Debugging issues with advanced applications</li>
		<li>Does not include support for development or command line applications</li>
		</ul>
		</td>
		<td>
		<ul>
		<li>X or <span class="caps">GNOME </span>apps</li>
		</ul>
		</td>
		</tr>
		</table>
		<h3>System administration</h3>
		<p>Configuration covers the general configuration, management and maintenance activities. The major categories of support covered are set out below:</p>
		<table>
		<tr>
		<th>Desktop system administration category</th>
		<th>Description</th>
		</tr>
		<tr>
		<td>Backup</td>
		<td>
		<ul>
		<li>Installation of an appropriate backup application.</li>
		<li>Configuration and deployment of backup system.</li>
		<li>Assistance restoring from back-ups previously taken.</li>
		<li>Troubleshooting and resolving backup or restore problems.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Desktop Security</td>
		<td>
		<ul>
		<li>Installing the appropriate firewalling application and kernel support.</li>
		<li>Assistance configuring the firewall to protect and alert against external intrusion.</li>
		<li>Assistance on checking for compromise and recovering the system from backup following a security breach.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Desktop virtualization</td>
		<td>
		<ul>
		<li>Installing and setting up desktop virtualization.</li>
		<li>Assistance configuring networking and local host device access.</li>
		<li>Assistance installing Microsoft Windows and Ubuntu as a guest.</li>
		<li>Debugging and resolving issues with desktop virtualization.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Graphics</td>
		<td>
		<ul>
		<li>Installing software drivers for the graphical Ubuntu desktop.</li>
		<li>Installing third-party proprietary software drivers for advanced video effects where Ubuntu recommends it.</li>
		<li>Configuring the graphics or monitor set-up for advanced video effects.</li>
		<li>Configuring and optimising the graphics set-up for dual-monitors.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Hardware management</td>
		<td>
		<ul>
		<li>Configuration of Certified systems and &#8220;Works with Ubuntu&#8221; labeled peripherals.</li>
		<li>Removing hardware and reconfiguring Ubuntu.</li>
		<li>Optimising Ubuntu performance with specific hardware.</li>
		<li>Debugging and resolving hardware issues.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Printers</td>
		<td>
		<ul>
		<li>Installing a serial or <span class="caps">USB </span>printer.</li>
		<li>Configuration to print to a network printer.</li>
		<li>Configuring Ubuntu printing options.</li>
		<li>Resolving printer problems such as driver configuration.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Remote desktop</td>
		<td>
		<ul>
		<li>Setting up the default remote desktop capability in Ubuntu Desktop Edition.</li>
		<li>Configuring advanced desktop sharing features.</li>
		<li>Troubleshooting and resolving issues using the remote desktop.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Sound</td>
		<td>
		<ul>
		<li>Configuring sound to work with detected sound card.</li>
		<li>Sound configuration for specific applications.</li>
		<li>Debugging and resolving sound issues.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>System support</td>
		<td>
		<ul>
		<li>Assistance configuring Ubuntu system components.</li>
		<li>Assistance optimising performance of Ubuntu.</li>
		<li>Problem identification, assessment and bug reporting.</li>
		<li>Provision of a work-around or complete resolution.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Updates &amp; upgrades</td>
		<td>
		<ul>
		<li>Assistance installing security or critical fix updates.</li>
		<li>Assistance undertaking upgrades between Ubuntu releases.</li>
		<li>Troubleshooting and resolving update problems.</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Windows network access</td>
		<td>
		<ul>
		<li>Setting up Ubuntu to login to a Microsoft Windows Active Directory.</li>
		<li>Assistance browsing and accessing network resources such as printers and file shares.</li>
		<li>Debugging issue either configuring or using the Active Directory authentication functionality (Likewise Open).</li>
		</ul>
		</td>
		</tr>
		<tr>
		<td>Wireless Internet</td>
		<td>
		<ul>
		<li>Wireless hardware driver detection and configuration</li>
		<li>Wireless networking set-up</li>
		<li>Internet configuration and access</li>
		<li>Wireless roaming set-up and configuration</li>
		<li>Troubleshooting and resolving networking or Internet access problems</li>
		</ul>
		</td>
		</tr>
		</table>
		<p><a href="{{ STATIC_URL }}files/20130802-UbuntuAdvantageSD.pdf" title="PDF of the Ubuntu Advantage Service Description">Download the pdf &gt;</a></p>
	</div>
</div><!-- / .row -->
{% endblock content %}