<section class={{strip|default:"p-strip"}}>
  <div class="row u-equal-height">
    <div class="col-4 u-hide--small u-align--center u-vertically-center">
      <img src="{{ ASSET_SERVER_URL }}0c16085c-network-equipment_2px.svg" alt="" width="150">
    </div>
    <div class="col-8">
      <h3>Install and develop snaps</h3>
      <p>Your {{ board|default:"board" }} is now ready to have snaps installed — <a class="p-link--external" href="http://snapcraft.io/docs/core/usage">get started with the <code>snap</code> command</a></p>
      <p>You can install a classic Ubuntu environment on top of Ubuntu Core to have a fully-fledged development environment and <a class="p-link--external" href="https://developer.ubuntu.com/core/get-started/developer-setup">develop snaps on target</a></p>
    </div>
  </div>
</section>
