{% extends "download/_base_download.html" %}

{% block title %}Download Ubuntu for IoT boards | Download{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1Sxdl5cGGe1wbHmKB2eL2zQLfVW3KBea02a2FIGx3VdQ/edit{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip">
  <div class="row">
    <h1>Get Ubuntu for IoT</h1>
  </div>
</section>
<section class="p-strip--light">

  <div class="row u-equal-height">
    <div class="col-8">
      <div class="p-heading-icon">
        <div class="p-heading-icon__header">
          <img class="p-heading-icon__img" src="{{ ASSET_SERVER_URL }}31bd2627-logo-raspberry-pi.svg"  alt="Raspberry Pi">
          <h2 class="p-heading-icon__title" style="line-height: 4rem;">Ubuntu for Raspberry Pi</h2>
        </div>
      </div>
      <p>Get the power, ease and flexibility of Ubuntu for Raspberry Pi 2 or 3.</p>
      <p>Get started with an Ubuntu Server image for a familiar development environment.</p>
      <p><a class="p-button--positive" href="/download/iot/raspberry-pi-2-3">Install on Raspberry Pi 2 or 3</a></p>
    </div>
    <div class="col-4 u-vertically-center u-align--center u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}fd0fb85d-1024px-Raspberry_Pi_3_B+__39906369025_-removebg.png?w=200" width="200" alt="">
    </div>
  </section>


  <section class="p-strip">
    <div class="row">
      <div class="col-8">
        <h3>Supported platforms</h3>
      </div>
    </div>
    <div class="row p-divider">
      <div class="col-3 p-divider__block">
        <img class="p-card__thumbnail" src="{{ ASSET_SERVER_URL }}bb9f2504-2018-logo-artik-01.png"  height="50" alt="Samsung Artik">
        <p>
          <a href="/download/iot/samsung-artik-5-10-server">Install Ubuntu Server&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-3 p-divider__block">
        <img class="p-card__thumbnail" src="{{ ASSET_SERVER_URL }}1f53b707-JOULE-LOGO.png?h=35" alt="Intel Joule" height="35">
        <p>
          <a href="/download/iot/intel-joule-desktop">Install Ubuntu Desktop&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-3 p-divider__block">
        <img class="p-card__thumbnail" src="{{ ASSET_SERVER_URL }}a69b2863-intel+nuc.svg?h=35" height="35" alt="Intel NUC">
        <p>
          <a href="/download/iot/intel-nuc-desktop">Install Ubuntu Desktop&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-3 p-divider__block">
        <img class="p-card__thumbnail" src="{{ ASSET_SERVER_URL }}8cb47950-g46.png?h=35" height="35" alt="Up2">
        <p>
          <a href="/download/iot/intel-nuc-desktop">Install Ubuntu Server&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-8">
        <h2>Ubuntu Core</h2>
        <p>
          Ubuntu Core is a lean, strictly confined and fully transactional operating system. We designed it from the ground up, to focus on security and simplified maintenance, for appliances and large device networks. Ubuntu Core is powered by snaps - the universal Linux packaging format.
        </p>
        <p>
          <a class="p-button--neutral is-inline" style="margin-left: 0;" href="/core">Learn more about Ubuntu Core&nbsp;&rsaquo;</a><br class="u-hide--large u-hide--medium" /><a href="/download/iot/kvm">Install on your workstation in a KVM&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-4 u-vertically-center u-align--center u-hide--small">
        <img src="{{ ASSET_SERVER_URL }}805f2b3a-core_black-orange_st_hex.svg" width="125" alt="Ubuntu Core">
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <h3>Supported platforms</h3>
    </div>
    <div class="row">
      <ul class="p-matrix u-clearfix">
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <p><img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/e3a042a7-raspberrypi-card.png?w=115" width="115" alt="Raspberry Pi"></p>
            <p>Install Ubuntu Core 18 on:</p>
            <p><a href="/download/iot/raspberry-pi-2-3-core">Raspberry Pi 2 or  3&nbsp;&rsaquo;</a><br />
              <a href="/download/iot/raspberry-pi-compute-module-3">Raspberry Pi CM3&nbsp;&rsaquo;</a></p>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <p><img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/a69b2863-intel+nuc.svg?h=35" height="35" alt="Intel NUC"></p>
              <p><a href="/download/iot/intel-nuc">Install Ubuntu Core 18&nbsp;&rsaquo;</a></p>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <p><img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/ff8c23f4-logo-pic.png?h=35" height="35" alt="Intel IEI TANK 870"></p>
              <p><a href="/download/iot/intel-iei-tank-870">Install Ubuntu Core 18&nbsp;&rsaquo;</a></p>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <p><img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/d9ccf84b-qualcoom.png?h=35" height="35" alt="Qualcomm Snapdragon"></p>
              <p><a href="/download/iot/qualcomm-dragonboard-410c">Install Ubuntu Core 18&nbsp;&rsaquo;</a></p>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <p><img class="p-card__thumbnail" src="{{ ASSET_SERVER_URL }}bb9f2504-2018-logo-artik-01.png?h=40"  height="40" alt="Samsung Artik"></p>
              <p><a href="/download/iot/samsung-artik-5-10">Install Ubuntu Core 16&nbsp;&rsaquo;</a></p>
            </div>
          </li>
          <li class="p-matrix__item">
            <div class="p-matrix__content">
              <p><img class="p-card__thumbnail" src="{{ ASSET_SERVER_URL }}1f53b707-JOULE-LOGO.png?h=35" height="35" alt="Intel Joule"></p>
              <p><a href="/download/iot/intel-joule">Install Ubuntu Core 16&nbsp;&rsaquo;</a></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="row" style="margin-top: 2rem;">
        <p>
          <a class="p-button--neutral" href="http://cdimage.ubuntu.com/ubuntu-core/18/stable/current/">
            <span class="p-link--external">Browse all supported images</span>
          </a>
        </p>
      </div>
    </section>

    {% include "shared/contextual_footers/_contextual_footer.html" with first_item="_core_learn_more" second_item="_core_contribute" third_item="_iot_further_reading" %}

    {% endblock content %}
