{% extends "download/_base_download.html" %}

{% block title %}Download Ubuntu for Intel IoT platforms | Download{% endblock %}
{% block meta_description %}​​Canonical and Intel have partnered to provide Ubuntu Desktop and Ubuntu Core on Intel's IoT platforms: Atom&reg; X6000E Series, Intel&reg; Pentium&reg; and Celeron&reg; N and J Series and 11th Gen Intel&reg; Core&trade; processors.{% endblock meta_description %}
{% block meta_image %}https://assets.ubuntu.com/v1/fc79371c-__++_++_+grad+_+en+_+800x418.jpeg{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1hxKzPs6e6JQaa9tBqfZ55GAXrVnEryEWBja8HlXy-lc/edit{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--suru-topped is-shallow u-no-padding--bottom">
  <div class="row u-vertically-center">
    <div class="col-7">
      <h1>Download Ubuntu for Intel IoT platforms</h1>
      <p class="p-heading--4">Accelerate industrial compute with Ubuntu on Intel processors</p>
      <p>The entire family of industrial-grade Ubuntu images optimsed for Intel IoT hardware, from Core to Desktop and Server, are available for download across a wide range of Intel platforms.</p>
    </div>
    <div class="col-5 u-hide--medium u-hide--small u-align--center">
      {{
        image (
        url="https://assets.ubuntu.com/v1/efca8490-intel-logo-0.png",
        alt="",
        width="300",
        height="300",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/bcf36072-Ubuntu+Deep+tech+-+dark.svg",
        alt="",
        width="73",
        height="50",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
      <h3>Turnkey Solutions</h3>
      <p>Ubuntu images that work out-of-the-box</p>
    </div>
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/fc2757dd-ubuntu-cloud-1.svg",
        alt="",
        width="77",
        height="50",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
      <h3>Optimised for Intel </h3>
      <p>Optimised Linux with unique Intel features</p>
    </div>
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/ceb481d1-10+years.svg",
        alt="",
        width="50",
        height="50",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}      
      <h3>Maintained for Long Life</h3>
      <p>10+ years of security maintenance and support</p>
    </div>
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/dbd97444-partner-with-us.svg",
        alt="",
        width="68",
        height="50",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}      
      <h3>Backed by Intel's Partner Ecosystem</h3>
      <p>Support from leading ODMs and hardware partners</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <p><strong>Are you working on a commercial project?</strong> Canonical partners with silicon vendors, board manufacturers and ODMs to shorten enterprises' time-to-market. Reach out to our team for custom board enablement, commercial distribution, long-term support or security maintenance.</p>
    <p>
      <a href="/download/contact-us" class="p-button--positive js-invoke-modal" data-testid="interactive-form-link">Get in touch</a>
    </p>
  </div>
</section>
      
<section class="p-strip--light">
  <div class="u-fixed-width u-sv3">
    <h2>Ubuntu optimised for next-gen Intel SoCs</h2>
    <p>Intel's portfolio of edge-ready compute and connectivity technologies make it easy to deploy edge applications quickly. Enhanced for IoT, they enable processing at the edge to get critical insights and business value from your data with compute resources where you need them most.</p>
    <p><strong>Download Ubuntu for your Intel hardware.</strong> Below you will find links for the production-grade family of Ubuntu images, along with release notes and installation instructions.</p>
    <p><a href="https://assets.ubuntu.com/v1/642fcdac-December_14-Release+Notes.pdf">Read the release notes&nbsp;&rsaquo;</a></p>
    <table aria-label="Ubuntu 22.04 for intel downloads">
      <thead>
        <tr>
          <th></th>
          <th>Ubuntu Core 22</th>
          <th>Ubuntu Desktop 22.04</th>
          <th>Ubuntu Server 22.04</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Elkhart Lake</th>
          <td><p><button href="" class="p-button--positive is-dense" disabled="">Coming soon</button></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
        </tr>
        <tr>
          <th>Tiger Lake</th>
          <td><p><button href="" class="p-button--positive is-dense" disabled="">Coming soon</button></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
        </tr>
        <tr>
          <th>Alder Lake S, P, PS</th>
          <td><p><button href="" class="p-button--positive is-dense" disabled="">Coming soon</button></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
        </tr>
        <tr>
          <th>Ice Lake</th>
          <td></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
        </tr>                
      </tbody>
    </table>

    <table aria-label="Ubuntu 20.04 for intel downloads">
      <thead>
        <tr>
          <th></th>
          <th>Ubuntu Core 20</th>
          <th>Ubuntu Desktop 20.04</th>
          <th>Ubuntu Server 20.04</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Elkhart Lake</th>
          <td><p><button href="" class="p-button--positive is-dense" disabled="">Coming soon</button></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
        </tr>
        <tr>
          <th>Tiger Lake</th>
          <td><p><button href="" class="p-button--positive is-dense" disabled="">Coming soon</button></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
          <td><p><a href="https://cdimage.ubuntu.com/releases/focal/release/inteliotg/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button--positive is-dense">Download</a></p></td>
        </tr>             
      </tbody>
    </table>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
      <h3>Learn more about Ubuntu Core</h3>
      <p>Ubuntu Core is a version of the Ubuntu operating system designed and engineered for IoT and embedded systems.</p>
      <p>Built on snaps packages, Ubuntu Core automatically updates itself and its applications to create a confined and transaction-based system ideal for embedded devices.</p>
      <a href="/core/docs">Read the documentation for Ubuntu Core&nbsp;&rsaquo;</a>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>  

  <div class="u-fixed-width">
      <h3>Learn more about Ubuntu Desktop</h3>
      <p>The Ubuntu Desktop operating system powers millions of PCs and laptops around the world and is certified on hundreds of laptops and workstations from the top OEM vendors. Modern and performant, users benefit from a rich ecosystem of development and productivity applications. Ubuntu Desktop combines enterprise-grade support, security and functionality with the best of open source.</p>
      <a href="/desktop/developers">Learn more about Ubuntu Desktop for Linux developers&nbsp;&rsaquo;</a>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="u-fixed-width">
    <h3>Learn more about Ubuntu Server</h3>
    <p>Ubuntu Server is a version of the Ubuntu operating system designed and engineered as a backbone for the internet.</p>
    <p>Ubuntu Server brings economic and technical scalability to your datacentre, public or private. Whether you want to deploy an OpenStack cloud, a Kubernetes cluster or a 50,000-node render farm, Ubuntu Server delivers the best value scale-out performance available.</p>
    <a href="/server/docs">Read the documentation for Ubuntu Server&nbsp;&rsaquo;</a>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h3>Learn more about Intel Atom&reg; X6000E Series and Intel&reg; Pentium&reg; and Celeron&reg; N and J Series Processors</h3>
      <p>To support the next generation of IoT edge devices, Intel has developed a new line of processors enhanced for IoT—The Intel Atom x6000E Series, Intel Pentium, and Intel Celeron N and J Series processors (formerly known as Elkhart Lake &mdash; EHL). These processors build on new levels of CPU, and graphics performances with integrated IoT features, real-time performance, manageability, security, and functional safety.</p>
      <a href="https://www.intel.com/content/www/us/en/products/docs/processors/embedded/enhanced-for-iot-platform-brief.html">Read the platform brief&nbsp;&rsaquo;</a>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="row">
    <div class="col-8">
      <h3>Learn more about Intel 11th Gen Intel Core&trade; processors</h3>
      <p>11th Gen Intel&reg; Core&trade; processors (formerly known as Tiger Lake &mdash; TGL) deliver a balance of performance and responsiveness in a low-power platform built on our third-generation 10nm process technology. Engineered to deliver for IoT markets, these processors can support low-latency and time-sensitive applications, and have the power to run multiple workloads including AI and deep learning applications on a single platform.</p>
      <a href="https://www.intel.com/content/www/us/en/products/docs/processors/core/11th-gen-core-enhanced-for-iot-brief.html">Read the platform brief&nbsp;&rsaquo;</a>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h3>Hardware Certification Program</h3>
    <p>Canonical partners with leading device manufacturers to validate the same Ubuntu image across a wide variety of boards offering a great out-of-the-box experience for your customised needs. Stay tuned for more features coming soon!</p>
    <a href="/certified/devices">Further information on Ubuntu certified devices&nbsp;&rsaquo;</a>
  </div>
</section>

{% with first_item="_download_iot_iotg_newsletter", no_shadow="true" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/intel-iotg.html" data-form-id="4205" data-lp-id="2065" data-return-url="https://ubuntu.com/pricing/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>

{% endblock content %}
