{% extends "tablet/base_tablet.html" %}

{% block title %}Ready to roll | Ubuntu on tablets{% endblock %}

{% block meta_keywords %}Ubuntu, tablet, mobile, OS, Canonical, OEM, partner, manufacturer, content, provider, app, application, developer, ISV, operating system, platform, open source, Linux, Android, kernel, BSP,  iOS, iPad, device, form factor, touch, multitouch, multiuser, touchscreen, gesture, interface, UI, GUI, multitasking, PC, desktop, convergence, enterprise, customise, customisation, customize, customization{% endblock %}
{% block meta_description %}For OEM partners looking for an OS on which to deliver a groundbreaking customer experience, Ubuntu provides a customisable, open source and easily adopted platform on which to build their devices. It also offers opportunities for content providers and mobile developers to integrate their applications and services.{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Tablet" page_title="Operators and OEMs"  %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<div class="four-col">
		<h1>Ready to roll</h1>
		<p>Our experience in the PC business makes us the perfect partner for a Linux based tablet. With its distinctive design and user experience, Ubuntu makes an incredible new platform for you to deliver class-leading devices quickly and easily. We support your need to tailor devices to your brand, integrating custom services, content and apps without fragmenting the ecosystem.</p>
	</div>
	<div class="eight-col last-col">
		<img src="{{ ASSET_SERVER_URL }}3187fa37-image-tablet-operatorsandoems.jpg" alt="Two Ubuntu tablets side by side" width="634" height="368" />
	</div>
</div><!-- /.row -->

<div class="row">
	<h2>Now it&rsquo;s easy to make a great tablet</h2>
	<div class="six-col">
		<p>It just became much easier to deliver a great tablet experience. Without the overhead of a Java virtual machine, Ubuntu runs core software at native speeds giving  you <br />fast, fluid transitions and a responsive design &ndash; even on low-end devices.</p>
	</div>
	<div class="six-col last-col">
		<p>More powerful devices can switch from the tablet to a full <br />PC interface when a keyboard is connected, creating great opportunities for the enterprise market.</p>
		<p><a href="/tablet">Learn more about the Ubuntu experience on tablets&nbsp;&rsaquo;</a></p>
	</div>
	<div class="twelve-col last-col no-margin">
		<h3>Ubuntu tablet hardware requirements</h3>
		<table>
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">Entry level consumer Ubuntu tablet</th>
					<th scope="col">High-end Ubuntu enterprise tablet</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th rowspan="1" scope="row">Processor architecture</th>
					<td>Dual-core Cortex A15</td>
					<td>Quad-core A15 or Intel x86</td>
				</tr>
				<tr>
					<th rowspan="1" scope="row">Memory</th>
					<td>2GB preferred</td>
					<td>4GB preferred</td>
				</tr>
				<tr>
					<th rowspan="1" scope="row">Flash storage</th>
					<td>8GB minimum</td>
					<td>8GB minimum</td>
				</tr>
				<tr>
					<th rowspan="1" scope="row">Screen size</th>
					<td>7-10 inch</td>
					<td>10-12 inch</td>
				</tr>
				<tr>
					<th rowspan="1" scope="row">Multi-touch</th>
					<td>4 fingers</td>
					<td>4-10 fingers</td>
				</tr>
				<tr>
					<th rowspan="1" scope="row">Full desktop convergence</th>
					<td><img width="16" height="16" alt="No" src="{{ ASSET_SERVER_URL }}e36892cc-cross-warmgrey.svg"></td>
					<td><img width="16" height="16" alt="Yes" src="{{ ASSET_SERVER_URL }}2ccda8d7-tick-orange.svg"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div><!-- /.row -->

<div class="row">
	<h2>Any size you want</h2>
	<div class="six-col">
		<p>Our unique interface design scales from the phone to <br />the tablet and works equally well on pocketable consumer-oriented tablets from 7&quot; up and full-blown media or enterprise tablets with screens from 10&quot; to 20&quot; and high definition resolution.</p>
		<p>And since there are no physical buttons needed beyond the power switch, you have more flexibility for incredible device design with Ubuntu than any other platform today.</p>
	</div>
	<div class="six-col last-col">
		<img src="{{ ASSET_SERVER_URL }}14052f55-image-tablet-anysizeyouwant.png" width="467" height="291" alt="Ubuntu running on tablet and phone side by side" />
	</div>
</div><!-- /.row -->

<div class="row equal-height">
	<div class="six-col equal-height__align-vertically">
		<img src="{{ ASSET_SERVER_URL }}af009594-image-tablet-converged.svg" width="348" height="300" alt="Ubuntu convergence illustration" class="priority-0" />
	</div>
	<div class="six-col">
		<h2>Converged</h2>
		<p>Just add a keyboard and mouse and your high-end tablet becomes a PC that&rsquo;s ready for business. Ubuntu is popular <br />in the enterprise for its robust security, great usability and standard management. The addition of a tablet experience provides complete mobility as well as productivity.  Since it <br />is all pure Ubuntu, the tablet can do everything a desktop computer can, including act as a thin client with access to remote Windows apps and desktops. The best of all worlds, <br />in one device.</p>
	</div>
</div>

<div class="row">
	<div class="six-col">
		<img class="shadow-fix" src="{{ ASSET_SERVER_URL }}4200dda3-image-tablet-customisedbutnotfragmented-1.jpg" width="512" height="325" alt="Ubuntu tablet branded screen" />
	</div>
	<div class="six-col last-col">
		<img class="shadow-fix" src="{{ ASSET_SERVER_URL }}462e496b-image-tablet-customisedbutnotfragmented-2.jpg" width="512" height="325" alt="Ubuntu tablet branded screen" />
	</div>
	<h2>Customised but not fragmented</h2>
	<div class="six-col">
		<p>Ubuntu can be differentiated with partner branding, <br />content, services and apps without breaking compatibility <br />in the broader app ecosystem. Brand the device, specify favourite apps, extend the home screen to include your music, films, shows, apps and stores. Connect your services <br />to the tablet, such as backup and photo sharing.</p>
	</div>
	<div class="six-col last-col">
		<p>We designed specifically for operator and OEM customisation and services, with a framework that keeps the platform consistent for developers but nonetheless supports revenue opportunities for the whole ecosystem.</p>
	</div>
</div><!-- /.row -->

<div class="row row-dark-enterprise">
	<h2>We have the tools, teams and technology</h2>
	<div class="six-col">
		<p>When you&rsquo;ve decided to ship Ubuntu, our teams in Taipei, Shanghai, London, Beijing and Boston engage with your engineering and factory operations &ndash; with the sole focus <br />of delivering a crisp Ubuntu experience on your device. </p>
		<p>Ubuntu has been running on ARM since 2008, making it the only enterprise Linux to support the ARM platform. That ensures an efficient and responsive user experience even <br />on low-end hardware. </p>
	</div>
	<div class="six-col last-col">
		<p>We use a standard Linux kernel and the drivers from <br />existing Board Support Packages (BSPs), minimising the <br />need for investment in hardware enablement. If you already make devices that run Android, the work to adopt Ubuntu <br />will be minimal.</p>
	</div>
</div><!-- /.row -->

<div class="row">
	<h2>Hundreds and thousands</h2>
	<div class="combined-list">
		<div class="six-col">
			<ul class="list-ticks">
				<li>Hundreds of developers are now creating Ubuntu <br/>mobile apps.</li>
				<li>Thousands more use Ubuntu as their workstation <br/>of choice.</li>
				<li class="last-item">Thousands of apps are already in our software centre.</li>
			</ul>
		</div>
		<div class="six-col last-col">
			<ul class="list-ticks">
				<li>Hundreds of popular HTML5 apps will work with <br/>little modification.</li>
				<li>Thousands of developers are already making apps <br/>for Ubuntu.</li>
				<li class="last-item">Thousands of people have already registered their interest for Ubuntu mobile devices.</li>
			</ul>
		</div>
	</div>
</div>

<div class="row equal-height">
	<div class="four-col equal-height__align-vertically">
  	<img src="{{ ASSET_SERVER_URL }}fc991179-image-tablet-globalbrand.svg" width="225" height="200" alt="Hello written in a number of languages in Ubuntu speak bubbles" />
  </div>
	<div class="eight-col last-col">
		<h2>A global brand</h2>
		<p>Ubuntu has been translated into over 40 languages and is already used on <br />PCs in over 70 countries. With 20 million desktop uses around the world, it <br />is both an established technology platform and an established global brand.</p>
	</div>

</div><!-- /.row -->

<div class="row equal-height no-border">
	<div class="eight-col">
		<h2>Backed by Canonical</h2>
		<p>Canonical is the global software vendor that provides commercial and design support to the Ubuntu project. Today, our hardware enablement team supports <br />the pre-installation of Ubuntu on PCs from all the world&rsquo;s top PC manufacturers.</p>
		<p>Thanks to Canonical&rsquo;s relationships with its OEM partners, Ubuntu has an enormous retail presence in key emerging economies, with branded merchandising and trained retail staff in over 1,000 stores.</p>
		<p><a href="/partners/backed-by-canonical">Learn more about how we support Ubuntu&nbsp;&rsaquo;</a></p>
	</div>
	<div class="four-col last-col equal-height__align-vertically">
  	<img src="{{ ASSET_SERVER_URL }}60d9b81e-picto-canonical.svg" width="167" height="167" alt="Canonical logo" />
  </div>
</div><!-- /.row -->
{% endblock content %}