{% extends "pricing/base_pricing.html" %}

{% block title %}Ubuntu IoT and Devices | plans and pricing{% endblock %}

{% block meta_description %}Canonical enables sophisticated devices to be designed, delivered and operated at scale with Ubuntu and Ubuntu Core, the all-snap solution to IoT software delivery and security.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1uiKNaT59tk2rvjuM24vpqVblcNO90PmE4wUlq9A9Rsk/edit#{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-topped">
  <div class="u-fixed-width">
    <h1>Ubuntu IoT and device services</h1>
    <p>Ubuntu is the new standard for embedded Linux development and the intelligent edge. Get ten years of security coverage and dedicated app stores for your smart connected devices.</p>
    <a href="/support/contact-us" class="p-button--positive js-invoke-modal" data-testid="interactive-form">Get in touch</a>
  </div>
</section>

{% include "shared/pricing/_smart-start-prices.html" %}

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Security updates and app store services</h2>
    <p>Annual device fee covers app store services and over-the-air (OTA) updates, with 10 year extended security maintenance for kernel, Ubuntu OS and your pre-installed applications. Get updates as frequently as you need them.</p>
  </div>

  <div class="u-fixed-width">
    <div style="overflow-x: auto;">
      <table class="p-table" style="min-width: 100%; width: auto;">
        <thead>
          <tr>
            <th>To</th>
            <th class='u-align--right' style='padding-left: 1rem;'>Unscheduled</th>
            <th class='u-align--right' style='padding-left: 1rem;'>1 year</th>
            <th class='u-align--right' style='padding-left: 1rem;'>6 months</th>
            <th class='u-align--right' style='padding-left: 1rem;'>3 months</th>
            <th class='u-align--right' style='padding-left: 1rem;'>1 month</th>
            <th class='u-align--right' style='padding-left: 1rem;'>1 week</th>
            <th class='u-align--right' style='padding-left: 1rem;'>48 hours</th>
            <th class='u-align--right' style='padding-left: 1rem;'>24 hours</th>
            <th class='u-align--right' style='padding-left: 1rem;'>6 hours</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>1,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.19</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$4.90</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$7.63</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$12.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$18.99</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$30.17</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$48.07</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$76.70</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>2,500</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.18</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.29</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$5.05</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$7.87</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$12.38</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$19.59</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$31.14</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$49.61</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>6,500</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.53</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.24</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.38</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$5.20</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$8.11</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$12.76</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$20.21</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$32.13</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>15,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.11</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.57</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.31</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.48</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$5.36</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$8.36</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$13.16</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$20.85</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>40,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.84</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.14</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.61</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.37</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.58</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$5.52</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$8.62</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$13.58</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>95,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.67</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.86</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.16</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.65</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.43</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.68</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$5.68</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$8.88</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>250,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.56</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.68</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.88</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.19</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.69</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.50</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.79</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$5.86</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>615,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.48</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.56</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.69</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.89</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.22</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.74</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.57</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$3.90</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>1,500,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.44</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.49</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.57</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.70</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.91</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.25</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.78</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$2.64</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>4,000,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.41</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.44</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.49</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.58</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.71</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.93</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.27</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.83</td>
          </tr>
          <tr>
            <td class='u-align--right' style='padding-left: 1rem;'>9,500,000</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.00</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.39</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.41</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.44</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.50</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.58</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.72</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$0.95</td>
            <td class='u-align--right' style='padding-left: 1rem;'>$1.30</td>
          </tr>
        </tbody>
      </table>

      <p class="p-heading--six"><em>Annual price per device based on device volume and update period</em></p>

      <p>Emergency updates are always available, regardless of the contracted update frequency. The free tier enables you to ship Ubuntu Core free of charge and receive updates when bandwidth allows, or on-demand for emergencies.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>IoT app store</h2>
    <h3 class="p-heading--four">Curate your own app collection with custom pricing and unique applications.</h3>
    <p>Your dedicated app store includes role-based access controls, complete control of application versions, over-the-air (OTA) updates and controlled rollouts for $15,000 per year. We enable integrators and VARs to operate app stores on behalf of their clients. Access to the full Ubuntu app ecosystem requires device certification.</p>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Enterprise app store</h2>
      <h3 class="p-heading--four">Control snap distribution inside your firewall. Cache snap traffic for network efficiency.</h3>
      <p>The enterprise snap store enables your administrators to control snap updates and upgrades. Ensure that all device traffic goes through an audited communications channel and determine the precise versions of snaps used inside the business.</p>
      <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get your managed app store</a>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Workshops, training and consulting</h2>
    <p>Make the most of Ubuntu for devices with our executive workshops on digital strategy and connected devices. Take control of your own roadmap by empowering your developers to deliver apps and upgrades to your global fleet of devices.</p>
  </div>

  <div class="row">
    <div class="col-4 p-card">
      <h3 class="p-heading--four">Smart device strategy</h3>
      <p class="p-heading--three">$4,000</p>
      <hr class="u-sv1" />

      <p>The architecture of IoT spans appliances, gateways and smart, connected devices, edge clouds and clusters, and the public cloud.</p>

      <p>A two-day workshop for up to 10 executives that covers devices, edge clusters and cloud operations and strategy. Learn how to operate at high speed and precision for your all-digital business models.</p>
    </div>

    <div class="col-4 p-card">
      <h3 class="p-heading--four">Ubuntu Core intro</h3>
      <p class="p-heading--three">$4,000</p>
      <hr class="u-sv1" />
      <div class="p-card__content">
        <p>The all-snap Ubuntu Core guarantees high-reliability transactional updates of every application and the base operating system itself.</p>

        <p>Learn about the Ubuntu Core architecture, partitioning scheme, update mechanisms, secure boot, full disk encryption, device recovery and registration methods. One day full time for up to 20 people.</p>
      </div>
    </div>

    <div class="col-4 p-card">
      <h3 class="p-heading--four">Snapcraft 101</h3>
      <p class="p-heading--three">$4,000</p>
      <hr class="u-sv1" />
      <div class="p-card__content">
        <p>Deliver your applications as snaps for high-reliability updates, global content distribution, canary rollouts, bandwidth efficiency and strict security confinement.</p>

        <p>Learn about snap design and security, and how to package your existing apps as snaps. Setup continuous integration, testing and delivery pipelines to your fleet. Two days of training over four sessions. Dedicated training sessions available.</p>
      </div>
    </div>

    <div class="col-4 p-card">
      <h3 class="p-heading--four">Consulting</h3>
      <p class="p-heading--three">$2,000 per day</p>
      <hr class="u-sv1" />
      <div class="p-card__content">
        <p>On-site or remote engagement with Canonical experts in board and SoC enablement, snap development or Ubuntu management.</p>

        <p>For pre-launch integration we recommend our SMART START package for fixed pricing and delivery schedule commitments. Price per day on site or remote.</p>
      </div>
    </div>

    <div class="col-4 p-card">
      <h3 class="p-heading--four">App store operations</h3>
      <p class="p-heading--three">$4,000</p>
      <hr class="u-sv1" />
      <div class="p-card__content">
        <p>Get the most from your app store with our two-day in-depth training program.</p>

        <p>Understand the relationship between devices, app stores, enterprise stores, and master offline operations. Learn how to manage your app portfolio per model, with full control of updates. Two days full time for up to 20 people.</p>
      </div>
    </div>

    <div class="col-4 p-card">
      <h3 class="p-heading--four">Enterprise device management</h3>
      <p class="p-heading--three">$4,000</p>
      <hr class="u-sv1" />
      <div class="p-card__content">
        <p>Take control of snaps in the enterprise and on the public cloud. Ensure you have full visibility of snap versions, updates and security status across the estate.</p>

        <p>Ubuntu and Ubuntu Core raise the bar for device management and security, enabling whole-enterprise policy for devices from a wide range of brands. Two days full time for up to 20 people.</p>
      </div>
    </div>
  </div>
  <div class="u-fixed-width">
    <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Accelerate your IoT learning</a>
  </div>
</section>

{% include "/pricing/shared/_enablement-strip.html" %}

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>Ubuntu device support for manufacturers</h2>
      <h3 class="p-heading--four">Access to Canonical engineering for device engineering and development teams.</h3>
      <p>Level 4 (L4) support for device manufacturers enables access to Canonical engineering and techops teams to help troubleshoot and resolve issues in Ubuntu and Ubuntu Core. Covers kernel, device integration, base OS, snap security and update mechanisms, networking, communications and graphics.</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <div style="overflow-x: auto;">
      <table class="p-table">
        <thead>
          <th>Embedded Ubuntu Support for Manufacturers</th>
          <th class="u-align--center">Standard</th>
          <th class="u-align--center">Advanced</th>
        </thead>
        <tbody>
          <tr>
            <td>Physical server</td>
            <td class="u-align--center">$750</td>
            <td class="u-align--center">$1,500</td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td>Phone and ticket support</td>
            <td class="u-align--center">24/5</td>
            <td class="u-align--center">24/7</td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 1</td>
            <td class="u-align--center">4 hours</td>
            <td class="u-align--center">1 hour</td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 2</td>
            <td class="u-align--center">8 hours</td>
            <td class="u-align--center">2 hours</td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 3</td>
            <td class="u-align--center">12 hours</td>
            <td class="u-align--center">6 hours</td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 4</td>
            <td class="u-align--center">24 hours</td>
            <td class="u-align--center">12 hours</td>
          </tr>
          <tr>
            <td>Application packaging and update management</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>Security and integration of software components</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>App store operations</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>Knowledge base access</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>OpenStack</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>Kubernetes</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>KVM/LXD</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>Legal assurance program</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="p-heading--six"><em>MicroK8s and MicroStack are the supported Kubernetes and OpenStack solutions for single-node and small edge cluster environments.</em></p>
  </div>
</section>

<section class="p-strip--light is-bordered">
  <div class="row">
    <div class="col-7">
      <h2>Ubuntu device support for enterprises</h2>
      <h3 class="p-heading--four">Treat every device on your network as a first-class server-grade managed asset, with monitoring, security, role-based access controls, and application lifecycle management.</h3>
      <p>Level 1 (L1) support for end-user customers operating certified Ubuntu devices, whether function-specific or open to third party applications. Covers enterprise management software, enterprise off-line app store, update frequency and timing, and the ability to publish private apps to open devices inside the enterprise.</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <div style="overflow-x: auto;">
      <table class="p-table u-sv3">
        <thead>
          <th>Ubuntu Advantage for Infrastructure</th>
          <th class="u-align--center">Essential</th>
          <th class="u-align--center">Standard</th>
          <th class="u-align--center">Advanced</th>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td class="u-align--center"><em>Bits only</em></td>
            <td class="u-align--center"><em>Support</em></td>
            <td class="u-align--center"><em>Support</em></td>
          </tr>

          <tr style="background-color: #e5e5e5">
            <td>Phone and ticket support</td>
            <td class="u-align--center">&ndash;</td>
            <td class="u-align--center">24/5</td>
            <td class="u-align--center">24/7</td>
          </tr>

          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 1</td>
            <td class="u-align--center">&ndash;</td>
            <td class="u-align--center">4 hours</td>
            <td class="u-align--center">1 hour</td>
          </tr>

          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 2</td>
            <td class="u-align--center">&ndash;</td>
            <td class="u-align--center">8 hours</td>
            <td class="u-align--center">2 hours</td>
          </tr>

          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 3</td>
            <td class="u-align--center">&ndash;</td>
            <td class="u-align--center">12 hours</td>
            <td class="u-align--center">6 hours</td>
          </tr>

          <tr style="background-color: #e5e5e5">
            <td>Response time SLA - Sev 4</td>
            <td class="u-align--center">&ndash;</td>
            <td class="u-align--center">24 hours</td>
            <td class="u-align--center">12 hours</td>
          </tr>

          <tr>
            <td><a href="/security/esm">Extended Security Maintenance</a> (ESM)</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>

          <tr>
            <td><a href="/security/livepatch">Kernel Livepatch</a> service to avoid reboots</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>

          <tr>
            <td>Ubuntu systems management with <a href="https://landscape.canonical.com" class="p-link--external">Landscape</a></td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>

          <tr>
            <td>On-premise snap store cache</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
          <tr>
            <td>Knowledge base access</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>

          <tr>
            <td>OpenStack - MicroStack</td>
            <td class="u-align--center">Security updates</td>
            <td class="u-align--center">Updates + Support</td>
            <td class="u-align--center">Updates + Support</td>
          </tr>

          <tr>
            <td>Kubernetes  - MicroK8s</td>
            <td class="u-align--center">Security updates</td>
            <td class="u-align--center">Updates + Support</td>
            <td class="u-align--center">Updates + Support</td>
          </tr>

          <tr>
            <td>KVM/LXD</td>
            <td class="u-align--center">Security updates</td>
            <td class="u-align--center">Updates + Support</td>
            <td class="u-align--center">Updates + Support</td>
          </tr>

          <tr>
            <td>Legal assurance program</td>
            <td class="u-align--center">&ndash;</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
            <td class="u-align--center">{{
              image(
              url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg",
              alt="Yes",
              width="16",
              height="16",
              hi_def=True,
              loading="lazy",
              attrs={"class": "u-align--center"},
              ) | safe
            }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="u-fixed-width">
    <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
  </div>
</section>

{% with colour="white", bordered="false" %}{% include "shared/_call-sales.html" %}{% endwith %}

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/internet-of-things" data-form-id="1240" data-lp-id="2065" data-return-url="https://ubuntu.com/pricing/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>

{% endblock %}
