{% extends "pricing/base_pricing.html" %}

{% block title %}Ubuntu Advantage Infrastructure | plans and pricing{% endblock %}

{% block meta_description %}Canonical provides infrastructure solutions - OpenStack and Kubernetes training, consulting and managed services, and enterprise-grade support with a single subscription for open source software and security.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1Ynk0iLa9hjrdich6ATTsybtPbDwW_k4vRI0nk_HNhcI/edit{% endblock meta_copydoc %}

{% block content %}

<section id="ua-infra" class="p-strip is-bordered">
  <div class="row">
    <h1>Open Infrastructure support & security</h1>
    <p>Ubuntu Advantage for Infrastructure covers all aspects of open infrastructure - Ubuntu, KVM, OpenStack, Kubernetes, Docker, storage, networking, Ceph, SWIFT, SDN, logging, alerting and monitoring.</p>
    <ul class="p-inline-list">
      <li class="p-inline-list__item">
        <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
      </li>
      <li class="p-inline-list__item">
        <span>or see our <a href="/legal/ubuntu-advantage-service-description#uasd-subscriptions">service description</a>.</span>
      </li>
    </ul>
  </div>
</section>

<section class="p-strip--light is-shallow" id="ua-infra">
  <div class="row">
    <h3>Security maintenance and support</h3>
  </div>
  {% include "shared/pricing/_ua-for-infrastructure.html" with extra=" Please refer to the <a href='/uasd'>service description</a> for full details." %}
  <div class="row">
    <div class="col-12">
      <p>
        See our consulting, architecture, deployment and training packages for <a href="/pricing/consulting#openstack">OpenStack</a>, <a href="/pricing/consulting#kubernetes">Kubernetes</a> and <a href="/pricing/consulting#kubeflow">Kubeflow</a>.
      </p>
      <p>
        <a href="/support/contact-us" class="p-button js-invoke-modal">Solve compliance and security for your Ubuntu estate</a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow" id="storage">
  <div class="row">
    <h3>Software-defined storage - Ceph and Swift</h3>
    <p>Only applies if attaching more than 12TB of usable Ceph/SWIFT disks (e.g 36TB raw with 3x replication) per node in the cluster. Priced by the amount exceeding the total of 12TB per node included in UA.</p>
  </div>
  {% include "shared/pricing/_ua-advanced-storage.html" %}
  <div class="row">
    <div class="col-12">
      <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
    </div>
  </div>

</section>

<section class="p-strip--light is-shallow" id="managed">
  <div class="row">
    <h3>Fully managed OpenStack, Kubernetes and LMA</h3>
    <p>We manage infrastructure at both the host and the guest level. Infrastructure includes Ceph and SWIFT storage, Kubernetes, OpenStack and the recommended logging, monitoring and alerting stack.</p>
  </div>
  {% include "shared/pricing/_openstack-kubernetes-lma.html" %}
  <div class="row">
    <div class="col-12">
      <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
    </div>
  </div>

</section>

<section class="p-strip is-shallow">
  <div class="row">
    <h3 id="maas">MAAS</h3>
    <p>Support and commercial capabilities for MAAS are included with Ubuntu Advantage for Infrastructure. These additional charges apply for machines managed by MAAS and <em>not</em> covered by a UA Infrastructure contract.</p>
  </div>
  {% include "shared/pricing/_maas-pricing.html" %}
  <div class="row">
    <div class="col-12">
      <p>
        <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
      </p>
    </div>
  </div>
</section>

{% include "shared/forms/interactive/_pricing-infra.html" with formid="1240" lpId="2065"  returnURL="https://www.ubuntu.com/pricing/thank-you" lpurl="https://pages.ubuntu.com/things-contact-us.html" %}

{% endblock content %}
{% block footer_extra %}{% endblock footer_extra %}
