{% extends "pricing/base_pricing.html" %}


{% block title %}Ubuntu Advantage Infrastructure | plans and pricing{% endblock %}

{% block meta_description %}Canonical provides infrastructure solutions - OpenStack and Kubernetes training, consulting and managed services, and enterprise-grade support with a single subscription for open source software and security.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1Ynk0iLa9hjrdich6ATTsybtPbDwW_k4vRI0nk_HNhcI/edit{% endblock meta_copydoc %}

{% block content %}

<section id="ua-infra" class="p-strip--suru-topped is-bordered">
  <div class="u-fixed-width">
    <h1>Open Infrastructure support & security</h1>
    <p>Ubuntu Advantage for Infrastructure covers all aspects of open infrastructure &ndash; Ubuntu, KVM, OpenStack, Kubernetes, Docker, storage, networking, Ceph, Swift, SDN, logging, alerting and monitoring.</p>
    <ul class="p-inline-list">
      <li class="p-inline-list__item">
        <a href="/support/contact-us" class="p-button--positive js-invoke-modal" data-testid="interactive-form-link">Get in touch</a>
      </li>
      <li class="p-inline-list__item">
        <a href="/pro" class="p-button">Purchase a subscription</a>
      </li>
    </ul>
  </div>
</section>

<section class="p-strip is-shallow" id="ua-infra">
  <div class="u-fixed-width">
    <h3>Security maintenance and support</h3>
  </div>
  {% with extra="Please refer to the <a href='/uasd'>service description</a> for full details." %}{% include "shared/pricing/_ua-for-infrastructure.html" %}{% endwith %}
  <div class="u-fixed-width">
    <p>
      See our consulting, architecture, deployment and training packages for <a href="/pricing/consulting#openstack">OpenStack</a>, <a href="/pricing/consulting#kubernetes">Kubernetes</a> and <a href="/pricing/consulting#kubeflow">Kubeflow</a>.
    </p>
    <p>
      <a href="/support/contact-us" class="p-button js-invoke-modal">Solve compliance and security for your Ubuntu estate</a>
    </p>
  </div>
</section>

<section class="p-strip--light is-shallow" id="storage">
  <div class="u-fixed-width">
    <h3>Software-defined storage &ndash; Ceph and Swift</h3>
    <p>Only applies if attaching more than 192TB of raw Ceph/Swift capacity per node in the cluster. Priced by the amount exceeding the total of 192TB per node included in UA.</p>
  </div>
  {% include "shared/pricing/_ua-advanced-storage.html" %}
  <div class="u-fixed-width">
    <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
  </div>

</section>

<section class="p-strip is-shallow" id="managed">
  <div class="u-fixed-width">
    <h3>Fully managed OpenStack, Kubernetes and LMA</h3>
    <p>We manage infrastructure at both the host and the guest level. Infrastructure includes Ceph and Swift storage, Kubernetes, OpenStack and the recommended logging, monitoring and alerting stack.</p>
  </div>
  {% include "shared/pricing/_openstack-kubernetes-lma.html" %}
  <div class="u-fixed-width">
    <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
  </div>
</section>

<section class="p-strip--light is-bordered is-shallow">
  <div class="u-fixed-width">
    <h3 id="maas">MAAS</h3>
    <p>Support and commercial capabilities for MAAS are included with Ubuntu Advantage for Infrastructure. These additional charges apply for machines managed by MAAS and <em>not</em> covered by a UA Infrastructure contract.</p>
  </div>
  {% include "shared/pricing/_maas-pricing.html" %}
  <div class="u-fixed-width">
    <p>
      <a href="/support/contact-us" class="p-button--positive js-invoke-modal">Get in touch</a>
    </p>
  </div>
</section>

{% with colour="white", border="false" %}{% include "shared/_call-sales.html" %}{% endwith %}


<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/pricing-infra" data-form-id="1240" data-lp-id="2065" data-return-url="https://ubuntu.com/pricing/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>



{% endblock content %}
{% block footer_extra %}{% endblock footer_extra %}
