<nav class="dropdown-window__content-container">
  <div class="dropdown-window__content">
    <div class="row">
      <div class="col-9 dropdown-window__main-panel">
        <h4 class="p-muted-heading">By solution</h4>

        <div class="row u-no-padding--left">
          <div class="col-3">
            <ul class="p-list">
              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/ai">AI/ML</a><br />
                <small>MLops tools</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/security/certifications">Compliance</a><br />
                <small>Certifications and Hardening</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/containers">Containers</a><br />
                <small>Ubuntu for container operations</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/internet-of-things">IoT</a><br />
                <small>Internet of Things</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/edge-computing">Edge computing</a><br />
                <small>Micro clouds</small>
              </li>
            </ul>
          </div>

          <div class="col-3">
            <ul class="p-list">
              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/managed/apps">Managed applications</a><br />
                <small>Performant open source</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/pricing/infra">Managed infrastructure</a><br />
                <small>Infrastructre support</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="#">Multicloud operations</a><br />
                <small>Lorem Ipsum</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/observability">Observability</a><br />
                <small>Monitoring tools</small>
              </li>
            </ul>
          </div>

          <div class="col-3">
            <ul class="p-list">
              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/openstack/consulting">Private cloud and data centre</a><br />
                <small>OpenStack implementation</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/cloud/public-cloud">Public cloud</a><br />
                <small>Ubuntu across public clouds</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/robotics">Robotics</a><br />
                <small>Use ubuntu to build robots</small>
              </li>

              <li class="p-list__item">
                <a class="p-link--inverted" href="https://ubuntu.com/security">Security</a><br />
                <small>Enterprise-grade security</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-3 dropdown-window__side-panel">
        <h4 class="p-muted-heading">Sectors</h4>

        <ul class="p-list">
          <li class="p-list__item">
            <a class="p-link--inverted" href="/telco">Telco</a><br />
            <small>Carrier-grade solutions</small>
          </li>

          <li class="p-list__item">
            <a class="p-link--inverted" href="/automotive">Automotive</a><br />
            <small>Autopilots, infotainment + factories</small>
          </li>

          <li class="p-list__item">
            <a class="p-link--inverted" href="/financial-services">Financial</a><br />
            <small>Hybrid multi-cloud strategy </small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>