<div class="row">
  <div class="row col-start-large-2 col-10">
    {% if contract['entitlements']['esm-infra'] == True %}
      <div class="col-12">
        <div class="p-notification--information">
          <p class="p-notification__response">
            ESM is active by default on any newly-attached Ubuntu 14.04 ESM or 16.04 ESM
            system.
          </p>
        </div>
      </div>

      <div class="advantage-table-section">
        <h5>Ubuntu 14.04 ESM and 16.04 ESM</h5>
        <div class="advantage-table-instruction">
          <span>To activate ESM Infra</span>
          <code>sudo ua enable esm-infra</code>
          <hr />
          <span>To deactivate</span>
          <code>sudo ua disable esm-infra</code>
        </div>
      </div>

      <div class="col-12">
        <p>
         ESM Infra is not required for 18.04 LTS and 20.04 LTS as they are currently within the 5 years free LTS maintenance period. <a href="https://ubuntu.com/about/release-cycle">Learn more about the Ubuntu LTS release cycle</a>.
        </p>
      </div>
    {% else %}
      <div class="col-12">
        <div class="p-notification--information">
          <p class="p-notification__response">
            ESM-apps is active by default on any newly-attached Ubuntu 14.04 ESM
            system.
          </p>
        </div>
      </div>

      <div class="advantage-table-section">
        <h5>Ubuntu 20.04 LTS</h5>
        <div class="advantage-table-instruction">
          <span>To activate ESM Apps</span>
          <code>sudo ua enable esm-apps</code>
          <hr />
          <span>To deactivate</span>
          <code>sudo ua disable esm-apps</code>
        </div>

        <h5>Other Ubuntu versions</h5>
        <p>ESM Apps is not currently available.</p>
      </div>
    {% endif %}
  </div>
</div>
