<section class="p-tabs__content p-section" id="instant-vms" role="tabpanel" aria-labelledby="instant-vms-tab">
  <div class="row--50-50">
    <div class="col">
      <h2>Ubuntu VMs on demand for Windows, Mac and Linux with Multipass</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided u-no-margin--bottom">
        <li class="p-list__item is-ticked">Always up-to-date with security fixes</li>
        <li class="p-list__item is-ticked"><a href="https://cloud-init.io/">Cloud-init</a> metadata for cloud dev and test</li>
        <li class="p-list__item is-ticked">Virtualbox, Hyper-V, HyperKit or KVM</li>
      </ul>
      <hr class="p-rule" />
      <a href="https://multipass.run/" class="p-button--positive">Get Multipass</a>
    </div>
  </div>
</section>
