{% extends "download/_base_download.html" %}

{% block title %}Download Ubuntu Server | Download{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1FFQQUtzFGH88hA30qnZm-3pwVqcVl9UYyrNT4qQWrSM/edit{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip--suru-topped is-bordered">
  <div class="u-fixed-width">
    <h1 class="u-no-margin--bottom">Download Ubuntu Server</h1>
  </div>
</section>
<section class="p-strip--light is-bordered">
  <div class="u-fixed-width">
    <h2>Ubuntu Server {{ releases.lts.full_version }} LTS</h2>
  </div>
  <div class="row u-equal-height">
    <div class="col-8">
      <p class="u-no-padding--top">
        The long-term support version of Ubuntu Server, including the {{ releases.openstack_lts.slug }} release of OpenStack and support guaranteed until {{ releases.lts.eol }}.
      </p>
      <p>
        <a href="https://wiki.ubuntu.com/{{ releases.lts.slug }}/ReleaseNotes" class="p-link--external">Ubuntu {{ releases.lts.short_version }} LTS release notes</a>
      </p>
    </div>
    <div class="col-4">
      <p>
        <a href="/download/server/thank-you?version={{ releases.lts.full_version }}&amp;architecture=amd64" class="p-button--positive is-wide" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Server', 'eventLabel' : '{{ releases.lts.short_version }} LTS', 'eventValue' : undefined });">Download</a>
      </p>
      <p>
        <small>For other versions of Ubuntu including torrents, the network installer, a list of local mirrors, and past releases <a href="/download/alternative-downloads">see our alternative downloads</a>.</small>
      </p>
    </div>
  </div>
  {% if releases.latest.short_version > releases.lts.short_version %}
  <div class="p-strip is-shallow">
    <div class="u-fixed-width">
      <hr>
    </div>
  </div>
  <div class="u-fixed-width">
    <h2>Ubuntu Server {{ releases.latest.full_version }}</h2>
  </div>
  <div class="row u-equal-height">
    <div class="col-8 u-vertically-center">
      <p class="u-no-padding--top">
        The latest version of Ubuntu Server, including nine months of security and maintenance updates, until {{ releases.latest.eol }}.
      </p>
      <p>
        <a href="https://wiki.ubuntu.com/{{ releases.latest.slug }}/ReleaseNotes" class="p-link--external">Ubuntu Server {{ releases.latest.short_version }} release notes</a>
      </p>
    </div>
    <div class="col-4">
      <p>
        <a class="p-button--positive is-wide" href="/download/server/thank-you?version={{ releases.latest.full_version }}&amp;architecture=amd64" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Server', 'eventLabel' : '{{ releases.latest.short_version }}', 'eventValue' : undefined });">Download</a>
      </p>
      <p>
        <small>For other versions of Ubuntu including torrents, the network installer, a list of local mirrors, and past releases <a href="/download/alternative-downloads">see our alternative downloads</a>.</small>
      </p>
    </div>
  </div>
  {% endif %}
</section>

{% include 'download/shared/_multipass-install.html' %}

<section class="p-strip--light is-shallow">
  <div class="row">
    <div class="col-10">
      <h2>Alternative architectures</h2>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-4 p-card">
      <h3 class="p-card__title">Ubuntu Server for ARM</h3>
      <p>
        Optimised for hyperscale deployments and certified on ARM chipsets &mdash; Ubuntu Server for ARM includes the 64-bit ARMv8 platforms.
      </p>
      <p>
        <a href="/download/server/arm">Get Ubuntu Server for ARM&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 p-card">
      <h3 class="p-card__title">Ubuntu for POWER</h3>
      <p>
        Ubuntu is available on the IBM POWER platform, bringing the entire Ubuntu and OpenStack ecosystem to IBM POWER.
      </p>
      <p>
        <a href="/download/server/power">Get Ubuntu for POWER&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-4 p-card">
      <h3 class="p-card__title">Ubuntu for IBM Z</h3>
      <p>
        IBM Z and LinuxONE leverage open technology solutions to meet the demands of the new application economy. Ubuntu is now available, with Juju and Ubuntu OpenStack.
      </p>
      <p>
        <a href="/download/server/s390x">Get Ubuntu for IBM Z&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</section>

{% with first_item="_download_server_installation", second_item="_download_server_guide", third_item="_download_helping_hands" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

{% endblock content %}
