{% extends "download/_base_download.html" %}

{% block title %}Installing Ubuntu Server{% endblock %}

{% block extra_body_class %}download-help{% endblock %}

{% block second_level_nav_items %}
<div class="strip-inner-wrapper">
    {% include "templates/_nav_breadcrumb.html" with section_title="Download" subsection_title="Server" page_title="Installing Ubuntu Server"  %}
</div><!-- /.strip-inner-wrapper -->
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero no-padding-bottom">
    <div class="strip-inner-wrapper">
        <h1>Installing Ubuntu Server for general use</h1>
        <div class="nine-col append-one">
            <p>The basic steps to install Ubuntu Server from CD or USB stick are the same for installing any operating system. Unlike the desktop version, Ubuntu Server does not include a graphical installation program. Instead, it uses a console menu-based process.</p>
        </div>
    </div>
</div>
<div class="row no-border">
    <div class="strip-inner-wrapper">
        <ol class="list-stepped seven-col append-one">
            <li class="list-stepped__item">
                <p class="list-stepped__title">First, download and burn the ISO file from the <a href="/download/server">Ubuntu Server download page</a>.</p>
            </li>
            <li class="list-stepped__item">
                <p class="list-stepped__title">Boot the system from the CD-ROM drive.</p>
            </li>
            <li class="list-stepped__item">
                <p class="list-stepped__title">At the boot prompt you will be asked to select the language.</p>
            </li>
            <li class="list-stepped__item">
                <p class="list-stepped__title">Select <strong>'basic server install'</strong>.</p>
            </li>
            <li class="list-stepped__item">
                <p class="list-stepped__title">Enter appropriate options for language, keyboard layout, network configuration, hostname and timezone.</p>
            </li>
            <li class="list-stepped__item">
                <p class="list-stepped__title">You can then choose from several options to configure the hard drive layout. There are many ways disk layout can be configured. For detailed information please <a href="https://help.ubuntu.com/lts/serverguide/installing-from-cd.html">read the installing from CD documentation</a>.</p>
            </li>
            <li class="list-stepped__item">
                <p class="list-stepped__title">The Ubuntu base system is then installed.</p>
            </li>
        </ol>
    </div><!-- /.eight-col -->
    <div class="sidebar aside four-col last-col">
        <div class="box">
            <h3>Mass provisioning of Ubuntu Server</h3>
            <p>Ubuntu Server also includes a network-based provisioning system that uses Ubuntu&rsquo;s Metal as a Service (MAAS) tool. Based on the industry-standard PXE network-boot protocol, MAAS enables the rapid, automated provisioning of many systems simultaneously.</p>
            <p>Canonical&rsquo;s Landscape further integrates MAAS technology with enterprise-class support for systems management and compliance requirements.</p>
            <ul class="list-ticks">
                <li><a href="http://maas.ubuntu.com/" class="external">Learn how to configure your network for bare metal deployment via MAAS</a></li>
                <li><a href="http://www.ubuntu.com/management/landscape-features#deployment">Learn more about enterprise provisioning with Landscape&nbsp;&rsaquo;</a></li>
            </ul>
        </div><!-- /.sidebar -->
    </div><!-- /.strip-inner-wrapper -->
</div><!-- /.row -->

{% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_download_openstack_autopilot" second_item="_download_server_guide" third_item="_download_helping_hands" %}

{% endblock content %}
