{% extends "download/_base_download.html" %}

{% block title %}Ubuntu Server LTS for IBM Z and LinuxONE{% endblock %}
{% block meta_description %}Ubuntu for IBM Z and LinuxONE brings the Ubuntu Server and Ubuntu Server for cloud with the OpenStack, KVM and LXD ecosystem to IBM's premium platform.{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1d85IfqqxZYYZ0orj5lBhqLWLGpLYWRLdvs75lYsplGs/edit{% endblock meta_copydoc %}
{% block body_class %}is-paper{% endblock body_class %}

{% block content %}
<div class="p-strip is-shallow">
  <div class="row--50-50">
    <div class="col">
      <div class="p-section">
        <h1>Ubuntu Server LTS for <br class="u-hide--small" /> IBM Z and LinuxONE</h1>
      </div>
      <p>IBM Z and LinuxONE systems leverage open technology solutions to meet the demands of the new application economy. They combine the best of open source to offer IBM's enterprise customers unprecedented performance, flexibility, security and resiliency. Ubuntu Server LTS are released every two years in April and can now be downloaded by all IBM Z and LinuxONE system customers.</p>
      <p>Starting with 20.04 LTS the minimal requirement is z13s/z13, respectively LinuxONE Rockhopper/Emperor. zBC12/zEC12 are only supported up to Ubuntu 18.04 LTS.</p>
      <p>Ubuntu Server for IBM Z and LinuxONE is priced at $19,500 per drawer per year, covering unlimited usage of Ubuntu within that drawer, Ubuntu Pro + Support (24/7) and regular security and reliability fixes from Canonical.</p>
      <p>Your use of Ubuntu on IBM Z and LinuxONE in production constitutes <a href="/legal/short-terms">acceptance of these terms</a>.</p>
      <p>For questions about Ubuntu Pro for IBM Z and LinuxONE, please call us <tel href="+442036565291">+44&nbsp;(0)&nbsp;203&nbsp;656&nbsp;5291</tel> or email us at <a href="mailto:ibm@ubuntu.com">ibm@ubuntu.com</a>.</p>
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <!-- MARKETO FORM -->
        <form class="p-form u-no-margin--top" action="/marketo/submit" method="post" id="mktoForm_1400">
          <legend class="u-off-screen">Contact information</legend>
          <label class="is-required" for="firstName" aria-label="FirstName">First name:</label>
          <input required id="firstName" name="firstName" maxlength="255" type="text" />
        
          <label class="is-required" for="lastName" aria-label="LastName">Last name:</label>
          <input required id="lastName" name="lastName" maxlength="255" type="text" />

          <label class="is-required" for="company" aria-label="Company">Company name:</label>
          <input required id="company" name="company" maxlength="255" type="text" />

          <label class="is-required" for="email" aria-label="Email">Email address:</label>
          <input required id="email" name="email" maxlength="255" type="email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$" />

          <div class="p-section--shallow">
            <label class="is-required" for="phone" aria-label="phone">Mobile/cell phone number:</label>
            <input required id="phone" name="phone" maxlength="255" type="tel" />
          </div>

          <label for="NumUbuntuServers__c" aria-label="NumUbuntuServers__c">Number of drawers you are purchasing support for:</label>
          <select id="NumUbuntuServers__c" name="NumUbuntuServers__c">
            <option value="">Select...</option>

            <option value="zBC12" disabled>zBC12</option>
            <option value="zBC12 - 1/2 drawer (up to 13 cores)"> - 1/2 drawer (up to 13 cores)</option>

            <option value="zEC12" disabled>zEC12</option>
            <option value="zEC12 - 1 drawer (up to 20 cores)"> - 1 drawer (up to 20 cores)</option>
            <option value="zEC12 - 2 drawers (up to 43 cores)"> - 2 drawers (up to 43 cores)</option>
            <option value="zEC12 - 3 drawers (up to 66 cores)"> - 3 drawers (up to 66 cores)</option>
            <option value="zEC12 - 4 drawers (up to 101 cores)"> - 4 drawers (up to 101 cores)</option>

            <option value="z13s/Rockhopper" disabled> z13s/Rockhopper</option>
            <option value="z13s/Rockhopper - 1/2 drawer (up to 20 cores)"> - 1/2 drawer (up to 20 cores)</option>

            <option value="z13/Emperor" disabled>z13/Emperor</option>
            <option value="z13/Emperor - 1 drawer (up to 30 cores)"> - 1 drawer (up to 30 cores)</option>
            <option value="z13/Emperor - 2 drawers (up to 63 cores)"> - 2 drawers (up to 63 cores)</option>
            <option value="z13/Emperor - 3 drawers (up to 96 cores)"> - 3 drawers (up to 96 cores)</option>
            <option value="z13/Emperor - 4 drawer (up to 141 cores)"> - 4 drawer (up to 141 cores)</option>

            <option value="z14 ZR1/Rockhopper II" disabled> z14 ZR1/Rockhopper II</option>
            <option value="z14 ZR1/Rockhopper II - 1/2 drawer (up to 30 cores)"> - 1/2 drawer (up to 30 cores)</option>

            <option value="z14/Emperor II" disabled>z14/Emperor II</option>
            <option value="z14/Emperor II - 1 drawer (up to 33 cores)"> - 1 drawer (up to 33 cores)</option>
            <option value="z14/Emperor II - 2 drawers (up to 69 cores)"> - 2 drawers (up to 69 cores)</option>
            <option value="z14/Emperor II - 3 drawers (up to 105 cores)"> - 3 drawers (up to 105 cores)</option>
            <option value="z14/Emperor II - 4 drawer (up to 170 cores)"> - 4 drawer (up to 170 cores)</option>

            <option value="z15 T02/LinuxONE III LT2" disabled>z15 T02/LinuxONE III LT2</option>
            <option value="z15/T02/LinuxONE III LY2 - 1/2 drawer (up to 65 cores)"> - 1/2 drawer (up to 65 cores)</option>

            <option value="z15 T01/LinuxONE III LT1" disabled>z15 T01/LinuxONE III LT1 </option>
            <option value="z15/LinuxONE III - 1 drawer (up to 34 cores)"> - 1 drawer (up to 34 cores)</option>
            <option value="z15/LinuxONE III - 2 drawers (up to 71 cores)"> - 2 drawers (up to 71 cores)</option>
            <option value="z15/LinuxONE III - 3 drawers (up to 108 cores)"> - 3 drawers (up to 108 cores)</option>
            <option value="z15/LinuxONE III - 4 drawers (up to 190 cores)"> - 4 drawers (up to 190 cores)</option>

            <option value="z16 A01" disabled>z16 A01</option>
            <option value="z16 A01 - 1 drawer (up to 39 cores)"> - 1 drawer (up to 39 cores)</option>
            <option value="z16 A01 - 2 drawers (up to 82 cores)"> - 2 drawers (up to 82 cores)</option>
            <option value="z16 A01 - 3 drawers (up to 125 cores)"> - 3 drawers (up to 125 cores)</option>
            <option value="z16 A01 - 4 drawers (up to 200 cores)"> - 4 drawers (up to 200 cores)</option>
          </select>

          <label for="Comments_from_Contact__c" aria-label="Comments_from_Contact__c">Serial number(s)</label>
          <textarea id="Comments_from_Contact__c" name="Comments_from_Contact__c" rows="2" maxlength="2000"></textarea>

          <label for="purchaseordernumber" aria-label="purchaseordernumber">Purchase order number:</label>
          <input id="purchaseordernumber" name="purchaseordernumber" maxlength="255" type="text" />

          <label class="p-checkbox">
            <input class="p-checkbox__input" value="yes" aria-labelledby="canonicalUpdatesOptIn" name="canonicalUpdatesOptIn" type="checkbox" />
            <span class="p-checkbox__label" id="canonicalUpdatesOptIn">I would like to receive occasional news from Canonical by email.</span>
          </label>

          {# These are honey pot fields to catch bots #}
          <div class="u-off-screen">
            <label class="website" for="website">Website:</label>
            <input name="website" type="text" class="website" autocomplete="off" value="" id="website" tabindex="-1" />
          </div>
          <div class="u-off-screen">
            <label class="name" for="name">Name:</label>
            <input name="name" type="text" class="name" autocomplete="off" value="" id="name" tabindex="-1" />
          </div>
          {# End of honey pots #}

          <p>All information provided will be handled in accordance with the Canonical <a href="/legal" target="_blank" rel="noopener noreferrer">privacy policy</a>. Your use of Ubuntu on IBM Z and LinuxONE in production constitutes <a href="/legal/short-terms">acceptance of these terms</a>.</p>

          <button onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'LinuxONE server', 'eventLabel' : '{{ releases.lts.short_version }}', 'eventValue' : undefined });" type="submit" class="p-button--positive">Accept terms and download</button>
          <input type="hidden" aria-hidden="true" name="formid" value="1400">
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_campaign" id="utm_campaign" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_medium" id="utm_medium" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_source" id="utm_source" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_content" id="utm_content" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_term" id="utm_term" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" id="preferredLanguage" name="preferredLanguage" maxlength="255" value="" />

          <input type="hidden" aria-hidden="true" name="returnURL" value="https://www.ubuntu.com/download/server/thank-you-s390x" />
        </form>
      <!-- /MARKETO FORM -->
      </div>
    </div>
  </div>
</div>

<section class="p-section--deep">
  <div class="u-fixed-width">
    <hr class="p-rule">
    <div class="p-section--shallow">
      <h2>Get started with Ubuntu today</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-9 col-start-large-4 col-start-medium-2 col-medium-5">
      <hr class="p-rule" />
      <div class="row">
        <div class="col-3 col-medium-2">
          <h3 class="p-heading--5">Installation guides</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>If you need some help installing Ubuntu, please check out our step-by-step guides.</p>
          <hr class="p-rule" />
          <p><a href="/tutorials/tutorial-install-ubuntu-server">Installation instructions for Ubuntu Server&nbsp;&rsaquo;</a></p>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="row">
        <div class="col-3 col-medium-2">
          <h3 class="p-heading--5">Ubuntu Server documentation</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Read the official Ubuntu Server documentation.</p>
          <hr class="p-rule" />
          <p><a href="/server/docs">Ubuntu Server documentation&nbsp;&rsaquo;</a></p>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="row">
        <div class="col-3 col-medium-2">
          <h3 class="p-heading--5">Helping hands</h3>
        </div>
        <div class="col-6 col-medium-3">
          <hr class="p-rule is-muted" />
          <p>
            <a href="https://discourse.ubuntu.com/">Ubuntu Discourse</a>
          </p>
          <hr class="p-rule is-muted" />
          <p>
            <a href="https://askubuntu.com/">Ask Ubuntu</a>
          </p>
          <hr class="p-rule is-muted" />
          <p>
            <a href="https://answers.launchpad.net/ubuntu">Launchpad Answers</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
