{% extends "download/_base_download.html" %}

{% block title %}
Thanks for downloading Ubuntu for LinuxONE and z Systems
{% endblock %}
{% block extra_body_class %}download-thankyou{% endblock %}

{% block second_level_nav_items %}
<div class="strip-inner-wrapper">
    {% include "templates/_nav_breadcrumb.html" with section_title="Download" subsection_title="Server" page_title="Thank you"  %}
</div>
{% endblock second_level_nav_items %}

{% block head_extra %}
  <meta http-equiv="refresh" content="3;url=http://cdimage.ubuntu.com/releases/16.04/release/ubuntu-16.04-server-s390x.iso">
{% endblock %}

{% block content %}

<div class="row row-hero no-border">
    <div class="strip-inner-wrapper">
        <div class="seven-col">
            <h1>Thanks for downloading Ubuntu for LinuxONE and z&nbsp;Systems</h1>
            <p>Your ISO download should start automatically.</p>
            <p>If it doesn&rsquo;t, or for alternative options <a href="http://cdimage.ubuntu.com/releases/16.04/release/">visit the download page</a>.</p>
        </div>
        <div class="five-col last-col box">
            <h2>Newsletter sign-up</h2>
            <p>Stay up-to-date on new features, upgrades and how others are using Ubuntu on IBM LinuxOne and z&nbsp;Systems.</p>
            <!-- MARKETO FORM -->
            <script src="{{ ASSET_SERVER_URL }}d55f58bb-jquery.validate.js"></script>
            <script src="{{ ASSET_SERVER_URL }}6ce35d3e-jquery-ui.min.js"></script>‌​
            <form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_1400">
                <fieldset>
                    <ul class="no-bullets">
                        <li  class="mktFormReq mktField">
                            <label for="Email" class="mktoLabel " >Email address: <span>*</span></label>
                            <input required  id="Email" name="Email" maxlength="255" type="email" class="mktoField mktoEmailField  mktoRequired" >
                        </li>
                        <li class="mktField">
                            <input class="mktoField" value="yes" id="NewsletterOpt-In" name="NewsletterOpt-In" type="checkbox">
                            <label  class="mktoLabel mktoHasWidth" for="NewsletterOpt-In">I would like to receive occasional news from Canonical by email.</label>
                        </li>
                        <li  class="mktField">
                            <button type="submit" class="mktoButton link-cta-download button--primary">Sign-up</button></span><input type="hidden" name="formid" class="mktoField " value="1400"><input type="hidden" name="lpId" class="mktoField " value="2469"><input type="hidden" name="subId" class="mktoField" value="30"><input type="hidden" name="munchkinId" class="mktoField" value="066-EOV-335"><input type="hidden" name="lpurl" class="mktoField" value="//pages.ubuntu.com/download-LinuxONE.html?cr={creative}&amp;kw={keyword}"><input type="hidden" name="cr" class="mktoField " value=""><input type="hidden" name="kw" class="mktoField " value=""><input type="hidden" name="q" class="mktoField " value="">
                        </li>
                    </ul>
                </fieldset>
                <input type="hidden" name="returnURL" value="http://www.ubuntu.com/download/server/linuxone-newsletter-thank-you" />
                <input type="hidden" name="retURL" value="http://www.ubuntu.com/download/server/linuxone-newsletter-thank-you" />
            </form>
            <script>
            $("#mktoForm_1400").validate({
                errorElement: "span",
                errorClass: "mktFormMsg mktError",
                onkeyup: false,
                onclick: false,
                onblur: false
            });
            </script>
            <script src="{{ ASSET_SERVER_URL }}f97fa297-stateCountry.js"></script>
        </div>
    </div>
</div>
<div class="row row-grey no-border">
    <div class="strip-inner-wrapper">
        <div class="box-grey twelve-col no-margin-bottom equal-height">
            <div class="four-col support box box-highlight equal-height__item">
                <div class="text-center four-col">
                    <img alt="ubuntu advantage" src="{{ ASSET_SERVER_URL }}03c5463a-picto-business-warmgrey.svg" width="113" height="113" />
                </div>
                <h3>Ubuntu Advantage</h3>
                <p>Commercial support agreements to suit your business needs.</p>
                <p><a href="http://www.ubuntu.com/server/management">Learn more about Ubuntu Advantage&nbsp;&rsaquo;</a></p>
            </div><!-- /.four-col -->
            <div class="four-col one box box-highlight equal-height__item">
                <div class="text-center four-col">
                    <img alt="ubuntu one" src="{{ ASSET_SERVER_URL }}2a8cf960-picto-startfirst-warmgrey.svg" width="113" height="113" />
                </div>
                <h3>OpenStack Training</h3>
                <p>In a classroom or at your company, learn the ins and outs of OpenStack.</p>
                <p><a href="/cloud/openstack/training">Learn more about OpenStack Training&nbsp;&rsaquo;</a></p>
            </div><!-- /.four-col -->
            <div class="four-col ask last-col box box-highlight equal-height__item">
                <div class="text-center four-col">
                    <img alt="ubuntu advantage" src="{{ ASSET_SERVER_URL }}422b612c-picto-forum-warmgrey.svg" width="113" height="113" />
                </div>
                <h3>Ask Ubuntu</h3>
                <p>Need help? Ask your questions here.</p>
                <p><a href="http://askubuntu.com/questions/tagged/server" class="external">Get help</a></p>
            </div><!-- /.four-col -->
        </div><!-- /.row .row-box -->
    </div><!-- /.strip-inner-wrapper -->
</div><!-- /.row .row-grey -->

{% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_download_server_installation" second_item="_download_server_guide" third_item="_download_helping_hands" %}

{% endblock content %}
