{% extends "appliance/_base-appliance.html" %}

{% block title %}OpenHAB | Ubuntu Appliance{% endblock %}

{% block meta_description %}Build your OpenHAB appliance with Ubuntu Appliance images with preinstalled snaps. The open Home Automation Bus is technology agnostic home automation platform which runs as the center of your smart home.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/14sEgchP6BUjnUtJt67XJ-fKl7k8dAevaf5EJac9Pmyc/{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      <div class="p-media-object u-no-margin--bottom">
        <img src="https://assets.ubuntu.com/v1/f4632e06-openhab-logo.png?w=90" alt="" class="p-media-object__image is-round" height="90" width="90">
        <div class="p-media-object__details">
          <h1 class="p-heading--three u-no-margin--bottom">
            OpenHAB
          </h1>
          <p class="p-muted-heading">Ubuntu Appliance</p>
          <ul class="p-inline-list--middot u-no-margin--bottom">
            <li class="p-inline-list__item">By openHAB Foundation e.V. (openhab)</li>
            <li class="p-inline-list__item">Smart Home<br class="u-hide--medium"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4 u-align--right">
      <form class="p-form--inline" action="#">
        <div class="p-form__group">
          <label for="platform" class="u-off-screen">Platform</label>
          <select id="platform">
            <option value="rpi">Raspberry Pi</option>
            <option value="pc">PC</option>
            <option value="intel-nuc">Intel NUC</option>
          </select>
        </div>
        <div class="p-form__group">
          <input type="submit" class="p-button--positive p-form__control" value="Download">
        </div>
      </form>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-10">
      <img src="https://assets.ubuntu.com/v1/8d38f054-openhab-screenshot-4.png" class="p-image--shadowed" alt="OpenHAB screenshot" />
    </div>
    <div class="col-2 u-align--center">
      <ul class="p-list row">
        <li class="p-list__item col-small-1 col-medium-1 col-2">
          <img src="https://assets.ubuntu.com/v1/07b4d31f-openhab-screenshot-2.png?w=200" class="p-image--shadowed" alt="OpenHAB screenshot" height="150" width="150">
        </li>
        <li class="p-list__item col-small-1 col-medium-1 col-2">
          <img src="https://assets.ubuntu.com/v1/a0d79df1-openhab-screenshot-3.png?w=200" class="p-image--shadowed" alt="OpenHAB screenshot" height="150" width="150">
        </li>
        <li class="p-list__item col-small-1 col-medium-1 col-2">
          <img src="https://assets.ubuntu.com/v1/56268be0-openhab-screenshot-1.png?w=200" class="p-image--shadowed" alt="OpenHAB screenshot" height="150" width="150">
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2 class="p-heading--four">Empowering the smart home</h2>
      <p>The open Home Automation Bus (openHAB, pronounced ˈəʊpənˈhæb) is an open source, technology agnostic home automation platform which runs as the center of your smart home!</p>
      <p>Some of openHAB's strengths are:</p>
      <ul>
        <li>Its ability to integrate a multitude of other devices and systems. openHAB includes other home automation systems, (smart) devices and other technologies into a single solution</li>
        <li>To provide a uniform user interface and a common approach to automation rules across the entire system, regardless of the number of manufacturers and sub-systems involved</li>
        <li>Giving you the most flexible tool available to make almost any home automation wish come true; if you can think it, odds are that you can implement it with openHAB</li>
      </ul>
      <p>When home automation just seems to work, it is always the result of hard work. Home automation is fascinating and requires a considerable investment of your time. Here are some key considerations especially for new users. To be successful, you will need to:</p>
      <ul>
        <li>Start slowly and one step at a time</li>
        <li>Be prepared to learn</li>
        <li>Remain flexible in how you want to achieve your goal</li>
        <li>Celebrate all the small successes</li>
      </ul>
      <p>Remember, openHAB is just a computer program. The computer will only do what you tell it to do. openHAB can provide many default solutions that are easy to setup. On the flip side, the more you insist that everything should look and work exactly as you want it, the more work you will have to do. openHAB is fully customizable, but doing so will require substantial effort on your part.</p>
    </div>
    <div class="col-4">
      <h5 class="u-no-margin--bottom u-no-padding--top">Relevant links</h5>
      <ul class="p-list">
        <li class="p-list__item"><a href="https://www.openhab.org/privacy.html">OpenHAB Privacy Policies</a></li>
        <li class="p-list__item"><a href="https://www.openhab.org/">OpenHAB website</a></li>
        <li class="p-list__item"><a href="https://github.com/openhab">OpenHAB source code</a></li>
        <li class="p-list__item"><a href="/appliance/governance">Ubuntu appliance governance</a></li>
      </ul>
      <h5 class="u-no-margin--bottom u-no-padding--top">Privacy compliance</h5>
      <ul class="p-list">
        <li class="p-list__item is-ticked">EU GDPR</li>
        <li class="p-list__item is-ticked">California law</li>
      </ul>
      <h5 class="u-no-margin--bottom u-no-padding--top">Base</h5>
      <p>core20</p>
      <h5 class="u-no-margin--bottom u-no-padding--top">Date published</h5>
      <p>YYYY-MM-DD</p>
      <h5 class="u-no-margin--bottom u-no-padding--top">Security maintenance until</h5>
      <p>YYYY-MM-DD</p>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="row">
    <div class="col-6">
      <h2 class="p-heading--four">Snaps in the image</h2>
      <div class="p-media-object">
        <img src="https://assets.ubuntu.com/v1/f4632e06-openhab-logo.png?w=75" alt="" class="p-media-object__image is-round" height="75" width="75">
        <div class="p-media-object__details">
          <h3 class="p-heading--5 u-no-margin--bottom u-sv-1">
            <a href="https://snapcraft.io/openhab" class="p-link--external">openhab</a>
          </h3>
          <p class="p-muted-text">By openHAB Foundation e.V. (openhab)</p>
          <p class="u-sv-1"><span class="p-muted-text">Channel: </span>latest/stable</p>
          <p class="u-sv-1"><span class="p-muted-text">Version: </span>2.5.4</p>
          <p><span class="p-muted-text">Published: </span>4 May 2020</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="row">
    <div class="col-6">
      <h4>This appliance works on:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <a href="/appliance/openhab/raspberry-pi" class="p-link--soft">
        <h3 class="p-heading--five u-no-padding--top">Raspberry Pi</h3>
        <hr />
        <div class="u-align--center">
          <img src="https://assets.ubuntu.com/v1/a999bb5f-Raspberry+Pi+4.png?h=200" alt="" style="margin:1rem 0; width: 85%;">
        </div>
      </a>
      <p><a href="/appliance/openhab/raspberry-pi">Install on Raspberry&nbsp;Pi</a></p>
    </div>

    <div class="col-2">
      <a href="/appliance/openhab/intel-nuc" class="p-link--soft">
        <h3 class="p-heading--five u-no-padding--top">NUC</h3>
        <hr />
        <div class="u-align--center">
          <img src="https://assets.ubuntu.com/v1/78b65554-1920px-Intel_NUC8.jpg?h=200" style="margin:1rem 0; width: 85%;">
        </div>
      </a>
      <p><a href="/appliance/openhab/intel-nuc">Install on NUC</a></p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>Build your own appliance</h2>
      <p>Making it with Ubuntu is easy. If you have an application that you would like to make a part of the Ubuntu appliance portfolio, read our guidelines and get in touch. Soon you will have a page like this.</p>
      <a href="/appliance/contact-us" class="p-button--neutral js-invoke-modal">Get in touch</a>
    </div>
    <div class="col-4 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/03d1807c-2+-+Build+your+own+stack+and+prototype+your+application.svg" alt="" height="300" width="400">
    </div>
  </div>
</section>

{% endblock content %}
