@mixin p-takeover-1710-release {
  .p-takeover--1710-release {
    width: auto;
    background-color: $color-accent-background;
    margin: $sp-small;
    background-image: url('#{$assets-path}57435eba-17.10-takeover-wallpaper.png');
    background-size: cover;

    @media (min-width: $breakpoint-medium) {
      margin: $sp-medium;
      height: auto;
    }

    @media (min-width: 1200px) {
      margin: $sp-x-large;
      background-image: url('#{$assets-path}57435eba-17.10-takeover-wallpaper.png');
    }
  }

  .takeover-title {
    @media (max-width: $breakpoint-medium - 1) {
      font-size: 2.5rem;
    }
  }

  .flavour-text {
    font-weight: 400;
  }

  .laptop-image--small {
    padding: 10% 0;
  }
}
