$bg-image-1804: 'c4995f19-18.04_beaver_wp_8192x4608_no-BB_AW.jpg';

@mixin p-takeover-1804-release {
  .p-takeover--1804-release {
    background-color: $color-brand;
    background-image: url('#{$assets-path}#{$bg-image-1804}?w=768');
    background-size: cover;
    color: $color-light;

    @media (min-width: $breakpoint-medium) {
      background-image: url('#{$assets-path}#{$bg-image-1804}?w=984');
    }

    @media (min-width: 1200px) {
      background-image: url('#{$assets-path}#{$bg-image-1804}?w=2000');
    }

    .p-takeover__body {
      @media (min-width: $breakpoint-medium) {
        background-image: url('#{$assets-path}99cee55b-beaver.svg');
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: $sp-x-large * 4;
        padding-top: $sp-x-large * 1.5;
      }
    }

    .p-takeover__title {
      font-weight: 100;
    }

    .p-takeover__image {
      margin-bottom: $sp-x-large;
      margin-top: $sp-x-large;
    }
  }
}
