@mixin p-takeover-ai-webinar {
  @keyframes dotted-circle {
    0% {opacity: 0; transform: rotate(45deg)}
    100% {opacity: 1; transform: rotate(0deg)}
  }

  @keyframes ubuntu-logo {
    0% {opacity: 0; transform: rotate(90deg)}
    100% {opacity: 1; transform: rotate(0deg)}
  }

  @keyframes pop-in {
    0% {opacity: 0; transform: scale(0);}
    40% {opacity: 1; transform: scale(1.1);}
    100% {opacity: 1; transform: scale(1);}
  }

  %takeover-logo {
    animation: pop-in .35s cubic-bezier(0.215, 0.61, 0.355, 1) 1 forwards;
    opacity: 0;
    position: absolute;
    transform: scale(0);
  }

  .p-takeover--ai-webinar {
    background-image: linear-gradient(45deg, #171717 0%, #181818 9%, #262626 34%, #2D2D2D 67%, #383838 88%, #2E2E2E 100%, #393939 100%);
    background-color: #171717;

    .p-takeover__title {
      font-weight: 100;
      color: $color-x-light;
    }

    .p-takeover__text {
      @extend %vf-heading-4;
      color: $color-x-light;
      margin-bottom: 1.7rem;
    }

    .p-takeover__image-container {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;

      @media (max-width: $breakpoint-medium) {
        margin-bottom: 1.5rem;
        max-width: 300px;
      }
    }

    .dotted-circle {
      animation: dotted-circle 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) .5s 1 forwards;
      opacity: 0;
      transform: rotate(45deg);
    }

    .ubuntu-logo {
      align-self: center;
      animation: ubuntu-logo 2s cubic-bezier(0.215, 0.61, 0.355, 1) .5s 1 forwards;
      opacity: 0;
      position: absolute;
      transform: rotate(90deg);
      width: 32%;
    }

    .cloud-picto {
      @extend %takeover-logo;
      animation-delay: 2.25s;
      height: 15.5%;
      left: 15%;
      top: 82%;
    }

    .desktop-picto {
      @extend %takeover-logo;
      animation-delay: 1.5s;
      height: 16%;
      left: -5%;
      top: 23%;
    }

    .iot-picto {
      @extend %takeover-logo;
      animation-delay: 2s;
      height: 19%;
      left: 86%;
      top: 56%;
    }

    .server-picto {
      @extend %takeover-logo;
      animation-delay: 1.75s;
      height: 16%;
      left: 65%;
      top: 0;
    }
  }
}
