@mixin p-takeover-financial-services {
  @keyframes fade-left {
    0% {
      opacity: 0;
      transform: translateX(30%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-right {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .p-takeover--financial-services {
    $financial-services-background: #171717;

    background-color: $financial-services-background;
    background-image: linear-gradient(45deg, $financial-services-background 0%, #181818 9%, #262626 34%, #2d2d2d 67%, #383838 88%, #2e2e2e 100%, #393939 100%); // sass-lint:disable-line no-color-literals

    .p-takeover__title {
      color: $color-x-light;
      font-weight: 100;
    }

    .p-takeover__text {
      @extend %vf-heading-4;
      color: $color-x-light;
      margin-bottom: 1.7rem;
    }

    .p-takeover__col {
      @media (max-width: $breakpoint-medium) {
        margin: 0 3rem;
      }
    }

    .p-takeover__image-container {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;

      @media (max-width: $breakpoint-medium) {
        margin-bottom: 3.5rem;
        max-width: 300px;
      }
    }

    .financial-cloud {
      width: 100%;
      z-index: 2;
    }

    .light-grey-cloud {
      animation: fade-right 1.5s cubic-bezier(.215, .61, .355, 1) .75s 1 forwards;
      bottom: -12%;
      left: -18%;
      opacity: 0;
      position: absolute;
      transform: translateX(-10%);
      width: 66%;
      z-index: 1;
    }

    .aubergine-cloud {
      animation: fade-left 1.25s cubic-bezier(.215, .61, .355, 1) .5s 1 forwards;
      bottom: -20%;
      opacity: 0;
      position: absolute;
      right: -20%;
      transform: translateX(30%);
      width: 50%;
      z-index: 3;
    }
  }
}
