@mixin p-takeover-kubernetes-month {
  $color-kubernetes: #326ce5;

  .p-takeover--kubernetes-month {
    background-color: $color-kubernetes;
    background-image: url('#{$assets-path}7836831c-Takeover-small-screen.jpg?w=375');
    background-position: bottom center;
    background-size: none;

    @media (min-width: $breakpoint-small) {
      background-image: url('#{$assets-path}94206a69-Takeover-large-screen.jpg?w=1280');
    }

    @media (min-width: 1200px) {
      background-image: url('#{$assets-path}94206a69-Takeover-large-screen.jpg');
    }

    @media (min-width: 1600px) {
      background-size: cover;
    }
  }

  .p-takeover--kubernetes-logo {
    height: 257px;
    width: 264px;
  }
}

