@mixin p-takeover-rigado-webinar {
  .p-takeover--rigado-webinar {
    background-image: linear-gradient(-32deg, #2a5a77 0%, #2a5a77 9%, #407389 33%, #4a7e8f 69%, #568b98 90%, #47919e 100%);
    background-color: #2a5a77;

    @media (min-width: $breakpoint-medium) {
      background-image: url('#{$assets-path}ca263eff-left-side-suru-rigado-takeover.png'), url('#{$assets-path}58d3e923-right-side-suru-rigado-takeover.png'), linear-gradient(-32deg, #2a5a77 0%, #2a5a77 9%, #407389 33%, #4a7e8f 69%, #568b98 90%, #47919e 100%);
      background-color: #2a5a77;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom left, bottom right;
    }

    .p-takeover__title {
      font-weight: 100;
      color: $color-x-light;
    }

    .p-takeover__text {
      font-size: 1rem;
      color: $color-x-light;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.25rem;
      }
    }

    .p-takeover__image {
      width: 235px;
      height: 179px;

      @media (min-width: $breakpoint-medium) {
        width: 268px;
        height: 204px;
      }
    }
  }
}
