@mixin p-takeover-rigado-webinar {
  .p-takeover--rigado-webinar {
    background-image: linear-gradient(-32deg, #2A5A77 0%, #2A5A77 9%, #407389 33%, #4A7E8F 69%, #568B98 90%, #47919E 100%);
    background-color: #2A5A77;

    @media (min-width: $breakpoint-medium) {
      background-image: url('https://assets.ubuntu.com/v1/ca263eff-left-side-suru-rigado-takeover.png'), url('https://assets.ubuntu.com/v1/58d3e923-right-side-suru-rigado-takeover.png'), linear-gradient(-32deg, #2A5A77 0%, #2A5A77 9%, #407389 33%, #4A7E8F 69%, #568B98 90%, #47919E 100%);
      background-color: #2A5A77;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom left, bottom right;
    }

    .p-takeover__title {
      font-weight: 100;
      color: $color-x-light;
    }

    .p-takeover__text {
      font-size: 1rem;
      color: $color-x-light;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.25rem;
      }
    }

    .p-takeover__image {
      width: 235px;
      height: 179px;

      @media (min-width: $breakpoint-medium) {
        width: 268px;
        height: 204px;
      }
    }
  }
}
