<div class="col-4 blog-p-card--post">
  <header class="blog-p-card__header--{{article.group.slug}}">
    <h5 class="p-muted-heading">{{ article.group.name }}</h5>
  </header>

  <div class="blog-p-card__content">
    {% if article.image %}
      <div class="u-crop--16-9">
        <a href="/blog/{{ article.slug }}">
          {{
            image(
              url=article.image.source_url,
              alt="",
              height="165",
              width="293",
              hi_def=True,
              loading="lazy"
            ) | safe
          }}
        </a>
      </div>
    {% endif %}
    
    <h3 class="p-heading--4">
      <a href="/blog/{{ article.slug }}">{{ article.title.rendered|safe}}</a>
    </h3>

    {% if not article.image %}
      <p class="u-no-padding--bottom">{{ article.excerpt.raw.replace("[…]", "")|truncate(162)|urlize }}</p>
    {% endif %}

    {% if article.start_date and article.end_date %}
      <ul class="p-list u-no-margin--top">
        <li class="p-list__item">
          <i class="p-icon--calendar"></i>&nbsp;
          {{ article.start_date }}
          {% if article.start_date != article.end_date %}
           &ndash; {{ article.end_date }}
          {% endif %}
        </li>
      </ul>
    {% endif %}
  </div>

  <p class="blog-p-card__footer">
    {% if article.display_category %}
      {{ article.display_category.name }}
    {% endif %}
  </p>
</div>
