<section class="p-strip is-shallow is-bordered">
  <div class="row">
    <div class="col-12">
      {% if current_page and total_pages and total_pages > 1 %}
        {% with page_prefix= %}

        {% set query_args = request.args | urlencode %}
        {% set page_string = current_page | string %}
        {% set query_string = request.args | urlencode | replace('page=' + page_string, '') %}
        {% set page_prefix = request.path + '?' + query_string + '&page=' %}
        {% set page_prefix = page_prefix | replace('?&', '?') | replace('&&', '&') %}

          <ul class="p-inline-list--middot u-align--center" style="margin-bottom: 1rem;">
            {% if current_page > 1 %}
              <li class="p-inline-list__item"><a href="{{ page_prefix }}{{ current_page|add:"-1" }}">Previous</a></li>
            {% endif %}

            {% if current_page > 4 and current_page == total_pages %}
              <!-- 5 before current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}{{ current_page|add:"-4" }}">{{ current_page|add:"-4" }}</a></li>
            {% endif %}
            {% if current_page > 3 and current_page >= total_pages|add:"-1" %}
              <!-- 3 before current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}|add:"-3" }}">{{ current_page|add:"-3" }}</a></li>
            {% endif %}
            {% if current_page > 2 %}
              <!-- 2 before current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}|add:"-2" }}">{{ current_page|add:"-2" }}</a></li>
            {% endif %}
            {% if current_page > 1 %}
              <!-- 1 before current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}{{ current_page|add:"-1" }}">{{ current_page|add:"-1" }}</a></li>
            {% endif %}

            <!-- current page -->
            <li class="p-inline-list__item"><a class="p-link--strong p-heading--five" href="{{ page_prefix }}{{ current_page }}">{{ current_page }}</a></li>

            {% if current_page < total_pages %}
              <!-- 1 after current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}{{ current_page|add:"+1" }}">{{ current_page|add:"+1" }}</a></li>
            {% endif %}
            {% if current_page|add:"-1" %}
              <!-- 2 after current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}{{ current_page|add:"+2" }}">{{ current_page|add:"+2" }}</a></li>
            {% endif %}
            {% if current_page < total_pages|add:"-2" and current_page <= 2 %}
              <!-- 3 after current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}{{ current_page|add:"+3" }}">{{ current_page|add:"+3" }}</a></li>
            {% endif %}
            {% if current_page < total_pages|add:"-3" and current_page == 1 %}
              <!-- 4 after current page -->
              <li class="p-inline-list__item"><a class="p-link--soft" href="{{ page_prefix }}{{ current_page|add:"+4" }}">{{ current_page|add:"+4" }}</a></li>
            {% endif %}

            {% if total_pages > current_page %}
              <li class="p-inline-list__item"><a href="{{ page_prefix }}{{ current_page|add:"+1" }}">Next</a></li>
            {% endif %}
          </ul>
        {% endwith %}
      {% endif %}
    </div>
  </div>
</section>
