{% extends "kubernetes/base_kubernetes.html" %}

{% block title %}Enterprise Kubernetes for multi-cloud operations{% endblock %}

{% block meta_description %}Canonical Kubernetes enterprise solutions build up from Ubuntu OS to hybrid multi-cloud container orchestration clouds, edge and IoT, managed Kubernetes and enterprise support packages.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1b018GoKMF3abEFJlUkfAEK2JEhXWICKF4V0dGdTvgJs/edit{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-topped is-bordered">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-7">
      <h1>Canonical Kubernetes for multi-cloud operations</h1>
      <p class="p-heading--4">From the operating system to a full cloud native stack</p>
      <p>
        Ubuntu is the reference platform for Kubernetes on all major public cloud.
      </p>
      <p>
        Canonical Kubernetes is built on Ubuntu and combines security with optimal price-performance.
      </p>
      <p>
        Canonical is a Certified Kubernetes Service Provider, your trusted advisor for a successful cloud native strategy.
      </p>
      <p>
        Our cloud native automation framework ensures developer productivity and business innovation.
      </p>
      <p>
        <a class="p-button--positive js-invoke-modal" href="/kubernetes/contact-us">Get in touch</a>
        <a href="/kubernetes/install">Try it now&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-5 u-hide--medium u-hide--small u-align--center u-vertically-center">
      {{ image (
        url="https://assets.ubuntu.com/v1/f39b70f7-Canonical-Kubernetes-Stacked-logo-2022_RGB.svg",
        alt="",
        width="300",
        height="84",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
      <div style="display: flex; justify-content: center; align-items: center;">
        {{ image (
          url="https://assets.ubuntu.com/v1/62b09bad-certified-kubernetes-color.svg",
          alt="",
          width="113",
          height="150",
          hi_def=True,
          loading="lazy",
          attrs={"style": "padding:30px 15px;"}
          ) | safe
        }}
        {{ image (
          url="https://assets.ubuntu.com/v1/48ee616b-kubernetes-kcsp-color.svg",
          alt="",
          width="154",
          height="150",
          hi_def=True,
          loading="lazy",
          attrs={"style": "padding: 30px 20px;"}
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2 class="p-heading--2">Public cloud Kubernetes powered by Ubuntu</h2>
      <p class="p-heading--4 u-sv3">Cloud-tailored experience, optimised kernels, unlimited options</p>
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">Ubuntu is the host OS for the world's most popular cloud-hosted Kubernetes</li>
        <li class="p-list__item is-ticked">Per-cloud optimisations for performance, boot speed, and drivers on all major public clouds</li>
        <li class="p-list__item is-ticked">Out-of-the-box cloud integration with the option of enterprise-grade commercial support</li>
        <li class="p-list__item is-ticked">Ubuntu Pro provides deeper integrations with cloud services</li>
        <li class="p-list__item is-ticked">In-cloud Ubuntu package mirrors for high bandwidth and local updates</li>
        <li class="p-list__item is-ticked">Full control over kernel security patching with Canonical Livepatch</li>
      </ul>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{
              image(
              url="https://assets.ubuntu.com/v1/22fd6473-MicrosoftAzure_logo.svg",
              alt="Microsoft Azure",
              width="151",
              height="42",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"},
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{
              image(
              url="https://assets.ubuntu.com/v1/a82add58-profile-aws.svg",
              alt="AWS",
              width="88",
              height="52",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"},
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{
              image(
              url="https://assets.ubuntu.com/v1/6e176d9a-Google+Cloud+stacked.svg",
              alt="Google Cloud Platform",
              width="104",
              height="86",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"},
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{
              image(
              url="https://assets.ubuntu.com/v1/8207d0a9-IBM-cloud.svg",
              alt="IBM Cloud",
              width="191",
              height="44",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"},
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{
              image(
              url="https://assets.ubuntu.com/v1/f3be98eb-oracle-cloud-logo.png",
              alt="Oracle Cloud",
              width="164",
              height="86",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"},
              ) | safe
            }}
          </div>
        </div>
      </div>
      <p>
        <a href="/cloud/public-cloud">Learn more about public clouds&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr class="p-seperator">
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>Canonical Kubernetes distributions</h2>
      <p class="p-heading--4 u-sv3">CNCF conformant Kubernetes with enterprise support</p>
    </div>
  </div>
  <div class="row">
    <div class="p-card col-6">
      <p class="p-card__title">
        {{ image (
          url="https://assets.ubuntu.com/v1/03617f57-MicroK8s-logo-2022_RGB.svg",
          alt="",
          width="150",
          height="45",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </p>
      <p class="p-heading--5">Low-touch Kubernetes for clouds, edge and IoT</p>
      <div class="p-card__content">
        <div class="u-sv3 u-hide--small u-hide--medium u-align--center">
        {{
          image(
          url="https://assets.ubuntu.com/v1/9c55d397-IoT-Gateways-Kubernetes2.svg",
          alt="",
          width="400",
          hi_def=True,
          loading="lazy",
          ) | safe
        }}
        </div>
        <ul class="p-list">
          <li class="p-list__item is-ticked">All Kubernetes services and the most popular add ons in a single package</li>
          <li class="p-list__item is-ticked">Minimal ops for easy clustering, self-healing HA and simpler upgrades</li>
          <li class="p-list__item is-ticked">Lightweight K8s for resource-constrained environments</li>
          <li class="p-list__item is-ticked">Secure by default, strict confinement, and long term support</li>
          <li class="p-list__item is-ticked">Fixed-price deployment</li>
          <li class="p-list__item is-ticked">Compatible with Linux, Windows and macOS</li>
        </ul>
        <ul class="p-inline-list">
          <li class="p-inline-list__item"><a href="https://microk8s.io/">Try MicroK8s today&nbsp;&rsaquo;</a></li>
          <li class="p-inline-list__item"><a href="https://microk8s.io/resources">Learn more about MicroK8s&nbsp;&rsaquo;</a></li>
        </ul>
      </div>
    </div>
    <div class="p-card col-6">
      <p class="p-card__title">
        {{ image (
          url="https://assets.ubuntu.com/v1/e6cd15f7-Charmed+Kubernetes_RGB_2022.svg",
          alt="",
          width="300",
          height="45",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </p>
      <p class="p-heading--5">Composable, operator-based Kubernetes for the enterprise</p>
      <div class="p-card__content">
        <div class="u-sv3 u-hide--small u-hide--medium u-align--center">
          {{
            image(
            url="https://assets.ubuntu.com/v1/5a71594a-updated-charmed-k8s-calico.svg.svg",
            alt="",
            width="320",
            hi_def=True,
            loading="lazy",
            ) | safe
          }}
        </div>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Model-driven Kubernetes for fully customisable deployments</li>
          <li class="p-list__item is-ticked">Pluggable CNI, CSI, CRI and monitoring components</li>
          <li class="p-list__item is-ticked">Carrier-grade and hardware acceleration features</li>
          <li class="p-list__item is-ticked">Support for third-party components and services
          </li>
          <li class="p-list__item is-ticked">Full life cycle management for host and in-cluster with <a href="https://juju.is/">Juju</a></li>
        </ul>
        <ul class="p-inline-list">
          <li class="p-inline-list__item"><a href="/kubernetes/install#multi-node">Install Charmed K8&nbsp;&rsaquo;</a></li>
          <li class="p-inline-list__item"><a href="/kubernetes/features">Learn more about Charmed K8s&nbsp;&rsaquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="p-card col-12">
      <h3 class="p-card__title">Canonical Kubernetes benefits</h3>
      <div class="p-card__content">
        <ul class="p-list is-split">
          <li class="p-list__item is-ticked">Delivering the latest pure upstream Kubernetes across clouds of all form factors</li>
          <li class="p-list__item is-ticked">Extensive tooling catalog, lifecycle automation, and hundreds of integrations</li>
          <li class="p-list__item is-ticked">Enterprise-grade high-availability & GPU acceleration, tested across all major clouds</li>
          <li class="p-list__item is-ticked">Security patching and updates from the Ubuntu Security Team</li>
          <li class="p-list__item is-ticked">ARM, x86 and <a href="/certified">specialised hardware</a> to empower your innovation</li>
          <li class="p-list__item is-ticked">Fully supported components to enable a complete working solution</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="p-logo-section">
      <h2 class="p-logo-section__title u-align--left">Fully-support Kubernetes clouds</h2>
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          <a href="https://ubuntu.com/lxd">
            {{
              image (
              url="https://assets.ubuntu.com/v1/e375d3dc-lxd-logo-stacked.png",
              alt="LXD",
              width="316",
              height="316",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </a>
        </div>
        <div class="p-logo-section__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/f57104bf-cloud-sigma-logo.png",
            alt="Cloud Sigma",
            width="316",
            height="316",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          <a href="/kubernetes/docs/openstack-integration">
            {{
              image(
              url="https://assets.ubuntu.com/v1/6d16204d-openstack-logomark-logo.png",
              alt="Openstack",
              width="316",
              height="316",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </a>
        </div>
        <div class="p-logo-section__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/1e4b07f8-joyent-logo.png",
            alt="Joyent",
            width="316",
            height="316",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          <a href="/kubernetes/docs/equinix">
            {{
              image (
              url="https://assets.ubuntu.com/v1/c24d154b-equinix-logo.png",
              alt="Equinix",
              width="316",
              height="316",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </a>
        </div>
        <div class="p-logo-section__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/472e3d8a-rackspace-logo.png",
            alt="Rackspace",
            width="316",
            height="316",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          <a href="https://maas.io/">
            {{
              image (
              url="https://assets.ubuntu.com/v1/505ecea2-maas-logo-stacked.png",
              alt="MAAS",
              width="316",
              height="316",
              hi_def=True,
              loading="auto",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </a>
        </div>
        <div class="p-logo-section__item">
          <a href="/kubernetes/docs/vsphere-integration">
            {{
              image(
              url="https://assets.ubuntu.com/v1/87b04c6a-vmware-logo.png",
              alt="VMWARE",
              width="316",
              height="316",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Fully-managed Kubernetes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="p-heading--4">Cost-effective Kubernetes-as-a-service on public and private clouds</p>
      {{
        image(
        url="https://assets.ubuntu.com/v1/91154a9f-Managed+Kubernetes.svg",
        alt="Managed Kubernetes",
        width="284",
        height="200",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"},
        ) | safe
      }}
    </div>
    <div class="col-6">
      <ul class="p-list">
        <li class="p-list__item is-ticked">Predictable economics, full-stack monitoring and clear responsibilities</li>
        <li class="p-list__item is-ticked">Tailor-made Kubernetes deployments to address your use-cases</li>
        <li class="p-list__item is-ticked">24/7 active management by our team of experts</li>
        <li class="p-list__item is-ticked">99.9% uptime SLA means you get time back to focus on your business</li>
        <li class="p-list__item is-ticked">Experiencing traffic peaks? On-request scaling is part of the deal</li>
        <li class="p-list__item is-ticked">Upgrade fast to the latest stable Kubernetes the SAAS way</li>
        <li class="p-list__item is-ticked">Data and security compliance certified by industry standards</li>
        <li class="p-list__item is-ticked">Get back the keys to your Kubernetes as soon as you feel ready</li>
      </ul>
      <p>
        <a href="/kubernetes/managed">More on Managed Kubernetes&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip--suru">
  <div class="row">
    <h2>Kubernetes resources</h2>
  </div>
  <div class="row p-divider is-dark">
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--small">
        <div class="p-heading-icon__header">
          {{
            image(
            url="https://assets.ubuntu.com/v1/fc781c43-Case+study+-+white.svg",
            alt="",
            width="32",
            height="28",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img"},
            ) | safe
          }}
          <p class="p-heading--4 p-heading-icon__title">Case study</p>
        </div>
      </div>
      <a class="p-link--inverted" href="/engage/atresmedia-charmed-kubernetes-case-study">Atresmedia dominates Spain’s OTT media market with Charmed Kubernetes</a>
    </div>
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--small">
        <div class="p-heading-icon__header">
          {{
            image(
            url="https://assets.ubuntu.com/v1/271921af-Datasheet+-+white.svg",
            alt="",
            width="32",
            height="28",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img"},
            ) | safe
          }}
          <p class="p-heading--4 p-heading-icon__title">Whitepaper</p>
        </div>
      </div>
      <a class="p-link--inverted" href="/engage/kubernetes-deployment-enterprise-whitepaper">Five strategies to accelerate Kubernetes deployment in the enterprise</a>
    </div>
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--small">
        <div class="p-heading-icon__header">
          {{
            image(
            url="https://assets.ubuntu.com/v1/271921af-Datasheet+-+white.svg",
            alt="",
            width="32",
            height="28",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img"},
            ) | safe
          }}
          <p class="p-heading--4 p-heading-icon__title">Whitepaper</p>
        </div>
      </div>
      <p><a class="p-link--inverted" href="/engage/bare-metal-kubernetes">How to run workloads on bare metal Kubernetes with MAAS</a></p>
    </div>
    <p><a class="p-button" href="/kubernetes/resources">Find more resources</a></p>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Take control of your Kubernetes</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="p-heading--4">Next generation Infrastructure-as-code for intent-driven operations and integrations</p>
      <div class="u-align--center">
        {{
          image(
          url="https://assets.ubuntu.com/v1/52579016-JAAS+diagram-update.svg",
          alt="Managed Kubernetes",
          width="213",
          height="200",
          hi_def=True,
          loading="lazy",
          attrs={"class": "u-hide--small u-hide--medium"},
          ) | safe
        }}
      </div>
    </div>
    <div class="col-6">
      <ul class="p-list">
        <li class="p-list__item is-ticked">App domain operations knowledge, distilled into code</li>
        <li class="p-list__item is-ticked">Reduced complexity with composable application topologies</li>
        <li class="p-list__item is-ticked"><a href="https://juju.is/">Charmed operator lifecycle manager</a> (OLM)</li>
        <li class="p-list__item is-ticked">Parameterised async Day 2 operations</li>
        <li class="p-list__item is-ticked">Fine-grained sidecar workload control</li>
        <li class="p-list__item is-ticked"><a href="https://pythonoperatorframework.io/">Charmed operator framework</a> for shareable, reusable operators</li>
        <li class="p-list__item is-ticked">Less YAML, simpler operations code</li>
      </ul>
      <p>
        <a href="https://charmhub.io/overview">Explore the Charmed Operator Collection&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Integrated cluster management platforms</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="p-heading--4">Remove the toil of Kubernetes cluster management<p>
      <div class="u-align--center">
        {{
          image(
          url="https://assets.ubuntu.com/v1/db240da7-K8s_management_platform-01.svg",
          alt="Managed Kubernetes",
          width="290",
          height="200",
          hi_def=True,
          loading="lazy",
          attrs={"class": "u-hide--small u-hide--medium"},
          ) | safe
        }}
      </div>
    </div>
    <div class="col-6">
      <ul class="p-list u-no-margin--bottom">
        <li class="p-list__item is-ticked">No need to yaml and cli, we integrate with the most popular GUIs</li>
        <li class="p-list__item is-ticked">Single pane of glass for your Kubernetes and container estate</li>
        <li class="p-list__item is-ticked">Unified multi-cluster management and real-time monitoring</li>
        <li class="p-list__item is-ticked">Policy-based management, governance, security and compliance</li>
        <li class="p-list__item is-ticked">GitOps at scale for application management and configuration</li>
        <li class="p-list__item is-ticked">Flexibility across environments from <a href="public-cloud">public cloud</a> to edge</li>
      </ul>
      <div class="p-logo-section">
        <div class="p-logo-section__items u-hide--small">
          <div class="p-logo-section__item" style="margin:0 20px;">
            {{ image (
                url="https://assets.ubuntu.com/v1/017e0818-rancher-logo.png",
                alt="Rancher",
                width="288",
                height="288",
                hi_def=True,
                loading="auto",
                attrs={"class": "p-logo-section__logo"}
                ) | safe
              }}
          </div>
          <div class="p-logo-section__item" style="margin: 0 20px;">
            {{
              image(
              url="https://assets.ubuntu.com/v1/c767b383-Portainer+Logo.svg",
              alt="",
              width="137",
              height="40",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"},
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item" style="margin: 0 20px;">
              {{ image (
                url="https://assets.ubuntu.com/v1/717291f2-download.png",
                alt="",
                width="311",
                height="162",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-logo-section__logo"},
                ) | safe
              }}
          </div>
          <div class="p-logo-section__item" style="margin:0 20px;">
            {{ image (
              url="https://assets.ubuntu.com/v1/96712e22-AzureArcLarge.svg",
              alt="",
              width="253",
              height="96",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"},
              ) | safe
            }}
          </div>
        </div>
      </div>
      <p>
        <a href="/kubernetes/features">See all the Features&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2 id="services">Full stack K8s services</h2>
      <p class="p-heading--4 u-sv3">Transform your business and safeguard your infrastructure</p>
    </div>
  </div>
  <div class="row u-sv3">
    <div class="col-8">
      <h3>Long-term Enterprise Support</h3>
      <p>
        Get full-stack support through <a href="/pricing/infra">Ubuntu Pro</a>.<br>
        A single subscription for long-term security maintenance, kernel live patching and mission-critical infrastructure support from kernel to containers.<br>
        24/7 enterprise-grade support for  K8s, OS and applications, from public cloud to the edge.
      </p>
      <p><a href="https://assets.ubuntu.com/v1/b5f9ae49-Enterprise_Kubernetes_Datasheet.pdf?_ga=2.249162884.2061711891.1648626744-1660063247.1626983102">Read the datasheet&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/91b86713-Enterprise_support.svg",
        alt="Enterprise support",
        width="150",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>

  <div class="row">
    <h3>Bootstrap your Kubernetes journey</h3>
    <h4>Canonical Kubernetes consulting and cluster deployment services</h4>
  </div>
  <div class="row">
    <div class="p-card col-4">
      <h4 class="p-card__title">Kubernetes Explorer</h4>
      <p>Training &amp; onboarding package</p>
      <hr>
      <div class="p-card__content">
        <p>Three-day Kubernetes training to ramp up your team's skills, including:</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Kubernetes fundamentals</li>
          <li class="p-list__item is-ticked">Container development basics</li>
          <li class="p-list__item is-ticked">MicroK8s enablement</li>
          <li class="p-list__item is-ticked">Charmed Kubernetes enablement</li>
          <li class="p-list__item is-ticked">Monitoring and logging</li>
          <li class="p-list__item is-ticked">Kubernetes lifecycle management</li>
          <li class="p-list__item is-ticked">Security essentials</li>
        </ul>
      </div>
    </div>
    <div class="p-card col-4">
      <h4 class="p-card__title">Kubernetes Discoverer</h4>
      <p>Reference architecture design &amp; deployment</p>
      <hr>
      <div class="p-card__content">
        <p>Three-day training &amp; 2-week deployment of reference K8s architecture, including:</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">High Availability</li>
          <li class="p-list__item is-ticked"><a href="/cloud/public-cloud">Public clouds</a>, VMware, <a href="/openstack">Openstack</a></li>
          <li class="p-list__item is-ticked">Storage &amp; SDN basic options</li>
          <li class="p-list__item is-ticked">Logging, monitoring, alerting </li>
          <li class="p-list__item is-ticked">Kubernetes lifecycle management</li>
          <li class="p-list__item is-ticked">Security essentials</li>
          <li class="p-list__item is-ticked">Supported or Fully Managed</li>
        </ul>
      </div>
    </div>
    <div class="p-card col-4">
      <h4 class="p-card__title">Kubernetes Discoverer Plus</h4>
      <p>Custom architecture design &amp; deployment</p>
      <hr>
      <div class="p-card__content">
        <p>Three-week custom architecture deployment project and knowledge transfer, including:</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">High Availability</li>
          <li class="p-list__item is-ticked"><a href="/cloud/public-cloud">Public clouds</a>, VMware, <a href="/openstack">Openstack</a>, <a href="https://maas.io/">Bare metal</a></li>
          <li class="p-list__item is-ticked">Storage &amp; SDN extensive options</li>
          <li class="p-list__item is-ticked">Third-party integrations</li>
          <li class="p-list__item is-ticked">GPU Acceleration</li>
          <li class="p-list__item is-ticked">Private registry options</li>
          <li class="p-list__item is-ticked">Logging, monitoring, alerting</li>
          <li class="p-list__item is-ticked">Kubernetes lifecycle management</li>
          <li class="p-list__item is-ticked">Security essentials</li>
          <li class="p-list__item is-ticked">Supported or Fully Managed</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <a href="/pricing/consulting#kubernetes">Canonical Kubernetes services pricing&nbsp;&rsaquo;</a>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h1 class="p-heading--3">Kubernetes clusters with Kubeadm</h1>
      <p>Canonical provides commercial support for Kubernetes clusters deployed using kubeadm.</p>
      <p><a class="p-button--positive js-invoke-modal" href="/kubernetes/contact-us">Get support for kubeadm</a></p>
    </div>
    <div class="col-6 u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/d0fcc7ea-kubeadm-stacked-color.png",
        alt="Kubeadm",
        width="150",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-strip">
  <div class="row u-vertically-center">
    <div class="col-6">
      <h1 class="p-heading--3">Train for the future</h1>
      <p>Train your sysadmins and DevOps engineers to become Kubernetes, OpenStack or Ubuntu Server experts. Canonical runs training programmes to suit all environments and all levels of experience. Get the most out of your investment.</p>
      <p><a href="/training">Learn more about training&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6 u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/3a4d4155-Training.svg",
        alt="Kubeadm",
        width="300",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-vertically-center">
    <div class="col-8">
      <h1 class="p-heading--3">Get your K8s questions answered today</h1>
      <p>
        <a class="p-button--positive js-invoke-modal" href="/kubernetes/contact-us">Contact us</a>
      </p>
    </div>
    <div class="col-4 u-hide--small u-hide--medium">
      {{
        image(
        url="https://assets.ubuntu.com/v1/24a03775-Contact+us.svg",
        alt="",
        width="240",
        height="171",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

{% with first_item="_containers_juju", second_item="_cloud_lxd", third_item="_cloud_further_reading" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/kubernetes" data-form-id="3230" data-lp-id="6274" data-return-url="https://ubuntu.com/kubernetes/thank-you?product=kubernetes-features" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>

{% endblock content %}
