{% extends "kubernetes/base_kubernetes.html" %}

{% block title %}Resources{% endblock %}

{% block meta_description %}A collection of useful and educational resources and information about Canonical Kubernetes. Learn more about K8s from some of the industry's best.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/1enaCJ4Vt9a_2_l6xYccnZ-fBVUejPSmfMi8LP2aDA9c/edit{% endblock %}

{% block content %}

<section class="p-strip--suru">
  <div class="row u-equal-height">
    <div class="col-7">
      <h1>Understand Kubernetes: Resources</h1>
      <p>Explore a collection of useful resources that will help you understand and evaluate Canonical Kubernetes, with a focus on Charmed Kubernetes.</p>
      <p>Whitepapers, blogs, customer presentations, webinars, and more are conveniently collected here for you. We'll guide you through what each resource is about, and add more to this page over time.</p>
      <p><a href="https://microk8s.io/resources" class="p-link--inverted">For MicroK8s resources, follow this link&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</section>
<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Canonical Kubernetes FAQ</h2>
  </div>
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 id="what-is-microk8s" class="p-heading--4"><a href="/kubernetes/compare">How does Canonical Kubernetes compare with other Kubernetes platforms?</a></h3>
      </div>
      <div class="col-4">
        <p>The Kubernetes landscape is vast and complex. If you are looking to compare different enterprise Kubernetes distributions, this webpage provides a detailed overview.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/kubernetes/compare">
            <img src="https://assets.ubuntu.com/v1/198b738b-Compare_Kubernetes-Openshift-Rancher.svg" alt="How does Canonical Kubernetes compare with other Kubernetes platforms?" width="560" height="302" style="max-height: 315px; padding: 20px">
           </a>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Videos and webinars</h2>
  </div>
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 id="what-is-microk8s" class="p-heading--4"><a href="https://www.brighttalk.com/webcast/6793/435999/how-to-accelerate-kubernetes-deployment-in-the-enterprise">How to accelerate Kubernetes deployment in the enterprise</a></h3>
      </div>
      <div class="col-4">
        <p>Kubernetes and containers are taking the enterprise space by storm.</p>
        <p>This webinar presents the benefits and challenges of Kubernetes for enterprises, and compares the most popular types of Kubernetes deployments, from vanilla to fully managed clusters.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="https://www.brighttalk.com/webcast/6793/378029">
           <img src="https://www.brighttalk.com/communication/435999/preview_1598433480.png" alt="How to accelerate Kubernetes deployment in the enterprise" width="560" height="302">
          </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/kubernetes-use-cases-webinar">Enterprise Kubernetes use cases: 4 real-world stories</a></h3>
      </div>
      <div class="col-4">
        <p>Despite its increasing popularity, Kubernetes still poses a challenge to enterprises, especially during production deployments. This makes it hard to find success stories and best practices for enterprise Kubernetes adoption – but they do exist.</p>
        <p>In this webinar, you will learn how different businesses across 4 different industry verticals managed successful Kubernetes deployments using Canonical Kubernetes.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/kubernetes-use-cases-webinar">
           <img src="https://www.brighttalk.com/communication/512224/preview_1634033946.png" alt="Enterprise Kubernetes use cases: 4 real-world stories" width="560" height="302">
          </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/dell-kubernetes-webinar">A decision maker's guide to Kubernetes deployment in your data centre</a></h3>
      </div>
      <div class="col-4">
        <p>How do you compare Kubernetes to other options, get started with containers, and maintain over the long-term?</p>
        <p>This joint webinar between Canonical and Dell takes a quick snapshot of the container landscape and presents strategies for simple and seamless deployments.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/dell-kubernetes-webinar">
            <img src="https://www.brighttalk.com/communication/383698/preview_1581443383.png" alt="A decision maker's guide to Kubernetes deployment in your data centre" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/introduction-to-bare-metal-cloud">Introduction to bare-metal cloud with Kubernetes and MAAS</a></h3>
      </div>
      <div class="col-4">
        <p>Bare-metal cloud based on Kubernetes is a different approach for Kubernetes deployment that is gaining momentum, especially in AI/ML, HPC, Telco, and other compute-heavy use cases.</p>
        <p>This technical session guides users in optimizing Kubernetes performance, hardware flexibility, and removing operational bottlenecks through a comprehensive solution.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/introduction-to-bare-metal-cloud">
            <img src="https://cdn.brighttalk.com/ams/california/images/communication/533760/image_829854.jpg" alt="Introduction to bare-metal cloud with Kubernetes and MAAS" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/containers-as-a-service-webinar">Containers-as-a-service: deploy faster with Canonical and Portainer</a></h3>
      </div>
      <div class="col-4">
        <p>Canonical Kubernetes and Portainer have partnered in creating a container-as-a-service experience for business and users.</p>
        <p>This hands-on webinar gives an overview of the Canonical-Portainer solution and shows how to leverage their joint feature set to enable consistent and compliant deployments at scale.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/containers-as-a-service-webinar">
            <img src="https://www.brighttalk.com/communication/507143/preview_1631023263.png" alt="Containers-as-a-service: deploy faster with Canonical and Portainer" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/kubernetes-container-deployment">Deliver your software with Kubernetes</a></h3>
      </div>
      <div class="col-4">
        <p>Application vendors are often challenged by the complexity of Kubernetes.</p>
        <p>Using MicroK8s and Ubuntu as the building blocks for cloud-native solutions removes infrastructure dependencies. This ensures that software will run anywhere in a predictable manner.</p>
        <p>This session gives a high-level overview of the benefits of embedded Kubernetes for ISVs and the MicroK8s container delivery methodology.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/kubernetes-container-deployment">
            <img src="https://cdn.brighttalk.com/ams/california/images/communication/531839/image_826306.jpg" alt="Kubernetes on Windows with MicroK8s and WSL 2" width="560" height="302">
          </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/container-orchestration-edge">Micro clouds: Secure container orchestration at the edge</a></h3>
      </div>
      <div class="col-4">
        <p>The cloud-native way of building software allows for consistency across developer environments and massive scalability of application deployments. Both these attributes are useful at the edge, but create new challenges related to security and resilience.</p>
        <p>This webinar demonstrates how Canonical's modular technology stack addresses these challenges, using well-known cloud products such as MicroK8s and LXD.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/container-orchestration-edge">
            <img src="https://www.brighttalk.com/communication/470152/preview_1613133266.png" alt="Micro clouds: Secure container orchestration at the edge" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/edge-kubernetes-raspberry-pi-webinar">K8s at the edge: easy as "Pi"</a></h3>
      </div>
      <div class="col-4">
        <p>Discover how to build your own home cloud in this step-by-step video tutorial which combines the power of technologies such as LXD, MicroK8s, Charmed Operators, and Raspberry Pis.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/edge-kubernetes-raspberry-pi-webinar">
            <img src="https://www.brighttalk.com/communication/488796/preview_1621331611.png" alt="K8s at the edge" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Case studies/Whitepapers/Industry reports</h2>
  </div>
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/atresmedia-charmed-kubernetes-case-study">Atresmedia accesses high availability and unprecedented productivity with Charmed Kubernetes</a></h3>
      </div>
      <div class="col-4">
        <p>Atresmedia, the Spanish OTT media service provider responsible for hits shows such as La Casa de Papel (Money Heist), has been the most loyal customer of Canonical Kubernetes throughout the years.</p>
        <p>In this case study, you will learn how the company reached its technical and growth acceleration goals by hosting its Atresplayer platform leveraging Charmed Kubernetes.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/atresmedia-charmed-kubernetes-case-study">
            <img src="https://ubuntu.com/wp-content/uploads/89d1/Atresmedia.png" alt="Atresmedia accesses high availability and unprecedented productivity with Charmed Kubernetes" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/kubernetes-openstack-case-study-firmus">Firmus builds a supercloud with Canonical</a></h3>
      </div>
      <div class="col-4">
        <p>Firmus is setting a new precedent for sustainable public clouds, using Charmed Kubernetes and Openstack to build its latest "Supercloud".</p>
        <p>This case study gives you the details of this massive data centre build project and presents the challenges and solutions around scalability, day-2 operations and performance.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/kubernetes-openstack-case-study-firmus">
            <img src="https://assets.ubuntu.com/v1/7281d2f3-Private+Cloud+Build.svg" alt="Firmus builds a supercloud with Canonical" width="560" height="302" style="max-height: 315px; padding: 30px">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/kubernetes-openstack-case-study-firmus">Five strategies to accelerate Kubernetes deployment in the enterprise</a></h3>
      </div>
      <div class="col-4">
        <p>In this white paper we examine what motivates most enterprises to adopt Kubernetes, the approaches available and the considerations to take into account depending on an enterprises' own size, technical sophistication, current infrastructure and budget.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/kubernetes-openstack-case-study-firmus" style="display:flex; justify-content: center;">
            <img src="https://assets.ubuntu.com/v1/8eeeffca-Kubernetes+Agility.svg" alt="Five strategies to accelerate Kubernetes deployment in the enterprise" style="width: 50%; max-width: 230px; padding: 20px 10px;">
            <img src="https://assets.ubuntu.com/v1/91b86713-Enterprise_support.svg" alt="Five strategies to accelerate Kubernetes deployment in the enterprise" style="width: 50%; max-width: 230px; padding: 20px 10px;">
        </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/enterprise-kubernetes-comparison">Kubernetes platform comparison: Red Hat OpenShift, SUSE Rancher and Canonical Kubernetes</a></h3>
      </div>
      <div class="col-4">
        <p>There are numerous Kubernetes distributions in the market, and it can be tricky to understand which is the best-suited option based on an organisation's needs.</p>
        <p>This whitepaper aims to address this challenge by comparing three leading enterprise-grade Kubernetes distributions.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/enterprise-kubernetes-comparison">
            <img src="https://assets.ubuntu.com/v1/198b738b-Compare_Kubernetes-Openshift-Rancher.svg" alt="Kubernetes platform comparison: Red Hat OpenShift, SUSE Rancher and Canonical Kubernetes" width="560" height="302" style="max-height: 315px; padding: 20px">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/bare-metal-kubernetes">How to run workloads on bare-metal Kubernetes with MAAS</a></h3>
      </div>
      <div class="col-4">
        <p>This is the definitive whitepaper on bare-metal Kubernetes featuring MAAS.</p>
        <p>This whitepaper goes in-depth into the history of VMs, how they compare with Kubernetes, and the important role bare-metal orchestration has to play. Learn how to deploy Kubernetes on bare-metal with MAAS and its benefits. This session is designed to go hand in hand with the <a href="#?">Intro to bare-metal cloud</a> webinar.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/bare-metal-kubernetes">
            <img src="https://assets.ubuntu.com/v1/946afb4b-MAAS_K8s.png" alt="How to run workloads on bare-metal Kubernetes with MAAS" width="560" height="302" style="max-height: 315px;">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="https://juju.is/cloud-native-kubernetes-usage-report-2022">Kubernetes and cloud-native operations report</a></h3>
      </div>
      <div class="col-4">
        <p>Canonical is a proud member of the CNCF and MicroK8s is a very popular Kubernetes distribution for developers and enterprises alike.</p>
        <p>In this industry report, we wanted to leverage our user base to share important data around the usage and operations of Kubernetes and cloud-native technologies. We asked industry experts to provide their insights &ndash; this makes for a fascinating read.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="https://juju.is/cloud-native-kubernetes-usage-report-2022">
            <img src="https://ubuntu.com/wp-content/uploads/bc04/Screen-Shot-2022-05-16-at-6.22.31-AM.png" alt="Kubernetes and cloud-native operations report" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>Blogs</h2>
    <p>All Canonical blogs related to Kubernetes can be found here. This rich set of content covers everything from high-level product announcements to hands-on technical guides that dig into more complicated topics.</p>
  </div>
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/kubernetes-ci-cd-pipelines-what-why-and-how">Kubernetes infographic: usage of cloud-native technology in 2021</a></h3>
      </div>
      <div class="col-4">
        <p>A quick, visual summary of the top findings from the Kubernetes and cloud-native operations report.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/kubernetes-ci-cd-pipelines-what-why-and-how">
            <img src="https://ubuntu.com/wp-content/uploads/f001/K8sinfographic_banner_Grad_1200x628.jpeg" alt="Kubernetes infographic: usage of cloud-native technology in 2021" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/kubernetes-fully-managed-overcoming-cios-challenges">Kubernetes Fully Managed: Overcoming CIOs challenges</a></h3>
      </div>
      <div class="col-4">
        <p>Many organisations are using managed services for commodity operations to free up their resources for more strategic activities. That also applies to managed Kubernetes services.</p>
        <p>In this blog, we take you through the considerations for businesses to adopt managed K8s.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/kubernetes-fully-managed-overcoming-cios-challenges">
            <img src="https://ubuntu.com/wp-content/uploads/766b/managed-k8s.png" alt="Kubernetes Fully Managed: Overcoming CIOs challenges" width="560" height="302" style="max-height: 315px; width: auto; padding: 20px">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/kubernetes-for-finservs-unlocking-success-in-digital-transformations">Kubernetes for Finservs &ndash; Unlocking success in digital transformations</a></h3>
      </div>
      <div class="col-4">
        <p>To serve the on-demand customer, financial institutions must become agile digital enterprises focused on delivering innovative products, services, and customer experiences.</p>
        <p>In this blog, Kris Sharma, Executive Product Manager on Financial Services, analyses the key role containerisation and Kubernetes have in enabling financial institutions to meet the needs of customers at speed and scale.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/kubernetes-for-finservs-unlocking-success-in-digital-transformations">
            <img src="https://ubuntu.com/wp-content/uploads/ff84/rinson-chory-2vPGGOU-wLA-unsplash.jpg" alt="Kubernetes for Finservs – Unlocking success in digital transformations" width="560" height="302" style="max-height: 315px;">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/bare-metal-kubernetes-clusters-spectro-cloud-maas">Provisioning bare-metal Kubernetes clusters with Spectro Cloud and MAAS</a></h3>
      </div>
      <div class="col-4">
        <p>Bare-metal Kubernetes can be really interesting for companies looking for the benefits of containerisation combined with the improved performance and security of physical machines.</p>
        <p>In this blog, Anton Smith, Product Manager for MAAS, elaborates on the bare-metal K8s topic and presents a solution that streamlines bare-metal provisioning using MAAS and Spectro cloud.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/bare-metal-kubernetes-clusters-spectro-cloud-maas">
            <img src="https://ubuntu.com/wp-content/uploads/960b/servers.jpg" alt="Provisioning bare-metal Kubernetes clusters with Spectro Cloud and MAAS" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/gitops-with-azure-arc-and-charmed-kubernetes">Kubernetes GitOps with Azure Arc and Charmed Kubernetes</a></h3>
      </div>
      <div class="col-4">
        <p>One of the main benefits of Canonical Kubernetes is its multi-cloud focus.</p>
        <p>This blog announces the integration and certification of Charmed Kubernetes on Microsoft Azure Arc, which simplifies multi-cloud deployments and operations and adds GitOps and policy management to Kubernetes, both on-prem and on Azure.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/gitops-with-azure-arc-and-charmed-kubernetes">
            <img src="https://ubuntu.com/wp-content/uploads/dc0e/Title-Cards-11.png" alt="Kubernetes GitOps with Azure Arc and Charmed Kubernetes" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/multi-cloud-kubernetes-management-with-portainer">Multi-cloud Kubernetes management with Portainer</a></h3>
      </div>
      <div class="col-4">
        <p>Managing Kubernetes clusters at a large scale can be cumbersome even for the most skilled platform teams.</p>
        <p>This blog is a collection of online resources, that were co-authored with Portainer.io, and allows you to build and manage Canonical Kubernetes clusters using the Portainer management solution.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/multi-cloud-kubernetes-management-with-portainer">
            <img src="https://ubuntu.com/wp-content/uploads/bf68/Screen-Shot-2021-09-23-at-11.09.07-AM1.png" alt="Multi-cloud Kubernetes management with Portainer" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/kubernetes-versus-docker">Kubernetes vs Docker</a></h3>
      </div>
      <div class="col-4">
        <p>One of the most common online searches on the topic of containers is 'Kubernetes vs Docker'.</p>
        <p>In this blog, we analyse the two terms and elaborate on their similarities and differences.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/kubernetes-versus-docker">
            <img src="https://ubuntu.com/wp-content/uploads/cd8e/facebook_and_linkedin_banner-1.jpeg" alt="Kubernetes vs Docker" width="560" height="302">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/blog/what-is-cloud-native">What is cloud-native?</a></h3>
      </div>
      <div class="col-4">
        <p>The term cloud-native is widely used when thinking about computing and software development, encompassing a wide range of concepts that are regularly used in technology.</p>
        <p>This blog attempts to break down what cloud-native really means.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/blog/what-is-cloud-native">
            <img src="https://ubuntu.com/wp-content/uploads/5892/IMG_4410.resized.jpg" alt="What is cloud-native?" width="560" height="302" style="max-height: 315px">
           </a>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Reference architectures/Solution briefs</h2>
  </div>
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/dell-k8s-reference-architecture">Charmed Kubernetes reference architecture by Dell Technologies and Canonical</a></h3>
      </div>
      <div class="col-4">
        <p>This document is a complete guide on the integration of Charmed Kubernetes, as delivered by Canonical, with VxFlex OS (previously known as ScaleIO) from Dell Technologies - a scalable and resilient solution of software-defined storage.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/dell-k8s-reference-architecture">
            <img src="https://assets.ubuntu.com/v1/d9ce623d-Canonical Kubernetes + DELL vertical.png" alt="Canoncial Kubernetes and Dell logo" width="280" height="170">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="/engage/hpe-telco-validated-design-with-canonical-kubernetes">HPE Telco validated design with Canonical Kubernetes</a></h3>
      </div>
      <div class="col-4">
        <p>Telco infrastructure solutions from HPE and Canonical provide leading, carrier-grade infrastructure to enable choice, flexibility, agility, and a lower total cost of ownership (TCO).</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="/engage/hpe-telco-validated-design-with-canonical-kubernetes">
            <img src="https://assets.ubuntu.com/v1/62629d82-Canonical Kubernetes + HPE vertical.png" alt="Canonical Kubernetes and HPE logo" width="280" height="227">
           </a>
        </div>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width" />
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="https://lenovopress.com/lp1415-canonical-charmed-kubernetes-on-thinksystem-for-ai-development">Charmed Kubernetes reference architecture by Lenovo and Canonical</a></h3>
      </div>
      <div class="col-4">
        <p>This document describes the deployment and integration of Canonical Kubernetes with Lenovo ThinkSystem infrastructure to cater to AI/ML use cases.</p>
      </div>
      <div class="col-4">
        <div class="u-hide--small u-align--center">
          <a href="https://lenovopress.com/lp1415-canonical-charmed-kubernetes-on-thinksystem-for-ai-development">
            <img src="https://assets.ubuntu.com/v1/76353126-Canonical Kubernetes + Lenovo vertical.png" alt="Canonical Kubernetes and Lenovo logo" width="280" height="193">
           </a>
        </div>
      </div>
    </div>
  </article>
{% endblock %}
