{% extends "kubernetes/base_kubernetes.html" %}

{% from "macros/_macros-resource.jinja" import resource_section %}

{% block title %}Kubernetes resources{% endblock %}

{% block meta_description %}
  A collection of useful and educational resources and information about Kubernetes. Learn more about K8s from some of the industry's best.
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1enaCJ4Vt9a_2_l6xYccnZ-fBVUejPSmfMi8LP2aDA9c/edit?tab=t.0
{% endblock %}

{% block content %}

  <section class="p-section--hero">
    <div class="row--50-50">
      <div class="col">
        <h1>
          Learn Kubernetes:
          <br />
          Resources
        </h1>
      </div>
      <div class="col">
        <p>
          Explore a collection of useful resources that will help you understand and evaluate Canonical Kubernetes Platform.
        </p>
        <p>
          Whitepapers, blogs, customer presentations, webinars, and more are conveniently collected here for you. We'll guide you through what each resource is about, and add more to this page over time.
        </p>
        <div class="p-cta-block">
          <a href="/kubernetes/contact-us"
             class="p-button--positive js-invoke-modal"
             aria-controls="kubernetes-modal">Get in touch</a>
        </div>
      </div>
    </div>
  </section>

  <div class="p-section--deep u-fixed-width">
    <nav class="p-tabs js-tabbed-content">
      <ul class="p-tabs__list"
          role="tablist"
          aria-label="Kubernetes resources"
          data-maintain-hash="true">
        <li class="p-tabs__item">
          <a href="#videos-and-webinars"
             class="p-tabs__link"
             role="tab"
             aria-selected="true"
             aria-controls="videos-and-webinars-tab"
             id="videos-and-webinars">Videos and webinars</a>
        </li>
        <li class="p-tabs__item">
          <a href="#case-studies"
             class="p-tabs__link"
             role="tab"
             aria-selected="false"
             aria-controls="case-studies-tab"
             id="case-studies"
             tabindex="-1">Case studies</a>
        </li>
        <li class="p-tabs__item">
          <a href="#whitepapers-and-industry-reports"
             class="p-tabs__link"
             role="tab"
             aria-selected="false"
             aria-controls="whitepapers-and-industry-reports-tab"
             id="whitepapers-and-industry-reports"
             tabindex="-1">Whitepapers and industry reports</a>
        </li>
        <li class="p-tabs__item">
          <a href="#blogs"
             class="p-tabs__link"
             role="tab"
             aria-selected="false"
             aria-controls="blogs-tab"
             id="blogs"
             tabindex="-1">Blogs</a>
        </li>
        <li class="p-tabs__item">
          <a href="#reference-architectures-and-solution-briefs"
             class="p-tabs__link"
             role="tab"
             aria-selected="false"
             aria-controls="reference-architectures-and-solution-briefs-tab"
             id="reference-architectures-and-solution-briefs"
             tabindex="-1">Reference architectures and solution briefs</a>
        </li>
      </ul>
    </nav>

    <div class="p-tabs__content"
         tabindex="0"
         role="tabpanel"
         id="videos-and-webinars-tab"
         aria-labelledby="videos-and-webinars">
      {%- call(slot) resource_section(
        date="18 September 2024",
        hr=False
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="https://canonical.com/blog/author/munteanuandreea"
             aria-label="Andreea Munteanu's blog author profile">Andreea Munteanu</a>,
          <a href="https://canonical.com/blog/author/perk"
             aria-label="Marcin Stozek's blog author profile">Marcin Stozek</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/optimise-ml-workloads-on-kubernetes"
             aria-label="Watch 'Optimize your ML workloads on Kubernetes'">Optimize your ML workloads on Kubernetes</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            AI is at the forefront of innovation. It challenges organizations to rethink their processes and adjust their infrastructure. Enterprises are looking to leverage their existing computing power to accelerate model training and use tools such as Kubernetes for container orchestration, or Kubeflow for workload automation, in order to move their ML projects to production.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/2f130417-r2.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="15 March 2022"
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="https://canonical.com/blog/author/anton5mith"
             aria-label="Anton Smith's blog author profile">Anton Smith</a>,
          <a href="https://canonical.com/blog/author/achalkias"
             aria-label="Alex Chalkias's blog author profile">Alex Chalkias</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/introduction-to-bare-metal-cloud"
             aria-label="Watch 'Introduction to bare-metal cloud with Kubernetes and MAAS'">Introduction to bare-metal cloud with Kubernetes and MAAS</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Bare-metal cloud based on Kubernetes is a different approach for Kubernetes deployment that is gaining momentum, especially in AI/ML, HPC, Telco, and other compute-heavy use cases.
          </p>
          <p>
            This technical session guides users in optimizing Kubernetes performance, hardware flexibility, and removing operational bottlenecks through a comprehensive solution.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/5425f672-r3.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="23 September 2021"
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="https://canonical.com/blog/author/achalkias"
             aria-label="Alex Chalkias's blog author profile">Alex Chalkias</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/containers-as-a-service-webinar"
             aria-label="Watch 'Containers-as-a-service: deploy faster with Canonical and Portainer'">Containers-as-a-service: deploy faster with Canonical and Portainer</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Canonical Kubernetes and Portainer have partnered in creating a container-as-a-service experience for business and users.
          </p>
          <p>
            This hands-on webinar gives an overview of the Canonical-Portainer solution and shows how to leverage their joint feature set to enable consistent and compliant deployments at scale.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/331cadc2-CAAS-with-bg.png",
                    alt="",
                    width="1800",
                    height="1014",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="7 March 2022"
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="https://canonical.com/blog/author/achalkias"
             aria-label="Alex Chalkias's blog author profile">Alex Chalkias</a>, Mark Lewis
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/kubernetes-container-deployment"
             aria-label="Watch 'Deliver your software with Kubernetes'">Deliver your software with Kubernetes</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>Application vendors are often challenged by the complexity of Kubernetes.</p>
          <p>
            Using MicroK8s and Ubuntu as the building blocks for cloud-native solutions removes infrastructure dependencies. This ensures that software will run anywhere in a predictable manner.
          </p>
          <p>
            This session gives a high-level overview of the benefits of embedded Kubernetes for ISVs and the MicroK8s container delivery methodology.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/8fb99498-Deliver your software-with-bg.png",
                    alt="",
                    width="1800",
                    height="1014",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="3 March 2021"
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="https://canonical.com/blog/author/achalkias"
             aria-label="Alex Chalkias's blog author profile">Alex Chalkias</a>,
          <a href="https://canonical.com/blog/author/valentinviennot"
             aria-label="Valentin Viennot's blog author profile">Valentin Viennot</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/container-orchestration-edge"
             aria-label="Watch 'Micro clouds: Secure container orchestration at the edge'">Micro clouds: Secure container orchestration at the edge</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            The cloud-native way of building software allows for consistency across developer environments and massive scalability of application deployments. Both these attributes are useful at the edge, but create new challenges related to security and resilience.
          </p>
          <p>
            This webinar demonstrates how Canonical's modular technology stack addresses these challenges, using well-known cloud products such as MicroK8s and LXD.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}

          {{ image(url="https://assets.ubuntu.com/v1/900457ee-Micro clouds-with-bg.png",
                    alt="",
                    width="1800",
                    height="1014",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="23 June 2021"
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="https://canonical.com/blog/author/achalkias"
             aria-label="Alex Chalkias's blog author profile">Alex Chalkias</a>,
          <a href="https://canonical.com/blog/author/valentinviennot"
             aria-label="Valentin Viennot's blog author profile">Valentin Viennot</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/edge-kubernetes-raspberry-pi-webinar"
             aria-label="Watch 'K8s at the edge: easy as “Pi”'">K8s at the edge: easy as “Pi”</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Discover how to build your own home cloud in this step-by-step video tutorial which combines the power of technologies such as LXD, MicroK8s, Charmed Operators, and Raspberry Pis.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/c8d0a1d4-r7.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    loading="lazy") | safe
          }}
        {%- endif -%}
      {%- endcall %}
    </div>

    <div class="p-tabs__content u-hide"
         tabindex="0"
         role="tabpanel"
         id="case-studies-tab"
         aria-labelledby="case-studies">
      {%- call(slot) resource_section(
        hr=False
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/case-study/esa"
             aria-label="Read the 'Canonical deploys infrastructure solutions and managed IT services for critical space mission operations' case study">Canonical deploys infrastructure solutions and managed IT services for critical space mission operations</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Canonical's Kubernetes distribution brought automatic updates and deployment, 24/7 monitoring and reduced system complexity to ESA's Missions Operations Infrastructure &ndash; IT (MOI-IT) team. This new system allows ESA's IT infrastructure teams to easily deploy its workloads with full integration into the existing IT services, giving it a greater ability to support both ESA missions and those of its partners.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/90e1fe3b-r8.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/oneuptime-cost-savings-case-study"
             aria-label="Read the 'OneUptime takes back its servers and saves $352,500 a year with Canonical infrastructure solutions' case study">OneUptime takes back its servers and saves $352,500 a year with Canonical infrastructure solutions</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Migrating to bare metal infrastructure using Canonical's open source technologies allowed monitoring services provider OneUptime to have greater control over its infrastructure and services &ndash; while saving over 76% of their cloud costs.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/d4b06fc5-r9.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/atresmedia-charmed-kubernetes-case-study"
             aria-label="Read the 'Atresmedia accesses high availability and unprecedented productivity with Charmed Kubernetes' case study">Atresmedia accesses high availability and unprecedented productivity with Charmed Kubernetes</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Atresmedia, the Spanish OTT media service provider responsible for hits shows such as La Casa de Papel (Money Heist), has been the most loyal customer of Canonical Kubernetes throughout the years.
          </p>
          <p>
            In this case study, you will learn how the company reached its technical and growth acceleration goals by hosting its Atresplayer platform leveraging Charmed Kubernetes.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/1e30394a-r10.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/kubernetes-openstack-case-study-firmus"
             aria-label="Read the 'Firmus builds a supercloud with Canonical' case study">Firmus builds a supercloud with Canonical</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Firmus is setting a new precedent for sustainable public clouds, using Charmed Kubernetes and Openstack to build its latest “Supercloud”.
          </p>
          <p>
            This case study gives you the details of this massive data centre build project and presents the challenges and solutions around scalability, day-2 operations and performance.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/b659c173-r11.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}
    </div>

    <div class="p-tabs__content u-hide"
         tabindex="0"
         role="tabpanel"
         id="whitepapers-and-industry-reports-tab"
         aria-labelledby="whitepapers-and-industry-reports">

      {%- call(slot) resource_section(
        hr=False
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/enterprise-kubernetes-comparison"
             aria-label="Read the 'Kubernetes platform comparison: Red Hat OpenShift, SUSE Rancher and Canonical Kubernetes' whitepaper">Kubernetes platform comparison: Red Hat OpenShift, SUSE Rancher and Canonical Kubernetes</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            There are numerous Kubernetes distributions in the market, and it can be tricky to understand which is the best-suited option based on an organisation's needs.
          </p>
          <p>
            This whitepaper aims to address this challenge by comparing three leading enterprise-grade Kubernetes distributions.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/08ac7498-r12.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/bare-metal-kubernetes"
             aria-label="Read the 'How to run workloads on bare-metal Kubernetes with MAAS' whitepaper">How to run workloads on bare-metal Kubernetes with MAAS</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>This is the definitive whitepaper on bare-metal Kubernetes featuring MAAS.</p>
          <p>
            This whitepaper goes in-depth into the history of VMs, how they compare with Kubernetes, and the important role bare-metal orchestration has to play. Learn how to deploy Kubernetes on bare-metal with MAAS and its benefits. This session is designed to go hand in hand with the <a href="/engage/introduction-to-bare-metal-cloud">Intro to bare-metal cloud</a> webinar.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/ea47d4b0-r13.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}
    </div>

    <div class="p-tabs__content u-hide"
         tabindex="0"
         role="tabpanel"
         id="blogs-tab"
         aria-labelledby="blogs">

      {%- call(slot) resource_section(
        date="14 March 2024",
        hr=False
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="https://canonical.com/blog/author/perk"
             aria-label="Marcin Stozek's blog author profile">Marcin Stozek</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/blog/try-canonical-kubernetes-beta"
             aria-label="Read the 'How should a great K8s distro feel? Try the new Canonical Kubernetes, now in beta' blog">How should a great K8s distro feel? Try the new Canonical Kubernetes, now in beta</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            After providing Kubernetes distributions since 2015, we present our new K8s distribution. It combines the best of both worlds: ZeroOps with most important features built-in, and intelligent automation for production environments that want to benefit from the latest community innovations.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/dbd39576-r14.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="2 November 2021",
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="/blog/author/omarali94"
             aria-label="Omar Ali Amin's blog author profile">Omar Ali Amin</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/blog/kubernetes-fully-managed-overcoming-cios-challenges"
             aria-label="Read the 'Kubernetes Fully Managed: Overcoming CIOs challenges' blog">Kubernetes Fully Managed: Overcoming CIOs challenges</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Many organizations are using managed services for commodity operations to free up their resources for more strategic activities. That also applies to managed Kubernetes services.
          </p>
          <p>In this blog, we take you through the considerations for businesses to adopt managed K8s.</p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/a304de6c-r15.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="10 January 2022",
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="/blog/author/krissharma"
             aria-label="Kris Sharma's blog author profile">Kris Sharma</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/blog/kubernetes-for-finservs-unlocking-success-in-digital-transformations"
             aria-label="Read the 'Kubernetes for Finservs &ndash; Unlocking success in digital transformations' blog">Kubernetes for Finservs &ndash; Unlocking success in digital transformations</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            To serve the on-demand customer, financial institutions must become agile digital enterprises focused on delivering innovative products, services, and customer experiences.
          </p>
          <p>
            In this blog, Kris Sharma, Executive Product Manager on Financial Services, analyses the key role containerization and Kubernetes have in enabling financial institutions to meet the needs of customers at speed and scale.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/f3da1be0-r16.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="8 October 2021",
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="/blog/author/anton5mith"
             aria-label="Anton Smith's blog author profile">Anton Smith</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/blog/bare-metal-kubernetes-clusters-spectro-cloud-maas"
             aria-label="Read the 'Provisioning bare-metal Kubernetes clusters with Spectro Cloud and MAAS' blog">Provisioning bare-metal Kubernetes clusters with Spectro Cloud and MAAS</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Bare-metal Kubernetes can be really interesting for companies looking for the benefits of containerization combined with the improved performance and security of physical machines.
          </p>
          <p>
            In this blog, Anton Smith, Product Manager for MAAS, elaborates on the bare-metal K8s topic and presents a solution that streamlines bare-metal provisioning using MAAS and Spectro cloud.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/187dc16d-r17.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="9 March 2021",
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="/blog/author/achalkias"
             aria-label="Alex Chalkias's blog author profile">Alex Chalkias</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/blog/multi-cloud-kubernetes-management-with-portainer"
             aria-label="Read the 'Multi-cloud Kubernetes management with Portainer' blog">Multi-cloud Kubernetes management with Portainer</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>Managing Kubernetes clusters at a large scale can be cumbersome even for the most skilled platform teams.</p>
          <p>
            This blog is a collection of online resources that were co-authored with Portainer.io, and allows you to build and manage Canonical Kubernetes clusters using the Portainer management solution.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/56c5b77b-r18.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="27 August 2020",
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="/blog/author/achalkias"
             aria-label="Alex Chalkias's blog author profile">Alex Chalkias</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/blog/kubernetes-versus-docker"
             aria-label="Read the 'Kubernetes vs Docker' blog">Kubernetes vs Docker</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>One of the most common online searches on the topic of containers is 'Kubernetes vs Docker'.</p>
          <p>In this blog, we analyse the two terms and elaborate on their similarities and differences.</p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/37ca870f-r19.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    loading="lazy") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        date="23 March 2021",
        ) -%}

        {%- if slot == "author_links" -%}
          <a href="/blog/author/hollyhall"
             aria-label="Holly Hall's blog author profile">Holly Hall</a>
        {%- endif -%}

        {%- if slot == "title_link" -%}
          <a href="/blog/what-is-cloud-native"
             aria-label="Read the 'What is cloud-native?' blog">What is cloud-native?</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            The term cloud-native is widely used when thinking about computing and software development, encompassing a wide range of concepts that are regularly used in technology.
          </p>
          <p>This blog attempts to break down what cloud-native really means.</p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/9c7ea586-r20.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    loading="lazy") | safe
          }}
        {%- endif -%}
      {%- endcall %}
    </div>

    <div class="p-tabs__content u-hide"
         tabindex="0"
         role="tabpanel"
         id="reference-architectures-and-solution-briefs-tab"
         aria-labelledby="reference-architectures-and-solution-briefs">

      {%- call(slot) resource_section(
        hr=False
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/dell-k8s-reference-architecture"
             aria-label="Read the 'Charmed Kubernetes reference architecture by Dell Technologies and Canonical' brief">Charmed Kubernetes reference architecture by Dell Technologies and Canonical</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            This document is a complete guide on the integration of Charmed Kubernetes, as delivered by Canonical, with VxFlex OS (previously known as ScaleIO) from Dell Technologies - a scalable and resilient solution of software-defined storage.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/2c6bffde-r21.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="/engage/hpe-telco-validated-design-with-canonical-kubernetes"
             aria-label="Read the 'HPE Telco validated design with Canonical Kubernetes' brief">HPE Telco validated design with Canonical Kubernetes</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            Telco infrastructure solutions from HPE and Canonical provide leading, carrier-grade infrastructure to enable choice, flexibility, agility, and a lower total cost of ownership (TCO).
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/9b9d799f-r22.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}

      {%- call(slot) resource_section(
        ) -%}

        {%- if slot == "title_link" -%}
          <a href="https://lenovopress.com/lp1415-canonical-charmed-kubernetes-on-thinksystem-for-ai-development"
             aria-label="Read the 'Charmed Kubernetes reference architecture by Lenovo and Canonical' brief">Charmed Kubernetes reference architecture by Lenovo and Canonical</a>
        {%- endif -%}

        {%- if slot == "description" -%}
          <p>
            This document describes the deployment and integration of Canonical Kubernetes with Lenovo ThinkSystem infrastructure to cater to AI/ML use cases.
          </p>
        {%- endif -%}

        {%- if slot == "image" -%}
          {{ image(url="https://assets.ubuntu.com/v1/fd4e69fe-r23.png",
                    alt="",
                    width="852",
                    height="480",
                    hi_def=False,
                    attrs={"class": "p-image-container__image"},
                    loading="auto") | safe
          }}
        {%- endif -%}
      {%- endcall %}
    </div>
  </div>

  {{ load_form("/kubernetes") | safe }}

  <script src="{{ versioned_static('js/dist/tabbedContent.js') }}"></script>

{% endblock %}
