  @charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Containers section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @subsection /containers/lxd
.containers-lxd {
  .command-line {
    background: $light-grey;
    border: 0;

    > code {
      color: $cool-grey;
    }
  }
}

// @subsection /containers/kubernetes
.containers-kubernetes {
  .row-expertise__image {
    margin-right: 20px;
    width: 15vw;

    @media only screen and (min-width : $breakpoint-large) {
      width: 150px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
