// contextual-footer styles

// placeholder
%contextual-footer-responsive-fonts {
  font-size: .875em;

  @media only screen and (min-width: $breakpoint-medium) {
    font-size: .9375em;
  }

  @media only screen and (min-width: $breakpoint-large) {
    font-size: 1em;
  }
}

// start of styles
.contextual-footer {
  background-color: $white;
  border: 0;
  box-sizing: border-box;
  clear: both;
  display: block;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  width: 100%;

  @media only screen and (min-width: $breakpoint-medium) {
    border-radius: 0;
    margin: 0;
    padding: 0 0 30px;
  }

  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }

  &__content-container {
    float: none;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 10px;
    padding-right: 10px;

    @media only screen and (min-width: $breakpoint-medium) {
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      margin-top: 3em;
      padding-left: 0;
      padding-right: 0;
    }
  }

  // orange horizontal divider
  &__hort-divider {
    background-color: $ubuntu-orange;
    border: 0;
    box-shadow: none;
    clear: both;
    height: 3px;
    margin: 0;
  }

  &__feature--first {
    display: inline-block;

    @media only screen and (min-width: $breakpoint-medium) {
      display: table-cell;
    }
  }

  &__feature--third {
    border: 0;
    padding-bottom: 0;
  }

  &__title {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: .75em;

    @media only screen and (min-width: $breakpoint-medium) {
      font-size: 1.07143125em;
    }

    @media only screen and (min-width: $breakpoint-large) {
      font-size: 1.14286em;
    }
  }

  &__image--centered {
    display: block;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  &__text {
    @extend %contextual-footer-responsive-fonts;

    &--label {
      font-size: .92857143em;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 5px;
    margin-left: 0;

    li {
      @extend %contextual-footer-responsive-fonts;
    }
  }
}

// fixes for non-full-width
.about,
.legal {

  .contextual-footer {

    &__hort-divider {
      height: 14px;
    }

    // addings margin to left and right to match top section
    &__content-container {
      @media only screen and (min-width: $breakpoint-medium) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
