  @charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Containers section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// Shared components
.row--whitepaper {
  background-image: none;
}

// @subsection /containers
.containers-home {
  .icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media only screen and (min-width : $breakpoint-large) {
      margin-bottom: 40px;
    }

    &__icon {
      margin-right: 20px;
      width: 50px;

      @media only screen and (min-width : $breakpoint-large) {
        margin-right: 40px;
        width: auto;
      }
    }
  }


}

// @subsection /containers/lxd
.containers-lxd {
  .command-line {
    background: $light-grey;
    border: 0;

    > code {
      color: $cool-grey;
    }
  }
}

// @subsection /containers/kubernetes
.containers-kubernetes {
  .row-expertise__image {
    margin-right: 20px;
    width: 15vw;

    @media only screen and (min-width : $breakpoint-large) {
      width: 150px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
