@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:    Ubuntu Front-End Core section
//  Author:     Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @global core section_title
.core {

  &.core-overview {

    .equal-height--vertical-divider .equal-height--vertical-divider__item {
      border: 0;
    }

    .row--verticals__image {
      display: none;

      @media only screen and (min-width: $breakpoint-medium) {
        display: block;
        width: 100%;
        height: inherit;
      }

      @media only screen and (min-width: $breakpoint-large) {
        height: 177px;
        width: 290px;
      }
    }
  }
}
