@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Download section
//  Author:			Web Team at Canonical Ltd
//  Last edited by: Peter Mahnke
//  Last edited on: 18 September 2016
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------


// @global download section_title
.download {

  .inner-wrapper {

    form fieldset {
      background: none;
      margin: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 2px;
    }

    form select {
      font-weight: 300;
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .strip-inner-wrapper {
    form button,
    form .link-cta-download,
    .link-cta-download {
      margin-bottom: 1em;
      width: 100%;
    }

    .small {
      display: block;
      font-size: .8125em;
      margin-top: -.2em;
      text-align: center;
    }

    .form-download .small {
      margin-bottom: 2em;
    }

    .form-download:last-of-type .small {
      margin-bottom: 0;
    }
  }

  .wrapper .row {
    @media only screen and (min-width : $breakpoint-large) {
      padding: 40px;
      padding-top: 2em;
    }
  }

  .box,
  .box-highlight {
    margin-bottom: 20px;

    h4 {
      font-size: 1em;
      font-weight: normal;
    }

    ul li p {
      color: $cool-grey;
      margin-bottom: 0;
    }
  }

  .box-tip {
    background: #fff url(#{$asset-server}18aa8a3c-pictogram-download-tip-60x49.png) $gutter-width $gutter-width no-repeat;
    margin-bottom: 1.538em;
    padding-bottom: 1.25em;
    padding-left: 100px;
  }

  .row-hero {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .row-background a:link.link-cta-download {
    text-decoration: none;
  }

  .gap-from-top {
    margin-top: 20px;

    @media only screen and (min-width : $breakpoint-medium) {
      margin-top: 53px;
    }
  }

  .box-highlight.no-margin-bottom {
    margin-bottom: 0;
  }

  .download-help {
    .row-hero {
      padding-bottom: 0;

      + .row {
        padding-top: $gutter-width;
      }
    }

    .box-juju {
      padding-bottom: 2 * $gutter-width;
      padding-top: 2 * $gutter-width;
    }
  }

  dt {

    @media only screen and (min-width : $breakpoint-medium) {
      display: inline-block;
      left: 0;
      position: absolute;
      top: 10px;
      width: 40%;
    }
  }

  dd {

    @media only screen and (min-width : $breakpoint-medium) {
      float: right;
      width: 55%;
    }
  }

  .help-image a {

    @media only screen and (min-width : $breakpoint-medium) {
      display: block;
    }
  }

  // XXX code stuff
  pre {
    background-color: $cool-grey;
    border: 0;
    border-radius: 2px;
    color: #cdcdcd;
    overflow: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

    > code {
      background: transparent;
      border: 0;
      color: #cdcdcd;
      font-size: 1em;
      font-weight: 300;
      padding: .7em 1em;
      width: 100%;
    }
  }

  .header--ubuntu,
  .header--windows,
  .header--mac,
  .header--dvd,
  .header--download,
  .header--kylin,
  .header--openstack,
  .header--server,
  .header--upgrade {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    padding: .3em 0 .6em 2.4em;
  }

  .header--ubuntu {
    background-image: url("#{$asset-server}cb3ecebb-picto-ubuntu.svg");
  }

  .header--windows {
    background-image: url("#{$asset-server}08563efa-picto-windows.svg");
  }

  .header--mac {
    background-image: url("#{$asset-server}4239507e-picto-mac.svg");
  }

  .header--dvd {
    background-image: url("#{$asset-server}a9ed9a5c-picto-cddvd-warmgrey.svg");
  }

  .header--download {
    background-image: url("#{$asset-server}be3876ec-picto-download-warmgrey.svg");
  }

  .header--kylin {
    background-image: url("#{$asset-server}590018e7-picto-ubuntukylin.svg");
  }

  .header--openstack {
    background-image: url("#{$asset-server}a7916513-picto-openstack.svg");
  }

  .header--server {
    background-image: url("#{$asset-server}c3499461-picto-server-warmgrey.svg");
  }

  .header--upgrade {
    background-image: url("#{$asset-server}f68488b1-picto-upgrade-warmgrey.svg");
  }
}

// opera-mini and no-svg overrides
.no-svg,
.opera-mini {
  .download p.ubuntu-upgrade {
    background-image: url('#{$asset-server}fa83e8f4-pictorgram-upgrade-44x44.png');
  }
}

// @section /download overview
.download-home {

  .row-easy-ways {
    .box-highlight{
      p {
        border-bottom: 1px dotted $warm-grey;
        margin-bottom: 20px;
        padding-bottom: 20px;
      }

      ul {
        margin-bottom: 0;
      }
    }
  }

  .row-background {
    background: url("#{$asset-server}ad0985ac-image-background-wallpaper1404.jpg") no-repeat center center;
    background-color: linear-gradient(#62273a 0%, #a62d2d 100%);
    background-color: -webkit-linear-gradient(#62273a 0%, #a62d2d 100%);
    background-color: -o-linear-gradient(#62273a 0%, #a62d2d 100%);
    background-color: -moz-linear-gradient(#62273a 0%, #a62d2d 100%);
    background-size: cover;
    margin-top: 0;
    padding-top: 40px;

    h1,
    p {
      color: #fff;
    }

    a:link,
    a:visited {
      color: #fff;
      text-decoration: underline;
    }

    a:hover {
      color: rgba(255, 255, 255, .6);
    }

    a:hover.link-cta-download {
      color: rgba(255, 255, 255, 1);
    }

    a.external {
      background-image: url("#{$asset-server}c4b33571-icon-externallink-white.svg");
    }

    a.external:hover {
      background-image: url("#{$asset-server}a1f09697-icon-externallink-warmgrey.svg");
    }

    .box-highlight {
      background-color: rgba(0, 0, 0, .25);
      border: 0;
      -moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
      -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .2);
      color: #fff;
    }

    .vertical-divider > div,
    .vertical-divider > li {
      border-color: rgba(255, 255, 255, .2);
    }
  }

  .ubuntu-upgrade {
    background: $light-grey url('#{$asset-server}f68488b1-picto-upgrade-warmgrey.svg') 20px center no-repeat;
    background-size: 40px 40px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #e3e3e3;
    display: block;
    margin: 0 -20px -41px;
    padding: 20px 0 20px 84px;
  }

  .row-hero {
    p {
      font-size: 1.21875em;
    }
  }
}

// opera-mini and no-svg overrides
.no-svg,
.opera-mini {

  .download {

    .header--ubuntu {
      background-image: url("#{$asset-server}b66b2b31-picto-ubuntu.png");
    }

    .header--windows {
      background-image: url("#{$asset-server}6447e9cf-picto-windows.png");
    }

    .header--mac {
      background-image: url("#{$asset-server}8f429189-picto-mac.png");
    }

    .header--dvd {
      background-image: url("#{$asset-server}35559463-picto-cddvd-warmgrey.png");
    }

    .header--download {
      background-image: url("#{$asset-server}7fb8fbf5-picto-download-warmgrey.png");
    }

    .header--kylin {
      background-image: url("#{$asset-server}3e66a066-picto-ubuntukylin.png");
    }

    .header--openstack {
      background-image: url("#{$asset-server}fc902cdf-picto-openstack.png");
    }

    .header--server {
      background-image: url("#{$asset-server}45f53eda-picto-server-warmgrey.png");
    }
  }
}

// @subssection /download/server/thank-you-linuxone
.download-server-thank-you-linuxone {
  .row-hero {
    border-bottom: 1px dotted $warm-grey;
  }
}

// @subsection /download/cloud
.download-cloud {

  .row {
    form ul li {
      color: inherit; // overrides the ubuntu orange default on these pages
    }

    form.form-download p {
      font-size: .8125em;
    }
  }

  .inline-icons li {
    margin-bottom: 0;

    @media only screen and (min-width : $breakpoint-medium) {
      margin-bottom: 20px;
    }
  }

  .row--ebook {
    background: $dark-aubergine;
    color: #ebebea;
  }

  .inline-icons li {

    @media only screen and (min-width : $breakpoint-medium) {
      margin-bottom: 20px;
    }
  }
}

// @subsection /download/server
.download-server {

  .sidebar {
    ul {
      margin-left: 15px;
    }
  }
}

// @subsection /download/desktop
.download-desktop {

  .warning {
    margin-bottom: $gutter-width;
    padding: 20px 40px;
  }
}

// @subsection /download/desktop/contribute
.download-desktop-contribute {

  .contribute {

    .no-js & {
      display: none;
    }

    &__options {
      background-color: $box-solid-grey;
      border-radius: 5px;
      padding: 20px;
    }

    &__option-amount {
      display: flex;
      font-size: 16px;
      margin-bottom: 1em;
      margin-top: .5em;
    }

    &__option-currency {
      color: $warm-grey;
      display: inline-block;
      order: 2;
      padding: 5px;
    }

    &__option-value {
      order: 3;
      padding: 4px;
      width: 55px;
    }

    &__option-slider {
      background-color: transparent;
      flex-grow: 1;
      margin-right: 16px;
      order: 1;
    }

    &__equivalent {
      max-width: 350px;

      p {
        margin-bottom: 0;
      }

      &-image {
        margin-bottom: 20px;
        margin-right: 20px;

        @media only screen and (min-width: $breakpoint-medium) {
          float: left;
        }
      }

      &__equivalent-price {
        color: $warm-grey;
      }
    }

    &__summary {
      margin-bottom: 20px;
      margin-top: 40px;

      .no-js & {
        display: none;
      }
    }

    &__total {
      float: right;

      &-heading {
        margin-bottom: 0;
        margin-top: -0.3em;
      }

      &-currency {
        color: $warm-grey;
      }
    }

    &__finalise {
      border-top: 1px solid $box-solid-grey;
      padding-top: 20px;
    }

    &__submit {
      float: right;
      margin-bottom: 0;
      width: auto;

      &[disabled] {
        opacity: .3;
      }

      &.hidden {
        display: none;
      }
    }

    &__skip.button--primary {
      float: right;
      position: relative;
      text-indent: -1000px;
      width: 15.3em;

      &::after {
        color: white;
        content: "Download Ubuntu Desktop";
        display: inline-block;
        left: 0;
        padding: 11px 24px;
        position: absolute;
        text-indent: 0;
        top: 0;
      }
    }

    // Overrides
    input[type=number].contribute__option-value {
      @extend .contribute__option-value;
    }

    form fieldset.contribute__options {
      @extend .contribute__options;
    }

    .contribute button.contribute__submit {
      @extend .contribute__submit;
    }
  }
}

// @section /download/alternative-downloads
.download-alternative-downloads {

  .row-hero {
    border-bottom: 1px dotted $warm-grey;
  }
}

// @section /download/desktop/upgrade
.download-desktop-upgrade {

  .row-hero {
    padding-bottom: 0;
  }

  .alternative-options {
    margin-top: 20px;
  }
}

// @section /download/ubuntu-kylin
.download-ubuntu-kylin {

  .row-background {
    a:link,
    a:visited {
      color: #fff;
      text-decoration: none;
    }

    a:hover {
      color: #fff;
      text-decoration: underline;
    }

    a.external:hover {
      background-image: url("#{$asset-server}c4b33571-icon-externallink-white.svg");
    }
  }
}

// @subsection /download/*/thank-you pages
.download-thankyou {

  .download-cross-sells {
    margin-top: 40px;

    .box-highlight {
      height: 380px;

      img {
        display: block;
        margin: 0 auto 20px auto;
      }
    }
  }

  .inner-wrapper .newsletter-signup fieldset {
    padding-left: 0;
  }

  .equal-height img {
    @media only screen and (min-width : $breakpoint-large) {
      height: 113px;
      width: 113pc;
    }
  }
}

// @subsection /download/ubuntu-flavours
.download-ubuntu-flavours {
  .row-hero {
    @media only screen and (min-width : $breakpoint-large) {
      padding-bottom: 0 !important;
    }
  }

  .row-flavours-hero {
    @media only screen and (min-width: $breakpoint-medium) {
      padding-bottom: 0;
    }
  }
}

/* heros */
.download-alternative-downloads .row-hero,
.download-desktop-upgrade .row-hero {
  background: none;
}
