
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:    Ubuntu Front-End download section
//  Author:     Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

.download {

  @media only screen and (min-width : $breakpoint-medium) {
    .strip-inner-wrapper {
      padding: 0;
    }
  }

  .inner-wrapper {
    background: none;

    form fieldset {
      background: none;
      margin: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 2px;
    }

    form select {
      font-weight: 300;
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .strip-inner-wrapper {
    form button,
    form .link-cta-download,
    .link-cta-download {
      margin-bottom: 1em;
      width: 100%;
    }

    @media only screen and (min-width : $breakpoint-medium) {
      padding: 0 30px;
    }
  }

  .row {
    padding: 40px 10px 20px;

    @media only screen and (min-width : $breakpoint-large) {
      padding: 32px 40px 40px 40px;
    }

    &.row-hero {
      border-bottom: 0;
      margin-bottom: 0;
      margin-top: 0;

      h1 {
        padding-top: 20px;
      }
    }
  }

  .gap-from-top {
    margin-top: 20px;
  }

  .box,
  .box-highlight {
    margin-bottom: 20px;

    h4 {
      font-size: 1em;
      font-weight: normal;
    }

    ul li p {
      color: $cool-grey;
      margin-bottom: 0;
    }
  }

  .warning {
    margin-bottom: $gutter-width;
    padding: 20px 40px;
  }

  // XXX code stuff
  //  pre {
  //    background-color: $cool-grey;
  //    border: 0;
  //    border-radius: 2px;
  //    color: $mid-grey;
  //    overflow: auto;
  //    padding-bottom: 10px;
  //    padding-left: 15px;
  //    padding-right: 15px;
  //    padding-top: 10px;
  //
  //    code {
  //      background: transparent;
  //      border: 0;
  //      color: $mid-grey;
  //      font-size: 1em;
  //      font-weight: 300;
  //      padding: .7em 1em;
  //      width: 100%;
  //    }
  //  }

  .header--ubuntu,
  .header--windows,
  .header--mac,
  .header--dvd,
  .header--download,
  .header--kylin,
  .header--openstack,
  .header--server,
  .header--upgrade {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 2em 2em;
    padding: .3em 0 .6em 2.4em;
  }

  .header--ubuntu {
    background-image: url("#{$asset-server}cb3ecebb-picto-ubuntu.svg");
  }

  .header--windows {
    background-image: url("#{$asset-server}08563efa-picto-windows.svg");
  }

  .header--mac {
    background-image: url("#{$asset-server}4239507e-picto-mac.svg");
  }

  .header--dvd {
    background-image: url("#{$asset-server}a9ed9a5c-picto-cddvd-warmgrey.svg");
  }

  .header--download {
    background-image: url("#{$asset-server}be3876ec-picto-download-warmgrey.svg");
  }

  .header--kylin {
    background-image: url("#{$asset-server}590018e7-picto-ubuntukylin.svg");
  }

  .header--openstack {
    background-image: url("#{$asset-server}a7916513-picto-openstack.svg");
  }

  .header--server {
    background-image: url("#{$asset-server}c3499461-picto-server-warmgrey.svg");
  }

  .header--upgrade {
    background-image: url("#{$asset-server}f68488b1-picto-upgrade-warmgrey.svg");
  }

  &.download-home {

    .ubuntu-upgrade {
      background: $light-grey url('#{$asset-server}f68488b1-picto-upgrade-warmgrey.svg') 20px center no-repeat;
      background-size: 40px 40px;
      border-radius: 0 0 4px 4px;
      border-top: 1px solid #e3e3e3;
      display: block;
      margin: 0 -20px -41px -20px;
      margin-bottom: 0;
      padding: 20px 20px 20px 84px;
    }
  }

  &.download-server-thank-you-linuxone {
    .row-hero {
      border-bottom: 1px dotted $warm-grey;
    }
  }

  &.download-cloud-home {
    .row form ul li {
      color: inherit; // overrides the ubuntu orange default on these pages
    }

    .row-hero form.form-download p {
      font-size: .8125em;
    }

    .inline-icons li {
      margin-bottom: 0;
    }

    .row--ebook {
      background: $dark-aubergine;
      color: #ebebea;
    }
  }

  &.download-server-install-ubuntu-server {
    .sidebar {
      h4 {
        font-size: 1em;
        font-weight: normal;
      }

      li h5
      {
        color: $cool-grey;
        font-weight: normal;
        margin-left: -15px;
      }


      ul {
        margin-left: 15px;
      }

      ul ul {
        margin-left: 0;
      }

      li li {
        list-style-type: disc;
      }
    }
  }

  &.download-alternative-downloads {
    .row-hero {
      background: none;
      border-bottom: 1px dotted $warm-grey;
    }
  }

  &.download-desktop-upgrade {
    .row-hero {
      background: none;
      padding-bottom: 0;
    }
  }


  &.download-ubuntu-kylin {
    .row-hero {
      background: none;
    }
    // XXX used?
    .box-highlight {
      box-sizing: border-box;
    }

  }

  &.download-ubuntu-flavours {
    .row-flavours-hero {
      @media only screen and (min-width: $breakpoint-medium) {
        padding-bottom: 0;
      }
    }
  }

  &.download-help {
    .row-hero {
      padding-bottom: 0;

      & + .row {
        padding-top: $gutter-width;
      }
    }
  }


} //.download

// special no svg and opera-mini overrides
.no-svg,
.opera-mini {
  .download {
    .header--ubuntu {
      background-image: url("#{$asset-server}b66b2b31-picto-ubuntu.png");
    }

    .header--windows {
      background-image: url("#{$asset-server}6447e9cf-picto-windows.png");
    }

    .header--mac {
      background-image: url("#{$asset-server}8f429189-picto-mac.png");
    }

    .header--dvd {
      background-image: url("#{$asset-server}35559463-picto-cddvd-warmgrey.png");
    }

    .header--download {
      background-image: url("#{$asset-server}7fb8fbf5-picto-download-warmgrey.png");
    }

    .header--kylin {
      background-image: url("#{$asset-server}3e66a066-picto-ubuntukylin.png");
    }

    .header--openstack {
      background-image: url("#{$asset-server}fc902cdf-picto-openstack.png");
    }

    .header--server {
      background-image: url("#{$asset-server}45f53eda-picto-server-warmgrey.png");
    }
  }

  .ask-ubuntu-box {
    background-image: url(#{$asset-server}5de3bb0c-picto-forum-warmgrey.png);
  }

  .download .ubuntu-upgrade {
    background-image: url('#{$asset-server}fa83e8f4-pictorgram-upgrade-44x44.png');
  }
}
