@charset "UTF-8";
/*  @section error
-------------------------------------------------------------- */

/**
 * 404 page
 *
 * @subsection 404
 */

body.error-page {
  #main-content {
    .hero-box {
    	padding-bottom: 0;
    	position: relative;

      div{
        position: relative;
      }
      span {
        display: none;
        background: url(https://assets.ubuntu.com/v1/caa44c93-image-quote-154.png);
        color: #fff;
        font-size: 90px;
        font-weight: bold;
        height: 154px;
        padding-top: 28px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 10px;
        width: 154px;
      }
      p {
        font-size: 21px;
      }
      .last-col {
        padding-top: 30px;
      }
    }

    h2 {
      font-size: 21px;
    }
    .events a{
      float:right;
    }
  }
}

/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (min-width: $breakpoint-medium) {
  body.error-page {
    #main-content .hero-box span {
      display: block;
    }

    #main-content .hero-box .last-col,
    &.error500 #main-content .hero-box img {
      padding-top: 110px;
    }
  }
}
