@charset "UTF-8";
/*

  Project:    Ubuntu footer
  Author:     Web Team at Canonical Ltd
  Last edited by: Peter Mahnke
  Last edited on: 14 April 2016

    CONTENTS:
  -----------------------------------------------------------------
  footer and global nav
  three sizes: small, medium, large
-------------------------------------------------------------- */

/// Small screens
footer.global {
  border: 0;
  margin: 0;
  padding: 0;
  

  /// thick borders
  .footer-c,
  #nav-global {
    -moz-box-shadow: 0 -4px 4px -4px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 -4px 4px -4px rgba(0,0,0,.3) inset;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,.3) inset;
  }

  .footer-a {
    ul {
      border: 0;
      li {
        margin: 0;
        padding: 0;
        border-top: 1px solid $footer-border;
      }
    }
  }

  .footer-a, #nav-global {
    border: 0;
    margin: 0;
    padding: 0;

    h2, .top-link {
      font-size: .75em;
      text-transform: uppercase;
      color: $warm-grey;
      line-height: 1.5em;
      margin-bottom: 0;
      padding: .833333333em 10px;
    }

    h2 {
      /// open/close arrow closed
      background-image: url("#{$asset-server-url}7bd1bd7b-arrow_down_9fa097.svg");
      background-position: 96% 50%;
      background-repeat: no-repeat;
      background-size: 13px 13px;

      a:link,
      a:visited {
        color: $warm-grey;
      }

      a::after {
        content: ""; /* hide the default > */
      }

      /// open and close the primary/secondary navs
      + ul.second-level-nav {
        display: none;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        cursor: pointer;

        &.active {
          background-image: url("#{$asset-server-url}43e2b367-arrow_up_9fa097.png");

          + ul.second-level-nav {
            display: block;
          }
        }
      }
    }

    .second-level-nav li > a {
      /// secondary nav menu items
      padding: .2em 10px;
      font-size: 1em;
      margin-left: 10px;
      display: block;
      width: 100%;

      @media only screen and (min-width : $breakpoint-medium) {
        font-size: .75em;
        padding: 0;
        margin-left: 0;
        width: auto;
        display: inline-block;
      }
    }
  }

  #nav-global h2 {
    position: relative;

    &.active {
      border-bottom: 1px solid #d4d7d4;
    }

    &::before {
      // addes the external icon
      background-image: url("#{$asset-server-url}e1b12fdd-external-link-9fa097.svg");
      -moz-background-size: 14px 14px;
      -webkit-background-size: 14px 14px;
      -o-background-size: 14px 14px;
      background-size: 14px 14px;
      background-position: center center;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      left: 10px;
      height: 15px;
      width: 15px;
    }
  }

  /// Ubuntu websites global nav
  #nav-global .nav-global-wrapper,
  li.more > a  {
    display: none; /* hide until 'active' class */
  }

  #nav-global {
    font-size: .833333333em;
    border: 0;
    margin: 0;
    padding: 0;

    .nav-global-more {
      border-top: 1px solid #d4d7d4;
      margin-top: -1px;
    }

    h2 {
      padding-left: 30px;
      border-bottom: 1px solid #ccc;
    }

    .nav-global-wrapper {

      @media only screen and (min-width: $breakpoint-medium) {
        display: none;
      }

      &.active {
        /// display when clicked
        background-repeat: no-repeat;
        background-position: 96% 50%;
        background-size: 13px 13px;
        display: block;
      }
    }



    .nav-global-main,
    .nav-global-more {
      li {
        margin: 0;
        font-size: 1em;
        line-height: 2em;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        border-bottom: 1px solid #d4d7d4;
        border-left: 1px solid #d4d7d4;

        @media only screen and (max-width: $breakpoint-medium) {
          padding: 5px;
        }

        &:nth-child(odd) {
          border-left: 0;
        }

        &.more {
          width: 100%;

          @media only screen and (max-width: $breakpoint-medium) {
            padding: 0;
          }
        }

        a {
          font-size: 1em;
          padding-left: 1em;
          line-height: 0;
          &:link,
          &:visited {
            color: $cool-grey;
          }
        }
      }
    }

    @media only screen and (max-width: $breakpoint-medium) {
      .nav-global-main .more {
        padding: 0;
      }
    }

    ul {

      li.test {
        width: 50%;
        box-sizing: border-box;
        border-bottom: 1px solid #d4d7d4;
        border-left: 1px solid #d4d7d4;
        li:nth-child(odd) {
          border-left: 0;
        }
      }

      li.more {
        width: 100%;
      }
    }
  }
  /// back to top link
  .top-link {
    text-transform: uppercase;
    width: 100%;
    position: initial;

    a {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-image: url("#{$asset-server-url}e4a5a8c0-picto-upload-warmgrey.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      border-bottom: 0 none;
      color: $warm-grey;
      display: block;
      float: none;
      font-weight: 400;
      font-size: .833333333em;
      padding: 12px 0 12px 28px;
    }
  }

  /// fixes for opera mini and browsers that can't do svg
  html.no-svg,
  html.opera-mini {
    footer.global .footer-a ul li h2 span,
    footer.global .footer-a ul li.secondary h2 span {
        background-image: url("#{$asset-server-url}7a7e0d52-arrow_down_9fa097.png");
    }
    footer.global .footer-a ul li h2.active span,
    footer.global .footer-a ul li.secondary h2.active span {
        background-image: url("#{$asset-server-url}43e2b367-arrow_up_9fa097.png");
    }
    footer.global .top-link a {
        background-image: url("#{$asset-server-url}ca0559fd-picto-upload-warmgrey.png");
    }
    .nav-secondary ul.breadcrumb li .after {
        background-image: url("#{$asset-server-url}88de5861-nav-down-arrow.png");
    }
    .nav-secondary.open ul.breadcrumb li .after {
        background-image: url("#{$asset-server-url}fc92aa19-nav-up-arrow.png"), none;
    }
  }
}

/// Medium screens
@media only screen and (min-width : $breakpoint-medium) {

  // global nav
  #nav-global {
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: $box-solid-grey;
    width: 100%;
    height: 30px;
    line-height: 19.2px;
    z-index: 101;
    position: relative;
    margin-top: -30px;

    .nav-global-wrapper {
      width: auto;
      background: none repeat scroll 0 0 $white;
      margin: 0 auto;
      position: relative;
      text-align: left;
    }

    div {
      box-shadow: none;
    }

    ul {
      margin-bottom: 0;
      margin-left: 0;
      top: 0;

      li {
        float: left;
        display: block;
        text-align: left;
        margin: 0;
        height: 30px;
        margin-top: -1px;
        position: relative;
        top: 0;
      }

      li:first-of-type a {
        margin-left: 10px;
      }

      ul {
        background: $white;
        border-top: 1px solid $footer-border;
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
         display: none;
         float: none;
         position: absolute;
         min-width: 120px;
         top: 30px;

       li:first-of-type {
         padding-top: 5px;

         a {
           margin-left: 10px;
         }
       }

       li {
         float: none;
         width: auto;
         background: 0;
         float: left;
         clear: none;
         font-size: 1em;
         margin: 0 2.5em 0 0;
       }
     }

     .more span {
       display: block;
       top: -10px;
       left: 46px;
       line-height: 19.2px;
       height: 0;
       position: relative;
       -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
     }

    .more {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      min-width: 60px;
    }

    a.active {
      color: $ubuntu-orange;
      border-top: 3px solid $ubuntu-orange;
      text-decoration: none;
      opacity: 1;
    }
  }

  a:link,
  a:visited {
    color: $cool-grey;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    border-top: 3px solid transparent;
    border-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    display: block;
    list-style-image: none;
  }

  .open {
    background: $white;
    min-width: 120px;
    border-left: 1px solid $footer-border;
    border-right: 1px solid $footer-border;

    a:link,
    a:visited,
    span {
      color: $ubuntu-orange;
      opacity: 1;
    }

    ul {
      display: block;
      a:link,
      a:visited {
        color: $cool-grey;
        opacity: 1;
      }
    }
  }
  }

  /// hide back to top link
  .footer-c {
    display: none;
  }

  /// vertical main nav lists
  footer.global {
    .footer-a {
      padding: 0;
      margin: 0;
      border: 0;

      h2 + ul.second-level-nav {
        /// open the primary/secondary navs
        display: block;
        margin-bottom: 1.5em;
      }

      h2 {
        background: none;
        text-transform: none;
        font-weight: strong;
        padding: 0;

        a:link,
        a:visited {
          color: $cool-grey;
          font-weight: strong;
        }

        .active {
          background: none;
        }
      }

      ul {
        li {
          border: 0;
        }

        &:last-child {
          border: 0;
          padding-right: 0;
        }
        
        a:link,
        a:visited {
          color: $cool-grey;
        }
      }
    }

    .footer-a {
      padding: 20px 0 0;
      margin-bottom: 20px;
      border-bottom: 1px solid $footer-border;
      display: block;
      clear: both;

      .second-level-nav li > a {
        padding: 0;
        line-height: 1.6em;
      }
    }
  }

}

/// Large screens
@media only screen and (min-width : $breakpoint-large) {

  #nav-global {

    ul {
      li:first-of-type a {
        margin-left: 0; // PRM
      }

      li.more a {
        text-indent: 0;
        display: block;
      }
    }

    .nav-global-wrapper {
      width: $breakpoint-large !important;
    }
  }

  footer.global {
    padding: 20px 0;
  }
}
