@charset "UTF-8";
/*

  Project:    Ubuntu footer
  Author:     Web Team at Canonical Ltd
  Last edited by: Peter Mahnke
  Last edited on: 14 April 2016

    CONTENTS:
  -----------------------------------------------------------------
  footer and global nav
  three sizes: small, medium, large
-------------------------------------------------------------- */

/// Small screens
footer.global {
  border: 0;
  margin: 0;
  padding: 0;

  /// thick borders
  .footer-c, .footer-b, #nav-global {
    -moz-box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.3) inset;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.3) inset;
  }

  .footer-a, .footer-b {
    ul {
      border: 0;
      li {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        border-top: 1px solid #ccc;
      }
    }
  }

  .footer-a, .footer-b, #nav-global {
    border: 0;
    margin: 0;
    padding: 0;

    h2, .top-link {
      font-size: .75em;
      text-transform: uppercase;
      color: #888;
      line-height: 1.5em;
      letter-spacing: .05em;
      margin-bottom: 0;
      padding: .833333333em 1.1em;
    }
    h2 {
      /// open/close arrow closed
      background-image: url("https://assets.ubuntu.com/v1/7bd1bd7b-arrow_down_9fa097.svg");
      background-position: 96% 50%;
      background-repeat: no-repeat;
      background-size: 13px 13px;
      a:link,
      a:visited {
        color: #888;
      }
      a::after {
        content: ""; /* hide the default > */
      }

      /// open and close the primary/secondary navs
      + ul.second-level-nav {
        display: none;
      }

      &.active {
        background-image: url("https://assets.ubuntu.com/v1/43e2b367-arrow_up_9fa097.png");
        + ul.second-level-nav {
          display: block;
        }
      }
    }

    .second-level-nav li > a {
      /// secondary nav menu items
      padding: .2em 1em;
    }
  }

  #nav-global h2 {
    &::before {
      // addes the external icon
      background-image: url("//assets.ubuntu.com/sites/ubuntu/latest/u/img/external-link-9fa097.svg");
      -moz-background-size: 14px 14px;
      -webkit-background-size: 14px 14px;
      -o-background-size: 14px 14px;
      background-size: 14px 14px;
      background-position-y: 2px;
      background-repeat: no-repeat;
      content: "";
      display: inline-block;
      height: 15px;
      width: 15px;
    }
  }

  /// Ubuntu websites global nav
  #nav-global .nav-global-wrapper,
  li.more > a  {
    display: none; /* hide until 'active' class */
  }
  #nav-global {
    font-size: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    .nav-global-wrapper {
      display: none;
      &.active {
        /// display when clicked
        background-image: url("https://assets.ubuntu.com/v1/43e2b367-arrow_up_9fa097.png");
        background-repeat: no-repeat;
        background-position: 96% 50%;
        background-size: 13px 13px;
        display: block;
      }
    }

    .nav-global-main,
    .nav-global-more {
      li {
        margin: 0;
        font-size: 1em;
        line-height: 2em;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        border-bottom: 1px solid #d4d7d4;
        border-left: 1px solid #d4d7d4;
        &:nth-child(odd) {
          border-left: 0;
        }
        &.more {
          width: 100%;
        }
        a {
          font-size: 1em;
          padding-left: 1em;
          line-height: 0;
          &:link,
          &:visited {
            color: #333;
          }
        }
      }
    }
    ul {
      li.test {
        width: 50%;
        box-sizing: border-box;
        border-bottom: 1px solid #d4d7d4;
        border-left: 1px solid #d4d7d4;
        li:nth-child(odd) {
          border-left: 0;
        }
      }
      li.more {
        width: 100%;
      }
    }
  }
  /// back to top link
  .top-link {
    text-transform: uppercase;
    width: 100%;
    position: initial;
    a {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-image: url("//assets.ubuntu.com/sites/ubuntu/latest/u/img/pictograms/picto-pack/picto-upload-warmgrey.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      border-bottom: 0 none;
      color: #888888;
      display: block;
      float: none;
      font-weight: 400;
      padding: 12px 0 12px 28px;
    }
  }
  /// copyright and legal links
  .legal {
    padding: 1em;
    box-shadow: none;
    p,
    ul,
    li,
    a:link,
    a:visited {
      color: #333;
      font-size: 12px;
      margin-bottom: 0;
    }
    p {
      padding-bottom: .5em;
    }
    li {
      display: inline;
      list-style: none;
      margin-right: 10px;
      & > a {
        margin-right: 10px;
        position: relative;
        vertical-align: middle;
      }
      &::after {
        content: "•";
      }
      &:last-of-type::after {
        content: "";
        padding-left: 0;
      }
    }
  }
  /// fixes for opera mini and browsers that can't do svg
  html.no-svg,
  html.opera-mini {
    footer.global .footer-a ul li h2 span,
    footer.global .footer-a ul li.secondary-cloud h2 span,
    footer.global .footer-a ul li.secondary-desktop h2 span,
    footer.global .footer-a ul li.secondary-management h2 span,
    footer.global .footer-a ul li.secondary-phone h2 span,
    footer.global .footer-a ul li.secondary-server h2 span,
    footer.global .footer-a ul li.secondary-tablet h2 span,
    footer.global .footer-a ul li.secondary-tv h2 span,
    footer.global .footer-b ul li h2 span,
    footer.global .footer-b ul li.secondary-cloud h2 span,
    footer.global .footer-b ul li.secondary-desktop h2 span,
    footer.global .footer-b ul li.secondary-management h2 span,
    footer.global .footer-b ul li.secondary-phone h2 span,
    footer.global .footer-b ul li.secondary-server h2 span,
    footer.global .footer-b ul li.secondary-tablet h2 span,
    footer.global .footer-b ul li.secondary-tv h2 span {
        background-image: url("#{$asset-server}7a7e0d52-arrow_down_9fa097.png");
    }
    footer.global .footer-a ul li h2.active span,
    footer.global .footer-a ul li.secondary-cloud h2.active span,
    footer.global .footer-a ul li.secondary-desktop h2.active span,
    footer.global .footer-a ul li.secondary-management h2.active span,
    footer.global .footer-a ul li.secondary-phone h2.active span,
    footer.global .footer-a ul li.secondary-server h2.active span,
    footer.global .footer-a ul li.secondary-tablet h2.active span,
    footer.global .footer-a ul li.secondary-tv h2.active span,
    footer.global .footer-b ul li h2.active span,
    footer.global .footer-b ul li.secondary-cloud h2.active span,
    footer.global .footer-b ul li.secondary-desktop h2.active span,
    footer.global .footer-b ul li.secondary-management h2.active span,
    footer.global .footer-b ul li.secondary-phone h2.active span,
    footer.global .footer-b ul li.secondary-server h2.active span,
    footer.global .footer-b ul li.secondary-tablet h2.active span,
    footer.global .footer-b ul li.secondary-tv h2.active span {
        //background-image: url("#{$asset-server}43e2b367-arrow_up_9fa097.png");
    }
    footer.global .top-link a {
        background-image: url("#{$asset-server}ca0559fd-picto-upload-warmgrey.png");
    }
    .nav-secondary ul.breadcrumb li .after {
        background-image: url("#{$asset-server}88de5861-nav-down-arrow.png");
    }
    .nav-secondary.open ul.breadcrumb li .after {
        background-image: url("#{$asset-server}fc92aa19-nav-up-arrow.png"), none;
    }
  }
}

/// Medium screens
@media only screen and (min-width : $breakpoint-medium) {

  // global nav
  #nav-global {
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #efefef;
    width: 100%;
    height: 30px;
    line-height: 19.2px;
    z-index: 101;
    position: relative;
    margin-top: -30px;
    .nav-global-wrapper {
      width: auto;
      background: none repeat scroll 0 0 #FFFFFF;
      margin: 0 auto;
      position: relative;
      text-align: left;
    }
    div {
      box-shadow: none;
    }
    ul {
      margin-bottom: 0;
      margin-left: 0;
      top: 0;
      li {
        float: left;
        display: block;
        text-align: left;
        margin: 0;
        height: 30px;
        margin-top: -1px;
        position: relative;
        top: 0;
      }
      li:first-of-type a {
        margin-left: 10px;
      }
      ul {
       display: none;
       float: none;
       background: #fff;
       position: absolute;
       min-width: 120px;
       top: 30px;
       border-top: 1px solid #d7d7d7;
       -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
       box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
       li:first-of-type {
         padding-top: 5px;
         a {
           margin-left: 10px;
         }
       }
       li {
         float: none;
         width: auto;
         background: 0;
         float: left;
         clear: none;
         font-size: 1em;
       }
     }
     .more span {
       display: block;
       top: -10px;
       left: 46px;
       line-height: 19.2px;
       height: 0;
       position: relative;
       -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
     }
    .more {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      min-width: 60px;
    }
    a.active {
      color: #dd4814;
      border-top: 3px solid #dd4814;
      text-decoration: none;
      opacity: 1;
    }
  }
  a:link,
  a:visited {
    color: #333;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    border-top: 3px solid transparent;
    border-bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    display: block;
    list-style-image: none;
  }
  .open {
    background: #fff;
    min-width: 120px;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    a:link,
    a:visited,
    span {
      color: #dd4814;
      opacity: 1;
    }
    ul {
      display: block;
      a:link,
      a:visited {
        color: #333;
        opacity: 1;
      }
    }
  }
  }

  /// hide back to top link
  .footer-c {
    display: none;
  }

  /// vertical main nav lists
  footer.global {
    .footer-a,
    .footer-b {
      padding: 0;
      margin: 0;
      border: 0;
      h2 + ul.second-level-nav {
        /// open the primary/secondary navs
        display: block;
      }
      h2 {
        background: none;
        text-transform: none;
        font-weight: 400;
        padding: 0;
        a:link,
        a:visited {
          color: #333;
          font-weight: normal;
        }
      }
      ul {
        li {
          border: 0;
        }
        &:last-child {
          border: 0;
          padding-right: 0;
        }
      }
    }

    .footer-a {
      padding: 20px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #d8d8d8;
      display: block;
      clear: both;
      .second-level-nav li > a {
        padding: 0;
        line-height: 2em;
      }
      div {
        padding-bottom: 10px;
        margin: 0 auto;
        width: 100%;
        ul {
          //padding-left: 15px;
          border-collapse: collapse;
          display: table;
          float: none;
          padding-bottom: 0;
          width: 100%;
          //margin-left: -15px;
          //padding-left: 0;
          //margin: 0;
          li {
            border-right: 1px dotted #888;
            display: table-cell;
            float: none;
            margin-left: 0;
            padding-bottom: 0;
            padding-left: .5em;
            padding-right: .5em;
            &:last-child {
              border: 0;
              padding-right: 0;
            }
            ul {
              margin: 0;
              display: block;
              padding-left: 0;
              border-collapse: collapse;
              display: table;
              float: none;
              padding-bottom: 0;
              width: 100%;
              li {
                margin-left: 0;
                float: none;
                width: auto;
                display: block;
                min-height: 0;
                border: 0;
                margin-bottom: 0;
                padding-left: 0;
                padding-bottom: inherit;
                background: none;
                line-height: 1em;
              }
            }
          }
        }
      }
    }

    .footer-b {
      box-shadow: none;
      h2 {
        background: initial;
        float: left;
        margin: 0 .5em .5em 1em;
        line-height: 1.75;
      }
      ul {
        padding: 0;
        margin: 0;
        border: 0;
        li {
          overflow: hidden;
          ul li {
            width: auto;
            float: left;
            line-height: 1;
            &::after {
              content: "|";
              padding: 0 .5em;
              font-size: .6666em;
            }
            &:last-of-type::after { ///XXX not working?
              content: "";
            }
          }
        }
      }
      .second-level-nav li > a {
        /// secondary nav menu items
        padding: 0;
      }
    }
    .legal {
      background: url("//assets.ubuntu.com/sites/ubuntu/latest/u/img/logos/logo-ubuntu-grey.png") 100% 0 no-repeat;
    }
  }
}
/// Large screens
@media only screen and (min-width : $breakpoint-large) {

  #nav-global {
    ul {
      li:first-of-type a {
        margin-left: 0; // PRM
      }
      li.more a {
        text-indent: 0;
        display: block;
      }
    }
    .nav-global-wrapper {
      width: $breakpoint-large !important;
    }
  }

  footer.global {
    padding: 20px 0;
    .footer-b, .footer-b > ul, .legal {
      margin: 0 auto;
    }
    .footer-a {
      div {
        width: $breakpoint-large;
        margin: 0 auto;
      }
    }
    .footer-b {
      width: $breakpoint-large;
      padding: 0 0 20px;
      margin: 0 auto;
      font-size: .75em;
      .inline-lists {
        ul {
          width: $breakpoint-large;
        }
      }
    }
    .legal {
      padding-left: 1em;
    }
  }
}
