@charset "UTF-8";

/**
 * Canonical global navigation
 *
 * The CSS file required by Canonicals global navigation
 *
 * @project		Canonical global navigation
 * @author		Web Team at Canonical Ltd
 * @copyright	2016 Canonical Ltd
 *
 */

footer #nav-global {
    display: block;
    margin: 0 -10px;
    margin-top: -4px;
    margin-bottom: 10px;
    overflow: hidden;

    div {
        display: none;

        &.active {
            border-top: 1px solid #d4d7d4;
            display: block;
            margin-top: -1px;
        }
    }

    h2 {
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #D4D7D4;
        color: #888888;
        margin: 0;
        padding: 10px 10px;
        width: 100%;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: .05em;

        span {
            background-image: url("//assets.ubuntu.com/sites/ubuntu/latest/u/img/arrow_down_9fa097.svg");
            background-position: 0 2px;
            background-repeat: no-repeat;
            -moz-background-size: 100% 100%;
            -webkit-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
            clear: none;
            display: inline-block;
            margin-left: 6px;
            float: right;
            height: 13px;
            width: 13px;
            margin-right: 20px;
            position: relative;
        }

        &.active span {
            background-image: url("//assets.ubuntu.com/sites/ubuntu/latest/u/img/arrow_up_9fa097.svg");
            background-position: 0 0;
        }

        &:before {
            background-image: url("//assets.ubuntu.com/sites/ubuntu/latest/u/img/external-link-9fa097.svg");
            -moz-background-size: 14px 14px;
            -webkit-background-size: 14px 14px;
            -o-background-size: 14px 14px;
            background-size: 14px 14px;
            background-repeat: no-repeat;
            content: "";
            display: inline-block;
            height: 15px;
            width: 15px;
            margin-right: 3px;
            top: 3px;
            position: relative;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li ul {
        clear: both;
        display: block;
        overflow: hidden;
        float: left;
    }

    li a {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1.14286 em;
        margin-bottom: 0.75 em;
        border-bottom: 1px solid #d4d7d4;
        color: #333333;
        display: block;
        float: left;
        overflow: hidden;
        padding: 8px 10px;
        text-align: left;
        white-space: normal;
        width: 100%;
        margin-bottom: 0;
    }

    li.more {
        width: 100%;
        line-height: 0;
        padding: 0;
        margin: 0;

        a {
            text-indent: -999em;
            display: block;
            padding: 0;
            margin: 0;
            border: 0;
        }

        li {
            border-bottom: 1px solid #f2f2f4;
        }

        li a {
            background: none;
            text-indent: 0;
            margin-left: 0;
            font-size: 14px;
            border-bottom: 1px solid #d4d7d4;
            font-size: 14px;
            line-height: 1.6;
            padding: 8px 10px;
        }
    }

    li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #f2f2f4;
        border-left: 1px solid #d4d7d4;
        display: block;
        float: left;
        margin: 0;
        width: 50%;

        a.external:after {
            background: none;
        }

        &:last-item,
        &:last-item a {
            border: 0;
        }

        &:nth-child(odd) {
            border-left: 0;
        }
    }
}

@media only screen and (min-width: 768px) {

    body {
        padding-top: 30px;
    }

    #nav-global {
        background: #efefef;
        width: 100%;
        height: 30px;
        line-height: 19.2px;
        display: block;
        z-index: 101;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

        &:hover a {
            opacity: 1;
        }

        .nav-global-wrapper {
            box-sizing: border-box;
            background: none repeat scroll 0 0 #FFFFFF;
            margin: 0 auto;
            position: relative;
            text-align: left;
            width: 984px;
        }

        div {
            background: #efefef;
            box-shadow: none;
            margin-top: 0;
            margin-bottom: 0;
        }

        ul {
            margin-bottom: 0;
            margin-left: 0;
            top: 0;

            li {
                float: left;
                display: block;
                text-align: left;
                margin: 0;
                height: 30px;
                margin-top: -1px;
                position: relative;
                top: 0;
            }

            ul {
                display: none;
                float: none;
                background: #fff;
                position: absolute;
                min-width: 120px;
                top: 30px;
                border-top: 1px solid #d7d7d7;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
            }

            ul a:link,
            ul a:visited {
                border-top: none;
                float: none;
            }

            ul li {
                float: none;
            }

            ul li:first-of-type {
                padding-top: 5px;
            }
        }

        .more {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            min-width: 60px;

            span {
                display: block;
                top: -10px;
                left: 46px;
                line-height: 19.2px;
                height: 0;
                position: relative;
                transform-origin: 0 0;
                transform: rotate(90deg);
            }

            .open {
                background: #fff;
                min-width: 120px;
                border-left: 1px solid #d7d7d7;
                border-right: 1px solid #d7d7d7;
            }
        }

        a:link,
        a:visited {
            color: #333;
            font-size: 12px;
            font-weight: 300;
            line-height: 1.6;
            border-top: 3px solid transparent;
            border-bottom: 0;
            margin-right: 10px;
            margin-left: 10px;
            padding-top: 3px;
            padding-bottom: 4px;
            position: relative;
            text-decoration: none;
            transition: opacity 0.25s ease-in-out;
            display: block;
            list-style-image: none;
        }

        a.active {
            color: #dd4814;
            border-top: 3px solid #dd4814;
            text-decoration: none;
            opacity: 1;
        }

        a:hover {
            color: #dd4814;
            text-decoration: none;
        }

        .open a:link,
        .open a:visited,
        .open span {
            color: #dd4814;
            opacity: 1;
        }

        .open ul a:link,
        .open ul a:visited {
            color: #333;
            opacity: 1;
        }

        .open ul a:hover {
            color: #dd4814;
            text-decoration: none;
        }

        .open ul {
            display: block;
        }

        ul ul li:first-of-type a {
            margin-left: 10px;
        }

        li:first-of-type a {
            margin-left: 10px;
        }
    }

    /*
    * Temp styles
    */
    .login-logout {
        z-index: 5;
    }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
    #nav-global .nav-global-wrapper {
        width: auto !important;
    }
}

@media only screen and (max-width: 768px) {
    #nav-global {
        li:first-of-type a {
            margin-left: 10px;
        }

        .nav-global-wrapper {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 984px) {
    #nav-global {
        li:first-of-type a {
            margin-left: 0;
        }
        .nav-global-wrapper {
            width: 984px !important;
        }
    }
}
