/*

  Project:    Ubuntu homepage
  Author:     Web Team at Canonical Ltd
  Last edited by:
  Last edited on:

    CONTENTS:
  -----------------------------------------------------------------
  body.homepage - general homepage styles
  body.homepage-default - default fall-back design - currently 12.10

-------------------------------------------------------------- */

body.homepage {

  .lang-switch {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 100;
  }

  .intro {
    font-size: 1.4em;
  }

  .nav-secondary {
    display: none;
  }

  .row-hero {
    padding-bottom: 0;
  }

  .row {
    padding-left: 20px;
    padding-right: 20px;
  }

  .inner-wrapper .box li img {
    vertical-align: middle;
  }

  #main-content {
    background: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  #main-content .box-hero {
    border-radius: 4px;
    border: 0;
    margin: 0 0 20px;
    padding: 0;
  }
}

/* body.homepage-default
-------------------------------------------------------------- */
body.homepage-default {
  .row-hero div div {
    padding-bottom: $gutter-width;
    padding-top: 2 * $gutter-width;
    text-align: center;
  }

  .row-hero p {
    font-size: 1.125em;
  }
} /* end body.default */

/* Medium / Tablet viewport
-------------------------------------------------------------- */
.lang-switch {
  margin-bottom: -40px;
  z-index: 999;
  position: relative;
}

/* body.homepage
-------------------------------------------------------------- */
body.homepage {
  .cookie-policy .wrapper {
    width: auto;
  }

  .row-aux {
    a {
      //display: block;
    }

    h2 {
      font-size: 1.3125em;
    }
  }


  @media only screen and (min-width : 768px) {
    .number-one-for-cloud {
      position: relative;
    }
  }

  @media only screen and (min-width : 984px) {
    .cookie-policy .wrapper {
      width: 984px;
    }
  }
}


@media only screen and (min-width : 984px) {
  .homepage {
    header.banner {
      margin-bottom: 5px;
    }
  }
}

.lang-switch-wrapper {
  padding-bottom: 0;

  @media only screen and (min-width : 768px) {
    .five-col {
      padding-top: 0;
    }

    #main-content h1 {
      margin-top: 0;
      font-size: 2.1em;
    }
  }

  @media only screen and (min-width : 984px) {
    .five-col {
      padding-top: 0;
    }

    #main-content h1 {
      margin-top: 0;
      font-size: 2.5em;
    }
  }
}

.row--intro {
  background: $ubuntu-orange;
  color: #fff;
}

// row--intro
@media only screen and (min-width : 769px) {
  .row--intro {
    padding-top: inherit;
  }

  .ubuntu-intro {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width : 984px) {
  .ubuntu-intro__list {
    position: relative;

    &:before {
      background-image: url('#{$asset-server}bcb69486-image-intro-dots.svg');
      background-position:  right center;
      background-repeat: repeat-x;
      background-size: 10px;
      content: "";
      display: block;
      height: 20px;
      position: absolute;
      top: 65px;
      width: 20px;
    }
  }
}

@media only screen and (max-width : 768px) {
  .ubuntu-intro__list:before {
    display: none;
  }
}

@media only screen and (min-width : 769px) {
  .intro-left,
  .intro-right {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    height: 150px;
  }
}

  .intro-left,
  .intro-right {
    @media only screen and (min-width : 984px) {
      background: url('#{$asset-server}bcb69486-image-intro-dots.svg') repeat-x right center;
      background-size: 10px;
    }
  }

.intro-right {
  background-position: left center;
  margin-left: -20px;
}

.intro-middle ul {
  text-align: center;
  padding-bottom: 40px;
  float: left;
  width: 100%;

  @media only screen and (min-width : 769px) {
    margin: 0;
    padding-bottom: 0;
  }
}

.intro-middle li {
  display: inline-block;
  float: left;
  margin-right: 0;
  text-align: center;
  position: relative;
  width: 50%;

  @media only screen and (max-width : 768px) {
    width: 32%;
  }

  @media only screen and (max-width : 667px) and (orientation : landscape) {
    width: 20%;
  }

  @media only screen and (min-width : 768px) {
    text-indent: -999em;
    width: 121px;
  }

  @media only screen and (min-width : 984px) {
    width: 164px;
  }
}

.intro-middle li a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 96px;
  color: #fff;
  display: block;
  line-height: 1.3;
  overflow: visible;
  padding-top: 115px;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 100%;

  @media only screen and (min-width : 984px) {
    &:before,
    &:after {
      display: block;
      background: url('#{$asset-server}bcb69486-image-intro-dots.svg') repeat-x right center;
      background-size: 10px;
      content: "";
      position: absolute;
      top: 60px;
    }

    &:before {
      height: 30px;
      left: 0;
      width: 60px;
      background-size: 18px;
      background-repeat: no-repeat;
    }

    &:after {
      height: 30px;
      right: 0;
      width: 65px;
    }
  }

  @media only screen and (min-width : 769px) {
    padding-top: 130px;
  }
}

.intro-middle li a.intro-cloud {
  background-image: url('#{$asset-server}7153d45d-icon-intro-cloud.svg');

  &:before {
    width: 36px;
  }

  &:after {
    right: -19px;
    width: 45px;
  }
}

.intro-middle li a.intro-server {
  background-image: url('#{$asset-server}949bb7ae-icon-intro-server.svg');

  &:before {
    width: 38px;
  }

  &:after {
    right: -20px;
    width: 50px;
  }
}

.intro-middle li a.intro-desktop {
  background-image: url('#{$asset-server}0a347261-icon-intro-desktop.svg');

  &:before {
    width: 38px;
  }

  &:after {
    right: -36px;
  }
}

.intro-middle li a.intro-phone {
  background-image: url('#{$asset-server}1f6d7af8-icon-intro-phone.svg');

  &:before {
    width: 54px;
  }

  &:after {
    right: -16px;
  }
}

.intro-middle li a.intro-tablet {
  background-image: url('#{$asset-server}08d4cf5a-icon-intro-tablet.svg');

  &:before {
    width: 34px;
  }

  &:after {
    right: -20px;
    width: 44px;
  }
}

.intro-middle li a.intro-iot {
  background-image: url('#{$asset-server}473ea07f-icon-intro-iot.svg');

  &:before {
    width: 39px;
  }

  &:after {
    right: 20px;
    width: 14px;
  }
}

body.homepage .row--intro .intro-middle li a:hover {
  color: #fff;
  display: block;
  text-indent: 0;
}

@media only screen and (min-width : 769px) {
  .row--devices__content {
   margin-top: 100px;
  }
}

@media only screen and (max-width : 768px) {
  .row--devices {
    min-height: 0;
  }
}

.row--ubuntu-news {
  background: #fff;

  a {
    position: relative;
    z-index: 2;
  }

  @media only screen and (min-width : 768px) {
    .row--ubuntu-news__title {
      background: url('#{$asset-server}e1bba201-external-link-cool-grey.svg') left center no-repeat;
      background-size: 16px;
      padding-left: 22px;
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 30px;

      a {
        color: $cool-grey;

        &:hover {
          text-decoration: none;
        }

      }
    }

    li.three-col {
      width: 22.8938%;
    }

    li:last-child {
      margin: 0;
    }
  }
}

body.homepage .row--iot {
  background-position: 50% 50%;
  background-repeat:  no-repeat;
  overflow: hidden;
  background: #fff;

  @media only screen and (min-width : 768px) {
    padding: 150px 0;
  }

  .row--iot__image {
    background-size: 700px auto;
    background-image: url('#{$asset-server}2f56d557-image-iot.jpg?q=80');
    background-repeat: no-repeat;
    height: 500px;
    left: 40px;
    position: absolute;
    top: -100px;
    width: 700px;

    @media only screen and (min-width : 768px) {
    top: -163px;

    }
  }

  @media only screen and (max-width : 767px) {
    .row--iot__image {
      background: none;
      display: none;
    }
  }
}

// row--cloud-products
body.homepage .row--cloud-products {
  background-color: #fff;

  @media only screen and (min-width : 768px) {
    background-image: url('#{$asset-server}890dec32-cloud-laptop.jpg?w=792');
    background-repeat: no-repeat;
    background-position: 77% center;
    background-size: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media only screen and (min-width: 984px) {
    padding-top: 180px;
    padding-bottom: 170px;
  }
}

body.homepage .row--devices {
  overflow: hidden;
  z-index: 999;
}

body.homepage .row--devices__inner {
  background:none;
  min-height: 460px;
  position: relative;

  @media only screen and (min-width : 768px) {
    min-height: 280px;
  }

  @media only screen and (min-width : 769px) {
    background-size: auto 660px;
    background-position: 15% 60px;
    min-height: 590px;
    padding-bottom: 60px;
    padding-top: 40px;
  }
}

// import the devices animation sass
@import '_morph.scss';

#devices {
  margin: 180px auto 0;

  @media only screen and (min-width : 768px) {
    margin-top: 20px;
  }
}

/// Featured row, for takeunders
body.homepage .row-featured {
  padding-left: 0;
  padding-right: 0;
  margin-top: -20px;

  @media only screen and (min-width : $breakpoint-medium) {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -40px;
  }
}
.featured {
  float: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media only screen and (min-width : $breakpoint-medium) {
    margin-bottom: -20px;
    float: left;
    width: 50%;
  }
  @media only screen and (min-width : $breakpoint-large) {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: -40px;
  }
}
.equal-height .equal-height__item.featured {
  flex-direction: row;
}
.featured--left {
  @extend .featured;
  background-color: #63105c;
  position: relative;

  &::before {
    position: absolute;
    display: none;
    @media only screen and (min-width : $breakpoint-medium) {
      display: block;
    }
    left: -3000px;
    margin-top: -40px;
    content: "";
    width: 3000px;
    flex: auto;
    height: 100%;
    background-color: #63105c;
  }
}
.featured--right {
  @extend .featured;
  position: relative;

  &::after {
    position: absolute;
    display: none;
    @media only screen and (min-width : $breakpoint-medium) {
      display: block;
    }
    right: -3000px;
    margin-top: -40px;
    content: "";
    width: 3000px;
    flex: auto;
    height: 100%;
    background-color: #2C001E;
  }
}
.featured__content {
  color: white;
}
.featured__content--subtle {
  opacity: 0.17;
}

.takeunder-juju {
  background-color: #f5f5f5;

  @media only screen and (min-width : $breakpoint-medium) {
    background-image: url('#{$asset-server}f552b31a-juju-16-04-takeunder.png');
  }

  background-repeat: no-repeat;
  background-size: 36%;
  background-position: 0 50%;

  &::before {
    background: #f5f5f5;
  }
}

// homepage features
$loulou: #63105c; // http://chir.ag/projects/name-that-color/#63105c

// openstack feature
$shark: #181c21; // http://chir.ag/projects/name-that-color/#181C21

// ============================ Takeovers ============================
// cloud default, don not remove
body.homepage-cloud-default {
	@media only screen and (min-width : 768px) {
		.row-popular-cloud {
			padding: 20px 0 0;
		}
		h1 {
			padding-top: 90px;
		}
	}
	@media only screen and (min-width : 984px) {
		.row-popular-cloud {
			padding: 10px 0;
		}
		h1 { padding-top: 105px; }
		.intro { font-size: 23px; }
	} // @media only screen and (min-width : 984px)
} // body.homepage-cloud-default


// snapdeal-india-takeover
.snapdeal-india-takeover {
  #main-content .row-hero {
    background-color: #fff;
    margin-top: -20px;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 40px;

    .phone-image {
      display: block;
      margin: 0 auto;
    }
  }

  @media only screen and (min-width : 768px) {
    header.banner {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    #main-content .row-hero {
      margin-top: -40px;
      min-height: 550px;
      padding-top: 80px;

      .five-col {
        overflow: visible;
        position: relative;
        &::after {
          background-image: url('#{$asset-server}5b8d47f1-laptop-india.jpg');
          background-repeat: no-repeat;
          content: "";
          display: block;
          height: 680px;
          position: absolute;
          left: 460px;
          top: -20px;
          width: 833px;
        }
        .phone-image {
          left: 83%;
          position: absolute;
          top: 75%;
          z-index: 1;
        }
      }

      h1 {
        margin-top: 7%;
      }
    }
  }

  @media only screen and (min-width : 984px) {
    #main-content .row-hero {
      margin-top: -53px;
      min-height: 615px;
      padding-top: 106px;
    }
  }
}

// homepage-15-10
body.homepage-15-10 {

  header.banner {
    box-shadow: none;
    margin-bottom: 0;
  }

  #main-content {
    margin-top: 0;

    .row-hero {
      margin-top: 0;
      overflow: hidden;
      padding-bottom: 0;

      @media only screen and (min-width : 768px) {
        background: url('#{$asset-server}8d298549-home-takeover-.jpg?w=1800&q=80') 50% 50% no-repeat;
        background-size: cover;
        color: #333;
        min-height: 80vh;
      }

      a {
        color: #333;
      }

      .link-cta-ubuntu {
        color: #fff;
      }

      h1 {
          @media only screen and (min-width : 768px) {
            margin-top: 50px;
          }

          @media only screen and (min-width : 1600px) {
            margin-top: 60px;
          }
      }
    }
  }
}

body.homepage.meizu-takeover {
  .lang-switch {
    color: #fff;
    float: left;
    padding: 10px 0 0 10px;
  }

  .list--social__item--wechat a {
    background: url('#{$asset-server}602a7470-icon-wechat-orange.svg') no-repeat;
    background-size: 37px 37px;
  }

  .list--social__item--weibo a {
    background: url('#{$asset-server}a456bf5f-icon-weibo-orange.svg') no-repeat;
    background-size: 37px 37px;
  }

  .list--social__item.active a {
    background-image:
      url('#{$asset-server}602a7470-icon-wechat-orange.svg'),
      url('#{$asset-server}2be70a94-qr-code-wechat.png');
  }

  header.banner {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .list--social {
    margin-left: 0;
  }

  @media only screen and (min-width : 768px) {
    .lang-switch {
      padding: 0;
    }

    .inner-wrapper{
      margin-top: -6px;
    }

    #main-content .row-hero {
      background-image: url('#{$asset-server}7ea7024c-meizu-takeover.jpg');
      background-position: right 30%;
      background-repeat: no-repeat;
      background-size: cover;
      color: #fff;
      margin-top: -40px;
      min-height: 700px;
      padding-top: 10%;

      h1 {
        margin-top: 125px;
      }

      a {
        color: #fff;
      }
    }
  }

  @media only screen and (min-width : 984px) {
    #main-content .row-hero {
      padding-top: 7%;
    }
  }
}

.homepage-autopilot #main-content .row-hero .twelve-col {
  margin-top: 30px;
  @media only screen and (min-width : 984px) {
    margin-top: 40px;
  }
}

// homepage-autopilot-launch 16 Nov 2015
.homepage-autopilot-launch {
  header.banner {
    box-shadow: none;
    margin-bottom: 0;
  }

  .inner-wrapper {
    margin-top: 0;
  }

  #main-content .row-hero {
    background-color: $dark-aubergine;
    background-image: url('#{$asset-server}640e7d6c-testdrive-takeover-01.svg');
    background-repeat: no-repeat;
    color: #fff;
    margin-top: 0;
    padding-top: 30px;

    .for-small {
      box-sizing: border-box;
      margin-left: 0;
      margin-right: -10px;
      width: 100%;

      img {
        width: 100%;
        float: left;
        display: block;
      }
    }

    @media only screen and (max-width : 760px) {
      background-image: none;
      min-height: auto;
    }

    @media only screen and (min-width : 768px) {
      background-position: 60% 130px;
      min-height: 550px;
      padding-top: 60px;
    }

    @media only screen and (min-width : 984px) {
      background-position: 60% 200px;
      min-height: 600px;
    }
  }
}

// homepage-russia
body.homepage-russia {
  header.banner {
    box-shadow: none;
    margin-bottom: 0;
  }

  #main-content {
    margin-top: 0;

    @media only screen and (max-width : 767px) {
      div.strip-inner-wrapper.strip-dark {
        color: #333;
      }
    }

    .row-hero {
      @media only screen and (min-width : 768px) {
        margin-top: 0;
        overflow: hidden;
        padding-bottom: 0;
        background: url('#{$asset-server}7a415ac3-bq-ru-takeover.jpg') 50% 50% no-repeat;
        background-size: cover;
        min-height: 80vh;
      }

      h1 {
          @media only screen and (min-width : 768px) {
            margin-top: 50px;
          }

          @media only screen and (min-width : 1600px) {
            margin-top: 60px;
          }
      }
    }
  }
}

// juju takeover
body.juju-takeover {

  header.banner {
    box-shadow: none;
    margin-bottom: 0;
  }

  .wrapper {
    overflow-x: hidden;
  }

  #main-content {
    margin-top: 0;

    .row-hero {
      margin-top: 0;
      padding-bottom: 0;

      .row-hero-text {
        margin-bottom: 1.5em;
        position: relative;
        z-index: 2;
      }

      .large-screen-graphic {
        display: none;
      }

      .for-mobile.twelve-col {

        box-sizing: border-box;

        img {
          padding: 20px 10%;
          width: 80%;
        }
      }

      h1 {
        margin-top: 20px;
      }

      @media only screen and (min-width : 768px) {

        .row-hero-text {
          margin-bottom: 11.5em;
          width: 300px;
        }

        .large-screen-graphic {
          display: block;
          position: relative;

          img {
            position: absolute;
            top: -15rem;
            right: -7rem;
            z-index: 1;
          }
        }

        color: #333;
        min-height: 500px;

        &-text {
          max-width: 55%;
          margin-top: 150px;

          .intro {
            margin-bottom: 1.5em;
          }
        }
      }

      @media only screen and (min-width : 984px) {

        .row-hero-text {
          padding-left: 20px;
        }
      }

      @media only screen and (min-width : 1014px) {

        .row-hero-text {
          padding-left: 0;
          max-width: 75%;
        }

        .large-screen-graphic {

          img {
            width: 780px;
          }
        }
      }

      a {
        color: #333;
      }

      .link-cta-ubuntu {
        color: #fff;
      }
    }
  }
}

// maas takeover
body.homepage-maas-takeover {
  .banner {
    margin-bottom: 0;
    box-shadow: none;
  }

  #main-content {
    margin-top: 0;

    .row-hero {
      background: url('#{$asset-server}8ce3e107-hero-1.jpg?w=1600&amp;q=40') 0 12% no-repeat;
      background-size: cover;
      color: #fff;
      margin-top: 0;
      min-height: 255px;
      padding-top: 40px;
      transition-duration: 1s;

      @media only screen and (min-width : 768px) {
        min-height: 400px;
        padding-top: 40px;
      }

      @media only screen and (min-width : 984px) {
        min-height: 455px;
        padding-top: 60px;
      }
    }

    .row-hero__logo {
      margin-bottom: 30px;
      max-width: 220px;
    }

  }
}



// intel-nuc-takeover 06-02-2016
.intel-nuc-takeover {
  header.banner {
    box-shadow: none;
    margin-bottom: 0;
  }

  .inner-wrapper {
    margin-top: 0;
  }

  #main-content .row-hero {
    background-color: #333;
    background-image: url('#{$asset-server}882ae6de-image-background-paper.png');
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
    margin-top: 0;
    padding-top: 30px;

    .strip-inner-wrapper {
      min-height: 50vw;
      position: relative;

      @media only screen and (min-width : 768px) {
        min-height: 520px;
        padding-top: 160px;
      }

      @media only screen and (max-width : 767px) {
        .row-hero-text {
          margin-bottom: 26px;
          padding-left: 40%;
        }
      }

      .small-screen-graphic img {
        position: absolute;
        top: -20px;
        margin-left: -50vw;

        @media only screen and (min-width : 315px) {
          top: -50px;
          margin-left: 0;
          left: -140px;
          max-width: 250px;
        }

        @media only screen and (min-width : 570px) {
          left: -50px;
        }
      }

      .large-screen-graphic {
        position: absolute;
        left: -120px;
        top: -70px;
      }
    }
  }
}

.featured--event__mwc {
  &:before {
    background-image: url('#{$asset-server}bda4bb5d-barcelona-map-2.png?fmt=jpg&q=20');
  }

  &:after {
    background-color: #303030;
    opacity: 0.7;
  }
}

// Meizu Pro 5 takeover - 22-02-2016
.meizu-pro5-takeover {
  header.banner {
    box-shadow: none;
    margin-bottom: 0;
  }

  .inner-wrapper {
    margin-top: 0;
  }

  #main-content .row-hero {
    background-image: url('#{$asset-server}62d039fe-meizu-pro5-background-small.png');
    background-size: cover;
    margin-top: 0;
    overflow: hidden;

    @media only screen and (min-width : 768px) {
      background-image: url('#{$asset-server}0a11c33e-meizu-pro5-background.png');
      padding-top: 30px;
    }

    .strip-inner-wrapper {
      min-height: 50vw;
      position: relative;

      @media only screen and (min-width : 768px) {
        min-height: 550px;

        .row-hero-text {
          margin-top: 150px;
        }

        .large-screen-graphic {
          left: 400px;
          position: absolute;
          top: 50px;
        }
      }

      @media only screen and (min-width : 984px) {
        min-height: 580px;

        .row-hero-text {
          margin-top: 110px;
        }

        .large-screen-graphic {
          left: 500px;
          position: absolute;
          top: 60px;
        }
      }

      .small-screen-graphic img {
        margin: 10px 0;
      }
    }
  }

  &.index_kylin {
    #main-content .row-hero .strip-inner-wrapper {
      @media only screen and (min-width : 768px) {
        .row-hero-text {
          margin-top: 180px;
        }
      }

      @media only screen and (min-width : 984px) {
        .row-hero-text {
          margin-top: 165px;
        }
      }
    }
  }
}

// m10 convergence takeover
.m10-convergence-takeover {
  header.banner {
    box-shadow: none;
    margin-bottom: 0;
  }

  .inner-wrapper {
    margin-top: 0;
  }

  #main-content .row-hero {
    background: url('#{$asset-server}2991cd53-hero-background-sm.jpg') bottom center no-repeat;
    background-size: cover;
    margin-top: 0;
    overflow: hidden;
    padding-top: 30px;

    @media only screen and (min-width : 768px) {
      background-image: url('#{$asset-server}52fbb3e9-hero-background-lg.jpg');
      background-position: center center;
      padding-top: 30px;
    }

    .strip-inner-wrapper {
      min-height: 40vw;
      overflow: visible;
      position: relative;

      @media only screen and (min-width : 768px) {
        background: url('#{$asset-server}ff61f48c-hero-tablet-2x.png?w=440') 0 50px no-repeat;
        min-height: 400px;

        .row-hero__text {
          margin-top: 50px;
        }
      }

      .row-hero__image--small-screen {
        padding-top: 20px;
      }

      @media only screen and (min-width : 984px) {
        background: url('#{$asset-server}ff61f48c-hero-tablet-2x.png?w=630') -30px 100px no-repeat;
        min-height: 630px;

        .row-hero__text {
          margin-top: 150px;
        }
      }
    }
  }
}

#main-content .row-hero.china {
  @media only screen and (min-width : 984px) {
    h1 {
      font-size: 2.4em;
    }

    margin-bottom: 40px;
  }
}

// 16.04 takeover
.release-1604 .row-hero {
  background: #6d2263;
  background: -moz-linear-gradient(45deg,  #6d2263 0%, #c3472e 100%);
  background: -webkit-linear-gradient(45deg,  #6d2263 0%,#c3472e 100%);
  background: linear-gradient(45deg,  #6d2263 0%,#c3472e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d2263', endColorstr='#c3472e',GradientType=1 );
  background-image: url('https://assets.ubuntu.com/v1/34ab80ea-image-background-16-04.jpg?w=1150');
  background-position: right center;
  margin: 10px;
  padding-top: 10px;
  width: auto;

  @media only screen and (min-width : 768px) {
    background-image: url('https://assets.ubuntu.com/v1/34ab80ea-image-background-16-04.jpg');
    background-size: cover;
    margin: 20px;
    min-height: 540px;
  }

  @media only screen and (min-width : 986px) {
    min-height: 85vh;
  }

  a {
    color: $white;
  }

  .button--primary {
    color: $cool-grey;
    background-color: $white;

    &:hover {
      background-color: #f7f7f7;
    }
  }

  &__image {
    margin: 0 auto;
  }

  &__title {
    font-size: 2em;
  }

  @media only screen and (min-width : 768px) {
    &__title {
      font-size: 3em;
      margin-top: 6vh;
    }

    &__text {
      margin-top: -5px;
    }
  }

  @media only screen and (min-width : 984px) {
    &__title {
      font-size: 3.5em;
      line-height: 1.8;
    }

  }
}

.featured--event__ods-austin {
  &::before {
    position: absolute;
    display: block;
    right: -3000px;
    margin-top: -40px;
    content: "";
    width: 3000px;
    flex: auto;
    height: 100%;
    left: 0;
    z-index: -2;
    background-image: url('#{$asset-server}c4068bb4-austin.png?fmt=jpg&q=20');
  }

  &::after {
    background-color: #303030;
    left: 0;
    top: 40px;
    display: block;
    opacity: 0.7;
    z-index: -1;
  }
}

// takeover-cloud-ibm takeover
.takeover-cloud-ibm .row-hero {
  background: #0a5287;
  background: -moz-linear-gradient(45deg,  #0a5287 0%, #0a5084 100%);
  background: -webkit-linear-gradient(45deg,  #0a5287 0%,#0a5084 100%);
  background: linear-gradient(45deg,  #0a5287 0%,#0a5084 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a5287', endColorstr='#0a5084',GradientType=1 );
  background-image: url('#{$asset-server}d2b89998-image-background-paper.jpg?w=1150');
  background-position: right center;
  margin: 10px;
  padding-top: 10px;
  width: auto;

  &__title {
    margin-top: 0;
  }

  &__text-image {
    margin-top: 20px;
    width: 60px;

    @media only screen and (min-width : 768px + 1) {
      margin-top: 80px;
      width: 100px;
    }
  }

  @media only screen and (min-width : 768px) {
    background-size: cover;
    margin: 20px;
    min-height: 380px;
  }

  .row-hero__link {
    color: $white;
  }

  .button--primary {
    background-color: $white;
    color: $cool-grey;

    &:hover {
      background-color: #f7f7f7;
    }
  }

  &__text {
    @media only screen and (min-width : 768px) {
      margin-left: 2vw;
      width: 40.37611%;
    }

    @media only screen and (min-width : 984px) {
      margin-left: 8.5177%;
      width: 31.8584%;
    }
  }

  &__image {
    margin: 0 auto;
  }

  @media only screen and (min-width : 768px) {
    &__title {
      margin-top: 4vh;
      margin-left: 2vw;
    }
  }

  @media only screen and (min-width : 984px) {
    min-height: 550px;

    &__title {
      font-size: 4em;
      line-height: 1.8;
      margin-left: 8.5177%;
      margin-top: 6vh;
    }
  }
}

.takeunder-pro5 {
  background-color: #f5f5f5;

  @media only screen and (min-width : $breakpoint-medium) {
    background-image: url('#{$asset-server}0d1e4e42-meizu-pro5-single.png?w=150');
  }

  background-repeat: no-repeat;
  background-size: 36%;
  background-position: 0 50%;

  @media only screen and (min-width : 850px) {
    background-position: 0 40px;
  }

  &::before {
    background: #f5f5f5;
  }
}
