@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Internet of things section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @global internet-of-things
.internet-of-things {

  .nav-secondary {
    @media only screen and (min-width: $breakpoint-large) {
      padding-left: 10px;
    }
  }

  .row-cta {

    @media only screen and (min-width: $breakpoint-medium) {
      padding: 80px 40px 60px;

      .inline-small + h2 {
        margin-left: 0;
      }
    }

    @media only screen and (min-width: $breakpoint-large) {
      padding: 90px 40px 70px;

      .inline-small + h2 {
        margin-left: 0;
      }
    }
  }


  // partners logos with copy on /internet-of-things/digital-signage not used anywhere else but could become a pattern
  .list-partners {
    &__image {
      max-height: 65px;
    }

    &__image-container {
      border-bottom: 1px dotted $warm-grey;
      padding-bottom: 20px;
    }

    &__link {
      display: block;
      position: relative;
      width: 100%;
    }

    li {
      font-size: 1em;
    }
  }

  // XXX remove this from UVT?
  .grid-list {

    p {
      font-size: 1em;
    }

    &__item {
      margin-bottom: 20px;
      padding: 0;

      @media only screen and (min-width: $breakpoint-medium) {
        margin: 0;
      }


      & > [class*='-col']:first-child {

        @media only screen and (min-width: $breakpoint-medium) {
          padding: 1em 1.5em 0 1.5em;
          width: 45%;
        }
      }

      & > [class*='-col']:last-child {
        padding: 0;
        width: 100%;

        @media only screen and (min-width: $breakpoint-medium) {
          padding: 1em 1.5em 0 1.5em;
        }
      }
    }
  }


  // override the darkness
  .row-case-studies {
    background: $light-grey;
    color: $cool-grey;

    .pull-quote {

      @media only screen and (min-width: $breakpoint-medium) {
        margin: 0 .6em;
      }

      cite {
        color: $cool-grey;
      }
    }

    p {
      color: $cool-grey;
    }
  }

  // had to biggerise the logos
  .inline-logos--large li {

    img {
      height: auto;
      max-height: 65px;
    }
  }

  .border-small {
    border-bottom: 1px dotted $warm-grey;

    @media only screen and (min-width: $breakpoint-medium) {
      border: 0;
    }
  }


  // @section /internet-of-things overview
  &.internet-of-things-overview {
    .row {
      &--snap-store {
        &__image {
          margin-top: 60px;
        }
      }

      &--verticals__image {
        display: none;

        @media only screen and (min-width: $breakpoint-medium) {
          display: block;
          width: 100%;
          height: inherit;
        }

        @media only screen and (min-width: $breakpoint-large) {
          height: 177px;
          width: 290px;
        }
      }
    }
  }

  // internet-of-things-gateways
  &.internet-of-things-gateways {

    .gateways-logo {
      margin-bottom: 2em;
      max-height: 75px;
      max-width: 275px;

      @media only screen and (min-width: $breakpoint-medium) {
        max-width: 100%;
      }
    }
  }

  // XXX in lots of section
  .strip-dark blockquote p {
    color: $white;
  }

  // @subsection /internet-of-things/digital-signage
  &.internet-of-things-digital-signage {
    .row-hero {

      &__image--small {
        margin-top: 20px;
      }
    }

    .row-cta--digital-signage {
      background: url('#{$asset-server-url}68b1a2e2-banner_pixels05.png') center center no-repeat;

      @media only screen and (min-width: $breakpoint-medium) {
        background-size: cover;
      }
    }
  }
}

.internet-of-things.internet-of-things-robotics {

  .row {
    &-hero {
      background-image: url('#{$asset-server-url}613bd7dc-robotics_mobile.png');
      background-position: bottom;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      padding-bottom: 50%;

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server-url}ecdbd3cb-robotics.jpg');
        padding-bottom: 100px;
      }

      .button--primary {
        margin-top: 1rem;
      }

      h1 {
        text-align: left;
        width: 100%;
      }
    }

    &--benefits {
      &__image {
        height: 150px;
      }
    }
    &--contactus {
      padding: 0 10px;

      @media only screen and (min-width: $breakpoint-medium) {
        padding: 20px 10px 0;
      }
    }
  }

  .livestream {

    &__video iframe {
      width: 100vw;
      max-width: 984px;
      height: 45vw;
      max-height: 555px;
    }

    &__close {
      display: block;
      padding: 0 1rem;
      text-align: right;
    }
  }

  .row-full-width {
    iframe {
      margin: 0;
      padding: 0;
    }
  }

  .case-studies__image {

    @media only screen and (min-width: $breakpoint-large) {
      display: block;
      height: 177px;
      width: 290px;
    }
  }

  .robot_logo {
    padding-bottom: 2em;
    max-width: 200px;

    @media only screen and (min-width: $breakpoint-medium) {
      max-width: 100%;
    }

  }

  .robot_product {
    max-height: 100px;
  }


}
