@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End local overrides
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// body
body {
  background-size: cover;

  @media only screen and (min-width : $breakpoint-medium) {
    padding-top: 30px;
  }
}

// heading styles
.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  &--headline {
    margin-bottom: 2rem;

    @media only screen and (min-width : $breakpoint-medium) {
      margin-bottom: 3.75rem;
    }
  }
}

// .inner-wrapper
.inner-wrapper {

  @media only screen and (max-width : $breakpoint-medium) {
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 0;
  }

  @media only screen and (min-width : $breakpoint-large) {
    margin-bottom: 30px;
  }
}

// Style all range input boxes with ubuntu fancy styles
[type=range] {
  @extend %input-range;
}

// row styles
.row {
  margin: 0;
  padding: 20px 10px 0 10px;

  @media only screen and (min-width : $breakpoint-medium) {
    padding: 40px 20px 20px 20px;
  }

  @media only screen and (min-width : $breakpoint-large) {
    padding: 100px 40px 100px 40px;
  }

  &.no-padding-bottom {
    padding-bottom: 0;
  }

  &.no-border {
    border-bottom: 0!important;
  }

  h1 {
    padding-top: 20px;
  }

  &.row-hero {
    padding: 0 10px 0 10px;

    @media only screen and (min-width : $breakpoint-medium) {
      padding: 40px 10px 20px 10px;
    }

    @media only screen and (min-width : $breakpoint-large) {
      padding: 100px 40px 100px 40px;
    }

    &.no-padding-bottom {
      padding-bottom: 0;
    }

    &.no-border {
      border-bottom: 0;
    }
  }

  &.row-white,
  &.strip-light {
    background-color: $white;
  }

  // XXX Graham (10.04.2016)
  // Move to Vanilla
  // remove negative margin and add border back
  &.row-grey {
    border-bottom: 1px dotted $warm-grey;
    margin-top: 0;

    .resource:before {
      border-right-color: $light-grey;
    }

    .resource--link:before {
      border-right-color: $light-grey;
    }

  }

  &.row-contact-form {
    padding-top: 0;
  }

  &.row-cool-grey {
    background-color: $cool-grey;
    color: $white;
  }

  &.row-system-management {
    @media only screen and (min-width: $breakpoint-medium) {
      background-image: url('#{$asset-server-url}b89de9f4-feature.png');
      background-position: 158% center;
      background-repeat: no-repeat;
      background-size: 56%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      background-position: right -45% center;
      background-size: 60%;
    }
  }
}

// combined lists
.combined-list {

  div,
  ul {
    margin-bottom: 0;

    @media only screen and (min-width : $breakpoint-medium) {
      margin-bottom: 20px;
    }
  }

  li.last-item {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .last-col {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: $breakpoint-medium) {
    .list-ticks--canonical:not(.last-col) li:last-of-type {
      border-bottom: 1px dotted $warm-grey;
      padding-bottom: 10px;
    }
  }
}

/// XXX Peter - marketo required field marker
.mktoLabel > span,
.mktError {
  color: #df382c;
}

// local override for uvt list ticks
.list-ticks li,
.list-ticks--compact li {
  background-image: url('#{$asset-server-url}c4b02d61-tick-orange.svg');
}

// align content vertically
.vertically-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// the small icons to the left of headings need to not be full width on small screens - this may well become a pattern
.inline-small {
  float: left;
  margin-bottom: 10px;
  width: 48px;

  // this is to vertically center the heading/icon
  & + div > h3,
  & + div > h2,
  & + h2 {
    float: left;
    margin-left: 1em;
    padding-top: 8px;
    width: 66%;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    margin-bottom: inherit;
    width: 48px;
    & + div > h3,
    & + h2 {
      padding-top: 0;
    }
  }

  & + .three-col {
    @media only screen and (min-width: $breakpoint-medium) {
      width: 48.8938%;
    }
  }

  img {
    width: 38px;

    @media only screen and (min-width: $breakpoint-medium) {
      width: 50px;
    }
  }
}

// billboard__content
.billboard {

  &__content {
    background: rgba(255,255,255,.85);
    color: $cool-grey;

    @media only screen and (min-width : $breakpoint-medium) {
      padding: 20px;
    }
  }

  &__title {

    @media only screen and (min-width : $breakpoint-large) {
      font-size: 2.8125em;
      line-height: 1;
    }
  }

  &__copy {

    @media only screen and (min-width : $breakpoint-medium) {
      font-size: 1.438em;
    }

    @media only screen and (min-width : $breakpoint-large) {
      font-size: 2em;
    }
  }

  &__title + &__copy {

    @media only screen and (min-width : $breakpoint-medium) {
      font-size: 1em;
    }

    @media only screen and (min-width : $breakpoint-large) {
      font-size: 1.438em;
    }
  }
}

// Full width sections
.cloud,
.containers,
.download,
.internet-of-things,
.homepage,
.internet-of-things,
.desktop,
.core,
.server,
.support,
.ubuntu-search,
.mobile {
  .wrapper {
    background: none;
    max-width: 100%;
    width: 100%;
  }

  .strip-inner-wrapper {

    @media only screen and (min-width : $breakpoint-medium) {
      background: none;
      border: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      box-sizing: border-box;
      float: none;
      margin: 0 auto;
      max-width: $breakpoint-large;
      padding: 0 30px;
    }

    @media only screen and (min-width : $breakpoint-large) {
      padding: 0;
    }
  }

  #main-content {
    background: none;
    box-shadow: none;
  }

  .inner-wrapper {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 100%;
    padding-bottom: 0;
  }
}

// The default section row padding - not sure now diff from above section
.cloud,
.containers,
.desktop,
.download,
.internet-of-things,
.core,
.server,
.support,
.mobile {
  .row {
    padding: 20px 10px 0;

    @media only screen and (min-width : $breakpoint-medium) {
      padding: 40px 10px 20px;
    }

    @media only screen and (min-width : $breakpoint-large) {
      padding: 100px 40px;
    }

    &.no-padding-bottom {
      padding-bottom: 0;
    }

    &.row-hero {
      margin-top: 0;
      padding: 0 10px;

      @media only screen and (min-width : $breakpoint-medium) {
        margin-top: 0;
        padding: 40px 10px 20px;
      }

      @media only screen and (min-width : $breakpoint-large) {
        padding: 100px 40px;
      }

      h1 {
        padding-top: 20px;
      }
    }
  }

  .touch-border{
    margin-bottom: -100px;
  }
}

strong {
  font-weight: 400;
}

// Overrides the top padding on video container which was only required when the
// youtube have fixed controls pushing the video up by 30px.
.video-container {
  padding-top: 0;
}

.resource--link {
  cursor: pointer;
  display: block;
  position: relative;
  padding-bottom: 40px;
  transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -webkit-transition: background .2s ease-out;

  &,
  &:active,
  &:hover,
  &:link,
  &:visited {
    color: inherit;
    text-decoration: none;
    outline: 0;

    h2 {
      color: #dd4814;
    }
  }

  &:hover .title {
    text-decoration: underline;
  }

  &.four-col h2 {

    a:link,
    a:visited {
      font-size: 1.125em;
      /* 36 / 32 */
    }
  }

  &.twelve-col h2 {

    a:link,
    a:visited {
      font-size: 1.40625em;
      /* 36 / 32 */
    }
  }

  &:hover {
    background-color: #fafafa;
  }

  &:after {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    content: "";
    position: absolute;
    z-index: 2;
    right: -6px;
    top: 14px;
    height: 1px;
    width: 41px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-box-shadow: 0 -1px 2px 0 #ddd;
    -webkit-box-shadow: 0 -1px 2px 0 #ddd;
    box-shadow: 0 -1px 2px 0 #ddd;
  }

  &:hover:after {
    right: -9px;
    top: 18px;
    width: 48px;
  }

  &:before {
    content: "";
    position: absolute;
    -moz-transition: border-width 0.2s ease-out;
    -webkit-transition: border-width 0.2s ease-out;
    transition: border-width 0.2s ease-out;
    top: -2px;
    right: -3px;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fdfdfd;
    border-right: 30px solid $white;
    -webkit-box-shadow: -2px 2px 2px rgba(176, 176, 176, 0.4);
    -moz-box-shadow: -2px 2px 2px rgba(176, 176, 176, 0.4);
    box-shadow: -2px 2px 2px rgba(176, 176, 176, 0.4);
    z-index: 2;
    border-radius: 0 0 0 0;
  }

  &:hover:before {
    border-bottom-width: 35px;
    border-right-width: 35px;
  }

  &:last-of-type {
    margin-bottom: 30px;
  }

  .content-cat {
    color: $warm-grey;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 0 0 20px;
    position: absolute;
    text-transform: uppercase;
  }

  .content-cat {
    background: url("#{$asset-server-url}ed42aefa-icon-resource-hub-icon-document.png") left center no-repeat;
  }

  .content-cat-webinar {
    background: url("#{$asset-server-url}8f8326fa-icon-resource-hub-webinar.png") left center no-repeat;
  }

  &.box-image-centered div + span img {
    margin-top: 40px;
  }
}

html.js .resource:hover a {
  text-decoration: underline;
}

.command-line {
  background-color: $dark-aubergine;
  border: 1px solid $dark-aubergine;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: all .2s;

  &__input {
    background: transparent;
    border: 0;
    color: $white;
    font-family: Ubuntu Mono;
    font-size: 1em;
    font-weight: 300;
    padding: .7em 1em;
    width: 100%;
  }

  &__copy-button {
    background-color: $white;
    background-image: url('#{$asset-server-url}994e60f9-get-link-url_16.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    transition: background-color .2s;
    width: 50px;

    &:hover {
      background-color: darken($white, 4%);
    }
  }
  &.is-copied {
    border-color: $success;
    //background-color: $mid-aubergine;
  }
}

// for headings of external list links, currently only seen on download/alternative-downloads
.external--title span {
  background: url("#{$asset-server-url}e1bba201-external-link-cool-grey.svg") left center no-repeat;
  background-size: 20px;
  padding-left: 26px;
}

#livechat-compact-container,
#livechat-full {
  display: none;

  @media only screen and (min-width : $breakpoint-medium) {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    display: block;
  }
}

/* start of fix for vanilla margins on non-full screen pages */
.about,
.cloud,
.containers,
.desktop,
.internet-of-things,
.legal,
.server {

  /* XXX vanilla fix? */
  .equal-height--vertical-divider .equal-height--vertical-divider__item {
    @media only screen and (min-width: $breakpoint-medium) {
      border-bottom: 0;
    }
  }
}


// info section
.info-release-end-of-life {
  .for-mobile,
  .for-small {
    @media only screen and (min-width: $breakpoint-medium) {
      display: none;
    }
  }
}



// for large util
.for-large {

  @media only screen and (max-width: 1024px) {
    display: none !important;
  }
}

.not-for-large {

  @media only screen and (min-width: 1024px) {
    display: none !important;
  }
}

// XXX Ant (10.04.2016)
// Move to Vanilla
// Utility class for-medium fix
.for-medium,
.for-tablet {

  @media only screen and (max-width: $breakpoint-medium) {
    display: block;
  }
}

// inline-icons imported from old guidelines
.inline-icons {
  margin: 0 0 $gutter-width;

  @media only screen and (min-width: $breakpoint-large) {
    margin-bottom: 20px;
    text-align: left;
  }


  li {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;

    &.last-item {
      margin-right: 0;
    }
  }

  &.no-margin-bottom li {
    margin-bottom: 0;
  }

  img {
    height: 30px;
    vertical-align: middle;
  }
}

// XXX Ant (09.04.2016)
// https://github.com/ubuntudesign/www.ubuntu.com/issues/242
// Utility clas to clear both directions
.clear {
  clear: both;
}

// XXX Ant (10.04.2016)
// Deactivated styles for buttons
a.button--primary__deactivated,
a.button--primary__deactivated:hover,
button.button--primary__deactivated,
button.button--primary__deactivated:hover {
  background: $ubuntu-orange;
  color: $white;
  cursor: not-allowed;
  opacity: .3;
}

// XXX Ant (10.04.2016)
// https://github.com/ubuntudesign/www.ubuntu.com/issues/260
// Remove border of grey-box as it didnt have borders before but is extending
// box in the theme.
.box-grey {
  border: 0;
}

// Override the "align-items: center" from equal-height__align-vertically,
// which makes all items appear horizontally centered
.equal-height > .equal-height__align-vertically {
  h2,
  p {
    align-items: stretch;
    width: 100%;
  }
}

/// XXX Robin 2016-04-19
/// A candidate to replace the `.instruction` module, which
/// requires lots of unnecessary markup
$item-spacing: 20px;

.list-stepped {
  counter-reset: instructions;
  list-style: none;
  margin-left: 0;
  padding-left: 70px;

  @media only screen and (max-width : $breakpoint-medium) {
    padding-left: 0;
  }
}

.list-stepped__item {
  counter-increment: instructions;
  min-height: 50px;
  padding-top: $item-spacing;
  padding-bottom: $item-spacing;
  @extend %vf-clearfix;

  &:before {
    display: block;
    margin-left: 0;
    margin-bottom: 20px;
    float: none;
    content: counter(instructions);
    background: #888888;
    border-radius: 100%;
    color: white;
    text-align: center;
    vertical-align: top;
    font-size: 2em;
    line-height: 50px;
    font-weight: 300;
    width: 50px;
    height: 50px;

    @media only screen and (min-width: $breakpoint-medium) {
      float: left;
      margin-left: -70px;
      margin-bottom: 0;
    }
  }
  .box {
    clear: both;
  }
}

.list-stepped__title {
  font-size: 1.066625em;

  @media only screen and (min-width: $breakpoint-medium) {
    font-size: 1.1428125em;
  }

  @media only screen and (min-width: $breakpoint-large) {
    font-size: 1.4375em;
    padding-top: .4em;
  }
}

.list-stepped__box {
  background-color: #f7f7f7;
  padding-top: $item-spacing;
  padding-bottom: $item-spacing;
  padding-left: $item-spacing;
  padding-right: $item-spacing;

  @media only screen and (min-width: $breakpoint-medium) {
    margin-top: -$item-spacing;
    margin-bottom: -($item-spacing - 2);
  }
}

.list-stepped--spaced {
  @extend .list-stepped;

  .list-stepped__item {
    padding-top: 0;
    padding-bottom: $item-spacing;
    margin-bottom: 0;

      @media only screen and (min-width: $breakpoint-medium) {
          padding-top: $item-spacing * 2;
          padding-bottom: $item-spacing * 2;
      }
  }

  .list-stepped__box {
      padding-bottom: $item-spacing * 2;
      padding-left: $item-spacing * 2;
      padding-right: $item-spacing * 2;
      padding-top: $item-spacing * 2;

      @media only screen and (min-width: $breakpoint-medium) {
        margin-top: -$item-spacing * 2;
        margin-bottom: -( ( $item-spacing * 2 ) - 2 );
      }
  }
}

/// Pre needs margin-bottom in smaller screens too
/// XXX Robin 2016-04-20
/// Update in typography vanilla? or ubuntu-vanilla-them?
/// https://github.com/ubuntudesign/vanilla-framework/blob/master/scss/modules/_typography.scss#L357
pre {
  margin-bottom: .75em;
}

// XXX this should be part of the theme - smaller fonts in tables for small screens
td,
th {

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 14px;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}

// XXX there is an issue https://github.com/ubuntudesign/vanilla-framework/pull/696 to fix in ubuntu-vanilla-framework
table {
  overflow-x: auto;
}

// XXX is implemented in newer versions of Vanilla - for hiding content off-screen
.u-off-screen {
  height: 1px !important;
  left: -10000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: auto !important;
  width: 1px !important;
}

/// XXX used in Core and IoT to ensure that the verticals signpost images are the same size
.row--verticals__image {
  display: block;
  height: 177px;
  width: 290px;
}

/// XXX Generic styling for vimeo iframes
.vimeo-container {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
}

/// XXX inline-logo override for small screens
.inline-logos {
  margin: 20px 20px 20px 0;

  @media only screen and (min-width: $breakpoint-medium) {
    margin: 0 0 20px 0;
  }
}
