@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End management-home section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

//	@section all /management
.management {

  .row-hero {
    position: relative;
  }

  .row-return-investment {
    @media only screen and (min-width : $breakpoint-medium) {
      background-image: url("#{$asset-server}d600dad9-image-cutyouritcosts.svg");
      background-position: 96px bottom;
      background-repeat: no-repeat;

      .no-svg &,
      .opera-mini & {
        background-image: url("#{$asset-server}d1dbbf8e-image-cutyouritcosts.png");
      }
    }
  }

  .stats-panel {

    @media only screen and (min-width : $breakpoint-medium) {
      background: #f6f6f6;
      box-sizing: border-box;
    }

    &--title,
    &--text {
      clear: both;
      color: #555;
      font-size: 1.3125em;
      font-style: italic;
      padding: 0 ($gutter-width / 1.5);
      text-align: center;

      a {
        @media only screen and (min-width : $breakpoint-medium) {
          font-size: .8125em;
        }
      }
    }

    &--title {
      font-style: normal;
    }

    &--group {
      box-sizing: border-box;
      min-height: 107px;
      padding: 20px 0 0;
      text-align: center;

      .last-col {
        border: 0;
      }
    }

    &--number {
      color: $canonical-aubergine;
      font-size: 5em;
      font-weight: normal;
      height: 20px;
      line-height: 20px;
      margin: 20px 0 40px;

      span {
        font-size: .53125em;
        margin-left: -15px;
      }
    }

    &--definition {
      @media only screen and (min-width : $breakpoint-medium) {
        margin-left: 0;
      }
    }
  }

  .row-ubuntu-advantage-promo {
    @media only screen and (min-width : $breakpoint-large) {
      overflow: hidden;

      img.touch-border {
        float: none;
        max-width: none;
        position: absolute;
        right: 0;
      }
    }
  }

  .flush-right {
    float: right;
    margin-left: 20px;
    margin-right: -40px;
    }

  .flush-left {
    float: left;
    margin-left: -40px;
  }
}
// @section /management overview
.management-home {

}

// @subsections /management/ubuntu-advantage, /management/working-with-landscape
.management-ubuntu-advantage,
.management-working-with-landscape {
  .no-svg &,
  .opera-mini & {
    .row-hero {
      background-image: url('#{$asset-server}2cb97b41-image-ubuntuadvantage.png');
    }
  }
}

// @subsections /management/compliance and /management/return-on-investment
.management-compliance,
.management-return-on-investment {

  .no-margin-bottom {
    margin-bottom: 20px;

    @media screen and (min-width: $breakpoint-medium) {
      margin-bottom: 0;
    }
  }

  .no-svg &,
  .opera-mini & {
    .row-hero {
      background: url('#{$asset-server}83697d44-pictogram-reduce-costs-300x300.png') no-repeat scroll 654px 50% $white;
    }
  }
}

// @subsection /management/compliance
.management-compliance {

  img {
    .flush-right {

      @media only screen and (min-width : $breakpoint-medium) {
        float: right;
        margin-left: 20px;
        margin-right: -40px;
      }
    }

    .flush-left {

      @media only screen and (min-width : $breakpoint-medium) {
        float: left;
        margin-left: -40px;
      }
    }
  }
}

// @subsection /management/return-on-investment
.management-return-on-investment {

  .logos img {
    margin: 20px 0 0 40px;
  }
}

// @subsection /management/landscape-features
.management-landscape-features {

  .screenshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// @subsection /management/ubuntu-advantage
.management-ubuntu-advantage {

  .ua-price {
    font-size: 2em;
  }

  .row-cloud-management {
    border-bottom: 0;
  }

  .row-pricing {

    @media only screen and (max-width: $breakpoint-medium) {
      &__image {
        float: left;
        width: 50px;
      }

      &__image-container {
        float: left;
        margin-bottom: 0;
        margin-right: 1em;
        width: 50px;
      }

      &__title {
        margin: .3em 1em 1.8em;
      }
    }
  }

  table {
    table-layout: fixed;

    .row-title {
      width: 18em;
    }
  }
}
