/*	@section management ubuntu.com/management
--------------------------------------------------------------
	Contents:
		@section general
		@section management-landscape-features
		@section ubuntu-advantage
		@section return-on-investment
		@section working-with-landscape
		@section desktop, server and cloud management pages in other sections

-------------------------------------------------------------- */

/*	@section general
-------------------------------------------------------------- */
body.management .row-hero { /* First bit of content on a page, normally contains h1 and sometimes a bit of blurb */
	position: relative;
}

body.management .screenshot {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body.management {
	.row-benefits .six-col {
		border-right: 1px dotted $warm-grey;
		padding-right: $gutter-width;
	}
	.row-benefits .last-col {
		border: 0;
		padding-right: 0;
	}
	.stats-panel {
		box-sizing: border-box;
		background: #f6f6f6;
	}
	.stats-panel dl, .stat dl {
		box-sizing: border-box;
    float: left;
    min-height: 107px;
    padding: 20px 0 0;
    text-align: center;
	}
	.stats-panel dl.last-col {
		border: 0;
	}
	.stat dl {
    padding-top: 6px;
		border: 0;
		font-size: 32px;
		text-align: center;
    }

	.stats-panel dt, .stat dt {
	    font-size: 2.7em;
	    font-weight: normal;
	    height: 20px;
	    line-height: 20px;
	    margin: 20px 0 40px;
	    color: $canonical-aubergine;
	}
	.stats-panel dd, .stat dd {
		margin-left: 0;
	}
	.stats-panel p {
    	color: #555;
    	font-size: 1.3125em;
    	font-style: italic;
    	text-align: center;
    	clear: both;
    	padding: 0 ($gutter-width/1.5);
    }
    .stats-panel p.first {
	    font-style: normal;
    }
    .stats-panel dt span {
    	font-size: .53125em;
    	margin-left: -15px;
    }
	.row-landscape {
		margin-bottom: 0;
	}
} /* end body.management */

body.management-return-on-investment,
body.management-compliance {
	.row-hero {
		.link-cta-canonical {
			margin-bottom: 10px;
		}
	}
	.stats-panel dt, .stat dt {
	    font-size: 5em;
	}

	.no-margin-bottom {
		margin-bottom: 20px;

		@media screen and (min-width: 768px) {
			margin-bottom: 0;
		}
	}
}
body.management-home {
	#main-content .row-whats-included {
		position: relative;
	}
	.row-whats-included {
		overflow: hidden;
		h3 {
			background-image: url("#{$asset-server}c74f59b7-picto-reducecosts-warmgrey.svg");
			background-position: 0 center;
			background-repeat: no-repeat;
			background-size: 40px 40px;
			padding: 6px 0 10px 50px;
			margin-top: 18px;
		}
	}

	.support h3 {
		background-image: url("#{$asset-server}27141e8b-picto-support-warmgrey.svg");
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		padding: 10px 0 10px 50px;
	}
	.technical-library h3 {
		background-image: url("#{$asset-server}8a199d55-picto-articles-warmgrey.svg");
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		padding: 10px 0 10px 50px;
	}
	.legal-assurance h3 {
		background-image: url("#{$asset-server}03c5463a-picto-business-warmgrey.svg");
		background-position: 0 center;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		padding: 10px 0 10px 50px;
	}
} /* end body.management-home */
html.no-svg,
html.opera-mini {
	body.management-home {
		.row-whats-included h3 {
			background-image: url("#{$asset-server}417fd272-picto-reduce-costs-grey.png");
		}
		.support h3 {
			background-image: url("#{$asset-server}3f7b3b5b-picto-support-grey.png");
		}
		.technical-library h3 {
			background-image: url("#{$asset-server}ea5a4009-picto-articles-grey.png");
		}
		.legal-assurance h3 {
			background-image: url("#{$asset-server}f219973e-picto-business-grey.png");
		}
	}
}

body.management .row-landscape-trial-home div {
	border-radius: 4px;
	border: 1px solid #dfdcd9;
	box-shadow: none;
	margin-bottom: inherit;
	margin-left: 0;
	margin-right: 0;
}

/*	@section management-landscape-features
-------------------------------------------------------------- */
body.management-landscape-features {
  #inventory {
  	margin-bottom: 30px;
  }
}

body.management-ubuntu-advantage,
body.management-working-with-landscape {
	.row-hero p.last {
		margin-top: 40px;
		background: none;
	}
	.row-hero .link-cta-canonical {
		margin-bottom: 10px;
	}
	.ubuntu-advantage {
  	margin-bottom: 0;
  }

	.ubuntu-advantage img {
    margin-left: -$gutter-width;
  }

	.row-purchase-advantage .box {
		background: $light-grey url('#{$asset-server}3cc9f80f-pictogram-reduce-costs-115x115.png') 20px 20px no-repeat;
		padding-bottom: 1em;
	}
	.row-purchase-advantage .promo-description {
		padding-left: 135px;
		border-right: 1px dotted $warm-grey;
		padding-right: 1.1875em;
		min-height: 9em;
		margin-bottom: 0;
	}
	.row-purchase-advantage .promo-price {
	}
	.row-purchase-advantage .box div {
		margin-bottom: 0;
	}
	.row-purchase-advantage .box p.last-item {
		margin-top: 20px;
		float: left;
		font-style: italic;
		font-size: .8125em;
	}
} /* end body.business-systems-management-ubuntu-advantage */
html.no-svg,
html.opera-mini {
	body.management-ubuntu-advantage,
	body.management-working-with-landscape {
		.row-hero {
			background-image: url('#{$asset-server}2cb97b41-image-ubuntuadvantage.png');
		}
	}
}

body.management-ubuntu-advantage table {
	table-layout: fixed;

	.row-title {
		width: 18em;
	}
}

/*	@section ubuntu-advantage
-------------------------------------------------------------- */
body.management-ubuntu-advantage {

	.ua-price {
		font-size: 2em;
	}

  .row-cloud-management {
    border-bottom: none;
  }

	@media only screen and (max-width: 768px) {
		.row-pricing {
			&__image {
				float: left;
				width: 50px;
			}

			&__image-container {
				float: left;
				width: 50px;
				margin-bottom: 0;
				margin-right: 1em;
			}

			&__title {
				margin: .3em 1em 1.8em;
			}
		}
	}

} /* end body.management-ubuntu-advantage */

.three-divided {
	box-sizing: border-box;
}
.three-divided li {
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
	width: 100%;
}
.three-divided li.last-col {
	margin-bottom: 0;
	padding-bottom: 0;
}

html.no-svg, html.opera-mini {
	body.management-compliance .row-hero,
	body.management-return-on-investment .row-hero {
		background: url("#{$asset-server}83697d44-pictogram-reduce-costs-300x300.png") no-repeat scroll 654px 50% #FFFFFF;
	}
}

body.management-return-on-investment {
	.row-hero {
		padding-bottom: 40px;
	}
	.row-box {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	.row-landscape-trial {
		margin-bottom: 20px;
		padding-bottom: 0;
	}
	.logos img { margin: 20px 0 0 40px; }
}

/*	@section working-with-landscape
-------------------------------------------------------------- */
body.management-working-with-landscape {
/*	.row {
		padding-bottom: 60px;
	}
	.row-hero {
		padding-bottom: 40px;
	}*/
	.row-hero .eight-col {
		margin-bottom: 0;
		padding-bottom: 1.25em;
	}
	//.row .six-col { margin-bottom: 0; }

	iframe { margin-bottom: 1.25em; }

	.row-landscape-trial {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

body.management-ema-whitepaper {
	.row iframe {
		width: 100%;
	}
}

/* end @section desktop management */

/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (max-width : 768px) {
	body.management-ubuntu-advantage {
		.equal-height > li {
			height: auto !important;
		}
	}
}

/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 768px) {
	body.management {
		.stat dl {
	    	margin: 0 0 0 40px;
	    }
		.stats-panel dd, .stat dd {
		    margin-left: 0;
		}
		.stats-panel p a {
	    	font-size: .8125em;
	    }
		.row-return-investment {
			background-image: url("#{$asset-server}d600dad9-image-cutyouritcosts.svg");
			background-position: 96px bottom;
			background-repeat: no-repeat;
		}
		img.flush-right {
			float: right;
			margin-right: -40px;
			margin-left: 20px;
		}
		img.flush-left {
			float: left;
			margin-left: -40px;
		}
	}

	html.no-svg,
	html.opera-mini {
		.row-return-investment {
			background-image: url("#{$asset-server}d1dbbf8e-image-cutyouritcosts.png");
		}
	}

	body.management-home {
		.margin-top { margin-top: 20px; }
	}

	.three-divided li {
		width: 30%;
		padding-bottom: 38px;
	}

	.row-cloud-management .three-divided li {
    padding-bottom: 0;
	}

	body.management-ubuntu-advantage {
		.price {
			margin-bottom: 0;
		}
	}

	html.no-svg,
	html.opera-mini {
		body.management .row-return-investment {
			background-image: url("#{$asset-server}d1dbbf8e-image-cutyouritcosts.png");
		}
	}
	body.management-ubuntu-advantage,
	body.management-working-with-landscape {
		.row-hero .link-cta-canonical {
			margin-bottom: 0;
		}
	}
}

@media only screen and (min-width : 984px) {
	.row-ubuntu-advantage-promo {
		overflow: hidden;

		img.touch-border {
			float: none;
			max-width: none;
			position: absolute;
			right: 0;
		}
	}
}
