.mobile-features {
  .row-hero {
    overflow: hidden;

    @media only screen and (min-width : $breakpoint-medium) {
      overflow: hidden;
      padding: 40px 10px 20px;
    }

    @media only screen and (min-width : $breakpoint-large) {
      padding: 100px 40px;
    }

    &:before {

      @media only screen and (min-width : $breakpoint-medium) {
        background: url('#{$asset-server}4edf954e-tablet-browser-video.png?w=800') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 85%;
        overflow: visible;
        position: absolute;
        right: -30vw;
        top: 40px;
        width: 80vw;
      }

      @media only screen and (min-width : $breakpoint-large) {
        right: 10vw;
        width: 40vw;
      }
    }
  }

  .row--design {
    background-color: #000;
    background-image: none;
  }

  .row--scopes {

    @media only screen and (min-width : $breakpoint-medium) {
      padding-left: 0 !important;
    }

    @media only screen and (min-width : $breakpoint-large) {
      align-items: center;
      display: flex;
      min-height: 730px;
    }

    &:before {

      @media only screen and (min-width : $breakpoint-medium) {
        background: url('#{$asset-server}b6052399-scopes-tablet-portrait.png?w=890') center right no-repeat;
        background-size: contain;
        content: '';
        height: 80%;
        left: 4vw;
        position: absolute;
        top: 10%;
        width: 48vw;
      }

      @media only screen and (min-width : $breakpoint-large) {
        background-size: auto;
        height: 500px;
        left: 0;
        top: 110px;
        width: 50vw;
      }
    }

    &__image {
      margin: 10px 0;
    }
  }

  .row--applications .grid-list__img {
    @media only screen and (min-width : $breakpoint-medium) {
      max-width: 100%;
    }
  }
}

.mobile-partners {
  .row-hero {
    overflow: hidden;

    &__image {
      margin: 10px 0;
    }

    &:before {
      @media only screen and (min-width : $breakpoint-medium) {
        background: url('#{$asset-server}969bb3c1-9a.-scope-task-switcher-tablet-portrait-landscape.png?w=700') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 80%;
        overflow: visible;
        position: absolute;
        right: -24vw;
        top: 10%;
        width: 70vw;
      }

      @media only screen and (min-width : 769px) {
        right: 2vw;
        width: 47vw;
      }

      @media only screen and (min-width : 1400px) {
        right: 2vw;
        width: 50vw;
      }
    }
  }

  .row-more--image {
    @media only screen and (min-width : $breakpoint-medium) {
      margin-bottom: 40px;
      margin-top: 60px;
    }
  }

  .row-case-studies {
    background-image: none;

    &__intro {
      @media only screen and (min-width : $breakpoint-medium) {
        margin-bottom: 40px;
      }
    }
  }
}

.mobile-developers {
  .row-hero {
    overflow: hidden;

    @media only screen and (min-width : $breakpoint-medium + 1) {
      min-height: 550px;
    }

    &:before {

      @media only screen and (min-width : $breakpoint-medium) {
        background: url('#{$asset-server}7fbc7231-tablet-developers-hero.png?w=646') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 85%;
        overflow: visible;
        position: absolute;
        right: -30vw;
        top: 40px;
        width: 80vw;
      }

      @media only screen and (min-width : $breakpoint-large) {
        right: 10vw;
        width: 40vw;
      }
    }
  }

  .row--one-app__image {
    @media only screen and (min-width : $breakpoint-medium) {
      margin-top: 30px;
    }

    @media only screen and (min-width : $breakpoint-large) {
      margin-top: 60px;
    }
  }
}

.mobile-devices {
  .row-hero {
    overflow: hidden;

    &__image {
      margin: 10px 0;
    }

    &:before {
      @media only screen and (min-width : $breakpoint-medium) {
        background: url('#{$asset-server}b2bccccf-mobile_phone%26tablet.png') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 80%;
        overflow: visible;
        position: absolute;
        right: -24vw;
        top: 10%;
        width: 70vw;
      }

      @media only screen and (min-width : 769px) {
        right: 2vw;
        width: 47vw;
      }

      @media only screen and (min-width : 1400px) {
        right: 2vw;
        width: 50vw;
      }
    }
  }

  .devices {
    table-layout: fixed;

    &__title {
      font-weight: 400;
    }

    &__item {
      text-align: left;
      vertical-align: top;
    }

    &__image {
      margin-bottom: 10px;
      max-height: 200px;
    }
  }
}
