@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End navigation
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------

// header banner
// 	nav nav-primary
// 		main-navigation-link
// 		id=nav
// 		id=site-search
// 	wrapper
// 		id=main-content inner-wrapper
// 			breadcrumbs nav-secondary
// 				breadcrumb
// 					breadcrumb-link
// 						second-level-nav



.banner {
  .nav-primary {

    ul li a:active,
    ul li a:hover,
    ul li a:link,
    ul li a:visited {

      @media only screen and (max-width : 842px) and (min-width : $breakpoint-medium) {
        padding: 12px 10px 14px;
        transition: padding .4s;
      }
    }

    // fixes main nav not closing issue
    #nav:hover {

      @media only screen and (max-width: $navigation-threshold) {
        display: inherit;
      }
    }

    ul {

      @media only screen and (max-width: $navigation-threshold) {
        display: none;
      }

      li {

        @media only screen and (max-width: $navigation-threshold) {
          border-left: 1px solid #cccccc;
          border-right: 0;
        }

        a,
        a.active,
        a.active:link,
        a:link {

          @media only screen and (max-width: $navigation-threshold) {
            border-left: 0;
            font-weight: 300;
          }
        }

        &:last-child {
          border-right-color: #df4a16;

          a {
            border-left: 0;
            border-right: 1px solid #cccccc;
            left: 1px;
            position: relative;

            @media only screen and (min-width : $navigation-threshold) {
              border-right: 0;
            }
          }
        }


        // XXX Ant (10.04.2016)
        // Added !important to override some deep selectors in Vanilla
        a:hover,
        a:link:hover {

          @media only screen and (max-width: $navigation-threshold) {
            background: $light-grey !important;
            color: $text-color !important;
          }
        }

        a.active:hover,
        a.active:link:hover {

          @media only screen and (max-width: $navigation-threshold) {
            background: #dddddd !important;
            color: $text-color !important;
          }
        }
      }

      &.active {

        @media only screen and (max-width: $navigation-threshold) {
          display: block;
        }

        ul {

          @media only screen and (max-width: $navigation-threshold) {
            display: none;
          }
        }
      }
    }

    #site-search {
      @media only screen and (min-width: $navigation-threshold) {
        display: table-cell;
      }
    }
  }

  .search-toggle {

    @media only screen and (max-width : $breakpoint-medium) {
      right: 48px;
    }
  }

  .header-search input[type=search] {
    padding-right: 40px;
  }
}


.breadcrumbs {

  // secondary menu
  &.nav-secondary {

    .breadcrumb {

      @media only screen and (max-width: $navigation-threshold) {
        padding-bottom: 0;
        padding-top: 0;
      }

      @media only screen and (min-width : $navigation-threshold) {
        padding-bottom: 14px;
        margin-left: 24px; // will be set to 0 when everything full width
      }

      .breadcrumb-link {

        @media only screen and (max-width: $navigation-threshold) {
          border-bottom: 1px solid $alto-grey;
          color: $text-color;
          font-size: 1rem; // XXX should this be 1.125rem?
          outline: none;
        }

        @media only screen and (min-width : $navigation-threshold) {
          padding-left: 0;
        }

        // removes the '>' for med/small in the breadcrumb
        &--second-level:after,
        &:after {
          color: $warm-grey;

          @media only screen and (max-width: $navigation-threshold) {
            content: '';
          }
        }
      }

      .second-level-nav,
      .third-level-nav {
        ul {
          margin-left: 0;
        }

        li {

          @media only screen and (max-width: $navigation-threshold) {
            box-sizing: border-box;
            float: left;
            margin: 0;
            width: 50%;
          }

          a,
          a:link {
            @media only screen and (max-width: $navigation-threshold) {
              font-size: 1rem;
            }
          }

          a:hover {
          color: $link-color;
        }
      }
      }

      .third-level-nav {

        @media only screen and (max-width: $navigation-threshold) {
          margin-top: -15px;
          padding-top: 0;
        }

        li {

          @media only screen and (max-width: $navigation-threshold) {
            padding-left: 10px;
          }
        }
      }



      .second-level-nav,
      .second-level-nav:hover,
      .third-level-nav,
      .third-level-nav:hover {

        @media only screen and (max-width: $navigation-threshold - 1) {
          border: 0;
          margin-bottom: 4px;
        }
      }

      li {

        .after {

          @media only screen and (max-width: $navigation-threshold) {
            background-image: url('#{$asset-server-url}74545443-nav-down-arrow.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 18px;
            float: right;
            height: 18px;
            padding: 10px;
            position: relative;
            right: 3px;
            top: 0;
            width: 18px;
          }

          @media only screen and (min-width: $navigation-threshold) {
            display: none;
          }
        }

        a {

          @media only screen and (min-width : $navigation-threshold) {
            padding-bottom: 0;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
          }

          &.active,
          &.active:link {

            @media only screen and (max-width: $navigation-threshold) {
              font-weight: 700;
              color: $black;
            }
          }
        }

        &:first-of-type {

          @media only screen and (max-width: $navigation-threshold) {
            border-bottom: 0;
          }
        }
      }
    }
  }
  // open and close medium and small screen menu - must go last
  &.open {

    @media only screen and (max-width: $navigation-threshold) {
      border-bottom: 1px solid $alto-grey;
      display: inherit;
    }

    .second-level-nav,
    .third-level-nav {

      @media only screen and (max-width: $navigation-threshold - 1) {
        display: block;
      }
    }
  }
}

// Full width sections
.cloud,
.containers,
.desktop,
.download,
.homepage,
.internet-of-things,
.core,
.server,
.server,
.support,
.ubuntu-search,
.mobile {
  .nav-secondary ul.breadcrumb {
    margin-left: 0;
  }
}

// extra rules for full width sections other than homepage
.cloud,
.containers,
.desktop,
.download,
.internet-of-things,
.core,
.server,
.server,
.support,
.mobile {
  .banner {
    margin-bottom: 0;
  }

  .nav-secondary .strip-inner-wrapper {
    padding: 0;
  }
}
