/*	@section partners
-------------------------------------------------------------- */
body.partners {
	.row:last-child {
		border-bottom: 0;
	}
	.four-col h2 {
		font-size: 1.4375em;
	}

} /*  end @section partners */


body.partners-home {
	.box-padded-feature .inline-icons li {
	  height: 50px;
	}
	.row {
		border-bottom: 0;
	}
}

body.partners .row-hero div {
	-moz-column-count: inherit;
	-webkit-column-count: 1;
	column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
	column-gap: 0;
}

body.partners-dell #dell-quotes {
	border-top: 1px dotted $warm-grey;
	padding-top: 20px;
}

body.partners-dell #servers img {
	margin-bottom: 20px;
}


body.partners-dell-dellxps #dell-buy-now {
	float: left;
}

body.partners-dell-dellxps #dell-buy-now a  {
	display: block;
}

body.partners-dell-dellxps .border {
	border-bottom: 1px dotted $warm-grey;
	padding-bottom: 10px;
}

body.partners-find-a-partner,
body.partners-certified-software {
	.row-hero .link-cta-ubuntu {
		margin-top: 20px;
	}

	.box {
		img {
			max-height: 50px;
			margin-bottom: 10px;
		}

		h3 {
			color: $warm-grey;
			font-size: 15px;
			margin-bottom: $gutter-width;
		}
	}

	.row ul {
		margin-bottom: 10px;
	}

	.list-partners li:nth-child(3n) {
		margin-right: 0;
	}
}
body.partners-find-a-partner-hardware .box p:first-child {
	min-height: 60px;
	margin-bottom: 0;
}
body.partners-hp {
  blockquote.pull-quote p cite {
    margin: 10px 0 0;
    text-indent: 0;
  }

  .hp-pcs {
    background: url("https://assets.ubuntu.com/v1/1a232d31-hp-partners-laptop.jpg") no-repeat scroll 670px 18px #fff;
    padding-bottom: 70px;
  }
  .certified-software img {
    margin-top: 30px;
  }
}

body.partners-become-a-partner h2.isv-partner,
body.partners-become-a-partner h2.reseller-partner,
body.partners-become-a-partner h2.hardware-partner {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 40px;
}

body.partners-become-a-partner h2.isv-partner { background-image: url("https://assets.ubuntu.com/v1/6752ef74-pictogram-become-a-partner-isv.png"); }
body.partners-become-a-partner h2.reseller-partner { background-image: url("https://assets.ubuntu.com/v1/67a9ba2d-pictogram-become-a-partner-reseller.png"); }
body.partners-become-a-partner h2.hardware-partner { background-image: url("https://assets.ubuntu.com/v1/5a178e8b-pictogram-become-a-partner-hardware.png"); }

@media only screen and (min-width : 768px) {
	body.partners-arm .row div {
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 20px;
		column-count: 2;
		column-gap: 20px;
	}

	body.partners-dell-dellxps .row-hero {
		padding-bottom: 0;

		img {
			margin-top: -60px;
		}
	}
	body.partners-hp {
	  .server-hp-proliant {
	    background: url("https://assets.ubuntu.com/v1/b026a2f3-hp-partners-server.jpg") no-repeat scroll -213px 30px #fff;
	    padding-bottom: 40px;
	    padding-top: 65px;
	  }
	}
}
