/*	@section phone
--------------------------------------------------------------

	Contents:
		@section general
		@section phone home (LOL)
		@section more general
		@section operators-and-oems
		@section animations on design page
		@section design
		@section ubuntu-for-android
		@section ubuntu-for-android > features
		@section backed-by-canonical
		@section contextualised footer

-------------------------------------------------------------- */

/*	@section general
-------------------------------------------------------------- */

.box-phone, .box-android {
	min-height: 15em;
	padding-right: $six-col;
}

.box-phone { background: #fff url(../img/devices/devices-phone-hero-353x206.png) 95% center no-repeat; }

.box-android { background: #fff url(../img/devices/photo-industry-android-381x230.jpg) 90% center no-repeat; }



/*	@section phone home (LOL)
-------------------------------------------------------------- */
body.phone-home {

  li.verizon img {
    position: relative;
    top: -8px;
  }

  .the-video {
    width: 569px;
    height: 320px;
    position: absolute;
    left: 210px;
    z-index: 20;
  }

  .video-background {
    display: block;
    width: 569px;
    height: 320px;
    background: #000;
    margin-bottom: 5px;
  }

  .video.hide {
    display: none;
  }
	.inline-icons {
		text-align: center;
	}
  .inline-icons li.last {
    margin-right: 0;
  }
}

/*	@section more general
-------------------------------------------------------------- */
body.phone {
  .row-app-grid {
    overflow: hidden;
  }
  .row-hero {
    padding-top: 0;

    a img {
      vertical-align: middle;
      margin-right: 10px;
    }

    a.close-video {
      margin-top: 5px;
      img {
        vertical-align: top;
      }
    }
  }
  .thumbs {
    margin-right: $gutter-width;
  }
  .thumbs li {
    float: right;
    margin-right: ($gutter-width * 2);
    margin-bottom: 1.2em;
    list-style-type: none;
    padding: 0;
  }
  .thumbs li.last-item {
    margin-right: 0;
  }
  .thumbs li.bottom {
    margin-bottom: 0;
  }
  .thumbs li img {
    float: left;
  }

  .row-interlinks {
    padding: 0 56px 0 $gutter-width;
    border-bottom: 1px solid #CDCDCD;
    background: $light-grey;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
    border-bottom: 1px solid #CDCDCD;
    border-radius: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0 56px 0 $gutter-width;

    .navigation {

      li {
        float: left;
        margin-right: $gutter-width;
        list-style-type: none;
        font-weight: normal;
        margin-bottom: 0;

        a {
          font-size: 13px;
          color: #333;
          text-decoration: none;
          display: block;
          border-top: 4px solid transparent;
          padding: 12px 10px 16px;
        }
        a:hover {
          color: #dd4814;
        }
        a.active {
          border-top: 4px solid #dd4814;
          color: #dd4814;
        }
      }
    }
  }
  .next-steps li {
    border-bottom: 1px dotted $warm-grey;
    padding: 8px 0 10px;
  }
  .next-steps li:first-child {
    border-top: 1px dotted $warm-grey;
  }
}

/*	@section app-ecosystem
-------------------------------------------------------------- */
body.phone-app-ecosystem {
  .row-hero {
    img {
      padding-top: $gutter-width * 2;
    }
  }
	.row-box-feature {
		overflow: hidden;

    img {
      margin-left: -80px;
      margin-top: 55px;
    }
  }
}

/*	@section operators-and-oems
-------------------------------------------------------------- */
body.phone-operators-and-oems {
  .list-link {
    padding-left: 30px;
    position: relative;
    top: -8px;
  }
  .combined-list {
    padding-bottom: 20px;
  }
}

/*  @section thank-you
-------------------------------------------------------------- */
body.phone-thank-you {
  .row-hero{
    height: auto;
    padding-bottom: 20px;
  }
  .row-box {
    @include rounded_corners(0);
  }
}

/*	@section animations on design page
-------------------------------------------------------------- */
body.phone-features {
	.row strong {
		font-weight: bold;
	}
  .clever-convos {
    background: url("../img/devices/phone-conversations-324x576.jpg") no-repeat scroll 580px 30px;
    height: 450px;
  }

  .edge-magic {
    padding-bottom: 0;
    padding-top: 0;
    z-index: 5;

    .replay {
      background: url("../img/devices/phone-animation-repeat.png") no-repeat;
      width: 25px;
      height: 21px;
      overflow: hidden;
      position: absolute;
      top: 360px;
      left: 0;
      outline: none;
    }
    .replay:hover {
      background-position: 0 -21px;
    }
  }
  .edge-top {
    margin-top: 0;
    z-index: 20;
  }
  .edge-left {
    z-index: 10;

    .edge-magic-content {
        padding-right: 0;
      }
  }
  .edge-bottom {
    z-index: 1;
  }

 .slider-animation {
  width: 275px;
  height: 447px;
  position: relative;
  background: url(../img/phone/features/image-phone-portrait.jpg) no-repeat center 0;
  margin: 0 auto;

    .screen {
      width: 182px;
      height: 324px;
      position: absolute;
      top: 55px;
      left: 46px;
      overflow: hidden;

      .launcher {
        width: 44px;
        height: 324px;
        position: absolute;
        top: 0;
        left: -100px;
      }
    }
  }

  .edge-magic-animation .screen {
    background: url("../img/phone/features/image-phone-music.jpg") no-repeat;
    .launcher {
      background: url("../img/phone/features/image-phone-launcher.png") no-repeat;
    }
    .screen-fade {
      background: #000;
      opacity: 0;
      width: 182px;
      height: 324px;
    }
  }

  .go-back {
    background: url(../img/phone/features/image-phone-portrait.jpg) no-repeat center 0;
    .screen {
      .camera-screen {
        background: url("../img/phone/features/image-phone-camera-portrait.jpg") no-repeat;
        width: 182px;
        height: 324px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .gallery-screen {
        background: url("../img/phone/features/image-phone-gallery-edge.jpg") no-repeat scroll center center #000;
        background-size: 142px 250px;
        height: 324px;
        left: 0;
        position: absolute;
        top: 0;
        width: 182px;
      }
    }
  }

  .content-controls {
    background: url(../img/phone/features/image-phone-portrait.jpg) no-repeat center 0;
    margin-bottom: $gutter-width;
    .screen {
      .gallery-screen {
        background: url("../img/phone/features/image-phone-gallery.jpg") no-repeat;
        width: 182px;
        height: 324px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      .gallery-controls {
        background: url("../img/devices/phone-edge-magic-gallery-controls.png") no-repeat;
        width: 182px;
        height: 324px;
        position: absolute;
        top: 317px;
        left: 0;
      }
    }
  }

  .edge-magic-animation.run {
    .screen .launcher {
        -moz-transition: left 1s;
        -webkit-transition: left 1s;
        -o-transition: left 1s;
      transition: left 1s;
      left: 0;
    }
    .screen .screen-fade {
        -moz-transition-delay: 1s;
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
      transition-delay: 1s;
        -moz-transition: opacity 1s;
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
      transition: opacity 1s;
      opacity: 0.3;
    }
  }

  .full-swipe.run .screen {
    .launcher{
      left: 0;
        -moz-transition: left 1s;
        -webkit-transition: left 1s;
        -o-transition: left 1s;
      transition: left 1s;
    }
    .launcher.return {
      left: -100px;
    }
    .fb-screen {
       left: 182px;

        -moz-transition: left 1s;
        -webkit-transition: left 1s;
        -o-transition: left 1s;
      transition: left 1s;
        -moz-transition-delay: .7s;
        -webkit-transition-delay: .7s;
        -o-transition-delay: .7s;
      transition-delay: .7s;
    }
  }

  .go-back.run .screen {
    .camera-screen{
      left: -182px;
          -moz-transition: left 1s;
          -webkit-transition: left 1s;
          -o-transition: left 1s;
        transition: left 1s;
    }
    .gallery-screen {
      background-size: 182px 324px;
        -moz-transition: left 1s ease 1.5s;
          -webkit-transition: left 1s ease 1.5s;
          -o-transition: left 1s ease 1.5s;
        transition: left 1s ease 1.5s;
          -moz-transition: background-size 1s ease;
          -webkit-transition: background-size 1s ease;
          -o-transition: background-size 1s ease;
        transition: background-size 1s ease;
    }
  }

  .content-controls.run {
    .screen .gallery-controls {
      top: 280px;
        -moz-transition: top 0.5s;
        -webkit-transition: top 0.5s;
        -o-transition: top 0.5s;
      transition: top 0.5s;
    }
  }

  .row-notifications {

    .screen {
		  background: url(../img/phone/features/image-phone-notifications.jpg) no-repeat;
		}

		.settings-screen {
		  transition: height .8s;
		  background: url(../img/phone/features/image-phone-messages.jpg) no-repeat;
		  width: 182px;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
		}

		.slider-knot {
		  transition: top .8s;
		  background: url(../img/devices/phone-anim-slider-knot.png) no-repeat;
		  width: 182px;
		  height: 15px;
		  position: absolute;
		  top: -15px;
		  left: 0;
		}

		.run {
		   .slider-knot {
		     top: 309px;
		   }
		   .settings-screen {
		     height: 324px;
		   }
		}
  }

  .row-hud .screen {
		background: url(../img/devices/phone-hud.png) no-repeat;
  }
}

body.phone-contact-us {
  .row {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0
  }
  .row-hero {
    height: auto;
  }
}

/*	@section design
-------------------------------------------------------------- */
body.phone-features {
  .row-hero {
    background: url("../img/devices/phone-photo-hero-561x323.png") no-repeat scroll 96% 20px;

    h1 {
      margin-bottom: 0.267em;
    }

    div {
      margin-bottom: 0;
    }
  }
  #main-content .infographic {
    background:url("../img/devices/phone-infographic-background.jpg") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding-top: 0 ;
    padding-bottom: $gutter-width;
    margin-top: 0;
    overflow: hidden;

    h1 {
      margin-top: 40px;
      padding-right: 40px;
    }

    .main-image {
      opacity: 1;
        -moz-transition: opacity 2s;
        -webkit-transition: opacity 2s;
        -o-transition: opacity 2s;
      transition: opacity 2s;
      position: absolute;
      margin-left: -38px;
    }

    .no-print {
      text-align: center;

      .main-image {
        display: none;
      }
      .info-pic-1 {
        display: block;
        opacity: 1;
        margin-left: 0;
        position: static;
      }
    }

    .hide {
      opacity: 0;
    }

    .thumbnails {
      list-style-type: none;
      height: 80px;
      position: absolute;
      top: 350px;
      text-align: center;
      padding-bottom: 20px;
      width: 550px;

      img {
        margin-right: 20px;
      }
    }
  }

  .search-animation {
    .slider-animation {
  	  width: 275px;
  	  height: 447px;
  	  position: relative;

      .search-screen{
          background-image: url(../img/devices/phone-search-background.png);
          height: 324px;
          width: 182px;
          position: absolute;
          top: 55px;
          left: 39px;
      }
      .search-screen.run {

      }
      .phone-background{
          background: url(../img/phone/features/image-phone-portrait.jpg) no-repeat center 0;
          height: 420px;
          width: 258px;
          position: relative;
      }

      .screen{
          position: absolute;
          top: 0px;
          left: 0px;
      }

      .fade-1 {
          z-index: 4000;
      }

      .fade-2 {
          z-index: 3000;
      }

      .fade-3 {
          z-index: 2000;
      }

      .fade-4 {
          z-index: 1000;
      }
    }

    .slider-animation.run {
      .screen{
          /* Fade out */
          transition: opacity;
          transition-timing-function: ease-out;
          transition-duration: 250ms;
          transition-delay: 2s;

          -ms-transition: opacity;
          -ms-transition-timing-function: ease-out;
          -ms-transition-duration: 250ms;
          -ms-transition-delay: 2s;

          -moz-transition: opacity;
          -moz-transition-timing-function: ease-out;
          -moz-transition-duration: 250ms;
          -moz-transition-delay: 2s;

          -webkit-transition: opacity;
          -webkit-transition-timing-function: ease-out;
          -webkit-transition-duration: 250ms;
          -webkit-transition-delay: 2s;
      }

      .fade-1{
          opacity: 0;
      }

      .fade-2{
          transition-delay: 4s;
          -ms-transition-delay: 4s;
          -moz-transition-delay: 4s;
          -webkit-transition-delay: 4s;
          opacity: 0;
      }

      .fade-3{
          transition-delay: 6s;
          -ms-transition-delay: 6s;
          -moz-transition-delay: 6s;
          -webkit-transition-delay: 6s;
          opacity: 0;
      }
    }
  }
  .phone-photos {
    padding-bottom: 0;
    overflow: hidden;

    h2{
      margin-top: 30px;
    }

    .phone-camera {
      margin-left: -80px;
      margin-top: $gutter-width;
    }

    .photo-gallery {
      margin-left: -30px;
    }
  }
  .row.row-fingertips {
    padding-bottom: 0;
  }
  .row-pictures {
	  overflow: hidden;
  }
  .row-pictures div.feature-image {
		background: #000;
		position: relative;
		top: 0;
		left: 0;
  }
  .row-pictures .pictures-portrait .feature-image {
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  	background: url("../img/phone/features/image-phone-gallery.jpg") center 53px no-repeat;
  }
  .row-pictures .pictures-portrait img {
		position: relative;
		z-index: -1;
	}
  .row-pictures .pictures-landscape .feature-image {
  	display: none;
  }
  .row-pictures .pictures-landscape img {
		display: none;
  }
}

body.phone-ubuntu-for-android {
	.row-free .eight-col ul {
		background:url('../img/patterns/android-background-dotted.png');
		padding: $gutter-width 0;
		text-align: center;
		width: 100%;
	}

  inline inline-icons

	#ecosystem .inline-icons li {
		margin-bottom: 0;
	}
}

body.phone-ubuntu-for-android #easy-integration {
	background: $light-grey url(../img/devices/bg-android-integrate-301x296.png) right bottom no-repeat;
	background-size: 311px 306px;
	margin-bottom: 0;
	width: 100%;
}

body.phone-ubuntu-for-android #ecosystem {
	background: $light-grey;
}

.row-android .four-col {
	background:url('../img/patterns/android-background-dotted.png') 0 2px;
	display: table;
	text-align: center;
}

.row-android span {
	display: table-cell;
	vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

body.phone-ubuntu-for-android .box-contact {
	@include rounded_corners(4px);
	padding: $gutter-width;
	margin-bottom: $gutter-width;
}

/*	@section ubuntu-for-android > features
-------------------------------------------------------------- */
body.phone-ubuntu-for-android-features {
  h1 {
    position: relative;
    z-index: 2;
  }
  .row-hero { overflow: visible; }
  .row-hero img { margin-bottom: $gutter-width; }
  .default-apps{
    ul {
      padding: 20px 0;
    }
    li {
      width: 50%;
      min-height: 125px;
    }
  }
}

/*	@section backed-by-canonical
-------------------------------------------------------------- */
body.phone-backed-by-canonical,
body.tablet-backed-by-canonical {
	#main-content .row-hero {
		height: auto;
		min-height: 0;
		padding-top: 40px;

		p {
		  width: 570px;
		}
	}
	#main-content .intro {
		background-image: url(../img/pictograms/picto-pack/picto-canonical.svg);
    background-position: 90% center;
    background-repeat: no-repeat;
		padding: 0 $four-col 0 0;
	}
	.intro li .link-cta-ubuntu { margin-right: $gutter-width; }
	.row-experience .five-col { margin-top: $gutter-width * 4; }
}
html.no-svg,
html.opera-mini {
  body.phone-backed-by-canonical,
  body.tablet-backed-by-canonical {
    #main-content .intro {
      background-image: url(../img/pictograms/picto-pack/picto-canonical.png);
    }
  }
}


body.phone-ubuntu-for-android-contact-us .row-hero {
	height: auto;
}



/*  @section carrier-advisory-group
-------------------------------------------------------------- */
body.phone-carrier-advisory-group {
  #main-content .list li:first-of-type {
    padding-top: 0;
  }
  .row-hero ul {
    margin-top: 35px;
    margin-right: -20px;
    text-align: center;
    li {
      margin-right: 20px;
      margin-bottom: 20px;
      padding: 20px 10px 14px;
      /*width: 117px;*/
      width: 63px;
    }
    li img {
    	float: none;
    }
    li.five {
      margin-right: 25px;
    }
    li.verizon img {
      position: relative;
      top: -8px;
    }
  }


  .independently-chained {
    background-color: #f7f7f7;
  }

  .row .pull-quote {
    margin-bottom: 30px;
  }
}
/* Edge Indiegogo promo */
.edge-promo {

	background: #282828;
    -moz-box-shadow:    inset 0  4px 6px -4px rgba(0, 0, 0, 0.6),
                        inset 0 -4px 6px -4px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0  4px 6px -4px rgba(0, 0, 0, 0.6),
                        inset 0 -4px 6px -4px rgba(0, 0, 0, 0.6);
     box-shadow:        inset 0  4px 6px -4px rgba(0, 0, 0, 0.6),
                        inset 0 -4px 6px -4px rgba(0, 0, 0, 0.6);
	color: #fff;

	h2 {
			text-shadow: 0 2px 4px rgba(0,0,0,.6);
	}

	p {
		margin-bottom: 25px;
	}
	p:last-child {
		margin-bottom: 0;
	}

	.link-cta-ubuntu {
		-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	}
}


body.phone-scopes {

  .edge-magic {
      padding-bottom: 0;
      padding-top: 0;
    }

  .row-find-anything .slider-animation,
  .row-your-scopes .slider-animation {

    background: url("../img/devices/phone-portrait.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 447px;
    margin: 0 auto;
    position: relative;
    width: 275px;

    .screen {
      background: url(../img/devices/image-phone-scopes-background.png) no-repeat;
      margin: 0;
      height: 324px;
      left: 46px;
      overflow: hidden;
      position: absolute;
      top: 55px;
      width: 182px;
    }
  }

  .row-your-scopes .slider-animation {
    .status-bar {
      width: 182px;
      height: 15px;
      top: 0;
      position: absolute;
      list-style-type: none;
      background: url(../img/devices/image-phone-scopes-statusbar.png) no-repeat;

    }
    .scope-content {
      width: 182px;
      height: 309px;
      top: 15px;
      position: absolute;
      list-style-type: none;
      background: url(../img/devices/image-phone-scopes-page.png) no-repeat;
      background-position: 0 -15px;
        -moz-transition: background-position 1s;
        -webkit-transition: background-position 1s;
      transition: background-position 1s;
    }

    &.run .scope-content {
      background-position: 0 -300px;
    }
  }

  .row-find-anything .slider-animation,
  .row-your-scope .slide-animation {

    li {
      width: 182px;
      height: 324px;
      top: 0;
      position: absolute;
      list-style-type: none;
    }
    .scope-1 {
      background: url(../img/devices/image-phone-scopes-content-1.png) no-repeat;
      left: 0;
    }
    .scope-2 {
      background: url(../img/devices/image-phone-scopes-content-2.png) no-repeat;
      left: 182px;
    }
    .scope-3 {
      background: url(../img/devices/image-phone-scopes-content-3.png) no-repeat;
      left: 182px;
    }
    .scope-4 {
      background: url(../img/devices/image-phone-scopes-content-4.png) no-repeat;
      left: 182px;
    }

    &.run {
      .scope-1 {
        -webkit-animation: scope-slide-out 1s normal forwards ease;
        -moz-animation: scope-slide-out 1s normal forwards ease;
        animation: scope-slide-out 1s normal forwards ease;
      }
      .scope-2 {
        -webkit-animation: scope-slide-in 1s normal forwards ease,
                           scope-slide-out 1s normal forwards ease;
        -moz-animation: scope-slide-in 1s normal forwards ease,
                        scope-slide-out 1s normal forwards ease;
        animation: scope-slide-in 1s normal forwards ease,
                   scope-slide-out 1s normal forwards ease;
          -moz-animation-delay: 0s, 2s;
          -webkit-animation-delay: 0s, 2s;
        animation-delay: 0s, 2s;
      }
      .scope-3 {
        -webkit-animation: scope-slide-in 1s normal forwards ease,
                           scope-slide-out 1s normal forwards ease;
        -moz-animation: scope-slide-in 1s normal forwards ease,
                        scope-slide-out 1s normal forwards ease;
        animation: scope-slide-in 1s normal forwards ease,
                   scope-slide-out 1s normal forwards ease;
          -moz-animation-delay: 2s, 4s;
          -webkit-animation-delay: 2s, 4s;
        animation-delay: 2s, 4s;
      }
      .scope-4 {
        -webkit-animation: scope-slide-in 1s normal forwards ease;
        -moz-animation: scope-slide-in 1s normal forwards ease;
        animation: scope-slide-in 1s normal forwards ease;
          -moz-animation-delay: 4s;
          -webkit-animation-delay: 4s;
        animation-delay: 4s;
      }
    }
  }
}

/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 768px) {
  body.phone {
    .row-app-grid img {
      margin-left: -80px;
      margin-top: 0;
    }
  }

  body.phone-home {
    .touch-border {
      img {
        margin-top: $gutter-width;
      }
    }
    .touch-border {
      padding-bottom: 0;

      div {
        margin-bottom: 0;
        padding-bottom: $gutter-width;
      }
    }

    .inline-icons li {
      margin-right: 75px;
      margin-bottom: 30px;
    }
    .edge-promo {
      background: url("../img/homepage/2_3_generic.jpg") no-repeat scroll -350% 72% #282828;
    }
  }

  body.phone-app-ecosystem {
    .row.adapt-web-apps {
      overflow: hidden;

      img {
        margin-bottom: -80px;
      }
    }

    .space-for-content h2 {
      margin-top: 60px;
    }
  }

  body.phone-carrier-advisory-group {
    .row-image-centered {
      padding-bottom: 40px;
    }
    .row-hero ul li {
      width: 140px;
    }
  }

  body.phone-features {
    #main-content .infographic {
      height: 442px;
      margin-top: 0;

      h1 {
        margin-top: 70px;
      }
      .no-print {
        text-align: left;
      }
      .no-print .info-pic-1 {
        display: block;
        opacity: 1;
        margin-left: -38px;
        position: absolute;
      }
      .info-pic-1.hide {
        opacity: 0;
      }
      .no-print .main-image {
        display: block;
        left: -50px;
        max-width: none;
        position: absolute;
      }
      .main-image img {
        left: -50px;
        position: absolute;
        max-width: none;
      }

    }
    .row-pictures {
      .pictures-portrait .feature-image {
        margin-top: 74px;
      }
      .edge-magic-content {
        margin-top: 20px;
      }
    }
    .edge-magic-content {
      margin-top: 95px;
      padding-right: 60px;
    }
    .edge-magic {
      padding-bottom: 0;
      padding-top: 0;
      margin-top: -70px;
      z-index: 5;

      .replay {
        background: url("../img/devices/phone-animation-repeat.png") no-repeat;
        width: 25px;
        height: 21px;
        overflow: hidden;
        position: absolute;
        top: 360px;
        left: 295px;
        outline: none;
      }
      .replay:hover {
        background-position: 0 -21px;
      }
    }
    .edge-top {
      margin-top: 0;
      z-index: 20;
    }
    .edge-left {
      z-index: 10;

      .edge-magic-content {
          padding-left: 100px;
      }

    }
    .row-pictures .pictures-landscape .feature-image {
      background: url("../img/phone/features/image-phone-camera-landscape.jpg") 51px 15px no-repeat;
      width: 500px;
      height: 258px;
      margin-top: 30px;
      margin-bottom: 20px;
      display: block;

      img {
        display: block;
        position: relative;
        z-index: -1;
      }
    }
  }
  body.phone-operators-and-oems {
    div.row-hero.row-image-centered div + span img {
      margin-right: 0;
    }
  }
  body.phone-ubuntu-for-android-features {
    .default-apps{
      ul {
        padding: 20px;
      }
      li {
        width: 17.7953%;
        padding-top: 10px;
        border-bottom: 0;
        border-right: 0;
        height: 130px;
        width: 155px;
        text-align: center;
        margin-bottom: 0;
      }
      li.bottom {
        border-bottom: 0;
        margin-bottom: $gutter-width;
      }
      li.last-item {
        border-right: 0;
      }
    }
  }
  body.phone-scopes {
    #main-content .row-hero {
      background: url(../img/devices/image-phone-scopes-hero.jpg) no-repeat 133% top;
      margin-top: 0;
      padding-top: 40px;
      margin-bottom: 50px;
    }
    .edge-magic-content {
        margin-top: 100px;
    }
    .row-savvy-search {
      h3 {
        margin-top: 40px;
      }
    }
  }
  body.phone-carrier-advisory-group .independently-chained {
    background: url("../img/devices/phone-photo-app.png") no-repeat scroll -20px center #F7F7F7;
    padding-bottom: 60px;
    padding-top: 60px;
  }


  body.phone-ubuntu-for-android {
    .row-hero-android img {
      display: block;
    }
  }
}




/* Large / Desktop viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 984px) {

  body.phone-home {
    .edge-promo {
      background: url("../img/homepage/2_3_generic.jpg") no-repeat scroll 680% 72% #282828;
    }
    .align-base {
      margin-top: 86px;
    }
  }

  body.phone-ubuntu-for-android {
    .row-hero-android {
      background: url(../img/devices/photo-android-hero-749x456.jpg) 145% top no-repeat;
      min-height: 22.5em;
      margin-bottom: 0;

      img {
        display: none;
      }
    }
  }
  body.phone-carrier-advisory-group {
    .row-hero ul li {
      width: 189px;
    }
    .independently-chained {
      background: url("../img/devices/phone-photo-app.png") no-repeat scroll 0 center #F7F7F7;
    }
  }
  body.phone-scopes {
    #main-content .row-hero {
      background: url(../img/devices/image-phone-scopes-hero.jpg) no-repeat right top;
    }
    .row-savvy-search {
      height: 480px;
      background: url(../img/phone/scopes/image-scopes.jpg) no-repeat -115px top;
    }
  }
  /*  @section contextualised footer #context-footer
  -------------------------------------------------------------- */
  .phone-context-footer .feature-three {
    background: url(../img/devices/phone-bottom-find-out.png) right center no-repeat;
    min-height: 170px;

    p {
      padding-right: 65px;
    }
  }

  body.phone-features .edge-magic .replay {
    left: 333px;
  }

  body.phone-app-ecosystem .write-apps {
    background: url("../img/phone/app-ecosystem/image-phone-softwarecentre.jpg") no-repeat scroll right 55px;
  }

  body.phone-ubuntu-for-android-features {
    .default-apps{
        li {
        width: 17.7953%;
        padding-top: 20px;
        border-bottom: 1px dotted $warm-grey;
        border-right: 1px dotted $warm-grey;
        height: 150px;
        width: 166px;
      }
		}
	}
}