/*	@section search
-------------------------------------------------------------- */
.search-container {
  margin-left: 10px;
  margin-right: 10px;
}

.row-hero__title {
  font-size: 2em;    
}

.banner .nav-primary .header-search .form-text {
	-webkit-appearance: none;
	border: 0;
	color: $text-color;
	width: 100%;
	border-bottom: 1px solid $alto-grey;

	&::-webkit-input-placeholder {
		color: $white;
  	opacity: 0.4;
	}
}

@media only screen and (min-width : $navigation-threshold) {
	.banner .nav-primary {
		.header-search {
	  	max-width: 180px;

			.form-text {
				color: $white;
				border-bottom: 0;

				button[type=submit] {
					margin-left: -60px;
					margin-top: 0;
				}
			}
		}
	}
}
