@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Server section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @global server
.server {

  .row-hero {
    position: relative;
  }

  .box-padded-feature {
    @media only screen and (min-width : $breakpoint-medium) {
      .six-col {
        border-right: 1px dotted $warm-grey;
      }

      .six-col.last-col {
        border-right: 0;
      }

      .border-bottom {
        border-bottom: 1px dotted $warm-grey;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

// @subsection /server/management
.server-management {

  .row-community {
    @media only screen and (min-width : $breakpoint-medium) {
      border-bottom: 0;
      margin-bottom: 0;

      .nine-col {
        background: $white;
      }
    }
  }

  .row-ubuntu-advantage-promo {

    @media only screen and (min-width: $breakpoint-medium) {
      background-image: url('#{$asset-server}65274d19-landscape-screenshot.png?W=600');
      background-position: 158% 45px;
      background-repeat: no-repeat;
      background-size: 56%;
    }

    @media only screen and (min-width: $breakpoint-large) {
      background-position: right -100px top 40px;
      background-size: 40%;
    }
  }
}

// @subsection /server/hyperscale
.server-hyperscale {

  h1 {
    float: none;
    margin-bottom: 18px;
  }

  .partner-logo {
    margin: 0 auto 10px;

    @media only screen and (min-width : $breakpoint-medium) {
      height: 105px;

      img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

// @subsection /server/contact-us
.server-contact-us {

  .row-hero {
    h2 {
      color: $cool-grey;
      padding-top: 0;
    }
  }
}

// @subsection /server/livepatch
.server-livepatch {

  .row-hero {
    @media only screen and (min-width : $breakpoint-medium) {
      background: $white url('#{$asset-server}e2c4c299-server-livepatch-hero.jpg?w=984') no-repeat;
      background-size: cover;
      color: $white;
      min-height: 450px;
      padding: 0;
    }
  }
}
