@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Server section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @global server
.server {

  .box-padded-feature {
    @media only screen and (min-width : $breakpoint-medium) {
      .six-col {
        border-right: 1px dotted $warm-grey;
      }

      .six-col.last-col {
        border-right: 0;
      }

      .border-bottom {
        border-bottom: 1px dotted $warm-grey;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
    }
  }

  // @subsection /server/management
  &.server-management {

    .row-community {
      @media only screen and (min-width : $breakpoint-medium) {
        border-bottom: 0;
        margin-bottom: 0;

        .nine-col {
          background: $white;
        }
      }
    }

    .row-ubuntu-advantage-promo {

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server-url}65274d19-landscape-screenshot.png?W=600');
        background-position: 158% 45px;
        background-repeat: no-repeat;
        background-size: 56%;
      }

      @media only screen and (min-width: $breakpoint-large) {
        background-position: right -100px top 40px;
        background-size: 40%;
      }
    }
  }

  // @subsection /server/hyperscale
  &.server-hyperscale {

    h1 {
      float: none;
      margin-bottom: 18px;
    }

    .partner-logo {
      margin: 0 auto 10px;

      @media only screen and (min-width : $breakpoint-medium) {
        height: 105px;

        img {
          position: relative;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }

    .partner-list > li {

      @media only screen and (min-width : $breakpoint-medium) {
        min-height: 24rem;
      }

      @media only screen and (min-width: $breakpoint-large) {
        min-height: 21rem;
      }
    }
  }

  // @subsection /server/contact-us
  &.server-contact-us {

    .row-hero {
      h2 {
        color: $cool-grey;
        padding-top: 0;
      }
    }
  }

  // @subsection /server/livepatch
  &.server-livepatch {

    .row-hero {
      @media only screen and (min-width : $breakpoint-medium) {
        background: $white url('#{$asset-server-url}e2c4c299-server-livepatch-hero.jpg?w=984') no-repeat;
        background-size: cover;
        color: $white;
        min-height: 450px;
        padding: 0;
      }
    }

    .list-stepped--spaced .list-stepped__item {
      @media only screen and (min-width : $breakpoint-medium) {
        padding: 20px 0;
      }
    }

    .row--kernal-livepatching {

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server-url}4d62c90a-applying-Livepatches.png?W=600');
        background-position: 158% 45px;
        background-repeat: no-repeat;
        background-size: 56%;
      }

      @media only screen and (min-width: $breakpoint-large) {
        background-position: right -100px center;
        background-size: 40%;
      }
    }
  }
  // @subsection /server/maas
  &.server-maas {

    .row-hero {

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server-url}90669a61-screenshot-cloud_maas.png?w=800');
        background-position: 100% 33%;
        background-repeat: no-repeat;
        background-size: 50%;
      }
    }

    .row--autopilot {

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server-url}b72144a5-cloud_landscape_components.png?op=region&rect=0,0,900,900');
        background-position: 100% 0;
        background-repeat: no-repeat;
        background-size: 50%;
      }
    }

    h1 {
      background-image: url('#{$asset-server-url}33b96a7f-maas-logo.svg');
      background-position: 0 18px;
      background-repeat: no-repeat;
      background-size: 1.4em;
      margin-left: -6px;
      padding-left: 1.5em;
    }

    .pricing {
      &__title {
        font-size: 1.25em;
        margin-bottom: 12px;

        @media only screen and (min-width: $breakpoint-medium) {
          font-size: 1.5em;
        }

        @media only screen and (min-width: $breakpoint-large) {
          font-size: 1.75em;
        }
      }

      &__cost {
        font-size: 1.25em;
        text-align: left;
        color: #333;
        font-weight: 300;
        border-top: 1px solid #d2d2d2;
        padding-top: 12px;
        margin-top: 12px;

        @media only screen and (min-width: $breakpoint-medium) {
          font-size: 1.5em;
        }

        @media only screen and (min-width: $breakpoint-large) {
          font-size: 1.75em;
        }
      }

      &__unit {
        font-size: .75em;
        color: $warm-grey;
      }

      &__detail {
        border-top: 1px solid #d2d2d2;
        padding: 15px 0 0;
      }
    }

    // no-svg and opera-mini fixes for cloud/maas
    &.no-svg,
    &.opera-mini {

      h1 {
        background-image: url('#{$asset-server-url}6574f6c8-image-picto-maas-40.png');
      }
    }
  }
}
