@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Server section
//  Author:			Web Team at Canonical Ltd
//  Last edited by: Peter Mahnke
//  Last edited on: 19 September 2016
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @global server
.server {

  .row-hero {
    position: relative;
  }

  .box-padded-feature {
    @media only screen and (min-width : $breakpoint-medium) {
      .six-col {
        border-right: 1px dotted $warm-grey;
      }

      .six-col.last-col {
        border-right: 0;
      }

      .border-bottom {
        border-bottom: 1px dotted $warm-grey;
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

// @section /server overview
.server-home {

  .row-juju-maas div {
    padding-bottom: 0;
  }
}

// @subsection /server/management
.server-management {

  .row-community {
    @media only screen and (min-width : $breakpoint-medium) {
      border-bottom: 0;
      margin-bottom: 0;
      padding: 40px 20px;

      .nine-col {
        background: #fff;
      }
    }
  }
}

// @subsection /server/hyperscale
.server-hyperscale {

  h1 {
    float: none;
    margin-bottom: 18px;
  }

  .partner-logo {
    margin: 0 auto 10px;

    @media only screen and (min-width : $breakpoint-medium) {
      height: 105px;

      img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  .welcome-hyperscale {
    @media only screen and (min-width : $breakpoint-medium) {
      background-image: url("#{$asset-server}ab812f69-image-server-hyperscale.svg");
      background-position: 575px center;
      background-repeat: no-repeat;
    }
  }
}

// @subsection /server/contact-us
.server-contact-us {

  .row-hero {
    h2 {
      color: $cool-grey;
      padding-top: 0;
    }
  }
}

// @fix for opera and no-svg
.no-svg,
.opera-mini {
  .server-hyperscale .welcome-hyperscale {
    @media only screen and (min-width : $breakpoint-medium) {
      background-image: url("#{$asset-server}b47ff24b-image-server-hyperscale.png");
    }
  }
}
