@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Tablet section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------


// @global tablet section_title
.tablet {

  .row--canonical {
    background: $dark-aubergine;
    color: $white;

    &__inner {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    @media only screen and (min-width : $breakpoint-large) {
      min-height: 0;
    }
  }

  .row--developers .strip-inner-wrapper {
    align-items: center;
    display: flex;
  }

  .row--buy {
    &__title {

      @media only screen and (min-width : 984px) {
        width: 40.37611%;
      }
    }

    &:before {

      @media only screen and (min-width : $breakpoint-medium) {
        background: url('#{$asset-server}ffc49bc1-tablet-coming-soon.png?w=800') center center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 70%;
        overflow: visible;
        position: absolute;
        right: 4vw;
        top: 100px;
        width: 60vw;
      }

      @media only screen and (min-width : $breakpoint-large) {
        height: 78%;
        top: 70px;
      }
    }
  }


  // @section /tablet overview
  &.tablet-overview {

    .heading__image {
      bottom: -2px;
      height: .9em;
      position: relative;
      top: auto;
      transform: none;

      @media only screen and (min-width : $breakpoint-large) {
        height: .78em;
      }
    }

    .row-hero {
      overflow: hidden;

      &__image {
        margin: 10px 0;
      }

      &:before {

        @media only screen and (min-width : $breakpoint-medium) {
          background: url('#{$asset-server}14b9087a-tablet-overview-hero.png?w=800') center center no-repeat;
          background-size: contain;
          content: '';
          display: block;
          height: 89%;
          overflow: visible;
          position: absolute;
          right: -24vw;
          top: 5%;
          width: 75vw;
        }

        @media only screen and (min-width : 769px) {
          right: 0;
          width: 53vw;
        }

        @media only screen and (min-width : 1400px) {
          right: 2vw;
          top: 5%;
          width: 50vw;
        }
      }
    }
  }

  //	@section /tablet/features
  &.tablet-features {
    .row-hero {
      overflow: hidden;

      @media only screen and (min-width : $breakpoint-medium) {
        overflow: hidden;
        padding: 40px 10px 20px;
      }

      @media only screen and (min-width : $breakpoint-large) {
        padding: 100px 40px;
      }

      &:before {

        @media only screen and (min-width : $breakpoint-medium) {
          background: url('#{$asset-server}4edf954e-tablet-browser-video.png?w=800') center center no-repeat;
          background-size: contain;
          content: '';
          display: block;
          height: 85%;
          overflow: visible;
          position: absolute;
          right: -30vw;
          top: 40px;
          width: 80vw;
        }

        @media only screen and (min-width : $breakpoint-large) {
          right: 10vw;
          width: 40vw;
        }
      }
    }

    .row--mobile-office__image {

      @media only screen and (min-width : $breakpoint-medium) {
        margin-top: 30px;
      }

      @media only screen and (min-width : $breakpoint-large) {
        margin-top: 60px;
      }
    }

    .row--scopes {

      @media only screen and (min-width : $breakpoint-medium) {
        padding-left: 0 !important;
      }

      @media only screen and (min-width : $breakpoint-large) {
        align-items: center;
        display: flex;
        min-height: 730px;
      }

      &:before {

        @media only screen and (min-width : $breakpoint-medium) {
          background: url('#{$asset-server}b6052399-scopes-tablet-portrait.png?w=890') center right no-repeat;
          background-size: contain;
          content: '';
          height: 80%;
          left: 4vw;
          position: absolute;
          top: 10%;
          width: 48vw;
        }

        @media only screen and (min-width : $breakpoint-large) {
          background-size: auto;
          height: 500px;
          left: 0;
          top: 110px;
          width: 50vw;
        }
      }

      &__image {
        margin: 10px 0;
      }
    }
  } // end tablet features

  //	@section /tablet/devices
  &.tablet-devices {
    .list-ubuntu:last-child {
      margin-bottom: 20px;
    }
  }

  //	@section /tablet/developers
  &.tablet-developers {
    .row-hero {
      overflow: hidden;

      @media only screen and (min-width : $breakpoint-medium + 1) {
        min-height: 550px;
      }

      &:before {

        @media only screen and (min-width : $breakpoint-medium) {
          background: url('#{$asset-server}7fbc7231-tablet-developers-hero.png?w=646') center center no-repeat;
          background-size: contain;
          content: '';
          display: block;
          height: 85%;
          overflow: visible;
          position: absolute;
          right: -30vw;
          top: 40px;
          width: 80vw;
        }

        @media only screen and (min-width : $breakpoint-large) {
          right: 10vw;
          width: 40vw;
        }
      }
    }

    .row--scopes__image {
      margin: 30px 0;
    }

    .row--one-app__image {
      @media only screen and (min-width : $breakpoint-medium) {
        margin-top: 30px;
      }

      @media only screen and (min-width : $breakpoint-large) {
        margin-top: 60px;
      }
    }
  } // end tablet-developers

  //	@section /tablet/partners
  &.tablet-partners {
    .row-hero {
      overflow: hidden;

      &__image {
        margin: 10px 0;
      }

      &:before {
        @media only screen and (min-width : $breakpoint-medium) {
          background: url('#{$asset-server}969bb3c1-9a.-scope-task-switcher-tablet-portrait-landscape.png?w=700') center center no-repeat;
          background-size: contain;
          content: '';
          display: block;
          height: 80%;
          overflow: visible;
          position: absolute;
          right: -24vw;
          top: 10%;
          width: 70vw;
        }

        @media only screen and (min-width : 769px) {
          right: 2vw;
          width: 47vw;
        }

        @media only screen and (min-width : 1400px) {
          right: 2vw;
          width: 50vw;
        }
      }
    }

    .row--partner-with-us {
      align-items: center;
      background: url('#{$asset-server}278f59db-event-mwc-2015.jpg') center 55% no-repeat;
      background-size: cover;
      display: flex;

      @media only screen and (min-width : $breakpoint-large) {
        min-height: 470px;
      }
    }

    .row--hardware:before {

      @media only screen and (min-width : $breakpoint-medium) {
        background: url('#{$asset-server}a45fde67-brand-book-illustration-4x.png') 0 center no-repeat;
        background-size: contain;
        content: '';
        display: block;
        height: 80%;
        overflow: visible;
        position: absolute;
        right: 30px;
        top: 0;
        width: 40vw;
      }

      @media only screen and (min-width : $breakpoint-large) {
        height: 80%;
        right: 0;
        top: 0;
        width: 48vw;
      }
    }
  }
}
