/*	@section tablet
--------------------------------------------------------------
	Contents:
		@section general
		@section tablet home

-------------------------------------------------------------- */

/*	@section general
-------------------------------------------------------------- */
.flexbox .tablet { /* this may need to move to local if we use it elsewhere, we should then also consider adding it to the ubuntu vanilla theme, and heck, maybe even vanilla frawmework! */
  .list--grid {
    @media only screen and (min-width : 768px) {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
    }
    
    @media only screen and (max-width : 768px) {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    
    &__image-container {
      float: left;
      margin-right: 6.94444%;
      width: 19.7917%;
    }
    
    &__description {
      width: 73.2639%;
    }
    
    .list--grid__item {
      border-bottom: 1px dotted $warm-grey;
      
      &:last-child {
        border-bottom: 0;
      }
      
      @media only screen and (min-width : 768px) {
        border-right: 1px dotted $warm-grey;
        box-sizing: border-box;
        margin-bottom: 0;
        margin-right: 0;
        padding: 30px $gutter-width 10px;
        width: 33%;
        
        // remove the border from the last three items
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
          border-bottom: 0;
        }
        
        // remove the padding from the first item of each row
        &:nth-child(3n+1) {
          padding-left: 0;
        }
        
        // remove the right hand border from the 
        &:nth-child(3n) {
          border-right: 0;
        }
      }
    }
  }
}

.tablet-overview,
.tablet-features {
  .billboard {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 260px;
    
    @media only screen and (min-width : 768px) {
      min-height: 40vh;
    }
    
    @media only screen and (min-width : 984px) {
      min-height: 80vh;
    }
  }
}

.tablet .row--buy {
  &__title {
    @media only screen and (min-width : 984px) {
      width: $five-col; 
    }    
  }
  
  &:before {
    @media only screen and (min-width : 768px) {
      background: url('https://assets.ubuntu.com/v1/0330fbce-scope+task+switcher+tablet+portrait.png?w=800') center center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 70%;
      overflow: visible;
      position: absolute;
      right: 4vw;
      top: 100px;
      width: 60vw;
    }
    @media only screen and (min-width : 984px) {
      height: 78%;
      top: 70px;
    }
  }
}

/*	@section tablet home
-------------------------------------------------------------- */
.js .tablet-overview {
  .align-vertically {
    transform-style: flat;
  }
  
  .heading__image {
    transform: none;
    top: auto;
  }
}

.tablet {
  .row--canonical {
    background: $dark-aubergine;
    color: #fff;
    
    &__inner {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    
    @media only screen and (min-width : 984px) {
      min-height:  0;
    }
  }
  
  .heading__image {
    position: relative;
    bottom: -2px;
    height: .9em;
    
    @media only screen and (min-width : 984px) {
      height: .78em;
    }
  }
  
  .row--no-limit {
    background-image: url('https://assets.ubuntu.com/v1/82cd0641-no-limit.jpg');
    
    .billboard__content-bottom {
      margin-top: 80px;
    }
  }
  
  .row--developers .strip-inner-wrapper {
    display: flex;
    align-items: center;
  }
}

.tablet-overview {
  .row-hero {
    overflow: hidden;
  }
  .row-hero__image {
    margin: 10px 0;
  }
  
  .row-hero:before {
    @media only screen and (min-width : 768px) {
      background: url('https://assets.ubuntu.com/v1/da3c58e9-tablet-overview-hero.png?w=800') center center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 89%;
      overflow: visible;
      position: absolute;
      right: -24vw;
      top: 5%;
      width: 75vw;
    }
  
    @media only screen and (min-width : 769px) {
      right: 0vw;
      width: 53vw;
    }
    
    @media only screen and (min-width : 1400px) {
      top: 5%;
      right: 2vw;
      width: 50vw;
    }
  }
}

/*	@section tablet devices
-------------------------------------------------------------- */
.tablet-devices .list-ubuntu:last-child {
  margin-bottom: 20px;
}

/*	@section tablet developers
-------------------------------------------------------------- */
.tablet-developers {
  .row-hero {
    overflow: hidden;
    
    @media only screen and (min-width : 769px) {
      overflow: hidden;
      min-height: 550px;
    }
  }
  
  @media only screen and (min-width : 768px) {
    .row-hero:before {
      background: url('https://assets.ubuntu.com/v1/bc0abc14-tablet-windowed-mode-qt-creator.png') center center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 85%;
      overflow: visible;
      position: absolute;
      right: -30vw;
      top: 40px;
      width: 80vw;
    }
  }
  
  @media only screen and (min-width : 984px) {
    .row-hero:before {
      right: 10vw;
      width: 40vw;
    }
  }
        
  .row--scopes__image {
    margin: 30px 0;
  }
    
  .row.strip-canonical {
    @media only screen and (min-width : 984px) {
      min-height:  0;
    }
  }
  
  .row--one-app__image {
    @media only screen and (min-width : 768px) {
      margin-top: 30px;
    }
    
    @media only screen and (min-width : 984px) {
      margin-top: 60px;
    }
  }
} // end tablet-developers

/*	@section tablet features
-------------------------------------------------------------- */
.tablet-features {
  .row-hero {
    overflow: hidden;
    
    @media only screen and (min-width : 769px) {
      overflow: hidden;
      min-height: 600px;
    }
  }
    
  @media only screen and (min-width : 768px) {
    .row-hero:before {
      background: url('https://assets.ubuntu.com/v1/ad759195-tablet-features-hero.png?w=800') center center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 85%;
      overflow: visible;
      position: absolute;
      right: -30vw;
      top: 40px;
      width: 80vw;
    }
  }
  
  @media only screen and (min-width : 984px) {
    .row-hero:before {
      right: 10vw;
      width: 40vw;
    }
  }

  .row--scopes {
    @media only screen and (min-width : 984px) {
      min-height: 730px;
      display: flex;
      align-items: center;
    }
    
    &:before {
      @media only screen and (min-width : 768px) {
        background: url('https://assets.ubuntu.com/v1/74071e9a-tablet-features-scopes.jpg?w=890') center right no-repeat;
        background-size: contain;
        content: "";
        height: 80%;
        left: 4vw;
        position: absolute;
        top: 10%;
        width: 48vw;
      }
      
      @media only screen and (min-width : 984px) {
        background-size: auto;
        height: 500px;
        left: 0;
        top: 110px;
        width: 50vw;
      }
    }
  }
  
  .row.row--scopes {
    @media only screen and (min-width : 768px) {
      padding-left: 0 !important;
    }
  }
  
  .row--scopes__image {
    margin: 10px 0;
  }
  
  .row--great-things {
    background: url('https://assets.ubuntu.com/v1/48c4fdac-Young-woman-using-tablet-computer.jpg') center center no-repeat;
    background-size: cover;
    
    .billboard__content-bottom {
      margin-top: 100px;
    }
  }

  .row--mobile-office {
    background: url('https://assets.ubuntu.com/v1/2dffe073-web_tablet_features_wp.png') 0 0;
    background-size: cover;
    
    @media only screen and (max-width : 768px) {
      background-image: none;
    }
    
    &:before {
      background: #e9e9ea;
      content: "";
      display: block;
      
      @media only screen and (max-width : 768px) {
        height: 29%;
      }
    
      @media only screen and (min-width : 984px) {
        height: 340px;
      }
      
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    
    &__image {
      @media only screen and (min-width : 768px) {
        margin-top: 30px;
      }
    
      @media only screen and (min-width : 984px) {
        margin-top: 60px;
      }
    }
  }
  
} // end tablet features

/*	@section tablet partners
-------------------------------------------------------------- */
body.tablet-partners {
  .row-hero {
    overflow: hidden;
  }
  .row-hero__image {
    margin: 10px 0;
  }
  
  .row-hero:before {
    @media only screen and (min-width : 768px) {
      background: url('https://assets.ubuntu.com/v1/8fca0ecc-scope+task+switcher+tablet+portrait+landscape.png?w=700') center center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 80%;
      overflow: visible;
      position: absolute;
      right: -24vw;
      top: 10%;
      width: 70vw;
    }
 
    @media only screen and (min-width : 769px) {
      right: 2vw;
      width: 47vw;
    }
    
    @media only screen and (min-width : 1400px) {
      right: 2vw;
      width: 50vw;
    }
 }
  
  .row--partner-with-us {
    align-items: center;
    background: url('https://assets.ubuntu.com/v1/278f59db-event-mwc-2015.jpg') center 55% no-repeat;
    background-size: cover;
    display: flex;
    
    @media only screen and (min-width : 984px) {
      min-height: 470px;
    }
  }
  
  .row--hardware:before {
    @media only screen and (min-width : 768px) {
      background: url('https://assets.ubuntu.com/v1/a45fde67-brand-book-illustration-4x.png') 0 center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 80%;
      overflow: visible;
      position: absolute;
      top: 0;
      width: 40vw;
      right: 30px;
   }
    
    @media only screen and (min-width : 984px) {
      height: 80%;
      right: 0;
      top: 0;
      width: 48vw;
    }
  }
  
  .partner-logos {
    margin-top: 30px;
    margin-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__item {
      text-align: center;
      margin-bottom: 60px;
    } 
  }
}
