@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Internet of things section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @global internet-of-things
.internet-of-things {

  .row-cta {

    @media only screen and (min-width: $breakpoint-medium) {
      padding: 80px 40px 60px;
    }

    @media only screen and (min-width: $breakpoint-large) {
      padding: 90px 40px 70px;
    }
  }

  // override the darkness
  .row-case-studies {
    background: $light-grey;
    color: $cool-grey;

    .pull-quote {

      @media only screen and (min-width: $breakpoint-medium) {
        margin: 0 .6em;
      }

      cite {
        color: $cool-grey;
      }
    }

    p {
      color: $cool-grey;
    }
  }

  // had to biggerise the logos
  .inline-logos--large li {

    img {
      height: auto;
      max-height: 65px;
    }
  }

  .border-small {
    border-bottom: 1px dotted $warm-grey;

    @media only screen and (min-width: $breakpoint-medium) {
      border: 0;
    }
  }


  // @section /internet-of-things overview
  &.internet-of-things-overview {
    .row-hero {

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server}8d5f669e-DARWIN_2.png?q=60&w=984');
        background-position: 309px -35px;
        background-repeat: no-repeat;
        background-size: 85%;
        min-height: 550px;
      }
    }

    .row-developers {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}a301749d-iot-overview-developer.jpg?q=70&w=984') center center no-repeat;
        background-size: cover;
        min-height: 460px;
      }
    }

    .row--leaders {
      min-height: 438px;
    }
  }

  //internet-of-things/partners
  &.internet-of-things-partners {
    .row-hero {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}da0d4008-iot-partners-hero-house.jpg?q=70&w=984') center center no-repeat;
        background-size: cover;
        color: $white;
      }
    }

    .row-supported-hardware {
      background: url('#{$asset-server}be523ae7-dell-edge-gateway-5000-series.jpg?h=300') 50% 100% no-repeat;
      padding-bottom: 300px;

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}be523ae7-dell-edge-gateway-5000-series.jpg?h=400') 90% 50% no-repeat;
        min-height: 400px;
        padding-bottom: inherit;
      }
    }

    // XXX override the bullshit at line 26 of desktop.scss
    .row-case-studies > h2:first-child {

      @media only screen and (min-width: $breakpoint-medium) {
        margin-bottom: 20px;
      }
    }
  }

  // XXX in lots of section
  .strip-dark blockquote p {
    color: $white;
  }

  // @subsection /internet-of-things/features
  &.internet-of-things-features {
    .row-hero {
      background-position: 430px -25px;
      background-size: 69%;

      @media only screen and (max-width: $breakpoint-medium) {
        background-position: 400px 20px;
      }

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server}d1c96b0e-erle_robotics_ubuntu_drone.jpg?q=60');
        background-repeat: no-repeat;
        min-height: 470px;
      }
    }

    .row-marketplace {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}d1f7b4c2-iot-features-led.jpg?q=60&w=984') left -74px no-repeat;
        background-size: cover;
        min-height: 500px;
        overflow: hidden;
      }

      @media only screen and (max-width: $breakpoint-medium) {
        min-height: 400px;
      }
    }
  }

  // @subsection /internet-of-things/developers
  &.internet-of-things-developers {
    .row-hero {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}8b907c80-iot-developers-hero.jpg?q=60&w=984') center center no-repeat;
        background-size: cover;
      }

      @media only screen and (min-width: $breakpoint-large) {
        min-height: 560px;
      }
    }

    .row-autonomous {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}ec11fa9e-developers-robots-erle-spider.jpg?q=60') -80px 50% no-repeat;
        background-size: 55% auto;
      }

      &__content {

        @media only screen and (min-width: $breakpoint-medium) {
          padding: 50px 0;
        }
      }
    }

    .row-toys {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}039723db-iot-developers-robot.jpg?q=60&amp;w=984') center center no-repeat;
        background-size: cover;
      }

      @media only screen and (min-width: $breakpoint-large) {
        min-height: 420px;
      }

      &__content {
        padding-top: 20px;
      }
    }


    // here be dragons
    .snappy-language-image {
      margin-top: -27px;
    }

    .inline-logos--compact {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  // @subsection /internet-of-things/digital-signage
  &.internet-of-things-digital-signage {
    .row-hero {

      h1 {
        @media only screen and (min-width: $breakpoint-medium) {
          margin-top: 40px;
        }
      }
    }

    .list-partners li {
      font-size: 1em;
    }

    .row-cta--digital-signage {
      background: url('#{$asset-server}68b1a2e2-banner_pixels05.png') center center no-repeat;

      @media only screen and (min-width: $breakpoint-medium) {
        background-size: cover;
      }
    }
  }
}

.internet-of-things-robotics {

  .livestream-video {
    display: none;
  }

  .livestream-video-close {
    display: block;
    padding: 0 1rem;
    text-align: right;
  }

  .row-hero {
    background-image: url('#{$asset-server}b26f3723-robotics_background_760px.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    margin-top: 0;
    min-height: 420px;
    padding-top: 40px;
    color: $light-grey;

    @media screen and (min-width: 768px){
      background-image: url('#{$asset-server}a8155a65-robotics_background_desktop.jpg?w=984');
      min-height: 560px;
    }

    .button--primary {
      margin-top: 1rem;
    }

    h1 {
      text-align: left;
      width: 100%;
    }
  }

  .row-full-width {
    iframe {
      margin: 0;
      padding: 0;
    }
  }

  .ubuntu-loves-robotics {
    margin-top: 0;

    @media only screen and (min-width: $breakpoint-medium) {
      background-image: url('#{$asset-server}8d5f669e-DARWIN_2.png?q=60&w=984');
      background-position: 309px -35px;
      background-repeat: no-repeat;
      background-size: 85%;
      margin-top: 0;
      min-height: 550px;
    }

    h1 {

      @media only screen and (min-width: $breakpoint-medium) {
        margin-top: 17%;
      }
    }
  }
}

.internet-of-things-robotics {
  @media only screen and (min-width: $breakpoint-large) {
    .case-studies__image {
      display: block;
      height: 177px;
      width: 290px;
    }
  }
}
