@charset 'UTF-8';

// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End Internet of things section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

// @global internet-of-things
.internet-of-things {

  .nav-secondary {
    @media only screen and (min-width: $breakpoint-large) {
      padding-left: 10px;
    }
  }

  .row-cta {

    @media only screen and (min-width: $breakpoint-medium) {
      padding: 80px 40px 60px;

      .inline-small + h2 {
        margin-left: 0;
      }
    }

    @media only screen and (min-width: $breakpoint-large) {
      padding: 90px 40px 70px;

      .inline-small + h2 {
        margin-left: 0;
      }
    }
  }

  // override the darkness
  .row-case-studies {
    background: $light-grey;
    color: $cool-grey;

    .pull-quote {

      @media only screen and (min-width: $breakpoint-medium) {
        margin: 0 .6em;
      }

      cite {
        color: $cool-grey;
      }
    }

    p {
      color: $cool-grey;
    }
  }

  // had to biggerise the logos
  .inline-logos--large li {

    img {
      height: auto;
      max-height: 65px;
    }
  }

  .border-small {
    border-bottom: 1px dotted $warm-grey;

    @media only screen and (min-width: $breakpoint-medium) {
      border: 0;
    }
  }


  // @section /internet-of-things overview
  &.internet-of-things-overview {

    .row-developers {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}1d3618a4-GettyImages-592235063_medium.jpg') center center no-repeat;
        background-size: cover;
        min-height: 460px;
      }
    }

    .row--leaders {
      min-height: 438px;
    }
  }

  //internet-of-things/partners
  &.internet-of-things-partners {
    .row-hero {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}da0d4008-iot-partners-hero-house.jpg?q=70&w=984') center center no-repeat;
        background-size: cover;
        color: $white;
        margin-top: 0;
        padding-top: 40px;
      }
    }

    .row-supported-hardware {
      background: url('#{$asset-server}be523ae7-dell-edge-gateway-5000-series.jpg?h=300') 50% 100% no-repeat;
      padding-bottom: 300px;

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}be523ae7-dell-edge-gateway-5000-series.jpg?h=400') 90% 50% no-repeat;
        min-height: 400px;
        padding-bottom: inherit;
      }
    }

    // XXX override the bullshit at line 26 of desktop.scss
    .row-case-studies > h2:first-child {

      @media only screen and (min-width: $breakpoint-medium) {
        margin-bottom: 20px;
      }
    }
  }

  // XXX in lots of section
  .strip-dark blockquote p {
    color: $white;
  }

  // @subsection /internet-of-things/developers
  &.internet-of-things-developers {
    .row-hero {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}8b907c80-iot-developers-hero.jpg?q=60&w=984') center center no-repeat;
        background-size: cover;
        margin-top: 0;
        padding-top: 40px;
      }

      @media only screen and (min-width: $breakpoint-large) {
        min-height: 560px;
      }
    }

    .row-autonomous {

      &__content {
        position: relative;

        @media only screen and (min-width: $breakpoint-medium) {
          padding: 50px 0;
        }

        &:before {
          @media only screen and (min-width : $breakpoint-medium) {
            background: url('#{$asset-server}ec11fa9e-developers-robots-erle-spider.jpg?w=897') center center no-repeat;
            background-size: contain;
            content: '';
            display: block;
            height: 150%;
            overflow: visible;
            position: absolute;
            top: -21%;
            left: -170%;
            width: 150%;
          }
        }
      }
    }

    .row-toys {

      @media only screen and (min-width: $breakpoint-medium) {
        background: url('#{$asset-server}039723db-iot-developers-robot.jpg?q=60&amp;w=984') center center no-repeat;
        background-size: cover;
      }

      @media only screen and (min-width: $breakpoint-large) {
        min-height: 420px;
      }

      &__content {
        padding-top: 20px;
      }
    }


    // here be dragons
    .snappy-language-image {
      margin-top: -27px;
    }

    .inline-logos--compact {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  // @subsection /internet-of-things/digital-signage
  &.internet-of-things-digital-signage {
    .row-hero {

      h1 {
        @media only screen and (min-width: $breakpoint-medium) {
          margin-top: 40px;
        }
      }
    }

    .list-partners li {
      font-size: 1em;
    }

    .row-cta--digital-signage {
      background: url('#{$asset-server}68b1a2e2-banner_pixels05.png') center center no-repeat;

      @media only screen and (min-width: $breakpoint-medium) {
        background-size: cover;
      }
    }
  }
}

.internet-of-things.internet-of-things-robotics {

  .row {
    &-hero {
      background-image: url('#{$asset-server}613bd7dc-robotics_mobile.png');
      background-position: bottom;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      padding-bottom: 50%;

      @media only screen and (min-width: $breakpoint-medium) {
        background-image: url('#{$asset-server}ecdbd3cb-robotics.jpg');
        padding-bottom: 100px;
      }

      .button--primary {
        margin-top: 1rem;
      }

      h1 {
        text-align: left;
        width: 100%;
      }
    }

    &--benefits {
      &__image {
        height: 150px;
      }
    }
  }

  .livestream {

    &__video iframe {
      width: 100vw;
      max-width: 984px;
      height: 45vw;
      max-height: 555px;
    }

    &__close {
      display: block;
      padding: 0 1rem;
      text-align: right;
    }
  }

  .row-full-width {
    iframe {
      margin: 0;
      padding: 0;
    }
  }

  .ubuntu-loves-robotics {
    margin-top: 0;

    @media only screen and (min-width: $breakpoint-medium) {
      margin-top: 0;
      min-height: 550px;
    }

    h1 {

      @media only screen and (min-width: $breakpoint-medium) {
        margin-top: 17%;
      }
    }
  }
}

.internet-of-things-robotics {
  @media only screen and (min-width: $breakpoint-large) {
    .case-studies__image {
      display: block;
      height: 177px;
      width: 290px;
    }
  }
}
