 // internet-of-things section wide styles
.internet-of-things {
  @media only screen and (min-width: 768px) {
    // Leave row-cta here for now but if it spreads to other sections maybe think about it being a new pattern.
    .row-cta {
      padding: 80px 40px 60px;
    }
  }

  @media only screen and (min-width: 984px) {
    .row-cta {
      padding: 90px 40px 70px;
    }
  }
  // override the darkness
  .row-case-studies {
    background: $light-grey;
    color: $cool-grey;

    p,
    .pull-quote cite {
      color: $cool-grey;
    }
  }

  // had to biggerise the logos
  .inline-logos--large li {

    img {
      height: auto;
      max-height: 65px;
    }
  }

  // events - in contextual footer
  #context-footer {
    .event {
      display: inline-block;

      @media only screen and (max-width: 480px) {
        width: 100%;
      }

      @media only screen and (min-width: 768px) {
        display: table-cell;
      }
    }
  }
}

.border-small {
  border-bottom: 1px dotted #888;

  @media only screen and (min-width: 768px) {
    border: 0;
  }
}

//internet-of-things-overview
.internet-of-things-overview {
  #main-content .row-hero {
    margin-top: 0;

    @media only screen and (min-width: 768px) {
      background-image: url('#{$asset-server}8d5f669e-DARWIN_2.png?q=60&w=984');
      background-position: 309px -35px;
      background-repeat: no-repeat;
      background-size: 85%;
      margin-top: 0;
      min-height: 550px;
    }

    @media only screen and (min-width: 768px) {
      h1 {
        margin-top: 17%;
      }
    }
  }

  .row-developers {
    @media only screen and (min-width: 768px) {
      background: url('#{$asset-server}a301749d-iot-overview-developer.jpg?q=70&w=984') center center no-repeat;
  		background-size: cover;
      min-height: 460px;
    }
  }

  .row--leaders {
    min-height: 438px;
  }
}

//internet-of-things/partners
.internet-of-things-partners {
  @media only screen and (min-width: 768px) {
    #main-content .row-hero {
      background: url('#{$asset-server}da0d4008-iot-partners-hero-house.jpg?q=70&w=984') center center no-repeat;
  		background-size: cover;
      color: #fff;
      margin-top: 0;
      padding-top: 40px;
    }
  }

  .row-supported-hardware {
    background: url('#{$asset-server}be523ae7-dell-edge-gateway-5000-series.jpg?h=300') 50% 100% no-repeat;
    padding-bottom: 300px;

    @media only screen and (min-width: 768px) {
      background: url('#{$asset-server}be523ae7-dell-edge-gateway-5000-series.jpg?h=400') 90% 50% no-repeat;
      min-height: 400px;
      padding-bottom: inherit;
    }
  }

  // override the bullshit at line 26 of desktop.scss
  @media only screen and (min-width: 768px) {
    .row-case-studies > h2:first-child {
      margin-bottom: 20px;
    }
  }
}

.strip-dark blockquote p {
  color: #fff;
}

//internet-of-things/features
body.internet-of-things-features {
  #main-content .row-hero {
    background-position: 430px -25px;
    background-size: 69%;
    margin-top: 0;
    padding-top: 20px;

    @media only screen and (max-width: 768px) {
      background-position: 400px 20px;
    }

    @media only screen and (min-width: 768px) {
      background-image: url('#{$asset-server}d1c96b0e-erle_robotics_ubuntu_drone.jpg?q=60');
      background-repeat: no-repeat;
      min-height: 470px;
      padding-top: 40px;
    }
  }

  @media only screen and (min-width: 768px) {
    .row-marketplace {
      background: url('#{$asset-server}d1f7b4c2-iot-features-led.jpg?q=60&w=984') left -74px no-repeat;
      background-size: cover;
      min-height: 500px;
      overflow: hidden;
    }
  }

  @media only screen and (max-width: 768px) {
    .row-marketplace {
      min-height: 400px;
    }
  }
}

//internet-of-things/developers
body.internet-of-things-developers {
  @media only screen and (min-width: 768px) {
    #main-content .row-hero {
      background: url('#{$asset-server}8b907c80-iot-developers-hero.jpg?q=60&w=984') center center no-repeat;
      background-size: cover;
      margin-top: 0;
      padding-top: 40px;
    }

    @media only screen and (min-width: 984px) {
      min-height: 560px;
    }

    .row-autonomous {
      background: url('#{$asset-server}ec11fa9e-developers-robots-erle-spider.jpg?q=60') -80px 50% no-repeat;
      background-size: 55% auto;

      .row-autonomous__content {
        padding: 50px 0;
      }
    }

    .row-toys {
      background: url('#{$asset-server}039723db-iot-developers-robot.jpg?q=60&amp;w=984') center center no-repeat;
      background-size: cover;

      @media only screen and (min-width: 984px) {
        min-height: 420px;
      }

      .row-toys__content {
        padding-top: 20px;
      }
    }
  }

  // here be dragons
  .snappy-language-image {
    margin-top: -27px;
  }
}
