@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:    Ubuntu Front-End management-home section
//  Author:      Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

//  @section all /tv
.tv {

  .row-hero {
    h2 {
      font-size: 1.5625em;
    }

    p {
      padding-left: 0;
    }

    iframe {
      margin-bottom: 20px;
    }
  }

  .no-margin {
    margin-bottom: 0;
  }

  .contextual-footer .strip-inner-wrapper {
    @media only screen and (min-width : $breakpoint-medium) {
      margin: 0 20px;
    }
  }

  .no-svg,
  .opera-mini {
    @media only screen and (min-width : $breakpoint-large) {
      background-image: url(#{$asset-server}8d9877ff-pictogram-develop-125x125.png);
    }
  }

  // @subsection /tv/experience
  &.tv-experience {
    .row-hero {
      overflow: hidden;

      .intro {
        @media only screen and (min-width : $breakpoint-large) {
          margin: 0;
          padding: 0 57.4468% 2em 0;

          img {
            @media only screen and (min-width : $breakpoint-large) {
              bottom: -35px;
              position: absolute;
              right: -120px;
            }
          }
        }
      }

      .quote-grey br {
        display: block;
      }
    }
  }

  // @subsection /tv/featurs-and-specs
  &.tv-features-and-specs {
    .inline-icons li {
      margin-bottom: 0;
      margin-top: 1.25em;

      img {
        height: 90px;
        width: 90px;
      }
    }

    .row-hero h2 {
      margin-bottom: 1em;
    }
  }
}
