<a class="p-card js-product-card u-hide" href="https://pages.ubuntu.com/rs/066-EOV-335/images/Open%20Source%20AI%20Infrastructure%20Whitepaper.pdf?version=0">
  <h5>
    Your blueprint for a private AI cloud
  </h5>
  <p>
    In this guide, explore the layers of the AI infrastructure stack, the technologies behind each layer, and the principles for building your own private AI cloud using open source.
  </p>
  <svg class="product-card__arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 14" fill="none" aria-hidden="true">
    <path d="M0 6.92383H16M10 13.4238L16 6.92383L10 0.423828"/>
  </svg>
</a>
