<div class="p-card js-product-card u-hide">
  {{ image(url="https://assets.ubuntu.com/v1/706eb1db-_ceph_optimise-storage-costs.html.png",
    alt="Ceph",
    width="800",
    height="326",
    hi_def=True,
    loading="auto",
    attrs={"class": "p-card__thumbnail", "style": "width: 90px;"}) | safe
  }}
  <hr class="p-rule--muted" />
  <h3>
    <a href="/engage/cloud-adjacent-storage">How to optimize your cloud storage costs</a>
  </h3>
  <p>
    Cloud storage is amazing, it's on demand, easy to implement, but is it the most cost effective approach for large, predictable data sets?
  </p>
  <p>
    Understand the true costs of storing data in a public cloud, and how open source Ceph can provide a cost effective alternative.
  </p>
  <p>
    <a href="/engage/cloud-adjacent-storage">Access the whitepaper&nbsp;&rsaquo;</a>
  </p>
</div>
