<div class="p-card js-product-card u-hide">
  <h3>
    <a href="/ceph">Performant, reliable and cost-effective storage with Ceph</a>
  </h3>
  <p>
    Canonical Ceph simplifies the entire management lifecycle of deployment, configuration, and operation of a Ceph cluster, no matter its size or complexity. Install, monitor, and scale cloud storage with extensive interoperability.
  </p>
  <p>
    <a href="/ceph">Find out how Ceph scales effortlessly and cost-effectively&nbsp;&rsaquo;</a>
  </p>
</div>
