<div class="p-card js-product-card u-hide">
  <img src="https://assets.ubuntu.com/v1/1cbb17af-Multi-cloud%20Kubernetes%20%20and%20containers.png"
       alt="" />
  <hr class="p-rule--muted" />
  <h3>
    <a href="/engage/finance">Adopt open source with confidence in financial services</a>
  </h3>

  <p>
    Modernize your infrastructure and applications without breaking the bank. Start with Ubuntu, get trusted and compliant open source at both infrastructure and application layers.
  </p>
  <p>
    <a href="https://canonical.com/solutions/financial-services">Modernize your stack&nbsp;&rsaquo;</a>
  </p>
</div>
