<div class="p-card js-product-card u-hide">
  <img class="p-card__thumbnail" src="https://assets.ubuntu.com/v1/eaadbd1f-hero-ecosystem-cloud.png" alt="cloud image">
  <hr class="u-sv1">
  <h3>
    <a href="/cloud/private-cloud">What is a private cloud?/a>
  </h3>
  <p> There is no one size fits all cloud architecture. 
  <br>
  Developing the optimum cloud strategy requires evaluating your business needs and aligning them with the different solutions available.
    </p>
  <p><a href="/cloud/private-cloud">Find out which cloud architecture suits you best</a></p>
</div>
