<div class="p-card js-product-card u-hide">
  <img class="p-card__thumbnail"
       src="https://assets.ubuntu.com/v1/29a3e891-Hero-Img-Telco-Illustration-01.png"
       alt="Telco" />
  <hr class="p-rule--muted" />
  <h3>
    <a href="https://canonical.com/solutions/telco/5g-core">Scalable telco clouds start here</a>
  </h3>
  <p>
    Designed with economics in mind, Canonical's infrastructure solutions for telecommunications ensure ROI, and reliability. Save costs by operating your infrastructure and applications the smart way, ensuring full automation from day 0 to day N. See why industry leaders like BT Group prefer Canonical.
  </p>
  <p>
    <a href="https://canonical.com/solutions/telco/5g-core">Learn more&nbsp;&rsaquo;</a>
  </p>
</div>
