/// asset server domain
$asset-server: 'https://assets.ubuntu.com/v1/';

/// the theme's core brand colour
$brand-color: #e95420;

/// header link color
$header-link-color: #fff;

/// Site maximum width
$site-max-width: 984px;

/// Resource hover
$resource-hover: #fafafa;

/// Resource shadow
$resource-shadow: #ddd;

/// Canonical aubergines
$dark-aubergine: #2c001e;
$canonical-aubergine: #772953;

/// Ubunut orange
$ubuntu-orange: #e95420;

/// Box grey for buttons
$box-solid-grey: #efefef;

/// Threshold to switch to small screen naviagtion
$navigation-threshold:  860px !default;
