

// Theme variables
@import 'global-settings';

// import required files
@import '../../vanilla-framework-0.7.7/scss/vanilla';

/// ubuntu element styles
@import 'modules/base';
@import 'modules/grid';
@import 'modules/header';
@import 'modules/rows';
@import 'modules/contextual-footer';
@import 'modules/footer';
@import 'modules/helpers';
@import 'modules/arrows';
@import 'modules/boxes';
@import 'modules/lists';
@import 'modules/breadcrumbs';
@import 'modules/search';
@import 'modules/blockquotes';

@mixin ubuntu-vanilla-theme {
  @include vanilla;
  @include ubuntu-base;
  @include ubuntu-grid;
  @include ubuntu-header;
  @include ubuntu-rows;
  @include ubuntu-contextual-footer;
  @include ubuntu-footer;
  @include ubuntu-helpers;
  @include ubuntu-arrows;
  @include ubuntu-boxes;
  @include ubuntu-lists;
  @include ubuntu-breadcrumbs;
  @include ubuntu-search;
  @include ubuntu-blockquotes;
}
