{% extends "templates/one-column.html" %}

{% block meta_description %}Resources from across Ubuntu and Canonical combined into a single portal{% endblock %}

{% block title %}Resources{% endblock %}

{% block content %}



<section class="p-strip--accent is-shallow">
  <div class="row">
    <h1>Resources</h1>
  </div>
</section>

{% get_json_feed "https://insights.ubuntu.com/wp-json/wp/v2/posts?categories=1172" limit=10 as case_studies %}
<section class="p-strip is-shallow">
  <div class="row">
    <h2>Case studies</h2>
    {% if case_studies is False %}
    <div class="p-notification--negative">
      <p class="p-notification__response"><span class="p-notification__status">Error:</span>The live news feed failed to load. Please <a href="https://github.com/canonical-websites/www.ubuntu.com/issues/new" class="p-link--external">report this bug</a> and our team will fix the problem as soon as&nbsp;possible.</p>
    </div>
    {% else %}
    {% if case_studies|length is 0 %}
    <div class="p-notification--information">
      <p class="p-notification__response">
        <span class="p-notification__status">Information:</span> There were no results found for this category
      </p>
    </div>
    {% endif %}
    <ul class='p-list'>
      {% for item in case_studies %}
        <li class="p-list__item"><a href="{{item.link}}" class="p-link--external">{{item.title.rendered | safe}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>

{% get_json_feed "https://insights.ubuntu.com/wp-json/wp/v2/posts?categories=1187" limit=10 as webinars %}
<section class="p-strip is-shallow">
  <div class="row">
    <h2>Webinars</h2>
    {% if webinars is False %}
    <div class="p-notification--negative">
      <p class="p-notification__response"><span class="p-notification__status">Error:</span>The live news feed failed to load. Please <a href="https://github.com/canonical-websites/www.ubuntu.com/issues/new" class="p-link--external">report this bug</a> and our team will fix the problem as soon as&nbsp;possible.</p>
    </div>
    {% else %}
    {% if webinars|length is 0 %}
    <div class="p-notification--information">
      <p class="p-notification__response">
        <span class="p-notification__status">Information:</span> There were no results found for this category
      </p>
    </div>
    {% endif %}
    <ul class='p-list'>
      {% for item in webinars %}
        <li class="p-list__item"><a href="{{item.link}}" class="p-link--external">{{item.title.rendered | safe}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>

{% get_json_feed "https://insights.ubuntu.com/wp-json/wp/v2/posts?categories=1485" limit=10 as white_papers %}
<section class="p-strip is-shallow">
  <div class="row">
    <h2>White papers</h2>
    {% if white_papers is False %}
    <div class="p-notification--negative">
      <p class="p-notification__response"><span class="p-notification__status">Error:</span>The live news feed failed to load. Please <a href="https://github.com/canonical-websites/www.ubuntu.com/issues/new" class="p-link--external">report this bug</a> and our team will fix the problem as soon as&nbsp;possible.</p>
    </div>
    {% else %}
    {% if white_papers|length is 0 %}
    <div class="p-notification--information">
      <p class="p-notification__response">
        <span class="p-notification__status">Information:</span> There were no results found for this category
      </p>
    </div>
    {% endif %}
    <ul class='p-list'>
      {% for item in white_papers %}
        <li class="p-list__item"><a href="{{item.link}}" class="p-link--external">{{item.title.rendered | safe}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>

{% get_json_feed "https://insights.ubuntu.com/wp-json/wp/v2/posts?categories=2497" limit=10 as tutorials %}
<section class="p-strip is-shallow">
  <div class="row">
    <h2>Tutorials</h2>
    {% if tutorials is False %}
    <div class="p-notification--negative">
      <p class="p-notification__response"><span class="p-notification__status">Error:</span>The live news feed failed to load. Please <a href="https://github.com/canonical-websites/www.ubuntu.com/issues/new" class="p-link--external">report this bug</a> and our team will fix the problem as soon as&nbsp;possible.</p>
    </div>
    {% else %}
    {% if tutorials|length is 0 %}
    <div class="p-notification--information">
      <p class="p-notification__response">
        <span class="p-notification__status">Information:</span> There were no results found for this category
      </p>
    </div>
    {% endif %}
    <ul class='p-list'>
      {% for item in tutorials %}
        <li class="p-list__item"><a href="{{item.link}}" class="p-link--external">{{item.title.rendered | safe}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>

{% endblock content %}
