{% extends "templates/one-column.html" %}

{% block meta_description %}When an Ubuntu release reaches its end of life it receives no further maintenance updates, including critical security upgrades. It is highly recommended that you upgrade to a recent version of Ubuntu at this point.{% endblock %}

{% block title %}Release end of life{% endblock %}

{% block content %}

<section class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-7">
        <h1>Ubuntu release end of life</h1>
        <p>When an Ubuntu release reaches its &ldquo;end of life&rdquo; it receives no further maintenance updates, including critical security upgrades. We highly recommend that you upgrade to a recent version of Ubuntu at this point.</p>
        <p>This command will print the exact status of your system.</p>
        <div class="p-code-snippet">
          <input class="p-code-snippet__input" value="ubuntu-support-status" readonly="readonly">
          <button class="p-code-snippet__action">Copy to clipboard</button>
        </div>
        <p>For information on previous and upcoming releases and please see the <a href="https://wiki.ubuntu.com/Releases" class="p-link--external">Ubuntu Releases wiki</a> for more details.</p>
      </div>
      <div class="col-5 u-vertically-center u-align--center u-hide--small">
        <img src="{{ ASSET_SERVER_URL }}ed348358-logo-cof.svg" width="200" alt="ubuntu logo" />
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-7">
      <h2>Ubuntu Server and desktop release end of life</h2>
      <p>Standard Ubuntu releases are supported for 9 months and Ubuntu LTS (long-term support) releases are supported for five years on both the desktop and the server. During that time, there will be security fixes and other critical updates. The Ubuntu
        support lifecycle is as follows:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div>
        <img src="{{ ASSET_SERVER_URL }}f02f0a4b-r-eol-ubuntu-full-2018-02-28.png?w=800" width="800" alt="Ubuntu Desktop release cycle, 5 year long-term support" class="u-hide--small" />
      </div>
      <table class="u-hide--medium u-hide--large">
        <thead>
          <tr>
            <td>&nbsp;</td>
            <th scope="col">Released</th>
            <th scope="col">End of Life</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Ubuntu 22.04 LTS</strong></td>
            <td>April 2022</td>
            <td>April 2027</td>
          </tr>
          <tr>
            <td>Ubuntu 21.10</td>
            <td>October 2021</td>
            <td>July 2022</td>
          </tr>
          <tr>
            <td>Ubuntu 21.04</td>
            <td>April 2021</td>
            <td>January 2022</td>
          </tr>
          <tr>
            <td>Ubuntu 20.10</td>
            <td>October 2020</td>
            <td>July 2021</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 20.04 LTS</strong></td>
            <td>April 2020</td>
            <td>April 2025</td>
          </tr>
          <tr>
            <td>Ubuntu 19.10</td>
            <td>October 2019</td>
            <td>July 2020</td>
          </tr>
          <tr>
            <td>Ubuntu 19.04</td>
            <td>April 2019</td>
            <td>January 2020</td>
          </tr>
          <tr>
            <td>Ubuntu 18.10</td>
            <td>October 2018</td>
            <td>July 2019</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04 LTS</strong></td>
            <td>April 2018</td>
            <td>April 2023</td>
          </tr>
          <tr>
            <td>Ubuntu 17.10</td>
            <td>October 2017</td>
            <td>July 2018</td>
          </tr>
          <tr>
            <td>Ubuntu 17.04</td>
            <td>April 2017</td>
            <td>January 2018</td>
          </tr>
          <tr>
            <td>Ubuntu 16.10</td>
            <td>October 2016</td>
            <td>June 2017</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 16.04 LTS</strong></td>
            <td>April 2016</td>
            <td>April 2021</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 14.04 LTS</strong></td>
            <td>April 2014</td>
            <td>April 2019</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 12.04 LTS</strong></td>
            <td>April 2012</td>
            <td>April 2017</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 10.04 LTS</strong></td>
            <td>April 2010</td>
            <td>April 2015</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p><a href="/download ">Download the latest version of Ubuntu&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered ">
  <div class="row">
    <div class="col-8">
      <h2>Kernel release end of life</h2>
      <p>The Ubuntu LTS enablement stacks provide newer kernel and X support for existing Ubuntu LTS releases. These can be installed manually, or are automatically shipped if installing from 12.04.2/14.04.2 and newer release media. These newer enablement stacks are meant for desktop and server, and even recommended for cloud or virtual images. The Ubuntu kernel support lifecycle is as follows:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div>
        <img src="{{ ASSET_SERVER_URL }}3a8a15fc-2018-04-10_kernel-end-of-life.jpg" alt="" class="u-hide--small " />
      </div>
      <table class="u-hide--medium u-hide--large ">
        <thead>
          <tr>
            <th>Release</th>
            <th>Released</th>
            <th>End of life</th>
            <th>Extended customer support</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Ubuntu 18.04.5 LTS</strong></td>
            <td>August 2020</td>
            <td>April 2023</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 20.04 LTS</strong></td>
            <td>April 2020</td>
            <td>April 2025</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04.4 LTS</strong></td>
            <td>February 2020</td>
            <td>August 2020</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Ubuntu 19.10</td>
            <td>October 2019</td>
            <td>July 2020</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04.3 LTS</strong></td>
            <td>August 2019</td>
            <td>February 2020</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Ubuntu 19.04</td>
            <td>April 2019</td>
            <td>January 2020</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04.2 LTS</strong></td>
            <td>February 2019</td>
            <td>August 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Ubuntu 18.10</td>
            <td>October 2018</td>
            <td>July 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04.1 LTS (v.4.15)</strong></td>
            <td>July 2018</td>
            <td>April 2023</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 16.04.5 LTS (v.4.15)</strong></td>
            <td>August 2018</td>
            <td>April 2021</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04.0 LTS (v.4.15)</strong></td>
            <td>April 2018</td>
            <td>April 2023</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 16.04.4 LTS (v.4.13)</strong></td>
            <td>February 2018</td>
            <td>August 2018</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>Ubuntu 17.10 (v4.13)</td>
            <td>October 2017</td>
            <td>July 2018</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 16.04.1 LTS (v4.4)</strong></td>
            <td>August 2016</td>
            <td>April 2021</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 14.04.5 LTS LTS (v3.13)</strong></td>
            <td>August 2016</td>
            <td>April 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 16.04.0 LTS (v4.4)</strong></td>
            <td>April 2016</td>
            <td>April 2021</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 14.04.1 LTS (v3.13)</strong></td>
            <td>August 2014</td>
            <td>April 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 12.04.5 LTS (v3.13)</strong></td>
            <td>August 2014</td>
            <td>April 2017</td>
            <td>April 2019</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 14.04.0 LTS (v3.13)</strong></td>
            <td>April 2014</td>
            <td>April 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 12.04.1 LTS (v3.2)</strong></td>
            <td>August 2012</td>
            <td>April 2017</td>
            <td>April 2019</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 12.04.0 LTS (v3.2)</strong></td>
            <td>April 2012</td>
            <td>April 2017</td>
            <td>April 2019</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>For more information on previous and upcoming kernel releases please see the <a href="https://wiki.ubuntu.com/Kernel/LTSEnablementStack " class="p-link--external ">Ubuntu LTS Enablement Stack wiki page</a>.</p>
    </div>
  </div>
</section>

<section class="p-strip ">
  <div class="row">
    <div class="col-8">
      <h2>Ubuntu OpenStack release end of life</h2>
      <p>Canonical&rsquo;s Ubuntu Cloud archive allows users the ability to install newer releases of <a href="/openstack " class="p-link--external ">Ubuntu OpenStack</a> on an Ubuntu Server as they become available up through the next Ubuntu LTS release. The Ubuntu OpenStack support lifecycle is as follows:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div>
        <img src="{{ ASSET_SERVER_URL }}21318ad0-r-eol-openstack-2018-03-02.png" alt=" " class="u-hide--small " />
      </div>
      <table class="u-hide--medium u-hide--large ">
        <thead>
          <tr>
            <th>Release</th>
            <th>Released</th>
            <th>End of life</th>
            <th>Extended customer support</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>OpenStack Rocky</td>
            <td>August 2018</td>
            <td>February 2020</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Queens</td>
            <td>April 2018</td>
            <td>April 2023</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04 LTS</strong></td>
            <td>April 2018</td>
            <td>April 2023</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Queens</td>
            <td>February 2018</td>
            <td>April 2021</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Pike</td>
            <td>August 2017</td>
            <td>February 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Ocata</td>
            <td>February 2017</td>
            <td>August 2018</td>
            <td>February 2020</td>
          </tr>
          <tr>
            <td>OpenStack Newton</td>
            <td>October 2016</td>
            <td>April 2018</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Mitaka</td>
            <td>April 2016</td>
            <td>April 2021</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 16.04 LTS</strong></td>
            <td>April 2016</td>
            <td>April 2021</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Mitaka</td>
            <td>April 2016</td>
            <td>April 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Liberty</td>
            <td>October 2015</td>
            <td>April 2017</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Kilo</td>
            <td>April 2015</td>
            <td>October 2016</td>
            <td>April 2018</td>
          </tr>
          <tr>
            <td>OpenStack Juno</td>
            <td>October 2014</td>
            <td>April 2016</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Icehouse</td>
            <td>April 2014</td>
            <td>April 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 14.10 LTS</strong></td>
            <td>April 2014</td>
            <td>April 2019</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Icehouse</td>
            <td>April 2014</td>
            <td>April 2017</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Havana</td>
            <td>October 2013</td>
            <td>July 2014</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Grizzly</td>
            <td>May 2013</td>
            <td>August 2014</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Folsom</td>
            <td>September 2012</td>
            <td>June 2014</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>OpenStack Essex</td>
            <td>April 2012</td>
            <td>April 2017</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 12.04 LTS</strong></td>
            <td>April 2012</td>
            <td>April 2017</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p>For more information on previous and upcoming Ubuntu OpenStack releases please see the <a href="https://wiki.ubuntu.com/OpenStack/CloudArchive " class="p-link--external ">Ubuntu Cloud Archive wiki page</a>.</p>
    </div>
  </div>
</section>

{% endblock content %}
