<div class="p-table-of-contents__section">
  <h4 class="p-table-of-contents__header">CONTENTS</h4>
  <nav class="p-table-of-contents__nav">
    <ul class="p-list u-no-margin--bottom">
      <li><a href="#privacy-notices">Privacy notices</a></li>
      <li><a href="#information-we-collect-from-you">Information we collect from you</a></li>
      <li><a href="#how-information-is-collected-from-you">How information is collected from you</a></li>
      <li><a href="#what-do-we-do-with-your-personal-data">What do we do with your personal data</a></li>
      <li><a href="#what-are-your-rights">What are your rights</a></li>
      <li><a href="#cookies">Cookies</a></li>
      <li><a href="#how-do-we-protect-the-information-we-collect">How do we protect the information we collect</a></li>
      <li><a href="#how-we-use-the-information-we-collect">How we use the information we collect</a></li>
      <li><a href="#disclosure-of-your-information">Disclosure of your information</a></li>
      <li><a href="#where-we-transfer-and-store-your-information">Where we transfer and store your information</a></li>
      <li><a href="#changes-to-our-privacy-policy">Changes to our privacy policy</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#your-right-to-complain">Your right to complain</a></li>
    </ul>
  </nav>
</div>

<div class="p-table-of-contents__section">
  <h4 class="p-table-of-contents__header">Older versions</h4>
  <ul class="p-list u-no-margin--bottom">
    <li><a href="/legal/data-privacy/2013-03-25">25 March 2013</a></li>
    <li><a href="/legal/data-privacy/2016-02-08">08 February2016</a></li>
  </ul>
</div>
