	<ul>
{% if level_2 == 'features' %}
		<li{% if level_3 == 'web-browsing' %} class="active"{% endif %}><a href="/desktop/features/web-browsing">Web browsing</a></li>
		<li{% if level_3 == 'office-applications' %} class="active"{% endif %}><a href="/desktop/features/office-applications">Office apps</a></li>
		<li{% if level_3 == 'social-and-email' %} class="active"{% endif %}><a href="/desktop/features/social-and-email">Social and email</a></li>
		<li{% if level_3 == 'music-and-mobile' %} class="active"{% endif %}><a href="/desktop/features/music-and-mobile">Music and mobile</a></li>
		<li{% if level_3 == 'photos-and-videos' %} class="active"{% endif %}><a href="/desktop/features/photos-and-videos">Photos and videos</a></li>
		<li{% if level_3 == 'games-apps' %} class="active"{% endif %}><a href="/desktop/features/games-apps">Games and apps</a></li>
		<li{% if level_3 == 'personal-cloud' %} class="active"{% endif %}><a href="/desktop/features/personal-cloud">Personal cloud</a></li>
{% endif %}
{% comment %}
Removing as per todo 22/03/2013 https://canonical.basecamphq.com/projects/10185805-project-belfast/todo_items/160518782/comments
{% if level_2 == 'for-developers' %}
	<ul>
		<li{% if level_3 == 'thin-client' %} class="active"{% endif %}><a href="/desktop/for-developers/thin-client" >Thin client</a></li>
	</ul>
{% endif %}
{% endcomment %}
	</ul>