{% extends "desktop/base_desktop.html" %}

{% block title %}Desktop for developers{% endblock %}

{% block meta_description %}Learn why Ubuntu is the ideal platform for developers.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1VJ3xT2ViC-CvL0UmsAUzpYFmvpuqUP4AbpnlPm8tqOA/edit{% endblock meta_copydoc %}

{% block body_class %}is-paper{% endblock body_class %}

{% block content %}

{# 0 -180px #}

<section class="p-strip is-shallow u-no-padding--bottom">
  <div class="p-section">
    <div class="row--50-50">
      <div class="col">
        <h1>Ubuntu Desktop <br aria-hidden/>for developers</h1>
 
      </div>
      <div class="col">
        <p>Whether you're an app or web developer, engineering manager, data scientist, or AI/ML researcher &mdash; Ubuntu is your ideal workstation.</p>
        <a href="https://ubuntu.com/download/desktop" class="p-button--positive">Get Ubuntu now</a>
      </div>
    </div>
  </div>
  <div class="p-section">
    <div class="u-fixed-width">
      {{ image (
        url="https://assets.ubuntu.com/v1/6bb2f8e7-stocksy-woman-working-ar2-1.jpg",
        alt="",
        width="2048",
        height="1024",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50 is-split-on-medium">
    <hr class="p-rule" />
    <div class="col">
      <h2 class="p-text--small-caps u-no-margin--bottom">Why choose Ubuntu Desktop?</h2>
      <p class="p-heading--2">The developers' choice</p>
    </div>
    <div class="col">
      <div class="u-align--center">
        {{ 
          image (
          url="https://assets.ubuntu.com/v1/7f76ac3a-hp-laptop-studio-jammy.png",
          alt="",
          width="1659",
          height="1246",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <hr class="is-extra-muted">
      <ul class="p-list--divided u-no-margin--bottom">
        <li class="p-list__item is-ticked">Using Ubuntu Desktop provides a common platform for development, test, and production environments.</li>
        <li class="p-list__item is-ticked">Tools, such as <a href="https://juju.is/">Juju</a>, <a href="https://microk8s.io/">Microk8s</a>, and <a href="https://multipass.run/">Multipass</a> make developing, testing, and cross-building easy and affordable.</li>
        <li class="p-list__item is-ticked"><strong>Long term support (LTS)</strong> releases are delivered every 2-years, with 5 years of standard support extended to 10 years with an Ubuntu Pro Desktop subscription.</li>
        <li class="p-list__item is-ticked">New Developer editions of Ubuntu Desktop are released every 6-months, with 9-months of support and access to the latest kernel, libraries, and new upstream OS features.</li>
      </ul>
      <hr class="is-extra-muted">
      <a href="/about/release-cycle">The Ubuntu release cycle&nbsp;&rsaquo;</a>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50 p-section--shallow">
    <hr class="p-rule" />
    <div class="col">
      <h2>Security support <br aria-hidden/>for Ubuntu releases</h2>
    </div>
    <div class="col" id="server-desktop-eol-key" style="padding-top:1rem;">
    </div>
  </div>
  <div class="u-fixed-width">
    <div class="u-hide--small" id="server-desktop-eol"></div>
    {% include "about/release_cycles/releases-table.html" %}
  </div>
</section>

<section class="p-section">
  <div class="row--50-50 p-section">
    <hr class="p-rule">
    <div class="col">
      <h2>Access to cutting-edge hardware and software</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided u-no-margin--bottom">
        <li class="p-list__item is-ticked">Ubuntu ships with the latest toolchains for Python, Rust, Ruby, Go, PHP and Perl, and users get first access to the latest updates for key libraries and packages.</li>
        <li class="p-list__item is-ticked">Ubuntu is the OS of choice for data science and machine learning, with support for popular frameworks like <a href="https://opencv.org/">OpenCV</a>, <a href="https://www.tensorflow.org/">TensorFlow</a>, <a href="https://keras.io/">Keras</a>, <a href="https://pytorch.org/">PyTorch</a> and <a href="https://www.kubeflow.org/">Kubeflow</a>.</li>
        <li class="p-list__item is-ticked">Ubuntu is the target platform for the <a href="https://github.com/NVIDIA/data-science-stack">NVIDIA data science stack</a>, which enables GPU accelerated data science workloads to be run locally before deploying to the cloud.</li>
      </ul>
      <hr class="is-extra-muted">
      <a href="/ai">How Ubuntu enables AI innovation&nbsp;&rsaquo;</a>
    </div>
  </div>
  <div class="u-fixed-width">
    <div class="p-icon-section">
      <div class="p-icon-section__items">
        <div class="p-icon-section__item ">
          {{ image (
          url="https://assets.ubuntu.com/v1/1bc694f0-nvidia-cuda-logo.png",
          alt="",
          width="288",
          height="288",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-icon-section__icon"}
          ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
          url="https://assets.ubuntu.com/v1/eea32cc5-jupyter-logo.png",
          alt="",
          width="288",
          height="288",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-icon-section__icon"}
          ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
          url="https://assets.ubuntu.com/v1/462ef9f5-keras-logo.png",
          alt="",
          width="288",
          height="288",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-icon-section__icon"}
          ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
          url="https://assets.ubuntu.com/v1/c1fd7abe-scikit-learn-logo.png",
          alt="",
          width="288",
          height="288",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-icon-section__icon"}
          ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
          url="https://assets.ubuntu.com/v1/57dd2115-TensorFlow-logo.svg",
          alt="",
          width="145",
          height="145",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-icon-section__icon"}
          ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
          url="https://assets.ubuntu.com/v1/f41c87c6-pytorch-logo.png",
          alt="",
          width="288",
          height="288",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-icon-section__icon"}
          ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50 p-section">
    <hr class="p-rule">
    <div class="col">
      <h2>A rich ecosystem</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided u-no-margin--bottom">
        <li class="p-list__item is-ticked">With a <a href="https://snapcraft.io/store">Snap Store</a> of over 7,000 applications in addition to the Ubuntu repository, it's easy to tailor Ubuntu desktop to your needs.</li>
        <li class="p-list__item is-ticked">Development tools include Visual Studio Code, IntelliJ, GitKraken, Unity and Blender.</li>
        <li class="p-list__item is-ticked">Office productivity tools include Slack, Microsoft Teams, Dropbox, and Zoom as well as the Microsoft-compatible LibreOffice.</li>
        <li class="p-list__item is-ticked">Media, gaming, and content creation apps include Spotify, Steam, Discord and OBS Studio.</li>
      </ul>
      <hr class="is-extra-muted">
      <a href="https://snapcraft.io/">Learn more about Snapcraft&nbsp;&rsaquo;</a>
    </div>
  </div>
  <div class="u-fixed-width">
    <div class="p-icon-section--dense">
      <div class="p-icon-section__items">
        <div class="p-icon-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/034147e9-code_ozwVHSV.png",
            alt="VSCode",
            width="256",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-icon-section__icon"},
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/11d81b4e-IntelliJ_IDEA_Logo.svg",
            alt="",
            width="256",
            height="256",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/fbce8950-git-kraken.png",
            alt="",
            width="62",
            height="63",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/f0bd491c-blender.png",
            alt="",
            width="512",
            height="512",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/aadb53b3-unity-seeklogo.com.svg",
            alt="",
            width="249",
            height="256",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/8a2851df-slack-icon-vanilla.svg",
            alt="",
            width="256",
            height="256",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/8f85ef3f-microsoft-teams.png",
            alt="",
            width="512",
            height="512",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/6e5fe7ef-logo-dropbox.svg",
            alt="",
            width="184",
            height="174",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/ceca3817-zoom-app.svg",
            alt="",
            width="2500",
            height="2500",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item ">
          {{ image (
            url="https://assets.ubuntu.com/v1/be731535-Logo-libreoffice.svg",
            alt="",
            width="219",
            height="264",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/9917aba6-spotify-linux-256.png",
            alt="Spotify",
            width="256",
            height="256",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-icon-section__icon"},
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/ff5561bc-steam.png",
            alt="",
            width="61",
            height="62",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--50-50 p-section">
    <hr class="p-rule">
    <div class="col">
      <h2>Certified hardware</h2>
    </div>
    <div class="col">
      <ul class="p-list--divided u-no-margin--bottom">
        <li class="p-list__item is-ticked">Streamline deployment of Ubuntu Desktop with <a href="/certified">certified hardware</a> from OEMs including Dell, Lenovo, and HP &ndash; no additional configuration required.</li>
        <li class="p-list__item is-ticked">Ubuntu performs out of the box across a wide range of laptops, desktops, and workstations, including the HP Z series and Dell XPS and Precision lines.</li>
        <li class="p-list__item is-ticked"><a href="/desktop/partners">Strategic partnerships</a> extend to component manufacturers and Ubuntu is certified to work with the full range of NVIDIA GPUs.</li>
      </ul>
      <hr class="is-extra-muted">
      <a href="/certified">Ubuntu certified hardware&nbsp;&rsaquo;</a>
    </div>
  </div>
  <div class="u-fixed-width">
    <div class="p-icon-section">
      <div class="p-icon-section__items">
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/cd5c35a3-partners-logo-hp.png",
            alt="",
            width="212",
            height="211",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/7b0c2984-lenovo-logo-square.png",
            alt="",
            width="207",
            height="207",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/5ddba83a-logo-dell.svg",
            alt="",
            width="240",
            height="240",
            hi_def=True,
            loading="auto|lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/54e604c7-amd-logo-no-horizontal-whitespace.png",
            alt="",
            width="266",
            height="266",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/c580cd51-intel-logo-square.png",
            alt="",
            width="182",
            height="182",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/579c3731-arm-logo-square.png",
            alt="",
            width="182",
            height="182",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
        <div class="p-icon-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/d7829629-nvidia-logo.svg",
            alt="",
            width="143",
            height="144",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-icon-section__icon"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="u-fixed-width p-section--shallow">
    <hr class="p-rule">
    <h2>Developers love Ubuntu, organisations trust it</h2>
  </div>
  <div class="row--50-50">
    <div class="col">
      <p><strong>Operating systems developers prefer</strong> <br aria-hidden/>Multiple choice poll</p>
      <div>
        <figure id="hackerearth-chart" class="hackerearth-chart"></figure>
      </div>
      <hr class="is-muted">
      <p>Source: <a
        href="https://recruit-c7ff.kxcdn.com/recruit/wp-content/uploads/2020/05/he-developer-survey-2020.pdf">The 2020
        HackerEarth Developer Survey</a></p>
    </div>
    <div class="col">
      <p><strong>Which of these open source technologies does your organisation use today to support your software infrastructure?</strong></p>
      <div>
        <figure id="opensource-chart" class="opensource-chart"></figure>
      </div>
      <hr class="is-muted">
      <p>Source: <a
        href="https://www.openlogic.com/system/files/ebook-openlogic-the-2022-state-of-open-source-report.pdf">The
        2022 State of Open Source Report &ndash; OpenLogic</a></p>
    </div>
  </div>
</section>

<section class="p-strip--white u-no-padding--top">
  <div class="u-fixed-width p-section--shallow">
    {{ image (
      url="https://assets.ubuntu.com/v1/db0c14a8-Ubuntu Pro.svg",
      alt="",
      width="200",
      height="52",
      hi_def=True,
      loading="lazy"
      ) | safe
    }}
  </div>
  <div class="p-section--shallow">
    <div class="row--50-50">
      <hr class="p-rule">
      <div class="col">
        <h2>Secure enterprise management with Ubuntu Pro Desktop</h2>
      </div>
      <div class="col">
        <p>Ubuntu Pro Desktop is a comprehensive subscription delivering enterprise-grade security, management tooling, and extended support for developers and organisations. Ubuntu Pro Desktop is free for personal use on up to five machines.</p>
        <hr class="is-extra-muted u-no-margin--bottom">
        <ul class="p-list--divided u-no-margin--bottom">
          <li class="p-list__item is-ticked">Security updates for the <a href="/esm">full open source stack</a></li>
          <li class="p-list__item is-ticked">Advanced <a href="/engage/microsoft-active-directory">Active Directory</a> and LDAP integration</li>
          <li class="p-list__item is-ticked">Estate <a href="https://landscape.canonical.com/landscape-features">monitoring and management</a></li>
          <li class="p-list__item is-ticked"><a href="/security/certifications#fips">FIPS 140-2 certified modules</a> and <a href="/security/certifications#cis">CIS hardening</a></li>
          <li class="p-list__item is-ticked">Optional weekday or 24/7 support tiers</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-section u-no-padding--bottom">
    <div class="row--50-50">
      <hr class="p-rule">
      <div class="col">
        <h2>Free for personal use <br aria-hidden/>on up to five machines</h2>
      </div>
      <div class="col">
        <p>Secure your open source stack with a personal Ubuntu Pro license and get access to security patching for over 23,000 packages in the Ubuntu Universe repository.</p>
        <p>
          <a href="/pro">Get started with a free subscription&nbsp;&rsaquo;</a>
        </p>
        <hr class="is-muted">
        <p>
          <a href="/desktop/organisations">Ubuntu Desktop for organisations&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width p-section--shallow">
    <hr class="p-rule" />
    <h2>Get started today</h2>
  </div>
  <div class="row">
    <div class="col-start-large-4 col-9 col-medium-6">
      <hr class="p-rule is-extra-muted" />
      <div class="row p-section--shallow">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Download and install</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Download Ubuntu Desktop and replace your current operating system. It's easy to install on Windows or macOS, or run Ubuntu alongside it.</p>
          <hr class="is-extra-muted" />
          <a class="p-button--positive u-no-margin--bottom" href="/download/desktop">Download now</a>
        </div>
      </div>
      <hr class="p-rule is-extra-muted" />
      <div class="row p-section--shallow">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Buy it pre-installed</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Ubuntu is available on a huge range of devices from the world's largest hardware manufacturers, including Dell, HP, and Lenovo.</p>
          <hr class="is-extra-muted" />
          <a href="https://canonical.com/partners/desktop">Find out more about our retail partners&nbsp;&rsaquo;</a>
        </div>
      </div>
      <hr class="p-rule is-extra-muted" />
      <div class="row p-section--shallow">
        <div class="col-3 col-medium-3">
          <h3 class="p-heading--5">Join our community</h3>
        </div>
        <div class="col-6 col-medium-3">
          <p>Share ideas, write code, and get advice and help from our large, active community of IT professionals.</p>
          <hr class="is-extra-muted" />
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a href="https://discourse.ubuntu.com/">Ubuntu Discourse</a>
            </li>
            <li class="p-inline-list__item">
              <a href="https://askubuntu.com/">Ask Ubuntu</a>
            </li>
            <li class="p-inline-list__item">
              <a href="https://lists.ubuntu.com/">Mailing lists</a>
            </li>
            <li class="p-inline-list__item">
              <a href="https://answers.launchpad.net/ubuntu">Launchpad Answers</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row--25-75 is-split-on-medium">
    <hr class="p-rule"/>
    <div class="col">
      <div class="p-section--shallow">
        <h2 class="p-text--small-caps"><a href="">Latest Ubuntu Desktop news <br aria-hidden/>from our blog&nbsp;&rsaquo;</a></h2>
      </div>
    </div>
    <div class="col">
      <div class="row p-section--shallow" id="desktop-latest-articles">
      </div>
      <hr class="is-muted">
      <p class="u-float-right"><a href="/blog/desktop">Explore all</a></p>
    </div>
  </div>

  <template style="display:none" id="desktop-articles-template">
    <div class="col-3">
      <div class="u-crop--16-9">
        <div class="article-image p-image-wrapper"></div>
      </div>
      <h3 class="p-heading--5"><a class="article-link article-title"></a></h3>
      <p class="article-excerpt"></p>
    </div>
  </template>
</section>

<script src="{{ versioned_static('js/dist/latest-news.js') }}"></script>
<script>
    canonicalLatestNews.fetchLatestNews(
    {
      articlesContainerSelector: "#desktop-latest-articles",
      articleTemplateSelector: "#desktop-articles-template",
      excerptLength: 200,
      groupId: "1479",
      linkImage: true,
      limit: 3
    }
    )
</script>

{% include "shared/contextual_footers/_desktop.html" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.5.0/d3.min.js" defer></script>
<script src="{{ versioned_static('js/dist/release-chart.js') }}" defer></script>
<script src="https://assets.ubuntu.com/v1/3c99518b-d3-version3.5.6.min.js"></script>
<script src="{{ versioned_static('js/src/developer-chart.js')}}"></script>

{% endblock content %}