{% extends "desktop/base_desktop.html" %}

{% block title %}For partners{% endblock %}
{% block meta_description %}Canonical partners offer Ubuntu certified pre-loaded hardware which integrates component drivers for optimal device performance. Service offerings by Canonical also available for partners include technical support, bespoke engineering, specialised training and consulting services.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1b4pwQYVHm8-R5_Wqx5zj09Qn8QsrKt3JblteauspmKI/edit{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-bottomed is-bordered">
  <div class="row u-equal-height">
    <div class="col-6">
      <h1>Ubuntu for partners</h1>
      <p>We partner with the world's leading hardware manufacturers to help deliver an extensive range of Ubuntu certified laptops, desktops and workstations for a secure and constantly updated platform. Becoming a partner means you work with our engineering and certification teams to guarantee the compatibility and optimised performance of all your hardware for the life of the OS.</p>
      <p><a href="https://partners.ubuntu.com/find-a-partner?service-offered=hardware-manufacturer" class="p-link--external">Learn more about our desktop partners</a></p>
    </div>
    <div class="col-6 u-hide--small u-align--center u-vertically-center">
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{
              image(
                url="https://assets.ubuntu.com/v1/d258d23b-2018-logo-dell.svg",
                alt="Dell",
                height="100",
                width="100",
                hi_def=True,
                attrs={"class": "p-logo-section__logo"},
                loading="auto",
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{
              image(
                url="https://assets.ubuntu.com/v1/f627fbfb-hp.svg",
                alt="HP",
                height="100",
                width="100",
                hi_def=True,
                attrs={"class": "p-logo-section__logo"},
                loading="auto",
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{
              image(
                url="https://assets.ubuntu.com/v1/cb3fcdfb-lenovo.svg",
                alt="Lenovo",
                height="100",
                width="144",
                hi_def=True,
                attrs={"class": "p-logo-section__logo"},
                loading="auto",
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light is-bordered">
  <div class="u-fixed-width">
    <h2>What our partners are saying</h2>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <blockquote class="p-pull-quote">
        <p class="p-pull-quote__quote">We are happy about this partnership as our customers in India will have access to Ubuntu preloaded Thinkpad L450 laptop series.</p>
        <cite class="p-pull-quote__citation">Rahul Agarwal, Managing Director at Lenovo India</cite>
      </blockquote>
      <p><a href="/blog/ubuntu-to-ship-on-lenovo-laptops-in-india" class="p-link--external">Read the full article <span class="u-off-screen"> 'Ubuntu to ship on Lenovo laptops in India'</span></a></p>
    </div>
    <div class="col-4 p-divider__block">
      <blockquote class="p-pull-quote">
        <p class="p-pull-quote__quote">Ubuntu has been the perfect OS from the start given its popularity with developers and its cloud capabilities.</p>
        <cite class="p-pull-quote__citation">Barton George, Director of developer programs at Dell services</cite>
      </blockquote>
      <p><a href="/blog/designed-for-developers-dell-launches-two-new-ubuntu-based-systems" class="p-link--external">Read the full article<span class="u-off-screen"> 'Designed for developers &mdash; Dell launches two new Ubuntu-based systems'</span></a></p>
    </div>
    <div class="col-4 p-divider__block">
      <blockquote class="p-pull-quote">
        <p class="p-pull-quote__quote">This is another milestone in our productive partnership with Canonical with the introduction of the Intel<sup>&reg;</sup> Compute Stick with Ubuntu.</p>
        <cite class="p-pull-quote__citation">Joel Christensen, General Manager of Intel NUC and Intel Compute Stick Products</cite>
      </blockquote>
      <p><a href="/blog/intel-compute-stick-now-comes-with-ubuntu" class="p-link--external">Read the full article<span class="u-off-screen"> 'Intel Compute Stick now comes with Ubuntu'</span></a></p>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="u-fixed-width">
    <h2>Commercial information</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Supported by Canonical</h3>
      <p>Ubuntu is a free and open source platform. There are no royalties, only a per unit service fee covering the engineering certification, maintenance, quality assurance, third-party licensing fees and Canonical consulting costs.</p>
    </div>
    <div class="col-4">
      <h3>A complete solution</h3>
      <p>Engagements cover component and system enablement as well as certification. Engagements are structured with baseline volume commitments, volume-based pricing for service fees and minimal recurrent engineering. Ubuntu Desktop is a complete solution for OEMs and ODMs.</p>
    </div>
    <div class="col-4">
      <h3>Ongoing support</h3>
      <p>The ability to update your devices is central to your security and long-term competitiveness. Canonical takes care of all security and critical bug fixes to the base platform offering and provides the infrastructure to support your update management strategy. Ubuntu has a world-class track record maintaining a secure and stable operating system.</p>
    </div>
  <div class="u-fixed-width">
    <p><a href="https://partners.ubuntu.com/programmes/hardware" class="p-link--external">Learn more about working with Canonical</a></p>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-6">
      <h2>Ubuntu Desktop certified hardware</h2>
      <p>To offer top performance on Ubuntu, manufacturers are pre-loading devices with an Ubuntu certified image. This ensures driver integration and superior device performance.  Canonical is committed to working closely with the world's leading manufacturers to optimise and certify Ubuntu on their laptops and PCs.</p>
      <p><a href="/certified">Learn more about Ubuntu certified hardware</a></p>
    </div>
    <div class="col-6 u-vertically-center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/3e3f7d1f-hero-laptop.png",
          alt="Photo of a laptop running Ubuntu",
          height="311",
          width="502",
          hi_def=True,
          loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

{% with first_item="_desktop_contact_us", second_item="_support", third_item="_desktop_further_reading" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

{% endblock content %}
