{% extends "desktop/base_desktop.html" %}

{% block title %}Ubuntu Kylin{% endblock %}
{% block meta_description %}Ubuntu Kylin is a Chinese flavour of Ubuntu. Canonical partnered with CSIP and NUDT to produce a fully localised and customised version of Ubuntu.{% endblock %}
{% block meta_keywords %}Ubuntu, Ubuntu Kylin, OS, China, Chinese, translated, China Software and Integrated Chip Promotions Centre, CSIP, National University of Defence Technology, NUDT, 13.10, download {% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Desktop" page_title="Ubuntu Kylin" %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<h1>Ubuntu Kylin for&nbsp;China</h1>
	<div class="six-col no-margin-bottom">
		<p>Ubuntu Kylin is an official flavour of Ubuntu.  It is a free PC operating system created for China and complies with the Chinese Government procurement regulations.  It includes all the features you&rsquo;ve come to expect from Ubuntu, alongside essential Chinese software and apps. The interface has been designed specifically to put Chinese users first &mdash; and with new support for touch screens and HiDPI monitors, it runs beautifully on all kinds of hardware.</p>
		<p><a href="http://cn.ubuntu.com" class="link-cta-ubuntu">Ubuntu 中国网站现已面世</a></p>
		<p><a href="/download/ubuntu-kylin">Download Ubuntu Kylin&nbsp;&rsaquo;</a></p>
		{% include "desktop/shared/_share-this.html" with tweet="#Ubuntu Kylin desktop OS specially created for China" %}
	</div>
</div>

<div class="row row-partnership">
    <h2 class="six-col">A global partnership</h2>
	<div class="six-col">
		<p>To create Ubuntu Kylin, Canonical partnered with China Software and Integrated Chip Promotions Centre (CSIP) and the National University of Defense Technology (NUDT) to produce a fully localised and customised version of Ubuntu.</p>
		<p>The team is working together with the open-source community to adapt the core features of Ubuntu to better suit Chinese users. Along with localised versions of the Ubuntu Software Centre, Ubuntu Kylin also features some of the most commonly used Chinese applications.</p>
	</div>
	<div class="six-col text-center last-col">
    	<ul class="no-bullets clearfix align-center">
    		<li><img src="{{ ASSET_SERVER_URL }}e9ec49b2-logo-canonical-288.png" alt="Canonical" width="288" height="40" /></li>
    		<li><img src="{{ ASSET_SERVER_URL }}b8b1a85b-logo-csip-180.png" alt="CSIP" width="180" height="71" /></li>
    		<li><img src="{{ ASSET_SERVER_URL }}3c62e9e2-logo-nudt-288.png" alt="NUDT" width="288" height="72" /></li>
    	</ul>
	</div>
</div>

<div class="row row-grey">
	<h2>What&rsquo;s new in {{latest_release}}?</h2>
	<p class="eight-col">Alongside support for the very latest hardware, Ubuntu {{latest_release}} includes new versions of many core apps and developer technologies.</p>
	<div class="combined-list">
		<ul class="list-ticks six-col">
			<li>Linux 4.2.1 kernel</li>
			<li>Firefox 41, Thunderbird 38.2 and Chromium 45 updates</li>
			<li class="last-item">LibreOffice 5.0.1 with improved formatting of calc, refreshed theme and improvements to menu and sidebars</li>
		</ul>
		<ul class="list-ticks six-col last-col">
			<li>Added Shuangpin input scheme into Sogou Input Method</li>
			<li>Pinyin search in the dash</li>
			<li class="last-item">Improvements to Ubuntu Kylin Software Center and Youker Assistant</li>
		</ul>
	</div>
	<div class="eight-col">
		<p><a href="https://wiki.ubuntu.com/WilyWerewolf/ReleaseNotes/UbuntuKylin#Changes_since_15.04" class="external">Read the full release notes</a></p>
	</div>
</div>

<div class="row equal-height">
    <div class="five-col align-center align-vertically">
        <img src="{{ ASSET_SERVER_URL }}1a232d31-hp-partners-laptop.jpg" alt="HP laptop" width="300" />
    </div>
    <div class="seven-col align-vertically last-col">
        <div>
            <h2>Now available on latest devices</h2>
            <p>Ubuntu Kylin is now pre-installed on the latest and greatest commercial hardware from HP and Asus.</p>
        </div>
    </div>
</div>

<div class="row no-border no-padding-bottom">
	<div class="six-col append-two">
		<div>
			<h2>China&rsquo;s own Ubuntu</h2>
			<p>Ubuntu Kylin has been fully customised to the needs of Chinese users, with all the key apps and services you need get things done.</p>
		</div>
	</div>
	<div class="four-col last-col align-center">
		<img src="{{ ASSET_SERVER_URL }}9082bd27-image-kylin.svg" alt="" width="300" height="300" />
	</div>
</div>

<div class="row row-sogou">
	<h3>Sogou Input Method</h3>
	<div>
		<div class="six-col">
			<p>Ubuntu Kylin has been designed specifically for Chinese keyboards, allowing many of your words and sentences to be completed automatically. It works with Sogou Input Method, the typing system with web search built-in, making your PC even faster and easier to use. The latest version includes &#8220;Shuangpin&#8221; input scheme as an alternative to both full and simplified Pinyin.</p>
		</div>
		<div class="six-col last-col no-margin-bottom touch-border pull-right">
			<img src="{{ ASSET_SERVER_URL }}125241f9-image-sogouinputmethod.jpg" alt="" width="482" height="248" />
		</div>
	</div>
</div>

<div class="row row-grey row-youker">
	<div class="six-col">
		<img  class="touch-border pull-left-40" src="{{ ASSET_SERVER_URL }}5f19816d-image-youkerassistant.jpg" alt="" width="469" height="308" />
	</div>
	<div class="six-col last-col">
		<h3>Youker Assistant</h3>
		<p>Youker is a simple yet powerful tool built to help Windows users migrate to Ubuntu as quickly and as smoothly as possible. This integrated tool aids with routine system maintenance tasks such as detecting hardware and handling interface customisation. You don&rsquo;t need to worry about learning the Ubuntu way with Youker as your assistant.</p>
	</div>
</div>

<div class="row">
	<h3>Smart Scopes</h3>
	<div class="six-col">
		<p>Chinese users get special, localised smart scopes in the Ubuntu Kylin Dash, which make searching for online content easy and relevant. A search for images will include online results from Sogou, videos will bring up popular Youku clips, and music results come via Baidu -- all alongside results from your local collections. It&rsquo;s the smarter way to find content.</p>
	</div>
	<div class="six-col  no-margin-bottom last-col">
		<img class="touch-border pull-right-40 right" src="{{ ASSET_SERVER_URL }}dc086b1b-image-smartscopes.jpg" alt="" width="482" height="302"/>
	</div>
</div>

<div class="row row-grey">
	<div class="six-col">
		<h3>Kingsoft WPS Office</h3>
		<p>The most popular office suite in China is available on Ubuntu Kylin. We&rsquo;ve worked closely with Kingsoft, so you can make full use of its WPS Office package for word processing, spreadsheets and presentations.</p>
	</div>
	<div class="six-col no-margin-bottom last-col">
		<img class="touch-border pull-right-40 right" src="{{ ASSET_SERVER_URL }}b98b211c-image-kingsoft-wps-office.png" alt="" width="488" height="260" />
	</div>
</div>

<div class="row">
	<div class="six-col">
		<img class="touch-border pull-left-40" src="{{ ASSET_SERVER_URL }}f6c8ad8f-image-chinese-lunar-calendar.png" alt="" width="469" height="260" />
	</div>
	<div class="six-col last-col">
		<h3>Chinese lunar calendar</h3>
		<p>As well as the western Gregorian layout, Ubuntu Kylin&rsquo;s in-built calendar includes the traditional Chinese lunar layout, so Chinese users can keep up with their day-to-day plans while also respecting national holidays.</p>
	</div>
</div>

<div class="row row-grey">
	<div class="six-col">
		<h3>Kingsoft Kuaipan cloud storage</h3>
		<p>As well as a great Chinese operating system, the latest version of Ubuntu Kylin gives you enough personal cloud storage for up to 2 million photos and 10 millions documents, so you can access all your important files and content over the web or on any Kuaipan-compatible device.</p>
	</div>
	<div class="six-col no-margin-bottom last-col no-margin-bottom">
		<img class="touch-border pull-right-40 right" src="{{ ASSET_SERVER_URL }}06b1d6d0-image-kuaipancloudstorage.jpg" alt="" width="487" height="283" />
	</div>
</div>

<div class="row row-image-centered no-border">
	<div class="five-col align-center">
		<img src="{{ ASSET_SERVER_URL }}1097135a-image-unity8.svg" alt="" width="299" height="213" />
	</div>
	<div class="seven-col last-col">
		<h3>Unity 8 preview</h3>
		<p>Ubuntu Kylin 14.04 offers an optional preview of Unity 8, the next generation Ubuntu user interface. To download the preview, search for unity8-desktop-session-mir in the Ubuntu Software Centre.</p>
		<p>Please note that it uses the current version of Mir, the new graphics platform being developed by the Ubuntu community. Mir only works with open-source graphics drivers at present.</p>
	</div>
</div>

{% endblock content %}
