{% extends "partners/base_partners.html" %}

{% block title %}HP Moonshot and Ubuntu work together{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Partners" subsection_title="HP" page_title="Moonshot"  %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<div class="seven-col">
		<h1>Ubuntu: the OS for every Moonshot server</h1>
		<p>Ubuntu Server is the only operating system that boasts full support for every Moonshot server cartridge, covering hardware based on both x86 and ARM chipsets.</p>
		<p>Already recognised as the leader in hyperscale computing, Ubuntu brings proven scale-out tools to the Moonshot range, including MAAS for automated provisioning and Juju for service orchestration.</p>
		<p><a href="/server/contact-us">Contact us about HP Moonshot&nbsp;&rsaquo;</a></p>
	</div>
	<div class="five-col last-col">
		<div class="video-container">
			<iframe width="343" height="193" src="http://www.youtube.com/embed/JmoovOU28UA?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		<p class="note">Chris Kenyon, VP Sales and Business Development, Canonical, talks about Ubuntu and HP Moonshot</p>
	</div>
</div><!-- / .row -->
<div class="row row-image-centered">

	<div class="eight-col">
		<h2>Cutting costs and energy consumption in the datacentre</h2>
		<p>Ubuntu has been targeting scale&dash;out applications for several years now, making Canonical a natural partner for the HP Moonshot project. As a result, Canonical and HP are delivering massive reductions in cost and energy consumption in datacentres the world over &dash; and they&rsaquo;re doing it today. </p>
	</div><!-- /.six-col -->
	<span>
		<img src="{{ STATIC_URL }}img/partners/hp/moonshot/image-hpmoonshot.svg" width="256" height="240" alt="" />
	</span>
</div><!-- /.row -->
<div class="row">
	<div class="six-col">
		<blockquote class="pull-quote">
			<p><span>&ldquo;</span>A new wave of workloads demand breakthrough efficiencies in density, energy, and operational costs which can be scaled to a customer&rsquo;s IT environment.<span>&rdquo;</span></p>
			<p><cite>Paul Santeler, VP &amp; GM, Hyperscale Business Unit, HP</cite></p>
		</blockquote>
	</div><!-- /.six-col -->
	<div class="six-col last-col">
		<h2>Running low on space?<br />Talk to us about Moonshot</h2>
		<p>The Moonshot system makes it possible to run many more servers in any given space in your datacentre &dash; with greatly reduced  power requirements for both processing and cooling, cutting your costs further. Only Ubuntu runs right across the range, leaving you free to choose only the best hardware for your needs. </p>
		<p><a href="/server/contact-us">Contact us today about Ubuntu on HP Moonshot.  &nbsp;&rsaquo;</a></p>
	</div><!-- /.six-col -->
</div><!-- /.row -->

<div class="row row-image-centered row-grey">
	<div class="eight-col">
		<h2>Part of the Pathfinder project</h2>
		<p>The HP Pathfinder Innovation Ecosystem establishes a close collaboration of industry-leading technology partners dedicated to accelerating the development and deployment of energy-efficient, workload-optimised servers.</p>
		<p>As a committed member, Canonical works with HP and other strategic partners to accelerate innovation that delivers breakthroughs in efficiency and scale. </p>
	</div>
	<span><img src="{{ STATIC_URL }}img/partners/pathfinder-moonshot.png" width="200" height="113" alt="HP Pathfinder Innovation Ecosystem logo"  /></span>
</div><!-- /.row -->
<div class="row row-image-centered">
	<div class="six-col text-center">
		<img src="{{ STATIC_URL }}img/partners/hp-moonshot-server.jpg" width="365" height="305" alt="HP moonshot server" />
	</div>
	<div class="six-col last-col">
		<h2>Webscale, hyperscale, any&nbsp;scale</h2>
		<p>The HP Moonshot System is modular, allowing datacentre managers to purchase server cartridges optimised for particular tasks. Whether it&rsquo;s web hosting, thin client desktop hosting, big data processing or any other hyperscale application, Ubuntu runs on every Moonshot cartridge and supports every conceivable workload. </p>
		<p><a href="http://www.hp.com/go/moonshot">Find out more about HP Moonshot&nbsp;&rsaquo;</a></p>
	</div>
</div><!-- /.row -->
<div class="row">
	<div class="ten-col no-margin">
		<h2>Service orchestration and systems management</h2>
	</div>
	<div class="eight-col no-margin">
		<p>Ubuntu Server includes a sophisticated toolset for provisioning, deployment, service orchestration and ongoing systems management for cloud and hyperscale applications &dash; and it all works just as well on ARM servers as it does on x86. It includes:</p>
	</div>
	<div class="combined-list">
		<ul class="list-ubuntu six-col">
			<li>Metal as a Service (MAAS) for the automated server provisioning, across zones and datacentres</li>
			<li class="last-item">Landscape for the ongoing management of thousands of nodes, physical or virtual</li>
		</ul>
		<ul class="list-ubuntu six-col last-col">
			<li class="last-item">Juju for service orchestration, saving time and eliminating human error, even when configurations and relationships between services change</li>
		</ul>
	</div>
	<div class="eight-col">
		<p><a href="/server/hyperscale">Find out more about Ubuntu Server for Hyperscale&nbsp;&rsaquo;</a></p>
	</div>
</div><!-- /.row -->
<div class="row">
	<div class="eight-col no-margin">
		<h2>How Canonical and HP work together</h2>
		<p>Canonical works hand-in-hand with HP to enable Ubuntu across the Moonshot range, specifically:</p>
	</div>
	<div class="combined-list">
		<ul class="list-ubuntu six-col">
			<li>HP Moonshot System with Ubuntu are available for testing, development and validation in HP&rsquo;s Discovery Labs</li>
			<li class="last-item">Canonical is a member of HP&rsquo;s Pathfinder Innovation Ecosystem</li>
		</ul>
		<ul class="list-ubuntu six-col last-col">
			<li>Ubuntu is part of the Solution Builder Program for fast and easy customer deployments</li>
			<li class="last-item">Canonical is involved in the HP Redstone development platform which enables hyperscale workloads to run using ultra&dash;low power levels.</li>
		</ul>
	</div>
	<div class="eight-col">
		<p><a href="/business/services/contact">Contact us to discuss how Canonical can enable your HP Moonshot System&nbsp;&rsaquo;</a></p>
	</div>
</div><!-- /.row -->

{% endblock content %}