@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End cookie policy
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

.cookie-policy {
  box-shadow: (0 -1px 2px rgba(0, 0, 0, 0.2));
  background-color: #fae4dc;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .wrapper {
    background: transparent;
  }

  p {
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 8px 10px;
    width: 100%;
  }

  .link-cta {
    background-image: url('#{$asset-server-url}3f057022-close-orange.svg');
    background-repeat: no-repeat;
    color: $white;
    float: right;
    font-size: 1em;
    height: 15px;
    margin: 12px 10px;
    padding: 0;
    text-decoration: none;
    text-indent: -9999px;
    width: 16px;
  }
}


// Full width sections
.server,
.ubuntu-search,
.download,
.desktop,
.homepage,
.cloud,
.phone,
.server,
.support,
.tablet {
  .cookie-policy .wrapper {
    @media only screen and (min-width : $breakpoint-large) {
      width: $breakpoint-large;
    }
  }
}



.no-svg,
.opera-mini {
  .cookie-policy .link-cta {
    background-image: url('#{$asset-server-url}898777ac-close-orange.png');
  }
}

.opera-mini {
  .cookie-policy {
    position: relative;
    top: 0;
  }
}

/*
* Cookie policy style updates
* To be updated in core-patterns
*/
// this removes the empty global nav container if javascript is off
.no-js body {
  padding-top: 0;
}
