.device-morph-wrap {
  position: relative;
}

#device-morph {
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;

  &.no-morph
  {
    background-image:url('#{$asset-server-url}d7d98acc-no-tran-phone.png');
    background-position: 0px 20px;
    background-repeat: no-repeat;

    div {
      display:none;
    }
  }
}

#devices {
  -moz-box-shadow: 0px 0px 15px 2px rgba(238,238,238,1);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(238,238,238,1);
  box-shadow: 0px 0px 15px 2px rgba(238,238,238,1);
  box-sizing:content-box;
  cursor: pointer;
  height:546px;
  margin: 0 auto;
  position: relative;
  transform-origin:0px 0px;
  transform: rotate(0deg) scale(0.9,0.9) translateX(200px) translateY(-30px) translateZ(0px);
  width:280px;

  div h1
  {
    position:absolute;
    top:-10%;
  }

  & > div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-position: top left, top right, bottom left, bottom right, top left, top left, top right, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    box-sizing:content-box;
    height:100%;
    left:0px;
    opacity: 0;
    padding:0px;
    position: absolute;
    top:0px;
    width:100%;
  }

  #device-phone {
    background-image: url('#{$asset-server-url}2c3ba39c-device_phone_tc2.png'), url('#{$asset-server}f4a4523a-device_phone_tl.png'), url('#{$asset-server}23338ec9-device_phone_br.png'), url('#{$asset-server}70439812-device_phone_tr.png'), url('#{$asset-server}4d5838d4-device_phone_bl.png'), url('#{$asset-server}7f61904e-device_phone_tc.png'), url('#{$asset-server}99c51932-device_phone_ml.png'), linear-gradient(to right, rgba(164, 164, 170, 1),  rgba(29, 26, 26, 1));
    background-position:  top center, top left, bottom right, top right, bottom left, top left, top left, 2px -2px;
    opacity: 1;

    div {
      width:85%; height:78%; margin-top:20%; margin-left: 7%;
      background-image : url('#{$asset-server-url}a3e33b07-phone-screen.jpg');
    }
  }

  #device-laptop {
    background-image: url('#{$asset-server-url}9612cf16-device_laptop_bc2.png'), url('#{$asset-server}fb5b8eee-device_laptop_tl.png'), url('#{$asset-server}b5dc46bf-device_laptop_br.png'), url('#{$asset-server}7b12fe81-device_laptop_bl.png'), url('#{$asset-server}48f4c7a1-device_laptop_tr.png'), url('#{$asset-server}babb0695-device_laptop_tc.png'), url('#{$asset-server}2a608943-device_laptop_ml.png'), linear-gradient(to right, black,  black);
    background-position: bottom center, top left, bottom right, bottom left, top right, top left, top left, 2px 2px;
    background-size: 100px,138px,140px,902px,140px,900px,16px,99%;

    img {
      bottom:-5%;
      display:block;
      height:0%;
      margin-left:-14%;
      max-width: 131%;
      position: absolute;
      width:131%;
    }

    div {
      background-image: url('#{$asset-server-url}1b0e89fd-laptop-screen.jpg');
      background-size:960px;
    }
  }

  #device-tablet {
    background-image: url('#{$asset-server-url}a05e2032-device_tablet_tc2.png'), url('#{$asset-server}a013d343-device_tablet_tl.png'), url('#{$asset-server}0c7f2179-device_tablet_br.png'), url('#{$asset-server}e049ceec-device_tablet_tr.png'), url('#{$asset-server}0b18c8e7-device_tablet_bl.png'), url('#{$asset-server}e7035ebc-device_tablet_tc.png'), url('#{$asset-server}8cec3319-device_tablet_ml.png'), linear-gradient(to right, rgba(164, 164, 170, 1),  rgba(29, 26, 26, 1));
    background-position: top center, top left, bottom right, top right, bottom left, top left, top left, 2px 2px;
    background-size:77px, 137px, 157px, 138px, 970px, 896px, 17px, 98%;

    div {
      background-image: url('#{$asset-server-url}acae4f52-tablet-screen.jpg');
      background-size: 688px;
    }
  }
}

.row--devices .run {
  #devices {
    animation-delay:-0.4s;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-name: swooshWidth;
    cursor: inherit;

    div div {
      animation-delay:-0.4s;
      animation-direction: alternate;
      animation-duration: 4s;
      animation-iteration-count: 2;
      animation-name: screenWidths;
      background-color:#1f1f25;
      background-repeat: no-repeat;
      border: solid 1px #000;
      margin-bottom:0;
      margin-left:auto;
      margin-right:auto;
      opacity:inherit;
      padding:0px;
      position:relative;
    }
  }

  #device-phone {
    animation-delay:-0.4s;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-name: swooshPhone;
  }

  #device-laptop {
    animation-delay: -0.4s;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-name: swooshLaptop;

    img {
      animation-delay: -0.4s;
      animation-direction: alternate;
      animation-duration: 4s;
      animation-iteration-count: 2;
      animation-name: swooshLaptopKeyboard;
    }
  }

  #device-tablet {
    animation-delay: -0.4s;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-name: swooshTablet;
  }
}

#devices.playing.paused div.skrollable-after > #device-morph div,
div.skrollable-after > #device-morph div img,
div.skrollable-before> #device-morph div,
div.skrollable-before>#device-morph div img {
  animation-play-state: paused;
}
