@charset 'UTF-8';
// ---------------------------------------------------------------
// ---------------------------------------------------------------
//
//  Project:		Ubuntu Front-End support-home section
//  Author:			Web Team at Canonical Ltd
//
// ---------------------------------------------------------------
// ---------------------------------------------------------------

//	@section all /support
.support {
  .row.row--contact-us {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .row--contact-us__wrapper {
    background-image: url('#{$asset-server-url}00d6e773-contact_orange_phone.svg');
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 60px;
  }

  // @subsections /support/plans-and-pricing
  &.support-plans-and-pricing {
    .no-svg &,
    .opera-mini & {
      .row-hero {
        background-image: url('#{$asset-server-url}2cb97b41-image-ubuntuadvantage.png');
      }
    }

    .row-pricing__image-container {

      @media only screen and (max-width: $breakpoint-medium) {
        float: left;
        margin-bottom: 1em;
        margin-right: 1em;
        width: 60px;
      }

      .row-pricing__title {
        @media only screen and (max-width: $breakpoint-medium) {
          margin: .3em 1em 1.8em;
        }
      }
    }

    .ua-price {
      font-size: 2em;
    }

    table {
      table-layout: fixed;

      .pricing-features-column {
        width: 50%;
      }
    }
  }

  &.support-community-support {
    .row-community-support-options {
      padding-top: 0;
    }
  }
}

.support-home {

  .grid-list {
    margin: 1rem 0 0;

    @media (min-width: $breakpoint-medium) {
      margin: 1rem -12px 2rem;
    }
  }

  .grid-list__item {
    display: block;
    padding-bottom: 1rem;

    p {
      @media (min-width: $breakpoint-medium) {
        font-size: 1rem;
      }
    }
  }

  .advantage-link {

    clear: both;

    @media (max-width: $breakpoint-medium) {
      margin-top: -2rem;
      padding-bottom: 1rem;
    }
  }

}
