<div class="col-10" id="products-content-1" tabindex="0" role="tabpanel" aria-labelledby="products-1" >
  <div class="row u-no-padding"> 
    <div class="col-10 dropdown-window__main-panel" style="border-right: 0;">
      <div class="row">
        <div class="col-3">
          <ul class="p-list">
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Ubuntu Desktop</a><br />
              <small>Secure Enterprise Linux</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Ubuntu Server</a><br />
              <small>Ubuntu optimsed for servers</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Ubuntu Core</a><br />
              <small>Tiny embedded Linux</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">MAAS</a><br />
              <small>Bare metal provisioning</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">LXD</a><br />
              <small>Linux containers</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">OpenStack</a><br />
              <small>Private cloud provisioning</small>
            </li>
          </ul>
        </div>

        <div class="col-3">
          <ul class="p-list">
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">MicroStack</a><br />
              <small>Single-node private cloud</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Multipass</a><br />
              <small>Virtual machines</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">WSL</a><br />
              <small>Windows subsytem for Linux</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Ubuntu Advantage</a><br />
              <small>Enterprise support for Linux</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Livepatch</a><br />
              <small>Secure Ubuntu without reboots</small>
            </li>
          </ul>
        </div>

        <div class="col-3">
          <ul class="p-list">
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Kubernetes</a><br />
              <small>Containerised workloads</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">MicroK8s</a><br />
              <small>Easy light-weight Kubernetes</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Charmhub</a><br />
              <small>Store for Juju operators</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Juju</a><br />
              <small>Model-driven operations for apps</small>
            </li>
            <li class="p-list__item">
              <a class="p-link--inverted" href="#">Ubuntu Certified Hardware</a><br />
              <small>Hardware you can trust</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>