{% extends 'templates/_error-template.html' %}

{% set error_code = "400" %}

{% set error_message = "Invalid request" %}

{% block error_content %}
  We can’t process this request.
  <br class="u-hide--small" />
  You can try refreshing the page or <a href="https://github.com/canonical/ubuntu.com/issues/new?template=ISSUE_TEMPLATE.yaml">file a bug</a>. Please note, this may be a <a href="https://github.com/canonical/ubuntu.com/issues">known issue</a> that we are working on.
{% endblock error_content %}
