{% extends "templates/one-column.html" %}

{% block title %}Ubuntu Advantage | Ubuntu{% endblock %}

{% block content %}
  <div class="p-strip is-shallow">
    <div class="u-fixed-width">
      <h1>Headers</h1>
      <pre>{{ request.headers }}</pre>
      {% if openid %}
        <h1>Logged in</h1>
        <p>
          Account info:
          <pre style="white-space: pre-wrap;">{{ openid }}</pre>
        </p>

        <h2>Accounts</h2>

        {% for account in accounts %}
          <h3>{{ account.name }} <small>({{ account.id }})</small></h3>
          
          <h4>Contracts</h4>
          {% for contract in account.contracts %}
            <h5>{{ contract.contractInfo.name }} <small>({{ contract.contractInfo.id }})</small></h5>

            <p>Token: {{ contract.token }}</p>
          {% endfor %}
        {% endfor %}
        <a href="/logout">Logout</a>
      {% else %}
        <h1>Not logged in</h1>
        <a href="/login">Login?</a>
      {% endif %}
    </div>
  </div>
{% endblock content %}

