{% extends "templates/base.html" %}

{% block title %}Enterprise Open Source and Linux{% endblock %}
{% block meta_description %}Ubuntu is the modern, open source operating system on Linux for the enterprise server, desktop, cloud, and IoT.{% endblock meta_description %}
{% block extra_body_class %}homepage {% block takeover_body_class %}{% endblock takeover_body_class %}{% endblock extra_body_class %}

{% block meta_copydoc %}https://docs.google.com/document/d/1ySJxQbqVdeH4Tra0zwBm2Tn0s56kFGnEF7d8xDRTxwU/edit{% endblock %}

{% block outer_content %}
{% block content %}

<!-- Default Takeover: Download the latest Ubuntu -->
<section data-lang="all" id="takeover" class="p-takeover--grad is-dark is-deep">
  <div class="row p-takeover-animation" id="takeover-animaition">
    <div class="col-7 u-vertically-center">
      <h1 id="takeover-title">What's new in<br>Ubuntu {{ releases.latest.short_version }}?</h1>
      <p class="p-heading--4" id="takeover-subtitle">Introducing the Ubuntu Desktop for Raspberry Pi, the latest desktop features and micro clouds.</p>
      <div id="takeover-ctas">
        <p><a id="takeover-primary-url" href="/download" class="p-button--positive">Get Ubuntu {{ releases.latest.short_version }}</a></p>
        <p>
          <a id="takeover-secondary-url" href="/raspberry-pi" class="p-link--inverted">
            Learn more about Ubuntu on the Raspberry Pi&nbsp;&rsaquo;
          </a>
        </p>
      </div>
    </div>
    <div class="col-5 u-vertically-center u-align--center u-hide--medium u-hide--small">
      <img id="takeover-image" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="200" alt="" />
    </div>
  </div>
</section>

<section class="p-strip notice u-no-padding--bottom">
  <div class="u-fixed-width">
    <div class="p-notification--information u-no-margin--bottom">
      <div class="p-notification__content">
        <h5 class="p-notification__title"><a href="/blog/18-04-end-of-standard-support">End of standard support for 18.04 LTS - 31 May 2023</a></h5>
        <p class="p-notification__message"><span>Upgrade to the latest Ubuntu LTS or get extended coverage until 2028 with Ubuntu Pro</span></p>
      </div>
    </div>
  </div>
</section>

{% block notices_content %}
{% endblock notices_content %}

<section class="p-strip u-no-padding--bottom">
  <hr class="is-fixed-width">
  <div class="row">
    <div class="col-6 col-medium-4">
      <h2>Modern enterprise open&nbsp;source</h2>
      <p class="p-heading--4">Security, support, and managed services from the publisher of Ubuntu.</p>
      <p>
        <a class="p-button--positive" href="/pro">
          Get Ubuntu Pro
        </a>
      </p>
    </div>
    <div class="col-6 col-medium-2">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/83ff4203-awshp-strip-customers.png" alt="Amazon Web Services logo">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/7c601cb9-azurehp-strip-customers.png" alt="Microsoft Azure logo">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/5ba04ee8-atthp-strip-customers.png" alt="AT&T logo">
        </div>
        <div class="p-logo-section__item">
          <img class="p-logo-section__logo" src="https://assets.ubuntu.com/v1/fdb8126b-google+cloudhp-strip-customers.png" alt="Google Cloud logo">
        </div>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
</section>

{% with section_classes='p-strip u-no-padding--top', spotlight='True' %}
{% include "shared/_latest_news_strip.html" %}
{% endwith %}

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>
        Energise your engineers
      </h2>
      <p class="p-heading--4">
        Better security. More packages. Newer tools. All your open source, from cloud to edge.
      </p>
      <p>
        66% of experienced developers prefer Ubuntu.
      </p>
      <p>
        That's why Ubuntu supports the fastest, biggest and most successful digital operations.
      </p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/contact-us" class="js-invoke-modal">
            Let's talk open source&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/masters-conference">
            Watch Ubuntu Masters in action&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
    <div class="col-4 u-vertically-center u-hide--medium u-hide--small u-align--left">
      <div>
        <p>
          <a href="https://recruit-c7ff.kxcdn.com/recruit/wp-content/uploads/2020/05/he-developer-survey-2020.pdf" aria-label="Visit the PDF file for 2020 HackerEarth Developer Survey">
            The 2020 HackerEarth Developer Survey
          </a>
        </p>
        {{
          image(
          url="https://assets.ubuntu.com/v1/934a0626-Hackerearth_logo.svg",
          alt="HackerEarth logo",
          width="200",
          height="40",
          hi_def=True,
          loading="lazy",
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Open source security
    </h2>
    <p class="p-heading--4">
      <a href="/pro">Ubuntu Pro</a> is more than Linux. <a href="/security/certifications">Security and compliance</a> for the full stack.
    </p>
    <p>
      Secure your open source apps. Patch the full stack, from kernel to library and applications, for CVE compliance. Governments and auditors certify Ubuntu for FedRAMP, FISMA and HITECH.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          10 year security maintenance and CVE Patching
        </li>
        <li class="p-list__item is-ticked">
          <a href="/livepatch">Kernel Livepatch</a> for 24/7 patching with no downtime
        </li>
        <li class="p-list__item is-ticked">
          <a href="/esm">Extended security</a> for infrastructure and applications
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#fips">FIPS 140-2</a> cryptographic modules certified by NIST
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#common-criteria">Common Criteria EAL2</a>: ISO/IEC IS 15408 validated by CSEC
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#stig">DISA/STIG</a> hardening for <abbr title="Department of Defence, USA">DoD</abbr> compliance
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#cis">CIS profiles</a> for cyber defence and malware prevention
        </li>
      </ul>
      <p>
        <a href="/security">
          Secure all your open source with us&nbsp;&rsaquo;
        </a>
      </p>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/a94b7c55-nist-logo.png",
            alt="NIST",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/d05ddc19-%40sec-logo.png",
            alt="atsec",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}

        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/d16880fe-disa-logo.png",
            alt="DISA",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/00644094-cis-logo.png",
            alt="CIS",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/b3f94804-csec-logo.png",
            alt="CSEC",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-8">
      <h2>
        Significant enterprise savings
      </h2>
      <p class="p-heading--4">
        Sustainable open source at the lowest cost, everywhere.
      </p>
      <p>
        Rethink what's possible with Linux and open source.
      </p>
      <p>
        Companies engage Canonical to drive down open source operating costs. Automate everything: multi-cloud operations, bare metal provisioning, edge clusters and IoT.
      </p>
    </div>
    <div class="col-4 u-hide--small u-vertically-center u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/f129afea-Save+Money-Yen-Euro-Dollar-2020.svg",
        alt="",
        width="266",
        height="200",
        hi_def=True,
        loading="lazy",
        ) | safe
      }}
    </div>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          No mandatory subscriptions for Ubuntu
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security">Security</a>, <a href="/support">support</a> and fully managed <a href="/openstack/managed">infra</a> and <a href="/managed/apps">apps</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/cloud/public-cloud">Public cloud</a>, <a href="/download/server">data centre</a>, <a href="https://microk8s.io">edge cluster</a> and <a href="/appliance">appliances</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/about/release-cycle">Long term maintenance commitment</a>
        </li>
        <li class="p-list__item is-ticked">
          Transparent pricing for enterprise and ISV
        </li>
        <li class="p-list__item is-ticked">
          <a href="/engage/vmware-to-charmed-openstack">Switch from VMware to OpenStack</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/openstack/tco-calculator">TCO analysis of Open Infra</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/engage/cloud-economics">451 study on private/public cloud costs</a>
        </li>
      </ul>
      <a href="/contact-us" class="js-invoke-modal">
        Let's talk open source&nbsp;&rsaquo;
      </a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Public cloud optimisation
    </h2>
    <p class="p-heading--4">
      Most public cloud instances are Ubuntu, for performance and security.
    </p>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Optimised kernels for AWS, Azure, Google, Oracle, IBM
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#fips">FIPS</a>, <a href="/security/certifications#cis">CIS hardening</a> and CVE fixes with Ubuntu Pro
        </li>
        <li class="p-list__item is-ticked">
          Minimise rolling reboots with <a href="/livepatch">Kernel Livepatch</a>
        </li>
        <li class="p-list__item is-ticked">
          Network &amp; storage performance optimisation
        </li>
        <li class="p-list__item is-ticked">
          GPU enablement for machines and containers
        </li>
        <li class="p-list__item is-ticked">
          Pay-as-you-go billing, no more licenses
        </li>
        <li class="p-list__item is-ticked">
          <a href="/support">Enterprise support</a> and <a href="/esm">Extended Security Maintenance</a>
        </li>
        <li class="p-list__item is-ticked">
          Cloud workload migration service
        </li>
        <li class="p-list__item is-ticked">
          Containerisation and cloud-native migration service
        </li>
        <li class="p-list__item is-ticked">
          Fully managed application service
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/cloud/public-cloud">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6889bfcb-uber-logo.png",
            alt="Uber",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/2ef9f6ff-spotify-logo.png",
            alt="Spotify",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/2b6c1718-bmp-paribas-logo.png",
            alt="BNP Paribas",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>
        Carrier-grade private cloud
      </h2>
      <p class="p-heading--4">
        Operate <a href="/openstack">private cloud the smart way</a>&nbsp;&ndash;&nbsp;supported or <a href="/openstack/managed">fully managed</a>.
      </p>
    </div>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          10 year <a href="/esm">security maintenance</a> and <a href="/support">support</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/openstack/features">Hyperconverged</a> or segregated architecture
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security">
            Encryption at rest for GDPR, HIPAA, FedRAMP
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Wide choice of SDN and storage
        </li>
        <li class="p-list__item is-ticked">
          <a href="/engage/charmed-openstack-adoption-whitepaper">
            Upgrades and day-2 operations, automated
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Integrated logging, monitoring and alerting
        </li>
        <li class="p-list__item is-ticked">
          Platform and infrastructure hardening
        </li>
        <li class="p-list__item is-ticked">
          High availability
        </li>
        <li class="p-list__item is-ticked">
          <a href="/telco">
            Carrier-grade NFVI
          </a>
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/openstack">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/openstack/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/bd2a3282-bt-logo.png",
            alt="BT",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/c6e197c4-deutsche-telekom-logo.png",
            alt="Deutsche Telecom",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6143a8ce-rabobank-logo.png",
            alt="Rabobank",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/698f7a58-best-buy-logo.png",
            alt="Best Buy",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/b1e3d2d2-bloomberg-logo.png",
            alt="Bloomberg",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6cd78b57-at%26t-logo.png",
            alt="AT&T",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </li>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Multi-cloud Kubernetes and containers
    </h2>
    <p class="p-heading--4">
      <a title="external link - docs.microsoft.com/en-us/azure/aks/cluster-configuration" href="https://docs.microsoft.com/en-us/azure/aks/cluster-configuration">AKS.</a> <a title="external link - cloud-images.ubuntu.com/docs/aws/eks" href="https://cloud-images.ubuntu.com/docs/aws/eks">EKS.</a> <a title="external link - cloud.google.com/kubernetes-engine/docs/concepts/node-images#ubuntu" href="https://cloud.google.com/kubernetes-engine/docs/concepts/node-images#ubuntu">GKE.</a> Kubeadm. <a title="external link - microk8s.io" href="https://microk8s.io">MicroK8s.</a> <a href="/kubernetes/features">Charmed Kubernetes.</a> All on Ubuntu.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Support for all public cloud Kubernetes
        </li>
        <li class="p-list__item is-ticked">
          On-prem MicroK8s, Charmed K8s, kubeadm
        </li>
        <li class="p-list__item is-ticked">
          <a href="/kubernetes/managed">Fully-managed Kubernetes</a> on-prem or public cloud
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://juju.is/docs/olm/get-started-on-kubernetes">
            Model-driven Kubernetes Operators
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Full stack support for <a href="/managed/apps">apps</a>, <a href="/pricing/infra">Kubernetes</a>, and <a href="/support">OS</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://jaas.ai/canonical-kubernetes">
            K8s architecture and deployment consulting
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Cloud-native workload migration services
        </li>
        <li class="p-list__item is-ticked">
          GPU enablement for <a href="https://charmed-kubeflow.io">AI/ML workloads on K8s</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://maas.io/">Bare metal</a>, <a href="/openstack">OpenStack</a> and VMware
        </li>
        <li class="p-list__item is-ticked">
          Pluggable <a href="/kubernetes/features">CNIs, CSIs, CRIs and third-party tools</a>
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/kubernetes">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/kubernetes/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/de681426-aws-logo.png",
            alt="Amazon Web Services",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6ef81e08-microsoft-azure-new-logo.png",
            alt="Microsoft Azure",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/d174f7bf-google-cloud-logo.png",
            alt="Goggle Cloud",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/d493514f-liberty-global-logo.png",
            alt="Liberty Global",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/aed42949-aci-universal-payments-logo.png",
            alt="ACI",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>
      Ultra secure things
    </h2>
    <p class="p-heading--4">
      <a href="/appliance">Ubuntu Core Appliances</a> with transactional updates <a href="/embedded">for a better embedded Linux</a>.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          OTA compressed updates for apps, kernel and OS
        </li>
        <li class="p-list__item is-ticked">
          Automatic rollback and data snapshots
        </li>
        <li class="p-list__item is-ticked">
          <a href="/internet-of-things/appstore">Managed private app stores</a> for secure fleet management
        </li>
        <li class="p-list__item is-ticked">
          DevSecOps pipeline for edge app delivery
        </li>
        <li class="p-list__item is-ticked">
          Built-in device recovery and remote disk repair
        </li>
        <li class="p-list__item is-ticked">
          10 year security maintenance for every device
        </li>
        <li class="p-list__item is-ticked">
          Provable system and software integrity
        </li>
        <li class="p-list__item is-ticked">
          Secure boot backed by root of trust
        </li>
        <li class="p-list__item is-ticked">
          Full disk encryption with hardware keys
        </li>
        <li class="p-list__item is-ticked">
          FIPS certifiable embedded Linux
        </li>
        <li class="p-list__item is-ticked">
          <a href="/blog/real-time-ubuntu-is-now-generally-available">Support for real-time compute</a>
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/core">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/core/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/67f81bfe-intel-new-logo.png",
            alt="Intel",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/5e075792-rexroth-logo.png",
            alt="Bosch Rexroth",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/711be910-arm-logo.png",
            alt="ARM",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/987acdaa-dell-logo.png",
            alt="Dell",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/2b253402-advantech-logo.png",
            alt="Advantech",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Workstations and desktops
    </h2>
    <p class="p-heading--4">
      <a href="/ai">Optimised AI/ML</a> and cloud devops. The professional developer's preference.
    </p>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          <a href="/engage/microsoft-active-directory">Active Directory</a> and LDAP integration
        </li>
        <li class="p-list__item is-ticked">
          Full disk encryption
        </li>
        <li class="p-list__item is-ticked">
          Security updates for the <a href="/esm">full open source stack</a>
        </li>
        <li class="p-list__item is-ticked">
          Estate <a href="https://landscape.canonical.com/landscape-features">monitoring and management</a>
        </li>
        <li class="p-list__item is-ticked">
          Configuration lockdown
        </li>
        <li class="p-list__item is-ticked">
          Local Kubernetes for offline development
        </li>
        <li class="p-list__item is-ticked">
          Instant Ubuntu on Windows and macOS with <a href="/wsl">WSL</a> and <a href="https://multipass.run">Multipass</a>
        </li>
        <li class="p-list__item is-ticked">
          Optimised images and <a href="/blog/why-you-should-buy-a-pre-installed-ubuntu-workstation">certified workstations</a>
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/desktop">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/desktop/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/11814428-hp-logo.png",
            alt="Hewlett Packard",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/c70b529e-lenovo-logo.png",
            alt="Lenovo",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/67f81bfe-intel-new-logo.png",
            alt="Intel",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/cd765ccc-nvidia-logo.png",
            alt="Nvidia",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6079d02b-amd-logo.png",
            alt="AMD",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/987acdaa-dell-logo.png",
            alt="Dell",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}

        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>
      Data centre automation
    </h2>
    <p class="p-heading--4">
      Turn a rack into a bare metal cloud. <a title="external link - maas.io" href="https://maas.io">Metal-as-a-Service provisions</a>  Windows, ESXi and Linux.
    </p>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          <a href="https://maas.io/how-it-works">Bare metal cloud</a> with on-demand servers
        </li>
        <li class="p-list__item is-ticked">
          Remote edge cluster operations
        </li>
        <li class="p-list__item is-ticked">
          Infrastructure <a href="https://maas.io/docs/prometheus-metrics">monitoring</a> and discovery
        </li>
        <li class="p-list__item is-ticked">
          Ansible, Chef, Puppet, SALT, <a href="https://juju.is">Juju</a> integration
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://maas.io/install">Super fast install</a> from scratch
        </li>
        <li class="p-list__item is-ticked">
          VMWare ESXi, Windows, CentOS, RHEL, Ubuntu
        </li>
        <li class="p-list__item is-ticked">
          Custom images with pre-installed apps
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://maas.io/docs/storage">Disk</a> and <a href="https://maas.io/docs/networking">network</a> configuration
        </li>
        <li class="p-list__item is-ticked">
          API-driven DHCP, DNS, PXE, IPAM, provisioning
        </li>
        <li class="p-list__item is-ticked">
          LDAP authentication and RBAC
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="https://maas.io">
            Learn more
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://maas.io/contact-us">
            Contact us
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/0352e974-verizon-logo.png",
            alt="Verizon",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/ea3bc2f7-telefonica-logo.png",
            alt="Telefónica",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/ce15a4d1-tele2-logo.png",
            alt="TELE2",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/756e9ef4-telecom-italia-logo.png",
            alt="Telecom Italia",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/83fb74ae-nec-logo.png",
            alt="NEC",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/4af3ad39-barclays-logo.png",
            alt="Barclays",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <h2>
      Smart robots of all shapes and sizes
    </h2>
    <p class="p-heading--4">
      From turtles to trucks, <a href="/robotics">Ubuntu drives the robot revolution</a>.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Full support for <a href="/robotics/what-is-ros">ROS and ROS2</a>
        </li>
        <li class="p-list__item is-ticked">
          Security patches for long-term ROS
        </li>
        <li class="p-list__item is-ticked">
          Fault tolerant over-the-air updates
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#cis">CIS certification</a> for ROS and ROS2
        </li>
        <li class="p-list__item is-ticked">
          Trim time-to-market with SMART START consulting
        </li>
        <li class="p-list__item is-ticked">
          Leading Robot-as-a-Platform ecosystem
        </li>
        <li class="p-list__item is-ticked">
          Curated app stores
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/robotics">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/e796fb76-abb-logo.png",
            alt="ABB",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/2437987f-pal-robotics-logo.png",
            alt="PAL Robotics",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/01e8486f-kuka-logo.png",
            alt="KUKA",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/7e4f929b-apollo-logo.png",
            alt="Apollo",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/466c2690-bosch-logo.png",
            alt="Bosch",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/59af2c8f-bmw-logo.png",
            alt="BMW",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Multi-cloud applications&nbsp;&ndash;&nbsp;beyond PAAS
    </h2>
    <p class="p-heading--4">
      <a href="https://juju.is/">Universal model-driven operators for classic</a> and <a href="https://jaas.ai/kubernetes">Kubernetes estate</a>.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Operate smoothly across public and private cloud
        </li>
        <li class="p-list__item is-ticked">
          Reusable integration code as open source packages
        </li>
        <li class="p-list__item is-ticked">
          Python Operator Framework for rapid development
        </li>
        <li class="p-list__item is-ticked">
          Bring the K8s operator pattern to classic workloads
        </li>
        <li class="p-list__item is-ticked">
          Lifecycle management and Day 2 operations
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://jaas.ai/store">Open collection</a> of community-driven operators
        </li>
      </ul>
      <p>
        <a href="https://juju.is">
          Learn more about universal operators
        </a>
      </p>
    </div>
  </div>

  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/1dc7af1e-panasonic-logo.png",
            alt="Panasonic",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/52e19575-scania-logo.png",
            alt="Scania",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6a3b49ef-sbi-bits-logo.png",
            alt="SBI BITS",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/de8ab04f-swissquote-logo.png",
            alt="Swissquote",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

{% block footer_content %}
{# include "ubuntu/takeovers/_footer_homepage.html" #}
{% endblock footer_content %}

<script>
  // get the users language and remove any extra detail suffix (e.g. -gb)
  var primaryParentLanguage = getPrimaryParentLanguage();

  // get notices matching the user language
  var notices = document.querySelectorAll(".notice[lang=" + primaryParentLanguage + "]");

  // display only one matching notice
  if (notices.length > 0) {
    notices[0].classList.remove("u-hide")
  }

  var baseTakeover = document.getElementById('takeover');
  var takeoverAnimation = document.getElementById("takeover-animaition");

  if (window.localStorage && baseTakeover) {
    /**
    * Choose a takeover
    * ===
    *
    * From the list of provided takeovers from /.takeovers.json,
    * choose one (that matches the client's language), and replace the
    * base template with it.
    */

    var xhr = new XMLHttpRequest();
    if (window.ActiveXObject) {
      xhr = new ActiveXObject('Microsoft.XMLHTTP');
    }
    var fetchUserCountry = new XMLHttpRequest();
    if (window.ActiveXObject) {
      fetchUserCountry = new ActiveXObject('Microsoft.XMLHTTP');
    }

    xhr.onreadystatechange = function() {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          var takeovers = JSON.parse(xhr.responseText);

          // Get the selected takeovers based on the primary language
          if (
            fetchUserCountry.readyState == XMLHttpRequest.DONE &&
            fetchUserCountry.status == 200
          ) {
            var userCountry = JSON.parse(fetchUserCountry.responseText).country_code;
            var selectedTakeovers = takeovers.filter(function (item) {
              if (item.target_country && item.target_country == userCountry) {
                return true;
              } else if (item.lang === primaryParentLanguage || item.lang === "") {
                return true;
              } else {
                return false;
              }
            });
          } else {
            var selectedTakeovers = takeovers.filter(function (item) {
              if (item.lang === primaryParentLanguage || item.lang === "") {
                return true;
              } else {
                return false;
              }
            });
          }

          if (selectedTakeovers && selectedTakeovers.length > 0) {
            var selectedIndex = null;

            if (window.localStorage.getItem("selected_takeover_index") !== null) {
              // If we previously visited a takeover, increment the number to show the next takeover
              var nextIndex =
                parseInt(window.localStorage.getItem("selected_takeover_index")) + 1;
              selectedIndex = nextIndex < selectedTakeovers.length ? nextIndex : 0;
            } else {
              // Otherwise, randomly choose one of the takeovers and store it for next time
              selectedIndex = Math.floor(Math.random() * selectedTakeovers.length);
            }
            showTakeover(selectedTakeovers, selectedIndex);

            // Store the current takeover index
            localStorage.setItem("selected_takeover_index", selectedIndex);
          }


        } else {
          takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
          takeoverAnimation.className +=  " is-loaded";
        }
      }
    };

    xhr.open("GET", "/takeovers.json", true);
    xhr.send();
    fetchUserCountry.open("GET", "/user-country.json", true);
    fetchUserCountry.send();
    takeoverAnimation.className +=  " is-loading";
  }

  function showTakeover(takeovers, index) {
    // Default parameter
    index = typeof index !== 'undefined' ? index : 0;

    // Get HTML elements
    var takeover = document.getElementById("takeover");
    var title = document.getElementById("takeover-title");
    var subtitle = document.getElementById("takeover-subtitle");
    var image = document.getElementById("takeover-image");
    var primaryUrl = document.getElementById("takeover-primary-url");
    var secondaryUrl = document.getElementById("takeover-secondary-url");

    // Set values to homepage takeover
    var selectedTakeover = takeovers[index];

    takeover.className = "";
    takeover.removeAttribute("style");

    // Add takeover classes
    var classNameString = "js-takeover p-takeover--" + selectedTakeover.class;
    takeover.className += classNameString;

    // Set language attributes
    if (selectedTakeover.lang) {
      takeover.setAttribute("lang", selectedTakeover.lang);
    }
    if (selectedTakeover.lang_skip) {
      takeover.setAttribute("lang-skip", selectedTakeover.lang_skip);
    }

    // Set takeover content
    title.textContent = selectedTakeover.title;
    subtitle.textContent = selectedTakeover.subtitle;
    image.src = selectedTakeover.image;
    image.onload = function () {
      // Remove animation delay
      if (takeoverAnimation) {
        takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
        takeoverAnimation.className +=  " is-loaded";
      }
    }

    if (image.getAttribute("src") === "") {
      takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
      takeoverAnimation.className +=  " is-loaded";
    }

    image.removeAttribute("style");
    image.width = selectedTakeover.image_width;
    image.height = selectedTakeover.image_height;

    if (selectedTakeover.primary_url && selectedTakeover.primary_cta) {
      primaryUrl.href = selectedTakeover.primary_url;
      primaryUrl.textContent = selectedTakeover.primary_cta;
    } else {
      primaryUrl.remove();
    }

    if (selectedTakeover.secondary_url && selectedTakeover.secondary_url !== "") {
      secondaryUrl.href = selectedTakeover.secondary_url;
      secondaryUrl.innerHTML = selectedTakeover.secondary_cta + "&nbsp;&rsaquo;";
    } else {
      secondaryUrl.remove();
    }

    dataLayer.push({
      event: "NonInteractiveGAEvent",
      eventCategory: "www.ubuntu.com-impression-takeover",
      eventAction: "from:" + window.location.href + " to:" + selectedTakeover.primary_url,
      eventLabel: selectedTakeover.primary_cta,
      eventValue: undefined,
    });
  }
</script>

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/general" data-form-id="1257" data-lp-id="2154" data-return-url="https://ubuntu.com/contact-us/form/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>

{% endblock content %}
{% endblock outer_content %}
