
{% extends "templates/base.html" %}

{% block title %}The leading operating system for PCs, IoT devices, servers and the cloud{% endblock %}
{% block extra_body_class %}homepage {% block takeover_body_class %}{% endblock takeover_body_class %}{% endblock extra_body_class %}

{% block meta_copydoc %}https://docs.google.com/document/d/1ySJxQbqVdeH4Tra0zwBm2Tn0s56kFGnEF7d8xDRTxwU/edit{% endblock %}

{% block outer_content %}
  {% block content %}
    <template id="takeovers" class="u-hide">
      {% block takeover_content %}
      {% endblock takeover_content %}
    </template>

    <!-- Default Takeover: Download the latest Ubuntu -->
    <section data-lang="all" id="takeover" class="p-strip--image is-dark is-deep" style="background-color: #5E2750; background-image: linear-gradient(110deg, #5E2750 20%, #2C001E 46%, #2C001E 60%);">
      <div class="row">
        <div class="col-8">
          <h1 style="font-weight: 100;">Ubuntu {{ releases.latest.short_version }} is here</h1>
          <p>The latest version of the world’s most widely used Linux platform for Kubernetes, multi-cloud and machine learning.</p>
          <p class="u-no-margin--bottom"><a href="/download" class="p-button--neutral u-no-margin--bottom">Download Ubuntu {{ releases.latest.short_version }} now</a></p>
        </div>
      </div>
    </section>

    {% block notices_content %}
    {% endblock notices_content %}

    <section class="p-strip is-deep is-bordered">
      <div class="row p-divider">
        <div class="col-9">
          <h3>Latest news from our blog</h3>
          <div id="latest-articles" class="row">
            <div style="min-height: 9.1rem"><i class="p-icon--spinner u-animation--spin">Loading...</i></div>
          </div>
        </div>

        <div id="spotlight" class="col-3 p-divider__block">
        </div>
      </div>

      <template style="display:none" id="articles-template">
        <div class="col-3">
          <h4><a class="article-link article-title"></a></h4>
          <p class="u-no-padding--top"><em><time pubdate="" class="article-time"></time></em></p>
        </div>
      </template>

      <template style="display:none" id="spotlight-template">
        <h3>Spotlight</h3>
        <div>
          <h4><a class="article-link article-title"></a></h4>
          <p class="u-no-padding--top"><em><time pubdate="" class="article-time"></time></em></p>
        </div>
      </template>

      <script src="{{ versioned_static('js/src/latest-news.js') }}"></script>
      <script>
        fetchLatestNews(
          {
            articlesContainerSelector: "#latest-articles",
            articleTemplateSelector: "#articles-template",
            spotlightContainerSelector: "#spotlight",
            spotlightTemplateSelector: "#spotlight-template",
            gtmEventLabel: "ubuntu.com homepage"
          }
        )
      </script>

      <div class="u-sv3"></div>

      <div class="u-fixed-width">
        <a href="/blog" class="p-button--neutral" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'blog', 'eventAction' : 'clicks blog feed link', 'eventLabel' : 'ubuntu.com homepage', 'eventValue' : undefined });">
          View more from our blog
        </a>
      </div>
    </section>

    <section class="p-strip--light is-bordered">
      <div class="u-fixed-width u-align--center u-clearfix">
        <h2 class="p-heading--three u-no-max-width" style="margin-bottom: 1.5rem;">
          Ubuntu is an open source software operating system that runs from the desktop, to the cloud, to all your internet connected things
        </h2>
        <ul class="p-ubuntu-intro__icons">
          <li class="u-align--center">
            <a href="/cloud">
              <i class="p-ubuntu-intro__icon--cloud"></i>
              Cloud
            </a>
          </li>
          <li class="u-align--center">
            <a href="/server">
              <i class="p-ubuntu-intro__icon--server"></i>
              Server
            </a>
          </li>
          <li class="u-align--center">
            <a href="/containers">
              <i class="p-ubuntu-intro__icon--containers"></i>
              Containers
            </a>
          </li>
          <li class="u-align--center">
            <a href="/desktop">
              <i class="p-ubuntu-intro__icon--desktop"></i>
              Desktop
            </a>
          </li>
          <li class="u-align--center">
            <a href="/internet-of-things">
              <i class="p-ubuntu-intro__icon--iot"></i>
              IoT
            </a>
          </li>
        </ul>
      </div>
    </section>

    {# strip cloud #}
    <section class="p-strip is-deep u-image-position is-bordered">
      <div class="row">
        <div class="col-7">
          {{
            image(
              url="https://assets.ubuntu.com/v1/450d7c2f-openstack-hero.svg",
              alt="",
              width="534",
              height="319",
              hi_def=True,
            ) | safe
          }}
        </div>
        <div class="col-5">
          <h3><a href="/openstack/managed">The world’s most popular operating system across public clouds and OpenStack clouds&nbsp;&rsaquo;</a></h3>
          <p>Find out more about Ubuntu’s cloud building software, tools and service packages.</p>
        </div>
      </div>
    </section>

    {# strip iot #}
    <section class="p-strip--light is-deep is-bordered">
      <div class="row u-equal-height u-vertically-center">
        <div class="col-4">
          <h3><a href="/internet-of-things">The fastest way to go from development to production in IoT&nbsp;&rsaquo;</a></h3>
          <p>Learn about how Ubuntu Core and snaps can help you build your connected devices.</p>
        </div>
        <div class="col-7 col-start-large-6 u-align--center">
          {{
            image(
              url="https://assets.ubuntu.com/v1/808a4e5b-iot.png",
              alt="",
              height="280",
              width="667",
              hi_def=True,
              attrs={"class": "u-hide--small"},
            ) | safe
          }}
        </div>
      </div>
    </section>

    {# strip containers #}
    <section class="p-strip is-deep is-bordered">
      <div class="row u-equal-height u-vertically-center">
        <div class="col-7">
          {{
            image(
              url="https://assets.ubuntu.com/v1/72dcc529-containers-illustration_AW.svg",
              alt="",
              height="374",
              width="667",
              hi_def=True,
              attrs={"class": "u-hide--small"},
            ) | safe
          }}
        </div>
        <div class="col-4">
          <h3><a href="/containers">The number one platform for containers&nbsp;&rsaquo;</a></h3>
          <p>From LXD to Kubernetes to Docker, Ubuntu can run your containers at scale.</p>
        </div>
      </div>
    </section>

    {# strip desktop #}
    <section class="p-strip--light is-deep is-bordered">
      <div class="row u-equal-height u-vertically-center">
        <div class="col-4">
          <h3><a href="/desktop">Fast, secure and simple, Ubuntu powers millions of PCs worldwide&nbsp;&rsaquo;</a></h3>
          <p>Download the latest version of Ubuntu, for desktop PCs and laptops.</p>
        </div>
        <div class="col-7 col-start-large-6 u-align--center">
          {{
            image(
              url="https://assets.ubuntu.com/v1/c6504e94-Dell_XPS_Laptop_Front-Desktop.png",
              alt="",
              height="350",
              width="694",
              hi_def=True,
              attrs={"class": "u-hide--small"},
            ) | safe
          }}
        </div>
      </div>
    </section>

    {# strip takeunders #}
    <section class="p-strip">
      <div class="row u-equal-height">
        {% include "takeovers/takeunders/_ubuntu-product-month.html" %}
        {% include "takeovers/takeunders/_openstack-ebook.html" %}
      </div>
    </section>

    {% block footer_content %}
      {# include "ubuntu/takeovers/_footer_homepage.html" #}
    {% endblock footer_content %}

    <script>
      function getPrimaryParentLanguage() {
        /**
         * Get the primary parent language
         *
         * Get the user's default language, and if it's a sub-language,
         * infer the parent language - e.g. for "en-GB", infer "en"
         */
        var language = navigator.language || navigator.userLanguage || navigator.browserLanguage || navigator.systemLanguage;

        if (language.indexOf('-') !== -1 ) {
          language = language.split('-')[0];
        }

        return language
      };

      // get the users language and remove any extra detail suffix (e.g. -gb)
      var language = getPrimaryParentLanguage();

      // get notices matching the user language
      var notices = document.querySelectorAll(".notice[lang=" + language + "]");

      // display only one matching notice
      if (notices.length > 0) {
        notices[0].classList.remove("u-hide")
      }

      if (window.localStorage && window.sessionStorage) {
        /**
         * Choose a takeover
         * ===
         *
         * From the list of provided takeovers in the #takeovers template,
         * choose one (that matches the client's language), and replace the
         * base template with it.
         */

        var baseTakeover = document.getElementById('takeover');  // The base takeover element
        var takeovers = document.getElementById('takeovers');  // The list of current takeovers to choose from

        // For browsers that support <template> (all but IE), grab the template's ".content"
        takeovers = 'content' in takeovers ? takeovers.content: takeovers;

        // First, select takeovers that don't specify a language and don't exclude the users language
        var takeoverSelectors = [".js-takeover:not([lang]).js-takeover:not([lang-skip*=" + language + "])"]

        // Add selectors to find takeovers for any of the user's languages
        takeoverSelectors.push(".js-takeover[lang=" + language + "]");
        takeoverSelectors.push(".js-takeover[data-lang-extra*=" + language + "]");

        // Get the selected takeovers
        var selectedTakeovers = (takeovers.querySelectorAll(takeoverSelectors.join(',')));

        if (selectedTakeovers) {
          var selectedIndex = null;

          if (localStorage.getItem('selected_takeover_index') !== null) {
            // If we previously chose a takeover, increment the number to show the next takeover
            var nextIndex = parseInt(localStorage.getItem('selected_takeover_index')) + 1
            selectedIndex = nextIndex < selectedTakeovers.length ? nextIndex : 0;
          } else {
            // Otherwise, randomly choose one of the takeovers and store it for next time
            selectedIndex = Math.floor(Math.random() * selectedTakeovers.length);
          }

          // Store the current takeover
          localStorage.setItem('selected_takeover_index', selectedIndex)

          // Get the takeover element
          var selectedTakeover = selectedTakeovers[selectedIndex]

          if (! document.body.contains(selectedTakeover)) {
            // If it's not in the current document (as in, it's in a template) import it
            // Note: This is for all browser *except* IE, which doesn't support <template>s
            selectedTakeover = document.importNode(selectedTakeover, true);
          }

          // Replace the base takeover with the new one
          // Note: We can't use Node.replaceWith (which would be nice), as it's not supported in IE
          baseTakeover.parentNode.replaceChild(selectedTakeover, baseTakeover)
        }
      }
    </script>

    <!-- Set default Marketo information for contact form below-->
    <div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/_general" data-form-id="1257" data-lp-id="2154" data-return-url="https://www.ubuntu.com/contact-us/form/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
    </div>


  {% endblock content %}
{% endblock outer_content %}
