{% extends "templates/base.html" %}

{% block title %}Enterprise Open Source and Linux{% endblock %}
{% block meta_description %}Ubuntu is the modern, open source operating system on Linux for the enterprise server, desktop, cloud, and IoT.{% endblock meta_description %}
{% block extra_body_class %}homepage {% block takeover_body_class %}{% endblock takeover_body_class %}{% endblock extra_body_class %}

{% block meta_copydoc %}https://docs.google.com/document/d/1ySJxQbqVdeH4Tra0zwBm2Tn0s56kFGnEF7d8xDRTxwU/edit{% endblock %}

{% block outer_content %}
{% block content %}

<!-- Default Takeover: Download the latest Ubuntu -->
<section data-lang="all" id="takeover" class="p-takeover--grad is-dark is-deep">
  <div class="row p-takeover-animation" id="takeover-animaition">
    <div class="col-7 u-vertically-center">
      <h1 id="takeover-title">What's new in<br>Ubuntu {{ releases.latest.short_version }}?</h1>
      <p class="p-heading--four" id="takeover-subtitle">Introducing the Ubuntu Desktop for Raspberry Pi, the latest desktop features and micro clouds.</p>
      <div id="takeover-ctas">
        <p><a id="takeover-primary-url" href="/download" class="p-button--positive">Get Ubuntu {{ releases.latest.short_version }}</a></p>
        <p>
          <a id="takeover-secondary-url" href="/raspberry-pi" class="p-link--inverted">
            Learn more about Ubuntu on the Raspberry Pi&nbsp;&rsaquo;
          </a>
        </p>
      </div>
    </div>
    <div class="col-5 u-vertically-center u-align--center u-align--left-medium u-hide--small">
      <img id="takeover-image" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="200" alt="" />
    </div>
  </div>
</section>

<section class="p-strip is-shallow notice">
  <div class="row">
    <div class="p-heading-icon">
      <div class="p-heading-icon__header">
        <img src="https://assets.ubuntu.com/v1/89451f56-centos.png" alt="" class="p-heading-icon__img" >
        <p class="p-heading--four p-heading-icon__title" style="padding-top:0.4rem"><a href="/blog/migrating-to-ubuntu-lts-six-facts-for-centos-users">CentOS users, 6 things to know when considering a migration to Ubuntu LTS&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>
</section>

{% block notices_content %}
{% endblock notices_content %}

<section class="p-strip u-no-padding--bottom">
  <div class="row">
    <div class="col-6 col-medium-4">
      <h2>Modern enterprise open&nbsp;source</h2>
      <p class="p-heading--four">Publisher of Ubuntu.<br /> Security. Support. Managed Services.</p>
      <p>
        <a class="p-button--positive js-invoke-modal" href="/contact-us">
          Contact Canonical
        </a>
      </p>
    </div>
    <div class="col-6 col-medium-2">
      <ul class="row u-no-margin--bottom">
        <li class="col-2 col-medium-1 col-small-1">
          <img src="https://assets.ubuntu.com/v1/83ff4203-awshp-strip-customers.png" alt="Amazon Web Services logo">
        </li>
        <li class="col-2 col-medium-1 col-small-1">
          <img src="https://assets.ubuntu.com/v1/7c601cb9-azurehp-strip-customers.png" alt="Microsoft Azure logo">
        </li>
        <li class="col-2 col-medium-1 col-small-1 col-start-medium-1">
          <img src="https://assets.ubuntu.com/v1/5ba04ee8-atthp-strip-customers.png" alt="AT&T logo">
        </li>
        <li class="col-2 col-medium-1 col-small-1 col-start-large-2 col-start-small-1 ">
          <img src="https://assets.ubuntu.com/v1/fdb8126b-google+cloudhp-strip-customers.png" alt="Google Cloud logo">
        </li>
        <li class="col-2 col-medium-1 col-small-1 col-start-medium-1">
          <img src="https://assets.ubuntu.com/v1/3faca6ca-netflixhp-strip-customers.png" alt="Netflix logo">
        </li>
      </ul>
    </div>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
</section>

{% with section_classes='p-strip u-no-padding--top', spotlight='True' %}
  {% include "shared/_latest_news_strip.html" %}
{% endwith %}

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>
        Energise your engineers
      </h2>
      <p class="p-heading--four">
        Better security. More packages. Newer tools. All your open source, from cloud to edge.
      </p>
      <p>
        66% of experienced developers prefer Ubuntu.
      </p>
      <p>
        That's why Ubuntu supports the fastest, biggest and most successful digital operations.
      </p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/contact-us" class="js-invoke-modal">
            Let's talk open source&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/masters-conference">
            Watch Ubuntu Masters in action&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
    <div class="col-4 u-vertically-center u-align--left u-hide--small">
      <div>
        <p>
          <a class="p-link--external" href="https://recruit-c7ff.kxcdn.com/recruit/wp-content/uploads/2020/05/he-developer-survey-2020.pdf" aria-label="Visit the PDF file for 2020 HackerEarth Developer Survey">
            The 2020 HackerEarth Developer Survey
          </a>
        </p>
        {{
          image(
          url="https://assets.ubuntu.com/v1/934a0626-Hackerearth_logo.svg",
          alt="HackerEarth logo",
          width="200",
          height="40",
          hi_def=True,
          loading="lazy",
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Open source security
    </h2>
    <p class="p-heading--four">
      More than Linux. <a href="/security/certifications">Security and compliance</a> for the full stack.
    </p>
    <p>
      Secure your open source apps. Patch the full stack, from kernel to library and applications, for CVE compliance. Governments and auditors certify Ubuntu for FedRAMP, FISMA and HITECH.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          10 year security maintenance and CVE Patching
        </li>
        <li class="p-list__item is-ticked">
          <a href="/livepatch">Kernel Livepatch</a> for 24/7 patching with no downtime
        </li>
        <li class="p-list__item is-ticked">
          <a href="/esm">Extended security</a> for infrastructure and applications
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#fips">FIPS 140-2</a> cryptographic modules certified by NIST
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#common-criteria">Common Criteria EAL2</a>: ISO/IEC IS 15408 validated by CSEC
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#stig">DISA/STIG</a> hardening for <abbr title="Department of Defence, USA">DoD</abbr> compliance
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#cis">CIS profiles</a> for cyber defence and malware prevention
        </li>
      </ul>
      <p>
        <a href="/security">
          Secure all your open source with us&nbsp;&rsaquo;
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images u-no-margin--bottom">
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/ebb66d41-NIST.png",
          alt="NIST logo",
          width="375",
          height="240",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/3291d4ed-%40SEC.png",
          alt="@sec logo",
          width="375",
          height="240",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/60fff85c-DISA.png",
          alt="DISA logo",
          width="375",
          height="240",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/6ecbc2b2-CIS.png",
          alt="CIS logo",
          width="375",
          height="240",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/0d160777-Csec.png",
          alt="CSEC logo",
          width="375",
          height="240",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-8">
      <h2>
        Significant enterprise savings
      </h2>
      <p class="p-heading--four">
        Sustainable open source at the lowest cost, everywhere.
      </p>
      <p>
        Rethink what's possible with Linux and open source.
      </p>
      <p>
        Companies engage Canonical to drive down open source operating costs. Automate everything: multi-cloud operations, bare metal provisioning, edge clusters and IoT.
      </p>
    </div>
    <div class="col-4 u-hide--small u-vertically-center u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/f129afea-Save+Money-Yen-Euro-Dollar-2020.svg",
        alt="",
        width="266",
        height="200",
        hi_def=True,
        loading="lazy",
        ) | safe
      }}
    </div>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          No mandatory subscriptions for Ubuntu
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security">Security</a>, <a href="/support">support</a> and fully managed <a href="/openstack/managed">infra</a> and <a href="/managed">apps</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/public-cloud">Public cloud</a>, <a href="/download/server">data centre</a>, <a class="p-link--external" href="https://microk8s.io">edge cluster</a> and <a href="/appliance">appliances</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/about/release-cycle">Long term maintenance commitment</a>
        </li>
        <li class="p-list__item is-ticked">
          Transparent pricing for enterprise and ISV
        </li>
        <li class="p-list__item is-ticked">
          <a href="/engage/vmware-to-charmed-openstack">Switch from VMware to OpenStack</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/openstack/tco-calculator">TCO analysis of Open Infra</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/engage/cloud-economics">451 study on private/public cloud costs</a>
        </li>
      </ul>
      <a href="/contact-us" class="js-invoke-modal">
        Let's talk open source&nbsp;&rsaquo;
      </a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Public cloud optimisation
    </h2>
    <p class="p-heading--four">
      Most public cloud instances are Ubuntu, for performance and security.
    </p>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Optimised kernels for AWS, Azure, Google, Oracle, IBM
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#fips">FIPS</a>, <a href="/security/certifications#cis">CIS hardening</a> and CVE fixes with Ubuntu Pro
        </li>
        <li class="p-list__item is-ticked">
          Minimise rolling reboots with <a href="/livepatch">Kernel Livepatch</a>
        </li>
        <li class="p-list__item is-ticked">
          Network &amp; storage performance optimisation
        </li>
        <li class="p-list__item is-ticked">
          GPU enablement for machines and containers
        </li>
        <li class="p-list__item is-ticked">
          Pay-as-you-go billing, no more licenses
        </li>
        <li class="p-list__item is-ticked">
          <a href="/support">Enterprise support</a> and <a href="/esm">Extended Security Maintenance</a>
        </li>
        <li class="p-list__item is-ticked">
          Cloud workload migration service
        </li>
        <li class="p-list__item is-ticked">
          Containerisation and cloud-native migration service
        </li>
        <li class="p-list__item is-ticked">
          Fully managed application service
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/public-cloud">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images--small u-no-margin--bottom">
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/ae0456eb-Netflix_logo.svg",
          alt="Netflix logo",
          width="130",
          height="36",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/77bfd25b-Uber_Logo.svg",
          alt="Uber logo",
          width="120",
          height="42",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/1688fbe0-Spotify_logo.svg",
          alt="Spotify logo",
          width="130",
          height="39",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/c911ed42-walmart_logo.svg",
          alt="Walmart logo",
          width="131",
          height="32",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/40b42dd2-bnp-paribas_logo.svg",
          alt="BNP Paribas logo",
          width="224",
          height="50",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>
        Carrier-grade private cloud
      </h2>
      <p class="p-heading--four">
        Operate <a href="/openstack">private cloud the smart way</a>&nbsp;&ndash;&nbsp;supported or <a href="/openstack/managed">fully managed</a>.
      </p>
    </div>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          10 year <a href="/esm">security maintenance</a> and <a href="/support">support</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="/openstack/features">Hyperconverged</a> or segregated architecture
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security">
            Encryption at rest for GDPR, HIPAA, FedRAMP
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Wide choice of SDN and storage
        </li>
        <li class="p-list__item is-ticked">
          <a href="/engage/charmed-openstack-adoption-whitepaper">
            Upgrades and day-2 operations, automated
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Integrated logging, monitoring and alerting
        </li>
        <li class="p-list__item is-ticked">
          Platform and infrastructure hardening
        </li>
        <li class="p-list__item is-ticked">
          High availability
        </li>
        <li class="p-list__item is-ticked">
          <a href="/telco">
            Carrier-grade NFVI
          </a>
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/openstack">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/openstack/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images--small u-no-margin--bottom">
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/7c97efb0-BT_logo.svg",
          alt="BT logo",
          width="80",
          height="80",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/ef4f489e-Deutsche_Telekom-Logo.svg",
          alt="Deutsche Telekom logo",
          width="130",
          height="30",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/ee5d503f-rabobank-4.svg",
          alt="Rabobank logo",
          width="150",
          height="27",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/1d34393a-best-buy_logo.svg",
          alt="Best Buy logo",
          width="100",
          height="73",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/7538babd-Bloomberg_logo.svg",
          alt="Bloomberg logo",
          width="130",
          height="26",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/b76ad53c-AT%26T_logo.svg",
          alt="AT&T logo",
          width="130",
          height="54",
          hi_def=True,
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Multi-cloud Kubernetes and containers
    </h2>
    <p class="p-heading--four">
      <a title="external link - docs.microsoft.com/en-us/azure/aks/cluster-configuration" href="https://docs.microsoft.com/en-us/azure/aks/cluster-configuration">AKS.</a> <a title="external link - cloud-images.ubuntu.com/docs/aws/eks" href="https://cloud-images.ubuntu.com/docs/aws/eks">EKS.</a> <a title="external link - cloud.google.com/kubernetes-engine/docs/concepts/node-images#ubuntu" href="https://cloud.google.com/kubernetes-engine/docs/concepts/node-images#ubuntu">GKE.</a> Kubeadm. <a title="external link - microk8s.io" href="https://microk8s.io">MicroK8s.</a> <a href="/kubernetes/features">Charmed Kubernetes.</a> All on Ubuntu.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Support for all public cloud Kubernetes
        </li>
        <li class="p-list__item is-ticked">
          On-prem MicroK8s, Charmed K8s, kubeadm
        </li>
        <li class="p-list__item is-ticked">
          <a href="/kubernetes/managed">Fully-managed Kubernetes</a> on-prem or public cloud
        </li>
        <li class="p-list__item is-ticked">
          <a class="p-link--external" href="https://juju.is/docs/kubernetes">
            Model-driven Kubernetes Operators
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Full stack support for <a href="/managed">apps</a>, <a href="/pricing/infra">Kubernetes</a>, and <a href="/support">OS</a>
        </li>
        <li class="p-list__item is-ticked">
          <a class="p-link--external" href="https://jaas.ai/canonical-kubernetes">
            K8s architecture and deployment consulting
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Cloud-native workload migration services
        </li>
        <li class="p-list__item is-ticked">
          GPU enablement for <a class="p-link--external" href="https://charmed-kubeflow.io">AI/ML workloads on K8s</a>
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://maas.io/" class="p-link--external">Bare metal</a>, <a href="/openstack">OpenStack</a> and VMware
        </li>
        <li class="p-list__item is-ticked">
          Pluggable <a href="/kubernetes/features">CNIs, CSIs, CRIs and third-party tools</a>
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/kubernetes">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/kubernetes/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images--small u-no-margin--bottom">
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/a82add58-profile-aws.svg",
          alt="Amazon Web Services logo",
          width="84",
          height="50",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/22fd6473-MicrosoftAzure_logo.svg",
          alt="Microsoft Azure logo",
          width="130",
          height="38",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/e795fc84-Google_Cloud_Logo.svg",
          alt="Google Cloud Platform logo",
          width="259",
          height="40",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/2f1934f0-Liberty-Global-Logo.svg",
          alt="Liberty Global logo",
          width="116",
          height="70",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/2616b34f-ACI-Universal-Payments.svg",
          alt="ACI logo",
          width="120",
          height="60",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>
      Ultra secure things
    </h2>
    <p class="p-heading--four">
      <a href="/appliance">Ubuntu Core Appliances</a> with transactional updates <a href="/embedded">for a better embedded Linux</a>.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          OTA compressed updates for apps, kernel and OS
        </li>
        <li class="p-list__item is-ticked">
          Automatic rollback and data snapshots
        </li>
        <li class="p-list__item is-ticked">
          <a href="/internet-of-things/appstore">Managed private app stores</a> for secure fleet management
        </li>
        <li class="p-list__item is-ticked">
          DevSecOps pipeline for edge app delivery
        </li>
        <li class="p-list__item is-ticked">
          Built-in device recovery and remote disk repair
        </li>
        <li class="p-list__item is-ticked">
          10 year security maintenance for every device
        </li>
        <li class="p-list__item is-ticked">
          Provable system and software integrity
        </li>
        <li class="p-list__item is-ticked">
          Secure boot backed by root of trust
        </li>
        <li class="p-list__item is-ticked">
          Full disk encryption with hardware keys
        </li>
        <li class="p-list__item is-ticked">
          FIPS certifiable embedded Linux
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/core">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/core/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images--small u-no-margin--bottom">
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/093c43ef-intel_logo.svg",
          alt="Intel logo",
          width="121",
          height="80",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/156ddbf8-rexroth_logo.svg",
          alt="Rexroth logo",
          width="131",
          height="53",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/0e4d0d27-arm_logo.svg",
          alt="ARM logo",
          width="120",
          height="36",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/c0ee6182-dell_logo.svg",
          alt="Dell logo",
          width="90",
          height="90",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/1f876369-advantech.svg",
          alt="Advantech logo",
          width="250",
          height="51",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Workstations and desktops
    </h2>
    <p class="p-heading--four">
      <a href="/ai">Optimised AI/ML</a> and cloud devops. The professional developer's preference.
    </p>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          <a href="/engage/linux-enterprise-whitepaper">
            Active Directory and LDAP integration
          </a>
        </li>
        <li class="p-list__item is-ticked">
          Full disk encryption
        </li>
        <li class="p-list__item is-ticked">
          Security updates for the <a href="/esm">full open source stack</a>
        </li>
        <li class="p-list__item is-ticked">
          Estate <a class="p-link--external" href="https://landscape.canonical.com/landscape-features">monitoring and management</a>
        </li>
        <li class="p-list__item is-ticked">
          Configuration lockdown
        </li>
        <li class="p-list__item is-ticked">
          Local Kubernetes for offline development
        </li>
        <li class="p-list__item is-ticked">
          Instant Ubuntu on Windows and macOS with <a href="/wsl">WSL</a> and <a href="https://multipass.run">Multipass</a>
        </li>
        <li class="p-list__item is-ticked">
          Optimised images and <a href="/blog/why-you-should-buy-a-pre-installed-ubuntu-workstation">certified workstations</a>
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/desktop">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/desktop/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images--small u-no-margin--bottom">
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/9081f01d-hp_logo.svg",
          alt="HP logo",
          width="90",
          height="90",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/d2a8c2f4-lenovo_logo.svg",
          alt="Lenovo logo",
          width="131",
          height="27",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/093c43ef-intel_logo.svg",
          alt="Intel logo",
          width="121",
          height="80",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/1ac0e434-Nvidia_Logo_Horizontal.svg",
          alt="Nvidia logo",
          width="152",
          height="29",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo is-wide"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/4dbc1a2d-amd_logo.svg",
          alt="AMD logo",
          width="132",
          height="31",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/c0ee6182-dell_logo.svg",
          alt="Dell logo",
          width="90",
          height="90",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2>
      Data centre automation
    </h2>
    <p class="p-heading--four">
      Turn a rack into a bare metal cloud. <a title="external link - maas.io" href="https://maas.io">Metal-as-a-Service provisions</a>  Windows, ESX and Linux.
    </p>
  </div>
  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          <a class="p-link--external" href="https://maas.io/how-it-works">Bare metal cloud</a> with on-demand servers
        </li>
        <li class="p-list__item is-ticked">
          Remote edge cluster operations
        </li>
        <li class="p-list__item is-ticked">
          Infrastructure <a class="p-link--external" href="https://maas.io/docs/prometheus-metrics">monitoring</a> and discovery
        </li>
        <li class="p-list__item is-ticked">
          Ansible, Chef, Puppet, SALT, <a class="p-link--external" href="https://juju.is">Juju</a> integration
        </li>
        <li class="p-list__item is-ticked">
          <a class="p-link--external" href="https://maas.io/docs/install-from-a-snap">Super fast install</a> from scratch
        </li>
        <li class="p-list__item is-ticked">
          VMWare ESX, Windows, CentOS, RHEL, Ubuntu
        </li>
        <li class="p-list__item is-ticked">
          Custom images with pre-installed apps
        </li>
        <li class="p-list__item is-ticked">
          <a class="p-link--external" href="https://maas.io/docs/storage">Disk</a> and <a class="p-link--external" href="https://maas.io/docs/networking">network</a> configuration
        </li>
        <li class="p-list__item is-ticked">
          API-driven DHCP, DNS, PXE, IPAM, provisioning
        </li>
        <li class="p-list__item is-ticked">
          LDAP authentication and RBAC
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a class="p-link--external" href="https://maas.io">
            Learn more
          </a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--external" href="https://maas.io/contact-us">
            Contact us
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images--small u-no-margin--bottom">
      <li class="p-inline-images__item" style="margin: 1.5rem;">
        {{
          image(
          url="https://assets.ubuntu.com/v1/f92b472c-Verizon_logo.svg",
          alt="Verizon logo",
          width="130",
          height="30",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item" style="margin: 1.5rem;">
        {{
          image(
          url="https://assets.ubuntu.com/v1/17a1b35b-telefonica_logo.svg",
          alt="Telefonica logo",
          width="131",
          height="39",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item" style="margin: 1.5rem;">
        {{
          image(
          url="https://assets.ubuntu.com/v1/18ea2f90-Tele2_logo.svg",
          alt="Tele2 logo",
          width="91",
          height="35",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item" style="margin: 1.5rem;">
        {{
          image(
          url="https://assets.ubuntu.com/v1/8f264340-telecom-italia_logo.svg",
          alt="Telecom Italia logo",
          width="131",
          height="28",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item" style="margin: 1.5rem;">
        {{
          image(
          url="https://assets.ubuntu.com/v1/e854cf72-nec_logo.svg",
          alt="NEC logo",
          width="101",
          height="29",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item" style="margin: 1.5rem;">
        {{
          image(
          url="https://assets.ubuntu.com/v1/af1a572f-barclays_logo.svg",
          alt="Barclays logo",
          width="130",
          height="23",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <h2>
      Smart robots of all shapes and sizes
    </h2>
    <p class="p-heading--four">
      From turtles to trucks, <a href="/robotics">Ubuntu drives the robot revolution</a>.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Full support for <a href="/robotics/what-is-ros">ROS and ROS2</a>
        </li>
        <li class="p-list__item is-ticked">
          Security patches for long-term ROS
        </li>
        <li class="p-list__item is-ticked">
          Fault tolerant over-the-air updates
        </li>
        <li class="p-list__item is-ticked">
          <a href="/security/certifications#cis">CIS certification</a> for ROS and ROS2
        </li>
        <li class="p-list__item is-ticked">
          Trim time-to-market with SMART START consulting
        </li>
        <li class="p-list__item is-ticked">
          Leading Robot-as-a-Platform ecosystem
        </li>
        <li class="p-list__item is-ticked">
          Curated app stores
        </li>
      </ul>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/robotics">
            Learn more&nbsp;&rsaquo;
          </a>
        </li>
        <li class="p-inline-list__item">
          <a href="/contact-us" class="js-invoke-modal">
            Contact us&nbsp;&rsaquo;
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <ul class="p-inline-images--small u-no-margin--bottom">
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/59280c0e-abb-logo.svg",
          alt="ABB logo",
          width="90",
          height="34",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/f5dc1d41-pal-logo.svg",
          alt="PAL logo",
          width="130",
          height="51",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/ec8fff79-KUKA_logo.svg",
          alt="Kuka logo",
          width="130",
          height="22",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/b577ada7-apollo-logo.svg",
          alt="Apollo logo",
          width="130",
          height="43",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/e99b843a-Bosch_Logo-flat.svg",
          alt="Bosch logo",
          width="250",
          height="54",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
      <li class="p-inline-images__item">
        {{
          image(
          url="https://assets.ubuntu.com/v1/1e265e27-bmw-new-2020.svg",
          alt="BMW logo",
          width="70",
          height="70",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-inline-images__logo"},
          ) | safe
        }}
      </li>
    </ul>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <h2>
      Multi-cloud applications&nbsp;&ndash;&nbsp;beyond PAAS
    </h2>
    <p class="p-heading--four">
      <a href="https://juju.is/" class="p-link--external">Universal model-driven operators for classic</a> and <a href="https://jaas.ai/kubernetes" class="p-link--external">Kubernetes estate</a>.
    </p>
  </div>

  <div class="p-strip is-shallow">
    <div class="row">
      <ul class="p-list is-split">
        <li class="p-list__item is-ticked">
          Operate smoothly across public and private cloud
        </li>
        <li class="p-list__item is-ticked">
          Reusable integration code as open source packages
        </li>
        <li class="p-list__item is-ticked">
          Python Operator Framework for rapid development
        </li>
        <li class="p-list__item is-ticked">
          Bring the K8s operator pattern to classic workloads
        </li>
        <li class="p-list__item is-ticked">
          Lifecycle management and Day 2 operations
        </li>
        <li class="p-list__item is-ticked">
          <a href="https://jaas.ai/store" class="p-link--external">Open collection</a> of community-driven operators
        </li>
      </ul>
      <p>
        <a class="p-link--external" href="https://juju.is">
          Learn more about universal operators
        </a>
      </p>
    </div>
  </div>

    <div class="row">
      <ul class="p-inline-images--small u-no-margin--bottom">
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/1f395c09-Panasonic-Logo.svg",
            alt="Panasonic logo",
            width="130",
            height="21",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo is-wide"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/7bbfb1d0-Scania_logo.svg",
            alt="Scania logo",
            width="153",
            height="40",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo is-wide"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/b41ec3f5-SBI-Bits_logo.png",
            alt="SBI Bits logo",
            width="132",
            height="40",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/890ffa71-Swissquote_logo.svg",
            alt="Swissquote logo",
            width="210",
            height="40",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo is-wide"},
            ) | safe
          }}
        </li>
      </ul>
    </div>
</section>

{% block footer_content %}
{# include "ubuntu/takeovers/_footer_homepage.html" #}
{% endblock footer_content %}

<script>
  function getPrimaryParentLanguage() {
    /**
    * Get the primary parent language
    *
    * Get the user's default language, and if it's a sub-language,
    * infer the parent language - e.g. for "en-GB", infer "en"
    */
    var language = navigator.language || navigator.userLanguage || navigator.browserLanguage || navigator.systemLanguage;

    if (language.indexOf('-') !== -1 ) {
      language = language.split('-')[0];
    }

    return language
  };

  // get the users language and remove any extra detail suffix (e.g. -gb)
  var primaryParentLanguage = getPrimaryParentLanguage();

  // get notices matching the user language
  var notices = document.querySelectorAll(".notice[lang=" + primaryParentLanguage + "]");

  // display only one matching notice
  if (notices.length > 0) {
    notices[0].classList.remove("u-hide")
  }

  var baseTakeover = document.getElementById('takeover');
  var takeoverAnimation = document.getElementById("takeover-animaition");

  if (window.localStorage && baseTakeover) {
    /**
    * Choose a takeover
    * ===
    *
    * From the list of provided takeovers from /.takeovers.json,
    * choose one (that matches the client's language), and replace the
    * base template with it.
    */

    var xhr = new XMLHttpRequest();
    if (window.ActiveXObject) {
      xhr = new ActiveXObject('Microsoft.XMLHTTP');
    }

    xhr.onreadystatechange = function() {
      if (xhr.readyState == XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          var takeovers = JSON.parse(xhr.responseText);

          // Get the selected takeovers based on the primary language
          var selectedTakeovers = takeovers.filter(function(item) {
            return item.lang === primaryParentLanguage || item.lang === ""
          })

          if (selectedTakeovers && selectedTakeovers.length > 0) {
            var selectedIndex = null;

            if (window.localStorage.getItem('selected_takeover_index') !== null) {
              // If we previously visited a takeover, increment the number to show the next takeover
              var nextIndex = parseInt(window.localStorage.getItem('selected_takeover_index')) + 1
              selectedIndex = nextIndex < selectedTakeovers.length ? nextIndex : 0;
            } else {
              // Otherwise, randomly choose one of the takeovers and store it for next time
              selectedIndex = Math.floor(Math.random() * selectedTakeovers.length);
            }
            showTakeover(selectedTakeovers, selectedIndex);

            // Store the current takeover index
            localStorage.setItem('selected_takeover_index', selectedIndex)
          }
        } else {
          takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
          takeoverAnimation.className +=  " is-loaded";
        }
      }
    };

    xhr.open("GET", "/takeovers.json", true);
    xhr.send();
    takeoverAnimation.className +=  " is-loading";
  }

  function showTakeover(takeovers, index) {
    // Default parameter
    index = typeof index !== 'undefined' ? index : 0;

    // Get HTML elements
    var takeover = document.getElementById("takeover");
    var title = document.getElementById("takeover-title");
    var subtitle = document.getElementById("takeover-subtitle");
    var image = document.getElementById("takeover-image");
    var primaryUrl = document.getElementById("takeover-primary-url");
    var secondaryUrl = document.getElementById("takeover-secondary-url");

    // Set values to homepage takeover
    var selectedTakeover = takeovers[index];

    takeover.className = "";
    takeover.removeAttribute("style");

    // Add takeover classes
    var classNameString = "js-takeover p-takeover--" + selectedTakeover.class;
    takeover.className += classNameString;

    // Set language attributes
    if (selectedTakeover.lang) {
      takeover.setAttribute("lang", selectedTakeover.lang);
    }
    if (selectedTakeover.lang_skip) {
      takeover.setAttribute("lang-skip", selectedTakeover.lang_skip);
    }

    // Set takeover content
    title.textContent = selectedTakeover.title;
    subtitle.textContent = selectedTakeover.subtitle;
    image.src = selectedTakeover.image;
    image.onload = function () {
      // Remove animation delay
      if (takeoverAnimation) {
        takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
        takeoverAnimation.className +=  " is-loaded";
      }
    }

    image.removeAttribute("style");
    image.width = selectedTakeover.image_width;
    image.height = selectedTakeover.image_height;
    primaryUrl.href = selectedTakeover.primary_url;
    primaryUrl.textContent = selectedTakeover.primary_cta;
    if (selectedTakeover.secondary_url && selectedTakeover.secondary_url !== "") {
      secondaryUrl.href = selectedTakeover.secondary_url;
      secondaryUrl.innerHTML = selectedTakeover.secondary_cta + "&nbsp;&rsaquo;";
    } else {
      secondaryUrl.remove();
    }

    dataLayer.push({
      event: "NonInteractiveGAEvent",
      eventCategory: "www.ubuntu.com-impression-takeover",
      eventAction: "from:" + window.location.href + " to:" + selectedTakeover.primary_url,
      eventLabel: selectedTakeover.primary_cta,
      eventValue: undefined,
    });
  }
</script>

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/general" data-form-id="1257" data-lp-id="2154" data-return-url="https://ubuntu.com/contact-us/form/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
</div>

{% endblock content %}
{% endblock outer_content %}
