{% extends "base_index.html" %}

{% block takeover_body_class %}homepage-cloud-default--2{% endblock takeover_body_class %}

{% block head_extra %}
{% endblock %}

{% block takeover_content %}

{% include "takeovers/_cloud_default.html" %}

{% get_rss_feed "https://insights.ubuntu.com/tag/spotlight/feed" limit=1 as spotlight_feed %}

{% if spotlight_feed %}
  {% get_rss_feed "https://insights.ubuntu.com/feed" limit=3 exclude_items_in=spotlight_feed as insights_feed %}
{% else %}
  {% get_rss_feed "https://insights.ubuntu.com/feed" limit=4 as insights_feed %}
{% endif %}

<section class="row row--intro strip no-border">
  <div class="strip-inner-wrapper">
    <h2 class="text-center twelve-col">
      Ubuntu is an open source software operating system that runs from the
      desktop, to the cloud, to all your internet connected things
    </h2>
  </div>
  <div class="ubuntu-intro">
    <div class="ubuntu-intro__before"></div>
    <div class="ubuntu-intro__content">
      <ul class="ubuntu-intro__list no-bullets inline">
        <li class="ubuntu-intro__list-item"><a class="ubuntu-intro__link ubuntu-intro__link--cloud" href="/cloud">Cloud</a></li>
        <li class="ubuntu-intro__list-item"><a class="ubuntu-intro__link ubuntu-intro__link--server" href="/server">Server</a></li>
        <li class="ubuntu-intro__list-item"><a class="ubuntu-intro__link ubuntu-intro__link--containers" href="/containers">Containers</a></li>
        <li class="ubuntu-intro__list-item"><a class="ubuntu-intro__link ubuntu-intro__link--desktop" href="/desktop">Desktop</a></li>
        <li class="ubuntu-intro__list-item"><a class="ubuntu-intro__link ubuntu-intro__link--iot" href="/internet-of-things">IoT</a></li>
      </ul>
    </div>
    <div class="ubuntu-intro__after"></div>
  </div>
</section>
<section class="row row--ubuntu-news strip">
  <div class="strip-inner-wrapper equal-height--vertical-divider">
    <div class="{% if spotlight_feed %}nine-col{% else %}twelve-col{% endif %} equal-height--vertical-divider__item">
      <h2 class="external row--ubuntu-news__title"><span><a href="https://insights.ubuntu.com/" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'insights', 'eventAction' : 'clicks insights feed link', 'eventLabel' : 'ubuntu.com homepage', 'eventValue' : undefined });">Latest news from Insights</a></span></h2>
      {% for item in insights_feed %}
        <div class="three-col {% if forloop.last %}last-col no-margin-bottom{% endif %}">
          <h3><a href="{{ item.link }}" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'insights', 'eventAction' : 'ubuntu.com homepage news link', 'eventLabel' : '{{ item.title|escapejs }}', 'eventValue' : '{{ item.link }}' });">{{ item.title }}</a></h3>
          <p><time pubdate datetime="{{ item.updated }}">{{ item.updated_datetime|date:"j F Y" }}</time></p>
        </div>
      {% endfor %}
    </div>
    {% if spotlight_feed %}
      <div class="three-col no-margin-bottom last-col equal-height--vertical-divider__item">
        <h2 class="external row--ubuntu-news__title"><span><a href="https://insights.ubuntu.com/tag/spotlight/" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'insights', 'eventAction' : 'ubuntu.com homepage spotlight feed link', 'eventLabel' : 'ubuntu.com homepage', 'eventValue' : undefined });">Spotlight</a></span></h2>
        {% for item in spotlight_feed %}
          <div class="three-col {% if forloop.last %}last-col{% endif %}">
            <h3><a href="{{ item.link }}" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'insights', 'eventAction' : 'ubuntu.com homepage spotlight article', 'eventLabel' : '{{ item.title|escapejs }}', 'eventValue' : '{{ item.link }}' });">{{ item.title }}</a></h3>
            <p><time pubdate datetime="{{ item.updated }}">{{ item.updated_datetime|date:"j F Y" }}</time></p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>


<section class="row row--cloud-products strip">
  <div class="strip-inner-wrapper">
    <div class="four-col prepend-eight">
      <h2><a href="/cloud/managed-cloud">Let us host your OpenStack cloud&nbsp;&rsaquo;</a></h2>
      <p>With BootStack, we design, build and run your private cloud infrastructure without vendor lock-in.</p>
    </div>
    <img src="{{ ASSET_SERVER_URL }}0bfbd13b-cloud_section_bundle.svg" class="row--cloud-products__image not-for-small" />
  </div>
</section>

<section class="row row--iot row-grey strip no-border">
  <div class="strip-inner-wrapper">
    <div class="row--iot__desc four-col">
      <h2><a href="/internet-of-things">For all your things&nbsp;&rsaquo;</a></h2>
      <p>Ubuntu Core delivers bullet-proof security, reliable updates and the enormous Ubuntu ecosystem to a wide range of internet things, connected devices and autonomous&nbsp;machines.</p>
    </div>
    <div class="eight-col last-col align-center">
      <div class="row--iot__image"></div>
      <img class="for-small" src="{{ ASSET_SERVER_URL }}2f56d557-image-iot.jpg?w=280" width="280" alt="" />
    </div>
  </div>
</section>

<section class="row row-featured strip no-border">
  <div class="strip-inner-wrapper equal-height">
    {% include "takeovers/takeunders/_iot-02-2017.html" %}
    {% include "takeovers/takeunders/_landscape-self-service.html" %}
  </div>
</section>

{% comment %}
<style type="text/css">
/* background image for the event feature */
/* get original using this //maps.googleapis.com/maps/api/staticmap?center=Tokyo%2C+Japan&zoom=14&scale=2&size=1200x320&maptype=satellite but with the location details from the insights event */
/*.featured--event:before { background-image: url('{{ ASSET_SERVER_URL }}62b7ce67-pasadena.png?fmt=jpg&q=20'); }*/
</style>
{% endcomment %}

{% include "shared/_device_animation.html" %}

{% endblock takeover_content %}
