{% extends "templates/one-column.html" %}

{% block title %}Search results{% if query %} for "{{query}}"{% endif %} | Ubuntu{% endblock %}
{% block extra_body_class %}ubuntu-search{% endblock %}

{% block content %}
<div class="row row-hero no-border search-container">
  <div class="strip-inner-wrapper">
    {% if query %}
      {% if results.items %}
        <h1>We've found {{ results.total }} results for "{{ query }}"</h1>
      {% else %}
        <h1>Sorry we couldn't find "{{ query }}"</h1>
      {% endif %}
    {% else %}
      <h1>Search Ubuntu and Canonical sites</h1>
    {% endif %}

    <form action="/search">
      <fieldset class="main-search">
        <label for="search-input" class="off-left">Search</label>
        <input name="q" id="search-input" type="search" value="{{ query }}" placeholder="e.g. juju" />
        <button type="submit"><img src="{{ ASSET_SERVER_URL }}4a72426e-search-icon-grey.svg" alt="search" /></button>
      </fieldset>
    </form>

    {% if query %}
      {% if error %}
        <label for="search-input" role="error" class="error-notification">
          Failed to retrieve search results ({{ error }}). If you have time, please <a href="https://github.com/ubuntudesign/www.ubuntu.com/issues/new">file a bug</a>.
        </label>
      {% else %}
        {% if results.items %}
          <section id="search-results" class="no-margin-bottom list list-spaced">
            <p class="result-line results-top">Results {{ results.start }} to {{ results.end }}</p>

            {% for item in results.items %}
              <article class="search-result twelve-col">
                <h1>
                  <a href="{{ item.url }}" class="title-main">{{ item.title | safe}}</a>
                  <small class="result-url"><a href="{{ item.url }}">{{ item.url }}</a></small>
                </h1>
                <p>{{ item.summary | safe }}</p>
              </article>
            {% endfor %}

            <p class="bottom-results-total result-line">Results {{ results.start }} to {{ results.end }} of {{ results.total }}</p>
          </section>

          {% if results.last_page > 1 %}
            <nav class="bottom-nav clear" id="page-nav">
              {% if results.current_page != results.last_page %}
                <ul class="nav-forward">
                  {% if results.current_page < results.penultimate_page %}
                    <li><a href="/search?q={{ query }}&limit={{ limit }}&offset={{ results.next_offset }}">Next</a></li>
                  {% endif %}
                  <li class="item-extreme"><a href="/search?q={{ query }}&limit={{ limit }}&offset={{ results.last_page_offset }}">Last</a></li>
                </ul>
              {% endif %}

              {% if results.current_page > 1 %}
                <ul class="nav-back">
                  <li class="item-extreme"><a href="/search?q={{ query }}&limit={{ limit }}&offset=0">First</a></li>
                  {% if results.current_page > 2 %}
                  <li><a href="/search?q={{ query }}&limit={{ limit }}&offset={{ results.previous_offset }}">Previous</a></li>
                  {% endif %}
                </ul>
              {% endif %}
            </nav>
          {% endif %} {# if results.last_page > 1 #}
        {% else %}
          <h2>Why not try widening your search? You can do this by:</h2>

          <ul>
            <li>Adding alternative words or phrases</li>
            <li>Using individual words instead of phrases</li>
            <li>Trying a different spelling</li>
          </ul>

          <h2>Still no luck?</h2>

          <ul>
            <li><a href="/">Visit the Ubuntu homepage</a></li>
            <li><a href="/contact-us">Contact us</a></li>
          </ul>
        {% endif %} {# if results.items #}
      {% endif %} {# if not error #}
    {% endif %} {# if query #}
  </div>
</div>
{% endblock content %}
