{% extends "contact-us/base_contact-us.html" %}

{% block title %}Thank you{% endblock %}
{% block head_extra%}<meta name="robots" content="noindex" />{% endblock %}

{% block content %}
<section class="p-strip is-deep is-bordered">
  <div class="row">
    <div class="col-7">
      <h1>Thanks for getting in touch {% if product and product != "" %} about {{ product }}{% endif %}</h1>
      <h2 class="p-heading--3">Your submission was successful.</h2>
      {% if referrer and referrer != "" %}
      <p><a href="{{ referrer }}" class="p-button">Return to learn more</a></p>
      {% endif %}
    </div>
    <div class="col-5 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
          url="https://assets.ubuntu.com/v1/52d53696-picto-thankyou-midaubergine.svg",
          alt="",
          height="200",
          width="200",
          loading="auto",
          hi_def=True
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h3>More about our enterprise services</h3>
    </div>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <h4 class="p-heading--3">Ubuntu Pro</h4>
      <p>Purchase our desktop support and access Ubuntu experts whenever you need.</p>
      <p><a href="/support">Learn about Ubuntu Pro&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 p-divider__block">
      <h4 class="p-heading--3">Ubuntu OpenStack</h4>
      <p>Our OpenStack-based public and private cloud platform.<br/><br/></p>
      <p><a href="/openstack">Learn about Ubuntu OpenStack&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-4 p-divider__block">
      <h4 class="p-heading--3">Explore snapcraft.io</h4>
      <p>Where vendors and the open source community collaborate to deliver great software, securely, to a wide range of devices and cloud.</p>
      <p><a href="https://snapcraft.io">Visit snapcraft.io</a></p>
    </div>
  </div>
</section>
{% endblock content %}
