{% extends "engage/base_engage.html" %}

{% block title %}Avec les bons outils, OpenStack est un jeu d'enfant.{% endblock %}
{% block meta_description %}Cet eBook vous permettra de mieux comprendre pourquoi l'installation et l'exécution d'OpenStack peut sembler complexe, et comment Canonical OpenStack simplifie les choses et peut vous aider à construire une infrastructure cloud privée moderne, évolutive, répliquable et abordable.{% endblock %}

{% block content %}

<section class="p-strip is-deep p-takeover--private-cloud-economics" lang="fr">
  <div class="row u-equal-height">
    <div class="col-8">
      <h1 class="p-takeover__title">Installez et mettez OpenStack à l'échelle en toute simplicité</h1>
      <p class="u-hide--medium u-hide--large u-align--center">
        <img class="p-takeover__image" src="{{ ASSET_SERVER_URL }}35515576-openstack-cloud.svg" alt="">
      </p>
    </div>
    <div class="col-3 u-hide--small u-align--left">
      <img class="p-takeover__image" src="{{ ASSET_SERVER_URL }}35515576-openstack-cloud.svg" alt="" class="u-hide--small">
    </div>
  </div>
  <div class="row">
    <div class="col-7 p-takeover__text">
      <h3>Avec les bons outils, OpenStack est un jeu d'enfant.</h3>
      <p style="font-size:16px;">L'utilisation de plus en plus fréquente de gros logiciels basés sur des microservices multi-hôtes au lieu de logiciels  monolithiques traditionnels exige des perspectives et des approches fondamentalement nouvelles en matière d'installation, d'intégration et d'exploitation.</p>
      <p style="font-size:16px;">Cet eBook vous permettra de mieux comprendre pourquoi l'installation et l'exécution d'OpenStack peut sembler complexe, et comment Canonical OpenStack simplifie les choses et peut vous aider à construire une infrastructure cloud privée moderne, évolutive, répliquable et abordable.</p>
      <h3 class="p-muted-heading u-align--center">Nous fournissons des clouds privés aux plus grandes entreprises</h3>
      <ul class="p-inline-images">
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}4ef05fb7-bestbuy.jpg" alt="BestBuy" style="max-width:90px;"/>
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}b1fecbf0-logo-att-horizontal.png" width="242" alt="ATT" style="max-width:130px;"/>
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}b7693339-logo-bloomberg.svg" alt="Bloomberg" style="max-width:100px;"/>
        </li>
        <li class="p-inline-images__item">
          <img class="p-inline-images__logo" src="{{ ASSET_SERVER_URL }}1ccb6d93-logo-deutschetelekom.svg" alt="Deutsche Telekom" />
        </li>
      </ul>
    </div>
    <div class="col-5">
      {% include "engage/shared/_fr_engage_form.html" with id="3323" returnURL="https://www.ubuntu.com/support/thank-you" cta="Télécharger l'eBook" %}
    </div>
  </div>
</section>

{% endblock content %}
