{% extends "telco/osm/_base_osm.html" %}

{% block title %}OSM{% endblock %}

{% block meta_description %}Canonical Charmed OSM, open source,carrier grade and supported orchestrator for telecommunication service providers.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1LQim0WRVdDZE9-ToFKSD52O7kgurMoytrgDDAPYnug8/edit#{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip is-bordered u-no-padding--top u-no-padding--bottom">
  <div class="p-strip--suru-topped">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-7">
        <h1>
          NFV Orchestration with Open Source MANO (OSM)
        </h1>
        <p>
          Automate the deployment and operations of network functions, and benefit from reduced operational costs, by using an open source implementation of ETSI NFV MANO. As a key contributor to the Open Source MANO project, Canonical is excited to help you on your NFV journey.
        </p>
        <p>
          <a href="/telco/osm/contact-us" class="p-button--positive js-invoke-modal">Contact us to migrate today</a>
          <a href="https://juju.is/tutorials/charmed-osm-get-started#1-introduction" class="p-button">Try OSM</a>
        </p>
      </div>
      <div class="col-5 u-hide--medium u-hide--small u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/a2e4b89f-opensource-MANO.svg",
          alt="",
          width="370",
          height="133",
          hi_def=True,
          loading="auto"
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-bordered no-padding--bottom">
  <div class="row">
    <div class="col-6">
      <h2>OSM</h2>
      <h4>Open-source implementation of ETSI NFV MANO stack</h4>
      <ul>
        <li>Helps telecommunications service providers (TSPs) move from traditional, legacy networking services to cloud-native network functions.</li>
        <li>Fully aligned with ETSI NFV Information Models.</li>
      </ul>
      <p>
        <a href="/engage/telco-network-functions-whitepaper">Download the whitepaper&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/95819cbd-OSM-1.svg",
        alt="",
        width="514",
        height="360",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row">
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/371e19a9-OSM-3.svg",
        alt="",
        width="524",
        height="300",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2>Charmed OSM</h2>
      <p>To improve the stability of deployments and provide telcos with a production-grade platform, Canonical delivers a pure upstream OSM distribution - <a href="https://osm.etsi.org/docs/user-guide/03-installing-osm.html#charmed-installation">Charmed OSM</a>.</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Simplified deployment and operations</li>
        <li class="p-list__item is-ticked">Highly available and resistant against failure</li>
        <li class="p-list__item is-ticked">Predictable release cadence and upgrade path</li>
      </ul>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Network functions onboarding</h2>
      <h4>Workload diversity</h4>
      <p>OSM supports onboarding of virtualized network functions (VNFs), cloud-native network functions (CNFs) and physical network functions (PNFs) and reduces the complexity of day1 and day2 operations.</p>
      <p>
        <a href="/telco/osm/onboarding-network-functions">Onboarding Network Functions&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/77ecfc9e-OSM-2.svg",
        alt="",
        width="544",
        height="300",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row">
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/ef4506f8-OSM-4-2.svg",
        alt="",
        width="400",
        height="373",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2>Integration Management</h2>
      <h4>Network functions are not alone</h4>
      <p>Juju in OSM integrates network functions with other non-functional requirements like monitoring, logging, auditing and scaling. <a href="https://osm.etsi.org/wikipub/index.php/Creating_your_VNF_Charm">Charmed operators</a> automate application management by codifying business intentions.</p>
      <p>
        <a href="https://juju.is/docs/sdk">Understand Juju and charms&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Flexible VIM options</h2>
      <p>OSM supports all the major VIMs (virtualized infrastructure manager) in the ecosystem.</p>
      <p>A single OSM instance can deploy network functions on OpenStack, AWS, VMware and k8s clusters.
      </p>
      <p><a href="/telco/osm/multi-cloud">Multi-cloud orchestration in OSM&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/e5c5a65d-Flexible-VIM-logo-cloud.svg",
        alt="",
        width="510",
        height="300",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row">
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/fb9a3f0c-Multi-vendor-OSM1.svg",
        alt="",
        width="450",
        height="220",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2>Multi-vendor workloads</h2>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Provides support for open source and proprietary workloads.</li>
        <li class="p-list__item is-ticked">Offers Juju as a generic network function manager.</li>
        <li class="p-list__item is-ticked">Uses standard information and data models for multi vendor workloads. </li>
      </ul>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Enterprise support</h2>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Features charmed OSM design and delivery.</li>
        <li class="p-list__item is-ticked">Provides MANO stack enterprise support.</li>
        <li class="p-list__item is-ticked">Offers fully-managed OSM.</li>
        <li class="p-list__item is-ticked">Includes two years of bug fixes and security updates.</li>
      </ul>
      <p>
        <a href="/legal/ubuntu-advantage-service-description">Ubuntu Support&nbsp;&rsaquo;</a>
      </p>
      <p>
        <a href="https://osm.etsi.org/news-events/blog/72-etsi-osm-ten-declared-as-the-first-lts-version-of-open-source-mano">Community Support&nbsp;&rsaquo;</a>
      </p>
    </div>
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/9f21a863-OSM-5.svg",
        alt="",
        width="450",
        height="133",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>
  <div class="row">
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{ image (
        url="https://assets.ubuntu.com/v1/0bc8640f-Screenshot+from+2021-08-09+17-57-44.png",
        alt="",
        width="505",
        height="300",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2>OSM Community</h2>
      <p>ETSI OSM community is growing rapidly with 147 members today. Canonical is driving the ETSI OSM project by leading major positions:
      </p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Senior Advisor: Mark Shuttleworth</li>
        <li class="p-list__item is-ticked">TSC member: Mark Beierl</li>
        <li class="p-list__item is-ticked">RO module lead: Gulsum Atici</li>
        <li class="p-list__item is-ticked">N2VC module Lead: David Garcia</li>
        <li class="p-list__item is-ticked">VNF onboarding chair: Maciej Mazur</li>
        <li class="p-list__item is-ticked">OSM MARCOM chair: Wajeeha Hamid</li>
      </ul>
      <p>
        <a href="https://charmed-osm.com/osm-hackfests">Discover our contributions&nbsp;&rsaquo;</a>
      </p>
    </div>
  </div>
</section>
<section class="p-strip is-bordered is-deep">
  <div class="u-fixed-width">
    <h2>Try OSM today</h2>
    <ul>
      <li>Access the <a href="https://www.youtube.com/watch?v=DJhtjnWdfi8">OSM installation video</a>, explore the <a href="https://juju.is/tutorials/charmed-osm-get-started#1-introduction">Charmed OSM tutorial</a>, or <a href="https://www.youtube.com/watch?v=3EWjL6pIXe0">learn about the architecture before hands on</a> with our video.</li>
      <li><a href="https://www.youtube.com/watch?v=5iURQB8cLJ0">Try the OSM in a box</a> which has with the minimum resources needed to function.</ßli>
      <li>Follow the <a href="https://www.youtube.com/watch?v=QDvhr9rHQY0&feature=emb_logo">Charmed OSM debugging tutorial</a> for troubleshooting.</li>
    </ul>
  </div>
</section>

<section class="p-strip is-bordered is-deep">
  <div class="u-fixed-width">
    <h2>OSM Resources</h2>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{
            image(
              url="https://assets.ubuntu.com/v1/6e184942-Webinar.svg",
              alt="",
              height="28",
              width="32",
              hi_def=True,
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              loading="lazy",
            ) | safe
          }}
          <div class="p-heading-icon__title">Webinar</div>
        </div>
        <h3 class="p-heading--4">
          <a href="https://www.brighttalk.com/webcast/6793/477398?utm_source=brighttalk-recommend&utm_campaign=network_weekly_email&utm_medium=email&utm_content=collab&utm_term=162021">Model-driven Audit Trail Logs infrastructure for Telco VNFs</a>
        </h3>
        <h3 class="p-heading--4">
          <a href="https://www.youtube.com/watch?v=uVzna-a9lNw">OSM in KubeCon 2021, LA</a>
        </h3>
      </div>
    </div>
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{
            image(
              url="https://assets.ubuntu.com/v1/6e184942-Webinar.svg",
              alt="",
              height="28",
              width="32",
              hi_def=True,
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              loading="lazy",
            ) | safe
          }}
          <div class="p-heading-icon__title">Webinar</div>
        </div>
        <h3 class="p-heading--4">
          <a href="https://www.brighttalk.com/webcast/6793/458500?utm_source=brighttalk-portal&utm_medium=web&utm_content=osm&utm_term=search-result-4&utm_campaign=webcasts-search-results-feed">Canonical's OSM for Telcos</a>
        </h3>
        <h3 class="p-heading--4">
          <a href="https://www.brighttalk.com/webcast/6793/421898?utm_source=brighttalk-portal&utm_medium=web&utm_content=osm&utm_term=search-result-7&utm_campaign=webcasts-search-results-feed">NFV, cloud-native networking and OSM: everything you need to know</a>
        </h3>
        <h3 class="p-heading--4">
          <a href="https://www.youtube.com/watch?v=5iURQB8cLJ0">OSM in a box</a>
        </h3>
      </div>
    </div>
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{
            image(
              url="https://assets.ubuntu.com/v1/75902002-news-feed-strip-stock_ebook.svg",
              alt="",
              height="28",
              width="32",
              hi_def=True,
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              loading="lazy",
            ) | safe
          }}
          <div class="p-heading-icon__title">Whitepaper</div>
        </div>
        <h3 class="p-heading--4">
          <a href="/engage/telco-network-functions-whitepaper">Building and orchestrating network functions</a>
        </h3>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="p-strip is-bordered u-hide--small">
  <div class="u-fixed-width">
    {% include 'telco/shared/_telco-logo-section.html' %}
  </div>
</section>

<section class="p-strip">
  <div class="row u-vertically-aligned">
    <div class="col-7">
    <h3>Innovate in telco with Canonical</h3>
    <p>The experts in open source, from cloud to devices are waiting to help you.</p>
    <p>
      <a href="/telco/osm/contact-us" class="p-button--positive js-invoke-modal">Contact us</a>
    </p>
    </div>
    <div class="col-5 u-hide--medium u-hide--small u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
        alt="",
        width="211",
        height="150",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
</section>

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/osm-contact-us" data-form-id="3471" data-lp-id="" data-return-url="https://ubuntu.com/telco/osm/thank-you" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">

{% endblock content %}
