{% extends "cube/base_cube.html" %}

{% block title %} Microcertifications | CUBE {% endblock %}

{% block meta_description %}Follow the path to certification - complete the 15 microcerts to attain CUBE.{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1IHmr2SIxcEKVNN2sA-z_32PV0fCXi38pmeVP7k7O1mM/edit{% endblock meta_copydoc %}

{% block content %}

<div id="cube-header-app"></div>

{% if certified_badge %}

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Microcertification history</h2>
    <table class="p-table--cube is-passed">
      <thead>
          <tr>
            <th>#</th>
            <th class="u-hide--small"></th>
            <th>Module</th>
            <th class="p-table__cell--icon-placeholder">Status</th>
          </tr>
        </thead>
        <tbody>
        {% for module in modules %}
        <tr>
          <td aria-label="Module number">
            <div class="p-table--cube__contents">
              <p class="u-text--muted">{{ loop.index }}</p>
            </div>
          </td>
          <td class="u-hide--small u-no-padding--left u-no-padding--right" aria-label="Badge">
              <img 
                src="{{ module['badge-url'] }}"
                alt="Badge for {{ module.name }}"
                style="margin-left: -0.2rem;"
              >
          </td>
          <td aria-label="Module">
            <div class="p-table--cube__contents">
              <h5>{{ module.name }}</h5>
            </div>
            <p class="u-text--muted u-hide--small">
              <small>{{ module.topics|length }} topics</small>
            </p>
          </td>
          <td class="p-table__cell--icon-placeholder" aria-label="Status">
            <div class="p-table--cube__contents">
              <p>
                <i class="p-icon--success"></i>Passed
              </p>
            </div>
            <p class="u-text--muted u-hide--small">
              <small>{{ module.date_attempted }}</small>
            </p>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% else %}

<div id="microcerts-table-app"></div>
{% endif %}

{% if has_enrollments %}

<section class="p-strip--square-suru has-cube is-slanted--top-right">
  <div class="u-fixed-width">
    <h2>Thank you for joining the beta</h2>
    <p>Canonical are grateful for your participation. We look forward to hearing your feedback.</p>
  </div>
</section>

{% else %}

<section class="p-strip--square-suru has-cube is-slanted--top-right">
  <div class="u-fixed-width">
    <h2>Apply for beta access</h2>
    <p>Canonical are seeking participants from the community for the CUBE beta test. If you would like to be considered for the beta, please enter your information in the form below. Canonical will reach out to you if you are selected.</p>
    <a href="/cube/contact-us" class="p-button--positive cube-access js-invoke-modal">Apply for access</a>
  </div>
</section>

{% endif %}

{% if not edx_user %}
<div class="p-modal" id="modal">
  <section class="p-modal__dialog" role="dialog">
    <header class="p-modal__header">
      <h2 class="p-modal__title" id="modal-title">edX Account</h2>
    </header>
    <p>In order to use CUBE you will need to create an account with edX. By clicking the button below you are accepting the <a href="/legal/terms-and-policies/cube-terms" target="_blank" rel="noopener noreferrer">terms of service</a> and an account will be created for you.</p>
    <footer class="p-modal__footer">
      <a class="p-button p-button--positive u-no-margin--bottom" href="{{edx_register_url}}">Accept and register</a>
    </footer>
  </section>
</div>
{% endif %}

<!-- Set default Marketo information for contact form below-->
<div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/cube-beta" data-form-id="3801" data-lp-id="7140" data-return-url="https://ubuntu.com/cube/thank-you" data-lp-url="https://pages.ubuntu.com/Contact_Us_Ubuntu_CUBEbetatest_Cube-contact-us-landing-page.html">
</div>

<script src="/static/js/dist/cubeMicrocerts.js" type="module"></script>

{% endblock content %}
