{% extends "16-04/base_16-04.html" %}

{% block title %}Ubuntu 16.04 LTS (Xenial Xerus) {% endblock %}
{% block meta_description %}Ubuntu 16.04 LTS (Xenial Xerus) enters the Extended Security Maintenance (ESM) period on 30 April 2021. ESM provides Ubuntu 16.04 LTS continued support and coverage beyond EOL with security patches for an additional three years.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1wclofqY9b3v_M9igpkYn6or5uXx0B_Xb_nVVzGBbOLY/edit#{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--suru-topped">
  <div class="row u-vertically-center">
    <div id="rad-poc" class="col-12" style="margin: 250px 0">
      <div style="background-color: #ffff0061" class="rad-dropdowns-element p-code-snippet">
         <div class="p-code-snippet__header">
            <h5 class="p-code-snippet__title"></h5>
            <div class="p-code-snippet__dropdowns">
               <select name="version" class="rad-dropdown-version p-code-snippet__dropdown">
                  <option value="snap-2.9">snap 2.9</option>
                  <option value="deb-2.9">deb 2.9</option>
               </select>
               <select name="view" class="rad-dropdown-view p-code-snippet__dropdown">
                  <option value="UI">UI</option>
                  <option value="CLI">CLI</option>
               </select>
            </div>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-UI">
            <p>Snap 2.9 UI</p>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-CLI">
            <p>Snap 2.9 CLI</p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-UI">
            <h2>Deb 2.9 UI</h2>
            <p><a href="https://assets.ubuntu.com/v1/20aa36b2-nodes-add__2.5_add-node-manually.png"><img src="https://assets.ubuntu.com/v1/20aa36b2-nodes-add__2.5_add-node-manually.png" alt=""></a></p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-CLI">
            <p>Deb 2.9 CLI</p>
            <h2>Adding machine via CLI</h2>
            <pre><code class="hljs lua">
      maas admin machines <span class="hljs-built_in">create</span> ...

      </code></pre>
         </div>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      <div style="background-color: #ffff0061" class="rad-dropdowns-element p-code-snippet">
         <div class="p-code-snippet__header">
            <h5 class="p-code-snippet__title">Title</h5>
            <div class="p-code-snippet__dropdowns">
               <select name="version" class="rad-dropdown-version p-code-snippet__dropdown">
                  <option value="snap-2.9">snap 2.9</option>
                  <option value="deb-2.9">deb 2.9</option>
               </select>
               <select name="view" class="rad-dropdown-view p-code-snippet__dropdown">
                  <option value="UI">UI</option>
                  <option value="CLI">CLI</option>
               </select>
            </div>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-UI">
            <p>Snap 2.9 UI v2</p>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-CLI">
            <p>Snap 2.9 CLI v2</p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-UI">
            <p>Deb 2.9 UI v2</p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-CLI">
            <p>Deb 2.9 CLI v2</p>
         </div>
      </div>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      <div style="background-color: #ffff0061" class="rad-dropdowns-element p-code-snippet">
         <div class="p-code-snippet__header">
            <h5 class="p-code-snippet__title"></h5>
            <div class="p-code-snippet__dropdowns">
               <select name="version" class="rad-dropdown-version p-code-snippet__dropdown">
                  <option value="snap-2.9">snap 2.9</option>
                  <option value="deb-2.9">deb 2.9</option>
               </select>
               <select name="view" class="rad-dropdown-view p-code-snippet__dropdown">
                  <option value="UI">UI</option>
                  <option value="CLI">CLI</option>
               </select>
               <select name="status" class="rad-dropdown-status p-code-snippet__dropdown">
                  <option value="Good">Good</option>
                  <option value="Bad">Bad</option>
               </select>
            </div>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-UI-Good">
            <p>Snap 2.9 UI v3 Good</p>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-CLI-Good">
            <p>Snap 2.9 CLI v3 Good</p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-UI-Good">
            <p>Deb 2.9 UI v3 Good</p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-CLI-Good">
            <p>Deb 2.9 CLI v3 Good</p>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-UI-Bad">
            <p>Snap 2.9 UI v3 Bad</p>
         </div>
         <div class="rad-option-element p-code-snippet__block snap-2.9-CLI-Bad">
            <p>Snap 2.9 CLI v3 Bad</p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-UI-Bad">
            <p>Deb 2.9 UI v3 Bad</p>
         </div>
         <div class="rad-option-element p-code-snippet__block deb-2.9-CLI-Bad">
            <p>Deb 2.9 CLI v3 Bad</p>
         </div>
      </div>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
      <div style="background-color: #ffff0061" class="rad-element snap-2.9-UI multiple snap-2.9-UI-Bad">
        <p>Normal Element showing only for <b>multiple</b> or <b>snap-2.9-UI</b> or <b>snap-2.9-UI-Bad</b></p>
      </div>
      <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      <div style="background-color: #ffff0061" class="rad-dropdowns-element p-code-snippet">
         <div class="p-code-snippet__header">
            <h5 class="p-code-snippet__title">Title</h5>
            <div class="p-code-snippet__dropdowns">
               <select name="view" class="rad-dropdown-view p-code-snippet__dropdown">
                  <option value="UI">UI</option>
                  <option value="CLI">CLI</option>
               </select>
            </div>
         </div>
         <div class="rad-option-element p-code-snippet__block UI">
            <p>UI</p>
         </div>
         <div class="rad-option-element p-code-snippet__block CLI">
            <p>CLI</p>
         </div>
      </div>
      <div style="background-color: #ffff0061" class="rad-dropdowns-element p-code-snippet">
         <div class="p-code-snippet__header">
            <h5 class="p-code-snippet__title">Title</h5>
            <div class="p-code-snippet__dropdowns">
               <select name="one" class="rad-dropdown-one p-code-snippet__dropdown">
                  <option value="single">single</option>
                  <option value="multiple">multiple</option>
               </select>
            </div>
         </div>
         <div class="rad-option-element p-code-snippet__block single">
            <p>Single</p>
         </div>
         <div class="rad-option-element p-code-snippet__block multiple">
            <p>Multiple</p>
         </div>
      </div>
    </div>
  </div>
</section>

<script>
const radActiveClasses = []

function refreshActiveClass() {
  for(let i=0; i<radActiveClasses.length; i++) {
    const elements = radActiveClasses[i].elements;

    let newActiveClassValues = [];
    for(let j=0; j<elements.length; j++) {
      newActiveClassValues.push(localStorage.getItem(elements[j]));
    }

    radActiveClasses[i].class = newActiveClassValues.join('-');
  }
}

function toggleElements() {
  const elements = document.querySelectorAll('.rad-option-element, .rad-element');

  elements.forEach(function (element) {
    let hide = true;
    for (let i=0; i<radActiveClasses.length; i++) {
      if (element.classList.contains(radActiveClasses[i].class)) {
        hide = false;
        break;
      }
    }

    if (hide) {
      element.classList.add('u-hide');
      element.setAttribute('aria-hidden', true);
    } else {
      element.classList.remove('u-hide');
      element.setAttribute('aria-hidden', false);
    }
  })
}

function attachDropdownEvents(dropdown) {
  dropdown.addEventListener('change', function (e) {
    const newValue = e.target.value;
    const dropdownName = dropdown.name;

    localStorage.setItem(dropdownName, newValue);

    const dropdowns = document.querySelectorAll(`.rad-dropdown-${dropdownName}`);
    dropdowns.forEach(function (element) {
      element.value = newValue;
    });

    refreshActiveClass();
    toggleElements();
  });
}

function setupDropdowns(radDropdownsElement) {
  const dropdowns = radDropdownsElement.querySelectorAll('select');

  dropdowns.forEach(function (dropdown) {
    attachDropdownEvents(dropdown);
  });
}

function initRAD() {
  const radDropdownsElements = document.querySelectorAll('.rad-dropdowns-element');

  radDropdownsElements.forEach((radDropdownsElement) => {
    const dropdowns = radDropdownsElement.querySelectorAll('select');
    let radDropdownsNames = [];
    let dropdownsActiveOptions = [];

    dropdowns.forEach((dropdown) => {
      const name = dropdown.name;
      radDropdownsNames.push(name);

      const options = dropdown.querySelectorAll('option');
      let defaultWasSet = false;
      options.forEach((option) => {
        if (localStorage.getItem(name) === option.value) {
          defaultWasSet = true;
          option.setAttribute('selected', 'selected');
          dropdownsActiveOptions.push(option.value);
        }
      });

      if (!defaultWasSet) {
        const firstOption = dropdown.firstElementChild;
        firstOption.setAttribute('selected', 'selected');
        dropdownsActiveOptions.push(firstOption.value);

        if (localStorage.getItem(name) === null) {
          localStorage.setItem(name, firstOption.value);
        }
      }
    });

    const radActiveClassesItem = [];
    radActiveClassesItem['elements'] = radDropdownsNames;
    radActiveClassesItem['class'] = dropdownsActiveOptions.join('-');
    radActiveClassesItem['id'] = radDropdownsNames.join('-');

    let exists = false;
    for (let i=0; i<radActiveClasses.length; i++) {
      if (radActiveClassesItem.id === radActiveClasses[i].id) {
        exists = true;
      }
    }

    if (!exists) {
      radActiveClasses.push(radActiveClassesItem);
    }

    setupDropdowns(radDropdownsElement);
  });

  toggleElements();
}

initRAD()

</script>

{% endblock content %}
