{% extends "advantage/base_advantage.html" %}

{% block title %}Your Canonical invoices{% endblock %}

{% block meta_description %}Your Canonical invoices for services you have signed up for.{% endblock %}

{% block head_extra %}<meta name="robots" content="noindex, nofollow" />{% endblock %}

{% block content %}
     <div id="account-pages-app"></div>

     <script nonce="{{ csp_nonce }}">
          window.APP_CONFIG = {
            "accountId": "{{account_id or ''}}",
            "invoices": "{{ invoices_data | tojson }}",
            "marketplace": "{{ marketplace or '' }}",
            "currentPage": "{{ current_page }}",
            "totalPages": "{{ total_pages }}"
          }
     </script>

  <script nonce="{{ csp_nonce }}" src="{{ versioned_static('js/dist/ua-payment-methods.js') }}"
          type="module"
          defer></script>

{% endblock content %}
