<!-- MARKETO FORM -->
<script src="//assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
<script src="//assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
<script src="//assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>‌​

<form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_3261" class="marketo-form whitepaper-form" style="margin-top: -1rem;">
<fieldset class="u-no-padding--top" style="border-bottom-width: 1px;">
  <ul class="p-list">
    <li class="mktFormReq mktField p-list__item">
      <label for="FirstName" class="mktoLabel">First name:</label>
      <input required  id="FirstName" name="FirstName" maxlength="255" type="text" class="mktoField   mktoRequired">
    </li>
    <li  class="mktFormReq mktField p-list__item">
      <label for="LastName" class="mktoLabel">Last name:</label>
      <input required  id="LastName" name="LastName" maxlength="255" type="text" class="mktoField   mktoRequired">
    </li>
    <li  class="mktFormReq mktField p-list__item">
      <label for="Email" class="mktoLabel">Work email:</label>
      <input required  id="Email" name="Email" maxlength="255" type="email" class="mktoField mktoEmailField  mktoRequired">
    </li>
    <li  class="mktFormReq mktField p-list__item">
      <label for="Company" class="mktoLabel">Company name:</label>
      <input required  id="Company" name="Company" maxlength="255" type="text" class="mktoField   mktoRequired mktoInvalid">
    </li>
    <li  class="mktFormReq mktField p-list__item">
      <label for="Title" class="mktoLabel">Job title:</label>
      <input required  id="Title" name="Title" maxlength="255" type="text" class="mktoField   mktoRequired">
    </li>
    <li  class="mktFormReq mktField p-list__item">
      <label for="Phone" class="mktoLabel">Mobile/cell phone number:</label>
      <input required  id="Phone" name="Phone" maxlength="255" type="tel" class="mktoField mktoTelField  mktoRequired">
    </li>
    <li  class="mktField p-list__item">
      <input type="hidden" name="utm_campaign" aria-label="utm_campaign" class="mktoField  mktoFormCol" value="">
    </li>
    <li  class="mktField p-list__item">
      <input type="hidden" name="utm_medium" aria-label="utm_medium" class="mktoField  mktoFormCol" value="">
    </li>
    <li  class="mktField p-list__item">
      <input type="hidden" name="utm_source" aria-label="utm_source" class="mktoField  mktoFormCol" value="">
    </li>
    <li  class="mktField p-list__item">
      <p><input name="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" type="checkbox" value="yes" class="mktoField"><label for="canonicalUpdatesOptIn" class="mktoLabel">I agree to receive information about Canonical's products and services.</label>
      </p>
    </li>
    <li  class="mktField p-list__item">
      <p>In submitting this form, I confirm that I have read and agree to <a href="/legal/dataprivacy" class="mchNoDecorate" id="">Canonical's Privacy Policy</a></p>
      <input type="hidden" name="RichText">
    </li>
    <li  class="mktField p-list__item">
      <input type="hidden" name="Consent_to_Processing__c" class="mktoField mktoFormCol" aria-label="Consent_to_Processing__c" value="Yes">
    </li>
    <li class="p-list__item">
      <div class="g-recaptcha" data-sitekey="{{ CAPTCHA_TESTING_API_KEY }}" style="margin: 2rem 0;"></div>
    </li>
    <li class="mktField p-list__item">
      <button type="submit" class="mktoButton u-no-margin--bottom">Continue reading</button>
      <input type="hidden" name="formid" aria-label="formid" class="mktoField " value="3261">
      <input type="hidden" name="formVid" aria-label="formVid" class="mktoField " value="3261">
      <input type="hidden" name="munchkinId" aria-label="munchkinId" class="mktoField" value="066-EOV-335">
      <input type="hidden" aria-hidden="true" aria-label="hidden field" name="gclid" class="mktoField" id="gclid" value="" />
    </li>
  </ul>
</fieldset>

<input type="hidden" name="returnURL"  aria-label="returnURL" value="https://pages.ubuntu.com/OSconsideration_TY.html" />
<input type="hidden" name="retURL" aria-label="retURL" value="https://pages.ubuntu.com/OSconsideration_TY.html" />
</form>

<!-- /MARKETO FORM -->
<!-- dependencies -->
<script src="https://assets.ubuntu.com/v1/ec520d10-XMLHttpRequest.min.js"></script>