{% extends "automotive/base_automotive.html" %}

{% block title %}Boost your automotive business with Ubuntu{% endblock %}
{% block meta_description %}Ubuntu is widely used to reduce time to market in automotive companies, as a platform for data analytics, online services, robotics and machine learning. Infotainment, ADAS and cockpit application development on Ubuntu is faster. New real-time hypervisors enable Ubuntu VMs alongside functional safety RTOS solutions.{% endblock meta_description %}
{% block meta_copydoc %}https://docs.google.com/document/d/1PVliB92h4ZqexaZV9F5MIcX7aRG6yBAGH1hG7x8UZTw/edit{% endblock meta_copydoc %}

{% block content %}

<style>
  .p-logo-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4rem;
    padding-right: 2rem;
    padding-top: 3rem;
  }
</style>

<section class="p-strip--suru-bottomed">
  <div class="row u-equal-height">
    <div class="col-4">
      <h1>The future is <br />beyond electric. <br />It's electrifying.</h1>
      <p>Smarter autopilots, infotainment, factories and business models.</p>
      <p><a class="js-invoke-modal p-button--positive" href="/internet-of-things/contact-us?product=automotive" data-testid="interactive-form-link">Contact Canonical</a></p>
    </div>
    <div class="col-8 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{
        image(
        url="https://assets.ubuntu.com/v1/86148922-Automotive-in-car-cockpit-cropped.svg",
        alt="",
        width="605",
        height="380",
        hi_def=True,
        loading="auto",
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <div class="p-logo-section">
      <h2 class="p-logo-section__title u-align--center">Accelerating on Ubuntu</h2>
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/85be122c-toyota-logo.png",
            alt="Toyota",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/59af2c8f-bmw-logo.png",
            alt="BMW",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/e10b8957-vw-logo.png",
            alt="Volkswagen",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/3263fb35-ford-logo.png",
            alt="Ford",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/52e19575-scania-logo.png",
            alt="Scania",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/466c2690-bosch-logo.png",
            alt="Bosch",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/7e3ec23a-continetal-logo.png",
            alt="Continental",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6889bfcb-uber-logo.png",
            alt="Uber",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/dea8779e-eurotech-group-logo.png",
            alt="Eurotech",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2 class="p-heading--5">Software-defined industry</h2>
      <p class="p-heading--2">Not just the car. The whole business of automotive.</p>
      <p>Software shapes success in automotive today.</p>
      <p>It's how you sim and virtually test.</p>
      <p>It's how you automate factories.</p>
      <p>It's how you operate online services.</p>
      <p>It's how you turn metal into experience.</p>
      <p><a class="js-invoke-modal" href="/internet-of-things/contact-us?product=automotive">Let's talk open source&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/cef9fb09-automotive-business-software.svg",
        alt="",
        height="320",
        width="420",
        hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/af98e3d6-automotive_car-network.svg",
        alt="",
        height="210",
        width="360",
        hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2 class="p-heading--5">ADAS development</h2>
      <p class="p-heading--2">Win the race for autonomy</p>
      <p>Every leading team in the self-driving race runs Ubuntu.</p>
      <p>Google. Uber. Bosch. VW. Argo.</p>
      <p>Crunch data. Develop algorithms. In-car, on-premises and on-cloud. Ubuntu delivers the highest multi-cloud performance for AI/ML.</p>
      <p>ROS and ISAAC security maintenance for long term operations. On NVIDIA Xavier, Drive PX2, and other silicon.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2 class="p-heading--5">Industry 4.0</h2>
      <p class="p-heading--2">Faster factories, smarter robots</p>
      <p>Digital transformation and continuous improvement with app-centric factory automation.</p>
      <p>Monitor inventories. Spot defects. Manage warehouses. Optimise supply lines.</p>
      <p>Run simulations for robot training and deploy new insights automatically in a snap. No downtime.</p>
    </div>
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/22007291-DevOps.svg",
        alt="",
        height="200",
        width="350",
        hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/0631c9dc-FinancialServicesPage-GetStarted-AI_2020.svg",
        alt="",
        height="230",
        width="252",
        hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2 class="p-heading--5">Deep learning</h2>
      <p class="p-heading--2">Accelerate data science &ndash; car, cluster and cloud</p>
      <p>From self-driving to diagnostics and route planning, Ubuntu is at the heart of the biggest automotive analytics operations.</p>
      <p>More frameworks, languages, libraries and solutions, from the widest range of companies and clouds.</p>
      <p>On <a href="https://maas.io/" class="p-link--external">bare metal</a> or <a href="/cloud">public cloud</a>. From Spark and Hadoop to <a href="/kubeflow">Kubeflow</a>. Better ML. Faster results.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2 class="p-heading--5">Scania presents</h2>
      <p class="p-heading--2">Fast track CAD/CAM/CAE with dynamic HPC</p>
      <p>Scania deploys agile HPC clusters for rapid digital design, validation, crash testing, and aerodynamics.</p>
      <p>Supercomputers on-demand for CAD, CAM and CAE. Tame SLURM and get more from your cluster.</p>
      <p><a href="https://www.brighttalk.com/webcast/6793/416900/mastering-multicloud-with-slurm-and-juju" class="p-link--external">Watch the video</a></p>
    </div>
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      <a href="https://www.brighttalk.com/webcast/6793/416900/mastering-multicloud-with-slurm-and-juju">
        {{
          image(
          url="https://assets.ubuntu.com/v1/d1b5ac75-Automotive-Masters-vid-screen.png",
          alt="",
          height="229",
          width="400",
          hi_def=True,
          ) | safe
        }}
      </a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/2bd31151-Automotive-in-car-cockpit-sized.svg",
        alt="",
        height="250",
        width="429",
        hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2 class="p-heading--5">In-cabin digital</h2>
      <p class="p-heading--2">Next level infotainment</p>
      <p>Consumer expectations are relentless.</p>
      <p>New insights. New apps. New content. New experiences. Personalised. Contextual.</p>
      <p>The ever-fresh experience needs secure, reliable, over-the-air updates and <a href="https://snapcraft.io/store" class="p-link--external">app stores</a>.</p>
      <p>A new car feeling, every drive.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2 class="p-heading--5">Over-the-air updates</h2>
      <p class="p-heading--2">OTA? Compressed. Transactional. Signed. Simple.</p>
      <p>Update any system, any device, any day. Future-proof your fleet.</p>
      <p>Full OS containerisation means transactional, atomic updates. Data snapshot backup and restore. Signed software integrity. <a href="/engage/snap-deltas">Compressed delta updates</a>.</p>
      <p><a href="/engage/snapd-whitepaper">Complete control</a>. No delayed patches, no partial updates, no unauthorised ECU software.</p>
    </div>
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/8998cab5-control-thin.svg",
        alt="",
        height="326",
        width="326",
        hi_def=True,
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {{
        image(
        url="https://assets.ubuntu.com/v1/0be66895-Automotive-car-sensor.svg",
        alt="",
        height="260",
        width="455",
        hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h2 class="p-heading--5">V2X communication</h2>
      <p class="p-heading--2">Cruise control for private cloud</p>
      <p>Orchestrate <a href="/telco">V2X and NFV on carrier-grade</a> clouds.</p>
      <p>Own the edge with <a href="https://maas.io" class="p-link--external">Metal as a Service</a>.</p>
      <p>Connect and containerise with <a href="/kubernetes">Kubernetes</a> from vehicle to edge.</p>
      <p>Crisp, economical, robust and scalable.</p>
    </div>
  </div>
</section>

<section class="p-strip--square-suru u-image-position" style="overflow: visible;">
  <div class="row u-equal-height">
    <div class="col-6">
      <h2 class="p-heading--5">Mixed-criticality ECUs</h2>
      <p class="p-heading--2">RTOS safety, Ubuntu agility</p>
      <p>Isolate safety-critical software, and run consumer-friendly workloads on Ubuntu.</p>
      <p>Ubuntu delivers <a href="/engage/451-automotive" class="p-link--inverted">software-defined differentiation</a>. Run AUTOSAR Adaptive. Gather telemetry. Manage batteries. Connect customers.</p>
      <p>Now available as <a href="https://projectacrn.github.io/latest/getting-started/rt_industry_ubuntu.html" class="p-link--inverted p-link--external">open source ACRN</a>.</p>
      <p>Crisp, economical, robust and scalable.</p>
    </div>
    <div class="col-6 u-vertically-center u-hide--medium u-hide--small u-align--center">
      {% include "automotive/_chassis_animation.html" %}
    </div>
  </div>
</div>
</section>

<section class="p-strip">
  <div class="row u-sv2">
    <div class="col-6">
      <div class="p-logo-header u-hide--small">
        {{
          image(
          url="https://assets.ubuntu.com/v1/f6a59799-partner-logo-arm.svg",
          alt="ARM",
          height="17",
          width="56",
          hi_def=True,
          ) | safe
        }}    
        {{
          image(
          url="https://assets.ubuntu.com/v1/52d4cc16-Nvidia_Logo_Horizontal.svg",
          alt="Nvidia",
          height="26",
          width="136",
          hi_def=True,
          ) | safe
        }}        
        {{ image (
          url="https://assets.ubuntu.com/v1/ab843223-Intel.svg",
          alt="Intel",
          width="50",
          height="33",
          hi_def=True,
          ) | safe
        }}   
        {{ image (
          url="https://assets.ubuntu.com/v1/22011fee-Xilinx_logo.svg.png",
          alt="Xilinx",
          width="102",
          height="21",
          hi_def=True,
          ) | safe
        }}
      </div>
      <h2 class="p-heading--5">ARM and X86</h2>
      <p class="p-heading--2">The right silicon for every subsystem</p>
      <p>We optimise Ubuntu for major silicon architectures, so you can choose the best ECU platform anywhere.</p>
      <p>Develop on Ubuntu today and pick your platform later.</p>
    </div>
    <div class="col-6">
      {{
        image(
        url="https://assets.ubuntu.com/v1/b2b4d912-community-support-thin.svg",
        alt="",
        height="120",
        width="96",
        hi_def=True,
        attrs={"class": "u-hide--small"},
        ) | safe
      }}
      <h2 class="p-heading--5">Open source 2.0</h2>
      <p class="p-heading--2">Better tools. Bigger ecosystem. Broader talent pool.</p>
      <p>Leaders choose Ubuntu because <a href="https://medium.com/@olley_io/what-software-do-autonomous-vehicle-engineers-use-part-1-2-275631071199" class="p-link--external">autonomous vehicle engineers are more productive with it</a>. From cloud to edge.</p>
      <p>Develop on Ubuntu today and pick your platform later.</p>
    </div>
  </div>
  <div class="row u-sv2">
    <div class="col-6">
      {{
        image(
        url="https://assets.ubuntu.com/v1/c53664cd-Security_updates.svg",
        alt="",
        height="120",
        width="201",
        hi_def=True,
        attrs={"class": "u-hide--small"}
        ) | safe
      }}
      <h2 class="p-heading--5">Safety first</h2>
      <p class="p-heading--2">Top rated security. Best-in-class isolation.</p>
      <p>We power innovation. And production.</p>
      <p><a href="/esm">Ten year CVE security maintenance</a>, the most comprehensive <a href="/embedded"></a>container confinement and kernel livepatch</a> for rapid rollouts in critical situations.</p>
      <p>Because safety depends on the ability to evolve, resist and respond to new threats.</p>
    </div>
    <div class="col-6">
      {{
        image(
        url="https://assets.ubuntu.com/v1/f880a3bd-Enterprise+support.svg",
        alt="",
        height="120",
        width="120",
        hi_def=True,
        attrs={"class": "u-hide--small"},
        ) | safe
      }}
      <h2 class="p-heading--5">Long term support</h2>
      <p class="p-heading--2">Extended security, extended opportunity</p>
      <p>You innovate. We maintain.</p>
      <p>Extend ECU life and lifetime value with platform upgrades for new services and solutions.</p>
      <p>Count on Canonical security coverage. Regular updates. Automated testing. Continuous deployment. Progressive releases.</p>
      <p>A new world of constant car improvement.</p>
    </div>
  </div>
  <div class="row u-sv2">
    <div class="col-6">
      {{
        image(
        url="https://assets.ubuntu.com/v1/1d5f293c-compliance.svg",
        alt="",
        height="120",
        width="198",
        hi_def=True,
        attrs={"class": "u-hide--small"},
        ) | safe
      }}
      <h2 class="p-heading--5">Open source licensing</h2>
      <p class="p-heading--2">Straightforward compliance</p>
      <p>Confidently integrate open source components into your proprietary solutions.</p>
      <p>Source identification for all software components, all the time.</p>
      <p>Simplify compliance. Streamline certification. Protect innovation.</p>
    </div>
    <div class="col-6">
      {{
        image(
        url="https://assets.ubuntu.com/v1/338124d1-shields-security.svg",
        alt="",
        height="120",
        width="210",
        hi_def=True,
        attrs={"class": "u-hide--small"},
        ) | safe
      }}
      <h2 class="p-heading--5">Connected car security</h2>
      <p class="p-heading--2">Hardened apps. Hardened OS.</p>
      <p>Your customers want apps. Your business needs security. Get both on Ubuntu.</p>
      <p>Secure boot, <a href="/engage/iot-disk-encryption">full disk encryption</a> and <a href="https://snapcraft.io/docs/assertions" class="p-link--external">signed software packages</a> guarantee system integrity.</p>
      <p><a href="https://snapcraft.io/docs/snap-confinement" class="p-link--external">Snap confinement</a> limits blast radius, keeps your apps apart, and controls access to hardware.</p>
      <p>Curate your app store from global suppliers, with constant app security scanning and updates.</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-6">
      {{
        image(
        url="https://assets.ubuntu.com/v1/8dd99b80-ubuntu-logo14.png",
        alt="",
        height="100",
        width="223",
        hi_def=True,
        ) | safe
      }}
      <h2 class="p-heading--5">Software strategy acceleration</h2>
      <p class="p-heading--2">Trusted by executives. Loved by gearheads.</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">The <a href="https://recruit-c7ff.kxcdn.com/recruit/wp-content/uploads/2020/05/he-developer-survey-2020.pdf" class="p-link--external">best developers choose Ubuntu</a>.</li>
        <li class="p-list__item is-ticked">The biggest pool of talent. The broadest range of tools.  The community that counts.</li>
        <li class="p-list__item is-ticked">One company stands behind it all &mdash; Canonical.</li>
      </ul>
    </div>
    <div class="col-6">
      {{
        image(
        url="https://assets.ubuntu.com/v1/7de55930-canonical-logo1.png",
        alt="",
        height="100",
        width="223",
        hi_def=True,
        ) | safe
      }}
      <h2 class="p-heading--5">Domain experts</h2>
      <p class="p-heading--2">Innovate in automotive with Canonical</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">The experts in open source operations, from cloud to desktop to device. The publishers of Ubuntu.</li>
        <li class="p-list__item is-ticked">Get to market faster.</li>
        <li class="p-list__item is-ticked">Drive down infra costs.</li>
        <li class="p-list__item is-ticked">Accelerate innovation.</li>
        <p>
          <a class="js-invoke-modal" href="/internet-of-things/contact-us?product=automotive">
            Get in touch&nbsp;&rsaquo;
          </a>
        </p>
      </div>
    </div>
  </section>
  
  <!-- Set default Marketo information for contact form below-->
  <div class="u-hide" id="contact-form-container" data-form-location="/shared/forms/interactive/embedded" data-form-id="1266" data-lp-id="2551" data-return-url="https://ubuntu.com/internet-of-things/thank-you?product=iot" data-lp-url="https://pages.ubuntu.com/things-contact-us.html">
  </div>
  
  {% endblock content %}
  