{% extends "appliance/_base-appliance.html" %}

{% block title %}{{ appliance.appliance_name }} | Ubuntu Appliance{% endblock %}

{% block meta_description %}{{ appliance.meta_description }}{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1zgOl4GCK6O6Clv6oxp-DXDSKYIKO2pvpXaYXALiTlpo/{% endblock meta_copydoc %}

{% block content %}

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-8">
      <div class="p-media-object u-no-margin--bottom">
        <img src="{{ appliance.logo }}?w=90" alt="" class="p-media-object__image is-round" height="90" width="90">
        <div class="p-media-object__details">
          <h1 class="p-heading--three u-no-margin--bottom">
            {{ appliance.appliance_name }}
          </h1>
          <p class="p-muted-heading">Ubuntu Appliance</p>
          <ul class="p-inline-list--middot u-no-margin--bottom">
            <li class="p-inline-list__item">By {{ appliance.company_name }}</li>
            <li class="p-inline-list__item">{{ appliance.category }}<br class="u-hide--medium"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-4 u-align--right">
      {% with app="{{ appliance }}" %}
      {% include 'appliance/shared/_download_widget.html' %}
      {% endwith %}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-10">
      <div class="u-embedded-media u-no-margin--top" style="margin-bottom: 1rem;">
        {% if "youtu.be" in appliance.screenshots.1 %}
        <iframe class="u-embedded-media__element" src="{{ appliance.screenshots.1 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
        <img src="{{ appliance.screenshots.1 }}" class="p-image--shadowed" alt="{{ appliance.appliance_name }} screenshots">
        {% endif %}
     </div>
{# need to deal with no video #}
    </div>
    <div class="col-2 u-align--center">
      <ul class="p-list row">
        {% for image in appliance.screenshots.values() %}
        <li class="p-list__item col-small-1 col-medium-1 col-2">
          <a href="{{ image }}" class="js-lightbox-item">
            <img src="{{ image }}?w=200" alt="{{ appliance.name }} screenshot" height="150" width="150">
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      {{ appliance.description | safe }}
    </div>
    <div class="col-4">
      <h5 class="u-no-margin--bottom u-no-padding--top">Relevant links</h5>
      <ul class="p-list">
        {% for link in appliance.links.values() %}
        <li class="p-list__item"><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
      <h5 class="u-no-margin--bottom u-no-padding--top">Privacy compliance</h5>
      <ul class="p-list">
        {% for comp in appliance.compliance.values() %}
        <li class="p-list__item is-ticked">{{ comp }}</li>
        {% endfor %}
      </ul>
      <h5 class="u-no-margin--bottom u-no-padding--top">Base</h5>
      <p>{{ appliance.base }}</p>
      <h5 class="u-no-margin--bottom u-no-padding--top">Date published</h5>
      <p>{{ appliance.published_date }}</p>
      <h5 class="u-no-margin--bottom u-no-padding--top">Security maintenance until</h5>
      <p>{{ appliance.maintenance_date }}</p>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="row">
    <div class="col-6">
      <h2 class="p-heading--four">Snaps in the image</h2>
      {% for snap in appliance.snaps.values() %}
      <div class="p-media-object">
        <img src="{{ snap.icon }}?w=75" alt="" class="p-media-object__image is-round" height="75" width="75">
        <div class="p-media-object__details">
          <h3 class="p-heading--5 u-no-margin--bottom u-sv-1">
            <a href="{{ snap.link }}" class="p-link--external">{{ snap.name }}</a>
          </h3>
          <p class="p-muted-text">By {{ snap.publisher }}</p>
          <p class="u-sv-1"><span class="p-muted-text">Channel: </span>{{ snap.channel }}</p>
          <p class="u-sv-1"><span class="p-muted-text">Version: </span>{{ snap.version }}</p>
          <p><span class="p-muted-text">Published: </span>{{ snap.published_date }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--top">
  <div class="row">
    <div class="col-6">
      <h4>This appliance works on:</h4>
    </div>
  </div>

  <div class="row">
    {% if appliance.iso_url.raspberrypi %}
    <div class="col-2">
      <a href="/appliance/{{ appliance.url_name }}/raspberry-pi" class="p-link--soft">
        <h3 class="p-heading--five u-no-padding--top">Raspberry Pi</h3>
        <hr />
        <div class="u-align--center">
          <img src="https://assets.ubuntu.com/v1/a999bb5f-Raspberry+Pi+4.png?h=200" alt="" style="margin:1rem 0; width: 85%;">
        </div>
      </a>
      <p><a href="/appliance/{{ appliance.url_name }}/raspberry-pi">Install on Raspberry&nbsp;Pi</a></p>
    </div>
    {% endif %}
    {% if appliance.iso_url.pc %}
    <div class="col-2">
      <a href="/appliance/{{ appliance.url_name }}/intel-nuc" class="p-link--soft">
        <h3 class="p-heading--five u-no-padding--top">NUC</h3>
        <hr />
        <div class="u-align--center">
          <img src="https://assets.ubuntu.com/v1/78b65554-1920px-Intel_NUC8.jpg?h=200" style="margin:1rem 0; width: 85%;">
        </div>
      </a>
      <p><a href="/appliance/{{ appliance.url_name }}/intel-nuc">Install on NUC</a></p>
    </div>
    {% endif %}
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>Build your own appliance</h2>
      <p>Making it with Ubuntu is easy. If you have an application that you would like to make a part of the Ubuntu appliance portfolio, read our guidelines and get in touch. Soon you will have a page like this.</p>
      <a href="/appliance/contact-us" class="p-button--neutral js-invoke-modal">Get in touch</a>
    </div>
    <div class="col-4 u-align--center u-hide--small">
      <img src="https://assets.ubuntu.com/v1/03d1807c-2+-+Build+your+own+stack+and+prototype+your+application.svg" alt="" height="300" width="400">
    </div>
  </div>
</section>

{% endblock content %}
