{% extends "training/_base_training.html" %}

{% block title %}Training{% endblock %}

{% block meta_description %}
  Canonical run OpenStack, Kubernetes, MAAS and Ubuntu training programmes to suit all environments and all levels of experience.
{% endblock meta_description %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1gyxy75qXC5Ta08o6Vnm13yK6aeN4qOnsETB2gZ4e0ZY/edit
{% endblock meta_copydoc %}

{% block content %}
  <div class="p-section--hero is-paper">
    <div class="row--25-75">
      <div class="col">
        <div class="p-section">
          <h1>Train with Ubuntu</h1>
          <p>
            Train your sysadmins and devops engineers to become experts in developing and operating open source software. Canonical runs training programs to suit all environments and all levels of experience. Explore, prototype and design with cloud technologies so you can get the most out of your environment. All classes and materials are provided in English. They can be performed either remotely or on your premises at extra cost.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="p-toggle--sticky js-drawer-toggle"
              aria-controls="drawer"
              href="#"
              aria-expanded="false">Open side navigation</button>
      <div class="col-3">
        <nav class="p-side-navigation--raw-html is-single-page js-dynamic-toc"
             id="drawer">
          <div class="p-side-navigation__overlay js-drawer-toggle"
               aria-controls="drawer"></div>
          <div class="p-side-navigation__drawer"
               aria-label="documentation side navigation">
            <div class="p-side-navigation__drawer-header">
              <button href="#"
                      class="p-side-navigation__toggle--in-drawer js-drawer-toggle"
                      aria-controls="drawer"
                      aria-expanded="false">Close side navigation</button>
            </div>
            <ul>
              <li class="p-side-navigation__item">
                <a class="highlight-link is-active" href="#mongodb">MongoDB</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#openstack-fundamentals">OpenStack Fundamentals</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#openstack-operations">OpenStack Operations</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#openstack-advanced-operations">OpenStack Advanced Operations</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#ubuntu-server-administration">Ubuntu Server Administration</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#kubernetes-explorer">Kubernetes Explorer</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#mlops">MLOps</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#maas">Metal as a Service (MAAS)</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#ceph-operations">Ceph Operations</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#landscape">Landscape</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#juju-administrator">Juju Administrator</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#charm-developer">Charm Developer</a>
              </li>
              <li class="p-side-navigation__item">
                <a class="highlight-link" href="#snapcraft-101">Snapcraft 101</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-9">
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="mongodb">MongoDB</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Deployment and operations training</h3>
              <p itemprop="description" class="u-sv3">
                A three-day hands-on course for up to 15 people that focuses on MongoDB. The aim of this training is to educate users on MongoDB, practice deployment, perform operations and optimizations as well as troubleshooting.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive" href="/contact-us">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/5dcac162-Charmed%20MongoDB%20Training_Public%20Module.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 3 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $23,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive" href="/contact-us">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/5dcac162-Charmed%20MongoDB%20Training_Public%20Module.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="openstack-fundamentals">OpenStack Fundamentals</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">How to use OpenStack</h3>
              <p itemprop="description" class="u-sv3">
                A three-day, hands-on course for up to 15 participants that introduces the key concepts, architecture, and services of OpenStack. Through guided labs and exercises, you will learn how to access and use OpenStack via the CLI and dashboard, and practice deploying applications on top of OpenStack.
              </p>
              <a class="p-button--positive u-hide--medium u-hide--small"
                 href="/training/contact-us?product=openstack-training-onsite">Contact us to book</a>
              <div class="p-cta-block u-hide--medium u-hide--small">
                <a href="https://assets.ubuntu.com/v1/8408628d-OpenStack+Fundamentals+Training+Curriculum.pdf">Read the course outline (Charmed OpenStack version)&nbsp;&rsaquo;</a>
                <a href="https://assets.ubuntu.com/v1/5147b2c3-training_curriculum_openstack_fundamentals_sunbeam_version.pdf">Read the course outline (Sunbeam version)&nbsp;&rsaquo;</a>
              </div>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 3 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $23,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <a class="p-button--positive"
                 href="/training/contact-us?product=openstack-training-onsite">Contact us to book</a>
              <p class="training-cta--stacked">
                <a href="https://assets.ubuntu.com/v1/8408628d-OpenStack+Fundamentals+Training+Curriculum.pdf">Read the course outline (Charmed OpenStack version)&nbsp;&rsaquo;</a>
                <a href="https://assets.ubuntu.com/v1/5147b2c3-training_curriculum_openstack_fundamentals_sunbeam_version.pdf">Read the course outline (Sunbeam version)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="openstack-operations">OpenStack deployment and operations</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">How to design, deploy, and operate OpenStack</h3>
              <p itemprop="description" class="u-sv3">
                A five-day, hands-on course for up to 15 participants that builds on the Fundamentals training and equips you with the skills to design, deploy, and operate OpenStack in production. The course covers design considerations, multi-node deployment options, observability, and troubleshooting of core services. After taking this course, you'll know how to confidently scale, maintain, and upgrade your cloud environment.
              </p>
              <a class="p-button--positive u-hide--medium u-hide--small"
                 href="/training/contact-us?product=openstack-training-onsite">Contact us to book</a>
              <div class="p-cta-block u-hide--medium u-hide--small">
                <a href="https://assets.ubuntu.com/v1/30545172-Canonical_training-Openstack_operations.pdf">Read the course outline (Charmed OpenStack version)&nbsp;&rsaquo;</a>
                <a href="https://assets.ubuntu.com/v1/70baeb59-training_curriculum_openstack_deployment_and_operations_sunbeam_version.pdf">Read the course outline (Sunbeam version)&nbsp;&rsaquo;</a>
              </div>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 5 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $35,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <a class="p-button--positive"
                 href="/training/contact-us?product=openstack-training-onsite">Contact us to book</a>
              <p class="training-cta--stacked">
                <a href="https://assets.ubuntu.com/v1/30545172-Canonical_training-Openstack_operations.pdf">Read the course outline (OpenStack version)&nbsp;&rsaquo;</a>
                <a href="https://assets.ubuntu.com/v1/70baeb59-training_curriculum_openstack_deployment_and_operations_sunbeam_version.pdf">Read the course outline (Sunbeam version)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="openstack-advanced-operations">OpenStack advanced operations</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">How to operate, manage, and troubleshoot <br class="u-hide--medium u-hide--small"/>Canonical OpenStack</h3>
              <p itemprop="description" class="u-sv3">
                A highly modular training for SRE teams who need to manage Canonical OpenStack. The modules follow different levels, ranging from basics to pro tips, allowing you to tailor the full training program to your team's skills and needs. The peer training sessions are designed to ensure your team acquires experience on specific tasks in a controlled environment and with necessary supervision to correct any errors. Each module spans one to two weeks, depending on the topic.
              </p>
              <a class="p-button--positive u-hide--medium u-hide--small"
                 href="/contact-us">Contact us to book</a>
              <div class="p-cta-block u-hide--medium u-hide--small">
                <a href="https://assets.ubuntu.com/v1/61108024-openstackadvancedoperations.pdf">Read the course outline&nbsp;&rsaquo;</a>
              </div>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 1-2 weeks per module (up to 12 modules over a 15-week total)
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong>  USD $20,000 for 1-week modules, USD $40,000 for 2-week modules; up to 8 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <a class="p-button--positive"
                 href="/training/contact-us?product=openstack-training-onsite">Contact us to book</a>
              <p class="training-cta--stacked">
                <a href="https://assets.ubuntu.com/v1/61108024-openstackadvancedoperations.pdf">Read the course outline&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section--is-shallow">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="ubuntu-server-administration">Ubuntu Server Administration</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Basic Ubuntu Server training</h3>
              <div class="u-sv3">
                <div class="p-tabs">
                  <div class="p-tabs__list"
                       role="tablist"
                       aria-label="Basic Ubuntu Server training">
                    <div class="p-tabs__item">
                      <button class="p-tabs__link"
                              role="tab"
                              aria-selected="true"
                              aria-controls="basic-overview-tab"
                              id="basic-overview">Overview</button>
                    </div>
                    <div class="p-tabs__item">
                      <button class="p-tabs__link"
                              role="tab"
                              aria-selected="false"
                              aria-controls="basic-course-outline-tab"
                              id="basic-course-outline"
                              tabindex="-1">Course outline</button>
                    </div>
                  </div>

                  <div tabindex="0"
                       role="tabpanel"
                       id="basic-overview-tab"
                       aria-labelledby="basic-overview">
                    <p>
                      If you're new to Linux, then build up your competence with Ubuntu - the world's favorite Linux operating system - with this practical open source training course.
                    </p>
                    <p>
                      Take this three-day  hands-on course for up to 15 students, which teaches you how to install and administer Ubuntu Server!
                    </p>
                    <p>
                      Starting from the basics of using the command line, you will quickly learn to manage software, files and processes. Further, you will understand key concepts such as networking, storage and much more.
                    </p>
                  </div>

                  <div tabindex="0"
                       role="tabpanel"
                       id="basic-course-outline-tab"
                       aria-labelledby="basic-course-outline"
                       hidden="hidden">
                    <ol class="p-stepped-list">
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">What is Ubuntu</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">CLI Environment</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Linux filesystem hierarchy</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Identity and ownership</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Logging and initialization</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Storage</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Networking</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Process management</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Backup and recovery</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Software management</p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=openstack-training-server-admin">Contact us to book</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 3 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $17,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Level required:</strong> Basic understanding of Linux/Unix
                </li>
                <li class="p-list__item">
                  <strong>Format:</strong> All sessions are a combination of instruction and lab work
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote, or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <a class="p-button--positive"
                 href="/training/contact-us?product=openstack-training-server-admin">Contact us to book</a>
            </div>
          </div>
        </section>
        <hr class="p-rule is-muted" />
        <section class="p-section">
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Advanced Ubuntu Server training</h3>
              <div class="u-sv3">
                <div class="p-tabs">
                  <div class="p-tabs__list"
                       role="tablist"
                       aria-label="Advanced Ubuntu Server training">
                    <div class="p-tabs__item">
                      <button class="p-tabs__link"
                              role="tab"
                              aria-selected="true"
                              aria-controls="advanced-overview-tab"
                              id="advanced-overview">Overview</button>
                    </div>
                    <div class="p-tabs__item">
                      <button class="p-tabs__link"
                              role="tab"
                              aria-selected="false"
                              aria-controls="advanced-course-outline-tab"
                              id="advanced-course-outline"
                              tabindex="-1">Course outline</button>
                    </div>
                  </div>

                  <div tabindex="0"
                       role="tabpanel"
                       id="advanced-overview-tab"
                       aria-labelledby="advanced-overview">
                    <p>
                      Have you been using Linux operating systems for a while or completed the basic Ubuntu Server training and want to grow your skills?
                    </p>
                    <p>
                      Our Advanced Ubuntu Server training is an intensive three-day hands-on course in which you will learn and use advanced techniques, including security, virtualization, systems management and much more.
                    </p>
                  </div>

                  <div tabindex="0"
                       role="tabpanel"
                       id="advanced-course-outline-tab"
                       aria-labelledby="advanced-course-outline"
                       hidden="hidden">
                    <ol class="p-stepped-list">
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Virtualization</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">LXD</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">OpenSSH</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">System initialization</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Advanced storage</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Advanced filesystem</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">ZFS</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Advanced networking</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Security</p>
                      </li>
                      <li class="p-stepped-list__item">
                        <p class="p-stepped-list__title">Snaps</p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=openstack-training-server-admin">Contact us to book</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 3 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $17,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Level required:</strong> Basic understanding of Linux/Unix
                </li>
                <li class="p-list__item">
                  <strong>Format:</strong> All sessions are a combination of instruction and lab work
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote, or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <a class="p-button--positive"
                 href="/training/contact-us?product=openstack-training-server-admin">Contact us to book</a>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section--is-shallow">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="kubernetes-explorer">Kubernetes Explorer</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Kubernetes training</h3>
              <p itemprop="description" class="u-sv3">
                A three-day hands-on course for up to 15 people that guides you through Charmed Kubernetes. You will learn about Kubernetes, how to deploy it and configure it, as well as how to perform operational actions such as live upgrades.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=kubernetes-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/bdff2205-Kubernetes+Training+Curriculum.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 3 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $23,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=kubernetes-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/bdff2205-Kubernetes+Training+Curriculum.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule is-muted" />
        <section class="p-section">
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Bare Metal add-on training</h3>
              <p itemprop="description" class="u-sv3">
                This is an add-on course that is offered as an extension to the Kubernetes Explorer. It focuses on managing your bare metal in an automated way with MAAS so that you can deploy Kubernetes easily and effortlessly. It takes place at your premises for up to 15 students.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=/training/contact-us?product=kubernetes-training-onsite">Contact us to book</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 1 day
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $8,000 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <a class="p-button--positive"
                 href="/training/contact-us?product=/training/contact-us?product=kubernetes-training-onsite">Contact us to book</a>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="mlops">MLOps</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Modelling and operations training</h3>
              <p itemprop="description" class="u-sv3">
                A four-day workshop-like course for up to 15 people that guides you through all aspects of performing effective Machine Learning and Deep Learning automation on your Kubeflow cluster. A follow-up course to Kubernetes Explorer, it guides you through common tasks such as creating Pipelines, working with Notebooks, training models, visualizing results, model serving, and troubleshooting, as well as introducing MLOps practices for streamlined data science using containerized frameworks and infrastructure.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=kubeflow-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/ee5a96f3-Kubeflow+Training+Curriculum.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 4 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $35,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=kubeflow-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/ee5a96f3-Kubeflow+Training+Curriculum.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="maas">Metal as a Service (MAAS)</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Deployment and operations training</h3>
              <p itemprop="description" class="u-sv3">
                A two-day hands-on course for up to 15 people that guides you through MAAS and how to treat your bare metal estate as a cloud. The aim of this training is to help users understand MAAS components, installing and configuring them, as well on-going MAAS operations for physical and virtual machines (KVM), network configuration and image management.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=maas-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/dc6e1ec3-Canonical_training-MAAS_Deployment_and_Operations.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 2 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $17,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=maas-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/dc6e1ec3-Canonical_training-MAAS_Deployment_and_Operations.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="ceph-operations">Ceph operations</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Deployment and operations training</h3>
              <p itemprop="description" class="u-sv3">
                A three-day hands-on course for up to 15 people that focuses on Ceph storage. The aim of this training is to educate users on Ceph, practice deployment, perform operations and optimizations of Ceph storage, as well as troubleshooting.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=ceph-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/28ca49c8-Ceph+Operations+Training+Curriculum.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 3 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $23,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=ceph-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/28ca49c8-Ceph+Operations+Training+Curriculum.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <h2 class="p-text--small-caps section-heading u-no-margin--bottom"
              id="landscape">Landscape</h2>
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h3 class="p-heading--2" itemprop="name">Deployment and operations training</h3>
              <p itemprop="description" class="u-sv3">
                A two-day hands-on course for up to 15 people that focuses on Landscape. The aim of this training is to educate users on the deployment, administration and operation of Landscape. Each section contains a theory session presented by the instructor, followed by a practical lab.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=landscape-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/d55c5afe-Landscape+Deployment+and+Operations+Canonical+Training.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 2 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $17,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=landscape-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/d55c5afe-Landscape+Deployment+and+Operations+Canonical+Training.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h2 class="section-heading" itemprop="name" id="juju-administrator">Juju Administrator</h2>
              <p itemprop="description" class="u-sv3">
                A three-day hands-on course for up to 15 people that focuses on Juju. The course is designed to enable administrators to quickly become proficient at managing Juju and deploying, configuring and integrating applications across computing substrates. The course is a blend of theory sessions and hands-on practical labs which see attendees deploying charmed applications on VMs, containers and Kubernetes clusters.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=juju-administrator-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/79354a32-Juju+Administrator+Training.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 3 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $23,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=juju-administrator-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/79354a32-Juju+Administrator+Training.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h2 class="section-heading" itemprop="name" id="charm-developer">Charm Developer</h2>
              <p itemprop="description" class="u-sv3">
                A two-day hands-on course for up to 15 people that focuses on Charms. This course is an introduction to charmed operator development and covers the development, testing and release of charmed operators for both machines and Kubernetes. The course is delivered as a blend of theory lessons and hands-on practical labs. Upon completion, attendees will feel comfortable developing charms that can manage applications throughout their life, and integrate seamlessly with other applications across computing substrates.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=charm-developer-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/fda645b1-Charm+Developer+Training.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 2 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $17,500 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=charm-developer-training-onsite">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/fda645b1-Charm+Developer+Training.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="p-rule" />
        <section class="p-section">
          <div class="row">
            <div class="col-6" itemscope itemtype="https://schema.org/Product">
              <h2 class="section-heading" itemprop="name" id="snapcraft-101">Snapcraft 101</h2>
              <p itemprop="description" class="u-sv3">
                A hands-on workshop to learn how to create, build, publish and maintain your own snaps using Snapcraft and deploy them on Ubuntu Core. The workshop alternates short instructor-led discussions with task-focused practical labs. At the end of the two day workshop, your development team will be fully capable of deploying and maintaining your own snaps.
              </p>
              <p class="u-hide--medium u-hide--small">
                <a class="p-button--positive"
                   href="/training/contact-us?product=snapcraft-101">Contact us to book</a>
                <a href="https://assets.ubuntu.com/v1/f44d287e-Snapcraft 101 Outline.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
            <div class="col-3">
              <ul class="p-list">
                <li class="p-list__item">
                  <strong>Duration:</strong> 2 days
                </li>
                <li class="p-list__item">
                  <strong>Cost:</strong> USD $5,000 up to 15 attendees, remote delivery
                </li>
                <li class="p-list__item">
                  <strong>Location:</strong> Remote or at your premises at extra cost
                </li>
                <li class="p-list__item">
                  <strong>Availability:</strong> Private groups only
                </li>
              </ul>
            </div>
          </div>
          <div class="row u-hide--large">
            <div class="col-6">
              <p class="training-cta--stacked">
                <a class="p-button--positive"
                   href="/training/contact-us?product=snapcraft-101">Contact us to book</a>

                <a href="https://assets.ubuntu.com/v1/f44d287e-Snapcraft 101 Outline.pdf">Read the course outline (PDF)&nbsp;&rsaquo;</a>
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- Set default Marketo information for contact form below -->
  <div class="u-hide"
       id="contact-form-container"
       data-form-location="/shared/forms/interactive/openstack"
       data-form-id="1263"
       data-lp-id="2163"
       data-return-url="https://ubuntu.com/training/thank-you"
       data-lp-url="https://ubuntu.com/training/thank-you"></div>
  <!-- twitter tracking code -->
  <script src="https://platform.twitter.com/oct.js"></script>
  <script src="{{ versioned_static('js/dist/dynamic-toc.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const tabGroups = document.querySelectorAll('.p-tabs');

      tabGroups.forEach(group => {
        const tabs = group.querySelectorAll('.p-tabs__link');
        const panels = group.querySelectorAll('[role="tabpanel"]');

        tabs.forEach(tab => {
          tab.addEventListener('click', function(e) {
            e.preventDefault();

            tabs.forEach(t => {
              t.setAttribute('aria-selected', 'false');
              t.setAttribute('tabindex', '-1');
            });

            panels.forEach(panel => {
              panel.setAttribute('hidden', 'hidden');
            });

            this.setAttribute('aria-selected', 'true');
            this.setAttribute('tabindex', '0');

            const panel = group.querySelector(`#${this.getAttribute('aria-controls')}`);
            panel.removeAttribute('hidden');
          });
        });
      });
    });
  </script>
  <script>
    twttr.conversion.trackPid('l4pwm');
  </script>
  <noscript>
    <img height="1"
         width="1"
         style="display:none"
         alt=""
         src="https://analytics.twitter.com/i/adsct?txn_id=l4pwm&amp;p_id=Twitter" />
    <img height="1"
         width="1"
         style="display:none"
         alt=""
         src="https://t.co/i/adsct?txn_id=l4pwm&amp;p_id=Twitter" />
  </noscript>
{% endblock content %}
