<div class="u-fixed-width">
  <div class="p-notification--information is-inline">
    <div class="p-notification__content">
      <h5 class="p-notification__title">Ubuntu 18.04 LTS is moving out of standard support in April 2023.</h5>
      <p class="p-notification__message">If you are a {% if robotics %}robotics company{% else %}device manufacturer{% endif %}, <a href="https://canonical.com/blog/ubuntu-18-04-lts-end-of-life-keep-your-fleet-of-devices-up-and-running">learn your options&nbsp;&rsaquo;</a></p>
    </div>
  </div>
</div>
