<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h1>{{h1}}</h1>
      <p class="p-heading--four">{{intro_text}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <form action="/marketo/submit" method="post" id="mktoForm_{{formid}}">
        <fieldset class="u-no-margin--bottom">
          <h3>About you</h3>
          <ul class="p-list">
            <li  class="p-list__item  ">
              <label for="FirstName" id="LblFirstName"  >First name:</label>
              <input id="FirstName" name="firstName" maxlength="255" aria-labelledby="LblFirstName" type="text" class="is-required" required="" aria-required="true" >
            </li>

            <li  class="p-list__item  ">
              <label for="LastName" id="LblLastName"  >Last name:</label>
              <input id="LastName" name="lastName" maxlength="255" aria-labelledby="LblLastName InstructLastName" type="text" class="is-required" required="" aria-required="true" >
            </li>

            <li  class="p-list__item  ">
              <label for="Email" id="LblEmail"  >Work email:</label>
              <input id="Email" name="email" maxlength="255" aria-labelledby="LblEmail InstructEmail" type="email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$" class="is-required" aria-required="true" autocomplete="email" >
            </li>

            <li  class="p-list__item  ">
              <label for="Company" id="LblCompany"  >Current employer:</label>
              <input id="Company" name="company" maxlength="255" aria-labelledby="LblCompany InstructCompany" type="text" class="is-required" required="" aria-required="true" >
            </li>

            <li  class="p-list__item  ">
              <label for="Job_Role__c" id="LblJob_Role__c"  >Job role:</label>
              <select class="is-required" required="" id="Job_Role__c" name="Job_Role__c" aria-labelledby="LblJob_Role__c InstructJob_Role__c" aria-required="true" >
                <option value=""  disabled="disabled" selected="">Select...</option>
                <option value="Business and Project Management">Business and Project Management</option>
                <option value="Database Development and Administration">Database Development and Administration</option>
                <option value="Education">Education</option>
                <option value="Enterprise Systems Analysis & Integration">Enterprise Systems Analysis & Integration</option>
                <option value="Hardware Operations and Management">Hardware Operations and Management</option>
                <option value="Home User">Home User</option>
                <option value="Network Design and Administration">Network Design and Administration</option>
                <option value="Owner/Self Employed">Owner/Self Employed</option>
                <option value="Press and Communications">Press and Communications</option>
                <option value="Programming/Software Engineering">Programming/Software Engineering</option>
                <option value="Smartphone User">Smartphone User</option>
                <option value="Technical Support">Technical Support</option>
                <option value="Technical Writing">Technical Writing</option>
                <option value="Ubuntu Enthusiast">Ubuntu Enthusiast</option>
                <option value="Web Development and Administration">Web Development and Administration</option>
                <option value="Individual">Individual</option>
              </select>
            </li>

            <li  class="p-list__item ">
              <label for="cube_ubuntu_experience" id="Lblcube_ubuntu_experience"  >What is your experience with Ubuntu?</label>
              <select id="cube_ubuntu_experience" name="cube_ubuntu_experience" aria-labelledby="Lblcube_ubuntu_experience" class="is-required" required="" >
                <option value="" disabled="disabled" selected="">Select...</option>
                <option value="none">None or very minimal experience </option>
                <option value="self">Only hands-on experience </option>
                <option value="formal">Formally educated and/or training </option>
              </select>
            </li>
          </ul>
        </fieldset>

        <fieldset class="u-no-margin--bottom">
          <h3>About your interest in CUBE</h3>
          <ul class="p-list">
            <li class="p-list__item">
              <label class="p-checkbox" >
                <input name="cube_workplace_required"  type="checkbox" value="yes" aria-labelledby="cube_workplace_required-lb" class="p-checkbox__input">
                <span class="p-checkbox__label" id="cube_workplace_required-lb">
                  Does your workplace require Ubuntu?
                </span>
              </label>
            </li>
            <li class="p-list__item ">
              <label for="cube_microcert_interest" id="Lblcube_microcert_interest"  >Which microcert are you most interested in taking?</label>
              <select id="cube_microcert_interest" name="cube_microcert_interest" aria-labelledby="Lblcube_microcert_interest Instructcube_microcert_interest" class="is-required" required="" >
                <option value="" disabled="disabled" selected="">Select...</option>
                <option value="Ubuntu System Architecture">Ubuntu System Architecture</option>
                <option value="Managing Packages in Ubuntu">Managing Packages in Ubuntu</option>
                <option value="Using command line tools">Using command line tools</option>
                <option value="Linux devices and filesystems">Linux devices and filesystems</option>
                <option value="Bash shell scripting">Bash shell scripting</option>
                <option value="Performing administrative tasks">Performing administrative tasks</option>
                <option value="Managing System Services">Managing System Services</option>
                <option value="Networking on Ubuntu">Networking on Ubuntu</option>
                <option value="Securing Ubuntu">Securing Ubuntu</option>
                <option value="Ubuntu Kernels">Ubuntu Kernels</option>
                <option value="Configuring enterprise storage">Configuring enterprise storage</option>
                <option value="Virtualisation">Virtualisation </option>
                <option value="MicroK8s">MicroK8s</option>
                <option value="MAAS">MAAS</option>
                <option value="Juju">Juju</option>
              </select>
            </li>
            <li  class="p-list__item  " id="comments">
              <label for="Comments_from_lead__c" id="LblComments_from_lead__c"  >Why do you want CUBE certification?</label>
              <textarea class="is-required" required="" id="Comments_from_lead__c" name="Comments_from_lead__c" rows="4" aria-labelledby="LblComments_from_lead__c InstructComments_from_lead__c" maxlength="2000" aria-required="true" ></textarea>
            </li>
          </ul>
        </fieldset>

        <fieldset class="u-no-margin--bottom">
          <ul class="p-list">
            <li class=" p-list__item">
              <input  value="yes" id="canonicalUpdatesOptIn" name="canonicalUpdatesOptIn" type="checkbox" />
              <label for="canonicalUpdatesOptIn">I agree to receive information about Canonical's products and services.</label>
            </li>
            <li class="p-list__item">
              In submitting this form, I confirm that I have read and agree to <a href="/legal/data-privacy/contact">Canonical's Privacy Notice</a> and <a href="/legal/data-privacy">Privacy Policy</a>.
            </li>
          </ul>
          <ul class="p-list">
            <li class="p-list__item">
              <div class="g-recaptcha" data-sitekey="{{ CAPTCHA_TESTING_API_KEY }}" style="margin: 2rem 0;"></div>
            </li>
          </ul>
          <ul class="p-list">
            <li class=" p-list__item">
              <button type="submit" class="p-button--positive" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Form', 'eventAction' : 'cloud contact-us', 'eventLabel' : '{{product}}', 'eventValue' : undefined });">Submit</button>
            </li>
          </ul>
          <!-- hidden fields -->
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="formid"  value="{{formid}}" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="returnURL" value="{{returnURL}}" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Consent_to_Processing__c" value="yes" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_campaign"  id="utm_campaign" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_medium"  id="utm_medium" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_source"  id="utm_source" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_content"  id="utm_content" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_term"  id="utm_term" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="GCLID__c"  id="GCLID__c" value="" />
          <input type="hidden" aria-hidden="true" aria-label="hidden field" name="FBCLID__c"  id="FBLID__c" value="" />
        </fieldset>
      </form>
    </div>
  </section>

  <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" defer>
