
<div class="p-strip--light is-deep is-bordered">
  <div class="u-fixed-width">
    <h2 id="a-release-schedule-you-can-depend-on">A release schedule you can depend on</h2>
  </div>
  <div class="u-fixed-width">
    <p class="p-heading--4">Stay up-to-date with regular updates and upgrades</p>
    {% if level_1 == 'desktop' %}
    <p>Every two years there is a new long-term support (LTS) release of Ubuntu Desktop that is supported for five years. During that time, there will be regular security fixes and other critical updates which are, and always will be, free of charge.</p>
    {% endif %}
    {% if level_1 == 'server' %}
    <p>Long-term support (LTS) releases of Ubuntu Server receive standard security updates for around 2,500 packages in the Ubuntu Main repository for five years by default. Every six months, interim releases bring new features, while hardware enablement updates add support for the latest machines to all supported LTS releases. All <a href="/support">Ubuntu Advantage for Infrastructure subscriptions</a> include <a href="/esm">Expanded Security Maintenance (ESM)</a> increasing the support life-cycle to up to 10 years.</p>
    <p><a href="/pro">Ubuntu Pro</a> subscriptions expands security maintenance to over 30,000 packages for 10 years and provides optional, enteprise-grade phone and ticket support by Canonical.</p>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-10" style="overflow: auto;">
      <div class="u-hide--small" id="server-desktop-eol-old"></div>
      <table class="u-hide--medium u-hide--large" style="width: auto;">
        <thead>
          <tr>
            <td>&nbsp;</td>
            <th scope="col">Released</th>
            <th scope="col">End of Life</th>
            <th scope="col">Expanded security maintenance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Ubuntu 22.04 LTS</strong></td>
            <td>April 2022</td>
            <td>April 2027</td>
            <td></td>
          </tr>
          <tr>
            <td>Ubuntu 21.10</td>
            <td>October 2021</td>
            <td>July 2022</td>
            <td></td>
          </tr>
          <tr>
            <td>Ubuntu 21.04</td>
            <td>April 2021</td>
            <td>January 2022</td>
            <td></td>
          </tr>
          <tr>
            <td>Ubuntu 20.10</td>
            <td>October 2020</td>
            <td>July 2021</td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Ubuntu 20.04 LTS</strong></td>
            <td>April 2020</td>
            <td>April 2025</td>
            <td>April 2030</td>
          </tr>
          <tr>
            <td>Ubuntu 19.10</td>
            <td>October 2019</td>
            <td>July 2020</td>
            <td></td>
          </tr>
          <tr>
            <td>Ubuntu 19.04</td>
            <td>April 2019</td>
            <td>January 2020</td>
            <td></td>
          </tr>
          <tr>
            <td>Ubuntu 18.10</td>
            <td>October 2018</td>
            <td>July 2019</td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Ubuntu 18.04 LTS</strong></td>
            <td>April 2018</td>
            <td>April 2023</td>
            <td>April 2028</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 16.04 LTS</strong></td>
            <td>April 2016</td>
            <td>April 2021</td>
            <td>April 2024</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 14.04 LTS</strong></td>
            <td>April 2014</td>
            <td>April 2019</td>
            <td>April 2022</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 12.04 LTS</strong></td>
            <td>April 2012</td>
            <td>April 2017</td>
            <td>April 2019</td>
          </tr>
          <tr>
            <td><strong>Ubuntu 10.04 LTS</strong></td>
            <td>April 2010</td>
            <td>April 2015</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.2/d3.min.js"></script>
<script src="{{ versioned_static('js/dist/release-chart.js') }}"></script>
