<section class="p-strip--light is-deep is-bordered">
  <div class="row u-equal-height">
    <div class="col-8 p-card">
      <h2>Ubuntu Pro on public cloud</h2>
      <ul class="p-list">
        <li class="p-list__item is-ticked">10 years of package updates and security maintenance with Ubuntu Pro</li>
        <li class="p-list__item is-ticked">Kernel <a href="/livepatch">Livepatch</a>, which allows for continuous security patching and higher uptime and availability by allowing kernel security updates to be applied without a reboot</li>
        <li class="p-list__item is-ticked">Rigorous compliance profiles such as CIS benchmarks and DISA-STIG to enable high security and regulated environments</li>
        <li class="p-list__item is-ticked">FIPS 140 certified components for use in environments under compliance regimes such as FedRAMP, PCI, HIPAA and ISO</li>
        <li class="p-list__item is-ticked">Patch coverage for Ubuntu's infrastructure and application repositories, spanning hundreds of open source workloads including Apache Kafka, MongoDB, Node.js, RabbitMQ, Redis and more</li>
      </ul>
      <div class="row">
        <div class="u-fixed-width">
          <p>
            Learn more about:
          </p>
          <p>
          <a class="p-button--positive is-inline" href="/aws/pro">Ubuntu Pro for AWS</a>
          <a class="p-button--positive is-inline" href="/azure/pro">Ubuntu Pro for Azure</a>
          <a class="p-button--positive is-inline" href="/gcp/pro">Ubuntu Pro for GCP</a>
                    </p>
        </div>
      </div>
    </div>
    <div class="col-4 p-card">
      <h3>Ubuntu Server</h3>
      <ul class="p-list">
        <li class="p-list__item is-ticked">Maintenance and security updates guaranteed for five years with Ubuntu LTS</li>
        <li class="p-list__item is-ticked">Enterprise-grade support and management tools available direct from Canonical</li>
        <li class="p-list__item is-ticked">Proven for enterprise-scale workloads on all leading public clouds</li>
        <li class="p-list__item is-ticked">Free from licence fees, regardless of how many images you run</li>
      </ul>
      <a class="p-button" href="/aws">Ubuntu Server on AWS</a>
      <a class="p-button" href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/canonical.0001-com-ubuntu-server-jammy?tab=Overview">Ubuntu Server on Azure</a>
      <a class="p-button" href="https://console.cloud.google.com/marketplace/browse?q=ubuntu%20canonical">Ubuntu Server on GCP</a>
    </div>
  </div>
</section>
