{% extends "managed/_base_managed-apps.html" %}

{% block title %}Managed IT Services for open source{% endblock %}

{% block meta_description %}Discover how to simplify open source consumption and cut your operational costs using IT
managed services without spending months on hiring and training.{% endblock meta_description %}

{% block meta_copydoc %}https://docs.google.com/document/d/19GoMudyrd9Zt1e7kfj-koL-Lt0RGYzWHRPuuKYUPvqw/edit{% endblock
meta_copydoc %}
{% block body_class %}is-paper{% endblock body_class %}

{% block content %}

<section class="p-strip is-shallow u-no-padding--bottom">
  <div class="row">
    <div class="col-medium-6 col-9 col-start-large-4">
      <h1>Managed IT Services you can rely on</h1>
      <p>Gain the space to focus on your core business by outsourcing the management of your operations with
        Canonical's
        Managed IT services. Whatever the size of your company, our engineers can deploy and manage your environments
        efficiently and securely.</p>
      <div class="row">
        <hr class="is-muted">
      </div>
      <p><a class="p-button--positive" href="/managed#get-in-touch">Ask a Managed Solutions expert</a></p>
    </div>
  </div>
  <div class="p-suru"></div>
</section>

<div class="row">
  <hr class="p-rule">
</div>

<section class="p-section--shallow">
  <div class="row">
    <div class="col-3">
      <p class="p-muted-heading">Trusted by</p>
    </div>
    <div class="col-9">
      <div class="p-logo-section has-misaligned-images">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/ee5d503f-rabobank-4.svg",
            alt="Rabo bank",
            width="2500",
            height="453",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/25de1877-Tele2.svg",
            alt="Tele2",
            width="142",
            height="56",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/ecf9a7f8-telefonica-logo.png",
            alt="Telefonica",
            width="262",
            height="200",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/a2d775c7-tomtom-logo.png",
            alt="Tomtom",
            width="96",
            height="100",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/51f36a7f-barnes&noble-logo.png",
            alt="Barnes & Noble",
            width="96",
            height="86",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/c3ec0310-firmus-logo.png",
            alt="firmus",
            width="96",
            height="108",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/ca90bae9-gamma-logo.png",
            alt="Gamma",
            width="96",
            height="87",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/97e69edd-docaposte-logo.png",
            alt="docapost",
            width="800",
            height="600",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/4f5f6aa8-dyson-logo.png",
            alt="dyson",
            width="96",
            height="172",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/20497ee2-onetrail-logo.png",
            alt="onetrail",
            width="96",
            height="116",
            hi_def=True,
            loading="lazy"
            ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <hr class="p-rule">
</div>

<section class="p-strip">
  <div class="row" style="margin: 2rem auto;">
    <h2>
      Case study: <a href="https://ubuntu.com/engage/kubernetes-openstack-case-study-firmus">Firmus builds a sustainable
        supercloud with Canonical</a>
    </h2>
  </div>
</section>

<div class="row">
  <hr class="p-rule">
</div>


<section class="p-section--shallow">
  <div class="row--50-50">
    <div class="col">
      <h2>We mind your ops,<br />you mind your business</h2>
    </div>
    <div class="col u-no-padding--top">
      <p>Open source IT solutions are the future when it comes to technology, but can often be challenging to maintain.
        Managed IT services are a solution that allows you to harness the power of open source without the hassle of
        maintenance.
      </p>
      <p>
        Canonical’s Managed Solutions is a service that identifies, deploys, and manages open source ecosystems for you
        at predictable costs. This way, you can access our market-leading open source expertise and focus more of your
        resources on your core business.

      </p>
      <p><a class="p-button--positive" href="/managed#get-in-touch">Tell us what you need</a></p>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-section--shallow">
  <div class="row--50-50">
    <div class="col">
      <h2>Key benefits</h2>
    </div>
    <div class="col">
      <ul class="p-list--ticked">
        <li class="p-list__item is-ticked">
          <p>Access to market-leading technological expertise</p>
        </li>
        <li class="p-list__item is-ticked">
          <p>Enterprise-grade security and compliance</p>
        </li>
        <li class="p-list__item is-ticked">
          <p>24/7 monitoring and incident resolution</p>
        </li>
        <li class="p-list__item is-ticked">
          <p>Significant reductions in CAPEX</p>
        </li>
        <li class="p-list__item is-ticked">
          <p>Ingrained observability</p>
        </li>
        <li class="p-list__item is-ticked">
          <p>24/7 support included with <a href="/pro">Ubuntu Pro</a></p>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-section--shallow">
  <div class="row--50-50">
    <div class="col">
      <h2>Managed packages</h2>
    </div>
    <div class="col">
      <p>Besides providing managed services for most of our products, we propose a series of pre-packaged solutions for
        the most frequent business challenges. </p>
    </div>
  </div>
  <div class="row--25-75">
    <div class="col">
      <div class="row">
        <div class="col-3">
          <hr class="p-rule--highlight" />
          <h4>Private cloud</h4>
        </div>
        <div class="col-6">
          <hr />
          <p>Enjoy your own private cloud without worrying about its deployment or maintenance</p>
          <ul class="p-list--ticked">
            <li class="p-list__item is-ticked">
              <p>Hardware consulting and certification</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Fully automated ecosystem, from bare metal automation to apps, made in-house</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Accelerated time to market</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Proactive upgrades</p>
            </li>
          </ul>
          <a href="/openstack/managed">Explore managed private cloud options&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row--25-75" style="margin-top: 2rem;">
    <div class="col">
      <div class="row">
        <div class="col-3">
          <hr class="p-rule--highlight" />
          <h4>AI infrastructure</h4>
        </div>
        <div class="col-6">
          <hr />
          <p>Stay ahead of the competition with fully managed MLOps infrastructure that enables you to deploy high
            complexity models</p>
          <ul class="p-list--ticked">
            <li class="p-list__item is-ticked">
              <p>Fully integrated <a href="/ai/mlops">MLOps solution</a>, available on-prem or on public cloud</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Faster project delivery</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Reliable experts to speed up your AI journey</p>
            </li>
          </ul>
          <a href="https://charmed-kubeflow.io/docs/get-started-with-charmed-kubeflow">Get started with
            Kubeflow&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row--25-75" style="margin-top: 2rem;">
    <div class="col">
      <div class="row">
        <div class="col-3">
          <hr class="p-rule--highlight" />
          <h4>Telco cloud</h4>
        </div>
        <div class="col-6">
          <hr />
          <p>Expand your reach and achieve market-leading uptime for your telco clouds</p>
          <ul class="p-list--ticked">
            <li class="p-list__item is-ticked">
              <p>Fully compliant ecosystems with consistent security hardening</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>24/7 observability and monitoring</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Infinite scalability from the get-go</p>
            </li>
          </ul>
          <a href="/blog/telco-cloud-what-is-that">Learn more about telco clouds&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row--25-75" style="margin-top: 2rem;">
    <div class="col">
      <div class="row">
        <div class="col-3">
          <hr class="p-rule--highlight" />
          <h4>Cloud apps</h4>
        </div>
        <div class="col-6">
          <hr />
          <p>Enhance the security and reliability of your containers, databases, and service buses with fully managed
            apps</p>
          <ul class="p-list--ticked">
            <li class="p-list__item is-ticked">
              <p>Extensive suite of in-house automated apps</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Adaptable security and compliance certifications</p>
            </li>
            <li class="p-list__item is-ticked">
              <p>Assured high availability via site/geo redundancy</p>
            </li>
          </ul>
          <a href="/managed/apps">Explore our managed apps story&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-section-shallow">
  <div class="row--50-50">
    <div class="col">
      <h2>Our process</h2>
    </div>
    <div class="col">
      <p>Our Managed Solutions process is easy and intuitive. You’ll initially be consulted by our specialists to design
        the best managed solution for your needs. Afterwards, it’s all on us:</p>
      <ol class="p-stepped-list">
        <li class="p-stepped-list__item">
          <hr />
          <h5 class="p-stepped-list__title">
            Deployment
          </h5>
          <div class="p-stepped-list__content">
            Specialised Canonical engineers deploy your required architecture sustainably and efficiently.
          </div>
        </li>
        <li class="p-stepped-list__item">
          <hr />
          <h5 class="p-stepped-list__title">
            Management
          </h5>
          <div class="p-stepped-list__content">
            Our team manages all your ‘day 2’ operations, from observability to upgrades. We handle all issues, and
            consistently re-enforce the security of your environment.
          </div>
        </li>
        <li class="p-stepped-list__item">
          <hr />
          <h5 class="p-stepped-list__title">
            Optional handover
          </h5>
          <div class="p-stepped-list__content">
            We’re lock-in free, so if after a while you want to start managing your environments by yourself, we can
            teach you how and give you remote support for high-severity cases.
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-section">
  <div class="row--25-75">
    <div class="col">
      <h2>Our offering</h2>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-medium-2 col-3">
          <hr class="p-rule--highlight">
          <h2>2 products</h2>
          <!-- image will be added here -->
        </div>
        <div class="col-medium-2 col-3">
          <hr class="p-rule--highlight">
          <h2>2 add-ons</h2>
          <!-- image will be added here -->
        </div>
        <div class="col-medium-2 col-3">
          <hr class="p-rule--highlight">
          <h2>0 hassle</h2>
          <!-- image will be added here -->
        </div>
      </div>
    </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-section">
  <div class="row--25-75">
    <div class="col">
      <h2>Your options</h2>
    </div>
    <div class="col">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Managed solutions</th>
            <th>Firefighting Support</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h5>What it is</h5>
            </td>
            <td>Canonical engineers deploy your environment and manage all operations. We maintain admin
              rights and a permanent connection.</td>
            <td>Canonical engineers provide support and guidance in high-severity situations, while you
              manage your operations.</td>
          </tr>
          <tr>
            <td>
              <h5><a href="/pro">Ubuntu Pro</a> + Support 24/7</h5>
            </td>
            <td>included</td>
            <td>included</td>
          </tr>
          <tr>
            <td>
              <h5>Service levels</h5>
            </td>
            <td>1-hr SLA for high severity cases, all other cases addressed in under 24h</td>
            <td>1-hr SLA for high severity cases</td>
          </tr>
          <tr>
            <td>
              <h5>Incident management</h5>
            </td>
            <td>Unlimited, covering cases we identify ourselves or flagged by you</td>
            <td>Only for high severity cases that impact the product’s core functionality </td>
          </tr>
          <tr>
            <td>
              <h5>Service requests</h5>
            </td>
            <td>Unlimited</td>
            <td>One at a time per environment</td>
          </tr>
          <tr>
            <td>
              <h5>Backup & recovery</h5>
            </td>
            <td>Unlimited</td>
            <td>Not covered</td>
          </tr>
          <tr>
            <td>
              <h5>Software & package updates</h5>
            </td>
            <td>Unlimited</td>
            <td>Not covered</td>
          </tr>
          <tr>
            <td>
              <h5>Capacity reports</h5>
            </td>
            <td>Available</td>
            <td>Unavailable</td>
          </tr>
          <tr>
            <td>
              <h5>Admin access</h5>
            </td>
            <td>Required</td>
            <td>Not required</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>

<div class="u-fixed-width">
  <hr>
</div>

<section class="p-section--shallow">
  <div class="row--50-50">
    <div class="col">
      <h2>Add-on support for managed solutions</h2>
    </div>
    <div class="col">
      <p>Go beyond operation management with our suite of add-ons designed to give you access to training, priority support, or assistance with non-operational queries.</p>
    </div>
  </div>
  <div class="row--25-75">
    <div class="col">
      <hr/>
      <div class="row">
        <div class="col-3">
          <h5>Ops consulting</h5>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <p>On-demand, private sessions with Managed Services engineers specialised in specific products or operations
                </p>
                <hr/>
            </li>
            <li>
              <p>Useful when learning to self-manage, training new teams, or planning migrations</p>
              <hr/>
            </li>
            <li>
              <p>Essential before and after major changes in infrastructure, as well as handovers</p>
              <hr/>
            </li>
            <li>
              <p>Available in monthly packages of 10, 20, or 40 hourse</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row--25-75">
    <div class="col">
      <hr/>
      <div class="row">
        <div class="col-3">
          <h5>Dedicated Support Engineer (DSE)</h5>
        </div>
        <div class="col-6">
          <ul>
            <li>
              <p>Your own Canonical Managed Services engineer, who will prioritise your cases and needs</p>
                <hr/>
            </li>
            <li>
              <p>Dedicated one-on-one engineering time eight hours a day, five days a week, at your discretion</p>
              <hr/>
            </li>
            <li>
              <p>Recommended in deployments of over 200 nodes</p>
              <hr/>
            </li>
            <li>
              <p>Fixed price per year, no matter the node count</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}