/*	@section devices
-------------------------------------------------------------- */
body.devices .row-hero .twelve-col { padding: 0 1em; }
body.devices .row-hero .eight-col { margin-bottom: 0; }

body.devices .box-highlight { 
	border: 0; 
	margin-bottom: 40px;
}

body.devices-home .row-hero h2 { @include font_size (23); }
body.devices .row img.touch-border { 
  margin-bottom: -$gutter_width; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body.devices-home .row-hero div div { @include columns (2, 20); }

.box-family img { margin: 20px 0; }

.box-build { background: #fff; }

body.devices .box-build .six-col { margin-bottom: 0; }

/* @subsection devices > tv */

.feature-list-four li {
	background: #fff;
	padding: $gutter_width;
}

body.devices .row-hero { 
	@include rounded_corners(0 0 0 0); 
	overflow: hidden; 
}

.row-get-involved .article {
	background-image: url(../img/pictograms/pictogram-community-124x124.gif);
	background-position: $nine_col top;
}

.row-contributors .article {
	background-image: url(../img/pictograms/pictogram-discussion-124x124.gif);
	background-position: $nine_col top;
}

.devices-commercial-info .row-engineering .article,
.row-code-download .article, 
.row-licensing .article,
.row-engineering .article {
	background-repeat: no-repeat;
	background-position: $one_col 48px;
	padding: 0 0 $gutter_width $four_col;
}

.row-code-download .article {
	background-image: url(../img/pictograms/pictogram-download-124x124.gif);
}