/*	@section partners
-------------------------------------------------------------- */
body.partners {
	.row:last-child {
		border-bottom: 0;
	}
	.four-col h2 {
		@include font_size (23); /* Same as h3 */
	}

} /*  end @section partners */
body.partners-arm .row div {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

body.partners-home .row {
	border-bottom: 0;
}

body.partners .row-hero div {
	-moz-column-count: inherit;
	-webkit-column-count: 1;
	column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
	column-gap: 0;
}

body.partners-dell #dell-quotes {
	border-top: 1px dotted $warm_grey;
	padding-top: 20px;
}

body.partners-dell #dell-quotes p {
		@include font_size (16); /* Same as h3 */
}

body.partners-dell #servers img {
	margin-bottom: 20px;
}

body.partners-dell-dellxps .row-hero {
	background: url(../img/homepage/dell_sputnik.png) 94% 50px no-repeat;
}

body.partners-dell-dellxps #dell-buy-now {
	float: left;
}

body.partners-dell-dellxps #dell-buy-now a  {
	display: block;
}

body.partners-dell-dellxps .border {
	border-bottom: 1px dotted #AEA79F;
	padding-bottom: 10px;
}

body.partners-find-a-partner,
body.partners-certified-software {

  .row-hero .link-cta-ubuntu {
    margin-top: 20px;
  }

  .box {

    img {
      max-height: 50px;
      margin-bottom: 10px;
    }

    h3 {
      color: $warm_grey;
      font-size: 15px;
      margin-bottom: $gutter_width;
    }
  }

  ul {
    margin-bottom: 10px;
  }

  .list-partners li:nth-child(3n) {
		margin-right: 0;
  }
}
body.partners-find-a-partner-hardware .box p:first-child {
	min-height: 60px;
	margin-bottom: 0;
}
body.partners-hp {
  blockquote.pull-quote p cite {
    margin: 10px 0 0;
    text-indent: 0;
  }

  .hp-pcs {
    background: url("../img/partners/hp-partners-laptop.jpg") no-repeat scroll 670px 18px #fff;
    padding-bottom: 70px;
  }
  .server-hp-proliant {
    background: url("../img/partners/hp-partners-server.jpg") no-repeat scroll -213px 30px #fff;
    padding-bottom: 40px;
    padding-top: 65px;
  }
  .certified-software img {
    margin-top: 30px;
  }
}

body.partners-ubuntu-certified-home .row-hero {
	background: url("../img/partners/ubuntu-certified-hero.png") 93% 0 no-repeat;
	min-height: 261px;
}

body.partners-become-a-partner h2.isv-partner,
body.partners-become-a-partner h2.reseller-partner,
body.partners-become-a-partner h2.hardware-partner {
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 40px;
}

body.partners-become-a-partner h2.isv-partner { background-image: url("../img/partners/pictogram-become-a-partner-isv.png"); }
body.partners-become-a-partner h2.reseller-partner { background-image: url("../img/partners/pictogram-become-a-partner-reseller.png"); }
body.partners-become-a-partner h2.hardware-partner { background-image: url("../img/partners/pictogram-become-a-partner-hardware.png"); }

body.partners-partner-services .row-hero {
 background: url(../img/partners/partner-services-hero.png) 90% 50% no-repeat;
}
