{% extends "solutions/base_solutions.html" %}

{% block title %}Cloud-native app development{% endblock %}

{% block meta_description %}
  Cloud-native app development made easy | Canonical offers you a composable cloud-native platform with the same reliability and quality support you know from Ubuntu.
{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1xn9QcJ7OfELzRBtUlu-WkSSnC9lYideoUu-YV1yBNIU/edit
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "macros/_macros-quote-wrapper.jinja" import vf_quote_wrapper %}

{% block content %}
  {%- call(slot) vf_hero(
    title_text='Composable <br class="u-hide-small u-hide-medium" /> cloud-native app development, <br class="u-hide-small u-hide-medium" /> without the complexity',
    layout='50/50',
    ) -%}
    {%- if slot == 'description' -%}
      <p>
        Modernize your apps without friction or lock-in. You don't have to choose between the freedom that composability offers, and the high costs. Canonical offers you a cost-effective approach and the containers, toolchains and development frameworks you need to deliver on your vision. Bring your team together on a composable cloud-native app platform both your DevOps engineers and C-suite will love.
      </p>
    {%- endif -%}
    {%- if slot == 'cta' -%}
      <a class="p-button--positive js-invoke-modal"
         href="/ai/mlops-workshop#get-in-touch">Get in touch</a>
    {%- endif -%}
  {%- endcall -%}

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>Why Canonical?</h2>
      </div>
      <div class="col">
        <ul class="p-list--divided">
          <li class="p-list__item is-ticked">Fast remediation for CVEs</li>
          <li class="p-list__item is-ticked">12-year security maintenance and support commitment</li>
          <li class="p-list__item is-ticked">20-year track record of reliability</li>
          <li class="p-list__item is-ticked">Hybrid, multi-cloud portfolio</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50-on-large">
      <hr class="p-rule" />
      <div class="col">
        <div class="p-section--shallow">
          <h2>Let us handle the dependencies</h2>
        </div>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-image-container u-hide--medium u-hide--small">
            {{ image(url="https://assets.ubuntu.com/v1/42890a16-Let us handle the dependencies.png",
                        alt="",
                        width="1800",
                        height="1013",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
        </div>
        <div>
          <p>
            7 in 10 teams spend more than 6 hours per week on security patching*, but most are dissatisfied with their ability to fix vulnerabilities quickly.
          </p>
          <p>
            Managing dependencies is hard, repetitive and not value-creating - why do that? Let your developers focus on new features and develop with the latest and greatest open source, available in Ubuntu's trusted repositories.
          </p>
          <p>We'll handle the security maintenance.</p>
          <p class="u-text--muted">*Source: IDC, 2025</p>
        </div>
        <div class="p-cta-block">
          <a href="/containers">Build with trusted containers&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <hr class="p-rule is-fixed-width" />
  <section class="p-strip is-deep">
    <div class="u-fixed-width">
      <p class="p-heading--2">
        Research shows 9 out of 10 companies prefer to
        <br class="u-hide-small u-hide-medium" />
        pull packages from their OS.
      </p>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50-on-large">
      <hr class="p-rule" />
      <div class="col">
        <div class="p-section--shallow">
          <h2>Deploy and move forward</h2>
        </div>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <div class="p-image-container u-hide--medium u-hide--small">
            {{ image(url="https://assets.ubuntu.com/v1/cb2c0edf-Deploy and move forward.png",
                        alt="",
                        width="1800",
                        height="1013",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-image-container__image"}) | safe
            }}
          </div>
        </div>

        <div>
          <p>
            Constant Kubernetes upgrades are a drain on enterprise teams. With us, you can move at your own pace and keep your team focused on innovation, not infrastructure. We ship a Kubernetes LTS every 2 years and provide security updates for 12 full years.
          </p>
          <p>Prefer to move faster? Benefit from upstream releases every four months with 14 months of security maintenance.</p>
        </div>
        <div class="p-cta-block">
          <a href="/kubernetes">Discover Canonical Kubernetes&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50-on-large">
      <hr class="p-rule" />
      <div class="col">
        <div class="p-section--shallow">
          <h2>Run your apps on any cloud</h2>
        </div>
      </div>
      <div class="col">
        <div>
          <p>
            Run your workloads across clouds for price performance and flexibility. We support our Kubernetes and containers on premise and across public clouds.
          </p>
          <p>Our software operators and orchestration engine help you lower complexity in managing different cloud APIs.</p>
        </div>
        <div class="p-cta-block">
          <a href="/engage/hybrid-cloud-strategy-playbook">Read our hybrid cloud playbook&nbsp;&rsaquo;</a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
      <h2 class="p-muted-heading">Our public cloud partners</h2>
      <div class="p-logo-section">
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/fb8052ef-aws-logo.png",
                        alt="AWS",
                        width="151",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/e3b1f149-microsoft-azure-logo.png",
                        alt="Microsoft Azure",
                        width="272",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/81576433-google-cloud-logo.png",
                        alt="Googe Cloud",
                        width="382",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">

            {{ image(url="https://assets.ubuntu.com/v1/b2206c85-oracle-new-logo.png",
                        alt="Oracle",
                        width="313",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image(url="https://assets.ubuntu.com/v1/91e45f52-ibm-cloud-logo.png",
                        alt="IBM Cloud",
                        width="295",
                        height="312",
                        hi_def=True,
                        loading="lazy",
                        attrs={"class": "p-logo-section__logo"}) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <hr class="is-fixed-width p-rule" />
    <div class="row--50-50-on-large">
      <div class="col">
        <h2>
          Choose your
          <br class="u-hide-small u-hide-medium" />
          app modernization journey
        </h2>
      </div>
      <div class="col">
        <div>
          <p>
            We enable you to deliver cloud-native solutions without being locked into rigid and static frameworks. With our composable approach, you can select and integrate the components that fit your use case and workflow. Our portfolio ensures you can customize, adapt and augment those solutions as your needs evolve. Whether it's greenfield projects or deployments in existing CI/CD systems, our tools are modular enough to meet your specific architecture requirements.
          </p>
        </div>
        <div class="p-tabs js-tabbed-content">
          <div class="p-tabs__list"
               role="tablist"
               aria-label="App modernization journey">
            <div class="p-tabs__item">
              <button class="p-tabs__link"
                      role="tab"
                      aria-selected="true"
                      aria-controls="ready-to-go-tab"
                      id="ready-to-go">Ready to go</button>
            </div>
            <div class="p-tabs__item">
              <button class="p-tabs__link"
                      role="tab"
                      aria-selected="false"
                      aria-controls="build-your-own-tab"
                      id="build-your-own"
                      tabindex="-1">Build your own</button>
            </div>
            <div class="p-tabs__item">
              <button class="p-tabs__link"
                      role="tab"
                      aria-selected="false"
                      aria-controls="custom-build-tab"
                      id="custom-build"
                      tabindex="-1">Custom build</button>
            </div>
          </div>

          <div tabindex="0"
               role="tabpanel"
               id="ready-to-go-tab"
               aria-labelledby="ready-to-go">
            <div class="p-section--shallow">
              <p class="p-heading--3">Trusted artifacts for any infrastructure</p>
              <p>
                Consume fully maintained data application container images. Enjoy the full benefits of cloud-native architecture without compromising security or compounding operational complexity.
              </p>
              <p>
                Our database containers are fully OCI-compliant, and can run on any OCI-compliant platform, including Azure Kubernetes Service (AKS), Amazon Elastic Kubernetes Service (EKS), and Red Hat OpenShift.
              </p>
            </div>
            <div class="p-cta-block">
              <a href="">Read more on our blog&nbsp;&rsaquo;</a>
            </div>
            <div class="p-cta-block">
              <a href="">Learn about our data solutions portfolio&nbsp;&rsaquo;</a>
            </div>
          </div>

          <div tabindex="0"
               role="tabpanel"
               id="build-your-own-tab"
               aria-labelledby="build-your-own">
            <div class="p-section--shallow">
              <div class="p-section--shallow">
                <p class="p-heading--3">Developers love our tools</p>
                <p>
                  Access the widest open source library with a consistent security maintenance commitment, and build on FIPS compliant images. Benefit from the same consistent experience everywhere - it's still the same Canonical software you'd find in your laptop, bare metal machines and VMs.
                </p>
              </div>
              <hr class="p-rule--muted" style="margin-bottom : 0;" />
              <ul class="p-list--divided">
                <li class="p-list__item has-bullet">
                  <a href="">Build hardened and optimized containers with Rockcraft</a> - so solid, we call them rocks.
                </li>
                <li class="p-list__item has-bullet">
                  <a href="">Chisel your containers</a> - trim out what you don't need for maximum efficiency.
                </li>
                <li class="p-list__item has-bullet">
                  <a href="">Automate application lifecycle management with charms</a> - let Kubernetes operators do the heavy lifting.
                </li>
              </ul>
            </div>
          </div>

          <div tabindex="0"
               role="tabpanel"
               id="custom-build-tab"
               aria-labelledby="custom-build">
            <div class="p-section--shallow">
              <div class="p-section--shallow">
                <p class="p-heading--3">Container Build Service</p>
                <p>
                  Speed up your modernization journey with our Container Build Service. We deliver container images to your spec, and support on RHEL, VMware, Ubuntu or major public cloud Kubernetes. Contact us for an initial assessment.
                </p>
              </div>
              <div class="p-cta-block">
                <a href="" class="js-invoke-modal p-button--positive">Get in touch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="row">
      <div class="col-3">
        <h2 class="p-text--small-caps">What our customers say</h2>
      </div>
      <div class="col-9 col-start-large-4 col-medium-3 col-start-medium-4">
        {% call(slot) vf_quote_wrapper(
          quote_size="small",
          quote_text="We wanted one service provider for the whole on-premise cloud consisting not only of Kubernetes but also the Ceph storage solution, PostgreSQL and Kafka. These were all the services that were needed and with Canonical we could have one joined-up approach.",
          citation_source_name_text="Michael Hawkshaw",
          citation_source_title_text="ESA Mission Operations Infrastructure IT Service Manager",is_shallow=True,
          show_hr=False,
          citation_layout="vertical"

          ) -%}

          {%- if slot == 'signpost_image' -%}
            <img src="https://assets.ubuntu.com/v1/7f86c701-esa%20logo.png"
                 width="100"
                 alt="ESA logo" />
          {%- endif -%}
        {% endcall -%}
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 col-medium-3 col-start-medium-4">
        <hr class="p-rule--muted" />
        {% call(slot) vf_quote_wrapper(
          quote_size="small",
          quote_text="Canonical's Charmed Kubernetes delivered on our expectations and made scaling a non-issue.",
          citation_source_name_text="Miguel Rodríguez",
          citation_source_title_text="IT Project Manager",
          citation_source_organisation_text="Atresmedia",
          is_shallow=True,
          show_hr=False,
          citation_layout="vertical"

          ) -%}

          {%- if slot == 'signpost_image' -%}
            <img src="https://assets.ubuntu.com/v1/6a7ebbc7-atresmedia-logo.png"
                 width="150"
                 alt="atresmedia logo" />
          {%- endif -%}
        {% endcall -%}
      </div>
    </div>
    <div class="row">
      <div class="col-9 col-start-large-4 col-medium-3 col-start-medium-4">
        <hr class="p-rule--muted" />
        {% call(slot) vf_quote_wrapper(
          quote_size="small",
          quote_text="Our work with Canonical has been that of a true team partnership, bringing the best out of one another to the extent that our platform is now supporting use cases beyond anything we envisaged when we started this journey.",
          citation_source_name_text="Greg McCall",
          citation_source_title_text="Chief Networks Officer",
          citation_source_organisation_text="BT Group",
          is_shallow=True,
          show_hr=False,
          citation_layout="vertical"

          ) -%}

          {%- if slot == 'signpost_image' -%}
            <img src="https://assets.ubuntu.com/v1/98d26e0f-logo.png"
                 width="60"
                 alt="BT logo" />
          {%- endif -%}
        {% endcall -%}
      </div>
    </div>
  </section>

  <section class="p-section">
    <div class="row--50-50">
      <hr class="p-rule" />
      <div class="col">
        <h2>More resources</h2>
      </div>
      <div class="col">
        <div class="p-section--shallow">
          <ul class="p-list--divided">
            <li class="p-list__item u-no-padding--bottom">
              <p>
                <a href="/engage/container-security-guide">Read our guide to container security</a>
              </p>
              <p>The 4S strategy for building and operating containers at scale, securely.</p>
            </li>
            <li class="p-list__item u-no-padding--bottom">
              <p>
                <a href="/engage/European-space-agency-case-study">Learn from our customers: European Space Agency</a>
              </p>
              <p>Read the case study to find out how ESA modernized its infrastructure with Canonical Kubernetes.</p>
            </li>
            <li class="p-list__item u-no-padding--bottom">
              <p>
                <a href="/containers/chiseled">Learn about chiseled Ubuntu</a>
              </p>
              <p>Get your distroless containers from your favorite distro. Read about our approach to minimal containers.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
