{% extends "subscription-centre/base_subscription-centre.html" %}

{% block title %}Subscription Centre{% endblock %}

{% block content %}
<section class="p-strip--suru-topped" style="padding-top:192px">
  <div class="row">
    <div class="col-4">
      <h1 class="p-heading--2">Subscription centre</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-8">
      <form id="subscription-centre" method="post">
        <label class="p-checkbox">
          <input id="general-updates" type="checkbox" aria-labelledby="generalUpdates" class="p-checkbox__input" name="generalUpdates" value="true" {% if updatesOptIn %}checked{% endif %}>
          <span class="p-checkbox__label">Include regular updates about Canonical's products and services, including webinar and event invites</span>
        </label>      
        <hr class="p-separator is-shallow">
        <div class="row">
          <div class="col-6">
            <div class="p-accordion">
              <ul class="p-accordion__list" id="subscriptions-list">
                {% for category in categories %}
                  <li class="p-accordion__group">
                    <div role="heading" aria-level="1" class="p-accordion__heading">
                      <button type="button" class="p-accordion__tab" id="tab{{ loop.index }}" aria-controls="tab{{ loop.index }}-section" aria-expanded="false"><strong>{{ category }}</strong></button>
                    </div>
                    <section class="p-accordion__panel has-tick-elements" id="tab{{ loop.index }}-section" aria-controls="tab{{ loop.index }}-section" aria-hidden="true">
                      <div class="row">
                        {% for tag in categories[category] %}
                          <div class="col-3">
                            <label class="p-checkbox">
                              <input type="checkbox" class="p-checkbox__input" name="{{ catagory }}" aria-labelledby="{{ tag }}" value="{{ tag }}" {% if tag in interests %}checked{% endif %}>
                              <span class="p-checkbox__label" id="{{ tag }}">{{ tag }}</span>
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </section>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="u-hide">
          <h3>Your subscriptions</h3>
            <label for="Subscriptions_list">What would you like to talk to us about?</label>
            <textarea id="Subscriptions_list" name="Subscriptions_list" rows="5" maxlength="2000"></textarea>
        </div>
      </form>
    </div>
  </div>
  <hr class="p-separator is-fixed-width">
  <div class="row">
    <div class="col-6 col-medium-3 col-small-2">
      <p><button id="unsubscribe" class="p-button u-float-left" aria-controls="modal">Unsubscribe</button></p>
    </div>
    <div class="col-6 col-medium-3 col-small-2">
      <p><button id="update-preferences" form="subscription-centre" class="p-button--positive u-float-right">Update Preferences</button></p>
    </div>
  </div>
</section>

<div class="p-modal" id="modal">
  <section class="p-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modal-title" aria-describedby="modal-description">
    <header class="p-modal__header">
      <h2 class="p-modal__title" id="modal-title">Unsubscribe</h2>
      <button class="p-modal__close" aria-label="Close active modal" aria-controls="modal">Close</button>
    </header>
    <p id="modal-description">Are you sure you want to unsubscribe from all topics?</p>
    <footer class="p-modal__footer">
      <button class="u-no-margin--bottom" aria-controls="modal">Cancel</button>
      <button class="p-button--negative u-no-margin--bottom">Unsubscribe</button>
    </footer>
    </div>
  </section>
</div>

<script src="/static/js/src/modal.js"></script>
<script>
  initModals('#modal', '[aria-controls=modal]', false)
</script>
<script>
  const createSubsString = () => {
    const subsWrapper = document.querySelector("#subscriptions-list");
    const subsInputs = subsWrapper.querySelectorAll("input[type=checkbox]")
    const subsString = [].reduce.call(subsInputs, function(acc, ele) {
      return ele.checked ? ele.value + ',' + acc : acc;
    }, '');

    const subListInput = document.querySelector("#Subscriptions_list");
    subListInput.value = subsString;
    return;
  }

  const handleSubmit = async () => {
    await createSubsString();
    const form = document.querySelector("#subscription-centre");
    form.submit();
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelector("#update-preferences").addEventListener("click", handleSubmit);
  })
</script>

{% endblock content%}

