{% extends "download/_base_download.html" %}

{% block title %}How to verify your Ubuntu download{% endblock %}

{% block meta_description %}How to verify your Ubuntu ISO against our sha-256 checksums.{% endblock %}

{% block second_level_nav_items %}
  <div class="strip-inner-wrapper">
    {% include "templates/_nav_breadcrumb.html" with section_title="Download" subsection_title="Desktop" page_title="Alternative downloads"  %}
  </div><!-- /.strip-inner-wrapper -->
{% endblock second_level_nav_items %}

{% block content %}
<div class="row equal-height">
    <div class="strip-inner-wrapper">
      <div class="nine-col">
        <div class="equal-height__item">
            <h1>How to verify your Ubuntu download</h1>

            <div class="box warning">
              <p><strong>NOTE:</strong> You will need to use a terminal app to verify an Ubuntu ISO image. These instructions assume basic knowledge of the command line, checking of SHA256 checksums and use of GnuPG.</p>
            </div>

            <p>Verifying your ISO helps insure the data integrity and authenticity of
            your download. The process is fairly straightforward, but it involves a
            number of steps. They are:</p>
            <ol>
                <li>Download SHA256SUMS and SHA256SUMS.gpg files</li>
                <li>Get the key used for the signature from the Ubuntu key server</li>
                <li>Verify the signature</li>
                <li>Check your Ubuntu ISO with sha256sum against the downloaded sums</li>
            </ol>
            <p>After verifying the ISO file, you can then either install Ubuntu or run it live from your CD/DVD or USB drive.</p>
        </div><!-- /.eight-col -->
    </div>
  </div>
</div>

<div class="row">
  <div class="strip-inner-wrapper">
    <div class="nine-col">
      <ol class="list-stepped">
        <li class="list-stepped__item">
          <h3 class="list-stepped__title">
            Download sums
            </h3>
            <p>Download the SHA256SUMS and SHA256SUMS.gpg files from any of the mirrors and put them in the same directory.</p>
            <p><a href="http://releases.ubuntu.com/{{ lts_release }}">Download sums and signature for {{ lts_release_full }}&nbsp;&rsaquo;</a></p>
            <img src="https://assets.ubuntu.com/v1/f1cce1af-verify-1-releases.png" alt="Verify release screenshot" />
        </li>

        <li class="list-stepped__item">
            <h3 class="list-stepped__title">
              Get the signature key
            </h3>

            <div class="box box-tip">
              <p><b>Tip:</b> On non-Linux systems, you might need to download the GPG tools for this next step. To check if you have the GPG tools installed, run the command <code>gpg --version</code> or <code>gpg2 --version</code>.</p>
            </div>

            <p>Get the public keys from the Ubuntu key server and add them to your keyring.</p>

            <pre>
                <code>
$ gpg --keyserver hkp://keyserver.ubuntu.com --recv-keys "8439 38DF 228D 22F7 B374 2BC0 D94A A3F0 EFE2 1092" "C598 6B4F 1257 FFA8 6632 CBA7 4618 1433 FBB7 5451"
gpg: directory `/home/ubuntu/.gnupg' created
gpg: new configuration file `/home/ubuntu/.gnupg/gpg.conf' created
gpg: WARNING: options in `/home/ubuntu/.gnupg/gpg.conf' are not yet active during this run
gpg: keyring `/home/ubuntu/.gnupg/secring.gpg' created
gpg: keyring `/home/ubuntu/.gnupg/pubring.gpg' created
gpg: requesting key EFE21092 from hkp server keyserver.ubuntu.com
gpg: requesting key FBB75451 from hkp server keyserver.ubuntu.com
gpg: /home/ubuntu/.gnupg/trustdb.gpg: trustdb created
gpg: key EFE21092: public key "Ubuntu CD Image Automatic Signing Key (2012) <cdimage@ubuntu.com>" imported
gpg: key FBB75451: public key "Ubuntu CD Image Automatic Signing Key <cdimage@ubuntu.com>" imported
gpg: no ultimately trusted keys found
gpg: Total number processed: 2
gpg:               imported: 2  (RSA: 1)
                </code>
            </pre>

            <p>Verify the key fingerprints</p>
            <pre>
              <code>
$ gpg --list-keys --with-fingerprint 0xFBB75451 0xEFE21092
pub 1024D/FBB75451 2004-12-30
Key fingerprint = C598 6B4F 1257 FFA8 6632 CBA7 4618 1433 FBB7 5451
uid Ubuntu CD Image Automatic Signing Key cdimage@ubuntu.com

pub 4096R/EFE21092 2012-05-11
Key fingerprint = 8439 38DF 228D 22F7 B374 2BC0 D94A A3F0 EFE2 1092
uid Ubuntu CD Image Automatic Signing Key (2012) cdimage@ubuntu.com
              </code>
            </pre>
        </li>

        <li class="list-stepped__item">
            <h3 class="list-stepped__title">
            Verify signature
            </h3>
            <p>Now you can verify the signature.</p>

            <div class="twelve-col ">
                <pre>
                    <code>
$ gpg --verify SHA256SUMS.gpg SHA256SUMS
gpg: Signature made Fri 25 Mar 04:36:20 2016 GMT using DSA key ID FBB75451
gpg: Good signature from "Ubuntu CD Image Automatic Signing Key &lt;cdimage@ubuntu.com>" [unknown]
gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.
Primary key fingerprint: C598 6B4F 1257 FFA8 6632  CBA7 4618 1433 FBB7 5451
gpg: Signature made Fri 25 Mar 04:36:20 2016 GMT using RSA key ID EFE21092
gpg: Good signature from "Ubuntu CD Image Automatic Signing Key (2012) &lt;cdimage@ubuntu.com>" [unknown]
gpg: WARNING: This key is not certified with a trusted signature!
gpg:          There is no indication that the signature belongs to the owner.
Primary key fingerprint: 8439 38DF 228D 22F7 B374  2BC0 D94A A3F0 EFE2 1092</code>
                </pre>
            </div>
            <div class="box">
              This is an example of a ‘good’ signature. GPG is only validating the integrity of the given file. The warning messages indicate that your current GnuPG trust database does not have trust information for the signing key and that, unless you have actually verified and signed one of the public keys belonging to signers of the Ubuntu ISO image signing key, you will get these warnings.
            </div>
        </li>

        <li class="list-stepped__item">
            <h3 class="list-stepped__title">
              Check the ISO
            </h3>
            <p>Now you need to generate a sha256 checksum for the downloaded ISO and compare it to the one you downloaded in your SHA256SUM file.</p>

            <p>Make sure the downloaded the SHA256SUMS and SHA256SUMS.gpg files are in the same directory as the Ubuntu iso. Then run the following commands in a terminal.</p>

            <p>On Ubuntu, the command to check will look like:</p>
            <pre class="twelve-col"><code>$ sha256sum -c SHA256SUMS 2>&amp;1 | grep OK</code></pre>

            <p>On Mac OS X, the command and good output will look like the following.</p>
            <pre class="twelve-col"><code>$ shasum -a 256 -c SHA256SUMS 2>&amp;1 | grep OK</code></pre>

            <p>If you’re using Windows, you may need to download a <a class="external" href="http://www.labtestproject.com/files/win/sha256sum/sha256sum.exe">SHA-256 tool</a> first. Once you have, your command will look like:
            <pre class="twelve-col"><code>$ sha256sum.exe -c SHA256SUMS</code></pre>

            <p>The output you want will look similar to the following:</p>
            <pre class="twelve-col"><code>ubuntu-16.04-desktop-amd64.iso: OK</code></pre>

            <p>If you get no results (or any result other than that shown above) you will need to check your download again.</p>
        </li>
      </ol>
    </div><!-- /.*-col -->
  </div><!-- /.strip-inner-wrapper -->
</div><!-- /.row -->

{% include "shared/contextual_footers/_contextual_footer.html"  with first_item="_download_more_info_enterprise" second_item="_download_all_installation" third_item="_download_helping_hands" %}

{% endblock content %}
