{% extends "download/_base_download.html" %}

{% block title %}Get Ubuntu | Download{% endblock %}

{% block meta_description %}Download Ubuntu desktop, Ubuntu Server, Ubuntu for Raspberry Pi and IoT devices, Ubuntu Core
and all the Ubuntu flavours. Ubuntu is an open-source software platform that runs everywhere from the PC to the server
and the cloud.{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1egsCcmFiz8czeHsvwoB9Jz815Ij5Urtf7Ngrru6Zd4o/edit{% endblock
meta_copydoc %}

{% block meta_image %}https://assets.ubuntu.com/v1/4d42e36c-Jammy+Jellyfish+RGB.svg{% endblock %}

{% block body_class %}is-paper{% endblock %}

{% block content %}

<section class="p-strip is-shallow u-no-padding--bottom">
  <div class="row--50-50 p-section">
    <div class="col">
      <h1>Download Ubuntu</h1>
    </div>
    <div class="col">
      <div class="p-section--shallow">
        <p>
        Ubuntu is the world's favourite Linux operating system. Run it on your laptop, workstation, server or IoT device, with five years of free security updates.
        </p>
      </div>
      <div class="p-image__background--3-2 u-vertically-center">
        {{
          image(
            url="https://assets.ubuntu.com/v1/69e634af-laptop-forubuntu-desktop.png",
            alt="",
            width="1801",
            height="954",
            hi_def=True,
            loading="auto",
          ) | safe
        }}
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row">
    <hr class="p-rule" />
    <div class="col-3 col-medium-6">
      <h2 class="p-text--small-caps">Choose the OS you need</h2>
    </div>
    <div class="col-9 col-medium-5 col-start-medium-2">
      <div class="p-section--shallow">
        <hr class="p-rule u-hide--small u-hide--large" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="/download/desktop">
              <h2>Desktop&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>Fast, free and full of new features. The latest release of Ubuntu Desktop delivers new tools and enhancements for developers, creators, gamers and administrators. Replace your current operating system or run Ubuntu alongside it.</p>
            <hr />
            <div class="p-section--shallow">
              <a href="/download/desktop" class="p-button--positive">Download Ubuntu Desktop</a>
              <span style="white-space: nowrap;">
                Do you want to upgrade?
                <a href="/tutorials/tutorial-upgrading-ubuntu-desktop">Follow our guide&nbsp;&rsaquo;</a>
              </span>
            </div>
            <hr />
            <div class="p-heading-icon--small p-section--shallow">
              <div class="p-heading-icon__header">
                <img 
                  alt="Windows logo"
                  class="p-heading-icon__img"
                  src="https://assets.ubuntu.com/v1/183c7231-windows_logo.svg"
                  style="width: 2.2rem; height: 2.2rem;"
                />
                <span class="p-heading-icon__title">
                  Use the Ubuntu terminal and run Linux applications on Windows.<br />
                  <a href="/wsl">Enable Windows Subsystem for Linux (WSL)</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="/download/server">
              <h2>Server&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>Whether you want to configure a simple file server or build a fifty thousand-node cloud, you can rely on Ubuntu Server and its five years of free updates.</p>
            <hr />
            <a href="/download/server" class="p-button--positive">Get Ubuntu Server</a>
          </div>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="/desktop/flavours">
              <h2>Flavours&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>Ubuntu flavours offer a unique way to experience Ubuntu with different choices of default applications and settings, backed by the full Ubuntu archive for packages and updates.</p>
          </div>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="/download/cloud">
              <h2>Cloud&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>Ubuntu is the leading cloud guest OS and the only free cloud operating system with the option of enterprise-grade commercial support.</p>
          </div>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="/download/iot">
              <h2>IoT&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>Are you a developer who wants to try snappy Ubuntu Core? The new, transactionally updated Ubuntu for clouds and devices.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-section">
  <div class="row">
    <hr class="p-rule" />
    <div class="col-3 col-medium-6">
      <h2 class="p-text--small-caps">Alternative downloads</h2>
    </div>
    <div class="col-9 col-medium-5 col-start-medium-2">
      <div class="p-section--shallow">
        <hr class="p-rule u-hide--small u-hide--large" />
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="/download/alternative-downloads#bittorrent">
              <h2 class="p-heading--5">BitTorrent downloads&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>BitTorrent is a peer-to-peer download network that sometimes enables higher download speeds and more reliable downloads of large files.</p>
          </div>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="https://launchpad.net/ubuntu/+cdmirrors">
              <h2 class="p-heading--5">Mirrors&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>For the full list of available Ubuntu images, we recommend you select a mirror local to you.</p>
          </div>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="https://releases.ubuntu.com/">
              <h2 class="p-heading--5">Past releases and other flavours&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>Looking for an older release of Ubuntu? Whether you need a POWER, IBMz (s390x), ARM, an obsolete release or a previous LTS point release with its original stack, you can find them in past releases.</p>
          </div>
        </div>
      </div>
      <hr class="p-rule" />
      <div class="p-section--shallow">
        <div class="row">
          <div class="col-3 col-medium-2">
            <a href="/download/alternative-downloads#network-installer">
              <h2 class="p-heading--5">Network installer&nbsp;&rsaquo;</h2>
            </a>
          </div>
          <div class="col-6 col-medium-3">
            <p>The network installer lets you install Ubuntu over a network. It includes the minimal set of packages needed to start and the rest of the packages are downloaded over the network.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "download/shared/_footer.html" %}

{% endblock content %}