{% extends "download/_base_download.html" %}

{% block title %}Install Ubuntu Core on KVM{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1FHIArLpuAyLe2gnDwymefvzc4Lg8dSGvN8QAl8wX18Q/edit{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip--light is-bordered">
  <div class="row">
    <div class="col-10">
      <h1>Install Ubuntu Core on KVM</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-card">
      <div class="u-equal-height row p-divider">
        <div class="col-6 p-divider__block">
          <h2>Install Ubuntu Core</h2>
          <p>We will walk you through the steps of installing Ubuntu Core 20 on your Linux desktop in a virtual machine.</p>
        </div>
        <div class="col-6 p-divider__block">
          <h3>Minimum requirements</h3>
          <ul class="p-list">
            <li class="p-list__item is-ticked">An Ubuntu SSO account with an SSH key</li>
            <li class="p-list__item is-ticked">A computer running Ubuntu Desktop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip is-deep is-bordered">
  <div class="u-fixed-width">
    <h2>Installation instructions</h2>
    <ol class="p-stepped-list--detailed">
      {% include "download/iot/_setup-ubuntu-sso.html" %}
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">

          Download Ubuntu Core
        </h3>
        <div class="p-stepped-list__content">
          <ul class="u-no-margin--left">
		  <li>Download the <a href="https://cdimage.ubuntu.com/ubuntu-core/20/stable/current/ubuntu-core-20-amd64.img.xz">Ubuntu Core 20 image for amd64</a>.</li>
            <li>You can verify the integrity of the files using the <a href="https://cdimage.ubuntu.com/ubuntu-core/20/stable/current/SHA256SUMS">SHA256SUM</a> and <a href="https://cdimage.ubuntu.com/ubuntu-core/20/stable/current/SHA256SUMS.gpg">SHA256SUM.gpg</a> files.</li>
            <li>
              <p>Uncompress the image with the following command:</p>
              <pre><code>unxz ubuntu-core-20-amd64.img.xz</code></pre>
            </li>
          </ul>
        </div>
      </li>
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">

          Install KVM
        </h3>
        <div class="p-stepped-list__content">
          <ol class="u-no-margin--left">
            <li>
              <p>Install the qemu-kvm package with the following command:</p>
              <pre><code>sudo apt install qemu-kvm ovmf</code></pre>
            </li>
            <li>
              <p>Then, run the kvm-ok command to check KVM status and your hardware:</p>
              <pre><code>kvm-ok</code></pre>
            </li>
            <li>
              <p>The message should say:</p>
              <pre><code>INFO: /dev/kvm exists
KVM acceleration can be used</code></pre>
              <p>This is the best outcome — it means that Ubuntu Core will run fast on your system, taking advantage of hardware acceleration in your CPU.</p>
          </li>
          </ol>
        </div>
      </li>
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">

          Launch KVM
        </h3>
        <div class="p-stepped-list__content">
          <p>You can now launch a virtual machine with KVM, using the following command:</p>
          <pre><code>qemu-system-x86_64 -smp 2 -m 2048 -net nic,model=virtio -net user,hostfwd=tcp::8022-:22,hostfwd=tcp::8090-:80 -vga qxl -drive file=/usr/share/OVMF/OVMF_CODE.fd,if=pflash,format=raw,unit=0,readonly=on -drive file=ubuntu-core-20-amd64.img,cache=none,format=raw,id=disk1,if=none -device virtio-blk-pci,drive=disk1,bootindex=1 -machine accel=kvm</code></pre>
          <p>
            Note: this command sets up port redirections:
            <ul>
              <li><code>localhost:8022</code> is redirecting to port <code>22</code> of the virtual machine for accessing it through SSH</li>
              <li><code>localhost:8090</code> is redirecting to its port <code>80</code></li>
            </ul>
          </p>
          <p>
            Note: this command is required for graphics such as mir-kiosk:
            <ul>
              <li><code>-vga qxl</code> sets the paravirtual graphics driver qxl</li>
            </ul>
          </p>
          <p>You should now see a window, with your Ubuntu Core virtual machine booting inside it.</p>
        </div>
      </li>
      {% include "download/iot/_first-boot-setup.html" %}
      <li class="p-stepped-list__item">
        <h3 class="p-stepped-list__title">

          Login
        </h3>
        <div class="p-stepped-list__content">
          <p>Once setup is done, you can login with SSH into Ubuntu Core, using the following command:</p>
          <pre><code>ssh -p 8022 &lt;Ubuntu SSO user name&gt;@localhost</code></pre>
          <p>Your username is your Ubuntu SSO user name, shown to you at the end of the account configuration step.</p>
        </div>
      </li>
    </ol>
  </div>
</section>

{% with strip="p-strip--light" %}{% include "download/iot/_boot-tips-strip.html" %}{% endwith %}

{% with board="virtual machine" %}
  {% include "download/iot/_install-snaps-strip.html" %}
{% endwith %}

{% include "download/shared/_get-ebook-security.html"%}

{% with first_item="_core_learn_more", second_item="_core_contribute", third_item="_iot_further_reading" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

{% endblock content %}
