  <div class="p-heading-icon">
    <div class="p-heading-icon__header">
      <img class="p-heading-icon__img" src="{{ ASSET_SERVER_URL }}a9ed9a5c-picto-cddvd-warmgrey.svg" alt="dvd icon" />
      <h3 class="p-heading-icon__title">Buy a {{lts_release_full}} {{lts_release_eol}} USB stick</h3>
    </div>
  </div>
  <p>Ubuntu {{lts_release_full}} {{lts_release_eol}} is available for purchase on USB stick, from the online Ubuntu shop.</p>
  <p><a class="p-link--external" href="https://shop.canonical.com/index.php?cPath=17">Buy now</a></p>
