<p>
  You can
  <span class="p-contextual-menu--left">
      <a href="#" class="p-contextual-menu__toggle" aria-controls="#menu-4" aria-expanded="false" aria-haspopup="true">verify your download</a>
      <span class="p-contextual-menu__dropdown" id="menu-4" aria-hidden="true" aria-label="Verification instructions:" style="width: 600px; max-width: 70vw; padding: 1rem;">
        <span class="p-contextual-menu__group">
          <small>Run this command in your terminal in the directory the iso was downloaded to verify the SHA256 checksum:</small><br />
          <code style="display: block; margin-top: 1rem;">echo "{{ releases.checksums[system][version] }}" | shasum -a 256 --check</code><br />
          <small>You should get the following output:</small><br />
          <code style="display: block; margin-top: 1rem;">ubuntu-{{ version }}-{{ system }}-{{ architecture }}.iso: OK</code><br />
          <small>Or follow this tutorial to learn <a class="p-link--external" href="https://tutorials.ubuntu.com/tutorial/tutorial-how-to-verify-ubuntu">how to verify downloads</a></small>
        </span>
      </span>
  </span>, or get <a href="https://tutorials.ubuntu.com/tutorial/tutorial-install-ubuntu-server?backURL=https://ubuntu.com/download/server/thank-you" class="p-link--external">help on installing</a>.
</p>

<script>
  function toggleMenu(element, show) {
    element.setAttribute('aria-expanded', show);
    document
      .querySelector(element.getAttribute('aria-controls'))
      .setAttribute('aria-hidden', !show);
  }

  function setupContextualMenuListeners(contextualMenuToggleSelector) {
    const toggles = document.querySelectorAll(contextualMenuToggleSelector);

    toggles.forEach(toggle => {
      toggle.addEventListener('click', e => {
        e.preventDefault();

        const target = e.target;
        const menuAlreadyOpen = target.getAttribute('aria-expanded') === 'true';

        toggleMenu(target, !menuAlreadyOpen)
      });
    });

    document.addEventListener('click', e => {
      toggles.forEach(toggle => {
        const contextualMenu = document.querySelector(toggle.getAttribute('aria-controls'));
        const clickOutside = !(toggle.contains(e.target) || contextualMenu.contains(e.target));

        if (clickOutside) {
          toggleMenu(toggle, false);
        }
      })
    });

    document.onkeydown = e => {
      e = e || window.event;

      if (e.keyCode === 27) {
        toggles.forEach(toggle => {
          toggleMenu(toggle, false);
        });
      }
    };
  }

  setupContextualMenuListeners('.p-contextual-menu__toggle');
</script>

