<div class="box box-highlight box-hero no-border">
	<div class="hero clearfix">
		<div itemscope itemtype="http://schema.org/Product">
		
			<h1 itemprop="name">Smarter and faster</h1>
			
			<p itemprop="description" class="tagline">Ubuntu 13.10 for desktops, servers, phones and the cloud is here.</p>
			
			<a href="/download" class="link-cta-ubuntu cta-large" onclick="_gaq.push(['_trackEvent', 'Internal Link', 'Saucy launch takeover', 'From Ubuntu homepage Get Ubuntu 13.10 now link']);">Get Ubuntu 13.10 now</a>
		</div>
	</div>
</div>