<section class="p-strip--dark p-takeover js-takeover" lang-skip="fr de">
  <div class="row u-clearfix u-vertically-center">
    <div class="col-7">
      <h1>Connected cars and autonomous driving</h1>
      <p class="p-heading--four u-sv2">
        Managing software for the ultimate edge device including development, extensibility, risk mitigation and security factors.
      </p>
        <a
          href="/engage/451-automotive?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY19_IOT_Automotive_WBN_451"
          class="p-button--positive u-hide--small"
          >Watch the webinar
        </a>
      </div>
    <div class="col-5">
      <p class="u-align-text--center">
        <img
          src="https://assets.ubuntu.com/v1/5096c143-451-research-vector-white-logo.svg"
          alt=""
        />
      </p>
      <p class="u-hide--medium u-hide--large">
        <a
          href="/engage/451-automotive?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY19_IOT_Automotive_WBN_451"
          class="p-button--positive"
          >Watch the webinar
        </a
        >
      </p>
    </div>
  </div>
  <style>
    .p-takeover {
      background-image: url("https://assets.ubuntu.com/v1/dff57ac6-suru-right.png"),
        linear-gradient(214deg, #E95420 0%, #C44631 6%, #A33940 12%, #8B304A 18%, #7C2B51 24%, #772953 29%, #55163B 51%, #370626 75%, #2C001E 89%);
      background-position: right, right;
      background-repeat: no-repeat;
      background-size: auto 100%, cover;
      
    }
    @media (max-width: 874px) {
      .p-takeover {
        background-image: linear-gradient(214deg, #E95420 0%, #C44631 6%, #A33940 12%, #8B304A 18%, #7C2B51 24%, #772953 29%, #55163B 51%, #370626 75%, #2C001E 89%);
      }
    }
  </style>
</section>
  