{% with title="Artificial Intelligence at the edge in a 5G world",
subtitle="Deploying AI/ML solutions in latency-sensitive environments requires a new solution architecture approach",
class="p-takeover--dark",
header_image="https://assets.ubuntu.com/v1/f0bce376-AI_lrg_white.svg",
image_style="width: 250px;",
image_hide_small="true",
equal_cols="true",
primary_url="/engage/ai-edge-webinar?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY20_IOT_Edge_AI_WBN",
primary_cta="Watch the webinar",
primary_cta_class="",
secondary_url="",
secondary_cta="" %}
{% include "takeovers/_template.html" %}
{% endwith %}
