<section class="row row-hero no-border">
	<div class="strip-inner-wrapper">
		<div class="seven-col">
			<h1>Is a BootStack managed cloud the better option?</h1>
			<div class="five-col text-center for-mobile">
				<img alt="Ubuntu Cloud" src="{{ STATIC_URL }}img/homepage/cloud-calculator.png" />
			</div>
			<p class="intro">The numbers are clear.</p>
			<p>
				<a href="/cloud/managed-cloud#calculator-form" onclick="_gaq.push(['_trackEvent', 'Homepage Link', 'bootstack calculator takeover', 'Find out how much you’ll save with our calculator']);">
					Find out how much you&rsquo;ll save with our calculator&nbsp;&rsaquo;
				</a>
			</p>
		</div>
		<div class="five-col last-col">
			<img class="priority-0" alt="Ubuntu Cloud" src="{{ STATIC_URL }}img/homepage/cloud-calculator.png" />
		</div>
	</div>
</section>
