<section class="p-strip--image is-deep js-takeover p-takeover--broadsign u-image-position">
  <div class="row u-equal-height">
    <div class="col-6">
      <h1>Digital signage and smart displays</h1>
      <p class="p-heading--four">Secure, reliable and remotely upgradable. Learn how Ubuntu is powering new age advertising.</p>
      <p class="u-hide--small u-no-margin--bottom">
        <a href="https://www.brighttalk.com/webcast/6793/346565?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY19_IOT_Ubuntu Core_WBN_Digital Signage" class="p-button--positive u-no-margin--bottom">Register for the webinar</a>
      </p>
    </div>
    <div class="col-6 prefix-2">
      <p>
        <img src="{{ ASSET_SERVER_URL }}3f59dacd-logos-lines-takeover-digital-signage.svg" class="u-image-position--top u-hide--small" alt="" />
        <img src="{{ ASSET_SERVER_URL }}96f63d61-logos-takeover-digital-signage.svg" class="u-hide--large u-hide--medium" alt="" />
      </p>
      <p class="u-no-margin--bottom u-hide--large u-hide--medium">
        <a href="https://www.brighttalk.com/webcast/6793/346565?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY19_IOT_Ubuntu Core_WBN_Digital Signage" class="p-button--positive">Register for the webinar</a>
      </p>
    </div>
  </div>

  <style>
    .p-takeover--broadsign {
      background-color: #DEDEDE;
      background-image: linear-gradient(64deg, #DEDEDE 0%, #FFFFFF 100%);
      background-repeat: no-repeat;
      background-size: inherit;
    }

    @media only screen and (min-width: 876px) {
      .p-takeover--broadsign {
        background-image:
          url('{{ ASSET_SERVER_URL }}621965fa-left-lines.svg'),
          linear-gradient(64deg, #DEDEDE 0%, #FFFFFF 100%);
        background-position: left 50%;
      }
    }

    @media only screen and (min-width: 1300px) {
      .p-takeover--broadsign {
        background-image:
          url('{{ ASSET_SERVER_URL }}621965fa-left-lines.svg'),
          url('{{ ASSET_SERVER_URL }}3f540239-right-lines.svg'),
          linear-gradient(64deg, #DEDEDE 0%, #FFFFFF 100%);
        background-position: left 50%, right 75%;
      }
    }
    </style>
</section>