{% with title="Cassandra in production",
subtitle="Reliability and scalability for Cassandra deployments",
class="p-takeover--dark",
header_image="https://assets.ubuntu.com/v1/f880a3bd-Enterprise+support.svg",
image_width=250,
image_height=250,
image_hide_small=true,
primary_url="https://www.brighttalk.com/webcast/6793/439718?utm_source=Takeover",
primary_cta="Register for the webinar",
primary_cta_class="",
secondary_url="",
secondary_cta="" %}
{% include "takeovers/_template.html" %}
{% endwith %}
