<div class="row row-hero no-border">
	<div class="hero clearfix">
		<div itemscope itemtype="https://schema.org/Product">
			<h1 itemprop="name">Instant cloud solutions</h1>
			<p itemprop="description" class="tagline">Build, integrate and scale services on any cloud in seconds. Try it, use it, share your work and enter our &dollar;10,000 contest.</p>
			<a href="https://juju.ubuntu.com/charm-championship/" class="button--primary" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Charm Championships takeover', 'eventLabel' : 'From Ubuntu homepage Enter the contest link', 'eventValue' : undefined });">Enter the contest<span class="accessibility-aid"> about the Charm championships</span></a>
			<a onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'External Link', 'eventAction' : 'Charm Championships takeover', 'eventLabel' : 'From Ubuntu homepage Try Juju today link', 'eventValue' : undefined });" href="https://www.ubuntu.com/cloud/juju">Try Juju today&nbsp;&rsaquo;</a>
		</div>
	</div>
</div>