{% with title="Choisir une architecture cloud rentable",
subtitle="Découvrez les différentes architectures clouds et comment choisir une architecture rentable",
class="p-takeover--dark",
header_image="https://assets.ubuntu.com/v1/2acca081-choosingacloud-white.svg",
image_style="",
image_height="345",
image_width="393",
image_hide_small=true,
equal_cols=true,
primary_url="/engage/fr/guide-du-DSI-pour-les-operations-multicloud?utm_source=Takeover&utm_medium=Takeover&utm_campaign=7013z000001GHleAAG",
primary_cta="Lire le whitepaper",
primary_cta_class="",
lang="fr" %}
{% include "takeovers/_template.html" %}
{% endwith %}
