<div class="box box-highlight box-hero no-border">
	<div class="hero clearfix">
		<div itemscope itemtype="http://schema.org/Product" class="row-image-centered">
			<span>
				<img src="{{ STATIC_URL }}u/img/homepage/cloud-survey.png" alt="" width="344" height="252" />
			</span>
			<div class="six-col last-col">
				<h1 itemprop="name">Planning the Ubuntu OpenStack roadmap</h1>
				<p itemprop="description" class="intro">Your organisation relies on OpenStack. Shouldn&rsquo;t you have a say in its future?</p>
				<p><a href=" https://www.surveymonkey.com/s/L5B6MLB" onclick="_gaq.push(['_trackEvent', 'External Link', 'Please take our quick survey', 'From Ubuntu homepage find out more link']);">Please take our quick survey&nbsp;&rsaquo;</a></p>
			</div>
		</div>
	</div>
</div><!-- /.row -->