<section class="row strip row-aux no-border">
	<div class="strip-inner-wrapper equal-height--vertical-divider">
		<div class="equal-height--vertical-divider__item four-col ready-for-smartphones">
			<a href="http://cn.ubuntu.com/phone">
				<h2>下载优麒麟&nbsp;&rsaquo;</h2>
				<p>马上可升级优麒麟最新的{{latest_release}}版本</p>
				<div>
					<img alt="" src="{{ ASSET_SERVER_URL }}0a42e047-image-dell-xps-laptop.png" />
				</div>
			</a>
		</div>
		<div class="equal-height--vertical-divider__item four-col number-one-for-cloud">
			<a href="http://cn.ubuntu.com/cloud">
				<h2>头号云服务平台&nbsp;&rsaquo;</h2>
				<p>OpenStack Juno，还提供最好的工具和五年支持服务。&#12290;</p>
				<div>
					<img alt="" src="{{ ASSET_SERVER_URL }}a9858af9-openstack.png" />
				</div>
			</a>
		</div>
		<div class="equal-height--vertical-divider__item four-col last-col download-ubuntu">
			<a href="https://landscape.canonical.com/">
				<h2>Landscape free for 30 days&nbsp;&rsaquo;</h2>
				<p>用于Ubuntu OpenStack的最佳云管理工具&#12290;</p>
				<div>
					<img alt="" src="{{ ASSET_SERVER_URL }}ab753cb5-screenshot-landscape-288-160.jpg" />
				</div>
			</a>
		</div>
	</div>
</section>
