<section class="row row-hero strip no-border">
  <div class="strip-inner-wrapper">

    <div class="for-mobile twelve-col">
      <img src="https://assets.ubuntu.com/v1/b0c6f519-homepage-juju-service-blocks-small.png" alt="JuJu service blocks illustration" />
    </div>

    <div class="large-screen-graphic twelve-col">
      <img src="https://assets.ubuntu.com/v1/d3322743-canvas-view_juju-takeover.svg" alt="JuJu service blocks illustration" />
    </div>

    <div class="row-hero-text">
      <img src="https://assets.ubuntu.com/v1/7e21b535-logo-juju.svg" alt="Juju logo" />
      <h1>All new Juju</h1>
      <p class="intro">It's easier than ever to model your cloud services with Juju.</p>
      <p><a href="https://demo.jujucharms.com" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'All new Juju takeover', 'eventLabel' : 'Build Juju button', 'eventValue' : undefined });" class="button--primary">Start building</a></p>
    </div>
  </div>
</section>
