{% with title="Ubuntu Desktop for the enterprise",
subtitle="Learn what security, economic and efficiency benefits businesses can expect by adopting Ubuntu as a desktop operating system.",
class="p-takeover--grad",
header_image="https://assets.ubuntu.com/v1/5e2df4f0-Eoan+Ermine+laptop.png",
image_style="width: 464px;",
image_hide_small=true,
equal_cols="false",
primary_url="/engage/linux-enterprise-whitepaper?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY19_IOT_Desktop_WBN_LinuxEnterprise",
primary_cta="Download whitepaper",
primary_cta_class="",
secondary_url="",
secondary_cta="",
locale="en_GB" %}
{% include "takeovers/_template.html" %}
{% endwith %}
