{% with title="Maintaining business focus in a cloud-native world with Managed Apps",
class="p-takeover--dark",
header_image="https://assets.ubuntu.com/v1/f880a3bd-Enterprise+support.svg",
image_width=250,
image_height=250,
image_hide_small=true,
primary_url="/engage/managed-apps-webinar?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY20_DC_ManagedApps_WBN_ManagedApps",
primary_cta="Learn More",
primary_cta_class="",
secondary_url="",
secondary_cta="" %}
{% include "takeovers/_template.html" %}
{% endwith %}
