<section class="row row-hero strip no-border">
    <div class="strip-inner-wrapper">
        <div class="eight-col">
            <div class="twelve-col for-mobile">
                <img src="{{ ASSET_SERVER_URL }}57f6603e-meizu-takeover-768.jpg" alt="Meizu phone photo" />
            </div>
            <div class="twelve-col">
                <h1>为敲代码的你而来</h1>
                <p class="intro">魅族MX4 Ubuntu国际版已开卖</p>
                <p><a href="http://store.meizu.com/product/mx4_mon.html#3-1-2" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'Meizu takeover', 'eventLabel' : 'Buy now', 'eventValue' : undefined });" class="button--primary">立刻去看看</a></p>
                <p><a href="http://cn.ubuntu.com/phone" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'Meizu takeover', 'eventLabel' : 'More on Ubuntu for Phone', 'eventValue' : undefined });">Ubuntu手机平台详情&nbsp;&rsaquo;</a></p>
            </div>
            <div class="five-col clear smaller no-border">
                <ul class="list--social">
                    <li class="list--social__item list--social__item--weibo"><a href="http://weibo.com/u/1278359237">Weibo</a></li>
                    <li class="list--social__item list--social__item--wechat"><a href="http://weixin.qq.com/r/-3WAmA7EM1NMrUr79yDt">WeChat</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

