<section class="row row-hero strip no-border" data-0="background-position:100% -40px;" data-800="background-position:100% 350px;" data-anchor-target=".row-hero">
    <div class="strip-inner-wrapper">
        <div class="eight-col">
            <div class="twelve-col for-mobile">
                <img src="{{ ASSET_SERVER_URL }}57f6603e-meizu-takeover-768.jpg" alt="Meizu phone photo" />
            </div>
            <div class="five-col">
                <h1>You&rsquo;re all invited</h1>
                <p class="intro">Get your Meizu MX4 Ubuntu Edition&nbsp;today.</p>
                <p><a href="http://www.meizu.com/en/ubuntu/features.html" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'Meizu all invited takeover', 'eventLabel' : 'Buy now', 'eventValue' : undefined });" class="button--primary">Buy now</a></p>
            </div>
        </div>
    </div>
</section>