<div class="row row-hero no-border">
	<div class="hero clearfix">
		<div itemscope itemtype="https://schema.org/Product">
			<h1 itemprop="name">OpenStack in production &ndash; today</h1>
			<p itemprop="description" class="tagline">Meet the Canonical team at the OpenStack Summit, 15-18 April <br/>to hear how we&rsquo;re bringing Grizzly <br/>to life with our 13.04 release.</p>
			<p><a href="/cloud" title="OpenStack in production">Find out more&nbsp;&rsaquo;</a></p>
			<img itemprop="image" alt="Ubuntu tablet" src="{{ ASSET_SERVER_URL }}54aa0750-ods-takeover-hero.png" />
		</div>
	</div>
</div>