<section class="row row-hero strip no-border">
	<div class="strip-inner-wrapper">
		<div class="six-col">
			<h1>Coming soon</h1>
			<p><a onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage takeover', 'eventAction' : 'Phone - coming soon - 06.02.2015', 'eventLabel' : 'Press release link', 'eventValue' : undefined });" href="http://ubunt.eu/BQphone">Read our press release&nbsp;&rsaquo;</a></p>
		</div>
		<div class="six-col last-col no-margin-bottom">
			<img src="{{ ASSET_SERVER_URL }}3cacdb9a-phone.png" alt="" />
		</div>
	</div>
</section>