<section class="row row-hero strip no-border">
	<div class="strip-inner-wrapper">
		<div class="six-col">
			<h1>It&rsquo;s here</h1>
			<p class="intro">Introducing Ubuntu Phone</p>
			<p class="no-margin-bottom"><a href="http://ubunt.eu/BQphone" onclick="_gaq.push(['_trackEvent', 'Homepage takeover', 'Phone launch - 09.02.2015', 'Read our press release']);">Read our press release&nbsp;&rsaquo;</a></p>
			<p><a href="/phone" onclick="_gaq.push(['_trackEvent', 'Homepage takeover', 'Phone launch - 09.02.2015', 'Find out more']);">Find out more<span class="off-left"> about Ubuntu Phone</span>&nbsp;&rsaquo;</a></p>
			<p class="intro strap">Life at your fingertips</p>
		</div>
	</div>
</section>