<section class="row row-hero strip no-border">
    <div class="strip-inner-wrapper">
        <div class="five-col append-one">
            <h1>Your one stop shop</h1>
            <p class="intro">Ubuntu phones, desktops and laptops&nbsp;on Snapdeal.com.</p>
            <p><a href="http://ubunt.eu/snapdeal-buynow" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage takeover', 'eventAction' : ' takeover - 25.08.15', 'eventLabel' : 'Buy now', 'eventValue' : undefined });">Buy now&nbsp;&rsaquo;</a></p>
            <img src="{{ ASSET_SERVER_URL }}899973d4-bq-phone-india.png" alt="BQ Ubuntu phone with bollywood search" class="phone-image" />
        </div>
    </div>
</section>
