<section class="p-strip--image is-dark is-deep u-image-position js-takeover p-takeover-ubuntu-core">
  <div class="row u-equal-height">
    <div class="col-6">
      <h1 style="font-weight: 100;">Introducing Ubuntu <br /> Core 18</h1>
      <p class="p-heading--four u-sv3">Learn what’s new in Ubuntu Core - the secure, lightweight and robust operating system for the
        internet of things.</p>
      <p class="u-align--center u-hide--medium u-hide--large">
        <img src="{{ ASSET_SERVER_URL }}635ce124-IOT_core_infographic+light.svg" alt="Ubuntu Core 18" />
      </p>
      <p class="u-no-margin--top u-no-margin--bottom"><a href="https://www.brighttalk.com/webcast/6793/339167?utm_source=Takeover&utm_medium=Takeover&utm_campaign=FY19_IOT_UbuntuCore_WBN_Core 18"
          class="p-button--positive">Register for the webinar</a></p>
      <p class="u-no-margin--top"><a href="/download/iot" class="p-link--inverted">Download Ubuntu Core 18 now&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6 u-hide--small">
      <img src="{{ ASSET_SERVER_URL }}635ce124-IOT_core_infographic+light.svg" alt="Ubuntu Core 18" />
    </div>
  </div>
  <style>
    .p-takeover-ubuntu-core {
      background-image: linear-gradient(135deg, #333333 0%, #111111 50%, #111111 100%);
      background-size: contain;
    }
  </style>
</section>