{% block head_extra %}
<style type="text/css">
	@-moz-keyframes spin {
	  0% {
	    -moz-transform: rotate(0deg);
	    transform: rotate(0deg);
	    }
	  100% {
	    -moz-transform: rotate(360deg);
	    transform: rotate(360deg);
	    }
	}
	@-o-keyframes spin {
	  0% {
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	    }
	  100% {
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);
	    }
	}
	@-webkit-keyframes spin {
	  0% {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	    }
	  100% {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	    }
	}
	@keyframes spin {
	  0% {
	    transform: rotate(0deg);
	    }
	  100% {
	    transform: rotate(360deg);
	    }
	}
</style>
{% endblock head_extra %}

<div class="row row-hero no-border">
	<div class="box box-highlight clearfix">
		<div>
			<div class="bubbles">
			<img src="{{ STATIC_URL }}img/homepage/countdown/_1.png" class="b1" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_2.png" class="b2" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_3.png" class="b3" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_4.png" class="b4" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_5.png" class="b5" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_6.png" class="b6" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_7.png" class="b7" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_8.png" class="b8" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_9.png" class="b9" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_10.png" class="b10" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_11.png" class="b11" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_12.png" class="b12" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_13.png" class="b13" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_14.png" class="b14" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_15.png" class="b15" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_16.png" class="b16" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_17.png" class="b17" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_18.png" class="b18" />
			<img src="{{ STATIC_URL }}img/homepage/countdown/_19.png" class="b19" />
		</div>
		<h1 class="left-header">Tick, tock, tablet time!</h1>
		<noscript><div class="no-js-countdown">19 February 2013 <br/>18:00 GMT</div></noscript>
		<div id="defaultCountdown"></div>
		<div id="countdownLabels"><span>HRS </span><span>MINS</span><span>SECS</span></div>
		<img src="{{ STATIC_URL }}img/homepage/countdown/spinner-white.png" width="80" height ="80" id="countdownLoader" />
		</div>
	</div>
</div>

<script type="text/javascript" src="http://www.ubuntu.com/misc/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.countdown.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#countdownLabels').show();
		$('.bubbles img').hide();
		var index = 1;
		var current = null;
		var animTimer = setInterval(function(){
			current = $('.bubbles .b'+index);
			if(current.css('display') == 'block') {
				current.fadeOut(2000);
			}else{
				current.fadeIn(2000);
			}
			index = (index <= 18)? index + 1 : 1;
		}, 750);
		
		var d = new Date();
		var b = $('#current_time').text().trim().split(' ')[0].split(':');
		var t = $('#current_time').text().trim().split(' ')[1].split(':');
		var day = b[0];
		var h = t[0];
		var m = t[1];
		var vh = 16 - h;
		if(day == 18){
			vh += 24;
		}
		var vm = 00 - m;
		d = new Date(d.getUTCFullYear(),d.getUTCMonth(),d.getUTCDate(),d.getUTCHours() + vh,d.getUTCMinutes() + vm);
		$('#defaultCountdown').countdown({until: d,format: 'HMS',onExpiry: itsHere, compact:true,  timezone: 0}); 
		$('h1, #defaultCountdown, #countdownLabels').hide().fadeIn(2000);
	});
	function itsHere() {
		$('.countdown_amount, #countdownLabels').hide();
		$('#countdownLoader').fadeIn(700);
		var wait = 30000;
		setTimeout(function(){ location.reload() }, wait);
	}
	
</script>
