{% extends "templates/one-column.html" %}

{% block head_extra %}<meta name="robots" content="noindex" />{% endblock %}

{% block title %}Takeover index | Ubuntu{% endblock %}

{% block content %}

{% with title="A guide to developing Android apps on Ubuntu",
  subtitle="Learn what makes Ubuntu the perfect platform for Android app development",
  image="https://assets.ubuntu.com/v1/30f461a5-android-on-ubuntu.svg",
  image_style="width: 380px; margin: 1.5rem 0;",
  image_hide_small="true",
  equal_cols="true",
  primary_url="/engage/developing-android-on-ubuntu?utm_source=takeover&utm_campaign=CY19_IOT_Snapstore_Whitepaper_AndroidonUbuntu",
  primary_cta="Download the whitepaper",
  primary_cta_class="",
  seconary_url="",
  seconary_cta="",
  lang="",
  locale="" %}
  {% include "takeovers/_template.html" %}
{% endwith %}

<section class="p-strip is-deep is-bordered">
  {% with gtm_event_label="ubuntu.com homepage" %}
    {% include "shared/_insights_news_strip.html" %}
  {% endwith %}
</section>

{% endblock %}
