<div class="col-4 p-divider__block">
  <h3 class="p-heading--four">Want fully-managed private Kubernetes clusters?</h3>
  <p>Our skilled in-house experts can set up and operate a Kubernetes cluster for you.</p>
  <p><a class="p-button" href="/openstack/managed" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'BootStack', 'eventLabel' : 'Want fully-managed private Kubernetes clusters?', 'eventValue' : undefined });">Contact us</a></p>
</div>
