<div class="col-4 p-divider__block">
  <h3 class="p-heading--4">
    Want an open source NFV platform for 5G?
  </h3>
  <p>
    Skilled experts from Canonical can deploy and operate both NFVI and MANO for you.
  </p>
  <p><a class="p-button js-invoke-modal" href="/openstack/contact-us" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'NFV', 'eventLabel' : 'Want an open source NFV platform for 5G?', 'eventValue' : undefined });">Contact us</a></p>
</div>
