<div class="col-4 p-divider__block">
  <h3 class="p-heading--4">Contribute</h3>
  <p>Add to Ubuntu Core.</p>
  <p><a href="https://snapcraft.io/first-snap" class="p-link--external" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'snapcraft.io/docs/build-snaps/your-first-snap', 'eventLabel' : 'Contribute to Ubuntu Core', 'eventValue' : undefined });">Learn how to create a snap</a></p>
  <p><a href="https://github.com/snapcore/snapd" class="p-link--external" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'github.com/snapcore/snapd', 'eventLabel' : 'Contribute to Ubuntu Core', 'eventValue' : undefined });">Check out the project on GitHub</a></p>
</div>
