<img class="cf__image--centered" src="{{ ASSET_SERVER_URL }}039628d5-picto-community-orange.svg" alt="Pictogram pictogram" />
<h3 class="cf__title">Join our community </h3>
<p>Share ideas, write code, and  get advice and help from our large, active community of IT professionals.</p>
<ul class="cf__text--list two-col">
    <li><a href="http://askubuntu.com/" class="external">Ask Ubuntu</a></li>
    <li><a href="http://community.ubuntu.com/contribute/support/mailinglists/" class="external">
    Mailing lists</a></li>
</ul>
<ul class="cf__text--list two-col last-col">
    <li><a href="http://insights.ubuntu.com" class="external">Ubuntu Insights</a></li>
    <li><a href="http://ubuntuforums.org/" class="external">Ubuntu Forums</a></li>
</ul>
