<div class="col-4 p-divider__block">
  <h3 class="p-heading--4">Installation guides</h3>
  <p>If you need some help installing Ubuntu, please check out our step-by-step guides.</p>
  <ul class="p-list">
      <li><a href="https://ubuntu.com/desktop/docs/en/latest/tutorial/install-ubuntu-desktop/" data-ga-category="Contextual footer link" data-ga-action="install desktop guide" data-ga-label="Installation guides">Installing Ubuntu Desktop</a></li>
      <li><a href="/server/docs/tutorial/basic-installation/" data-ga-category="Contextual footer link" data-ga-action="install server guide" data-ga-label="Installation guides">Installing Ubuntu Server</a></li>
      <li><a href="/download/cloud" data-ga-category="Contextual footer link" data-ga-action="install openstack" data-ga-label="Installation guides">Install OpenStack&nbsp;&rsaquo;</a></li>
  </ul>
</div>
