<div class="col-4 p-divider__block">
    <form action="/marketo/submit" method="post">
    <h3 class="p-heading--4">Sign up for our monthly Cloud&nbsp;Newsletter</h3>
        <ul class="p-list u-clearfix">
            <li class="p-list__item">
                <label class="u-off-screen" for="Email">Your email</label>
                <input type="email" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$" placeholder="Your email" name="email" id="Email" required />
            </li>
            <li class="p-list__item">
                <label class="p-checkbox">
                    <input class="p-checkbox__input" name="canonicalUpdatesOptIn" aria-labelledby="canonicalUpdatesOptIn" value="yes" type="checkbox" />
                    <span class="p-checkbox__label contextual-footer__text--label" id="canonicalUpdatesOptIn">I agree to receive information about Canonical's products and services.</span>&nbsp;
                </label>
            </li>
            <li class="p-list__item u-no-margin--top">
                <p>In submitting this form, I confirm that I have read and agree to <a href="/legal/data-privacy/newsletter">Canonical's Privacy Notice</a> and <a href="/legal/data-privacy">Privacy Policy</a>.</p>
            </li>
            <li class="p-list__item">
                <span class="u-off-screen"><input type="text" name="_marketo_comments" value=""></span>
                <span><button type="submit" class="p-button"  onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'Cloud newsletter', 'eventLabel' : 'Sign-up for news updates', 'eventValue' : undefined });">Subscribe now</button></span>
                <input value="1212" name="formid" type="hidden" />
                <input type="hidden" name="Consent_to_Processing__c" value="yes" />
                <input type="hidden" name="returnURL" value="/openstack/install#success" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_campaign" id="utm_campaign" value="" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_medium" id="utm_medium" value="" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_source" id="utm_source" value="" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_content" id="utm_content" value="" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_term" id="utm_term" value="" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" name="GCLID__c" id="GCLID__c" value="" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Facebook_Click_ID__c" id="Facebook_Click_ID__c" value="" />
                <input type="hidden" aria-hidden="true" aria-label="hidden field" id="preferredLanguage" name="preferredLanguage" maxlength="255" value="" />
            </li>
        </ul>
    </form>
</div>
