<div class="col-4 p-divider__block">
  <h3 class="p-heading--4">Looking for an enterprise private cloud?</h3>
  <p>
    Charmed OpenStack includes enterprise dashboards, an integrated observability stack, HA everywhere and data protection capabilities.
  </p>
  <p>
    All of that with commercial support from Canonical, including aggressive SLAs, phone and ticket support and compliance programmes.
  </p>
  <p><a href="/openstack/contact-us" class="p-button--neutral js-invoke-modal" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'Private cloud contact us', 'eventLabel' : 'Contact us', 'eventValue' : undefined });">Contact us</a></p>
</div>
