<div class="p-table-of-contents__section">
  <h4 class="p-table-of-contents__header">Contents</h4>
  <nav class="p-table-of-contents__nav">
    <ul class="p-list u-no-margin--bottom">
      <li><a href="#uasd-essential">Essential</a></li>
      <li>
        <ul>
          <li><a href="#uasd-esm">Extended Security Maintenane (ESM)</a></li>
          <li><a href="#uasd-certified">Certified components for compliance, hardening and audit</a></li>
          <li><a href="#uasd-landscape">Landscape and knowledge base access</a></li>
          <li><a href="#uasd-livepatch">Kernel Livepatch</a></li>
        </ul>
      </li>
      <li><a href="#uasd-standard-and-advanced">Standard and Advanced</a></li>
      <li>
        <ul>
          <li><a href="#uasd-support-levels">Support levels</a></li>
          <li><a href="#uasd-infra-and-apps">Support - UA Infra and UA Apps</a></li>
          <li>
            <ul>
              <li><a href="#uasd-ubuntu-releases">Ubuntu releases</a></li>
              <li><a href="#uasd-certified-hardware">Certified Hardware</a></li>
              <li><a href="#uasd-packages-and-kernels">Packages, kernels and Landscape support scope</a></li>
              <li><a href="#uasd-kubernetes">Kubernetes</a></li>
              <li>
                <ul>
                  <li><a href="#uasd-kubernetes-cluster">Kubernetes cluster Full-Stack support requirements</a></li>
                  <li><a href="#uasd-kubernetes-support">Limited Kubernetes support</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#uasd-infra-only">Support - UA Infra only</a></li>
          <li>
            <ul>
              <li><a href="#uasd-openstack">OpenStack</a></li>
              <li>
                <ul>
                  <li><a href="#uasd-full-openstack-support">Full OpenStack support</a></li>
                  <li><a href="#uasd-limited-openstack-support">Limited OpenStack support</a></li>
                  <li><a href="#uasd-exclusions">Exclusions</a></li>
                </ul>
              </li>
              <li><a href="#uasd-charms-support">Charms support</a></li>
              <li><a href="#uasd-storage-support">Storage support</a></li>
              <li><a href="#uasd-maas-support">MAAS support</a></li>
              <li>
                <ul>
                  <li><a href="#uasd-maas-support-scope">MAAS support scope</a></li>
                  <li><a href="#uasd-out-of-scope">Out of scope</a></li>
                </ul>
              </li>
              <li><a href="#uasd-ubuntu-assurance-program">Ubuntu assurance program</a></li>
            </ul>
          </li>
          <li><a href="#uasd-apps-only">Support - UA Apps only</a></li>
        </ul>
      </li>
      <li><a href="#uasd-support-exclusions">Support exclusions</a></li>
      <li><a href="#uasd-add-ons">Add Ons</a></li>
      <li>
        <ul>
          <li><a href="#uasd-managed-services">Managed Services</a></li>
          <li><a href="#uasd-support-services">Professional Support Services</a></li>
        </ul>
      </li>
      <li><a href="#uasd-support-services-process">UA Support Services Process</a></li>
      <li><a href="#uasd-definitions">Definitions</a></li>
    </ul>
  </nav>
</div>

<!-- Removed for now - can replase once japanese translation is done-->
<!-- <div class="p-table-of-contents__section">
  <h4 class="p-table-of-contents__header">Japanese translation</h4>
  <nav class="p-table-of-contents__nav">
    <ul class="p-list u-no-margin--bottom">
      <li class="p-list__item"><a href="/legal/ubuntu-advantage-service-description/ja">UA サービス範囲&nbsp;&rsaquo;</a></li>
    </ul>
  </nav>
</div> -->
