<div class="p-table-of-contents__section">
  <h4 class="p-table-of-contents__header">Contents</h4>
  <nav class="p-table-of-contents__nav">
    <ul class="p-list u-no-margin--bottom">
      <li><a href="#uasd-ua-infrastructure">Ubuntu Advantage for Infrastructure (UA-I)</a></li>
      <li><a href="#uasd-subscription">Subscriptions</a></li>
      <li><a href="#uasd-support-levels">Support Levels</a></li>
      <li><a href="#uasd-managed-services">Managed Services</a></li>
      <li><a href="#uasd-virtual-machines">Virtual Machines and Cloud Instances</a></li>
      <li><a href="#uasd-desktop-support">Desktop support</a></li>
      <li><a href="#uasd-add-ons">Add-Ons</a></li>
      <li><a href="#uasd-maas-support">MAAS Support</a></li>
      <li><a href="#uasd-software">Software</a></li>
      <li><a href="#uasd-professional-support">Professional Support Services</a></li>
      <li><a href="#uasd-ua-support-services">Ubuntu Advantage Support Services Process</a></li>
      <li><a href="#uasd-definitions">Definitions</a></li>
    </ul>
  </nav>
</div>

<div class="p-table-of-contents__section">
  <h4 class="p-table-of-contents__header">Japanese translation</h4>
  <nav class="p-table-of-contents__nav">
    <ul class="p-list u-no-margin--bottom">
      <li class="p-list__item"><a href="/legal/ubuntu-advantage-service-description/ja">UA サービス範囲&nbsp;&rsaquo;</a></li>
    </ul>
  </nav>
</div>
